---
version: 2
interactions:
    - id: 0
      request:
        host: oie-00.dne-okta.com
        body: |
            {"accessibility":{"selfService":false},"credentials":{"userNameTemplate":{"template":"${source.login}","type":"BUILT_IN"}},"label":"testAcc_477959725","name":"office365","settings":{"app":{"domain":"okta.com","domains":[],"msftTenant":"okta","requireAdminConsent":false,"windowsTransportEnabled":false,"wsFedConfigureType":"AUTO"},"implicitAssignment":false,"notes":{"admin":null,"enduser":null},"signOn":{"allowMultipleAcsEndpoints":false,"assertionSigned":false,"attributeStatements":[],"audienceOverride":"","defaultRelayState":"","destinationOverride":"","honorForceAuthn":false,"recipientOverride":"","responseSigned":false,"samlSignedRequestEnabled":false,"slo":{"enabled":false},"ssoAcsUrlOverride":""}},"signOnMode":"SAML_1_1","visibility":{"appLinks":{"calendar":false,"crm":false,"delve":false,"excel":false,"forms":false,"login":true,"mail":false,"newsfeed":false,"onedrive":false,"people":false,"planner":false,"powerbi":false,"powerpoint":false,"sites":false,"sway":false,"tasks":false,"teams":false,"word":false,"yammer":false},"autoSubmitToolbar":false,"hide":{"iOS":false,"web":false}}}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://oie-00.dne-okta.com/api/v1/apps?activate=true
        method: POST
      response:
        body: '{"id":"0oa9i70euwC3TpD3U1d7","name":"office365","label":"testAcc_477959725","status":"ACTIVE","lastUpdated":"2023-08-15T23:37:35.000Z","created":"2023-08-15T23:37:34.000Z","accessibility":{"selfService":false,"errorRedirectUrl":null,"loginRedirectUrl":null},"licensing":{"seatCount":0},"visibility":{"autoLaunch":false,"autoSubmitToolbar":false,"hide":{"iOS":false,"web":false},"appLinks":{"calendar":false,"mail":false,"teams":false,"sites":false,"delve":false,"sway":false,"login":true,"powerbi":false,"people":false,"excel":false,"yammer":false,"newsfeed":false,"onedrive":false,"word":false,"planner":false,"powerpoint":false,"tasks":false,"forms":false,"crm":false}},"features":[],"signOnMode":"SAML_1_1","credentials":{"userNameTemplate":{"template":"${source.login}","type":"BUILT_IN"},"signing":{"kid":"N60VbAntJ7ONHTQr7YcAiywke_a08RzPdv9okaextIA"}},"settings":{"app":{"tenantType":null,"wsFedConfigureType":"AUTO","occSettings":null,"windowsTransportEnabled":false,"domain":"okta.com","msftTenant":"okta","domains":[],"requireAdminConsent":false},"notifications":{"vpn":{"network":{"connection":"DISABLED"},"message":null,"helpUrl":null}},"manualProvisioning":false,"implicitAssignment":false,"notes":{"admin":null,"enduser":null},"signOn":{"defaultRelayState":null,"ssoAcsUrlOverride":null,"audienceOverride":null,"recipientOverride":null}},"_links":{"help":{"href":"https://oie-00-admin.oktapreview.com/app/office365/0oa9i70euwC3TpD3U1d7/setup/help/SAML_1_1/instructions","type":"text/html"},"uploadLogo":{"href":"https://oie-00.oktapreview.com/api/v1/apps/0oa9i70euwC3TpD3U1d7/logo","hints":{"allow":["POST"]}},"appLinks":[{"name":"login","href":"https://oie-00.oktapreview.com/home/office365/0oa9i70euwC3TpD3U1d7/2161","type":"text/html"}],"profileEnrollment":{"href":"https://oie-00.oktapreview.com/api/v1/policies/rst5qwjvlxUHivL8a1d7"},"policies":{"href":"https://oie-00.oktapreview.com/api/v1/apps/0oa9i70euwC3TpD3U1d7/policies","hints":{"allow":["PUT"]}},"groups":{"href":"https://oie-00.oktapreview.com/api/v1/apps/0oa9i70euwC3TpD3U1d7/groups"},"logo":[{"name":"medium","href":"https://op3static.oktacdn.com/fs/bcg/4/gfsceweidir0dU05k1d6","type":"image/png"}],"accessPolicy":{"href":"https://oie-00.oktapreview.com/api/v1/policies/rst9i70eweMUtRjno1d7"},"users":{"href":"https://oie-00.oktapreview.com/api/v1/apps/0oa9i70euwC3TpD3U1d7/users"},"deactivate":{"href":"https://oie-00.oktapreview.com/api/v1/apps/0oa9i70euwC3TpD3U1d7/lifecycle/deactivate"}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.490229189s
    - id: 1
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/apps/0oa9i70euwC3TpD3U1d7
        method: GET
      response:
        body: '{"id":"0oa9i70euwC3TpD3U1d7","name":"office365","label":"testAcc_477959725","status":"ACTIVE","lastUpdated":"2023-08-15T23:37:35.000Z","created":"2023-08-15T23:37:34.000Z","accessibility":{"selfService":f[...]
    - id: 2
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/apps/0oa9i70euwC3TpD3U1d7/sso/saml/metadata?kid=N60VbAntJ7ONHTQr7YcAiywke_a08RzPdv9okaextIA
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?><md:EntityDescriptor entityID="exk9i70euvoLjpau21d7" xmlns:md="urn:oasis:names:tc:SAML:2.0:metadata"><md:IDPSSODescriptor WantAuthnRequestsSigned="false" protocolSupportEnumeration="urn:oasis:names:tc:SAML:2.0:protocol"><md:KeyDescriptor use="signing"><ds:KeyInfo xmlns:ds="http://www.w3.org/2000/09/xmldsig#"><ds:X509Data><ds:X509Certificate>MIIDujCCAqKgAwIBAgIGAYO0vNDSMA0GCSqGSIb3DQEBBQUAMIGdMQswCQYDVQQGEwJVUzETMBEG
            A1UECAwKQ2FsaWZvcm5pYTEWMBQGA1UEBwwNU2FuIEZyYW5jaXNjbzENMAsGA1UECgwET2t0YTEU
            MBIGA1UECwwLU1NPUHJvdmlkZXIxHjAcBgNVBAMMFW1tLW9pZS0yMDIyLTEwLTA3LW1heDEcMBoG
            CSqGSIb3DQEJARYNaW5mb0Bva3RhLmNvbTAeFw0yMjEwMDcyMzE1NTZaFw0zMjEwMDcyMzE2NTZa
            MIGdMQswCQYDVQQGEwJVUzETMBEGA1UECAwKQ2FsaWZvcm5pYTEWMBQGA1UEBwwNU2FuIEZyYW5j
            aXNjbzENMAsGA1UECgwET2t0YTEUMBIGA1UECwwLU1NPUHJvdmlkZXI[...]
    - id: 3
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/apps/0oa9i70euwC3TpD3U1d7/credentials/keys
        method: GET
      response:
        body: '[{"kty":"RSA","created":"2023-08-15T23:37:34.000Z","lastUpdated":"2023-08-15T23:37:34.000Z","expiresAt":"2032-10-07T23:16:56.000Z","kid":"N60VbAntJ7ONHTQr7YcAiywke_a08RzPdv9okaextIA","use":"sig","x5c":["MIIDujCCAqKgAwIBAgIGAYO0vNDSMA0GCSqGSIb3DQEBBQUAMIGdMQswCQYDVQQGEwJVUzETMBEGA1UECAwKQ2FsaWZvcm5pYTEWMBQGA1UEBwwNU2FuIEZyYW5jaXNjbzENMAsGA1UECgwET2t0YTEUMBIGA1UECwwLU1NPUHJvdmlkZXIxHjAcBgNVBAMMFW1tLW9pZS0yMDIyLTEwLTA3LW1heDEcMBoGCSqGSIb3DQEJARYNaW5mb0Bva3RhLmNvbTAeFw0yMjEwMDcyMzE1NTZaFw0zMjEwMDcyMzE2NTZaMIGdMQswCQYDVQQGEwJVUzETMBEGA1UECAwKQ2FsaWZvcm5pYTEWMBQGA1UEBwwNU2FuIEZyYW5jaXNjbzENMAsGA1UECgwET2t0YTEUMBIGA1UECwwLU1NPUHJvdmlkZXIxHjAcBgNVBAMMFW1tLW9pZS0yMDIyLTEwLTA3LW1heDEcMBoGCSqGSIb3DQEJAR[...]
[...]
    - id: 8
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/apps/0oa9i70euwC3TpD3U1d7/lifecycle/deactivate
        method: POST
      response:
        body: '{}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 310.336557ms
[...]
    - id: 10
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/apps/0oa9i70euwC3TpD3U1d7
        method: GET
      response:
        body: '{"errorCode":"E0000007","errorSummary":"Not found: Resource not found: 0oa9i70euwC3TpD3U1d7 (AppInstance)","errorLink":"E0000007","errorId":"oaeoG-5MdMWS02rrRHvorgXyA","errorCauses":[]}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 53.446078ms
