---
version: 2
interactions:
    - id: 0
      request:
        host: mm-oie-2022-10-07-max.oktapreview.com
        body: |
            {"profile":{"name":"testAcc_810183405","description":"testing"}}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/groups
        method: POST
      response:
        body: '{"id":"00g95ts6thPByV2S61d7","created":"2023-07-27T19:21:47.000Z","lastUpdated":"2023-07-27T19:21:47.000Z","lastMembershipUpdated":"2023-07-27T19:21:47.000Z","objectClass":["okta:user_group"],"type":"OKTA_GROUP","profile":{"name":"testAcc_810183405","description":"testing"},"_links":{"logo":[{"name":"medium","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-medium.30ce6d4085dff29412984e4c191bc874.png","type":"image/png"},{"name":"large","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-large.c3cb8cda8ae0add1b4fe928f5844dbe3.png","type":"image/png"}],"users":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/groups/00g95ts6thPByV2S61d7/users"},"apps":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/groups/00g95ts6thPByV2S61d7/apps"}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 148.886999ms
    - id: 1
      request:
        host: mm-oie-2022-10-07-max.oktapreview.com
        body: |
            {"label":"testAcc_810183405","description":"testing, testing","permissions":["okta.apps.manage","okta.apps.assignment.manage","okta.users.manage"]}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/iam/roles
        method: POST
      response:
        body: '{"id":"cr095tu704W0W9wu71d7","label":"testAcc_810183405","description":"testing, testing","created":"2023-07-27T19:21:47.000Z","lastUpdated":"2023-07-27T19:21:47.000Z","_links":{"permissions":{"href":"https://mm-oie-2022-10-07-max-admin.oktapreview.com/api/v1/iam/roles/cr095tu704W0W9wu71d7/permissions"},"self":{"href":"https://mm-oie-2022-10-07-max-admin.oktapreview.com/api/v1/iam/roles/cr095tu704W0W9wu71d7"}}}'
        headers:
            Content-Type:
                - application/json
            Link:
                - <https://mm-oie-2022-10-07-max-admin.oktapreview.com/api/v1/iam/roles/cr095tu704W0W9wu71d7>; rel="self"
        status: 200 OK
        code: 200
        duration: 205.618631ms
    - id: 2
      request:
        host: mm-oie-2022-10-07-max.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/groups/00g95ts6thPByV2S61d7
        method: GET
      response:
        body: '{"id":"00g95ts6thPByV2S61d7","created":"2023-07-27T19:21:47.000Z","lastUpdated":"2023-07-27T19:21:47.000Z","lastMembershipUpdated":"2023-07-27T19:21:47.000Z","objectClass":["okta:user_group"],"type":"OKTA_GROUP","profile":{"name":"testAcc_810183405","description":"testing"},"_links":{"logo":[{"name":"medium","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-medium.30ce6d4085dff29412984e4c191bc874.png","type":"image/png"},{"name":"large","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-large.c3cb8cda8ae0add1b4fe928f5844dbe3.png","type":"image/png"}],"users":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/groups/00g95ts6thPByV2S61d7/users"},"apps":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/groups/00g95ts6thPByV2S61d7/apps"}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 60.12529ms
    - id: 3
      request:
        host: mm-oie-2022-10-07-max.oktapreview.com
        body: |
            {"credentials":{"password":{}},"profile":{"email":"testAcc_810183405@example.com","firstName":"TestAcc","lastName":"blah","login":"testAcc_810183405@example.com","postalAddress":null}}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/users
        method: POST
      response:
        body: '{"id":"00u95trm5bZq9CH2Y1d7","status":"PROVISIONED","created":"2023-07-27T19:21:47.000Z","activated":"2023-07-27T19:21:47.000Z","statusChanged":"2023-07-27T19:21:47.000Z","lastLogin":null,"lastUpdated":"2023-07-27T19:21:47.000Z","passwordChanged":null,"type":{"id":"oty5qwjvh0Vy1j8Kd1d7"},"profile":{"firstName":"TestAcc","lastName":"blah","mobilePhone":null,"secondEmail":null,"login":"testAcc_810183405@example.com","email":"testAcc_810183405@example.com"},"credentials":{"provider":{"type":"OKTA","name":"OKTA"}},"_links":{"suspend":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/users/00u95trm5bZq9CH2Y1d7/lifecycle/suspend","method":"POST"},"schema":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/meta/schemas/user/osc5qwjvh0Vy1j8Kd1d7"},"resetPassword":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/users/00u95trm5bZq9CH2Y1d7/lifecycle/reset_password","method":"POST"},"reactivate":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/users/00u95trm5bZq9CH2Y1d7/lifecycle/reactivate","method":"POST"},"self":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/users/00u95trm5bZq9CH2Y1d7"},"resetFactors":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/users/00u95trm5bZq9CH2Y1d7/lifecycle/reset_factors","method":"POST"},"type":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/meta/types/user/oty5qwjvh0Vy1j8Kd1d7"},"deactivate":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/users/00u95trm5bZq9CH2Y1d7/lifecycle/deactivate","method":"POST"}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 368.946131ms
[...]
    - id: 5
      request:
        host: mm-oie-2022-10-07-max.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/users/00u95trm5bZq9CH2Y1d7
        method: GET
      response:
        body: '{"id":"00u95trm5bZq9CH2Y1d7","status":"PROVISIONED","created":"2023-07-27T19:21:47.000Z","activated":"2023-07-27T19:21:47.000Z","statusChanged":"2023-07-27T19:21:47.00[...]
    - id: 6
      request:
        host: mm-oie-2022-10-07-max.oktapreview.com
        body: |
            {"credentials":{"userNameTemplate":{"template":"${source.login}","type":"BUILT_IN"},"userName":""},"accessibility":{"selfService":false},"label":"testAcc_810183405","name":"template_swa","settings":{"app":{"buttonField":"btn-login","passwordField":"txtbox-password","url":"https://example.com/login.html","usernameField":"txtbox-username"},"notes":{"admin":null,"enduser":null}},"signOnMode":"BROWSER_PLUGIN","visibility":{"autoSubmitToolbar":false,"hide":{"iOS":false,"web":false}}}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/apps?activate=true
        method: POST
      response:
        body: '{"id":"0oa95tttdjjxv4XUM1d7","name":"template_swa","label":"testAcc_810183405","status":"ACTIVE","lastUpdated":"2023-07-27T19:21:48.000Z","created":"2023-07-27T19:21:47.000Z","accessibility":{"selfService":false,"errorRedirectUrl":null,"loginRedirectUrl":null},"visibility":{"autoLaunch":false,"autoSubmitToolbar":false,"hide":{"iOS":false,"web":false},"appLinks":{"login":true}},"features":[],"signOnMode":"BROWSER_PLUGIN","credentials":{"scheme":"EDIT_USERNAME_AND_PASSWORD","userNameTemplate":{"template":"${source.login}","type":"BUILT_IN"},"revealPassword":false,"signing":{}},"settings":{"app":{"loginUrlRegex":null,"usernameField":"txtbox-username","redirectUrl":null,"buttonField":"btn-login","checkbox":null,"passwordField":"txtbox-password","url":"https://example.com/login.html"},"notifications":{"vpn":{"network":{"connection":"DISABLED"},"message":null,"helpUrl":null}},"manualProvisioning":false,"implicitAssignment":false,"notes":{"admin":null,"enduser":null}},"_links":{"uploadLogo":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/apps/0oa95tttdjjxv4XUM1d7/logo","hints":{"allow":["POST"]}},"appLinks":[{"name":"login","href":"https://mm-oie-2022-10-07-max.oktapreview.com/home/template_swa/0oa95tttdjjxv4XUM1d7/2357","type":"text/html"}],"profileEnrollment":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/policies/rst5qwjvlxUHivL8a1d7"},"policies":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/apps/0oa95tttdjjxv4XUM1d7/policies","hints":{"allow":["PUT"]}},"groups":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/apps/0oa95tttdjjxv4XUM1d7/groups"},"logo":[{"name":"medium","href":"https://op3static.oktacdn.com/fs/bcg/4/gfs1g3ksgnrQi3BSX1d8","type":"image/png"}],"accessPolicy":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/policies/rst5qwjvlvS3G1WOU1d7"},"users":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/apps/0oa95tttdjjxv4XUM1d7/users"},"deactivate":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/apps/0oa95tttdjjxv4XUM1d7/lifecycle/deactivate"}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 883.237065ms
    - id: 7
      request:
        host: mm-oie-2022-10-07-max.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/apps/0oa95tttdjjxv4XUM1d7
        method: GET
      response:
        body: '{"id":"0oa95tttdjjxv4XUM1d7","name":"template_swa","label":"testAcc_810183405","status":"ACTIVE","lastUpdated":"2023-07-27T19:21:48.000Z","created":"2023-07-27T19:21:47[...]
    - id: 8
      request:
        host: mm-oie-2022-10-07-max.oktapreview.com
        body: |
            {"label":"testAcc_810183405","description":"testing, testing","resources":["https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/users","https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/apps/0oa95tttdjjxv4XUM1d7"]}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/iam/resource-sets
        method: POST
      response:
        body: '{"id":"iam95tuhyppSupU9H1d7","label":"testAcc_810183405","description":"testing, testing","created":"2023-07-27T19:21:49.000Z","lastUpdated":"2023-07-27T19:21:49.000Z","_links":{"bindings":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/iam/resource-sets/iam95tuhyppSupU9H1d7/bindings"},"self":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/iam/resource-sets/iam95tuhyppSupU9H1d7"},"resources":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/iam/resource-sets/iam95tuhyppSupU9H1d7/resources"}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 109.050705ms
    - id: 9
      request:
        host: mm-oie-2022-10-07-max.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/iam/resource-sets/iam95tuhyppSupU9H1d7
        method: GET
      response:
        body: '{"id":"iam95tuhyppSupU9H1d7","label":"testAcc_810183405","description":"testing, testing","created":"2023-07-27T19:21:49.000Z","lastUpdated":"2023-07-27T19:21:49.000Z","_links":{"bindings":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/iam/resource-sets/iam95tuhyppSupU9H1d7/bindings"},"self":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/iam/resource-sets/iam95tuhyppSupU9H1d7"},"resources":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/iam/resource-sets/iam95tuhyppSupU9H1d7/resources"}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 71.996779ms
    - id: 10
      request:
        host: mm-oie-2022-10-07-max.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/iam/resource-sets/iam95tuhyppSupU9H1d7/resources?limit=200
        method: GET
      response:
        body: '{"resources":[{"id":"ire95tuhyqGHBQelu1d7","orn":"orn:oktapreview:idp:00o5qwjvg8hg7YpT81d7:apps:template_swa:0oa95tttdjjxv4XUM1d7","created":"2023-07-27T19:21:49.000Z","lastUpdated":"2023-07-27T19:21:49.000Z","_links":{"self":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/apps/0oa95tttdjjxv4XUM1d7"}}},{"id":"ire95tuhyrJvufyCo1d7","orn":"orn:oktapreview:directory:00o5qwjvg8hg7YpT81d7:users","created":"2023-07-27T19:21:49.000Z","lastUpdated":"2023-07-27T19:21:49.000Z","_links":{"self":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/users"},"users":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/users"}}}],"_links":{"resource-set":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/iam/resource-sets/iam95tuhyppSupU9H1d7"}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 81.123419ms
    - id: 11
      request:
        host: mm-oie-2022-10-07-max.oktapreview.com
        body: |
            {"role":"cr095tu704W0W9wu71d7","members":["https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/users/00u95trm5bZq9CH2Y1d7","https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/groups/00g95ts6thPByV2S61d7"]}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/iam/resource-sets/iam95tuhyppSupU9H1d7/bindings
        method: POST
      response:
        body: '{"_links":{"resource-set":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/iam/resource-sets/iam95tuhyppSupU9H1d7"},"bindings":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/iam/resource-sets/iam95tuhyppSupU9H1d7/bindings"},"self":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/iam/resource-sets/iam95tuhyppSupU9H1d7/bindings/cr095tu704W0W9wu71d7"}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 133.940946ms
    - id: 12
      request:
        host: mm-oie-2022-10-07-max.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/iam/resource-sets/iam95tuhyppSupU9H1d7/bindings/cr095tu704W0W9wu71d7/members?limit=200
        method: GET
      response:
        body: '{"members":[{"id":"irb95tjrwxJ6Mo1fF1d7","created":"2023-07-27T00:00:00.000Z","lastUpdated":"2023-07-27T00:00:00.000Z","_links":{"self":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/groups/00g95ts6thPByV2S61d7"}}},{"id":"irb95tjrwyjckxqzL1d7","created":"2023-07-27T00:00:00.000Z","lastUpdated":"2023-07-27T00:00:00.000Z","_links":{"self":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/users/00u95trm5bZq9CH2Y1d7"}}}],"_links":{"binding":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/iam/resource-sets/iam95tuhyppSupU9H1d7/bindings/cr095tu704W0W9wu71d7"}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 65.075459ms
    - id: 13
      request:
        host: mm-oie-2022-10-07-max.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/iam/roles/cr095tu704W0W9wu71d7
        method: GET
      response:
        body: '{"id":"cr095tu704W0W9wu71d7","label":"testAcc_810183405","description":"testing, testing","created":"2023-07-27T19:21:47.000Z","lastUpdated":"2023-07-27T19:21:47.000Z","_links":{"permissions":{"href":"https://mm-oie-2022-10-07-max-admin.oktapreview.com/api/v1/iam/roles/cr095tu704W0W9wu71d7/permissions"},"self":{"href":"https://mm-oie-2022-10-07-max-admin.oktapreview.com/api/v1/iam/roles/cr095tu704W0W9wu71d7"}}}'
        headers:
            Content-Type:
                - application/json
            Link:
                - <https://mm-oie-2022-10-07-max-admin.oktapreview.com/api/v1/iam/roles/cr095tu704W0W9wu71d7>; rel="self"
        status: 200 OK
        code: 200
        duration: 58.94715ms
[...]
    - id: 17
      request:
        host: mm-oie-2022-10-07-max.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/iam/roles/cr095tu704W0W9wu71d7/permissions
        method: GET
      response:
        body: '{"permissions":[{"label":"okta.users.manage","created":"2023-07-27T19:21:47.000Z","lastUpdated":"2023-07-27T19:21:47.000Z","conditions":null,"_links":{"role":{"href":"https://mm-oie-2022-10-07-max-admin.oktapreview.com/api/v1/iam/roles/cr095tu704W0W9wu71d7"},"self":{"href":"https://mm-oie-2022-10-07-max-admin.oktapreview.com/api/v1/iam/roles/cr095tu704W0W9wu71d7/permissions/okta.users.manage"}}},{"label":"okta.apps.assignment.manage","created":"2023-07-27T19:21:47.000Z","lastUpdated":"2023-07-27T19:21:47.000Z","conditions":null,"_links":{"role":{"href":"https://mm-oie-2022-10-07-max-admin.oktapreview.com/api/v1/iam/roles/cr095tu704W0W9wu71d7"},"self":{"href":"https://mm-oie-2022-10-07-max-admin.oktapreview.com/api/v1/iam/roles/cr095tu704W0W9wu71d7/permissions/okta.apps.assignment.manage"}}},{"label":"okta.apps.manage","created":"2023-07-27T19:21:47.000Z","lastUpdated":"2023-07-27T19:21:47.000Z","conditions":null,"_links":{"role":{"href":"https://mm-oie-2022-10-07-max-admin.oktapreview.com/api/v1/iam/roles/cr095tu704W0W9wu71d7"},"self":{"href":"https://mm-oie-2022-10-07-max-admin.oktapreview.com/api/v1/iam/roles/cr095tu704W0W9wu71d7/permissions/okta.apps.manage"}}}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 66.601793ms
[...]
    - id: 30
      request:
        host: mm-oie-2022-10-07-max.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/iam/resource-sets/iam95tuhyppSupU9H1d7/bindings/cr095tu704W0W9wu71d7/members/irb95tjrwxJ6Mo1fF1d7
        method: DELETE
      response:
        body: ""
        headers:
        status: 204 No Content
        code: 204
        duration: 140.830848ms
[...]
    - id: 40
      request:
        host: mm-oie-2022-10-07-max.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/iam/resource-sets/iam95tuhyppSupU9H1d7/bindings/cr095tu704W0W9wu71d7
        method: DELETE
      response:
        body: ""
        headers:
        status: 204 No Content
        code: 204
        duration: 212.579925ms
[...]
    - id: 44
      request:
        host: mm-oie-2022-10-07-max.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/apps/0oa95tttdjjxv4XUM1d7/lifecycle/deactivate
        method: POST
      response:
        body: '{}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 84.071785ms
[...]
    - id: 47
      request:
        host: mm-oie-2022-10-07-max.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/iam/resource-sets/iam95tuhyppSupU9H1d7/bindings/cr095tu704W0W9wu71d7
        method: GET
      response:
        body: '{"errorCode":"E0000007","errorSummary":"Not found: Resource not found: iam95tuhyppSupU9H1d7 (IAMPolicy)","errorLink":"E0000007","errorId":"oaeP83TOM5aQJ2hN9FUdQqXMg","errorCauses":[]}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 72.505119ms
