---
version: 2
interactions:
    - id: 0
      request:
        host: oie-00.dne-okta.com
        body: |
            {"profile":{"name":"testAcc_2797958508","description":"Test group for acceptance testing"}}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://oie-00.dne-okta.com/api/v1/groups
        method: POST
      response:
        body: '{"id":"00gon0h00hYOrXLbm5d7","created":"2025-05-08T07:52:27.000Z","lastUpdated":"2025-05-08T07:52:27.000Z","lastMembershipUpdated":"2025-05-08T07:52:27.000Z","objectClass":["okta:user_group"],"type":"OKTA_GROUP","profile":{"name":"testAcc_2797958508","description":"Test group for acceptance testing"},"_links":{"logo":[{"name":"medium","href":"https://ok12static.oktacdn.com/assets/img/logos/groups/odyssey/okta-medium.30ce6d4085dff29412984e4c191bc874.png","type":"image/png"},{"name":"large","href":"https://ok12static.oktacdn.com/assets/img/logos/groups/odyssey/okta-large.c3cb8cda8ae0add1b4fe928f5844dbe3.png","type":"image/png"}],"users":{"href":"https://oie-00.okta.com/api/v1/groups/00gon0h00hYOrXLbm5d7/users"},"apps":{"href":"https://oie-00.okta.com/api/v1/groups/00gon0h00hYOrXLbm5d7/apps"}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 835.974333ms
    - id: 1
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/groups/00gon0h00hYOrXLbm5d7
        method: GET
      response:
        body: '{"id":"00gon0h00hYOrXLbm5d7","created":"2025-05-08T07:52:27.000Z","lastUpdated":"2025-05-08T07:52:27.000Z","lastMembershipUpdated":"2025-05-08T07:52:27.000Z","objectClass":["okta:user_group"],"type":"OKTA_GROUP","profile":{"name":"testAcc_2797958508","description":"Test group for acceptance testing"},"_links":{"logo":[{"name":"medium","href":"https://ok12static.oktacdn.com/assets/img/logos/groups/odyssey/okta-medium.30ce6d4085dff29412984e4c191bc874.png","type":"image/png"},{"name":"large","href":"https://ok12static.oktacdn.com/assets/img/logos/groups/odyssey/okta-large.c3cb8cda8ae0add1b4fe928f5844dbe3.png","type":"image/png"}],"users":{"href":"https://oie-00.okta.com/api/v1/groups/00gon0h00hYOrXLbm5d7/users"},"apps":{"href":"https://oie-00.okta.com/api/v1/groups/00gon0h00hYOrXLbm5d7/apps"}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 185.463875ms
[...]
    - id: 3
      request:
        host: oie-00.dne-okta.com
        body: |
            {"actions":{"assignUserToGroups":{"groupIds":["00gon0h00hYOrXLbm5d7"]}},"conditions":{"expression":{"type":"urn:okta:expression:1.0","value":"String.stringContains(user.email, \"@example.com\")"},"people":{"users":{}}},"name":"testAcc_2797958508","type":"group_rule"}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://oie-00.dne-okta.com/api/v1/groups/rules
        method: POST
      response:
        body: '{"type":"group_rule","id":"0pron0fgfkVxmyzLO5d7","status":"INACTIVE","name":"testAcc_2797958508","created":"2025-05-08T07:52:28.000Z","lastUpdated":"2025-05-08T07:52:28.000Z","conditions":{"people":{"users":{"exclude":[]},"groups":{"exclude":[]}},"expression":{"value":"String.stringContains(user.email, \"@example.com\")","type":"urn:okta:expression:1.0"}},"actions":{"assignUserToGroups":{"groupIds":["00gon0h00hYOrXLbm5d7"]}},"allGroupsValid":true}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 412.105417ms
    - id: 4
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/groups/rules/0pron0fgfkVxmyzLO5d7/lifecycle/activate
        method: POST
      response:
        body: ""
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
        status: 204 No Content
        code: 204
        duration: 239.863209ms
    - id: 5
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/groups/rules/0pron0fgfkVxmyzLO5d7
        method: GET
      response:
        body: '{"type":"group_rule","id":"0pron0fgfkVxmyzLO5d7","status":"ACTIVE","name":"testAcc_2797958508","created":"2025-05-08T07:52:28.000Z","lastUpdated":"2025-05-08T07:52:28.000Z","conditions":{"people":{"users":{"exclude":[]},"groups":{"exclude":[]}},"expression":{"value":"String.stringContains(user.email, \"@example.com\")","type":"urn:okta:expression:1.0"}},"actions":{"assignUserToGroups":{"groupIds":["00gon0h00hYOrXLbm5d7"]}},"allGroupsValid":true}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 376.442125ms
[...]
    - id: 8
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/groups/rules/0pron0fgfkVxmyzLO5d7/lifecycle/deactivate
        method: POST
      response:
        body: ""
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
        status: 204 No Content
        code: 204
        duration: 214.692167ms
    - id: 9
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/groups/rules/0pron0fgfkVxmyzLO5d7?removeUsers=false
        method: DELETE
      response:
        body: '{}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 202 Accepted
        code: 202
        duration: 226.798541ms
[...]
