---
version: 2
interactions:
    - id: 0
      request:
        host: oie-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/iam/assignees/users
        method: GET
      response:
        body: '{"value":[{"id":"00utivnuu1aaKzqqO1d7","orn":"orn:oktapreview:directory:00otivnuq1X5554yc1d7:users:00utivnuu1aaKzqqO1d7","_links":{"roles":{"href":"https://oie-00.dne-okta.com/api/v1/users/00utivnuu1aaKzqqO1d7/roles"},"self":{"href":"https://oie-00.dne-okta.com/api/v1/users/00utivnuu1aaKzqqO1d7"}}},{"id":"00uto13wvy2Y5RCv91d7","orn":"orn:oktapreview:directory:00otivnuq1X5554yc1d7:users:00uto13wvy2Y5RCv91d7","_links":{"roles":{"href":"https://oie-00.dne-okta.com/api/v1/users/00uto13wvy2Y5RCv91d7/roles"},"self":{"href":"https://oie-00.dne-okta.com/api/v1/users/00uto13wvy2Y5RCv91d7"}}}]}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.229320042s
[...]
