---
version: 2
interactions:
    - id: 0
      request:
        host: oie-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/iam/assignees/users
        method: GET
      response:
        body: '{"value":[{"id":"00unkw1sfbTw08c0g1d7","orn":"orn:oktapreview:directory:00onkw1sbuAh3Q06I1d7:users:00unkw1sfbTw08c0g1d7","_links":{"roles":{"href":"https://oie-00.dne-okta.com/api/v1/users/00unkw1sfbTw08c0g1d7/roles"},"self":{"href":"https://oie-00.dne-okta.com/api/v1/users/00unkw1sfbTw08c0g1d7"}}},{"id":"00unli3jchVww8uph1d7","orn":"orn:oktapreview:directory:00onkw1sbuAh3Q06I1d7:users:00unli3jchVww8uph1d7","_links":{"roles":{"href":"https://oie-00.dne-okta.com/api/v1/users/00unli3jchVww8uph1d7/roles"},"self":{"href":"https://oie-00.dne-okta.com/api/v1/users/00unli3jchVww8uph1d7"}}},{"id":"00unywx8n90dCi3I81d7","orn":"orn:oktapreview:directory:00onkw1sbuAh3Q06I1d7:users:00unywx8n90dCi3I81d7","_links":{"roles":{"href[...]
[...]
