---
version: 2
interactions:
    - id: 0
      request:
        host: oie-00.dne-okta.com
        body: |
            {"associated":{"description":"Subordinate link property","name":"testAcc_subordinate","title":"Subordinate","type":"USER"},"primary":{"description":"Manager link property","name":"testAcc_1808015740","title":"Manager","type":"USER"}}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://oie-00.dne-okta.com/api/v1/meta/schemas/user/linkedObjects
        method: POST
      response:
        body: '{"primary":{"name":"testAcc_1808015740","title":"Manager","description":"Manager link property","type":"USER"},"associated":{"name":"testAcc_subordinate","title":"Subordinate","description":"Subordinate link property","type":"USER"},"_links":{"self":{"href":"https://oie-00.oktapreview.com/api/v1/meta/schemas/user/linkedObjects/testAcc_1808015740"}}}'
        headers:
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 141.159975ms
    - id: 1
      request:
        host: oie-00.dne-okta.com
        body: |
            {"credentials":{"password":{}},"profile":{"email":"testAcc_1@example.com","firstName":"TestAcc","lastName":"Smith","login":"testAcc_1@example.com","postalAddress":null}}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://oie-00.dne-okta.com/api/v1/users
        method: POST
      response:
        body: '{"id":"00u9i713rsqKbGxRX1d7","status":"PROVISIONED","created":"2023-08-15T23:45:24.000Z","activated":"2023-08-15T23:45:25.000Z","statusChanged":"2023-08-15T23:45:25.000Z","lastLogin":null,"lastUpdated":"2023-08-15T23:45:25.000Z","passwordChanged":null,"type":{"id":"oty5qwjvh0Vy1j8Kd1d7"},"profile":{"firstName":"TestAcc","lastName":"Smith","mobilePhone":null,"secondEmail":null,"login":"testAcc_1@example.com","email":"testAcc_1@example.com"},"credentials":{"provider":{"type":"OKTA","name":"OKTA"}},"_links":{"suspend":{"href":"https://oie-00.oktapreview.com/api/v1/users/00u9i713rsqKbGxRX1d7/lifecycle/suspend","method":"POST"},"schema":{"href":"https://oie-00.oktapreview.com/api/v1/meta/schemas/user/osc5qwjvh0Vy1j8Kd1d7"},"resetPassword":{"href":"https://oie-00.oktapreview.com/api/v1/users/00u9i713rsqKbGxRX1d7/lifecycle/reset_password","method":"POST"},"reactivate":{"href":"https://oie-00.oktapreview.com/api/v1/users/00u9i713rsqKbGxRX1d7/lifecycle/reactivate","method":"POST"},"self":{"href":"https://oie-00.oktapreview.com/api/v1/users/00u9i713rsqKbGxRX1d7"},"resetFactors":{"href":"https://oie-00.oktapreview.com/api/v1/users/00u9i713rsqKbGxRX1d7/lifecycle/reset_factors","method":"POST"},"type":{"href":"https://oie-00.oktapreview.com/api/v1/meta/types/user/oty5qwjvh0Vy1j8Kd1d7"},"deactivate":{"href":"https://oie-00.oktapreview.com/api/v1/users/00u9i713rsqKbGxRX1d7/lifecycle/deactivate","method":"POST"}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 477.944461ms
[...]
    - id: 6
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/users/00u9i713rsqKbGxRX1d7
        method: GET
      response:
        body: '{"id":"00u9i713rsqKbGxRX1d7","status":"PROVISIONED","created":"2023-08-15T23:45:24.000Z","activated":"2023-08-15T23:45:25.000Z","statusChanged":"2023-08-15T23:45:25.000Z","lastLogin":null,"lastUpdated":"[...]
    - id: 7
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/users/00u9i75lqng9OYKJg1d7
        method: GET
      response:
        body: '{"id":"00u9i75lqng9OYKJg1d7","status":"PROVISIONED","created":"2023-08-15T23:45:24.000Z","activated":"2023-08-15T23:45:25.000Z","statusChanged":"2023-08-15T23:45:25.000Z","lastLogin":null,"lastUpdated":"[...]
    - id: 8
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/users/00u9i75zwrXZkLRwn1d7
        method: GET
      response:
        body: '{"id":"00u9i75zwrXZkLRwn1d7","status":"PROVISIONED","created":"2023-08-15T23:45:24.000Z","activated":"2023-08-15T23:45:25.000Z","statusChanged":"2023-08-15T23:45:25.000Z","lastLogin":null,"lastUpdated":"[...]
    - id: 9
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/users/00u9i76idgxCOF9V71d7
        method: GET
      response:
        body: '{"id":"00u9i76idgxCOF9V71d7","status":"PROVISIONED","created":"2023-08-15T23:45:25.000Z","activated":"2023-08-15T23:45:25.000Z","statusChanged":"2023-08-15T23:45:25.000Z","lastLogin":null,"lastUpdated":"[...]
    - id: 10
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/users/00u9i7c2zy82b2cla1d7
        method: GET
      response:
        body: '{"id":"00u9i7c2zy82b2cla1d7","status":"PROVISIONED","created":"2023-08-15T23:45:24.000Z","activated":"2023-08-15T23:45:25.000Z","statusChanged":"2023-08-15T23:45:25.000Z","lastLogin":null,"lastUpdated":[...]
    - id: 11
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/meta/schemas/user/linkedObjects/testAcc_1808015740
        method: GET
      response:
        body: '{"primary":{"name":"testAcc_1808015740","title":"Manager","description":"Manager link property","type":"USER"},"associated":{"name":"testAcc_subordinate","title":"Subordinate","description":"Subordinate link property","type":"USER"},"_links":{"self":{"href":"https://oie-00.oktapreview.com/api/v1/meta/schemas/user/linkedObjects/testAcc_1808015740"}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 63.856933ms
    - id: 12
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/users/00u9i75lqng9OYKJg1d7/linkedObjects/testAcc_1808015740/00u9i76idgxCOF9V71d7
        method: PUT
      response:
        body: ""
        headers:
        status: 204 No Content
        code: 204
        duration: 251.601926ms
    - id: 13
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/users/00u9i7c2zy82b2cla1d7/linkedObjects/testAcc_1808015740/00u9i76idgxCOF9V71d7
        method: PUT
      response:
        body: ""
        headers:
        status: 204 No Content
        code: 204
        duration: 300.904763ms
    - id: 14
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/users/00u9i75zwrXZkLRwn1d7/linkedObjects/testAcc_1808015740/00u9i76idgxCOF9V71d7
        method: PUT
      response:
        body: ""
        headers:
        status: 204 No Content
        code: 204
        duration: 152.063803ms
    - id: 15
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/users/00u9i713rsqKbGxRX1d7/linkedObjects/testAcc_1808015740/00u9i76idgxCOF9V71d7
        method: PUT
      response:
        body: ""
        headers:
        status: 204 No Content
        code: 204
        duration: 166.647682ms
[...]
    - id: 23
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/users/00u9i76idgxCOF9V71d7/linkedObjects/testAcc_subordinate
        method: GET
      response:
        body: '[{"_links":{"self":{"href":"https://oie-00.oktapreview.com/api/v1/users/00u9i7c2zy82b2cla1d7"}}},{"_links":{"self":{"href":"https://oie-00.oktapreview.com/api/v1/users/00u9i75lqng9OYKJg1d7"}}},{"_links":{"self":{"href":"https://oie-00.oktapreview.com/api/v1/users/00u9i75zwrXZkLRwn1d7"}}},{"_links":{"self":{"href":"https://oie-00.oktapreview.com/api/v1/users/00u9i713rsqKbGxRX1d7"}}}]'
        headers:
            Content-Type:
                - application/json
            Link:
                - <https://oie-00.dne-okta.com/api/v1/users/00u9i76idgxCOF9V71d7/linkedObjects/testAcc_subordinate?limit=1000>; rel="self"
        status: 200 OK
        code: 200
        duration: 82.372553ms
[...]
    - id: 32
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/users/00u9i7c2zy82b2cla1d7/linkedObjects/testAcc_1808015740
        method: DELETE
      response:
        body: ""
        headers:
        status: 204 No Content
        code: 204
        duration: 65.552621ms
    - id: 33
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/users/00u9i75zwrXZkLRwn1d7/linkedObjects/testAcc_1808015740
        method: DELETE
      response:
        body: ""
        headers:
        status: 204 No Content
        code: 204
        duration: 58.13102ms
    - id: 34
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/users/00u9i713rsqKbGxRX1d7/linkedObjects/testAcc_1808015740
        method: DELETE
      response:
        body: ""
        headers:
        status: 204 No Content
        code: 204
        duration: 65.13921ms
[...]
    - id: 43
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/users/00u9i75lqng9OYKJg1d7/linkedObjects/testAcc_1808015740
        method: DELETE
      response:
        body: ""
        headers:
        status: 204 No Content
        code: 204
        duration: 68.386381ms
[...]
    - id: 55
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/meta/schemas/user/linkedObjects/testAcc_1808015740
        method: GET
      response:
        body: '{"errorCode":"E0000007","errorSummary":"Not found: Resource not found: testAcc_1808015740 (LinkedObjectProperty)","errorLink":"E0000007","errorId":"oaeIiKRHhi6Q5e7pLuEhx13PQ","errorCauses":[]}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 64.912305ms
