---
version: 2
interactions:
- id: 0
  request:
    host: oie-00.dne-okta.com
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://oie-00.dne-okta.com/api/v1/api-tokens/00T1gtr35t8ZbfBfV1d7
    method: GET
  response:
    body: "{\"id\":\"00T1gtr35t8ZbfBfV1d7\",\"name\":\"api-token-test-token\",\"userId\":\"00unkw1sfbTw08c0g1d7\",\"clientName\":\"Okta API\",\"tokenWindow\":\"P30D\",\"network\":{\"connection\":\"ZONE\",\"exclude\":[\"nzonkw1sfwwiH9Hxt1d7\"]},\"expiresAt\":\"2025-12-02T14:47:13.000Z\",\"created\":\"2025-11-02T14:47:13.000Z\",\"lastUpdated\":\"2025-11-06T08:22:21.000Z\",\"_links\":{\"self\":{\"href\":\"https://oie-00.dne-okta.com/api/v1/api-tokens/00T1gtr35t8ZbfBfV1d7\",\"hints\":{\"allow\":[\"GET\",\"DELETE\"]}},\"user\":{\"href\":\"https://oie-00.dne-okta.com/api/v1/users/00unkw1sfbTw08c0g1d7\",\"hints\":{\"allow\":[\"GET\"]}}}}"
    headers:
      Accept-Ch:
      - Sec-CH-UA-Platform-Version
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 1.074885583s
[...]
