---
version: 2
interactions:
- id: 0
  request:
    host: oie-00.dne-okta.com
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://oie-00.dne-okta.com/api/v1/api-tokens/00T1gtq5lsLg3q4dh1d7
    method: GET
  response:
    body: "{\"id\":\"00T1gtq5lsLg3q4dh1d7\",\"name\":\"api-token-test-token\",\"userId\":\"00unkw1sfbTw08c0g1d7\",\"clientName\":\"Okta API\",\"tokenWindow\":\"P30D\",\"network\":{\"connection\":\"ANYWHERE\"},\"expiresAt\":\"2025-12-02T14:37:35.000Z\",\"created\":\"2025-11-02T14:37:35.000Z\",\"lastUpdated\":\"2025-11-02T14:37:35.000Z\",\"_links\":{\"self\":{\"href\":\"https://oie-00.dne-okta.com/api/v1/api-tokens/00T1gtq5lsLg3q4dh1d7\",\"hints\":{\"allow\":[\"GET\",\"DELETE\"]}},\"user\":{\"href\":\"https://oie-00.dne-okta.com/api/v1/users/00unkw1sfbTw08c0g1d7\",\"hints\":{\"allow\":[\"GET\"]}}}}"
    headers:
      Accept-Ch:
      - Sec-CH-UA-Platform-Version
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 1.0456115s
[...]
- id: 4
  request:
    host: oie-00.dne-okta.com
    body: "{\"clientName\":\"Okta API\",\"created\":\"2025-11-02T14:37:35Z\",\"name\":\"api-token-test-token\",\"network\":{\"connection\":\"ZONE\",\"exclude\":[\"nzonkw1sfwwiH9Hxt1d7\"]},\"userId\":\"00unkw1sfbTw08c0g1d7\"}\n"
    headers:
      Authorization:
      - SSWS REDACTED
      Content-Type:
      - application/json
    url: https://oie-00.dne-okta.com/api/v1/api-tokens/00T1gtq5lsLg3q4dh1d7
    method: PUT
  response:
    body: "{\"id\":\"00T1gtq5lsLg3q4dh1d7\",\"name\":\"api-token-test-token\",\"userId\":\"00unkw1sfbTw08c0g1d7\",\"clientName\":\"Okta API\",\"tokenWindow\":\"P30D\",\"network\":{\"connection\":\"ZONE\",\"exclude\":[\"nzonkw1sfwwiH9Hxt1d7\"]},\"expiresAt\":\"2025-12-02T14:37:35.000Z\",\"created\":\"2025-11-02T14:37:35.000Z\",\"lastUpdated\":\"2025-11-02T14:38:13.000Z\",\"_links\":{\"self\":{\"href\":\"https://oie-00.dne-okta.com/api/v1/api-tokens/00T1gtq5lsLg3q4dh1d7\",\"hints\":{\"allow\":[\"GET\",\"DELETE\"]}},\"user\":{\"href\":\"https://oie-00.dne-okta.com/api/v1/users/00unkw1sfbTw08c0g1d7\",\"hints\":{\"allow\":[\"GET\"]}}}}"
    headers:
      Accept-Ch:
      - Sec-CH-UA-Platform-Version
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 1.057148666s
[...]
