---
version: 2
interactions:
    - id: 0
      request:
        host: classic-00.dne-okta.com
        body: |
            {"associated":{"description":"Subordinate link property","name":"testAcc_subordinate","title":"Subordinate","type":"USER"},"primary":{"description":"Manager link property","name":"testAcc_3849317781","title":"Manager","type":"USER"}}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://classic-00.dne-okta.com/api/v1/meta/schemas/user/linkedObjects
        method: POST
      response:
        body: '{"primary":{"name":"testAcc_3849317781","title":"Manager","description":"Manager link property","type":"USER"},"associated":{"name":"testAcc_subordinate","title":"Subordinate","description":"Subordinate link property","type":"USER"},"_links":{"self":{"href":"https://classic-00.dne-okta.com/api/v1/meta/schemas/user/linkedObjects/testAcc_3849317781"}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 232.464833ms
    - id: 1
      request:
        host: classic-00.dne-okta.com
        body: |
            {"credentials":{"password":{}},"profile":{"email":"testAcc_3@example.com","firstName":"TestAcc","lastName":"Smith","login":"testAcc_3@example.com","postalAddress":null}}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://classic-00.dne-okta.com/api/v1/users
        method: POST
      response:
        body: '{"id":"00ukwu8fnsZ6uhLeq1d7","status":"PROVISIONED","created":"2025-03-14T03:16:40.000Z","activated":"2025-03-14T03:16:40.000Z","statusChanged":"2025-03-14T03:16:40.000Z","lastLogin":null,"lastUpdated":"2025-03-14T03:16:40.000Z","passwordChanged":null,"type":{"id":"oty5ptm052JMcoADv1d7"},"profile":{"firstName":"TestAcc","lastName":"Smith","mobilePhone":null,"secondEmail":null,"login":"testAcc_3@example.com","email":"testAcc_3@example.com"},"credentials":{"provider":{"type":"OKTA","name":"OKTA"}},"_links":{"suspend":{"href":"https://classic-00.dne-okta.com/api/v1/users/00ukwu8fnsZ6uhLeq1d7/lifecycle/suspend","method":"POST"},"schema":{"href":"https://classic-00.dne-okta.com/api/v1/meta/schemas/user/osc5ptm052JMcoADv1d7"},"resetPassword":{"href":"https://classic-00.dne-okta.com/api/v1/users/00ukwu8fnsZ6uhLeq1d7/lifecycle/reset_password","method":"POST"},"reactivate":{"href":"https://classic-00.dne-okta.com/api/v1/users/00ukwu8fnsZ6uhLeq1d7/lifecycle/reactivate","method":"POST"},"self":{"href":"https://classic-00.dne-okta.com/api/v1/users/00ukwu8fnsZ6uhLeq1d7"},"type":{"href":"https://classic-00.dne-okta.com/api/v1/meta/types/user/oty5ptm052JMcoADv1d7"},"deactivate":{"href":"https://classic-00.dne-okta.com/api/v1/users/00ukwu8fnsZ6uhLeq1d7/lifecycle/deactivate","method":"POST"}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 398.4775ms
[...]
    - id: 6
      request:
        host: classic-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/users/00ukwu8fnsZ6uhLeq1d7
        method: GET
      response:
        body: '{"id":"00ukwu8fnsZ6uhLeq1d7","status":"PROVISIONED","created":"2025-03-14T03:16:40.000Z","activated":"2025-03-14T03:16:40.000Z","statusChanged":"2025-03-14T03:16:40.000Z","lastLogin":null,"lastUp[...]
    - id: 7
      request:
        host: classic-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/users/00ukwuemh5tsTOmVV1d7
        method: GET
      response:
        body: '{"id":"00ukwuemh5tsTOmVV1d7","status":"PROVISIONED","created":"2025-03-14T03:16:40.000Z","activated":"2025-03-14T03:16:40.000Z","statusChanged":"2025-03-14T03:16:40.000Z","lastLogin":null,"lastUp[...]
    - id: 8
      request:
        host: classic-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/users/00ukwutt60W42ZxeX1d7
        method: GET
      response:
        body: '{"id":"00ukwutt60W42ZxeX1d7","status":"PROVISIONED","created":"2025-03-14T03:16:40.000Z","activated":"2025-03-14T03:16:40.000Z","statusChanged":"2025-03-14T03:16:40.000Z","lastLogin":null,"lastUp[...]
    - id: 9
      request:
        host: classic-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/users/00ukwuv3feqy7YSCy1d7
        method: GET
      response:
        body: '{"id":"00ukwuv3feqy7YSCy1d7","status":"PROVISIONED","created":"2025-03-14T03:16:40.000Z","activated":"2025-03-14T03:16:40.000Z","statusChanged":"2025-03-14T03:16:40.000Z","lastLogin":null,"lastUp[...]
    - id: 10
      request:
        host: classic-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/users/00ukwurtn2gzK4Uet1d7
        method: GET
      response:
        body: '{"id":"00ukwurtn2gzK4Uet1d7","status":"PROVISIONED","created":"2025-03-14T03:16:40.000Z","activated":"2025-03-14T03:16:40.000Z","statusChanged":"2025-03-14T03:16:40.000Z","lastLogin":null,"lastU[...]
    - id: 11
      request:
        host: classic-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/meta/schemas/user/linkedObjects/testAcc_3849317781
        method: GET
      response:
        body: '{"primary":{"name":"testAcc_3849317781","title":"Manager","description":"Manager link property","type":"USER"},"associated":{"name":"testAcc_subordinate","title":"Subordinate","description":"Subordinate link property","type":"USER"},"_links":{"self":{"href":"https://classic-00.dne-okta.com/api/v1/meta/schemas/user/linkedObjects/testAcc_3849317781"}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 211.291042ms
    - id: 12
      request:
        host: classic-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/users/00ukwuv3feqy7YSCy1d7/linkedObjects/testAcc_3849317781/00ukwutt60W42ZxeX1d7
        method: PUT
      response:
        body: ""
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
        status: 204 No Content
        code: 204
        duration: 218.089459ms
    - id: 13
      request:
        host: classic-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/users/00ukwurtn2gzK4Uet1d7/linkedObjects/testAcc_3849317781/00ukwutt60W42ZxeX1d7
        method: PUT
      response:
        body: ""
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
        status: 204 No Content
        code: 204
        duration: 230.918708ms
    - id: 14
      request:
        host: classic-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/users/00ukwuemh5tsTOmVV1d7/linkedObjects/testAcc_3849317781/00ukwutt60W42ZxeX1d7
        method: PUT
      response:
        body: ""
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
        status: 204 No Content
        code: 204
        duration: 240.714833ms
    - id: 15
      request:
        host: classic-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/users/00ukwu8fnsZ6uhLeq1d7/linkedObjects/testAcc_3849317781/00ukwutt60W42ZxeX1d7
        method: PUT
      response:
        body: ""
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
        status: 204 No Content
        code: 204
        duration: 224.330167ms
[...]
    - id: 23
      request:
        host: classic-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/users/00ukwutt60W42ZxeX1d7/linkedObjects/testAcc_subordinate
        method: GET
      response:
        body: '[{"_links":{"self":{"href":"https://classic-00.dne-okta.com/api/v1/users/00ukwuemh5tsTOmVV1d7"}}},{"_links":{"self":{"href":"https://classic-00.dne-okta.com/api/v1/users/00ukwuv3feqy7YSCy1d7"}}},{"_links":{"self":{"href":"https://classic-00.dne-okta.com/api/v1/users/00ukwurtn2gzK4Uet1d7"}}},{"_links":{"self":{"href":"https://classic-00.dne-okta.com/api/v1/users/00ukwu8fnsZ6uhLeq1d7"}}}]'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
            Link:
                - <https://classic-00.dne-okta.com/api/v1/users/00ukwutt60W42ZxeX1d7/linkedObjects/testAcc_subordinate?limit=1000>; rel="self"
        status: 200 OK
        code: 200
        duration: 225.787125ms
[...]
    - id: 32
      request:
        host: classic-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/users/00ukwurtn2gzK4Uet1d7/linkedObjects/testAcc_3849317781
        method: DELETE
      response:
        body: ""
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
        status: 204 No Content
        code: 204
        duration: 221.309375ms
    - id: 33
      request:
        host: classic-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/users/00ukwuemh5tsTOmVV1d7/linkedObjects/testAcc_3849317781
        method: DELETE
      response:
        body: ""
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
        status: 204 No Content
        code: 204
        duration: 208.545791ms
    - id: 34
      request:
        host: classic-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/users/00ukwu8fnsZ6uhLeq1d7/linkedObjects/testAcc_3849317781
        method: DELETE
      response:
        body: ""
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
        status: 204 No Content
        code: 204
        duration: 253.768875ms
[...]
    - id: 43
      request:
        host: classic-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/users/00ukwuv3feqy7YSCy1d7/linkedObjects/testAcc_3849317781
        method: DELETE
      response:
        body: ""
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
        status: 204 No Content
        code: 204
        duration: 261.088041ms
[...]
