---
version: 2
interactions:
    - id: 0
      request:
        host: oie-00.dne-okta.com
        body: |
            {"associated":{"description":"Subordinate link property","name":"testAcc_subordinate","title":"Subordinate","type":"USER"},"primary":{"description":"Manager link property","name":"testAcc_3849317781","title":"Manager","type":"USER"}}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://oie-00.dne-okta.com/api/v1/meta/schemas/user/linkedObjects
        method: POST
      response:
        body: '{"primary":{"name":"testAcc_3849317781","title":"Manager","description":"Manager link property","type":"USER"},"associated":{"name":"testAcc_subordinate","title":"Subordinate","description":"Subordinate link property","type":"USER"},"_links":{"self":{"href":"https://oie-00.dne-okta.com/api/v1/meta/schemas/user/linkedObjects/testAcc_3849317781"}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 247.476667ms
    - id: 1
      request:
        host: oie-00.dne-okta.com
        body: |
            {"credentials":{"password":{}},"profile":{"email":"testAcc_3@example.com","firstName":"TestAcc","lastName":"Smith","login":"testAcc_3@example.com","postalAddress":null}}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://oie-00.dne-okta.com/api/v1/users
        method: POST
      response:
        body: '{"id":"00ukwr81y2R0G37wQ1d7","status":"PROVISIONED","created":"2025-03-13T23:39:15.000Z","activated":"2025-03-13T23:39:15.000Z","statusChanged":"2025-03-13T23:39:15.000Z","lastLogin":null,"lastUpdated":"2025-03-13T23:39:15.000Z","passwordChanged":null,"type":{"id":"oty5qwjvh0Vy1j8Kd1d7"},"profile":{"firstName":"TestAcc","lastName":"Smith","mobilePhone":null,"secondEmail":null,"login":"testAcc_3@example.com","email":"testAcc_3@example.com"},"credentials":{"provider":{"type":"OKTA","name":"OKTA"}},"_links":{"suspend":{"href":"https://oie-00.dne-okta.com/api/v1/users/00ukwr81y2R0G37wQ1d7/lifecycle/suspend","method":"POST"},"schema":{"href":"https://oie-00.dne-okta.com/api/v1/meta/schemas/user/osc5qwjvh0Vy1j8Kd1d7"},"resetPassword":{"href":"https://oie-00.dne-okta.com/api/v1/users/00ukwr81y2R0G37wQ1d7/lifecycle/reset_password","method":"POST"},"reactivate":{"href":"https://oie-00.dne-okta.com/api/v1/users/00ukwr81y2R0G37wQ1d7/lifecycle/reactivate","method":"POST"},"self":{"href":"https://oie-00.dne-okta.com/api/v1/users/00ukwr81y2R0G37wQ1d7"},"type":{"href":"https://oie-00.dne-okta.com/api/v1/meta/types/user/oty5qwjvh0Vy1j8Kd1d7"},"deactivate":{"href":"https://oie-00.dne-okta.com/api/v1/users/00ukwr81y2R0G37wQ1d7/lifecycle/deactivate","method":"POST"}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 352.176333ms
[...]
    - id: 6
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/users/00ukwr81y2R0G37wQ1d7
        method: GET
      response:
        body: '{"id":"00ukwr81y2R0G37wQ1d7","status":"PROVISIONED","created":"2025-03-13T23:39:15.000Z","activated":"2025-03-13T23:39:15.000Z","statusChanged":"2025-03-13T23:39:15.000Z","lastLogin":null,"lastUpdated":"[...]
    - id: 7
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/users/00ukwr7mi47QZWNOZ1d7
        method: GET
      response:
        body: '{"id":"00ukwr7mi47QZWNOZ1d7","status":"PROVISIONED","created":"2025-03-13T23:39:15.000Z","activated":"2025-03-13T23:39:16.000Z","statusChanged":"2025-03-13T23:39:16.000Z","lastLogin":null,"lastUpdated":"[...]
    - id: 8
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/users/00ukwr5wo0Lc1YO6i1d7
        method: GET
      response:
        body: '{"id":"00ukwr5wo0Lc1YO6i1d7","status":"PROVISIONED","created":"2025-03-13T23:39:15.000Z","activated":"2025-03-13T23:39:16.000Z","statusChanged":"2025-03-13T23:39:16.000Z","lastLogin":null,"lastUpdated":"[...]
    - id: 9
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/users/00ukwr6tnt66JQaj11d7
        method: GET
      response:
        body: '{"id":"00ukwr6tnt66JQaj11d7","status":"PROVISIONED","created":"2025-03-13T23:39:15.000Z","activated":"2025-03-13T23:39:16.000Z","statusChanged":"2025-03-13T23:39:16.000Z","lastLogin":null,"lastUpdated":"[...]
    - id: 10
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/users/00ukwr5qd7bgJQ4961d7
        method: GET
      response:
        body: '{"id":"00ukwr5qd7bgJQ4961d7","status":"PROVISIONED","created":"2025-03-13T23:39:15.000Z","activated":"2025-03-13T23:39:16.000Z","statusChanged":"2025-03-13T23:39:16.000Z","lastLogin":null,"lastUpdated":[...]
    - id: 11
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/meta/schemas/user/linkedObjects/testAcc_3849317781
        method: GET
      response:
        body: '{"primary":{"name":"testAcc_3849317781","title":"Manager","description":"Manager link property","type":"USER"},"associated":{"name":"testAcc_subordinate","title":"Subordinate","description":"Subordinate link property","type":"USER"},"_links":{"self":{"href":"https://oie-00.dne-okta.com/api/v1/meta/schemas/user/linkedObjects/testAcc_3849317781"}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 210.055959ms
    - id: 12
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/users/00ukwr81y2R0G37wQ1d7/linkedObjects/testAcc_3849317781/00ukwr5qd7bgJQ4961d7
        method: PUT
      response:
        body: ""
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
        status: 204 No Content
        code: 204
        duration: 300.864125ms
    - id: 13
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/users/00ukwr7mi47QZWNOZ1d7/linkedObjects/testAcc_3849317781/00ukwr5qd7bgJQ4961d7
        method: PUT
      response:
        body: ""
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
        status: 204 No Content
        code: 204
        duration: 201.967542ms
    - id: 14
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/users/00ukwr6tnt66JQaj11d7/linkedObjects/testAcc_3849317781/00ukwr5qd7bgJQ4961d7
        method: PUT
      response:
        body: ""
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
        status: 204 No Content
        code: 204
        duration: 297.740542ms
    - id: 15
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/users/00ukwr5wo0Lc1YO6i1d7/linkedObjects/testAcc_3849317781/00ukwr5qd7bgJQ4961d7
        method: PUT
      response:
        body: ""
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
        status: 204 No Content
        code: 204
        duration: 305.91725ms
[...]
    - id: 23
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/users/00ukwr5qd7bgJQ4961d7/linkedObjects/testAcc_subordinate
        method: GET
      response:
        body: '[{"_links":{"self":{"href":"https://oie-00.dne-okta.com/api/v1/users/00ukwr7mi47QZWNOZ1d7"}}},{"_links":{"self":{"href":"https://oie-00.dne-okta.com/api/v1/users/00ukwr5wo0Lc1YO6i1d7"}}},{"_links":{"self":{"href":"https://oie-00.dne-okta.com/api/v1/users/00ukwr81y2R0G37wQ1d7"}}},{"_links":{"self":{"href":"https://oie-00.dne-okta.com/api/v1/users/00ukwr6tnt66JQaj11d7"}}}]'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
            Link:
                - <https://oie-00.dne-okta.com/api/v1/users/00ukwr5qd7bgJQ4961d7/linkedObjects/testAcc_subordinate?limit=1000>; rel="self"
        status: 200 OK
        code: 200
        duration: 218.72575ms
[...]
    - id: 32
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/users/00ukwr81y2R0G37wQ1d7/linkedObjects/testAcc_3849317781
        method: DELETE
      response:
        body: ""
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
        status: 204 No Content
        code: 204
        duration: 229.647584ms
    - id: 33
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/users/00ukwr7mi47QZWNOZ1d7/linkedObjects/testAcc_3849317781
        method: DELETE
      response:
        body: ""
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
        status: 204 No Content
        code: 204
        duration: 262.52725ms
    - id: 34
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/users/00ukwr6tnt66JQaj11d7/linkedObjects/testAcc_3849317781
        method: DELETE
      response:
        body: ""
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
        status: 204 No Content
        code: 204
        duration: 443.406ms
[...]
    - id: 43
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/users/00ukwr5wo0Lc1YO6i1d7/linkedObjects/testAcc_3849317781
        method: DELETE
      response:
        body: ""
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
        status: 204 No Content
        code: 204
        duration: 236.162042ms
[...]
