---
version: 2
interactions:
    - id: 0
      request:
        host: oie-00.dne-okta.com
        body: |
            {"channel":{"config":{"uri":""},"type":"HTTP","version":"1.0.0"},"description":"","events":{"items":["user.lifecycle.create","user.lifecycle.delete.initiated"],"type":"EVENT_TYPE"},"name":"testAcc_600662816"}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://oie-00.dne-okta.com/api/v1/eventHooks
        method: POST
      response:
        body: '{"id":"whoeventHOOK0001d7","status":"ACTIVE","verificationStatus":"UNVERIFIED","name":"testAcc_600662816","description":null,"created":"2025-03-13T23:38:58.000Z","createdBy":"00u5qwjvk7u6E1DFG1d7","lastUpdated":"2025-03-13T23:38:58.000Z","events":{"type":"EVENT_TYPE","items":["user.lifecycle.create","user.lifecycle.delete.initiated"],"filter":null},"channel":{"type":"HTTP","version":"1.0.0","config":{"uri":"https://example.com/test","headers":[],"method":"POST"}},"_links":{"self":{"href":"https://oie-00.dne-okta.com/api/v1/eventHooks/whoeventHOOK0001d7"},"deactivate":{"href":"https://oie-00.dne-okta.com/api/v1/eventHooks/whoeventHOOK0001d7/lifecycle/deactivate","hints":{"allow":["POST"]}}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 300ms
    - id: 1
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/eventHooks/whoeventHOOK0001d7
        method: GET
      response:
        body: '{"id":"whoeventHOOK0001d7","status":"ACTIVE","verificationStatus":"UNVERIFIED","name":"testAcc_600662816","description":null,"created":"2025-03-13T23:38:58.000Z","createdBy":"00u5qwjvk7u6E1DFG1d7","lastUpdated":"2025-03-13T23:38:58.000Z","events":{"type":"EVENT_TYPE","items":["user.lifecycle.create","user.lifecycle.delete.initiated"],"filter":null},"channel":{"type":"HTTP","version":"1.0.0","config":{"uri":"https://example.com/test","headers":[],"method":"POST"}},"_links":{"self":{"href":"https://oie-00.dne-okta.com/api/v1/eventHooks/whoeventHOOK0001d7"},"deactivate":{"href":"https://oie-00.dne-okta.com/api/v1/eventHooks/whoeventHOOK0001d7/lifecycle/deactivate","hints":{"allow":["POST"]}}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 200ms
[...]
