---
version: 2
interactions:
    - id: 0
      request:
        host: classic-00.dne-okta.com
        body: |
            {"accessibility":{"selfService":false},"credentials":{"userNameTemplate":{"template":"${source.login}","type":"BUILT_IN"}},"label":"testAcc_987182423","settings":{"app":{},"implicitAssignment":false,"notes":{"admin":null,"enduser":null},"signOn":{"allowMultipleAcsEndpoints":false,"assertionSigned":false,"attributeStatements":[{"filterType":"REGEX","filterValue":".*","name":"groups","namespace":"urn:oasis:names:tc:SAML:2.0:attrname-format:unspecified","type":"GROUP"}],"audience":"http://audience.com","audienceOverride":"","authnContextClassRef":"urn:oasis:names:tc:SAML:2.0:ac:classes:PasswordProtectedTransport","defaultRelayState":"","destination":"http://its-about-the-journey.com","destinationOverride":"","digestAlgorithm":"SHA256","honorForceAuthn":false,"recipient":"http://here.com","recipientOverride":"","responseSigned":true,"samlSignedRequestEnabled":false,"signatureAlgorithm":"RSA_SHA256","slo":{"enabled":true,"issuer":"https://dunshire.okta.com","logoutUrl":"https://dunshire.okta.com/logout"},"spCertificate":{"x5c":["MIIFnDCCA4QCCQDBSLbiON2T1zANBgkqhkiG9w0BAQsFADCBjzELMAkGA1UEBhMCVVMxDjAMBgNV\r\nBAgMBU1haW5lMRAwDgYDVQQHDAdDYXJpYm91MRcwFQYDVQQKDA5Tbm93bWFrZXJzIEluYzEUMBIG\r\nA1UECwwLRW5naW5lZXJpbmcxDTALBgNVBAMMBFNub3cxIDAeBgkqhkiG9w0BCQEWEWVtYWlsQGV4\r\nYW1wbGUuY29tMB4XDTIwMTIwMzIyNDY0M1oXDTMwMTIwMTIyNDY0M1owgY8xCzAJBgNVBAYTAlVT\r\nMQ4wDAYDVQQIDAVNYWluZTEQMA4GA1UEBwwHQ2FyaWJvdTEXMBUGA1UECgwOU25vd21ha2VycyBJ\r\nbmMxFDASBgNVBAsMC0VuZ2luZWVyaW5nMQ0wCwYDVQQDDARTbm93MSAwHgYJKoZIhvcNAQkBFhFl\r\nbWFpbEBleGFtcGxlLm[...]
    - id: 1
      request:
        host: classic-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/.well-known/okta-organization
        method: GET
      response:
        body: '{"id":"00otp3dizx2aP6cf41d7","cell":"op3","_links":{"organization":{"href":"https://classic-00.dne-okta.com"}},"pipeline":"idx","settings":{"analyticsCollectionEnabled":false,"bugReportingEnabled":true,"omEnabled":false,"pssoEnabled":true,"desktopMFAEnabled":true,"itpEnabled":true}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.098967209s
    - id: 2
      request:
        host: classic-00.dne-okta.com
        form:
            type:
                - ACCESS_POLICY
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/policies?type=ACCESS_POLICY
        method: GET
      response:
        body: '[{"id":"rsttp3dj4pFt00LfN1d7","status":"ACTIVE","name":"Okta Admin Console","priority":1,"system":false,"conditions":null,"created":"2026-01-10T05:25:53.000Z","lastUpdated":"2026-01-10T05:25:53.000Z","_links":{"mappings":{"href":"https://classic-00.dne-okta.com/api/v1/policies/rsttp3dj4pFt00LfN1d7/mappings","hints":{"allow":["GET","POST"]}},"self":{"href":"https://classic-00.dne-okta.com/api/v1/policies/rsttp3dj4pFt00LfN1d7","hints":{"allow":["GET","PUT","DELETE"]}},"rules":{"href":"https://classic-00.dne-okta.com/api/v1/policies/rsttp3dj4pFt00LfN1d7/rules","hints":{"allow":["GET","POST"]}},"deactivate":{"href":"https://classic-00.dne-okta.com/api/v1/policies/rsttp3dj4pFt00LfN1d7/lifecycle/deactivate","hints":{"allow":["POST"]}}},"_embedded":{"resourceType":"APP"},"type":"ACCESS_POLICY"},{"id":"rsttp3dj4whoaEDfx1d7","status":"ACTIVE","name":"Okta Dashboard","priority":1,"system":false,"conditions":null,"created":"2026-01-10T05:25:53.000Z","lastUpdated":"2026-01-10T05:25:53.000Z","_links":{"mappings":{"href":"https://classic-00.dne-okta.com/api/v1/policies/rsttp3dj4whoaEDfx1d7/mappings","hints":{"allow":["GET","POST"]}},"self":{"href":"https://classic-00.dne-okta.com/api/v1/policies/rsttp3dj4whoaEDfx1d7","hints":{"allow":["GET","PUT","DELETE"]}},"ru[...]
    - id: 3
      request:
        host: classic-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/apps/0oatqrgnngYhIuNMR1d7/policies/rsttp3dj59mjbuxYg1d7
        method: PUT
      response:
        body: ""
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
        status: 204 No Content
        code: 204
        duration: 1.199871084s
    - id: 4
      request:
        host: classic-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/apps/0oatqrgnngYhIuNMR1d7
        method: GET
      response:
        body: '{"id":"0oatqrgnngYhIuNMR1d7","orn":"orn:oktapreview:idp:00otp3dizx2aP6cf41d7:apps:classic-00_testacc987182423_6:0oatqrgnngYhIuNMR1d7","name":"classic-00_testacc987182423_6","label":"testAcc_987182423","status":"ACTIVE","lastUpdated":"2026-01-12T11:40:32.000Z","created":"2026-01-12T11:40:32.000Z","accessibility":{"selfService":false,"errorRedirectUrl":null,"loginRedirectUrl":null},"visibility":{"autoLaunch":false,"autoSubmitToolbar":false,"hide":{"iOS":false,"web":false},"appLinks":{"classic-00_testacc987182423_6_link":true}},"features":[],"signOnMode":"SAML_2_0","credentials":{"userNameTemplate":{"template":"${source.login}","type":"BUILT_IN"},"signing":{"kid":"qt68ZsTS-Cwjt4vtb1oMfl5fYpb5PNgTyylacVuH9HE"}},"universalLogout":{"status":"DISABLED","supportType":"FULL","identityStack":"NOT_SHARED","protocol":"GLOBAL_TOKEN_REVOCATION"},"settings":{"app":{},"notifications":{"vpn":{"network":{"connection":"DISABLED"},"message":null,"helpUrl":null}},"manualProvisioning":false,"implicitAssignment":false,"emOptInStatus":"NONE","notes":{"admin":null,"enduser":null},"signOn":{"defaultRelayState":"","ssoAcsUrl":"http://google.com","idpIssuer":"http://www.okta.com/${org.externalKey}","audience":"http://audience.com","recipient":"http://here.com","destination":"http://its-about-the-journey.com","subjectNameIdTemplate":"${user.userName}","subjectNameIdFormat":"urn:oasis:names:tc:SAML:1.1:nameid-format:emailAddress","responseSigned":true,"assertionSigned":false,"signatureAlgorithm":"RSA_SHA256","digestAlgorithm":"SHA256","honorForceAuthn":false,"authnContextClassRef":"urn:oasis:names:tc:SAML:2.0:ac:classes:PasswordProtectedTransport","spIssuer":"https://dunshire.okta.com","requestCompressed":false,"attributeStatements":[{"type":"GROUP","name":"groups","namespace":"urn:oasis:names:tc:SAML:2.0:attrname-format:unspecified","filterType":"REGEX","filterValue":".*"}],"inlineHooks":[],"spCertificate":{"x5c":["MIIFnDCCA4QCCQDBSLbiON2T1zANBgkqhkiG9w0BAQsFADCBjzELMAkGA1UEBhMCVVMxDjAMBgNV\r\nBAgMBU1haW5lMRAwDgYDVQQHDAdDYXJpYm91MRcwFQYDVQQKDA5Tbm93bWFrZXJzIEluYzEUMBIG\r\nA1UECwwLRW5naW5lZXJpbmcxDTALBgNVBAMMBFNub3cxIDAeBgkqhkiG9w0BCQEWEWVtYWlsQGV4\r\nYW1wbGUuY29tMB4XDTIwMTIwMzIyNDY0M1oXDTMwMTIwMTIyNDY0M1owgY8xCzAJBgNVBAYTAlVT\r\nMQ4wDAYDVQQIDAVNYWluZTEQMA4GA1UEBwwHQ2FyaWJvdTEXMBUGA1UECgwOU25vd21ha2VycyBJ\r\nbmMxFDASBgNVBAsMC0VuZ2luZWVyaW5nMQ0wCwYDVQQDDARTbm93MSAwHgYJKoZIhvcNAQkB[...]
    - id: 5
      request:
        host: classic-00.dne-okta.com
        form:
            kid:
                - qt68ZsTS-Cwjt4vtb1oMfl5fYpb5PNgTyylacVuH9HE
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/apps/0oatqrgnngYhIuNMR1d7/sso/saml/metadata?kid=qt68ZsTS-Cwjt4vtb1oMfl5fYpb5PNgTyylacVuH9HE
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?><md:EntityDescriptor entityID="http://www.okta.com/exktqrgnnfLie5dyj1d7" xmlns:md="urn:oasis:names:tc:SAML:2.0:metadata"><md:IDPSSODescriptor WantAuthnRequestsSigned="false" protocolSupportEnumeration="urn:oasis:names:tc:SAML:2.0:protocol"><md:KeyDescriptor use="signing"><ds:KeyInfo xmlns:ds="http://www.w3.org/2000/09/xmldsig#"><ds:X509Data><ds:X509Certificate>MIIDvDCCAqSgAwIBAgIGAZuyAfjMMA0GCSqGSIb3DQEBCwUAMIGeMQswCQYDVQQGEwJVUzETMBEG
            A1UECAwKQ2FsaWZvcm5pYTEWMBQGA1UEBwwNU2FuIEZyYW5jaXNjbzENMAsGA1UECgwET2t0YTEU
            MBIGA1UECwwLU1NPUHJvdmlkZXIxHzAdBgNVBAMMFmRjcC10ZXN0aW5nLTEwLTAxLTIwMjYxHDAa
            BgkqhkiG9w0BCQEWDWluZm9Ab2t0YS5jb20wHhcNMjYwMTEyMTEzOTMyWhcNMzYwMTEyMTE0MDMy
            WjCBnjELMAkGA1UEBhMCVVMxEzARBgNVBAgMCkNhbGlmb3JuaWExFjAUBgNVBAcMDVNhbiBGcmFu
            Y2lzY28xDTALBgNVBAoMBE9rdGExFDASBgNVBAsMC1NTT1Byb3ZpZGV[...]
    - id: 6
      request:
        host: classic-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/apps/0oatqrgnngYhIuNMR1d7/credentials/keys
        method: GET
      response:
        body: '[{"kty":"RSA","created":"2026-01-12T11:40:32.000Z","lastUpdated":"2026-01-12T11:40:32.000Z","expiresAt":"2036-01-12T11:40:32.000Z","kid":"qt68ZsTS-Cwjt4vtb1oMfl5fYpb5PNgTyylacVuH9HE","use":"sig","x5c":["MIIDvDCCAqSgAwIBAgIGAZuyAfjMMA0GCSqGSIb3DQEBCwUAMIGeMQswCQYDVQQGEwJVUzETMBEGA1UECAwKQ2FsaWZvcm5pYTEWMBQGA1UEBwwNU2FuIEZyYW5jaXNjbzENMAsGA1UECgwET2t0YTEUMBIGA1UECwwLU1NPUHJvdmlkZXIxHzAdBgNVBAMMFmRjcC10ZXN0aW5nLTEwLTAxLTIwMjYxHDAaBgkqhkiG9w0BCQEWDWluZm9Ab2t0YS5jb20wHhcNMjYwMTEyMTEzOTMyWhcNMzYwMTEyMTE0MDMyWjCBnjELMAkGA1UEBhMCVVMxEzARBgNVBAgMCkNhbGlmb3JuaWExFjAUBgNVBAcMDVNhbiBGcmFuY2lzY28xDTALBgNVBAoMBE9rdGExFDASBgNVBAsMC1NTT1Byb3ZpZGVyMR8wHQYDVQQDDBZkY3AtdGVzdGluZy0xMC0wMS0yMDI2MRwwGg[...]
[...]
    - id: 8
      request:
        host: classic-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/policies/rsttp3dj59mjbuxYg1d7
        method: GET
      response:
        body: '{"id":"rsttp3dj59mjbuxYg1d7","status":"ACTIVE","name":"Any two factors","description":"Require two factors to access.","priority":1,"system":true,"conditions":null,"created":"2026-01-10T05:25:53.000Z","lastUpdated":"2026-01-10T05:25:53.000Z","_links":{"self":{"href":"https://classic-00.dne-okta.com/api/v1/policies/rsttp3dj59mjbuxYg1d7","hints":{"allow":["GET","PUT"]}},"rules":{"href":"https://classic-00.dne-okta.com/api/v1/policies/rsttp3dj59mjbuxYg1d7/rules","hints":{"allow":["GET","POST"]}}},"type":"ACCESS_POLICY"}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.114126791s
    - id: 9
      request:
        host: classic-00.dne-okta.com
        body: |
            {"actions":{"appSignOn":{"access":"ALLOW","verificationMethod":{"factorMode":"2FA","reauthenticateIn":"PT2H","type":"ASSURANCE"}}},"conditions":{"network":{"connection":"ANYWHERE"},"platform":{"include":[{"os":{"expression":"","type":"OTHER"},"type":"DESKTOP"}]},"riskScore":{"level":"LOW"},"elCondition":{}},"name":"testAcc_987182423","priority":0,"type":"ACCESS_POLICY"}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://classic-00.dne-okta.com/api/v1/policies/rsttp3dj59mjbuxYg1d7/rules
        method: POST
      response:
        body: '{"id":"rultqrhelbI42mPR91d7","status":"ACTIVE","name":"testAcc_987182423","priority":0,"created":"2026-01-12T11:40:43.000Z","lastUpdated":"2026-01-12T11:40:43.000Z","system":false,"conditions":{"people":{"users":{"exclude":[]}},"network":{"connection":"ANYWHERE"},"platform":{"include":[{"type":"DESKTOP","os":{"type":"OTHER","expression":""}}],"exclude":[]},"riskScore":{"level":"LOW"},"userType":{"include":[],"exclude":[]}},"actions":{"appSignOn":{"access":"ALLOW","verificationMethod":{"factorMode":"2FA","type":"ASSURANCE","reauthenticateIn":"PT2H"},"keepMeSignedIn":{"postAuth":"NOT_ALLOWED"}}},"_links":{"self":{"href":"https://classic-00.dne-okta.com/api/v1/policies/rsttp3dj59mjbuxYg1d7/rules/rultqrhelbI42mPR91d7","hints":{"allow":["GET","PUT","DELETE"]}},"deactivate":{"href":"https://classic-00.dne-okta.com/api/v1/policies/rsttp3dj59mjbuxYg1d7/rules/rultqrhelbI42mPR91d7/lifecycle/deactivate","hints":{"allow":["POST"]}}},"type":"ACCESS_POLICY"}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.162592834s
    - id: 10
      request:
        host: classic-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/policies/rsttp3dj59mjbuxYg1d7/rules/rultqrhelbI42mPR91d7
        method: GET
      response:
        body: '{"id":"rultqrhelbI42mPR91d7","status":"ACTIVE","name":"testAcc_987182423","priority":0,"created":"2026-01-12T11:40:43.000Z","lastUpdated":"2026-01-12T11:40:43.000Z","system":false,"conditions":{"people":{"users":{"exclude":[]}},"network":{"connection":"ANYWHERE"},"platform":{"include":[{"type":"DESKTOP","os":{"type":"OTHER","expression":""}}],"exclude":[]},"riskScore":{"level":"LOW"},"userType":{"include":[],"exclude":[]}},"actions":{"appSignOn":{"access":"ALLOW","verificationMethod":{"factorMode":"2FA","type":"ASSURANCE","reauthenticateIn":"PT2H"},"keepMeSignedIn":{"postAuth":"NOT_ALLOWED"}}},"_links":{"self":{"href":"https://classic-00.dne-okta.com/api/v1/policies/rsttp3dj59mjbuxYg1d7/rules/rultqrhelbI42mPR91d7","hints":{"allow":["GET","PUT","DELETE"]}},"deactivate":{"href":"https://classic-00.dne-okta.com/api/v1/policies/rsttp3dj59mjbuxYg1d7/rules/rultqrhelbI42mPR91d7/lifecycle/deactivate","hints":{"allow":["POST"]}}},"type":"ACCESS_POLICY"}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.096552084s
[...]
    - id: 21
      request:
        host: classic-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/meta/types/user
        method: GET
      response:
        body: '[{"id":"otytp3dj21hUWPNOF1d7","displayName":"User","name":"user","description":"Okta user profile template with default permission settings","createdBy":"sprtp3dizy1peisdx1d7","lastUpdatedBy":"sprtp3dizy1peisdx1d7","created":"2026-01-10T05:25:50.000Z","lastUpdated":"2026-01-10T05:25:50.000Z","default":true,"_links":{"schema":{"rel":"schema","href":"https://classic-00.dne-okta.com/api/v1/meta/schemas/user/osctp3dj21hUWPNOF1d7","method":"GET"},"self":{"rel":"self","href":"https://classic-00.dne-okta.com/api/v1/meta/types/user/otytp3dj21hUWPNOF1d7","method":"GET"}}}]'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.175924834s
[...]
    - id: 31
      request:
        host: classic-00.dne-okta.com
        body: |
            {"gateways":[{"type":"RANGE","value":"2.3.4.5-2.3.4.15"},{"type":"CIDR","value":"1.2.3.4/24"}],"name":"testAcc_987182423","proxies":[{"type":"CIDR","value":"2.2.3.4/24"},{"type":"RANGE","value":"3.3.4.5-3.3.4.15"}],"status":"ACTIVE","type":"IP","usage":"POLICY"}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://classic-00.dne-okta.com/api/v1/zones
        method: POST
      response:
        body: '{"type":"IP","id":"nzotqrgjtnCS6icjz1d7","name":"testAcc_987182423","status":"ACTIVE","usage":"POLICY","created":"2026-01-12T11:41:08.000Z","lastUpdated":"2026-01-12T11:41:08.000Z","system":false,"gateways":[{"type":"RANGE","value":"2.3.4.5-2.3.4.15"},{"type":"CIDR","value":"1.2.3.4/24"}],"proxies":[{"type":"CIDR","value":"2.2.3.4/24"},{"type":"RANGE","value":"3.3.4.5-3.3.4.15"}],"_links":{"self":{"href":"https://classic-00.dne-okta.com/api/v1/zones/nzotqrgjtnCS6icjz1d7","hints":{"allow":["GET","PUT","DELETE"]}},"deactivate":{"href":"https://classic-00.dne-okta.com/api/v1/zones/nzotqrgjtnCS6icjz1d7/lifecycle/deactivate","hints":{"allow":["POST"]}}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.091578792s
    - id: 32
      request:
        host: classic-00.dne-okta.com
        body: |
            {"profile":{"name":"testAcc_2","description":"testAcc_2"}}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://classic-00.dne-okta.com/api/v1/groups
        method: POST
      response:
        body: '{"id":"00gtqrgzrbToTsalJ1d7","created":"2026-01-12T11:41:08.000Z","lastUpdated":"2026-01-12T11:41:08.000Z","lastMembershipUpdated":"2026-01-12T11:41:08.000Z","objectClass":["okta:user_group"],"type":"OKTA_GROUP","profile":{"name":"testAcc_2","description":"testAcc_2"},"_links":{"logo":[{"name":"medium","href":"https://op3static2.oktacdn.com/assets/img/logos/groups/odyssey/okta-medium.30ce6d4085dff29412984e4c191bc874.png","type":"image/png"},{"name":"large","href":"https://op3static2.oktacdn.com/assets/img/logos/groups/odyssey/okta-large.c3cb8cda8ae0add1b4fe928f5844dbe3.png","type":"image/png"}],"users":{"href":"https://classic-00.dne-okta.com/api/v1/groups/00gtqrgzrbToTsalJ1d7/users"},"apps":{"href":"https://classic-00.dne-okta.com/api/v1/groups/00gtqrgzrbToTsalJ1d7/apps"}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.101189s
    - id: 33
      request:
        host: classic-00.dne-okta.com
        body: |
            {"jailbreak":false,"name":"testAcc-987182423","osVersion":{"minimum":"12"},"platform":"ANDROID"}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://classic-00.dne-okta.com/api/v1/device-assurances
        method: POST
      response:
        body: '{"name":"testAcc-987182423","platform":"ANDROID","id":"daetqrh9raFbvQjEo1d7","osVersion":{"minimum":"12"},"jailbreak":false,"createdDate":"2026-01-12T11:41:08.000Z","createdBy":"00utp3dj3xq2WI3qn1d7","lastUpdate":"2026-01-12T11:41:08.000Z","lastUpdatedBy":"00utp3dj3xq2WI3qn1d7","resourceType":"DeviceAssurancePolicyEntity","resourceDisplayName":{"value":"testAcc-987182423","sensitive":false},"resourceId":"daetqrh9raFbvQjEo1d7","_links":{"self":{"href":"https://classic-00.dne-okta.com/api/v1/device-assurances/daetqrh9raFbvQjEo1d7","hints":{"allow":["GET","PUT","DELETE"]}}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.106328583s
[...]
    - id: 36
      request:
        host: classic-00.dne-okta.com
        body: |
            {"credentials":{"password":{}},"profile":{"email":"testAcc_4@example.com","firstName":"TestAcc","lastName":"Smith","login":"testAcc_4@example.com","postalAddress":null}}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://classic-00.dne-okta.com/api/v1/users
        method: POST
      response:
        body: '{"id":"00utqreb04vnhnEO81d7","status":"PROVISIONED","created":"2026-01-12T11:41:08.000Z","activated":"2026-01-12T11:41:08.000Z","statusChanged":"2026-01-12T11:41:08.000Z","lastLogin":null,"lastUpdated":"2026-01-12T11:41:08.000Z","passwordChanged":null,"type":{"id":"otytp3dj21hUWPNOF1d7"},"profile":{"firstName":"TestAcc","lastName":"Smith","mobilePhone":null,"secondEmail":null,"login":"testAcc_4@example.com","email":"testAcc_4@example.com"},"credentials":{"provider":{"type":"OKTA","name":"OKTA"}},"_links":{"suspend":{"href":"https://classic-00.dne-okta.com/api/v1/users/00utqreb04vnhnEO81d7/lifecycle/suspend","method":"POST"},"schema":{"href":"https://classic-00.dne-okta.com/api/v1/meta/schemas/user/osctp3dj21hUWPNOF1d7"},"resetPassword":{"href":"https://classic-00.dne-okta.com/api/v1/users/00utqreb04vnhnEO81d7/lifecycle/reset_password","method":"POST"},"reactivate":{"href":"https://classic-00.dne-okta.com/api/v1/users/00utqreb04vnhnEO81d7/lifecycle/reactivate","method":"POST"},"self":{"href":"https://classic-00.dne-okta.com/api/v1/users/00utqreb04vnhnEO81d7"},"resetFactors":{"href":"https://classic-00.dne-okta.com/api/v1/users/00utqreb04vnhnEO81d7/lifecycle/reset_factors","method":"POST"},"type":{"href":"https://classic-00.dne-okta.com/api/v1/meta/types/user/otytp3dj21hUWPNOF1d7"},"deactivate":{"href":"https://classic-00.dne-okta.com/api/v1/users/00utqreb04vnhnEO81d7/lifecycle/deactivate","method":"POST"}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.239775542s
[...]
    - id: 41
      request:
        host: classic-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/zones/nzotqrgjtnCS6icjz1d7
        method: GET
      response:
        body: '{"type":"IP","id":"nzotqrgjtnCS6icjz1d7","name":"testAcc_987182423","status":"ACTIVE","usage":"POLICY","created":"2026-01-12T11:41:08.000Z","lastUpdated":"2026-01-12T11:41:08.000Z","system":false,"gateways":[{"type":"RANGE","value":"2.3.4.5-2.3.4.15"},{"type":"CIDR","value":"1.2.3.4/24"}],"proxies":[{"type":"CIDR","value":"2.2.3.4/24"},{"type":"RANGE","value":"3.3.4.5-3.3.4.15"}],"_links":{"self":{"href":"https://classic-00.dne-okta.com/api/v1/zones/nzotqrgjtnCS6icjz1d7","hints":{"allow":["GET","PUT","DELETE"]}},"deactivate":{"href":"https://classic-00.dne-okta.com/api/v1/zones/nzotqrgjtnCS6icjz1d7/lifecycle/deactivate","hints":{"allow":["POST"]}}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.091170375s
    - id: 42
      request:
        host: classic-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/groups/00gtqrgzrbToTsalJ1d7
        method: GET
      response:
        body: '{"id":"00gtqrgzrbToTsalJ1d7","created":"2026-01-12T11:41:08.000Z","lastUpdated":"2026-01-12T11:41:08.000Z","lastMembershipUpdated":"2026-01-12T11:41:08.000Z","objectClass":["okta:user_group"],"type":"OKTA_GROUP","profile":{"name":"testAcc_2","description":"testAcc_2"},"_links":{"logo":[{"name":"medium","href":"https://op3static2.oktacdn.com/assets/img/logos/groups/odyssey/okta-medium.30ce6d4085dff29412984e4c191bc874.png","type":"image/png"},{"name":"large","href":"https://op3static2.oktacdn.com/assets/img/logos/groups/odyssey/okta-large.c3cb8cda8ae0add1b4fe928f5844dbe3.png","type":"image/png"}],"users":{"href":"https://classic-00.dne-okta.com/api/v1/groups/00gtqrgzrbToTsalJ1d7/users"},"apps":{"href":"https://classic-00.dne-okta.com/api/v1/groups/00gtqrgzrbToTsalJ1d7/apps"}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.089139708s
    - id: 43
      request:
        host: classic-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/groups/00gtqrfyx8KPPAsq41d7
        method: GET
      response:
        body: '{"id":"00gtqrfyx8KPPAsq41d7","created":"2026-01-12T11:41:08.000Z","lastUpdated":"2026-01-12T11:41:08.000Z","lastMembershipUpdated":"2026-01-12T11:41:08.000Z","objectClass":["okta:user_group"],"type":"OKTA_GROUP","profile":{"name":"testAcc_1","description":"testAcc_1"},"_links":{"logo":[{"name":"medium","href":"https://op3static2.oktacdn.com/assets/img/logos/groups/odyssey/okta-medium.30ce6d4085dff29412984e4c191bc874.png","type":"image/png"},{"name":"large","href":"https://op3static2.oktacdn.com/assets/img/logos/groups/odyssey/okta-large.c3cb8cda8ae0add1b4fe928f5844dbe3.png","type":"image/png"}],"users":{"href":"https://classic-00.dne-okta.com/api/v1/groups/00gtqrfyx8KPPAsq41d7/users"},"apps":{"href":"https://classic-00.dne-okta.com/api/v1/groups/00gtqrfyx8KPPAsq41d7/apps"}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.103218667s
[...]
    - id: 45
      request:
        host: classic-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/users/00utqrg3ohclXDUkD1d7
        method: GET
      response:
        body: '{"id":"00utqrg3ohclXDUkD1d7","status":"PROVISIONED","created":"2026-01-12T11:41:08.000Z","activated":"2026-01-12T11:41:08.000Z","statusChanged":"2026-01-12T11:41:08.000Z","lastLogin":null,"lastUpdated":"2026-01-12T11:41:08.000Z"[...]
    - id: 46
      request:
        host: classic-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/users/00utqreb04vnhnEO81d7
        method: GET
      response:
        body: '{"id":"00utqreb04vnhnEO81d7","status":"PROVISIONED","created":"2026-01-12T11:41:08.000Z","activated":"2026-01-12T11:41:08.000Z","statusChanged":"2026-01-12T11:41:08.000Z","lastLogin":null,"lastUpdated":"2026-01-12T11:41:08.000Z"[...]
    - id: 47
      request:
        host: classic-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/users/00utqrg3oieBzFHfU1d7
        method: GET
      response:
        body: '{"id":"00utqrg3oieBzFHfU1d7","status":"PROVISIONED","created":"2026-01-12T11:41:08.000Z","activated":"2026-01-12T11:41:08.000Z","statusChanged":"2026-01-12T11:41:08.000Z","lastLogin":null,"lastUpdated":"2026-01-12T11:41:08.000Z"[...]
    - id: 48
      request:
        host: classic-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/groups/00gtqrgw245i1ecO31d7
        method: GET
      response:
        body: '{"id":"00gtqrgw245i1ecO31d7","created":"2026-01-12T11:41:09.000Z","lastUpdated":"2026-01-12T11:41:09.000Z","lastMembershipUpdated":"2026-01-12T11:41:09.000Z","objectClass":["okta:user_group"],"type":"OKTA_GROUP","profile":{"name":"testAcc_4","description":"testAcc_4"},"_links":{"logo":[{"name":"medium","href":"https://op3static2.oktacdn.com/assets/img/logos/groups/odyssey/okta-medium.30ce6d4085dff29412984e4c191bc874.png","type":"image/png"},{"name":"large","href":"https://op3static2.oktacdn.com/assets/img/logos/groups/odyssey/okta-large.c3cb8cda8ae0add1b4fe928f5844dbe3.png","type":"image/png"}],"users":{"href":"https://classic-00.dne-okta.com/api/v1/groups/00gtqrgw245i1ecO31d7/users"},"apps":{"href":"https://classic-00.dne-okta.com/api/v1/groups/00gtqrgw245i1ecO31d7/apps"}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.090460875s
    - id: 49
      request:
        host: classic-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/meta/types/user/otytqrf1v1NNyal671d7
        method: GET
      response:
        body: '{"id":"otytqrf1v1NNyal671d7","displayName":"Terraform Acceptance Test User Type Updated","name":"testAcc_987182423","description":"Terraform Acceptance Test User Type Updated","createdBy":"00utp3dj3xq2WI3qn1d7","lastUpdatedBy":"00utp3dj3xq2WI3qn1d7","created":"2026-01-12T11:41:08.000Z","lastUpdated":"2026-01-12T11:41:08.000Z","default":false,"_links":{"schema":{"rel":"schema","href":"https://classic-00.dne-okta.com/api/v1/meta/schemas/user/osctqrf1v1NNyal671d7","method":"GET"},"self":{"rel":"self","href":"https://classic-00.dne-okta.com/api/v1/meta/types/user/otytqrf1v1NNyal671d7","method":"GET"}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.893219042s
    - id: 50
      request:
        host: classic-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/users/00utqrhelkId9BAol1d7
        method: GET
      response:
        body: '{"id":"00utqrhelkId9BAol1d7","status":"PROVISIONED","created":"2026-01-12T11:41:08.000Z","activated":"2026-01-12T11:41:08.000Z","statusChanged":"2026-01-12T11:41:08.000Z","lastLogin":null,"lastUpdated":"2026-01-12T11:41:08.000Z"[...]
[...]
    - id: 52
      request:
        host: classic-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/groups/00gtqrgbb04Yo2FvQ1d7
        method: GET
      response:
[...]
