---
version: 2
interactions:
    - id: 0
      request:
        host: classic-00.dne-okta.com
        body: |
            {"accessibility":{"selfService":false},"credentials":{"userNameTemplate":{"template":"${source.login}","type":"BUILT_IN"}},"label":"testAcc_987182423","settings":{"app":{},"implicitAssignment":false,"notes":{"admin":null,"enduser":null},"signOn":{"allowMultipleAcsEndpoints":false,"assertionSigned":false,"attributeStatements":[{"filterType":"REGEX","filterValue":".*","name":"groups","namespace":"urn:oasis:names:tc:SAML:2.0:attrname-format:unspecified","type":"GROUP"}],"audience":"http://audience.com","audienceOverride":"","authnContextClassRef":"urn:oasis:names:tc:SAML:2.0:ac:classes:PasswordProtectedTransport","defaultRelayState":"","destination":"http://its-about-the-journey.com","destinationOverride":"","digestAlgorithm":"SHA256","honorForceAuthn":false,"recipient":"http://here.com","recipientOverride":"","responseSigned":true,"samlSignedRequestEnabled":false,"signatureAlgorithm":"RSA_SHA256","slo":{"enabled":true,"issuer":"https://dunshire.okta.com","logoutUrl":"https://dunshire.okta.com/logout"},"spCertificate":{"x5c":["MIIFnDCCA4QCCQDBSLbiON2T1zANBgkqhkiG9w0BAQsFADCBjzELMAkGA1UEBhMCVVMxDjAMBgNV\r\nBAgMBU1haW5lMRAwDgYDVQQHDAdDYXJpYm91MRcwFQYDVQQKDA5Tbm93bWFrZXJzIEluYzEUMBIG\r\nA1UECwwLRW5naW5lZXJpbmcxDTALBgNVBAMMBFNub3cxIDAeBgkqhkiG9w0BCQEWEWVtYWlsQGV4\r\nYW1wbGUuY29tMB4XDTIwMTIwMzIyNDY0M1oXDTMwMTIwMTIyNDY0M1owgY8xCzAJBgNVBAYTAlVT\r\nMQ4wDAYDVQQIDAVNYWluZTEQMA4GA1UEBwwHQ2FyaWJvdTEXMBUGA1UECgwOU25vd21ha2VycyBJ\r\nbmMxFDASBgNVBAsMC0VuZ2luZWVyaW5nMQ0wCwYDVQQDDARTbm93MSAwHgYJKoZIhvcNAQkBFhFl\r\nbWFpbEBleGFtcGxlLm[...]
    - id: 1
      request:
        host: classic-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/.well-known/okta-organization
        method: GET
      response:
        body: '{"id":"00oqq6cti0hre4wUB1d7","cell":"op3","_links":{"organization":{"href":"https://classic-00.dne-okta.com"}},"pipeline":"idx","settings":{"analyticsCollectionEnabled":false,"bugReportingEnabled":true,"omEnabled":false,"pssoEnabled":true,"desktopMFAEnabled":true,"itpEnabled":true}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.043655042s
    - id: 2
      request:
        host: classic-00.dne-okta.com
        form:
            type:
                - ACCESS_POLICY
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/policies?type=ACCESS_POLICY
        method: GET
      response:
        body: '[{"id":"rstqq6ctn3WGXVqOm1d7","status":"ACTIVE","name":"Okta Admin Console","priority":1,"system":false,"conditions":null,"created":"2025-10-07T06:36:58.000Z","lastUpdated":"2025-10-07T06:36:58.000Z","_links":{"mappings":{"href":"https://classic-00.dne-okta.com/api/v1/policies/rstqq6ctn3WGXVqOm1d7/mappings","hints":{"allow":["GET","POST"]}},"self":{"href":"https://classic-00.dne-okta.com/api/v1/policies/rstqq6ctn3WGXVqOm1d7","hints":{"allow":["GET","PUT","DELETE"]}},"rules":{"href":"https://classic-00.dne-okta.com/api/v1/policies/rstqq6ctn3WGXVqOm1d7/rules","hints":{"allow":["GET","POST"]}},"deactivate":{"href":"https://classic-00.dne-okta.com/api/v1/policies/rstqq6ctn3WGXVqOm1d7/lifecycle/deactivate","hints":{"allow":["POST"]}}},"_embedded":{"resourceType":"APP"},"type":"ACCESS_POLICY"},{"id":"rstqq6ctnaTuxncHq1d7","status":"ACTIVE","name":"Okta Dashboard","priority":1,"system":false,"conditions":null,"created":"2025-10-07T06:36:58.000Z","lastUpdated":"2025-10-07T06:36:58.000Z","_links":{"mappings":{"href":"https://classic-00.dne-okta.com/api/v1/policies/rstqq6ctnaTuxncHq1d7/mappings","hints":{"allow":["GET","POST"]}},"self":{"href":"https://classic-00.dne-okta.com/api/v1/policies/rstqq6ctnaTuxncHq1d7","hints":{"allow":["GET","PUT","DELETE"]}},"ru[...]
    - id: 3
      request:
        host: classic-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/apps/0oau52l54c3YDQ6zy1d7/policies/rstqq6ctnn8tuHBCM1d7
        method: PUT
      response:
        body: ""
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
        status: 204 No Content
        code: 204
        duration: 1.160596042s
    - id: 4
      request:
        host: classic-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/apps/0oau52l54c3YDQ6zy1d7
        method: GET
      response:
        body: '{"id":"0oau52l54c3YDQ6zy1d7","orn":"orn:oktapreview:idp:00oqq6cti0hre4wUB1d7:apps:classic-00_testacc987182423_10:0oau52l54c3YDQ6zy1d7","name":"classic-00_testacc987182423_10","label":"testAcc_987182423","status":"ACTIVE","lastUpdated":"2026-01-23T08:52:18.000Z","created":"2026-01-23T08:52:17.000Z","accessibility":{"selfService":false,"errorRedirectUrl":null,"loginRedirectUrl":null},"visibility":{"autoLaunch":false,"autoSubmitToolbar":false,"hide":{"iOS":false,"web":false},"appLinks":{"classic-00_testacc987182423_10_link":true}},"features":[],"signOnMode":"SAML_2_0","credentials":{"userNameTemplate":{"template":"${source.login}","type":"BUILT_IN"},"signing":{"kid":"pbjiygaPsDFxYrB4j29scbAPxIYYOZsWY5olFFhYn5A"}},"universalLogout":{"status":"DISABLED","supportType":"FULL","identityStack":"NOT_SHARED","protocol":"GLOBAL_TOKEN_REVOCATION"},"settings":{"app":{},"notifications":{"vpn":{"network":{"connection":"DISABLED"},"message":null,"helpUrl":null}},"manualProvisioning":false,"implicitAssignment":false,"emOptInStatus":"NONE","notes":{"admin":null,"enduser":null},"signOn":{"defaultRelayState":"","ssoAcsUrl":"http://google.com","idpIssuer":"http://www.okta.com/${org.externalKey}","audience":"http://audience.com","recipient":"http://here.com","destination":"http://its-about-the-journey.com","subjectNameIdTemplate":"${user.userName}","subjectNameIdFormat":"urn:oasis:names:tc:SAML:1.1:nameid-format:emailAddress","responseSigned":true,"assertionSigned":false,"signatureAlgorithm":"RSA_SHA256","digestAlgorithm":"SHA256","honorForceAuthn":false,"authnContextClassRef":"urn:oasis:names:tc:SAML:2.0:ac:classes:PasswordProtectedTransport","spIssuer":"https://dunshire.okta.com","requestCompressed":false,"attributeStatements":[{"type":"GROUP","name":"groups","namespace":"urn:oasis:names:tc:SAML:2.0:attrname-format:unspecified","filterType":"REGEX","filterValue":".*"}],"inlineHooks":[],"spCertificate":{"x5c":["MIIFnDCCA4QCCQDBSLbiON2T1zANBgkqhkiG9w0BAQsFADCBjzELMAkGA1UEBhMCVVMxDjAMBgNV\r\nBAgMBU1haW5lMRAwDgYDVQQHDAdDYXJpYm91MRcwFQYDVQQKDA5Tbm93bWFrZXJzIEluYzEUMBIG\r\nA1UECwwLRW5naW5lZXJpbmcxDTALBgNVBAMMBFNub3cxIDAeBgkqhkiG9w0BCQEWEWVtYWlsQGV4\r\nYW1wbGUuY29tMB4XDTIwMTIwMzIyNDY0M1oXDTMwMTIwMTIyNDY0M1owgY8xCzAJBgNVBAYTAlVT\r\nMQ4wDAYDVQQIDAVNYWluZTEQMA4GA1UEBwwHQ2FyaWJvdTEXMBUGA1UECgwOU25vd21ha2VycyBJ\r\nbmMxFDASBgNVBAsMC0VuZ2luZWVyaW5nMQ0wCwYDVQQDDARTbm93MSAwHgYJKoZIhvcNAQkB[...]
    - id: 5
      request:
        host: classic-00.dne-okta.com
        form:
            kid:
                - pbjiygaPsDFxYrB4j29scbAPxIYYOZsWY5olFFhYn5A
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/apps/0oau52l54c3YDQ6zy1d7/sso/saml/metadata?kid=pbjiygaPsDFxYrB4j29scbAPxIYYOZsWY5olFFhYn5A
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?><md:EntityDescriptor entityID="http://www.okta.com/exku52l54bjfZxldW1d7" xmlns:md="urn:oasis:names:tc:SAML:2.0:metadata"><md:IDPSSODescriptor WantAuthnRequestsSigned="false" protocolSupportEnumeration="urn:oasis:names:tc:SAML:2.0:protocol"><md:KeyDescriptor use="signing"><ds:KeyInfo xmlns:ds="http://www.w3.org/2000/09/xmldsig#"><ds:X509Data><ds:X509Certificate>MIIDrDCCApSgAwIBAgIGAZvqDeWDMA0GCSqGSIb3DQEBCwUAMIGWMQswCQYDVQQGEwJVUzETMBEG
            A1UECAwKQ2FsaWZvcm5pYTEWMBQGA1UEBwwNU2FuIEZyYW5jaXNjbzENMAsGA1UECgwET2t0YTEU
            MBIGA1UECwwLU1NPUHJvdmlkZXIxFzAVBgNVBAMMDmRvdG5ldC1zZGstZGNwMRwwGgYJKoZIhvcN
            AQkBFg1pbmZvQG9rdGEuY29tMB4XDTI2MDEyMzA4NTExN1oXDTM2MDEyMzA4NTIxN1owgZYxCzAJ
            BgNVBAYTAlVTMRMwEQYDVQQIDApDYWxpZm9ybmlhMRYwFAYDVQQHDA1TYW4gRnJhbmNpc2NvMQ0w
            CwYDVQQKDARPa3RhMRQwEgYDVQQLDAtTU09Qcm92aWRlcjEXMBUGA1U[...]
    - id: 6
      request:
        host: classic-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/apps/0oau52l54c3YDQ6zy1d7/credentials/keys
        method: GET
      response:
        body: '[{"kty":"RSA","created":"2026-01-23T08:52:17.000Z","lastUpdated":"2026-01-23T08:52:17.000Z","expiresAt":"2036-01-23T08:52:17.000Z","kid":"pbjiygaPsDFxYrB4j29scbAPxIYYOZsWY5olFFhYn5A","use":"sig","x5c":["MIIDrDCCApSgAwIBAgIGAZvqDeWDMA0GCSqGSIb3DQEBCwUAMIGWMQswCQYDVQQGEwJVUzETMBEGA1UECAwKQ2FsaWZvcm5pYTEWMBQGA1UEBwwNU2FuIEZyYW5jaXNjbzENMAsGA1UECgwET2t0YTEUMBIGA1UECwwLU1NPUHJvdmlkZXIxFzAVBgNVBAMMDmRvdG5ldC1zZGstZGNwMRwwGgYJKoZIhvcNAQkBFg1pbmZvQG9rdGEuY29tMB4XDTI2MDEyMzA4NTExN1oXDTM2MDEyMzA4NTIxN1owgZYxCzAJBgNVBAYTAlVTMRMwEQYDVQQIDApDYWxpZm9ybmlhMRYwFAYDVQQHDA1TYW4gRnJhbmNpc2NvMQ0wCwYDVQQKDARPa3RhMRQwEgYDVQQLDAtTU09Qcm92aWRlcjEXMBUGA1UEAwwOZG90bmV0LXNkay1kY3AxHDAaBgkqhkiG9w0BCQEWDWluZm[...]
[...]
    - id: 8
      request:
        host: classic-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/policies/rstqq6ctnn8tuHBCM1d7
        method: GET
      response:
        body: '{"id":"rstqq6ctnn8tuHBCM1d7","status":"ACTIVE","name":"Any two factors","description":"Require two factors to access.","priority":1,"system":true,"conditions":null,"created":"2025-10-07T06:36:59.000Z","lastUpdated":"2025-10-07T06:36:59.000Z","_links":{"self":{"href":"https://classic-00.dne-okta.com/api/v1/policies/rstqq6ctnn8tuHBCM1d7","hints":{"allow":["GET","PUT"]}},"rules":{"href":"https://classic-00.dne-okta.com/api/v1/policies/rstqq6ctnn8tuHBCM1d7/rules","hints":{"allow":["GET","POST"]}}},"type":"ACCESS_POLICY"}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.051816708s
    - id: 9
      request:
        host: classic-00.dne-okta.com
        body: |
            {"actions":{"appSignOn":{"access":"ALLOW","verificationMethod":{"factorMode":"2FA","reauthenticateIn":"PT2H","type":"ASSURANCE"}}},"conditions":{"network":{"connection":"ANYWHERE"},"platform":{"include":[{"os":{"expression":"","type":"OTHER"},"type":"DESKTOP"}]},"riskScore":{"level":"LOW"},"elCondition":{}},"name":"testAcc_987182423","priority":0,"type":"ACCESS_POLICY"}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://classic-00.dne-okta.com/api/v1/policies/rstqq6ctnn8tuHBCM1d7/rules
        method: POST
      response:
        body: '{"id":"rulu5301hudMRW4ni1d7","status":"ACTIVE","name":"testAcc_987182423","priority":0,"created":"2026-01-23T08:52:29.000Z","lastUpdated":"2026-01-23T08:52:29.000Z","system":false,"conditions":{"people":{"users":{"exclude":[]}},"network":{"connection":"ANYWHERE"},"platform":{"include":[{"type":"DESKTOP","os":{"type":"OTHER","expression":""}}],"exclude":[]},"riskScore":{"level":"LOW"},"userType":{"include":[],"exclude":[]}},"actions":{"appSignOn":{"access":"ALLOW","verificationMethod":{"factorMode":"2FA","type":"ASSURANCE","reauthenticateIn":"PT2H"},"keepMeSignedIn":{"postAuth":"NOT_ALLOWED"}}},"_links":{"self":{"href":"https://classic-00.dne-okta.com/api/v1/policies/rstqq6ctnn8tuHBCM1d7/rules/rulu5301hudMRW4ni1d7","hints":{"allow":["GET","PUT","DELETE"]}},"deactivate":{"href":"https://classic-00.dne-okta.com/api/v1/policies/rstqq6ctnn8tuHBCM1d7/rules/rulu5301hudMRW4ni1d7/lifecycle/deactivate","hints":{"allow":["POST"]}}},"type":"ACCESS_POLICY"}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.199592958s
    - id: 10
      request:
        host: classic-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/policies/rstqq6ctnn8tuHBCM1d7/rules/rulu5301hudMRW4ni1d7
        method: GET
      response:
        body: '{"id":"rulu5301hudMRW4ni1d7","status":"ACTIVE","name":"testAcc_987182423","priority":0,"created":"2026-01-23T08:52:29.000Z","lastUpdated":"2026-01-23T08:52:29.000Z","system":false,"conditions":{"people":{"users":{"exclude":[]}},"network":{"connection":"ANYWHERE"},"platform":{"include":[{"type":"DESKTOP","os":{"type":"OTHER","expression":""}}],"exclude":[]},"riskScore":{"level":"LOW"},"userType":{"include":[],"exclude":[]}},"actions":{"appSignOn":{"access":"ALLOW","verificationMethod":{"factorMode":"2FA","type":"ASSURANCE","reauthenticateIn":"PT2H"},"keepMeSignedIn":{"postAuth":"NOT_ALLOWED"}}},"_links":{"self":{"href":"https://classic-00.dne-okta.com/api/v1/policies/rstqq6ctnn8tuHBCM1d7/rules/rulu5301hudMRW4ni1d7","hints":{"allow":["GET","PUT","DELETE"]}},"deactivate":{"href":"https://classic-00.dne-okta.com/api/v1/policies/rstqq6ctnn8tuHBCM1d7/rules/rulu5301hudMRW4ni1d7/lifecycle/deactivate","hints":{"allow":["POST"]}}},"type":"ACCESS_POLICY"}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.053718791s
[...]
    - id: 21
      request:
        host: classic-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/meta/types/user
        method: GET
      response:
        body: '[{"id":"otyqq6ctk459iqtED1d7","displayName":"User","name":"user","description":"Okta user profile template with default permission settings","createdBy":"sprqq6cti1x6lF25I1d7","lastUpdatedBy":"00uqq6ctmb6vABZvJ1d7","created":"2025-10-07T06:36:54.000Z","lastUpdated":"2025-12-22T08:05:59.000Z","default":true,"_links":{"schema":{"rel":"schema","href":"https://classic-00.dne-okta.com/api/v1/meta/schemas/user/oscqq6ctk459iqtED1d7","method":"GET"},"self":{"rel":"self","href":"https://classic-00.dne-okta.com/api/v1/meta/types/user/otyqq6ctk459iqtED1d7","method":"GET"}}},{"id":"otyrcffq1zUfNKiZ11d7","displayName":"First Type","name":"test_type_fc92597a792240c","description":"First description","createdBy":"00uqq6ctmb6vABZvJ1d7","lastUpdatedBy":"00uqq6ctmb6vABZvJ1d7","created":"2025-10-28T08:38:48.000Z","lastUpdated":"2025-10-28T08[...]
[...]
    - id: 31
      request:
        host: classic-00.dne-okta.com
        body: |
            {"profile":{"name":"testAcc_2","description":"testAcc_2"}}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://classic-00.dne-okta.com/api/v1/groups
        method: POST
      response:
        body: '{"id":"00gu52q4uiAgArO271d7","created":"2026-01-23T08:52:56.000Z","lastUpdated":"2026-01-23T08:52:56.000Z","lastMembershipUpdated":"2026-01-23T08:52:56.000Z","objectClass":["okta:user_group"],"type":"OKTA_GROUP","profile":{"name":"testAcc_2","description":"testAcc_2"},"_links":{"logo":[{"name":"medium","href":"https://op3static2.oktacdn.com/assets/img/logos/groups/odyssey/okta-medium.30ce6d4085dff29412984e4c191bc874.png","type":"image/png"},{"name":"large","href":"https://op3static2.oktacdn.com/assets/img/logos/groups/odyssey/okta-large.c3cb8cda8ae0add1b4fe928f5844dbe3.png","type":"image/png"}],"owners":{"href":"https://classic-00.dne-okta.com/api/v1/groups/00gu52q4uiAgArO271d7/owners"},"users":{"href":"https://classic-00.dne-okta.com/api/v1/groups/00gu52q4uiAgArO271d7/users"},"apps":{"href":"https://classic-00.dne-okta.com/api/v1/groups/00gu52q4uiAgArO271d7/apps"}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.679914333s
    - id: 32
      request:
        host: classic-00.dne-okta.com
        body: |
            {"gateways":[{"type":"RANGE","value":"2.3.4.5-2.3.4.15"},{"type":"CIDR","value":"1.2.3.4/24"}],"name":"testAcc_987182423","proxies":[{"type":"CIDR","value":"2.2.3.4/24"},{"type":"RANGE","value":"3.3.4.5-3.3.4.15"}],"status":"ACTIVE","type":"IP","usage":"POLICY"}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://classic-00.dne-okta.com/api/v1/zones
        method: POST
      response:
        body: '{"type":"IP","id":"nzou52za2zfPh8P5J1d7","name":"testAcc_987182423","status":"ACTIVE","usage":"POLICY","created":"2026-01-23T08:52:56.000Z","lastUpdated":"2026-01-23T08:52:56.000Z","system":false,"gateways":[{"type":"RANGE","value":"2.3.4.5-2.3.4.15"},{"type":"CIDR","value":"1.2.3.4/24"}],"proxies":[{"type":"CIDR","value":"2.2.3.4/24"},{"type":"RANGE","value":"3.3.4.5-3.3.4.15"}],"_links":{"self":{"href":"https://classic-00.dne-okta.com/api/v1/zones/nzou52za2zfPh8P5J1d7","hints":{"allow":["GET","PUT","DELETE"]}},"deactivate":{"href":"https://classic-00.dne-okta.com/api/v1/zones/nzou52za2zfPh8P5J1d7/lifecycle/deactivate","hints":{"allow":["POST"]}}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.684559833s
[...]
    - id: 35
      request:
        host: classic-00.dne-okta.com
        body: |
            {"credentials":{"password":{}},"profile":{"email":"testAcc_4@example.com","firstName":"TestAcc","lastName":"Smith","login":"testAcc_4@example.com","postalAddress":null}}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://classic-00.dne-okta.com/api/v1/users
        method: POST
      response:
        body: '{"id":"00uu52tcjhrztgtdP1d7","status":"PROVISIONED","created":"2026-01-23T08:52:56.000Z","activated":"2026-01-23T08:52:56.000Z","statusChanged":"2026-01-23T08:52:56.000Z","lastLogin":null,"lastUpdated":"2026-01-23T08:52:56.000Z","passwordChanged":null,"realmId":"guoqq6qu6vxx74CDh1d7","type":{"id":"otyqq6ctk459iqtED1d7"},"profile":{"firstName":"TestAcc","lastName":"Smith","mobilePhone":null,"secondEmail":null,"login":"testAcc_4@example.com","email":"testAcc_4@example.com"},"credentials":{"provider":{"type":"OKTA","name":"OKTA"}},"_links":{"suspend":{"href":"https://classic-00.dne-okta.com/api/v1/users/00uu52tcjhrztgtdP1d7/lifecycle/suspend","method":"POST"},"schema":{"href":"https://classic-00.dne-okta.com/api/v1/meta/schemas/user/oscqq6ctk459iqtED1d7"},"resetPassword":{"href":"https://classic-00.dne-okta.com/api/v1/users/00uu52tcjhrztgtdP1d7/lifecycle/reset_password","method":"POST"},"reactivate":{"href":"https://classic-00.dne-okta.com/api/v1/users/00uu52tcjhrztgtdP1d7/lifecycle/reactivate","method":"POST"},"self":{"href":"https://classic-00.dne-okta.com/api/v1/users/00uu52tcjhrztgtdP1d7"},"resetFactors":{"href":"https://classic-00.dne-okta.com/api/v1/users/00uu52tcjhrztgtdP1d7/lifecycle/reset_factors","method":"POST"},"type":{"href":"https://classic-00.dne-okta.com/api/v1/meta/types/user/otyqq6ctk459iqtED1d7"},"deactivate":{"href":"https://classic-00.dne-okta.com/api/v1/users/00uu52tcjhrztgtdP1d7/lifecycle/deactivate","method":"POST"}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 2.020970542s
[...]
    - id: 38
      request:
        host: classic-00.dne-okta.com
        body: |
            {"jailbreak":false,"name":"testAcc-987182423","osVersion":{"minimum":"12"},"platform":"ANDROID"}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://classic-00.dne-okta.com/api/v1/device-assurances
        method: POST
      response:
        body: '{"name":"testAcc-987182423","platform":"ANDROID","id":"daeu52t7hnp5dKTQI1d7","osVersion":{"minimum":"12"},"jailbreak":false,"createdDate":"2026-01-23T08:52:57.000Z","createdBy":"00usjkchhgt3fqkr41d7","lastUpdate":"2026-01-23T08:52:57.000Z","lastUpdatedBy":"00usjkchhgt3fqkr41d7","resourceType":"DeviceAssurancePolicyEntity","resourceDisplayName":{"value":"testAcc-987182423","sensitive":false},"resourceId":"daeu52t7hnp5dKTQI1d7","_links":{"self":{"href":"https://classic-00.dne-okta.com/api/v1/device-assurances/daeu52t7hnp5dKTQI1d7","hints":{"allow":["GET","PUT","DELETE"]}}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 2.514080542s
[...]
    - id: 40
      request:
        host: classic-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/groups/00gu535xoiua0Hr651d7
        method: GET
      response:
        body: '{"id":"00gu535xoiua0Hr651d7","created":"2026-01-23T08:52:56.000Z","lastUpdated":"2026-01-23T08:52:56.000Z","lastMembershipUpdated":"2026-01-23T08:52:56.000Z","objectClass":["okta:user_group"],"type":"OKTA_GROUP","profile":{"name":"testAcc_1","description":"testAcc_1"},"_links":{"logo":[{"name":"medium","href":"https://op3static2.oktacdn.com/assets/img/logos/groups/odyssey/okta-medium.30ce6d4085dff29412984e4c191bc874.png","type":"image/png"},{"name":"large","href":"https://op3static2.oktacdn.com/assets/img/logos/groups/odyssey/okta-large.c3cb8cda8ae0add1b4fe928f5844dbe3.png","type":"image/png"}],"owners":{"href":"https://classic-00.dne-okta.com/api/v1/groups/00gu535xoiua0Hr651d7/owners"},"users":{"href":"https://classic-00.dne-okta.com/api/v1/groups/00gu535xoiua0Hr651d7/users"},"apps":{"href":"https://classic-00.dne-okta.com/api/v1/groups/00gu535xoiua0Hr651d7/apps"}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.037386625s
    - id: 41
      request:
        host: classic-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/zones/nzou52za2zfPh8P5J1d7/lifecycle/activate
        method: POST
      response:
        body: '{"type":"IP","id":"nzou52za2zfPh8P5J1d7","name":"testAcc_987182423","status":"ACTIVE","usage":"POLICY","created":"2026-01-23T08:52:56.000Z","lastUpdated":"2026-01-23T08:52:57.000Z","system":false,"gateways":[{"type":"RANGE","value":"2.3.4.5-2.3.4.15"},{"type":"CIDR","value":"1.2.3.4/24"}],"proxies":[{"type":"CIDR","value":"2.2.3.4/24"},{"type":"RANGE","value":"3.3.4.5-3.3.4.15"}],"_links":{"self":{"href":"https://classic-00.dne-okta.com/api/v1/zones/nzou52za2zfPh8P5J1d7","hints":{"allow":["GET","PUT","DELETE"]}},"deactivate":{"href":"https://classic-00.dne-okta.com/api/v1/zones/nzou52za2zfPh8P5J1d7/lifecycle/deactivate","hints":{"allow":["POST"]}}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.0465195s
    - id: 42
      request:
        host: classic-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/groups/00gu52xy3xd8fsnMx1d7
        method: GET
      response:
        body: '{"id":"00gu52xy3xd8fsnMx1d7","created":"2026-01-23T08:52:56.000Z","lastUpdated":"2026-01-23T08:52:56.000Z","lastMembershipUpdated":"2026-01-23T08:52:56.000Z","objectClass":["okta:user_group"],"type":"OKTA_GROUP","profile":{"name":"testAcc_3","description":"testAcc_3"},"_links":{"logo":[{"name":"medium","href":"https://op3static2.oktacdn.com/assets/img/logos/groups/odyssey/okta-medium.30ce6d4085dff29412984e4c191bc874.png","type":"image/png"},{"name":"large","href":"https://op3static2.oktacdn.com/assets/img/logos/groups/odyssey/okta-large.c3cb8cda8ae0add1b4fe928f5844dbe3.png","type":"image/png"}],"owners":{"href":"https://classic-00.dne-okta.com/api/v1/groups/00gu52xy3xd8fsnMx1d7/owners"},"users":{"href":"https://classic-00.dne-okta.com/api/v1/groups/00gu52xy3xd8fsnMx1d7/users"},"apps":{"href":"https://classic-00.dne-okta.com/api/v1/groups/00gu52xy3xd8fsnMx1d7/apps"}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.06319s
[...]
    - id: 44
      request:
        host: classic-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/groups/00gu52q4uiAgArO271d7
        method: GET
      response:
        body: '{"id":"00gu52q4uiAgArO271d7","created":"2026-01-23T08:52:56.000Z","lastUpdated":"2026-01-23T08:52:56.000Z","lastMembershipUpdated":"2026-01-23T08:52:56.000Z","objectClass":["okta:user_group"],"type":"OKTA_GROUP","profile":{"name":"testAcc_2","description":"testAcc_2"},"_links":{"logo":[{"name":"medium","href":"https://op3static2.oktacdn.com/assets/img/logos/groups/odyssey/okta-medium.30ce6d4085dff29412984e4c191bc874.png","type":"image/png"},{"name":"large","href":"https://op3static2.oktacdn.com/assets/img/logos/groups/odyssey/okta-large.c3cb8cda8ae0add1b4fe928f5844dbe3.png","type":"image/png"}],"owners":{"href":"https://classic-00.dne-okta.com/api/v1/groups/00gu52q4uiAgArO271d7/owners"},"users":{"href":"https://classic-00.dne-okta.com/api/v1/groups/00gu52q4uiAgArO271d7/users"},"apps":{"href":"https://classic-00.dne-okta.com/api/v1/groups/00gu52q4uiAgArO271d7/apps"}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.305854833s
    - id: 45
      request:
        host: classic-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/users/00uu52tcjhrztgtdP1d7
        method: GET
      response:
        body: '{"id":"00uu52tcjhrztgtdP1d7","status":"PROVISIONED","created":"2026-01-23T08:52:56.000Z","activated":"2026-01-23T08:52:56.000Z","statusChanged":"2026-01-23T08:52:56.000Z","lastLogin":null,"lastUpdated":"2026-01-23T08:52:56.000Z"[...]
    - id: 46
      request:
        host: classic-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/users/00uu52sjwtMsTlytc1d7
        method: GET
      response:
        body: '{"id":"00uu52sjwtMsTlytc1d7","status":"PROVISIONED","created":"2026-01-23T08:52:56.000Z","activated":"2026-01-23T08:52:56.000Z","statusChanged":"2026-01-23T08:52:56.000Z","lastLogin":null,"lastUpdated":"2026-01-23T08:52:56.000Z"[...]
    - id: 47
      request:
        host: classic-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/meta/types/user/otyu52xy42Me1XmVh1d7
        method: GET
      response:
        body: '{"id":"otyu52xy42Me1XmVh1d7","displayName":"Terraform Acceptance Test User Type Updated","name":"testAcc_987182423","description":"Terraform Acceptance Test User Type Updated","createdBy":"00usjkchhgt3fqkr41d7","lastUpdatedBy":"00usjkchhgt3fqkr41d7","created":"2026-01-23T08:52:57.000Z","lastUpdated":"2026-01-23T08:52:57.000Z","default":false,"_links":{"schema":{"rel":"schema","href":"https://classic-00.dne-okta.com/api/v1/meta/schemas/user/oscu52xy42Me1XmVh1d7","method":"GET"},"self":{"rel":"self","href":"https://classic-00.dne-okta.com/api/v1/meta/types/user/otyu52xy42Me1XmVh1d7","method":"GET"}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.0500225s
    - id: 48
      request:
        host: classic-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/users/00uu52nmndk6dvysl1d7
        method: GET
      response:
        body: '{"id":"00uu52nmndk6dvysl1d7","status":"PROVISIONED","created":"2026-01-23T08:52:56.000Z","activated":"2026-01-23T08:52:56.000Z","statusChanged":"2026-01-23T08:52:56.000Z","lastLogin":null,"lastUpdated":"2026-01-23T08:52:56.000Z"[...]
[...]
    - id: 50
      request:
        host: classic-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/zones/nzou52za2zfPh8P5J1d7
        method: GET
      response:
[...]
