---
version: 2
interactions:
  - id: 0
    request:
      host: oie-00.dne-okta.com
      body: |
        {"accessibility":{"selfService":false},"credentials":{"userNameTemplate":{"template":"${source.login}","type":"BUILT_IN"}},"label":"testAcc_987182423","settings":{"app":{},"implicitAssignment":false,"notes":{"admin":null,"enduser":null},"signOn":{"allowMultipleAcsEndpoints":false,"assertionSigned":false,"attributeStatements":[{"filterType":"REGEX","filterValue":".*","name":"groups","namespace":"urn:oasis:names:tc:SAML:2.0:attrname-format:unspecified","type":"GROUP"}],"audience":"http://audience.com","audienceOverride":"","authnContextClassRef":"urn:oasis:names:tc:SAML:2.0:ac:classes:PasswordProtectedTransport","defaultRelayState":"","destination":"http://its-about-the-journey.com","destinationOverride":"","digestAlgorithm":"SHA256","honorForceAuthn":false,"recipient":"http://here.com","recipientOverride":"","responseSigned":true,"samlSignedRequestEnabled":false,"signatureAlgorithm":"RSA_SHA256","slo":{"enabled":true,"issuer":"https://dunshire.okta.com","logoutUrl":"https://dunshire.okta.com/logout"},"spCertificate":{"x5c":["MIIFnDCCA4QCCQDBSLbiON2T1zANBgkqhkiG9w0BAQsFADCBjzELMAkGA1UEBhMCVVMxDjAMBgNV\r\nBAgMBU1haW5lMRAwDgYDVQQHDAdDYXJpYm91MRcwFQYDVQQKDA5Tbm93bWFrZXJzIEluYzEUMBIG\r\nA1UECwwLRW5naW5lZXJpbmcxDTALBgNVBAMMBFNub3cxIDAeBgkqhkiG9w0BCQEWEWVtYWlsQGV4\r\nYW1wbGUuY29tMB4XDTIwMTIwMzIyNDY0M1oXDTMwMTIwMTIyNDY0M1owgY8xCzAJBgNVBAYTAlVT\r\nMQ4wDAYDVQQIDAVNYWluZTEQMA4GA1UEBwwHQ2FyaWJvdTEXMBUGA1UECgwOU25vd21ha2VycyBJ\r\nbmMxFDASBgNVBAsMC0VuZ2luZWVyaW5nMQ0wCwYDVQQDDARTbm93MSAwHgYJKoZIhvcNAQkBFhFl\r\nbWFpbEBleGFtcGxlLm[...]
  - id: 1
    request:
      host: oie-00.dne-okta.com
      body: ""
      form: {}
      headers:
        Authorization:
          - SSWS REDACTED
      url: https://oie-00.dne-okta.com/.well-known/okta-organization
      method: GET
    response:
      body: '{"id":"00o5qwjvg8hg7YpT81d7","cell":"op3","_links":{"organization":{"href":"https://oie-00.dne-okta.com"}},"pipeline":"idx","settings":{"analyticsCollectionEnabled":false,"bugReportingEnabled":true,"omEnabled":false,"pssoEnabled":false,"desktopMFAEnabled":false,"itpEnabled":true,"op4wEnabled":true}}'
      headers:
        Accept-Ch:
          - Sec-CH-UA-Platform-Version
        Content-Type:
          - application/json
      status: 200 OK
      code: 200
      duration: 199.040083ms
  - id: 2
    request:
      host: oie-00.dne-okta.com
      body: ""
      form: {}
      headers:
        Authorization:
          - SSWS REDACTED
      url: https://oie-00.dne-okta.com/api/v1/policies?type=ACCESS_POLICY
      method: GET
    response:
      body: '[{"id":"rst5qwjvkl70Eb6xw1d7","status":"ACTIVE","name":"Okta Admin Applications","priority":1,"system":false,"conditions":null,"created":"2022-10-07T23:17:01.000Z","lastUpdated":"2024-07-18T11:01:12.000Z","_links":{"mappings":{"href":"https://oie-00.dne-okta.com/api/v1/policies/rst5qwjvkl70Eb6xw1d7/mappings","hints":{"allow":["GET","POST"]}},"self":{"href":"https://oie-00.dne-okta.com/api/v1/policies/rst5qwjvkl70Eb6xw1d7","hints":{"allow":["GET","PUT","DELETE"]}},"rules":{"href":"https://oie-00.dne-okta.com/api/v1/policies/rst5qwjvkl70Eb6xw1d7/rules","hints":{"allow":["GET","POST"]}},"deactivate":{"href":"https://oie-00.dne-okta.com/api/v1/policies/rst5qwjvkl70Eb6xw1d7/lifecycle/deactivate","hints":{"allow":["POST"]}}},"_embedded":{"resourceType":"APP"},"type":"ACCESS_POLICY"},{"id":"rst5qwjvlvS3G1WOU1d7","status":"ACTIVE","name":"Any two factors","description":"Require two factors to access.","priority":1,"system":true,"conditions":null,"created":"2022-10-07T23:17:01.000Z","lastUpdated":"2022-10-07T23:17:01.000Z","_links":{"self":{"href":"https://oie-00.dne-okta.com/api/v1/policies/rst5qwjvlvS3G1WOU1d7","hints":{"allow":["GET","PUT"]}},"rules":{"href":"https://oie-00.dne-okta.com/api/v1/policies/rst5qwjvlvS3G1WOU1d7/rules","hints":{"allow":["GET","POST"]}}},"_embedded":{"resourceType":"APP"},"type":"ACCESS_POLICY"},{"id":"rst7a8k7jmedunOAK1d7","status[...]
  - id: 3
    request:
      host: oie-00.dne-okta.com
      body: ""
      form: {}
      headers:
        Authorization:
          - SSWS REDACTED
      url: https://oie-00.dne-okta.com/api/v1/apps/0oakwry31j1rNlviO1d7/policies/rst5qwjvlvS3G1WOU1d7
      method: PUT
    response:
      body: ""
      headers:
        Accept-Ch:
          - Sec-CH-UA-Platform-Version
      status: 204 No Content
      code: 204
      duration: 294.6445ms
  - id: 4
    request:
      host: oie-00.dne-okta.com
      body: ""
      form: {}
      headers:
        Authorization:
          - SSWS REDACTED
      url: https://oie-00.dne-okta.com/api/v1/apps/0oakwry31j1rNlviO1d7
      method: GET
    response:
      body: '{"id":"0oakwry31j1rNlviO1d7","orn":"orn:oktapreview:idp:00o5qwjvg8hg7YpT81d7:apps:oie-00_testacc987182423_3:0oakwry31j1rNlviO1d7","name":"oie-00_testacc987182423_3","label":"testAcc_987182423","status":"ACTIVE","lastUpdated":"2025-03-14T00:59:06.000Z","created":"2025-03-14T00:59:05.000Z","accessibility":{"selfService":false,"errorRedirectUrl":null,"loginRedirectUrl":null},"visibility":{"autoLaunch":false,"autoSubmitToolbar":false,"hide":{"iOS":false,"web":false},"appLinks":{"oie-00_testacc987182423_3_link":true}},"features":[],"signOnMode":"SAML_2_0","credentials":{"userNameTemplate":{"template":"${source.login}","type":"BUILT_IN"},"signing":{"kid":"QKoYUfZgygAPWikSG0ITZ3kkUwdU3CzJchPS9gXAFPg"}},"settings":{"app":{},"notifications":{"vpn":{"network":{"connection":"DISABLED"},"message":null,"helpUrl":null}},"manualProvisioning":false,"implicitAssignment":false,"notes":{"admin":null,"enduser":null},"signOn":{"defaultRelayState":"","ssoAcsUrl":"http://google.com","idpIssuer":"http://www.okta.com/${org.externalKey}","audience":"http://audience.com","recipient":"http://here.com","destination":"http://its-about-the-journey.com","subjectNameIdTemplate":"${user.userName}","subjectNameIdFormat":"urn:oasis:names:tc:SAML:1.1:nameid-format:emailAddress","responseSigned":true,"assertionSigned":false,"signatureAlgorithm":"RSA_SHA256","digestAlgorithm":"SHA256","honorForceAuthn":false,"authnContextClassRef":"urn:oasis:names:tc:SAML:2.0:ac:classes:PasswordProtectedTransport","spIssuer":"https://dunshire.okta.com","requestCompressed":false,"attributeStatements":[{"type":"GROUP","name":"groups","namespace":"urn:oasis:names:tc:SAML:2.0:attrname-format:unspecified","filterType":"REGEX","filterValue":".*"}],"inlineHooks":[],"spCertificate":{"x5c":["MIIFnDCCA4QCCQDBSLbiON2T1zANBgkqhkiG9w0BAQsFADCBjzELMAkGA1UEBhMCVVMxDjAMBgNV\r\nBAgMBU1haW5lMRAwDgYDVQQHDAdDYXJpYm91MRcwFQYDVQQKDA5Tbm93bWFrZXJzIEluYzEUMBIG\r\nA1UECwwLRW5naW5lZXJpbmcxDTALBgNVBAMMBFNub3cxIDAeBgkqhkiG9w0BCQEWEWVtYWlsQGV4\r\nYW1wbGUuY29tMB4XDTIwMTIwMzIyNDY0M1oXDTMwMTIwMTIyNDY0M1owgY8xCzAJBgNVBAYTAlVT\r\nMQ4wDAYDVQQIDAVNYWluZTEQMA4GA1UEBwwHQ2FyaWJvdTEXMBUGA1UECgwOU25vd21ha2VycyBJ\r\nbmMxFDASBgNVBAsMC0VuZ2luZWVyaW5nMQ0wCwYDVQQDDARTbm93MSAwHgYJKoZIhvcNAQkB[...]
  - id: 5
    request:
      host: oie-00.dne-okta.com
      body: ""
      form: {}
      headers:
        Authorization:
          - SSWS REDACTED
      url: https://oie-00.dne-okta.com/api/v1/apps/0oakwry31j1rNlviO1d7/sso/saml/metadata?kid=QKoYUfZgygAPWikSG0ITZ3kkUwdU3CzJchPS9gXAFPg
      method: GET
    response:
      body: |-
        <?xml version="1.0" encoding="UTF-8"?><md:EntityDescriptor entityID="http://www.okta.com/exkkwry31ilSfKqkD1d7" xmlns:md="urn:oasis:names:tc:SAML:2.0:metadata"><md:IDPSSODescriptor WantAuthnRequestsSigned="false" protocolSupportEnumeration="urn:oasis:names:tc:SAML:2.0:protocol"><md:KeyDescriptor use="signing"><ds:KeyInfo xmlns:ds="http://www.w3.org/2000/09/xmldsig#"><ds:X509Data><ds:X509Certificate>MIIDujCCAqKgAwIBAgIGAZWSKXcIMA0GCSqGSIb3DQEBCwUAMIGdMQswCQYDVQQGEwJVUzETMBEG
        A1UECAwKQ2FsaWZvcm5pYTEWMBQGA1UEBwwNU2FuIEZyYW5jaXNjbzENMAsGA1UECgwET2t0YTEU
        MBIGA1UECwwLU1NPUHJvdmlkZXIxHjAcBgNVBAMMFW1tLW9pZS0yMDIyLTEwLTA3LW1heDEcMBoG
        CSqGSIb3DQEJARYNaW5mb0Bva3RhLmNvbTAeFw0yNTAzMTQwMDU4MDVaFw0zNTAzMTQwMDU5MDVa
        MIGdMQswCQYDVQQGEwJVUzETMBEGA1UECAwKQ2FsaWZvcm5pYTEWMBQGA1UEBwwNU2FuIEZyYW5j
        aXNjbzENMAsGA1UECgwET2t0YTEUMBIGA1UECwwLU1NPUHJvdmlkZXIxHjAcBgNVBAMMFW1tLW9p
        ZS0yMDIyLTEwLTA3LW1heDEcMBoGCSqGSIb3DQEJARYNaW5mb0Bva3RhLmNvbTCCASIwDQYJKoZI
        hvcNAQEBBQADggEPADCCAQoCggEBANsb+pHlKkqE4OBtXnYm7SjKGqA19zH4Eeg4G9ZBZTCutqR3
        rfwgGZLFqFWJxR2o6/XIufXd9tmUmP8QxEUZd9Tlg2IAr07FS9sKErVU9FkGm3rMuvR+yyg38gtX
        oidzYc8YThR48cn0VOLz9+pSKU4NDoNIETfpWlFR54csdg6GnzySDOYVVVXqt+iYWkHfd+0Hr9VN
        S86YqS8JEFNB6F3tY0wlRYO+pKuRzY9B2syrq1xWvWPrSf+d5UKvcsnpXdQ8qOBBTmpYZ7qxqwIr
        zsPFO4Oin6IFB3RJ0eLz+hbGz2UfkUyhFn4w222NeNILtcsmhZchmupVCkFj5cp+RYsCAwEAATAN
        BgkqhkiG9w0BAQsFAAOCAQEASP4Txb57OrR+3gIFPB2lZAeqySuxPy1ruiHToAdgYiG8BXRuBzCp
        Yt2km/LQo4Z0wtH2njA8X5AxdqsXBj//+lLNyy9+OAxbvc1dlkvQUUlg85mQNt4OEUFmFmrWEGb3
        vOYEhn6Ci7BN+zyDMNP7tHmaECGv8lxqp5pOUCxbge7BfYlzbbwnBE1nkEDW21+D2nTtgylV1e2S
        5sCS5z0Yt4pPGdUUdb0VOqVQHYf1+oKfQCKnvViOsiGS0Y+1k/F4tsGAY7CzAclSFZMQlcVUDqd8
        6vbc97skQa8Cha8V/2BSEmBZpFHa+9C2C3ZG3qd5vP6mAhw7dpgynfNTTSdVAw==</ds:X509Certificate></ds:X509Data></ds:KeyInfo></md:KeyDescriptor><md:SingleLogoutService Binding="urn:oasis:names:tc:SAML:2.0:bindings:HTTP-POST" Location="https://oie-00.dne-okta.com/app/oie-00_testacc987182423_3/exkkwry31ilSfKqkD1d7/slo/saml"/><md:SingleLogoutService Binding="urn:oasis:names:tc:SAML:2.0:bindings:HTTP-Redirect" Location="https://oie-00.dne-okta.com/app/oie-00_testacc987182423_3/exkkwry31ilSfKqkD1d7/slo/saml"/><md:NameIDFormat>urn:oasis:names:tc:SAML:1.1:nameid-format:emailAddress</md:NameIDFormat><md:SingleSignOnService Binding="urn:oasis:names:tc:SAML:2.0:bindings:HTTP-POST" Location="https://oie-00.dne-okta.com/app/oie-00_testacc987182423_3/exkkwry31ilSfKqkD1d7/sso/saml"/><md:SingleSignOnService Binding="urn:oasis:names:tc:SAML:2.0:bindings:HTTP-Redirect" Location="https://oie-00.dne-okta.com/app/oie-00_testacc987182423_3/exkkwry31ilSfKqkD1d7/sso/saml"/></md:IDPSSODescriptor></md:EntityDescriptor>
      headers:
        Accept-Ch:
          - Sec-CH-UA-Platform-Version
        Content-Type:
          - application/xml;charset=ISO-8859-1
      status: 200 OK
      code: 200
      duration: 427.406083ms
  - id: 6
    request:
      host: oie-00.dne-okta.com
      body: ""
      form: {}
      headers:
        Authorization:
          - SSWS REDACTED
      url: https://oie-00.dne-okta.com/api/v1/apps/0oakwry31j1rNlviO1d7/credentials/keys
      method: GET
    response:
      body: '[{"kty":"RSA","created":"2025-03-14T00:59:05.000Z","lastUpdated":"2025-03-14T00:59:05.000Z","expiresAt":"2035-03-14T00:59:05.000Z","kid":"QKoYUfZgygAPWikSG0ITZ3kkUwdU3CzJchPS9gXAFPg","use":"sig","x5c":["MIIDujCCAqKgAwIBAgIGAZWSKXcIMA0GCSqGSIb3DQEBCwUAMIGdMQswCQYDVQQGEwJVUzETMBEGA1UECAwKQ2FsaWZvcm5pYTEWMBQGA1UEBwwNU2FuIEZyYW5jaXNjbzENMAsGA1UECgwET2t0YTEUMBIGA1UECwwLU1NPUHJvdmlkZXIxHjAcBgNVBAMMFW1tLW9pZS0yMDIyLTEwLTA3LW1heDEcMBoGCSqGSIb3DQEJARYNaW5mb0Bva3RhLmNvbTAeFw0yNTAzMTQwMDU4MDVaFw0zNTAzMTQwMDU5MDVaMIGdMQswCQYDVQQGEwJVUzETMBEGA1UECAwKQ2FsaWZvcm5pYTEWMBQGA1UEBwwNU2FuIEZyYW5jaXNjbzENMAsGA1UECgwET2t0YTEUMBIGA1UECwwLU1NPUHJvdmlkZXIxHjAcBgNVBAMMFW1tLW9pZS0yMDIyLTEwLTA3LW1heDEcMBoGCS[...]
[...]
  - id: 8
    request:
      host: oie-00.dne-okta.com
      body: ""
      form: {}
      headers:
        Authorization:
          - SSWS REDACTED
      url: https://oie-00.dne-okta.com/api/v1/policies/rst5qwjvlvS3G1WOU1d7
      method: GET
    response:
      body: '{"id":"rst5qwjvlvS3G1WOU1d7","status":"ACTIVE","name":"Any two factors","description":"Require two factors to access.","priority":1,"system":true,"conditions":null,"created":"2022-10-07T23:17:01.000Z","lastUpdated":"2022-10-07T23:17:01.000Z","_links":{"self":{"href":"https://oie-00.dne-okta.com/api/v1/policies/rst5qwjvlvS3G1WOU1d7","hints":{"allow":["GET","PUT"]}},"rules":{"href":"https://oie-00.dne-okta.com/api/v1/policies/rst5qwjvlvS3G1WOU1d7/rules","hints":{"allow":["GET","POST"]}}},"type":"ACCESS_POLICY"}'
      headers:
        Accept-Ch:
          - Sec-CH-UA-Platform-Version
        Content-Type:
          - application/json
      status: 200 OK
      code: 200
      duration: 234.074125ms
  - id: 9
    request:
      host: oie-00.dne-okta.com
      body: |
        {"actions":{"appSignOn":{"access":"ALLOW","verificationMethod":{"factorMode":"2FA","inactivityPeriod":"PT1H","reauthenticateIn":"PT2H","type":"ASSURANCE"}}},"conditions":{"network":{"connection":"ANYWHERE"},"platform":{"include":[{"os":{"expression":"","type":"OTHER"},"type":"DESKTOP"}]},"riskScore":{"level":"LOW"},"elCondition":{}},"name":"testAcc_987182423","priority":0,"type":"ACCESS_POLICY"}
      form: {}
      headers:
        Authorization:
          - SSWS REDACTED
        Content-Type:
          - application/json
      url: https://oie-00.dne-okta.com/api/v1/policies/rst5qwjvlvS3G1WOU1d7/rules
      method: POST
    response:
      body: '{"id":"rulkws3p6e5WHiOZg1d7","status":"ACTIVE","name":"testAcc_987182423","priority":0,"created":"2025-03-14T00:59:09.000Z","lastUpdated":"2025-03-14T00:59:09.000Z","system":false,"conditions":{"people":{"users":{"exclude":[]}},"network":{"connection":"ANYWHERE"},"platform":{"include":[{"type":"DESKTOP","os":{"type":"OTHER","expression":""}}],"exclude":[]},"riskScore":{"level":"LOW"},"userType":{"include":[],"exclude":[]}},"actions":{"appSignOn":{"access":"ALLOW","verificationMethod":{"factorMode":"2FA","type":"ASSURANCE","reauthenticateIn":"PT2H","inactivityPeriod":"PT1H"},"keepMeSignedIn":{"postAuth":"NOT_ALLOWED"}}},"_links":{"self":{"href":"https://oie-00.dne-okta.com/api/v1/policies/rst5qwjvlvS3G1WOU1d7/rules/rulkws3p6e5WHiOZg1d7","hints":{"allow":["GET","PUT","DELETE"]}},"deactivate":{"href":"https://oie-00.dne-okta.com/api/v1/policies/rst5qwjvlvS3G1WOU1d7/rules/rulkws3p6e5WHiOZg1d7/lifecycle/deactivate","hints":{"allow":["POST"]}}},"type":"ACCESS_POLICY"}'
      headers:
        Accept-Ch:
          - Sec-CH-UA-Platform-Version
        Content-Type:
          - application/json
      status: 200 OK
      code: 200
      duration: 621.435958ms
  - id: 10
    request:
      host: oie-00.dne-okta.com
      body: ""
      form: {}
      headers:
        Authorization:
          - SSWS REDACTED
      url: https://oie-00.dne-okta.com/api/v1/policies/rst5qwjvlvS3G1WOU1d7/rules/rulkws3p6e5WHiOZg1d7
      method: GET
    response:
      body: '{"id":"rulkws3p6e5WHiOZg1d7","status":"ACTIVE","name":"testAcc_987182423","priority":0,"created":"2025-03-14T00:59:09.000Z","lastUpdated":"2025-03-14T00:59:09.000Z","system":false,"conditions":{"people":{"users":{"exclude":[]}},"network":{"connection":"ANYWHERE"},"platform":{"include":[{"type":"DESKTOP","os":{"type":"OTHER","expression":""}}],"exclude":[]},"riskScore":{"level":"LOW"},"userType":{"include":[],"exclude":[]}},"actions":{"appSignOn":{"access":"ALLOW","verificationMethod":{"factorMode":"2FA","type":"ASSURANCE","reauthenticateIn":"PT2H","inactivityPeriod":"PT1H"},"keepMeSignedIn":{"postAuth":"NOT_ALLOWED"}}},"_links":{"self":{"href":"https://oie-00.dne-okta.com/api/v1/policies/rst5qwjvlvS3G1WOU1d7/rules/rulkws3p6e5WHiOZg1d7","hints":{"allow":["GET","PUT","DELETE"]}},"deactivate":{"href":"https://oie-00.dne-okta.com/api/v1/policies/rst5qwjvlvS3G1WOU1d7/rules/rulkws3p6e5WHiOZg1d7/lifecycle/deactivate","hints":{"allow":["POST"]}}},"type":"ACCESS_POLICY"}'
      headers:
        Accept-Ch:
          - Sec-CH-UA-Platform-Version
        Content-Type:
          - application/json
      status: 200 OK
      code: 200
      duration: 243.421209ms
[...]
  - id: 21
    request:
      host: oie-00.dne-okta.com
      body: ""
      form: {}
      headers:
        Authorization:
          - SSWS REDACTED
      url: https://oie-00.dne-okta.com/api/v1/meta/types/user
      method: GET
    response:
      body: '[{"id":"oty5qwjvh0Vy1j8Kd1d7","displayName":"User","name":"user","description":"Okta user profile template with default permission settings","createdBy":"spr5qwjvg90YpJCBG1d7","lastUpdatedBy":"00u5qwjvk7u6E1DFG1d7","created":"2022-10-07T23:16:57.000Z","lastUpdated":"2025-03-14T00:20:15.000Z","default":true,"_links":{"schema":{"rel":"schema","href":"https://oie-00.dne-okta.com/api/v1/meta/schemas/user/osc5qwjvh0Vy1j8Kd1d7","method":"GET"},"self":{"rel":"self","href":"https://oie-00.dne-okta.com/api/v1/meta/types/user/oty5qwjvh0Vy1j8Kd1d7","method":"GET"}}}]'
      headers:
        Accept-Ch:
          - Sec-CH-UA-Platform-Version
        Content-Type:
          - application/json
      status: 200 OK
      code: 200
      duration: 250.027708ms
[...]
  - id: 31
    request:
      host: oie-00.dne-okta.com
      body: |
        {"profile":{"name":"testAcc_0","description":"testAcc_0"}}
      form: {}
      headers:
        Authorization:
          - SSWS REDACTED
        Content-Type:
          - application/json
      url: https://oie-00.dne-okta.com/api/v1/groups
      method: POST
    response:
      body: '{"id":"00gkwrqb9kugmcoT51d7","created":"2025-03-14T00:59:15.000Z","lastUpdated":"2025-03-14T00:59:15.000Z","lastMembershipUpdated":"2025-03-14T00:59:15.000Z","objectClass":["okta:user_group"],"type":"OKTA_GROUP","profile":{"name":"testAcc_0","description":"testAcc_0"},"_links":{"logo":[{"name":"medium","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-medium.30ce6d4085dff29412984e4c191bc874.png","type":"image/png"},{"name":"large","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-large.c3cb8cda8ae0add1b4fe928f5844dbe3.png","type":"image/png"}],"users":{"href":"https://oie-00.dne-okta.com/api/v1/groups/00gkwrqb9kugmcoT51d7/users"},"apps":{"href":"https://oie-00.dne-okta.com/api/v1/groups/00gkwrqb9kugmcoT51d7/apps"}}}'
      headers:
        Accept-Ch:
          - Sec-CH-UA-Platform-Version
        Content-Type:
          - application/json
      status: 200 OK
      code: 200
      duration: 207.485166ms
[...]
  - id: 34
    request:
      host: oie-00.dne-okta.com
      body: |
        {"jailbreak":false,"name":"testAcc-987182423","osVersion":{"minimum":"12"},"platform":"ANDROID"}
      form: {}
      headers:
        Authorization:
          - SSWS REDACTED
        Content-Type:
          - application/json
      url: https://oie-00.dne-okta.com/api/v1/device-assurances
      method: POST
    response:
      body: '{"name":"testAcc-987182423","platform":"ANDROID","id":"daekws2ocqGU3ROzB1d7","osVersion":{"minimum":"12"},"jailbreak":false,"displayRemediationMode":"HIDE","createdDate":"2025-03-14T00:59:15.000Z","createdBy":"00u5qwjvk7u6E1DFG1d7","lastUpdate":"2025-03-14T00:59:15.000Z","lastUpdatedBy":"00u5qwjvk7u6E1DFG1d7","resourceId":"daekws2ocqGU3ROzB1d7","resourceDisplayName":{"value":"testAcc-987182423","sensitive":false},"resourceType":"DeviceAssurancePolicyEntity","_links":{"self":{"href":"https://oie-00.dne-okta.com/api/v1/device-assurances/daekws2ocqGU3ROzB1d7","hints":{"allow":["GET","PUT","DELETE"]}}}}'
      headers:
        Accept-Ch:
          - Sec-CH-UA-Platform-Version
        Content-Type:
          - application/json
      status: 200 OK
      code: 200
      duration: 249.600916ms
[...]
  - id: 36
    request:
      host: oie-00.dne-okta.com
      body: |
        {"credentials":{"password":{}},"profile":{"email":"testAcc_4@example.com","firstName":"TestAcc","lastName":"Smith","login":"testAcc_4@example.com","postalAddress":null}}
      form: {}
      headers:
        Authorization:
          - SSWS REDACTED
        Content-Type:
          - application/json
      url: https://oie-00.dne-okta.com/api/v1/users
      method: POST
    response:
      body: '{"id":"00ukwrxl7oGiyAEn11d7","status":"PROVISIONED","created":"2025-03-14T00:59:15.000Z","activated":"2025-03-14T00:59:15.000Z","statusChanged":"2025-03-14T00:59:15.000Z","lastLogin":null,"lastUpdated":"2025-03-14T00:59:15.000Z","passwordChanged":null,"type":{"id":"oty5qwjvh0Vy1j8Kd1d7"},"profile":{"firstName":"TestAcc","lastName":"Smith","mobilePhone":null,"secondEmail":null,"login":"testAcc_4@example.com","email":"testAcc_4@example.com"},"credentials":{"provider":{"type":"OKTA","name":"OKTA"}},"_links":{"suspend":{"href":"https://oie-00.dne-okta.com/api/v1/users/00ukwrxl7oGiyAEn11d7/lifecycle/suspend","method":"POST"},"schema":{"href":"https://oie-00.dne-okta.com/api/v1/meta/schemas/user/osc5qwjvh0Vy1j8Kd1d7"},"resetPassword":{"href":"https://oie-00.dne-okta.com/api/v1/users/00ukwrxl7oGiyAEn11d7/lifecycle/reset_password","method":"POST"},"reactivate":{"href":"https://oie-00.dne-okta.com/api/v1/users/00ukwrxl7oGiyAEn11d7/lifecycle/reactivate","method":"POST"},"self":{"href":"https://oie-00.dne-okta.com/api/v1/users/00ukwrxl7oGiyAEn11d7"},"type":{"href":"https://oie-00.dne-okta.com/api/v1/meta/types/user/oty5qwjvh0Vy1j8Kd1d7"},"deactivate":{"href":"https://oie-00.dne-okta.com/api/v1/users/00ukwrxl7oGiyAEn11d7/lifecycle/deactivate","method":"POST"}}}'
      headers:
        Accept-Ch:
          - Sec-CH-UA-Platform-Version
        Content-Type:
          - application/json
      status: 200 OK
      code: 200
      duration: 397.983ms
[...]
  - id: 38
    request:
      host: oie-00.dne-okta.com
      body: |
        {"gateways":[{"type":"RANGE","value":"2.3.4.5-2.3.4.15"},{"type":"CIDR","value":"1.2.3.4/24"}],"name":"testAcc_987182423","proxies":[{"type":"CIDR","value":"2.2.3.4/24"},{"type":"RANGE","value":"3.3.4.5-3.3.4.15"}],"status":"ACTIVE","type":"IP","usage":"POLICY"}
      form: {}
      headers:
        Authorization:
          - SSWS REDACTED
        Content-Type:
          - application/json
      url: https://oie-00.dne-okta.com/api/v1/zones
      method: POST
    response:
      body: '{"type":"IP","id":"nzokwryojsjgLzthU1d7","name":"testAcc_987182423","status":"ACTIVE","usage":"POLICY","created":"2025-03-14T00:59:15.000Z","lastUpdated":"2025-03-14T00:59:15.000Z","system":false,"gateways":[{"type":"RANGE","value":"2.3.4.5-2.3.4.15"},{"type":"CIDR","value":"1.2.3.4/24"}],"proxies":[{"type":"CIDR","value":"2.2.3.4/24"},{"type":"RANGE","value":"3.3.4.5-3.3.4.15"}],"_links":{"self":{"href":"https://oie-00.dne-okta.com/api/v1/zones/nzokwryojsjgLzthU1d7","hints":{"allow":["GET","PUT","DELETE"]}},"deactivate":{"href":"https://oie-00.dne-okta.com/api/v1/zones/nzokwryojsjgLzthU1d7/lifecycle/deactivate","hints":{"allow":["POST"]}}}}'
      headers:
        Accept-Ch:
          - Sec-CH-UA-Platform-Version
        Content-Type:
          - application/json
      status: 200 OK
      code: 200
      duration: 407.00075ms
[...]
  - id: 40
    request:
      host: oie-00.dne-okta.com
      body: ""
      form: {}
      headers:
        Authorization:
          - SSWS REDACTED
      url: https://oie-00.dne-okta.com/api/v1/groups/00gkwrqb9kugmcoT51d7
      method: GET
    response:
      body: '{"id":"00gkwrqb9kugmcoT51d7","created":"2025-03-14T00:59:15.000Z","lastUpdated":"2025-03-14T00:59:15.000Z","lastMembershipUpdated":"2025-03-14T00:59:15.000Z","objectClass":["okta:user_group"],"type":"OKTA_GROUP","profile":{"name":"testAcc_0","description":"testAcc_0"},"_links":{"logo":[{"name":"medium","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-medium.30ce6d4085dff29412984e4c191bc874.png","type":"image/png"},{"name":"large","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-large.c3cb8cda8ae0add1b4fe928f5844dbe3.png","type":"image/png"}],"users":{"href":"https://oie-00.dne-okta.com/api/v1/groups/00gkwrqb9kugmcoT51d7/users"},"apps":{"href":"https://oie-00.dne-okta.com/api/v1/groups/00gkwrqb9kugmcoT51d7/apps"}}}'
      headers:
        Accept-Ch:
          - Sec-CH-UA-Platform-Version
        Content-Type:
          - application/json
      status: 200 OK
      code: 200
      duration: 263.186666ms
  - id: 41
    request:
      host: oie-00.dne-okta.com
      body: ""
      form: {}
      headers:
        Authorization:
          - SSWS REDACTED
      url: https://oie-00.dne-okta.com/api/v1/groups/00gkwrvh8wIJdUFvh1d7
      method: GET
    response:
      body: '{"id":"00gkwrvh8wIJdUFvh1d7","created":"2025-03-14T00:59:15.000Z","lastUpdated":"2025-03-14T00:59:15.000Z","lastMembershipUpdated":"2025-03-14T00:59:15.000Z","objectClass":["okta:user_group"],"type":"OKTA_GROUP","profile":{"name":"testAcc_3","description":"testAcc_3"},"_links":{"logo":[{"name":"medium","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-medium.30ce6d4085dff29412984e4c191bc874.png","type":"image/png"},{"name":"large","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-large.c3cb8cda8ae0add1b4fe928f5844dbe3.png","type":"image/png"}],"users":{"href":"https://oie-00.dne-okta.com/api/v1/groups/00gkwrvh8wIJdUFvh1d7/users"},"apps":{"href":"https://oie-00.dne-okta.com/api/v1/groups/00gkwrvh8wIJdUFvh1d7/apps"}}}'
      headers:
        Accept-Ch:
          - Sec-CH-UA-Platform-Version
        Content-Type:
          - application/json
      status: 200 OK
      code: 200
      duration: 247.227791ms
  - id: 42
    request:
      host: oie-00.dne-okta.com
      body: ""
      form: {}
      headers:
        Authorization:
          - SSWS REDACTED
      url: https://oie-00.dne-okta.com/api/v1/groups/00gkwrpkytsV1xVbo1d7
      method: GET
    response:
      body: '{"id":"00gkwrpkytsV1xVbo1d7","created":"2025-03-14T00:59:15.000Z","lastUpdated":"2025-03-14T00:59:15.000Z","lastMembershipUpdated":"2025-03-14T00:59:15.000Z","objectClass":["okta:user_group"],"type":"OKTA_GROUP","profile":{"name":"testAcc_4","description":"testAcc_4"},"_links":{"logo":[{"name":"medium","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-medium.30ce6d4085dff29412984e4c191bc874.png","type":"image/png"},{"name":"large","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-large.c3cb8cda8ae0add1b4fe928f5844dbe3.png","type":"image/png"}],"users":{"href":"https://oie-00.dne-okta.com/api/v1/groups/00gkwrpkytsV1xVbo1d7/users"},"apps":{"href":"https://oie-00.dne-okta.com/api/v1/groups/00gkwrpkytsV1xVbo1d7/apps"}}}'
      headers:
        Accept-Ch:
          - Sec-CH-UA-Platform-Version
        Content-Type:
          - application/json
      status: 200 OK
      code: 200
      duration: 247.000916ms
  - id: 43
    request:
      host: oie-00.dne-okta.com
      body: ""
      form: {}
      headers:
        Authorization:
          - SSWS REDACTED
      url: https://oie-00.dne-okta.com/api/v1/meta/types/user/otykwruu3wPByy3sm1d7
      method: GET
    response:
      body: '{"id":"otykwruu3wPByy3sm1d7","displayName":"Terraform Acceptance Test User Type Updated","name":"testAcc_987182423","description":"Terraform Acceptance Test User Type Updated","createdBy":"00u5qwjvk7u6E1DFG1d7","lastUpdatedBy":"00u5qwjvk7u6E1DFG1d7","created":"2025-03-14T00:59:15.000Z","lastUpdated":"2025-03-14T00:59:15.000Z","default":false,"_links":{"schema":{"rel":"schema","href":"https://oie-00.dne-okta.com/api/v1/meta/schemas/user/osckwruu3wPByy3sm1d7","method":"GET"},"self":{"rel":"self","href":"https://oie-00.dne-okta.com/api/v1/meta/types/user/otykwruu3wPByy3sm1d7","method":"GET"}}}'
      headers:
        Accept-Ch:
          - Sec-CH-UA-Platform-Version
        Content-Type:
          - application/json
      status: 200 OK
      code: 200
      duration: 221.017167ms
[...]
  - id: 46
    request:
      host: oie-00.dne-okta.com
      body: ""
      form: {}
      headers:
        Authorization:
          - SSWS REDACTED
      url: https://oie-00.dne-okta.com/api/v1/zones/nzokwryojsjgLzthU1d7
      method: GET
    response:
      body: '{"type":"IP","id":"nzokwryojsjgLzthU1d7","name":"testAcc_987182423","status":"ACTIVE","usage":"POLICY","created":"2025-03-14T00:59:15.000Z","lastUpdated":"2025-03-14T00:59:15.000Z","system":false,"gateways":[{"type":"RANGE","value":"2.3.4.5-2.3.4.15"},{"type":"CIDR","value":"1.2.3.4/24"}],"proxies":[{"type":"CIDR","value":"2.2.3.4/24"},{"type":"RANGE","value":"3.3.4.5-3.3.4.15"}],"_links":{"self":{"href":"https://oie-00.dne-okta.com/api/v1/zones/nzokwryojsjgLzthU1d7","hints":{"allow":["GET","PUT","DELETE"]}},"deactivate":{"href":"https://oie-00.dne-okta.com/api/v1/zones/nzokwryojsjgLzthU1d7/lifecycle/deactivate","hints":{"allow":["POST"]}}}}'
      headers:
        Accept-Ch:
          - Sec-CH-UA-Platform-Version
        Content-Type:
          - application/json
      status: 200 OK
      code: 200
      duration: 246.969542ms
  - id: 47
    request:
      host: oie-00.dne-okta.com
      body: ""
      form: {}
      headers:
        Authorization:
          - SSWS REDACTED
      url: https://oie-00.dne-okta.com/api/v1/users/00ukwrxl7oGiyAEn11d7
      method: GET
    response:
      body: '{"id":"00ukwrxl7oGiyAEn11d7","status":"PROVISIONED","created":"2025-03-14T00:59:15.000Z","activated":"2025-03-14T00:59:15.000Z","statusChanged":"2025-03-14T00:59:15.000Z","lastLogin":null,"lastUpdated":"2025-03-14T00:59:15.000Z","pa[...]
[...]
  - id: 52
    request:
      host: oie-00.dne-okta.com
      body: ""
      form: {}
      headers:
        Authorization:
          - SSWS REDACTED
      url: https://oie-00.dne-okta.com/api/v1/users/00ukwrodwftdhMP1H1d7
      method: GET
    response:
      body: '{"id":"00ukwrodwftdhMP1H1d7","status":"PROVISIONED","created":"2025-03-14T00:59:15.000Z","activated":"2025-03-14T00:59:15.000Z","statusChanged":"2025-03-14T00:59:15.000Z","lastLogin":null,"lastUpdated":"2025-03-14T00:59:15.000Z","pa[...]
  - id: 53
    request:
      host: oie-00.dne-okta.com
      body: ""
      form: {}
      headers:
        Authorization:
          - SSWS REDACTED
      url: https://oie-00.dne-okta.com/api/v1/users/00ukwrp5ovWKvGVww1d7
      method: GET
    response:
      body: '{"id":"00ukwrp5ovWKvGVww1d7","status":"PROVISIONED","created":"2025-03-14T00:59:15.000Z","activated":"2025-03-14T00:59:15.000Z","statusChanged":"2025-03-14T00:59:15.000Z","lastLogin":null,"lastUpdated":"2025-03-14T00:59:15.000Z","pa[...]
  - id: 54
[...]
