---
version: 2
interactions:
    - id: 0
      request:
        host: skip-auth-policy-00.dne-okta.com
        body: |
            {"accessibility":{"selfService":false},"credentials":{"userNameTemplate":{"template":"${source.login}","type":"BUILT_IN"}},"label":"testAcc_750319816","settings":{"app":{},"implicitAssignment":false,"notes":{"admin":null,"enduser":null},"signOn":{"allowMultipleAcsEndpoints":false,"assertionSigned":true,"attributeStatements":[],"audience":"http://audience.com","audienceOverride":"","authnContextClassRef":"urn:oasis:names:tc:SAML:2.0:ac:classes:PasswordProtectedTransport","defaultRelayState":"","destination":"http://its-about-the-journey.com","destinationOverride":"","digestAlgorithm":"SHA1","honorForceAuthn":true,"recipient":"http://here.com","recipientOverride":"","responseSigned":true,"samlSignedRequestEnabled":false,"signatureAlgorithm":"RSA_SHA1","slo":{"enabled":false},"ssoAcsUrl":"http://google.com","ssoAcsUrlOverride":"","subjectNameIdFormat":"urn:oasis:names:tc:SAML:1.1:nameid-format:unspecified","subjectNameIdTemplate":"${source.login}"}},"signOnMode":"SAML_2_0","visibility":{"autoSubmitToolbar":false,"hide":{"iOS":false,"web":false}}}
        form:
            activate:
                - "true"
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://skip-auth-policy-00.dne-okta.com/api/v1/apps?activate=true
        method: POST
      response:
        body: '{"id":"0oatzy6sioNHTfUsE697","orn":"orn:okta:idp:00osd501x0KyUtOul697:apps:skip-auth-policy-00_testacc750319816_1:0oatzy6sioNHTfUsE697","name":"skip-auth-policy-00_testacc750319816_1","label":"testAcc_750319816","status":"ACTIVE","lastUpdated":"2025-08-08T02:13:42.000Z","created":"2025-08-08T02:13:42.000Z","accessibility":{"selfService":false,"errorRedirectUrl":null,"loginRedirectUrl":null},"visibility":{"autoLaunch":false,"autoSubmitToolbar":false,"hide":{"iOS":false,"web":false},"appLinks":{"skip-auth-policy-00_testacc750319816_1_link":true}},"features":[],"signOnMode":"SAML_2_0","credentials":{"userNameTemplate":{"template":"${source.login}","type":"BUILT_IN"},"signing":{"kid":"OZ9dvEp3i_M2gc5OKTuex4JV2-Y-VveR8hx_X9cPL_0"}},"universalLogout":null,"settings":{"app":{},"notifications":{"vpn":{"network":{"connection":"DISABLED"},"message":null,"helpUrl":null}},"manualProvisioning":false,"implicitAssignment":false,"emOptInStatus":"NONE","notes":{"admin":null,"enduser":null},"signOn":{"defaultRelayState":"","ssoAcsUrl":"http://google.com","idpIssuer":"http://www.okta.com/${org.externalKey}","audience":"http://audience.com","recipient":"http://here.com","destination":"http://its-about-the-journey.com","subjectNameIdTemplate":"${source.login}","subjectNameIdFormat":"urn:oasis:names:tc:SAML:1.1:nameid-format:unspecified","responseSigned":true,"assertionSigned":true,"signatureAlgorithm":"RSA_SHA1","digestAlgorithm":"SHA1","honorForceAuthn":true,"authnContextClassRef":"urn:oasis:names:tc:SAML:2.0:ac:classes:PasswordProtectedTransport","spIssuer":null,"requestCompressed":false,"attributeStatements":[],"inlineHooks":[],"assertionEncryption":{"enabled":false},"allowMultipleAcsEndpoints":false,"acsEndpoints":[],"samlSignedRequestEnabled":false,"slo":{"enabled":false}}},"_links":{"help":{"href":"https://skip-auth-policy-00-admin.dne-okta.com/app/skip-auth-policy-00_testacc750319816_1/0oatzy6sioNHTfUsE697/setup/help/SAML_2_0/instructions","type":"text/html"},"metadata":{"href":"https://skip-auth-policy-00.dne-okta.com/api/v1/apps/0oatzy6sioNHTfUsE697/sso/saml/metadata","type":"application/xml"},"uploadLogo":{"href":"https://skip-auth-policy-00.dne-okta.com/api/v1/apps/0oatzy6sioNHTfUsE697/logo","hints":{"allow":["POST"]}},"appLinks":[{"name":"skip-auth-policy-00_testacc750319816_1_link","href":"https://skip-auth-policy-00.dne-okta.com/home/skip-auth-policy-00_testacc750319816_1/0oatzy6sioNHTfUsE697/alntzyeg2ahBsbpXr697","type":"text/html"}],"profileEnrollment":{"href":"https://skip-auth-policy-00.dne-okta.com/api/v1/policies/rstsd5022rAok3aFp697"},"policies":{"href":"https://skip-auth-policy-00.dne-okta.com/api/v1/apps/0oatzy6sioNHTfUsE697/policies","hints":{"allow":["PUT"]}},"groups":{"href":"https://skip-auth-policy-00.dne-okta.com/api/v1/apps/0oatzy6sioNHTfUsE697/groups"},"logo":[{"name":"medium","href":"https://ok14static.oktacdn.com/assets/img/logos/default.6770228fb0dab49a1695ef440a5279bb.png","type":"image/png"}],"accessPolicy":{"href":"https://skip-auth-policy-00.dne-okta.com/api/v1/policies/rstsd5022pPoMSA4q697"},"users":{"href":"https://skip-auth-policy-00.dne-okta.com/api/v1/apps/0oatzy6sioNHTfUsE697/users"},"deactivate":{"href":"https://skip-auth-policy-00.dne-okta.com/api/v1/apps/0oatzy6sioNHTfUsE697/lifecycle/deactivate"}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.520393291s
    - id: 1
      request:
        host: skip-auth-policy-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://skip-auth-policy-00.dne-okta.com/.well-known/okta-organization
        method: GET
      response:
        body: '{"id":"00osd501x0KyUtOul697","cell":"ok14","_links":{"organization":{"href":"https://skip-auth-policy-00.dne-okta.com"}},"pipeline":"idx","settings":{"analyticsCollectionEnabled":true,"bugReportingEnabled":true,"omEnabled":false,"pssoEnabled":false,"desktopMFAEnabled":false,"itpEnabled":true}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 656.253291ms
    - id: 2
      request:
        host: skip-auth-policy-00.dne-okta.com
        form:
            type:
                - ACCESS_POLICY
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://skip-auth-policy-00.dne-okta.com/api/v1/policies?type=ACCESS_POLICY
        method: GET
      response:
        body: '[{"id":"rstsd5021voj5gb73697","status":"ACTIVE","name":"Okta Admin Console","priority":1,"system":false,"conditions":null,"created":"2025-06-16T00:28:16.000Z","lastUpdated":"2025-06-16T00:28:16.000Z","_links":{"mappings":{"href":"https://skip-auth-policy-00.dne-okta.com/api/v1/policies/rstsd5021voj5gb73697/mappings","hints":{"allow":["GET","POST"]}},"self":{"href":"https://skip-auth-policy-00.dne-okta.com/api/v1/policies/rstsd5021voj5gb73697","hints":{"allow":["GET","PUT","DELETE"]}},"rules":{"href":"https://skip-auth-policy-00.dne-okta.com/api/v1/policies/rstsd5021voj5gb73697/rules","hints":{"allow":["GET","POST"]}},"deactivate":{"href":"https://skip-auth-policy-00.dne-okta.com/api/v1/policies/rstsd5021voj5gb73697/lifecycle/deactivate","hints":{"allow":["POST"]}}},"_embedded":{"resourceType":"APP"},"type":"ACCESS_POLICY"},{"id":"rstsd50222gqdCXKi697","status":"ACTIVE","name":"Okta Dashboard","priority":1,"system":false,"conditions":null,"created":"2025-06-16T00:28:16.000Z","lastUpdated":"2025-06-16T00:28:16.000Z","_links":{"mappings":{"href":"https://skip-auth-policy-00.dne-okta.com/api/v1/policies/rstsd50222gqdCXKi697/mappings","hints":{"allow":["GET","POST"]}},"self":{"href":"https://skip-auth-policy-00.dne-okta.com/api/v1/policies/rstsd50222gqdCXKi697","hints":{"allow":["GET","PU[...]
    - id: 3
      request:
        host: skip-auth-policy-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://skip-auth-policy-00.dne-okta.com/api/v1/apps/0oatzy6sioNHTfUsE697/policies/rstsd5022pPoMSA4q697
        method: PUT
      response:
        body: ""
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
        status: 204 No Content
        code: 204
        duration: 718.216292ms
    - id: 4
      request:
        host: skip-auth-policy-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://skip-auth-policy-00.dne-okta.com/api/v1/apps/0oatzy6sioNHTfUsE697
        method: GET
      response:
        body: '{"id":"0oatzy6sioNHTfUsE697","orn":"orn:okta:idp:00osd501x0KyUtOul697:apps:skip-auth-policy-00_testacc750319816_1:0oatzy6sioNHTfUsE697","name":"skip-auth-policy-00_testacc750319816_1","label":"testAcc_750319816",[...]
    - id: 5
      request:
        host: skip-auth-policy-00.dne-okta.com
        form:
            kid:
                - OZ9dvEp3i_M2gc5OKTuex4JV2-Y-VveR8hx_X9cPL_0
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://skip-auth-policy-00.dne-okta.com/api/v1/apps/0oatzy6sioNHTfUsE697/sso/saml/metadata?kid=OZ9dvEp3i_M2gc5OKTuex4JV2-Y-VveR8hx_X9cPL_0
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?><md:EntityDescriptor entityID="http://www.okta.com/exktzy6sinmXJfcRO697" xmlns:md="urn:oasis:names:tc:SAML:2.0:metadata"><md:IDPSSODescriptor WantAuthnRequestsSigned="false" protocolSupportEnumeration="urn:oasis:names:tc:SAML:2.0:protocol"><md:KeyDescriptor use="signing"><ds:KeyInfo xmlns:ds="http://www.w3.org/2000/09/xmldsig#"><ds:X509Data><ds:X509Certificate>MIIDqjCCApKgAwIBAgIGAZiHdJn4MA0GCSqGSIb3DQEBCwUAMIGVMQswCQYDVQQGEwJVUzETMBEG
            A1UECAwKQ2FsaWZvcm5pYTEWMBQGA1UEBwwNU2FuIEZyYW5jaXNjbzENMAsGA1UECgwET2t0YTEU
            MBIGA1UECwwLU1NPUHJvdmlkZXIxFjAUBgNVBAMMDXRyaWFsLTUzMDk1NDIxHDAaBgkqhkiG9w0B
            CQEWDWluZm9Ab2t0YS5jb20wHhcNMjUwODA4MDIxMjQyWhcNMzUwODA4MDIxMzQyWjCBlTELMAkG
            A1UEBhMCVVMxEzARBgNVBAgMCkNhbGlmb3JuaWExFjAUBgNVBAcMDVNhbiBGcmFuY2lzY28xDTAL
            BgNVBAoMBE9rdGExFDASBgNVBAsMC1NTT1Byb3ZpZGVyMRYwFAYDVQQ[...]
    - id: 6
      request:
        host: skip-auth-policy-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://skip-auth-policy-00.dne-okta.com/api/v1/apps/0oatzy6sioNHTfUsE697/credentials/keys
        method: GET
      response:
        body: '[{"kty":"RSA","created":"2025-08-08T02:13:42.000Z","lastUpdated":"2025-08-08T02:13:42.000Z","expiresAt":"2035-08-08T02:13:42.000Z","kid":"OZ9dvEp3i_M2gc5OKTuex4JV2-Y-VveR8hx_X9cPL_0","use":"sig","x5c":["MIIDqjCCApKgAwIBAgIGAZiHdJn4MA0GCSqGSIb3DQEBCwUAMIGVMQswCQYDVQQGEwJVUzETMBEGA1UECAwKQ2FsaWZvcm5pYTEWMBQGA1UEBwwNU2FuIEZyYW5jaXNjbzENMAsGA1UECgwET2t0YTEUMBIGA1UECwwLU1NPUHJvdmlkZXIxFjAUBgNVBAMMDXRyaWFsLTUzMDk1NDIxHDAaBgkqhkiG9w0BCQEWDWluZm9Ab2t0YS5jb20wHhcNMjUwODA4MDIxMjQyWhcNMzUwODA4MDIxMzQyWjCBlTELMAkGA1UEBhMCVVMxEzARBgNVBAgMCkNhbGlmb3JuaWExFjAUBgNVBAcMDVNhbiBGcmFuY2lzY28xDTALBgNVBAoMBE9rdGExFDASBgNVBAsMC1NTT1Byb3ZpZGVyMRYwFAYDVQQDDA10cmlhbC01MzA5NTQyMRwwGgYJKoZIhvcNAQkBFg1pbmZvQG9rdGEuY29tMI[...]
[...]
    - id: 20
      request:
        host: skip-auth-policy-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://skip-auth-policy-00.dne-okta.com/api/v1/apps/0oatzy6sioNHTfUsE697/lifecycle/deactivate
        method: POST
      response:
        body: '{}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 702.92975ms
[...]
