---
version: 2
interactions:
    - id: 0
      request:
        host: classic-00.dne-okta.com
        body: |
            {"associated":{"description":"Subordinate link property","name":"testAcc_subordinate","title":"Subordinate","type":"USER"},"primary":{"description":"Manager link property","name":"testAcc_1808015740","title":"Manager","type":"USER"}}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://classic-00.dne-okta.com/api/v1/meta/schemas/user/linkedObjects
        method: POST
      response:
        body: '{"primary":{"name":"testAcc_1808015740","title":"Manager","description":"Manager link property","type":"USER"},"associated":{"name":"testAcc_subordinate","title":"Subordinate","description":"Subordinate link property","type":"USER"},"_links":{"self":{"href":"https://classic-00.oktapreview.com/api/v1/meta/schemas/user/linkedObjects/testAcc_1808015740"}}}'
        headers:
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 164.596959ms
    - id: 1
      request:
        host: classic-00.dne-okta.com
        body: |
            {"credentials":{"password":{}},"profile":{"email":"testAcc_3@example.com","firstName":"TestAcc","lastName":"Smith","login":"testAcc_3@example.com","postalAddress":null}}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://classic-00.dne-okta.com/api/v1/users
        method: POST
      response:
        body: '{"id":"00u9i7jowwyjlrhp21d7","status":"PROVISIONED","created":"2023-08-16T00:05:51.000Z","activated":"2023-08-16T00:05:51.000Z","statusChanged":"2023-08-16T00:05:51.000Z","lastLogin":null,"lastUpdated":"2023-08-16T00:05:51.000Z","passwordChanged":null,"type":{"id":"oty5ptm052JMcoADv1d7"},"profile":{"firstName":"TestAcc","lastName":"Smith","mobilePhone":null,"secondEmail":null,"login":"testAcc_3@example.com","email":"testAcc_3@example.com"},"credentials":{"provider":{"type":"OKTA","name":"OKTA"}},"_links":{"suspend":{"href":"https://classic-00.oktapreview.com/api/v1/users/00u9i7jowwyjlrhp21d7/lifecycle/suspend","method":"POST"},"schema":{"href":"https://classic-00.oktapreview.com/api/v1/meta/schemas/user/osc5ptm052JMcoADv1d7"},"resetPassword":{"href":"https://classic-00.oktapreview.com/api/v1/users/00u9i7jowwyjlrhp21d7/lifecycle/reset_password","method":"POST"},"reactivate":{"href":"https://classic-00.oktapreview.com/api/v1/users/00u9i7jowwyjlrhp21d7/lifecycle/reactivate","method":"POST"},"self":{"href":"https://classic-00.oktapreview.com/api/v1/users/00u9i7jowwyjlrhp21d7"},"type":{"href":"https://classic-00.oktapreview.com/api/v1/meta/types/user/oty5ptm052JMcoADv1d7"},"deactivate":{"href":"https://classic-00.oktapreview.com/api/v1/users/00u9i7jowwyjlrhp21d7/lifecycle/deactivate","method":"POST"}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 388.094772ms
[...]
    - id: 5
      request:
        host: classic-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/users/00u9i7fi8wHQhHL7T1d7
        method: GET
      response:
        body: '{"id":"00u9i7fi8wHQhHL7T1d7","status":"PROVISIONED","created":"2023-08-16T00:05:51.000Z","activated":"2023-08-16T00:05:51.000Z","statusChanged":"2023-08-16T00:05:51.000Z","lastLogin":null,"lastUp[...]
    - id: 6
      request:
        host: classic-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/users/00u9i7jowwyjlrhp21d7
        method: GET
      response:
        body: '{"id":"00u9i7jowwyjlrhp21d7","status":"PROVISIONED","created":"2023-08-16T00:05:51.000Z","activated":"2023-08-16T00:05:51.000Z","statusChanged":"2023-08-16T00:05:51.000Z","lastLogin":null,"lastUp[...]
    - id: 7
      request:
        host: classic-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/users/00u9i7i00uPYSvNOn1d7
        method: GET
      response:
        body: '{"id":"00u9i7i00uPYSvNOn1d7","status":"PROVISIONED","created":"2023-08-16T00:05:51.000Z","activated":"2023-08-16T00:05:51.000Z","statusChanged":"2023-08-16T00:05:51.000Z","lastLogin":null,"lastUp[...]
[...]
    - id: 9
      request:
        host: classic-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/users/00u9i7i00vSKdjVPO1d7
        method: GET
      response:
        body: '{"id":"00u9i7i00vSKdjVPO1d7","status":"PROVISIONED","created":"2023-08-16T00:05:51.000Z","activated":"2023-08-16T00:05:51.000Z","statusChanged":"2023-08-16T00:05:51.000Z","lastLogin":null,"lastUp[...]
    - id: 10
      request:
        host: classic-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/users/00u9i7i1ofTApPXzn1d7
        method: GET
      response:
        body: '{"id":"00u9i7i1ofTApPXzn1d7","status":"PROVISIONED","created":"2023-08-16T00:05:51.000Z","activated":"2023-08-16T00:05:51.000Z","statusChanged":"2023-08-16T00:05:51.000Z","lastLogin":null,"lastU[...]
    - id: 11
      request:
        host: classic-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/meta/schemas/user/linkedObjects/testAcc_1808015740
        method: GET
      response:
        body: '{"primary":{"name":"testAcc_1808015740","title":"Manager","description":"Manager link property","type":"USER"},"associated":{"name":"testAcc_subordinate","title":"Subordinate","description":"Subordinate link property","type":"USER"},"_links":{"self":{"href":"https://classic-00.oktapreview.com/api/v1/meta/schemas/user/linkedObjects/testAcc_1808015740"}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 66.449782ms
    - id: 12
      request:
        host: classic-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/users/00u9i7i00uPYSvNOn1d7/linkedObjects/testAcc_1808015740/00u9i7fi8wHQhHL7T1d7
        method: PUT
      response:
        body: ""
        headers:
        status: 204 No Content
        code: 204
        duration: 264.020275ms
    - id: 13
      request:
        host: classic-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/users/00u9i7jowwyjlrhp21d7/linkedObjects/testAcc_1808015740/00u9i7fi8wHQhHL7T1d7
        method: PUT
      response:
        body: ""
        headers:
        status: 204 No Content
        code: 204
        duration: 248.254435ms
    - id: 14
      request:
        host: classic-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/users/00u9i7i00vSKdjVPO1d7/linkedObjects/testAcc_1808015740/00u9i7fi8wHQhHL7T1d7
        method: PUT
      response:
        body: ""
        headers:
        status: 204 No Content
        code: 204
        duration: 87.128358ms
    - id: 15
      request:
        host: classic-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/users/00u9i7i1ofTApPXzn1d7/linkedObjects/testAcc_1808015740/00u9i7fi8wHQhHL7T1d7
        method: PUT
      response:
        body: ""
        headers:
        status: 204 No Content
        code: 204
        duration: 119.411828ms
[...]
    - id: 23
      request:
        host: classic-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/users/00u9i7fi8wHQhHL7T1d7/linkedObjects/testAcc_subordinate
        method: GET
      response:
        body: '[{"_links":{"self":{"href":"https://classic-00.oktapreview.com/api/v1/users/00u9i7i1ofTApPXzn1d7"}}},{"_links":{"self":{"href":"https://classic-00.oktapreview.com/api/v1/users/00u9i7i00vSKdjVPO1d7"}}},{"_links":{"self":{"href":"https://classic-00.oktapreview.com/api/v1/users/00u9i7i00uPYSvNOn1d7"}}},{"_links":{"self":{"href":"https://classic-00.oktapreview.com/api/v1/users/00u9i7jowwyjlrhp21d7"}}}]'
        headers:
            Content-Type:
                - application/json
            Link:
                - <https://classic-00.dne-okta.com/api/v1/users/00u9i7fi8wHQhHL7T1d7/linkedObjects/testAcc_subordinate?limit=1000>; rel="self"
        status: 200 OK
        code: 200
        duration: 67.227329ms
[...]
    - id: 32
      request:
        host: classic-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/users/00u9i7i00uPYSvNOn1d7/linkedObjects/testAcc_1808015740
        method: DELETE
      response:
        body: ""
        headers:
        status: 204 No Content
        code: 204
        duration: 63.148683ms
    - id: 33
      request:
        host: classic-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/users/00u9i7jowwyjlrhp21d7/linkedObjects/testAcc_1808015740
        method: DELETE
      response:
        body: ""
        headers:
        status: 204 No Content
        code: 204
        duration: 68.580957ms
    - id: 34
      request:
        host: classic-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/users/00u9i7i00vSKdjVPO1d7/linkedObjects/testAcc_1808015740
        method: DELETE
      response:
        body: ""
        headers:
        status: 204 No Content
        code: 204
        duration: 74.460785ms
[...]
    - id: 43
      request:
        host: classic-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/users/00u9i7i1ofTApPXzn1d7/linkedObjects/testAcc_1808015740
        method: DELETE
      response:
        body: ""
        headers:
        status: 204 No Content
        code: 204
        duration: 64.3388ms
[...]
    - id: 55
      request:
        host: classic-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/meta/schemas/user/linkedObjects/testAcc_1808015740
        method: GET
      response:
        body: '{"errorCode":"E0000007","errorSummary":"Not found: Resource not found: testAcc_1808015740 (LinkedObjectProperty)","errorLink":"E0000007","errorId":"oaeWNlc04H3RPqdg4Sfk3NLYA","errorCauses":[]}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 59.915518ms
