---
version: 2
interactions:
    - id: 0
      request:
        host: oie-00.dne-okta.com
        body: |
            {"profile":{"name":"testAcc1_1383288695","description":"Test group for acceptance testing"}}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://oie-00.dne-okta.com/api/v1/groups
        method: POST
      response:
        body: '{"id":"00gon0hga5DOMg5fW5d7","created":"2025-05-08T07:52:21.000Z","lastUpdated":"2025-05-08T07:52:21.000Z","lastMembershipUpdated":"2025-05-08T07:52:21.000Z","objectClass":["okta:user_group"],"type":"OKTA_GROUP","profile":{"name":"testAcc1_1383288695","description":"Test group for acceptance testing"},"_links":{"logo":[{"name":"medium","href":"https://ok12static.oktacdn.com/assets/img/logos/groups/odyssey/okta-medium.30ce6d4085dff29412984e4c191bc874.png","type":"image/png"},{"name":"large","href":"https://ok12static.oktacdn.com/assets/img/logos/groups/odyssey/okta-large.c3cb8cda8ae0add1b4fe928f5844dbe3.png","type":"image/png"}],"users":{"href":"https://oie-00.okta.com/api/v1/groups/00gon0hga5DOMg5fW5d7/users"},"apps":{"href":"https://oie-00.okta.com/api/v1/groups/00gon0hga5DOMg5fW5d7/apps"}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 853.643625ms
    - id: 1
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/groups/00gon0hga5DOMg5fW5d7
        method: GET
      response:
        body: '{"id":"00gon0hga5DOMg5fW5d7","created":"2025-05-08T07:52:21.000Z","lastUpdated":"2025-05-08T07:52:21.000Z","lastMembershipUpdated":"2025-05-08T07:52:21.000Z","objectClass":["okta:user_group"],"type":"OKTA_GROUP","profile":{"name":"testAcc1_1383288695","description":"Test group for acceptance testing"},"_links":{"logo":[{"name":"medium","href":"https://ok12static.oktacdn.com/assets/img/logos/groups/odyssey/okta-medium.30ce6d4085dff29412984e4c191bc874.png","type":"image/png"},{"name":"large","href":"https://ok12static.oktacdn.com/assets/img/logos/groups/odyssey/okta-large.c3cb8cda8ae0add1b4fe928f5844dbe3.png","type":"image/png"}],"users":{"href":"https://oie-00.okta.com/api/v1/groups/00gon0hga5DOMg5fW5d7/users"},"apps":{"href":"https://oie-00.okta.com/api/v1/groups/00gon0hga5DOMg5fW5d7/apps"}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 189.911958ms
[...]
    - id: 3
      request:
        host: oie-00.dne-okta.com
        body: |
            {"actions":{"assignUserToGroups":{"groupIds":["00gon0hga5DOMg5fW5d7"]}},"conditions":{"expression":{"type":"urn:okta:expression:1.0","value":"(user.firstName == \"TestAcc\""},"people":{"users":{}}},"name":"testAcc1_1383288695","type":"group_rule"}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://oie-00.dne-okta.com/api/v1/groups/rules
        method: POST
      response:
        body: '{"errorCode":"E0000001","errorSummary":"Api validation failed: validateRule","errorLink":"E0000001","errorId":"oaeqFSc69_CSbCoBWVqLPZSZQ","errorCauses":[{"errorSummary":"Invalid expression syntax (user.firstName == \"TestAcc\""},{"errorSummary":"conditions: Invalid expression"}]}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 400 Bad Request
        code: 400
        duration: 375.582041ms
[...]
    - id: 6
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/groups/00gon0ekk5vpRjxNi5d7
        method: GET
      response:
        body: '{"id":"00gon0ekk5vpRjxNi5d7","created":"2025-05-08T07:52:22.000Z","lastUpdated":"2025-05-08T07:52:22.000Z","lastMembershipUpdated":"2025-05-08T07:52:22.000Z","objectClass":["okta:user_group"],"type":"OKTA_GROUP","profile":{"name":"testAcc2_1383288695","description":""},"_links":{"logo":[{"name":"medium","href":"https://ok12static.oktacdn.com/assets/img/logos/groups/odyssey/okta-medium.30ce6d4085dff29412984e4c191bc874.png","type":"image/png"},{"name":"large","href":"https://ok12static.oktacdn.com/assets/img/logos/groups/odyssey/okta-large.c3cb8cda8ae0add1b4fe928f5844dbe3.png","type":"image/png"}],"users":{"href":"https://oie-00.okta.com/api/v1/groups/00gon0ekk5vpRjxNi5d7/users"},"apps":{"href":"https://oie-00.okta.com/api/v1/groups/00gon0ekk5vpRjxNi5d7/apps"}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 189.326542ms
[...]
    - id: 13
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/groups/00gon0ha0f5wAcXQ05d7
        method: GET
      response:
        body: '{"id":"00gon0ha0f5wAcXQ05d7","created":"2025-05-08T07:52:24.000Z","lastUpdated":"2025-05-08T07:52:24.000Z","lastMembershipUpdated":"2025-05-08T07:52:24.000Z","objectClass":["okta:user_group"],"type":"OKTA_GROUP","profile":{"name":"testAcc3_1383288695","description":"Test group for acceptance testing"},"_links":{"logo":[{"name":"medium","href":"https://ok12static.oktacdn.com/assets/img/logos/groups/odyssey/okta-medium.30ce6d4085dff29412984e4c191bc874.png","type":"image/png"},{"name":"large","href":"https://ok12static.oktacdn.com/assets/img/logos/groups/odyssey/okta-large.c3cb8cda8ae0add1b4fe928f5844dbe3.png","type":"image/png"}],"users":{"href":"https://oie-00.okta.com/api/v1/groups/00gon0ha0f5wAcXQ05d7/users"},"apps":{"href":"https://oie-00.okta.com/api/v1/groups/00gon0ha0f5wAcXQ05d7/apps"}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 388.778542ms
[...]
