---
version: 2
interactions:
    - id: 0
      request:
        host: classic-00.dne-okta.com
        body: |
            {"profile":{"name":"testAcc","description":"testing, testing"}}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://classic-00.dne-okta.com/api/v1/groups
        method: POST
      response:
        body: '{"id":"00g9i7ebfst82k4j41d7","created":"2023-08-15T23:53:03.000Z","lastUpdated":"2023-08-15T23:53:03.000Z","lastMembershipUpdated":"2023-08-15T23:53:03.000Z","objectClass":["okta:user_group"],"type":"OKTA_GROUP","profile":{"name":"testAcc","description":"testing, testing"},"_links":{"logo":[{"name":"medium","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-medium.30ce6d4085dff29412984e4c191bc874.png","type":"image/png"},{"name":"large","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-large.c3cb8cda8ae0add1b4fe928f5844dbe3.png","type":"image/png"}],"users":{"href":"https://classic-00.oktapreview.com/api/v1/groups/00g9i7ebfst82k4j41d7/users"},"apps":{"href":"https://classic-00.oktapreview.com/api/v1/groups/00g9i7ebfst82k4j41d7/apps"}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 242.479951ms
    - id: 1
      request:
        host: classic-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/groups/00g9i7ebfst82k4j41d7
        method: GET
      response:
        body: '{"id":"00g9i7ebfst82k4j41d7","created":"2023-08-15T23:53:03.000Z","lastUpdated":"2023-08-15T23:53:03.000Z","lastMembershipUpdated":"2023-08-15T23:53:03.000Z","objectClass":["okta:user_group"],"type":"OKTA_GROUP","profile":{"name":"testAcc","description":"testing, testing"},"_links":{"logo":[{"name":"medium","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-medium.30ce6d4085dff29412984e4c191bc874.png","type":"image/png"},{"name":"large","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-large.c3cb8cda8ae0add1b4fe928f5844dbe3.png","type":"image/png"}],"users":{"href":"https://classic-00.oktapreview.com/api/v1/groups/00g9i7ebfst82k4j41d7/users"},"apps":{"href":"https://classic-00.oktapreview.com/api/v1/groups/00g9i7ebfst82k4j41d7/apps"}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 73.026634ms
[...]
    - id: 5
      request:
        host: classic-00.dne-okta.com
        body: |
            {"credentials":{"password":{}},"profile":{"email":"john_3671860054@ledzeppelin.com","firstName":"TestAcc","lastName":"Jones","login":"john_3671860054@ledzeppelin.com","postalAddress":null}}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://classic-00.dne-okta.com/api/v1/users
        method: POST
      response:
        body: '{"id":"00u9i7bdozJez6Ij11d7","status":"PROVISIONED","created":"2023-08-15T23:53:05.000Z","activated":"2023-08-15T23:53:05.000Z","statusChanged":"2023-08-15T23:53:05.000Z","lastLogin":null,"lastUpdated":"2023-08-15T23:53:05.000Z","passwordChanged":null,"type":{"id":"oty5ptm052JMcoADv1d7"},"profile":{"firstName":"TestAcc","lastName":"Jones","mobilePhone":null,"secondEmail":null,"login":"john_3671860054@ledzeppelin.com","email":"john_3671860054@ledzeppelin.com"},"credentials":{"provider":{"type":"OKTA","name":"OKTA"}},"_links":{"suspend":{"href":"https://classic-00.oktapreview.com/api/v1/users/00u9i7bdozJez6Ij11d7/lifecycle/suspend","method":"POST"},"schema":{"href":"https://classic-00.oktapreview.com/api/v1/meta/schemas/user/osc5ptm052JMcoADv1d7"},"resetPassword":{"href":"https://classic-00.oktapreview.com/api/v1/users/00u9i7bdozJez6Ij11d7/lifecycle/reset_password","method":"POST"},"reactivate":{"href":"https://classic-00.oktapreview.com/api/v1/users/00u9i7bdozJez6Ij11d7/lifecycle/reactivate","method":"POST"},"self":{"href":"https://classic-00.oktapreview.com/api/v1/users/00u9i7bdozJez6Ij11d7"},"type":{"href":"https://classic-00.oktapreview.com/api/v1/meta/types/user/oty5ptm052JMcoADv1d7"},"deactivate":{"href":"https://classic-00.oktapreview.com/api/v1/users/00u9i7bdozJez6Ij11d7/lifecycle/deactivate","method":"POST"}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 267.743593ms
    - id: 6
      request:
        host: classic-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/users/00u9i7bdozJez6Ij11d7
        method: GET
      response:
        body: '{"id":"00u9i7bdozJez6Ij11d7","status":"PROVISIONED","created":"2023-08-15T23:53:05.000Z","activated":"2023-08-15T23:53:05.000Z","statusChanged":"2023-08-15T23:53:05.000Z","lastLogin":null,"lastUp[...]
    - id: 7
      request:
        host: classic-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/groups/00g9i7ebfst82k4j41d7/users/00u9i7bdozJez6Ij11d7
        method: PUT
      response:
        body: ""
        headers:
        status: 204 No Content
        code: 204
        duration: 72.593866ms
    - id: 8
      request:
        host: classic-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/users/00u9i7bdozJez6Ij11d7/groups
        method: GET
      response:
        body: '[{"id":"00g5ptm04tzNvyznP1d7","created":"2022-10-04T23:20:18.000Z","lastUpdated":"2022-10-04T23:20:18.000Z","lastMembershipUpdated":"2023-08-15T23:52:27.000Z","objectClass":["okta:user_gro[...]
    - id: 9
      request:
        host: classic-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/groups?limit=1&q=testAcc
        method: GET
      response:
        body: '[{"id":"00g9i7ebfst82k4j41d7","created":"2023-08-15T23:53:03.000Z","lastUpdated":"2023-08-15T23:53:03.000Z","lastMembershipUpdated":"2023-08-15T23:53:03.000Z","objectClass":["okta:user_group"],"type":"OKTA_GROUP","profile":{"name":"testAcc","description":"testing, testing"},"_links":{"logo":[{"name":"medium","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-medium.30ce6d4085dff29412984e4c191bc874.png","type":"image/png"},{"name":"large","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-large.c3cb8cda8ae0add1b4fe928f5844dbe3.png","type":"image/png"}],"users":{"href":"https://classic-00.oktapreview.com/api/v1/groups/00g9i7ebfst82k4j41d7/users"},"apps":{"href":"https://classic-00.oktapreview.com/api/v1/groups/00g9i7ebfst82k4j41d7/apps"}}}]'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 58.202378ms
    - id: 10
      request:
        host: classic-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/groups/00g9i7ebfst82k4j41d7/users?limit=200
        method: GET
      response:
        body: '[{"id":"00u9i7bdozJez6Ij11d7","status":"PROVISIONED","created":"2023-08-15T23:53:05.000Z","activated":"2023-08-15T23:53:05.000Z","statusChanged":"2023-08-15T23:53:05.000Z","lastLogin":null,"lastUpdated":"2023-08-15T23:53:05.000Z","passwordChanged":null,"type":{"id":"oty5ptm052JMcoADv1d7"},"profile":{"firstName":"TestAcc","lastName":"Jones","mobilePhone":null,"secondEmail":null,"login":"john_3671860054@ledzeppelin.com","email":"john_3671860054@ledzeppelin.com"},"credentials":{"provider":{"type":"OKTA","name":"OKTA"}},"_links":{"self":{"href":"https://classic-00.oktapreview.com/api/v1/users/00u9i7bdozJez6Ij11d7"}}}]'
        headers:
            Content-Type:
                - application/json
            Link:
                - <https://classic-00.dne-okta.com/api/v1/groups/00g9i7ebfst82k4j41d7/users?limit=200>; rel="self"
        status: 200 OK
        code: 200
        duration: 60.704524ms
[...]
    - id: 27
      request:
        host: classic-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/groups?filter=type+eq+%22APP_GROUP%22&limit=1&q=testAcc_3671860054
        method: GET
      response:
        body: '[]'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 46.870957ms
[...]
