---
version: 2
interactions:
    - id: 0
      request:
        host: dev-org-oauth-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/x-www-form-urlencoded
        url: https://dev-org-oauth-00.dne-okta.com/oauth2/v1/token?client_assertion=abc123&client_assertion_type=urn%3Aietf%3Aparams%3Aoauth%3Aclient-assertion-type%3Ajwt-bearer&grant_type=client_credentials&scope=okta.groups.read+okta.groups.manage+okta.users.read+okta.users.manage
        method: POST
      response:
        body: '{"token_type":"Bearer","expires_in":3600,"access_token":"eyJraWQiOiJKVGFSM1RQU1E5RGhha1BtdEx0c3I0ZzRsTUN2c1c0b3hQOXc5WnBZR01JIiwiYWxnIjoiUlMyNTYifQ.eyJ2ZXIiOjEsImp0aSI6IkFULm12UVNkZnNKN2RmWFNWU1VJdVZ0SWc4SnhXTXA5cElnT0k5VmNPY2VjWEUiLCJpc3MiOiJodHRwczovL2Rldi1tb25kcmFnb24ub2t0YS5jb20iLCJhdWQiOiJodHRwczovL2Rldi1tb25kcmFnb24ub2t0YS5jb20iLCJzdWIiOiIwb2FiOHV1dnZ2aWt5RzZlczVkNyIsImlhdCI6MTY5NDY0MTY2MiwiZXhwIjoxNjk0NjQ1MjYyLCJjaWQiOiIwb2FiOHV1dnZ2aWt5RzZlczVkNyIsInNjcCI6WyJva3RhLmdyb3Vwcy5yZWFkIiwib2t0YS5ncm91cHMubWFuYWdlIiwib2t0YS51c2Vycy5yZWFkIiwib2t0YS51c2Vycy5tYW5hZ2UiXX0.cUE5NweR_joUa30Luyl0cEMKEsiuyxNkO0PwaZYC9cBMxj206bQfKuUT_DJuH3Ef02Y4QeIbTf9n5g8QqOumhHQMbX0sW3yU9Nl0jNLq_JvLv8NBxaW4pUbLwrlZaQFl7w05olttN7byKiNPuatf0SgrWBDIkrRZpXjL7_8mGyLrAhtCFffUse6lq9QwSIDNB0OU4FGc2rLzseFLNtJlY_jz-Ham3ho0ceSARycdYksf5wQVTr3Ee5eY3aNCqCrBMxnUcgQbiqx7hmK6FA12npaLiw0kRNaHwpGQyABStcV1mbCv9vJIb-orD0XJm73lOdnEemcBbAvqvSlNE8Iwfg","scope":"okta.groups.read okta.groups.manage okta.users.read okta.users.manage"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 487.710083ms
    - id: 1
      request:
        host: dev-org-oauth-00.dne-okta.com
        body: |
            {"profile":{"name":"testAcc_3671860054","description":"testing, testing"}}
        form: {}
        headers:
            Authorization:
                - Bearer REDACTED
            Content-Type:
                - application/json
        url: https://dev-org-oauth-00.dne-okta.com/api/v1/groups
        method: POST
      response:
        body: '{"id":"00gb8yqojp69Y0BZH5d7","created":"2023-09-13T21:47:42.000Z","lastUpdated":"2023-09-13T21:47:42.000Z","lastMembershipUpdated":"2023-09-13T21:47:42.000Z","objectClass":["okta:user_group"],"type":"OKTA_GROUP","profile":{"name":"testAcc_3671860054","description":"testing, testing"},"_links":{"logo":[{"name":"medium","href":"https://ok12static.oktacdn.com/assets/img/logos/groups/odyssey/okta-medium.30ce6d4085dff29412984e4c191bc874.png","type":"image/png"},{"name":"large","href":"https://ok12static.oktacdn.com/assets/img/logos/groups/odyssey/okta-large.c3cb8cda8ae0add1b4fe928f5844dbe3.png","type":"image/png"}],"users":{"href":"https://dev-org-oauth-00.okta.com/api/v1/groups/00gb8yqojp69Y0BZH5d7/users"},"apps":{"href":"https://dev-org-oauth-00.okta.com/api/v1/groups/00gb8yqojp69Y0BZH5d7/apps"}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 372.425688ms
    - id: 2
      request:
        host: dev-org-oauth-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer REDACTED
        url: https://dev-org-oauth-00.dne-okta.com/api/v1/groups/00gb8yqojp69Y0BZH5d7
        method: GET
      response:
        body: '{"id":"00gb8yqojp69Y0BZH5d7","created":"2023-09-13T21:47:42.000Z","lastUpdated":"2023-09-13T21:47:42.000Z","lastMembershipUpdated":"2023-09-13T21:47:42.000Z","objectClass":["okta:user_group"],"type":"OKTA_GROUP","profile":{"name":"testAcc_3671860054","description":"testing, testing"},"_links":{"logo":[{"name":"medium","href":"https://ok12static.oktacdn.com/assets/img/logos/groups/odyssey/okta-medium.30ce6d4085dff29412984e4c191bc874.png","type":"image/png"},{"name":"large","href":"https://ok12static.oktacdn.com/assets/img/logos/groups/odyssey/okta-large.c3cb8cda8ae0add1b4fe928f5844dbe3.png","type":"image/png"}],"users":{"href":"https://dev-org-oauth-00.okta.com/api/v1/groups/00gb8yqojp69Y0BZH5d7/users"},"apps":{"href":"https://dev-org-oauth-00.okta.com/api/v1/groups/00gb8yqojp69Y0BZH5d7/apps"}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 396.376661ms
[...]
    - id: 8
      request:
        host: dev-org-oauth-00.dne-okta.com
        body: |
            {"credentials":{"password":{}},"profile":{"email":"john_3671860054@ledzeppelin.com","firstName":"TestAcc","lastName":"Jones","login":"john_3671860054@ledzeppelin.com","postalAddress":null}}
        form: {}
        headers:
            Authorization:
                - Bearer REDACTED
            Content-Type:
                - application/json
        url: https://dev-org-oauth-00.dne-okta.com/api/v1/users
        method: POST
      response:
        body: '{"id":"00ub8yrk1kvjI44Xh5d7","status":"PROVISIONED","created":"2023-09-13T21:47:45.000Z","activated":"2023-09-13T21:47:45.000Z","statusChanged":"2023-09-13T21:47:45.000Z","lastLogin":null,"lastUpdated":"2023-09-13T21:47:45.000Z","passwordChanged":null,"type":{"id":"otyddwaor9QioUpT65d6"},"profile":{"firstName":"TestAcc","lastName":"Jones","mobilePhone":null,"secondEmail":null,"login":"john_3671860054@ledzeppelin.com","email":"john_3671860054@ledzeppelin.com"},"credentials":{"provider":{"type":"OKTA","name":"OKTA"}},"_links":{"suspend":{"href":"https://dev-org-oauth-00.okta.com/api/v1/users/00ub8yrk1kvjI44Xh5d7/lifecycle/suspend","method":"POST"},"schema":{"href":"https://dev-org-oauth-00.okta.com/api/v1/meta/schemas/user/oscddwaor9QioUpT65d6"},"resetPassword":{"href":"https://dev-org-oauth-00.okta.com/api/v1/users/00ub8yrk1kvjI44Xh5d7/lifecycle/reset_password","method":"POST"},"reactivate":{"href":"https://dev-org-oauth-00.okta.com/api/v1/users/00ub8yrk1kvjI44Xh5d7/lifecycle/reactivate","method":"POST"},"self":{"href":"https://dev-org-oauth-00.okta.com/api/v1/users/00ub8yrk1kvjI44Xh5d7"},"resetFactors":{"href":"https://dev-org-oauth-00.okta.com/api/v1/users/00ub8yrk1kvjI44Xh5d7/lifecycle/reset_factors","method":"POST"},"type":{"href":"https://dev-org-oauth-00.okta.com/api/v1/meta/types/user/otyddwaor9QioUpT65d6"},"deactivate":{"href":"https://dev-org-oauth-00.okta.com/api/v1/users/00ub8yrk1kvjI44Xh5d7/lifecycle/deactivate","method":"POST"}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 891.485933ms
    - id: 9
      request:
        host: dev-org-oauth-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer REDACTED
        url: https://dev-org-oauth-00.dne-okta.com/api/v1/users/00ub8yrk1kvjI44Xh5d7
        method: GET
      response:
        body: '{"id":"00ub8yrk1kvjI44Xh5d7","status":"PROVISIONED","created":"2023-09-13T21:47:45.000Z","activated":"2023-09-13T21:47:45.000Z","statusChanged":"2023-09-13T21:47:45.000Z","lastLogin[...]
    - id: 10
      request:
        host: dev-org-oauth-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer REDACTED
        url: https://dev-org-oauth-00.dne-okta.com/api/v1/groups/00gb8yqojp69Y0BZH5d7/users/00ub8yrk1kvjI44Xh5d7
        method: PUT
      response:
        body: ""
        headers:
        status: 204 No Content
        code: 204
        duration: 92.30603ms
    - id: 11
      request:
        host: dev-org-oauth-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer REDACTED
        url: https://dev-org-oauth-00.dne-okta.com/api/v1/users/00ub8yrk1kvjI44Xh5d7/groups
        method: GET
      response:
        body: '[{"id":"00gddwaoiBgks4GAw5d6","created":"2021-03-26T17:30:35.000Z","lastUpdated":"2021-03-26T17:30:35.000Z","lastMembershipUpdated":"2022-08-24T16:32:35.000Z","objectClass":[...]
    - id: 12
      request:
        host: dev-org-oauth-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer REDACTED
        url: https://dev-org-oauth-00.dne-okta.com/api/v1/groups?limit=1&q=testAcc
        method: GET
      response:
        body: '[{"id":"00gb8yqojp69Y0BZH5d7","created":"2023-09-13T21:47:42.000Z","lastUpdated":"2023-09-13T21:47:45.000Z","lastMembershipUpdated":"2023-09-13T21:47:42.000Z","objectClass":["okta:user_group"],"type":"OKTA_GROUP","profile":{"name":"testAcc","description":"testing, testing"},"_links":{"logo":[{"name":"medium","href":"https://ok12static.oktacdn.com/assets/img/logos/groups/odyssey/okta-medium.30ce6d4085dff29412984e4c191bc874.png","type":"image/png"},{"name":"large","href":"https://ok12static.oktacdn.com/assets/img/logos/groups/odyssey/okta-large.c3cb8cda8ae0add1b4fe928f5844dbe3.png","type":"image/png"}],"users":{"href":"https://dev-org-oauth-00.okta.com/api/v1/groups/00gb8yqojp69Y0BZH5d7/users"},"apps":{"href":"https://dev-org-oauth-00.okta.com/api/v1/groups/00gb8yqojp69Y0BZH5d7/apps"}}}]'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 269.450833ms
    - id: 13
      request:
        host: dev-org-oauth-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer REDACTED
        url: https://dev-org-oauth-00.dne-okta.com/api/v1/groups/00gb8yqojp69Y0BZH5d7/users?limit=200
        method: GET
      response:
        body: '[{"id":"00ub8yrk1kvjI44Xh5d7","status":"PROVISIONED","created":"2023-09-13T21:47:45.000Z","activated":"2023-09-13T21:47:45.000Z","statusChanged":"2023-09-13T21:47:45.000Z","lastLogin":null,"lastUpdated":"2023-09-13T21:47:45.000Z","passwordChanged":null,"type":{"id":"otyddwaor9QioUpT65d6"},"profile":{"firstName":"TestAcc","lastName":"Jones","mobilePhone":null,"secondEmail":null,"login":"john_3671860054@ledzeppelin.com","email":"john_3671860054@ledzeppelin.com"},"credentials":{"provider":{"type":"OKTA","name":"OKTA"}},"_links":{"self":{"href":"https://dev-org-oauth-00.okta.com/api/v1/users/00ub8yrk1kvjI44Xh5d7"}}}]'
        headers:
            Content-Type:
                - application/json
            Link:
                - <https://dev-org-oauth-00.dne-okta.com/api/v1/groups/00gb8yqojp69Y0BZH5d7/users?limit=200>; rel="self"
        status: 200 OK
        code: 200
        duration: 295.72695ms
[...]
    - id: 31
      request:
        host: dev-org-oauth-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer REDACTED
        url: https://dev-org-oauth-00.dne-okta.com/api/v1/groups?filter=type+eq+%22APP_GROUP%22&limit=1&q=testAcc_3671860054
        method: GET
      response:
        body: '[]'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 71.717774ms
[...]
