---
version: 2
interactions:
    - id: 0
      request:
        host: dev-org-oauth-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/x-www-form-urlencoded
        url: https://dev-org-oauth-00.dne-okta.com/oauth2/v1/token?client_assertion=abc123&client_assertion_type=urn%3Aietf%3Aparams%3Aoauth%3Aclient-assertion-type%3Ajwt-bearer&grant_type=client_credentials&scope=okta.groups.read+okta.groups.manage+okta.users.read+okta.users.manage
        method: POST
      response:
        body: '{"token_type":"Bearer","expires_in":3600,"access_token":"eyJraWQiOiJESXpFaEpoV3NWZnM5U2paTGNveWY2RkZZNWtXUFRVZE9HUUF5R0xLb1FFIiwiYWxnIjoiUlMyNTYifQ.eyJ2ZXIiOjEsImp0aSI6IkFULjN3TmdndlVKbVJHVjRGckxlTy1aX2Iwb3pLc18tMmQ0ZDQycWd2SzdNQlEiLCJpc3MiOiJodHRwczovL21tLW9pZS0yMDIyLTEwLTA3LW1heC5va3RhcHJldmlldy5jb20iLCJhdWQiOiJodHRwczovL21tLW9pZS0yMDIyLTEwLTA3LW1heC5va3RhcHJldmlldy5jb20iLCJzdWIiOiIwb2FhMHh5Y2ZmaDRXUlIzcjFkNyIsImlhdCI6MTY5ODc3NzM4MiwiZXhwIjoxNjk4NzgwOTgyLCJjaWQiOiIwb2FhMHh5Y2ZmaDRXUlIzcjFkNyIsInNjcCI6WyJva3RhLmdyb3Vwcy5yZWFkIiwib2t0YS5ncm91cHMubWFuYWdlIiwib2t0YS51c2Vycy5yZWFkIiwib2t0YS51c2Vycy5tYW5hZ2UiXX0.O8dfdV8mQdvoOH90dCk6HGrmKnr4WaM76jpEG0ZsoLRoezZuLt1hH0VKKQcLIiOGltwOWD3oG12AeuqRldETxRJ_oqbX4-PzKe6fOg89jv9XoLaNyDGbevL8Zw_YGrKg4AyLC_G7OWOlJ1sEe4HoyHcn0UHAhPTq4mqkC7DdW6Bx1QjautaVKwopGT56y4v2pOwoOQIXV0kFy9HQe-Uew3lJsgV4uG7B4G7wO9o6ybHFrskpd-TJODI5DVcxy9IOWfsIc5bu9X5GTeg8mvqWZpqt21yNRKkdTi0HKv6e3deDIISuSl3JuCjw_B59OmRE8zN4UINm0jWce6eqXuwq4Q","scope":"okta.groups.read okta.groups.manage okta.users.read okta.users.manage"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 494.175717ms
    - id: 1
      request:
        host: dev-org-oauth-00.dne-okta.com
        body: |
            {"profile":{"name":"testAcc_3671860054","description":"testing, testing"}}
        form: {}
        headers:
            Authorization:
                - Bearer REDACTED
            Content-Type:
                - application/json
        url: https://dev-org-oauth-00.dne-okta.com/api/v1/groups
        method: POST
      response:
        body: '{"id":"00gayy097on1yEBme1d7","created":"2023-10-31T18:36:23.000Z","lastUpdated":"2023-10-31T18:36:23.000Z","lastMembershipUpdated":"2023-10-31T18:36:23.000Z","objectClass":["okta:user_group"],"type":"OKTA_GROUP","profile":{"name":"testAcc_3671860054","description":"testing, testing"},"_links":{"logo":[{"name":"medium","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-medium.30ce6d4085dff29412984e4c191bc874.png","type":"image/png"},{"name":"large","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-large.c3cb8cda8ae0add1b4fe928f5844dbe3.png","type":"image/png"}],"users":{"href":"https://dev-org-oauth-00.oktapreview.com/api/v1/groups/00gayy097on1yEBme1d7/users"},"apps":{"href":"https://dev-org-oauth-00.oktapreview.com/api/v1/groups/00gayy097on1yEBme1d7/apps"}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 349.12182ms
    - id: 2
      request:
        host: dev-org-oauth-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer REDACTED
        url: https://dev-org-oauth-00.dne-okta.com/api/v1/groups/00gayy097on1yEBme1d7
        method: GET
      response:
        body: '{"id":"00gayy097on1yEBme1d7","created":"2023-10-31T18:36:23.000Z","lastUpdated":"2023-10-31T18:36:23.000Z","lastMembershipUpdated":"2023-10-31T18:36:23.000Z","objectClass":["okta:user_group"],"type":"OKTA_GROUP","profile":{"name":"testAcc_3671860054","description":"testing, testing"},"_links":{"logo":[{"name":"medium","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-medium.30ce6d4085dff29412984e4c191bc874.png","type":"image/png"},{"name":"large","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-large.c3cb8cda8ae0add1b4fe928f5844dbe3.png","type":"image/png"}],"users":{"href":"https://dev-org-oauth-00.oktapreview.com/api/v1/groups/00gayy097on1yEBme1d7/users"},"apps":{"href":"https://dev-org-oauth-00.oktapreview.com/api/v1/groups/00gayy097on1yEBme1d7/apps"}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 346.845798ms
[...]
    - id: 6
      request:
        host: dev-org-oauth-00.dne-okta.com
        body: |
            {"credentials":{"password":{}},"profile":{"email":"john_3671860054@ledzeppelin.com","firstName":"TestAcc","lastName":"Jones","login":"john_3671860054@ledzeppelin.com","postalAddress":null}}
        form: {}
        headers:
            Authorization:
                - Bearer REDACTED
            Content-Type:
                - application/json
        url: https://dev-org-oauth-00.dne-okta.com/api/v1/users
        method: POST
      response:
        body: '{"id":"00uayxzykzEbCjI5d1d7","status":"PROVISIONED","created":"2023-10-31T18:36:25.000Z","activated":"2023-10-31T18:36:25.000Z","statusChanged":"2023-10-31T18:36:25.000Z","lastLogin":null,"lastUpdated":"2023-10-31T18:36:25.000Z","passwordChanged":null,"type":{"id":"oty5qwjvh0Vy1j8Kd1d7"},"profile":{"firstName":"TestAcc","lastName":"Jones","mobilePhone":null,"secondEmail":null,"login":"john_3671860054@ledzeppelin.com","email":"john_3671860054@ledzeppelin.com"},"credentials":{"provider":{"type":"OKTA","name":"OKTA"}},"_links":{"suspend":{"href":"https://dev-org-oauth-00.oktapreview.com/api/v1/users/00uayxzykzEbCjI5d1d7/lifecycle/suspend","method":"POST"},"schema":{"href":"https://dev-org-oauth-00.oktapreview.com/api/v1/meta/schemas/user/osc5qwjvh0Vy1j8Kd1d7"},"resetPassword":{"href":"https://dev-org-oauth-00.oktapreview.com/api/v1/users/00uayxzykzEbCjI5d1d7/lifecycle/reset_password","method":"POST"},"reactivate":{"href":"https://dev-org-oauth-00.oktapreview.com/api/v1/users/00uayxzykzEbCjI5d1d7/lifecycle/reactivate","method":"POST"},"self":{"href":"https://dev-org-oauth-00.oktapreview.com/api/v1/users/00uayxzykzEbCjI5d1d7"},"type":{"href":"https://dev-org-oauth-00.oktapreview.com/api/v1/meta/types/user/oty5qwjvh0Vy1j8Kd1d7"},"deactivate":{"href":"https://dev-org-oauth-00.oktapreview.com/api/v1/users/00uayxzykzEbCjI5d1d7/lifecycle/deactivate","method":"POST"}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 465.489401ms
    - id: 7
      request:
        host: dev-org-oauth-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer REDACTED
        url: https://dev-org-oauth-00.dne-okta.com/api/v1/users/00uayxzykzEbCjI5d1d7
        method: GET
      response:
        body: '{"id":"00uayxzykzEbCjI5d1d7","status":"PROVISIONED","created":"2023-10-31T18:36:25.000Z","activated":"2023-10-31T18:36:25.000Z","statusChanged":"2023-10-31T18:36:25.000Z","lastLogin[...]
    - id: 8
      request:
        host: dev-org-oauth-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer REDACTED
        url: https://dev-org-oauth-00.dne-okta.com/api/v1/groups/00gayy097on1yEBme1d7/users/00uayxzykzEbCjI5d1d7
        method: PUT
      response:
        body: ""
        headers:
        status: 204 No Content
        code: 204
        duration: 379.99277ms
    - id: 9
      request:
        host: dev-org-oauth-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer REDACTED
        url: https://dev-org-oauth-00.dne-okta.com/api/v1/users/00uayxzykzEbCjI5d1d7/groups
        method: GET
      response:
        body: '[{"id":"00g5qwjvgrD3WR89l1d7","created":"2022-10-07T23:16:57.000Z","lastUpdated":"2022-10-07T23:16:57.000Z","lastMembershipUpdated":"2023-10-31T18:34:50.000Z","objectClass":[[...]
    - id: 10
      request:
        host: dev-org-oauth-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer REDACTED
        url: https://dev-org-oauth-00.dne-okta.com/api/v1/groups?q=testAcc_3671860054
        method: GET
      response:
        body: '[{"id":"00gayy097on1yEBme1d7","created":"2023-10-31T18:36:23.000Z","lastUpdated":"2023-10-31T18:36:23.000Z","lastMembershipUpdated":"2023-10-31T18:36:23.000Z","objectClass":["okta:user_group"],"type":"OKTA_GROUP","profile":{"name":"testAcc_3671860054","description":"testing, testing"},"_links":{"logo":[{"name":"medium","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-medium.30ce6d4085dff29412984e4c191bc874.png","type":"image/png"},{"name":"large","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-large.c3cb8cda8ae0add1b4fe928f5844dbe3.png","type":"image/png"}],"users":{"href":"https://dev-org-oauth-00.oktapreview.com/api/v1/groups/00gayy097on1yEBme1d7/users"},"apps":{"href":"https://dev-org-oauth-00.oktapreview.com/api/v1/groups/00gayy097on1yEBme1d7/apps"}}}]'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 236.913341ms
    - id: 11
      request:
        host: dev-org-oauth-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer REDACTED
        url: https://dev-org-oauth-00.dne-okta.com/api/v1/groups/00gayy097on1yEBme1d7/users?limit=200
        method: GET
      response:
        body: '[{"id":"00uayxzykzEbCjI5d1d7","status":"PROVISIONED","created":"2023-10-31T18:36:25.000Z","activated":"2023-10-31T18:36:25.000Z","statusChanged":"2023-10-31T18:36:25.000Z","lastLogin":null,"lastUpdated":"2023-10-31T18:36:25.000Z","passwordChanged":null,"type":{"id":"oty5qwjvh0Vy1j8Kd1d7"},"profile":{"firstName":"TestAcc","lastName":"Jones","mobilePhone":null,"secondEmail":null,"login":"john_3671860054@ledzeppelin.com","email":"john_3671860054@ledzeppelin.com"},"credentials":{"provider":{"type":"OKTA","name":"OKTA"}},"_links":{"self":{"href":"https://dev-org-oauth-00.oktapreview.com/api/v1/users/00uayxzykzEbCjI5d1d7"}}}]'
        headers:
            Content-Type:
                - application/json
            Link:
                - <https://dev-org-oauth-00.dne-okta.com/api/v1/groups/00gayy097on1yEBme1d7/users?limit=200>; rel="self"
        status: 200 OK
        code: 200
        duration: 355.72229ms
[...]
    - id: 24
      request:
        host: dev-org-oauth-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer REDACTED
        url: https://dev-org-oauth-00.dne-okta.com/api/v1/groups?filter=type+eq+%22APP_GROUP%22&q=testAcc_3671860054
        method: GET
      response:
        body: '[]'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 244.650838ms
[...]
