---
version: 2
interactions:
    - id: 0
      request:
        host: oie-00.dne-okta.com
        body: |
            {"credentials":{"userNameTemplate":{"template":"user.login","type":"CUSTOM"},"userName":""},"accessibility":{"selfService":false},"label":"testAcc_3575239772","name":"office365","settings":{"app":{"domain":"example.com","domains":[],"msftTenant":"exampletenant","requireAdminConsent":false,"windowsTransportEnabled":false,"wsFedConfigureType":"AUTO"},"notes":{"admin":null,"enduser":null}},"signOnMode":"AUTO_LOGIN","visibility":{"appLinks":{"calendar":false,"crm":false,"delve":false,"excel":false,"forms":false,"login":true,"mail":false,"newsfeed":false,"onedrive":false,"people":false,"planner":false,"powerbi":false,"powerpoint":false,"sites":false,"sway":false,"tasks":false,"teams":false,"video":false,"word":false,"yammer":false},"autoSubmitToolbar":false,"hide":{"iOS":false,"web":false}}}
        form:
            activate:
                - "true"
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://oie-00.dne-okta.com/api/v1/apps?activate=true
        method: POST
      response:
        body: '{"id":"0oaws5pwpwkusGK6P1d7","orn":"orn:oktapreview:idp:00onkw1sbuAh3Q06I1d7:apps:office365:0oaws5pwpwkusGK6P1d7","name":"office365","label":"testAcc_3575239772","status":"ACTIVE","lastUpdated":"2026-03-27T07:35:10.000Z","created":"2026-03-27T07:35:08.000Z","accessibility":{"selfService":false,"errorRedirectUrl":null,"loginRedirectUrl":null},"licensing":{"seatCount":0},"visibility":{"autoLaunch":false,"autoSubmitToolbar":false,"hide":{"iOS":false,"web":false},"appLinks":{"calendar":false,"mail":false,"teams":false,"sites":false,"delve":false,"sway":false,"login":true,"powerbi":false,"people":false,"excel":false,"yammer":false,"newsfeed":false,"onedrive":false,"word":false,"planner":false,"powerpoint":false,"tasks":false,"forms":false,"crm":false}},"features":[],"signOnMode":"BROWSER_PLUGIN","credentials":{"scheme":"EDIT_USERNAME_AND_PASSWORD","userNameTemplate":{"template":"user.login","type":"CUSTOM","pushStatus":"DONT_PUSH"},"revealPassword":false,"signing":{}},"universalLogout":{"status":"DISABLED","supportType":"PARTIAL","identityStack":"SHARED","protocol":"PROPRIETARY"},"settings":{"app":{"tenantType":null,"wsFedConfigureType":"AUTO","occSettings":null,"windowsTransportEnabled":false,"domain":"example.com","msftTenant":"exampletenant","domains":[],"office365ProvisioningType":null,"requireAdminConsent":false,"office365FlexibleProvisioningMode":null},"notifications":{"vpn":{"network":{"connection":"DISABLED"},"message":null,"helpUrl":null}},"manualProvisioning":false,"implicitAssignment":false,"emOptInStatus":"NONE","notes":{"admin":null,"enduser":null}},"_links":{"uploadLogo":{"href":"https://oie-00.dne-okta.com/api/v1/apps/0oaws5pwpwkusGK6P1d7/logo","hints":{"allow":["POST"]}},"appLinks":[{"name":"login","href":"https://oie-00.dne-okta.com/home/office365/0oaws5pwpwkusGK6P1d7/2161","type":"text/html"}],"profileEnrollment":{"href":"https://oie-00.dne-okta.com/api/v1/policies/rstnkw1sgzCwhJaUs1d7"},"policies":{"href":"https://oie-00.dne-okta.com/api/v1/apps/0oaws5pwpwkusGK6P1d7/policies","hints":{"allow":["PUT"]}},"groups":{"href":"https://oie-00.dne-okta.com/api/v1/apps/0oaws5pwpwkusGK6P1d7/groups"},"logo":[{"name":"medium","href":"https://op3static2.oktacdn.com/fs/bcg/4/gfsceweidir0dU05k1d6","type":"image/png"}],"accessPolicy":{"href":"https://oie-00.dne-okta.com/api/v1/policies/rstws5pwrw7Gjwvms1d7"},"users":{"href":"https://oie-00.dne-okta.com/api/v1/apps/0oaws5pwpwkusGK6P1d7/users"},"deactivate":{"href":"https://oie-00.dne-okta.com/api/v1/apps/0oaws5pwpwkusGK6P1d7/lifecycle/deactivate"}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 2.88012875s
    - id: 1
      request:
        host: oie-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/apps/0oaws5pwpwkusGK6P1d7
        method: GET
      response:
        body: '{"id":"0oaws5pwpwkusGK6P1d7","orn":"orn:oktapreview:idp:00onkw1sbuAh3Q06I1d7:apps:office365:0oaws5pwpwkusGK6P1d7","name":"office365","label":"testAcc_3575239772","status":"ACTIVE","lastUpdated":"2026-03-27T07:35:10.000Z","created":"2026-0[...]
[...]
    - id: 4
      request:
        host: oie-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/apps/0oaws5pwpwkusGK6P1d7/lifecycle/deactivate
        method: POST
      response:
        body: '{}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.30110125s
[...]
