---
version: 2
interactions:
    - id: 0
      request:
        host: oie-00.dne-okta.com
        body: |
            {"profile":{"name":"testAcc_1786266925","description":"Test group for acceptance testing"}}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://oie-00.dne-okta.com/api/v1/groups
        method: POST
      response:
        body: '{"id":"00gtfb7p86HynMfZr697","created":"2025-07-21T05:02:28.000Z","lastUpdated":"2025-07-21T05:02:28.000Z","lastMembershipUpdated":"2025-07-21T05:02:28.000Z","objectClass":["okta:user_group"],"type":"OKTA_GROUP","profile":{"name":"testAcc_1786266925","description":"Test group for acceptance testing"},"_links":{"logo":[{"name":"medium","href":"https://ok14static.oktacdn.com/assets/img/logos/groups/odyssey/okta-medium.30ce6d4085dff29412984e4c191bc874.png","type":"image/png"},{"name":"large","href":"https://ok14static.oktacdn.com/assets/img/logos/groups/odyssey/okta-large.c3cb8cda8ae0add1b4fe928f5844dbe3.png","type":"image/png"}],"users":{"href":"https://oie-00.dne-okta.com/api/v1/groups/00gtfb7p86HynMfZr697/users"},"apps":{"href":"https://oie-00.dne-okta.com/api/v1/groups/00gtfb7p86HynMfZr697/apps"}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 827.622417ms
    - id: 1
      request:
        host: oie-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/groups/00gtfb7p86HynMfZr697
        method: GET
      response:
        body: '{"id":"00gtfb7p86HynMfZr697","created":"2025-07-21T05:02:28.000Z","lastUpdated":"2025-07-21T05:02:28.000Z","lastMembershipUpdated":"2025-07-21T05:02:28.000Z","objectClass":["okta:user_group"],"type":"OKTA_GROUP","profile":{"name":"testAcc_1786266925","description":"Test group for acceptance testing"},"_links":{"logo":[{"name":"medium","href":"https://ok14static.oktacdn.com/assets/img/logos/groups/odyssey/okta-medium.30ce6d4085dff29412984e4c191bc874.png","type":"image/png"},{"name":"large","href":"https://ok14static.oktacdn.com/assets/img/logos/groups/odyssey/okta-large.c3cb8cda8ae0add1b4fe928f5844dbe3.png","type":"image/png"}],"users":{"href":"https://oie-00.dne-okta.com/api/v1/groups/00gtfb7p86HynMfZr697/users"},"apps":{"href":"https://oie-00.dne-okta.com/api/v1/groups/00gtfb7p86HynMfZr697/apps"}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 672.793375ms
[...]
    - id: 3
      request:
        host: oie-00.dne-okta.com
        body: |
            {"actions":{"assignUserToGroups":{"groupIds":["00gtfb7p86HynMfZr697"]}},"conditions":{"expression":{"type":"urn:okta:expression:1.0","value":"hasDirectoryUser() AND findDirectoryUser().managerUpn == \"manager@example.com\""},"people":{"users":{}}},"name":"testAcc_1786266925","type":"group_rule"}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://oie-00.dne-okta.com/api/v1/groups/rules
        method: POST
      response:
        body: '{"type":"group_rule","id":"0prtfbhcygAVEYnin697","status":"INACTIVE","name":"testAcc_1786266925","created":"2025-07-21T05:02:30.000Z","lastUpdated":"2025-07-21T05:02:30.000Z","conditions":{"people":{"users":{"exclude":[]},"groups":{"exclude":[]}},"expression":{"value":"hasDirectoryUser() AND findDirectoryUser().managerUpn == \"manager@example.com\"","type":"urn:okta:expression:1.0"}},"actions":{"assignUserToGroups":{"groupIds":["00gtfb7p86HynMfZr697"]}},"allGroupsValid":true}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 716.926333ms
    - id: 4
      request:
        host: oie-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/groups/rules/0prtfbhcygAVEYnin697/lifecycle/activate
        method: POST
      response:
        body: ""
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
        status: 204 No Content
        code: 204
        duration: 724.141792ms
    - id: 5
      request:
        host: oie-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/groups/rules/0prtfbhcygAVEYnin697
        method: GET
      response:
        body: '{"type":"group_rule","id":"0prtfbhcygAVEYnin697","status":"ACTIVE","name":"testAcc_1786266925","created":"2025-07-21T05:02:30.000Z","lastUpdated":"2025-07-21T05:02:31.000Z","conditions":{"people":{"users":{"exclude":[]},"groups":{"exclude":[]}},"expression":{"value":"hasDirectoryUser() AND findDirectoryUser().managerUpn == \"manager@example.com\"","type":"urn:okta:expression:1.0"}},"actions":{"assignUserToGroups":{"groupIds":["00gtfb7p86HynMfZr697"]}},"allGroupsValid":true}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 665.127958ms
[...]
    - id: 8
      request:
        host: oie-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/groups/rules/0prtfbhcygAVEYnin697/lifecycle/deactivate
        method: POST
      response:
        body: ""
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
        status: 204 No Content
        code: 204
        duration: 698.987541ms
    - id: 9
      request:
        host: oie-00.dne-okta.com
        form:
            removeUsers:
                - "false"
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/groups/rules/0prtfbhcygAVEYnin697?removeUsers=false
        method: DELETE
      response:
        body: '{}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 202 Accepted
        code: 202
        duration: 740.756709ms
[...]
