---
version: 2
interactions:
    - id: 0
      request:
        host: classic-00.dne-okta.com
        body: |
            {"credentials":{"password":{}},"profile":{"email":"testAcc-646518887@example.com","firstName":"TestAcc","lastName":"Smith","login":"testAcc-646518887@example.com","postalAddress":null}}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://classic-00.dne-okta.com/api/v1/users
        method: POST
      response:
        body: '{"id":"00ukwuqd8ico8e92U1d7","status":"PROVISIONED","created":"2025-03-14T03:22:02.000Z","activated":"2025-03-14T03:22:02.000Z","statusChanged":"2025-03-14T03:22:02.000Z","lastLogin":null,"lastUpdated":"2025-03-14T03:22:02.000Z","passwordChanged":null,"type":{"id":"oty5ptm052JMcoADv1d7"},"profile":{"firstName":"TestAcc","lastName":"Smith","mobilePhone":null,"secondEmail":null,"login":"testAcc-646518887@example.com","email":"testAcc-646518887@example.com"},"credentials":{"provider":{"type":"OKTA","name":"OKTA"}},"_links":{"suspend":{"href":"https://classic-00.dne-okta.com/api/v1/users/00ukwuqd8ico8e92U1d7/lifecycle/suspend","method":"POST"},"schema":{"href":"https://classic-00.dne-okta.com/api/v1/meta/schemas/user/osc5ptm052JMcoADv1d7"},"resetPassword":{"href":"https://classic-00.dne-okta.com/api/v1/users/00ukwuqd8ico8e92U1d7/lifecycle/reset_password","method":"POST"},"reactivate":{"href":"https://classic-00.dne-okta.com/api/v1/users/00ukwuqd8ico8e92U1d7/lifecycle/reactivate","method":"POST"},"self":{"href":"https://classic-00.dne-okta.com/api/v1/users/00ukwuqd8ico8e92U1d7"},"type":{"href":"https://classic-00.dne-okta.com/api/v1/meta/types/user/oty5ptm052JMcoADv1d7"},"deactivate":{"href":"https://classic-00.dne-okta.com/api/v1/users/00ukwuqd8ico8e92U1d7/lifecycle/deactivate","method":"POST"}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 399.0625ms
    - id: 1
      request:
        host: classic-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/users/00ukwuqd8ico8e92U1d7
        method: GET
      response:
        body: '{"id":"00ukwuqd8ico8e92U1d7","status":"PROVISIONED","created":"2025-03-14T03:22:02.000Z","activated":"2025-03-14T03:22:02.000Z","statusChanged":"2025-03-14T03:22:02.000Z","lastLogin":null,"lastUp[...]
    - id: 2
      request:
        host: classic-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/users/00ukwuqd8ico8e92U1d7/lifecycle/deactivate
        method: POST
      response:
        body: '{}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 330.139625ms
    - id: 3
      request:
        host: classic-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/users/00ukwuqd8ico8e92U1d7
        method: GET
      response:
        body: '{"id":"00ukwuqd8ico8e92U1d7","status":"DEPROVISIONED","created":"2025-03-14T03:22:02.000Z","activated":"2025-03-14T03:22:02.000Z","statusChanged":"2025-03-14T03:22:03.000Z","lastLogin":null,"lastUpdated":"2025-03-14T03:22:02.000Z","passwordChanged":null,"type":{"id":"oty5ptm052JMcoADv1d7"},"profile":{"firstName":"TestAcc","lastName":"Smith","mobilePhone":null,"secondEmail":null,"login":"testAcc-646518887@example.com","email":"testAcc-646518887@example.com"},"credentials":{"provider":{"type":"OKTA","name":"OKTA"}},"_links":{"schema":{"href":"https://classic-00.dne-okta.com/api/v1/meta/schemas/user/osc5ptm052JMcoADv1d7"},"activate":{"href":"https://classic-00.dne-okta.com/api/v1/users/00ukwuqd8ico8e92U1d7/lifecycle/activate","method":"POST"},"self":{"href":"https://classic-00.dne-okta.com/api/v1/users/00ukwuqd8ico8e92U1d7"},"type":{"href":"https://classic-00.dne-okta.com/api/v1/meta/types/user/oty5ptm052JMcoADv1d7"},"delete":{"href":"https://classic-00.dne-okta.com/api/v1/users/00ukwuqd8ico8e92U1d7","method":"DELETE"}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
            Etag:
                - W/"060c21825a54d37be5f07677a15bae1ba236c2c2835beb3adfa22d9a736e0d06"
        status: 200 OK
        code: 200
        duration: 1.006065458s
[...]
