---
version: 2
interactions:
    - id: 0
      request:
        host: oie-00.dne-okta.com
        body: |
            {"credentials":{"password":{}},"profile":{"email":"testAcc-646518887@example.com","firstName":"TestAcc","lastName":"Smith","login":"testAcc-646518887@example.com","postalAddress":null}}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://oie-00.dne-okta.com/api/v1/users
        method: POST
      response:
        body: '{"id":"00ukwraxfklmBSmh11d7","status":"PROVISIONED","created":"2025-03-13T23:46:05.000Z","activated":"2025-03-13T23:46:06.000Z","statusChanged":"2025-03-13T23:46:06.000Z","lastLogin":null,"lastUpdated":"2025-03-13T23:46:06.000Z","passwordChanged":null,"type":{"id":"oty5qwjvh0Vy1j8Kd1d7"},"profile":{"firstName":"TestAcc","lastName":"Smith","mobilePhone":null,"secondEmail":null,"login":"testAcc-646518887@example.com","email":"testAcc-646518887@example.com"},"credentials":{"provider":{"type":"OKTA","name":"OKTA"}},"_links":{"suspend":{"href":"https://oie-00.dne-okta.com/api/v1/users/00ukwraxfklmBSmh11d7/lifecycle/suspend","method":"POST"},"schema":{"href":"https://oie-00.dne-okta.com/api/v1/meta/schemas/user/osc5qwjvh0Vy1j8Kd1d7"},"resetPassword":{"href":"https://oie-00.dne-okta.com/api/v1/users/00ukwraxfklmBSmh11d7/lifecycle/reset_password","method":"POST"},"reactivate":{"href":"https://oie-00.dne-okta.com/api/v1/users/00ukwraxfklmBSmh11d7/lifecycle/reactivate","method":"POST"},"self":{"href":"https://oie-00.dne-okta.com/api/v1/users/00ukwraxfklmBSmh11d7"},"type":{"href":"https://oie-00.dne-okta.com/api/v1/meta/types/user/oty5qwjvh0Vy1j8Kd1d7"},"deactivate":{"href":"https://oie-00.dne-okta.com/api/v1/users/00ukwraxfklmBSmh11d7/lifecycle/deactivate","method":"POST"}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 936.061458ms
    - id: 1
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/users/00ukwraxfklmBSmh11d7
        method: GET
      response:
        body: '{"id":"00ukwraxfklmBSmh11d7","status":"PROVISIONED","created":"2025-03-13T23:46:05.000Z","activated":"2025-03-13T23:46:06.000Z","statusChanged":"2025-03-13T23:46:06.000Z","lastLogin":null,"lastUpdated":"[...]
    - id: 2
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/users/00ukwraxfklmBSmh11d7/lifecycle/deactivate
        method: POST
      response:
        body: '{}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 284.743833ms
    - id: 3
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/users/00ukwraxfklmBSmh11d7
        method: GET
      response:
        body: '{"id":"00ukwraxfklmBSmh11d7","status":"DEPROVISIONED","created":"2025-03-13T23:46:05.000Z","activated":"2025-03-13T23:46:06.000Z","statusChanged":"2025-03-13T23:46:06.000Z","lastLogin":null,"lastUpdated":"2025-03-13T23:46:06.000Z","passwordChanged":null,"type":{"id":"oty5qwjvh0Vy1j8Kd1d7"},"profile":{"firstName":"TestAcc","lastName":"Smith","mobilePhone":null,"secondEmail":null,"login":"testAcc-646518887@example.com","email":"testAcc-646518887@example.com"},"credentials":{"provider":{"type":"OKTA","name":"OKTA"}},"_links":{"schema":{"href":"https://oie-00.dne-okta.com/api/v1/meta/schemas/user/osc5qwjvh0Vy1j8Kd1d7"},"activate":{"href":"https://oie-00.dne-okta.com/api/v1/users/00ukwraxfklmBSmh11d7/lifecycle/activate","method":"POST"},"self":{"href":"https://oie-00.dne-okta.com/api/v1/users/00ukwraxfklmBSmh11d7"},"type":{"href":"https://oie-00.dne-okta.com/api/v1/meta/types/user/oty5qwjvh0Vy1j8Kd1d7"},"delete":{"href":"https://oie-00.dne-okta.com/api/v1/users/00ukwraxfklmBSmh11d7","method":"DELETE"}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
            Etag:
                - W/"1e75278527b116cc471a9c22a3a5a7b21856c538c135306f326ad1c320315afe"
        status: 200 OK
        code: 200
        duration: 244.950208ms
[...]
