---
version: 2
interactions:
    - id: 0
      request:
        host: mm-classic-2022-10-04.oktapreview.com
        body: |
            {"profile":{"name":"foo_442414123","description":""}}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://mm-classic-2022-10-04.oktapreview.com/api/v1/groups
        method: POST
      response:
        body: '{"id":"00g95utj6lrfIXO1P1d7","created":"2023-07-27T20:14:03.000Z","lastUpdated":"2023-07-27T20:14:03.000Z","lastMembershipUpdated":"2023-07-27T20:14:03.000Z","objectClass":["okta:user_group"],"type":"OKTA_GROUP","profile":{"name":"foo_442414123","description":""},"_links":{"logo":[{"name":"medium","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-medium.30ce6d4085dff29412984e4c191bc874.png","type":"image/png"},{"name":"large","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-large.c3cb8cda8ae0add1b4fe928f5844dbe3.png","type":"image/png"}],"users":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/groups/00g95utj6lrfIXO1P1d7/users"},"apps":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/groups/00g95utj6lrfIXO1P1d7/apps"}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 165.729256ms
    - id: 1
      request:
        host: mm-classic-2022-10-04.oktapreview.com
        body: |
            {"credentials":{"password":{}},"profile":{"email":"john_442414123@thewho.com","firstName":"TestAcc","lastName":"Entwhistle","login":"john_442414123@thewho.com","postalAddress":null}}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://mm-classic-2022-10-04.oktapreview.com/api/v1/users
        method: POST
      response:
        body: '{"id":"00u95uw0hsSf1XLxU1d7","status":"PROVISIONED","created":"2023-07-27T20:14:03.000Z","activated":"2023-07-27T20:14:03.000Z","statusChanged":"2023-07-27T20:14:03.000Z","lastLogin":null,"lastUpdated":"2023-07-27T20:14:03.000Z","passwordChanged":null,"type":{"id":"oty5ptm052JMcoADv1d7"},"profile":{"firstName":"TestAcc","lastName":"Entwhistle","mobilePhone":null,"secondEmail":null,"login":"john_442414123@thewho.com","email":"john_442414123@thewho.com"},"credentials":{"provider":{"type":"OKTA","name":"OKTA"}},"_links":{"suspend":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/users/00u95uw0hsSf1XLxU1d7/lifecycle/suspend","method":"POST"},"schema":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/meta/schemas/user/osc5ptm052JMcoADv1d7"},"resetPassword":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/users/00u95uw0hsSf1XLxU1d7/lifecycle/reset_password","method":"POST"},"reactivate":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/users/00u95uw0hsSf1XLxU1d7/lifecycle/reactivate","method":"POST"},"self":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/users/00u95uw0hsSf1XLxU1d7"},"type":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/meta/types/user/oty5ptm052JMcoADv1d7"},"deactivate":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/users/00u95uw0hsSf1XLxU1d7/lifecycle/deactivate","method":"POST"}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 337.61871ms
    - id: 2
      request:
        host: mm-classic-2022-10-04.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-classic-2022-10-04.oktapreview.com/api/v1/groups/00g95utj6lrfIXO1P1d7
        method: GET
      response:
        body: '{"id":"00g95utj6lrfIXO1P1d7","created":"2023-07-27T20:14:03.000Z","lastUpdated":"2023-07-27T20:14:03.000Z","lastMembershipUpdated":"2023-07-27T20:14:03.000Z","objectClass":["okta:user_group"],"type":"OKTA_GROUP","profile":{"name":"foo_442414123","description":""},"_links":{"logo":[{"name":"medium","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-medium.30ce6d4085dff29412984e4c191bc874.png","type":"image/png"},{"name":"large","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-large.c3cb8cda8ae0add1b4fe928f5844dbe3.png","type":"image/png"}],"users":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/groups/00g95utj6lrfIXO1P1d7/users"},"apps":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/groups/00g95utj6lrfIXO1P1d7/apps"}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 56.480786ms
[...]
    - id: 7
      request:
        host: mm-classic-2022-10-04.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-classic-2022-10-04.oktapreview.com/api/v1/users/00u95uw0hsSf1XLxU1d7
        method: GET
      response:
        body: '{"id":"00u95uw0hsSf1XLxU1d7","status":"PROVISIONED","created":"2023-07-27T20:14:03.000Z","activated":"2023-07-27T20:14:03.000Z","statusChanged":"2023-07-27T20:14:03.00[...]
    - id: 8
      request:
        host: mm-classic-2022-10-04.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-classic-2022-10-04.oktapreview.com/api/v1/users/00u95uw30hJDTKWHG1d7
        method: GET
      response:
        body: '{"id":"00u95uw30hJDTKWHG1d7","status":"PROVISIONED","created":"2023-07-27T20:14:03.000Z","activated":"2023-07-27T20:14:03.000Z","statusChanged":"2023-07-27T20:14:03.00[...]
    - id: 9
      request:
        host: mm-classic-2022-10-04.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-classic-2022-10-04.oktapreview.com/api/v1/users/00u95uuwfuHomsSKX1d7
        method: GET
      response:
        body: '{"id":"00u95uuwfuHomsSKX1d7","status":"PROVISIONED","created":"2023-07-27T20:14:03.000Z","activated":"2023-07-27T20:14:03.000Z","statusChanged":"2023-07-27T20:14:03.00[...]
    - id: 10
      request:
        host: mm-classic-2022-10-04.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-classic-2022-10-04.oktapreview.com/api/v1/users/00u95uvdcfiHHzSKL1d7
        method: GET
      response:
        body: '{"id":"00u95uvdcfiHHzSKL1d7","status":"PROVISIONED","created":"2023-07-27T20:14:03.000Z","activated":"2023-07-27T20:14:03.000Z","statusChanged":"2023-07-27T20:14:03.0[...]
    - id: 11
      request:
        host: mm-classic-2022-10-04.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-classic-2022-10-04.oktapreview.com/api/v1/groups/00g95utj6lrfIXO1P1d7/users/00u95uw30hJDTKWHG1d7
        method: PUT
      response:
        body: ""
        headers:
        status: 204 No Content
        code: 204
        duration: 76.681805ms
    - id: 12
      request:
        host: mm-classic-2022-10-04.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-classic-2022-10-04.oktapreview.com/api/v1/groups/00g95utj6lrfIXO1P1d7/users/00u95uw0hsSf1XLxU1d7
        method: PUT
      response:
        body: ""
        headers:
        status: 204 No Content
        code: 204
        duration: 111.677149ms
    - id: 13
      request:
        host: mm-classic-2022-10-04.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-classic-2022-10-04.oktapreview.com/api/v1/groups/00g95utj6lrfIXO1P1d7/users?limit=200
        method: GET
      response:
        body: '[{"id":"00u95uw0hsSf1XLxU1d7","status":"PROVISIONED","created":"2023-07-27T20:14:03.000Z","activated":"2023-07-27T20:14:03.000Z","statusChanged":"202[...]
[...]
