---
version: 1
interactions:
- request:
    body: |
      {"profile":{"name":"foo_442414123","description":""}}
    form: {}
    headers:
      Authorization:
      - SSWS REDACTED
      Content-Type:
      - application/json
    url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/groups
    method: POST
  response:
    body: '{"id":"00g7l807nwPOaprY01d7","created":"2023-04-06T18:46:34.000Z","lastUpdated":"2023-04-06T18:46:34.000Z","lastMembershipUpdated":"2023-04-06T18:46:34.000Z","objectClass":["okta:user_group"],"type":"OKTA_GROUP","profile":{"name":"foo_442414123","description":""},"_links":{"logo":[{"name":"medium","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-medium.1a5ebe44c4244fb796c235d86b47e3bb.png","type":"image/png"},{"name":"large","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-large.d9cfbd8a00a4feac1aa5612ba02e99c0.png","type":"image/png"}],"users":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/groups/00g7l807nwPOaprY01d7/users"},"apps":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/groups/00g7l807nwPOaprY01d7/apps"}}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/groups/00g7l807nwPOaprY01d7
    method: GET
  response:
    body: '{"id":"00g7l807nwPOaprY01d7","created":"2023-04-06T18:46:34.000Z","lastUpdated":"2023-04-06T18:46:34.000Z","lastMembershipUpdated":"2023-04-06T18:46:34.000Z","objectClass":["okta:user_group"],"type":"OKTA_GROUP","profile":{"name":"foo_442414123","description":""},"_links":{"logo":[{"name":"medium","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-medium.1a5ebe44c4244fb796c235d86b47e3bb.png","type":"image/png"},{"name":"large","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-large.d9cfbd8a00a4feac1aa5612ba02e99c0.png","type":"image/png"}],"users":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/groups/00g7l807nwPOaprY01d7/users"},"apps":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/groups/00g7l807nwPOaprY01d7/apps"}}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"credentials":{"password":{}},"profile":{"email":"john_442414123@ledzeppelin.com","firstName":"TestAcc","lastName":"Jones","login":"john_442414123@ledzeppelin.com","postalAddress":null}}
    form: {}
    headers:
      Authorization:
      - SSWS REDACTED
      Content-Type:
      - application/json
    url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/users
    method: POST
  response:
    body: '{"id":"00u7l80zpp3wE9QHj1d7","status":"PROVISIONED","created":"2023-04-06T18:46:34.000Z","activated":"2023-04-06T18:46:34.000Z","statusChanged":"2023-04-06T18:46:34.000Z","lastLogin":null,"lastUpdated":"2023-04-06T18:46:34.000Z","passwordChanged":null,"type":{"id":"oty5qwjvh0Vy1j8Kd1d7"},"profile":{"firstName":"TestAcc","lastName":"Jones","mobilePhone":null,"secondEmail":null,"login":"john_442414123@ledzeppelin.com","email":"john_442414123@ledzeppelin.com"},"credentials":{"provider":{"type":"OKTA","name":"OKTA"}},"_links":{"suspend":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/users/00u7l80zpp3wE9QHj1d7/lifecycle/suspend","method":"POST"},"schema":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/meta/schemas/user/osc5qwjvh0Vy1j8Kd1d7"},"resetPassword":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/users/00u7l80zpp3wE9QHj1d7/lifecycle/reset_password","method":"POST"},"reactivate":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/users/00u7l80zpp3wE9QHj1d7/lifecycle/reactivate","method":"POST"},"self":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/users/00u7l80zpp3wE9QHj1d7"},"resetFactors":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/users/00u7l80zpp3wE9QHj1d7/lifecycle/reset_factors","method":"POST"},"type":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/meta/types/user/oty5qwjvh0Vy1j8Kd1d7"},"deactivate":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/users/00u7l80zpp3wE9QHj1d7/lifecycle/deactivate","method":"POST"}}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/users/00u7l80zpp3wE9QHj1d7
    method: GET
  response:
    body: '{"id":"00u7l80zpp3wE9QHj1d7","status":"PROVISIONED","created":"2023-04-06T18:46:34.000Z","activated":"2023-04-06T18:46:34.000Z","statusChanged":"2023-04-06T18:46:34.000Z","lastLogin":null,"lastUpdated":"2023-04-06T18:46:34.000Z","passwordChanged":null,"type":{"id":"oty5qwjvh0Vy1[...]
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/users/00u7l7zrkiMA8wTR71d7
    method: GET
  response:
    body: '{"id":"00u7l7zrkiMA8wTR71d7","status":"PROVISIONED","created":"2023-04-06T18:46:34.000Z","activated":"2023-04-06T18:46:34.000Z","statusChanged":"2023-04-06T18:46:34.000Z","lastLogin":null,"lastUpdated":"2023-04-06T18:46:34.000Z","passwordChanged":null,"type":{"id":"oty5qwjvh0Vy1[...]
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/users/00u7l7z4793d6HhM71d7
    method: GET
  response:
    body: '{"id":"00u7l7z4793d6HhM71d7","status":"PROVISIONED","created":"2023-04-06T18:46:34.000Z","activated":"2023-04-06T18:46:34.000Z","statusChanged":"2023-04-06T18:46:34.000Z","lastLogin":null,"lastUpdated":"2023-04-06T18:46:34.000Z","passwordChanged":null,"type":{"id":"oty5qwjvh0Vy1[...]
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/users/00u7l80yzfff3h6OL1d7
    method: GET
  response:
    body: '{"id":"00u7l80yzfff3h6OL1d7","status":"PROVISIONED","created":"2023-04-06T18:46:34.000Z","activated":"2023-04-06T18:46:34.000Z","statusChanged":"2023-04-06T18:46:34.000Z","lastLogin":null,"lastUpdated":"2023-04-06T18:46:34.000Z","passwordChanged":null,"type":{"id":"oty5qwjvh0Vy1[...]
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/users/00u7l80zpp3wE9QHj1d7/roles
    method: GET
  response:
    body: '[]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/users/00u7l7zrkiMA8wTR71d7/roles
    method: GET
  response:
    body: '[]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/users/00u7l7z4793d6HhM71d7/roles
    method: GET
  response:
    body: '[]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/users/00u7l80yzfff3h6OL1d7/roles
    method: GET
  response:
    body: '[]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/groups/00g7l807nwPOaprY01d7/users/00u7l80zpp3wE9QHj1d7
    method: PUT
  response:
    body: ""
    headers:
    status: 204 No Content
    code: 204
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/groups/00g7l807nwPOaprY01d7/users/00u7l80yzfff3h6OL1d7
    method: PUT
  response:
    body: ""
    headers:
    status: 204 No Content
    code: 204
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/groups/00g7l807nwPOaprY01d7/users?limit=200
    method: GET
  response:
    body: '[{"id":"00u7l80yzfff3h6OL1d7","status":"PROVISIONED","created":"2023-04-06T18:46:34.000Z","activated":"2023-04-06T18:46:34.000Z","statusChanged":"2023-04-06T18:46:34.000Z","lastLogin":null,"lastUpdated":"2023-04-06T18:46:34.000Z","passwordChanged":null,"type":{"[...]
[...]
