---
version: 2
interactions:
    - id: 0
      request:
        host: mm-oie-2022-10-07-max.oktapreview.com
        body: |
            {"profile":{"name":"foo_442414123","description":""}}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/groups
        method: POST
      response:
        body: '{"id":"00g95trs6yPOkZXqX1d7","created":"2023-07-27T19:20:26.000Z","lastUpdated":"2023-07-27T19:20:26.000Z","lastMembershipUpdated":"2023-07-27T19:20:26.000Z","objectClass":["okta:user_group"],"type":"OKTA_GROUP","profile":{"name":"foo_442414123","description":""},"_links":{"logo":[{"name":"medium","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-medium.30ce6d4085dff29412984e4c191bc874.png","type":"image/png"},{"name":"large","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-large.c3cb8cda8ae0add1b4fe928f5844dbe3.png","type":"image/png"}],"users":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/groups/00g95trs6yPOkZXqX1d7/users"},"apps":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/groups/00g95trs6yPOkZXqX1d7/apps"}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 179.797132ms
    - id: 1
      request:
        host: mm-oie-2022-10-07-max.oktapreview.com
        body: |
            {"credentials":{"password":{}},"profile":{"email":"rick_astley_442414123@rickrollin.com","firstName":"TestAcc","lastName":"Astley","login":"rick_astley_442414123@rickrollin.com","postalAddress":null}}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/users
        method: POST
      response:
        body: '{"id":"00u95ttwd6L2vwFto1d7","status":"PROVISIONED","created":"2023-07-27T19:20:26.000Z","activated":"2023-07-27T19:20:26.000Z","statusChanged":"2023-07-27T19:20:26.000Z","lastLogin":null,"lastUpdated":"2023-07-27T19:20:26.000Z","passwordChanged":null,"type":{"id":"oty5qwjvh0Vy1j8Kd1d7"},"profile":{"firstName":"TestAcc","lastName":"Astley","mobilePhone":null,"secondEmail":null,"login":"rick_astley_442414123@rickrollin.com","email":"rick_astley_442414123@rickrollin.com"},"credentials":{"provider":{"type":"OKTA","name":"OKTA"}},"_links":{"suspend":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/users/00u95ttwd6L2vwFto1d7/lifecycle/suspend","method":"POST"},"schema":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/meta/schemas/user/osc5qwjvh0Vy1j8Kd1d7"},"resetPassword":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/users/00u95ttwd6L2vwFto1d7/lifecycle/reset_password","method":"POST"},"reactivate":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/users/00u95ttwd6L2vwFto1d7/lifecycle/reactivate","method":"POST"},"self":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/users/00u95ttwd6L2vwFto1d7"},"resetFactors":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/users/00u95ttwd6L2vwFto1d7/lifecycle/reset_factors","method":"POST"},"type":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/meta/types/user/oty5qwjvh0Vy1j8Kd1d7"},"deactivate":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/users/00u95ttwd6L2vwFto1d7/lifecycle/deactivate","method":"POST"}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 406.602977ms
[...]
    - id: 4
      request:
        host: mm-oie-2022-10-07-max.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/groups/00g95trs6yPOkZXqX1d7
        method: GET
      response:
        body: '{"id":"00g95trs6yPOkZXqX1d7","created":"2023-07-27T19:20:26.000Z","lastUpdated":"2023-07-27T19:20:26.000Z","lastMembershipUpdated":"2023-07-27T19:20:26.000Z","objectClass":["okta:user_group"],"type":"OKTA_GROUP","profile":{"name":"foo_442414123","description":""},"_links":{"logo":[{"name":"medium","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-medium.30ce6d4085dff29412984e4c191bc874.png","type":"image/png"},{"name":"large","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-large.c3cb8cda8ae0add1b4fe928f5844dbe3.png","type":"image/png"}],"users":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/groups/00g95trs6yPOkZXqX1d7/users"},"apps":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/groups/00g95trs6yPOkZXqX1d7/apps"}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 85.971096ms
[...]
    - id: 7
      request:
        host: mm-oie-2022-10-07-max.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/users/00u95ttwd6L2vwFto1d7
        method: GET
      response:
        body: '{"id":"00u95ttwd6L2vwFto1d7","status":"PROVISIONED","created":"2023-07-27T19:20:26.000Z","activated":"2023-07-27T19:20:26.000Z","statusChanged":"2023-07-27T19:20:26.00[...]
    - id: 8
      request:
        host: mm-oie-2022-10-07-max.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/users/00u95tj5gvN1F6LXp1d7
        method: GET
      response:
        body: '{"id":"00u95tj5gvN1F6LXp1d7","status":"PROVISIONED","created":"2023-07-27T19:20:26.000Z","activated":"2023-07-27T19:20:26.000Z","statusChanged":"2023-07-27T19:20:26.00[...]
    - id: 9
      request:
        host: mm-oie-2022-10-07-max.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/users/00u95tmk4lbiO5Qup1d7
        method: GET
      response:
        body: '{"id":"00u95tmk4lbiO5Qup1d7","status":"PROVISIONED","created":"2023-07-27T19:20:26.000Z","activated":"2023-07-27T19:20:26.000Z","statusChanged":"2023-07-27T19:20:26.00[...]
    - id: 10
      request:
        host: mm-oie-2022-10-07-max.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/users/00u95tfxqcd3o0edM1d7
        method: GET
      response:
        body: '{"id":"00u95tfxqcd3o0edM1d7","status":"PROVISIONED","created":"2023-07-27T19:20:26.000Z","activated":"2023-07-27T19:20:26.000Z","statusChanged":"2023-07-27T19:20:26.0[...]
    - id: 11
      request:
        host: mm-oie-2022-10-07-max.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/groups/00g95trs6yPOkZXqX1d7/users/00u95tj5gvN1F6LXp1d7
        method: PUT
      response:
        body: ""
        headers:
        status: 204 No Content
        code: 204
        duration: 77.500777ms
    - id: 12
      request:
        host: mm-oie-2022-10-07-max.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/groups/00g95trs6yPOkZXqX1d7/users/00u95tmk4lbiO5Qup1d7
        method: PUT
      response:
        body: ""
        headers:
        status: 204 No Content
        code: 204
        duration: 74.171851ms
    - id: 13
      request:
        host: mm-oie-2022-10-07-max.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/groups/00g95trs6yPOkZXqX1d7/users?limit=200
        method: GET
      response:
        body: '[{"id":"00u95tj5gvN1F6LXp1d7","status":"PROVISIONED","created":"2023-07-27T19:20:26.000Z","activated":"2023-07-27T19:20:26.000Z","statusChanged":"202[...]
[...]
