---
version: 1
interactions:
- request:
    body: |
      {"profile":{"name":"foo_442414123","description":""}}
    form: {}
    headers:
      Authorization:
      - SSWS REDACTED
      Content-Type:
      - application/json
    url: https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/groups
    method: POST
  response:
    body: '{"id":"00g6m98es2whrPXcI1d7","created":"2023-01-11T20:04:56.000Z","lastUpdated":"2023-01-11T20:04:56.000Z","lastMembershipUpdated":"2023-01-11T20:04:56.000Z","objectClass":["okta:user_group"],"type":"OKTA_GROUP","profile":{"name":"foo_442414123","description":""},"_links":{"logo":[{"name":"medium","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-medium.1a5ebe44c4244fb796c235d86b47e3bb.png","type":"image/png"},{"name":"large","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-large.d9cfbd8a00a4feac1aa5612ba02e99c0.png","type":"image/png"}],"users":{"href":"https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/groups/00g6m98es2whrPXcI1d7/users"},"apps":{"href":"https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/groups/00g6m98es2whrPXcI1d7/apps"}}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/groups/00g6m98es2whrPXcI1d7
    method: GET
  response:
    body: '{"id":"00g6m98es2whrPXcI1d7","created":"2023-01-11T20:04:56.000Z","lastUpdated":"2023-01-11T20:04:56.000Z","lastMembershipUpdated":"2023-01-11T20:04:56.000Z","objectClass":["okta:user_group"],"type":"OKTA_GROUP","profile":{"name":"foo_442414123","description":""},"_links":{"logo":[{"name":"medium","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-medium.1a5ebe44c4244fb796c235d86b47e3bb.png","type":"image/png"},{"name":"large","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-large.d9cfbd8a00a4feac1aa5612ba02e99c0.png","type":"image/png"}],"users":{"href":"https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/groups/00g6m98es2whrPXcI1d7/users"},"apps":{"href":"https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/groups/00g6m98es2whrPXcI1d7/apps"}}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"credentials":{"password":{}},"profile":{"email":"john_442414123@thewho.com","firstName":"TestAcc","lastName":"Entwhistle","login":"john_442414123@thewho.com","postalAddress":null}}
    form: {}
    headers:
      Authorization:
      - SSWS REDACTED
      Content-Type:
      - application/json
    url: https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/users
    method: POST
  response:
    body: '{"id":"00u6m98ky49crWbNT1d7","status":"PROVISIONED","created":"2023-01-11T20:04:56.000Z","activated":"2023-01-11T20:04:57.000Z","statusChanged":"2023-01-11T20:04:57.000Z","lastLogin":null,"lastUpdated":"2023-01-11T20:04:57.000Z","passwordChanged":null,"type":{"id":"oty5jjkl30LP1EYa11d7"},"profile":{"firstName":"TestAcc","lastName":"Entwhistle","mobilePhone":null,"secondEmail":null,"login":"john_442414123@thewho.com","email":"john_442414123@thewho.com"},"credentials":{"provider":{"type":"OKTA","name":"OKTA"}},"_links":{"suspend":{"href":"https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/users/00u6m98ky49crWbNT1d7/lifecycle/suspend","method":"POST"},"schema":{"href":"https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/meta/schemas/user/osc5jjkl30LP1EYa11d7"},"resetPassword":{"href":"https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/users/00u6m98ky49crWbNT1d7/lifecycle/reset_password","method":"POST"},"reactivate":{"href":"https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/users/00u6m98ky49crWbNT1d7/lifecycle/reactivate","method":"POST"},"self":{"href":"https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/users/00u6m98ky49crWbNT1d7"},"resetFactors":{"href":"https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/users/00u6m98ky49crWbNT1d7/lifecycle/reset_factors","method":"POST"},"type":{"href":"https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/meta/types/user/oty5jjkl30LP1EYa11d7"},"deactivate":{"href":"https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/users/00u6m98ky49crWbNT1d7/lifecycle/deactivate","method":"POST"}}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/users/00u6m98ky49crWbNT1d7
    method: GET
  response:
    body: '{"id":"00u6m98ky49crWbNT1d7","status":"PROVISIONED","created":"2023-01-11T20:04:56.000Z","activated":"2023-01-11T20:04:57.000Z","statusChanged":"2023-01-11T20:04:57.000Z","lastLogin":null,"lastUpdated":"2023-01-11T20:04:57.000Z","passwordChanged":null,"type":{"id":"oty5jjkl30LP[...]
[...]
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/users/00u6m98ky49crWbNT1d7/roles
    method: GET
  response:
    body: '[]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/users/00u6m994xqku6TUcB1d7
    method: GET
  response:
    body: '{"id":"00u6m994xqku6TUcB1d7","status":"PROVISIONED","created":"2023-01-11T20:04:56.000Z","activated":"2023-01-11T20:04:57.000Z","statusChanged":"2023-01-11T20:04:57.000Z","lastLogin":null,"lastUpdated":"2023-01-11T20:04:57.000Z","passwordChanged":null,"type":{"id":"oty5jjkl30LP[...]
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/users/00u6m98u3yNWHUtsq1d7
    method: GET
  response:
    body: '{"id":"00u6m98u3yNWHUtsq1d7","status":"PROVISIONED","created":"2023-01-11T20:04:56.000Z","activated":"2023-01-11T20:04:57.000Z","statusChanged":"2023-01-11T20:04:57.000Z","lastLogin":null,"lastUpdated":"2023-01-11T20:04:57.000Z","passwordChanged":null,"type":{"id":"oty5jjkl30LP[...]
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/users/00u6m999f0drWOEFc1d7
    method: GET
  response:
    body: '{"id":"00u6m999f0drWOEFc1d7","status":"PROVISIONED","created":"2023-01-11T20:04:56.000Z","activated":"2023-01-11T20:04:57.000Z","statusChanged":"2023-01-11T20:04:57.000Z","lastLogin":null,"lastUpdated":"2023-01-11T20:04:57.000Z","passwordChanged":null,"type":{"id":"oty5jjkl30LP[...]
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/users/00u6m994xqku6TUcB1d7/roles
    method: GET
  response:
    body: '[]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/users/00u6m98u3yNWHUtsq1d7/roles
    method: GET
  response:
    body: '[]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/users/00u6m999f0drWOEFc1d7/roles
    method: GET
  response:
    body: '[]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/groups/00g6m98es2whrPXcI1d7/users/00u6m98ky49crWbNT1d7
    method: PUT
  response:
    body: ""
    headers:
    status: 204 No Content
    code: 204
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/groups/00g6m98es2whrPXcI1d7/users/00u6m999f0drWOEFc1d7
    method: PUT
  response:
    body: ""
    headers:
    status: 204 No Content
    code: 204
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/groups/00g6m98es2whrPXcI1d7/users?limit=200
    method: GET
  response:
    body: '[{"id":"00u6m98ky49crWbNT1d7","status":"PROVISIONED","created":"2023-01-11T20:04:56.000Z","activated":"2023-01-11T20:04:57.000Z","statusChanged":"2023-01-11T20:04:57.000Z","lastLogin":null,"lastUpdated":"2023-01-11T20:04:57.000Z","passwordChanged":null,"type":{[...]
[...]
