---
version: 2
interactions:
    - id: 0
      request:
        host: mm-classic-2022-10-04.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-classic-2022-10-04.oktapreview.com/api/v1/groups?limit=1&q=Everyone
        method: GET
      response:
        body: '[{"id":"00g5ptm04tzNvyznP1d7","created":"2022-10-04T23:20:18.000Z","lastUpdated":"2022-10-04T23:20:18.000Z","lastMembershipUpdated":"2023-07-27T20:31:27.000Z","objectClass":["okta:user_group"],"type":"BUILT_IN","profile":{"name":"Everyone","description":"All users in your organization"},"_links":{"logo":[{"name":"medium","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-medium.30ce6d4085dff29412984e4c191bc874.png","type":"image/png"},{"name":"large","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-large.c3cb8cda8ae0add1b4fe928f5844dbe3.png","type":"image/png"}],"users":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/groups/00g5ptm04tzNvyznP1d7/users"},"apps":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/groups/00g5ptm04tzNvyznP1d7/apps"}}}]'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 148.154579ms
[...]
    - id: 2
      request:
        host: mm-classic-2022-10-04.oktapreview.com
        body: |
            {"conditions":{"people":{"groups":{"include":["00g5ptm04tzNvyznP1d7"]}}},"description":"Terraform Acceptance Test SignOn Policy","name":"testAcc_1425602728","status":"ACTIVE","type":"OKTA_SIGN_ON"}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://mm-classic-2022-10-04.oktapreview.com/api/v1/policies
        method: POST
      response:
        body: '{"id":"00p95v5t7zSzG7sDe1d7","status":"ACTIVE","name":"testAcc_1425602728","description":"Terraform Acceptance Test SignOn Policy","priority":1,"system":false,"conditions":{"people":{"groups":{"include":["00g5ptm04tzNvyznP1d7"]}}},"created":"2023-07-27T20:33:21.000Z","lastUpdated":"2023-07-27T20:33:21.000Z","_links":{"self":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/policies/00p95v5t7zSzG7sDe1d7","hints":{"allow":["GET","PUT","DELETE"]}},"rules":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/policies/00p95v5t7zSzG7sDe1d7/rules","hints":{"allow":["GET","POST"]}},"deactivate":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/policies/00p95v5t7zSzG7sDe1d7/lifecycle/deactivate","hints":{"allow":["POST"]}}},"type":"OKTA_SIGN_ON"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 116.823958ms
    - id: 3
      request:
        host: mm-classic-2022-10-04.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-classic-2022-10-04.oktapreview.com/api/v1/policies/00p95v5t7zSzG7sDe1d7/lifecycle/activate
        method: POST
      response:
        body: ""
        headers:
        status: 204 No Content
        code: 204
        duration: 129.029756ms
    - id: 4
      request:
        host: mm-classic-2022-10-04.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-classic-2022-10-04.oktapreview.com/api/v1/policies/00p95v5t7zSzG7sDe1d7
        method: GET
      response:
        body: '{"id":"00p95v5t7zSzG7sDe1d7","status":"ACTIVE","name":"testAcc_1425602728","description":"Terraform Acceptance Test SignOn Policy","priority":1,"system":false,"conditions":{"people":{"groups":{"include":["00g5ptm04tzNvyznP1d7"]}}},"created":"2023-07-27T20:33:21.000Z","lastUpdated":"2023-07-27T20:33:22.000Z","_links":{"self":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/policies/00p95v5t7zSzG7sDe1d7","hints":{"allow":["GET","PUT","DELETE"]}},"rules":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/policies/00p95v5t7zSzG7sDe1d7/rules","hints":{"allow":["GET","POST"]}},"deactivate":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/policies/00p95v5t7zSzG7sDe1d7/lifecycle/deactivate","hints":{"allow":["POST"]}}},"type":"OKTA_SIGN_ON"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 68.647541ms
    - id: 5
      request:
        host: mm-classic-2022-10-04.oktapreview.com
        body: |
            {"type":"SIGN_ON","name":"testAcc_1425602728","status":"ACTIVE","conditions":{"authContext":{"authType":"ANY"},"identityProvider":{"provider":"ANY"},"network":{"connection":"ANYWHERE"}},"actions":{"signon":{"access":"ALLOW","rememberDeviceByDefault":false,"requireFactor":false,"session":{"maxSessionIdleMinutes":120,"maxSessionLifetimeMinutes":120,"usePersistentCookie":false}}}}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://mm-classic-2022-10-04.oktapreview.com/api/v1/policies/00p95v5t7zSzG7sDe1d7/rules
        method: POST
      response:
        body: '{"id":"0pr95v6vn3VNgeD9C1d7","status":"ACTIVE","name":"testAcc_1425602728","priority":1,"created":"2023-07-27T20:33:22.000Z","lastUpdated":"2023-07-27T20:33:22.000Z","system":false,"conditions":{"people":{"users":{"exclude":[]}},"network":{"connection":"ANYWHERE"},"authContext":{"authType":"ANY"},"identityProvider":{"provider":"ANY"}},"actions":{"signon":{"access":"ALLOW","requireFactor":false,"primaryFactor":"PASSWORD_IDP","rememberDeviceByDefault":false,"session":{"usePersistentCookie":false,"maxSessionIdleMinutes":120,"maxSessionLifetimeMinutes":120}}},"_links":{"self":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/policies/00p95v5t7zSzG7sDe1d7/rules/0pr95v6vn3VNgeD9C1d7","hints":{"allow":["GET","PUT","DELETE"]}},"deactivate":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/policies/00p95v5t7zSzG7sDe1d7/rules/0pr95v6vn3VNgeD9C1d7/lifecycle/deactivate","hints":{"allow":["POST"]}}},"type":"SIGN_ON"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 119.560683ms
[...]
    - id: 7
      request:
        host: mm-classic-2022-10-04.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-classic-2022-10-04.oktapreview.com/api/v1/policies/00p95v5t7zSzG7sDe1d7/rules/0pr95v6vn3VNgeD9C1d7
        method: GET
      response:
        body: '{"id":"0pr95v6vn3VNgeD9C1d7","status":"ACTIVE","name":"testAcc_1425602728","priority":1,"created":null,"lastUpdated":null,"system":false,"conditions":{"people":{"users":{"exclude":[]}},"network":{"connection":"ANYWHERE"},"authContext":{"authType":"ANY"},"identityProvider":{"provider":"ANY"}},"actions":{"signon":{"access":"ALLOW","requireFactor":false,"primaryFactor":"PASSWORD_IDP","rememberDeviceByDefault":false,"session":{"usePersistentCookie":false,"maxSessionIdleMinutes":120,"maxSessionLifetimeMinutes":120}}},"_links":{"self":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/policies/00p95v5t7zSzG7sDe1d7/rules/0pr95v6vn3VNgeD9C1d7","hints":{"allow":["GET","PUT","DELETE"]}},"deactivate":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/policies/00p95v5t7zSzG7sDe1d7/rules/0pr95v6vn3VNgeD9C1d7/lifecycle/deactivate","hints":{"allow":["POST"]}}},"type":"SIGN_ON"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 86.80368ms
[...]
    - id: 20
      request:
        host: mm-classic-2022-10-04.oktapreview.com
        body: |
            {"credentials":{"password":{}},"profile":{"email":"testAcc_1425602728@gmail.com","firstName":"TestAcc","lastName":"Smith","login":"testAcc_1425602728@gmail.com","postalAddress":null}}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://mm-classic-2022-10-04.oktapreview.com/api/v1/users
        method: POST
      response:
        body: '{"id":"00u95v3t2cX8NNXvK1d7","status":"PROVISIONED","created":"2023-07-27T20:33:25.000Z","activated":"2023-07-27T20:33:26.000Z","statusChanged":"2023-07-27T20:33:26.000Z","lastLogin":null,"lastUpdated":"2023-07-27T20:33:26.000Z","passwordChanged":null,"type":{"id":"oty5ptm052JMcoADv1d7"},"profile":{"firstName":"TestAcc","lastName":"Smith","mobilePhone":null,"secondEmail":null,"login":"testAcc_1425602728@gmail.com","email":"testAcc_1425602728@gmail.com"},"credentials":{"provider":{"type":"OKTA","name":"OKTA"}},"_links":{"suspend":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/users/00u95v3t2cX8NNXvK1d7/lifecycle/suspend","method":"POST"},"schema":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/meta/schemas/user/osc5ptm052JMcoADv1d7"},"resetPassword":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/users/00u95v3t2cX8NNXvK1d7/lifecycle/reset_password","method":"POST"},"reactivate":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/users/00u95v3t2cX8NNXvK1d7/lifecycle/reactivate","method":"POST"},"self":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/users/00u95v3t2cX8NNXvK1d7"},"type":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/meta/types/user/oty5ptm052JMcoADv1d7"},"deactivate":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/users/00u95v3t2cX8NNXvK1d7/lifecycle/deactivate","method":"POST"}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 321.347033ms
    - id: 21
      request:
        host: mm-classic-2022-10-04.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-classic-2022-10-04.oktapreview.com/api/v1/users/00u95v3t2cX8NNXvK1d7
        method: GET
      response:
        body: '{"id":"00u95v3t2cX8NNXvK1d7","status":"PROVISIONED","created":"2023-07-27T20:33:25.000Z","activated":"2023-07-27T20:33:26.000Z","statusChanged":"2023-07-27T20:33:26.0[...]
[...]
    - id: 23
      request:
        host: mm-classic-2022-10-04.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-classic-2022-10-04.oktapreview.com/api/v1/policies/00p95v5t7zSzG7sDe1d7/rules/0pr95v6vn3VNgeD9C1d7/lifecycle/deactivate
        method: POST
      response:
        body: ""
        headers:
        status: 204 No Content
        code: 204
        duration: 146.748952ms
[...]
    - id: 25
      request:
        host: mm-classic-2022-10-04.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-classic-2022-10-04.oktapreview.com/api/v1/policies/00p95v5t7zSzG7sDe1d7/rules/0pr95v6vn3VNgeD9C1d7
        method: GET
      response:
        body: '{"id":"0pr95v6vn3VNgeD9C1d7","status":"INACTIVE","name":"testAcc_1425602728","priority":1,"created":null,"lastUpdated":null,"system":false,"conditions":{"people":{"users":{"exclude":["00u95v3t2cX8NNXvK1d7"]}},"network":{"connection":"ANYWHERE"},"authContext":{"authType":"ANY"},"identityProvider":{"provider":"ANY"}},"actions":{"signon":{"access":"DENY","requireFactor":false,"primaryFactor":"PASSWORD_IDP","rememberDeviceByDefault":false,"session":{"usePersistentCookie":false,"maxSessionIdleMinutes":240,"maxSessionLifetimeMinutes":240}}},"_links":{"activate":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/policies/00p95v5t7zSzG7sDe1d7/rules/0pr95v6vn3VNgeD9C1d7/lifecycle/activate","hints":{"allow":["POST"]}},"self":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/policies/00p95v5t7zSzG7sDe1d7/rules/0pr95v6vn3VNgeD9C1d7","hints":{"allow":["GET","PUT","DELETE"]}}},"type":"SIGN_ON"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 82.925546ms
[...]
    - id: 40
      request:
        host: mm-classic-2022-10-04.oktapreview.com
        body: |
            {"gateways":[{"type":"RANGE","value":"2.3.4.5-2.3.4.15"},{"type":"CIDR","value":"1.2.3.4/24"}],"name":"testAcc_1425602728","proxies":[{"type":"CIDR","value":"2.2.3.4/24"},{"type":"RANGE","value":"3.3.4.5-3.3.4.15"}],"status":"ACTIVE","type":"IP","usage":"POLICY"}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://mm-classic-2022-10-04.oktapreview.com/api/v1/zones
        method: POST
      response:
        body: '{"type":"IP","id":"nzo95v0t07PVHVTp81d7","name":"testAcc_1425602728","status":"ACTIVE","usage":"POLICY","created":"2023-07-27T20:33:30.000Z","lastUpdated":"2023-07-27T20:33:30.000Z","system":false,"gateways":[{"type":"RANGE","value":"2.3.4.5-2.3.4.15"},{"type":"CIDR","value":"1.2.3.4/24"}],"proxies":[{"type":"CIDR","value":"2.2.3.4/24"},{"type":"RANGE","value":"3.3.4.5-3.3.4.15"}],"_links":{"self":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/zones/nzo95v0t07PVHVTp81d7","hints":{"allow":["GET","PUT","DELETE"]}},"deactivate":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/zones/nzo95v0t07PVHVTp81d7/lifecycle/deactivate","hints":{"allow":["POST"]}}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 76.906052ms
[...]
    - id: 42
      request:
        host: mm-classic-2022-10-04.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-classic-2022-10-04.oktapreview.com/api/v1/zones/nzo95v0t07PVHVTp81d7
        method: GET
      response:
        body: '{"type":"IP","id":"nzo95v0t07PVHVTp81d7","name":"testAcc_1425602728","status":"ACTIVE","usage":"POLICY","created":"2023-07-27T20:33:30.000Z","lastUpdated":"2023-07-27T20:33:30.000Z","system":false,"gateways":[{"type":"RANGE","value":"2.3.4.5-2.3.4.15"},{"type":"CIDR","value":"1.2.3.4/24"}],"proxies":[{"type":"CIDR","value":"2.2.3.4/24"},{"type":"RANGE","value":"3.3.4.5-3.3.4.15"}],"_links":{"self":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/zones/nzo95v0t07PVHVTp81d7","hints":{"allow":["GET","PUT","DELETE"]}},"deactivate":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/zones/nzo95v0t07PVHVTp81d7/lifecycle/deactivate","hints":{"allow":["POST"]}}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 71.235153ms
[...]
    - id: 45
      request:
        host: mm-classic-2022-10-04.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-classic-2022-10-04.oktapreview.com/api/v1/policies/00p95v5t7zSzG7sDe1d7/rules/0pr95v6vn3VNgeD9C1d7/lifecycle/activate
        method: POST
      response:
        body: ""
        headers:
        status: 204 No Content
        code: 204
        duration: 117.972965ms
[...]
    - id: 62
      request:
        host: mm-classic-2022-10-04.oktapreview.com
        body: |
            {"type":"SIGN_ON","name":"testAcc_1425602728","status":"ACTIVE","priority":1,"conditions":{"authContext":{"authType":"ANY"},"identityProvider":{"provider":"ANY"},"network":{"connection":"ANYWHERE"}},"actions":{"signon":{"access":"ALLOW","factorLifetime":15,"factorPromptMode":"SESSION","primaryFactor":"PASSWORD_IDP","rememberDeviceByDefault":false,"requireFactor":true,"session":{"maxSessionIdleMinutes":120,"maxSessionLifetimeMinutes":120,"usePersistentCookie":false}}}}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://mm-classic-2022-10-04.oktapreview.com/api/v1/policies/00p95v5t7zSzG7sDe1d7/rules/0pr95v6vn3VNgeD9C1d7
        method: PUT
      [...]
[...]
    - id: 81
      request:
        host: mm-classic-2022-10-04.oktapreview.com
        body: |
            {"issuerMode":"ORG_URL","name":"Google","policy":{"accountLink":{"action":"AUTO"},"maxClockSkew":0,"provisioning":{"action":"DISABLED","conditions":{"deprovisioned":{"action":"NONE"},"suspended":{"action":"NONE"}},"groups":{"action":"NONE"},"profileMaster":false},"subject":{"matchType":"USERNAME","userNameTemplate":{"template":"idpuser.email"}}},"protocol":{"credentials":{"client":{"client_id":"foo","client_secret":"bar"}},"scopes":["openid","profile","email"],"type":"OIDC"},"status":"ACTIVE","type":"GOOGLE"}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://mm-classic-2022-10-04.oktapreview.com/api/v1/idps
        method: POST
      response:
        body: '{"id":"0oa95v85xyXjr0pq11d7","issuerMode":"ORG_URL","name":"Google","status":"ACTIVE","created":"2023-07-27T20:33:38.000Z","lastUpdated":"2023-07-27T20:33:38.000Z","protocol":{"type":"OIDC","endpoints":{"authorization":{"url":"https://accounts.google.com/o/oauth2/auth","binding":"HTTP-REDIRECT"},"token":{"url":"https://www.googleapis.com/oauth2/v3/token","binding":"HTTP-POST"}},"scopes":["openid","profile","email"],"credentials":{"client":{"client_id":"foo","client_secret":"bar"}}},"policy":{"provisioning":{"action":"DISABLED","profileMaster":false,"groups":{"action":"NONE"},"conditions":{"deprovisioned":{"action":"NONE"},"suspended":{"action":"NONE"}}},"accountLink":{"filter":null,"action":"AUTO"},"subject":{"userNameTemplate":{"template":"idpuser.email"},"filter":null,"matchType":"USERNAME","matchAttribute":null},"maxClockSkew":0},"type":"GOOGLE","_links":{"authorize":{"href":"https://mm-classic-2022-10-04.oktapreview.com/oauth2/v1/authorize?idp=0oa95v85xyXjr0pq11d7&client_id={clientId}&response_type={responseType}&response_mode={responseMode}&scope={scopes}&redirect_uri={redirectUri}&state={state}&nonce={nonce}","templated":true,"hints":{"allow":["GET"]}},"clientRedirectUri":{"href":"https://mm-classic-2022-10-04.oktapreview.com/oauth2/v1/authorize/callback","hints":{"allow":["POST"]}}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 531.597262ms
    - id: 82
      request:
        host: mm-classic-2022-10-04.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-classic-2022-10-04.oktapreview.com/api/v1/idps/0oa95v85xyXjr0pq11d7
        method: GET
      response:
        body: '{"id":"0oa95v85xyXjr0pq11d7","issuerMode":"ORG_URL","name":"Google","status":"ACTIVE","created":"2023-07-27T20:33:38.000Z","lastUpdated":"2023-07-27T20:33:38.000Z","pr[...]
    - id: 83
      request:
        host: mm-classic-2022-10-04.oktapreview.com
        body: |
            {"type":"SIGN_ON","name":"testAcc_1425602728","status":"ACTIVE","priority":1,"conditions":{"authContext":{"authType":"ANY"},"identityProvider":{"idpIds":["0oa95v85xyXjr0pq11d7"],"provider":"SPECIFIC_IDP"},"network":{"connection":"ANYWHERE"}},"actions":{"signon":{"access":"ALLOW","primaryFactor":"PASSWORD_IDP","rememberDeviceByDefault":false,"requireFactor":false,"session":{"maxSessionIdleMinutes":120,"maxSessionLifetimeMinutes":120,"usePersistentCookie":false}}}}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://mm-classic[...]
[...]
    - id: 96
      request:
        host: mm-classic-2022-10-04.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-classic-2022-10-04.oktapreview.com/api/v1/behaviors?limit=1&q=New+City
        method: GET
      response:
        body: '{"errorCode":"E0000015","errorSummary":"You do not have permission to access the feature you are requesting","errorLink":"E0000015","errorId":"oaeWftty1gQQTuF4IpF_re4eQ","errorCauses":[]}'
        headers:
            Content-Type:
                - application/json
        status: 401 Unauthorized
        code: 401
        duration: 63.196302ms
[...]
    - id: 103
      request:
        host: mm-classic-2022-10-04.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-classic-2022-10-04.oktapreview.com/api/v1/idps/0oa95v85xyXjr0pq11d7/lifecycle/deactivate
        method: POST
      response:
        body: '{"id":"0oa95v85xyXjr0pq11d7","issuerMode":"ORG_URL","name":"Google","status":"INACTIVE","created":"2023-07-27T20:33:38.000Z","lastUpdated":"2023[...]
[...]
