---
version: 2
interactions:
    - id: 0
      request:
        host: classic-00.dne-okta.com
        body: |
            {"profile":{"name":"testAcc_4192586574_2","description":""}}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://classic-00.dne-okta.com/api/v1/groups
        method: POST
      response:
        body: '{"id":"00g9i7gbzb5AY9kWN1d7","created":"2023-08-15T23:56:50.000Z","lastUpdated":"2023-08-15T23:56:50.000Z","lastMembershipUpdated":"2023-08-15T23:56:50.000Z","objectClass":["okta:user_group"],"type":"OKTA_GROUP","profile":{"name":"testAcc_4192586574_2","description":""},"_links":{"logo":[{"name":"medium","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-medium.30ce6d4085dff29412984e4c191bc874.png","type":"image/png"},{"name":"large","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-large.c3cb8cda8ae0add1b4fe928f5844dbe3.png","type":"image/png"}],"users":{"href":"https://classic-00.oktapreview.com/api/v1/groups/00g9i7gbzb5AY9kWN1d7/users"},"apps":{"href":"https://classic-00.oktapreview.com/api/v1/groups/00g9i7gbzb5AY9kWN1d7/apps"}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 146.771785ms
[...]
    - id: 3
      request:
        host: classic-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/groups/00g9i7e2rhjcfl5UR1d7
        method: GET
      response:
        body: '{"id":"00g9i7e2rhjcfl5UR1d7","created":"2023-08-15T23:56:50.000Z","lastUpdated":"2023-08-15T23:56:50.000Z","lastMembershipUpdated":"2023-08-15T23:56:50.000Z","objectClass":["okta:user_group"],"type":"OKTA_GROUP","profile":{"name":"testAcc_4192586574","description":""},"_links":{"logo":[{"name":"medium","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-medium.30ce6d4085dff29412984e4c191bc874.png","type":"image/png"},{"name":"large","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-large.c3cb8cda8ae0add1b4fe928f5844dbe3.png","type":"image/png"}],"users":{"href":"https://classic-00.oktapreview.com/api/v1/groups/00g9i7e2rhjcfl5UR1d7/users"},"apps":{"href":"https://classic-00.oktapreview.com/api/v1/groups/00g9i7e2rhjcfl5UR1d7/apps"}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 55.358804ms
    - id: 4
      request:
        host: classic-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/groups/00g9i7gbzb5AY9kWN1d7
        method: GET
      response:
        body: '{"id":"00g9i7gbzb5AY9kWN1d7","created":"2023-08-15T23:56:50.000Z","lastUpdated":"2023-08-15T23:56:50.000Z","lastMembershipUpdated":"2023-08-15T23:56:50.000Z","objectClass":["okta:user_group"],"type":"OKTA_GROUP","profile":{"name":"testAcc_4192586574_2","description":""},"_links":{"logo":[{"name":"medium","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-medium.30ce6d4085dff29412984e4c191bc874.png","type":"image/png"},{"name":"large","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-large.c3cb8cda8ae0add1b4fe928f5844dbe3.png","type":"image/png"}],"users":{"href":"https://classic-00.oktapreview.com/api/v1/groups/00g9i7gbzb5AY9kWN1d7/users"},"apps":{"href":"https://classic-00.oktapreview.com/api/v1/groups/00g9i7gbzb5AY9kWN1d7/apps"}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 58.398021ms
    - id: 5
      request:
        host: classic-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/groups/00g9i7dm0f0Va32oU1d7
        method: GET
      response:
        body: '{"id":"00g9i7dm0f0Va32oU1d7","created":"2023-08-15T23:56:50.000Z","lastUpdated":"2023-08-15T23:56:50.000Z","lastMembershipUpdated":"2023-08-15T23:56:50.000Z","objectClass":["okta:user_group"],"type":"OKTA_GROUP","profile":{"name":"testAcc_4192586574_3","description":""},"_links":{"logo":[{"name":"medium","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-medium.30ce6d4085dff29412984e4c191bc874.png","type":"image/png"},{"name":"large","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-large.c3cb8cda8ae0add1b4fe928f5844dbe3.png","type":"image/png"}],"users":{"href":"https://classic-00.oktapreview.com/api/v1/groups/00g9i7dm0f0Va32oU1d7/users"},"apps":{"href":"https://classic-00.oktapreview.com/api/v1/groups/00g9i7dm0f0Va32oU1d7/apps"}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 65.917713ms
[...]
    - id: 9
      request:
        host: classic-00.dne-okta.com
        body: |
            {"accessibility":{"selfService":false},"credentials":{"userNameTemplate":{"template":"${source.login}","type":"BUILT_IN"},"oauthClient":{"autoKeyRotation":true,"pkce_required":false,"token_endpoint_auth_method":"client_secret_basic"}},"label":"testAcc_4192586574","name":"oidc_client","settings":{"app":{},"implicitAssignment":false,"notes":{"admin":null,"enduser":null},"oauthClient":{"application_type":"web","consent_method":"TRUSTED","grant_types":["authorization_code","implicit"],"idp_initiated_login":{"default_scope":[],"mode":"DISABLED"},"issuer_mode":"ORG_URL","redirect_uris":["http://d.com/"],"response_types":["code","token","id_token"],"wildcard_redirect":"DISABLED"}},"signOnMode":"OPENID_CONNECT","visibility":{"autoSubmitToolbar":false,"hide":{"iOS":true,"web":true}}}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://classic-00.dne-okta.com/api/v1/apps?activate=true
        method: POST
      response:
        body: '{"id":"0oa9i79mh8WA6ln7z1d7","name":"oidc_client","label":"testAcc_4192586574","status":"ACTIVE","lastUpdated":"2023-08-15T23:56:51.000Z","created":"2023-08-15T23:56:50.000Z","accessibility":{"selfService":false,"errorRedirectUrl":null,"loginRedirectUrl":null},"visibility":{"autoLaunch":false,"autoSubmitToolbar":false,"hide":{"iOS":true,"web":true},"appLinks":{"oidc_client_link":true}},"features":[],"signOnMode":"OPENID_CONNECT","credentials":{"userNameTemplate":{"template":"${source.login}","type":"BUILT_IN"},"signing":{"kid":"RwDaGE-iT82hX655Q4f0UIf43qDZbNdJM3JkppJkusM"},"oauthClient":{"autoKeyRotation":true,"client_id":"0oa9i79mh8WA6ln7z1d7","client_secret":"Uvn8Bd3oqeT5uUnTewSlrudG7CW9aNDmtt26uywZSM9ZVMVQq7WUgRcCdywNnCFs","token_endpoint_auth_method":"client_secret_basic","pkce_required":false}},"settings":{"app":{},"notifications":{"vpn":{"network":{"connection":"DISABLED"},"message":null,"helpUrl":null}},"manualProvisioning":false,"implicitAssignment":false,"notes":{"admin":null,"enduser":null},"oauthClient":{"client_uri":null,"logo_uri":null,"redirect_uris":["http://d.com/"],"response_types":["code","token","id_token"],"grant_types":["authorization_code","implicit"],"application_type":"web","issuer_mode":"ORG_URL","idp_initiated_login":{"mode":"DISABLED","default_scope":[]},"wildcard_redirect":"DISABLED"}},"_links":{"uploadLogo":{"href":"https://classic-00.oktapreview.com/api/v1/apps/0oa9i79mh8WA6ln7z1d7/logo","hints":{"allow":["POST"]}},"appLinks":[{"name":"oidc_client_link","href":"https://classic-00.oktapreview.com/home/oidc_client/0oa9i79mh8WA6ln7z1d7/aln177a159h7Zf52X0g8","type":"text/html"}],"groups":{"href":"https://classic-00.oktapreview.com/api/v1/apps/0oa9i79mh8WA6ln7z1d7/groups"},"logo":[{"name":"medium","href":"https://op3static.oktacdn.com/assets/img/logos/default.6770228fb0dab49a1695ef440a5279bb.png","type":"image/png"}],"clientCredentials":[{"name":"secrets","href":"https://classic-00.oktapreview.com/api/v1/apps/0oa9i79mh8WA6ln7z1d7/credentials/secrets"}],"users":{"href":"https://classic-00.oktapreview.com/api/v1/apps/0oa9i79mh8WA6ln7z1d7/users"},"deactivate":{"href":"https://classic-00.oktapreview.com/api/v1/apps/0oa9i79mh8WA6ln7z1d7/lifecycle/deactivate"}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 943.57746ms
    - id: 10
      request:
        host: classic-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/.well-known/okta-organization
        method: GET
      response:
        body: '{"id":"00o5ptm04a2LyDEyk1d7","cell":"op3","_links":{"organization":{"href":"https://classic-00.oktapreview.com"}},"pipeline":"v1","settings":{"analyticsCollectionEnabled":false,"bugReportingEnabled":true,"omEnabled":true,"pssoEnabled":false}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 66.052839ms
    - id: 11
      request:
        host: classic-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/apps/0oa9i79mh8WA6ln7z1d7
        method: GET
      response:
        body: '{"id":"0oa9i79mh8WA6ln7z1d7","name":"oidc_client","label":"testAcc_4192586574","status":"ACTIVE","lastUpdated":"2023-08-15T23:56:51.000Z","created":"2023-08-15T23:56:50.000Z","accessibility":{"se[...]
    - id: 12
      request:
        host: classic-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/internal/apps/0oa9i79mh8WA6ln7z1d7/settings/oauth/idToken
        method: GET
      response:
        body: '{"issuer":"https://classic-00.oktapreview.com","orgUrl":null,"customUrl":null,"audience":"0oa9i79mh8WA6ln7z1d7","issuerMode":"ORG_URL"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 63.720024ms
    - id: 13
      request:
        host: classic-00.dne-okta.com
        body: |
            {"id":"00g9i7e2rhjcfl5UR1d7","priority":1,"profile":{}}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://classic-00.dne-okta.com/api/v1/apps/0oa9i79mh8WA6ln7z1d7/groups/00g9i7e2rhjcfl5UR1d7
        method: PUT
      response:
        body: '{"id":"00g9i7e2rhjcfl5UR1d7","lastUpdated":"2023-08-15T23:56:51.000Z","priority":1,"profile":{},"_links":{"app":{"href":"https://classic-00.oktapreview.com/api/v1/apps/0oa9i79mh8WA6ln7z1d7"},"self":{"href":"https://classic-00.oktapreview.com/api/v1/apps/0oa9i79mh8WA6ln7z1d7/groups/00g9i7e2rhjcfl5UR1d7"},"group":{"href":"https://classic-00.oktapreview.com/api/v1/groups/00g9i7e2rhjcfl5UR1d7"}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 157.682321ms
    - id: 14
      request:
        host: classic-00.dne-okta.com
        body: |
            {"id":"00g9i7gbzb5AY9kWN1d7","priority":2,"profile":{}}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://classic-00.dne-okta.com/api/v1/apps/0oa9i79mh8WA6ln7z1d7/groups/00g9i7gbzb5AY9kWN1d7
        method: PUT
      response:
        body: '{"id":"00g9i7gbzb5AY9kWN1d7","lastUpdated":"2023-08-15T23:56:51.000Z","priority":2,"profile":{},"_links":{"app":{"href":"https://classic-00.oktapreview.com/api/v1/apps/0oa9i79mh8WA6ln7z1d7"},"self":{"href":"https://classic-00.oktapreview.com/api/v1/apps/0oa9i79mh8WA6ln7z1d7/groups/00g9i7gbzb5AY9kWN1d7"},"group":{"href":"https://classic-00.oktapreview.com/api/v1/groups/00g9i7gbzb5AY9kWN1d7"}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 219.35416ms
    - id: 15
      request:
        host: classic-00.dne-okta.com
        body: |
            {"id":"00g9i7dm0f0Va32oU1d7","priority":3,"profile":{}}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://classic-00.dne-okta.com/api/v1/apps/0oa9i79mh8WA6ln7z1d7/groups/00g9i7dm0f0Va32oU1d7
        method: PUT
      response:
        body: '{"id":"00g9i7dm0f0Va32oU1d7","lastUpdated":"2023-08-15T23:56:52.000Z","priority":3,"profile":{},"_links":{"app":{"href":"https://classic-00.oktapreview.com/api/v1/apps/0oa9i79mh8WA6ln7z1d7"},"self":{"href":"https://classic-00.oktapreview.com/api/v1/apps/0oa9i79mh8WA6ln7z1d7/groups/00g9i7dm0f0Va32oU1d7"},"group":{"href":"https://classic-00.oktapreview.com/api/v1/groups/00g9i7dm0f0Va32oU1d7"}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 178.215452ms
    - id: 16
      request:
        host: classic-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/apps/0oa9i79mh8WA6ln7z1d7/groups?limit=200
        method: GET
      response:
        body: '[{"id":"00g9i7e2rhjcfl5UR1d7","lastUpdated":"2023-08-15T23:56:51.000Z","priority":1,"profile":{},"_links":{"app":{"href":"https://classic-00.oktapreview.com/api/v1/apps/0oa9i79mh[...]
[...]
    - id: 36
      request:
        host: classic-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/apps/0oa9i79mh8WA6ln7z1d7/groups?limit=200
        method: GET
      response:
        body: '[{"id":"00g9i7gbzb5AY9kWN1d7","lastUpdated":"2023-08-15T23:56:51.000Z","priority":1,"profile":{},"_links":{"app":{"href":"https://classic-00.oktapreview.com/api/v1/apps/0oa9i79mh8WA6ln7z1d7"},"self":{"href":"https://classic-00.oktapreview.com/api/v1/apps/0oa9i79mh8WA6ln7z1d7/groups/00g9i7gbzb5AY9kWN1d7"},"group":{"href":"https://classic-00.oktapreview.com/api/v1/groups/00g9i7gbzb5AY9kWN1d7"}}},{"id":"00g9i7e2rhjcfl5UR1d7","lastUpdated":"2023-08-15T23:56:54.000Z","priority":2,"profile":{},"_links":{"app":{"href":"https://classic-00.oktapreview.com/api/v1/apps/0oa9i79mh8WA6ln7z1d7"},"self":{"href":"https://classic-00.oktapreview.com/api/v1/apps/0oa9i79mh8WA6ln7z1d7/groups/00g9i7e2rhjcfl5UR1d7"},"group":{"href":"https://classic-00.oktapreview.com/api/v1/groups/00g9i7e2rhjcfl5UR1d7"}}}]'
        headers:
            Content-Type:
                - application/json
            Link:
                - <https://classic-00.dne-okta.com/api/v1/apps/0oa9i79mh8WA6ln7z1d7/groups?limit=200>; rel="self"
        status: 200 OK
        code: 200
        duration: 105.183665ms
[...]
    - id: 80
      request:
        host: classic-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/apps/0oa9i79mh8WA6ln7z1d7/lifecycle/deactivate
        method: POST
      response:
        body: '{}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 129.424437ms
[...]
    - id: 82
      request:
        host: classic-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/users/00g9i7e2rhjcfl5UR1d7
        method: GET
      response:
        body: '{"errorCode":"E0000007","errorSummary":"Not found: Resource not found: 00g9i7e2rhjcfl5UR1d7 (User)","errorLink":"E0000007","errorId":"oaeGZvzbA9ySf2ABePhZwzf7g","errorCauses":[]}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 84.189211ms
    - id: 83
      request:
        host: classic-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/users/00g9i7gbzb5AY9kWN1d7
        method: GET
      response:
        body: '{"errorCode":"E0000007","errorSummary":"Not found: Resource not found: 00g9i7gbzb5AY9kWN1d7 (User)","errorLink":"E0000007","errorId":"oaeUrV32lECTJevVtFkq9_GmA","errorCauses":[]}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 54.74371ms
    - id: 84
      request:
        host: classic-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/users/00g9i7dm0f0Va32oU1d7
        method: GET
      response:
        body: '{"errorCode":"E0000007","errorSummary":"Not found: Resource not found: 00g9i7dm0f0Va32oU1d7 (User)","errorLink":"E0000007","errorId":"oaemrk1PqdPSAWQIjmLDpo3DQ","errorCauses":[]}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 63.79219ms
    - id: 85
      request:
        host: classic-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/users/0oa9i79mh8WA6ln7z1d7
        method: GET
      response:
        body: '{"errorCode":"E0000007","errorSummary":"Not found: Resource not found: 0oa9i79mh8WA6ln7z1d7 (User)","errorLink":"E0000007","errorId":"oae_-LdvaGjRS-yazO4LeakgA","errorCauses":[]}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 66.463739ms
[...]
