---
version: 2
interactions:
    - id: 0
      request:
        host: oie-00.dne-okta.com
        body: |
            {"profile":{"name":"testAcc_1668052007_group_owners_del","description":""}}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://oie-00.dne-okta.com/api/v1/groups
        method: POST
      response:
        body: '{"id":"00gvu2rsnh1iLIaL41d7","created":"2026-03-05T10:12:43.000Z","lastUpdated":"2026-03-05T10:12:43.000Z","lastMembershipUpdated":"2026-03-05T10:12:43.000Z","objectClass":["okta:user_group"],"type":"OKTA_GROUP","profile":{"name":"testAcc_1668052007_group_owners_del","description":""},"_links":{"logo":[{"name":"medium","href":"https://op3static2.oktacdn.com/assets/img/logos/groups/odyssey/okta-medium.30ce6d4085dff29412984e4c191bc874.png","type":"image/png"},{"name":"large","href":"https://op3static2.oktacdn.com/assets/img/logos/groups/odyssey/okta-large.c3cb8cda8ae0add1b4fe928f5844dbe3.png","type":"image/png"}],"owners":{"href":"https://oie-00.dne-okta.com/api/v1/groups/00gvu2rsnh1iLIaL41d7/owners"},"users":{"href":"https://oie-00.dne-okta.com/api/v1/groups/00gvu2rsnh1iLIaL41d7/users"},"apps":{"href":"https://oie-00.dne-okta.com/api/v1/groups/00gvu2rsnh1iLIaL41d7/apps"}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 902.456541ms
    - id: 1
      request:
        host: oie-00.dne-okta.com
        body: |
            {"credentials":{"password":{}},"profile":{"email":"testAcc-1668052007-del1@example.com","firstName":"TestAcc","lastName":"Owner1","login":"testAcc-1668052007-del1@example.com","postalAddress":null}}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://oie-00.dne-okta.com/api/v1/users
        method: POST
      response:
        body: '{"id":"00uvu2kqyqwEIZQFt1d7","status":"PROVISIONED","created":"2026-03-05T10:12:43.000Z","activated":"2026-03-05T10:12:44.000Z","statusChanged":"2026-03-05T10:12:44.000Z","lastLogin":null,"lastUpdated":"2026-03-05T10:12:44.000Z","passwordChanged":null,"realmId":"guokczn0ol2EdhWqn1d7","type":{"id":"oty3q4zimhtFGKJrN1d7"},"profile":{"firstName":"TestAcc","lastName":"Owner1","mobilePhone":null,"secondEmail":null,"login":"testAcc-1668052007-del1@example.com","email":"testAcc-1668052007-del1@example.com"},"credentials":{"provider":{"type":"OKTA","name":"OKTA"}},"_links":{"suspend":{"href":"https://oie-00.dne-okta.com/api/v1/users/00uvu2kqyqwEIZQFt1d7/lifecycle/suspend","method":"POST"},"schema":{"href":"https://oie-00.dne-okta.com/api/v1/meta/schemas/user/osc3q4zimhtFGKJrN1d7"},"resetPassword":{"href":"https://oie-00.dne-okta.com/api/v1/users/00uvu2kqyqwEIZQFt1d7/lifecycle/reset_password","method":"POST"},"reactivate":{"href":"https://oie-00.dne-okta.com/api/v1/users/00uvu2kqyqwEIZQFt1d7/lifecycle/reactivate","method":"POST"},"self":{"href":"https://oie-00.dne-okta.com/api/v1/users/00uvu2kqyqwEIZQFt1d7"},"resetFactors":{"href":"https://oie-00.dne-okta.com/api/v1/users/00uvu2kqyqwEIZQFt1d7/lifecycle/reset_factors","method":"POST"},"type":{"href":"https://oie-00.dne-okta.com/api/v1/meta/types/user/oty3q4zimhtFGKJrN1d7"},"deactivate":{"href":"https://oie-00.dne-okta.com/api/v1/users/00uvu2kqyqwEIZQFt1d7/lifecycle/deactivate","method":"POST"}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.709938834s
    - id: 2
      request:
        host: oie-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/groups/00gvu2rsnh1iLIaL41d7
        method: GET
      response:
        body: '{"id":"00gvu2rsnh1iLIaL41d7","created":"2026-03-05T10:12:43.000Z","lastUpdated":"2026-03-05T10:12:43.000Z","lastMembershipUpdated":"2026-03-05T10:12:43.000Z","objectClass":["okta:user_group"],"type":"OKTA_GROUP","profile":{"name":"testAcc_1668052007_group_owners_del","description":""},"_links":{"logo":[{"name":"medium","href":"https://op3static2.oktacdn.com/assets/img/logos/groups/odyssey/okta-medium.30ce6d4085dff29412984e4c191bc874.png","type":"image/png"},{"name":"large","href":"https://op3static2.oktacdn.com/assets/img/logos/groups/odyssey/okta-large.c3cb8cda8ae0add1b4fe928f5844dbe3.png","type":"image/png"}],"owners":{"href":"https://oie-00.dne-okta.com/api/v1/groups/00gvu2rsnh1iLIaL41d7/owners"},"users":{"href":"https://oie-00.dne-okta.com/api/v1/groups/00gvu2rsnh1iLIaL41d7/users"},"apps":{"href":"https://oie-00.dne-okta.com/api/v1/groups/00gvu2rsnh1iLIaL41d7/apps"}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 839.974042ms
    - id: 3
      request:
        host: oie-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/users/00uvu2kqyqwEIZQFt1d7
        method: GET
      response:
        body: '{"id":"00uvu2kqyqwEIZQFt1d7","status":"PROVISIONED","created":"2026-03-05T10:12:43.000Z","activated":"2026-03-05T10:12:44.000Z","statusChanged":"2026-03-05T10:12:44.000Z","lastLogin":null,"lastUpdated":"2026-03-05T10:12:44.000Z","passwor[...]
[...]
    - id: 5
      request:
        host: oie-00.dne-okta.com
        body: |
            {"id":"00uvu2kqyqwEIZQFt1d7","type":"USER"}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://oie-00.dne-okta.com/api/v1/groups/00gvu2rsnh1iLIaL41d7/owners
        method: POST
      response:
        body: '{"id":"00uvu2kqyqwEIZQFt1d7","type":"USER","resolved":true,"originId":null,"originType":"OKTA_DIRECTORY","displayName":"TestAcc Owner1","lastUpdated":"Thu Mar 05 10:12:46 UTC 2026"}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 848.6195ms
[...]
    - id: 11
      request:
        host: oie-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/groups/00gvu2rsnh1iLIaL41d7/owners/00uvu2kqyqwEIZQFt1d7
        method: DELETE
      response:
        body: ""
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
        status: 204 No Content
        code: 204
        duration: 637.474541ms
[...]
