---
version: 2
interactions:
    - id: 0
      request:
        host: classic-00.dne-okta.com
        body: |
            {"profile":{"name":"Some Example Test Push Group","description":""}}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://classic-00.dne-okta.com/api/v1/groups
        method: POST
      response:
        body: '{"id":"00g106mwjcmtIbvM2698","created":"2026-02-16T15:44:46.000Z","lastUpdated":"2026-02-16T15:44:46.000Z","lastMembershipUpdated":"2026-02-16T15:44:46.000Z","objectClass":["okta:user_group"],"type":"OKTA_GROUP","profile":{"name":"Some Example Test Push Group","description":""},"_links":{"logo":[{"name":"medium","href":"https://ok14static.oktacdn.com/assets/img/logos/groups/odyssey/okta-medium.30ce6d4085dff29412984e4c191bc874.png","type":"image/png"},{"name":"large","href":"https://ok14static.oktacdn.com/assets/img/logos/groups/odyssey/okta-large.c3cb8cda8ae0add1b4fe928f5844dbe3.png","type":"image/png"}],"users":{"href":"https://classic-00.dne-okta.com/api/v1/groups/00g106mwjcmtIbvM2698/users"},"apps":{"href":"https://classic-00.dne-okta.com/api/v1/groups/00g106mwjcmtIbvM2698/apps"}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.167554833s
    - id: 1
      request:
        host: classic-00.dne-okta.com
        body: |
            {"credentials":{"userNameTemplate":{"template":"${source.login}","type":"BUILT_IN"},"userName":""},"accessibility":{"selfService":false},"label":"Test Deel HR","name":"deelhr","settings":{"app":{},"notes":{"admin":null,"enduser":null}},"signOnMode":"AUTO_LOGIN","visibility":{"appLinks":{"deelhr_link":true},"autoSubmitToolbar":false,"hide":{"iOS":false,"web":false}}}
        form:
            activate:
                - "true"
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://classic-00.dne-okta.com/api/v1/apps?activate=true
        method: POST
      response:
        body: '{"id":"0oa106myoytqBKGYk698","orn":"orn:okta:idp:00oz8zdevhEXiiB0G697:apps:deelhr:0oa106myoytqBKGYk698","name":"deelhr","label":"Test Deel HR","status":"ACTIVE","lastUpdated":"2026-02-16T15:44:46.000Z","created":"2026-02-16T15:44:46.000Z","accessibility":{"selfService":false,"errorRedirectUrl":null,"loginRedirectUrl":null},"visibility":{"autoLaunch":false,"autoSubmitToolbar":false,"hide":{"iOS":false,"web":false},"appLinks":{"deelhr_link":true}},"features":[],"signOnMode":null,"credentials":{"userNameTemplate":{"template":"${source.login}","type":"BUILT_IN"},"signing":{}},"universalLogout":{"status":"UNSUPPORTED"},"settings":{"app":{},"notifications":{"vpn":{"network":{"connection":"DISABLED"},"message":null,"helpUrl":null}},"manualProvisioning":false,"implicitAssignment":false,"notes":{"admin":null,"enduser":null}},"_links":{"uploadLogo":{"href":"https://classic-00.dne-okta.com/api/v1/apps/0oa106myoytqBKGYk698/logo","hints":{"allow":["POST"]}},"appLinks":[{"name":"deelhr_link","href":"https://classic-00.dne-okta.com/home/deelhr/0oa106myoytqBKGYk698/aln5a838ba0SiO7GZ0x7","type":"text/html"}],"profileEnrollment":{"href":"https://classic-00.dne-okta.com/api/v1/policies/rstz8zdf1a2zRS6u5697"},"policies":{"href":"https://classic-00.dne-okta.com/api/v1/apps/0oa106myoytqBKGYk698/policies","hints":{"allow":["PUT"]}},"groups":{"href":"https://classic-00.dne-okta.com/api/v1/apps/0oa106myoytqBKGYk698/groups"},"logo":[{"name":"medium","href":"https://ok14static.oktacdn.com/fs/bcg/4/gfs8pe5hwlHBnw0HT697","type":"image/png"}],"accessPolicy":{"href":"https://classic-00.dne-okta.com/api/v1/policies/rstz8zdf18IdZixgd697"},"users":{"href":"https://classic-00.dne-okta.com/api/v1/apps/0oa106myoytqBKGYk698/users"},"deactivate":{"href":"https://classic-00.dne-okta.com/api/v1/apps/0oa106myoytqBKGYk698/lifecycle/deactivate"}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.868941625s
    - id: 2
      request:
        host: classic-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/groups/00g106mwjcmtIbvM2698
        method: GET
      response:
        body: '{"id":"00g106mwjcmtIbvM2698","created":"2026-02-16T15:44:46.000Z","lastUpdated":"2026-02-16T15:44:46.000Z","lastMembershipUpdated":"2026-02-16T15:44:46.000Z","objectClass":["okta:user_group"],"type":"OKTA_GROUP","profile":{"name":"Some Example Test Push Group","description":""},"_links":{"logo":[{"name":"medium","href":"https://ok14static.oktacdn.com/assets/img/logos/groups/odyssey/okta-medium.30ce6d4085dff29412984e4c191bc874.png","type":"image/png"},{"name":"large","href":"https://ok14static.oktacdn.com/assets/img/logos/groups/odyssey/okta-large.c3cb8cda8ae0add1b4fe928f5844dbe3.png","type":"image/png"}],"users":{"href":"https://classic-00.dne-okta.com/api/v1/groups/00g106mwjcmtIbvM2698/users"},"apps":{"href":"https://classic-00.dne-okta.com/api/v1/groups/00g106mwjcmtIbvM2698/apps"}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 870.864292ms
[...]
    - id: 4
      request:
        host: classic-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/apps/0oa106myoytqBKGYk698
        method: GET
      response:
        body: '{"id":"0oa106myoytqBKGYk698","orn":"orn:okta:idp:00oz8zdevhEXiiB0G697:apps:deelhr:0oa106myoytqBKGYk698","name":"deelhr","label":"Test Deel HR","status":"ACTIVE","lastUpdated":"2026-02-16T15:44:46.000Z","created":"2026-02-16T15:44:[...]
[...]
    - id: 6
      request:
        host: classic-00.dne-okta.com
        body: |
            {"sourceGroupId":"00g106mwjcmtIbvM2698","status":"ACTIVE","targetGroupName":"Some Example Test Push Group"}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://classic-00.dne-okta.com/api/v1/apps/0oa106myoytqBKGYk698/group-push/mappings
        method: POST
      response:
        body: '{"created":"2026-02-16T15:44:49Z","id":"gPm106mx8ehyPfkt9698","lastUpdated":"2026-02-16T15:44:49Z","sourceGroupId":"00g106mwjcmtIbvM2698","status":"ACTIVE","targetGroupId":"00g106mx8egOhwfVR698","_links":{"app":{"href":"https://classic-00.dne-okta.com/api/v1/apps/0oa106myoytqBKGYk698"},"sourceGroup":{"href":"https://classic-00.dne-okta.com/api/v1/groups/00g106mwjcmtIbvM2698"},"targetGroup":{"href":"https://classic-00.dne-okta.com/api/v1/groups/00g106mx8egOhwfVR698"}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.007539458s
[...]
    - id: 9
      request:
        host: classic-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/apps/0oa106myoytqBKGYk698/group-push/mappings/gPm106mx8ehyPfkt9698
        method: GET
      response:
        body: '{"created":"2026-02-16T15:44:49Z","id":"gPm106mx8ehyPfkt9698","lastUpdated":"2026-02-16T15:44:49Z","sourceGroupId":"00g106mwjcmtIbvM2698","status":"ACTIVE","targetGroupId":"00g106mx8egOhwfVR698","_links":{"app":{"href":"https://classic-00.dne-okta.com/api/v1/apps/0oa106myoytqBKGYk698"},"sourceGroup":{"href":"https://classic-00.dne-okta.com/api/v1/groups/00g106mwjcmtIbvM2698"},"targetGroup":{"href":"https://classic-00.dne-okta.com/api/v1/groups/00g106mx8egOhwfVR698"}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 881.640792ms
[...]
    - id: 17
      request:
        host: classic-00.dne-okta.com
        form:
            deleteTargetGroup:
                - "false"
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/apps/0oa106myoytqBKGYk698/group-push/mappings/gPm106mx8ehyPfkt9698?deleteTargetGroup=false
        method: DELETE
      response:
        body: ""
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
        status: 200 OK
        code: 200
        duration: 927.779166ms
[...]
    - id: 19
      request:
        host: classic-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/apps/0oa106myoytqBKGYk698/lifecycle/deactivate
        method: POST
      response:
        body: '{}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 921.790709ms
[...]
