---
version: 2
interactions:
    - id: 0
      request:
        host: oie-00.dne-okta.com
        body: |
            {"label":"testAcc_2456896608_1","description":"First test resource set for datasource testing","resources":["https://oie-00.dne-okta.com/api/v1/users"]}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://oie-00.dne-okta.com/api/v1/iam/resource-sets
        method: POST
      response:
        body: '{"id":"iamt7cy7igYooQPz9697","label":"testAcc_2456896608_1","description":"First test resource set for datasource testing","created":"2025-07-14T14:57:59.000Z","lastUpdated":"2025-07-14T14:57:59.000Z","_links":{"bindings":{"href":"https://oie-00.dne-okta.com/api/v1/iam/resource-sets/iamt7cy7igYooQPz9697/bindings"},"self":{"href":"https://oie-00.dne-okta.com/api/v1/iam/resource-sets/iamt7cy7igYooQPz9697"},"resources":{"href":"https://oie-00.dne-okta.com/api/v1/iam/resource-sets/iamt7cy7igYooQPz9697/resources"}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
            Link:
                - <https://oie-00.dne-okta.com/api/v1/iam/resource-sets/iamt7cy7igYooQPz9697>; rel="self"
        status: 200 OK
        code: 200
        duration: 951.563167ms
    - id: 1
      request:
        host: oie-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/iam/resource-sets/iamt7cy7igYooQPz9697
        method: GET
      response:
        body: '{"id":"iamt7cy7igYooQPz9697","label":"testAcc_2456896608_1","description":"First test resource set for datasource testing","created":"2025-07-14T14:57:59.000Z","lastUpdated":"2025-07-14T14:57:59.000Z","_links":{"bindings":{"href":"https://oie-00.dne-okta.com/api/v1/iam/resource-sets/iamt7cy7igYooQPz9697/bindings"},"self":{"href":"https://oie-00.dne-okta.com/api/v1/iam/resource-sets/iamt7cy7igYooQPz9697"},"resources":{"href":"https://oie-00.dne-okta.com/api/v1/iam/resource-sets/iamt7cy7igYooQPz9697/resources"}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
            Link:
                - <https://oie-00.dne-okta.com/api/v1/iam/resource-sets/iamt7cy7igYooQPz9697>; rel="self"
        status: 200 OK
        code: 200
        duration: 664.903708ms
    - id: 2
      request:
        host: oie-00.dne-okta.com
        form:
            limit:
                - "200"
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/iam/resource-sets/iamt7cy7igYooQPz9697/resources?limit=200
        method: GET
      response:
        body: '{"resources":[{"id":"iret7cy7ihkphkBFX697","orn":"orn:okta:directory:00osd501x0KyUtOul697:users","created":"2025-07-14T14:57:59.000Z","lastUpdated":"2025-07-14T14:57:59.000Z","_links":{"self":{"href":"https://oie-00.dne-okta.com/api/v1/users"},"resource":{"href":"https://oie-00.dne-okta.com/api/v1/iam/resource-sets/iamt7cy7igYooQPz9697/resources/iret7cy7ihkphkBFX697"},"users":{"href":"https://oie-00.dne-okta.com/api/v1/users"}}}],"_links":{"resource-set":{"href":"https://oie-00.dne-okta.com/api/v1/iam/resource-sets/iamt7cy7igYooQPz9697"},"self":{"href":"https://oie-00.dne-okta.com/api/v1/iam/resource-sets/iamt7cy7igYooQPz9697/resources"}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
            Link:
                - <https://oie-00.dne-okta.com/api/v1/iam/resource-sets/iamt7cy7igYooQPz9697/resources>; rel="self"
        status: 200 OK
        code: 200
        duration: 649.948416ms
[...]
    - id: 4
      request:
        host: oie-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/iam/resource-sets/iamt7cyh3tnyJgp29697
        method: GET
      response:
        body: '{"id":"iamt7cyh3tnyJgp29697","label":"testAcc_2456896608_2","description":"Second test resource set for datasource testing","created":"2025-07-14T14:58:01.000Z","lastUpdated":"2025-07-14T14:58:01.000Z","_links":{"bindings":{"href":"https://oie-00.dne-okta.com/api/v1/iam/resource-sets/iamt7cyh3tnyJgp29697/bindings"},"self":{"href":"https://oie-00.dne-okta.com/api/v1/iam/resource-sets/iamt7cyh3tnyJgp29697"},"resources":{"href":"https://oie-00.dne-okta.com/api/v1/iam/resource-sets/iamt7cyh3tnyJgp29697/resources"}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
            Link:
                - <https://oie-00.dne-okta.com/api/v1/iam/resource-sets/iamt7cyh3tnyJgp29697>; rel="self"
        status: 200 OK
        code: 200
        duration: 680.724791ms
    - id: 5
      request:
        host: oie-00.dne-okta.com
        form:
            limit:
                - "200"
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/iam/resource-sets/iamt7cyh3tnyJgp29697/resources?limit=200
        method: GET
      response:
        body: '{"resources":[{"id":"iret7cyh3udGvg6PY697","orn":"orn:okta:directory:00osd501x0KyUtOul697:groups","created":"2025-07-14T14:58:01.000Z","lastUpdated":"2025-07-14T14:58:01.000Z","_links":{"groups":{"href":"https://oie-00.dne-okta.com/api/v1/groups"},"self":{"href":"https://oie-00.dne-okta.com/api/v1/groups"},"resource":{"href":"https://oie-00.dne-okta.com/api/v1/iam/resource-sets/iamt7cyh3tnyJgp29697/resources/iret7cyh3udGvg6PY697"}}}],"_links":{"resource-set":{"href":"https://oie-00.dne-okta.com/api/v1/iam/resource-sets/iamt7cyh3tnyJgp29697"},"self":{"href":"https://oie-00.dne-okta.com/api/v1/iam/resource-sets/iamt7cyh3tnyJgp29697/resources"}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
            Link:
                - <https://oie-00.dne-okta.com/api/v1/iam/resource-sets/iamt7cyh3tnyJgp29697/resources>; rel="self"
        status: 200 OK
        code: 200
        duration: 691.571417ms
    - id: 6
      request:
        host: oie-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/iam/resource-sets
        method: GET
      response:
        body: '{"_links":{"self":{"href":"https://oie-00.dne-okta.com/api/v1/iam/resource-sets"}},"resource-sets":[{"id":"iamt779bxjw6r0SKV697","label":"testAcc_5462964145546479313","description":"A test resource set for datasource testing","created":"2025-07-14T12:39:47.000Z","lastUpdated":"2025-07-14T12:39:47.000Z","_links":{"bindings":{"href":"https://oie-00.dne-okta.com/api/v1/iam/resource-sets/iamt779bxjw6r0SKV697/bindings"},"self":{"href":"https://oie-00.dne-okta.com/api/v1/iam/resource-sets/iamt779bxjw6r0SKV697"},"resources":{"href":"https://oie-00.dne-okta.com/api/v1/iam/resource-sets/iamt779bxjw6r0[...]
[...]
