---
version: 1
interactions:
- request:
    body: |
      {"credentials":{"password":{}},"profile":{"email":"testAcc_1715543290@example.com","firstName":"TestAcc","lastName":"Smith","login":"testAcc_1715543290@example.com","postalAddress":null}}
    form: {}
    headers:
      Authorization:
      - SSWS REDACTED
      Content-Type:
      - application/json
    url: https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/users
    method: POST
  response:
    body: '{"id":"00u6m9byw8xsT4DVc1d7","status":"PROVISIONED","created":"2023-01-11T20:17:07.000Z","activated":"2023-01-11T20:17:07.000Z","statusChanged":"2023-01-11T20:17:07.000Z","lastLogin":null,"lastUpdated":"2023-01-11T20:17:07.000Z","passwordChanged":null,"type":{"id":"oty5jjkl30LP1EYa11d7"},"profile":{"firstName":"TestAcc","lastName":"Smith","mobilePhone":null,"secondEmail":null,"login":"testAcc_1715543290@example.com","email":"testAcc_1715543290@example.com"},"credentials":{"provider":{"type":"OKTA","name":"OKTA"}},"_links":{"suspend":{"href":"https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/users/00u6m9byw8xsT4DVc1d7/lifecycle/suspend","method":"POST"},"schema":{"href":"https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/meta/schemas/user/osc5jjkl30LP1EYa11d7"},"resetPassword":{"href":"https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/users/00u6m9byw8xsT4DVc1d7/lifecycle/reset_password","method":"POST"},"reactivate":{"href":"https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/users/00u6m9byw8xsT4DVc1d7/lifecycle/reactivate","method":"POST"},"self":{"href":"https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/users/00u6m9byw8xsT4DVc1d7"},"resetFactors":{"href":"https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/users/00u6m9byw8xsT4DVc1d7/lifecycle/reset_factors","method":"POST"},"type":{"href":"https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/meta/types/user/oty5jjkl30LP1EYa11d7"},"deactivate":{"href":"https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/users/00u6m9byw8xsT4DVc1d7/lifecycle/deactivate","method":"POST"}}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/users/00u6m9byw8xsT4DVc1d7
    method: GET
  response:
    body: '{"id":"00u6m9byw8xsT4DVc1d7","status":"PROVISIONED","created":"2023-01-11T20:17:07.000Z","activated":"2023-01-11T20:17:07.000Z","statusChanged":"2023-01-11T20:17:07.000Z","lastLogin":null,"lastUpdated":"2023-01-11T20:17:07.000Z","passwordChanged":null,"type":{"id":"oty5jjkl30LP[...]
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/users/00u6m9byw8xsT4DVc1d7/roles
    method: GET
  response:
    body: '[]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"accessibility":{"selfService":false},"credentials":{"userNameTemplate":{"template":"${source.login}","type":"BUILT_IN"},"oauthClient":{"autoKeyRotation":true,"token_endpoint_auth_method":"client_secret_basic"}},"label":"testAcc_1715543290","name":"oidc_client","settings":{"app":{},"implicitAssignment":false,"notes":{"admin":null,"enduser":null},"oauthClient":{"application_type":"web","consent_method":"TRUSTED","grant_types":["authorization_code","implicit"],"idp_initiated_login":{"default_scope":[],"mode":"DISABLED"},"issuer_mode":"ORG_URL","redirect_uris":["http://d.com/"],"response_types":["code","token","id_token"],"wildcard_redirect":"DISABLED"}},"signOnMode":"OPENID_CONNECT","visibility":{"autoSubmitToolbar":false,"hide":{"iOS":true,"web":true}}}
    form: {}
    headers:
      Authorization:
      - SSWS REDACTED
      Content-Type:
      - application/json
    url: https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/apps?activate=true
    method: POST
  response:
    body: '{"id":"0oa6m9bhk3GlJHkL01d7","name":"oidc_client","label":"testAcc_1715543290","status":"ACTIVE","lastUpdated":"2023-01-11T20:17:08.000Z","created":"2023-01-11T20:17:07.000Z","accessibility":{"selfService":false,"errorRedirectUrl":null,"loginRedirectUrl":null},"visibility":{"autoLaunch":false,"autoSubmitToolbar":false,"hide":{"iOS":true,"web":true},"appLinks":{"oidc_client_link":true}},"features":[],"signOnMode":"OPENID_CONNECT","credentials":{"userNameTemplate":{"template":"${source.login}","type":"BUILT_IN"},"signing":{"kid":"N6gTqHpXS0ON9dnc0K6mj41muPaLWatkWv0La5OqcL8"},"oauthClient":{"autoKeyRotation":true,"client_id":"0oa6m9bhk3GlJHkL01d7","client_secret":"f2UcQ3bbPgLLS2kQbSreEnLxHbT6CI4mekV5rqXU","token_endpoint_auth_method":"client_secret_basic","pkce_required":false}},"settings":{"app":{},"notifications":{"vpn":{"network":{"connection":"DISABLED"},"message":null,"helpUrl":null}},"notes":{"admin":null,"enduser":null},"oauthClient":{"client_uri":null,"logo_uri":null,"redirect_uris":["http://d.com/"],"response_types":["code","token","id_token"],"grant_types":["authorization_code","implicit"],"application_type":"web","issuer_mode":"ORG_URL","idp_initiated_login":{"mode":"DISABLED","default_scope":[]},"wildcard_redirect":"DISABLED"}},"_links":{"uploadLogo":{"href":"https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/apps/0oa6m9bhk3GlJHkL01d7/logo","hints":{"allow":["POST"]}},"appLinks":[{"name":"oidc_client_link","href":"https://tien-oie-tf-2022-09-21.oktapreview.com/home/oidc_client/0oa6m9bhk3GlJHkL01d7/aln177a159h7Zf52X0g8","type":"text/html"}],"profileEnrollment":{"href":"https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/policies/rst5jjkl7xfRAB2lq1d7"},"policies":{"href":"https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/apps/0oa6m9bhk3GlJHkL01d7/policies","hints":{"allow":["PUT"]}},"groups":{"href":"https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/apps/0oa6m9bhk3GlJHkL01d7/groups"},"logo":[{"name":"medium","href":"https://op3static.oktacdn.com/assets/img/logos/default.6770228fb0dab49a1695ef440a5279bb.png","type":"image/png"}],"clientCredentials":[{"name":"secrets","href":"https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/apps/0oa6m9bhk3GlJHkL01d7/credentials/secrets"}],"accessPolicy":{"href":"https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/policies/rst5jjkl7vq2UI8Us1d7"},"users":{"href":"https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/apps/0oa6m9bhk3GlJHkL01d7/users"},"deactivate":{"href":"https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/apps/0oa6m9bhk3GlJHkL01d7/lifecycle/deactivate"}}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://tien-oie-tf-2022-09-21.oktapreview.com/.well-known/okta-organization
    method: GET
  response:
    body: '{"id":"00o5jjkl24SXTMSw11d7","cell":"op3","_links":{"organization":{"href":"https://tien-oie-tf-2022-09-21.oktapreview.com"}},"pipeline":"idx","settings":{"analyticsCollectionEnabled":false,"bugReportingEnabled":true,"omEnabled":false}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/policies?type=ACCESS_POLICY
    method: GET
  response:
    body: '[{"id":"rst5jjkl6cCL4Ltxq1d7","status":"ACTIVE","name":"Okta Admin Console","priority":1,"system":false,"conditions":null,"created":"2022-09-21T17:21:19.000Z","lastUpdated":"2022-09-21T17:21:19.000Z","_links":{"self":{"href":"https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/policies/rst5jjkl6cCL4Ltxq1d7","hints":{"allow":["GET","PUT","DELETE"]}},"rules":{"href":"https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/policies/rst5jjkl6cCL4Ltxq1d7/rules","hints":{"allow":["GET","POST"]}},"deactivate":{"href":"https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/policies/rst5jjkl6cCL4Ltxq1d7/lifecycle/deactivate","hints":{"allow":["POST"]}}},"type":"ACCESS_POLICY"},{"id":"rst5jjkl6jmdiTjqr1d7","status":"ACTIVE","name":"Okta
      Browser Plugin","priority":1,"system":false,"conditions":null,"created":"2022-09-21T17:21:20.000Z","lastUpdated":"2022-[...]
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/apps/0oa6m9bhk3GlJHkL01d7
    method: GET
  response:
    body: '{"id":"0oa6m9bhk3GlJHkL01d7","name":"oidc_client","label":"testAcc_1715543290","status":"ACTIVE","lastUpdated":"2023-01-11T20:17:08.000Z","created":"2023-01-11T20:17:07.000Z","accessibility":{"selfService":false,"errorRedirectUrl":null,"loginRedirectUrl":null},"visibility":{"aut[...]
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/apps/0oa6m9bhk3GlJHkL01d7/users?limit=200
    method: GET
  response:
    body: '[]'
    headers:
      Content-Type:
      - application/json
      Link:
      - <https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/apps/0oa6m9bhk3GlJHkL01d7/users?limit=200>;
        rel="self"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/apps/0oa6m9bhk3GlJHkL01d7/groups?limit=200
    method: GET
  response:
    body: '[]'
    headers:
      Content-Type:
      - application/json
      Link:
      - <https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/apps/0oa6m9bhk3GlJHkL01d7/groups?limit=200>;
        rel="self"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: |
      {"credentials":{"password":{},"userName":"testAcc_1715543290@example.com"},"id":"00u6m9byw8xsT4DVc1d7"}
    form: {}
    headers:
      Authorization:
      - SSWS REDACTED
      Content-Type:
      - application/json
    url: https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/apps/0oa6m9bhk3GlJHkL01d7/users
    method: POST
  response:
    body: '{"id":"00u6m9byw8xsT4DVc1d7","externalId":null,"created":"2023-01-11T20:17:09.000Z","lastUpdated":"2023-01-11T20:17:09.000Z","scope":"USER","status":"ACTIVE","statusChanged":"2023-01-11T20:17:09.000Z","passwordChanged":null,"syncState":"DISABLED","credentials":{"userName":"testAcc_1715543290@example.com"},"profile":{"street_address":null,"country":null,"website":null,"zoneinfo":"America/Los_Angeles","birthdate":null,"gender":null,"formatted":null,"profile":null,"locality":null,"given_name":"TestAcc","middle_name":null,"locale":"en_US","picture":null,"name":"TestAcc
      Smith","nickname":null,"phone_number":null,"region":null,"postal_code":null,"family_name":"Smith","email":"testAcc_1715543290@example.com"},"_links":{"app":{"href":"https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/apps/0oa6m9bhk3GlJHkL01d7"},"user":{"href":"https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/users/00u6m9byw8xsT4DVc1d7"}}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/apps/0oa6m9bhk3GlJHkL01d7/users/00u6m9byw8xsT4DVc1d7
    method: GET
  response:
    body: '{"id":"00u6m9byw8xsT4DVc1d7","externalId":null,"created":"2023-01-11T20:17:09.000Z","lastUpdated":"2023-01-11T20:17:09.000Z","scope":"USER","status":"ACTIVE","statusChanged":"2023-01-11T20:17:09.000Z","passwordChanged":null,"syncState":"DISABLED","credentials":{"userName":"testAcc_1715543290@example.com"},"profile":{"street_address":null,"country":null,"website":null,"zoneinfo":"America/Los_Angeles","birthdate":null,"gender":null,"formatted":null,"profile":null,"locality":null,"given_name":"TestAcc","middle_name":null,"locale":"en_US","picture":null,"name":"TestAcc
      Smith","nickname":null,"phone_number":null,"region":null,"postal_code":null,"family_name":"Smith","email":"testAcc_1715543290@example.com"},"_links":{"app":{"href":"https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/apps/0oa6m9bhk3GlJHkL01d7"},"user":{"href":"https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/users/00u6m9byw8xsT4DVc1d7"}}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/apps/0oa6m9bhk3GlJHkL01d7/lifecycle/deactivate
    method: POST
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"accessibility":{"selfService":false},"credentials":{"userNameTemplate":{"template":"${source.login}","type":"BUILT_IN"}},"label":"testAcc_1715543290","name":"google","settings":{"app":{"afwOnly":false,"domain":"articulate"},"implicitAssignment":false,"notes":{"admin":null,"enduser":null},"signOn":{"allowMultipleAcsEndpoints":false,"assertionSigned":false,"attributeStatements":[],"audienceOverride":"","defaultRelayState":"","destinationOverride":"","honorForceAuthn":false,"recipientOverride":"","responseSigned":false,"slo":{"enabled":false},"ssoAcsUrlOverride":""}},"signOnMode":"SAML_2_0","visibility":{"autoSubmitToolbar":false,"hide":{"iOS":false,"web":false}}}
    form: {}
    headers:
      Authorization:
      - SSWS REDACTED
      Content-Type:
      - application/json
    url: https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/apps?activate=true
    method: POST
  response:
    body: '{"id":"0oa6m9axkeu5klDtm1d7","name":"google","label":"testAcc_1715543290","status":"ACTIVE","lastUpdated":"2023-01-11T20:17:46.000Z","created":"2023-01-11T20:17:46.000Z","accessibility":{"selfService":false,"errorRedirectUrl":null,"loginRedirectUrl":null},"licensing":{"seatCount":0},"visibility":{"autoLaunch":false,"autoSubmitToolbar":false,"hide":{"iOS":false,"web":false},"appLinks":{"calendar":true,"mail":true,"keep":true,"sites":true,"accounts":true,"drive":true}},"features":[],"signOnMode":"SAML_2_0","credentials":{"userNameTemplate":{"template":"${source.login}","type":"BUILT_IN"},"signing":{"kid":"fGu0tPsLgVY3vBARcdlLPzDTXOsUFZV07NMKM4saGMc"}},"settings":{"app":{"afwOnly":false,"domain":"articulate","afwId":null},"notifications":{"vpn":{"network":{"connection":"DISABLED"},"message":null,"helpUrl":null}},"notes":{"admin":null,"enduser":null},"signOn":{"defaultRelayState":null,"ssoAcsUrlOverride":null,"audienceOverride":null,"recipientOverride":null,"destinationOverride":null,"attributeStatements":[]}},"_links":{"help":{"href":"https://tien-oie-tf-2022-09-21-admin.oktapreview.com/app/google/0oa6m9axkeu5klDtm1d7/setup/help/SAML_2_0/external-doc","type":"text/html"},"metadata":{"href":"https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/apps/0oa6m9axkeu5klDtm1d7/sso/saml/metadata","type":"application/xml"},"uploadLogo":{"href":"https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/apps/0oa6m9axkeu5klDtm1d7/logo","hints":{"allow":["POST"]}},"appLinks":[{"name":"sites","href":"https://tien-oie-tf-2022-09-21.oktapreview.com/home/google/0oa6m9axkeu5klDtm1d7/56","type":"text/html"},{"name":"accounts","href":"https://tien-oie-tf-2022-09-21.oktapreview.com/home/google/0oa6[...]
[...]
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/apps/0oa6m9axkeu5klDtm1d7
    method: GET
  response:
    body: '{"id":"0oa6m9axkeu5klDtm1d7","name":"google","label":"testAcc_1715543290","status":"ACTIVE","lastUpdated":"2023-01-11T20:17:46.000Z","created":"2023-01-11T20:17:46.000Z","accessibility":{"selfService":false,"errorRedirectUrl":null,"loginRedirectUrl":null},"licensing":{"seatCount[...]
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/apps/0oa6m9axkeu5klDtm1d7/sso/saml/metadata?kid=fGu0tPsLgVY3vBARcdlLPzDTXOsUFZV07NMKM4saGMc
    method: GET
  response:
    body: |-
      <?xml version="1.0" encoding="UTF-8"?><md:EntityDescriptor entityID="google.com/a/articulate" xmlns:md="urn:oasis:names:tc:SAML:2.0:metadata"><md:IDPSSODescriptor WantAuthnRequestsSigned="false" protocolSupportEnumeration="urn:oasis:names:tc:SAML:2.0:protocol"><md:KeyDescriptor use="signing"><ds:KeyInfo xmlns:ds="http://www.w3.org/2000/09/xmldsig#"><ds:X509Data><ds:X509Certificate>MIIDvDCCAqSgAwIBAgIGAYWie0fZMA0GCSqGSIb3DQEBCwUAMIGeMQswCQYDVQQGEwJVUzETMBEG
      A1UECAwKQ2FsaWZvcm5pYTEWMBQGA1UEBwwNU2FuIEZyYW5jaXNjbzENMAsGA1UECgwET2t0YTEU
      MBIGA1UECwwLU1NPUHJvdmlkZXIxHzAdBgNVBAMMFnRpZW4tb2llLXRmLTIwMjItMDktMjExHDAa
      BgkqhkiG9w0BCQEWDWluZm9Ab2t0YS5jb20wHhcNMjMwMTExMjAxNjQ2WhcNMzMwMTExMjAxNzQ2
      WjCBnjELMAkGA1UEBhMCVVMxEzARBgNVBAgMCkNhbGlmb3JuaWExFjAUBgNVBAcMDVNhbiBGcmFu
      Y2lzY28xDTALBgNVBAoMBE9rdGExFDASBgNVBAsMC1NTT1Byb3ZpZGVyMR8wHQYDVQQDDBZ0aWVu
      LW9pZS10Zi0yMDIyLTA5LTIxMRwwGgYJKoZIhvcNAQkBFg1pbmZvQG9rdGEuY29tMIIBIjANBgkq
      hkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAw1YT8Gz7TgvjxWEqmg2HafP/251Bna7jV6vPHsog1cU0
      i/J68oj1FcT68NbOdDVBm1cJCbDEuZviAFVTnKl4R5jM0vJ3D6L5bnlLZBYcdMA0GItZNOMJz5YC
      EzhqfT8MTQ6UYtCJ63dAAjtOWf1GmNMPqthXFeunL5wyTpcUNnnvzuP5kbhW/lEKDRsloCRf9c0y
      NDWN+LJ/AWMoHwxtmiIb1hIeXA49DaClXtyZ7kkfnQvXdTZUEGhyknvFo56/UEzkRYlPyUZv8Zus
      nIL1UruYO14s2Uj5Iv1Kmq9eY8nFWuxDdvkU53fPYRngTNmMSvmP8kmTneg3f7fOamqWnwIDAQAB
      MA0GCSqGSIb3DQEBCwUAA4IBAQA5N+pETxjTPWKqHe2kexFpOBG1Sf4V7P+38/fBt32Jejcdzji2
      a9GQd3ny/gl8Dn6hJSQXREQUwaZTQYooJO7HDMSqcfTansGQkBV2XDi/c49ySgW2Wu3uSeFYe1z5
      kfO1u63Mt5L7StD8KJ3PlZSJ8wYUQ8IMaYM2ImOOy9WiK2DwllTeni+VA84lkHXB0vFhYsWLD/1r
      75pmDnk6TE435jyebGVvNAV8baGCCXveZWpqmxv1I8xwpFfonnV7gF6jC+4t4uDSfR7uA5o89Ij3
      hqXOCxt+1pL8nadATXxSp/U1ys3dufToGZqHsmQAtcOgEaYS/KPTow4AlHU4Gmbs</ds:X509Certificate></ds:X509Data></ds:KeyInfo></md:KeyDescriptor><md:NameIDFormat>urn:oasis:names:tc:SAML:2.0:nameid-format:email</md:NameIDFormat><md:NameIDFormat>urn:oasis:names:tc:SAML:1.1:nameid-format:emailAddress</md:NameIDFormat><md:SingleSignOnService Binding="urn:oasis:names:tc:SAML:2.0:bindings:HTTP-POST" Location="https://tien-oie-tf-2022-09-21.oktapreview.com/app/google/exk6m9axkdlssnguh1d7/sso/saml"/><md:SingleSignOnService Binding="urn:oasis:names:tc:SAML:2.0:bindings:HTTP-Redirect" Location="https://tien-oie-tf-2022-09-21.oktapreview.com/app/google/exk6m9axkdlssnguh1d7/sso/saml"/></md:IDPSSODescriptor></md:EntityDescriptor>
    headers:
      Content-Type:
      - application/xml;charset=ISO-8859-1
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/apps/0oa6m9axkeu5klDtm1d7/credentials/keys
    method: GET
  response:
    body: '[{"kty":"RSA","created":"2023-01-11T20:17:46.000Z","lastUpdated":"2023-01-11T20:17:46.000Z","expiresAt":"2033-01-11T20:17:46.000Z","kid":"fGu0tPsLgVY3vBARcdlLPzDTXOsUFZV07NMKM4saGMc","use":"sig","x5c":["MIIDvDCCAqSgAwIBAgIGAYWie0fZMA0GCSqGSIb3DQEBCwUAMIGeMQswCQYDVQQGEwJVUzETMBEGA1UECAwKQ2FsaWZvcm5pYTEWMBQGA1UEBwwNU2FuIEZyYW5jaXNjbzENMAsGA1UECgwET2t0YTEUMBIGA1UECwwLU1NPUHJvdmlkZXIxHzAdBgNVBAMMFnRpZW4tb2llLXRmLTIwMjItMDktMjExHDAaBgkqhkiG9w0BCQEWDWluZm9Ab2t0YS5jb20wHhcNMjMwMTExMjAxNjQ2WhcNMzMwMTExMjAxNzQ2WjCBnjELMAkGA1UEBhMCVVMxEzARBgNVBAgMCkNhbGlmb3JuaWExFjAUBgNVBAcMDVNhbiBGcmFuY2lzY28xDTALBgNVBAoMBE9rdGExFDASBgNVBAsMC1NTT1Byb3ZpZGVyMR8wHQYDVQQDDBZ0aWVuLW9pZS10Zi0yMDIyLTA5LTIxMRwwGgYJKoZIhvcNAQ[...]
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/apps/0oa6m9axkeu5klDtm1d7/users?limit=200
    method: GET
  response:
    body: '[]'
    headers:
      Content-Type:
      - application/json
      Link:
      - <https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/apps/0oa6m9axkeu5klDtm1d7/users?limit=200>;
        rel="self"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/apps/0oa6m9axkeu5klDtm1d7/groups?limit=200
    method: GET
  response:
    body: '[]'
    headers:
      Content-Type:
      - application/json
      Link:
      - <https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/apps/0oa6m9axkeu5klDtm1d7/groups?limit=200>;
        rel="self"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"definitions":{"custom":{"id":"#custom","properties":{"testCustom":{"description":"terraform acceptance test updated","master":{"type":"OKTA"},"permissions":[{"action":"READ_ONLY","principal":"SELF"}],"required":true,"scope":"SELF","title":"terraform acceptance test","type":"string","union":"DISABLE"}},"type":"object"}}}
    form: {}
    headers:
      Authorization:
      - SSWS REDACTED
      Content-Type:
      - application/json
    url: https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/meta/schemas/apps/0oa6m9axkeu5klDtm1d7/default
    method: POST
  response:
    body: '{"id":"https://tien-oie-tf-2022-09-21.oktapreview.com/meta/schemas/apps/0oa6m9axkeu5klDtm1d7/default","$schema":"http://json-schema.org/draft-04/schema#","name":"google","title":"testAcc_1715543290
      User","lastUpdated":"2023-01-11T20:17:47.000Z","created":"2023-01-11T20:17:46.000Z","definitions":{"custom":{"id":"#custom","type":"object","properties":{"testCustom":{"title":"terraform
      acceptance test","description":"terraform acceptance test updated","type":"string","required":true,"scope":"SELF"}},"required":["testCustom"]},"base":{"id":"#base","type":"object","properties":{"userName":{"title":"Username","type":"string","required":true,"scope":"NONE","maxLength":100}},"required":["userName"]}},"type":"object","properties":{"profile":{"allOf":[{"$ref":"#/definitions/custom"},{"$ref":"#/definitions/base"}]}}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: |
      {"credentials":{"password":{},"userName":"testAcc_1715543290@example.com"},"id":"00u6m9byw8xsT4DVc1d7","profile":{"testCustom":"testing"}}
    form: {}
    headers:
      Authorization:
      - SSWS REDACTED
      Content-Type:
      - application/json
    url: https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/apps/0oa6m9axkeu5klDtm1d7/users/00u6m9byw8xsT4DVc1d7
    method: POST
  response:
    body: '{"id":"00u6m9byw8xsT4DVc1d7","externalId":null,"created":"2023-01-11T20:17:48.000Z","lastUpdated":"2023-01-11T20:17:48.000Z","scope":"USER","status":"ACTIVE","statusChanged":"2023-01-11T20:17:48.000Z","passwordChanged":null,"syncState":"DISABLED","credentials":{"userName":"testAcc_1715543290@example.com"},"profile":{"testCustom":"testing"},"_links":{"app":{"href":"https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/apps/0oa6m9axkeu5klDtm1d7"},"user":{"href":"https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/users/00u6m9byw8xsT4DVc1d7"}}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/apps/0oa6m9axkeu5klDtm1d7/lifecycle/deactivate
    method: POST
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
