---
version: 1
interactions:
- request:
    body: |
      {"audiences":["api://selfservice_client_2"],"credentials":{"signing":{"rotationMode":"MANUAL"}},"issuerMode":"ORG_URL","name":"testAcc_35546118921"}
    form: {}
    headers:
      Authorization:
      - SSWS REDACTED
      Content-Type:
      - application/json
    url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/authorizationServers
    method: POST
  response:
    body: '{"id":"aus6mne325FXG2QS71d7","name":"testAcc_35546118921","description":null,"audiences":["api://selfservice_client_2"],"issuer":"https://mm-oie-2022-10-07-max.oktapreview.com/oauth2/aus6mne325FXG2QS71d7","issuerMode":"ORG_URL","status":"ACTIVE","created":"2023-01-12T17:31:40.000Z","lastUpdated":"2023-01-12T17:31:40.000Z","credentials":{"signing":{"kid":"jfsdWRTXh3ANx47JXSW0slvln9SfQWN13WZZucxNwmw","rotationMode":"AUTO","lastRotated":"2023-01-12T17:31:40.000Z","nextRotation":"2023-04-12T17:31:40.000Z"}},"default":false,"_links":{"rotateKey":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/authorizationServers/aus6mne325FXG2QS71d7/credentials/lifecycle/keyRotate","hints":{"allow":["POST"]}},"metadata":[{"name":"oauth-authorization-server","href":"https://mm-oie-2022-10-07-max.oktapreview.com/oauth2/aus6mne325FXG2QS71d7/.well-known/oauth-authorization-server","hints":{"allow":["GET"]}},{"name":"openid-configuration","href":"https://mm-oie-2022-10-07-max.oktapreview.com/oauth2/aus6mne325FXG2QS71d7/.well-known/openid-configuration","hints":{"allow":["GET"]}}],"keys":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/authorizationServers/aus6mne325FXG2QS71d7/credentials/keys","hints":{"allow":["GET"]}},"claims":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/authorizationServers/aus6mne325FXG2QS71d7/claims","hints":{"allow":["GET","POST"]}},"policies":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/authorizationServers/aus6mne325FXG2QS71d7/policies","hints":{"allow":["GET","POST"]}},"self":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/authorizationServers/aus6mne325FXG2QS71d7","hints":{"allow":["GET","DELETE","PUT"]}},"scopes":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/authorizationServers/aus6mne325FXG2QS71d7/scopes","hints":{"allow":["GET","POST"]}},"deactivate":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/authorizationServers/aus6mne325FXG2QS71d7/lifecycle/deactivate","hints":{"allow":["POST"]}}}}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/authorizationServers/aus6mne325FXG2QS71d7/lifecycle/activate
    method: POST
  response:
    body: ""
    headers:
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/authorizationServers/aus6mnejs1hKj1Ark1d7
    method: GET
  response:
    body: '{"id":"aus6mnejs1hKj1Ark1d7","name":"testAcc_3554611892","description":null,"audiences":["api://selfservice_client_1"],"issuer":"https://mm-oie-2022-10-07-max.oktapreview.com/oauth2/aus6mnejs1hKj1Ark1d7","issuerMode":"ORG_URL","status":"ACTIVE","created":"2023-01-[...]
- request:
    body: |
      {"audiences":["api://selfservice_client_2"],"credentials":{"signing":{"rotationMode":"MANUAL"}},"issuerMode":"ORG_URL","name":"testAcc_35546118921"}
    form: {}
    headers:
      Authorization:
      - SSWS REDACTED
      Content-Type:
      - application/json
    url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/authorizationServers/aus6mne325FXG2QS71d7
    method: PUT
  response:
    body: '{"id":"aus6mne325FXG2QS71d7","name":"testAcc_35546118921","descri[...]
[...]
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/authorizationServers/aus6mnejs1hKj1Ark1d7/lifecycle/deactivate
    method: POST
  response:
    body: ""
    headers:
    status: 204 No Content
    code: 204
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/authorizationServers/aus6mne325FXG2QS71d7/lifecycle/deactivate
    method: POST
  response:
    body: ""
    headers:
    status: 204 No Content
    code: 204
    duration: ""
[...]
