---
version: 2
interactions:
    - id: 0
      request:
        host: classic-00.dne-okta.com
        body: |
            {"name":"testAcc-23430429"}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://classic-00.dne-okta.com/api/v1/brands
        method: POST
      response:
        body: '{"id":"bndkwu8fjsqNBFM0Y1d7","name":"testAcc-23430429","removePoweredByOkta":false,"customPrivacyPolicyUrl":null,"agreeToCustomPrivacyPolicy":false,"isDefault":false,"defaultApp":{"appInstanceId":null,"appLinkName":null,"classicApplicationUri":null},"_links":{"themes":{"href":"https://classic-00.dne-okta.com/api/v1/brands/bndkwu8fjsqNBFM0Y1d7/themes","hints":{"allow":["GET"]}},"self":{"href":"https://classic-00.dne-okta.com/api/v1/brands/bndkwu8fjsqNBFM0Y1d7","hints":{"allow":["GET","PUT","DELETE"]}}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 294.547666ms
    - id: 1
      request:
        host: classic-00.dne-okta.com
        body: |
            {"agreeToCustomPrivacyPolicy":false,"customPrivacyPolicyUrl":"","defaultApp":{},"locale":"en","name":"testAcc-23430429","removePoweredByOkta":false}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://classic-00.dne-okta.com/api/v1/brands/bndkwu8fjsqNBFM0Y1d7
        method: PUT
      response:
        body: '{"id":"bndkwu8fjsqNBFM0Y1d7","name":"testAcc-23430429","removePoweredByOkta":false,"customPrivacyPolicyUrl":null,"agreeToCustomPrivacyPolicy":false,"isDefault":false,"locale":"en","defaultApp":{"appInstanceId":null,"appLinkName":null,"classicApplicationUri":null},"_links":{"themes":{"href":"https://classic-00.dne-okta.com/api/v1/brands/bndkwu8fjsqNBFM0Y1d7/themes","hints":{"allow":["GET"]}},"self":{"href":"https://classic-00.dne-okta.com/api/v1/brands/bndkwu8fjsqNBFM0Y1d7","hints":{"allow":["GET","PUT","DELETE"]}}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 480.908208ms
[...]
    - id: 5
      request:
        host: classic-00.dne-okta.com
        body: |
            {"brandId":"bndkwu8fjsqNBFM0Y1d7","displayName":"test","domain":"testAcc-23430429.example.com","userName":"fff"}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://classic-00.dne-okta.com/api/v1/email-domains
        method: POST
      response:
        body: '{"id":"OeDkwurnxv4nwj0Jk1d7","validationStatus":"NOT_STARTED","displayName":"test","userName":"fff","domain":"testAcc-23430429.example.com","validationSubdomain":"mail","dnsValidationRecords":[{"recordType":"TXT","fqdn":"_oktaverification.testAcc-23430429.example.com","verificationValue":"fe2b6f8d65d34449bae178276b4cb20b"},{"recordType":"cname","fqdn":"mail.testacc-23430429.example.com","verificationValue":"u17770251.wl002.sendgrid.net"},{"recordType":"cname","fqdn":"p03._domainkey.testacc-23430429.example.com","verificationValue":"p03.domainkey.u17770251.wl002.sendgrid.net"},{"recordType":"cname","fqdn":"p032._domainkey.testacc-23430429.example.com","verificationValue":"p032.domainkey.u17770251.wl002.sendgrid.net"}]}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 1.061692583s
    - id: 6
      request:
        host: classic-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/email-domains/OeDkwurnxv4nwj0Jk1d7
        method: GET
      response:
        body: '{"id":"OeDkwurnxv4nwj0Jk1d7","validationStatus":"NOT_STARTED","displayName":"test","userName":"fff","domain":"testAcc-23430429.example.com","validationSubdomain":"mail","dnsValidationRecords":[{"recordType":"TXT","fqdn":"_oktaverification.testAcc-23430429.example.com","verificationValue":"fe2b6f8d65d34449bae178276b4cb20b"},{"recordType":"cname","fqdn":"mail.testacc-23430429.example.com","verificationValue":"u17770251.wl002.sendgrid.net"},{"recordType":"cname","fqdn":"p03._domainkey.testacc-23430429.example.com","verificationValue":"p03.domainkey.u17770251.wl002.sendgrid.net"},{"recordType":"cname","fqdn":"p032._domainkey.testacc-23430429.example.com","verificationValue":"p032.domainkey.u17770251.wl002.sendgrid.net"}]}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 229.731625ms
    - id: 7
      request:
        host: classic-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/brands/bndkwu8fjsqNBFM0Y1d7
        method: GET
      response:
        body: '{"id":"bndkwu8fjsqNBFM0Y1d7","name":"testAcc-23430429","removePoweredByOkta":false,"customPrivacyPolicyUrl":null,"agreeToCustomPrivacyPolicy":false,"isDefault":false,"emailDomainId":"OeDkwurnxv4nwj0Jk1d7","locale":"en","defaultApp":{"appInstanceId":null,"appLinkName":null,"classicApplicationUri":null},"_links":{"themes":{"href":"https://classic-00.dne-okta.com/api/v1/brands/bndkwu8fjsqNBFM0Y1d7/themes","hints":{"allow":["GET"]}},"self":{"href":"https://classic-00.dne-okta.com/api/v1/brands/bndkwu8fjsqNBFM0Y1d7","hints":{"allow":["GET","PUT","DELETE"]}},"emailDomain":{"href":"https://classic-00.dne-okta.com/api/v1/email-domains/OeDkwurnxv4nwj0Jk1d7","hints":{"allow":["GET","PUT"]}}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 210.345666ms
[...]
