---
version: 2
interactions:
    - id: 0
      request:
        host: oie-00.dne-okta.com
        body: |
            {"name":"testAcc-23430429"}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://oie-00.dne-okta.com/api/v1/brands
        method: POST
      response:
        body: '{"id":"bndkwr6rng2GgK8ba1d7","name":"testAcc-23430429","removePoweredByOkta":false,"customPrivacyPolicyUrl":null,"agreeToCustomPrivacyPolicy":false,"isDefault":false,"defaultApp":{"appInstanceId":null,"appLinkName":null,"classicApplicationUri":null},"_links":{"themes":{"href":"https://oie-00.dne-okta.com/api/v1/brands/bndkwr6rng2GgK8ba1d7/themes","hints":{"allow":["GET"]}},"self":{"href":"https://oie-00.dne-okta.com/api/v1/brands/bndkwr6rng2GgK8ba1d7","hints":{"allow":["GET","PUT","DELETE"]}}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 272.93275ms
    - id: 1
      request:
        host: oie-00.dne-okta.com
        body: |
            {"agreeToCustomPrivacyPolicy":false,"customPrivacyPolicyUrl":"","defaultApp":{},"locale":"en","name":"testAcc-23430429","removePoweredByOkta":false}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://oie-00.dne-okta.com/api/v1/brands/bndkwr6rng2GgK8ba1d7
        method: PUT
      response:
        body: '{"id":"bndkwr6rng2GgK8ba1d7","name":"testAcc-23430429","removePoweredByOkta":false,"customPrivacyPolicyUrl":null,"agreeToCustomPrivacyPolicy":false,"isDefault":false,"locale":"en","defaultApp":{"appInstanceId":null,"appLinkName":null,"classicApplicationUri":null},"_links":{"themes":{"href":"https://oie-00.dne-okta.com/api/v1/brands/bndkwr6rng2GgK8ba1d7/themes","hints":{"allow":["GET"]}},"self":{"href":"https://oie-00.dne-okta.com/api/v1/brands/bndkwr6rng2GgK8ba1d7","hints":{"allow":["GET","PUT","DELETE"]}}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 211.327917ms
[...]
    - id: 5
      request:
        host: oie-00.dne-okta.com
        body: |
            {"brandId":"bndkwr6rng2GgK8ba1d7","displayName":"test","domain":"testAcc-23430429.example.com","userName":"fff"}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://oie-00.dne-okta.com/api/v1/email-domains
        method: POST
      response:
        body: '{"id":"OeDkwr39k7l4DvmbQ1d7","validationStatus":"NOT_STARTED","displayName":"test","userName":"fff","domain":"testAcc-23430429.example.com","validationSubdomain":"mail","dnsValidationRecords":[{"recordType":"TXT","fqdn":"_oktaverification.testAcc-23430429.example.com","verificationValue":"ab6742cf644442f1b65ef75702968a1c"},{"recordType":"cname","fqdn":"mail.testacc-23430429.example.com","verificationValue":"u17770251.wl002.sendgrid.net"},{"recordType":"cname","fqdn":"p03._domainkey.testacc-23430429.example.com","verificationValue":"p03.domainkey.u17770251.wl002.sendgrid.net"},{"recordType":"cname","fqdn":"p032._domainkey.testacc-23430429.example.com","verificationValue":"p032.domainkey.u17770251.wl002.sendgrid.net"}]}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 1.031644s
    - id: 6
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/email-domains/OeDkwr39k7l4DvmbQ1d7
        method: GET
      response:
        body: '{"id":"OeDkwr39k7l4DvmbQ1d7","validationStatus":"NOT_STARTED","displayName":"test","userName":"fff","domain":"testAcc-23430429.example.com","validationSubdomain":"mail","dnsValidationRecords":[{"recordType":"TXT","fqdn":"_oktaverification.testAcc-23430429.example.com","verificationValue":"ab6742cf644442f1b65ef75702968a1c"},{"recordType":"cname","fqdn":"mail.testacc-23430429.example.com","verificationValue":"u17770251.wl002.sendgrid.net"},{"recordType":"cname","fqdn":"p03._domainkey.testacc-23430429.example.com","verificationValue":"p03.domainkey.u17770251.wl002.sendgrid.net"},{"recordType":"cname","fqdn":"p032._domainkey.testacc-23430429.example.com","verificationValue":"p032.domainkey.u17770251.wl002.sendgrid.net"}]}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 224.755375ms
    - id: 7
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/brands/bndkwr6rng2GgK8ba1d7
        method: GET
      response:
        body: '{"id":"bndkwr6rng2GgK8ba1d7","name":"testAcc-23430429","removePoweredByOkta":false,"customPrivacyPolicyUrl":null,"agreeToCustomPrivacyPolicy":false,"isDefault":false,"emailDomainId":"OeDkwr39k7l4DvmbQ1d7","locale":"en","defaultApp":{"appInstanceId":null,"appLinkName":null,"classicApplicationUri":null},"_links":{"themes":{"href":"https://oie-00.dne-okta.com/api/v1/brands/bndkwr6rng2GgK8ba1d7/themes","hints":{"allow":["GET"]}},"self":{"href":"https://oie-00.dne-okta.com/api/v1/brands/bndkwr6rng2GgK8ba1d7","hints":{"allow":["GET","PUT","DELETE"]}},"emailDomain":{"href":"https://oie-00.dne-okta.com/api/v1/email-domains/OeDkwr39k7l4DvmbQ1d7","hints":{"allow":["GET","PUT"]}}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 259.866083ms
[...]
