---
version: 2
interactions:
    - id: 0
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/.well-known/okta-organization
        method: GET
      response:
        body: '{"id":"00o5qwjvg8hg7YpT81d7","cell":"op3","_links":{"organization":{"href":"https://oie-00.oktapreview.com"}},"pipeline":"idx","settings":{"analyticsCollectionEnabled":false,"bugReportingEnabled":true,"omEnabled":false,"pssoEnabled":false}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 121.808821ms
    - id: 1
      request:
        host: oie-00.dne-okta.com
        body: |
            {"profile":{"name":"testAcc_362953987","description":"terraform group"}}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://oie-00.dne-okta.com/api/v1/groups
        method: POST
      response:
        body: '{"id":"00g9i76igwDfBuyyC1d7","created":"2023-08-15T23:46:57.000Z","lastUpdated":"2023-08-15T23:46:57.000Z","lastMembershipUpdated":"2023-08-15T23:46:57.000Z","objectClass":["okta:user_group"],"type":"OKTA_GROUP","profile":{"name":"testAcc_362953987","description":"terraform group"},"_links":{"logo":[{"name":"medium","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-medium.30ce6d4085dff29412984e4c191bc874.png","type":"image/png"},{"name":"large","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-large.c3cb8cda8ae0add1b4fe928f5844dbe3.png","type":"image/png"}],"users":{"href":"https://oie-00.oktapreview.com/api/v1/groups/00g9i76igwDfBuyyC1d7/users"},"apps":{"href":"https://oie-00.oktapreview.com/api/v1/groups/00g9i76igwDfBuyyC1d7/apps"}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 142.454532ms
    - id: 2
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/groups/00g9i76igwDfBuyyC1d7
        method: GET
      response:
        body: '{"id":"00g9i76igwDfBuyyC1d7","created":"2023-08-15T23:46:57.000Z","lastUpdated":"2023-08-15T23:46:57.000Z","lastMembershipUpdated":"2023-08-15T23:46:57.000Z","objectClass":["okta:user_group"],"type":"OKTA_GROUP","profile":{"name":"testAcc_362953987","description":"terraform group"},"_links":{"logo":[{"name":"medium","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-medium.30ce6d4085dff29412984e4c191bc874.png","type":"image/png"},{"name":"large","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-large.c3cb8cda8ae0add1b4fe928f5844dbe3.png","type":"image/png"}],"users":{"href":"https://oie-00.oktapreview.com/api/v1/groups/00g9i76igwDfBuyyC1d7/users"},"apps":{"href":"https://oie-00.oktapreview.com/api/v1/groups/00g9i76igwDfBuyyC1d7/apps"}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 48.265564ms
[...]
    - id: 4
      request:
        host: oie-00.dne-okta.com
        body: |
            {"name":"testAcc_362953987","status":"ACTIVE","type":"PROFILE_ENROLLMENT"}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://oie-00.dne-okta.com/api/v1/policies
        method: POST
      response:
        body: '{"id":"rst9i7b6z8qotqRaN1d7","status":"ACTIVE","name":"testAcc_362953987","priority":1,"system":false,"conditions":null,"created":"2023-08-15T23:46:57.000Z","lastUpdated":"2023-08-15T23:46:57.000Z","_links":{"self":{"href":"https://oie-00.oktapreview.com/api/v1/policies/rst9i7b6z8qotqRaN1d7","hints":{"allow":["GET","PUT","DELETE"]}},"rules":{"href":"https://oie-00.oktapreview.com/api/v1/policies/rst9i7b6z8qotqRaN1d7/rules","hints":{"allow":["GET","POST"]}},"deactivate":{"href":"https://oie-00.oktapreview.com/api/v1/policies/rst9i7b6z8qotqRaN1d7/lifecycle/deactivate","hints":{"allow":["POST"]}}},"type":"PROFILE_ENROLLMENT"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 215.671373ms
    - id: 5
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/policies/rst9i7b6z8qotqRaN1d7
        method: GET
      response:
        body: '{"id":"rst9i7b6z8qotqRaN1d7","status":"ACTIVE","name":"testAcc_362953987","priority":1,"system":false,"conditions":null,"created":"2023-08-15T23:46:57.000Z","lastUpdated":"2023-08-15T23:46:57.000Z","_links":{"self":{"href":"https://oie-00.oktapreview.com/api/v1/policies/rst9i7b6z8qotqRaN1d7","hints":{"allow":["GET","PUT","DELETE"]}},"rules":{"href":"https://oie-00.oktapreview.com/api/v1/policies/rst9i7b6z8qotqRaN1d7/rules","hints":{"allow":["GET","POST"]}},"deactivate":{"href":"https://oie-00.oktapreview.com/api/v1/policies/rst9i7b6z8qotqRaN1d7/lifecycle/deactivate","hints":{"allow":["POST"]}}},"type":"PROFILE_ENROLLMENT"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 78.168389ms
[...]
    - id: 7
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/policies/rst9i7b6z8qotqRaN1d7/rules
        method: GET
      response:
        body: '[{"id":"rul9i7b6z9hE4npnD1d7","status":"ACTIVE","name":"Catch-all Rule","priority":99,"created":"2023-08-15T23:46:57.000Z","lastUpdated":"2023-08-15T23:46:57.000Z","system":true,"conditions":null,"actions":{"profileEnrollment":{"access":"ALLOW","preRegistrationInlineHooks":null,"profileAttributes":[{"name":"firstName","label":"First name","required":true},{"name":"email","label":"Primary email","required":true}],"targetGroupIds":null,"unknownUserAction":"REGISTER","activationRequirements":{"emailVerification":true},"progressiveProfilingAction":"ENABLED"}},"_links":{"self":{"href":"https://oie-00.oktapreview.com/api/v1/policies/rst9i7b6z8qotqRaN1d7/rules/rul9i7b6z9hE4npnD1d7","hints":{"allow":["GET","PUT"]}}},"type":"PROFILE_ENROLLMENT"}]'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 70.040373ms
    - id: 8
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/policies/rst9i7b6z8qotqRaN1d7/rules/rul9i7b6z9hE4npnD1d7
        method: GET
      response:
        body: '{"id":"rul9i7b6z9hE4npnD1d7","status":"ACTIVE","name":"Catch-all Rule","priority":99,"created":"2023-08-15T23:46:57.000Z","lastUpdated":"2023-08-15T23:46:57.000Z","system":true,"conditions":null,"actions":{"profileEnrollment":{"access":"ALLOW","preRegistrationInlineHooks":null,"profileAttributes":[{"name":"firstName","label":"First name","required":true},{"name":"email","label":"Primary email","required":true}],"targetGroupIds":null,"unknownUserAction":"REGISTER","activationRequirements":{"emailVerification":true},"progressiveProfilingAction":"ENABLED"}},"_links":{"self":{"href":"https://oie-00.oktapreview.com/api/v1/policies/rst9i7b6z8qotqRaN1d7/rules/rul9i7b6z9hE4npnD1d7","hints":{"allow":["GET","PUT"]}}},"type":"PROFILE_ENROLLMENT"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 83.166632ms
    - id: 9
      request:
        host: oie-00.dne-okta.com
        body: |
            {"id":"rul9i7b6z9hE4npnD1d7","type":"PROFILE_ENROLLMENT","name":"Catch-all Rule","status":"ACTIVE","priority":99,"system":true,"conditions":null,"actions":{"profileEnrollment":{"access":"ALLOW","activationRequirements":{"emailVerification":false},"profileAttributes":[{"label":"Primary Email","name":"email","required":true},{"label":"First Name","name":"firstName","required":true},{"label":"Last Name","name":"lastName","required":true}],"targetGroupIds":["00g9i76igwDfBuyyC1d7"],"uiSchemaId":"uis44fio9ifOCwJAO1d7","unknownUserAction":"REGISTER"}}}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://oie-00.dne-okta.com/api/v1/policies/rst9i7b6z8qotqRaN1d7/rules/rul9i7b6z9hE4npnD1d7
        method: PUT
      response:
        body: '{"id":"rul9i7b6z9hE4npnD1d7","status":"ACTIVE","name":"Catch-all Rule","priority":99,"created":"2023-08-15T23:46:57.000Z","lastUpdated":"2023-08-15T23:46:58.000Z","system":true,"conditions":null,"actions":{"profileEnrollment":{"access":"ALLOW","preRegistrationInlineHooks":null,"profileAttributes":[{"name":"email","label":"Primary Email","required":true},{"name":"firstName","label":"First Name","required":true},{"name":"lastName","label":"Last Name","required":true}],"targetGroupIds":["00g9i76igwDfBuyyC1d7"],"unknownUserAction":"REGISTER","activationRequirements":{"emailVerification":false},"uiSchemaId":"uis44fio9ifOCwJAO1d7"}},"_links":{"self":{"href":"https://oie-00.oktapreview.com/api/v1/policies/rst9i7b6z8qotqRaN1d7/rules/rul9i7b6z9hE4npnD1d7","hints":{"allow":["GET","PUT"]}}},"type":"PROFILE_ENROLLMENT"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 170.359325ms
[...]
