---
version: 2
interactions:
    - id: 0
      request:
        host: oie-00.dne-okta.com
        body: |
            {"name":"testAcc_3694724640","platform":"CHROMEOS","thirdPartySignalProviders":{"devicePostureIdP":{"compliant":true}}}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://oie-00.dne-okta.com/api/v1/device-assurances
        method: POST
      response:
        body: '{"name":"testAcc_3694724640","platform":"CHROMEOS","id":"dae146w9drzTEJMLx1d8","thirdPartySignalProviders":{"devicePostureIdP":{"compliant":true}},"displayRemediationMode":"HIDE","createdDate":"2026-09-28T07:51:38.000Z","createdBy":"00utivnuu1aaKzqqO1d7","lastUpdate":"2026-09-28T07:51:38.000Z","lastUpdatedBy":"00utivnuu1aaKzqqO1d7","resourceType":"DeviceAssurancePolicyEntity","resourceId":"dae146w9drzTEJMLx1d8","resourceDisplayName":{"value":"testAcc_3694724640","sensitive":false},"_links":{"self":{"href":"https://oie-00.dne-okta.com/api/v1/device-assurances/dae146w9drzTEJMLx1d8","hints":{"allow":["GET","PUT","DELETE"]}}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.430697833s
    - id: 1
      request:
        host: oie-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/device-assurances/dae146w9drzTEJMLx1d8
        method: GET
      response:
        body: '{"name":"testAcc_3694724640","platform":"CHROMEOS","id":"dae146w9drzTEJMLx1d8","thirdPartySignalProviders":{"devicePostureIdP":{"compliant":true}},"displayRemediationMode":"HIDE","createdDate":"2026-09-28T07:51:38.000Z","createdBy":"00utivnuu1aaKzqqO1d7","lastUpdate":"2026-09-28T07:51:38.000Z","lastUpdatedBy":"00utivnuu1aaKzqqO1d7","resourceType":"DeviceAssurancePolicyEntity","resourceId":"dae146w9drzTEJMLx1d8","resourceDisplayName":{"value":"testAcc_3694724640","sensitive":false},"_links":{"self":{"href":"https://oie-00.dne-okta.com/api/v1/device-assurances/dae146w9drzTEJMLx1d8","hints":{"allow":["GET","PUT","DELETE"]}}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.256040208s
[...]
