---
version: 2
interactions:
- id: 0
  request:
    host: oie-00.dne-okta.com
    body: "{\"name\":\"test_hook_key\"}\n"
    headers:
      Authorization:
      - SSWS REDACTED
      Content-Type:
      - application/json
    url: https://oie-00.dne-okta.com/api/v1/hook-keys
    method: POST
  response:
    body: "{\"id\":\"HKYr9awje8zXYgZF41d7\",\"keyId\":\"902775a2-49fc-4ebc-90ea-b15b9b30440b\",\"name\":\"test_hook_key\",\"created\":\"2025-10-24T13:06:07.000Z\",\"lastUpdated\":\"2025-10-24T13:06:07.000Z\",\"isUsed\":false,\"_embedded\":{\"kty\":\"RSA\",\"alg\":\"RSA\",\"kid\":\"902775a2-49fc-4ebc-90ea-b15b9b30440b\",\"use\":null,\"e\":\"AQAB\",\"n\":\"35Z8DIHmbJD84cAlDp2bxoV9bgf172-pRwY2hoMFJ-MC0RpHZrmS6ku31SnjENwcYJ9Q3vAQdhrEZhqG7Y_rFSiccTlKWiQaefX2tt-YRsYpR2paTWNP-gkz2grxI8mCq5S-pTYo5iC3JfPBrnl6mSOSHbdmJLhkbUJaeFpEq84JQ8iAKnR4rnXICY1r8t0Jj_xC2H7thetFL85Z6dssU7-rM4KD9rPfuwDE4g-s-vLalsSA4ccPGY1i-nS6PF1ZJ-6zloGhZf_M6LEPbOK9P6ohMm4Jhl3aA-QBLrfQ47sl0zIp6hb-G-XircQicopnwvq2ZkqBPt7gmpsmhXfUiQ\"}}"
    headers:
      Accept-Ch:
      - Sec-CH-UA-Platform-Version
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 1.3193505s
- id: 1
  request:
    host: oie-00.dne-okta.com
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://oie-00.dne-okta.com/api/v1/hook-keys/HKYr9awje8zXYgZF41d7
    method: GET
  response:
    body: "{\"id\":\"HKYr9awje8zXYgZF41d7\",\"keyId\":\"902775a2-49fc-4ebc-90ea-b15b9b30440b\",\"name\":\"test_hook_key\",\"created\":\"2025-10-24T13:06:07.000Z\",\"lastUpdated\":\"2025-10-24T13:06:07.000Z\",\"isUsed\":false}"
    headers:
      Accept-Ch:
      - Sec-CH-UA-Platform-Version
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 1.0600725s
[...]
