---
version: 2
interactions:
    - id: 0
      request:
        host: mm-oie-2022-10-07-max.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/groups/rules/
        method: GET
      response:
        body: '[]'
        headers:
            Content-Type:
                - application/json
            Link:
                - <https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/groups/rules?limit=50>; rel="self"
        status: 200 OK
        code: 200
        duration: 164.197884ms
[...]
    - id: 2
      request:
        host: mm-oie-2022-10-07-max.oktapreview.com
        body: |
            {"profile":{"name":"testAcc_2074292797","description":""}}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/groups
        method: POST
      response:
        body: '{"id":"00g95ulglc0PDGAJV1d7","created":"2023-07-27T19:50:31.000Z","lastUpdated":"2023-07-27T19:50:31.000Z","lastMembershipUpdated":"2023-07-27T19:50:31.000Z","objectClass":["okta:user_group"],"type":"OKTA_GROUP","profile":{"name":"testAcc_2074292797","description":""},"_links":{"logo":[{"name":"medium","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-medium.30ce6d4085dff29412984e4c191bc874.png","type":"image/png"},{"name":"large","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-large.c3cb8cda8ae0add1b4fe928f5844dbe3.png","type":"image/png"}],"users":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/groups/00g95ulglc0PDGAJV1d7/users"},"apps":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/groups/00g95ulglc0PDGAJV1d7/apps"}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 64.773471ms
    - id: 3
      request:
        host: mm-oie-2022-10-07-max.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/groups/00g95ulglc0PDGAJV1d7
        method: GET
      response:
        body: '{"id":"00g95ulglc0PDGAJV1d7","created":"2023-07-27T19:50:31.000Z","lastUpdated":"2023-07-27T19:50:31.000Z","lastMembershipUpdated":"2023-07-27T19:50:31.000Z","objectClass":["okta:user_group"],"type":"OKTA_GROUP","profile":{"name":"testAcc_2074292797","description":""},"_links":{"logo":[{"name":"medium","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-medium.30ce6d4085dff29412984e4c191bc874.png","type":"image/png"},{"name":"large","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-large.c3cb8cda8ae0add1b4fe928f5844dbe3.png","type":"image/png"}],"users":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/groups/00g95ulglc0PDGAJV1d7/users"},"apps":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/groups/00g95ulglc0PDGAJV1d7/apps"}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 59.58322ms
[...]
    - id: 6
      request:
        host: mm-oie-2022-10-07-max.oktapreview.com
        body: |
            {"actions":{"assignUserToGroups":{"groupIds":["00g95ulglc0PDGAJV1d7"]}},"conditions":{"expression":{"type":"urn:okta:expression:1.0","value":"String.startsWith(user.firstName,\"andy\")"},"people":{"users":{}}},"name":"testAcc_2074292797","type":"group_rule"}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/groups/rules
        method: POST
      response:
        body: '{"type":"group_rule","id":"0pr95ue2vxAFxPJyZ1d7","status":"INACTIVE","name":"testAcc_2074292797","conditions":{"people":{"users":{"exclude":[]},"groups":{"exclude":[]}},"expression":{"value":"String.startsWith(user.firstName,\"andy\")","type":"urn:okta:expression:1.0"}},"actions":{"assignUserToGroups":{"groupIds":["00g95ulglc0PDGAJV1d7"]}},"allGroupsValid":true}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 104.187388ms
    - id: 7
      request:
        host: mm-oie-2022-10-07-max.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/groups/rules/0pr95ue2vxAFxPJyZ1d7/lifecycle/activate
        method: POST
      response:
        body: ""
        headers:
        status: 204 No Content
        code: 204
        duration: 96.859903ms
    - id: 8
      request:
        host: mm-oie-2022-10-07-max.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/groups/rules/0pr95ue2vxAFxPJyZ1d7
        method: GET
      response:
        body: '{"type":"group_rule","id":"0pr95ue2vxAFxPJyZ1d7","status":"ACTIVE","name":"testAcc_2074292797","conditions":{"people":{"users":{"exclude":[]},"groups":{"exclude":[]}},"expression":{"value":"String.startsWith(user.firstName,\"andy\")","type":"urn:okta:expression:1.0"}},"actions":{"assignUserToGroups":{"groupIds":["00g95ulglc0PDGAJV1d7"]}},"allGroupsValid":true}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 55.043535ms
[...]
    - id: 19
      request:
        host: mm-oie-2022-10-07-max.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/groups/rules/0pr95ue2vxAFxPJyZ1d7/lifecycle/deactivate
        method: POST
      response:
        body: ""
        headers:
        status: 204 No Content
        code: 204
        duration: 84.60919ms
[...]
    - id: 35
      request:
        host: mm-oie-2022-10-07-max.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/groups/rules/0pr95ue2vxAFxPJyZ1d7?removeUsers=false
        method: DELETE
      response:
        body: '{}'
        headers:
            Content-Type:
                - application/json
        status: 202 Accepted
        code: 202
        duration: 132.261475ms
[...]
    - id: 38
      request:
        host: mm-oie-2022-10-07-max.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/groups/00g95uic0annmxgyW1d7
        method: GET
      response:
        body: '{"id":"00g95uic0annmxgyW1d7","created":"2023-07-27T19:50:38.000Z","lastUpdated":"2023-07-27T19:50:38.000Z","lastMembershipUpdated":"2023-07-27T19:50:38.000Z","objectClass":["okta:user_group"],"type":"OKTA_GROUP","profile":{"name":"other_testAcc_2074292797","description":""},"_links":{"logo":[{"name":"medium","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-medium.30ce6d4085dff29412984e4c191bc874.png","type":"image/png"},{"name":"large","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-large.c3cb8cda8ae0add1b4fe928f5844dbe3.png","type":"image/png"}],"users":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/groups/00g95uic0annmxgyW1d7/users"},"apps":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/groups/00g95uic0annmxgyW1d7/apps"}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 74.112619ms
[...]
    - id: 42
      request:
        host: mm-oie-2022-10-07-max.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/groups/rules/0pr95ufsobLKvFBAt1d7/lifecycle/activate
        method: POST
      response:
        body: ""
        headers:
        status: 204 No Content
        code: 204
        duration: 102.826083ms
    - id: 43
      request:
        host: mm-oie-2022-10-07-max.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/groups/rules/0pr95ufsobLKvFBAt1d7
        method: GET
      response:
        body: '{"type":"group_rule","id":"0pr95ufsobLKvFBAt1d7","status":"ACTIVE","name":"testAcc_2074292797","conditions":{"people":{"users":{"exclude":[]},"groups":{"exclude":[]}},"expression":{"value":"String.startsWith(user.firstName,String.toLowerCase(\"bOb\"))","type":"urn:okta:expression:1.0"}},"actions":{"assignUserToGroups":{"groupIds":["00g95uic0annmxgyW1d7"]}},"allGroupsValid":true}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 59.449933ms
[...]
    - id: 55
      request:
        host: mm-oie-2022-10-07-max.oktapreview.com
        body: |
            {"credentials":{"password":{}},"profile":{"email":"testAcc-2074292797@example.com","firstName":"TestAcc","lastName":"Smith","login":"testAcc-2074292797@example.com","postalAddress":null}}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/users
        method: POST
      response:
        body: '{"id":"00u95uheybPc9MYzt1d7","status":"PROVISIONED","created":"2023-07-27T19:50:42.000Z","activated":"2023-07-27T19:50:42.000Z","statusChanged":"2023-07-27T19:50:42.000Z","lastLogin":null,"lastUpdated":"2023-07-27T19:50:42.000Z","passwordChanged":null,"type":{"id":"oty5qwjvh0Vy1j8Kd1d7"},"profile":{"firstName":"TestAcc","lastName":"Smith","mobilePhone":null,"secondEmail":null,"login":"testAcc-2074292797@example.com","email":"testAcc-2074292797@example.com"},"credentials":{"provider":{"type":"OKTA","name":"OKTA"}},"_links":{"suspend":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/users/00u95uheybPc9MYzt1d7/lifecycle/suspend","method":"POST"},"schema":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/meta/schemas/user/osc5qwjvh0Vy1j8Kd1d7"},"resetPassword":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/users/00u95uheybPc9MYzt1d7/lifecycle/reset_password","method":"POST"},"reactivate":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/users/00u95uheybPc9MYzt1d7/lifecycle/reactivate","method":"POST"},"self":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/users/00u95uheybPc9MYzt1d7"},"resetFactors":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/users/00u95uheybPc9MYzt1d7/lifecycle/reset_factors","method":"POST"},"type":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/meta/types/user/oty5qwjvh0Vy1j8Kd1d7"},"deactivate":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/users/00u95uheybPc9MYzt1d7/lifecycle/deactivate","method":"POST"}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 369.680783ms
    - id: 56
      request:
        host: mm-oie-2022-10-07-max.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/users/00u95uheybPc9MYzt1d7
        method: GET
      response:
        body: '{"id":"00u95uheybPc9MYzt1d7","status":"PROVISIONED","created":"2023-07-27T19:50:42.000Z","activated":"2023-07-27T19:50:42.000Z","statusChanged":"2023-07-27T19:50:42.0[...]
[...]
    - id: 58
      request:
        host: mm-oie-2022-10-07-max.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/groups/rules/0pr95ufsobLKvFBAt1d7/lifecycle/deactivate
        method: POST
      response:
        body: ""
        headers:
        status: 204 No Content
        code: 204
        duration: 92.339717ms
[...]
    - id: 67
      request:
        host: mm-oie-2022-10-07-max.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/groups/rules/0pr95ufsobLKvFBAt1d7?removeUsers=false
        method: DELETE
      response:
        body: '{}'
        headers:
            Content-Type:
                - application/json
        status: 202 Accepted
        code: 202
        duration: 106.653718ms
[...]
    - id: 71
      request:
        host: mm-oie-2022-10-07-max.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/groups/rules/0pr95ufsobLKvFBAt1d7
        method: GET
      response:
        body: '{"errorCode":"E0000007","errorSummary":"Not found: Resource not found: 0pr95ufsobLKvFBAt1d7 (PolicyRule)","errorLink":"E0000007","errorId":"oaembCdQFqURqmKJ8OR3bv7Og","errorCauses":[]}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 76.049663ms
