---
version: 2
interactions:
    - id: 0
      request:
        host: oie-00.dne-okta.com
        body: |
            {"credentials":{"password":{}},"profile":{"email":"testAcc-resource-owner1-966524992@example.com","firstName":"TestAcc","lastName":"ResourceOwner1","login":"testAcc-resource-owner1-966524992@example.com","postalAddress":null}}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://oie-00.dne-okta.com/api/v1/users
        method: POST
      response:
        body: '{"id":"00uyvt5eolDcxFG3s1d7","status":"PROVISIONED","created":"2026-05-18T14:08:52.000Z","activated":"2026-05-18T14:08:52.000Z","statusChanged":"2026-05-18T14:08:52.000Z","lastLogin":null,"lastUpdated":"2026-05-18T14:08:52.000Z","passwordChanged":null,"realmId":"guokczn0ol2EdhWqn1d7","type":{"id":"oty3q4zimhtFGKJrN1d7"},"profile":{"firstName":"TestAcc","lastName":"ResourceOwner1","mobilePhone":null,"secondEmail":null,"login":"testAcc-resource-owner1-966524992@example.com","email":"testAcc-resource-owner1-966524992@example.com"},"credentials":{"provider":{"type":"OKTA","name":"OKTA"}},"_links":{"suspend":{"href":"https://oie-00.dne-okta.com/api/v1/users/00uyvt5eolDcxFG3s1d7/lifecycle/suspend","method":"POST"},"schema":{"href":"https://oie-00.dne-okta.com/api/v1/meta/schemas/user/osc3q4zimhtFGKJrN1d7"},"resetPassword":{"href":"https://oie-00.dne-okta.com/api/v1/users/00uyvt5eolDcxFG3s1d7/lifecycle/reset_password","method":"POST"},"reactivate":{"href":"https://oie-00.dne-okta.com/api/v1/users/00uyvt5eolDcxFG3s1d7/lifecycle/reactivate","method":"POST"},"self":{"href":"https://oie-00.dne-okta.com/api/v1/users/00uyvt5eolDcxFG3s1d7"},"resetFactors":{"href":"https://oie-00.dne-okta.com/api/v1/users/00uyvt5eolDcxFG3s1d7/lifecycle/reset_factors","method":"POST"},"type":{"href":"https://oie-00.dne-okta.com/api/v1/meta/types/user/oty3q4zimhtFGKJrN1d7"},"deactivate":{"href":"https://oie-00.dne-okta.com/api/v1/users/00uyvt5eolDcxFG3s1d7/lifecycle/deactivate","method":"POST"}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 993.980167ms
    - id: 1
      request:
        host: oie-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/users/00uyvt5eolDcxFG3s1d7
        method: GET
      response:
        body: '{"id":"00uyvt5eolDcxFG3s1d7","status":"PROVISIONED","created":"2026-05-18T14:08:52.000Z","activated":"2026-05-18T14:08:52.000Z","statusChanged":"2026-05-18T14:08:52.000Z","lastLogin":null,"lastUpdated":"2026-05-18T14:08:52.000Z","passwor[...]
[...]
