---
version: 2
interactions:
    - id: 0
      request:
        host: skip-auth-policy-00.dne-okta.com
        body: |
            {"accessibility":{"selfService":false},"label":"testAcc_2816257795","name":"bookmark","settings":{"app":{"requestIntegration":false,"url":"https://test.com"},"notes":{"admin":null,"enduser":null}},"signOnMode":"BOOKMARK","visibility":{"autoSubmitToolbar":false,"hide":{"iOS":false,"web":false}}}
        form:
            activate:
                - "true"
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://skip-auth-policy-00.dne-okta.com/api/v1/apps?activate=true
        method: POST
      response:
        body: '{"id":"0oatzy6mvmOp1R1Lz697","orn":"orn:okta:idp:00osd501x0KyUtOul697:apps:bookmark:0oatzy6mvmOp1R1Lz697","name":"bookmark","label":"testAcc_2816257795","status":"ACTIVE","lastUpdated":"2025-08-08T02:12:57.000Z","created":"2025-08-08T02:12:57.000Z","accessibility":{"selfService":false,"errorRedirectUrl":null,"loginRedirectUrl":null},"visibility":{"autoLaunch":false,"autoSubmitToolbar":false,"hide":{"iOS":false,"web":false},"appLinks":{"login":true}},"features":[],"signOnMode":"BOOKMARK","credentials":{"userNameTemplate":{"template":"${source.login}","type":"BUILT_IN"},"signing":{}},"universalLogout":null,"settings":{"app":{"requestIntegration":false,"url":"https://test.com"},"notifications":{"vpn":{"network":{"connection":"DISABLED"},"message":null,"helpUrl":null}},"manualProvisioning":false,"implicitAssignment":false,"emOptInStatus":"NONE","notes":{"admin":null,"enduser":null}},"_links":{"uploadLogo":{"href":"https://skip-auth-policy-00.dne-okta.com/api/v1/apps/0oatzy6mvmOp1R1Lz697/logo","hints":{"allow":["POST"]}},"appLinks":[{"name":"login","href":"https://skip-auth-policy-00.dne-okta.com/home/bookmark/0oatzy6mvmOp1R1Lz697/2557","type":"text/html"}],"profileEnrollment":{"href":"https://skip-auth-policy-00.dne-okta.com/api/v1/policies/rstsd5022rAok3aFp697"},"policies":{"href":"https://skip-auth-policy-00.dne-okta.com/api/v1/apps/0oatzy6mvmOp1R1Lz697/policies","hints":{"allow":["PUT"]}},"groups":{"href":"https://skip-auth-policy-00.dne-okta.com/api/v1/apps/0oatzy6mvmOp1R1Lz697/groups"},"logo":[{"name":"medium","href":"https://ok14static.oktacdn.com/assets/img/logos/bookmark-app.b81c03e2607468e5b5f9c9351c99313e.png","type":"image/png"}],"accessPolicy":{"href":"https://skip-auth-policy-00.dne-okta.com/api/v1/policies/rstsd5022pPoMSA4q697"},"users":{"href":"https://skip-auth-policy-00.dne-okta.com/api/v1/apps/0oatzy6mvmOp1R1Lz697/users"},"deactivate":{"href":"https://skip-auth-policy-00.dne-okta.com/api/v1/apps/0oatzy6mvmOp1R1Lz697/lifecycle/deactivate"}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 788.0085ms
    - id: 1
      request:
        host: skip-auth-policy-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://skip-auth-policy-00.dne-okta.com/api/v1/apps/0oatzy6mvmOp1R1Lz697
        method: GET
      response:
        body: '{"id":"0oatzy6mvmOp1R1Lz697","orn":"orn:okta:idp:00osd501x0KyUtOul697:apps:bookmark:0oatzy6mvmOp1R1Lz697","name":"bookmark","label":"testAcc_2816257795","status":"ACTIVE","lastUpdated":"2025-08-08T02:12:57.000Z",[...]
[...]
    - id: 3
      request:
        host: skip-auth-policy-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://skip-auth-policy-00.dne-okta.com/api/v1/apps/0oatzy6mvmOp1R1Lz697/lifecycle/deactivate
        method: POST
      response:
        body: '{}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 697.770666ms
[...]
