---
version: 2
interactions:
    - id: 0
      request:
        host: oie-00.dne-okta.com
        form:
            filter:
                - delegatorId eq "00uxh48r7spvNXo2g1d7"
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/governance/api/v1/delegates?filter=delegatorId+eq+%2200uxh48r7spvNXo2g1d7%22
        method: GET
      response:
        body: '{"data":[],"_links":{"self":{"href":"https://oie-00-admin.dne-okta.com/governance/api/v1/delegates?filter=delegatorId%20eq%20%2200uxh48r7spvNXo2g1d7%22&limit=20","hints":{}}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.121447167s
    - id: 1
      request:
        host: oie-00.dne-okta.com
        body: |
            {"delegates":{"appointments":[{"delegate":{"externalId":"00uxh4hk2eI9OD9Ee1d7","type":"OKTA_USER"},"note":"Covering while on PTO"}]}}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://oie-00.dne-okta.com/governance/api/v1/principal-settings/00uxh48r7spvNXo2g1d7
        method: PATCH
      response:
        body: '{"delegates":{"appointments":[{"delegator":{"externalId":"00uxh48r7spvNXo2g1d7","type":"OKTA_USER"},"id":"gda1aapefvg6sCx4t1d7","delegate":{"externalId":"00uxh4hk2eI9OD9Ee1d7","type":"OKTA_USER"},"note":"Covering while on PTO","createdBy":"00u5m6b6h6YuejsVW1d7","created":"2026-04-13T06:08:28Z","lastUpdated":"2026-04-13T06:08:28Z","lastUpdatedBy":"00u5m6b6h6YuejsVW1d7"}]}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.38979725s
[...]
