---
version: 2
interactions:
    - id: 0
      request:
        host: mm-classic-2022-10-04.oktapreview.com
        body: |
            {"label":"testAcc_3219983165","description":"testing, testing","resources":["https://mm-classic-2022-10-04.oktapreview.com/api/v1/groups","https://mm-classic-2022-10-04.oktapreview.com/api/v1/users","https://mm-classic-2022-10-04.oktapreview.com/api/v1/apps"]}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://mm-classic-2022-10-04.oktapreview.com/api/v1/iam/resource-sets
        method: POST
      response:
        body: '{"id":"iam95v2ytwDzzDkB71d7","label":"testAcc_3219983165","description":"testing, testing","created":"2023-07-27T20:34:23.000Z","lastUpdated":"2023-07-27T20:34:23.000Z","_links":{"bindings":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/iam/resource-sets/iam95v2ytwDzzDkB71d7/bindings"},"self":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/iam/resource-sets/iam95v2ytwDzzDkB71d7"},"resources":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/iam/resource-sets/iam95v2ytwDzzDkB71d7/resources"}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 180.472322ms
    - id: 1
      request:
        host: mm-classic-2022-10-04.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-classic-2022-10-04.oktapreview.com/api/v1/iam/resource-sets/iam95v2ytwDzzDkB71d7
        method: GET
      response:
        body: '{"id":"iam95v2ytwDzzDkB71d7","label":"testAcc_3219983165","description":"testing, testing","created":"2023-07-27T20:34:23.000Z","lastUpdated":"2023-07-27T20:34:23.000Z","_links":{"bindings":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/iam/resource-sets/iam95v2ytwDzzDkB71d7/bindings"},"self":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/iam/resource-sets/iam95v2ytwDzzDkB71d7"},"resources":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/iam/resource-sets/iam95v2ytwDzzDkB71d7/resources"}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 57.772422ms
    - id: 2
      request:
        host: mm-classic-2022-10-04.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-classic-2022-10-04.oktapreview.com/api/v1/iam/resource-sets/iam95v2ytwDzzDkB71d7/resources?limit=200
        method: GET
      response:
        body: '{"resources":[{"id":"ire95v2ytxiamixO01d7","orn":"orn:oktapreview:directory:00o5ptm04a2LyDEyk1d7:users","created":"2023-07-27T20:34:23.000Z","lastUpdated":"2023-07-27T20:34:23.000Z","_links":{"self":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/users"},"users":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/users"}}},{"id":"ire95v2yty4rG2Lwk1d7","orn":"orn:oktapreview:idp:00o5ptm04a2LyDEyk1d7:apps","created":"2023-07-27T20:34:23.000Z","lastUpdated":"2023-07-27T20:34:23.000Z","_links":{"self":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/apps"}}},{"id":"ire95v2ytzhxu0na31d7","orn":"orn:oktapreview:directory:00o5ptm04a2LyDEyk1d7:groups","created":"2023-07-27T20:34:23.000Z","lastUpdated":"2023-07-27T20:34:23.000Z","_links":{"groups":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/groups"},"self":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/groups"}}}],"_links":{"resource-set":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/iam/resource-sets/iam95v2ytwDzzDkB71d7"}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 59.088725ms
[...]
    - id: 9
      request:
        host: mm-classic-2022-10-04.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-classic-2022-10-04.oktapreview.com/api/v1/iam/resource-sets/iam95v2ytwDzzDkB71d7/resources/ire95v2ytzhxu0na31d7
        method: DELETE
      response:
        body: ""
        headers:
        status: 204 No Content
        code: 204
        duration: 91.012267ms
[...]
    - id: 13
      request:
        host: mm-classic-2022-10-04.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-classic-2022-10-04.oktapreview.com/api/v1/iam/resource-sets/iam95v2ytwDzzDkB71d7
        method: GET
      response:
        body: '{"errorCode":"E0000007","errorSummary":"Not found: Resource not found: iam95v2ytwDzzDkB71d7 (IAMPolicy)","errorLink":"E0000007","errorId":"oaeGgMEm5dZRo6XDiiA_oWFQQ","errorCauses":[]}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 66.739324ms
