---
version: 2
interactions:
    - id: 0
      request:
        host: classic-00.dne-okta.com
        body: |
            {"description":"A contractor user type","displayName":"Contractor","name":"testAcc_1302869150"}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://classic-00.dne-okta.com/api/v1/meta/types/user
        method: POST
      response:
        body: '{"id":"otyvoya1fc9k1U7Ih1d7","displayName":"Contractor","name":"testAcc_1302869150","description":"A contractor user type","createdBy":"00utivnuu1aaKzqqO1d7","lastUpdatedBy":"00utivnuu1aaKzqqO1d7","created":"2026-03-02T11:40:47.000Z","lastUpdated":"2026-03-02T11:40:47.000Z","default":false,"_links":{"schema":{"rel":"schema","href":"https://classic-00.dne-okta.com/api/v1/meta/schemas/user/oscvoya1fc9k1U7Ih1d7","method":"GET"},"self":{"rel":"self","href":"https://classic-00.dne-okta.com/api/v1/meta/types/user/otyvoya1fc9k1U7Ih1d7","method":"GET"}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.177523375s
    - id: 1
      request:
        host: classic-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/meta/types/user/otyvoya1fc9k1U7Ih1d7
        method: GET
      response:
        body: '{"id":"otyvoya1fc9k1U7Ih1d7","displayName":"Contractor","name":"testAcc_1302869150","description":"A contractor user type","createdBy":"00utivnuu1aaKzqqO1d7","lastUpdatedBy":"00utivnuu1aaKzqqO1d7","created":"2026-03-02T11:40:47.000Z","lastUpdated":"2026-03-02T11:40:47.000Z","default":false,"_links":{"schema":{"rel":"schema","href":"https://classic-00.dne-okta.com/api/v1/meta/schemas/user/oscvoya1fc9k1U7Ih1d7","method":"GET"},"self":{"rel":"self","href":"https://classic-00.dne-okta.com/api/v1/meta/types/user/otyvoya1fc9k1U7Ih1d7","method":"GET"}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.077568167s
    - id: 2
      request:
        host: classic-00.dne-okta.com
        body: |
            {"credentials":{"password":{}},"profile":{"email":"testAcc-1302869150@example.com","firstName":"TestAcc","lastName":"Smith","login":"testAcc-1302869150@example.com","postalAddress":null},"type":{"id":"otyvoya1fc9k1U7Ih1d7"}}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://classic-00.dne-okta.com/api/v1/users
        method: POST
      response:
        body: '{"id":"00uvoyhz07TNWiA1T1d7","status":"PROVISIONED","created":"2026-03-02T11:40:50.000Z","activated":"2026-03-02T11:40:50.000Z","statusChanged":"2026-03-02T11:40:50.000Z","lastLogin":null,"lastUpdated":"2026-03-02T11:40:50.000Z","passwordChanged":null,"realmId":"guotivlj45ZSJtnfF1d7","type":{"id":"otyvoya1fc9k1U7Ih1d7"},"profile":{"firstName":"TestAcc","lastName":"Smith","mobilePhone":null,"secondEmail":null,"login":"testAcc-1302869150@example.com","email":"testAcc-1302869150@example.com"},"credentials":{"provider":{"type":"OKTA","name":"OKTA"}},"_links":{"suspend":{"href":"https://classic-00.dne-okta.com/api/v1/users/00uvoyhz07TNWiA1T1d7/lifecycle/suspend","method":"POST"},"schema":{"href":"https://classic-00.dne-okta.com/api/v1/meta/schemas/user/oscvoya1fc9k1U7Ih1d7"},"resetPassword":{"href":"https://classic-00.dne-okta.com/api/v1/users/00uvoyhz07TNWiA1T1d7/lifecycle/reset_password","method":"POST"},"reactivate":{"href":"https://classic-00.dne-okta.com/api/v1/users/00uvoyhz07TNWiA1T1d7/lifecycle/reactivate","method":"POST"},"self":{"href":"https://classic-00.dne-okta.com/api/v1/users/00uvoyhz07TNWiA1T1d7"},"resetFactors":{"href":"https://classic-00.dne-okta.com/api/v1/users/00uvoyhz07TNWiA1T1d7/lifecycle/reset_factors","method":"POST"},"type":{"href":"https://classic-00.dne-okta.com/api/v1/meta/types/user/otyvoya1fc9k1U7Ih1d7"},"deactivate":{"href":"https://classic-00.dne-okta.com/api/v1/users/00uvoyhz07TNWiA1T1d7/lifecycle/deactivate","method":"POST"}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.766292875s
    - id: 3
      request:
        host: classic-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/users/00uvoyhz07TNWiA1T1d7
        method: GET
      response:
        body: '{"id":"00uvoyhz07TNWiA1T1d7","status":"PROVISIONED","created":"2026-03-02T11:40:50.000Z","activated":"2026-03-02T11:40:50.000Z","statusChanged":"2026-03-02T11:40:50.000Z","lastLogin":null,"lastUpdated":"2026-03-02T11:40:50.000Z",[...]
[...]
