---
version: 2
interactions:
    - id: 0
      request:
        host: classic-00.dne-okta.com
        body: |
            {"accessibility":{"selfService":false},"credentials":{"userNameTemplate":{"template":"${source.login}","type":"BUILT_IN"}},"label":"testAcc_3926115512","settings":{"app":{},"implicitAssignment":false,"notes":{"admin":null,"enduser":null},"signOn":{"allowMultipleAcsEndpoints":false,"assertionSigned":false,"attributeStatements":[],"audience":"http://audience.com","audienceOverride":"","authnContextClassRef":"urn:oasis:names:tc:SAML:2.0:ac:classes:PasswordProtectedTransport","defaultRelayState":"","destination":"http://its-about-the-journey.com","destinationOverride":"","digestAlgorithm":"SHA256","honorForceAuthn":false,"recipient":"http://here.com","recipientOverride":"","responseSigned":true,"samlSignedRequestEnabled":false,"signatureAlgorithm":"RSA_SHA256","slo":{"enabled":false},"ssoAcsUrl":"http://google.com","ssoAcsUrlOverride":"","subjectNameIdFormat":"urn:oasis:names:tc:SAML:1.1:nameid-format:emailAddress","subjectNameIdTemplate":"${user.userName}"}},"signOnMode":"SAML_2_0","visibility":{"autoSubmitToolbar":false,"hide":{"iOS":false,"web":false}}}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://classic-00.dne-okta.com/api/v1/apps?activate=true
        method: POST
      response:
        body: '{"id":"0oa9i7jkg1EHVnj1S1d7","name":"classic-00_testacc3926115512_2","label":"testAcc_3926115512","status":"ACTIVE","lastUpdated":"2023-08-16T00:05:15.000Z","created":"2023-08-16T00:05:15.000Z","accessibility":{"selfService":false,"errorRedirectUrl":null,"loginRedirectUrl":null},"visibility":{"autoLaunch":false,"autoSubmitToolbar":false,"hide":{"iOS":false,"web":false},"appLinks":{"classic-00_testacc3926115512_2_link":true}},"features":[],"signOnMode":"SAML_2_0","credentials":{"userNameTemplate":{"template":"${source.login}","type":"BUILT_IN"},"signing":{"kid":"DOo_C7fB3zn28kozPwaNsmEC5VkfS60EamO0FjHa9ns"}},"settings":{"app":{},"notifications":{"vpn":{"network":{"connection":"DISABLED"},"message":null,"helpUrl":null}},"manualProvisioning":false,"implicitAssignment":false,"notes":{"admin":null,"enduser":null},"signOn":{"defaultRelayState":"","ssoAcsUrl":"http://google.com","idpIssuer":"http://www.okta.com/${org.externalKey}","audience":"http://audience.com","recipient":"http://here.com","destination":"http://its-about-the-journey.com","subjectNameIdTemplate":"${user.userName}","subjectNameIdFormat":"urn:oasis:names:tc:SAML:1.1:nameid-format:emailAddress","responseSigned":true,"assertionSigned":false,"signatureAlgorithm":"RSA_SHA256","digestAlgorithm":"SHA256","honorForceAuthn":false,"authnContextClassRef":"urn:oasis:names:tc:SAML:2.0:ac:classes:PasswordProtectedTransport","spIssuer":null,"requestCompressed":false,"attributeStatements":[],"inlineHooks":[],"allowMultipleAcsEndpoints":false,"acsEndpoints":[],"samlSignedRequestEnabled":false,"slo":{"enabled":false}}},"_links":{"help":{"href":"https://classic-00-admin.oktapreview.com/app/classic-00_testacc3926115512_2/0oa9i7jkg1EHVnj1S1d7/setup/help/SAML_2_0/instructions","type":"text/html"},"metadata":{"href":"https://classic-00.oktapreview.com/api/v1/apps/0oa9i7jkg1EHVnj1S1d7/sso/saml/metadata","type":"application/xml"},"uploadLogo":{"href":"https://classic-00.oktapreview.com/api/v1/apps/0oa9i7jkg1EHVnj1S1d7/logo","hints":{"allow":["POST"]}},"appLinks":[{"name":"classic-00_testacc3926115512_2_link","href":"https://classic-00.oktapreview.com/home/classic-00_testacc3926115512_2/0oa9i7jkg1EHVnj1S1d7/aln9i7vrco1YYzm0g1d7","type":"text/html"}],"groups":{"href":"https://classic-00.oktapreview.com/api/v1/apps/0oa9i7jkg1EHVnj1S1d7/groups"},"logo":[{"name":"medium","href":"https://op3static.oktacdn.com/assets/img/logos/default.6770228fb0dab49a1695ef440a5279bb.png","type":"image/png"}],"users":{"href":"https://classic-00.oktapreview.com/api/v1/apps/0oa9i7jkg1EHVnj1S1d7/users"},"deactivate":{"href":"https://classic-00.oktapreview.com/api/v1/apps/0oa9i7jkg1EHVnj1S1d7/lifecycle/deactivate"}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.124018497s
    - id: 1
      request:
        host: classic-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/.well-known/okta-organization
        method: GET
      response:
        body: '{"id":"00o5ptm04a2LyDEyk1d7","cell":"op3","_links":{"organization":{"href":"https://classic-00.oktapreview.com"}},"pipeline":"v1","settings":{"analyticsCollectionEnabled":false,"bugReportingEnabled":true,"omEnabled":true,"pssoEnabled":false}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 59.035885ms
    - id: 2
      request:
        host: classic-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/apps/0oa9i7jkg1EHVnj1S1d7
        method: GET
      response:
        body: '{"id":"0oa9i7jkg1EHVnj1S1d7","name":"classic-00_testacc3926115512_2","label":"testAcc_3926115512","status":"ACTIVE","lastUpdated":"2023-08-16T00:05:15.000Z","created":"2023-08-16T00:05:15.000Z","a[...]
    - id: 3
      request:
        host: classic-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/apps/0oa9i7jkg1EHVnj1S1d7/sso/saml/metadata?kid=DOo_C7fB3zn28kozPwaNsmEC5VkfS60EamO0FjHa9ns
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?><md:EntityDescriptor entityID="http://www.okta.com/exk9i7jkg0S2fhARC1d7" xmlns:md="urn:oasis:names:tc:SAML:2.0:metadata"><md:IDPSSODescriptor WantAuthnRequestsSigned="false" protocolSupportEnumeration="urn:oasis:names:tc:SAML:2.0:protocol"><md:KeyDescriptor use="signing"><ds:KeyInfo xmlns:ds="http://www.w3.org/2000/09/xmldsig#"><ds:X509Data><ds:X509Certificate>MIIDujCCAqKgAwIBAgIGAYn7qSv9MA0GCSqGSIb3DQEBCwUAMIGdMQswCQYDVQQGEwJVUzETMBEG
            A1UECAwKQ2FsaWZvcm5pYTEWMBQGA1UEBwwNU2FuIEZyYW5jaXNjbzENMAsGA1UECgwET2t0YTEU
            MBIGA1UECwwLU1NPUHJvdmlkZXIxHjAcBgNVBAMMFW1tLWNsYXNzaWMtMjAyMi0xMC0wNDEcMBoG
            CSqGSIb3DQEJARYNaW5mb0Bva3RhLmNvbTAeFw0yMzA4MTYwMDA0MTVaFw0zMzA4MTYwMDA1MTVa
            MIGdMQswCQYDVQQGEwJVUzETMBEGA1UECAwKQ2FsaWZvcm5pYTEWMBQGA1UEBwwNU2FuIEZyYW5j
            aXNjbzENMAsGA1UECgwET2t0YTEUMBIGA1UECwwLU1NPUHJvdmlkZXI[...]
    - id: 4
      request:
        host: classic-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/apps/0oa9i7jkg1EHVnj1S1d7/credentials/keys
        method: GET
      response:
        body: '[{"kty":"RSA","created":"2023-08-16T00:05:15.000Z","lastUpdated":"2023-08-16T00:05:15.000Z","expiresAt":"2033-08-16T00:05:15.000Z","kid":"DOo_C7fB3zn28kozPwaNsmEC5VkfS60EamO0FjHa9ns","use":"sig","x5c":["MIIDujCCAqKgAwIBAgIGAYn7qSv9MA0GCSqGSIb3DQEBCwUAMIGdMQswCQYDVQQGEwJVUzETMBEGA1UECAwKQ2FsaWZvcm5pYTEWMBQGA1UEBwwNU2FuIEZyYW5jaXNjbzENMAsGA1UECgwET2t0YTEUMBIGA1UECwwLU1NPUHJvdmlkZXIxHjAcBgNVBAMMFW1tLWNsYXNzaWMtMjAyMi0xMC0wNDEcMBoGCSqGSIb3DQEJARYNaW5mb0Bva3RhLmNvbTAeFw0yMzA4MTYwMDA0MTVaFw0zMzA4MTYwMDA1MTVaMIGdMQswCQYDVQQGEwJVUzETMBEGA1UECAwKQ2FsaWZvcm5pYTEWMBQGA1UEBwwNU2FuIEZyYW5jaXNjbzENMAsGA1UECgwET2t0YTEUMBIGA1UECwwLU1NPUHJvdmlkZXIxHjAcBgNVBAMMFW1tLWNsYXNzaWMtMjAyMi0xMC0wNDEcMBoGCSqGSIb3DQEJAR[...]
    - id: 5
      request:
        host: classic-00.dne-okta.com
        body: |
            {"x5c":["MIIDujCCAqKgAwIBAgIGAYn7qSv9MA0GCSqGSIb3DQEBCwUAMIGdMQswCQYDVQQGEwJVUzETMBEG\nA1UECAwKQ2FsaWZvcm5pYTEWMBQGA1UEBwwNU2FuIEZyYW5jaXNjbzENMAsGA1UECgwET2t0YTEU\nMBIGA1UECwwLU1NPUHJvdmlkZXIxHjAcBgNVBAMMFW1tLWNsYXNzaWMtMjAyMi0xMC0wNDEcMBoG\nCSqGSIb3DQEJARYNaW5mb0Bva3RhLmNvbTAeFw0yMzA4MTYwMDA0MTVaFw0zMzA4MTYwMDA1MTVa\nMIGdMQswCQYDVQQGEwJVUzETMBEGA1UECAwKQ2FsaWZvcm5pYTEWMBQGA1UEBwwNU2FuIEZyYW5j\naXNjbzEN[...]
    - id: 6
      request:
        host: classic-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/idps/credentials/keys/645c81a4-2c71-4c08-a923-a7926f6238ee
        method: GET
      response:
        body: '{"kty":"RSA","created":"2023-08-16T00:05:16.000Z","lastUpdated":"2023-08-16T00:05:16.000Z","expiresAt":"2033-08-16T00:05:15.000Z","alg":"RSA","kid":"645c81a4-2c71-4c08-a923-a7926f6238ee","use":"sig","x5c":["MIIDujCCAqKgAwIBAgIGAYn7qSv9MA0GCSqGSIb3DQEBCwUAMIGdMQswCQYDVQQGEwJVUzETMBEG\nA1UECAwKQ2FsaWZvcm5pYTEWMBQGA1UEBwwNU2FuIEZyYW5jaXNjbzENMAsGA1UECgwET2t0YTEU\nMBIGA1UECwwLU1NPUHJvdmlkZXIxHjAcBgNVBAMMFW1tLWNsYXNzaWMtMjAyMi0xMC0wNDEcMBoG\nCSqGSIb3DQEJARYNaW5mb0Bva3RhLmNvbTAeFw0yMzA4MTYwMDA0MTVaFw0zMzA4MTYwMDA1MTVa\nMIGdMQswCQYDVQQGEwJVUzETMBEGA1UECAwKQ2FsaWZvcm5pYTEWMBQGA1UEBwwNU2FuIEZyYW5j\naXNjbzENMAsGA1UECgwET2t0YTEUMBIGA1UECww[...]
    - id: 7
      request:
        host: classic-00.dne-okta.com
        body: |
            {"issuerMode":"ORG_URL","name":"testAcc_3926115512","policy":{"accountLink":{"action":"AUTO"},"maxClockSkew":0,"provisioning":{"action":"AUTO","conditions":{"deprovisioned":{"action":"NONE"},"suspended":{"action":"NONE"}},"groups":{"action":"NONE"},"profileMaster":false},"subject":{"matchType":"USERNAME","userNameTemplate":{"template":"idpuser.email"}}},"protocol":{"algorithms":{"request":{"signature":{"algorithm":"SHA-256","scope":"REQUEST"}},"response":{"signature":{"algorithm":"SHA-256","scope":"ANY"}}},"credentials":{"trust":{"issuer":"https://idp.example.com","kid":"645c81a4-2c71-4c08-a923-a7926f6238ee"}},"endpoints":{"acs":{"binding":"HTTP-POST","type":"INSTANCE"},"sso":{"binding":"HTTP-POST","destination":"https://idp.example.com","url":"https://idp.example.com"}},"type":"SAML2"},"status":"ACTIVE","type":"SAML2"}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://classic-00.dne-okta.com/api/v1/idps
        method: POST
      response:
        body: '{"id":"0oa9i7exh1PMOPtNC1d7","name":"testAcc_3926115512","status":"ACTIVE","created":"2023-08-16T00:05:17.000Z","lastUpdated":"2023-08-16T00:05:17.000Z","protocol":{"type":"SAML2","endpoints":{"sso":{"url":"https://idp.example.com","binding":"HTTP-POST","destination":"https://idp.example.com"},"acs":{"binding":"HTTP-POST","type":"INSTANCE"}},"algorithms":{"request":{"signature":{"algorithm":"SHA-256","scope":"REQUEST"}},"response":{"signature":{"algorithm":"SHA-256","scope":"ANY"}}},"settings":{"nameFormat":"urn:oasis:names:tc:SAML:1.1:nameid-format:unspecified","honorPersistentNameId":false},"credentials":{"trust":{"issuer":"https://idp.example.com","audience":"https://www.okta.com/saml2/service-provider/spybvbtgmbxvxbehizmz","kid":"645c81a4-2c71-4c08-a923-a7926f6238ee","revocation":null,"revocationCacheLifetime":0},"signing":{"kid":"4eT2swKrN6riKTWlz_5JIuKoEK6SrCSsvWSKE86-5eA"}}},"policy":{"provisioning":{"action":"AUTO","profileMaster":false,"groups":{"action":"NONE"},"conditions":{"deprovisioned":{"action":"NONE"},"suspended":{"action":"NONE"}}},"accountLink":{"filter":null,"action":"AUTO"},"subject":{"userNameTemplate":{"template":"idpuser.email"},"filter":null,"matchType":"USERNAME","matchAttribute":null},"maxClockSkew":0},"type":"SAML2","_links":{"metadata":{"href":"https://classic-00.oktapreview.com/api/v1/idps/0oa9i7exh1PMOPtNC1d7/metadata.xml","type":"application/xml","hints":{"allow":["GET"]}},"acs":{"href":"https://classic-00.oktapreview.com/sso/saml2/0oa9i7exh1PMOPtNC1d7","type":"application/xml","hints":{"allow":["POST"]}},"users":{"href":"https://classic-00.oktapreview.com/api/v1/idps/0oa9i7exh1PMOPtNC1d7/users","hints":{"allow":["GET"]}},"deactivate":{"href":"https://classic-00.oktapreview.com/api/v1/idps/0oa9i7exh1PMOPtNC1d7/lifecycle/deactivate","hints":{"allow":["POST"]}}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 595.460336ms
    - id: 8
      request:
        host: classic-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/idps/0oa9i7exh1PMOPtNC1d7
        method: GET
      response:
        body: '{"id":"0oa9i7exh1PMOPtNC1d7","name":"testAcc_3926115512","status":"ACTIVE","created":"2023-08-16T00:05:17.000Z","lastUpdated":"2023-08-16T00:05:17.000Z","protocol":{"type":"SAML2","endpoints":{"sso":{"url":"https://idp.example.com","binding":"HTTP-POST","destination":"https://idp.example.com"},"acs":{"binding":"HTTP-POST","type":"INSTANCE"}},"algorithms":[...]
    - id: 9
      request:
        host: classic-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/mappings?limit=200&sourceId=0oa9i7exh1PMOPtNC1d7
        method: GET
      response:
        body: '[{"id":"prm9i7exh8A2ywL5T1d7","source":{"id":"0oa9i7exh1PMOPtNC1d7","name":"saml_idp","type":"appuser","_links":{"self":{"href":"https://classic-00.oktapreview.com/api/v1/apps/0oa9i7exh1PMOPtNC1d7"},"schema":{"href":"https://classic-00.oktapreview.com/api/v1/meta/schemas/apps/0oa9i7exh1PMOPtNC1d7/default"}}},"target":{"id":"oty5ptm052JMcoADv1d7","name":"user","type":"user","_links":{"self":{"href":"https://classic-00.oktapreview.com/api/v1/meta/types/user/oty5ptm052JMcoADv1d7"},"schema":{"href":"https://classic-00.oktapreview.com/api/v1/meta/schemas/user/osc5ptm052JMcoADv1d7"}}},"_links":{"self":{"href":"https://classic-00.oktapreview.com/api/v1/mappings/prm9i7exh8A2ywL5T1d7"}}}]'
        headers:
            Content-Type:
                - application/json
            Link:
                - <https://classic-00.dne-okta.com/api/v1/mappings?limit=200>; rel="self"
        status: 200 OK
        code: 200
        duration: 93.227169ms
    - id: 10
      request:
        host: classic-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/mappings/prm9i7exh8A2ywL5T1d7
        method: GET
      response:
        body: '{"id":"prm9i7exh8A2ywL5T1d7","source":{"id":"0oa9i7exh1PMOPtNC1d7","name":"saml_idp","type":"appuser","_links":{"self":{"href":"https://classic-00.oktapreview.com/api/v1/apps/0oa9i7exh1PMOPtNC1d7"},"schema":{"href":"https://classic-00.oktapreview.com/api/v1/meta/schemas/apps/0oa9i7exh1PMOPtNC1d7/default"}}},"target":{"id":"oty5ptm052JMcoADv1d7","name":"user","type":"user","_links":{"self":{"href":"https://classic-00.oktapreview.com/api/v1/meta/types/user/oty5ptm052JMcoADv1d7"},"schema":{"href":"https://classic-00.oktapreview.com/api/v1/meta/schemas/user/osc5ptm052JMcoADv1d7"}}},"properties":{"firstName":{"expression":"source.firstName","pushStatus":"DONT_PUSH"},"lastName":{"expression":"source.lastName","pushStatus":"DONT_PUSH"},"email":{"expression":"source.email","pushStatus":"DONT_PUSH"},"mobilePhone":{"expression":"source.mobilePhone","pushStatus":"DONT_PUSH"},"login":{"expression":"source.userName","pushStatus":"DONT_PUSH"}},"_links":{"self":{"href":"https://classic-00.oktapreview.com/api/v1/mappings/prm9i7exh8A2ywL5T1d7"}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 93.601831ms
[...]
{"request":{"signature":{"algorithm":"SHA-256","scope":"REQUEST"}},"response":{"signature":{"algorithm":"SHA-256","scope":"RESPONSE"}}},"credentials":{"trust":{"audience":"https://www.okta.com/saml2/service-provider/spybvbtgmbxvxbehizmz","issuer":"https://idp.example.com/issuer","kid":"645c81a4-2c71-4c08-a923-a7926f6238ee"}},"endpoints":{"acs":{"binding":"HTTP-POST","type":"INSTANCE"},"sso":{"binding":"HTTP-POST","destination":"https://idp.example.com/test","url":"https://idp.example.com/test"}},"type":"SAML2"},"status":"ACTIVE","type":"SAML2"}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://classic-00.dne-okta.com/api/v1/idps/0oa9i7exh1PMOPtNC1d7
        method: PUT
      response:
        body: '{"id":"0oa9i7exh1PMOPtNC1d7","name":"testAcc_3926115512","status":"ACTIVE","created":null,"lastUpdated":"2023-08-16T00:05:21.000Z","protocol":{"type":"SAML2","endpoints":{"sso":{"url":"https://idp.example.com/test","binding":"HTTP-POST","destination":"https://idp.example.com/test"},"acs":{"binding":"HTTP-POST","type":"INSTANCE"}},"algorithms":[...]
    - id: 36
      request:
        host: classic-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/idps/0oa9i7exh1PMOPtNC1d7/lifecycle/deactivate
        method: POST
      response:
        body: '{"id":"0oa9i7exh1PMOPtNC1d7","name":"testAcc_3926115512","status":"INACTIVE","created":"2023-08-16T00:05:17.000Z","lastUpdated":"2023-08-16T00:05:23.000Z","protocol":{"type":"SAML2","endpoints":{"sso":{"url":"https://idp.example.com/test","binding":"HTTP-POST","destination":"https://idp.example.com/test"},"acs":{"binding":"HTTP-POST","type":"INSTANCE"}},"algorithms":{"request":{"signature":{"algorithm":"SHA-256","scope":"REQUEST"}},"response":{"signature":{"algorithm":"SHA-256","scope":"RESPONSE"}}},"settings":{"nameFormat":"urn:oasis:names:tc:SAML:1.1:nameid-format:unspecified","honorPersistentNameId":false},"credentials":{"trust":{"issuer":"https://idp.example.com/issuer","audience":"https://www.okta.com/saml2/service-provider/spybvbtgmbxvxbehizmz","kid":"645c81a4-2c71-4c08-a923-a7926f6238ee","revocation":null,"revocationCacheLifetime":0},"signing":{"kid":"4eT2swKrN6riKTWlz_5JIuKoEK6SrCSsvWSKE86-5eA"}}},"policy":{"provisioning":{"action":"AUTO","profileMaster":false,"groups":{"action":"NONE"},"conditions":{"deprovisioned":{"action":"NONE"},"suspended":{"action":"NONE"}}},"accountLink":{"filter":null,"action":"AUTO"},"subject":{"userNameTemplate":{"template":"idpuser.email"},"filter":null,"matchType":"USERNAME","matchAttribute":null},"maxClockSkew":60},"type":"SAML2","_links":{"metadata":{"href":"https://classic-00.oktapreview.com/api/v1/idps/0oa9i7exh1PMOPtNC1d7/metadata.xml","type":"application/xml","hints":{"allow":["GET"]}},"acs":{"href":"https://classic-00.oktapreview.com/sso/saml2/0oa9i7exh1PMOPtNC1d7","type":"application/xml","hints":{"allow":["POST"]}},"users":{"href":"https://classic-00.oktapreview.com/api/v1/idps/0oa9i7exh1PMOPtNC1d7/users","hints":{"allow":["GET"]}},"activate":{"href":"https://classic-00.oktapreview.com/api/v1/idps/0oa9i7exh1PMOPtNC1d7/lifecycle/activate","hints":{"allow":["POST"]}}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 121.898175ms
[...]
    - id: 39
      request:
        host: classic-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/apps/0oa9i7jkg1EHVnj1S1d7/lifecycle/deactivate
        method: POST
      response:
        body: '{}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 98.599117ms
[...]
    - id: 41
      request:
        host: classic-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/idps/0oa9i7exh1PMOPtNC1d7
        method: GET
      response:
        body: '{"errorCode":"E0000007","errorSummary":"Not found: Resource not found: 0oa9i7exh1PMOPtNC1d7 (IdpTrust)","errorLink":"E0000007","errorId":"oaejCe3RbomTCCBEX8izupclQ","errorCauses":[]}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 64.218317ms
