---
version: 1
interactions:
- request:
    body: |
      {"action":"none"}
    form: {}
    headers:
      Authorization:
      - SSWS REDACTED
      Content-Type:
      - application/json
    url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/threats/configuration
    method: POST
  response:
    body: '{"action":"none","excludeZones":[],"created":"2022-10-07T23:16:58.000Z","lastUpdated":"2023-04-10T15:27:32.000Z","_links":{"self":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/threats/configuration","hints":{"allow":["GET","POST"]}}}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: |
      {"gateways":[{"type":"RANGE","value":"2.3.4.5-2.3.4.15"},{"type":"CIDR","value":"1.2.3.4/24"}],"name":"testAcc_3345786263","proxies":[{"type":"CIDR","value":"2.2.3.4/24"},{"type":"RANGE","value":"3.3.4.5-3.3.4.15"}],"type":"IP","usage":"POLICY"}
    form: {}
    headers:
      Authorization:
      - SSWS REDACTED
      Content-Type:
      - application/json
    url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/zones
    method: POST
  response:
    body: '{"type":"IP","id":"nzo7m94jeidpTpWSH1d7","name":"testAcc_3345786263","status":"ACTIVE","usage":"POLICY","created":"2023-04-10T15:27:32.000Z","lastUpdated":"2023-04-10T15:27:32.000Z","system":false,"gateways":[{"type":"RANGE","value":"2.3.4.5-2.3.4.15"},{"type":"CIDR","value":"1.2.3.4/24"}],"proxies":[{"type":"CIDR","value":"2.2.3.4/24"},{"type":"RANGE","value":"3.3.4.5-3.3.4.15"}],"_links":{"self":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/zones/nzo7m94jeidpTpWSH1d7","hints":{"allow":["GET","PUT","DELETE"]}},"deactivate":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/zones/nzo7m94jeidpTpWSH1d7/lifecycle/deactivate","hints":{"allow":["POST"]}}}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/zones/nzo7m94jeidpTpWSH1d7
    method: GET
  response:
    body: '{"type":"IP","id":"nzo7m94jeidpTpWSH1d7","name":"testAcc_3345786263","status":"ACTIVE","usage":"POLICY","created":"2023-04-10T15:27:32.000Z","lastUpdated":"2023-04-10T15:27:32.000Z","system":false,"gateways":[{"type":"RANGE","value":"2.3.4.5-2.3.4.15"},{"type":"CIDR","value":"1.2.3.4/24"}],"proxies":[{"type":"CIDR","value":"2.2.3.4/24"},{"type":"RANGE","value":"3.3.4.5-3.3.4.15"}],"_links":{"self":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/zones/nzo7m94jeidpTpWSH1d7","hints":{"allow":["GET","PUT","DELETE"]}},"deactivate":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/zones/nzo7m94jeidpTpWSH1d7/lifecycle/deactivate","hints":{"allow":["POST"]}}}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
