---
version: 2
interactions:
    - id: 0
      request:
        host: classic-00.dne-okta.com
        body: |
            {"label":"testAcc_3378556114","description":"testing, testing","permissions":["okta.apps.assignment.manage"]}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://classic-00.dne-okta.com/api/v1/iam/roles
        method: POST
      response:
        body: '{"id":"cr0kwuh56mAe7OSHz1d7","label":"testAcc_3378556114","description":"testing, testing","created":"2025-03-14T03:07:43.000Z","lastUpdated":"2025-03-14T03:07:43.000Z","_links":{"permissions":{"href":"https://classic-00-admin.dne-okta.com/api/v1/iam/roles/cr0kwuh56mAe7OSHz1d7/permissions"},"self":{"href":"https://classic-00-admin.dne-okta.com/api/v1/iam/roles/cr0kwuh56mAe7OSHz1d7"}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
            Link:
                - <https://classic-00-admin.dne-okta.com/api/v1/iam/roles/cr0kwuh56mAe7OSHz1d7>; rel="self"
        status: 200 OK
        code: 200
        duration: 221.199334ms
    - id: 1
      request:
        host: classic-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/iam/roles/cr0kwuh56mAe7OSHz1d7
        method: GET
      response:
        body: '{"id":"cr0kwuh56mAe7OSHz1d7","label":"testAcc_3378556114","description":"testing, testing","created":"2025-03-14T03:07:43.000Z","lastUpdated":"2025-03-14T03:07:43.000Z","_links":{"permissions":{"href":"https://classic-00-admin.dne-okta.com/api/v1/iam/roles/cr0kwuh56mAe7OSHz1d7/permissions"},"self":{"href":"https://classic-00-admin.dne-okta.com/api/v1/iam/roles/cr0kwuh56mAe7OSHz1d7"}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
            Link:
                - <https://classic-00-admin.dne-okta.com/api/v1/iam/roles/cr0kwuh56mAe7OSHz1d7>; rel="self"
        status: 200 OK
        code: 200
        duration: 271.911833ms
    - id: 2
      request:
        host: classic-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/iam/roles/cr0kwuh56mAe7OSHz1d7/permissions
        method: GET
      response:
        body: '{"permissions":[{"label":"okta.apps.assignment.manage","created":"2025-03-14T03:07:43.000Z","lastUpdated":"2025-03-14T03:07:43.000Z","conditions":null,"_links":{"role":{"href":"https://classic-00-admin.dne-okta.com/api/v1/iam/roles/cr0kwuh56mAe7OSHz1d7"},"self":{"href":"https://classic-00-admin.dne-okta.com/api/v1/iam/roles/cr0kwuh56mAe7OSHz1d7/permissions/okta.apps.assignment.manage"}}}]}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 249.534875ms
[...]
    - id: 6
      request:
        host: classic-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/iam/roles/cr0kwuh56mAe7OSHz1d7/permissions/okta.users.read
        method: POST
      response:
        body: ""
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
        status: 204 No Content
        code: 204
        duration: 335.644542ms
[...]
