---
version: 2
interactions:
    - id: 0
      request:
        host: oie-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/governance/api/v2/my/catalogs/default/entries/cen1043mnuxScMKl91d7
        method: GET
      response:
        body: '{"id":"cen1043mnuxScMKl91d7","name":"Workplace by Facebook","label":"Application","requestable":false,"_links":{"self":{"href":"https://oie-00.dne-okta.com/governance/api/v2/my/catalogs/default/entries/cen1043mnuxScMKl91d7","hints":{}},"logo":[{"href":"https://op3static.oktacdn.com/fs/bcg/4/gfs19iest17hvYw191d8","hints":{}}],"relatedEntity":{"href":"https://oie-00.dne-okta.com/api/v1/apps/0oaoum6j3cElINe1z1d7","hints":{}}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.256358s
[...]
