---
version: 2
interactions:
    - id: 0
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/org/factors/okta_password
        method: GET
      response:
        body: '{"id":"okta_password","provider":"OKTA","factorType":"password","status":"ACTIVE","_links":{"profiles":{"href":"https://oie-00.oktapreview.com/api/v1/org/factors/okta_password/profiles","hints":{"allow":["GET","POST"]}},"self":{"href":"https://oie-00.oktapreview.com/api/v1/org/factors/okta_password","hints":{"allow":["GET"]}},"deactivate":{"href":"https://oie-00.oktapreview.com/api/v1/org/factors/okta_password/lifecycle/deactivate","hints":{"allow":["POST"]}}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 386.609041ms
[...]
    - id: 2
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/policies?type=MFA_ENROLL
        method: GET
      response:
        body: '[{"id":"00p9ds39t0kLZtU7E1d7","status":"INACTIVE","name":"Test","description":"DS","priority":1,"system":false,"conditions":{"people":{"groups":{"include":["00g5qwjvgrD3WR89l1d7"]}}},"created":"2023-08-08T22:35:52.000Z","lastUpdated":"2023-08-18T22:51:32.000Z","settings":{"type":"AUTHENTICATORS","authenticators":[{"key":"custom_otp","enroll":{"self":"NOT_ALLOWED"}},{"key":"okta_email","enroll":{"self":"OPTIONAL"}},{"key":"okta_verify","enroll":{"self":"OPTIONAL"}},{"key":"onprem_mfa","enroll":{"self":"OPTIONAL"}},{"key":"okta_password","enroll":{"self":"REQUIRED"}},{"key":"webauthn","enroll":{"self":"REQUIRED"},"constraints":{"aaguidGroups":["w is","ds"]}},{"key":"security_question","enroll":{"self":"OPTIONAL"}},{"key":"yubikey_token","enroll":{"self":"NOT_ALLOWED"}}]},"_links":{"mappings":{"href":"https://oie-00.oktapreview.com/api/v1/policies/00p9ds39t0kLZtU7E1d7/mappings","hints":{"allow":["GET","POST"]}},"activate":{"href":"https://oie-00.oktapreview.com/api/v1/policies/00p9ds39t0kLZtU7E1d7/lifecycle/activate","hints":{"allow":["POST"]}},"self":{"href":"https://oie-00.oktapreview.com/api/v1/policies/00p9ds39t0kLZtU7E1d7","hints":{"allow":["GET","PUT","DELETE"]}},"rules":{"href":"https://oie-00.oktapreview.com/api/v1/policies/00p9ds39t0kLZtU7E1d7/rules","hints":{"allow":["GET","POST"]}}},"type":"MFA_ENROLL"},{"id":"00p61ie814HusCkTk1d7","status":"ACTIVE","name":"Default Policy","description":"The default policy applies in all situations if no other policy applies.","priority":2,"system":true,"conditions":{"people":{"groups":{"include":["00g5qwjvgrD3WR89l1d7"]}}},"created":"2022-11-04T22:27:14.000Z","lastUpdated":"2024-01-31T18:32:17.000Z","settings":{"type":"AUTHENTICATORS","authenticators":[{"key":"custom_otp","enroll":{"self":"OPTIONAL"}},{"key":"okta_email","enroll":{"self":"REQUIRED"}},{"key":"okta_verify","enroll":{"self":"OPTIONAL"}},{"key":"onprem_mfa","enroll":{"self":"NOT_ALLOWED"}},{"key":"okta_password","enroll":{"self":"REQUIRED"}},{"key":"webauthn","enroll":{"self":"NOT_ALLOWED"},"constraints":{"aaguidGroups":["ANY"]}},{"key":"security_question","enroll":{"self":"NOT_ALLOWED"}},{"key":"yubikey_token","enroll":{"self":"NOT_ALLOWED"}}]},"_links":{"self":{"href":"https://oie-00.oktapreview.com/api/v1/policies/00p61ie814HusCkTk1d7","hints":{"allow":["GET","PUT"]}},"rules":{"href":"https://oie-00.oktapreview.com/api/v1/policies/00p61ie814HusCkTk1d7/rules","hints":{"allow":["GET","POST"]}}},"type":"MFA_ENROLL"}]'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
            Link:
                - <https://oie-00.dne-okta.com/api/v1/policies?type=MFA_ENROLL>; rel="self"
        status: 200 OK
        code: 200
        duration: 123.052834ms
    - id: 3
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/groups?q=Everyone
        method: GET
      response:
        body: '[{"id":"00g5qwjvgrD3WR89l1d7","created":"2022-10-07T23:16:57.000Z","lastUpdated":"2022-10-07T23:16:57.000Z","lastMembershipUpdated":"2024-11-06T16:04:40.000Z","objectClass":["okta:user_group"],"type":"BUILT_IN","profile":{"name":"Everyone","description":"All users in your organization"},"_links":{"logo":[{"name":"medium","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-medium.30ce6d4085dff29412984e4c191bc874.png","type":"image/png"},{"name":"large","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-large.c3cb8cda8ae0add1b4fe928f5844dbe3.png","type":"image/png"}],"users":{"href":"https://oie-00.oktapreview.com/api/v1/groups/00g5qwjvgrD3WR89l1d7/users"},"apps":{"href":"https://oie-00.oktapreview.com/api/v1/groups/00g5qwjvgrD3WR89l1d7/apps"}}}]'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 117.687292ms
    - id: 4
      request:
        host: oie-00.dne-okta.com
        body: |
            {"conditions":{"people":{"groups":{"include":["00g5qwjvgrD3WR89l1d7"]}}},"description":"The default policy applies in all situations if no other policy applies.","name":"Default Policy","priority":2,"status":"ACTIVE","type":"MFA_ENROLL","settings":{"factors":{"okta_password":{"enroll":{"self":"REQUIRED"}}},"type":"FACTORS"}}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://oie-00.dne-okta.com/api/v1/policies/00p61ie814HusCkTk1d7
        method: PUT
      response:
        body: '{"id":"00p61ie814HusCkTk1d7","status":"ACTIVE","name":"Default Policy","description":"The default policy applies in all situations if no other policy applies.","priority":2,"system":true,"conditions":{"people":{"groups":{"include":["00g5qwjvgrD3WR89l1d7"]}}},"created":"2022-11-04T22:27:14.000Z","lastUpdated":"2024-11-06T21:00:15.000Z","settings":{"type":"FACTORS","factors":{"okta_push":{"enroll":{"self":"NOT_ALLOWED"},"consent":{"type":"NONE"}},"rsa_token":{"enroll":{"self":"NOT_ALLOWED"},"consent":{"type":"NONE"}},"yubikey_token":{"enroll":{"self":"NOT_ALLOWED"},"consent":{"type":"NONE"}},"fido_webauthn":{"enroll":{"self":"NOT_ALLOWED"},"consent":{"type":"NONE"}},"hotp":{"enroll":{"self":"NOT_ALLOWED"},"consent":{"type":"NONE"}},"okta_otp":{"enroll":{"self":"NOT_ALLOWED"},"consent":{"type":"NONE"}},"okta_password":{"enroll":{"self":"REQUIRED"},"consent":{"type":"NONE"}}}},"_links":{"self":{"href":"https://oie-00.oktapreview.com/api/v1/policies/00p61ie814HusCkTk1d7","hints":{"allow":["GET","PUT"]}},"rules":{"href":"https://oie-00.oktapreview.com/api/v1/policies/00p61ie814HusCkTk1d7/rules","hints":{"allow":["GET","POST"]}}},"type":"MFA_ENROLL"}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 342.169584ms
[...]
    - id: 11
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/org/factors/google_otp
        method: GET
      response:
        body: '{"id":"google_otp","provider":"GOOGLE","factorType":"token:software:totp","status":"INACTIVE","_links":{"activate":{"href":"https://oie-00.oktapreview.com/api/v1/org/factors/google_otp/lifecycle/activate","hints":{"allow":["POST"]}},"self":{"href":"https://oie-00.oktapreview.com/api/v1/org/factors/google_otp","hints":{"allow":["GET"]}}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 106.670792ms
    - id: 12
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/org/factors/google_otp/lifecycle/activate
        method: POST
      response:
        body: '{"id":"google_otp","provider":"GOOGLE","factorType":"token:software:totp","status":"ACTIVE","_links":{"self":{"href":"https://oie-00.oktapreview.com/api/v1/org/factors/google_otp","hints":{"allow":["GET"]}},"deactivate":{"href":"https://oie-00.oktapreview.com/api/v1/org/factors/google_otp/lifecycle/deactivate","hints":{"allow":["POST"]}}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 226.218875ms
[...]
    - id: 16
      request:
        host: oie-00.dne-okta.com
        body: |
            {"conditions":{"people":{"groups":{"include":["00g5qwjvgrD3WR89l1d7"]}}},"description":"The default policy applies in all situations if no other policy applies.","name":"Default Policy","priority":2,"status":"ACTIVE","type":"MFA_ENROLL","settings":{"factors":{"fido_webauthn":{"consent":{"type":"NONE"},"enroll":{"self":"NOT_ALLOWED"}},"hotp":{"consent":{"type":"NONE"},"enroll":{"self":"NOT_ALLOWED"}},"google_otp":{"enroll":{"self":"OPTIONAL"}},"okta_otp":{"consent":{"type":"NONE"},"enroll":{"self":"NOT_ALLOWED"}},"okta_password":{"consent":{"type":"NONE"},"enroll":{"self":"REQUIRED"}},"okta_push":{"consent":{"type":"NONE"},"enroll":{"self":"NOT_ALLOWED"}},"rsa_token":{"consent":{"type":"NONE"},"enroll":{"self":"NOT_ALLOWED"}},"yubikey_token":{"consent":{"type":"NONE"},"enroll":{"self":"NOT_ALLOWED"}}},"type":"FACTORS"}}
        form: {}
        headers:
            Authorization:
                - SSWS R[...]
[...]
    - id: 25
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/org/factors/google_otp/lifecycle/deactivate
        method: POST
      response:
        body: '{"id":"google_otp","provider":"GOOGLE","factorType":"token:software:totp","status":"INACTIVE","_links":{"activate":{"href":"https://oie-00.oktapreview.com/api/v1/org/factors/google_otp/lifecycle/activate","hints":{"allow":["POST"]}},"self":{"href":"https://oie-00.oktapreview.com/api/v1/org/factors/google_otp","hints":{"allow":["GET"]}}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 126.096458ms
[...]
    - id: 29
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/org/factors/okta_password/lifecycle/deactivate
        method: POST
      response:
        body: '{"errorCode":"E0000020","errorSummary":"Bad request.","errorLink":"E0000020","errorId":"oaet9DfD4oTQ8-Gj-uvHi-Pqg","errorCauses":[]}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 400 Bad Request
        code: 400
        duration: 100.049458ms
