---
version: 2
interactions:
    - id: 0
      request:
        host: classic-00.dne-okta.com
        body: |
            {"profile":{"name":"testAcc-3047213582","description":"A Group"}}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://classic-00.dne-okta.com/api/v1/groups
        method: POST
      response:
        body: '{"id":"00gkwuizpkpnk4CYy1d7","created":"2025-03-14T03:07:07.000Z","lastUpdated":"2025-03-14T03:07:07.000Z","lastMembershipUpdated":"2025-03-14T03:07:07.000Z","objectClass":["okta:user_group"],"type":"OKTA_GROUP","profile":{"name":"testAcc-3047213582","description":"A Group"},"_links":{"logo":[{"name":"medium","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-medium.30ce6d4085dff29412984e4c191bc874.png","type":"image/png"},{"name":"large","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-large.c3cb8cda8ae0add1b4fe928f5844dbe3.png","type":"image/png"}],"users":{"href":"https://classic-00.dne-okta.com/api/v1/groups/00gkwuizpkpnk4CYy1d7/users"},"apps":{"href":"https://classic-00.dne-okta.com/api/v1/groups/00gkwuizpkpnk4CYy1d7/apps"}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 209.044ms
    - id: 1
      request:
        host: classic-00.dne-okta.com
        body: |
            {"credentials":{"password":{}},"profile":{"email":"testAcc-3047213582@example.com","firstName":"TestAcc","lastName":"Smith","login":"testAcc-3047213582@example.com","postalAddress":null}}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://classic-00.dne-okta.com/api/v1/users
        method: POST
      response:
        body: '{"id":"00ukwuah9hYUdpDuJ1d7","status":"PROVISIONED","created":"2025-03-14T03:07:07.000Z","activated":"2025-03-14T03:07:07.000Z","statusChanged":"2025-03-14T03:07:07.000Z","lastLogin":null,"lastUpdated":"2025-03-14T03:07:07.000Z","passwordChanged":null,"type":{"id":"oty5ptm052JMcoADv1d7"},"profile":{"firstName":"TestAcc","lastName":"Smith","mobilePhone":null,"secondEmail":null,"login":"testAcc-3047213582@example.com","email":"testAcc-3047213582@example.com"},"credentials":{"provider":{"type":"OKTA","name":"OKTA"}},"_links":{"suspend":{"href":"https://classic-00.dne-okta.com/api/v1/users/00ukwuah9hYUdpDuJ1d7/lifecycle/suspend","method":"POST"},"schema":{"href":"https://classic-00.dne-okta.com/api/v1/meta/schemas/user/osc5ptm052JMcoADv1d7"},"resetPassword":{"href":"https://classic-00.dne-okta.com/api/v1/users/00ukwuah9hYUdpDuJ1d7/lifecycle/reset_password","method":"POST"},"reactivate":{"href":"https://classic-00.dne-okta.com/api/v1/users/00ukwuah9hYUdpDuJ1d7/lifecycle/reactivate","method":"POST"},"self":{"href":"https://classic-00.dne-okta.com/api/v1/users/00ukwuah9hYUdpDuJ1d7"},"type":{"href":"https://classic-00.dne-okta.com/api/v1/meta/types/user/oty5ptm052JMcoADv1d7"},"deactivate":{"href":"https://classic-00.dne-okta.com/api/v1/users/00ukwuah9hYUdpDuJ1d7/lifecycle/deactivate","method":"POST"}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 411.009542ms
    - id: 2
      request:
        host: classic-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/groups/00gkwuizpkpnk4CYy1d7
        method: GET
      response:
        body: '{"id":"00gkwuizpkpnk4CYy1d7","created":"2025-03-14T03:07:07.000Z","lastUpdated":"2025-03-14T03:07:07.000Z","lastMembershipUpdated":"2025-03-14T03:07:07.000Z","objectClass":["okta:user_group"],"type":"OKTA_GROUP","profile":{"name":"testAcc-3047213582","description":"A Group"},"_links":{"logo":[{"name":"medium","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-medium.30ce6d4085dff29412984e4c191bc874.png","type":"image/png"},{"name":"large","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-large.c3cb8cda8ae0add1b4fe928f5844dbe3.png","type":"image/png"}],"users":{"href":"https://classic-00.dne-okta.com/api/v1/groups/00gkwuizpkpnk4CYy1d7/users"},"apps":{"href":"https://classic-00.dne-okta.com/api/v1/groups/00gkwuizpkpnk4CYy1d7/apps"}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 227.450042ms
    - id: 3
      request:
        host: classic-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/users/00ukwuah9hYUdpDuJ1d7
        method: GET
      response:
        body: '{"id":"00ukwuah9hYUdpDuJ1d7","status":"PROVISIONED","created":"2025-03-14T03:07:07.000Z","activated":"2025-03-14T03:07:07.000Z","statusChanged":"2025-03-14T03:07:07.000Z","lastLogin":null,"lastUp[...]
[...]
    - id: 5
      request:
        host: classic-00.dne-okta.com
        body: |
            {"type":"SUPER_ADMIN"}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://classic-00.dne-okta.com/api/v1/users/00ukwuah9hYUdpDuJ1d7/roles?disableNotifications=false
        method: POST
      response:
        body: '{"id":"ra1kwu97vnKz5sEPi1d7","label":"Super Administrator","type":"SUPER_ADMIN","status":"ACTIVE","created":"2025-03-14T03:07:08.000Z","lastUpdated":"2025-03-14T03:07:08.000Z","assignmentType":"USER","_links":{"assignee":{"href":"https://classic-00.dne-okta.com/api/v1/users/00ukwuah9hYUdpDuJ1d7"}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 912.872125ms
    - id: 6
      request:
        host: classic-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/groups/00gkwuizpkpnk4CYy1d7/users/00ukwuah9hYUdpDuJ1d7
        method: PUT
      response:
        body: ""
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
        status: 204 No Content
        code: 204
        duration: 953.359583ms
    - id: 7
      request:
        host: classic-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/users/00ukwuah9hYUdpDuJ1d7/groups
        method: GET
      response:
        body: '[{"id":"00g5ptm04tzNvyznP1d7","created":"2022-10-04T23:20:18.000Z","lastUpdated":"2022-10-04T23:20:18.000Z","lastMembershipUpdated":"2025-02-20T18:39:27.000Z","objectClass":["okta:user_gro[...]
[...]
    - id: 9
      request:
        host: classic-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/users?limit=200&search=profile.email+eq+%22testAcc-3047213582%40example.com%22&sortOrder=0
        method: GET
      response:
        body: '[{"id":"00ukwuah9hYUdpDuJ1d7","status":"PROVISIONED","created":"2025-03-14T03:07:07.000Z","activated":"2025-03-14T03:07:07.000Z","statusChanged":"2025-03-14T03:07:07.000Z","lastLogin":null,"lastUpdated":"2025-03-14T03:07:07.000Z","passwordChanged":null,"type":{"id":"oty5ptm052JMcoADv1d7"},"profile":{"firstName":"TestAcc","lastName":"Smith","mobilePhone":null,"secondEmail":null,"login":"testAcc-3047213582@example.com","email":"testAcc-3047213582@example.com"},"credentials":{"provider":{"type":"OKTA","name":"OKTA"}},"_links":{"self":{"href":"https://classic-00.dne-okta.com/api/v1/users/00ukwuah9hYUdpDuJ1d7"}}}]'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
            Link:
                - <https://classic-00.dne-okta.com/api/v1/users?limit=200&search=profile.email+eq+%22testAcc-3047213582%40example.com%22>; rel="self"
        status: 200 OK
        code: 200
        duration: 225.653042ms
    - id: 10
      request:
        host: classic-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/users/00ukwuah9hYUdpDuJ1d7/roles
        method: GET
      response:
        body: '[{"id":"IFIFAX2BIRGUSTQ","label":"Application Administrator","type":"APP_ADMIN","status":"ACTIVE","created":"2025-03-14T03:07:08.000Z","lastUpdated":"2025-03-14T03:07:08.000Z","assignmentType":"USER","_links":{"assignee":{"href":"https://classic-00.dne-okta.com/api/v1/users/00ukwuah9hYUdpDuJ1d7"}}},{"id":"ra1kwu97vnKz5sEPi1d7","label":"Super Administrator","type":"SUPER_ADMIN","status":"ACTIVE","created":"2025-03-14T03:07:08.000Z","lastUpdated":"2025-03-14T03:07:08.000Z","assignmentType":"USER","_links":{"assignee":{"href":"https://classic-00.dne-okta.com/api/v1/users/00ukwuah9hYUdpDuJ1d7"}}}]'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 226.975166ms
[...]
    - id: 23
      request:
        host: classic-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/users/00ukwuah9hYUdpDuJ1d7/roles/IFIFAX2BIRGUSTQ
        method: DELETE
      response:
        body: ""
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
        status: 204 No Content
        code: 204
        duration: 285.19725ms
[...]
    - id: 25
      request:
        host: classic-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/users/00ukwuah9hYUdpDuJ1d7/roles/ra1kwu97vnKz5sEPi1d7
        method: DELETE
      response:
        body: ""
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
        status: 204 No Content
        code: 204
        duration: 505.31925ms
[...]
