---
version: 2
interactions:
    - id: 0
      request:
        host: oie-00.dne-okta.com
        body: |
            {"name":"testAcc_4279062605","secretKey":"random_secret_key","siteKey":"random_key","type":"HCAPTCHA"}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://oie-00.dne-okta.com/api/v1/captchas
        method: POST
      response:
        body: '{"id":"cap114dpv4lFF9A1D1d8","name":"testAcc_4279062605","siteKey":"random_key","type":"HCAPTCHA","_links":{"self":{"href":"https://oie-00.dne-okta.com/api/v1/captchas/cap114dpv4lFF9A1D1d8","hints":{"allow":["GET","POST","PUT","DELETE"]}}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 1.167595s
    - id: 1
      request:
        host: oie-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/captchas/cap114dpv4lFF9A1D1d8
        method: GET
      response:
        body: '{"id":"cap114dpv4lFF9A1D1d8","name":"testAcc_4279062605","siteKey":"random_key","type":"HCAPTCHA","_links":{"self":{"href":"https://oie-00.dne-okta.com/api/v1/captchas/cap114dpv4lFF9A1D1d8","hints":{"allow":["GET","POST","PUT","DELETE"]}}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.114142083s
[...]
