---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/roles/SUPER_ADMIN/subscriptions/APP_IMPORT
    method: GET
  response:
    body: '{"notificationType":"APP_IMPORT","channels":["email"],"status":"unsubscribed","_links":{"subscribe":{"href":"https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/roles/SUPER_ADMIN/subscriptions/APP_IMPORT/subscribe","hints":{"allow":["POST"]}},"self":{"href":"https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/roles/SUPER_ADMIN/subscriptions/APP_IMPORT"}}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
