---
version: 2
interactions:
    - id: 0
      request:
        host: oie-00.dne-okta.com
        body: |
            {"name":"test-label-1985594213","values":[{"name":"test-value"}]}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://oie-00.dne-okta.com/governance/api/v1/labels
        method: POST
      response:
        body: '{"labelId":"lbc1e0eg6gEcT7fSO1d7","name":"test-label-1985594213","values":[{"labelValueId":"lbl1e0eg6hH2omaQg1d7","name":"test-value"}],"_links":{"self":{"href":"https://oie-00.dne-okta.com/governance/api/v1/labels/lbc1e0eg6gEcT7fSO1d7","hints":{}}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
            Link:
                - <https://oie-00.dne-okta.com/governance/api/v1/labels/lbc1e0eg6gEcT7fSO1d7>; rel="self"
            Location:
                - https://dcp-testing-oig-2025-06-26.oktapreview.com/governance/api/v1/labels/lbc1e0eg6gEcT7fSO1d7
        status: 201 Created
        code: 201
        duration: 1.358548708s
    - id: 1
      request:
        host: oie-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/governance/api/v1/labels/lbc1e0eg6gEcT7fSO1d7
        method: GET
      response:
        body: '{"labelId":"lbc1e0eg6gEcT7fSO1d7","name":"test-label-1985594213","values":[{"labelValueId":"lbl1e0eg6hH2omaQg1d7","name":"test-value"}],"_links":{"self":{"href":"https://oie-00.dne-okta.com/governance/api/v1/labels/lbc1e0eg6gEcT7fSO1d7","hints":{}}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
            Link:
                - <https://oie-00.dne-okta.com/governance/api/v1/labels/lbc1e0eg6gEcT7fSO1d7>; rel="self"
        status: 200 OK
        code: 200
        duration: 1.153725125s
[...]
