---
version: 2
interactions:
    - id: 0
      request:
        host: oie-00.dne-okta.com
        body: |
            {"label":"testAcc_2453473043","description":"A test resource set for datasource testing","resources":["https://oie-00.dne-okta.com/api/v1/users"]}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://oie-00.dne-okta.com/api/v1/iam/resource-sets
        method: POST
      response:
        body: '{"id":"iamt7cs27gXWxApky697","label":"testAcc_2453473043","description":"A test resource set for datasource testing","created":"2025-07-14T14:58:21.000Z","lastUpdated":"2025-07-14T14:58:21.000Z","_links":{"bindings":{"href":"https://oie-00.dne-okta.com/api/v1/iam/resource-sets/iamt7cs27gXWxApky697/bindings"},"self":{"href":"https://oie-00.dne-okta.com/api/v1/iam/resource-sets/iamt7cs27gXWxApky697"},"resources":{"href":"https://oie-00.dne-okta.com/api/v1/iam/resource-sets/iamt7cs27gXWxApky697/resources"}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
            Link:
                - <https://oie-00.dne-okta.com/api/v1/iam/resource-sets/iamt7cs27gXWxApky697>; rel="self"
        status: 200 OK
        code: 200
        duration: 673.340208ms
    - id: 1
      request:
        host: oie-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/iam/resource-sets/iamt7cs27gXWxApky697
        method: GET
      response:
        body: '{"id":"iamt7cs27gXWxApky697","label":"testAcc_2453473043","description":"A test resource set for datasource testing","created":"2025-07-14T14:58:21.000Z","lastUpdated":"2025-07-14T14:58:21.000Z","_links":{"bindings":{"href":"https://oie-00.dne-okta.com/api/v1/iam/resource-sets/iamt7cs27gXWxApky697/bindings"},"self":{"href":"https://oie-00.dne-okta.com/api/v1/iam/resource-sets/iamt7cs27gXWxApky697"},"resources":{"href":"https://oie-00.dne-okta.com/api/v1/iam/resource-sets/iamt7cs27gXWxApky697/resources"}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
            Link:
                - <https://oie-00.dne-okta.com/api/v1/iam/resource-sets/iamt7cs27gXWxApky697>; rel="self"
        status: 200 OK
        code: 200
        duration: 677.980208ms
    - id: 2
      request:
        host: oie-00.dne-okta.com
        form:
            limit:
                - "200"
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/iam/resource-sets/iamt7cs27gXWxApky697/resources?limit=200
        method: GET
      response:
        body: '{"resources":[{"id":"iret7cs27hH9bsy7j697","orn":"orn:okta:directory:00osd501x0KyUtOul697:users","created":"2025-07-14T14:58:21.000Z","lastUpdated":"2025-07-14T14:58:21.000Z","_links":{"self":{"href":"https://oie-00.dne-okta.com/api/v1/users"},"resource":{"href":"https://oie-00.dne-okta.com/api/v1/iam/resource-sets/iamt7cs27gXWxApky697/resources/iret7cs27hH9bsy7j697"},"users":{"href":"https://oie-00.dne-okta.com/api/v1/users"}}}],"_links":{"resource-set":{"href":"https://oie-00.dne-okta.com/api/v1/iam/resource-sets/iamt7cs27gXWxApky697"},"self":{"href":"https://oie-00.dne-okta.com/api/v1/iam/resource-sets/iamt7cs27gXWxApky697/resources"}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
            Link:
                - <https://oie-00.dne-okta.com/api/v1/iam/resource-sets/iamt7cs27gXWxApky697/resources>; rel="self"
        status: 200 OK
        code: 200
        duration: 662.451041ms
[...]
