---
version: 2
interactions:
    - id: 0
      request:
        host: classic-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/.well-known/okta-organization
        method: GET
      response:
        body: '{"id":"00otivnuq1X5554yc1d7","cell":"op3","_links":{"organization":{"href":"https://classic-00.dne-okta.com"}},"pipeline":"idx","settings":{"analyticsCollectionEnabled":false,"bugReportingEnabled":true,"omEnabled":false,"pssoEnabled":false,"desktopMFAEnabled":false,"itpEnabled":false}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.117434125s
    - id: 1
      request:
        host: classic-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/authenticators
        method: GET
      response:
        body: '[{"type":"email","id":"auttivnuv866OuTkz1d7","key":"okta_email","status":"ACTIVE","name":"Email","created":"2026-01-06T09:19:38.000Z","lastUpdated":"2026-01-06T09:19:38.000Z","settings":{"allowedFor":"recovery","tokenLifetimeInMinutes":5},"_links":{"self":{"href":"https://classic-00.dne-okta.com/api/v1/authenticators/auttivnuv866OuTkz1d7","hints":{"allow":["GET","PUT"]}},"deactivate":{"href":"https://classic-00.dne-okta.com/api/v1/authenticators/auttivnuv866OuTkz1d7/lifecycle/deactivate","hints":{"allow":["POST"]}},"methods":{"href":"https://classic-00.dne-okta.com/api/v1/authenticators/auttivnuv866OuTkz1d7/methods","hints":{"allow":["GET"]}}}},{"type":"app","id":"auttix5nygWQyLUB21d7","key":"google_otp","status":"INACTIVE","name":"Google Authenticator","created":"2026-01-06T09:49:56.000Z","lastUpdated":"2026-01-14T05:48:38.000Z","settings":{},"_links":{"self":{"href":"https://classic-00.dne-okta.com/api/v1/authenticators/auttix5nygWQyLUB21d7","hints":{"allow":["GET","PUT"]}},"activate":{"href":"https://classic-00.dne-okta.com/api/v1/authenticators/auttix5nygWQyLUB21d7/lifecycle/activate","hints":{"allow":["POST"]}},"methods":{"href":"https://classic-00.dne-okta.com/api/v1/authenticators/auttix5nygWQyLUB21d7/methods","hints":{"allow":["GET"]}}}},{"type":"federated","id":"autuo0mqih0jDDyOO1d7","key":"external_idp","status":"INACTIVE","name":"idp auth issue","created":"2026-02-05T11:56:05.000Z","lastUpdated":"2026-02-05T11:59:24.000Z","provider":{"type":"CLAIMS","configuration":{"idpId":"0oauo0g9snGE2oZcx1d7"}},"_links":{"self":{"href":"https://classic-00.dne-okta.com/api/v1/authenticators/autuo0mqih0jDDyOO1d7","hints":{"allow":["GET","PUT"]}},"activate":{"href":"https://classic-00.dne-okta.com/api/v1/authenticators/autuo0mqih0jDDyOO1d7/lifecycle/activate","hints":{"allow":["POST"]}},"methods":{"href":"https://classic-00.dne-okta.com/api/v1/authenticators/autuo0mqih0jDDyOO1d7/methods","hints":{"allow":["GET"]}}}},{"type":"app","id":"auttivnuvfbsRXEQk1d7","key":"okta_verify","status":"ACTIVE","name":"Okta Verify","created":"2026-01-06T09:19:38.000Z","lastUpdated":"2026-01-14T13:28:32.000Z","settings":{"compliance":{"fips":"OPTIONAL"},"channelBinding":{"style":"NUMBER_CHALLENGE","required":"ALWAYS"},"userVerification":"PREFERRED","enrollmentSecurityLevel":"HIGH","userVerificationMethods":["BIOMETRICS"],"appInstanceId":""},"_links":{"self":{"href":"https://classic-00.dne-okta.com/api/v1/authenticators/auttivnuvfbsRXEQk1d7","hints":{"allow":["GET","PUT"]}},"deactivate":{"href":"https://classic-00.dne-okta.com/api/v1/authenticators/auttivnuvfbsRXEQk1d7/lifecycle/deactivate","hints":{"allow":["POST"]}},"methods":{"href":"https://classic-00.dne-okta.com/api/v1/authenticators/auttivnuvfbsRXEQk1d7/methods","hints":{"allow":["GET"]}},"enroll":{"href":"https://classic-00.dne-okta.com/idp/authenticators","hints":{"allow":["POST"]}}}},{"type":"security_key","id":"auttt4qcjzEBgy1VY1d7","key":"onprem_mfa","status":"INACTIVE","name":"On-Prem MFA","created":"2026-01-14T06:32:05.000Z","lastUpdated":"2026-01-14T13:30:00.000Z","provider":{"type":"DEL_OATH","configuration":{"hostName":"localhost","authPort":999,"instanceId":"0oatt4qck2nNv8Gu51d7","userNameTemplate":{"template":"global.assign.userName.login"}}},"_links":{"self":{"href":"https://classic-00.dne-okta.com/api/v1/authenticators/auttt4qcjzEBgy1VY1d7","hints":{"allow":["GET","PUT"]}},"activate":{"href":"https://classic-00.dne-okta.com/api/v1/authenticators/auttt4qcjzEBgy1VY1d7/lifecycle/activate","hints":{"allow":["POST"]}},"methods":{"href":"https://classic-00.dne-okta.com/api/v1/authenticators/auttt4qcjzEBgy1VY1d7/methods","hints":{"allow":["GET"]}}}},{"type":"password","id":"auttivnuv6hczW3DO1d7","key":"ok[...]
    - id: 2
      request:
        host: classic-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/authenticators/autuo0mqih0jDDyOO1d7/lifecycle/activate
        method: POST
      response:
        body: '{"type":"federated","id":"autuo0mqih0jDDyOO1d7","key":"external_idp","status":"ACTIVE","name":"idp auth issue","created":"2026-02-05T11:56:05.000Z","lastUpdated":"2026-02-05T11:59:36.000Z","provider":{"type":"CLAIMS","configuration":{"idpId":"0oauo0g9snGE2oZcx1d7"}},"_links":{"self":{"href":"https://classic-00.dne-okta.com/api/v1/authenticators/autuo0mqih0jDDyOO1d7","hints":{"allow":["GET","PUT"]}},"deactivate":{"href":"https://classic-00.dne-okta.com/api/v1/authenticators/autuo0mqih0jDDyOO1d7/lifecycle/deactivate","hints":{"allow":["POST"]}},"methods":{"href":"https://classic-00.dne-okta.com/api/v1/authenticators/autuo0mqih0jDDyOO1d7/methods","hints":{"allow":["GET"]}}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.175430458s
    - id: 3
      request:
        host: classic-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/authenticators/autuo0mqih0jDDyOO1d7
        method: GET
      response:
        body: '{"type":"federated","id":"autuo0mqih0jDDyOO1d7","key":"external_idp","status":"ACTIVE","name":"idp auth issue","created":"2026-02-05T11:56:05.000Z","lastUpdated":"2026-02-05T11:59:36.000Z","provider":{"type":"CLAIMS","configuration":{"idpId":"0oauo0g9snGE2oZcx1d7"}},"_links":{"self":{"href":"https://classic-00.dne-okta.com/api/v1/authenticators/autuo0mqih0jDDyOO1d7","hints":{"allow":["GET","PUT"]}},"deactivate":{"href":"https://classic-00.dne-okta.com/api/v1/authenticators/autuo0mqih0jDDyOO1d7/lifecycle/deactivate","hints":{"allow":["POST"]}},"methods":{"href":"https://classic-00.dne-okta.com/api/v1/authenticators/autuo0mqih0jDDyOO1d7/methods","hints":{"allow":["GET"]}}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.140203917s
    - id: 4
      request:
        host: classic-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/authenticators/autuo0mqih0jDDyOO1d7/lifecycle/deactivate
        method: POST
      response:
        body: '{"type":"federated","id":"autuo0mqih0jDDyOO1d7","key":"external_idp","status":"INACTIVE","name":"idp auth issue","created":"2026-02-05T11:56:05.000Z","lastUpdated":"2026-02-05T11:59:39.000Z","provider":{"type":"CLAIMS","configuration":{"idpId":"0oauo0g9snGE2oZcx1d7"}},"_links":{"self":{"href":"https://classic-00.dne-okta.com/api/v1/authenticators/autuo0mqih0jDDyOO1d7","hints":{"allow":["GET","PUT"]}},"activate":{"href":"https://classic-00.dne-okta.com/api/v1/authenticators/autuo0mqih0jDDyOO1d7/lifecycle/activate","hints":{"allow":["POST"]}},"methods":{"href":"https://classic-00.dne-okta.com/api/v1/authenticators/autuo0mqih0jDDyOO1d7/methods","hints":{"allow":["GET"]}}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.230948958s
