---
version: 2
interactions:
    - id: 0
      request:
        host: oie-00.dne-okta.com
        body: |
            {"_links":{"self":{"href":""}},"created":"0001-01-01T00:00:00Z","id":"","lastUpdated":"0001-01-01T00:00:00Z","name":"testAcc_530667077 Splunk","settings":{"edition":"aws","host":"acme.splunkcloud.com","token":"58A7C8D6-4E2F-4C3B-8F5B-D4E2F3A4B5C6"},"status":"ACTIVE","type":"splunk_cloud_logstreaming"}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://oie-00.dne-okta.com/api/v1/logStreams
        method: POST
      response:
        body: '{"id":"0oauzjgg5wQHgVbuQ1d7","type":"splunk_cloud_logstreaming","name":"testAcc_530667077 Splunk","lastUpdated":"2026-02-13T09:10:39.000Z","created":"2026-02-13T09:10:39.000Z","status":"ACTIVE","settings":{"host":"acme.splunkcloud.com","edition":"aws"},"_links":{"self":{"href":"https://oie-00.dne-okta.com/api/v1/logStreams/0oauzjgg5wQHgVbuQ1d7","method":"GET"},"deactivate":{"href":"https://oie-00.dne-okta.com/api/v1/logStreams/0oauzjgg5wQHgVbuQ1d7/lifecycle/deactivate","method":"POST"}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.352725333s
    - id: 1
      request:
        host: oie-00.dne-okta.com
        body: |
            {"_links":{"self":{"href":""}},"created":"0001-01-01T00:00:00Z","id":"","lastUpdated":"0001-01-01T00:00:00Z","name":"testAcc_530667077 AWS","settings":{"accountId":"123456789012","eventSourceName":"testAcc_530667077_AWS","region":"eu-west-3"},"status":"ACTIVE","type":"aws_eventbridge"}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://oie-00.dne-okta.com/api/v1/logStreams
        method: POST
      response:
        body: '{"id":"0oauzjfv68Wkk35rY1d7","type":"aws_eventbridge","name":"testAcc_530667077 AWS","lastUpdated":"2026-02-13T09:10:39.000Z","created":"2026-02-13T09:10:39.000Z","status":"ACTIVE","settings":{"accountId":"123456789012","eventSourceName":"testAcc_530667077_AWS","region":"eu-west-3"},"_links":{"self":{"href":"https://oie-00.dne-okta.com/api/v1/logStreams/0oauzjfv68Wkk35rY1d7","method":"GET"},"deactivate":{"href":"https://oie-00.dne-okta.com/api/v1/logStreams/0oauzjfv68Wkk35rY1d7/lifecycle/deactivate","method":"POST"}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.944828166s
    - id: 2
      request:
        host: oie-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/logStreams/0oauzjfv68Wkk35rY1d7
        method: GET
      response:
        body: '{"id":"0oauzjfv68Wkk35rY1d7","type":"aws_eventbridge","name":"testAcc_530667077 AWS","lastUpdated":"2026-02-13T09:10:39.000Z","created":"2026-02-13T09:10:39.000Z","status":"ACTIVE","settings":{"accountId":"123456789012","eventSourceName":"testAcc_530667077_AWS","region":"eu-west-3"},"_links":{"self":{"href":"https://oie-00.dne-okta.com/api/v1/logStreams/0oauzjfv68Wkk35rY1d7","method":"GET"},"deactivate":{"href":"https://oie-00.dne-okta.com/api/v1/logStreams/0oauzjfv68Wkk35rY1d7/lifecycle/deactivate","method":"POST"}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.198026459s
    - id: 3
      request:
        host: oie-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/logStreams
        method: GET
      response:
        body: '[{"id":"0oauzjfv68Wkk35rY1d7","type":"aws_eventbridge","name":"testAcc_530667077 AWS","lastUpdated":"2026-02-13T09:10:39.000Z","created":"2026-02-13T09:10:39.000Z","status":"ACTIVE","settings":{"accountId":"123456789012","eventSourceName":"testAcc_530667077_AWS","region":"eu-west-3"},"_links":{"self":{"href":"https://oie-00.dne-okta.com/api/v1/logStreams/0oauzjfv68Wkk35rY1d7","method":"GET"},"deactivate":{"href":"https://oie-00.dne-okta.com/api/v1/logStreams/0oauzjfv68Wkk35rY1d7/lifecycle/deactivate","method":"POST"}}},{"id":"0oauzjgg5wQHgVbuQ1d7","type":"splunk_cloud_logstreaming","name":"testAcc_530667077 Splunk","lastUpdated":"2026-02-13T09:10:39.000Z","created":"2026-02-13T09:10:39.000Z","status":"ACTIVE","settings":{"host":"acme.splunkcloud.com","edition":"aws"},"_links":{"self":{"href":"https://oie-00.dne-okta.com/api/v1/logStreams/0oauzjgg5wQHgVbuQ1d7","method":"GET"},"deactivate":{"href":"https://oie-00.dne-okta.com/api/v1/logStreams/0oauzjgg5wQHgVbuQ1d7/lifecycle/deactivate","method":"POST"}}}]'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
            Link:
                - <https://oie-00.dne-okta.com/api/v1/logStreams?limit=20>; rel="self"
        status: 200 OK
        code: 200
        duration: 1.258040917s
[...]
    - id: 7
      request:
        host: oie-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/logStreams/0oauzjgg5wQHgVbuQ1d7
        method: GET
      response:
        body: '{"id":"0oauzjgg5wQHgVbuQ1d7","type":"splunk_cloud_logstreaming","name":"testAcc_530667077 Splunk","lastUpdated":"2026-02-13T09:10:39.000Z","created":"2026-02-13T09:10:39.000Z","status":"ACTIVE","settings":{"host":"acme.splunkcloud.com","edition":"aws"},"_links":{"self":{"href":"https://oie-00.dne-okta.com/api/v1/logStreams/0oauzjgg5wQHgVbuQ1d7","method":"GET"},"deactivate":{"href":"https://oie-00.dne-okta.com/api/v1/logStreams/0oauzjgg5wQHgVbuQ1d7/lifecycle/deactivate","method":"POST"}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.2922715s
[...]
    - id: 12
      request:
        host: oie-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/logStreams/0oauzjfv68Wkk35rY1d7/lifecycle/deactivate
        method: POST
      response:
        body: ""
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
        status: 200 OK
        code: 200
        duration: 1.083570666s
    - id: 13
      request:
        host: oie-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/logStreams/0oauzjgg5wQHgVbuQ1d7/lifecycle/deactivate
        method: POST
      response:
        body: ""
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
        status: 200 OK
        code: 200
        duration: 1.092620042s
[...]
