---
version: 2
interactions:
    - id: 0
      request:
        host: skip-auth-policy-00.dne-okta.com
        body: |
            {"accessibility":{"selfService":false},"credentials":{"userNameTemplate":{"template":"${source.login}","type":"BUILT_IN"},"oauthClient":{"autoKeyRotation":true,"pkce_required":false,"token_endpoint_auth_method":"client_secret_basic"}},"label":"testAcc_2698209470","name":"oidc_client","settings":{"app":{},"implicitAssignment":false,"notes":{"admin":null,"enduser":null},"oauthClient":{"application_type":"service","consent_method":"TRUSTED","grant_types":["client_credentials"],"idp_initiated_login":{"default_scope":[],"mode":"DISABLED"},"issuer_mode":"ORG_URL","response_types":["token"],"wildcard_redirect":"DISABLED"}},"signOnMode":"OPENID_CONNECT","visibility":{"autoSubmitToolbar":false,"hide":{"iOS":true,"web":true}}}
        form:
            activate:
                - "true"
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://skip-auth-policy-00.dne-okta.com/api/v1/apps?activate=true
        method: POST
      response:
        body: '{"id":"0oatzy7q3uTJUoOeh697","orn":"orn:okta:idp:00osd501x0KyUtOul697:apps:oidc_client:0oatzy7q3uTJUoOeh697","name":"oidc_client","label":"testAcc_2698209470","status":"ACTIVE","lastUpdated":"2025-08-08T02:13:26.000Z","created":"2025-08-08T02:13:25.000Z","accessibility":{"selfService":false,"errorRedirectUrl":null,"loginRedirectUrl":null},"visibility":{"autoLaunch":false,"autoSubmitToolbar":false,"hide":{"iOS":true,"web":true},"appLinks":{"oidc_client_link":true}},"features":[],"signOnMode":"OPENID_CONNECT","credentials":{"userNameTemplate":{"template":"${source.login}","type":"BUILT_IN"},"signing":{"kid":"EByxJjNUZhat2djCEjTepjBA4jWl48VkZssYvA9uVxI"},"oauthClient":{"autoKeyRotation":true,"client_id":"0oatzy7q3uTJUoOeh697","client_secret":"DMofy57b3Ynjq704GMiWiOKvYyrBghlMLA4V-1VRU_mEC7JWFLuWbRCA92C4I4Y3","token_endpoint_auth_method":"client_secret_basic","pkce_required":false}},"universalLogout":null,"settings":{"app":{},"notifications":{"vpn":{"network":{"connection":"DISABLED"},"message":null,"helpUrl":null}},"manualProvisioning":false,"implicitAssignment":false,"emOptInStatus":"NONE","notes":{"admin":null,"enduser":null},"oauthClient":{"client_uri":null,"logo_uri":null,"redirect_uris":[],"response_types":["token"],"grant_types":["client_credentials"],"application_type":"service","consent_method":"TRUSTED","issuer_mode":"ORG_URL","idp_initiated_login":{"mode":"DISABLED","default_scope":[]},"wildcard_redirect":"DISABLED","dpop_bound_access_tokens":false,"participate_slo":false}},"_links":{"uploadLogo":{"href":"https://skip-auth-policy-00.dne-okta.com/api/v1/apps/0oatzy7q3uTJUoOeh697/logo","hints":{"allow":["POST"]}},"appLinks":[{"name":"oidc_client_link","href":"https://skip-auth-policy-00.dne-okta.com/home/oidc_client/0oatzy7q3uTJUoOeh697/aln177a159h7Zf52X0g8","type":"text/html"}],"profileEnrollment":{"href":"https://skip-auth-policy-00.dne-okta.com/api/v1/policies/rstsd5022rAok3aFp697"},"policies":{"href":"https://skip-auth-policy-00.dne-okta.com/api/v1/apps/0oatzy7q3uTJUoOeh697/policies","hints":{"allow":["PUT"]}},"groups":{"href":"https://skip-auth-policy-00.dne-okta.com/api/v1/apps/0oatzy7q3uTJUoOeh697/groups"},"logo":[{"name":"medium","href":"https://ok14static.oktacdn.com/assets/img/logos/default.6770228fb0dab49a1695ef440a5279bb.png","type":"image/png"}],"clientCredentials":[{"name":"secrets","href":"https://skip-auth-policy-00.dne-okta.com/api/v1/apps/0oatzy7q3uTJUoOeh697/credentials/secrets"}],"accessPolicy":{"href":"https://skip-auth-policy-00.dne-okta.com/api/v1/policies/rstsd5022pPoMSA4q697"},"users":{"href":"https://skip-auth-policy-00.dne-okta.com/api/v1/apps/0oatzy7q3uTJUoOeh697/users"},"deactivate":{"href":"https://skip-auth-policy-00.dne-okta.com/api/v1/apps/0oatzy7q3uTJUoOeh697/lifecycle/deactivate"}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.179836333s
    - id: 1
      request:
        host: skip-auth-policy-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://skip-auth-policy-00.dne-okta.com/api/v1/apps/0oatzy7q3uTJUoOeh697
        method: GET
      response:
        body: '{"id":"0oatzy7q3uTJUoOeh697","orn":"orn:okta:idp:00osd501x0KyUtOul697:apps:oidc_client:0oatzy7q3uTJUoOeh697","name":"oidc_client","label":"testAcc_2698209470","status":"ACTIVE","lastUpdated":"2025-08-08T02:13:26.[...]
    - id: 2
      request:
        host: skip-auth-policy-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://skip-auth-policy-00.dne-okta.com/api/v1/internal/apps/0oatzy7q3uTJUoOeh697/settings/oauth/idToken
        method: GET
      response:
        body: '{"issuer":"https://skip-auth-policy-00.dne-okta.com","orgUrl":null,"customUrl":null,"audience":"0oatzy7q3uTJUoOeh697","issuerMode":"ORG_URL"}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 698.055041ms
[...]
    - id: 5
      request:
        host: skip-auth-policy-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://skip-auth-policy-00.dne-okta.com/api/v1/apps/0oatzy7q3uTJUoOeh697/lifecycle/deactivate
        method: POST
      response:
        body: '{}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 717.480583ms
[...]
