Description
The TF provider currently has support for managing entitlements (with okta_entitlement), groups (with okta_group), and group memberships (with okta_group_memberships). But I do not see support for the connection between these resource types.

For our use case, we have entitlements created in Okta for an Okta application that controls permissions for a Slack bot that we have created in-house. We assign Okta groups to these entitlements to provide a way for us to control who has access to what features with our Slack bot. We would love to manage all of this with TF, but it seems we're missing the connection piece of the assignment of the entitlement to a group.

Currently, we have to manually do this by navigating to the application in the Okta admin page, going to the Governance section for it, then the Policy tab and create entitlement policies that way for the group assignments. This is quite tedious and would be a massive QOL improvement to control this in TF since the groups, group memberships, and entitlements are all already in TF.

New or Affected Resource(s)
okta_entitlement_policy (new - suggested name)
Customer Information
Organization Name: Flock Safety
Paid Customer: no

Potential Terraform Configuration
resource "okta_entitlement_policy" "test" {
    conditions = [
        {
            user_scope_type = "group|whatever"
            user_scope_ids = ["<group-id-1>", "<group-id-2>"]
        },
        ...
    ]
    entitlements = [
        {
            entitlement_id = "<entitlement-id>"
            entitlement_value_ids = ["<entitlement-value-id-1>", "<entitlement-value-id-2>"]
        },
        ...
    ]
}

data "okta_entitlement_policy" "test" {
    policy_id = "<policy-id>"
}
Outputs:

policy_id
References
https://registry.terraform.io/providers/okta/okta/latest/docs/resources/entitlement

https://registry.terraform.io/providers/okta/okta/latest/docs/resources/group

https://registry.terraform.io/providers/okta/okta/latest/docs/resources/group_memberships
