---
version: 2
interactions:
    - id: 0
      request:
        host: classic-00.dne-okta.com
        body: |
            {"accessibility":{},"credentials":{"oauthClient":{"autoKeyRotation":true,"pkce_required":false,"token_endpoint_auth_method":"private_key_jwt"},"userNameTemplate":{"template":"${source.login}","type":"BUILT_IN"}},"label":"testAcc_2258768224","name":"oidc_client","settings":{"notes":{},"oauthClient":{"application_type":"service","consent_method":"TRUSTED","dpop_bound_access_tokens":false,"grant_types":["client_credentials"],"idp_initiated_login":{"default_scope":[],"mode":"DISABLED"},"issuer_mode":"ORG_URL","jwks":{"keys":[{"e":"AQAB","kid":"SIGNING_KEY_RSA","kty":"RSA","n":"owfoXNHcAlAVpIO41840ZU2tZraLGw3yEr3xZvAti7oEZPUKCytk88IDgH7440JOuz8GC_D6vtduWOqnEt0j0_faJnhKHgfj7DTWBOCxzSdjrM-Uyj6-e_XLFvZXzYsQvt52PnBJUV15G1W9QTjlghT_pFrW0xrTtbO1c281u1HJdPd5BeIyPb0pGbciySlx53OqGyxrAxPAt5P5h-n36HJkVsSQtNvgptLyOwWYkX50lgnh2szbJ0_O581bqkNBy9uqlnVeK1RZDQUl4mk8roWYhsx_JOgjpC3YyeXA6hHsT5xWZos_gNx98AHivNaAjzIzvyVItX2-hP0Aoscfff","status":"ACTIVE"}]},"response_types":["token"],"wildcard_redirect":"DISABLED"}},"signOnMode":"OPENID_CONNECT","visibility":{"hide":{"iOS":true,"web":true}}}
        form:
            activate:
                - "true"
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://classic-00.dne-okta.com/api/v1/apps?activate=true
        method: POST
      response:
        body: '{"id":"0oauappr41vnT1nX41d7","orn":"orn:oktapreview:idp:00otivnuq1X5554yc1d7:apps:oidc_client:0oauappr41vnT1nX41d7","name":"oidc_client","label":"testAcc_2258768224","status":"ACTIVE","lastUpdated":"2026-01-28T08:10:10.000Z","created":"2026-01-28T08:10:09.000Z","accessibility":{"selfService":false,"errorRedirectUrl":null,"loginRedirectUrl":null},"visibility":{"autoLaunch":false,"autoSubmitToolbar":false,"hide":{"iOS":true,"web":true},"appLinks":{"oidc_client_link":true}},"features":[],"signOnMode":"OPENID_CONNECT","credentials":{"userNameTemplate":{"template":"${source.login}","type":"BUILT_IN"},"signing":{"kid":"48X-q9YWQ_p1aXo_HbPDTPbEncSYjFgiJEzhmK8Kq8I"},"oauthClient":{"autoKeyRotation":true,"client_id":"0oauappr41vnT1nX41d7","token_endpoint_auth_method":"private_key_jwt","pkce_required":false}},"universalLogout":null,"settings":{"app":{},"notifications":{"vpn":{"network":{"connection":"DISABLED"},"message":null,"helpUrl":null}},"manualProvisioning":false,"implicitAssignment":false,"emOptInStatus":"NONE","notes":{"admin":null,"enduser":null},"oauthClient":{"client_uri":null,"logo_uri":null,"redirect_uris":[],"response_types":["token"],"grant_types":["client_credentials"],"jwks":{"keys":[{"kty":"RSA","id":"pksuappr4zKJsApF51d7","status":"ACTIVE","kid":"SIGNING_KEY_RSA","use":null,"e":"AQAB","n":"owfoXNHcAlAVpIO41840ZU2tZraLGw3yEr3xZvAti7oEZPUKCytk88IDgH7440JOuz8GC_D6vtduWOqnEt0j0_faJnhKHgfj7DTWBOCxzSdjrM-Uyj6-e_XLFvZXzYsQvt52PnBJUV15G1W9QTjlghT_pFrW0xrTtbO1c281u1HJdPd5BeIyPb0pGbciySlx53OqGyxrAxPAt5P5h-n36HJkVsSQtNvgptLyOwWYkX50lgnh2szbJ0_O581bqkNBy9uqlnVeK1RZDQUl4mk8roWYhsx_JOgjpC3YyeXA6hHsT5xWZos_gNx98AHivNaAjzIzvyVItX2-hP0Aoscfff"}]},"application_type":"service","consent_method":"TRUSTED","issuer_mode":"ORG_URL","idp_initiated_login":{"mode":"DISABLED","default_scope":[]},"wildcard_redirect":"DISABLED","dpop_bound_access_tokens":false,"participate_slo":false}},"_links":{"uploadLogo":{"href":"https://classic-00.dne-okta.com/api/v1/apps/0oauappr41vnT1nX41d7/logo","hints":{"allow":["POST"]}},"appLinks":[{"name":"oidc_client_link","href":"https://classic-00.dne-okta.com/home/oidc_client/0oauappr41vnT1nX41d7/aln177a159h7Zf52X0g8","type":"text/html"}],"profileEnrollment":{"href":"https://classic-00.dne-okta.com/api/v1/policies/rsttivnuviYmKDYit1d7"},"policies":{"href":"https://classic-00.dne-okta.com/api/v1/apps/0oauappr41vnT1nX41d7/policies","hints":{"allow":["PUT"]}},"groups":{"href":"https://classic-00.dne-okta.com/api/v1/apps/0oauappr41vnT1nX41d7/groups"},"logo":[{"name":"medium","href":"https://op3static2.oktacdn.com/assets/img/logos/default.6770228fb0dab49a1695ef440a5279bb.png","type":"image/png"}],"clientCredentials":[{"name":"jwks","href":"https://classic-00.dne-okta.com/api/v1/apps/0oauappr41vnT1nX41d7/credentials/jwks"}],"accessPolicy":{"href":"https://classic-00.dne-okta.com/api/v1/policies/rsttivnuvg01CxhjA1d7"},"users":{"href":"https://classic-00.dne-okta.com/api/v1/apps/0oauappr41vnT1nX41d7/users"},"deactivate":{"href":"https://classic-00.dne-okta.com/api/v1/apps/0oauappr41vnT1nX41d7/lifecycle/deactivate"}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.664832083s
[...]
    - id: 2
      request:
        host: classic-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/apps/0oauappr41vnT1nX41d7
        method: GET
      response:
        body: '{"id":"0oauappr41vnT1nX41d7","orn":"orn:oktapreview:idp:00otivnuq1X5554yc1d7:apps:oidc_client:0oauappr41vnT1nX41d7","name":"oidc_client","label":"testAcc_2258768224","status":"ACTIVE","lastUpdated":"2026-01-28T08:10:10.000Z","crea[...]
    - id: 3
      request:
        host: classic-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/apps/0oauaqo2obGANiZ0n1d7
        method: GET
      response:
        body: '{"id":"0oauaqo2obGANiZ0n1d7","orn":"orn:oktapreview:idp:00otivnuq1X5554yc1d7:apps:oidc_client:0oauaqo2obGANiZ0n1d7","name":"oidc_client","label":"test_ecAcc_2258768224","status":"ACTIVE","lastUpdated":"2026-01-28T08:10:10.000Z","c[...]
    - id: 4
      request:
        host: classic-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/.well-known/okta-organization
        method: GET
      response:
        body: '{"id":"00otivnuq1X5554yc1d7","cell":"op3","_links":{"organization":{"href":"https://classic-00.dne-okta.com"}},"pipeline":"idx","settings":{"analyticsCollectionEnabled":false,"bugReportingEnabled":true,"omEnabled":false,"pssoEnabled":false,"desktopMFAEnabled":false,"itpEnabled":false}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.027481917s
[...]
    - id: 6
      request:
        host: classic-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/internal/apps/0oauaqo2obGANiZ0n1d7/settings/oauth/idToken
        method: GET
      response:
        body: '{"issuer":"https://classic-00.dne-okta.com","orgUrl":null,"customUrl":null,"audience":"0oauaqo2obGANiZ0n1d7","issuerMode":"ORG_URL"}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.075000458s
    - id: 7
      request:
        host: classic-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/internal/apps/0oauappr41vnT1nX41d7/settings/oauth/idToken
        method: GET
      response:
        body: '{"issuer":"https://classic-00.dne-okta.com","orgUrl":null,"customUrl":null,"audience":"0oauappr41vnT1nX41d7","issuerMode":"ORG_URL"}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.108690125s
[...]
    - id: 20
      request:
        host: classic-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/apps/0oauappr41vnT1nX41d7/lifecycle/deactivate
        method: POST
      response:
        body: '{}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.860195208s
    - id: 21
      request:
        host: classic-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/apps/0oauaqo2obGANiZ0n1d7/lifecycle/deactivate
        method: POST
      response:
        body: '{}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.862643792s
[...]
