---
version: 1
interactions:
- request:
    body: |
      {"audiences":["whatever.rise.zone"],"credentials":{"signing":{"rotationMode":"AUTO"}},"description":"test","issuerMode":"ORG_URL","name":"testAcc_499365363"}
    form: {}
    headers:
      Authorization:
      - SSWS REDACTED
      Content-Type:
      - application/json
    url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/authorizationServers
    method: POST
  response:
    body: '{"id":"aus6mne0eh83zDGeQ1d7","name":"testAcc_499365363","description":"test","audiences":["whatever.rise.zone"],"issuer":"https://mm-oie-2022-10-07-max.oktapreview.com/oauth2/aus6mne0eh83zDGeQ1d7","issuerMode":"ORG_URL","status":"ACTIVE","created":"2023-01-12T17:30:26.000Z","lastUpdated":"2023-01-12T17:30:26.000Z","credentials":{"signing":{"kid":"cdzwxwjIjyfCOe_8LIwprRgzzE9y9O8dDpaVYs6p-1c","rotationMode":"AUTO","lastRotated":"2023-01-12T17:30:26.000Z","nextRotation":"2023-04-12T17:30:26.000Z"}},"default":false,"_links":{"rotateKey":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/authorizationServers/aus6mne0eh83zDGeQ1d7/credentials/lifecycle/keyRotate","hints":{"allow":["POST"]}},"metadata":[{"name":"oauth-authorization-server","href":"https://mm-oie-2022-10-07-max.oktapreview.com/oauth2/aus6mne0eh83zDGeQ1d7/.well-known/oauth-authorization-server","hints":{"allow":["GET"]}},{"name":"openid-configuration","href":"https://mm-oie-2022-10-07-max.oktapreview.com/oauth2/aus6mne0eh83zDGeQ1d7/.well-known/openid-configuration","hints":{"allow":["GET"]}}],"keys":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/authorizationServers/aus6mne0eh83zDGeQ1d7/credentials/keys","hints":{"allow":["GET"]}},"claims":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/authorizationServers/aus6mne0eh83zDGeQ1d7/claims","hints":{"allow":["GET","POST"]}},"policies":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/authorizationServers/aus6mne0eh83zDGeQ1d7/policies","hints":{"allow":["GET","POST"]}},"self":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/authorizationServers/aus6mne0eh83zDGeQ1d7","hints":{"allow":["GET","DELETE","PUT"]}},"scopes":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/authorizationServers/aus6mne0eh83zDGeQ1d7/scopes","hints":{"allow":["GET","POST"]}},"deactivate":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/authorizationServers/aus6mne0eh83zDGeQ1d7/lifecycle/deactivate","hints":{"allow":["POST"]}}}}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/authorizationServers/aus6mne0eh83zDGeQ1d7
    method: GET
  response:
    body: '{"id":"aus6mne0eh83zDGeQ1d7","name":"testAcc_499365363","description":"test","audiences":["whatever.rise.zone"],"issuer":"https://mm-oie-2022-10-07-max.oktapreview.com/oauth2/aus6mne0eh83zDGeQ1d7","issuerMode":"ORG_URL","status":"ACTIVE","created":"2023-01-12T17:3[...]
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/authorizationServers/aus6mne0eh83zDGeQ1d7/claims
    method: GET
  response:
    body: '[{"id":"ocl6mne0f0q1IuhAr1d7","name":"sub","status":"ACTIVE","claimType":"RESOURCE","valueType":"EXPRESSION","value":"(appuser
      != null) ? appuser.userName : app.clientId","conditions":{"scopes":[]},"system":true,"alwaysIncludeInToken":true,"apiResourceId":null,"_links":{"self":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/authorizationServers/aus6mne0eh83zDGeQ1d7/claims/ocl6mne0f0q1IuhAr1d7","hints":{"allow":["GET","PUT","DELETE"]}}}},{"id":"ocl6mne0f2CPcLTxh1d7","name":"address","status":"ACTIVE","claimType":"IDENTITY","valueType":"SYSTEM","conditions":{"scopes":["address"]},"system":true,"alwaysIncludeInToken":false,"apiResourceId":null,"_links":{"self":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/authorizationS[...]
[...]
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/authorizationServers/aus6mne0eh83zDGeQ1d7/claims/ocl6mne0f2CPcLTxh1d7
    method: GET
  response:
    body: '{"id":"ocl6mne0f2CPcLTxh1d7","name":"address","status":"ACTIVE","claimType":"IDENTITY","valueType":"SYSTEM","conditions":{"scopes":["address"]},"system":true,"alwaysIncludeInToken":false,"apiResourceId":null,"_links":{"self":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/authorizationServers/aus6mne0eh83zDGeQ1d7/claims/ocl6mne0f2CPcLTxh1d7","hints":{"allow":["GET","PUT","DELETE"]}}}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/authorizationServers/aus6mne0eh83zDGeQ1d7/lifecycle/deactivate
    method: POST
  response:
    body: ""
    headers:
    status: 204 No Content
    code: 204
    duration: ""
[...]
