---
version: 2
interactions:
    - id: 0
      request:
        host: classic-00.dne-okta.com
        body: |
            {"accessibility":{"selfService":false},"credentials":{"userNameTemplate":{"template":"${source.login}","type":"BUILT_IN"}},"label":"testAcc_4225328393","settings":{"app":{},"implicitAssignment":false,"notes":{"admin":null,"enduser":null},"signOn":{"allowMultipleAcsEndpoints":false,"assertionSigned":false,"attributeStatements":[{"filterType":"STARTS_WITH","filterValue":"test","name":"Attr Two","namespace":"urn:oasis:names:tc:SAML:2.0:attrname-format:unspecified","type":"GROUP"}],"audience":"http://audience.com","audienceOverride":"","authnContextClassRef":"urn:oasis:names:tc:SAML:2.0:ac:classes:PasswordProtectedTransport","defaultRelayState":"","destination":"http://its-about-the-journey.com","destinationOverride":"","digestAlgorithm":"SHA256","honorForceAuthn":false,"recipient":"http://here.com","recipientOverride":"","responseSigned":true,"samlSignedRequestEnabled":false,"signatureAlgorithm":"RSA_SHA256","slo":{"enabled":false},"ssoAcsUrl":"http://google.com","ssoAcsUrlOverride":"","subjectNameIdFormat":"urn:oasis:names:tc:SAML:1.1:nameid-format:emailAddress","subjectNameIdTemplate":"${user.userName}"}},"signOnMode":"SAML_2_0","visibility":{"autoSubmitToolbar":false,"hide":{"iOS":false,"web":false}}}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://classic-00.dne-okta.com/api/v1/apps?activate=true
        method: POST
      response:
        body: '{"id":"0oas5bkmv3o1zdpIT697","orn":"orn:okta:idp:00orp9xda1T0VTWhk697:apps:classic-00_testacc4225328393_1:0oas5bkmv3o1zdpIT697","name":"classic-00_testacc4225328393_1","label":"testAcc_4225328393","status":"ACTIVE","lastUpdated":"2025-06-08T06:33:47.000Z","created":"2025-06-08T06:33:47.000Z","accessibility":{"selfService":false,"errorRedirectUrl":null,"loginRedirectUrl":null},"visibility":{"autoLaunch":false,"autoSubmitToolbar":false,"hide":{"iOS":false,"web":false},"appLinks":{"classic-00_testacc4225328393_1_link":true}},"features":[],"signOnMode":"SAML_2_0","credentials":{"userNameTemplate":{"template":"${source.login}","type":"BUILT_IN"},"signing":{"kid":"n3n_l3rHvbyxb7WbaC_nvcBYhPeAsGlfWDWsqdahbg4"}},"universalLogout":null,"settings":{"app":{},"notifications":{"vpn":{"network":{"connection":"DISABLED"},"message":null,"helpUrl":null}},"manualProvisioning":false,"implicitAssignment":false,"notes":{"admin":null,"enduser":null},"signOn":{"defaultRelayState":"","ssoAcsUrl":"http://google.com","idpIssuer":"http://www.okta.com/${org.externalKey}","audience":"http://audience.com","recipient":"http://here.com","destination":"http://its-about-the-journey.com","subjectNameIdTemplate":"${user.userName}","subjectNameIdFormat":"urn:oasis:names:tc:SAML:1.1:nameid-format:emailAddress","responseSigned":true,"assertionSigned":false,"signatureAlgorithm":"RSA_SHA256","digestAlgorithm":"SHA256","honorForceAuthn":false,"authnContextClassRef":"urn:oasis:names:tc:SAML:2.0:ac:classes:PasswordProtectedTransport","spIssuer":null,"requestCompressed":false,"attributeStatements":[{"type":"GROUP","name":"Attr Two","namespace":"urn:oasis:names:tc:SAML:2.0:attrname-format:unspecified","filterType":"STARTS_WITH","filterValue":"test"}],"inlineHooks":[],"assertionEncryption":{"enabled":false},"allowMultipleAcsEndpoints":false,"acsEndpoints":[],"samlSignedRequestEnabled":false,"slo":{"enabled":false}}},"_links":{"help":{"href":"https://classic-00-admin.okta.com/app/classic-00_testacc4225328393_1/0oas5bkmv3o1zdpIT697/setup/help/SAML_2_0/instructions","type":"text/html"},"metadata":{"href":"https://classic-00.okta.com/api/v1/apps/0oas5bkmv3o1zdpIT697/sso/saml/metadata","type":"application/xml"},"uploadLogo":{"href":"https://classic-00.okta.com/api/v1/apps/0oas5bkmv3o1zdpIT697/logo","hints":{"allow":["POST"]}},"appLinks":[{"name":"classic-00_testacc4225328393_1_link","href":"https://classic-00.okta.com/home/classic-00_testacc4225328393_1/0oas5bkmv3o1zdpIT697/alns5bx1xexoScK4X697","type":"text/html"}],"profileEnrollment":{"href":"https://classic-00.okta.com/api/v1/policies/rstrp9xdfyTbTHsSn697"},"policies":{"href":"https://classic-00.okta.com/api/v1/apps/0oas5bkmv3o1zdpIT697/policies","hints":{"allow":["PUT"]}},"groups":{"href":"https://classic-00.okta.com/api/v1/apps/0oas5bkmv3o1zdpIT697/groups"},"logo":[{"name":"medium","href":"https://ok14static.oktacdn.com/assets/img/logos/default.6770228fb0dab49a1695ef440a5279bb.png","type":"image/png"}],"accessPolicy":{"href":"https://classic-00.okta.com/api/v1/policies/rstrp9xdfwPTNCKIb697"},"users":{"href":"https://classic-00.okta.com/api/v1/apps/0oas5bkmv3o1zdpIT697/users"},"deactivate":{"href":"https://classic-00.okta.com/api/v1/apps/0oas5bkmv3o1zdpIT697/lifecycle/deactivate"}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 2.021662084s
    - id: 1
      request:
        host: classic-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/.well-known/okta-organization
        method: GET
      response:
        body: '{"id":"00orp9xda1T0VTWhk697","cell":"ok14","_links":{"organization":{"href":"https://classic-00.okta.com"}},"pipeline":"idx","settings":{"analyticsCollectionEnabled":true,"bugReportingEnabled":true,"omEnabled":false,"pssoEnabled":false,"desktopMFAEnabled":false,"itpEnabled":true}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 282.948042ms
    - id: 2
      request:
        host: classic-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/policies?type=ACCESS_POLICY
        method: GET
      response:
        body: '[{"id":"rstrp9xdf2gnrxgAv697","status":"ACTIVE","name":"Okta Admin Console","priority":1,"system":false,"conditions":null,"created":"2025-05-23T11:44:56.000Z","lastUpdated":"2025-05-23T11:44:56.000Z","_links":{"mappings":{"href":"https://classic-00.okta.com/api/v1/policies/rstrp9xdf2gnrxgAv697/mappings","hints":{"allow":["GET","POST"]}},"self":{"href":"https://classic-00.okta.com/api/v1/policies/rstrp9xdf2gnrxgAv697","hints":{"allow":["GET","PUT","DELETE"]}},"rules":{"href":"https://classic-00.okta.com/api/v1/policies/rstrp9xdf2gnrxgAv697/rules","hints":{"allow":["GET","POST"]}},"deactivate":{"href":"https://classic-00.okta.com/api/v1/policies/rstrp9xdf2gnrxgAv697/lifecycle/deactivate","hints":{"allow":["POST"]}}},"type":"ACCESS_POLICY"},{"id":"rstrp9xdf9pYZ37gJ697","status":"ACTIVE","name":"Okta Dashboard","priority":1,"system":false,"conditions":null,"created":"2025-05-23T11:44:57.000Z","lastUpdated":"2025-05-23T11:44:57.000Z","_links":{"mappings":{"href"[...]
    - id: 3
      request:
        host: classic-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/apps/0oas5bkmv3o1zdpIT697/policies/rstrp9xdfwPTNCKIb697
        method: PUT
      response:
        body: ""
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
        status: 204 No Content
        code: 204
        duration: 398.163541ms
    - id: 4
      request:
        host: classic-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/apps/0oas5bkmv3o1zdpIT697
        method: GET
      response:
        body: '{"id":"0oas5bkmv3o1zdpIT697","orn":"orn:okta:idp:00orp9xda1T0VTWhk697:apps:classic-00_testacc4225328393_1:0oas5bkmv3o1zdpIT697","name":"classic-00_testacc4225328393_1","label":"testAcc_4225328393"[...]
    - id: 5
      request:
        host: classic-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/apps/0oas5bkmv3o1zdpIT697/sso/saml/metadata?kid=n3n_l3rHvbyxb7WbaC_nvcBYhPeAsGlfWDWsqdahbg4
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?><md:EntityDescriptor entityID="http://www.okta.com/exks5bkmv2r8KsG2P697" xmlns:md="urn:oasis:names:tc:SAML:2.0:metadata"><md:IDPSSODescriptor WantAuthnRequestsSigned="false" protocolSupportEnumeration="urn:oasis:names:tc:SAML:2.0:protocol"><md:KeyDescriptor use="signing"><ds:KeyInfo xmlns:ds="http://www.w3.org/2000/09/xmldsig#"><ds:X509Data><ds:X509Certificate>MIIDqjCCApKgAwIBAgIGAZdOPsqKMA0GCSqGSIb3DQEBCwUAMIGVMQswCQYDVQQGEwJVUzETMBEG
            A1UECAwKQ2FsaWZvcm5pYTEWMBQGA1UEBwwNU2FuIEZyYW5jaXNjbzENMAsGA1UECgwET2t0YTEU
            MBIGA1UECwwLU1NPUHJvdmlkZXIxFjAUBgNVBAMMDXRyaWFsLTM2NDExNjAxHDAaBgkqhkiG9w0B
            CQEWDWluZm9Ab2t0YS5jb20wHhcNMjUwNjA4MDYzMjQ3WhcNMzUwNjA4MDYzMzQ3WjCBlTELMAkG
            A1UEBhMCVVMxEzARBgNVBAgMCkNhbGlmb3JuaWExFjAUBgNVBAcMDVNhbiBGcmFuY2lzY28xDTAL
            BgNVBAoMBE9rdGExFDASBgNVBAsMC1NTT1Byb3ZpZGVyMRYwFAYDVQQ[...]
    - id: 6
      request:
        host: classic-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/apps/0oas5bkmv3o1zdpIT697/credentials/keys
        method: GET
      response:
        body: '[{"kty":"RSA","created":"2025-06-08T06:33:47.000Z","lastUpdated":"2025-06-08T06:33:47.000Z","expiresAt":"2035-06-08T06:33:47.000Z","kid":"n3n_l3rHvbyxb7WbaC_nvcBYhPeAsGlfWDWsqdahbg4","use":"sig","x5c":["MIIDqjCCApKgAwIBAgIGAZdOPsqKMA0GCSqGSIb3DQEBCwUAMIGVMQswCQYDVQQGEwJVUzETMBEGA1UECAwKQ2FsaWZvcm5pYTEWMBQGA1UEBwwNU2FuIEZyYW5jaXNjbzENMAsGA1UECgwET2t0YTEUMBIGA1UECwwLU1NPUHJvdmlkZXIxFjAUBgNVBAMMDXRyaWFsLTM2NDExNjAxHDAaBgkqhkiG9w0BCQEWDWluZm9Ab2t0YS5jb20wHhcNMjUwNjA4MDYzMjQ3WhcNMzUwNjA4MDYzMzQ3WjCBlTELMAkGA1UEBhMCVVMxEzARBgNVBAgMCkNhbGlmb3JuaWExFjAUBgNVBAcMDVNhbiBGcmFuY2lzY28xDTALBgNVBAoMBE9rdGExFDASBgNVBAsMC1NTT1Byb3ZpZGVyMRYwFAYDVQQDDA10cmlhbC0zNjQxMTYwMRwwGgYJKoZIhvcNAQkBFg1pbmZvQG9rdGEuY29tMI[...]
[...]
    - id: 14
      request:
        host: classic-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/apps?filter=status+eq+%22ACTIVE%22&limit=1&q=testAcc_4225328393
        method: GET
      response:
        body: '[{"id":"0oas5bkmv3o1zdpIT697","orn":"orn:okta:idp:00orp9xda1T0VTWhk697:apps:classic-00_testacc4225328393_1:0oas5bkmv3o1zdpIT697","name":"classic-00_testacc42[...]
[...]
    - id: 26
      request:
        host: classic-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/apps/0oas5bkmv3o1zdpIT697/lifecycle/deactivate
        method: POST
      response:
        body: '{}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 374.503792ms
[...]
