---
version: 1
interactions:
- request:
    body: |
      {"name":"testAcc_2907880065","siteKey":"random_key","secretKey":"random_key","type":"HCAPTCHA"}
    form: {}
    headers:
      Authorization:
      - SSWS REDACTED
      Content-Type:
      - application/json
    url: https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/captchas
    method: POST
  response:
    body: '{"id":"cap6m9bl8rXUq8fLn1d7","name":"testAcc_2907880065","siteKey":"random_key","type":"HCAPTCHA","_links":{"self":{"href":"https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/captchas/cap6m9bl8rXUq8fLn1d7","hints":{"allow":["GET","POST","PUT","DELETE"]}}}}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: |
      {"captchaId":"cap6m9bl8rXUq8fLn1d7","enabledPages":["SSR"]}
    form: {}
    headers:
      Authorization:
      - SSWS REDACTED
      Content-Type:
      - application/json
    url: https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/org/captcha
    method: PUT
  response:
    body: '{"enabledPages":["SSR"],"captchaId":"cap6m9bl8rXUq8fLn1d7","_links":{"captcha":{"href":"https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/captchas/cap6m9bl8rXUq8fLn1d7","hints":{"allow":["GET","POST","PUT","DELETE"]}},"self":{"href":"https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/org/captcha","hints":{"allow":["GET","PUT"]}}}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/captchas/cap6m9bl8rXUq8fLn1d7
    method: GET
  response:
    body: '{"id":"cap6m9bl8rXUq8fLn1d7","name":"testAcc_2907880065","siteKey":"random_key","type":"HCAPTCHA","_links":{"self":{"href":"https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/captchas/cap6m9bl8rXUq8fLn1d7","hints":{"allow":["GET","POST","PUT","DELETE"]}}}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
