---
version: 2
interactions:
    - id: 0
      request:
        host: oie-00.dne-okta.com
        body: |
            {"profile":{"name":"testAcc_1_654056752","description":"testing, testing"}}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://oie-00.dne-okta.com/api/v1/groups
        method: POST
      response:
        body: '{"id":"00g1182i46vS5Ojfr1d8","created":"2026-07-11T14:39:21.000Z","lastUpdated":"2026-07-11T14:39:21.000Z","lastMembershipUpdated":"2026-07-11T14:39:21.000Z","objectClass":["okta:user_group"],"type":"OKTA_GROUP","profile":{"name":"testAcc_1_654056752","description":"testing, testing"},"_links":{"logo":[{"name":"medium","href":"https://op3static2.oktacdn.com/assets/img/logos/groups/odyssey/okta-medium.30ce6d4085dff29412984e4c191bc874.png","type":"image/png"},{"name":"large","href":"https://op3static2.oktacdn.com/assets/img/logos/groups/odyssey/okta-large.c3cb8cda8ae0add1b4fe928f5844dbe3.png","type":"image/png"}],"owners":{"href":"https://oie-00.dne-okta.com/api/v1/groups/00g1182i46vS5Ojfr1d8/owners"},"users":{"href":"https://oie-00.dne-okta.com/api/v1/groups/00g1182i46vS5Ojfr1d8/users"},"apps":{"href":"https://oie-00.dne-okta.com/api/v1/groups/00g1182i46vS5Ojfr1d8/apps"}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.746452958s
[...]
    - id: 2
      request:
        host: oie-00.dne-okta.com
        body: |
            {"credentials":{"password":{}},"profile":{"email":"testAcc-654056752@example.com","firstName":"TestAcc","lastName":"Smith","login":"testAcc-654056752@example.com","postalAddress":null}}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://oie-00.dne-okta.com/api/v1/users
        method: POST
      response:
        body: '{"id":"00u1182lbpwKNXaTm1d8","status":"PROVISIONED","created":"2026-07-11T14:39:21.000Z","activated":"2026-07-11T14:39:22.000Z","statusChanged":"2026-07-11T14:39:22.000Z","lastLogin":null,"lastUpdated":"2026-07-11T14:39:22.000Z","passwordChanged":null,"realmId":"guotivlj45ZSJtnfF1d7","type":{"id":"otytivnus5k8rPk4X1d7"},"profile":{"firstName":"TestAcc","lastName":"Smith","mobilePhone":null,"secondEmail":null,"login":"testAcc-654056752@example.com","email":"testAcc-654056752@example.com"},"credentials":{"provider":{"type":"OKTA","name":"OKTA"}},"_links":{"suspend":{"href":"https://oie-00.dne-okta.com/api/v1/users/00u1182lbpwKNXaTm1d8/lifecycle/suspend","method":"POST"},"schema":{"href":"https://oie-00.dne-okta.com/api/v1/meta/schemas/user/osctivnus5k8rPk4X1d7"},"resetPassword":{"href":"https://oie-00.dne-okta.com/api/v1/users/00u1182lbpwKNXaTm1d8/lifecycle/reset_password","method":"POST"},"reactivate":{"href":"https://oie-00.dne-okta.com/api/v1/users/00u1182lbpwKNXaTm1d8/lifecycle/reactivate","method":"POST"},"self":{"href":"https://oie-00.dne-okta.com/api/v1/users/00u1182lbpwKNXaTm1d8"},"resetFactors":{"href":"https://oie-00.dne-okta.com/api/v1/users/00u1182lbpwKNXaTm1d8/lifecycle/reset_factors","method":"POST"},"type":{"href":"https://oie-00.dne-okta.com/api/v1/meta/types/user/otytivnus5k8rPk4X1d7"},"deactivate":{"href":"https://oie-00.dne-okta.com/api/v1/users/00u1182lbpwKNXaTm1d8/lifecycle/deactivate","method":"POST"}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 2.570319458s
    - id: 3
      request:
        host: oie-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/groups/00g1182gwxutQlOzX1d8
        method: GET
      response:
        body: '{"id":"00g1182gwxutQlOzX1d8","created":"2026-07-11T14:39:21.000Z","lastUpdated":"2026-07-11T14:39:21.000Z","lastMembershipUpdated":"2026-07-11T14:39:21.000Z","objectClass":["okta:user_group"],"type":"OKTA_GROUP","profile":{"name":"testAcc_2_654056752","description":"testing, testing"},"_links":{"logo":[{"name":"medium","href":"https://op3static2.oktacdn.com/assets/img/logos/groups/odyssey/okta-medium.30ce6d4085dff29412984e4c191bc874.png","type":"image/png"},{"name":"large","href":"https://op3static2.oktacdn.com/assets/img/logos/groups/odyssey/okta-large.c3cb8cda8ae0add1b4fe928f5844dbe3.png","type":"image/png"}],"owners":{"href":"https://oie-00.dne-okta.com/api/v1/groups/00g1182gwxutQlOzX1d8/owners"},"users":{"href":"https://oie-00.dne-okta.com/api/v1/groups/00g1182gwxutQlOzX1d8/users"},"apps":{"href":"https://oie-00.dne-okta.com/api/v1/groups/00g1182gwxutQlOzX1d8/apps"}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.26294625s
    - id: 4
      request:
        host: oie-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/groups/00g1182i46vS5Ojfr1d8
        method: GET
      response:
        body: '{"id":"00g1182i46vS5Ojfr1d8","created":"2026-07-11T14:39:21.000Z","lastUpdated":"2026-07-11T14:39:21.000Z","lastMembershipUpdated":"2026-07-11T14:39:21.000Z","objectClass":["okta:user_group"],"type":"OKTA_GROUP","profile":{"name":"testAcc_1_654056752","description":"testing, testing"},"_links":{"logo":[{"name":"medium","href":"https://op3static2.oktacdn.com/assets/img/logos/groups/odyssey/okta-medium.30ce6d4085dff29412984e4c191bc874.png","type":"image/png"},{"name":"large","href":"https://op3static2.oktacdn.com/assets/img/logos/groups/odyssey/okta-large.c3cb8cda8ae0add1b4fe928f5844dbe3.png","type":"image/png"}],"owners":{"href":"https://oie-00.dne-okta.com/api/v1/groups/00g1182i46vS5Ojfr1d8/owners"},"users":{"href":"https://oie-00.dne-okta.com/api/v1/groups/00g1182i46vS5Ojfr1d8/users"},"apps":{"href":"https://oie-00.dne-okta.com/api/v1/groups/00g1182i46vS5Ojfr1d8/apps"}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.268689167s
[...]
    - id: 6
      request:
        host: oie-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/users/00u1182lbpwKNXaTm1d8
        method: GET
      response:
        body: '{"id":"00u1182lbpwKNXaTm1d8","status":"PROVISIONED","created":"2026-07-11T14:39:21.000Z","activated":"2026-07-11T14:39:22.000Z","statusChanged":"2026-07-11T14:39:22.000Z","lastLogin":null,"lastUpdated":"2026-07-11T14:39:22.000Z","passwor[...]
[...]
    - id: 9
      request:
        host: oie-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/groups/00g1182ka0f0jZzxS1d8
        method: GET
      response:
        body: '{"id":"00g1182ka0f0jZzxS1d8","created":"2026-07-11T14:39:22.000Z","lastUpdated":"2026-07-11T14:39:22.000Z","lastMembershipUpdated":"2026-07-11T14:39:22.000Z","objectClass":["okta:user_group"],"type":"OKTA_GROUP","profile":{"name":"testAcc_3_654056752","description":"testing, testing"},"_links":{"logo":[{"name":"medium","href":"https://op3static2.oktacdn.com/assets/img/logos/groups/odyssey/okta-medium.30ce6d4085dff29412984e4c191bc874.png","type":"image/png"},{"name":"large","href":"https://op3static2.oktacdn.com/assets/img/logos/groups/odyssey/okta-large.c3cb8cda8ae0add1b4fe928f5844dbe3.png","type":"image/png"}],"owners":{"href":"https://oie-00.dne-okta.com/api/v1/groups/00g1182ka0f0jZzxS1d8/owners"},"users":{"href":"https://oie-00.dne-okta.com/api/v1/groups/00g1182ka0f0jZzxS1d8/users"},"apps":{"href":"https://oie-00.dne-okta.com/api/v1/groups/00g1182ka0f0jZzxS1d8/apps"}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.181591417s
[...]
    - id: 11
      request:
        host: oie-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/groups/00g1182i46vS5Ojfr1d8/users/00u1182lbpwKNXaTm1d8
        method: PUT
      response:
        body: ""
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
        status: 204 No Content
        code: 204
        duration: 1.232833833s
    - id: 12
      request:
        host: oie-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/groups/00g1182gwxutQlOzX1d8/users/00u1182lbpwKNXaTm1d8
        method: PUT
      response:
        body: ""
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
        status: 204 No Content
        code: 204
        duration: 1.637331833s
    - id: 13
      request:
        host: oie-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/users/00u1182lbpwKNXaTm1d8/groups
        method: GET
      response:
        body: '[{"id":"00gtivnurvWCrsTPt1d7","created":"2026-01-06T09:19:35.000Z","lastUpdated":"2026-01-06T09:19:35.000Z","lastMembershipUpdated":"2026-07-11T13:15:49.000Z","objectClass":["okta:user_group"],"type":"BUILT_IN","profile":{"name":[...]
[...]
    - id: 34
      request:
        host: oie-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/groups/00g1182ka0f0jZzxS1d8/users/00u1182lbpwKNXaTm1d8
        method: PUT
      response:
        body: ""
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
        status: 204 No Content
        code: 204
        duration: 1.213329667s
[...]
