---
version: 2
interactions:
    - id: 0
      request:
        host: oie-00.dne-okta.com
        body: |
            {"accessScopeSettings":{"type":"RESOURCE_DEFAULT"},"approvalSequenceId":"68920b41386747a673869356","name":"test-condition","priority":0,"requesterSettings":{"type":"EVERYONE"}}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://oie-00.dne-okta.com/governance/api/v2/resources/0oaoum6j3cElINe1z1d7/request-conditions
        method: POST
      response:
        body: '{"requesterSettings":{"type":"EVERYONE"},"accessScopeSettings":{"type":"RESOURCE_DEFAULT"},"approvalSequenceId":"68920b41386747a673869356","name":"test-condition","id":"rco11lkuvhkh6eiMY1d7","createdBy":"00unkw1sfbTw08c0g1d7","created":"2025-09-17T18:23:59Z","lastUpdated":"2025-09-17T18:23:59Z","lastUpdatedBy":"00unkw1sfbTw08c0g1d7","_links":{"self":{"href":"https://oie-00-admin.dne-okta.com/governance/api/v2/resources/0oaoum6j3cElINe1z1d7/request-conditions/rco11lkuvhkh6eiMY1d7","hints":{}}},"status":"INACTIVE","priority":0}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
            Location:
                - https://dcp-testing-oig-2025-06-26-admin.oktapreview.com/governance/api/v2/resources/0oaoum6j3cElINe1z1d7/request-conditions/rco11lkuvhkh6eiMY1d7
        status: 201 Created
        code: 201
        duration: 1.878513792s
    - id: 1
      request:
        host: oie-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/governance/api/v2/resources/0oaoum6j3cElINe1z1d7/request-conditions/rco11lkuvhkh6eiMY1d7
        method: GET
      response:
        body: '{"requesterSettings":{"type":"EVERYONE"},"accessScopeSettings":{"type":"RESOURCE_DEFAULT"},"approvalSequenceId":"68920b41386747a673869356","name":"test-condition","id":"rco11lkuvhkh6eiMY1d7","createdBy":"00unkw1sfbTw08c0g1d7","created":"2025-09-17T18:23:59Z","lastUpdated":"2025-09-17T18:23:59Z","lastUpdatedBy":"00unkw1sfbTw08c0g1d7","_links":{"self":{"href":"https://oie-00-admin.dne-okta.com/governance/api/v2/resources/0oaoum6j3cElINe1z1d7/request-conditions/rco11lkuvhkh6eiMY1d7","hints":{}}},"status":"INACTIVE","priority":0}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.074946584s
[...]
    - id: 3
      request:
        host: oie-00.dne-okta.com
        body: |
            {"accessScopeSettings":{"type":"RESOURCE_DEFAULT"},"approvalSequenceId":"68920b41386747a673869356","name":"test-condition","priority":0,"requesterSettings":{"groups":[{"id":"00gnkw1sdqL30MdGk1d7"}],"type":"GROUPS"}}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://oie-00.dne-okta.com/governance/api/v2/resources/0oaoum6j3cElINe1z1d7/request-conditions/rco11lkuvhkh6eiMY1d7
        method: PATCH
      response:
        body: '{"requesterSettings":{"type":"GROUPS","groups":[{"id":"00gnkw1sdqL30MdGk1d7"}]},"accessScopeSettings":{"type":"RESOURCE_DEFAULT"},"approvalSequenceId":"68920b41386747a673869356","name":"test-condition","id":"rco11lkuvhkh6eiMY1d7","createdBy":"00unkw1sfbTw08c0g1d7","created":"2025-09-17T18:23:59Z","lastUpdated":"2025-09-17T18:24:04Z","lastUpdatedBy":"00unkw1sfbTw08c0g1d7","_links":{"self":{"href":"https://oie-00-admin.dne-okta.com/governance/api/v2/resources/0oaoum6j3cElINe1z1d7/request-conditions/rco11lkuvhkh6eiMY1d7","hints":{}}},"status":"INACTIVE","priority":0}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 2.061645084s
[...]
