---
version: 2
interactions:
    - id: 0
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/brands
        method: GET
      response:
        body: '[{"id":"bnd5qwjvgpotf2LV51d7","name":"New Brand","removePoweredByOkta":true,"customPrivacyPolicyUrl":"https://example.com/privacy-policy-updated","agreeToCustomPrivacyPolicy":true,"isDefault":true,"defaultApp":{"appInstanceId":null,"appLinkName":null,"classicApplicationUri":null},"_links":{"themes":{"href":"https://oie-00.oktapreview.com/api/v1/brands/bnd5qwjvgpotf2LV51d7/themes","hints":{"allow":["GET"]}},"self":{"href":"https://oie-00.oktapreview.com/api/v1/brands/bnd5qwjvgpotf2LV51d7","hints":{"allow":["GET","PUT","DELETE"]}}}},{"id":"bnd9i6wns4SKwJO841d7","name":"testacc-1169019695.example.com","removePoweredByOkta":false,"customPrivacyPolicyUrl":null,"agreeToCustomPrivacyPolicy":false,"isDefault":false,"defaultApp":{"appInstanceId":"0oa5qwjvixUgETvka1d7","appLinkName":null,"classicApplicationUri":null},"_links":{"themes":{"href":"https://oie-00.oktapreview.com/api/v1/brands/bnd9i6wns4SKwJO841d7/them[...]
[...]
    - id: 2
      request:
        host: oie-00.dne-okta.com
        body: |
            {"brandId":"bnd9bp9qjr4Jeov7o1d7","displayName":"test","domain":"testAcc-386351645.example.com","userName":"fff"}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://oie-00.dne-okta.com/api/v1/email-domains
        method: POST
      response:
        body: '{"id":"OeD9i75zu2FqVJrW61d7","validationStatus":"NOT_STARTED","displayName":"test","userName":"fff","domain":"testAcc-386351645.example.com","dnsValidationRecords":[{"recordType":"TXT","fqdn":"_oktaverification.testAcc-386351645.example.com","verificationValue":"a56d2316f2e14a6bbf678099a0911a33"},{"recordType":"cname","fqdn":"mail.testacc-386351645.example.com","verificationValue":"u17770251.wl002.sendgrid.net"},{"recordType":"cname","fqdn":"p03._domainkey.testacc-386351645.example.com","verificationValue":"p03.domainkey.u17770251.wl002.sendgrid.net"},{"recordType":"cname","fqdn":"p032._domainkey.testacc-386351645.example.com","verificationValue":"p032.domainkey.u17770251.wl002.sendgrid.net"}]}'
        headers:
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 545.604078ms
    - id: 3
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/email-domains/OeD9i75zu2FqVJrW61d7
        method: GET
      response:
        body: '{"id":"OeD9i75zu2FqVJrW61d7","validationStatus":"NOT_STARTED","displayName":"test","userName":"fff","domain":"testAcc-386351645.example.com","dnsValidationRecords":[{"recordType":"TXT","fqdn":"_oktaverification.testAcc-386351645.example.com","verificationValue":"a56d2316f2e14a6bbf678099a0911a33"},{"recordType":"cname","fqdn":"mail.testacc-386351645.example.com","verificationValue":"u17770251.wl002.sendgrid.net"},{"recordType":"cname","fqdn":"p03._domainkey.testacc-386351645.example.com","verificationValue":"p03.domainkey.u17770251.wl002.sendgrid.net"},{"recordType":"cname","fqdn":"p032._domainkey.testacc-386351645.example.com","verificationValue":"p032.domainkey.u17770251.wl002.sendgrid.net"}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 78.491327ms
[...]
