---
version: 2
interactions:
    - id: 0
      request:
        host: oie-00.dne-okta.com
        body: |
            {"profile":{"name":"testAcc_322766309","description":"testing import"}}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://oie-00.dne-okta.com/api/v1/groups
        method: POST
      response:
        body: '{"id":"00gym0tz5bYNtkn0x1d7","created":"2026-05-11T09:14:59.000Z","lastUpdated":"2026-05-11T09:14:59.000Z","lastMembershipUpdated":"2026-05-11T09:14:59.000Z","objectClass":["okta:user_group"],"type":"OKTA_GROUP","profile":{"name":"testAcc_322766309","description":"testing import"},"_links":{"logo":[{"name":"medium","href":"https://op3static2.oktacdn.com/assets/img/logos/groups/odyssey/okta-medium.30ce6d4085dff29412984e4c191bc874.png","type":"image/png"},{"name":"large","href":"https://op3static2.oktacdn.com/assets/img/logos/groups/odyssey/okta-large.c3cb8cda8ae0add1b4fe928f5844dbe3.png","type":"image/png"}],"owners":{"href":"https://oie-00.dne-okta.com/api/v1/groups/00gym0tz5bYNtkn0x1d7/owners"},"users":{"href":"https://oie-00.dne-okta.com/api/v1/groups/00gym0tz5bYNtkn0x1d7/users"},"apps":{"href":"https://oie-00.dne-okta.com/api/v1/groups/00gym0tz5bYNtkn0x1d7/apps"}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.151704916s
    - id: 1
      request:
        host: oie-00.dne-okta.com
        body: |
            {"credentials":{"password":{}},"profile":{"email":"import-testAcc2-322766309@example.com","firstName":"ImportTestAcc2","lastName":"User","login":"import-testAcc2-322766309@example.com","postalAddress":null}}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://oie-00.dne-okta.com/api/v1/users
        method: POST
      response:
        body: '{"id":"00uym0v2hvYmVDRfe1d7","status":"PROVISIONED","created":"2026-05-11T09:14:59.000Z","activated":"2026-05-11T09:15:00.000Z","statusChanged":"2026-05-11T09:15:00.000Z","lastLogin":null,"lastUpdated":"2026-05-11T09:15:00.000Z","passwordChanged":null,"realmId":"guonkwfhlqM6PFD8m1d7","type":{"id":"otynkw1sdzpoFCZMq1d7"},"profile":{"firstName":"ImportTestAcc2","lastName":"User","mobilePhone":null,"secondEmail":null,"login":"import-testAcc2-322766309@example.com","email":"import-testAcc2-322766309@example.com"},"credentials":{"provider":{"type":"OKTA","name":"OKTA"}},"_links":{"suspend":{"href":"https://oie-00.dne-okta.com/api/v1/users/00uym0v2hvYmVDRfe1d7/lifecycle/suspend","method":"POST"},"schema":{"href":"https://oie-00.dne-okta.com/api/v1/meta/schemas/user/oscnkw1sdzpoFCZMq1d7"},"resetPassword":{"href":"https://oie-00.dne-okta.com/api/v1/users/00uym0v2hvYmVDRfe1d7/lifecycle/reset_password","method":"POST"},"reactivate":{"href":"https://oie-00.dne-okta.com/api/v1/users/00uym0v2hvYmVDRfe1d7/lifecycle/reactivate","method":"POST"},"self":{"href":"https://oie-00.dne-okta.com/api/v1/users/00uym0v2hvYmVDRfe1d7"},"resetFactors":{"href":"https://oie-00.dne-okta.com/api/v1/users/00uym0v2hvYmVDRfe1d7/lifecycle/reset_factors","method":"POST"},"type":{"href":"https://oie-00.dne-okta.com/api/v1/meta/types/user/otynkw1sdzpoFCZMq1d7"},"deactivate":{"href":"https://oie-00.dne-okta.com/api/v1/users/00uym0v2hvYmVDRfe1d7/lifecycle/deactivate","method":"POST"}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.56821275s
[...]
    - id: 3
      request:
        host: oie-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/groups/00gym0tz5bYNtkn0x1d7
        method: GET
      response:
        body: '{"id":"00gym0tz5bYNtkn0x1d7","created":"2026-05-11T09:14:59.000Z","lastUpdated":"2026-05-11T09:14:59.000Z","lastMembershipUpdated":"2026-05-11T09:14:59.000Z","objectClass":["okta:user_group"],"type":"OKTA_GROUP","profile":{"name":"testAcc_322766309","description":"testing import"},"_links":{"logo":[{"name":"medium","href":"https://op3static2.oktacdn.com/assets/img/logos/groups/odyssey/okta-medium.30ce6d4085dff29412984e4c191bc874.png","type":"image/png"},{"name":"large","href":"https://op3static2.oktacdn.com/assets/img/logos/groups/odyssey/okta-large.c3cb8cda8ae0add1b4fe928f5844dbe3.png","type":"image/png"}],"owners":{"href":"https://oie-00.dne-okta.com/api/v1/groups/00gym0tz5bYNtkn0x1d7/owners"},"users":{"href":"https://oie-00.dne-okta.com/api/v1/groups/00gym0tz5bYNtkn0x1d7/users"},"apps":{"href":"https://oie-00.dne-okta.com/api/v1/groups/00gym0tz5bYNtkn0x1d7/apps"}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.089119458s
    - id: 4
      request:
        host: oie-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/users/00uym0v2hvYmVDRfe1d7
        method: GET
      response:
        body: '{"id":"00uym0v2hvYmVDRfe1d7","status":"PROVISIONED","created":"2026-05-11T09:14:59.000Z","activated":"2026-05-11T09:15:00.000Z","statusChanged":"2026-05-11T09:15:00.000Z","lastLogin":null,"lastUpdated":"2026-05-11T09:15:00.000Z","passwor[...]
    - id: 5
      request:
        host: oie-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/users/00uym0uet2hE5CKyo1d7
        method: GET
      response:
        body: '{"id":"00uym0uet2hE5CKyo1d7","status":"PROVISIONED","created":"2026-05-11T09:14:59.000Z","activated":"2026-05-11T09:15:00.000Z","statusChanged":"2026-05-11T09:15:00.000Z","lastLogin":null,"lastUpdated":"2026-05-11T09:15:00.000Z","passwor[...]
[...]
    - id: 7
      request:
        host: oie-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/groups/00gym0tz5bYNtkn0x1d7/users/00uym0v2hvYmVDRfe1d7
        method: PUT
      response:
        body: ""
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
        status: 204 No Content
        code: 204
        duration: 1.082933667s
    - id: 8
      request:
        host: oie-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/groups/00gym0tz5bYNtkn0x1d7/users/00uym0uet2hE5CKyo1d7
        method: PUT
      response:
        body: ""
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
        status: 204 No Content
        code: 204
        duration: 1.160649875s
    - id: 9
      request:
        host: oie-00.dne-okta.com
        form:
            limit:
                - "200"
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/groups/00gym0tz5bYNtkn0x1d7/users?limit=200
        method: GET
      response:
        body: '[{"id":"00uym0v2hvYmVDRfe1d7","status":"PROVISIONED","created":"2026-05-11T09:14:59.000Z","activated":"2026-05-11T09:15:00.000Z","statusChanged":"2026-05-11T09:15:00.000Z","lastLogin":null,"lastUpdated":"2026-05-11T09:15:00.000Z","passwordChanged":null,"realmId":"guonkwfhlqM6PFD8m1d7","type":{"id":"otynkw1sdzpoFCZMq1d7"},"profile":{"firstName":"ImportTestAcc2","lastName":"User","mobilePhone":null,"secondEmail":null,"login":"import-testAcc2-322766309@example.com","email":"import-testAcc2-322766309@example.com"},"credentials":{"provider":{"type":"OKTA","name":"OKTA"}},"_links":{"self":{"href":"https://oie-00.dne-okta.com/api/v1/users/00uym0v2hvYmVDRfe1d7"}}}]'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
            Link:
                - <https://oie-00.dne-okta.com/api/v1/groups/00gym0tz5bYNtkn0x1d7/users?limit=200>; rel="self"
        status: 200 OK
        code: 200
        duration: 1.116670584s
[...]
