---
version: 2
interactions:
    - id: 0
      request:
        host: mm-classic-2022-10-04.oktapreview.com
        body: |
            {"credentials":{"password":{}},"profile":{"email":"testAcc-j93vve0mir@example.com","firstName":"TestAcc","lastName":"j93vve0mir","login":"testAcc-j93vve0mir@example.com","notValid":"this-isnt-valid","postalAddress":null}}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://mm-classic-2022-10-04.oktapreview.com/api/v1/users
        method: POST
      response:
        body: '{"errorCode":"E0000001","errorSummary":"Api validation failed: newUser","errorLink":"E0000001","errorId":"oaeW0_Q2j-HTPOaYqmRBWvWKQ","errorCauses":[{"errorSummary":"Property name ''notValid'' is not defined in profile"}]}'
        headers:
            Content-Type:
                - application/json
        status: 400 Bad Request
        code: 400
        duration: 239.305537ms
