---
version: 1
interactions:
- request:
    body: |
      {"credentials":{"password":{}},"profile":{"email":"testAcc-6d1fxwj7pj@example.com","firstName":"TestAcc","lastName":"6d1fxwj7pj","login":"testAcc-6d1fxwj7pj@example.com","notValid":"this-isnt-valid","postalAddress":null}}
    form: {}
    headers:
      Authorization:
      - SSWS REDACTED
      Content-Type:
      - application/json
    url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/users
    method: POST
  response:
    body: '{"errorCode":"E0000001","errorSummary":"Api validation failed: newUser","errorLink":"E0000001","errorId":"oaeZMN9UNUFTF2pStfuC9mMNQ","errorCauses":[{"errorSummary":"Property name ''notValid'' is not defined in profile"}]}'
    headers:
      Content-Type:
      - application/json
    status: 400 Bad Request
    code: 400
    duration: ""
