---
version: 1
interactions:
- request:
    body: |
      {"credentials":{"password":{}},"profile":{"email":"testAcc-9zlbpdr72u@example.com","firstName":"TestAcc","lastName":"9zlbpdr72u","login":"testAcc-9zlbpdr72u@example.com","notValid":"this-isnt-valid","postalAddress":null}}
    form: {}
    headers:
      Authorization:
      - SSWS REDACTED
      Content-Type:
      - application/json
    url: https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/users
    method: POST
  response:
    body: '{"errorCode":"E0000001","errorSummary":"Api validation failed: newUser","errorLink":"E0000001","errorId":"oaelNohq1ixStS8ziM-Z1Y9Pw","errorCauses":[{"errorSummary":"Property
      name ''notValid'' is not defined in profile"}]}'
    headers:
      Content-Type:
      - application/json
    status: 400 Bad Request
    code: 400
    duration: ""
