---
version: 2
interactions:
- id: 0
  request:
    host: classic-00.dne-okta.com
    body: "{\"credentials\":{\"password\":{}},\"profile\":{\"email\":\"testAcc_2654458437@example.com\",\"firstName\":\"TestAcc\",\"lastName\":\"Smith\",\"login\":\"testAcc_2654458437@example.com\",\"postalAddress\":null}}\n"
    headers:
      Authorization:
      - SSWS REDACTED
      Content-Type:
      - application/json
    url: https://classic-00.dne-okta.com/api/v1/users
    method: POST
  response:
    body: "{\"id\":\"00urqpdv86WZEKrzt1d7\",\"status\":\"PROVISIONED\",\"created\":\"2025-11-11T08:36:36.000Z\",\"activated\":\"2025-11-11T08:36:37.000Z\",\"statusChanged\":\"2025-11-11T08:36:37.000Z\",\"lastLogin\":null,\"lastUpdated\":\"2025-11-11T08:36:37.000Z\",\"passwordChanged\":null,\"realmId\":\"guonkwfhlqM6PFD8m1d7\",\"type\":{\"id\":\"otynkw1sdzpoFCZMq1d7\"},\"profile\":{\"firstName\":\"TestAcc\",\"lastName\":\"Smith\",\"mobilePhone\":null,\"secondEmail\":null,\"login\":\"testAcc_2654458437@example.com\",\"email\":\"testAcc_2654458437@example.com\"},\"credentials\":{\"provider\":{\"type\":\"OKTA\",\"name\":\"OKTA\"}},\"_links\":{\"suspend\":{\"href\":\"https://classic-00/api/v1/users/00urqpdv86WZEKrzt1d7/lifecycle/suspend\",\"method\":\"POST\"},\"schema\":{\"href\":\"https://classic-00/api/v1/meta/schemas/user/oscnkw1sdzpoFCZMq1d7\"},\"resetPassword\":{\"href\":\"https://classic-00/api/v1/users/00urqpdv86WZEKrzt1d7/lifecycle/reset_password\",\"method\":\"POST\"},\"reactivate\":{\"href\":\"https://classic-00/api/v1/users/00urqpdv86WZEKrzt1d7/lifecycle/reactivate\",\"method\":\"POST\"},\"self\":{\"href\":\"https://classic-00/api/v1/users/00urqpdv86WZEKrzt1d7\"},\"resetFactors\":{\"href\":\"https://classic-00/api/v1/users/00urqpdv86WZEKrzt1d7/lifecycle/reset_factors\",\"method\":\"POST\"},\"type\":{\"href\":\"https://classic-00/api/v1/meta/types/user/otynkw1sdzpoFCZMq1d7\"},\"deactivate\":{\"href\":\"https://classic-00/api/v1/users/00urqpdv86WZEKrzt1d7/lifecycle/deactivate\",\"method\":\"POST\"}}}"
    headers:
      Accept-Ch:
      - Sec-CH-UA-Platform-Version
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 2.424900333s
- id: 1
  request:
    host: classic-00.dne-okta.com
    body: "{\"accessibility\":{},\"credentials\":{\"oauthClient\":{\"autoKeyRotation\":true,\"pkce_required\":false,\"token_endpoint_auth_method\":\"client_secret_basic\"},\"userNameTemplate\":{\"template\":\"${source.login}\",\"type\":\"BUILT_IN\"}},\"label\":\"testAcc_2654458437\",\"name\":\"oidc_client\",\"settings\":{\"notes\":{},\"oauthClient\":{\"application_type\":\"web\",\"consent_method\":\"TRUSTED\",\"dpop_bound_access_tokens\":false,\"grant_types\":[\"authorization_code\",\"implicit\"],\"issuer_mode\":\"ORG_URL\",\"redirect_uris\":[\"http://d.com/\"],\"response_types\":[\"code\",\"token\",\"id_token\"],\"wildcard_redirect\":\"DISABLED\"}},\"signOnMode\":\"OPENID_CONNECT\",\"visibility\":{\"hide\":{\"iOS\":true,\"web\":true}}}\n"
    form:
      activate:
      - "true"
    headers:
      Authorization:
      - SSWS REDACTED
      Content-Type:
      - application/json
    url: https://classic-00.dne-okta.com/api/v1/apps?activate=true
    method: POST
  response:
    body: "{\"id\":\"0oarqp3kvyVF9NJm11d7\",\"orn\":\"orn:oktapreview:idp:00onkw1sbuAh3Q06I1d7:apps:oidc_client:0oarqp3kvyVF9NJm11d7\",\"name\":\"oidc_client\",\"label\":\"testAcc_2654458437\",\"status\":\"ACTIVE\",\"lastUpdated\":\"2025-11-11T08:36:38.000Z\",\"created\":\"2025-11-11T08:36:36.000Z\",\"accessibility\":{\"selfService\":false,\"errorRedirectUrl\":null,\"loginRedirectUrl\":null},\"visibility\":{\"autoLaunch\":false,\"autoSubmitToolbar\":false,\"hide\":{\"iOS\":true,\"web\":true},\"appLinks\":{\"oidc_client_link\":true}},\"features\":[],\"signOnMode\":\"OPENID_CONNECT\",\"credentials\":{\"userNameTemplate\":{\"template\":\"${source.login}\",\"type\":\"BUILT_IN\"},\"signing\":{\"kid\":\"sALQDM5PBTRR6dsVDGloCQexOBDrJNwQmFiZuWur7eo\"},\"oauthClient\":{\"autoKeyRotation\":true,\"client_id\":\"0oarqp3kvyVF9NJm11d7\",\"client_secret\":\"-OzFgNJOBRhDZ2LP6aO4CHdZDgEBxMC42BlmXqduKuNVc_dUR03G5YtWIwRmkZf6\",\"token_endpoint_auth_method\":\"client_secret_basic\",\"pkce_required\":false}},\"universalLogout\":{\"status\":\"DISABLED\",\"supportType\":\"FULL\",\"identityStack\":\"NOT_SHARED\",\"protocol\":\"GLOBAL_TOKEN_REVOCATION\"},\"settings\":{\"app\":{},\"notifications\":{\"vpn\":{\"network\":{\"connection\":\"DISABLED\"},\"message\":null,\"helpUrl\":null}},\"manualProvisioning\":false,\"implicitAssignment\":false,\"emOptInStatus\":\"NONE\",\"notes\":{\"admin\":null,\"enduser\":null},\"oauthClient\":{\"client_uri\":null,\"logo_uri\":null,\"redirect_uris\":[\"http://d.com/\"],\"response_types\":[\"code\",\"token\",\"id_token\"],\"grant_types\":[\"authorization_code\",\"implicit\"],\"application_type\":\"web\",\"consent_method\":\"TRUSTED\",\"issuer_mode\":\"ORG_URL\",\"idp_initiated_login\":{\"mode\":\"DISABLED\",\"default_scope\":[]},\"wildcard_redirect\":\"DISABLED\",\"dpop_bound_access_tokens\":false,\"participate_slo\":false}},\"_links\":{\"uploadLogo\":{\"href\":\"https://classic-00/api/v1/apps/0oarqp3kvyVF9NJm11d7/logo\",\"hints\":{\"allow\":[\"POST\"]}},\"appLinks\":[{\"name\":\"oidc_client_link\",\"href\":\"https://classic-00/home/oidc_client/0oarqp3kvyVF9NJm11d7/aln177a159h7Zf52X0g8\",\"type\":\"text/html\"}],\"profileEnrollment\":{\"href\":\"https://classic-00/api/v1/policies/rstnkw1sgzCwhJaUs1d7\"},\"policies\":{\"href\":\"https://classic-00/api/v1/apps/0oarqp3kvyVF9NJm11d7/policies\",\"hints\":{\"allow\":[\"PUT\"]}},\"groups\":{\"href\":\"https://classic-00/api/v1/apps/0oarqp3kvyVF9NJm11d7/groups\"},\"logo\":[{\"name\":\"medium\",\"href\":\"https://op3static2.oktacdn.com/assets/img/logos/default.6770228fb0dab49a1695ef440a5279bb.png\",\"type\":\"image/png\"}],\"clientCredentials\":[{\"name\":\"secrets\",\"href\":\"https://classic-00/api/v1/apps/0oarqp3kvyVF9NJm11d7/credentials/secrets\"}],\"accessPolicy\":{\"href\":\"https://classic-00/api/v1/policies/rstnkw1sgxfqkDUtx1d7\"},\"users\":{\"href\":\"https://classic-00/api/v1/apps/0oarqp3kvyVF9NJm11d7/users\"},\"deactivate\":{\"href\":\"https://classic-00/api/v1/apps/0oarqp3kvyVF9NJm11d7/lifecycle/deactivate\"}}}"
    headers:
      Accept-Ch:
      - Sec-CH-UA-Platform-Version
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 2.651853667s
- id: 2
  request:
    host: classic-00.dne-okta.com
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://classic-00.dne-okta.com/api/v1/users/00urqpdv86WZEKrzt1d7
    method: GET
  response:
    body: "{\"id\":\"00urqpdv86WZEKrzt1d7\",\"status\":\"PROVISIONED\",\"created\":\"2025-11-11T08:36:36.000Z\",\"activated\":\"2025-11-11T08:36:37.000Z\",\"statusChanged\":\"2025-11-11T08:36:37.000Z\",\"lastLogin\":null,\"lastUpdated\":\"2025-11-11T08:36:37.000Z\",\"passwordChanged\":nu[...]
- id: 3
  request:
    host: classic-00.dne-okta.com
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://classic-00.dne-okta.com/.well-known/okta-organization
    method: GET
  response:
    body: "{\"id\":\"00onkw1sbuAh3Q06I1d7\",\"cell\":\"op3\",\"_links\":{\"organization\":{\"href\":\"https://classic-00\"}},\"pipeline\":\"idx\",\"settings\":{\"analyticsCollectionEnabled\":false,\"bugReportingEnabled\":true,\"omEnabled\":false,\"pssoEnabled\":true,\"desktopMFAEnabled\":true,\"itpEnabled\":true}}"
    headers:
      Accept-Ch:
      - Sec-CH-UA-Platform-Version
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 975.551167ms
- id: 4
  request:
    host: classic-00.dne-okta.com
    form:
      type:
      - ACCESS_POLICY
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://classic-00.dne-okta.com/api/v1/policies?type=ACCESS_POLICY
    method: GET
  response:
    body: "[{\"id\":\"rstnkw1sg2fWHAvjK1d7\",\"status\":\"ACTIVE\",\"name\":\"Okta Admin Console\",\"priority\":1,\"system\":false,\"conditions\":null,\"created\":\"2025-06-26T15:51:39.000Z\",\"lastUpdated\":\"2025-06-26T15:51:39.000Z\",\"_links\":{\"mappings\":{\"href\":\"https://classic-00/api/v1/policies/rstnkw1sg2fWHAvjK1d7/mappings\",\"hints\":{\"allow\":[\"GET\",\"POST\"]}},\"self\":{\"href\":\"https://classic-00/api/v1/policies/rstnkw1sg2fWHAvjK1d7\",\"hints\":{\"allow\":[\"GET\",\"PUT\",\"DELETE\"]}},\"rules\":{\"href\":\"https://classic-00/api/v1/policies/rstnkw1sg2fWHAvjK1d7/rules\",\"hints\":{\"allow\":[\"GET\",\"POST\"]}},\"deactivate\":{\"href\":\"https://classic-00/api/v1/policies/rstnkw1sg2fWHAvjK1d7/lifecycle/deactivate\",\"hints\":{\"allow\":[\"POST\"]}}},\"_embedded\":{\"resourceType\":\"APP\"},\"type\":\"ACCESS_POLICY\"},{\"id\":\"rstnkw1sg9IQmPCLu1d7\",\"status\":\"ACTIVE\",\"name\":\"Okta Dashboard\",\"priority\":1,\"system\":false,\"conditions\":null,\"created\":\"2025-06-26T15:51:39.000Z\",\"lastUpdated\":\"2025-06-26T15:51:39.000Z\",\"_links\":{\"mappings\":{\"href\":\"https://classic-00/api/v1/policies/rstnkw1sg9IQmPCLu1d7/mappings\",\"hints\":{\"allow\":[\"GET\",\"POST\"]}},\"self\":{\"href\":\"https://classic-00/api/v1/policies/rstnkw1sg9IQmPCLu1d7\",\"hints\":{\"allo[...]
- id: 5
  request:
    host: classic-00.dne-okta.com
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://classic-00.dne-okta.com/api/v1/apps/0oarqp3kvyVF9NJm11d7/policies/rstnkw1sgxfqkDUtx1d7
    method: PUT
  response:
    body: ""
    headers:
      Accept-Ch:
      - Sec-CH-UA-Platform-Version
    status: 204 No Content
    code: 204
    duration: 2.557811s
- id: 6
  request:
    host: classic-00.dne-okta.com
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://classic-00.dne-okta.com/api/v1/apps/0oarqp3kvyVF9NJm11d7
    method: GET
  response:
    body: "{\"id\":\"0oarqp3kvyVF9NJm11d7\",\"orn\":\"orn:oktapreview:idp:00onkw1sbuAh3Q06I1d7:apps:oidc_client:0oarqp3kvyVF9NJm11d7\",\"name\":\"oidc_client\",\"label\":\"testAcc_2654458437\",\"status\":\"ACTIVE\",\"lastUpdated\":\"2025-11-11T08:36:38.000Z\",\"created\":\"2025-11-11T08:3[...]
- id: 7
  request:
    host: classic-00.dne-okta.com
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://classic-00.dne-okta.com/api/v1/internal/apps/0oarqp3kvyVF9NJm11d7/settings/oauth/idToken
    method: GET
  response:
    body: "{\"issuer\":\"https://classic-00\",\"orgUrl\":null,\"customUrl\":null,\"audience\":\"0oarqp3kvyVF9NJm11d7\",\"issuerMode\":\"ORG_URL\"}"
    headers:
      Accept-Ch:
      - Sec-CH-UA-Platform-Version
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 1.012910458s
[...]
- id: 9
  request:
    host: classic-00.dne-okta.com
    body: "{\"credentials\":{\"password\":{},\"userName\":\"testAcc_2654458437@example.com\"},\"id\":\"00urqpdv86WZEKrzt1d7\"}\n"
    headers:
      Authorization:
      - SSWS REDACTED
      Content-Type:
      - application/json
    url: https://classic-00.dne-okta.com/api/v1/apps/0oarqp3kvyVF9NJm11d7/users
    method: POST
  response:
    body: "{\"id\":\"00urqpdv86WZEKrzt1d7\",\"externalId\":null,\"created\":\"2025-11-11T08:36:47.000Z\",\"lastUpdated\":\"2025-11-11T08:36:47.000Z\",\"scope\":\"USER\",\"status\":\"ACTIVE\",\"statusChanged\":\"2025-11-11T08:36:47.000Z\",\"passwordChanged\":null,\"syncState\":\"DISABLED\",\"credentials\":{\"userName\":\"testAcc_2654458437@example.com\"},\"profile\":{\"street_address\":null,\"country\":null,\"website\":null,\"zoneinfo\":\"America/Los_Angeles\",\"birthdate\":null,\"gender\":null,\"formatted\":null,\"profile\":null,\"locality\":null,\"given_name\":\"TestAcc\",\"middle_name\":null,\"locale\":\"en_US\",\"picture\":null,\"name\":\"TestAcc Smith\",\"nickname\":null,\"phone_number\":null,\"region\":null,\"postal_code\":null,\"family_name\":\"Smith\",\"email\":\"testAcc_2654458437@example.com\"},\"_links\":{\"app\":{\"href\":\"https://classic-00/api/v1/apps/0oarqp3kvyVF9NJm11d7\"},\"user\":{\"href\":\"https://classic-00/api/v1/users/00urqpdv86WZEKrzt1d7\"}}}"
    headers:
      Accept-Ch:
      - Sec-CH-UA-Platform-Version
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 1.109705292s
[...]
- id: 11
  request:
    host: classic-00.dne-okta.com
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://classic-00.dne-okta.com/api/v1/apps/0oarqp3kvyVF9NJm11d7/users/00urqpdv86WZEKrzt1d7
    method: GET
  response:
    body: "{\"id\":\"00urqpdv86WZEKrzt1d7\",\"externalId\":null,\"created\":\"2025-11-11T08:36:47.000Z\",\"lastUpdated\":\"2025-11-11T08:36:47.000Z\",\"scope\":\"USER\",\"status\":\"ACTIVE\",\"statusChanged\":\"2025-11-11T08:36:47.000Z\",\"passwordChanged\":null,\"syncState\":\"DISABLED\",\"credentials\":{\"userName\":\"testAcc_2654458437@example.com\"},\"profile\":{\"street_address\":null,\"country\":null,\"website\":null,\"zoneinfo\":\"America/Los_Angeles\",\"birthdate\":null,\"gender\":null,\"formatted\":null,\"profile\":null,\"locality\":null,\"given_name\":\"TestAcc\",\"middle_name\":null,\"locale\":\"en_US\",\"picture\":null,\"name\":\"TestAcc Smith\",\"nickname\":null,\"phone_number\":null,\"region\":null,\"postal_code\":null,\"family_name\":\"Smith\",\"email\":\"testAcc_2654458437@example.com\"},\"_links\":{\"app\":{\"href\":\"https://classic-00/api/v1/apps/0oarqp3kvyVF9NJm11d7\"},\"user\":{\"href\":\"https://classic-00/api/v1/users/00urqpdv86WZEKrzt1d7\"}}}"
    headers:
      Accept-Ch:
      - Sec-CH-UA-Platform-Version
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 1.274986625s
- id: 12
  request:
    host: classic-00.dne-okta.com
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://classic-00.dne-okta.com/api/v1/apps/0oarqp3kvyVF9NJm11d7/users
    method: GET
  response:
    body: "[{\"id\":\"00urqpdv86WZEKrzt1d7\",\"externalId\":null,\"created\":\"2025-11-11T08:36:47.000Z\",\"lastUpdated\":\"2025-11-11T08:36:47.000Z\",\"scope\":\"USER\",\"status\":\"ACTIVE\",\"statusChanged\":\"2025-11-11T08:36:47.000Z\",\"passwordChanged\":null,\"syncState\":\"DISABLED\",\"credentials\":{\"userName\":\"testAcc_2654458437@example.com\"},\"profile\":{\"street_address\":null,\"country\":null,\"website\":null,\"zoneinfo\":\"America/Los_Angeles\",\"birthdate\":null,\"gender\":null,\"formatted\":null,\"profile\":null,\"locality\":null,\"given_name\":\"TestAcc\",\"middle_name\":null,\"locale\":\"en_US\",\"picture\":null,\"name\":\"TestAcc Smith\",\"nickname\":null,\"phone_number\":null,\"region\":null,\"postal_code\":null,\"family_name\":\"Smith\",\"email\":\"testAcc_2654458437@example.com\"},\"_links\":{\"app\":{\"href\":\"https://classic-00/api/v1/apps/0oarqp3kvyVF9NJm11d7\"},\"user\":{\"href\":\"https://classic-00/api/v1/users/00urqpdv86WZEKrzt1d7\"}}}]"
    headers:
      Accept-Ch:
      - Sec-CH-UA-Platform-Version
      Content-Type:
      - application/json
      Link:
      - <https://dcp-testing-oig-2025-06-26.oktapreview.com/api/v1/apps/0oarqp3kvyVF9NJm11d7/users?limit=50>; rel="self"
    status: 200 OK
    code: 200
    duration: 1.279473417s
[...]
- id: 22
  request:
    host: classic-00.dne-okta.com
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://classic-00.dne-okta.com/api/v1/apps/0oarqp3kvyVF9NJm11d7/lifecycle/deactivate
    method: POST
  response:
    body: "{}"
    headers:
      Accept-Ch:
      - Sec-CH-UA-Platform-Version
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 2.357322834s
[...]
