---
version: 2
interactions:
    - id: 0
      request:
        host: oie-00.dne-okta.com
        body: |
            {"credentials":{"password":{}},"profile":{"email":"testAcc_2654458437@example.com","firstName":"TestAcc","lastName":"Smith","login":"testAcc_2654458437@example.com","postalAddress":null}}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://oie-00.dne-okta.com/api/v1/users
        method: POST
      response:
        body: '{"id":"00uu07fcbuFasAIPm697","status":"PROVISIONED","created":"2025-08-08T08:03:18.000Z","activated":"2025-08-08T08:03:19.000Z","statusChanged":"2025-08-08T08:03:19.000Z","lastLogin":null,"lastUpdated":"2025-08-08T08:03:19.000Z","passwordChanged":null,"type":{"id":"otysd501z4FflZKvj697"},"profile":{"firstName":"TestAcc","lastName":"Smith","mobilePhone":null,"secondEmail":null,"login":"testAcc_2654458437@example.com","email":"testAcc_2654458437@example.com"},"credentials":{"provider":{"type":"OKTA","name":"OKTA"}},"_links":{"suspend":{"href":"https://oie-00.dne-okta.com/api/v1/users/00uu07fcbuFasAIPm697/lifecycle/suspend","method":"POST"},"schema":{"href":"https://oie-00.dne-okta.com/api/v1/meta/schemas/user/oscsd501z4FflZKvj697"},"resetPassword":{"href":"https://oie-00.dne-okta.com/api/v1/users/00uu07fcbuFasAIPm697/lifecycle/reset_password","method":"POST"},"reactivate":{"href":"https://oie-00.dne-okta.com/api/v1/users/00uu07fcbuFasAIPm697/lifecycle/reactivate","method":"POST"},"self":{"href":"https://oie-00.dne-okta.com/api/v1/users/00uu07fcbuFasAIPm697"},"resetFactors":{"href":"https://oie-00.dne-okta.com/api/v1/users/00uu07fcbuFasAIPm697/lifecycle/reset_factors","method":"POST"},"type":{"href":"https://oie-00.dne-okta.com/api/v1/meta/types/user/otysd501z4FflZKvj697"},"deactivate":{"href":"https://oie-00.dne-okta.com/api/v1/users/00uu07fcbuFasAIPm697/lifecycle/deactivate","method":"POST"}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 850.869584ms
    - id: 1
      request:
        host: oie-00.dne-okta.com
        body: |
            {"accessibility":{"selfService":false},"credentials":{"userNameTemplate":{"template":"${source.login}","type":"BUILT_IN"},"oauthClient":{"autoKeyRotation":true,"pkce_required":false,"token_endpoint_auth_method":"client_secret_basic"}},"label":"testAcc_2654458437","name":"oidc_client","settings":{"app":{},"implicitAssignment":false,"notes":{"admin":null,"enduser":null},"oauthClient":{"application_type":"web","consent_method":"TRUSTED","grant_types":["authorization_code","implicit"],"idp_initiated_login":{"default_scope":[],"mode":"DISABLED"},"issuer_mode":"ORG_URL","redirect_uris":["http://d.com/"],"response_types":["code","token","id_token"],"wildcard_redirect":"DISABLED"}},"signOnMode":"OPENID_CONNECT","visibility":{"autoSubmitToolbar":false,"hide":{"iOS":true,"web":true}}}
        form:
            activate:
                - "true"
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://oie-00.dne-okta.com/api/v1/apps?activate=true
        method: POST
      response:
        body: '{"id":"0oau07ddg5wwA8KvE697","orn":"orn:okta:idp:00osd501x0KyUtOul697:apps:oidc_client:0oau07ddg5wwA8KvE697","name":"oidc_client","label":"testAcc_2654458437","status":"ACTIVE","lastUpdated":"2025-08-08T08:03:19.000Z","created":"2025-08-08T08:03:19.000Z","accessibility":{"selfService":false,"errorRedirectUrl":null,"loginRedirectUrl":null},"visibility":{"autoLaunch":false,"autoSubmitToolbar":false,"hide":{"iOS":true,"web":true},"appLinks":{"oidc_client_link":true}},"features":[],"signOnMode":"OPENID_CONNECT","credentials":{"userNameTemplate":{"template":"${source.login}","type":"BUILT_IN"},"signing":{"kid":"EByxJjNUZhat2djCEjTepjBA4jWl48VkZssYvA9uVxI"},"oauthClient":{"autoKeyRotation":true,"client_id":"0oau07ddg5wwA8KvE697","client_secret":"jlNLRxjLtuD9m5VaP2WuCaVYshJ6lvR5bPqJaa0ONd84DZ3RyRFqV_MZ050AdHnZ","token_endpoint_auth_method":"client_secret_basic","pkce_required":false}},"universalLogout":null,"settings":{"app":{},"notifications":{"vpn":{"network":{"connection":"DISABLED"},"message":null,"helpUrl":null}},"manualProvisioning":false,"implicitAssignment":false,"emOptInStatus":"NONE","notes":{"admin":null,"enduser":null},"oauthClient":{"client_uri":null,"logo_uri":null,"redirect_uris":["http://d.com/"],"response_types":["code","token","id_token"],"grant_types":["authorization_code","implicit"],"application_type":"web","consent_method":"TRUSTED","issuer_mode":"ORG_URL","idp_initiated_login":{"mode":"DISABLED","default_scope":[]},"wildcard_redirect":"DISABLED","dpop_bound_access_tokens":false,"participate_slo":false}},"_links":{"uploadLogo":{"href":"https://oie-00.dne-okta.com/api/v1/apps/0oau07ddg5wwA8KvE697/logo","hints":{"allow":["POST"]}},"appLinks":[{"name":"oidc_client_link","href":"https://oie-00.dne-okta.com/home/oidc_client/0oau07ddg5wwA8KvE697/aln177a159h7Zf52X0g8","type":"text/html"}],"profileEnrollment":{"href":"https://oie-00.dne-okta.com/api/v1/policies/rstsd5022rAok3aFp697"},"policies":{"href":"https://oie-00.dne-okta.com/api/v1/apps/0oau07ddg5wwA8KvE697/policies","hints":{"allow":["PUT"]}},"groups":{"href":"https://oie-00.dne-okta.com/api/v1/apps/0oau07ddg5wwA8KvE697/groups"},"logo":[{"name":"medium","href":"https://ok14static.oktacdn.com/assets/img/logos/default.6770228fb0dab49a1695ef440a5279bb.png","type":"image/png"}],"clientCredentials":[{"name":"secrets","href":"https://oie-00.dne-okta.com/api/v1/apps/0oau07ddg5wwA8KvE697/credentials/secrets"}],"accessPolicy":{"href":"https://oie-00.dne-okta.com/api/v1/policies/rstsd5022pPoMSA4q697"},"users":{"href":"https://oie-00.dne-okta.com/api/v1/apps/0oau07ddg5wwA8KvE697/users"},"deactivate":{"href":"https://oie-00.dne-okta.com/api/v1/apps/0oau07ddg5wwA8KvE697/lifecycle/deactivate"}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.414608041s
    - id: 2
      request:
        host: oie-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/users/00uu07fcbuFasAIPm697
        method: GET
      response:
        body: '{"id":"00uu07fcbuFasAIPm697","status":"PROVISIONED","created":"2025-08-08T08:03:18.000Z","activated":"2025-08-08T08:03:19.000Z","statusChanged":"2025-08-08T08:03:19.000Z","lastLogin":null,"lastUpdated":"2025-08-08T08:03:19.000Z","passwor[...]
    - id: 3
      request:
        host: oie-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/.well-known/okta-organization
        method: GET
      response:
        body: '{"id":"00osd501x0KyUtOul697","cell":"ok14","_links":{"organization":{"href":"https://oie-00.dne-okta.com"}},"pipeline":"idx","settings":{"analyticsCollectionEnabled":true,"bugReportingEnabled":true,"omEnabled":false,"pssoEnabled":false,"desktopMFAEnabled":false,"itpEnabled":true}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 643.145125ms
    - id: 4
      request:
        host: oie-00.dne-okta.com
        form:
            type:
                - ACCESS_POLICY
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/policies?type=ACCESS_POLICY
        method: GET
      response:
        body: '[{"id":"rstsd5021voj5gb73697","status":"ACTIVE","name":"Okta Admin Console","priority":1,"system":false,"conditions":null,"created":"2025-06-16T00:28:16.000Z","lastUpdated":"2025-06-16T00:28:16.000Z","_links":{"mappings":{"href":"https://oie-00.dne-okta.com/api/v1/policies/rstsd5021voj5gb73697/mappings","hints":{"allow":["GET","POST"]}},"self":{"href":"https://oie-00.dne-okta.com/api/v1/policies/rstsd5021voj5gb73697","hints":{"allow":["GET","PUT","DELETE"]}},"rules":{"href":"https://oie-00.dne-okta.com/api/v1/policies/rstsd5021voj5gb73697/rules","hints":{"allow":["GET","POST"]}},"deactivate":{"href":"https://oie-00.dne-okta.com/api/v1/policies/rstsd5021voj5gb73697/lifecycle/deactivate","hints":{"allow":["POST"]}}},"_embedded":{"resourceType":"APP"},"type":"ACCESS_POLICY"},{"id":"rstsd50222gqdCXKi697","status":"ACTIVE","name":"Okta Dashboard","priority":1,"system":false,"conditions":null,"created":"2025-06-16T00:28:16.000Z","lastUpdated":"2025-06-16T00:28:16.000Z","_links":{"mappings":{"href":"https://oie-00.dne-okta.com/api/v1/policies/rstsd50222gqdCXKi697/mappings","hints":{"allow":["GET","POST"]}},"self":{"href":"https://oie-00.dne-okta.com/api/v1/policies/rstsd50222gqdCXKi697","hints":{"allow":["GET","PUT","DELETE"]}},"rules":{"h[...]
    - id: 5
      request:
        host: oie-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/apps/0oau07ddg5wwA8KvE697/policies/rstsd5022pPoMSA4q697
        method: PUT
      response:
        body: ""
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
        status: 204 No Content
        code: 204
        duration: 712.787375ms
    - id: 6
      request:
        host: oie-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/apps/0oau07ddg5wwA8KvE697
        method: GET
      response:
        body: '{"id":"0oau07ddg5wwA8KvE697","orn":"orn:okta:idp:00osd501x0KyUtOul697:apps:oidc_client:0oau07ddg5wwA8KvE697","name":"oidc_client","label":"testAcc_2654458437","status":"ACTIVE","lastUpdated":"2025-08-08T08:03:19.000Z","created":"2025-08-0[...]
    - id: 7
      request:
        host: oie-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/internal/apps/0oau07ddg5wwA8KvE697/settings/oauth/idToken
        method: GET
      response:
        body: '{"issuer":"https://oie-00.dne-okta.com","orgUrl":null,"customUrl":null,"audience":"0oau07ddg5wwA8KvE697","issuerMode":"ORG_URL"}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 669.626334ms
[...]
    - id: 9
      request:
        host: oie-00.dne-okta.com
        body: |
            {"credentials":{"password":{},"userName":"testAcc_2654458437@example.com"},"id":"00uu07fcbuFasAIPm697"}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://oie-00.dne-okta.com/api/v1/apps/0oau07ddg5wwA8KvE697/users
        method: POST
      response:
        body: '{"id":"00uu07fcbuFasAIPm697","externalId":null,"created":"2025-08-08T08:03:24.000Z","lastUpdated":"2025-08-08T08:03:24.000Z","scope":"USER","status":"ACTIVE","statusChanged":"2025-08-08T08:03:24.000Z","passwordChanged":null,"syncState":"DISABLED","credentials":{"userName":"testAcc_2654458437@example.com"},"profile":{"street_address":null,"country":null,"website":null,"zoneinfo":"America/Los_Angeles","birthdate":null,"gender":null,"formatted":null,"profile":null,"locality":null,"given_name":"TestAcc","middle_name":null,"locale":"en_US","picture":null,"name":"TestAcc Smith","nickname":null,"phone_number":null,"region":null,"postal_code":null,"family_name":"Smith","email":"testAcc_2654458437@example.com"},"_links":{"app":{"href":"https://oie-00.dne-okta.com/api/v1/apps/0oau07ddg5wwA8KvE697"},"user":{"href":"https://oie-00.dne-okta.com/api/v1/users/00uu07fcbuFasAIPm697"}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 902.9555ms
[...]
    - id: 11
      request:
        host: oie-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/apps/0oau07ddg5wwA8KvE697/users/00uu07fcbuFasAIPm697
        method: GET
      response:
        body: '{"id":"00uu07fcbuFasAIPm697","externalId":null,"created":"2025-08-08T08:03:24.000Z","lastUpdated":"2025-08-08T08:03:24.000Z","scope":"USER","status":"ACTIVE","statusChanged":"2025-08-08T08:03:24.000Z","passwordChanged":null,"syncState":"DISABLED","credentials":{"userName":"testAcc_2654458437@example.com"},"profile":{"street_address":null,"country":null,"website":null,"zoneinfo":"America/Los_Angeles","birthdate":null,"gender":null,"formatted":null,"profile":null,"locality":null,"given_name":"TestAcc","middle_name":null,"locale":"en_US","picture":null,"name":"TestAcc Smith","nickname":null,"phone_number":null,"region":null,"postal_code":null,"family_name":"Smith","email":"testAcc_2654458437@example.com"},"_links":{"app":{"href":"https://oie-00.dne-okta.com/api/v1/apps/0oau07ddg5wwA8KvE697"},"user":{"href":"https://oie-00.dne-okta.com/api/v1/users/00uu07fcbuFasAIPm697"}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 863.70675ms
    - id: 12
      request:
        host: oie-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/apps/0oau07ddg5wwA8KvE697/users
        method: GET
      response:
        body: '[{"id":"00uu07fcbuFasAIPm697","externalId":null,"created":"2025-08-08T08:03:24.000Z","lastUpdated":"2025-08-08T08:03:24.000Z","scope":"USER","status":"ACTIVE","statusChanged":"2025-08-08T08:03:24.000Z","passwordChanged":null,"syncState":"DISABLED","credentials":{"userName":"testAcc_2654458437@example.com"},"profile":{"street_address":null,"country":null,"website":null,"zoneinfo":"America/Los_Angeles","birthdate":null,"gender":null,"formatted":null,"profile":null,"locality":null,"given_name":"TestAcc","middle_name":null,"locale":"en_US","picture":null,"name":"TestAcc Smith","nickname":null,"phone_number":null,"region":null,"postal_code":null,"family_name":"Smith","email":"testAcc_2654458437@example.com"},"_links":{"app":{"href":"https://oie-00.dne-okta.com/api/v1/apps/0oau07ddg5wwA8KvE697"},"user":{"href":"https://oie-00.dne-okta.com/api/v1/users/00uu07fcbuFasAIPm697"}}}]'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
            Link:
                - <https://oie-00.dne-okta.com/api/v1/apps/0oau07ddg5wwA8KvE697/users?limit=50>; rel="self"
        status: 200 OK
        code: 200
        duration: 851.66925ms
[...]
    - id: 22
      request:
        host: oie-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/apps/0oau07ddg5wwA8KvE697/lifecycle/deactivate
        method: POST
      response:
        body: '{}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 692.33125ms
[...]
