---
version: 2
interactions:
    - id: 0
      request:
        host: oie-00.dne-okta.com
        body: |
            {"accessibility":{},"credentials":{"oauthClient":{"autoKeyRotation":true,"pkce_required":false,"token_endpoint_auth_method":"client_secret_basic"},"userNameTemplate":{"template":"${source.login}","type":"BUILT_IN"}},"label":"testAcc_2654458437","name":"oidc_client","settings":{"notes":{},"oauthClient":{"application_type":"web","consent_method":"TRUSTED","dpop_bound_access_tokens":false,"grant_types":["authorization_code","implicit"],"idp_initiated_login":{"default_scope":[],"mode":"DISABLED"},"issuer_mode":"ORG_URL","redirect_uris":["http://d.com/"],"response_types":["code","token","id_token"],"wildcard_redirect":"DISABLED"}},"signOnMode":"OPENID_CONNECT","visibility":{"hide":{"iOS":true,"web":true}}}
        form:
            activate:
                - "true"
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://oie-00.dne-okta.com/api/v1/apps?activate=true
        method: POST
      response:
        body: '{"id":"0oauj8xm3wS5rAk4E1d7","orn":"orn:oktapreview:idp:00otivnuq1X5554yc1d7:apps:oidc_client:0oauj8xm3wS5rAk4E1d7","name":"oidc_client","label":"testAcc_2654458437","status":"ACTIVE","lastUpdated":"2026-02-02T11:16:06.000Z","created":"2026-02-02T11:16:05.000Z","accessibility":{"selfService":false,"errorRedirectUrl":null,"loginRedirectUrl":null},"visibility":{"autoLaunch":false,"autoSubmitToolbar":false,"hide":{"iOS":true,"web":true},"appLinks":{"oidc_client_link":true}},"features":[],"signOnMode":"OPENID_CONNECT","credentials":{"userNameTemplate":{"template":"${source.login}","type":"BUILT_IN"},"signing":{"kid":"48X-q9YWQ_p1aXo_HbPDTPbEncSYjFgiJEzhmK8Kq8I"},"oauthClient":{"autoKeyRotation":true,"client_id":"0oauj8xm3wS5rAk4E1d7","client_secret":"pKCFfaYFj4-w0Dlq0EbdMKtdwDvmW2eS0DgIu2oUFEYWZQDOdLhJ6S7BVDUerhbY","token_endpoint_auth_method":"client_secret_basic","pkce_required":false}},"universalLogout":null,"settings":{"app":{},"notifications":{"vpn":{"network":{"connection":"DISABLED"},"message":null,"helpUrl":null}},"manualProvisioning":false,"implicitAssignment":false,"emOptInStatus":"NONE","notes":{"admin":null,"enduser":null},"oauthClient":{"client_uri":null,"logo_uri":null,"redirect_uris":["http://d.com/"],"response_types":["code","token","id_token"],"grant_types":["authorization_code","implicit"],"application_type":"web","consent_method":"TRUSTED","issuer_mode":"ORG_URL","idp_initiated_login":{"mode":"DISABLED","default_scope":[]},"wildcard_redirect":"DISABLED","dpop_bound_access_tokens":false,"participate_slo":false}},"_links":{"uploadLogo":{"href":"https://oie-00.dne-okta.com/api/v1/apps/0oauj8xm3wS5rAk4E1d7/logo","hints":{"allow":["POST"]}},"appLinks":[{"name":"oidc_client_link","href":"https://oie-00.dne-okta.com/home/oidc_client/0oauj8xm3wS5rAk4E1d7/aln177a159h7Zf52X0g8","type":"text/html"}],"profileEnrollment":{"href":"https://oie-00.dne-okta.com/api/v1/policies/rsttivnuviYmKDYit1d7"},"policies":{"href":"https://oie-00.dne-okta.com/api/v1/apps/0oauj8xm3wS5rAk4E1d7/policies","hints":{"allow":["PUT"]}},"groups":{"href":"https://oie-00.dne-okta.com/api/v1/apps/0oauj8xm3wS5rAk4E1d7/groups"},"logo":[{"name":"medium","href":"https://op3static2.oktacdn.com/assets/img/logos/default.6770228fb0dab49a1695ef440a5279bb.png","type":"image/png"}],"clientCredentials":[{"name":"secrets","href":"https://oie-00.dne-okta.com/api/v1/apps/0oauj8xm3wS5rAk4E1d7/credentials/secrets"}],"accessPolicy":{"href":"https://oie-00.dne-okta.com/api/v1/policies/rsttivnuvg01CxhjA1d7"},"users":{"href":"https://oie-00.dne-okta.com/api/v1/apps/0oauj8xm3wS5rAk4E1d7/users"},"deactivate":{"href":"https://oie-00.dne-okta.com/api/v1/apps/0oauj8xm3wS5rAk4E1d7/lifecycle/deactivate"}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.753692s
    - id: 1
      request:
        host: oie-00.dne-okta.com
        body: |
            {"credentials":{"password":{}},"profile":{"email":"testAcc_2654458437@example.com","firstName":"TestAcc","lastName":"Smith","login":"testAcc_2654458437@example.com","postalAddress":null}}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://oie-00.dne-okta.com/api/v1/users
        method: POST
      response:
        body: '{"id":"00uuj8n0jhybX58zC1d7","status":"PROVISIONED","created":"2026-02-02T11:16:06.000Z","activated":"2026-02-02T11:16:06.000Z","statusChanged":"2026-02-02T11:16:06.000Z","lastLogin":null,"lastUpdated":"2026-02-02T11:16:06.000Z","passwordChanged":null,"realmId":"guotivlj45ZSJtnfF1d7","type":{"id":"otytivnus5k8rPk4X1d7"},"profile":{"firstName":"TestAcc","lastName":"Smith","mobilePhone":null,"secondEmail":null,"login":"testAcc_2654458437@example.com","email":"testAcc_2654458437@example.com"},"credentials":{"provider":{"type":"OKTA","name":"OKTA"}},"_links":{"suspend":{"href":"https://oie-00.dne-okta.com/api/v1/users/00uuj8n0jhybX58zC1d7/lifecycle/suspend","method":"POST"},"schema":{"href":"https://oie-00.dne-okta.com/api/v1/meta/schemas/user/osctivnus5k8rPk4X1d7"},"resetPassword":{"href":"https://oie-00.dne-okta.com/api/v1/users/00uuj8n0jhybX58zC1d7/lifecycle/reset_password","method":"POST"},"reactivate":{"href":"https://oie-00.dne-okta.com/api/v1/users/00uuj8n0jhybX58zC1d7/lifecycle/reactivate","method":"POST"},"self":{"href":"https://oie-00.dne-okta.com/api/v1/users/00uuj8n0jhybX58zC1d7"},"resetFactors":{"href":"https://oie-00.dne-okta.com/api/v1/users/00uuj8n0jhybX58zC1d7/lifecycle/reset_factors","method":"POST"},"type":{"href":"https://oie-00.dne-okta.com/api/v1/meta/types/user/otytivnus5k8rPk4X1d7"},"deactivate":{"href":"https://oie-00.dne-okta.com/api/v1/users/00uuj8n0jhybX58zC1d7/lifecycle/deactivate","method":"POST"}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 2.65784675s
    - id: 2
      request:
        host: oie-00.dne-okta.com
        body: |
            {"issuerMode":"ORG_URL"}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://oie-00.dne-okta.com/api/v1/internal/apps/0oauj8xm3wS5rAk4E1d7/settings/oauth/idToken
        method: POST
      response:
        body: '{"issuer":null,"orgUrl":null,"customUrl":null,"audience":null,"issuerMode":"ORG_URL"}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.355631833s
    - id: 3
      request:
        host: oie-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/users/00uuj8n0jhybX58zC1d7
        method: GET
      response:
        body: '{"id":"00uuj8n0jhybX58zC1d7","status":"PROVISIONED","created":"2026-02-02T11:16:06.000Z","activated":"2026-02-02T11:16:06.000Z","statusChanged":"2026-02-02T11:16:06.000Z","lastLogin":null,"lastUpdated":"2026-02-02T11:16:06.000Z","passwor[...]
    - id: 4
      request:
        host: oie-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/.well-known/okta-organization
        method: GET
      response:
        body: '{"id":"00otivnuq1X5554yc1d7","cell":"op3","_links":{"organization":{"href":"https://oie-00.dne-okta.com"}},"pipeline":"idx","settings":{"analyticsCollectionEnabled":false,"bugReportingEnabled":true,"omEnabled":false,"pssoEnabled":false,"desktopMFAEnabled":false,"itpEnabled":false}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.041396916s
    - id: 5
      request:
        host: oie-00.dne-okta.com
        form:
            type:
                - ACCESS_POLICY
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/policies?type=ACCESS_POLICY
        method: GET
      response:
        body: '[{"id":"rsttivnuus97Z2Ua81d7","status":"ACTIVE","name":"Okta Admin Console","priority":1,"system":false,"conditions":null,"created":"2026-01-06T09:19:37.000Z","lastUpdated":"2026-01-06T09:19:37.000Z","_links":{"mappings":{"href":"https://oie-00.dne-okta.com/api/v1/policies/rsttivnuus97Z2Ua81d7/mappings","hints":{"allow":["GET","POST"]}},"self":{"href":"https://oie-00.dne-okta.com/api/v1/policies/rsttivnuus97Z2Ua81d7","hints":{"allow":["GET","PUT","DELETE"]}},"rules":{"href":"https://oie-00.dne-okta.com/api/v1/policies/rsttivnuus97Z2Ua81d7/rules","hints":{"allow":["GET","POST"]}},"deactivate":{"href":"https://oie-00.dne-okta.com/api/v1/policies/rsttivnuus97Z2Ua81d7/lifecycle/deactivate","hints":{"allow":["POST"]}}},"_embedded":{"resourceType":"APP"},"type":"ACCESS_POLICY"},{"id":"rsttivnuuz4MSxGin1d7","status":"ACTIVE","name":"Okta Dashboard","priority":1,"system":false,"conditions":null,"created":"2026-01-06T09:19:37.000Z","lastUpdated":"2026-01-06T09:19:37.000Z","_links":{"mappings":{"href":"https://oie-00.dne-okta.com/api/v1/policies/rsttivnuuz4MSxGin1d7/mappings","hints":{"allow":["GET","POST"]}},"self":{"href":"https://oie-00.dne-okta.com/api/v1/policies/rsttivnuuz4MSxGin1d7","hints":{"allow":["GET","PUT","DELETE"]}},"rules":{"h[...]
    - id: 6
      request:
        host: oie-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/apps/0oauj8xm3wS5rAk4E1d7/policies/rsttivnuvg01CxhjA1d7
        method: PUT
      response:
        body: ""
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
        status: 204 No Content
        code: 204
        duration: 1.120080167s
    - id: 7
      request:
        host: oie-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/apps/0oauj8xm3wS5rAk4E1d7
        method: GET
      response:
        body: '{"id":"0oauj8xm3wS5rAk4E1d7","orn":"orn:oktapreview:idp:00otivnuq1X5554yc1d7:apps:oidc_client:0oauj8xm3wS5rAk4E1d7","name":"oidc_client","label":"testAcc_2654458437","status":"ACTIVE","lastUpdated":"2026-02-02T11:16:07.000Z","created":"20[...]
[...]
    - id: 10
      request:
        host: oie-00.dne-okta.com
        body: |
            {"credentials":{"password":{},"userName":"testAcc_2654458437@example.com"},"id":"00uuj8n0jhybX58zC1d7"}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://oie-00.dne-okta.com/api/v1/apps/0oauj8xm3wS5rAk4E1d7/users
        method: POST
      response:
        body: '{"id":"00uuj8n0jhybX58zC1d7","externalId":null,"created":"2026-02-02T11:16:15.000Z","lastUpdated":"2026-02-02T11:16:15.000Z","scope":"USER","status":"ACTIVE","statusChanged":"2026-02-02T11:16:15.000Z","passwordChanged":null,"syncState":"DISABLED","credentials":{"userName":"testAcc_2654458437@example.com"},"profile":{"street_address":null,"country":null,"website":null,"zoneinfo":"America/Los_Angeles","birthdate":null,"gender":null,"formatted":null,"profile":null,"locality":null,"given_name":"TestAcc","middle_name":null,"locale":"en_US","picture":null,"name":"TestAcc Smith","nickname":null,"phone_number":null,"region":null,"postal_code":null,"family_name":"Smith","email":"testAcc_2654458437@example.com"},"_links":{"app":{"href":"https://oie-00.dne-okta.com/api/v1/apps/0oauj8xm3wS5rAk4E1d7"},"user":{"href":"https://oie-00.dne-okta.com/api/v1/users/00uuj8n0jhybX58zC1d7"}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.639077167s
[...]
    - id: 12
      request:
        host: oie-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/apps/0oauj8xm3wS5rAk4E1d7/users/00uuj8n0jhybX58zC1d7
        method: GET
      response:
        body: '{"id":"00uuj8n0jhybX58zC1d7","externalId":null,"created":"2026-02-02T11:16:15.000Z","lastUpdated":"2026-02-02T11:16:15.000Z","scope":"USER","status":"ACTIVE","statusChanged":"2026-02-02T11:16:15.000Z","passwordChanged":null,"syncState":"DISABLED","credentials":{"userName":"testAcc_2654458437@example.com"},"profile":{"street_address":null,"country":null,"website":null,"zoneinfo":"America/Los_Angeles","birthdate":null,"gender":null,"formatted":null,"profile":null,"locality":null,"given_name":"TestAcc","middle_name":null,"locale":"en_US","picture":null,"name":"TestAcc Smith","nickname":null,"phone_number":null,"region":null,"postal_code":null,"family_name":"Smith","email":"testAcc_2654458437@example.com"},"_links":{"app":{"href":"https://oie-00.dne-okta.com/api/v1/apps/0oauj8xm3wS5rAk4E1d7"},"user":{"href":"https://oie-00.dne-okta.com/api/v1/users/00uuj8n0jhybX58zC1d7"}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.11069425s
    - id: 13
      request:
        host: oie-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/apps/0oauj8xm3wS5rAk4E1d7/users
        method: GET
      response:
        body: '[{"id":"00uuj8n0jhybX58zC1d7","externalId":null,"created":"2026-02-02T11:16:15.000Z","lastUpdated":"2026-02-02T11:16:15.000Z","scope":"USER","status":"ACTIVE","statusChanged":"2026-02-02T11:16:15.000Z","passwordChanged":null,"syncState":"DISABLED","credentials":{"userName":"testAcc_2654458437@example.com"},"profile":{"street_address":null,"country":null,"website":null,"zoneinfo":"America/Los_Angeles","birthdate":null,"gender":null,"formatted":null,"profile":null,"locality":null,"given_name":"TestAcc","middle_name":null,"locale":"en_US","picture":null,"name":"TestAcc Smith","nickname":null,"phone_number":null,"region":null,"postal_code":null,"family_name":"Smith","email":"testAcc_2654458437@example.com"},"_links":{"app":{"href":"https://oie-00.dne-okta.com/api/v1/apps/0oauj8xm3wS5rAk4E1d7"},"user":{"href":"https://oie-00.dne-okta.com/api/v1/users/00uuj8n0jhybX58zC1d7"}}}]'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
            Link:
                - <https://oie-00.dne-okta.com/api/v1/apps/0oauj8xm3wS5rAk4E1d7/users?limit=50>; rel="self"
        status: 200 OK
        code: 200
        duration: 1.391175667s
[...]
    - id: 23
      request:
        host: oie-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/apps/0oauj8xm3wS5rAk4E1d7/lifecycle/deactivate
        method: POST
      response:
        body: '{}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.147101125s
[...]
