---
version: 2
interactions:
    - id: 0
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/groups?filter=type+eq+%22BUILT_IN%22&limit=200
        method: GET
      response:
        body: '[{"id":"00g5qwjvgrD3WR89l1d7","created":"2022-10-07T23:16:57.000Z","lastUpdated":"2022-10-07T23:16:57.000Z","lastMembershipUpdated":"2023-08-15T23:45:25.000Z","objectClass":["okta:user_group"],"type":"BUILT_IN","profile":{"name":"Everyone","description":"All users in your organization"},"_links":{"logo":[{"name":"medium","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-medium.30ce6d4085dff29412984e4c191bc874.png","type":"image/png"},{"name":"large","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-large.c3cb8cda8ae0add1b4fe928f5844dbe3.png","type":"image/png"}],"users":{"href":"https://oie-00.oktapreview.com/api/v1/groups/00g5qwjvgrD3WR89l1d7/users"},"apps":{"href":"https://oie-00.oktapreview.com/api/v1/groups/00g5qwjvgrD3WR89l1d7/apps"}}},{"id":"00g7kzyb8btDESpnF1d7","created":"2023-04-06T00:24:38.000Z","lastUpdated":"2023-04-06T00:24:38.000Z","lastMembershipUpdated":"2023-04-06T00:24:38.000Z","objectClass":["okta:user_group"],"type":"BUILT_IN","profile":{"name":"Okta Administrators","description":"Okta manages this group, which contains all administrators in your organization."},"_links":{"logo":[{"name":"medium","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-medium.30ce6d4085dff29412984e4c191bc874.png","type":"image/png"},{"name":"large","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-large.c3cb8cda8ae0add1b4fe928f5844dbe3.png","type":"image/png"}],"users":{"href":"https://oie-00.oktapreview.com/api/v1/groups/00g7kzyb8btDESpnF1d7/users"},"apps":{"href":"https://oie-00.oktapreview.com/api/v1/groups/00g7kzyb8btDESpnF1d7/apps"}}}]'
        headers:
            Content-Type:
                - application/json
            Link:
                - <https://oie-00.dne-okta.com/api/v1/groups?limit=200&filter=type+eq+%22BUILT_IN%22>; rel="self"
        status: 200 OK
        code: 200
        duration: 142.290979ms
[...]
    - id: 2
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/org
        method: GET
      response:
        body: '{"id":"00o5qwjvg8hg7YpT81d7","subdomain":"oie-00","companyName":"oie-00 ? ? ? ? ? ? ? ? ? ? ? ? ? ? ? ? ?","status":"ACTIVE","expiresAt":null,"created":"2022-10-07T23:16:56.000Z","lastUpdated":"2023-08-15T23:10:05.000Z","website":"https://terraform.io","phoneNumber":"","endUserSupportHelpURL":"","supportPhoneNumber":"","address1":null,"address2":null,"city":null,"state":null,"country":null,"postalCode":null,"_links":{"preferences":{"href":"https://oie-00.oktapreview.com/api/v1/org/preferences"},"uploadLogo":{"href":"https://oie-00.oktapreview.com/api/v1/org/logo","hints":{"allow":["POST"]}},"oktaCommunication":{"href":"https://oie-00.oktapreview.com/api/v1/org/privacy/oktaCommunication"},"logo":null,"oktaSupport":{"href":"https://oie-00.oktapreview.com/api/v1/org/privacy/oktaSupport"},"contacts":{"href":"https://oie-00.oktapreview.com/api/v1/org/contacts"}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 55.936354ms
[...]
    - id: 7
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/org/privacy/oktaCommunication
        method: GET
      response:
        body: '{"optOutEmailUsers":false,"_links":{"optOut":{"href":"https://oie-00.oktapreview.com/api/v1/org/privacy/oktaCommunication/optOut","hints":{"allow":["POST"]}}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 51.445536ms
    - id: 8
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/org/contacts/BILLING
        method: GET
      response:
        body: '{"userId":"00u5qwjvk7u6E1DFG1d7","_links":{"user":{"href":"https://oie-00.oktapreview.com/api/v1/users/00u5qwjvk7u6E1DFG1d7"}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 62.737034ms
    - id: 9
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/org/contacts/TECHNICAL
        method: GET
      response:
        body: '{"userId":"00u5qwjvk7u6E1DFG1d7","_links":{"user":{"href":"https://oie-00.oktapreview.com/api/v1/users/00u5qwjvk7u6E1DFG1d7"}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 62.721653ms
[...]
