---
version: 2
interactions:
    - id: 0
      request:
        host: classic-00.dne-okta.com
        form:
            filter:
                - type eq "APP_GROUP"
            limit:
                - "200"
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/groups?filter=type+eq+%22APP_GROUP%22&limit=200
        method: GET
      response:
        body: '[]'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
            Link:
                - <https://classic-00.dne-okta.com/api/v1/groups?limit=200&filter=type+eq+%22APP_GROUP%22>; rel="self"
        status: 200 OK
        code: 200
        duration: 1.068431625s
    - id: 1
      request:
        host: classic-00.dne-okta.com
        form:
            limit:
                - "200"
            q:
                - testAcc_
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/groups?limit=200&q=testAcc_
        method: GET
      response:
        body: '[{"id":"00gs5m97vplNeUXoG697","created":"2025-06-08T17:43:32.000Z","lastUpdated":"2025-06-08T17:43:32.000Z","lastMembershipUpdated":"2025-06-08T17:43:32.000Z","objectClass":["okta:user_group"],"type":"OKTA_GROUP","profile":{"name":"testAcc_161335912","description":""},"_links":{"logo":[{"name":"medium","href":"https://ok14static.oktacdn.com/assets/img/logos/groups/odyssey/okta-medium.30ce6d4085dff29412984e4c191bc874.png","type":"image/png"},{"name":"large","href":"https://ok14static.oktacdn.com/assets/img/logos/groups/odyssey/okta-large.c3cb8cda8ae0add1b4fe928f5844dbe3.png","type":"image/png"}],"users":{"href":"https://classic-00.dne-okta.com/api/v1/groups/00gs5m97vplNeUXoG697/users"},"apps":{"href":"https://classic-00.dne-okta.com/api/v1/groups/00gs5m97vplNeUXoG697/apps"}}}]'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.079461458s
    - id: 2
      request:
        host: classic-00.dne-okta.com
        form:
            filter:
                - type eq "BUILT_IN"
            limit:
                - "200"
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/groups?filter=type+eq+%22BUILT_IN%22&limit=200
        method: GET
      response:
        body: '[{"id":"00grp9xdc1NNG01rz697","created":"2025-05-23T11:44:52.000Z","lastUpdated":"2025-05-23T11[...]
[...]
    - id: 6
      request:
        host: classic-00.dne-okta.com
        body: |
            {"profile":{"name":"testAcc_4208174747  - Test 2","description":"testing, testing"}}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://classic-00.dne-okta.com/api/v1/groups
        method: POST
      response:
        body: '{"id":"00gsdmmtcadVWdxCf697","created":"2025-06-16T13:10:24.000Z","lastUpdated":"2025-06-16T13:10:24.000Z","lastMembershipUpdated":"2025-06-16T13:10:24.000Z","objectClass":["okta:user_group"],"type":"OKTA_GROUP","profile":{"name":"testAcc_4208174747  - Test 2","description":"testing, testing"},"_links":{"logo":[{"name":"medium","href":"https://ok14static.oktacdn.com/assets/img/logos/groups/odyssey/okta-medium.30ce6d4085dff29412984e4c191bc874.png","type":"image/png"},{"name":"large","href":"https://ok14static.oktacdn.com/assets/img/logos/groups/odyssey/okta-large.c3cb8cda8ae0add1b4fe928f5844dbe3.png","type":"image/png"}],"users":{"href":"https://classic-00.dne-okta.com/api/v1/groups/00gsdmmtcadVWdxCf697/users"},"apps":{"href":"https://classic-00.dne-okta.com/api/v1/groups/00gsdmmtcadVWdxCf697/apps"}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.017693833s
[...]
    - id: 8
      request:
        host: classic-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/groups/00gsdmmtcadVWdxCf697
        method: GET
      response:
        body: '{"id":"00gsdmmtcadVWdxCf697","created":"2025-06-16T13:10:24.000Z","lastUpdated":"2025-06-16T13:10:24.000Z","lastMembershipUpdated":"2025-06-16T13:10:24.000Z","objectClass":["okta:user_group"],"type":"OKTA_GROUP","profile":{"name":"testAcc_4208174747  - Test 2","description":"testing, testing"},"_links":{"logo":[{"name":"medium","href":"https://ok14static.oktacdn.com/assets/img/logos/groups/odyssey/okta-medium.30ce6d4085dff29412984e4c191bc874.png","type":"image/png"},{"name":"large","href":"https://ok14static.oktacdn.com/assets/img/logos/groups/odyssey/okta-large.c3cb8cda8ae0add1b4fe928f5844dbe3.png","type":"image/png"}],"users":{"href":"https://classic-00.dne-okta.com/api/v1/groups/00gsdmmtcadVWdxCf697/users"},"apps":{"href":"https://classic-00.dne-okta.com/api/v1/groups/00gsdmmtcadVWdxCf697/apps"}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.06989575s
    - id: 9
      request:
        host: classic-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/groups/00gsdmnhj6hixYFPU697
        method: GET
      response:
        body: '{"id":"00gsdmnhj6hixYFPU697","created":"2025-06-16T13:10:24.000Z","lastUpdated":"2025-06-16T13:10:24.000Z","lastMembershipUpdated":"2025-06-16T13:10:24.000Z","objectClass":["okta:user_group"],"type":"OKTA_GROUP","profile":{"name":"testAcc_4208174747 - Test 1","description":"testing, testing"},"_links":{"logo":[{"name":"medium","href":"https://ok14static.oktacdn.com/assets/img/logos/groups/odyssey/okta-medium.30ce6d4085dff29412984e4c191bc874.png","type":"image/png"},{"name":"large","href":"https://ok14static.oktacdn.com/assets/img/logos/groups/odyssey/okta-large.c3cb8cda8ae0add1b4fe928f5844dbe3.png","type":"image/png"}],"users":{"href":"https://classic-00.dne-okta.com/api/v1/groups/00gsdmnhj6hixYFPU697/users"},"apps":{"href":"https://classic-00.dne-okta.com/api/v1/groups/00gsdmnhj6hixYFPU697/apps"}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.048280208s
[...]
