---
version: 2
interactions:
    - id: 0
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/groups?filter=type+eq+%22APP_GROUP%22&limit=200
        method: GET
      response:
        body: '[]'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
            Link:
                - <https://oie-00.dne-okta.com/api/v1/groups?limit=200&filter=type+eq+%22APP_GROUP%22>; rel="self"
        status: 200 OK
        code: 200
        duration: 689.987583ms
    - id: 1
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/groups?filter=type+eq+%22BUILT_IN%22&limit=200
        method: GET
      response:
        body: '[{"id":"00ga8lle4g8Xpfnvi1d7","created":"2023-09-26T15:36:01.000Z","lastUpdated":"2023-09-26T15:36:01.000Z","lastMembershipUpdated":"2025-01-24T22:02:36.000Z","objectClass":["okta:user_group"],"type":"BUILT_IN","profile":{"name":"Everyone","description":"All users in your organization"},"_links":{"logo":[{"name":"medium","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-medium.30ce6d4085dff29412984e4c191bc874.png","type":"image/png"},{"name":"large","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-large.c3cb8cda8ae0add1b4fe928f5844dbe3.png","type":"image/png"}],"owners":{"href":"https://oie-00.oktapreview.com/api/v1/groups/00ga8lle4g8Xpfnvi1d7/owners"},"users":{"href":"https://oie-00.oktapreview.com/api/v1/groups/00ga8lle4g8Xpfnvi1d7/users"},"apps":{"href":"https://oie-00.oktapreview.com/api/v1/groups/00ga8lle4g8Xpfnvi1d7/apps"}}},{"id":"00ga8lle4zNaOCLpe1d7","created":"2023-09-26T15:36:02.000Z","lastUpdated":"2023-09-26T15:36:02.000Z","lastMembershipUpdated":"2023-09-26T15:36:02.000Z","objectClass":["okta:user_group"],"type":"BUILT_IN","profile":{"name":"Okta Administrators","description":"Okta manages this group, which contains all administrators in your organization."},"_links":{"logo":[{"name":"medium","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-medium.30ce6d4085dff29412984e4c191bc874.png","type":"image/png"},{"name":"large","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-large.c3cb8cda8ae0add1b4fe928f5844dbe3.png","type":"image/png"}],"owners":{"href":"https://oie-00.oktapreview.com/api/v1/groups/00ga8lle4zNaOCLpe1d7/owners"},"users":{"href":"https://oie-00.oktapreview.com/api/v1/groups/00ga8lle4zNaOCLpe1d7/users"},"apps":{"href":"https://oie-00.oktapreview.com/api/v1/groups/00ga8lle4zNaOCLpe1d7/apps"}}}]'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
            Link:
                - <https://oie-00.dne-okta.com/api/v1/groups?limit=200&filter=type+eq+%22BUILT_IN%22>; rel="self"
        status: 200 OK
        code: 200
        duration: 690.511083ms
    - id: 2
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/groups?limit=200&q=testAcc_
        method: GET
      response:
        body: '[]'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 707.602917ms
[...]
    - id: 6
      request:
        host: oie-00.dne-okta.com
        body: |
            {"profile":{"name":"testAcc_4208174747 - Test 1","description":"testing, testing"}}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://oie-00.dne-okta.com/api/v1/groups
        method: POST
      response:
        body: '{"id":"00glnzkwq1es92uNG1d7","created":"2025-04-16T18:20:12.000Z",[...]
[...]
    - id: 8
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/groups/00glnzkuvgJR6ynZu1d7
        method: GET
      response:
        body: '{"id":"00glnzkuvgJR6ynZu1d7","created":"2025-04-16T18:20:12.000Z","lastUpdated":"2025-04-16T18:20:12.000Z","lastMembershipUpdated":"2025-04-16T18:20:12.000Z","objectClass":["okta:user_group"],"type":"OKTA_GROUP","profile":{"name":"testAcc_4208174747  - Test 2","description":"testing, testing"},"_links":{"logo":[{"name":"medium","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-medium.30ce6d4085dff29412984e4c191bc874.png","type":"image/png"},{"name":"large","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-large.c3cb8cda8ae0add1b4fe928f5844dbe3.png","type":"image/png"}],"owners":{"href":"https://oie-00.oktapreview.com/api/v1/groups/00glnzkuvgJR6ynZu1d7/owners"},"users":{"href":"https://oie-00.oktapreview.com/api/v1/groups/00glnzkuvgJR6ynZu1d7/users"},"apps":{"href":"https://oie-00.oktapreview.com/api/v1/groups/00glnzkuvgJR6ynZu1d7/apps"}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 308.435333ms
    - id: 9
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/groups/00glnzkwq1es92uNG1d7
        method: GET
      response:
        body: '{"id":"00glnzkwq1es92uNG1d7","created":"2025-04-16T18:20:12.000Z","lastUpdated":"2025-04-16T18:20:12.000Z","lastMembershipUpdated":"2025-04-16T18:20:12.000Z","objectClass":["okta:user_group"],"type":"OKTA_GROUP","profile":{"name":"testAcc_4208174747 - Test 1","description":"testing, testing"},"_links":{"logo":[{"name":"medium","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-medium.30ce6d4085dff29412984e4c191bc874.png","type":"image/png"},{"name":"large","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-large.c3cb8cda8ae0add1b4fe928f5844dbe3.png","type":"image/png"}],"owners":{"href":"https://oie-00.oktapreview.com/api/v1/groups/00glnzkwq1es92uNG1d7/owners"},"users":{"href":"https://oie-00.oktapreview.com/api/v1/groups/00glnzkwq1es92uNG1d7/users"},"apps":{"href":"https://oie-00.oktapreview.com/api/v1/groups/00glnzkwq1es92uNG1d7/apps"}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 308.291708ms
[...]
