---
version: 2
interactions:
    - id: 0
      request:
        host: classic-00.dne-okta.com
        body: |
            {"description":"test resource for entitlement bundle data source","entitlements":[{"id":"espzcbqd7Suwp4Y7A1d6","values":[{"id":"entzcbqd8lcD3BRWR1d6"}]}],"name":"entitlement bundle data source test","target":{"externalId":"0oao01ardu8r8qUP91d7","type":"APPLICATION"}}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://classic-00.dne-okta.com/governance/api/v1/entitlement-bundles
        method: POST
      response:
        body: '{"orn":"orn:okta:governance:00onkw1sbuAh3Q06I1d7:entitlement-bundles:enb11s9z6eaI6UkUV1d7","targetResourceOrn":"orn:oktapreview:idp:00onkw1sbuAh3Q06I1d7:apps:oidc_client:0oao01ardu8r8qUP91d7","target":{"externalId":"0oao01ardu8r8qUP91d7","type":"APPLICATION"},"status":"ACTIVE","entitlements":[{"id":"espzcbqd7Suwp4Y7A1d6","values":[{"id":"entzcbqd8lcD3BRWR1d6"}]}],"_links":{"self":{"href":"https://classic-00-admin.dne-okta.com/governance/api/v1/entitlement-bundles/enb11s9z6eaI6UkUV1d7","hints":{}}},"name":"entitlement bundle data source test","description":"test resource for entitlement bundle data source","id":"enb11s9z6eaI6UkUV1d7","createdBy":"00unkw1sfbTw08c0g1d7","created":"2025-09-22T11:34:50Z","lastUpdated":"2025-09-22T11:34:50Z","lastUpdatedBy":"00unkw1sfbTw08c0g1d7"}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
            Link:
                - <https://classic-00-admin.dne-okta.com/governance/api/v1/entitlement-bundles/enb11s9z6eaI6UkUV1d7>; rel="self"
            Location:
                - https://dcp-testing-oig-2025-06-26-admin.oktapreview.com/governance/api/v1/entitlement-bundles/enb11s9z6eaI6UkUV1d7
        status: 201 Created
        code: 201
        duration: 3.20135875s
    - id: 1
      request:
        host: classic-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/governance/api/v1/entitlement-bundles/enb11s9z6eaI6UkUV1d7
        method: GET
      response:
        body: '{"orn":"orn:okta:governance:00onkw1sbuAh3Q06I1d7:entitlement-bundles:enb11s9z6eaI6UkUV1d7","targetResourceOrn":"orn:oktapreview:idp:00onkw1sbuAh3Q06I1d7:apps:oidc_client:0oao01ardu8r8qUP91d7","target":{"externalId":"0oao01ardu8r8qUP91d7","type":"APPLICATION"},"status":"ACTIVE","entitlements":[{"values":[{"id":"entzcbqd8lcD3BRWR1d6","name":"disp-name","externalValue":"val1","orn":"orn:okta:governance:00onkw1sbuAh3Q06I1d7:entitlement-values:entzcbqd8lcD3BRWR1d6"}],"id":"espzcbqd7Suwp4Y7A1d6","name":"manual-entitlement","externalValue":"manual-entitlement-10-07","multiValue":false,"required":false,"dataType":"string"}],"_links":{"self":{"href":"https://classic-00-admin.dne-okta.com/governance/api/v1/entitlement-bundles/enb11s9z6eaI6UkUV1d7","hints":{}}},"name":"entitlement bundle data source test","description":"test resource for entitlement bundle data source","id":"enb11s9z6eaI6UkUV1d7","createdBy":"00unkw1sfbTw08c0g1d7","created":"2025-09-22T11:34:50Z","lastUpdated":"2025-09-22T11:34:50Z","lastUpdatedBy":"00unkw1sfbTw08c0g1d7"}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
            Link:
                - <https://classic-00-admin.dne-okta.com/governance/api/v1/entitlement-bundles/enb11s9z6eaI6UkUV1d7>; rel="self"
        status: 200 OK
        code: 200
        duration: 1.273626208s
[...]
