---
version: 2
interactions:
    - id: 0
      request:
        host: classic-00.dne-okta.com
        body: |
            {"profile":{"name":"Some Other Example Testing Push Group","description":""}}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://classic-00.dne-okta.com/api/v1/groups
        method: POST
      response:
        body: '{"id":"00gwoysijmNEX9j0F1d7","created":"2026-03-25T06:00:25.000Z","lastUpdated":"2026-03-25T06:00:25.000Z","lastMembershipUpdated":"2026-03-25T06:00:25.000Z","objectClass":["okta:user_group"],"type":"OKTA_GROUP","profile":{"name":"Some Other Example Testing Push Group","description":""},"_links":{"logo":[{"name":"medium","href":"https://op3static2.oktacdn.com/assets/img/logos/groups/odyssey/okta-medium.30ce6d4085dff29412984e4c191bc874.png","type":"image/png"},{"name":"large","href":"https://op3static2.oktacdn.com/assets/img/logos/groups/odyssey/okta-large.c3cb8cda8ae0add1b4fe928f5844dbe3.png","type":"image/png"}],"owners":{"href":"https://classic-00.dne-okta.com/api/v1/groups/00gwoysijmNEX9j0F1d7/owners"},"users":{"href":"https://classic-00.dne-okta.com/api/v1/groups/00gwoysijmNEX9j0F1d7/users"},"apps":{"href":"https://classic-00.dne-okta.com/api/v1/groups/00gwoysijmNEX9j0F1d7/apps"}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 4.609146041s
[...]
    - id: 2
      request:
        host: classic-00.dne-okta.com
        body: |
            {"credentials":{"userNameTemplate":{"template":"${source.login}","type":"BUILT_IN"},"userName":""},"accessibility":{"selfService":false},"label":"Test Deel HR","name":"deelhr","settings":{"app":{},"notes":{"admin":null,"enduser":null}},"signOnMode":"AUTO_LOGIN","visibility":{"appLinks":{"deelhr_link":true},"autoSubmitToolbar":false,"hide":{"iOS":false,"web":false}}}
        form:
            activate:
                - "true"
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://classic-00.dne-okta.com/api/v1/apps?activate=true
        method: POST
      response:
        body: '{"id":"0oawoyz8k9Mcl07XX1d7","orn":"orn:oktapreview:idp:00onkw1sbuAh3Q06I1d7:apps:deelhr:0oawoyz8k9Mcl07XX1d7","name":"deelhr","label":"Test Deel HR","status":"ACTIVE","lastUpdated":"2026-03-25T06:00:28.000Z","created":"2026-03-25T06:00:28.000Z","accessibility":{"selfService":false,"errorRedirectUrl":null,"loginRedirectUrl":null},"visibility":{"autoLaunch":false,"autoSubmitToolbar":false,"hide":{"iOS":false,"web":false},"appLinks":{"deelhr_link":true}},"features":[],"signOnMode":null,"credentials":{"userNameTemplate":{"template":"${source.login}","type":"BUILT_IN"},"signing":{}},"universalLogout":{"status":"UNSUPPORTED"},"settings":{"app":{},"notifications":{"vpn":{"network":{"connection":"DISABLED"},"message":null,"helpUrl":null}},"manualProvisioning":false,"implicitAssignment":false,"emOptInStatus":"NONE","notes":{"admin":null,"enduser":null}},"_links":{"uploadLogo":{"href":"https://classic-00.dne-okta.com/api/v1/apps/0oawoyz8k9Mcl07XX1d7/logo","hints":{"allow":["POST"]}},"appLinks":[{"name":"deelhr_link","href":"https://classic-00.dne-okta.com/home/deelhr/0oawoyz8k9Mcl07XX1d7/aln5a838ba0SiO7GZ0x7","type":"text/html"}],"profileEnrollment":{"href":"https://classic-00.dne-okta.com/api/v1/policies/rstnkw1sgzCwhJaUs1d7"},"policies":{"href":"https://classic-00.dne-okta.com/api/v1/apps/0oawoyz8k9Mcl07XX1d7/policies","hints":{"allow":["PUT"]}},"groups":{"href":"https://classic-00.dne-okta.com/api/v1/apps/0oawoyz8k9Mcl07XX1d7/groups"},"logo":[{"name":"medium","href":"https://op3static2.oktacdn.com/fs/bcg/4/gfsahyjwm9T9pTjNJ1d7","type":"image/png"}],"accessPolicy":{"href":"https://classic-00.dne-okta.com/api/v1/policies/rstnkw1sgxfqkDUtx1d7"},"users":{"href":"https://classic-00.dne-okta.com/api/v1/apps/0oawoyz8k9Mcl07XX1d7/users"},"deactivate":{"href":"https://classic-00.dne-okta.com/api/v1/apps/0oawoyz8k9Mcl07XX1d7/lifecycle/deactivate"}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 7.942876458s
    - id: 3
      request:
        host: classic-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/groups/00gwoyox2nVnR5VJV1d7
        method: GET
      response:
        body: '{"id":"00gwoyox2nVnR5VJV1d7","created":"2026-03-25T06:00:26.000Z","lastUpdated":"2026-03-25T06:00:26.000Z","lastMembershipUpdated":"2026-03-25T06:00:26.000Z","objectClass":["okta:user_group"],"type":"OKTA_GROUP","profile":{"name":"Some Example Testing Push Group","description":""},"_links":{"logo":[{"name":"medium","href":"https://op3static2.oktacdn.com/assets/img/logos/groups/odyssey/okta-medium.30ce6d4085dff29412984e4c191bc874.png","type":"image/png"},{"name":"large","href":"https://op3static2.oktacdn.com/assets/img/logos/groups/odyssey/okta-large.c3cb8cda8ae0add1b4fe928f5844dbe3.png","type":"image/png"}],"owners":{"href":"https://classic-00.dne-okta.com/api/v1/groups/00gwoyox2nVnR5VJV1d7/owners"},"users":{"href":"https://classic-00.dne-okta.com/api/v1/groups/00gwoyox2nVnR5VJV1d7/users"},"apps":{"href":"https://classic-00.dne-okta.com/api/v1/groups/00gwoyox2nVnR5VJV1d7/apps"}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 3.325539625s
    - id: 4
      request:
        host: classic-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/groups/00gwoysijmNEX9j0F1d7
        method: GET
      response:
        body: '{"id":"00gwoysijmNEX9j0F1d7","created":"2026-03-25T06:00:25.000Z","lastUpdated":"2026-03-25T06:00:25.000Z","lastMembershipUpdated":"2026-03-25T06:00:25.000Z","objectClass":["okta:user_group"],"type":"OKTA_GROUP","profile":{"name":"Some Other Example Testing Push Group","description":""},"_links":{"logo":[{"name":"medium","href":"https://op3static2.oktacdn.com/assets/img/logos/groups/odyssey/okta-medium.30ce6d4085dff29412984e4c191bc874.png","type":"image/png"},{"name":"large","href":"https://op3static2.oktacdn.com/assets/img/logos/groups/odyssey/okta-large.c3cb8cda8ae0add1b4fe928f5844dbe3.png","type":"image/png"}],"owners":{"href":"https://classic-00.dne-okta.com/api/v1/groups/00gwoysijmNEX9j0F1d7/owners"},"users":{"href":"https://classic-00.dne-okta.com/api/v1/groups/00gwoysijmNEX9j0F1d7/users"},"apps":{"href":"https://classic-00.dne-okta.com/api/v1/groups/00gwoysijmNEX9j0F1d7/apps"}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 3.365858542s
[...]
    - id: 6
      request:
        host: classic-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/apps/0oawoyz8k9Mcl07XX1d7
        method: GET
      response:
        body: '{"id":"0oawoyz8k9Mcl07XX1d7","orn":"orn:oktapreview:idp:00onkw1sbuAh3Q06I1d7:apps:deelhr:0oawoyz8k9Mcl07XX1d7","name":"deelhr","label":"Test Deel HR","status":"ACTIVE","lastUpdated":"2026-03-25T06:00:28.000Z","created":"2026-03-25[...]
[...]
    - id: 10
      request:
        host: classic-00.dne-okta.com
        form:
            after:
                - ""
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/apps/0oawoyz8k9Mcl07XX1d7/group-push/mappings?after=
        method: GET
      response:
        body: '[]'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
            Link:
                - <https://classic-00.dne-okta.com/api/v1/apps/0oawoyz8k9Mcl07XX1d7/group-push/mappings?limit=100>; rel="self"
        status: 200 OK
        code: 200
        duration: 3.477271875s
    - id: 11
      request:
        host: classic-00.dne-okta.com
        body: |
            {"sourceGroupId":"00gwoyox2nVnR5VJV1d7","status":"ACTIVE","targetGroupName":"Some Example Testing Push Group"}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://classic-00.dne-okta.com/api/v1/apps/0oawoyz8k9Mcl07XX1d7/group-push/mappings
        method: POST
      response:
        body: '{"created":"2026-03-25T06:00:40Z","id":"gPmwoywk3l3hTxmIy1d7","lastUpdated":"2026-03-25T06:00:40Z","sourceGroupId":"00gwoyox2nVnR5VJV1d7","status":"ACTIVE","targetGroupId":"00gwoywk3kjkK3zWX1d7","_links":{"app":{"href":"https://classic-00.dne-okta.com/api/v1/apps/0oawoyz8k9Mcl07XX1d7"},"sourceGroup":{"href":"https://classic-00.dne-okta.com/api/v1/groups/00gwoyox2nVnR5VJV1d7"},"targetGroup":{"href":"https://classic-00.dne-okta.com/api/v1/groups/00gwoywk3kjkK3zWX1d7"}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 3.901739667s
[...]
    - id: 17
      request:
        host: classic-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/apps/0oawoyz8k9Mcl07XX1d7/group-push/mappings/gPmwoyz93kGtFU4pX1d7
        method: GET
      response:
        body: '{"created":"2026-03-25T06:00:40Z","id":"gPmwoyz93kGtFU4pX1d7","lastUpdated":"2026-03-25T06:00:40Z","sourceGroupId":"00gwoysijmNEX9j0F1d7","status":"ACTIVE","targetGroupId":"00gwoyz93j8qcD8nl1d7","_links":{"app":{"href":"https://classic-00.dne-okta.com/api/v1/apps/0oawoyz8k9Mcl07XX1d7"},"sourceGroup":{"href":"https://classic-00.dne-okta.com/api/v1/groups/00gwoysijmNEX9j0F1d7"},"targetGroup":{"href":"https://classic-00.dne-okta.com/api/v1/groups/00gwoyz93j8qcD8nl1d7"}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 3.436040542s
[...]
    - id: 19
      request:
        host: classic-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/apps/0oawoyz8k9Mcl07XX1d7/group-push/mappings/gPmwoywk3l3hTxmIy1d7
        method: GET
      response:
        body: '{"created":"2026-03-25T06:00:40Z","id":"gPmwoywk3l3hTxmIy1d7","lastUpdated":"2026-03-25T06:00:40Z","sourceGroupId":"00gwoyox2nVnR5VJV1d7","status":"ACTIVE","targetGroupId":"00gwoywk3kjkK3zWX1d7","_links":{"app":{"href":"https://classic-00.dne-okta.com/api/v1/apps/0oawoyz8k9Mcl07XX1d7"},"sourceGroup":{"href":"https://classic-00.dne-okta.com/api/v1/groups/00gwoyox2nVnR5VJV1d7"},"targetGroup":{"href":"https://classic-00.dne-okta.com/api/v1/groups/00gwoywk3kjkK3zWX1d7"}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 3.451479084s
[...]
    - id: 23
      request:
        host: classic-00.dne-okta.com
        form:
            deleteTargetGroup:
                - "true"
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/apps/0oawoyz8k9Mcl07XX1d7/group-push/mappings/gPmwoywk3l3hTxmIy1d7?deleteTargetGroup=true
        method: DELETE
      response:
        body: ""
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
        status: 200 OK
        code: 200
        duration: 4.120187167s
    - id: 24
      request:
        host: classic-00.dne-okta.com
        form:
            deleteTargetGroup:
                - "true"
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/apps/0oawoyz8k9Mcl07XX1d7/group-push/mappings/gPmwoyz93kGtFU4pX1d7?deleteTargetGroup=true
        method: DELETE
      response:
        body: ""
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
        status: 200 OK
        code: 200
        duration: 4.106728458s
[...]
    - id: 27
      request:
        host: classic-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/apps/0oawoyz8k9Mcl07XX1d7/lifecycle/deactivate
        method: POST
      response:
        body: '{}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 3.400640083s
[...]
