---
version: 2
interactions:
    - id: 0
      request:
        host: classic-00.dne-okta.com
        body: |
            {"alias":"server4","enabled":false,"host":"smtp.example.com","password":"abcd","port":587,"username":"abcd"}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://classic-00.dne-okta.com/api/v1/email-servers
        method: POST
      response:
        body: '{"alias":"server4","host":"smtp.example.com","port":587,"id":"cessb8shq41U5RMfU697","username":"abcd","enabled":false}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 1.325512709s
    - id: 1
      request:
        host: classic-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/email-servers/cessb8shq41U5RMfU697
        method: GET
      response:
        body: '{"alias":"server4","host":"smtp.example.com","port":587,"id":"cessb8shq41U5RMfU697","username":"abcd","enabled":false}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.444891667s
[...]
