---
version: 2
interactions:
    - id: 0
      request:
        host: classic-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/groups/rules/
        method: GET
      response:
        body: '[]'
        headers:
            Content-Type:
                - application/json
            Link:
                - <https://classic-00.dne-okta.com/api/v1/groups/rules?limit=50>; rel="self"
        status: 200 OK
        code: 200
        duration: 197.476971ms
[...]
    - id: 2
      request:
        host: classic-00.dne-okta.com
        body: |
            {"profile":{"name":"testAcc_287200613","description":""}}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://classic-00.dne-okta.com/api/v1/groups
        method: POST
      response:
        body: '{"id":"00g9i7hmyzZzOItEM1d7","created":"2023-08-16T00:04:38.000Z","lastUpdated":"2023-08-16T00:04:38.000Z","lastMembershipUpdated":"2023-08-16T00:04:38.000Z","objectClass":["okta:user_group"],"type":"OKTA_GROUP","profile":{"name":"testAcc_287200613","description":""},"_links":{"logo":[{"name":"medium","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-medium.30ce6d4085dff29412984e4c191bc874.png","type":"image/png"},{"name":"large","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-large.c3cb8cda8ae0add1b4fe928f5844dbe3.png","type":"image/png"}],"users":{"href":"https://classic-00.oktapreview.com/api/v1/groups/00g9i7hmyzZzOItEM1d7/users"},"apps":{"href":"https://classic-00.oktapreview.com/api/v1/groups/00g9i7hmyzZzOItEM1d7/apps"}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 86.704794ms
    - id: 3
      request:
        host: classic-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/groups/00g9i7hmyzZzOItEM1d7
        method: GET
      response:
        body: '{"id":"00g9i7hmyzZzOItEM1d7","created":"2023-08-16T00:04:38.000Z","lastUpdated":"2023-08-16T00:04:38.000Z","lastMembershipUpdated":"2023-08-16T00:04:38.000Z","objectClass":["okta:user_group"],"type":"OKTA_GROUP","profile":{"name":"testAcc_287200613","description":""},"_links":{"logo":[{"name":"medium","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-medium.30ce6d4085dff29412984e4c191bc874.png","type":"image/png"},{"name":"large","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-large.c3cb8cda8ae0add1b4fe928f5844dbe3.png","type":"image/png"}],"users":{"href":"https://classic-00.oktapreview.com/api/v1/groups/00g9i7hmyzZzOItEM1d7/users"},"apps":{"href":"https://classic-00.oktapreview.com/api/v1/groups/00g9i7hmyzZzOItEM1d7/apps"}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 97.337547ms
[...]
    - id: 6
      request:
        host: classic-00.dne-okta.com
        body: |
            {"actions":{"assignUserToGroups":{"groupIds":["00g9i7hmyzZzOItEM1d7"]}},"conditions":{"expression":{"type":"urn:okta:expression:1.0","value":"String.startsWith(user.firstName,\"andy\")"},"people":{"users":{}}},"name":"testAcc_287200613","type":"group_rule"}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://classic-00.dne-okta.com/api/v1/groups/rules
        method: POST
      response:
        body: '{"type":"group_rule","id":"0pr9i7je2bgvEeEZG1d7","status":"INACTIVE","name":"testAcc_287200613","conditions":{"people":{"users":{"exclude":[]},"groups":{"exclude":[]}},"expression":{"value":"String.startsWith(user.firstName,\"andy\")","type":"urn:okta:expression:1.0"}},"actions":{"assignUserToGroups":{"groupIds":["00g9i7hmyzZzOItEM1d7"]}},"allGroupsValid":true}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 182.017387ms
    - id: 7
      request:
        host: classic-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/groups/rules/0pr9i7je2bgvEeEZG1d7/lifecycle/activate
        method: POST
      response:
        body: ""
        headers:
        status: 204 No Content
        code: 204
        duration: 72.854654ms
    - id: 8
      request:
        host: classic-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/groups/rules/0pr9i7je2bgvEeEZG1d7
        method: GET
      response:
        body: '{"type":"group_rule","id":"0pr9i7je2bgvEeEZG1d7","status":"ACTIVE","name":"testAcc_287200613","conditions":{"people":{"users":{"exclude":[]},"groups":{"exclude":[]}},"expression":{"value":"String.startsWith(user.firstName,\"andy\")","type":"urn:okta:expression:1.0"}},"actions":{"assignUserToGroups":{"groupIds":["00g9i7hmyzZzOItEM1d7"]}},"allGroupsValid":true}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 63.020738ms
[...]
    - id: 19
      request:
        host: classic-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/groups/rules/0pr9i7je2bgvEeEZG1d7/lifecycle/deactivate
        method: POST
      response:
        body: ""
        headers:
        status: 204 No Content
        code: 204
        duration: 116.164318ms
[...]
    - id: 35
      request:
        host: classic-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/groups/rules/0pr9i7je2bgvEeEZG1d7?removeUsers=false
        method: DELETE
      response:
        body: '{}'
        headers:
            Content-Type:
                - application/json
        status: 202 Accepted
        code: 202
        duration: 176.366929ms
[...]
    - id: 38
      request:
        host: classic-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/groups/00g9i7fy75DkM1Nwp1d7
        method: GET
      response:
        body: '{"id":"00g9i7fy75DkM1Nwp1d7","created":"2023-08-16T00:04:42.000Z","lastUpdated":"2023-08-16T00:04:42.000Z","lastMembershipUpdated":"2023-08-16T00:04:42.000Z","objectClass":["okta:user_group"],"type":"OKTA_GROUP","profile":{"name":"other_testAcc_287200613","description":""},"_links":{"logo":[{"name":"medium","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-medium.30ce6d4085dff29412984e4c191bc874.png","type":"image/png"},{"name":"large","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-large.c3cb8cda8ae0add1b4fe928f5844dbe3.png","type":"image/png"}],"users":{"href":"https://classic-00.oktapreview.com/api/v1/groups/00g9i7fy75DkM1Nwp1d7/users"},"apps":{"href":"https://classic-00.oktapreview.com/api/v1/groups/00g9i7fy75DkM1Nwp1d7/apps"}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 58.694162ms
[...]
    - id: 42
      request:
        host: classic-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/groups/rules/0pr9i7dph0W1CEmQv1d7/lifecycle/activate
        method: POST
      response:
        body: ""
        headers:
        status: 204 No Content
        code: 204
        duration: 83.519734ms
    - id: 43
      request:
        host: classic-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/groups/rules/0pr9i7dph0W1CEmQv1d7
        method: GET
      response:
        body: '{"type":"group_rule","id":"0pr9i7dph0W1CEmQv1d7","status":"ACTIVE","name":"testAcc_287200613","conditions":{"people":{"users":{"exclude":[]},"groups":{"exclude":[]}},"expression":{"value":"String.startsWith(user.firstName,String.toLowerCase(\"bOb\"))","type":"urn:okta:expression:1.0"}},"actions":{"assignUserToGroups":{"groupIds":["00g9i7fy75DkM1Nwp1d7"]}},"allGroupsValid":true}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 85.496799ms
[...]
    - id: 55
      request:
        host: classic-00.dne-okta.com
        body: |
            {"credentials":{"password":{}},"profile":{"email":"testAcc-287200613@example.com","firstName":"TestAcc","lastName":"Smith","login":"testAcc-287200613@example.com","postalAddress":null}}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://classic-00.dne-okta.com/api/v1/users
        method: POST
      response:
        body: '{"id":"00u9i7eb19cafqiIe1d7","status":"PROVISIONED","created":"2023-08-16T00:04:45.000Z","activated":"2023-08-16T00:04:45.000Z","statusChanged":"2023-08-16T00:04:45.000Z","lastLogin":null,"lastUpdated":"2023-08-16T00:04:45.000Z","passwordChanged":null,"type":{"id":"oty5ptm052JMcoADv1d7"},"profile":{"firstName":"TestAcc","lastName":"Smith","mobilePhone":null,"secondEmail":null,"login":"testAcc-287200613@example.com","email":"testAcc-287200613@example.com"},"credentials":{"provider":{"type":"OKTA","name":"OKTA"}},"_links":{"suspend":{"href":"https://classic-00.oktapreview.com/api/v1/users/00u9i7eb19cafqiIe1d7/lifecycle/suspend","method":"POST"},"schema":{"href":"https://classic-00.oktapreview.com/api/v1/meta/schemas/user/osc5ptm052JMcoADv1d7"},"resetPassword":{"href":"https://classic-00.oktapreview.com/api/v1/users/00u9i7eb19cafqiIe1d7/lifecycle/reset_password","method":"POST"},"reactivate":{"href":"https://classic-00.oktapreview.com/api/v1/users/00u9i7eb19cafqiIe1d7/lifecycle/reactivate","method":"POST"},"self":{"href":"https://classic-00.oktapreview.com/api/v1/users/00u9i7eb19cafqiIe1d7"},"type":{"href":"https://classic-00.oktapreview.com/api/v1/meta/types/user/oty5ptm052JMcoADv1d7"},"deactivate":{"href":"https://classic-00.oktapreview.com/api/v1/users/00u9i7eb19cafqiIe1d7/lifecycle/deactivate","method":"POST"}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 277.202373ms
    - id: 56
      request:
        host: classic-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/users/00u9i7eb19cafqiIe1d7
        method: GET
      response:
        body: '{"id":"00u9i7eb19cafqiIe1d7","status":"PROVISIONED","created":"2023-08-16T00:04:45.000Z","activated":"2023-08-16T00:04:45.000Z","statusChanged":"2023-08-16T00:04:45.000Z","lastLogin":null,"lastU[...]
[...]
    - id: 58
      request:
        host: classic-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/groups/rules/0pr9i7dph0W1CEmQv1d7/lifecycle/deactivate
        method: POST
      response:
        body: ""
        headers:
        status: 204 No Content
        code: 204
        duration: 104.765736ms
[...]
    - id: 67
      request:
        host: classic-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/groups/rules/0pr9i7dph0W1CEmQv1d7?removeUsers=false
        method: DELETE
      response:
        body: '{}'
        headers:
            Content-Type:
                - application/json
        status: 202 Accepted
        code: 202
        duration: 145.624253ms
[...]
    - id: 71
      request:
        host: classic-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/groups/rules/0pr9i7dph0W1CEmQv1d7
        method: GET
      response:
        body: '{"errorCode":"E0000007","errorSummary":"Not found: Resource not found: 0pr9i7dph0W1CEmQv1d7 (PolicyRule)","errorLink":"E0000007","errorId":"oaeDASXRqnnRICF8LqefjQdMw","errorCauses":[]}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 53.022566ms
