---
version: 2
interactions:
  - id: 0
    request:
      host: oie-00.dne-okta.com
      body: |
        {"profile":{"name":"testAcc_287200613","description":""}}
      form: {}
      headers:
        Authorization:
          - SSWS REDACTED
        Content-Type:
          - application/json
      url: https://oie-00.dne-okta.com/api/v1/groups
      method: POST
    response:
      body: '{"id":"00gon0izye6t2r93U5d7","created":"2025-05-08T07:56:17.000Z","lastUpdated":"2025-05-08T07:56:17.000Z","lastMembershipUpdated":"2025-05-08T07:56:17.000Z","objectClass":["okta:user_group"],"type":"OKTA_GROUP","profile":{"name":"testAcc_287200613","description":""},"_links":{"logo":[{"name":"medium","href":"https://ok12static.oktacdn.com/assets/img/logos/groups/odyssey/okta-medium.30ce6d4085dff29412984e4c191bc874.png","type":"image/png"},{"name":"large","href":"https://ok12static.oktacdn.com/assets/img/logos/groups/odyssey/okta-large.c3cb8cda8ae0add1b4fe928f5844dbe3.png","type":"image/png"}],"users":{"href":"https://oie-00.okta.com/api/v1/groups/00gon0izye6t2r93U5d7/users"},"apps":{"href":"https://oie-00.okta.com/api/v1/groups/00gon0izye6t2r93U5d7/apps"}}}'
      headers:
        Accept-Ch:
          - Sec-CH-UA-Platform-Version
        Content-Type:
          - application/json
      status: 200 OK
      code: 200
      duration: 857.943292ms
  - id: 1
    request:
      host: oie-00.dne-okta.com
      body: ""
      form: {}
      headers:
        Authorization:
          - SSWS REDACTED
      url: https://oie-00.dne-okta.com/api/v1/groups/00gon0izye6t2r93U5d7
      method: GET
    response:
      body: '{"id":"00gon0izye6t2r93U5d7","created":"2025-05-08T07:56:17.000Z","lastUpdated":"2025-05-08T07:56:17.000Z","lastMembershipUpdated":"2025-05-08T07:56:17.000Z","objectClass":["okta:user_group"],"type":"OKTA_GROUP","profile":{"name":"testAcc_287200613","description":""},"_links":{"logo":[{"name":"medium","href":"https://ok12static.oktacdn.com/assets/img/logos/groups/odyssey/okta-medium.30ce6d4085dff29412984e4c191bc874.png","type":"image/png"},{"name":"large","href":"https://ok12static.oktacdn.com/assets/img/logos/groups/odyssey/okta-large.c3cb8cda8ae0add1b4fe928f5844dbe3.png","type":"image/png"}],"users":{"href":"https://oie-00.okta.com/api/v1/groups/00gon0izye6t2r93U5d7/users"},"apps":{"href":"https://oie-00.okta.com/api/v1/groups/00gon0izye6t2r93U5d7/apps"}}}'
      headers:
        Accept-Ch:
          - Sec-CH-UA-Platform-Version
        Content-Type:
          - application/json
      status: 200 OK
      code: 200
      duration: 387.661542ms
[...]
  - id: 3
    request:
      host: oie-00.dne-okta.com
      body: |
        {"actions":{"assignUserToGroups":{"groupIds":["00gon0izye6t2r93U5d7"]}},"conditions":{"expression":{"type":"urn:okta:expression:1.0","value":"String.startsWith(user.firstName,\"andy\")"},"people":{"users":{}}},"name":"testAcc_287200613","type":"group_rule"}
      form: {}
      headers:
        Authorization:
          - SSWS REDACTED
        Content-Type:
          - application/json
      url: https://oie-00.dne-okta.com/api/v1/groups/rules
      method: POST
    response:
      body: '{"type":"group_rule","id":"0pron0jloaxuuCtDF5d7","status":"INACTIVE","name":"testAcc_287200613","created":"2025-05-08T07:56:18.000Z","lastUpdated":"2025-05-08T07:56:18.000Z","conditions":{"people":{"users":{"exclude":[]},"groups":{"exclude":[]}},"expression":{"value":"String.startsWith(user.firstName,\"andy\")","type":"urn:okta:expression:1.0"}},"actions":{"assignUserToGroups":{"groupIds":["00gon0izye6t2r93U5d7"]}},"allGroupsValid":true}'
      headers:
        Accept-Ch:
          - Sec-CH-UA-Platform-Version
        Content-Type:
          - application/json
      status: 200 OK
      code: 200
      duration: 410.703833ms
  - id: 4
    request:
      host: oie-00.dne-okta.com
      body: ""
      form: {}
      headers:
        Authorization:
          - SSWS REDACTED
      url: https://oie-00.dne-okta.com/api/v1/groups/rules/0pron0jloaxuuCtDF5d7/lifecycle/activate
      method: POST
    response:
      body: ""
      headers:
        Accept-Ch:
          - Sec-CH-UA-Platform-Version
      status: 204 No Content
      code: 204
      duration: 400.057167ms
  - id: 5
    request:
      host: oie-00.dne-okta.com
      body: ""
      form: {}
      headers:
        Authorization:
          - SSWS REDACTED
      url: https://oie-00.dne-okta.com/api/v1/groups/rules/0pron0jloaxuuCtDF5d7
      method: GET
    response:
      body: '{"type":"group_rule","id":"0pron0jloaxuuCtDF5d7","status":"ACTIVE","name":"testAcc_287200613","created":"2025-05-08T07:56:18.000Z","lastUpdated":"2025-05-08T07:56:18.000Z","conditions":{"people":{"users":{"exclude":[]},"groups":{"exclude":[]}},"expression":{"value":"String.startsWith(user.firstName,\"andy\")","type":"urn:okta:expression:1.0"}},"actions":{"assignUserToGroups":{"groupIds":["00gon0izye6t2r93U5d7"]}},"allGroupsValid":true}'
      headers:
        Accept-Ch:
          - Sec-CH-UA-Platform-Version
        Content-Type:
          - application/json
      status: 200 OK
      code: 200
      duration: 369.771625ms
[...]
  - id: 10
    request:
      host: oie-00.dne-okta.com
      body: ""
      form: {}
      headers:
        Authorization:
          - SSWS REDACTED
      url: https://oie-00.dne-okta.com/api/v1/groups/rules/0pron0jloaxuuCtDF5d7/lifecycle/deactivate
      method: POST
    response:
      body: ""
      headers:
        Accept-Ch:
          - Sec-CH-UA-Platform-Version
      status: 204 No Content
      code: 204
      duration: 411.869833ms
[...]
  - id: 19
    request:
      host: oie-00.dne-okta.com
      body: ""
      form: {}
      headers:
        Authorization:
          - SSWS REDACTED
      url: https://oie-00.dne-okta.com/api/v1/groups/rules/0pron0jloaxuuCtDF5d7?removeUsers=false
      method: DELETE
    response:
      body: "{}"
      headers:
        Accept-Ch:
          - Sec-CH-UA-Platform-Version
        Content-Type:
          - application/json
      status: 202 Accepted
      code: 202
      duration: 408.068375ms
[...]
  - id: 21
    request:
      host: oie-00.dne-okta.com
      body: ""
      form: {}
      headers:
        Authorization:
          - SSWS REDACTED
      url: https://oie-00.dne-okta.com/api/v1/groups/00gon0ip3kvtaSTGF5d7
      method: GET
    response:
      body: '{"id":"00gon0ip3kvtaSTGF5d7","created":"2025-05-08T07:56:25.000Z","lastUpdated":"2025-05-08T07:56:25.000Z","lastMembershipUpdated":"2025-05-08T07:56:25.000Z","objectClass":["okta:user_group"],"type":"OKTA_GROUP","profile":{"name":"other_testAcc_287200613","description":""},"_links":{"logo":[{"name":"medium","href":"https://ok12static.oktacdn.com/assets/img/logos/groups/odyssey/okta-medium.30ce6d4085dff29412984e4c191bc874.png","type":"image/png"},{"name":"large","href":"https://ok12static.oktacdn.com/assets/img/logos/groups/odyssey/okta-large.c3cb8cda8ae0add1b4fe928f5844dbe3.png","type":"image/png"}],"users":{"href":"https://oie-00.okta.com/api/v1/groups/00gon0ip3kvtaSTGF5d7/users"},"apps":{"href":"https://oie-00.okta.com/api/v1/groups/00gon0ip3kvtaSTGF5d7/apps"}}}'
      headers:
        Accept-Ch:
          - Sec-CH-UA-Platform-Version
        Content-Type:
          - application/json
      status: 200 OK
      code: 200
      duration: 369.6355ms
[...]
  - id: 24
    request:
      host: oie-00.dne-okta.com
      body: ""
      form: {}
      headers:
        Authorization:
          - SSWS REDACTED
      url: https://oie-00.dne-okta.com/api/v1/groups/rules/0pron0iyf72Kf1kdC5d7/lifecycle/activate
      method: POST
    response:
      body: ""
      headers:
        Accept-Ch:
          - Sec-CH-UA-Platform-Version
      status: 204 No Content
      code: 204
      duration: 242.357958ms
  - id: 25
    request:
      host: oie-00.dne-okta.com
      body: ""
      form: {}
      headers:
        Authorization:
          - SSWS REDACTED
      url: https://oie-00.dne-okta.com/api/v1/groups/rules/0pron0iyf72Kf1kdC5d7
      method: GET
    response:
      body: '{"type":"group_rule","id":"0pron0iyf72Kf1kdC5d7","status":"ACTIVE","name":"testAcc_287200613","created":"2025-05-08T07:56:26.000Z","lastUpdated":"2025-05-08T07:56:27.000Z","conditions":{"people":{"users":{"exclude":[]},"groups":{"exclude":[]}},"expression":{"value":"String.startsWith(user.firstName,String.toLowerCase(\"bOb\"))","type":"urn:okta:expression:1.0"}},"actions":{"assignUserToGroups":{"groupIds":["00gon0ip3kvtaSTGF5d7"]}},"allGroupsValid":true}'
      headers:
        Accept-Ch:
          - Sec-CH-UA-Platform-Version
        Content-Type:
          - application/json
      status: 200 OK
      code: 200
      duration: 376.1835ms
[...]
  - id: 32
    request:
      host: oie-00.dne-okta.com
      body: |
        {"credentials":{"password":{}},"profile":{"email":"testAcc-287200613@example.com","firstName":"TestAcc","lastName":"Smith","login":"testAcc-287200613@example.com","postalAddress":null}}
      form: {}
      headers:
        Authorization:
          - SSWS REDACTED
        Content-Type:
          - application/json
      url: https://oie-00.dne-okta.com/api/v1/users
      method: POST
    response:
      body: '{"id":"00uon0gb93nVlw5pB5d7","status":"PROVISIONED","created":"2025-05-08T07:56:30.000Z","activated":"2025-05-08T07:56:30.000Z","statusChanged":"2025-05-08T07:56:30.000Z","lastLogin":null,"lastUpdated":"2025-05-08T07:56:30.000Z","passwordChanged":null,"type":{"id":"oty92d0e2gJYJPnTi5d7"},"profile":{"firstName":"TestAcc","lastName":"Smith","mobilePhone":null,"secondEmail":null,"login":"testAcc-287200613@example.com","email":"testAcc-287200613@example.com"},"credentials":{"provider":{"type":"OKTA","name":"OKTA"}},"_links":{"suspend":{"href":"https://oie-00.okta.com/api/v1/users/00uon0gb93nVlw5pB5d7/lifecycle/suspend","method":"POST"},"schema":{"href":"https://oie-00.okta.com/api/v1/meta/schemas/user/osc92d0e2gJYJPnTi5d7"},"resetPassword":{"href":"https://oie-00.okta.com/api/v1/users/00uon0gb93nVlw5pB5d7/lifecycle/reset_password","method":"POST"},"reactivate":{"href":"https://oie-00.okta.com/api/v1/users/00uon0gb93nVlw5pB5d7/lifecycle/reactivate","method":"POST"},"self":{"href":"https://oie-00.okta.com/api/v1/users/00uon0gb93nVlw5pB5d7"},"type":{"href":"https://oie-00.okta.com/api/v1/meta/types/user/oty92d0e2gJYJPnTi5d7"},"deactivate":{"href":"https://oie-00.okta.com/api/v1/users/00uon0gb93nVlw5pB5d7/lifecycle/deactivate","method":"POST"}}}'
      headers:
        Accept-Ch:
          - Sec-CH-UA-Platform-Version
        Content-Type:
          - application/json
      status: 200 OK
      code: 200
      duration: 597.948916ms
  - id: 33
    request:
      host: oie-00.dne-okta.com
      body: ""
      form: {}
      headers:
        Authorization:
          - SSWS REDACTED
      url: https://oie-00.dne-okta.com/api/v1/users/00uon0gb93nVlw5pB5d7
      method: GET
    response:
      body: '{"id":"00uon0gb93nVlw5pB5d7","status":"PROVISIONED","created":"2025-05-08T07:56:30.000Z","activated":"2025-05-08T07:56:30.000Z","statusChanged":"2025-05-08T07:56:30.000Z","lastLogin":null,"lastUpdated":"2025-05-08T07:56:30.000Z","pa[...]
  - id: 34
    request:
      host: oie-00.dne-okta.com
      body: ""
      form: {}
      headers:
        Authorization:
          - SSWS REDACTED
      url: https://oie-00.dne-okta.com/api/v1/groups/rules/0pron0iyf72Kf1kdC5d7/lifecycle/deactivate
      method: POST
    response:
      body: ""
      headers:
        Accept-Ch:
          - Sec-CH-UA-Platform-Version
      status: 204 No Content
      code: 204
      duration: 209.633041ms
[...]
  - id: 42
    request:
      host: oie-00.dne-okta.com
      body: ""
      form: {}
      headers:
        Authorization:
          - SSWS REDACTED
      url: https://oie-00.dne-okta.com/api/v1/groups/rules/0pron0iyf72Kf1kdC5d7?removeUsers=false
      method: DELETE
    response:
      body: "{}"
      headers:
        Accept-Ch:
          - Sec-CH-UA-Platform-Version
        Content-Type:
          - application/json
      status: 202 Accepted
      code: 202
      duration: 213.611834ms
[...]
  - id: 47
    request:
      host: oie-00.dne-okta.com
      body: ""
      form: {}
      headers:
        Authorization:
          - SSWS REDACTED
      url: https://oie-00.dne-okta.com/api/v1/groups/rules/0pron0iyf72Kf1kdC5d7
      method: GET
    response:
      body: '{"errorCode":"E0000007","errorSummary":"Not found: Resource not found: 0pron0iyf72Kf1kdC5d7 (PolicyRule)","errorLink":"E0000007","errorId":"oaeAifdlmM1R92v89WpCdbgAA","errorCauses":[]}'
      headers:
        Accept-Ch:
          - Sec-CH-UA-Platform-Version
        Content-Type:
          - application/json
      status: 404 Not Found
      code: 404
      duration: 393.265792ms
