---
version: 2
interactions:
    - id: 0
      request:
        host: oie-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/brands
        method: GET
      response:
        body: '[{"id":"bnd11crgsc3qrqevL698","name":"ticketmaster-co-oie-00","removePoweredByOkta":false,"customPrivacyPolicyUrl":null,"agreeToCustomPrivacyPolicy":false,"isDefault":true,"defaultApp":{"appInstanceId":"0oa11crgsd4N9VPTO698","appLinkName":null,"classicApplicationUri":null},"_links":{"themes":{"href":"https://oie-00.dne-okta.com/api/v1/brands/bnd11crgsc3qrqevL698/themes","hints":{"allow":["GET"]}},"self":{"href":"https://oie-00.dne-okta.com/api/v1/brands/bnd11crgsc3qrqevL698","hints":{"allow":["GET","PUT","DELETE"]}}}}]'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
            Link:
                - <https://oie-00.dne-okta.com/api/v1/brands?limit=20>; rel="self"
        status: 200 OK
        code: 200
        duration: 686.802584ms
[...]
    - id: 2
      request:
        host: oie-00.dne-okta.com
        body: |
            {"brandId":"bnd11crgsc3qrqevL698","displayName":"test","domain":"testAcc-2795509062.example.com","userName":"fff","validationSubdomain":"mail"}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://oie-00.dne-okta.com/api/v1/email-domains
        method: POST
      response:
        body: '{"id":"OeD11ctkvulD0nCgx698","validationStatus":"NOT_STARTED","displayName":"test","userName":"fff","domain":"testAcc-2795509062.example.com","validationSubdomain":"mail","dnsValidationRecords":[{"recordType":"TXT","fqdn":"_oktaverification.testAcc-2795509062.example.com","verificationValue":"e205e40d1f6548199e9d66cd1b936a83"},{"recordType":"cname","fqdn":"mail.testacc-2795509062.example.com","verificationValue":"u21992032.wl033.sendgrid.net"},{"recordType":"cname","fqdn":"okt._domainkey.testacc-2795509062.example.com","verificationValue":"okt.domainkey.u21992032.wl033.sendgrid.net"},{"recordType":"cname","fqdn":"okt2._domainkey.testacc-2795509062.example.com","verificationValue":"okt2.domainkey.u21992032.wl033.sendgrid.net"}]}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 1.00032325s
    - id: 3
      request:
        host: oie-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/email-domains/OeD11ctkvulD0nCgx698
        method: GET
      response:
        body: '{"id":"OeD11ctkvulD0nCgx698","validationStatus":"NOT_STARTED","displayName":"test","userName":"fff","domain":"testAcc-2795509062.example.com","validationSubdomain":"mail","dnsValidationRecords":[{"recordType":"TXT","fqdn":"_oktaverification.testAcc-2795509062.example.com","verificationValue":"e205e40d1f6548199e9d66cd1b936a83"},{"recordType":"cname","fqdn":"mail.testacc-2795509062.example.com","verificationValue":"u21992032.wl033.sendgrid.net"},{"recordType":"cname","fqdn":"okt._domainkey.testacc-2795509062.example.com","verificationValue":"okt.domainkey.u21992032.wl033.sendgrid.net"},{"recordType":"cname","fqdn":"okt2._domainkey.testacc-2795509062.example.com","verificationValue":"okt2.domainkey.u21992032.wl033.sendgrid.net"}]}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 643.130875ms
    - id: 4
      request:
        host: oie-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/brands
        method: GET
      response:
        body: '[{"id":"bnd11crgsc3qrqevL698","name":"ticketmaster-co-oie-00","removePoweredByOkta":false,"customPrivacyPolicyUrl":null,"agreeToCustomPrivacyPolicy":false,"isDefault":true,"emailDomainId":"OeD11ctkvulD0nCgx698","defaultApp":{"appInstanceId":"0oa11crgsd4N9VPTO698","appLinkName":null,"classicApplicationUri":null},"_links":{"themes":{"href":"https://oie-00.dne-okta.com/api/v1/brands/bnd11crgsc3qrqevL698/themes","hints":{"allow":["GET"]}},"self":{"href":"https://oie-00.dne-okta.com/api/v1/brands/bnd11crgsc3qrqevL698","hints":{"allow":["GET","PUT","DELETE"]}},"emailDomain":{"href":"https://oie-00.dne-okta.com/api/v1/email-domains/OeD11ctkvulD0nCgx698","hints":{"allow":["GET","PUT"]}}}}]'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
            Link:
                - <https://oie-00.dne-okta.com/api/v1/brands?limit=20>; rel="self"
        status: 200 OK
        code: 200
        duration: 643.320959ms
[...]
