---
version: 2
interactions:
    - id: 0
      request:
        host: oie-00-admin.dne-okta.com
        body: |
            {"sendEmailForNewDeviceEnabled":true,"sendEmailForFactorEnrollmentEnabled":true,"sendEmailForFactorResetEnabled":true,"sendEmailForPasswordChangedEnabled":true,"reportSuspiciousActivityEnabled":true}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://oie-00-admin.dne-okta.com/api/internal/org/settings/security-notification-settings
        method: PUT
      response:
        body: '{"sendEmailForNewDeviceEnabled":true,"sendEmailForFactorEnrollmentEnabled":true,"sendEmailForFactorResetEnabled":true,"sendEmailForPasswordChangedEnabled":true,"reportSuspiciousActivityEnabled":true,"customizedEmailsList":[],"customizedEmailsWithReportButtonList":[]}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.742128791s
[...]
