---
version: 2
interactions:
    - id: 0
      request:
        host: oie-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/identity-sources/0oaxc95befZNgrJl71d7/sessions
        method: POST
      response:
        body: '{"id":"aps1mp0rtTest001d77","identitySourceId":"0oaxc95befZNgrJl71d7","status":"CREATED","importType":"INCREMENTAL","created":"2026-05-09T10:00:00.000Z","lastUpdated":"2026-05-09T10:00:00.000Z"}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 1.100000000s
    - id: 1
      request:
        host: oie-00.dne-okta.com
        body: |
            {"entityType":"USERS","profiles":[{"externalId":"USEREXT123456TESTUSER3","profile":{"email":"testuser3@example.com","firstName":"Test","lastName":"User3","userName":"testuser3@example.com"}}]}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://oie-00.dne-okta.com/api/v1/identity-sources/0oaxc95befZNgrJl71d7/sessions/aps1mp0rtTest001d77/bulk-upsert
        method: POST
      response:
        body: ""
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
        status: 202 Accepted
        code: 202
        duration: 1.100000000s
    - id: 2
      request:
        host: oie-00.dne-okta.com
        body: |
            {"memberships":[{"groupExternalId":"GROUPEXT123456784C2IF","memberExternalIds":["USEREXT123456TESTUSER3"]}]}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://oie-00.dne-okta.com/api/v1/identity-sources/0oaxc95befZNgrJl71d7/sessions/aps1mp0rtTest001d77/bulk-group-memberships-upsert
        method: POST
      response:
        body: ""
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
        status: 202 Accepted
        code: 202
        duration: 1.100000000s
    - id: 3
      request:
        host: oie-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/identity-sources/0oaxc95befZNgrJl71d7/sessions/aps1mp0rtTest001d77/start-import
        method: POST
      response:
        body: '{"id":"aps1mp0rtTest001d77","identitySourceId":"0oaxc95befZNgrJl71d7","status":"IN_PROGRESS","importType":"INCREMENTAL","created":"2026-05-09T10:00:00.000Z","lastUpdated":"2026-05-09T10:00:04.000Z"}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.100000000s
    - id: 4
      request:
        host: oie-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/identity-sources/0oaxc95befZNgrJl71d7/sessions/aps1mp0rtTest001d77
        method: GET
      response:
        body: '{"id":"aps1mp0rtTest001d77","identitySourceId":"0oaxc95befZNgrJl71d7","status":"IN_PROGRESS","importType":"INCREMENTAL","created":"2026-05-09T10:00:00.000Z","lastUpdated":"2026-05-09T10:00:04.000Z"}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.100000000s