---
version: 2
interactions:
    - id: 0
      request:
        host: classic-00.dne-okta.com
        body: |
            {"accessibility":{},"credentials":{"oauthClient":{"autoKeyRotation":true,"pkce_required":true,"token_endpoint_auth_method":"client_secret_basic"},"userNameTemplate":{"template":"${source.login}","type":"BUILT_IN"}},"label":"testAcc_3927300029","name":"oidc_client","settings":{"notes":{},"oauthClient":{"application_type":"native","consent_method":"TRUSTED","dpop_bound_access_tokens":false,"grant_types":["authorization_code"],"idp_initiated_login":{"default_scope":[],"mode":"DISABLED"},"issuer_mode":"ORG_URL","redirect_uris":["http://d.com/"],"response_types":["code"],"wildcard_redirect":"DISABLED"}},"signOnMode":"OPENID_CONNECT","visibility":{"hide":{"iOS":true,"web":true}}}
        form:
            activate:
                - "true"
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://classic-00.dne-okta.com/api/v1/apps?activate=true
        method: POST
      response:
        body: '{"id":"0oau0iruz35oODGt61d7","orn":"orn:oktapreview:idp:00otivnuq1X5554yc1d7:apps:oidc_client:0oau0iruz35oODGt61d7","name":"oidc_client","label":"testAcc_3927300029","status":"ACTIVE","lastUpdated":"2026-01-20T17:46:54.000Z","created":"2026-01-20T17:46:54.000Z","accessibility":{"selfService":false,"errorRedirectUrl":null,"loginRedirectUrl":null},"visibility":{"autoLaunch":false,"autoSubmitToolbar":false,"hide":{"iOS":true,"web":true},"appLinks":{"oidc_client_link":true}},"features":[],"signOnMode":"OPENID_CONNECT","credentials":{"userNameTemplate":{"template":"${source.login}","type":"BUILT_IN"},"signing":{"kid":"48X-q9YWQ_p1aXo_HbPDTPbEncSYjFgiJEzhmK8Kq8I"},"oauthClient":{"autoKeyRotation":true,"client_id":"0oau0iruz35oODGt61d7","client_secret":"CCYZw2jcNgz-eSNPzzQoenMLZtAetfGsmVOA3IxEn8XozxtFgPbau2da5ivm_lhp","token_endpoint_auth_method":"client_secret_basic","pkce_required":true}},"universalLogout":null,"settings":{"app":{},"notifications":{"vpn":{"network":{"connection":"DISABLED"},"message":null,"helpUrl":null}},"manualProvisioning":false,"implicitAssignment":false,"emOptInStatus":"NONE","notes":{"admin":null,"enduser":null},"oauthClient":{"client_uri":null,"logo_uri":null,"redirect_uris":["http://d.com/"],"response_types":["code"],"grant_types":["authorization_code"],"application_type":"native","consent_method":"TRUSTED","issuer_mode":"ORG_URL","idp_initiated_login":{"mode":"DISABLED","default_scope":[]},"wildcard_redirect":"DISABLED","dpop_bound_access_tokens":false}},"_links":{"uploadLogo":{"href":"https://classic-00.dne-okta.com/api/v1/apps/0oau0iruz35oODGt61d7/logo","hints":{"allow":["POST"]}},"appLinks":[{"name":"oidc_client_link","href":"https://classic-00.dne-okta.com/home/oidc_client/0oau0iruz35oODGt61d7/aln177a159h7Zf52X0g8","type":"text/html"}],"profileEnrollment":{"href":"https://classic-00.dne-okta.com/api/v1/policies/rsttivnuviYmKDYit1d7"},"policies":{"href":"https://classic-00.dne-okta.com/api/v1/apps/0oau0iruz35oODGt61d7/policies","hints":{"allow":["PUT"]}},"groups":{"href":"https://classic-00.dne-okta.com/api/v1/apps/0oau0iruz35oODGt61d7/groups"},"logo":[{"name":"medium","href":"https://op3static2.oktacdn.com/assets/img/logos/default.6770228fb0dab49a1695ef440a5279bb.png","type":"image/png"}],"clientCredentials":[{"name":"secrets","href":"https://classic-00.dne-okta.com/api/v1/apps/0oau0iruz35oODGt61d7/credentials/secrets"}],"accessPolicy":{"href":"https://classic-00.dne-okta.com/api/v1/policies/rsttivnuvg01CxhjA1d7"},"users":{"href":"https://classic-00.dne-okta.com/api/v1/apps/0oau0iruz35oODGt61d7/users"},"deactivate":{"href":"https://classic-00.dne-okta.com/api/v1/apps/0oau0iruz35oODGt61d7/lifecycle/deactivate"}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.640342417s
    - id: 1
      request:
        host: classic-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/.well-known/okta-organization
        method: GET
      response:
        body: '{"id":"00otivnuq1X5554yc1d7","cell":"op3","_links":{"organization":{"href":"https://classic-00.dne-okta.com"}},"pipeline":"idx","settings":{"analyticsCollectionEnabled":false,"bugReportingEnabled":true,"omEnabled":false,"pssoEnabled":false,"desktopMFAEnabled":false,"itpEnabled":false}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.13102225s
    - id: 2
      request:
        host: classic-00.dne-okta.com
        form:
            type:
                - ACCESS_POLICY
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/policies?type=ACCESS_POLICY
        method: GET
      response:
        body: '[{"id":"rsttivnuus97Z2Ua81d7","status":"ACTIVE","name":"Okta Admin Console","priority":1,"system":false,"conditions":null,"created":"2026-01-06T09:19:37.000Z","lastUpdated":"2026-01-06T09:19:37.000Z","_links":{"mappings":{"href":"https://classic-00.dne-okta.com/api/v1/policies/rsttivnuus97Z2Ua81d7/mappings","hints":{"allow":["GET","POST"]}},"self":{"href":"https://classic-00.dne-okta.com/api/v1/policies/rsttivnuus97Z2Ua81d7","hints":{"allow":["GET","PUT","DELETE"]}},"rules":{"href":"https://classic-00.dne-okta.com/api/v1/policies/rsttivnuus97Z2Ua81d7/rules","hints":{"allow":["GET","POST"]}},"deactivate":{"href":"https://classic-00.dne-okta.com/api/v1/policies/rsttivnuus97Z2Ua81d7/lifecycle/deactivate","hints":{"allow":["POST"]}}},"_embedded":{"resourceType":"APP"},"type":"ACCESS_POLICY"},{"id":"rsttivnuuz4MSxGin1d7","status":"ACTIVE","name":"Okta Dashboard","priority":1,"system":false,"conditions":null,"created":"2026-01-06T09:19:37.000Z","lastUpdated":"2026-01-06T09:19:37.000Z","_links":{"mappings":{"href":"https://classic-00.dne-okta.com/api/v1/policies/rsttivnuuz4MSxGin1d7/mappings","hints":{"allow":["GET","POST"]}},"self":{"href":"https://classic-00.dne-okta.com/api/v1/policies/rsttivnuuz4MSxGin1d7","hints":{"allow":["GET","PUT","DELETE"]}},"ru[...]
    - id: 3
      request:
        host: classic-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/apps/0oau0iruz35oODGt61d7/policies/rsttivnuvg01CxhjA1d7
        method: PUT
      response:
        body: ""
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
        status: 204 No Content
        code: 204
        duration: 1.203156958s
    - id: 4
      request:
        host: classic-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/apps/0oau0iruz35oODGt61d7
        method: GET
      response:
        body: '{"id":"0oau0iruz35oODGt61d7","orn":"orn:oktapreview:idp:00otivnuq1X5554yc1d7:apps:oidc_client:0oau0iruz35oODGt61d7","name":"oidc_client","label":"testAcc_3927300029","status":"ACTIVE","lastUpdated":"2026-01-20T17:46:54.000Z","crea[...]
    - id: 5
      request:
        host: classic-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/internal/apps/0oau0iruz35oODGt61d7/settings/oauth/idToken
        method: GET
      response:
        body: '{"issuer":"https://classic-00.dne-okta.com","orgUrl":null,"customUrl":null,"audience":"0oau0iruz35oODGt61d7","issuerMode":"ORG_URL"}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.049601375s
    - id: 6
      request:
        host: classic-00.dne-okta.com
        body: |
            {"definitions":{"custom":{"id":"#custom","properties":{"testAcc_3927300029":{"description":"testing","items":{"enum":["one","two","three"],"oneOf":[{"const":"one","title":"string One"},{"const":"two","title":"string Two"},{"const":"three","title":"string Three"}],"type":"string"},"master":{"type":"PROFILE_MASTER"},"permissions":[{"action":"READ_ONLY","principal":"SELF"}],"required":false,"scope":"NONE","title":"terraform acceptance test","type":"array","union":"DISABLE"}},"type":"object"}}}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://classic-00.dne-okta.com/api/v1/meta/schemas/apps/0oau0iruz35oODGt61d7/default
        method: POST
      response:
        body: '{"id":"https://classic-00.dne-okta.com/meta/schemas/apps/0oau0iruz35oODGt61d7/default","$schema":"http://json-schema.org/draft-04/schema#","name":"oidc_client_guo3031","title":"testAcc_3927300029 User","lastUpdated":"2026-01-20T17:47:01.000Z","created":"2026-01-20T17:46:54.000Z","definitions":{"custom":{"id":"#custom","type":"object","properties":{"testAcc_3927300029":{"title":"terraform acceptance test","description":"testing","type":"array","scope":"NONE","items":{"type":"string","enum":["one","two","three"],"oneOf":[{"const":"one","title":"string One"},{"const":"two","title":"string Two"},{"const":"three","title":"string Three"}]},"union":"DISABLE"}},"required":[]},"base":{"id":"#base","type":"object","properties":{"userName":{"title":"Username","type":"string","required":true,"externalName":"preferred_username","scope":"SELF"},"name":{"title":"Name","description":"End-User''s full name in displayable form.","type":"string","scope":"SELF"},"nickname":{"title":"Nickname","description":"Casual name of the End-User (may or may not be the same as the given_name)","type":"string","scope":"SELF"},"given_name":{"title":"Given Name","description":"Given name or first name of the End-User.","type":"string","scope":"SELF"},"middle_name":{"title":"Middle Name","description":"Middle name of the End-User.","type":"string","scope":"SELF"},"family_name":{"title":"Family Name","description":"Surname or last name of the End-User.","type":"string","scope":"SELF"},"email":{"title":"Email","description":"End-User''s preferred e-mail address.","type":"string","scope":"SELF"},"profile":{"title":"Profile URL","description":"URL of the End-User''s profile page.","type":"string","scope":"SELF"},"picture":{"title":"Picture URL","description":"URL of the End-User''s profile picture.","type":"string","scope":"SELF"},"website":{"title":"Website","description":"URL of the End-User''s Web page or blog.","type":"string","scope":"SELF"},"gender":{"title":"Gender","description":"End-User''s gender.","type":"string","scope":"SELF"},"birthdate":{"title":"Birthdate","description":"End-User''s birthday, represented as an ISO 8601:2004 YYYY-MM-DD format.","type":"string","scope":"SELF"},"zoneinfo":{"title":"Time Zone","description":"String representing the End-User''s time zone.","type":"string","scope":"SELF"},"locale":{"title":"Locale Name","description":"ISO3166‑1 country code in uppercase, separated by a dash (e.g. ''en-US'')","type":"string","scope":"SELF"},"phone_number":{"title":"Phone Number","description":"End-User''s preferred telephone number in E.164 format.","type":"string","scope":"SELF"},"street_address":{"title":"Street Address","description":"Full street address component.","type":"string","externalName":"address.street_address","scope":"SELF"},"locality":{"title":"Locality","description":"City or locality component.","type":"string","externalName":"address.locality","scope":"SELF"},"region":{"title":"Region","description":"State, province, prefecture, or region component.","type":"string","externalName":"address.region","scope":"SELF"},"postal_code":{"title":"Postal Code","description":"Zip code or postal code component.","type":"string","externalName":"address.postal_code","scope":"SELF"},"country":{"title":"Country","description":"Country name component.","type":"string","externalName":"address.country","scope":"SELF"},"formatted":{"title":"Formatted","description":"Full mailing address, formatted for display.","type":"string","externalName":"address.formatted","scope":"SELF"}},"required":["userName"]}},"type":"object","properties":{"profile":{"allOf":[{"$ref":"#/definitions/custom"},{"$ref":"#/definitions/base"}]}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.084268375s
[...]
    - id: 13
      request:
        host: classic-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/apps/0oau0iruz35oODGt61d7/lifecycle/deactivate
        method: POST
      response:
        body: '{}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.09413025s
[...]
