---
version: 2
interactions:
    - id: 0
      request:
        host: oie-00.dne-okta.com
        body: |
            {"grantedScopes":["okta.groups.read","okta.logs.read","okta.users.read"],"type":"anzennaapiservice"}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://oie-00.dne-okta.com/integrations/api/v1/api-services
        method: POST
      response:
        body: '{"id":"0oaqrlar3sChBaICJ1d7","type":"anzennaapiservice","name":"Anzenna","createdAt":"2025-10-08T10:10:30.000Z","createdBy":"00unkw1sfbTw08c0g1d7","clientSecret":"K56P-d4r81Say8tH3EAIPRACmImNdCo0IT5uB8JvsE-xIUrW8Met6sQ_ItTEMCnD","configGuideUrl":"https://app.tango.us/app/workflow/Setup-Okta-Integration-in-Anzenna-via-Okta-Integration-Network-de0830961a114582b9a39bf6a0ecfe53","grantedScopes":["okta.users.read","okta.groups.read","okta.logs.read"],"properties":{},"_links":{"self":{"href":"https://oie-00.dne-okta.com/integrations/api/v1/api-services/0oaqrlar3sChBaICJ1d7","hints":{"allow":["GET","DELETE"]}},"client":{"href":"https://oie-00.dne-okta.com/oauth2/v1/clients/0oaqrlar3sChBaICJ1d7","hints":{"allow":["GET"]}},"logo":{"name":"medium","href":"https://op3static.oktacdn.com/fs/bcg/4/gfsg9anevm930UkAP1d7"}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 1.548570583s
    - id: 1
      request:
        host: oie-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/integrations/api/v1/api-services/0oaqrlar3sChBaICJ1d7
        method: GET
      response:
        body: '{"id":"0oaqrlar3sChBaICJ1d7","type":"anzennaapiservice","name":"Anzenna","createdAt":"2025-10-08T10:10:30.000Z","createdBy":"00unkw1sfbTw08c0g1d7","configGuideUrl":"https://app.tango.us/app/workflow/Setup-Okta-Integration-in-Anzenna-via-Okta-Integration-Network-de0830961a114582b9a39bf6a0ecfe53","grantedScopes":["okta.logs.read","okta.groups.read","okta.users.read"],"properties":{},"_links":{"self":{"href":"https://oie-00.dne-okta.com/integrations/api/v1/api-services/0oaqrlar3sChBaICJ1d7","hints":{"allow":["GET","DELETE"]}},"client":{"href":"https://oie-00.dne-okta.com/oauth2/v1/clients/0oaqrlar3sChBaICJ1d7","hints":{"allow":["GET"]}},"logo":{"name":"medium","href":"https://op3static.oktacdn.com/fs/bcg/4/gfsg9anevm930UkAP1d7"}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.024127417s
[...]
