---
version: 2
interactions:
    - id: 0
      request:
        host: oie-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/identity-sources/0oaxc95befZNgrJl71d7/users/USEREXT123456TESTUSER1
        method: GET
      response:
        body: '{"id":"0uaxr8kpjfWHJpAKK1d7","externalId":"USEREXT123456TESTUSER1","created":"2026-04-19T16:52:09.000Z","lastUpdated":"2026-04-19T16:52:09.000Z","profile":{"firstName":"Test","lastName":"User","mobilePhone":null,"secondEmail":null,"userName":"testuser1@example.com","email":"testuser1@example.com"}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.208941791s
[...]
