---
version: 2
interactions:
    - id: 0
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/.well-known/okta-organization
        method: GET
      response:
        body: '{"id":"00o5qwjvg8hg7YpT81d7","cell":"op3","_links":{"organization":{"href":"https://oie-00.oktapreview.com"}},"pipeline":"idx","settings":{"analyticsCollectionEnabled":false,"bugReportingEnabled":true,"omEnabled":false,"pssoEnabled":false}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 149.412137ms
    - id: 1
      request:
        host: oie-00.dne-okta.com
        body: |
            {"name":"testAcc_2392703879","siteKey":"random_key","secretKey":"random_key","type":"HCAPTCHA"}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://oie-00.dne-okta.com/api/v1/captchas
        method: POST
      response:
        body: '{"id":"cap9i7152oi6nXF3c1d7","name":"testAcc_2392703879","siteKey":"random_key","type":"HCAPTCHA","_links":{"self":{"href":"https://oie-00.oktapreview.com/api/v1/captchas/cap9i7152oi6nXF3c1d7","hints":{"allow":["GET","POST","PUT","DELETE"]}}}}'
        headers:
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 107.060672ms
    - id: 2
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/captchas/cap9i7152oi6nXF3c1d7
        method: GET
      response:
        body: '{"id":"cap9i7152oi6nXF3c1d7","name":"testAcc_2392703879","siteKey":"random_key","type":"HCAPTCHA","_links":{"self":{"href":"https://oie-00.oktapreview.com/api/v1/captchas/cap9i7152oi6nXF3c1d7","hints":{"allow":["GET","POST","PUT","DELETE"]}}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 59.103148ms
[...]
    - id: 7
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/captchas/cap9i7152oi6nXF3c1d7
        method: GET
      response:
        body: '{"errorCode":"E0000007","errorSummary":"Not found: Resource not found: cap9i7152oi6nXF3c1d7 (Captcha)","errorLink":"E0000007","errorId":"oaegvuZIfhdROef2lS2EV5aVQ","errorCauses":[]}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 61.223321ms
