---
version: 2
interactions:
- id: 0
  request:
    host: classic-00.dne-okta.com
    body: "{\"profile\":{\"name\":\"testAcc-2481250347\",\"description\":\"A Group\"}}\n"
    headers:
      Authorization:
      - SSWS REDACTED
      Content-Type:
      - application/json
    url: https://classic-00.dne-okta.com/api/v1/groups
    method: POST
  response:
    body: "{\"id\":\"00gckrlbwvBzFnQzS0x7\",\"created\":\"2025-12-17T10:59:04.000Z\",\"lastUpdated\":\"2025-12-17T10:59:04.000Z\",\"lastMembershipUpdated\":\"2025-12-17T10:59:04.000Z\",\"objectClass\":[\"okta:user_group\"],\"type\":\"OKTA_GROUP\",\"profile\":{\"name\":\"testAcc-2481250347\",\"description\":\"A Group\"},\"_links\":{\"logo\":[{\"name\":\"medium\",\"href\":\"https://op2static2.oktacdn.com/assets/img/logos/groups/odyssey/okta-medium.30ce6d4085dff29412984e4c191bc874.png\",\"type\":\"image/png\"},{\"name\":\"large\",\"href\":\"https://op2static2.oktacdn.com/assets/img/logos/groups/odyssey/okta-large.c3cb8cda8ae0add1b4fe928f5844dbe3.png\",\"type\":\"image/png\"}],\"owners\":{\"href\":\"https://classic-00.dne-okta.com/api/v1/groups/00gckrlbwvBzFnQzS0x7/owners\"},\"users\":{\"href\":\"https://classic-00.dne-okta.com/api/v1/groups/00gckrlbwvBzFnQzS0x7/users\"},\"apps\":{\"href\":\"https://classic-00.dne-okta.com/api/v1/groups/00gckrlbwvBzFnQzS0x7/apps\"}}}"
    headers:
      Accept-Ch:
      - Sec-CH-UA-Platform-Version
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 624.333875ms
- id: 1
  request:
    host: classic-00.dne-okta.com
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://classic-00.dne-okta.com/api/v1/groups/00gckrlbwvBzFnQzS0x7
    method: GET
  response:
    body: "{\"id\":\"00gckrlbwvBzFnQzS0x7\",\"created\":\"2025-12-17T10:59:04.000Z\",\"lastUpdated\":\"2025-12-17T10:59:04.000Z\",\"lastMembershipUpdated\":\"2025-12-17T10:59:04.000Z\",\"objectClass\":[\"okta:user_group\"],\"type\":\"OKTA_GROUP\",\"profile\":{\"name\":\"testAcc-2481250347\",\"description\":\"A Group\"},\"_links\":{\"logo\":[{\"name\":\"medium\",\"href\":\"https://op2static2.oktacdn.com/assets/img/logos/groups/odyssey/okta-medium.30ce6d4085dff29412984e4c191bc874.png\",\"type\":\"image/png\"},{\"name\":\"large\",\"href\":\"https://op2static2.oktacdn.com/assets/img/logos/groups/odyssey/okta-large.c3cb8cda8ae0add1b4fe928f5844dbe3.png\",\"type\":\"image/png\"}],\"owners\":{\"href\":\"https://classic-00.dne-okta.com/api/v1/groups/00gckrlbwvBzFnQzS0x7/owners\"},\"users\":{\"href\":\"https://classic-00.dne-okta.com/api/v1/groups/00gckrlbwvBzFnQzS0x7/users\"},\"apps\":{\"href\":\"https://classic-00.dne-okta.com/api/v1/groups/00gckrlbwvBzFnQzS0x7/apps\"}}}"
    headers:
      Accept-Ch:
      - Sec-CH-UA-Platform-Version
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 110.135333ms
[...]
- id: 3
  request:
    host: classic-00.dne-okta.com
    body: "{\"credentials\":{\"password\":{}},\"profile\":{\"email\":\"testAcc-2481250347@example.com\",\"firstName\":\"TestAcc\",\"lastName\":\"Smith\",\"login\":\"testAcc-2481250347@example.com\",\"postalAddress\":null}}\n"
    headers:
      Authorization:
      - SSWS REDACTED
      Content-Type:
      - application/json
    url: https://classic-00.dne-okta.com/api/v1/users
    method: POST
  response:
    body: "{\"id\":\"00uckrkgacFVeTUJW0x7\",\"status\":\"PROVISIONED\",\"created\":\"2025-12-17T10:59:04.000Z\",\"activated\":\"2025-12-17T10:59:04.000Z\",\"statusChanged\":\"2025-12-17T10:59:04.000Z\",\"lastLogin\":null,\"lastUpdated\":\"2025-12-17T10:59:04.000Z\",\"passwordChanged\":null,\"realmId\":\"guobiiz9fiOFhQlea0x7\",\"type\":{\"id\":\"otybiiyra51eDWlk50x7\"},\"profile\":{\"firstName\":\"TestAcc\",\"lastName\":\"Smith\",\"mobilePhone\":null,\"secondEmail\":null,\"login\":\"testAcc-2481250347@example.com\",\"email\":\"testAcc-2481250347@example.com\"},\"credentials\":{\"provider\":{\"type\":\"OKTA\",\"name\":\"OKTA\"}},\"_links\":{\"suspend\":{\"href\":\"https://classic-00.dne-okta.com/api/v1/users/00uckrkgacFVeTUJW0x7/lifecycle/suspend\",\"method\":\"POST\"},\"schema\":{\"href\":\"https://classic-00.dne-okta.com/api/v1/meta/schemas/user/oscbiiyra51eDWlk50x7\"},\"resetPassword\":{\"href\":\"https://classic-00.dne-okta.com/api/v1/users/00uckrkgacFVeTUJW0x7/lifecycle/reset_password\",\"method\":\"POST\"},\"reactivate\":{\"href\":\"https://classic-00.dne-okta.com/api/v1/users/00uckrkgacFVeTUJW0x7/lifecycle/reactivate\",\"method\":\"POST\"},\"self\":{\"href\":\"https://classic-00.dne-okta.com/api/v1/users/00uckrkgacFVeTUJW0x7\"},\"resetFactors\":{\"href\":\"https://classic-00.dne-okta.com/api/v1/users/00uckrkgacFVeTUJW0x7/lifecycle/reset_factors\",\"method\":\"POST\"},\"type\":{\"href\":\"https://classic-00.dne-okta.com/api/v1/meta/types/user/otybiiyra51eDWlk50x7\"},\"deactivate\":{\"href\":\"https://classic-00.dne-okta.com/api/v1/users/00uckrkgacFVeTUJW0x7/lifecycle/deactivate\",\"method\":\"POST\"}}}"
    headers:
      Accept-Ch:
      - Sec-CH-UA-Platform-Version
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 1.048248083s
- id: 4
  request:
    host: classic-00.dne-okta.com
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://classic-00.dne-okta.com/api/v1/users/00uckrkgacFVeTUJW0x7
    method: GET
  response:
    body: "{\"id\":\"00uckrkgacFVeTUJW0x7\",\"status\":\"PROVISIONED\",\"created\":\"2025-12-17T10:59:04.000Z\",\"activated\":\"2025-12-17T10:59:04.000Z\",\"statusChanged\":\"2025-12-17T10:59:04.000Z\",\"lastLogin\":null,\"lastUpdated\":\"2025-12-17T10:59:04.000Z\",\"passwordChanged\":nu[...]
- id: 5
  request:
    host: classic-00.dne-okta.com
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://classic-00.dne-okta.com/api/v1/groups/00gckrlbwvBzFnQzS0x7/users/00uckrkgacFVeTUJW0x7
    method: PUT
  response:
    body: ""
    headers:
      Accept-Ch:
      - Sec-CH-UA-Platform-Version
    status: 204 No Content
    code: 204
    duration: 211.509458ms
- id: 6
  request:
    host: classic-00.dne-okta.com
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://classic-00.dne-okta.com/api/v1/users/00uckrkgacFVeTUJW0x7/groups
    method: GET
  response:
    body: "[{\"id\":\"00gbiiyr9vU7iIKuk0x7\",\"created\":\"2025-08-20T20:18:26.000Z\",\"lastUpdated\":\"2025-08-20T20:18:26.000Z\",\"lastMembershipUpdated\":\"2025-12-17T10:52:56.000Z\",\"objectClass\":[\"okta:user_group\"],\"type\":\"BUILT_IN\",\"profile\":{\"name\":\"Everyone\",[...]
- id: 7
  request:
    host: classic-00.dne-okta.com
    body: "{\"type\":\"SUPER_ADMIN\"}\n"
    form:
      disableNotifications:
      - "false"
    headers:
      Authorization:
      - SSWS REDACTED
      Content-Type:
      - application/json
    url: https://classic-00.dne-okta.com/api/v1/users/00uckrkgacFVeTUJW0x7/roles?disableNotifications=false
    method: POST
  response:
    body: "{\"id\":\"ra1ckrlbwys29SC5I0x7\",\"label\":\"Super Administrator\",\"type\":\"SUPER_ADMIN\",\"status\":\"ACTIVE\",\"created\":\"2025-12-17T10:59:05.000Z\",\"lastUpdated\":\"2025-12-17T10:59:05.000Z\",\"assignmentType\":\"USER\",\"_links\":{\"assignee\":{\"href\":\"https://classic-00.dne-okta.com/api/v1/users/00uckrkgacFVeTUJW0x7\"}}}"
    headers:
      Accept-Ch:
      - Sec-CH-UA-Platform-Version
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: 446.177ms
[...]
- id: 9
  request:
    host: classic-00.dne-okta.com
    form:
      limit:
      - "200"
      search:
      - profile.email eq "testAcc-2481250347@example.com"
      sortOrder:
      - "0"
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://classic-00.dne-okta.com/api/v1/users?limit=200&search=profile.email+eq+%22testAcc-2481250347%40example.com%22&sortOrder=0
    method: GET
  response:
    body: "[{\"id\":\"00uckrkgacFVeTUJW0x7\",\"status\":\"PROVISIONED\",\"created\":\"2025-12-17T10:59:04.000Z\",\"activated\":\"2025-12-17T10:59:04.000Z\",\"statusChanged\":\"2025-12-17T10:59:04.000Z\",\"lastLogin\":null,\"lastUpdated\":\"2025-12-17T10:59:04.000Z\",\"passwordChanged\":null,\"realmId\":\"guobiiz9fiOFhQlea0x7\",\"type\":{\"id\":\"otybiiyra51eDWlk50x7\"},\"profile\":{\"firstName\":\"TestAcc\",\"lastName\":\"Smith\",\"mobilePhone\":null,\"secondEmail\":null,\"login\":\"testAcc-2481250347@example.com\",\"email\":\"testAcc-2481250347@example.com\"},\"credentials\":{\"provider\":{\"type\":\"OKTA\",\"name\":\"OKTA\"}},\"_links\":{\"self\":{\"href\":\"https://classic-00.dne-okta.com/api/v1/users/00uckrkgacFVeTUJW0x7\"}}}]"
    headers:
      Accept-Ch:
      - Sec-CH-UA-Platform-Version
      Content-Type:
      - application/json
      Link:
      - <https://classic-00.dne-okta.com/api/v1/users?limit=200&search=profile.email+eq+%22testAcc-2481250347%40example.com%22>; rel="self"
    status: 200 OK
    code: 200
    duration: 136.585833ms
[...]
- id: 13
  request:
    host: classic-00.dne-okta.com
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://classic-00.dne-okta.com/api/v1/users/00uckrkgacFVeTUJW0x7/roles
    method: GET
  response:
    body: "[{\"id\":\"IFIFAX2BIRGUSTQ\",\"label\":\"Application Administrator\",\"type\":\"APP_ADMIN\",\"status\":\"ACTIVE\",\"created\":\"2025-12-17T10:59:05.000Z\",\"lastUpdated\":\"2025-12-17T10:59:05.000Z\",\"assignmentType\":\"USER\",\"_links\":{\"assignee\":{\"href\":\"https://classic-00.dne-okta.com/api/v1/users/00uckrkgacFVeTUJW0x7\"}}},{\"id\":\"ra1ckrlbwys29SC5I0x7\",\"label\":\"Super Administrator\",\"type\":\"SUPER_ADMIN\",\"status\":\"ACTIVE\",\"created\":\"2025-12-17T10:59:05.000Z\",\"lastUpdated\":\"2025-12-17T10:59:05.000Z\",\"assignmentType\":\"USER\",\"_links\":{\"assignee\":{\"href\":\"https://classic-00.dne-okta.com/api/v1/users/00uckrkgacFVeTUJW0x7\"}}}]"
    headers:
      Accept-Ch:
      - Sec-CH-UA-Platform-Version
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 116.923208ms
[...]
- id: 20
  request:
    host: classic-00.dne-okta.com
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://classic-00.dne-okta.com/api/v1/users/00uckrkgacFVeTUJW0x7/roles/IFIFAX2BIRGUSTQ
    method: DELETE
  response:
    body: ""
    headers:
      Accept-Ch:
      - Sec-CH-UA-Platform-Version
    status: 204 No Content
    code: 204
    duration: 321.954458ms
- id: 21
  request:
    host: classic-00.dne-okta.com
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://classic-00.dne-okta.com/api/v1/users/00uckrkgacFVeTUJW0x7/roles/ra1ckrlbwys29SC5I0x7
    method: DELETE
  response:
    body: ""
    headers:
      Accept-Ch:
      - Sec-CH-UA-Platform-Version
    status: 204 No Content
    code: 204
    duration: 617.242875ms
[...]
