---
version: 2
interactions:
    - id: 0
      request:
        host: oie-00.dne-okta.com
        form:
            type:
                - PASSWORD
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/policies?type=PASSWORD
        method: GET
      response:
        body: '[{"id":"00pxmlkn3zs3zeXBc1d7","status":"ACTIVE","name":"GH2559Apr16AuthPol","description":"Test policy","priority":1,"system":false,"conditions":{"people":{"groups":{"include":["00gwh6jn2cqqM5lNb1d7"]}},"authProvider":{"provider":"OKTA"}},"created":"2026-04-16T02:52:18.000Z","lastUpdated":"2026-04-16T02:54:08.000Z","settings":{"password":{"complexity":{"minLength":8,"minLowerCase":1,"minUpperCase":1,"minNumber":1,"minSymbol":0,"excludeUsername":true,"dictionary":{"common":{"exclude":true}},"excludeAttributes":[]},"age":{"maxAgeDays":0,"expireWarnDays":0,"minAgeMinutes":0,"historyCount":4},"lockout":{"maxAttempts":10,"autoUnlockMinutes":0,"userLockoutNotificationChannels":[],"showLockoutFailures":false},"breachedProtection":{"expireAfterDays":0,"logoutEnabled":true,"delegatedWorkflowId":null}},"recovery":{"factors":{"recovery_question":{"status":"INACTIVE","properties":{"complexity":{"minLength":4}}},"okta_email":{"status":"INACTIVE","properties":{"recoveryToken":{"tokenLifetimeMinutes":60}}},"okta_sms":{"status":"INACTIVE"},"okta_call":{"status":"INACTIVE"}}},"delegation":{"options":{"skipUnlock":false}}},"_links":{"mappings":{"href":"https://oie-00.dne-okta.com/api/v1/policies/00pxmlkn3zs3zeXBc1d7/mappings","hints":{"allow":["GET","POST"]}},"self":{"href":"https://oie-00.dne-okta.com/api/v1/policies/00pxmlkn3zs3zeXBc1d7","hints":{"allow":["GET","PUT","DELETE"]}},"rules":{"href":"https://oie-00.dne-okta.com/api/v1/policies/00pxmlkn3zs3zeXBc1d7/rules","hints":{"allow":["GET","POST"]}},"deactivate":{"href":"https://oie-00.dne-okta.com/api/v1/policies/00pxmlkn3zs3zeXBc1d7/lifecycle/deactivate","hints":{"allow":["POST"]}}},"type":"PASSWORD"},{"id":"00pxmli0dw1wdfXwi1d7","status":"ACTIVE","name":"GH2559Apr16Legacy","description":"test pol created","priority":2,"system":false,"conditions":{"people":{"groups":{"include":["00gwh6jn2cqqM5lNb1d7"]}},"authProvider":{"provider":"OKTA"}},"created":"2026-04-16T02:54:54.000Z","lastUpdated":"2026-04-16T02:54:54.000Z","settings":{"password":{"complexity"[...]
[...]
    - id: 2
      request:
        host: oie-00.dne-okta.com
        body: |
            {"profile":{"name":"testAcc_included_3240269439","description":""}}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://oie-00.dne-okta.com/api/v1/groups
        method: POST
      response:
        body: '{"id":"00gxmrlu7eQ4pwjU51d7","created":"2026-04-16T06:08:44.000Z","lastUpdated":"2026-04-16T06:08:44.000Z","lastMembershipUpdated":"2026-04-16T06:08:44.000Z","objectClass":["okta:user_group"],"type":"OKTA_GROUP","profile":{"name":"testAcc_included_3240269439","description":""},"_links":{"logo":[{"name":"medium","href":"https://op3static2.oktacdn.com/assets/img/logos/groups/odyssey/okta-medium.30ce6d4085dff29412984e4c191bc874.png","type":"image/png"},{"name":"large","href":"https://op3static2.oktacdn.com/assets/img/logos/groups/odyssey/okta-large.c3cb8cda8ae0add1b4fe928f5844dbe3.png","type":"image/png"}],"owners":{"href":"https://oie-00.dne-okta.com/api/v1/groups/00gxmrlu7eQ4pwjU51d7/owners"},"users":{"href":"https://oie-00.dne-okta.com/api/v1/groups/00gxmrlu7eQ4pwjU51d7/users"},"apps":{"href":"https://oie-00.dne-okta.com/api/v1/groups/00gxmrlu7eQ4pwjU51d7/apps"}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.046803041s
[...]
    - id: 4
      request:
        host: oie-00.dne-okta.com
        body: |
            {"credentials":{"password":{}},"profile":{"email":"testAcc-included-3240269439@example.com","firstName":"TestAcc","lastName":"Included","login":"testAcc-included-3240269439@example.com","postalAddress":null}}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://oie-00.dne-okta.com/api/v1/users
        method: POST
      response:
        body: '{"id":"00uxmrr0ftNSBEY191d7","status":"PROVISIONED","created":"2026-04-16T06:08:44.000Z","activated":"2026-04-16T06:08:44.000Z","statusChanged":"2026-04-16T06:08:44.000Z","lastLogin":null,"lastUpdated":"2026-04-16T06:08:44.000Z","passwordChanged":null,"realmId":"guonkwfhlqM6PFD8m1d7","type":{"id":"otynkw1sdzpoFCZMq1d7"},"profile":{"firstName":"TestAcc","lastName":"Included","mobilePhone":null,"secondEmail":null,"login":"testAcc-included-3240269439@example.com","email":"testAcc-included-3240269439@example.com"},"credentials":{"provider":{"type":"OKTA","name":"OKTA"}},"_links":{"suspend":{"href":"https://oie-00.dne-okta.com/api/v1/users/00uxmrr0ftNSBEY191d7/lifecycle/suspend","method":"POST"},"schema":{"href":"https://oie-00.dne-okta.com/api/v1/meta/schemas/user/oscnkw1sdzpoFCZMq1d7"},"resetPassword":{"href":"https://oie-00.dne-okta.com/api/v1/users/00uxmrr0ftNSBEY191d7/lifecycle/reset_password","method":"POST"},"reactivate":{"href":"https://oie-00.dne-okta.com/api/v1/users/00uxmrr0ftNSBEY191d7/lifecycle/reactivate","method":"POST"},"self":{"href":"https://oie-00.dne-okta.com/api/v1/users/00uxmrr0ftNSBEY191d7"},"resetFactors":{"href":"https://oie-00.dne-okta.com/api/v1/users/00uxmrr0ftNSBEY191d7/lifecycle/reset_factors","method":"POST"},"type":{"href":"https://oie-00.dne-okta.com/api/v1/meta/types/user/otynkw1sdzpoFCZMq1d7"},"deactivate":{"href":"https://oie-00.dne-okta.com/api/v1/users/00uxmrr0ftNSBEY191d7/lifecycle/deactivate","method":"POST"}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.567114875s
[...]
    - id: 6
      request:
        host: oie-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/groups/00gxmrgwec8v9T7KB1d7
        method: GET
      response:
        body: '{"id":"00gxmrgwec8v9T7KB1d7","created":"2026-04-16T06:08:44.000Z","lastUpdated":"2026-04-16T06:08:44.000Z","lastMembershipUpdated":"2026-04-16T06:08:44.000Z","objectClass":["okta:user_group"],"type":"OKTA_GROUP","profile":{"name":"testAcc_excluded_3240269439","description":""},"_links":{"logo":[{"name":"medium","href":"https://op3static2.oktacdn.com/assets/img/logos/groups/odyssey/okta-medium.30ce6d4085dff29412984e4c191bc874.png","type":"image/png"},{"name":"large","href":"https://op3static2.oktacdn.com/assets/img/logos/groups/odyssey/okta-large.c3cb8cda8ae0add1b4fe928f5844dbe3.png","type":"image/png"}],"owners":{"href":"https://oie-00.dne-okta.com/api/v1/groups/00gxmrgwec8v9T7KB1d7/owners"},"users":{"href":"https://oie-00.dne-okta.com/api/v1/groups/00gxmrgwec8v9T7KB1d7/users"},"apps":{"href":"https://oie-00.dne-okta.com/api/v1/groups/00gxmrgwec8v9T7KB1d7/apps"}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.02528775s
    - id: 7
      request:
        host: oie-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/groups/00gxmrlu7eQ4pwjU51d7
        method: GET
      response:
        body: '{"id":"00gxmrlu7eQ4pwjU51d7","created":"2026-04-16T06:08:44.000Z","lastUpdated":"2026-04-16T06:08:44.000Z","lastMembershipUpdated":"2026-04-16T06:08:44.000Z","objectClass":["okta:user_group"],"type":"OKTA_GROUP","profile":{"name":"testAcc_included_3240269439","description":""},"_links":{"logo":[{"name":"medium","href":"https://op3static2.oktacdn.com/assets/img/logos/groups/odyssey/okta-medium.30ce6d4085dff29412984e4c191bc874.png","type":"image/png"},{"name":"large","href":"https://op3static2.oktacdn.com/assets/img/logos/groups/odyssey/okta-large.c3cb8cda8ae0add1b4fe928f5844dbe3.png","type":"image/png"}],"owners":{"href":"https://oie-00.dne-okta.com/api/v1/groups/00gxmrlu7eQ4pwjU51d7/owners"},"users":{"href":"https://oie-00.dne-okta.com/api/v1/groups/00gxmrlu7eQ4pwjU51d7/users"},"apps":{"href":"https://oie-00.dne-okta.com/api/v1/groups/00gxmrlu7eQ4pwjU51d7/apps"}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.064173083s
    - id: 8
      request:
        host: oie-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/users/00uxmrr0ftNSBEY191d7
        method: GET
      response:
        body: '{"id":"00uxmrr0ftNSBEY191d7","status":"PROVISIONED","created":"2026-04-16T06:08:44.000Z","activated":"2026-04-16T06:08:44.000Z","statusChanged":"2026-04-16T06:08:44.000Z","lastLogin":null,"lastUpdated":"2026-04-16T06:08:44.000Z","passwor[...]
[...]
    - id: 11
      request:
        host: oie-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/users/00uxmrzyubOia8QGm1d7
        method: GET
      response:
        body: '{"id":"00uxmrzyubOia8QGm1d7","status":"PROVISIONED","created":"2026-04-16T06:08:44.000Z","activated":"2026-04-16T06:08:45.000Z","statusChanged":"2026-04-16T06:08:45.000Z","lastLogin":null,"lastUpdated":"2026-04-16T06:08:45.000Z","passwo[...]
    - id: 12
      request:
        host: oie-00.dne-okta.com
        body: |
            {"actions":{"passwordChange":{"access":"ALLOW"},"selfServicePasswordReset":{"access":"ALLOW","requirement":{"accessControl":"LEGACY","primary":{"methodConstraints":[{"allowedAuthenticators":[{"key":"google_otp"}],"method":"otp"}],"methods":["otp"]},"stepUp":{"required":true}}},"selfServiceUnlock":{"access":"ALLOW"}},"conditions":{"network":{"connection":"ANYWHERE"},"people":{"groups":{"exclude":["00gxmrgwec8v9T7KB1d7"],"include":["00gxmrlu7eQ4pwjU51d7"]},"users":{"exclude":["00uxmrzyubOia8QGm1d7"],"include":["00uxmrr0ftNSBEY191d7"]}}},"name":"testAcc_3240269439","status":"ACTIVE","system":false,"type":"PASSWORD"}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://oie-00.dne-okta.com/api/v1/policies/00pnkw1sf7vmV0MgW1d7/rules
        method[...]
    - id: 13
      request:
        host: oie-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/policies/00pnkw1sf7vmV0MgW1d7/rules/0prxmrs57gWzgYmqX1d7
        method: GET
      response:
        body: '{"id":"0prxmrs57gWzgYmqX1d7","status":"ACTIVE","name":"testAcc_3240269439","priority":1,"created":"2026-04-16T06:08:47.000Z","lastUpdated":"2026-04-16T06:08:47.000Z","system":false,"conditions":{"people":{"[...]
[...]
    - id: 30
      request:
        host: oie-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/policies/00pnkw1sf7vmV0MgW1d7/rules/0prxmrs57gWzgYmqX1d7/lifecycle/activate
        method: POST
      response:
        body: ""
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
        status: 204 No Content
        code: 204
        duration: 1.09490975s
[...]
