---
version: 2
interactions:
    - id: 0
      request:
        host: oie-00.dne-okta.com
        form:
            type:
                - PASSWORD
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/policies?type=PASSWORD
        method: GET
      response:
        body: '[{"id":"00pxmlkn3zs3zeXBc1d7","status":"ACTIVE","name":"GH2559Apr16AuthPol","description":"Test policy","priority":1,"system":false,"conditions":{"people":{"groups":{"include":["00gwh6jn2cqqM5lNb1d7"]}},"authProvider":{"provider":"OKTA"}},"created":"2026-04-16T02:52:18.000Z","lastUpdated":"2026-04-16T02:54:08.000Z","settings":{"password":{"complexity":{"minLength":8,"minLowerCase":1,"minUpperCase":1,"minNumber":1,"minSymbol":0,"excludeUsername":true,"dictionary":{"common":{"exclude":true}},"excludeAttributes":[]},"age":{"maxAgeDays":0,"expireWarnDays":0,"minAgeMinutes":0,"historyCount":4},"lockout":{"maxAttempts":10,"autoUnlockMinutes":0,"userLockoutNotificationChannels":[],"showLockoutFailures":false},"breachedProtection":{"expireAfterDays":0,"logoutEnabled":true,"delegatedWorkflowId":null}},"recovery":{"factors":{"recovery_question":{"status":"INACTIVE","properties":{"complexity":{"minLength":4}}},"okta_email":{"status":"INACTIVE","properties":{"recoveryToken":{"tokenLifetimeMinutes":60}}},"okta_sms":{"status":"INACTIVE"},"okta_call":{"status":"INACTIVE"}}},"delegation":{"options":{"skipUnlock":false}}},"_links":{"mappings":{"href":"https://oie-00.dne-okta.com/api/v1/policies/00pxmlkn3zs3zeXBc1d7/mappings","hints":{"allow":["GET","POST"]}},"self":{"href":"https://oie-00.dne-okta.com/api/v1/policies/00pxmlkn3zs3zeXBc1d7","hints":{"allow":["GET","PUT","DELETE"]}},"rules":{"href":"https://oie-00.dne-okta.com/api/v1/policies/00pxmlkn3zs3zeXBc1d7/rules","hints":{"allow":["GET","POST"]}},"deactivate":{"href":"https://oie-00.dne-okta.com/api/v1/policies/00pxmlkn3zs3zeXBc1d7/lifecycle/deactivate","hints":{"allow":["POST"]}}},"type":"PASSWORD"},{"id":"00pxmli0dw1wdfXwi1d7","status":"ACTIVE","name":"GH2559Apr16Legacy","description":"test pol created","priority":2,"system":false,"conditions":{"people":{"groups":{"include":["00gwh6jn2cqqM5lNb1d7"]}},"authProvider":{"provider":"OKTA"}},"created":"2026-04-16T02:54:54.000Z","lastUpdated":"2026-04-16T02:54:54.000Z","settings":{"password":{"complexity"[...]
[...]
    - id: 2
      request:
        host: oie-00.dne-okta.com
        body: |
            {"profile":{"name":"testAcc_included_3240269439","description":""}}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://oie-00.dne-okta.com/api/v1/groups
        method: POST
      response:
        body: '{"id":"00gxszy795fFVVe9m1d7","created":"2026-04-21T05:33:55.000Z","lastUpdated":"2026-04-21T05:33:55.000Z","lastMembershipUpdated":"2026-04-21T05:33:55.000Z","objectClass":["okta:user_group"],"type":"OKTA_GROUP","profile":{"name":"testAcc_included_3240269439","description":""},"_links":{"logo":[{"name":"medium","href":"https://op3static2.oktacdn.com/assets/img/logos/groups/odyssey/okta-medium.30ce6d4085dff29412984e4c191bc874.png","type":"image/png"},{"name":"large","href":"https://op3static2.oktacdn.com/assets/img/logos/groups/odyssey/okta-large.c3cb8cda8ae0add1b4fe928f5844dbe3.png","type":"image/png"}],"owners":{"href":"https://oie-00.dne-okta.com/api/v1/groups/00gxszy795fFVVe9m1d7/owners"},"users":{"href":"https://oie-00.dne-okta.com/api/v1/groups/00gxszy795fFVVe9m1d7/users"},"apps":{"href":"https://oie-00.dne-okta.com/api/v1/groups/00gxszy795fFVVe9m1d7/apps"}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.050655875s
    - id: 3
      request:
        host: oie-00.dne-okta.com
        body: |
            {"gateways":[{"type":"RANGE","value":"2.3.4.5-2.3.4.15"},{"type":"CIDR","value":"1.2.3.4/24"}],"name":"testAcc_3240269439","proxies":[{"type":"CIDR","value":"2.2.3.4/24"},{"type":"RANGE","value":"3.3.4.5-3.3.4.15"}],"status":"ACTIVE","type":"IP","usage":"POLICY"}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://oie-00.dne-okta.com/api/v1/zones
        method: POST
      response:
        body: '{"type":"IP","id":"nzoxszmpmtw4TRf5s1d7","name":"testAcc_3240269439","status":"ACTIVE","usage":"POLICY","created":"2026-04-21T05:33:55.000Z","lastUpdated":"2026-04-21T05:33:55.000Z","system":false,"gateways":[{"type":"RANGE","value":"2.3.4.5-2.3.4.15"},{"type":"CIDR","value":"1.2.3.4/24"}],"proxies":[{"type":"CIDR","value":"2.2.3.4/24"},{"type":"RANGE","value":"3.3.4.5-3.3.4.15"}],"_links":{"self":{"href":"https://oie-00.dne-okta.com/api/v1/zones/nzoxszmpmtw4TRf5s1d7","hints":{"allow":["GET","PUT","DELETE"]}},"deactivate":{"href":"https://oie-00.dne-okta.com/api/v1/zones/nzoxszmpmtw4TRf5s1d7/lifecycle/deactivate","hints":{"allow":["POST"]}}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.063778125s
[...]
    - id: 5
      request:
        host: oie-00.dne-okta.com
        body: |
            {"credentials":{"password":{}},"profile":{"email":"testAcc-excluded-3240269439@example.com","firstName":"TestAcc","lastName":"Excluded","login":"testAcc-excluded-3240269439@example.com","postalAddress":null}}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://oie-00.dne-okta.com/api/v1/users
        method: POST
      response:
        body: '{"id":"00uxszlnrhtoC1Huh1d7","status":"PROVISIONED","created":"2026-04-21T05:33:55.000Z","activated":"2026-04-21T05:33:56.000Z","statusChanged":"2026-04-21T05:33:56.000Z","lastLogin":null,"lastUpdated":"2026-04-21T05:33:56.000Z","passwordChanged":null,"realmId":"guonkwfhlqM6PFD8m1d7","type":{"id":"otynkw1sdzpoFCZMq1d7"},"profile":{"firstName":"TestAcc","lastName":"Excluded","mobilePhone":null,"secondEmail":null,"login":"testAcc-excluded-3240269439@example.com","email":"testAcc-excluded-3240269439@example.com"},"credentials":{"provider":{"type":"OKTA","name":"OKTA"}},"_links":{"suspend":{"href":"https://oie-00.dne-okta.com/api/v1/users/00uxszlnrhtoC1Huh1d7/lifecycle/suspend","method":"POST"},"schema":{"href":"https://oie-00.dne-okta.com/api/v1/meta/schemas/user/oscnkw1sdzpoFCZMq1d7"},"resetPassword":{"href":"https://oie-00.dne-okta.com/api/v1/users/00uxszlnrhtoC1Huh1d7/lifecycle/reset_password","method":"POST"},"reactivate":{"href":"https://oie-00.dne-okta.com/api/v1/users/00uxszlnrhtoC1Huh1d7/lifecycle/reactivate","method":"POST"},"self":{"href":"https://oie-00.dne-okta.com/api/v1/users/00uxszlnrhtoC1Huh1d7"},"resetFactors":{"href":"https://oie-00.dne-okta.com/api/v1/users/00uxszlnrhtoC1Huh1d7/lifecycle/reset_factors","method":"POST"},"type":{"href":"https://oie-00.dne-okta.com/api/v1/meta/types/user/otynkw1sdzpoFCZMq1d7"},"deactivate":{"href":"https://oie-00.dne-okta.com/api/v1/users/00uxszlnrhtoC1Huh1d7/lifecycle/deactivate","method":"POST"}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.715458542s
[...]
    - id: 7
      request:
        host: oie-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/groups/00gxszy795fFVVe9m1d7
        method: GET
      response:
        body: '{"id":"00gxszy795fFVVe9m1d7","created":"2026-04-21T05:33:55.000Z","lastUpdated":"2026-04-21T05:33:55.000Z","lastMembershipUpdated":"2026-04-21T05:33:55.000Z","objectClass":["okta:user_group"],"type":"OKTA_GROUP","profile":{"name":"testAcc_included_3240269439","description":""},"_links":{"logo":[{"name":"medium","href":"https://op3static2.oktacdn.com/assets/img/logos/groups/odyssey/okta-medium.30ce6d4085dff29412984e4c191bc874.png","type":"image/png"},{"name":"large","href":"https://op3static2.oktacdn.com/assets/img/logos/groups/odyssey/okta-large.c3cb8cda8ae0add1b4fe928f5844dbe3.png","type":"image/png"}],"owners":{"href":"https://oie-00.dne-okta.com/api/v1/groups/00gxszy795fFVVe9m1d7/owners"},"users":{"href":"https://oie-00.dne-okta.com/api/v1/groups/00gxszy795fFVVe9m1d7/users"},"apps":{"href":"https://oie-00.dne-okta.com/api/v1/groups/00gxszy795fFVVe9m1d7/apps"}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.04439625s
    - id: 8
      request:
        host: oie-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/groups/00gxszof9oE4zqfrk1d7
        method: GET
      response:
        body: '{"id":"00gxszof9oE4zqfrk1d7","created":"2026-04-21T05:33:55.000Z","lastUpdated":"2026-04-21T05:33:55.000Z","lastMembershipUpdated":"2026-04-21T05:33:55.000Z","objectClass":["okta:user_group"],"type":"OKTA_GROUP","profile":{"name":"testAcc_excluded_3240269439","description":""},"_links":{"logo":[{"name":"medium","href":"https://op3static2.oktacdn.com/assets/img/logos/groups/odyssey/okta-medium.30ce6d4085dff29412984e4c191bc874.png","type":"image/png"},{"name":"large","href":"https://op3static2.oktacdn.com/assets/img/logos/groups/odyssey/okta-large.c3cb8cda8ae0add1b4fe928f5844dbe3.png","type":"image/png"}],"owners":{"href":"https://oie-00.dne-okta.com/api/v1/groups/00gxszof9oE4zqfrk1d7/owners"},"users":{"href":"https://oie-00.dne-okta.com/api/v1/groups/00gxszof9oE4zqfrk1d7/users"},"apps":{"href":"https://oie-00.dne-okta.com/api/v1/groups/00gxszof9oE4zqfrk1d7/apps"}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.052854583s
    - id: 9
      request:
        host: oie-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/zones/nzoxszmpmtw4TRf5s1d7/lifecycle/activate
        method: POST
      response:
        body: '{"type":"IP","id":"nzoxszmpmtw4TRf5s1d7","name":"testAcc_3240269439","status":"ACTIVE","usage":"POLICY","created":"2026-04-21T05:33:55.000Z","lastUpdated":"2026-04-21T05:33:56.000Z","system":false,"gateways":[{"type":"RANGE","value":"2.3.4.5-2.3.4.15"},{"type":"CIDR","value":"1.2.3.4/24"}],"proxies":[{"type":"CIDR","value":"2.2.3.4/24"},{"type":"RANGE","value":"3.3.4.5-3.3.4.15"}],"_links":{"self":{"href":"https://oie-00.dne-okta.com/api/v1/zones/nzoxszmpmtw4TRf5s1d7","hints":{"allow":["GET","PUT","DELETE"]}},"deactivate":{"href":"https://oie-00.dne-okta.com/api/v1/zones/nzoxszmpmtw4TRf5s1d7/lifecycle/deactivate","hints":{"allow":["POST"]}}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.085588708s
    - id: 10
      request:
        host: oie-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/users/00uxszyeyhZ2tc4u51d7
        method: GET
      response:
        body: '{"id":"00uxszyeyhZ2tc4u51d7","status":"PROVISIONED","created":"2026-04-21T05:33:55.000Z","activated":"2026-04-21T05:33:56.000Z","statusChanged":"2026-04-21T05:33:56.000Z","lastLogin":null,"lastUpdated":"2026-04-21T05:33:56.000Z","passwo[...]
[...]
    - id: 13
      request:
        host: oie-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/users/00uxszlnrhtoC1Huh1d7
        method: GET
      response:
        body: '{"id":"00uxszlnrhtoC1Huh1d7","status":"PROVISIONED","created":"2026-04-21T05:33:55.000Z","activated":"2026-04-21T05:33:56.000Z","statusChanged":"2026-04-21T05:33:56.000Z","lastLogin":null,"lastUpdated":"2026-04-21T05:33:56.000Z","passwo[...]
    - id: 14
      request:
        host: oie-00.dne-okta.com
        body: |
            {"actions":{"passwordChange":{"access":"ALLOW"},"selfServicePasswordReset":{"access":"ALLOW","requirement":{"accessControl":"LEGACY","primary":{"methodConstraints":[{"allowedAuthenticators":[{"key":"google_otp"}],"method":"otp"}],"methods":["otp"]},"stepUp":{"required":true}}},"selfServiceUnlock":{"access":"ALLOW"}},"conditions":{"network":{"connection":"ZONE","include":["nzoxszmpmtw4TRf5s1d7"]},"people":{"groups":{"exclude":["00gxszof9oE4zqfrk1d7"],"include":["00gxszy795fFVVe9m1d7"]},"users":{"exclude":["00uxszlnrhtoC1Huh1d7"],"include":["00uxszyeyhZ2tc4u51d7"]}}},"name":"testAcc_3240269439","status":"ACTIVE","system":false,"type":"PASSWORD"}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://oie-00.dne-okta.com/api/v1/policies/00pnkw1sf7[...]
    - id: 15
      request:
        host: oie-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/policies/00pnkw1sf7vmV0MgW1d7/rules/0prxszxeedUy2bfwC1d7
        method: GET
      response:
        body: '{"id":"0prxszxeedUy2bfwC1d7","status":"ACTIVE","name":"testAcc_3240269439","priority":1,"created":"2026-04-21T05:33:59.000Z","lastUpdated":"2026-04-21T05:33:59.000Z","system":false,"conditions":{"people":{"[...]
[...]
    - id: 19
      request:
        host: oie-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/zones/nzoxszmpmtw4TRf5s1d7
        method: GET
      response:
        body: '{"type":"IP","id":"nzoxszmpmtw4TRf5s1d7","name":"testAcc_3240269439","status":"ACTIVE","usage":"POLICY","created":"2026-04-21T05:33:55.000Z","lastUpdated":"2026-04-21T05:33:56.000Z","system":false,"gateways":[{"type":"RANGE","value":"2.3.4.5-2.3.4.15"},{"type":"CIDR","value":"1.2.3.4/24"}],"proxies":[{"type":"CIDR","value":"2.2.3.4/24"},{"type":"RANGE","value":"3.3.4.5-3.3.4.15"}],"_links":{"self":{"href":"https://oie-00.dne-okta.com/api/v1/zones/nzoxszmpmtw4TRf5s1d7","hints":{"allow":["GET","PUT","DELETE"]}},"deactivate":{"href":"https://oie-00.dne-okta.com/api/v1/zones/nzoxszmpmtw4TRf5s1d7/lifecycle/deactivate","hints":{"allow":["POST"]}}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.060603083s
[...]
    - id: 34
      request:
        host: oie-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/policies/00pnkw1sf7vmV0MgW1d7/rules/0prxszxeedUy2bfwC1d7/lifecycle/activate
        method: POST
      response:
        body: ""
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
        status: 204 No Content
        code: 204
        duration: 1.089872584s
[...]
    - id: 86
      request:
        host: oie-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/zones/nzoxszmpmtw4TRf5s1d7/lifecycle/deactivate
        method: POST
      response:
        body: '{"type":"IP","id":"nzoxszmpmtw4TRf5s1d7","name":"testAcc_3240269439","status":"INACTIVE","usage":"POLICY","created":"2026-04-21T05:33:55.000Z","lastUpdated":"2026-04-21T05:34:45.000Z","system":false,"gateways":[{"type":"RANGE","value":"2.3.4.5-2.3.4.15"},{"type":"CIDR","value":"1.2.3.4/24"}],"proxies":[{"type":"CIDR","value":"2.2.3.4/24"},{"type":"RANGE","value":"3.3.4.5-3.3.4.15"}],"_links":{"activate":{"href":"https://oie-00.dne-okta.com/api/v1/zones/nzoxszmpmtw4TRf5s1d7/lifecycle/activate","hints":{"allow":["POST"]}},"self":{"href":"https://oie-00.dne-okta.com/api/v1/zones/nzoxszmpmtw4TRf5s1d7","hints":{"allow":["GET","PUT","DELETE"]}}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.043954792s
[...]
