---
version: 2
interactions:
    - id: 0
      request:
        host: classic-00.dne-okta.com
        body: |
            {"accessibility":{"selfService":false},"credentials":{"userNameTemplate":{"template":"${source.login}","type":"BUILT_IN"}},"label":"testAcc_2166628549","settings":{"app":{},"implicitAssignment":false,"notes":{"admin":null,"enduser":null},"signOn":{"allowMultipleAcsEndpoints":false,"assertionSigned":false,"attributeStatements":[],"audience":"http://audience.com","audienceOverride":"","authnContextClassRef":"urn:oasis:names:tc:SAML:2.0:ac:classes:PasswordProtectedTransport","defaultRelayState":"","destination":"http://its-about-the-journey.com","destinationOverride":"","digestAlgorithm":"SHA256","honorForceAuthn":false,"recipient":"http://here.com","recipientOverride":"","responseSigned":true,"samlSignedRequestEnabled":false,"signatureAlgorithm":"RSA_SHA256","slo":{"enabled":false},"ssoAcsUrl":"http://google.com","ssoAcsUrlOverride":"","subjectNameIdFormat":"urn:oasis:names:tc:SAML:1.1:nameid-format:emailAddress","subjectNameIdTemplate":"${user.userName}"}},"signOnMode":"SAML_2_0","visibility":{"autoSubmitToolbar":false,"hide":{"iOS":false,"web":false}}}
        form:
            activate:
                - "true"
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://classic-00.dne-okta.com/api/v1/apps?activate=true
        method: POST
      response:
        body: '{"id":"0oasxmlw3f06HCBYg1d7","orn":"orn:oktapreview:idp:00onkw1sbuAh3Q06I1d7:apps:classic-00_testacc2166628549_2:0oasxmlw3f06HCBYg1d7","name":"classic-00_testacc2166628549_2","label":"testAcc_2166628549","status":"ACTIVE","lastUpdated":"2025-12-21T17:23:37.000Z","created":"2025-12-21T17:23:36.000Z","accessibility":{"selfService":false,"errorRedirectUrl":null,"loginRedirectUrl":null},"visibility":{"autoLaunch":false,"autoSubmitToolbar":false,"hide":{"iOS":false,"web":false},"appLinks":{"classic-00_testacc2166628549_2_link":true}},"features":[],"signOnMode":"SAML_2_0","credentials":{"userNameTemplate":{"template":"${source.login}","type":"BUILT_IN"},"signing":{"kid":"IY5hQQEQpXwgMvfD_FPGSJ_8EOXx7NYR3oVy8H_4WEA"}},"universalLogout":{"status":"DISABLED","supportType":"FULL","identityStack":"NOT_SHARED","protocol":"GLOBAL_TOKEN_REVOCATION"},"settings":{"app":{},"notifications":{"vpn":{"network":{"connection":"DISABLED"},"message":null,"helpUrl":null}},"manualProvisioning":false,"implicitAssignment":false,"emOptInStatus":"NONE","notes":{"admin":null,"enduser":null},"signOn":{"defaultRelayState":"","ssoAcsUrl":"http://google.com","idpIssuer":"http://www.okta.com/${org.externalKey}","audience":"http://audience.com","recipient":"http://here.com","destination":"http://its-about-the-journey.com","subjectNameIdTemplate":"${user.userName}","subjectNameIdFormat":"urn:oasis:names:tc:SAML:1.1:nameid-format:emailAddress","responseSigned":true,"assertionSigned":false,"signatureAlgorithm":"RSA_SHA256","digestAlgorithm":"SHA256","honorForceAuthn":false,"authnContextClassRef":"urn:oasis:names:tc:SAML:2.0:ac:classes:PasswordProtectedTransport","spIssuer":null,"requestCompressed":false,"attributeStatements":[],"inlineHooks":[],"assertionEncryption":{"enabled":false},"allowMultipleAcsEndpoints":false,"acsEndpoints":[],"samlSignedRequestEnabled":false,"slo":{"enabled":false}}},"_links":{"help":{"href":"https://classic-00-admin.dne-okta.com/app/classic-00_testacc2166628549_2/0oasxmlw3f06HCBYg1d7/setup/help/SAML_2_0/instructions","type":"text/html"},"metadata":{"href":"https://classic-00.dne-okta.com/api/v1/apps/0oasxmlw3f06HCBYg1d7/sso/saml/metadata","type":"application/xml"},"uploadLogo":{"href":"https://classic-00.dne-okta.com/api/v1/apps/0oasxmlw3f06HCBYg1d7/logo","hints":{"allow":["POST"]}},"appLinks":[{"name":"classic-00_testacc2166628549_2_link","href":"https://classic-00.dne-okta.com/home/classic-00_testacc2166628549_2/0oasxmlw3f06HCBYg1d7/alnsxn2rl1zDBHpa81d7","type":"text/html"}],"profileEnrollment":{"href":"https://classic-00.dne-okta.com/api/v1/policies/rstnkw1sgzCwhJaUs1d7"},"policies":{"href":"https://classic-00.dne-okta.com/api/v1/apps/0oasxmlw3f06HCBYg1d7/policies","hints":{"allow":["PUT"]}},"groups":{"href":"https://classic-00.dne-okta.com/api/v1/apps/0oasxmlw3f06HCBYg1d7/groups"},"logo":[{"name":"medium","href":"https://op3static2.oktacdn.com/assets/img/logos/default.6770228fb0dab49a1695ef440a5279bb.png","type":"image/png"}],"accessPolicy":{"href":"https://classic-00.dne-okta.com/api/v1/policies/rstnkw1sgxfqkDUtx1d7"},"users":{"href":"https://classic-00.dne-okta.com/api/v1/apps/0oasxmlw3f06HCBYg1d7/users"},"deactivate":{"href":"https://classic-00.dne-okta.com/api/v1/apps/0oasxmlw3f06HCBYg1d7/lifecycle/deactivate"}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 2.416312708s
    - id: 1
      request:
        host: classic-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/.well-known/okta-organization
        method: GET
      response:
        body: '{"id":"00onkw1sbuAh3Q06I1d7","cell":"op3","_links":{"organization":{"href":"https://classic-00.dne-okta.com"}},"pipeline":"idx","settings":{"analyticsCollectionEnabled":false,"bugReportingEnabled":true,"omEnabled":false,"pssoEnabled":true,"desktopMFAEnabled":true,"itpEnabled":true}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.094195917s
    - id: 2
      request:
        host: classic-00.dne-okta.com
        form:
            type:
                - ACCESS_POLICY
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/policies?type=ACCESS_POLICY
        method: GET
      response:
        body: '[{"id":"rstnkw1sg2fWHAvjK1d7","status":"ACTIVE","name":"Okta Admin Console","priority":1,"system":false,"conditions":null,"created":"2025-06-26T15:51:39.000Z","lastUpdated":"2025-06-26T15:51:39.000Z","_links":{"mappings":{"href":"https://classic-00.dne-okta.com/api/v1/policies/rstnkw1sg2fWHAvjK1d7/mappings","hints":{"allow":["GET","POST"]}},"self":{"href":"https://classic-00.dne-okta.com/api/v1/policies/rstnkw1sg2fWHAvjK1d7","hints":{"allow":["GET","PUT","DELETE"]}},"rules":{"href":"https://classic-00.dne-okta.com/api/v1/policies/rstnkw1sg2fWHAvjK1d7/rules","hints":{"allow":["GET","POST"]}},"deactivate":{"href":"https://classic-00.dne-okta.com/api/v1/policies/rstnkw1sg2fWHAvjK1d7/lifecycle/deactivate","hints":{"allow":["POST"]}}},"_embedded":{"resourceType":"APP"},"type":"ACCESS_POLICY"},{"id":"rstnkw1sg9IQmPCLu1d7","status":"ACTIVE","name":"Okta Dashboard","priority":1,"system":false,"conditions":null,"created":"2025-06-26T15:51:39.000Z","lastUpdated":"2025-06-26T15:51:39.000Z","_links":{"mappings":{"href":"https://classic-00.dne-okta.com/api/v1/policies/rstnkw1sg9IQmPCLu1d7/mappings","hints":{"allow":["GET","POST"]}},"self":{"href":"https://classic-00.dne-okta.com/api/v1/policies/rstnkw1sg9IQmPCLu1d7","hints":{"allow":["GET","PUT","DELETE"]}},"ru[...]
    - id: 3
      request:
        host: classic-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/apps/0oasxmlw3f06HCBYg1d7/policies/rstnkw1sgxfqkDUtx1d7
        method: PUT
      response:
        body: ""
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
        status: 204 No Content
        code: 204
        duration: 1.19008375s
    - id: 4
      request:
        host: classic-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/apps/0oasxmlw3f06HCBYg1d7
        method: GET
      response:
        body: '{"id":"0oasxmlw3f06HCBYg1d7","orn":"orn:oktapreview:idp:00onkw1sbuAh3Q06I1d7:apps:classic-00_testacc2166628549_2:0oasxmlw3f06HCBYg1d7","name":"classic-00_testacc2166628549_2","label":"testAcc_2166628549","status":"ACTIVE","lastUpd[...]
    - id: 5
      request:
        host: classic-00.dne-okta.com
        form:
            kid:
                - IY5hQQEQpXwgMvfD_FPGSJ_8EOXx7NYR3oVy8H_4WEA
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/apps/0oasxmlw3f06HCBYg1d7/sso/saml/metadata?kid=IY5hQQEQpXwgMvfD_FPGSJ_8EOXx7NYR3oVy8H_4WEA
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?><md:EntityDescriptor entityID="http://www.okta.com/exksxmlw3egVlUtuZ1d7" xmlns:md="urn:oasis:names:tc:SAML:2.0:metadata"><md:IDPSSODescriptor WantAuthnRequestsSigned="false" protocolSupportEnumeration="urn:oasis:names:tc:SAML:2.0:protocol"><md:KeyDescriptor use="signing"><ds:KeyInfo xmlns:ds="http://www.w3.org/2000/09/xmldsig#"><ds:X509Data><ds:X509Certificate>MIIDxDCCAqygAwIBAgIGAZtB8CcKMA0GCSqGSIb3DQEBCwUAMIGiMQswCQYDVQQGEwJVUzETMBEG
            A1UECAwKQ2FsaWZvcm5pYTEWMBQGA1UEBwwNU2FuIEZyYW5jaXNjbzENMAsGA1UECgwET2t0YTEU
            MBIGA1UECwwLU1NPUHJvdmlkZXIxIzAhBgNVBAMMGmRjcC10ZXN0aW5nLW9pZy0yMDI1LTA2LTI2
            MRwwGgYJKoZIhvcNAQkBFg1pbmZvQG9rdGEuY29tMB4XDTI1MTIyMTE3MjIzNloXDTM1MTIyMTE3
            MjMzNlowgaIxCzAJBgNVBAYTAlVTMRMwEQYDVQQIDApDYWxpZm9ybmlhMRYwFAYDVQQHDA1TYW4g
            RnJhbmNpc2NvMQ0wCwYDVQQKDARPa3RhMRQwEgYDVQQLDAtTU09Qcm9[...]
    - id: 6
      request:
        host: classic-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/apps/0oasxmlw3f06HCBYg1d7/credentials/keys
        method: GET
      response:
        body: '[{"kty":"RSA","created":"2025-12-21T17:23:36.000Z","lastUpdated":"2025-12-21T17:23:36.000Z","expiresAt":"2035-12-21T17:23:36.000Z","kid":"IY5hQQEQpXwgMvfD_FPGSJ_8EOXx7NYR3oVy8H_4WEA","use":"sig","x5c":["MIIDxDCCAqygAwIBAgIGAZtB8CcKMA0GCSqGSIb3DQEBCwUAMIGiMQswCQYDVQQGEwJVUzETMBEGA1UECAwKQ2FsaWZvcm5pYTEWMBQGA1UEBwwNU2FuIEZyYW5jaXNjbzENMAsGA1UECgwET2t0YTEUMBIGA1UECwwLU1NPUHJvdmlkZXIxIzAhBgNVBAMMGmRjcC10ZXN0aW5nLW9pZy0yMDI1LTA2LTI2MRwwGgYJKoZIhvcNAQkBFg1pbmZvQG9rdGEuY29tMB4XDTI1MTIyMTE3MjIzNloXDTM1MTIyMTE3MjMzNlowgaIxCzAJBgNVBAYTAlVTMRMwEQYDVQQIDApDYWxpZm9ybmlhMRYwFAYDVQQHDA1TYW4gRnJhbmNpc2NvMQ0wCwYDVQQKDARPa3RhMRQwEgYDVQQLDAtTU09Qcm92aWRlcjEjMCEGA1UEAwwaZGNwLXRlc3Rpbmctb2lnLTIwMjUtMDYtMjYxHDAaBg[...]
    - id: 7
      request:
        host: classic-00.dne-okta.com
        body: |
            {"x5c":["MIIDxDCCAqygAwIBAgIGAZtB8CcKMA0GCSqGSIb3DQEBCwUAMIGiMQswCQYDVQQGEwJVUzETMBEG\nA1UECAwKQ2FsaWZvcm5pYTEWMBQGA1UEBwwNU2FuIEZyYW5jaXNjbzENMAsGA1UECgwET2t0YTEU\nMBIGA1UECwwLU1NPUHJvdmlkZXIxIzAhBgNVBAMMGmRjcC10ZXN0aW5nLW9pZy0yMDI1LTA2LTI2\nMRwwGgYJKoZIhvcNAQkBFg1pbmZvQG9rdGEuY29tMB4XDTI1MTIyMTE3MjIzNloXDTM1MTIyMTE3\nMjMzNlowgaIxCzAJBgNVBAYTAlVTMRMwEQYDVQQIDApDYWxpZm9ybmlhMRYwFAYDVQQHDA1TYW4g\nRnJhbmNp[...]
    - id: 8
      request:
        host: classic-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/idps/credentials/keys/8fe60395-e563-4a68-89f8-c56959c7c938
        method: GET
      response:
        body: '{"kty":"RSA","created":"2025-12-21T17:23:45.000Z","lastUpdated":"2025-12-21T17:23:45.000Z","expiresAt":"2035-12-21T17:23:36.000Z","alg":"RSA","kid":"8fe60395-e563-4a68-89f8-c56959c7c938","use":"sig","x5c":["MIIDxDCCAqygAwIBAgIGAZtB8CcKMA0GCSqGSIb3DQEBCwUAMIGiMQswCQYDVQQGEwJVUzETMBEG\nA1UECAwKQ2FsaWZvcm5pYTEWMBQGA1UEBwwNU2FuIEZyYW5jaXNjbzENMAsGA1UECgwET2t0YTEU\nMBIGA1UECwwLU1NPUHJvdmlkZXIxIzAhBgNVBAMMGmRjcC10ZXN0aW5nLW9pZy0yMDI1LTA2LTI2\nMRwwGgYJKoZIhvcNAQkBFg1pbmZvQG9rdGEuY29tMB4XDTI1MTIyMTE3MjIzNloXDTM1MTIyMTE3\nMjMzNlowgaIxCzAJBgNVBAYTAlVTMRMwEQYDVQQIDApDYWxpZm9ybmlhMRYwFAYDVQQHDA1TYW4g\nRnJhbmNpc2NvMQ0wCwYDVQQKDARPa3RhMRQwEgY[...]
    - id: 9
      request:
        host: classic-00.dne-okta.com
        body: |
            {"issuerMode":"ORG_URL","name":"testAcc_2166628549","policy":{"accountLink":{"action":"AUTO"},"maxClockSkew":0,"provisioning":{"action":"AUTO","conditions":{"deprovisioned":{"action":"NONE"},"suspended":{"action":"NONE"}},"groups":{"action":"NONE"},"profileMaster":false},"subject":{"matchType":"USERNAME","userNameTemplate":{"template":"idpuser.email"}}},"protocol":{"algorithms":{"request":{"signature":{"algorithm":"SHA-256","scope":"REQUEST"}},"response":{"signature":{"algorithm":"SHA-256","scope":"ANY"}}},"credentials":{"trust":{"issuer":"https://idp.example.com","kid":"8fe60395-e563-4a68-89f8-c56959c7c938"}},"endpoints":{"acs":{"binding":"HTTP-POST","type":"INSTANCE"},"sso":{"binding":"HTTP-POST","destination":"https://idp.example.com","url":"https://idp.example.com"}},"settings":{"nameFormat":"urn:oasis:names:tc:SAML:1.1:nameid-format:unspecified","honorPersistentNameId":false},"type":"SAML2"},"status":"ACTIVE","type":"SAML2"}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://classic-00.dne-okta.com/api/v1/idps
        method: POST
      response:
        body: '{"id":"0oasxmlw6aORx4kxX1d7","name":"testAcc_2166628549","status":"ACTIVE","created":"2025-12-21T17:23:48.000Z","lastUpdated":"2025-12-21T17:23:48.000Z","protocol":{"type":"SAML2","endpoints":{"sso":{"url":"https://idp.example.com","binding":"HTTP-POST","destination":"https://idp.example.com"},"acs":{"binding":"HTTP-POST","type":"INSTANCE"}},"algorithms":{"request":{"signature":{"algorithm":"SHA-256","scope":"REQUEST"}},"response":{"signature":{"algorithm":"SHA-256","scope":"ANY"}}},"settings":{"nameFormat":"urn:oasis:names:tc:SAML:1.1:nameid-format:unspecified","honorPersistentNameId":false},"credentials":{"trust":{"issuer":"https://idp.example.com","audience":"https://www.okta.com/saml2/service-provider/spvtkwbizfjgpmjuxrfs","kid":"8fe60395-e563-4a68-89f8-c56959c7c938","revocation":null,"revocationCacheLifetime":0},"signing":{"kid":"b-aWcq9q5sjB_wfWfazE-KJC4wRL5bDSuySCSVIOqFo"}}},"policy":{"provisioning":{"action":"AUTO","profileMaster":false,"groups":{"action":"NONE"},"conditions":{"deprovisioned":{"action":"NONE"},"suspended":{"action":"NONE"}}},"accountLink":{"filter":null,"action":"AUTO"},"subject":{"userNameTemplate":{"template":"idpuser.email"},"filter":null,"matchType":"USERNAME","matchAttribute":null},"maxClockSkew":0,"trustClaims":false,"transformedUsernameMatchingEnabled":false},"type":"SAML2","_links":{"metadata":{"href":"https://classic-00.dne-okta.com/api/v1/idps/0oasxmlw6aORx4kxX1d7/metadata.xml","type":"application/xml","hints":{"allow":["GET"]}},"acs":{"href":"https://classic-00.dne-okta.com/sso/saml2/0oasxmlw6aORx4kxX1d7","type":"application/xml","hints":{"allow":["POST"]}},"users":{"href":"https://classic-00.dne-okta.com/api/v1/idps/0oasxmlw6aORx4kxX1d7/users","hints":{"allow":["GET"]}},"deactivate":{"href":"https://classic-00.dne-okta.com/api/v1/idps/0oasxmlw6aORx4kxX1d7/lifecycle/deactivate","hints":{"allow":["POST"]}}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 2.174339833s
    - id: 10
      request:
        host: classic-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/idps/0oasxmlw6aORx4kxX1d7
        method: GET
      response:
        body: '{"id":"0oasxmlw6aORx4kxX1d7","name":"testAcc_2166628549","status":"ACTIVE","created":"2025-12-21T17:23:48.000Z","lastUpdated":"2025-12-21T17:23:48.000Z","protocol":{"type":"SAML2","endpoints":{"sso":{"url":"https://idp.example.com","binding":"HTTP-POST","destination":"https://idp.example.com"},"acs":{"binding":"HTTP-POST","type":"INSTANCE"}},"algorithms":[...]
    - id: 11
      request:
        host: classic-00.dne-okta.com
        form:
            limit:
                - "200"
            sourceId:
                - 0oasxmlw6aORx4kxX1d7
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/mappings?limit=200&sourceId=0oasxmlw6aORx4kxX1d7
        method: GET
      response:
        body: '[{"id":"prmsxmlw6n80iACYL1d7","source":{"id":"0oasxmlw6aORx4kxX1d7","name":"saml_idp","type":"appuser","_links":{"self":{"href":"https://classic-00.dne-okta.com/api/v1/apps/0oasxmlw6aORx4kxX1d7"},"schema":{"href":"https://classic-00.dne-okta.com/api/v1/meta/schemas/apps/0oasxmlw6aORx4kxX1d7/default"}}},"target":{"id":"otynkw1sdzpoFCZMq1d7","name":"user","type":"user","_links":{"self":{"href":"https://classic-00.dne-okta.com/api/v1/meta/types/user/otynkw1sdzpoFCZMq1d7"},"schema":{"href":"https://classic-00.dne-okta.com/api/v1/meta/schemas/user/oscnkw1sdzpoFCZMq1d7"}}},"_links":{"self":{"href":"https://classic-00.dne-okta.com/api/v1/mappings/prmsxmlw6n80iACYL1d7"}}},{"id":"prmsxmlw6yT1a04ux1d7","source":{"id":"0oasxmlw6aORx4kxX1d7","name":"saml_idp","type":"appuser","_links":{"self":{"href":"https://clas[...]
    - id: 12
      request:
        host: classic-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/mappings/prmsxmlw6n80iACYL1d7
        method: GET
      response:
        body: '{"id":"prmsxmlw6n80iACYL1d7","source":{"id":"0oasxmlw6aORx4kxX1d7","name":"saml_idp","type":"appuser","_links":{"self":{"href":"https://classic-00.dne-okta.com/api/v1/apps/0oasxmlw6aORx4kxX1d7"},"schema":{"href":"https://classic-00.dne-okta.com/api/v1/meta/schemas/apps/0oasxmlw6aORx4kxX1d7/default"}}},"target":{"id":"otynkw1sdzpoFCZMq1d7","name":"user","type":"user","_links":{"self":{"href":"https://classic-00.dne-okta.com/api/v1/meta/types/user/otynkw1sdzpoFCZMq1d7"},"schema":{"href":"https://classic-00.dne-okta.com/api/v1/meta/schemas/user/oscnkw1sdzpoFCZMq1d7"}}},"properties":{"firstName":{"expression":"source.firstName","pushStatus":"DONT_PUSH"},"lastName":{"expression":"source.lastName","pushStatus":"DONT_PUSH"},"email":{"expression":"source.email","pushStatus":"DONT_PUSH"},"mobilePhone":{"expression":"source.mobilePhone","pushStatus":"DONT_PUSH"},"login":{"expression":"source.userName","pushStatus":"DONT_PUSH"}},"_links":{"self":{"href":"https://classic-00.dne-okta.com/api/v1/mappings/prmsxmlw6n80iACYL1d7"}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.196052292s
[...]
    - id: 27
      request:
        host: classic-00.dne-okta.com
        form:
            limit:
                - "1"
            q:
                - testAcc_2166628549
            type:
                - SAML2
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/idps?limit=1&q=testAcc_2166628549&type=SAML2
        method: GET
      response:
        body: '[{"id":"0oasxmlw6aORx4kxX1d7","name":"testAcc_2166628549","status":"ACTIVE","created":"2025-12-21T17:23:48.000Z","lastUpdated":"2025-12-21T17:23:48.000Z","protocol":{"type":"SAML2","endpoints":{"sso":{"url":"https://idp.example.com","binding":"HTTP-POST","destination":"https://idp.example.com"},"acs":{"binding":"HTTP-POST","type":"INSTANCE"}},"algorithms":[...]
    - id: 58
      request:
        host: classic-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/idps/0oasxmlw6aORx4kxX1d7/lifecycle/deactivate
        method: POST
      response:
        body: '{"id":"0oasxmlw6aORx4kxX1d7","name":"testAcc_2166628549","status":"INACTIVE","created":"2025-12-21T17:23:48.000Z","lastUpdated":"2025-12-21T17:24:46.000Z","protocol":{"type":"SAML2","endpoints":{"sso":{"url":"https://idp.example.com","binding":"HTTP-POST","destination":"https://idp.example.com"},"acs":{"binding":"HTTP-POST","type":"INSTANCE"}},"algorithms":[...]
    - id: 61
      request:
        host: classic-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/apps/0oasxmlw3f06HCBYg1d7/lifecycle/deactivate
        method: POST
      response:
        body: '{}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.122896042s
[...]
