---
version: 2
interactions:
    - id: 0
      request:
        host: classic-00.dne-okta.com
        body: |
            {"accessibility":{"selfService":false},"credentials":{"userNameTemplate":{"template":"${source.login}","type":"BUILT_IN"}},"label":"testAcc_2166628549","settings":{"app":{},"implicitAssignment":false,"notes":{"admin":null,"enduser":null},"signOn":{"allowMultipleAcsEndpoints":false,"assertionSigned":false,"attributeStatements":[],"audience":"http://audience.com","audienceOverride":"","authnContextClassRef":"urn:oasis:names:tc:SAML:2.0:ac:classes:PasswordProtectedTransport","defaultRelayState":"","destination":"http://its-about-the-journey.com","destinationOverride":"","digestAlgorithm":"SHA256","honorForceAuthn":false,"recipient":"http://here.com","recipientOverride":"","responseSigned":true,"samlSignedRequestEnabled":false,"signatureAlgorithm":"RSA_SHA256","slo":{"enabled":false},"ssoAcsUrl":"http://google.com","ssoAcsUrlOverride":"","subjectNameIdFormat":"urn:oasis:names:tc:SAML:1.1:nameid-format:emailAddress","subjectNameIdTemplate":"${user.userName}"}},"signOnMode":"SAML_2_0","visibility":{"autoSubmitToolbar":false,"hide":{"iOS":false,"web":false}}}
        form:
            activate:
                - "true"
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://classic-00.dne-okta.com/api/v1/apps?activate=true
        method: POST
      response:
        body: '{"id":"0oanafyeg1P3SrPT21d7","orn":"orn:oktapreview:idp:00o1fddpc3wwOX5Nk1d7:apps:classic-00_testacc2166628549_1:0oanafyeg1P3SrPT21d7","name":"classic-00_testacc2166628549_1","label":"testAcc_2166628549","status":"ACTIVE","lastUpdated":"2025-06-16T17:44:01.000Z","created":"2025-06-16T17:44:00.000Z","accessibility":{"selfService":false,"errorRedirectUrl":null,"loginRedirectUrl":null},"visibility":{"autoLaunch":false,"autoSubmitToolbar":false,"hide":{"iOS":false,"web":false},"appLinks":{"classic-00_testacc2166628549_1_link":true}},"features":[],"signOnMode":"SAML_2_0","credentials":{"userNameTemplate":{"template":"${source.login}","type":"BUILT_IN"},"signing":{"kid":"JcCU2TR8jOTXmIK7dkod0P4yy2z7UotE1z-I-8rmLIE"}},"universalLogout":null,"settings":{"app":{},"notifications":{"vpn":{"network":{"connection":"DISABLED"},"message":null,"helpUrl":null}},"manualProvisioning":false,"implicitAssignment":false,"notes":{"admin":null,"enduser":null},"signOn":{"defaultRelayState":"","ssoAcsUrl":"http://google.com","idpIssuer":"http://www.okta.com/${org.externalKey}","audience":"http://audience.com","recipient":"http://here.com","destination":"http://its-about-the-journey.com","subjectNameIdTemplate":"${user.userName}","subjectNameIdFormat":"urn:oasis:names:tc:SAML:1.1:nameid-format:emailAddress","responseSigned":true,"assertionSigned":false,"signatureAlgorithm":"RSA_SHA256","digestAlgorithm":"SHA256","honorForceAuthn":false,"authnContextClassRef":"urn:oasis:names:tc:SAML:2.0:ac:classes:PasswordProtectedTransport","spIssuer":null,"requestCompressed":false,"attributeStatements":[],"assertionEncryption":{"enabled":false},"allowMultipleAcsEndpoints":false,"acsEndpoints":[],"samlSignedRequestEnabled":false,"slo":{"enabled":false}}},"_links":{"help":{"href":"https://classic-00-admin.dne-okta.com/app/classic-00_testacc2166628549_1/0oanafyeg1P3SrPT21d7/setup/help/SAML_2_0/instructions","type":"text/html"},"metadata":{"href":"https://classic-00.dne-okta.com/api/v1/apps/0oanafyeg1P3SrPT21d7/sso/saml/metadata","type":"application/xml"},"uploadLogo":{"href":"https://classic-00.dne-okta.com/api/v1/apps/0oanafyeg1P3SrPT21d7/logo","hints":{"allow":["POST"]}},"appLinks":[{"name":"classic-00_testacc2166628549_1_link","href":"https://classic-00.dne-okta.com/home/classic-00_testacc2166628549_1/0oanafyeg1P3SrPT21d7/alnnaghnmsIcKcfB41d7","type":"text/html"}],"profileEnrollment":{"href":"https://classic-00.dne-okta.com/api/v1/policies/rst1fddpitF6oUuZA1d7"},"policies":{"href":"https://classic-00.dne-okta.com/api/v1/apps/0oanafyeg1P3SrPT21d7/policies","hints":{"allow":["PUT"]}},"groups":{"href":"https://classic-00.dne-okta.com/api/v1/apps/0oanafyeg1P3SrPT21d7/groups"},"logo":[{"name":"medium","href":"https://op3static.oktacdn.com/assets/img/logos/default.6770228fb0dab49a1695ef440a5279bb.png","type":"image/png"}],"accessPolicy":{"href":"https://classic-00.dne-okta.com/api/v1/policies/rst1fddpir2HgIar61d7"},"users":{"href":"https://classic-00.dne-okta.com/api/v1/apps/0oanafyeg1P3SrPT21d7/users"},"deactivate":{"href":"https://classic-00.dne-okta.com/api/v1/apps/0oanafyeg1P3SrPT21d7/lifecycle/deactivate"}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 2.949033042s
    - id: 1
      request:
        host: classic-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/.well-known/okta-organization
        method: GET
      response:
        body: '{"id":"00o1fddpc3wwOX5Nk1d7","cell":"op3","_links":{"organization":{"href":"https://classic-00.dne-okta.com"}},"pipeline":"idx","settings":{"analyticsCollectionEnabled":false,"bugReportingEnabled":true,"omEnabled":false,"pssoEnabled":false,"desktopMFAEnabled":false,"itpEnabled":false}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.003931666s
    - id: 2
      request:
        host: classic-00.dne-okta.com
        form:
            type:
                - ACCESS_POLICY
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/policies?type=ACCESS_POLICY
        method: GET
      response:
        body: '[{"id":"rst1fddphiVPz2U191d7","status":"ACTIVE","name":"Okta Admin Console","priority":1,"system":false,"conditions":null,"created":"2021-09-24T17:51:15.000Z","lastUpdated":"2021-09-24T17:51:15.000Z","_links":{"mappings":{"href":"https://classic-00.dne-okta.com/api/v1/policies/rst1fddphiVPz2U191d7/mappings","hints":{"allow":["GET","POST"]}},"self":{"href":"https://classic-00.dne-okta.com/api/v1/policies/rst1fddphiVPz2U191d7","hints":{"allow":["GET","PUT","DELETE"]}},"rules":{"href":"https://classic-00.dne-okta.com/api/v1/policies/rst1fddphiVPz2U191d7/rules","hints":{"allow":["GET","POST"]}},"deactivate":{"href":"https://classic-00.dne-okta.com/api/v1/policies/rst1fddphiVPz2U191d7/lifecycle/deactivate","hints":{"allow":["POST"]}}},"_embedded":{"resourceType":"APP"},"type":"ACCESS_POLICY"},{"id":"rst1fddphrciejTPK1d7","status":"ACTIVE","name":"Okta Browser Plugin","priority":1,"system":false,"conditions":null,"created":"2021-09-24T17:51:15.000Z","lastUpdated":"2021-09-24T17:51:15.000Z","_links":{"mappings":{"href":"https://classic-00.dne-okta.com/api/v1/policies/rst1fddphrciejTPK1d7/mappings","hints":{"allow":["GET","POST"]}},"self":{"href":"https://classic-00.dne-okta.com/api/v1/policies/rst1fddphrciejTPK1d7","hints":{"allow":["GET","PUT","DELETE"]}[...]
    - id: 3
      request:
        host: classic-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/apps/0oanafyeg1P3SrPT21d7/policies/rst1fddpir2HgIar61d7
        method: PUT
      response:
        body: ""
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
        status: 204 No Content
        code: 204
        duration: 1.077755792s
    - id: 4
      request:
        host: classic-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/apps/0oanafyeg1P3SrPT21d7
        method: GET
      response:
        body: '{"id":"0oanafyeg1P3SrPT21d7","orn":"orn:oktapreview:idp:00o1fddpc3wwOX5Nk1d7:apps:classic-00_testacc2166628549_1:0oanafyeg1P3SrPT21d7","name":"classic-00_testacc2166628549_1","label":"testAcc_2166628549","status":"ACTIVE","lastUpd[...]
    - id: 5
      request:
        host: classic-00.dne-okta.com
        form:
            kid:
                - JcCU2TR8jOTXmIK7dkod0P4yy2z7UotE1z-I-8rmLIE
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/apps/0oanafyeg1P3SrPT21d7/sso/saml/metadata?kid=JcCU2TR8jOTXmIK7dkod0P4yy2z7UotE1z-I-8rmLIE
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?><md:EntityDescriptor entityID="http://www.okta.com/exknafyeg0AxWJVDg1d7" xmlns:md="urn:oasis:names:tc:SAML:2.0:metadata"><md:IDPSSODescriptor WantAuthnRequestsSigned="false" protocolSupportEnumeration="urn:oasis:names:tc:SAML:2.0:protocol"><md:KeyDescriptor use="signing"><ds:KeyInfo xmlns:ds="http://www.w3.org/2000/09/xmldsig#"><ds:X509Data><ds:X509Certificate>MIIDrDCCApSgAwIBAgIGAZd510SJMA0GCSqGSIb3DQEBCwUAMIGWMQswCQYDVQQGEwJVUzETMBEG
            A1UECAwKQ2FsaWZvcm5pYTEWMBQGA1UEBwwNU2FuIEZyYW5jaXNjbzENMAsGA1UECgwET2t0YTEU
            MBIGA1UECwwLU1NPUHJvdmlkZXIxFzAVBgNVBAMMDmRvdG5ldC1zZGstb2llMRwwGgYJKoZIhvcN
            AQkBFg1pbmZvQG9rdGEuY29tMB4XDTI1MDYxNjE3NDMwMFoXDTM1MDYxNjE3NDQwMFowgZYxCzAJ
            BgNVBAYTAlVTMRMwEQYDVQQIDApDYWxpZm9ybmlhMRYwFAYDVQQHDA1TYW4gRnJhbmNpc2NvMQ0w
            CwYDVQQKDARPa3RhMRQwEgYDVQQLDAtTU09Qcm92aWRlcjEXMBUGA1U[...]
    - id: 6
      request:
        host: classic-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/apps/0oanafyeg1P3SrPT21d7/credentials/keys
        method: GET
      response:
        body: '[{"kty":"RSA","created":"2025-06-16T17:44:00.000Z","lastUpdated":"2025-06-16T17:44:00.000Z","expiresAt":"2035-06-16T17:44:00.000Z","kid":"JcCU2TR8jOTXmIK7dkod0P4yy2z7UotE1z-I-8rmLIE","use":"sig","x5c":["MIIDrDCCApSgAwIBAgIGAZd510SJMA0GCSqGSIb3DQEBCwUAMIGWMQswCQYDVQQGEwJVUzETMBEGA1UECAwKQ2FsaWZvcm5pYTEWMBQGA1UEBwwNU2FuIEZyYW5jaXNjbzENMAsGA1UECgwET2t0YTEUMBIGA1UECwwLU1NPUHJvdmlkZXIxFzAVBgNVBAMMDmRvdG5ldC1zZGstb2llMRwwGgYJKoZIhvcNAQkBFg1pbmZvQG9rdGEuY29tMB4XDTI1MDYxNjE3NDMwMFoXDTM1MDYxNjE3NDQwMFowgZYxCzAJBgNVBAYTAlVTMRMwEQYDVQQIDApDYWxpZm9ybmlhMRYwFAYDVQQHDA1TYW4gRnJhbmNpc2NvMQ0wCwYDVQQKDARPa3RhMRQwEgYDVQQLDAtTU09Qcm92aWRlcjEXMBUGA1UEAwwOZG90bmV0LXNkay1vaWUxHDAaBgkqhkiG9w0BCQEWDWluZm9Ab2t0YS5jb2[...]
    - id: 7
      request:
        host: classic-00.dne-okta.com
        body: |
            {"x5c":["MIIDrDCCApSgAwIBAgIGAZd510SJMA0GCSqGSIb3DQEBCwUAMIGWMQswCQYDVQQGEwJVUzETMBEG\nA1UECAwKQ2FsaWZvcm5pYTEWMBQGA1UEBwwNU2FuIEZyYW5jaXNjbzENMAsGA1UECgwET2t0YTEU\nMBIGA1UECwwLU1NPUHJvdmlkZXIxFzAVBgNVBAMMDmRvdG5ldC1zZGstb2llMRwwGgYJKoZIhvcN\nAQkBFg1pbmZvQG9rdGEuY29tMB4XDTI1MDYxNjE3NDMwMFoXDTM1MDYxNjE3NDQwMFowgZYxCzAJ\nBgNVBAYTAlVTMRMwEQYDVQQIDApDYWxpZm9ybmlhMRYwFAYDVQQHDA1TYW4gRnJhbmNpc2NvMQ0w\nCwYDVQQK[...]
    - id: 8
      request:
        host: classic-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/idps/credentials/keys/b14cc1da-a0a8-4072-a10b-67c39274045a
        method: GET
      response:
        body: '{"kty":"RSA","created":"2025-06-16T17:44:09.000Z","lastUpdated":"2025-06-16T17:44:09.000Z","expiresAt":"2035-06-16T17:44:00.000Z","alg":"RSA","kid":"b14cc1da-a0a8-4072-a10b-67c39274045a","use":"sig","x5c":["MIIDrDCCApSgAwIBAgIGAZd510SJMA0GCSqGSIb3DQEBCwUAMIGWMQswCQYDVQQGEwJVUzETMBEG\nA1UECAwKQ2FsaWZvcm5pYTEWMBQGA1UEBwwNU2FuIEZyYW5jaXNjbzENMAsGA1UECgwET2t0YTEU\nMBIGA1UECwwLU1NPUHJvdmlkZXIxFzAVBgNVBAMMDmRvdG5ldC1zZGstb2llMRwwGgYJKoZIhvcN\nAQkBFg1pbmZvQG9rdGEuY29tMB4XDTI1MDYxNjE3NDMwMFoXDTM1MDYxNjE3NDQwMFowgZYxCzAJ\nBgNVBAYTAlVTMRMwEQYDVQQIDApDYWxpZm9ybmlhMRYwFAYDVQQHDA1TYW4gRnJhbmNpc2NvMQ0w\nCwYDVQQKDARPa3RhMRQwEgYDVQQLDAtTU09Qcm9[...]
    - id: 9
      request:
        host: classic-00.dne-okta.com
        body: |
            {"issuerMode":"ORG_URL","name":"testAcc_2166628549","policy":{"accountLink":{"action":"AUTO"},"maxClockSkew":0,"provisioning":{"action":"AUTO","conditions":{"deprovisioned":{"action":"NONE"},"suspended":{"action":"NONE"}},"groups":{"action":"NONE"},"profileMaster":false},"subject":{"matchType":"USERNAME","userNameTemplate":{"template":"idpuser.email"}}},"protocol":{"algorithms":{"request":{"signature":{"algorithm":"SHA-256","scope":"REQUEST"}},"response":{"signature":{"algorithm":"SHA-256","scope":"ANY"}}},"credentials":{"trust":{"issuer":"https://idp.example.com","kid":"b14cc1da-a0a8-4072-a10b-67c39274045a"}},"endpoints":{"acs":{"binding":"HTTP-POST","type":"INSTANCE"},"sso":{"binding":"HTTP-POST","destination":"https://idp.example.com","url":"https://idp.example.com"}},"settings":{"nameFormat":"urn:oasis:names:tc:SAML:1.1:nameid-format:unspecified","honorPersistentNameId":false},"type":"SAML2"},"status":"ACTIVE","type":"SAML2"}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://classic-00.dne-okta.com/api/v1/idps
        method: POST
      response:
        body: '{"id":"0oanag4uyx8VP6Tjv1d7","name":"testAcc_2166628549","status":"ACTIVE","created":"2025-06-16T17:44:12.000Z","lastUpdated":"2025-06-16T17:44:12.000Z","protocol":{"type":"SAML2","endpoints":{"sso":{"url":"https://idp.example.com","binding":"HTTP-POST","destination":"https://idp.example.com"},"acs":{"binding":"HTTP-POST","type":"INSTANCE"}},"algorithms":{"request":{"signature":{"algorithm":"SHA-256","scope":"REQUEST"}},"response":{"signature":{"algorithm":"SHA-256","scope":"ANY"}}},"settings":{"nameFormat":"urn:oasis:names:tc:SAML:1.1:nameid-format:unspecified","honorPersistentNameId":false},"credentials":{"trust":{"issuer":"https://idp.example.com","audience":"https://www.okta.com/saml2/service-provider/spmtmenfqgclfuoxofdg","kid":"b14cc1da-a0a8-4072-a10b-67c39274045a","revocation":null,"revocationCacheLifetime":0},"signing":{"kid":"3UBDfoXYIwf_p-zOt__NKy3Qutd1C8zn0PELGYaZdbE"}}},"policy":{"provisioning":{"action":"AUTO","profileMaster":false,"groups":{"action":"NONE"},"conditions":{"deprovisioned":{"action":"NONE"},"suspended":{"action":"NONE"}}},"accountLink":{"filter":null,"action":"AUTO"},"subject":{"userNameTemplate":{"template":"idpuser.email"},"filter":null,"matchType":"USERNAME","matchAttribute":null},"maxClockSkew":0,"trustClaims":false,"transformedUsernameMatchingEnabled":false},"type":"SAML2","_links":{"metadata":{"href":"https://classic-00.dne-okta.com/api/v1/idps/0oanag4uyx8VP6Tjv1d7/metadata.xml","type":"application/xml","hints":{"allow":["GET"]}},"acs":{"href":"https://classic-00.dne-okta.com/sso/saml2/0oanag4uyx8VP6Tjv1d7","type":"application/xml","hints":{"allow":["POST"]}},"users":{"href":"https://classic-00.dne-okta.com/api/v1/idps/0oanag4uyx8VP6Tjv1d7/users","hints":{"allow":["GET"]}},"deactivate":{"href":"https://classic-00.dne-okta.com/api/v1/idps/0oanag4uyx8VP6Tjv1d7/lifecycle/deactivate","hints":{"allow":["POST"]}}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 2.607301208s
    - id: 10
      request:
        host: classic-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/idps/0oanag4uyx8VP6Tjv1d7
        method: GET
      response:
        body: '{"id":"0oanag4uyx8VP6Tjv1d7","name":"testAcc_2166628549","status":"ACTIVE","created":"2025-06-16T17:44:12.000Z","lastUpdated":"2025-06-16T17:44:12.000Z","protocol":{"type":"SAML2","endpoints":{"sso":{"url":"https://idp.example.com","binding":"HTTP-POST","destination":"https://idp.example.com"},"acs":{"binding":"HTTP-POST","type":"INSTANCE"}},"algorithms":[...]
    - id: 11
      request:
        host: classic-00.dne-okta.com
        form:
            limit:
                - "200"
            sourceId:
                - 0oanag4uyx8VP6Tjv1d7
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/mappings?limit=200&sourceId=0oanag4uyx8VP6Tjv1d7
        method: GET
      response:
        body: '[{"id":"prmnag4uz5N1SN6ol1d7","source":{"id":"0oanag4uyx8VP6Tjv1d7","name":"saml_idp","type":"appuser","_links":{"self":{"href":"https://classic-00.dne-okta.com/api/v1/apps/0oanag4uyx8VP6Tjv1d7"},"schema":{"href":"https://classic-00.dne-okta.com/api/v1/meta/schemas/apps/0oanag4uyx8VP6Tjv1d7/default"}}},"target":{"id":"oty1fddpcr6cnPEPG1d7","name":"user","type":"user","_links":{"self":{"href":"https://classic-00.dne-okta.com/api/v1/meta/types/user/oty1fddpcr6cnPEPG1d7"},"schema":{"href":"https://classic-00.dne-okta.com/api/v1/meta/schemas/user/osc1fddpcr6cnPEPG1d7"}}},"_links":{"self":{"href":"https://classic-00.dne-okta.com/api/v1/mappings/prmnag4uz5N1SN6ol1d7"}}},{"id":"prmnag4uzgNHYAdyZ1d7","source":{"id":"0oanag4uyx8VP6Tjv1d7","name":"saml_idp","type":"appuser","_links":{"self":{"href":"https://clas[...]
    - id: 12
      request:
        host: classic-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/mappings/prmnag4uz5N1SN6ol1d7
        method: GET
      response:
        body: '{"id":"prmnag4uz5N1SN6ol1d7","source":{"id":"0oanag4uyx8VP6Tjv1d7","name":"saml_idp","type":"appuser","_links":{"self":{"href":"https://classic-00.dne-okta.com/api/v1/apps/0oanag4uyx8VP6Tjv1d7"},"schema":{"href":"https://classic-00.dne-okta.com/api/v1/meta/schemas/apps/0oanag4uyx8VP6Tjv1d7/default"}}},"target":{"id":"oty1fddpcr6cnPEPG1d7","name":"user","type":"user","_links":{"self":{"href":"https://classic-00.dne-okta.com/api/v1/meta/types/user/oty1fddpcr6cnPEPG1d7"},"schema":{"href":"https://classic-00.dne-okta.com/api/v1/meta/schemas/user/osc1fddpcr6cnPEPG1d7"}}},"properties":{"firstName":{"expression":"source.firstName","pushStatus":"DONT_PUSH"},"lastName":{"expression":"source.lastName","pushStatus":"DONT_PUSH"},"email":{"expression":"source.email","pushStatus":"DONT_PUSH"},"mobilePhone":{"expression":"source.mobilePhone","pushStatus":"DONT_PUSH"},"login":{"expression":"source.userName","pushStatus":"DONT_PUSH"}},"_links":{"self":{"href":"https://classic-00.dne-okta.com/api/v1/mappings/prmnag4uz5N1SN6ol1d7"}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.133935875s
[...]
    - id: 27
      request:
        host: classic-00.dne-okta.com
        form:
            limit:
                - "1"
            q:
                - testAcc_2166628549
            type:
                - SAML2
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/idps?limit=1&q=testAcc_2166628549&type=SAML2
        method: GET
      response:
        body: '[{"id":"0oanag4uyx8VP6Tjv1d7","name":"testAcc_2166628549","status":"ACTIVE","created":"2025-06-16T17:44:12.000Z","lastUpdated":"2025-06-16T17:44:12.000Z","protocol":{"type":"SAML2","endpoints":{"sso":{"url":"https://idp.example.com","binding":"HTTP-POST","destination":"https://idp.example.com"},"acs":{"binding":"HTTP-POST","type":"INSTANCE"}},"algorithms":[...]
    - id: 58
      request:
        host: classic-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/idps/0oanag4uyx8VP6Tjv1d7/lifecycle/deactivate
        method: POST
      response:
        body: '{"id":"0oanag4uyx8VP6Tjv1d7","name":"testAcc_2166628549","status":"INACTIVE","created":"2025-06-16T17:44:12.000Z","lastUpdated":"2025-06-16T17:45:09.000Z","protocol":{"type":"SAML2","endpoints":{"sso":{"url":"https://idp.example.com","binding":"HTTP-POST","destination":"https://idp.example.com"},"acs":{"binding":"HTTP-POST","type":"INSTANCE"}},"algorithms":[...]
    - id: 61
      request:
        host: classic-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/apps/0oanafyeg1P3SrPT21d7/lifecycle/deactivate
        method: POST
      response:
        body: '{}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.1620045s
[...]
