---
version: 2
interactions:
    - id: 0
      request:
        host: oie-00.dne-okta.com
        body: |
            {"dataType":"array","description":"Some license entitlement","externalValue":"Entitlement Bundle","multiValue":true,"name":"Entitlement Bundle","parent":{"externalId":"0oao01ardu8r8qUP91d7","type":"APPLICATION"},"values":[{"description":"description for value1","externalValue":"value_1","name":"value1"},{"description":"description for value2","externalValue":"value_2","name":"value2"}]}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://oie-00.dne-okta.com/governance/api/v1/entitlements
        method: POST
      response:
        body: '{"parentResourceOrn":"orn:oktapreview:idp:00onkw1sbuAh3Q06I1d7:apps:oidc_client:0oao01ardu8r8qUP91d7","parent":{"externalId":"0oao01ardu8r8qUP91d7","type":"APPLICATION"},"values":[{"id":"ent10fubflgr3KEP21d7","name":"value1","externalValue":"value_1","description":"description for value1"},{"id":"ent10fubfmFHaTOfC1d7","name":"value2","externalValue":"value_2","description":"description for value2"}],"_links":{"self":{"href":"https://oie-00-admin.dne-okta.com/governance/api/v1/entitlements/esp10fubfkv6Erx141d7","hints":{}}},"metadata":{"total":2},"id":"esp10fubfkv6Erx141d7","name":"Entitlement Bundle","externalValue":"Entitlement Bundle","description":"Some license entitlement","multiValue":true,"required":false,"dataType":"array"}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
            Link:
                - <https://oie-00-admin.dne-okta.com/governance/api/v1/entitlements/esp10fubfkv6Erx141d7>; rel="self"
            Location:
                - https://dcp-testing-oig-2025-06-26-admin.oktapreview.com/governance/api/v1/entitlements/esp10fubfkv6Erx141d7
        status: 201 Created
        code: 201
        duration: 1.146812166s
    - id: 1
      request:
        host: oie-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/governance/api/v1/entitlements/esp10fubfkv6Erx141d7
        method: GET
      response:
        body: '{"parentResourceOrn":"orn:oktapreview:idp:00onkw1sbuAh3Q06I1d7:apps:oidc_client:0oao01ardu8r8qUP91d7","parent":{"externalId":"0oao01ardu8r8qUP91d7","type":"APPLICATION"},"values":[{"id":"ent10fubflgr3KEP21d7","name":"value1","externalValue":"value_1","description":"description for value1"},{"id":"ent10fubfmFHaTOfC1d7","name":"value2","externalValue":"value_2","description":"description for value2"}],"_links":{"self":{"href":"https://oie-00-admin.dne-okta.com/governance/api/v1/entitlements/esp10fubfkv6Erx141d7","hints":{}}},"metadata":{"total":2},"id":"esp10fubfkv6Erx141d7","name":"Entitlement Bundle","externalValue":"Entitlement Bundle","description":"Some license entitlement","multiValue":true,"required":false,"dataType":"array"}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
            Link:
                - <https://oie-00-admin.dne-okta.com/governance/api/v1/entitlements/esp10fubfkv6Erx141d7>; rel="self"
        status: 200 OK
        code: 200
        duration: 1.20989575s
[...]
