---
version: 2
interactions:
    - id: 0
      request:
        host: classic-00.dne-okta.com
        body: |
            {"credentials":{"password":{}},"profile":{"email":"john_3352527563@unknown.com","firstName":"TestAcc","lastName":"Doe","login":"john_3352527563@unknown.com","postalAddress":null}}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://classic-00.dne-okta.com/api/v1/users
        method: POST
      response:
        body: '{"id":"00ukwu7hesuiD5ytv1d7","status":"PROVISIONED","created":"2025-03-14T03:06:13.000Z","activated":"2025-03-14T03:06:14.000Z","statusChanged":"2025-03-14T03:06:14.000Z","lastLogin":null,"lastUpdated":"2025-03-14T03:06:14.000Z","passwordChanged":null,"type":{"id":"oty5ptm052JMcoADv1d7"},"profile":{"firstName":"TestAcc","lastName":"Doe","mobilePhone":null,"secondEmail":null,"login":"john_3352527563@unknown.com","email":"john_3352527563@unknown.com"},"credentials":{"provider":{"type":"OKTA","name":"OKTA"}},"_links":{"suspend":{"href":"https://classic-00.dne-okta.com/api/v1/users/00ukwu7hesuiD5ytv1d7/lifecycle/suspend","method":"POST"},"schema":{"href":"https://classic-00.dne-okta.com/api/v1/meta/schemas/user/osc5ptm052JMcoADv1d7"},"resetPassword":{"href":"https://classic-00.dne-okta.com/api/v1/users/00ukwu7hesuiD5ytv1d7/lifecycle/reset_password","method":"POST"},"reactivate":{"href":"https://classic-00.dne-okta.com/api/v1/users/00ukwu7hesuiD5ytv1d7/lifecycle/reactivate","method":"POST"},"self":{"href":"https://classic-00.dne-okta.com/api/v1/users/00ukwu7hesuiD5ytv1d7"},"type":{"href":"https://classic-00.dne-okta.com/api/v1/meta/types/user/oty5ptm052JMcoADv1d7"},"deactivate":{"href":"https://classic-00.dne-okta.com/api/v1/users/00ukwu7hesuiD5ytv1d7/lifecycle/deactivate","method":"POST"}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 462.660833ms
[...]
    - id: 4
      request:
        host: classic-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/users/00ukwu7hesuiD5ytv1d7
        method: GET
      response:
        body: '{"id":"00ukwu7hesuiD5ytv1d7","status":"PROVISIONED","created":"2025-03-14T03:06:13.000Z","activated":"2025-03-14T03:06:14.000Z","statusChanged":"2025-03-14T03:06:14.000Z","lastLogin":null,"lastUp[...]
    - id: 5
      request:
        host: classic-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/users/00ukwu9jpli6CMc1L1d7
        method: GET
      response:
        body: '{"id":"00ukwu9jpli6CMc1L1d7","status":"PROVISIONED","created":"2025-03-14T03:06:13.000Z","activated":"2025-03-14T03:06:14.000Z","statusChanged":"2025-03-14T03:06:14.000Z","lastLogin":null,"lastUp[...]
    - id: 6
      request:
        host: classic-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/users/00ukwuay6soNK5VqB1d7
        method: GET
      response:
        body: '{"id":"00ukwuay6soNK5VqB1d7","status":"PROVISIONED","created":"2025-03-14T03:06:13.000Z","activated":"2025-03-14T03:06:14.000Z","statusChanged":"2025-03-14T03:06:14.000Z","lastLogin":null,"lastUp[...]
    - id: 7
      request:
        host: classic-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/users/00ukwujvvgsYsYdeW1d7
        method: GET
      response:
        body: '{"id":"00ukwujvvgsYsYdeW1d7","status":"PROVISIONED","created":"2025-03-14T03:06:14.000Z","activated":"2025-03-14T03:06:14.000Z","statusChanged":"2025-03-14T03:06:14.000Z","lastLogin":null,"lastUp[...]
[...]
    - id: 13
      request:
        host: classic-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/users?limit=200&search=profile.email+sw+%22john_3352527563%22&sortOrder=0
        method: GET
      response:
        body: '[{"id":"00ukwu7hesuiD5ytv1d7","status":"PROVISIONED","created":"2025-03-14T03:06:13.000Z","activated":"2025-03-14T03:06:14.000Z","statusChanged":"2[...]
[...]
    - id: 29
      request:
        host: classic-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/users?limit=200&search=profile.email+pr+and+profile.firstName+eq+%22TestAcc%22+and+profile.lastName+eq+%22Jones%22&sortOrder=0
        method: GET
      response:
        body: '[{"id":"00ukwu9jpli6CMc1L1d7","status":"PROVISIONED","created":"2025-03-14T03:06:13.000Z","activated":"2025-03-14T03:06:14.000Z","statusChanged":"2025-03-14T03:06:14.000Z","lastLogin":null,"lastUpdated":"2025-03-14T03:06:14.000Z","passwordChanged":null,"type":{"id":"oty5ptm052JMcoADv1d7"},"profile":{"firstName":"TestAcc","lastName":"Jones","mobilePhone":null,"secondEmail":null,"login":"john_3352527563@ledzeppelin.com","email":"john_3352527563@ledzeppelin.com"},"credentials":{"provider":{"type":"OKTA","name":"OKTA"}},"_links":{"self":{"href":"https://classic-00.dne-okta.com/api/v1/users/00ukwu9jpli6CMc1L1d7"}}}]'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
            Link:
                - <https://classic-00.dne-okta.com/api/v1/users?limit=200&search=profile.email+pr+and+profile.firstName+eq+%22TestAcc%22+and+profile.lastName+eq+%22Jones%22>; rel="self"
        status: 200 OK
        code: 200
        duration: 218.156833ms
[...]
