---
version: 2
interactions:
- id: 0
  request:
    host: classic-00.dne-okta.com
    body: "{\"credentials\":{\"password\":{}},\"profile\":{\"email\":\"john_3352527563@ledzeppelin.com\",\"firstName\":\"TestAcc\",\"lastName\":\"Jones\",\"login\":\"john_3352527563@ledzeppelin.com\",\"postalAddress\":null}}\n"
    headers:
      Authorization:
      - SSWS REDACTED
      Content-Type:
      - application/json
    url: https://classic-00.dne-okta.com/api/v1/users
    method: POST
  response:
    body: "{\"id\":\"00uckrjxc9Bq4M46v0x7\",\"status\":\"PROVISIONED\",\"created\":\"2025-12-17T10:50:30.000Z\",\"activated\":\"2025-12-17T10:50:31.000Z\",\"statusChanged\":\"2025-12-17T10:50:31.000Z\",\"lastLogin\":null,\"lastUpdated\":\"2025-12-17T10:50:31.000Z\",\"passwordChanged\":null,\"realmId\":\"guobiiz9fiOFhQlea0x7\",\"type\":{\"id\":\"otybiiyra51eDWlk50x7\"},\"profile\":{\"firstName\":\"TestAcc\",\"lastName\":\"Jones\",\"mobilePhone\":null,\"secondEmail\":null,\"login\":\"john_3352527563@ledzeppelin.com\",\"email\":\"john_3352527563@ledzeppelin.com\"},\"credentials\":{\"provider\":{\"type\":\"OKTA\",\"name\":\"OKTA\"}},\"_links\":{\"suspend\":{\"href\":\"https://classic-00.dne-okta.com/api/v1/users/00uckrjxc9Bq4M46v0x7/lifecycle/suspend\",\"method\":\"POST\"},\"schema\":{\"href\":\"https://classic-00.dne-okta.com/api/v1/meta/schemas/user/oscbiiyra51eDWlk50x7\"},\"resetPassword\":{\"href\":\"https://classic-00.dne-okta.com/api/v1/users/00uckrjxc9Bq4M46v0x7/lifecycle/reset_password\",\"method\":\"POST\"},\"reactivate\":{\"href\":\"https://classic-00.dne-okta.com/api/v1/users/00uckrjxc9Bq4M46v0x7/lifecycle/reactivate\",\"method\":\"POST\"},\"self\":{\"href\":\"https://classic-00.dne-okta.com/api/v1/users/00uckrjxc9Bq4M46v0x7\"},\"resetFactors\":{\"href\":\"https://classic-00.dne-okta.com/api/v1/users/00uckrjxc9Bq4M46v0x7/lifecycle/reset_factors\",\"method\":\"POST\"},\"type\":{\"href\":\"https://classic-00.dne-okta.com/api/v1/meta/types/user/otybiiyra51eDWlk50x7\"},\"deactivate\":{\"href\":\"https://classic-00.dne-okta.com/api/v1/users/00uckrjxc9Bq4M46v0x7/lifecycle/deactivate\",\"method\":\"POST\"}}}"
    headers:
      Accept-Ch:
      - Sec-CH-UA-Platform-Version
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 619.483042ms
[...]
- id: 4
  request:
    host: classic-00.dne-okta.com
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://classic-00.dne-okta.com/api/v1/users/00uckrjuge9Zty3fl0x7
    method: GET
  response:
    body: "{\"id\":\"00uckrjuge9Zty3fl0x7\",\"status\":\"PROVISIONED\",\"created\":\"2025-12-17T10:50:30.000Z\",\"activated\":\"2025-12-17T10:50:31.000Z\",\"statusChanged\":\"2025-12-17T10:50:31.000Z\",\"lastLogin\":null,\"lastUpdated\":\"2025-12-17T10:50:31.000Z\",\"passwordChanged\":nu[...]
- id: 5
  request:
    host: classic-00.dne-okta.com
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://classic-00.dne-okta.com/api/v1/users/00uckrjxc9Bq4M46v0x7
    method: GET
  response:
    body: "{\"id\":\"00uckrjxc9Bq4M46v0x7\",\"status\":\"PROVISIONED\",\"created\":\"2025-12-17T10:50:30.000Z\",\"activated\":\"2025-12-17T10:50:31.000Z\",\"statusChanged\":\"2025-12-17T10:50:31.000Z\",\"lastLogin\":null,\"lastUpdated\":\"2025-12-17T10:50:31.000Z\",\"passwordChanged\":nu[...]
- id: 6
  request:
    host: classic-00.dne-okta.com
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://classic-00.dne-okta.com/api/v1/users/00uckrjtygmJMCUnj0x7
    method: GET
  response:
    body: "{\"id\":\"00uckrjtygmJMCUnj0x7\",\"status\":\"PROVISIONED\",\"created\":\"2025-12-17T10:50:30.000Z\",\"activated\":\"2025-12-17T10:50:31.000Z\",\"statusChanged\":\"2025-12-17T10:50:31.000Z\",\"lastLogin\":null,\"lastUpdated\":\"2025-12-17T10:50:31.000Z\",\"passwordChanged\":nu[...]
- id: 7
  request:
    host: classic-00.dne-okta.com
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://classic-00.dne-okta.com/api/v1/users/00uckrjnt0MrELCEZ0x7
    method: GET
  response:
    body: "{\"id\":\"00uckrjnt0MrELCEZ0x7\",\"status\":\"PROVISIONED\",\"created\":\"2025-12-17T10:50:31.000Z\",\"activated\":\"2025-12-17T10:50:31.000Z\",\"statusChanged\":\"2025-12-17T10:50:31.000Z\",\"lastLogin\":null,\"lastUpdated\":\"2025-12-17T10:50:31.000Z\",\"passwordChanged\":nu[...]
[...]
- id: 12
  request:
    host: classic-00.dne-okta.com
    form:
      limit:
      - "200"
      search:
      - profile.email sw "john_3352527563"
      sortOrder:
      - "0"
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://classic-00.dne-okta.com/api/v1/users?limit=200&search=profile.email+sw+%22john_3352527563%22&sortOrder=0
    method: GET
  response:
    body: "[{\"id\":\"00uckrjnt0MrELCEZ0x7\",\"status\":\"STAGED\",\"transitioningToStatus\":\"PROVISIONED\",\"created\":\"2025-12-17T10:50:31.000Z\",\"activated\":null,\"statusChanged\":\"2025-12-17T10:50:31.000Z\",\"lastLogin\":null,\"lastUpdated\":\"2025-12-17T10:50:31.000Z\",\"passwordChanged\":null,\"realmId\":\"guobiiz9fiOFhQlea0x7\",\"type\":{\"id\":\"otybiiyra51eDWlk50x7\"},\"profile\":{\"firstName\":\"TestAcc\",\"lastName\":\"Entwhistle\",\"mobilePhone\":null,\"secondEmail\":null,\"login\":\"john_3352527563@thewho.com\",\"email\":\"john_3352527563@thewho.com\"},\"credentials\":[...]
[...]
- id: 29
  request:
    host: classic-00.dne-okta.com
    form:
      limit:
      - "200"
      search:
      - profile.email pr and profile.firstName eq "TestAcc" and profile.lastName eq "Jones"
      sortOrder:
      - "0"
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://classic-00.dne-okta.com/api/v1/users?limit=200&search=profile.email+pr+and+profile.firstName+eq+%22TestAcc%22+and+profile.lastName+eq+%22Jones%22&sortOrder=0
    method: GET
  response:
    body: "[{\"id\":\"00uckrjxc9Bq4M46v0x7\",\"status\":\"PROVISIONED\",\"created\":\"2025-12-17T10:50:30.000Z\",\"activated\":\"2025-12-17T10:50:31.000Z\",\"statusChanged\":\"2025-12-17T10:50:31.000Z\",\"lastLogin\":null,\"lastUpdated\":\"2025-12-17T10:50:31.000Z\",\"passwordChanged\":null,\"realmId\":\"guobiiz9fiOFhQlea0x7\",\"type\":{\"id\":\"otybiiyra51eDWlk50x7\"},\"profile\":{\"firstName\":\"TestAcc\",\"lastName\":\"Jones\",\"mobilePhone\":null,\"secondEmail\":null,\"login\":\"john_3352527563@ledzeppelin.com\",\"email\":\"john_3352527563@ledzeppelin.com\"},\"credentials\":{\"provider\":{\"type\":\"OKTA\",\"name\":\"OKTA\"}},\"_links\":{\"self\":{\"href\":\"https://classic-00.dne-okta.com/api/v1/users/00uckrjxc9Bq4M46v0x7\"}}}]"
    headers:
      Accept-Ch:
      - Sec-CH-UA-Platform-Version
      Content-Type:
      - application/json
      Link:
      - <https://classic-00.dne-okta.com/api/v1/users?limit=200&search=profile.email+pr+and+profile.firstName+eq+%22TestAcc%22+and+profile.lastName+eq+%22Jones%22>; rel="self"
    status: 200 OK
    code: 200
    duration: 275.903708ms
[...]
