---
version: 2
interactions:
    - id: 0
      request:
        host: oie-00.dne-okta.com
        body: |
            {"credentials":{"password":{}},"profile":{"email":"john_3352527563@thewho.com","firstName":"TestAcc","lastName":"Entwhistle","login":"john_3352527563@thewho.com","postalAddress":null}}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://oie-00.dne-okta.com/api/v1/users
        method: POST
      response:
        body: '{"id":"00ukwqsl25lkstK6K1d7","status":"PROVISIONED","created":"2025-03-13T23:26:50.000Z","activated":"2025-03-13T23:26:50.000Z","statusChanged":"2025-03-13T23:26:50.000Z","lastLogin":null,"lastUpdated":"2025-03-13T23:26:50.000Z","passwordChanged":null,"type":{"id":"oty5qwjvh0Vy1j8Kd1d7"},"profile":{"firstName":"TestAcc","lastName":"Entwhistle","mobilePhone":null,"secondEmail":null,"login":"john_3352527563@thewho.com","email":"john_3352527563@thewho.com"},"credentials":{"provider":{"type":"OKTA","name":"OKTA"}},"_links":{"suspend":{"href":"https://oie-00.dne-okta.com/api/v1/users/00ukwqsl25lkstK6K1d7/lifecycle/suspend","method":"POST"},"schema":{"href":"https://oie-00.dne-okta.com/api/v1/meta/schemas/user/osc5qwjvh0Vy1j8Kd1d7"},"resetPassword":{"href":"https://oie-00.dne-okta.com/api/v1/users/00ukwqsl25lkstK6K1d7/lifecycle/reset_password","method":"POST"},"reactivate":{"href":"https://oie-00.dne-okta.com/api/v1/users/00ukwqsl25lkstK6K1d7/lifecycle/reactivate","method":"POST"},"self":{"href":"https://oie-00.dne-okta.com/api/v1/users/00ukwqsl25lkstK6K1d7"},"type":{"href":"https://oie-00.dne-okta.com/api/v1/meta/types/user/oty5qwjvh0Vy1j8Kd1d7"},"deactivate":{"href":"https://oie-00.dne-okta.com/api/v1/users/00ukwqsl25lkstK6K1d7/lifecycle/deactivate","method":"POST"}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 341.038667ms
[...]
    - id: 4
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/users/00ukwqu0lz7i1KyUI1d7
        method: GET
      response:
        body: '{"id":"00ukwqu0lz7i1KyUI1d7","status":"PROVISIONED","created":"2025-03-13T23:26:50.000Z","activated":"2025-03-13T23:26:50.000Z","statusChanged":"2025-03-13T23:26:50.000Z","lastLogin":null,"lastUpdated":"[...]
    - id: 5
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/users/00ukwqsl25lkstK6K1d7
        method: GET
      response:
        body: '{"id":"00ukwqsl25lkstK6K1d7","status":"PROVISIONED","created":"2025-03-13T23:26:50.000Z","activated":"2025-03-13T23:26:50.000Z","statusChanged":"2025-03-13T23:26:50.000Z","lastLogin":null,"lastUpdated":"[...]
    - id: 6
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/users/00ukwqtq2rpODHS0X1d7
        method: GET
      response:
        body: '{"id":"00ukwqtq2rpODHS0X1d7","status":"PROVISIONED","created":"2025-03-13T23:26:50.000Z","activated":"2025-03-13T23:26:50.000Z","statusChanged":"2025-03-13T23:26:50.000Z","lastLogin":null,"lastUpdated":"[...]
    - id: 7
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/users/00ukwqre2mO7GsSnm1d7
        method: GET
      response:
        body: '{"id":"00ukwqre2mO7GsSnm1d7","status":"PROVISIONED","created":"2025-03-13T23:26:50.000Z","activated":"2025-03-13T23:26:50.000Z","statusChanged":"2025-03-13T23:26:50.000Z","lastLogin":null,"lastUpdated":"[...]
[...]
    - id: 13
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/users?limit=200&search=profile.email+sw+%22john_3352527563%22&sortOrder=0
        method: GET
      response:
        body: '[{"id":"00ukwqre2mO7GsSnm1d7","status":"PROVISIONED","created":"2025-03-13T23:26:50.000Z","activated":"2025-03-13T23:26:50.000Z","statusChanged":"2025-03-1[...]
[...]
    - id: 29
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/users?limit=200&search=profile.email+pr+and+profile.firstName+eq+%22TestAcc%22+and+profile.lastName+eq+%22Jones%22&sortOrder=0
        method: GET
      response:
        body: '[{"id":"00ukwqu0lz7i1KyUI1d7","status":"PROVISIONED","created":"2025-03-13T23:26:50.000Z","activated":"2025-03-13T23:26:50.000Z","statusChanged":"2025-03-13T23:26:50.000Z","lastLogin":null,"lastUpdated":"2025-03-13T23:26:50.000Z","passwordChanged":null,"type":{"id":"oty5qwjvh0Vy1j8Kd1d7"},"profile":{"firstName":"TestAcc","lastName":"Jones","mobilePhone":null,"secondEmail":null,"login":"john_3352527563@ledzeppelin.com","email":"john_3352527563@ledzeppelin.com"},"credentials":{"provider":{"type":"OKTA","name":"OKTA"}},"_links":{"self":{"href":"https://oie-00.dne-okta.com/api/v1/users/00ukwqu0lz7i1KyUI1d7"}}}]'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
            Link:
                - <https://oie-00.dne-okta.com/api/v1/users?limit=200&search=profile.email+pr+and+profile.firstName+eq+%22TestAcc%22+and+profile.lastName+eq+%22Jones%22>; rel="self"
        status: 200 OK
        code: 200
        duration: 307.79025ms
[...]
