---
version: 2
interactions:
    - id: 0
      request:
        host: classic-00.dne-okta.com
        body: |
            {"name":"testAcc-3481107385","origin":"https://example-3481107385.com","scopes":[{"type":"CORS"}],"status":"ACTIVE"}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://classic-00.dne-okta.com/api/v1/trustedOrigins
        method: POST
      response:
        body: '{"id":"tos9i7i7a7Nnz6iCj1d7","name":"testAcc-3481107385","origin":"https://example-3481107385.com","scopes":[{"type":"CORS"}],"status":"ACTIVE","created":"2023-08-16T00:07:44.000Z","createdBy":"00u5ptm07rHbDyowI1d7","lastUpdated":"2023-08-16T00:07:44.000Z","lastUpdatedBy":"00u5ptm07rHbDyowI1d7","_links":{"self":{"href":"https://classic-00.oktapreview.com/api/v1/trustedOrigins/tos9i7i7a7Nnz6iCj1d7","hints":{"allow":["GET","PUT","DELETE"]}},"deactivate":{"href":"https://classic-00.oktapreview.com/api/v1/trustedOrigins/tos9i7i7a7Nnz6iCj1d7/lifecycle/deactivate","hints":{"allow":["POST"]}}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 158.110956ms
    - id: 1
      request:
        host: classic-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/trustedOrigins/tos9i7i7a7Nnz6iCj1d7
        method: GET
      response:
        body: '{"id":"tos9i7i7a7Nnz6iCj1d7","name":"testAcc-3481107385","origin":"https://example-3481107385.com","scopes":[{"type":"CORS"}],"status":"ACTIVE","created":"2023-08-16T00:07:44.000Z","createdBy":"00u5ptm07rHbDyowI1d7","lastUpdated":"2023-08-16T00:07:44.000Z","lastUpdatedBy":"00u5ptm07rHbDyowI1d7","_links":{"self":{"href":"https://classic-00.oktapreview.com/api/v1/trustedOrigins/tos9i7i7a7Nnz6iCj1d7","hints":{"allow":["GET","PUT","DELETE"]}},"deactivate":{"href":"https://classic-00.oktapreview.com/api/v1/trustedOrigins/tos9i7i7a7Nnz6iCj1d7/lifecycle/deactivate","hints":{"allow":["POST"]}}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 73.904229ms
[...]
    - id: 3
      request:
        host: classic-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/trustedOrigins/tos9i7i7a7Nnz6iCj1d7/lifecycle/deactivate
        method: POST
      response:
        body: '{"id":"tos9i7i7a7Nnz6iCj1d7","name":"testAcc-3481107385","origin":"https://example-3481107385.com","scopes":[{"type":"CORS"}],"status":"INACTIVE","created":"2023-08-16T00:07:44.000Z","createdBy":"00u5ptm07rHbDyowI1d7","lastUpdated":"2023-08-16T00:07:45.000Z","lastUpdatedBy":"00u5ptm07rHbDyowI1d7","_links":{"activate":{"href":"https://classic-00.oktapreview.com/api/v1/trustedOrigins/tos9i7i7a7Nnz6iCj1d7/lifecycle/activate","hints":{"allow":["POST"]}},"self":{"href":"https://classic-00.oktapreview.com/api/v1/trustedOrigins/tos9i7i7a7Nnz6iCj1d7","hints":{"allow":["GET","PUT","DELETE"]}}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 59.863095ms
[...]
    - id: 7
      request:
        host: classic-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/trustedOrigins/tos9i7i7a7Nnz6iCj1d7
        method: GET
      response:
        body: '{"errorCode":"E0000007","errorSummary":"Not found: Resource not found: tos9i7i7a7Nnz6iCj1d7 (TrustedOrigin)","errorLink":"E0000007","errorId":"oaeUdUCbRkISlqMxWzfU4tzoQ","errorCauses":[]}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 66.794265ms
