---
version: 2
interactions:
    - id: 0
      request:
        host: oie-00.dne-okta.com
        body: |
            {"name":"testAcc-3481107385","origin":"https://example-3481107385.com","scopes":[{"type":"CORS"}],"status":"ACTIVE"}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://oie-00.dne-okta.com/api/v1/trustedOrigins
        method: POST
      response:
        body: '{"id":"tos9i7bd8x386FxN01d7","name":"testAcc-3481107385","origin":"https://example-3481107385.com","scopes":[{"type":"CORS"}],"status":"ACTIVE","created":"2023-08-15T23:47:53.000Z","createdBy":"00u5qwjvk7u6E1DFG1d7","lastUpdated":"2023-08-15T23:47:53.000Z","lastUpdatedBy":"00u5qwjvk7u6E1DFG1d7","_links":{"self":{"href":"https://oie-00.oktapreview.com/api/v1/trustedOrigins/tos9i7bd8x386FxN01d7","hints":{"allow":["GET","PUT","DELETE"]}},"deactivate":{"href":"https://oie-00.oktapreview.com/api/v1/trustedOrigins/tos9i7bd8x386FxN01d7/lifecycle/deactivate","hints":{"allow":["POST"]}}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 145.376511ms
    - id: 1
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/trustedOrigins/tos9i7bd8x386FxN01d7
        method: GET
      response:
        body: '{"id":"tos9i7bd8x386FxN01d7","name":"testAcc-3481107385","origin":"https://example-3481107385.com","scopes":[{"type":"CORS"}],"status":"ACTIVE","created":"2023-08-15T23:47:53.000Z","createdBy":"00u5qwjvk7u6E1DFG1d7","lastUpdated":"2023-08-15T23:47:53.000Z","lastUpdatedBy":"00u5qwjvk7u6E1DFG1d7","_links":{"self":{"href":"https://oie-00.oktapreview.com/api/v1/trustedOrigins/tos9i7bd8x386FxN01d7","hints":{"allow":["GET","PUT","DELETE"]}},"deactivate":{"href":"https://oie-00.oktapreview.com/api/v1/trustedOrigins/tos9i7bd8x386FxN01d7/lifecycle/deactivate","hints":{"allow":["POST"]}}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 64.843299ms
[...]
    - id: 3
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/trustedOrigins/tos9i7bd8x386FxN01d7/lifecycle/deactivate
        method: POST
      response:
        body: '{"id":"tos9i7bd8x386FxN01d7","name":"testAcc-3481107385","origin":"https://example-3481107385.com","scopes":[{"type":"CORS"}],"status":"INACTIVE","created":"2023-08-15T23:47:53.000Z","createdBy":"00u5qwjvk7u6E1DFG1d7","lastUpdated":"2023-08-15T23:47:54.000Z","lastUpdatedBy":"00u5qwjvk7u6E1DFG1d7","_links":{"activate":{"href":"https://oie-00.oktapreview.com/api/v1/trustedOrigins/tos9i7bd8x386FxN01d7/lifecycle/activate","hints":{"allow":["POST"]}},"self":{"href":"https://oie-00.oktapreview.com/api/v1/trustedOrigins/tos9i7bd8x386FxN01d7","hints":{"allow":["GET","PUT","DELETE"]}}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 73.603148ms
[...]
    - id: 7
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/trustedOrigins/tos9i7bd8x386FxN01d7
        method: GET
      response:
        body: '{"errorCode":"E0000007","errorSummary":"Not found: Resource not found: tos9i7bd8x386FxN01d7 (TrustedOrigin)","errorLink":"E0000007","errorId":"oaeKZpv-apRSO-Xo_KwPXkhQQ","errorCauses":[]}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 63.011173ms
