---
version: 2
interactions:
    - id: 0
      request:
        host: mm-classic-2022-10-04.oktapreview.com
        body: |
            {"accessibility":{"selfService":false},"credentials":{"userNameTemplate":{"template":"${source.login}","type":"BUILT_IN"},"oauthClient":{"autoKeyRotation":true,"pkce_required":true,"token_endpoint_auth_method":"client_secret_basic"}},"label":"testAcc_671604922","name":"oidc_client","settings":{"app":{},"implicitAssignment":false,"notes":{"admin":null,"enduser":null},"oauthClient":{"application_type":"native","consent_method":"TRUSTED","grant_types":["authorization_code"],"idp_initiated_login":{"default_scope":[],"mode":"DISABLED"},"issuer_mode":"ORG_URL","redirect_uris":["http://d.com/"],"response_types":["code"],"wildcard_redirect":"DISABLED"}},"signOnMode":"OPENID_CONNECT","visibility":{"autoSubmitToolbar":false,"hide":{"iOS":true,"web":true}}}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://mm-classic-2022-10-04.oktapreview.com/api/v1/apps?activate=true
        method: POST
      response:
        body: '{"id":"0oa95v08vy9lDhlmE1d7","name":"oidc_client","label":"testAcc_671604922","status":"ACTIVE","lastUpdated":"2023-07-27T20:23:52.000Z","created":"2023-07-27T20:23:52.000Z","accessibility":{"selfService":false,"errorRedirectUrl":null,"loginRedirectUrl":null},"visibility":{"autoLaunch":false,"autoSubmitToolbar":false,"hide":{"iOS":true,"web":true},"appLinks":{"oidc_client_link":true}},"features":[],"signOnMode":"OPENID_CONNECT","credentials":{"userNameTemplate":{"template":"${source.login}","type":"BUILT_IN"},"signing":{"kid":"RwDaGE-iT82hX655Q4f0UIf43qDZbNdJM3JkppJkusM"},"oauthClient":{"autoKeyRotation":true,"client_id":"0oa95v08vy9lDhlmE1d7","client_secret":"h_FqAVdZ2KS6QEHMVxyUdPsXCTqW8hPnkHb0j6FqsLLRUUHAX1nE62S_3wNO6oD8","token_endpoint_auth_method":"client_secret_basic","pkce_required":true}},"settings":{"app":{},"notifications":{"vpn":{"network":{"connection":"DISABLED"},"message":null,"helpUrl":null}},"manualProvisioning":false,"implicitAssignment":false,"notes":{"admin":null,"enduser":null},"oauthClient":{"client_uri":null,"logo_uri":null,"redirect_uris":["http://d.com/"],"response_types":["code"],"grant_types":["authorization_code"],"application_type":"native","issuer_mode":"ORG_URL","idp_initiated_login":{"mode":"DISABLED","default_scope":[]},"wildcard_redirect":"DISABLED"}},"_links":{"uploadLogo":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/apps/0oa95v08vy9lDhlmE1d7/logo","hints":{"allow":["POST"]}},"appLinks":[{"name":"oidc_client_link","href":"https://mm-classic-2022-10-04.oktapreview.com/home/oidc_client/0oa95v08vy9lDhlmE1d7/aln177a159h7Zf52X0g8","type":"text/html"}],"groups":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/apps/0oa95v08vy9lDhlmE1d7/groups"},"logo":[{"name":"medium","href":"https://op3static.oktacdn.com/assets/img/logos/default.6770228fb0dab49a1695ef440a5279bb.png","type":"image/png"}],"clientCredentials":[{"name":"secrets","href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/apps/0oa95v08vy9lDhlmE1d7/credentials/secrets"}],"users":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/apps/0oa95v08vy9lDhlmE1d7/users"},"deactivate":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/apps/0oa95v08vy9lDhlmE1d7/lifecycle/deactivate"}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 526.660287ms
    - id: 1
      request:
        host: mm-classic-2022-10-04.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-classic-2022-10-04.oktapreview.com/.well-known/okta-organization
        method: GET
      response:
        body: '{"id":"00o5ptm04a2LyDEyk1d7","cell":"op3","_links":{"organization":{"href":"https://mm-classic-2022-10-04.oktapreview.com"}},"pipeline":"v1","settings":{"analyticsCollectionEnabled":false,"bugReportingEnabled":true,"omEnabled":true,"pssoEnabled":false}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 84.747497ms
    - id: 2
      request:
        host: mm-classic-2022-10-04.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-classic-2022-10-04.oktapreview.com/api/v1/apps/0oa95v08vy9lDhlmE1d7
        method: GET
      response:
        body: '{"id":"0oa95v08vy9lDhlmE1d7","name":"oidc_client","label":"testAcc_671604922","status":"ACTIVE","lastUpdated":"2023-07-27T20:23:52.000Z","created":"2023-07-27T20:23:52.[...]
    - id: 3
      request:
        host: mm-classic-2022-10-04.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-classic-2022-10-04.oktapreview.com/api/v1/internal/apps/0oa95v08vy9lDhlmE1d7/settings/oauth/idToken
        method: GET
      response:
        body: '{"issuer":"https://mm-classic-2022-10-04.oktapreview.com","orgUrl":null,"customUrl":null,"audience":"0oa95v08vy9lDhlmE1d7","issuerMode":"ORG_URL"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 102.841184ms
    - id: 4
      request:
        host: mm-classic-2022-10-04.oktapreview.com
        body: |
            {"definitions":{"custom":{"id":"#custom","properties":{"testAcc_671604922_two":{"master":{"type":"PROFILE_MASTER"},"permissions":[{"action":"READ_ONLY","principal":"SELF"}],"required":false,"scope":"NONE","title":"two","type":"string","union":"DISABLE"}},"type":"object"}}}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://mm-classic-2022-10-04.oktapreview.com/api/v1/meta/schemas/apps/0oa95v08vy9lDhlmE1d7/default
        method: POST
      response:
        body: '{"id":"https://mm-classic-2022-10-04.oktapreview.com/meta/schemas/apps/0oa95v08vy9lDhlmE1d7/default","$schema":"http://json-schema.org/draft-04/schema#","name":"oidc_client","title":"testAcc_671604922 User","lastUpdated":"2023-07-27T20:23:54.000Z","created":"2023-07-27T20:23:52.000Z","definitions":{"custom":{"id":"#custom","type":"object","properties":{"testAcc_671604922_two":{"title":"two","type":"string","scope":"NONE","master":{"type":"PROFILE_MASTER"}}},"required":[]},"base":{"id":"#base","type":"object","properties":{"userName":{"title":"Username","type":"string","required":true,"externalName":"preferred_username","scope":"SELF","master":{"type":"PROFILE_MASTER"}},"name":{"title":"Name","description":"End-User''s full name in displayable form.","type":"string","scope":"SELF","master":{"type":"PROFILE_MASTER"}},"nickname":{"title":"Nickname","description":"Casual name of the End-User (may or may not be the same as the given_name)","type":"string","scope":"SELF","master":{"type":"PROFILE_MASTER"}},"given_name":{"title":"Given Name","description":"Given name or first name of the End-User.","type":"string","scope":"SELF","master":{"type":"PROFILE_MASTER"}},"middle_name":{"title":"Middle Name","description":"Middle name of the End-User.","type":"string","scope":"SELF","master":{"type":"PROFILE_MASTER"}},"family_name":{"title":"Family Name","description":"Surname or last name of the End-User.","type":"string","scope":"SELF","master":{"type":"PROFILE_MASTER"}},"email":{"title":"Email","description":"End-User''s preferred e-mail address.","type":"string","scope":"SELF","master":{"type":"PROFILE_MASTER"}},"profile":{"title":"Profile URL","description":"URL of the End-User''s profile page.","type":"string","scope":"SELF","master":{"type":"PROFILE_MASTER"}},"picture":{"title":"Picture URL","description":"URL of the End-User''s profile picture.","type":"string","scope":"SELF","master":{"type":"PROFILE_MASTER"}},"website":{"title":"Website","description":"URL of the End-User''s Web page or blog.","type":"string","scope":"SELF","master":{"type":"PROFILE_MASTER"}},"gender":{"title":"Gender","description":"End-User''s gender.","type":"string","scope":"SELF","master":{"type":"PROFILE_MASTER"}},"birthdate":{"title":"Birthdate","description":"End-User''s birthday, represented as an ISO 8601:2004 YYYY-MM-DD format.","type":"string","scope":"SELF","master":{"type":"PROFILE_MASTER"}},"zoneinfo":{"title":"Time Zone","description":"String representing the End-User''s time zone.","type":"string","scope":"SELF","master":{"type":"PROFILE_MASTER"}},"locale":{"title":"Locale Name","description":"ISO3166‑1 country code in uppercase, separated by a dash (e.g. ''en-US'')","type":"string","scope":"SELF","master":{"type":"PROFILE_MASTER"}},"phone_number":{"title":"Phone Number","description":"End-User''s preferred telephone number in E.164 format.","type":"string","scope":"SELF","master":{"type":"PROFILE_MASTER"}},"street_address":{"title":"Street Address","description":"Full street address component.","type":"string","externalName":"address.street_address","scope":"SELF","master":{"type":"PROFILE_MASTER"}},"locality":{"title":"Locality","description":"City or locality component.","type":"string","externalName":"address.locality","scope":"SELF","master":{"type":"PROFILE_MASTER"}},"region":{"title":"Region","description":"State, province, prefecture, or region component.","type":"string","externalName":"address.region","scope":"SELF","master":{"type":"PROFILE_MASTER"}},"postal_code":{"title":"Postal Code","description":"Zip code or postal code component.","type":"string","externalName":"address.postal_code","scope":"SELF","master":{"type":"PROFILE_MASTER"}},"country":{"title":"Country","description":"Country name component.","type":"string","externalName":"address.country","scope":"SELF","master":{"type":"PROFILE_MASTER"}},"formatted":{"title":"Formatted","description":"Full mailing address, formatted for display.","type":"string","externalName":"address.formatted","scope":"SELF","master":{"type":"PROFILE_MASTER"}}},"required":["userName"]}},"type":"object","properties":{"profile":{"allOf":[{"$ref":"#/definitions/custom"},{"$ref":"#/definitions/base"}]}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 103.27126ms
    - id: 5
      request:
        host: mm-classic-2022-10-04.oktapreview.com
        body: |
            {"definitions":{"custom":{"id":"#custom","properties":{"testAcc_671604922_five":{"master":{"type":"PROFILE_MASTER"},"permissions":[{"action":"READ_ONLY","principal":"SELF"}],"required":false,"scope":"NONE","title":"five","type":"string","union":"DISABLE"}},"type":"object"}}}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://mm-classic-2022-10-04.oktapreview.com/api/v1/meta/schemas/apps/0oa95v08vy9lDhlmE1d7/default
        method: POST
      response:
[...]
    - id: 6
      request:
        host: mm-classic-2022-10-04.oktapreview.com
        body: |
            {"definitions":{"custom":{"id":"#custom","properties":{"testAcc_671604922_one":{"master":{"type":"PROFILE_MASTER"},"permissions":[{"action":"READ_ONLY","principal":"SELF"}],"required":false,"scope":"NONE","title":"one","type":"string","union":"DISABLE"}},"type":"object"}}}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://mm-classic-2022-10-04.oktapreview.com/api/v1/meta/schemas/apps/0oa95v08vy9lDhlmE1d7/default
        method: POST
      response:
 [...]
    - id: 7
      request:
        host: mm-classic-2022-10-04.oktapreview.com
        body: |
            {"definitions":{"custom":{"id":"#custom","properties":{"testAcc_671604922_four":{"master":{"type":"PROFILE_MASTER"},"permissions":[{"action":"READ_ONLY","principal":"SELF"}],"required":false,"scope":"NONE","title":"four","type":"string","union":"DISABLE"}},"type":"object"}}}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://mm-classic-2022-10-04.oktapreview.com/api/v1/meta/schemas/apps/0oa95v08vy9lDhlmE1d7/default
        method: POST
      response:
[...]
    - id: 8
      request:
        host: mm-classic-2022-10-04.oktapreview.com
        body: |
            {"definitions":{"custom":{"id":"#custom","properties":{"testAcc_671604922_three":{"master":{"type":"PROFILE_MASTER"},"permissions":[{"action":"READ_ONLY","principal":"SELF"}],"required":false,"scope":"NONE","title":"three","type":"string","union":"DISABLE"}},"type":"object"}}}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://mm-classic-2022-10-04.oktapreview.com/api/v1/meta/schemas/apps/0oa95v08vy9lDhlmE1d7/default
        method: POST
      response:[...]
[...]
    - id: 68
      request:
        host: mm-classic-2022-10-04.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-classic-2022-10-04.oktapreview.com/api/v1/apps/0oa95v08vy9lDhlmE1d7/lifecycle/deactivate
        method: POST
      response:
        body: '{}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 96.537271ms
[...]
    - id: 70
      request:
        host: mm-classic-2022-10-04.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-classic-2022-10-04.oktapreview.com/api/v1/meta/schemas/apps/0oa95v08vy9lDhlmE1d7/default
        method: GET
      response:
        body: '{"errorCode":"E0000007","errorSummary":"Not found: Resource not found: 0oa95v08vy9lDhlmE1d7 (AppInstance)","errorLink":"E0000007","errorId":"oaeH-Tug604QamOFiSq2cSDRw","errorCauses":[]}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 101.632495ms
[...]
