---
version: 2
interactions:
    - id: 0
      request:
        host: oie-00.dne-okta.com
        body: |
            {"accessScopeSettings":{"type":"RESOURCE_DEFAULT"},"approvalSequenceId":"695cd5cd4bfe7d01dbcacb51","name":"issue-2781","priority":1,"requesterSettings":{"type":"EVERYONE"}}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://oie-00.dne-okta.com/governance/api/v2/resources/0oaty79sxfpt7AVvI1d7/request-conditions
        method: POST
      response:
        body: '{"requesterSettings":{"type":"EVERYONE"},"accessScopeSettings":{"type":"RESOURCE_DEFAULT"},"approvalSequenceId":"695cd5cd4bfe7d01dbcacb51","name":"issue-2781","id":"rco1ag2eykl9gKItS1d7","createdBy":"00utivnuu1aaKzqqO1d7","created":"2026-04-16T06:30:46Z","lastUpdated":"2026-04-16T06:30:46Z","lastUpdatedBy":"00utivnuu1aaKzqqO1d7","_links":{"self":{"href":"https://oie-00-admin.dne-okta.com/governance/api/v2/resources/0oaty79sxfpt7AVvI1d7/request-conditions/rco1ag2eykl9gKItS1d7","hints":{}}},"status":"INACTIVE","priority":0}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
            Location:
                - https://dcp-tf-testing-2026-01-06-admin.oktapreview.com/governance/api/v2/resources/0oaty79sxfpt7AVvI1d7/request-conditions/rco1ag2eykl9gKItS1d7
        status: 201 Created
        code: 201
        duration: 1.937158125s
    - id: 1
      request:
        host: oie-00.dne-okta.com
        body: |
            {"accessScopeSettings":{"type":"RESOURCE_DEFAULT"},"approvalSequenceId":"695cd5cd4bfe7d01dbcacb51","name":"issue-2781","priority":1,"requesterSettings":{"type":"EVERYONE"}}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://oie-00.dne-okta.com/governance/api/v2/resources/0oaty79sxfpt7AVvI1d7/request-conditions/rco1ag2eykl9gKItS1d7
        method: PATCH
      response:
        body: '{"requesterSettings":{"type":"EVERYONE"},"accessScopeSettings":{"type":"RESOURCE_DEFAULT"},"approvalSequenceId":"695cd5cd4bfe7d01dbcacb51","name":"issue-2781","id":"rco1ag2eykl9gKItS1d7","createdBy":"00utivnuu1aaKzqqO1d7","created":"2026-04-16T06:30:46Z","lastUpdated":"2026-04-16T06:30:48Z","lastUpdatedBy":"00utivnuu1aaKzqqO1d7","_links":{"self":{"href":"https://oie-00-admin.dne-okta.com/governance/api/v2/resources/0oaty79sxfpt7AVvI1d7/request-conditions/rco1ag2eykl9gKItS1d7","hints":{}}},"status":"INACTIVE","priority":0}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.754713542s
[...]
