---
version: 2
interactions:
    - id: 0
      request:
        host: classic-00.dne-okta.com
        body: |
            {"credentials":{"password":{}},"profile":{"email":"testAcc_2947712194@example.com","firstName":"TestAcc","lastName":"Smith","login":"testAcc_2947712194@example.com","postalAddress":null}}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://classic-00.dne-okta.com/api/v1/users
        method: POST
      response:
        body: '{"id":"00u9i7id5irdwoMBw1d7","status":"PROVISIONED","created":"2023-08-16T00:02:17.000Z","activated":"2023-08-16T00:02:18.000Z","statusChanged":"2023-08-16T00:02:18.000Z","lastLogin":null,"lastUpdated":"2023-08-16T00:02:18.000Z","passwordChanged":null,"type":{"id":"oty5ptm052JMcoADv1d7"},"profile":{"firstName":"TestAcc","lastName":"Smith","mobilePhone":null,"secondEmail":null,"login":"testAcc_2947712194@example.com","email":"testAcc_2947712194@example.com"},"credentials":{"provider":{"type":"OKTA","name":"OKTA"}},"_links":{"suspend":{"href":"https://classic-00.oktapreview.com/api/v1/users/00u9i7id5irdwoMBw1d7/lifecycle/suspend","method":"POST"},"schema":{"href":"https://classic-00.oktapreview.com/api/v1/meta/schemas/user/osc5ptm052JMcoADv1d7"},"resetPassword":{"href":"https://classic-00.oktapreview.com/api/v1/users/00u9i7id5irdwoMBw1d7/lifecycle/reset_password","method":"POST"},"reactivate":{"href":"https://classic-00.oktapreview.com/api/v1/users/00u9i7id5irdwoMBw1d7/lifecycle/reactivate","method":"POST"},"self":{"href":"https://classic-00.oktapreview.com/api/v1/users/00u9i7id5irdwoMBw1d7"},"type":{"href":"https://classic-00.oktapreview.com/api/v1/meta/types/user/oty5ptm052JMcoADv1d7"},"deactivate":{"href":"https://classic-00.oktapreview.com/api/v1/users/00u9i7id5irdwoMBw1d7/lifecycle/deactivate","method":"POST"}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 483.797135ms
    - id: 1
      request:
        host: classic-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/users/00u9i7id5irdwoMBw1d7
        method: GET
      response:
        body: '{"id":"00u9i7id5irdwoMBw1d7","status":"PROVISIONED","created":"2023-08-16T00:02:17.000Z","activated":"2023-08-16T00:02:18.000Z","statusChanged":"2023-08-16T00:02:18.000Z","lastLogin":null,"lastUp[...]
    - id: 2
      request:
        host: classic-00.dne-okta.com
        body: |
            {"accessibility":{"selfService":false},"credentials":{"userNameTemplate":{"template":"${source.login}","type":"BUILT_IN"},"oauthClient":{"autoKeyRotation":true,"pkce_required":false,"token_endpoint_auth_method":"client_secret_basic"}},"label":"testAcc_2947712194","name":"oidc_client","settings":{"app":{},"implicitAssignment":false,"notes":{"admin":null,"enduser":null},"oauthClient":{"application_type":"web","consent_method":"TRUSTED","grant_types":["authorization_code","implicit"],"idp_initiated_login":{"default_scope":[],"mode":"DISABLED"},"issuer_mode":"ORG_URL","redirect_uris":["http://d.com/"],"response_types":["code","token","id_token"],"wildcard_redirect":"DISABLED"}},"signOnMode":"OPENID_CONNECT","visibility":{"autoSubmitToolbar":false,"hide":{"iOS":true,"web":true}}}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://classic-00.dne-okta.com/api/v1/apps?activate=true
        method: POST
      response:
        body: '{"id":"0oa9i7fhy1rzkrtUc1d7","name":"oidc_client","label":"testAcc_2947712194","status":"ACTIVE","lastUpdated":"2023-08-16T00:02:18.000Z","created":"2023-08-16T00:02:18.000Z","accessibility":{"selfService":false,"errorRedirectUrl":null,"loginRedirectUrl":null},"visibility":{"autoLaunch":false,"autoSubmitToolbar":false,"hide":{"iOS":true,"web":true},"appLinks":{"oidc_client_link":true}},"features":[],"signOnMode":"OPENID_CONNECT","credentials":{"userNameTemplate":{"template":"${source.login}","type":"BUILT_IN"},"signing":{"kid":"RwDaGE-iT82hX655Q4f0UIf43qDZbNdJM3JkppJkusM"},"oauthClient":{"autoKeyRotation":true,"client_id":"0oa9i7fhy1rzkrtUc1d7","client_secret":"gVmFdTs0lMDQPGmemghGVkasUSedytcM7uh9gwMjGcVZ9mhwJCOzYrQ6-_ExaS_F","token_endpoint_auth_method":"client_secret_basic","pkce_required":false}},"settings":{"app":{},"notifications":{"vpn":{"network":{"connection":"DISABLED"},"message":null,"helpUrl":null}},"manualProvisioning":false,"implicitAssignment":false,"notes":{"admin":null,"enduser":null},"oauthClient":{"client_uri":null,"logo_uri":null,"redirect_uris":["http://d.com/"],"response_types":["code","token","id_token"],"grant_types":["authorization_code","implicit"],"application_type":"web","issuer_mode":"ORG_URL","idp_initiated_login":{"mode":"DISABLED","default_scope":[]},"wildcard_redirect":"DISABLED"}},"_links":{"uploadLogo":{"href":"https://classic-00.oktapreview.com/api/v1/apps/0oa9i7fhy1rzkrtUc1d7/logo","hints":{"allow":["POST"]}},"appLinks":[{"name":"oidc_client_link","href":"https://classic-00.oktapreview.com/home/oidc_client/0oa9i7fhy1rzkrtUc1d7/aln177a159h7Zf52X0g8","type":"text/html"}],"groups":{"href":"https://classic-00.oktapreview.com/api/v1/apps/0oa9i7fhy1rzkrtUc1d7/groups"},"logo":[{"name":"medium","href":"https://op3static.oktacdn.com/assets/img/logos/default.6770228fb0dab49a1695ef440a5279bb.png","type":"image/png"}],"clientCredentials":[{"name":"secrets","href":"https://classic-00.oktapreview.com/api/v1/apps/0oa9i7fhy1rzkrtUc1d7/credentials/secrets"}],"users":{"href":"https://classic-00.oktapreview.com/api/v1/apps/0oa9i7fhy1rzkrtUc1d7/users"},"deactivate":{"href":"https://classic-00.oktapreview.com/api/v1/apps/0oa9i7fhy1rzkrtUc1d7/lifecycle/deactivate"}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 715.35795ms
    - id: 3
      request:
        host: classic-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/.well-known/okta-organization
        method: GET
      response:
        body: '{"id":"00o5ptm04a2LyDEyk1d7","cell":"op3","_links":{"organization":{"href":"https://classic-00.oktapreview.com"}},"pipeline":"v1","settings":{"analyticsCollectionEnabled":false,"bugReportingEnabled":true,"omEnabled":true,"pssoEnabled":false}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 32.856644ms
    - id: 4
      request:
        host: classic-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/apps/0oa9i7fhy1rzkrtUc1d7
        method: GET
      response:
        body: '{"id":"0oa9i7fhy1rzkrtUc1d7","name":"oidc_client","label":"testAcc_2947712194","status":"ACTIVE","lastUpdated":"2023-08-16T00:02:18.000Z","created":"2023-08-16T00:02:18.000Z","accessibility":{"sel[...]
    - id: 5
      request:
        host: classic-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/internal/apps/0oa9i7fhy1rzkrtUc1d7/settings/oauth/idToken
        method: GET
      response:
        body: '{"issuer":"https://classic-00.oktapreview.com","orgUrl":null,"customUrl":null,"audience":"0oa9i7fhy1rzkrtUc1d7","issuerMode":"ORG_URL"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 68.272298ms
[...]
    - id: 7
      request:
        host: classic-00.dne-okta.com
        body: |
            {"credentials":{"password":{},"userName":"testAcc_2947712194@example.com"},"id":"00u9i7id5irdwoMBw1d7"}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://classic-00.dne-okta.com/api/v1/apps/0oa9i7fhy1rzkrtUc1d7/users
        method: POST
      response:
        body: '{"id":"00u9i7id5irdwoMBw1d7","externalId":null,"created":"2023-08-16T00:02:19.000Z","lastUpdated":"2023-08-16T00:02:19.000Z","scope":"USER","status":"ACTIVE","statusChanged":"2023-08-16T00:02:19.000Z","passwordChanged":null,"syncState":"DISABLED","credentials":{"userName":"testAcc_2947712194@example.com"},"profile":{"street_address":null,"country":null,"website":null,"zoneinfo":"America/Los_Angeles","birthdate":null,"gender":null,"formatted":null,"profile":null,"locality":null,"given_name":"TestAcc","middle_name":null,"locale":"en_US","picture":null,"name":"TestAcc Smith","nickname":null,"phone_number":null,"region":null,"postal_code":null,"family_name":"Smith","email":"testAcc_2947712194@example.com"},"_links":{"app":{"href":"https://classic-00.oktapreview.com/api/v1/apps/0oa9i7fhy1rzkrtUc1d7"},"user":{"href":"https://classic-00.oktapreview.com/api/v1/users/00u9i7id5irdwoMBw1d7"}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 430.947636ms
[...]
    - id: 9
      request:
        host: classic-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/apps/0oa9i7fhy1rzkrtUc1d7/users/00u9i7id5irdwoMBw1d7
        method: GET
      response:
        body: '{"id":"00u9i7id5irdwoMBw1d7","externalId":null,"created":"2023-08-16T00:02:19.000Z","lastUpdated":"2023-08-16T00:02:19.000Z","scope":"USER","status":"ACTIVE","statusChanged":"2023-08-16T00:02:19.000Z","passwordChanged":null,"syncState":"DISABLED","credentials":{"userName":"testAcc_2947712194@example.com"},"profile":{"street_address":null,"country":null,"website":null,"zoneinfo":"America/Los_Angeles","birthdate":null,"gender":null,"formatted":null,"profile":null,"locality":null,"given_name":"TestAcc","middle_name":null,"locale":"en_US","picture":null,"name":"TestAcc Smith","nickname":null,"phone_number":null,"region":null,"postal_code":null,"family_name":"Smith","email":"testAcc_2947712194@example.com"},"_links":{"app":{"href":"https://classic-00.oktapreview.com/api/v1/apps/0oa9i7fhy1rzkrtUc1d7"},"user":{"href":"https://classic-00.oktapreview.com/api/v1/users/00u9i7id5irdwoMBw1d7"}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 255.849943ms
[...]
    - id: 36
      request:
        host: classic-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/apps/0oa9i7fhy1rzkrtUc1d7/lifecycle/deactivate
        method: POST
      response:
        body: '{}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 83.580724ms
[...]
    - id: 38
      request:
        host: classic-00.dne-okta.com
        body: |
            {"accessibility":{"selfService":false},"credentials":{"userNameTemplate":{"template":"${source.login}","type":"BUILT_IN"}},"label":"testAcc_2947712194","name":"google","settings":{"app":{"afwOnly":false,"domain":"articulate"},"implicitAssignment":false,"notes":{"admin":null,"enduser":null},"signOn":{"allowMultipleAcsEndpoints":false,"assertionSigned":false,"attributeStatements":[],"audienceOverride":"","defaultRelayState":"","destinationOverride":"","honorForceAuthn":false,"recipientOverride":"","responseSigned":false,"samlSignedRequestEnabled":false,"slo":{"enabled":false},"ssoAcsUrlOverride":""}},"signOnMode":"SAML_2_0","visibility":{"autoSubmitToolbar":false,"hide":{"iOS":false,"web":false}}}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://classic-00.dne-okta.com/api/v1/apps?activate=true
        method: POST
      response:
        body: '{"id":"0oa9i7g5612EhX6F41d7","name":"google","label":"testAcc_2947712194","status":"ACTIVE","lastUpdated":"2023-08-16T00:02:25.000Z","created":"2023-08-16T00:02:24.000Z","accessibility":{"selfService":false,"errorRedirectUrl":null,"loginRedirectUrl":null},"licensing":{"seatCount":0},"visibility":{"autoLaunch":false,"autoSubmitToolbar":false,"hide":{"iOS":false,"web":false},"appLinks":{"calendar":true,"mail":true,"keep":true,"sites":true,"accounts":true,"drive":true}},"features":[],"signOnMode":"SAML_2_0","credentials":{"userNameTemplate":{"template":"${source.login}","type":"BUILT_IN"},"signing":{"kid":"7LxCL46F6k8rpZ1tZeYBjF0nh4Xwt0IfWi1y_wlsU6g"}},"settings":{"app":{"afwOnly":false,"domain":"articulate","afwId":null,"rpId":null},"notifications":{"vpn":{"network":{"connection":"DISABLED"},"message":null,"helpUrl":null}},"manualProvisioning":false,"implicitAssignment":false,"notes":{"admin":null,"enduser":null},"signOn":{"defaultRelayState":null,"ssoAcsUrlOverride":null,"audienceOverride":null,"recipientOverride":null,"destinationOverride":null,"attributeStatements":[]}},"_links":{"help":{"href":"https://classic-00-admin.oktapreview.com/app/google/0oa9i7g5612EhX6F41d7/setup/help/SAML_2_0/external-doc","type":"text/html"},"metadata":{"href":"https://classic-00.oktapreview.com/api/v1/apps/0oa9i7g5612EhX6F41d7/sso/saml/metadata","type":"application/xml"},"uploadLogo":{"href":"https://classic-00.oktapreview.com/api/v1/apps/0oa9i7g5612EhX6F41d7/logo","hints":{"allow":["POST"]}},"appLinks":[{"name":"sites","href":"https://classic-00.oktapreview.com/home/google/0oa9i7g5612EhX6F41d7/56","type":"text/html"},{"name":"accounts","href":"https://classic-00.oktapreview.com/home/google/0oa9i7g5612EhX6F41d7/2555","type":"text/html"},{"nam[...]
    - id: 39
      request:
        host: classic-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/apps/0oa9i7g5612EhX6F41d7
        method: GET
      response:
        body: '{"id":"0oa9i7g5612EhX6F41d7","name":"google","label":"testAcc_2947712194","status":"ACTIVE","lastUpdated":"2023-08-16T00:02:25.000Z","created":"2023-08-16T00:02:24.000Z","accessibility":{"selfSer[...]
    - id: 40
      request:
        host: classic-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/apps/0oa9i7g5612EhX6F41d7/sso/saml/metadata?kid=7LxCL46F6k8rpZ1tZeYBjF0nh4Xwt0IfWi1y_wlsU6g
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?><md:EntityDescriptor entityID="google.com/a/articulate" xmlns:md="urn:oasis:names:tc:SAML:2.0:metadata"><md:IDPSSODescriptor WantAuthnRequestsSigned="false" protocolSupportEnumeration="urn:oasis:names:tc:SAML:2.0:protocol"><md:KeyDescriptor use="signing"><ds:KeyInfo xmlns:ds="http://www.w3.org/2000/09/xmldsig#"><ds:X509Data><ds:X509Certificate>MIIDujCCAqKgAwIBAgIGAYn7ppN/MA0GCSqGSIb3DQEBCwUAMIGdMQswCQYDVQQGEwJVUzETMBEG
            A1UECAwKQ2FsaWZvcm5pYTEWMBQGA1UEBwwNU2FuIEZyYW5jaXNjbzENMAsGA1UECgwET2t0YTEU
            MBIGA1UECwwLU1NPUHJvdmlkZXIxHjAcBgNVBAMMFW1tLWNsYXNzaWMtMjAyMi0xMC0wNDEcMBoG
            CSqGSIb3DQEJARYNaW5mb0Bva3RhLmNvbTAeFw0yMzA4MTYwMDAxMjVaFw0zMzA4MTYwMDAyMjVa
            MIGdMQswCQYDVQQGEwJVUzETMBEGA1UECAwKQ2FsaWZvcm5pYTEWMBQGA1UEBwwNU2FuIEZyYW5j
            aXNjbzENMAsGA1UECgwET2t0YTEUMBIGA1UECwwLU1NPUHJvdmlkZXI[...]
    - id: 41
      request:
        host: classic-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/apps/0oa9i7g5612EhX6F41d7/credentials/keys
        method: GET
      response:
        body: '[{"kty":"RSA","created":"2023-08-16T00:02:25.000Z","lastUpdated":"2023-08-16T00:02:25.000Z","expiresAt":"2033-08-16T00:02:25.000Z","kid":"7LxCL46F6k8rpZ1tZeYBjF0nh4Xwt0IfWi1y_wlsU6g","use":"sig","x5c":["MIIDujCCAqKgAwIBAgIGAYn7ppN/MA0GCSqGSIb3DQEBCwUAMIGdMQswCQYDVQQGEwJVUzETMBEGA1UECAwKQ2FsaWZvcm5pYTEWMBQGA1UEBwwNU2FuIEZyYW5jaXNjbzENMAsGA1UECgwET2t0YTEUMBIGA1UECwwLU1NPUHJvdmlkZXIxHjAcBgNVBAMMFW1tLWNsYXNzaWMtMjAyMi0xMC0wNDEcMBoGCSqGSIb3DQEJARYNaW5mb0Bva3RhLmNvbTAeFw0yMzA4MTYwMDAxMjVaFw0zMzA4MTYwMDAyMjVaMIGdMQswCQYDVQQGEwJVUzETMBEGA1UECAwKQ2FsaWZvcm5pYTEWMBQGA1UEBwwNU2FuIEZyYW5jaXNjbzENMAsGA1UECgwET2t0YTEUMBIGA1UECwwLU1NPUHJvdmlkZXIxHjAcBgNVBAMMFW1tLWNsYXNzaWMtMjAyMi0xMC0wNDEcMBoGCSqGSIb3DQEJAR[...]
    - id: 42
      request:
        host: classic-00.dne-okta.com
        body: |
            {"definitions":{"custom":{"id":"#custom","properties":{"testCustom":{"description":"terraform acceptance test updated","master":{"type":"OKTA"},"permissions":[{"action":"READ_ONLY","principal":"SELF"}],"required":true,"scope":"SELF","title":"terraform acceptance test","type":"string","union":"DISABLE"}},"type":"object"}}}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://classic-00.dne-okta.com/api/v1/meta/schemas/apps/0oa9i7g5612EhX6F41d7/default
        method: POST
      response:
        body: '{"id":"https://classic-00.oktapreview.com/meta/schemas/apps/0oa9i7g5612EhX6F41d7/default","$schema":"http://json-schema.org/draft-04/schema#","name":"google","title":"testAcc_2947712194 User","lastUpdated":"2023-08-16T00:02:25.000Z","created":"2023-08-16T00:02:24.000Z","definitions":{"custom":{"id":"#custom","type":"object","properties":{"testCustom":{"title":"terraform acceptance test","description":"terraform acceptance test updated","type":"string","required":true,"scope":"SELF","master":{"type":"OKTA"}}},"required":["testCustom"]},"base":{"id":"#base","type":"object","properties":{"userName":{"title":"Username","type":"string","required":true,"scope":"NONE","maxLength":100,"master":{"type":"PROFILE_MASTER"}}},"required":["userName"]}},"type":"object","properties":{"profile":{"allOf":[{"$ref":"#/definitions/custom"},{"$ref":"#/definitions/base"}]}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 94.742609ms
[...]
    - id: 46
      request:
        host: classic-00.dne-okta.com
        body: |
            {"credentials":{"password":{},"userName":"testAcc_2947712194@example.com"},"id":"00u9i7id5irdwoMBw1d7","profile":{"testCustom":"testing"}}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://classic-00.dne-okta.com/api/v1/apps/0oa9i7g5612EhX6F41d7/users/00u9i7id5irdwoMBw1d7
        method: POST
      response:
        body: '{"id":"00u9i7id5irdwoMBw1d7","externalId":null,"created":"2023-08-16T00:02:26.000Z","lastUpdated":"2023-08-16T00:02:26.000Z","scope":"USER","status":"ACTIVE","statusChanged":"2023-08-16T00:02:26.000Z","passwordChanged":null,"syncState":"DISABLED","credentials":{"userName":"testAcc_2947712194@example.com"},"profile":{"testCustom":"testing"},"_links":{"app":{"href":"https://classic-00.oktapreview.com/api/v1/apps/0oa9i7g5612EhX6F41d7"},"user":{"href":"https://classic-00.oktapreview.com/api/v1/users/00u9i7id5irdwoMBw1d7"}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 493.76134ms
[...]
    - id: 63
      request:
        host: classic-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/apps/0oa9i7g5612EhX6F41d7/lifecycle/deactivate
        method: POST
      response:
        body: '{}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 109.347946ms
[...]
    - id: 66
      request:
        host: classic-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/apps/0oa9i7g5612EhX6F41d7/users/00u9i7id5irdwoMBw1d7
        method: GET
      response:
        body: '{"errorCode":"E0000007","errorSummary":"Not found: Resource not found: 00u9i7id5irdwoMBw1d7 (User)","errorLink":"E0000007","errorId":"oaeeMmHf6U3RZSXIDgWqUB3UQ","errorCauses":[]}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 57.727326ms
