---
version: 2
interactions:
    - id: 0
      request:
        host: classic-00.dne-okta.com
        body: |
            {"profile":{"name":"testAcc_468246930","description":""}}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://classic-00.dne-okta.com/api/v1/groups
        method: POST
      response:
        body: '{"id":"00g9i7fez74XmKRSO1d7","created":"2023-08-16T00:04:48.000Z","lastUpdated":"2023-08-16T00:04:48.000Z","lastMembershipUpdated":"2023-08-16T00:04:48.000Z","objectClass":["okta:user_group"],"type":"OKTA_GROUP","profile":{"name":"testAcc_468246930","description":""},"_links":{"logo":[{"name":"medium","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-medium.30ce6d4085dff29412984e4c191bc874.png","type":"image/png"},{"name":"large","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-large.c3cb8cda8ae0add1b4fe928f5844dbe3.png","type":"image/png"}],"users":{"href":"https://classic-00.oktapreview.com/api/v1/groups/00g9i7fez74XmKRSO1d7/users"},"apps":{"href":"https://classic-00.oktapreview.com/api/v1/groups/00g9i7fez74XmKRSO1d7/apps"}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 161.186445ms
    - id: 1
      request:
        host: classic-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/groups/00g9i7fez74XmKRSO1d7
        method: GET
      response:
        body: '{"id":"00g9i7fez74XmKRSO1d7","created":"2023-08-16T00:04:48.000Z","lastUpdated":"2023-08-16T00:04:48.000Z","lastMembershipUpdated":"2023-08-16T00:04:48.000Z","objectClass":["okta:user_group"],"type":"OKTA_GROUP","profile":{"name":"testAcc_468246930","description":""},"_links":{"logo":[{"name":"medium","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-medium.30ce6d4085dff29412984e4c191bc874.png","type":"image/png"},{"name":"large","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-large.c3cb8cda8ae0add1b4fe928f5844dbe3.png","type":"image/png"}],"users":{"href":"https://classic-00.oktapreview.com/api/v1/groups/00g9i7fez74XmKRSO1d7/users"},"apps":{"href":"https://classic-00.oktapreview.com/api/v1/groups/00g9i7fez74XmKRSO1d7/apps"}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 80.152386ms
[...]
    - id: 5
      request:
        host: classic-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/groups?limit=1&q=testAcc_468246930
        method: GET
      response:
        body: '[{"id":"00g9i7fez74XmKRSO1d7","created":"2023-08-16T00:04:48.000Z","lastUpdated":"2023-08-16T00:04:48.000Z","lastMembershipUpdated":"2023-08-16T00:04:48.000Z","objectClass":["okta:user_group"],"type":"OKTA_GROUP","profile":{"name":"testAcc_468246930","description":""},"_links":{"logo":[{"name":"medium","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-medium.30ce6d4085dff29412984e4c191bc874.png","type":"image/png"},{"name":"large","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-large.c3cb8cda8ae0add1b4fe928f5844dbe3.png","type":"image/png"}],"users":{"href":"https://classic-00.oktapreview.com/api/v1/groups/00g9i7fez74XmKRSO1d7/users"},"apps":{"href":"https://classic-00.oktapreview.com/api/v1/groups/00g9i7fez74XmKRSO1d7/apps"}}}]'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 68.408769ms
    - id: 6
      request:
        host: classic-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/groups/rules/
        method: GET
      response:
        body: '[]'
        headers:
            Content-Type:
                - application/json
            Link:
                - <https://classic-00.dne-okta.com/api/v1/groups/rules?limit=50>; rel="self"
        status: 200 OK
        code: 200
        duration: 50.770842ms
[...]
    - id: 10
      request:
        host: classic-00.dne-okta.com
        body: |
            {"actions":{"assignUserToGroups":{"groupIds":["00g9i7fez74XmKRSO1d7"]}},"conditions":{"expression":{"type":"urn:okta:expression:1.0","value":"String.startsWith(user.firstName,String.toLowerCase(\"bob\"))"},"people":{"users":{}}},"name":"testAcc_468246930","type":"group_rule"}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://classic-00.dne-okta.com/api/v1/groups/rules
        method: POST
      response:
        body: '{"type":"group_rule","id":"0pr9i7g5dlIOjSaD91d7","status":"INACTIVE","name":"testAcc_468246930","conditions":{"people":{"users":{"exclude":[]},"groups":{"exclude":[]}},"expression":{"value":"String.startsWith(user.firstName,String.toLowerCase(\"bob\"))","type":"urn:okta:expression:1.0"}},"actions":{"assignUserToGroups":{"groupIds":["00g9i7fez74XmKRSO1d7"]}},"allGroupsValid":true}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 102.789085ms
    - id: 11
      request:
        host: classic-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/groups/rules/0pr9i7g5dlIOjSaD91d7/lifecycle/activate
        method: POST
      response:
        body: ""
        headers:
        status: 204 No Content
        code: 204
        duration: 145.324267ms
    - id: 12
      request:
        host: classic-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/groups/rules/0pr9i7g5dlIOjSaD91d7
        method: GET
      response:
        body: '{"type":"group_rule","id":"0pr9i7g5dlIOjSaD91d7","status":"ACTIVE","name":"testAcc_468246930","conditions":{"people":{"users":{"exclude":[]},"groups":{"exclude":[]}},"expression":{"value":"String.startsWith(user.firstName,String.toLowerCase(\"bob\"))","type":"urn:okta:expression:1.0"}},"actions":{"assignUserToGroups":{"groupIds":["00g9i7fez74XmKRSO1d7"]}},"allGroupsValid":true}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 57.79627ms
[...]
    - id: 34
      request:
        host: classic-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/groups/rules/0pr9i7g5dlIOjSaD91d7?removeUsers=false
        method: DELETE
      response:
        body: '{}'
        headers:
            Content-Type:
                - application/json
        status: 202 Accepted
        code: 202
        duration: 87.331482ms
[...]
    - id: 36
      request:
        host: classic-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/groups/00g9i7ilurE1fTmRX1d7
        method: GET
      response:
        body: '{"id":"00g9i7ilurE1fTmRX1d7","created":"2023-08-16T00:04:53.000Z","lastUpdated":"2023-08-16T00:04:53.000Z","lastMembershipUpdated":"2023-08-16T00:04:53.000Z","objectClass":["okta:user_group"],"type":"OKTA_GROUP","profile":{"name":"testAcc_468246930","description":""},"_links":{"logo":[{"name":"medium","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-medium.30ce6d4085dff29412984e4c191bc874.png","type":"image/png"},{"name":"large","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-large.c3cb8cda8ae0add1b4fe928f5844dbe3.png","type":"image/png"}],"users":{"href":"https://classic-00.oktapreview.com/api/v1/groups/00g9i7ilurE1fTmRX1d7/users"},"apps":{"href":"https://classic-00.oktapreview.com/api/v1/groups/00g9i7ilurE1fTmRX1d7/apps"}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 86.248932ms
[...]
    - id: 40
      request:
        host: classic-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/groups/rules/0pr9i7idb1WLyQYpK1d7/lifecycle/activate
        method: POST
      response:
        body: ""
        headers:
        status: 204 No Content
        code: 204
        duration: 100.153227ms
    - id: 41
      request:
        host: classic-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/groups/rules/0pr9i7idb1WLyQYpK1d7
        method: GET
      response:
        body: '{"type":"group_rule","id":"0pr9i7idb1WLyQYpK1d7","status":"ACTIVE","name":"testAcc_468246930","conditions":{"people":{"users":{"exclude":[]},"groups":{"exclude":[]}},"expression":{"value":"String.startsWith(user.firstName,String.toLowerCase(\"bob\"))","type":"urn:okta:expression:1.0"}},"actions":{"assignUserToGroups":{"groupIds":["00g9i7ilurE1fTmRX1d7"]}},"allGroupsValid":true}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 67.614213ms
[...]
    - id: 47
      request:
        host: classic-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/groups/rules/0pr9i7idb1WLyQYpK1d7/lifecycle/deactivate
        method: POST
      response:
        body: ""
        headers:
        status: 204 No Content
        code: 204
        duration: 77.039692ms
    - id: 48
      request:
        host: classic-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/groups/rules/0pr9i7idb1WLyQYpK1d7?removeUsers=false
        method: DELETE
      response:
        body: '{}'
        headers:
            Content-Type:
                - application/json
        status: 202 Accepted
        code: 202
        duration: 82.274941ms
[...]
    - id: 50
      request:
        host: classic-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/groups/rules/0pr9i7idb1WLyQYpK1d7
        method: GET
      response:
        body: '{"errorCode":"E0000007","errorSummary":"Not found: Resource not found: 0pr9i7idb1WLyQYpK1d7 (PolicyRule)","errorLink":"E0000007","errorId":"oaeUr2GtbBWTF2-181nivA2CQ","errorCauses":[]}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 59.358946ms
