---
version: 2
interactions:
    - id: 0
      request:
        host: oie-00.dne-okta.com
        body: |
            {"label":"testAcc_630040260","description":"workflow permission alias migration","permissions":["okta.workflows.read"]}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://oie-00.dne-okta.com/api/v1/iam/roles
        method: POST
      response:
        body: '{"id":"cr0120jciz6Axxxtn1d8","label":"testAcc_630040260","isCloneable":false,"description":"workflow permission alias migration","created":"2026-07-31T06:16:55.000Z","lastUpdated":"2026-07-31T06:16:55.000Z","_links":{"permissions":{"href":"https://oie-00-admin.dne-okta.com/api/v1/iam/roles/cr0120jciz6Axxxtn1d8/permissions"},"self":{"href":"https://oie-00-admin.dne-okta.com/api/v1/iam/roles/cr0120jciz6Axxxtn1d8"}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
            Link:
                - <https://oie-00-admin.dne-okta.com/api/v1/iam/roles/cr0120jciz6Axxxtn1d8>; rel="self"
        status: 200 OK
        code: 200
        duration: 1.240842916s
    - id: 1
      request:
        host: oie-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/iam/roles/cr0120jciz6Axxxtn1d8
        method: GET
      response:
        body: '{"id":"cr0120jciz6Axxxtn1d8","label":"testAcc_630040260","isCloneable":false,"description":"workflow permission alias migration","created":"2026-07-31T06:16:55.000Z","lastUpdated":"2026-07-31T06:16:55.000Z","_links":{"permissions":{"href":"https://oie-00-admin.dne-okta.com/api/v1/iam/roles/cr0120jciz6Axxxtn1d8/permissions"},"self":{"href":"https://oie-00-admin.dne-okta.com/api/v1/iam/roles/cr0120jciz6Axxxtn1d8"}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
            Link:
                - <https://oie-00-admin.dne-okta.com/api/v1/iam/roles/cr0120jciz6Axxxtn1d8>; rel="self"
        status: 200 OK
        code: 200
        duration: 1.1316205s
    - id: 2
      request:
        host: oie-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/iam/roles/cr0120jciz6Axxxtn1d8/permissions
        method: GET
      response:
        body: '{"permissions":[{"label":"okta.workflows.read","created":"2026-07-31T06:16:55.000Z","lastUpdated":"2026-07-31T06:16:55.000Z","conditions":null,"_links":{"role":{"href":"https://oie-00-admin.dne-okta.com/api/v1/iam/roles/cr0120jciz6Axxxtn1d8"},"self":{"href":"https://oie-00-admin.dne-okta.com/api/v1/iam/roles/cr0120jciz6Axxxtn1d8/permissions/okta.workflows.read"}}},{"label":"okta.workflows.flows.read","created":"2026-07-31T06:16:55.000Z","lastUpdated":"2026-07-31T06:16:55.000Z","conditions":null,"_links":{"role":{"href":"https://oie-00-admin.dne-okta.com/api/v1/iam/roles/cr0120jciz6Axxxtn1d8"},"self":{"href":"https://oie-00-admin.dne-okta.com/api/v1/iam/roles/cr0120jciz6Axxxtn1d8/permissions/okta.workflows.flows.read"}}}]}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.157097459s
[...]
