---
version: 2
interactions:
    - id: 0
      request:
        host: mm-classic-2022-10-04.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-classic-2022-10-04.oktapreview.com/api/v1/brands
        method: GET
      response:
        body: '[{"id":"bnd5ptm04rUA5HWie1d7","name":"New Brand","removePoweredByOkta":true,"customPrivacyPolicyUrl":"https://example.com/privacy-policy-updated","agreeToCustomPrivacyPolicy":true,"isDefault":true,"defaultApp":{"appInstanceId":null,"appLinkName":null,"classicApplicationUri":null},"_links":{"themes":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/brands/bnd5ptm04rUA5HWie1d7/themes","hints":{"allow":["GET"]}},"self":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/brands/bnd5ptm04rUA5HWie1d7","hints":{"allow":["GET","PUT","DELETE"]}}}}]'
        headers:
            Content-Type:
                - application/json
            Link:
                - <https://mm-classic-2022-10-04.oktapreview.com/api/v1/brands?limit=20>; rel="self"
        status: 200 OK
        code: 200
        duration: 161.703939ms
[...]
    - id: 2
      request:
        host: mm-classic-2022-10-04.oktapreview.com
        body: |
            {"brandId":"bnd5ptm04rUA5HWie1d7","displayName":"test","domain":"example.com","userName":"fff"}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://mm-classic-2022-10-04.oktapreview.com/api/v1/email-domains
        method: POST
      response:
        body: '{"id":"OeD95vovcyve0uqX91d7","validationStatus":"NOT_STARTED","displayName":"test","userName":"fff","domain":"example.com","dnsValidationRecords":[{"recordType":"TXT","fqdn":"_oktaverification.example.com","verificationValue":"fa2fcb5220584ad7b69981a6ed287ec8"},{"recordType":"cname","fqdn":"mail.example.com","verificationValue":"u17770251.wl002.sendgrid.net"},{"recordType":"cname","fqdn":"p03._domainkey.example.com","verificationValue":"p03.domainkey.u17770251.wl002.sendgrid.net"},{"recordType":"cname","fqdn":"p032._domainkey.example.com","verificationValue":"p032.domainkey.u17770251.wl002.sendgrid.net"}]}'
        headers:
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 467.409706ms
    - id: 3
      request:
        host: mm-classic-2022-10-04.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-classic-2022-10-04.oktapreview.com/api/v1/email-domains/OeD95vovcyve0uqX91d7
        method: GET
      response:
        body: '{"id":"OeD95vovcyve0uqX91d7","validationStatus":"NOT_STARTED","displayName":"test","userName":"fff","domain":"example.com","dnsValidationRecords":[{"recordType":"TXT","fqdn":"_oktaverification.example.com","verificationValue":"fa2fcb5220584ad7b69981a6ed287ec8"},{"recordType":"cname","fqdn":"mail.example.com","verificationValue":"u17770251.wl002.sendgrid.net"},{"recordType":"cname","fqdn":"p03._domainkey.example.com","verificationValue":"p03.domainkey.u17770251.wl002.sendgrid.net"},{"recordType":"cname","fqdn":"p032._domainkey.example.com","verificationValue":"p032.domainkey.u17770251.wl002.sendgrid.net"}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 62.581544ms
[...]
    - id: 5
      request:
        host: mm-classic-2022-10-04.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-classic-2022-10-04.oktapreview.com/api/v1/brands
        method: GET
      response:
        body: '[{"id":"bnd5ptm04rUA5HWie1d7","name":"New Brand","removePoweredByOkta":true,"customPrivacyPolicyUrl":"https://example.com/privacy-policy-updated","agreeToCustomPrivacyPolicy":true,"isDefault":true,"emailDomainId":"OeD95vovcyve0uqX91d7","defaultApp":{"appInstanceId":null,"appLinkName":null,"classicApplicationUri":null},"_links":{"themes":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/brands/bnd5ptm04rUA5HWie1d7/themes","hints":{"allow":["GET"]}},"self":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/brands/bnd5ptm04rUA5HWie1d7","hints":{"allow":["GET","PUT","DELETE"]}},"emailDomain":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/email-domains/OeD95vovcyve0uqX91d7","hints":{"allow":["GET","PUT"]}}}}]'
        headers:
            Content-Type:
                - application/json
            Link:
                - <https://mm-classic-2022-10-04.oktapreview.com/api/v1/brands?limit=20>; rel="self"
        status: 200 OK
        code: 200
        duration: 52.306809ms
[...]
