---
version: 2
interactions:
    - id: 0
      request:
        host: classic-00.dne-okta.com
        body: |
            {"profile":{"name":"testAcc_3619540880","description":"testing, testing"}}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://classic-00.dne-okta.com/api/v1/groups
        method: POST
      response:
        body: '{"id":"00g9i7glfb2qTmK9K1d7","created":"2023-08-16T00:03:45.000Z","lastUpdated":"2023-08-16T00:03:45.000Z","lastMembershipUpdated":"2023-08-16T00:03:45.000Z","objectClass":["okta:user_group"],"type":"OKTA_GROUP","profile":{"name":"testAcc_3619540880","description":"testing, testing"},"_links":{"logo":[{"name":"medium","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-medium.30ce6d4085dff29412984e4c191bc874.png","type":"image/png"},{"name":"large","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-large.c3cb8cda8ae0add1b4fe928f5844dbe3.png","type":"image/png"}],"users":{"href":"https://classic-00.oktapreview.com/api/v1/groups/00g9i7glfb2qTmK9K1d7/users"},"apps":{"href":"https://classic-00.oktapreview.com/api/v1/groups/00g9i7glfb2qTmK9K1d7/apps"}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 407.540607ms
    - id: 1
      request:
        host: classic-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/groups/00g9i7glfb2qTmK9K1d7
        method: GET
      response:
        body: '{"id":"00g9i7glfb2qTmK9K1d7","created":"2023-08-16T00:03:45.000Z","lastUpdated":"2023-08-16T00:03:45.000Z","lastMembershipUpdated":"2023-08-16T00:03:45.000Z","objectClass":["okta:user_group"],"type":"OKTA_GROUP","profile":{"name":"testAcc_3619540880","description":"testing, testing"},"_links":{"logo":[{"name":"medium","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-medium.30ce6d4085dff29412984e4c191bc874.png","type":"image/png"},{"name":"large","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-large.c3cb8cda8ae0add1b4fe928f5844dbe3.png","type":"image/png"}],"users":{"href":"https://classic-00.oktapreview.com/api/v1/groups/00g9i7glfb2qTmK9K1d7/users"},"apps":{"href":"https://classic-00.oktapreview.com/api/v1/groups/00g9i7glfb2qTmK9K1d7/apps"}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 183.509951ms
    - id: 2
      request:
        host: classic-00.dne-okta.com
        body: |
            {"credentials":{"password":{}},"profile":{"email":"testAcc2-3619540880@example.com","firstName":"TestAcc2","lastName":"Brando","login":"testAcc2-3619540880@example.com","postalAddress":null}}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://classic-00.dne-okta.com/api/v1/users
        method: POST
      response:
        body: '{"id":"00u9i7e58rz4nWsPf1d7","status":"PROVISIONED","created":"2023-08-16T00:03:45.000Z","activated":"2023-08-16T00:03:46.000Z","statusChanged":"2023-08-16T00:03:46.000Z","lastLogin":null,"lastUpdated":"2023-08-16T00:03:46.000Z","passwordChanged":null,"type":{"id":"oty5ptm052JMcoADv1d7"},"profile":{"firstName":"TestAcc2","lastName":"Brando","mobilePhone":null,"secondEmail":null,"login":"testAcc2-3619540880@example.com","email":"testAcc2-3619540880@example.com"},"credentials":{"provider":{"type":"OKTA","name":"OKTA"}},"_links":{"suspend":{"href":"https://classic-00.oktapreview.com/api/v1/users/00u9i7e58rz4nWsPf1d7/lifecycle/suspend","method":"POST"},"schema":{"href":"https://classic-00.oktapreview.com/api/v1/meta/schemas/user/osc5ptm052JMcoADv1d7"},"resetPassword":{"href":"https://classic-00.oktapreview.com/api/v1/users/00u9i7e58rz4nWsPf1d7/lifecycle/reset_password","method":"POST"},"reactivate":{"href":"https://classic-00.oktapreview.com/api/v1/users/00u9i7e58rz4nWsPf1d7/lifecycle/reactivate","method":"POST"},"self":{"href":"https://classic-00.oktapreview.com/api/v1/users/00u9i7e58rz4nWsPf1d7"},"type":{"href":"https://classic-00.oktapreview.com/api/v1/meta/types/user/oty5ptm052JMcoADv1d7"},"deactivate":{"href":"https://classic-00.oktapreview.com/api/v1/users/00u9i7e58rz4nWsPf1d7/lifecycle/deactivate","method":"POST"}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 586.407839ms
[...]
    - id: 7
      request:
        host: classic-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/users/00u9i7e321wMYss3Z1d7
        method: GET
      response:
        body: '{"id":"00u9i7e321wMYss3Z1d7","status":"PROVISIONED","created":"2023-08-16T00:03:45.000Z","activated":"2023-08-16T00:03:46.000Z","statusChanged":"2023-08-16T00:03:46.000Z","lastLogin":null,"lastUp[...]
    - id: 8
      request:
        host: classic-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/users/00u9i7id7tDAcJ5ce1d7
        method: GET
      response:
        body: '{"id":"00u9i7id7tDAcJ5ce1d7","status":"PROVISIONED","created":"2023-08-16T00:03:46.000Z","activated":"2023-08-16T00:03:46.000Z","statusChanged":"2023-08-16T00:03:46.000Z","lastLogin":null,"lastUp[...]
    - id: 9
      request:
        host: classic-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/users/00u9i7e58rz4nWsPf1d7
        method: GET
      response:
        body: '{"id":"00u9i7e58rz4nWsPf1d7","status":"PROVISIONED","created":"2023-08-16T00:03:45.000Z","activated":"2023-08-16T00:03:46.000Z","statusChanged":"2023-08-16T00:03:46.000Z","lastLogin":null,"lastUp[...]
    - id: 10
      request:
        host: classic-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/users/00u9i7fjmzTz8SOwm1d7
        method: GET
      response:
        body: '{"id":"00u9i7fjmzTz8SOwm1d7","status":"PROVISIONED","created":"2023-08-16T00:03:46.000Z","activated":"2023-08-16T00:03:46.000Z","statusChanged":"2023-08-16T00:03:46.000Z","lastLogin":null,"lastU[...]
    - id: 11
      request:
        host: classic-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/groups/00g9i7glfb2qTmK9K1d7/users/00u9i7e321wMYss3Z1d7
        method: PUT
      response:
        body: ""
        headers:
        status: 204 No Content
        code: 204
        duration: 158.798009ms
    - id: 12
      request:
        host: classic-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/groups/00g9i7glfb2qTmK9K1d7/users/00u9i7e58rz4nWsPf1d7
        method: PUT
      response:
        body: ""
        headers:
        status: 204 No Content
        code: 204
        duration: 93.243749ms
    - id: 13
      request:
        host: classic-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/groups/00g9i7glfb2qTmK9K1d7/users?limit=200
        method: GET
      response:
        body: '[{"id":"00u9i7e321wMYss3Z1d7","status":"PROVISIONED","created":"2023-08-16T00:03:45.000Z","activated":"2023-08-16T00:03:46.000Z","statusChanged":"2023-08-16T00:03:46.000Z","last[...]
[...]
    - id: 26
      request:
        host: classic-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/groups/00g9i7glfb2qTmK9K1d7/users/00u9i7id7tDAcJ5ce1d7
        method: PUT
      response:
        body: ""
        headers:
        status: 204 No Content
        code: 204
        duration: 70.220174ms
    - id: 27
      request:
        host: classic-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/groups/00g9i7glfb2qTmK9K1d7/users/00u9i7fjmzTz8SOwm1d7
        method: PUT
      response:
        body: ""
        headers:
        status: 204 No Content
        code: 204
        duration: 90.117551ms
[...]
    - id: 48
      request:
        host: classic-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/groups/00g9i7glfb2qTmK9K1d7/users?limit=200
        method: GET
      response:
        body: '[{"id":"00u9i7e321wMYss3Z1d7","status":"PROVISIONED","created":"2023-08-16T00:03:45.000Z","activated":"2023-08-16T00:03:46.000Z","statusChanged":"2023-08-16T00:03:46.000Z","lastLogin":null,"lastUpdated":"2023-08-16T00:03:46.000Z","passwordChanged":null,"type":{"id":"oty5ptm052JMcoADv1d7"},"profile":{"firstName":"TestAcc1","lastName":"Smith","mobilePhone":null,"secondEmail":null,"login":"testAcc1-3619540880@example.com","email":"testAcc1-3619540880@example.com"},"credentials":{"provider":{"type":"OKTA","name":"OKTA"}},"_links":{"self":{"href":"https://classic-00.oktapreview.com/api/v1/users/00u9i7e321wMYss3Z1d7"}}}]'
        headers:
            Content-Type:
                - application/json
            Link:
                - <https://classic-00.dne-okta.com/api/v1/groups/00g9i7glfb2qTmK9K1d7/users?limit=200>; rel="self"
        status: 200 OK
        code: 200
        duration: 70.71733ms
[...]
    - id: 59
      request:
        host: classic-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/users/00g9i7glfb2qTmK9K1d7
        method: GET
      response:
        body: '{"errorCode":"E0000007","errorSummary":"Not found: Resource not found: 00g9i7glfb2qTmK9K1d7 (User)","errorLink":"E0000007","errorId":"oaeADM_j1zxS9CD-gXzOicW_Q","errorCauses":[]}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 62.9008ms
[...]
