---
version: 2
interactions:
    - id: 0
      request:
        host: mm-classic-2022-10-04.oktapreview.com
        body: |
            {"profile":{"name":"testAcc_3619540880","description":"testing, testing"}}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://mm-classic-2022-10-04.oktapreview.com/api/v1/groups
        method: POST
      response:
        body: '{"id":"00g95v1dprYrcJmtr1d7","created":"2023-07-27T20:28:17.000Z","lastUpdated":"2023-07-27T20:28:17.000Z","lastMembershipUpdated":"2023-07-27T20:28:17.000Z","objectClass":["okta:user_group"],"type":"OKTA_GROUP","profile":{"name":"testAcc_3619540880","description":"testing, testing"},"_links":{"logo":[{"name":"medium","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-medium.30ce6d4085dff29412984e4c191bc874.png","type":"image/png"},{"name":"large","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-large.c3cb8cda8ae0add1b4fe928f5844dbe3.png","type":"image/png"}],"users":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/groups/00g95v1dprYrcJmtr1d7/users"},"apps":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/groups/00g95v1dprYrcJmtr1d7/apps"}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 160.903245ms
    - id: 1
      request:
        host: mm-classic-2022-10-04.oktapreview.com
        body: |
            {"credentials":{"password":{}},"profile":{"email":"testAcc4-3619540880@example.com","firstName":"TestAcc4","lastName":"Jenkins","login":"testAcc4-3619540880@example.com","postalAddress":null}}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://mm-classic-2022-10-04.oktapreview.com/api/v1/users
        method: POST
      response:
        body: '{"id":"00u95v5he3g9XCRWO1d7","status":"PROVISIONED","created":"2023-07-27T20:28:17.000Z","activated":"2023-07-27T20:28:17.000Z","statusChanged":"2023-07-27T20:28:17.000Z","lastLogin":null,"lastUpdated":"2023-07-27T20:28:17.000Z","passwordChanged":null,"type":{"id":"oty5ptm052JMcoADv1d7"},"profile":{"firstName":"TestAcc4","lastName":"Jenkins","mobilePhone":null,"secondEmail":null,"login":"testAcc4-3619540880@example.com","email":"testAcc4-3619540880@example.com"},"credentials":{"provider":{"type":"OKTA","name":"OKTA"}},"_links":{"suspend":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/users/00u95v5he3g9XCRWO1d7/lifecycle/suspend","method":"POST"},"schema":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/meta/schemas/user/osc5ptm052JMcoADv1d7"},"resetPassword":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/users/00u95v5he3g9XCRWO1d7/lifecycle/reset_password","method":"POST"},"reactivate":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/users/00u95v5he3g9XCRWO1d7/lifecycle/reactivate","method":"POST"},"self":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/users/00u95v5he3g9XCRWO1d7"},"type":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/meta/types/user/oty5ptm052JMcoADv1d7"},"deactivate":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/users/00u95v5he3g9XCRWO1d7/lifecycle/deactivate","method":"POST"}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 319.756771ms
[...]
    - id: 5
      request:
        host: mm-classic-2022-10-04.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-classic-2022-10-04.oktapreview.com/api/v1/groups/00g95v1dprYrcJmtr1d7
        method: GET
      response:
        body: '{"id":"00g95v1dprYrcJmtr1d7","created":"2023-07-27T20:28:17.000Z","lastUpdated":"2023-07-27T20:28:17.000Z","lastMembershipUpdated":"2023-07-27T20:28:17.000Z","objectClass":["okta:user_group"],"type":"OKTA_GROUP","profile":{"name":"testAcc_3619540880","description":"testing, testing"},"_links":{"logo":[{"name":"medium","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-medium.30ce6d4085dff29412984e4c191bc874.png","type":"image/png"},{"name":"large","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-large.c3cb8cda8ae0add1b4fe928f5844dbe3.png","type":"image/png"}],"users":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/groups/00g95v1dprYrcJmtr1d7/users"},"apps":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/groups/00g95v1dprYrcJmtr1d7/apps"}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 84.612774ms
[...]
    - id: 7
      request:
        host: mm-classic-2022-10-04.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-classic-2022-10-04.oktapreview.com/api/v1/users/00u95v5he3g9XCRWO1d7
        method: GET
      response:
        body: '{"id":"00u95v5he3g9XCRWO1d7","status":"PROVISIONED","created":"2023-07-27T20:28:17.000Z","activated":"2023-07-27T20:28:17.000Z","statusChanged":"2023-07-27T20:28:17.00[...]
    - id: 8
      request:
        host: mm-classic-2022-10-04.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-classic-2022-10-04.oktapreview.com/api/v1/users/00u95uyc62mqtGt5o1d7
        method: GET
      response:
        body: '{"id":"00u95uyc62mqtGt5o1d7","status":"PROVISIONED","created":"2023-07-27T20:28:17.000Z","activated":"2023-07-27T20:28:17.000Z","statusChanged":"2023-07-27T20:28:17.00[...]
    - id: 9
      request:
        host: mm-classic-2022-10-04.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-classic-2022-10-04.oktapreview.com/api/v1/users/00u95uyc63CgQCHIO1d7
        method: GET
      response:
        body: '{"id":"00u95uyc63CgQCHIO1d7","status":"PROVISIONED","created":"2023-07-27T20:28:17.000Z","activated":"2023-07-27T20:28:17.000Z","statusChanged":"2023-07-27T20:28:17.00[...]
    - id: 10
      request:
        host: mm-classic-2022-10-04.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-classic-2022-10-04.oktapreview.com/api/v1/users/00u95uxmskAt9NimR1d7
        method: GET
      response:
        body: '{"id":"00u95uxmskAt9NimR1d7","status":"PROVISIONED","created":"2023-07-27T20:28:17.000Z","activated":"2023-07-27T20:28:17.000Z","statusChanged":"2023-07-27T20:28:17.0[...]
    - id: 11
      request:
        host: mm-classic-2022-10-04.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-classic-2022-10-04.oktapreview.com/api/v1/groups/00g95v1dprYrcJmtr1d7/users/00u95uyc62mqtGt5o1d7
        method: PUT
      response:
        body: ""
        headers:
        status: 204 No Content
        code: 204
        duration: 125.116223ms
    - id: 12
      request:
        host: mm-classic-2022-10-04.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-classic-2022-10-04.oktapreview.com/api/v1/groups/00g95v1dprYrcJmtr1d7/users/00u95uxmskAt9NimR1d7
        method: PUT
      response:
        body: ""
        headers:
        status: 204 No Content
        code: 204
        duration: 80.001277ms
    - id: 13
      request:
        host: mm-classic-2022-10-04.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-classic-2022-10-04.oktapreview.com/api/v1/groups/00g95v1dprYrcJmtr1d7/users?limit=200
        method: GET
      response:
        body: '[{"id":"00u95uxmskAt9NimR1d7","status":"PROVISIONED","created":"2023-07-27T20:28:17.000Z","activated":"2023-07-27T20:28:17.000Z","statusChanged":"202[...]
[...]
    - id: 26
      request:
        host: mm-classic-2022-10-04.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-classic-2022-10-04.oktapreview.com/api/v1/groups/00g95v1dprYrcJmtr1d7/users/00u95v5he3g9XCRWO1d7
        method: PUT
      response:
        body: ""
        headers:
        status: 204 No Content
        code: 204
        duration: 121.498809ms
    - id: 27
      request:
        host: mm-classic-2022-10-04.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-classic-2022-10-04.oktapreview.com/api/v1/groups/00g95v1dprYrcJmtr1d7/users/00u95uyc63CgQCHIO1d7
        method: PUT
      response:
        body: ""
        headers:
        status: 204 No Content
        code: 204
        duration: 79.656367ms
[...]
    - id: 48
      request:
        host: mm-classic-2022-10-04.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-classic-2022-10-04.oktapreview.com/api/v1/groups/00g95v1dprYrcJmtr1d7/users?limit=200
        method: GET
      response:
        body: '[{"id":"00u95uyc62mqtGt5o1d7","status":"PROVISIONED","created":"2023-07-27T20:28:17.000Z","activated":"2023-07-27T20:28:17.000Z","statusChanged":"2023-07-27T20:28:17.000Z","lastLogin":null,"lastUpdated":"2023-07-27T20:28:17.000Z","passwordChanged":null,"type":{"id":"oty5ptm052JMcoADv1d7"},"profile":{"firstName":"TestAcc1","lastName":"Smith","mobilePhone":null,"secondEmail":null,"login":"testAcc1-3619540880@example.com","email":"testAcc1-3619540880@example.com"},"credentials":{"provider":{"type":"OKTA","name":"OKTA"}},"_links":{"self":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/users/00u95uyc62mqtGt5o1d7"}}}]'
        headers:
            Content-Type:
                - application/json
            Link:
                - <https://mm-classic-2022-10-04.oktapreview.com/api/v1/groups/00g95v1dprYrcJmtr1d7/users?limit=200>; rel="self"
        status: 200 OK
        code: 200
        duration: 60.663118ms
[...]
    - id: 59
      request:
        host: mm-classic-2022-10-04.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-classic-2022-10-04.oktapreview.com/api/v1/users/00g95v1dprYrcJmtr1d7
        method: GET
      response:
        body: '{"errorCode":"E0000007","errorSummary":"Not found: Resource not found: 00g95v1dprYrcJmtr1d7 (User)","errorLink":"E0000007","errorId":"oaeQ5Fao_emSweBVM403fLZ4w","errorCauses":[]}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 80.733454ms
[...]
