---
version: 2
interactions:
    - id: 0
      request:
        host: oie-00.dne-okta.com
        body: |
            {"profile":{"name":"testAcc_3619540880","description":"testing, testing"}}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://oie-00.dne-okta.com/api/v1/groups
        method: POST
      response:
        body: '{"id":"00g9i70udq3JBZDZi1d7","created":"2023-08-15T23:43:20.000Z","lastUpdated":"2023-08-15T23:43:20.000Z","lastMembershipUpdated":"2023-08-15T23:43:20.000Z","objectClass":["okta:user_group"],"type":"OKTA_GROUP","profile":{"name":"testAcc_3619540880","description":"testing, testing"},"_links":{"logo":[{"name":"medium","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-medium.30ce6d4085dff29412984e4c191bc874.png","type":"image/png"},{"name":"large","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-large.c3cb8cda8ae0add1b4fe928f5844dbe3.png","type":"image/png"}],"users":{"href":"https://oie-00.oktapreview.com/api/v1/groups/00g9i70udq3JBZDZi1d7/users"},"apps":{"href":"https://oie-00.oktapreview.com/api/v1/groups/00g9i70udq3JBZDZi1d7/apps"}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 164.953118ms
    - id: 1
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/groups/00g9i70udq3JBZDZi1d7
        method: GET
      response:
        body: '{"id":"00g9i70udq3JBZDZi1d7","created":"2023-08-15T23:43:20.000Z","lastUpdated":"2023-08-15T23:43:20.000Z","lastMembershipUpdated":"2023-08-15T23:43:20.000Z","objectClass":["okta:user_group"],"type":"OKTA_GROUP","profile":{"name":"testAcc_3619540880","description":"testing, testing"},"_links":{"logo":[{"name":"medium","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-medium.30ce6d4085dff29412984e4c191bc874.png","type":"image/png"},{"name":"large","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-large.c3cb8cda8ae0add1b4fe928f5844dbe3.png","type":"image/png"}],"users":{"href":"https://oie-00.oktapreview.com/api/v1/groups/00g9i70udq3JBZDZi1d7/users"},"apps":{"href":"https://oie-00.oktapreview.com/api/v1/groups/00g9i70udq3JBZDZi1d7/apps"}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 68.954399ms
[...]
    - id: 3
      request:
        host: oie-00.dne-okta.com
        body: |
            {"credentials":{"password":{}},"profile":{"email":"testAcc4-3619540880@example.com","firstName":"TestAcc4","lastName":"Jenkins","login":"testAcc4-3619540880@example.com","postalAddress":null}}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://oie-00.dne-okta.com/api/v1/users
        method: POST
      response:
        body: '{"id":"00u9i792zqhZygJWe1d7","status":"PROVISIONED","created":"2023-08-15T23:43:20.000Z","activated":"2023-08-15T23:43:20.000Z","statusChanged":"2023-08-15T23:43:20.000Z","lastLogin":null,"lastUpdated":"2023-08-15T23:43:20.000Z","passwordChanged":null,"type":{"id":"oty5qwjvh0Vy1j8Kd1d7"},"profile":{"firstName":"TestAcc4","lastName":"Jenkins","mobilePhone":null,"secondEmail":null,"login":"testAcc4-3619540880@example.com","email":"testAcc4-3619540880@example.com"},"credentials":{"provider":{"type":"OKTA","name":"OKTA"}},"_links":{"suspend":{"href":"https://oie-00.oktapreview.com/api/v1/users/00u9i792zqhZygJWe1d7/lifecycle/suspend","method":"POST"},"schema":{"href":"https://oie-00.oktapreview.com/api/v1/meta/schemas/user/osc5qwjvh0Vy1j8Kd1d7"},"resetPassword":{"href":"https://oie-00.oktapreview.com/api/v1/users/00u9i792zqhZygJWe1d7/lifecycle/reset_password","method":"POST"},"reactivate":{"href":"https://oie-00.oktapreview.com/api/v1/users/00u9i792zqhZygJWe1d7/lifecycle/reactivate","method":"POST"},"self":{"href":"https://oie-00.oktapreview.com/api/v1/users/00u9i792zqhZygJWe1d7"},"resetFactors":{"href":"https://oie-00.oktapreview.com/api/v1/users/00u9i792zqhZygJWe1d7/lifecycle/reset_factors","method":"POST"},"type":{"href":"https://oie-00.oktapreview.com/api/v1/meta/types/user/oty5qwjvh0Vy1j8Kd1d7"},"deactivate":{"href":"https://oie-00.oktapreview.com/api/v1/users/00u9i792zqhZygJWe1d7/lifecycle/deactivate","method":"POST"}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 384.659656ms
    - id: 4
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/users/00u9i792zqhZygJWe1d7
        method: GET
      response:
        body: '{"id":"00u9i792zqhZygJWe1d7","status":"PROVISIONED","created":"2023-08-15T23:43:20.000Z","activated":"2023-08-15T23:43:20.000Z","statusChanged":"2023-08-15T23:43:20.000Z","lastLogin":null,"lastUpdated":"[...]
[...]
    - id: 8
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/users/00u9i75jdy8SsK4j41d7
        method: GET
      response:
        body: '{"id":"00u9i75jdy8SsK4j41d7","status":"PROVISIONED","created":"2023-08-15T23:43:20.000Z","activated":"2023-08-15T23:43:20.000Z","statusChanged":"2023-08-15T23:43:20.000Z","lastLogin":null,"lastUpdated":"[...]
    - id: 9
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/users/00u9i7149iym4W9rv1d7
        method: GET
      response:
        body: '{"id":"00u9i7149iym4W9rv1d7","status":"PROVISIONED","created":"2023-08-15T23:43:20.000Z","activated":"2023-08-15T23:43:20.000Z","statusChanged":"2023-08-15T23:43:20.000Z","lastLogin":null,"lastUpdated":"[...]
    - id: 10
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/users/00u9i7a2emryEERl31d7
        method: GET
      response:
        body: '{"id":"00u9i7a2emryEERl31d7","status":"PROVISIONED","created":"2023-08-15T23:43:20.000Z","activated":"2023-08-15T23:43:20.000Z","statusChanged":"2023-08-15T23:43:20.000Z","lastLogin":null,"lastUpdated":[...]
    - id: 11
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/groups/00g9i70udq3JBZDZi1d7/users/00u9i75jdy8SsK4j41d7
        method: PUT
      response:
        body: ""
        headers:
        status: 204 No Content
        code: 204
        duration: 104.447738ms
    - id: 12
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/groups/00g9i70udq3JBZDZi1d7/users/00u9i7a2emryEERl31d7
        method: PUT
      response:
        body: ""
        headers:
        status: 204 No Content
        code: 204
        duration: 69.694178ms
    - id: 13
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/groups/00g9i70udq3JBZDZi1d7/users?limit=200
        method: GET
      response:
        body: '[{"id":"00u9i75jdy8SsK4j41d7","status":"PROVISIONED","created":"2023-08-15T23:43:20.000Z","activated":"2023-08-15T23:43:20.000Z","statusChanged":"2023-08-15T23:43:20.000Z","lastLogin":n[...]
[...]
    - id: 26
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/groups/00g9i70udq3JBZDZi1d7/users/00u9i792zqhZygJWe1d7
        method: PUT
      response:
        body: ""
        headers:
        status: 204 No Content
        code: 204
        duration: 72.907601ms
    - id: 27
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/groups/00g9i70udq3JBZDZi1d7/users/00u9i7149iym4W9rv1d7
        method: PUT
      response:
        body: ""
        headers:
        status: 204 No Content
        code: 204
        duration: 76.415579ms
[...]
    - id: 48
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/groups/00g9i70udq3JBZDZi1d7/users?limit=200
        method: GET
      response:
        body: '[{"id":"00u9i75jdy8SsK4j41d7","status":"PROVISIONED","created":"2023-08-15T23:43:20.000Z","activated":"2023-08-15T23:43:20.000Z","statusChanged":"2023-08-15T23:43:20.000Z","lastLogin":null,"lastUpdated":"2023-08-15T23:43:20.000Z","passwordChanged":null,"type":{"id":"oty5qwjvh0Vy1j8Kd1d7"},"profile":{"firstName":"TestAcc1","lastName":"Smith","mobilePhone":null,"secondEmail":null,"login":"testAcc1-3619540880@example.com","email":"testAcc1-3619540880@example.com"},"credentials":{"provider":{"type":"OKTA","name":"OKTA"}},"_links":{"self":{"href":"https://oie-00.oktapreview.com/api/v1/users/00u9i75jdy8SsK4j41d7"}}}]'
        headers:
            Content-Type:
                - application/json
            Link:
                - <https://oie-00.dne-okta.com/api/v1/groups/00g9i70udq3JBZDZi1d7/users?limit=200>; rel="self"
        status: 200 OK
        code: 200
        duration: 54.57099ms
[...]
    - id: 59
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/users/00u9i75jdy8SsK4j41d7
        method: GET
      response:
        body: '{"errorCode":"E0000007","errorSummary":"Not found: Resource not found: 00u9i75jdy8SsK4j41d7 (User)","errorLink":"E0000007","errorId":"oae4NaCgFPqQJuk9syEarKC6A","errorCauses":[]}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 56.878458ms
[...]
    - id: 63
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/users/00g9i70udq3JBZDZi1d7
        method: GET
      response:
        body: '{"errorCode":"E0000007","errorSummary":"Not found: Resource not found: 00g9i70udq3JBZDZi1d7 (User)","errorLink":"E0000007","errorId":"oaedWHKmT71Qj2LxbwDwIq6Xw","errorCauses":[]}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 66.916583ms
[...]
