---
version: 1
interactions:
- request:
    body: |
      {"profile":{"name":"testAcc_3619540880","description":"testing, testing"}}
    form: {}
    headers:
      Authorization:
      - SSWS REDACTED
      Content-Type:
      - application/json
    url: https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/groups
    method: POST
  response:
    body: '{"id":"00g6m9djhogdxiEfG1d7","created":"2023-01-11T20:27:54.000Z","lastUpdated":"2023-01-11T20:27:54.000Z","lastMembershipUpdated":"2023-01-11T20:27:54.000Z","objectClass":["okta:user_group"],"type":"OKTA_GROUP","profile":{"name":"testAcc_3619540880","description":"testing,
      testing"},"_links":{"logo":[{"name":"medium","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-medium.1a5ebe44c4244fb796c235d86b47e3bb.png","type":"image/png"},{"name":"large","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-large.d9cfbd8a00a4feac1aa5612ba02e99c0.png","type":"image/png"}],"users":{"href":"https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/groups/00g6m9djhogdxiEfG1d7/users"},"apps":{"href":"https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/groups/00g6m9djhogdxiEfG1d7/apps"}}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/groups/00g6m9djhogdxiEfG1d7
    method: GET
  response:
    body: '{"id":"00g6m9djhogdxiEfG1d7","created":"2023-01-11T20:27:54.000Z","lastUpdated":"2023-01-11T20:27:54.000Z","lastMembershipUpdated":"2023-01-11T20:27:54.000Z","objectClass":["okta:user_group"],"type":"OKTA_GROUP","profile":{"name":"testAcc_3619540880","description":"testing,
      testing"},"_links":{"logo":[{"name":"medium","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-medium.1a5ebe44c4244fb796c235d86b47e3bb.png","type":"image/png"},{"name":"large","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-large.d9cfbd8a00a4feac1aa5612ba02e99c0.png","type":"image/png"}],"users":{"href":"https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/groups/00g6m9djhogdxiEfG1d7/users"},"apps":{"href":"https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/groups/00g6m9djhogdxiEfG1d7/apps"}}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"credentials":{"password":{}},"profile":{"email":"testAcc4-3619540880@example.com","firstName":"TestAcc4","lastName":"Jenkins","login":"testAcc4-3619540880@example.com","postalAddress":null}}
    form: {}
    headers:
      Authorization:
      - SSWS REDACTED
      Content-Type:
      - application/json
    url: https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/users
    method: POST
  response:
    body: '{"id":"00u6m9e0axb3wj93T1d7","status":"PROVISIONED","created":"2023-01-11T20:27:54.000Z","activated":"2023-01-11T20:27:54.000Z","statusChanged":"2023-01-11T20:27:54.000Z","lastLogin":null,"lastUpdated":"2023-01-11T20:27:54.000Z","passwordChanged":null,"type":{"id":"oty5jjkl30LP1EYa11d7"},"profile":{"firstName":"TestAcc4","lastName":"Jenkins","mobilePhone":null,"secondEmail":null,"login":"testAcc4-3619540880@example.com","email":"testAcc4-3619540880@example.com"},"credentials":{"provider":{"type":"OKTA","name":"OKTA"}},"_links":{"suspend":{"href":"https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/users/00u6m9e0axb3wj93T1d7/lifecycle/suspend","method":"POST"},"schema":{"href":"https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/meta/schemas/user/osc5jjkl30LP1EYa11d7"},"resetPassword":{"href":"https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/users/00u6m9e0axb3wj93T1d7/lifecycle/reset_password","method":"POST"},"reactivate":{"href":"https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/users/00u6m9e0axb3wj93T1d7/lifecycle/reactivate","method":"POST"},"self":{"href":"https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/users/00u6m9e0axb3wj93T1d7"},"resetFactors":{"href":"https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/users/00u6m9e0axb3wj93T1d7/lifecycle/reset_factors","method":"POST"},"type":{"href":"https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/meta/types/user/oty5jjkl30LP1EYa11d7"},"deactivate":{"href":"https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/users/00u6m9e0axb3wj93T1d7/lifecycle/deactivate","method":"POST"}}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/users/00u6m9e0awQgSo9qP1d7
    method: GET
  response:
    body: '{"id":"00u6m9e0awQgSo9qP1d7","status":"PROVISIONED","created":"2023-01-11T20:27:54.000Z","activated":"2023-01-11T20:27:54.000Z","statusChanged":"2023-01-11T20:27:54.000Z","lastLogin":null,"lastUpdated":"2023-01-11T20:27:54.000Z","passwordChanged":null,"type":{"id":"oty5jjkl30LP[...]
[...]
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/users/00u6m9e0axb3wj93T1d7
    method: GET
  response:
    body: '{"id":"00u6m9e0axb3wj93T1d7","status":"PROVISIONED","created":"2023-01-11T20:27:54.000Z","activated":"2023-01-11T20:27:54.000Z","statusChanged":"2023-01-11T20:27:54.000Z","lastLogin":null,"lastUpdated":"2023-01-11T20:27:54.000Z","passwordChanged":null,"type":{"id":"oty5jjkl30LP[...]
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/users/00u6m9dckeDh7A4sq1d7
    method: GET
  response:
    body: '{"id":"00u6m9dckeDh7A4sq1d7","status":"PROVISIONED","created":"2023-01-11T20:27:54.000Z","activated":"2023-01-11T20:27:54.000Z","statusChanged":"2023-01-11T20:27:54.000Z","lastLogin":null,"lastUpdated":"2023-01-11T20:27:54.000Z","passwordChanged":null,"type":{"id":"oty5jjkl30LP[...]
[...]
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/users/00u6m9e0awQgSo9qP1d7/roles
    method: GET
  response:
    body: '[]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/users/00u6m9e0axb3wj93T1d7/roles
    method: GET
  response:
    body: '[]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/users/00u6m9dckeDh7A4sq1d7/roles
    method: GET
  response:
    body: '[]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/users/00u6m9d8rvgBV3OAl1d7
    method: GET
  response:
    body: '{"id":"00u6m9d8rvgBV3OAl1d7","status":"PROVISIONED","created":"2023-01-11T20:27:54.000Z","activated":"2023-01-11T20:27:54.000Z","statusChanged":"2023-01-11T20:27:54.000Z","lastLogin":null,"lastUpdated":"2023-01-11T20:27:54.000Z","passwordChanged":null,"type":{"id":"oty5jjkl30LP[...]
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/users/00u6m9d8rvgBV3OAl1d7/roles
    method: GET
  response:
    body: '[]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/groups/00g6m9djhogdxiEfG1d7/users/00u6m9dckeDh7A4sq1d7
    method: PUT
  response:
    body: ""
    headers:
    status: 204 No Content
    code: 204
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/groups/00g6m9djhogdxiEfG1d7/users/00u6m9e0awQgSo9qP1d7
    method: PUT
  response:
    body: ""
    headers:
    status: 204 No Content
    code: 204
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/groups/00g6m9djhogdxiEfG1d7/users?limit=200
    method: GET
  response:
    body: '[{"id":"00u6m9dckeDh7A4sq1d7","status":"PROVISIONED","created":"2023-01-11T20:27:54.000Z","activated":"2023-01-11T20:27:54.000Z","statusChanged":"2023-01-11T20:27:54.000Z","lastLogin":null,"lastUpdated":"2023-01-11T20:27:54.000Z","passwordChanged":null,"type":{[...]
[...]
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/groups/00g6m9djhogdxiEfG1d7/users/00u6m9d8rvgBV3OAl1d7
    method: PUT
  response:
    body: ""
    headers:
    status: 204 No Content
    code: 204
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/groups/00g6m9djhogdxiEfG1d7/users/00u6m9e0axb3wj93T1d7
    method: PUT
  response:
    body: ""
    headers:
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/groups/00g6m9djhogdxiEfG1d7/users?limit=200
    method: GET
  response:
    body: '[{"id":"00u6m9dckeDh7A4sq1d7","status":"PROVISIONED","created":"2023-01-11T20:27:54.000Z","activated":"2023-01-11T20:27:54.000Z","statusChanged":"2023-01-11T20:27:54.000Z","lastLogin":null,"lastUpdated":"2023-01-11T20:27:54.000Z","passwordChanged":null,"type":{"id":"oty5jjkl30LP1EYa11d7"},"profile":{"firstName":"TestAcc1","lastName":"Smith","mobilePhone":null,"secondEmail":null,"login":"testAcc1-3619540880@example.com","email":"testAcc1-3619540880@example.com"},"credentials":{"provider":{"type":"OKTA","name":"OKTA"}},"_links":{"self":{"href":"https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/users/00u6m9dckeDh7A4sq1d7"}}}]'
    headers:
      Content-Type:
      - application/json
      Link:
      - <https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/groups/00g6m9djhogdxiEfG1d7/users?limit=200>;
        rel="self"
    status: 200 OK
    code: 200
    duration: ""
[...]
