---
version: 2
interactions:
    - id: 0
      request:
        host: classic-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/apps/0oarblaf7hWdLawNg1d7/connections/default
        method: GET
      response:
        body: '{"authScheme":"TOKEN","status":"ENABLED","baseUrl":"https://integrator-8357679-admin.okta.com","profile":{"authScheme":"TOKEN"},"_links":{"self":{"href":"https://classic-00.dne-okta.com/api/v1/apps/0oarblaf7hWdLawNg1d7/connections/default","hints":{"allow":["POST","GET"]}},"deactivate":{"href":"https://classic-00.dne-okta.com/api/v1/apps/0oarblaf7hWdLawNg1d7/connections/default/lifecycle/deactivate","hints":{"allow":["POST"]}}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.039105583s
[...]
