---
version: 2
interactions:
    - id: 0
      request:
        host: classic-00.dne-okta.com
        body: |
            {"description":"testAcc_3467589678 Description","displayName":"testAcc_3467589678 Name","name":"testAcc_3467589678"}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://classic-00.dne-okta.com/api/v1/meta/types/user
        method: POST
      response:
        body: '{"id":"otykwukf1vbl1j1rA1d7","displayName":"testAcc_3467589678 Name","name":"testAcc_3467589678","description":"testAcc_3467589678 Description","createdBy":"00u5ptm07rHbDyowI1d7","lastUpdatedBy":"00u5ptm07rHbDyowI1d7","created":"2025-03-14T03:06:10.000Z","lastUpdated":"2025-03-14T03:06:10.000Z","default":false,"_links":{"schema":{"rel":"schema","href":"https://classic-00.dne-okta.com/api/v1/meta/schemas/user/osckwukf1vbl1j1rA1d7","method":"GET"},"self":{"rel":"self","href":"https://classic-00.dne-okta.com/api/v1/meta/types/user/otykwukf1vbl1j1rA1d7","method":"GET"}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 239.209209ms
    - id: 1
      request:
        host: classic-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/meta/types/user/otykwukf1vbl1j1rA1d7
        method: GET
      response:
        body: '{"id":"otykwukf1vbl1j1rA1d7","displayName":"testAcc_3467589678 Name","name":"testAcc_3467589678","description":"testAcc_3467589678 Description","createdBy":"00u5ptm07rHbDyowI1d7","lastUpdatedBy":"00u5ptm07rHbDyowI1d7","created":"2025-03-14T03:06:10.000Z","lastUpdated":"2025-03-14T03:06:10.000Z","default":false,"_links":{"schema":{"rel":"schema","href":"https://classic-00.dne-okta.com/api/v1/meta/schemas/user/osckwukf1vbl1j1rA1d7","method":"GET"},"self":{"rel":"self","href":"https://classic-00.dne-okta.com/api/v1/meta/types/user/otykwukf1vbl1j1rA1d7","method":"GET"}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 266.102666ms
[...]
    - id: 11
      request:
        host: classic-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/meta/types/user/otykwukf1vbl1j1rA1d7
        method: DELETE
      response:
        body: '{"errorCode":"E0000009","errorSummary":"Internal Server Error","errorLink":"E0000009","errorId":"oaeplB-Lqp_SG-hEgAHCV-TSQ","errorCauses":[]}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 500 Internal Server Error
        code: 500
        duration: 222.863ms
[...]
