---
version: 2
interactions:
    - id: 0
      request:
        host: oie-00.dne-okta.com
        body: |
            {"description":"testAcc_3467589678 Description","displayName":"testAcc_3467589678 Name","name":"testAcc_3467589678"}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://oie-00.dne-okta.com/api/v1/meta/types/user
        method: POST
      response:
        body: '{"id":"otykwqsv74RjaszZV1d7","displayName":"testAcc_3467589678 Name","name":"testAcc_3467589678","description":"testAcc_3467589678 Description","createdBy":"00u5qwjvk7u6E1DFG1d7","lastUpdatedBy":"00u5qwjvk7u6E1DFG1d7","created":"2025-03-13T23:26:26.000Z","lastUpdated":"2025-03-13T23:26:26.000Z","default":false,"_links":{"schema":{"rel":"schema","href":"https://oie-00.dne-okta.com/api/v1/meta/schemas/user/osckwqsv74RjaszZV1d7","method":"GET"},"self":{"rel":"self","href":"https://oie-00.dne-okta.com/api/v1/meta/types/user/otykwqsv74RjaszZV1d7","method":"GET"}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 243.358042ms
    - id: 1
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/meta/types/user/otykwqsv74RjaszZV1d7
        method: GET
      response:
        body: '{"id":"otykwqsv74RjaszZV1d7","displayName":"testAcc_3467589678 Name","name":"testAcc_3467589678","description":"testAcc_3467589678 Description","createdBy":"00u5qwjvk7u6E1DFG1d7","lastUpdatedBy":"00u5qwjvk7u6E1DFG1d7","created":"2025-03-13T23:26:26.000Z","lastUpdated":"2025-03-13T23:26:26.000Z","default":false,"_links":{"schema":{"rel":"schema","href":"https://oie-00.dne-okta.com/api/v1/meta/schemas/user/osckwqsv74RjaszZV1d7","method":"GET"},"self":{"rel":"self","href":"https://oie-00.dne-okta.com/api/v1/meta/types/user/otykwqsv74RjaszZV1d7","method":"GET"}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 233.518583ms
[...]
    - id: 11
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/meta/types/user/otykwqsv74RjaszZV1d7
        method: DELETE
      response:
        body: '{"errorCode":"E0000009","errorSummary":"Internal Server Error","errorLink":"E0000009","errorId":"oaeeNEieHDGTpmhOceiomfZjA","errorCauses":[]}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 500 Internal Server Error
        code: 500
        duration: 209.702083ms
[...]
