---
version: 2
interactions:
    - id: 0
      request:
        host: classic-00.dne-okta.com
        body: |
            {"accessibility":{"selfService":false},"credentials":{"userNameTemplate":{"template":"${source.login}","type":"BUILT_IN"},"oauthClient":{"autoKeyRotation":true,"pkce_required":false,"token_endpoint_auth_method":"client_secret_basic"}},"label":"testAcc_3662952610-dev","name":"oidc_client","settings":{"app":{},"implicitAssignment":false,"notes":{"admin":null,"enduser":null},"oauthClient":{"application_type":"web","consent_method":"TRUSTED","grant_types":["authorization_code","implicit"],"idp_initiated_login":{"default_scope":[],"mode":"DISABLED"},"issuer_mode":"ORG_URL","redirect_uris":["http://d.com/"],"response_types":["code","token","id_token"],"wildcard_redirect":"DISABLED"}},"signOnMode":"OPENID_CONNECT","visibility":{"autoSubmitToolbar":false,"hide":{"iOS":true,"web":true}}}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://classic-00.dne-okta.com/api/v1/apps?activate=true
        method: POST
      response:
        body: '{"id":"0oa9i782tl3dym4Z41d7","name":"oidc_client","label":"testAcc_3662952610-dev","status":"ACTIVE","lastUpdated":"2023-08-15T23:52:24.000Z","created":"2023-08-15T23:52:24.000Z","accessibility":{"selfService":false,"errorRedirectUrl":null,"loginRedirectUrl":null},"visibility":{"autoLaunch":false,"autoSubmitToolbar":false,"hide":{"iOS":true,"web":true},"appLinks":{"oidc_client_link":true}},"features":[],"signOnMode":"OPENID_CONNECT","credentials":{"userNameTemplate":{"template":"${source.login}","type":"BUILT_IN"},"signing":{"kid":"RwDaGE-iT82hX655Q4f0UIf43qDZbNdJM3JkppJkusM"},"oauthClient":{"autoKeyRotation":true,"client_id":"0oa9i782tl3dym4Z41d7","client_secret":"rcL_Ha04WL96QviFOVTA2FNFTbK74FWguLxVAmVndieynZ8aJY5kxvDpydIZxa55","token_endpoint_auth_method":"client_secret_basic","pkce_required":false}},"settings":{"app":{},"notifications":{"vpn":{"network":{"connection":"DISABLED"},"message":null,"helpUrl":null}},"manualProvisioning":false,"implicitAssignment":false,"notes":{"admin":null,"enduser":null},"oauthClient":{"client_uri":null,"logo_uri":null,"redirect_uris":["http://d.com/"],"response_types":["code","token","id_token"],"grant_types":["authorization_code","implicit"],"application_type":"web","issuer_mode":"ORG_URL","idp_initiated_login":{"mode":"DISABLED","default_scope":[]},"wildcard_redirect":"DISABLED"}},"_links":{"uploadLogo":{"href":"https://classic-00.oktapreview.com/api/v1/apps/0oa9i782tl3dym4Z41d7/logo","hints":{"allow":["POST"]}},"appLinks":[{"name":"oidc_client_link","href":"https://classic-00.oktapreview.com/home/oidc_client/0oa9i782tl3dym4Z41d7/aln177a159h7Zf52X0g8","type":"text/html"}],"groups":{"href":"https://classic-00.oktapreview.com/api/v1/apps/0oa9i782tl3dym4Z41d7/groups"},"logo":[{"name":"medium","href":"https://op3static.oktacdn.com/assets/img/logos/default.6770228fb0dab49a1695ef440a5279bb.png","type":"image/png"}],"clientCredentials":[{"name":"secrets","href":"https://classic-00.oktapreview.com/api/v1/apps/0oa9i782tl3dym4Z41d7/credentials/secrets"}],"users":{"href":"https://classic-00.oktapreview.com/api/v1/apps/0oa9i782tl3dym4Z41d7/users"},"deactivate":{"href":"https://classic-00.oktapreview.com/api/v1/apps/0oa9i782tl3dym4Z41d7/lifecycle/deactivate"}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 626.750291ms
    - id: 1
      request:
        host: classic-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/.well-known/okta-organization
        method: GET
      response:
        body: '{"id":"00o5ptm04a2LyDEyk1d7","cell":"op3","_links":{"organization":{"href":"https://classic-00.oktapreview.com"}},"pipeline":"v1","settings":{"analyticsCollectionEnabled":false,"bugReportingEnabled":true,"omEnabled":true,"pssoEnabled":false}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 49.698267ms
[...]
    - id: 3
      request:
        host: classic-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/apps/0oa9i782tl3dym4Z41d7
        method: GET
      response:
        body: '{"id":"0oa9i782tl3dym4Z41d7","name":"oidc_client","label":"testAcc_3662952610-dev","status":"ACTIVE","lastUpdated":"2023-08-15T23:52:24.000Z","created":"2023-08-15T23:52:24.000Z","accessibility":{[...]
    - id: 4
      request:
        host: classic-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/apps/0oa9i7d9deJ4C92Ru1d7
        method: GET
      response:
        body: '{"id":"0oa9i7d9deJ4C92Ru1d7","name":"oidc_client","label":"testAcc_3662952610","status":"ACTIVE","lastUpdated":"2023-08-15T23:52:24.000Z","created":"2023-08-15T23:52:24.000Z","accessibility":{"sel[...]
    - id: 5
      request:
        host: classic-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/internal/apps/0oa9i782tl3dym4Z41d7/settings/oauth/idToken
        method: GET
      response:
        body: '{"issuer":"https://classic-00.oktapreview.com","orgUrl":null,"customUrl":null,"audience":"0oa9i782tl3dym4Z41d7","issuerMode":"ORG_URL"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 63.735381ms
    - id: 6
      request:
        host: classic-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/internal/apps/0oa9i7d9deJ4C92Ru1d7/settings/oauth/idToken
        method: GET
      response:
        body: '{"issuer":"https://classic-00.oktapreview.com","orgUrl":null,"customUrl":null,"audience":"0oa9i7d9deJ4C92Ru1d7","issuerMode":"ORG_URL"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 71.3316ms
    - id: 7
      request:
        host: classic-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/apps?filter=status+eq+%22ACTIVE%22&limit=1&q=testAcc_3662952610
        method: GET
      response:
        body: '[{"id":"0oa9i782tl3dym4Z41d7","name":"oidc_client","label":"testAcc_3662952610-dev","status":"ACTIVE","lastUpdated":"2023-08-15T23:52:24.000Z","created":"2023[...]
    - id: 8
      request:
        host: classic-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/apps?after=0oa9i782tl3dym4Z41d7&filter=status+eq+%22ACTIVE%22&limit=1&q=testAcc_3662952610
        method: GET
      response:
        body: '[{"id":"0oa9i7d9deJ4C92Ru1d7","name":"oidc_client","label":"testAcc_3662952610","status":"ACTIVE","lastUpdated":"2023-08-15T23:52:2[...]
[...]
    - id: 19
      request:
        host: classic-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/apps/0oa9i7d9deJ4C92Ru1d7/lifecycle/deactivate
        method: POST
      response:
        body: '{}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 90.219225ms
    - id: 20
      request:
        host: classic-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/apps/0oa9i782tl3dym4Z41d7/lifecycle/deactivate
        method: POST
      response:
        body: '{}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 92.710974ms
[...]
