---
version: 2
interactions:
- id: 0
  request:
    host: classic-00.dne-okta.com
    body: "{\"certificateSourceType\":\"MANUAL\",\"domain\":\"testdowncase.example.com\"}\n"
    headers:
      Authorization:
      - SSWS REDACTED
      Content-Type:
      - application/json
    url: https://classic-00.dne-okta.com/api/v1/domains
    method: POST
  response:
    body: "{\"id\":\"OcDqx8gnkkThgITqF1d7\",\"domain\":\"testdowncase.example.com\",\"certificateSourceType\":\"MANUAL\",\"validationStatus\":\"NOT_STARTED\",\"brandId\":\"bndqx8gnkg4o1SVsl1d7\",\"dnsRecords\":[{\"recordType\":\"TXT\",\"fqdn\":\"_oktaverification.testdowncase.example.com\",\"values\":[\"d0cbb6042da54ae683139e9ad5619c20\"]},{\"recordType\":\"CNAME\",\"fqdn\":\"testdowncase.example.com\",\"values\":[\"classic-00.customdomains.oktapreview.com\"]}],\"_links\":{\"self\":{\"href\":\"https://classic-00.dne-okta.com/api/v1/domains/OcDqx8gnkkThgITqF1d7\",\"hints\":{\"allow\":[\"GET\",\"DELETE\",\"PUT\"]}},\"verify\":{\"href\":\"https://classic-00.dne-okta.com/api/v1/domains/OcDqx8gnkkThgITqF1d7/verify\",\"hints\":{\"allow\":[\"POST\"]}},\"brand\":{\"href\":\"https://classic-00.dne-okta.com/api/v1/brands/bndqx8gnkg4o1SVsl1d7\",\"hints\":{\"allow\":[\"GET\",\"PUT\",\"DELETE\"]}}}}"
    headers:
      Accept-Ch:
      - Sec-CH-UA-Platform-Version
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: 1.529006125s
- id: 1
  request:
    host: classic-00.dne-okta.com
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://classic-00.dne-okta.com/api/v1/domains/OcDqx8gnkkThgITqF1d7
    method: GET
  response:
    body: "{\"id\":\"OcDqx8gnkkThgITqF1d7\",\"domain\":\"testdowncase.example.com\",\"certificateSourceType\":\"MANUAL\",\"validationStatus\":\"NOT_STARTED\",\"brandId\":\"bndqx8gnkg4o1SVsl1d7\",\"dnsRecords\":[{\"recordType\":\"TXT\",\"fqdn\":\"_oktaverification.testdowncase.example.com\",\"values\":[\"d0cbb6042da54ae683139e9ad5619c20\"]},{\"recordType\":\"CNAME\",\"fqdn\":\"testdowncase.example.com\",\"values\":[\"classic-00.customdomains.oktapreview.com\"]}],\"_links\":{\"self\":{\"href\":\"https://classic-00.dne-okta.com/api/v1/domains/OcDqx8gnkkThgITqF1d7\",\"hints\":{\"allow\":[\"DELETE\"]}},\"verify\":{\"href\":\"https://classic-00.dne-okta.com/api/v1/domains/OcDqx8gnkkThgITqF1d7/verify\",\"hints\":{\"allow\":[\"POST\"]}},\"brand\":{\"href\":\"https://classic-00.dne-okta.com/api/v1/brands/bndqx8gnkg4o1SVsl1d7\",\"hints\":{\"allow\":[\"GET\",\"PUT\",\"DELETE\"]}}}}"
    headers:
      Accept-Ch:
      - Sec-CH-UA-Platform-Version
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 1.046448959s
- id: 2
  request:
    host: classic-00.dne-okta.com
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://classic-00.dne-okta.com/api/v1/domains
    method: GET
  response:
    body: "{\"domains\":[{\"id\":\"OcDqaziwla4IxWlKU1d7\",\"domain\":\"test.binoy.com\",\"certificateSourceType\":\"OKTA_MANAGED\",\"validationStatus\":\"FAILED_TO_VERIFY\",\"brandId\":\"bndqazuxbdBQHyqmH1d7\",\"_links\":{\"self\":{\"href\":\"https://classic-00.dne-okta.com/api/v1/domains/OcDqaziwla4IxWlKU1d7\",\"hints\":{\"allow\":[\"GET\",\"DELETE\"]}},\"brand\":{\"href\":\"https://classic-00.dne-okta.com/api/v1/brands/bndqazuxbdBQHyqmH1d7\",\"hints\":{\"allow\":[\"GET\",\"PUT\",\"DELETE\"]}}}},{\"id\":\"OcDqx8gnkkTh[...]
[...]
