---
version: 2
interactions:
- id: 0
  request:
    host: oie-00.dne-okta.com
    body: "{\"accessScopeSettings\":{\"type\":\"RESOURCE_DEFAULT\"},\"approvalSequenceId\":\"69251ae704a4d0a7fcdb870f\",\"name\":\"test-condition-status\",\"priority\":0,\"requesterSettings\":{\"type\":\"EVERYONE\"}}\n"
    headers:
      Authorization:
      - SSWS REDACTED
      Content-Type:
      - application/json
    url: https://oie-00.dne-okta.com/governance/api/v2/resources/0oasp3g29b1hqkcYE1d7/request-conditions
    method: POST
  response:
    body: "{\"requesterSettings\":{\"type\":\"EVERYONE\"},\"accessScopeSettings\":{\"type\":\"RESOURCE_DEFAULT\"},\"approvalSequenceId\":\"69251ae704a4d0a7fcdb870f\",\"name\":\"test-condition-status\",\"id\":\"rco153fuyseSj63JG1d7\",\"createdBy\":\"00u5m6b6h6YuejsVW1d7\",\"created\":\"2025-12-15T05:19:52Z\",\"lastUpdated\":\"2025-12-15T05:19:52Z\",\"lastUpdatedBy\":\"00u5m6b6h6YuejsVW1d7\",\"_links\":{\"self\":{\"href\":\"https://oie-00-admin.dne-okta.com/governance/api/v2/resources/0oasp3g29b1hqkcYE1d7/request-conditions/rco153fuyseSj63JG1d7\",\"hints\":{}}},\"status\":\"INACTIVE\",\"priority\":0}"
    headers:
      Accept-Ch:
      - Sec-CH-UA-Platform-Version
      Content-Type:
      - application/json
      Location:
      - https://oie-00-admin.dne-okta.com/governance/api/v2/resources/0oasp3g29b1hqkcYE1d7/request-conditions/rco153fuyseSj63JG1d7
    status: 201 Created
    code: 201
    duration: 2.173920083s
- id: 1
  request:
    host: oie-00.dne-okta.com
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://oie-00.dne-okta.com/governance/api/v2/resources/0oasp3g29b1hqkcYE1d7/request-conditions/rco153fuyseSj63JG1d7/activate
    method: POST
  response:
    body: "{\"requesterSettings\":{\"type\":\"EVERYONE\"},\"accessScopeSettings\":{\"type\":\"RESOURCE_DEFAULT\"},\"approvalSequenceId\":\"69251ae704a4d0a7fcdb870f\",\"name\":\"test-condition-status\",\"id\":\"rco153fuyseSj63JG1d7\",\"createdBy\":\"00u5m6b6h6YuejsVW1d7\",\"created\":\"2025-12-15T05:19:52Z\",\"lastUpdated\":\"2025-12-15T05:19:54Z\",\"lastUpdatedBy\":\"00u5m6b6h6YuejsVW1d7\",\"_links\":{\"self\":{\"href\":\"https://oie-00-admin.dne-okta.com/governance/api/v2/resources/0oasp3g29b1hqkcYE1d7/request-conditions/rco153fuyseSj63JG1d7\",\"hints\":{}}},\"status\":\"ACTIVE\",\"priority\":0}"
    headers:
      Accept-Ch:
      - Sec-CH-UA-Platform-Version
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 2.544882792s
- id: 2
  request:
    host: oie-00.dne-okta.com
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://oie-00.dne-okta.com/governance/api/v2/resources/0oasp3g29b1hqkcYE1d7/request-conditions/rco153fuyseSj63JG1d7
    method: GET
  response:
    body: "{\"requesterSettings\":{\"type\":\"EVERYONE\"},\"accessScopeSettings\":{\"type\":\"RESOURCE_DEFAULT\"},\"approvalSequenceId\":\"69251ae704a4d0a7fcdb870f\",\"name\":\"test-condition-status\",\"id\":\"rco153fuyseSj63JG1d7\",\"createdBy\":\"00u5m6b6h6YuejsVW1d7\",\"created\":\"2025-12-15T05:19:52Z\",\"lastUpdated\":\"2025-12-15T05:19:54Z\",\"lastUpdatedBy\":\"00u5m6b6h6YuejsVW1d7\",\"_links\":{\"self\":{\"href\":\"https://oie-00-admin.dne-okta.com/governance/api/v2/resources/0oasp3g29b1hqkcYE1d7/request-conditions/rco153fuyseSj63JG1d7\",\"hints\":{}}},\"status\":\"ACTIVE\",\"priority\":0}"
    headers:
      Accept-Ch:
      - Sec-CH-UA-Platform-Version
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 919.577917ms
[...]
- id: 5
  request:
    host: oie-00.dne-okta.com
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://oie-00.dne-okta.com/governance/api/v2/resources/0oasp3g29b1hqkcYE1d7/request-conditions/rco153fuyseSj63JG1d7/deactivate
    method: POST
  response:
    body: "{\"requesterSettings\":{\"type\":\"EVERYONE\"},\"accessScopeSettings\":{\"type\":\"RESOURCE_DEFAULT\"},\"approvalSequenceId\":\"69251ae704a4d0a7fcdb870f\",\"name\":\"test-condition-status\",\"id\":\"rco153fuyseSj63JG1d7\",\"createdBy\":\"00u5m6b6h6YuejsVW1d7\",\"created\":\"2025-12-15T05:19:52Z\",\"lastUpdated\":\"2025-12-15T05:20:01Z\",\"lastUpdatedBy\":\"00u5m6b6h6YuejsVW1d7\",\"_links\":{\"self\":{\"href\":\"https://oie-00-admin.dne-okta.com/governance/api/v2/resources/0oasp3g29b1hqkcYE1d7/request-conditions/rco153fuyseSj63JG1d7\",\"hints\":{}}},\"status\":\"INACTIVE\",\"priority\":0}"
    headers:
      Accept-Ch:
      - Sec-CH-UA-Platform-Version
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 1.316747791s
[...]
