---
version: 2
interactions:
    - id: 0
      request:
        host: oie-00.dne-okta.com
        body: |
            {"audiences":["whatever.rise.zone"],"credentials":{"signing":{"rotationMode":"AUTO"}},"description":"The best way to find out if you can trust somebody is to trust them.","issuerMode":"ORG_URL","name":"testAcc_469183235"}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://oie-00.dne-okta.com/api/v1/authorizationServers
        method: POST
      response:
        body: '{"id":"aus9i75kn2Br0oPf91d7","name":"testAcc_469183235","description":"The best way to find out if you can trust somebody is to trust them.","audiences":["whatever.rise.zone"],"issuer":"https://oie-00.oktapreview.com/oauth2/aus9i75kn2Br0oPf91d7","issuerMode":"ORG_URL","status":"ACTIVE","created":"2023-08-15T23:41:25.000Z","lastUpdated":"2023-08-15T23:41:25.000Z","credentials":{"signing":{"kid":"tYJRsTu-Gj12Q60_HSXanH1VsW4HWzwiCnksAWtIZjQ","rotationMode":"AUTO","lastRotated":"2023-08-15T23:41:26.000Z","nextRotation":"2023-11-13T23:41:26.000Z"}},"default":false,"_links":{"rotateKey":{"href":"https://oie-00.oktapreview.com/api/v1/authorizationServers/aus9i75kn2Br0oPf91d7/credentials/lifecycle/keyRotate","hints":{"allow":["POST"]}},"metadata":[{"name":"oauth-authorization-server","href":"https://oie-00.oktapreview.com/oauth2/aus9i75kn2Br0oPf91d7/.well-known/oauth-authorization-server","hints":{"allow":["GET"]}},{"name":"openid-configuration","href":"https://oie-00.oktapreview.com/oauth2/aus9i75kn2Br0oPf91d7/.well-known/openid-configuration","hints":{"allow":["GET"]}}],"keys":{"href":"https://oie-00.oktapreview.com/api/v1/authorizationServers/aus9i75kn2Br0oPf91d7/credentials/keys","hints":{"allow":["GET"]}},"claims":{"href":"https://oie-00.oktapreview.com/api/v1/authorizationServers/aus9i75kn2Br0oPf91d7/claims","hints":{"allow":["GET","POST"]}},"policies":{"href":"https://oie-00.oktapreview.com/api/v1/authorizationServers/aus9i75kn2Br0oPf91d7/policies","hints":{"allow":["GET","POST"]}},"self":{"href":"https://oie-00.oktapreview.com/api/v1/authorizationServers/aus9i75kn2Br0oPf91d7","hints":{"allow":["GET","DELETE","PUT"]}},"scopes":{"href":"https://oie-00.oktapreview.com/api/v1/authorizationServers/aus9i75kn2Br0oPf91d7/scopes","hints":{"allow":["GET","POST"]}},"deactivate":{"href":"https://oie-00.oktapreview.com/api/v1/authorizationServers/aus9i75kn2Br0oPf91d7/lifecycle/deactivate","hints":{"allow":["POST"]}}}}'
        headers:
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 887.610702ms
    - id: 1
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/authorizationServers/aus9i75kn2Br0oPf91d7
        method: GET
      response:
        body: '{"id":"aus9i75kn2Br0oPf91d7","name":"testAcc_469183235","description":"The best way to find out if you can trust somebody is to trust them.","audiences":["whatever.rise.zone"],"issuer":"ht[...]
[...]
    - id: 9
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/authorizationServers/aus9i75kn2Br0oPf91d7/lifecycle/deactivate
        method: POST
      response:
        body: ""
        headers:
        status: 204 No Content
        code: 204
        duration: 132.558534ms
[...]
    - id: 11
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/authorizationServers/aus9i75kn2Br0oPf91d7
        method: GET
      response:
        body: '{"errorCode":"E0000007","errorSummary":"Not found: Resource not found: aus9i75kn2Br0oPf91d7 (AuthorizationServer)","errorLink":"E0000007","errorId":"oae6CU9xjStRY-qNLsu4uasFQ","errorCauses":[]}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 71.382786ms
