---
version: 2
interactions:
    - id: 0
      request:
        host: oie-00.dne-okta.com
        body: |
            {"label":"testAcc_3658738728","description":"A test resource set for datasource testing","resources":["https://oie-00.dne-okta.com/api/v1/groups","https://oie-00.dne-okta.com/api/v1/users"]}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://oie-00.dne-okta.com/api/v1/iam/resource-sets
        method: POST
      response:
        body: '{"id":"iamt7cwvix0Ylfi6f697","label":"testAcc_3658738728","description":"A test resource set for datasource testing","created":"2025-07-14T15:00:05.000Z","lastUpdated":"2025-07-14T15:00:05.000Z","_links":{"bindings":{"href":"https://oie-00.dne-okta.com/api/v1/iam/resource-sets/iamt7cwvix0Ylfi6f697/bindings"},"self":{"href":"https://oie-00.dne-okta.com/api/v1/iam/resource-sets/iamt7cwvix0Ylfi6f697"},"resources":{"href":"https://oie-00.dne-okta.com/api/v1/iam/resource-sets/iamt7cwvix0Ylfi6f697/resources"}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
            Link:
                - <https://oie-00.dne-okta.com/api/v1/iam/resource-sets/iamt7cwvix0Ylfi6f697>; rel="self"
        status: 200 OK
        code: 200
        duration: 846.280083ms
    - id: 1
      request:
        host: oie-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/iam/resource-sets/iamt7cwvix0Ylfi6f697
        method: GET
      response:
        body: '{"id":"iamt7cwvix0Ylfi6f697","label":"testAcc_3658738728","description":"A test resource set for datasource testing","created":"2025-07-14T15:00:05.000Z","lastUpdated":"2025-07-14T15:00:05.000Z","_links":{"bindings":{"href":"https://oie-00.dne-okta.com/api/v1/iam/resource-sets/iamt7cwvix0Ylfi6f697/bindings"},"self":{"href":"https://oie-00.dne-okta.com/api/v1/iam/resource-sets/iamt7cwvix0Ylfi6f697"},"resources":{"href":"https://oie-00.dne-okta.com/api/v1/iam/resource-sets/iamt7cwvix0Ylfi6f697/resources"}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
            Link:
                - <https://oie-00.dne-okta.com/api/v1/iam/resource-sets/iamt7cwvix0Ylfi6f697>; rel="self"
        status: 200 OK
        code: 200
        duration: 669.05275ms
    - id: 2
      request:
        host: oie-00.dne-okta.com
        form:
            limit:
                - "200"
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/iam/resource-sets/iamt7cwvix0Ylfi6f697/resources?limit=200
        method: GET
      response:
        body: '{"resources":[{"id":"iret7cwviy0nCXbas697","orn":"orn:okta:directory:00osd501x0KyUtOul697:users","created":"2025-07-14T15:00:05.000Z","lastUpdated":"2025-07-14T15:00:05.000Z","_links":{"self":{"href":"https://oie-00.dne-okta.com/api/v1/users"},"resource":{"href":"https://oie-00.dne-okta.com/api/v1/iam/resource-sets/iamt7cwvix0Ylfi6f697/resources/iret7cwviy0nCXbas697"},"users":{"href":"https://oie-00.dne-okta.com/api/v1/users"}}},{"id":"iret7cwviz7CK6ef4697","orn":"orn:okta:directory:00osd501x0KyUtOul697:groups","created":"2025-07-14T15:00:05.000Z","lastUpdated":"2025-07-14T15:00:05.000Z","_links":{"groups":{"href":"https://oie-00.dne-okta.com/api/v1/groups"},"self":{"href":"https://oie-00.dne-okta.com/api/v1/groups"},"resource":{"href":"https://oie-00.dne-okta.com/api/v1/iam/resource-sets/iamt7cwvix0Ylfi6f697/resources/iret7cwviz7CK6ef4697"}}}],"_links":{"resource-set":{"href":"https://oie-00.dne-okta.com/api/v1/iam/resource-sets/iamt7cwvix0Ylfi6f697"},"self":{"href":"https://oie-00.dne-okta.com/api/v1/iam/resource-sets/iamt7cwvix0Ylfi6f697/resources"}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
            Link:
                - <https://oie-00.dne-okta.com/api/v1/iam/resource-sets/iamt7cwvix0Ylfi6f697/resources>; rel="self"
        status: 200 OK
        code: 200
        duration: 667.129667ms
    - id: 3
      request:
        host: oie-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/iam/resource-sets/iamt7cwvix0Ylfi6f697/resources
        method: GET
      response:
        body: '{"resources":[{"id":"iret7cwviy0nCXbas697","orn":"orn:okta:directory:00osd501x0KyUtOul697:users","created":"2025-07-14T15:00:05.000Z","lastUpdated":"2025-07-14T15:00:05.000Z","_links":{"self":{"href":"https://oie-00[...]
[...]
