---
version: 2
interactions:
    - id: 0
      request:
        host: oie-00.dne-okta.com
        body: |
            {"label":"testAcc_3658738728","description":"A test resource set for datasource testing","resources":["https://oie-00.dne-okta.com/api/v1/groups","https://oie-00.dne-okta.com/api/v1/users"]}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://oie-00.dne-okta.com/api/v1/iam/resource-sets
        method: POST
      response:
        body: '{"id":"iamtgy956jaJbuzHW697","label":"testAcc_3658738728","description":"A test resource set for datasource testing","created":"2025-07-22T14:28:17.000Z","lastUpdated":"2025-07-22T14:28:17.000Z","_links":{"bindings":{"href":"https://oie-00.dne-okta.com/api/v1/iam/resource-sets/iamtgy956jaJbuzHW697/bindings"},"self":{"href":"https://oie-00.dne-okta.com/api/v1/iam/resource-sets/iamtgy956jaJbuzHW697"},"resources":{"href":"https://oie-00.dne-okta.com/api/v1/iam/resource-sets/iamtgy956jaJbuzHW697/resources"}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
            Link:
                - <https://oie-00.dne-okta.com/api/v1/iam/resource-sets/iamtgy956jaJbuzHW697>; rel="self"
        status: 200 OK
        code: 200
        duration: 829.915083ms
    - id: 1
      request:
        host: oie-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/iam/resource-sets/iamtgy956jaJbuzHW697
        method: GET
      response:
        body: '{"id":"iamtgy956jaJbuzHW697","label":"testAcc_3658738728","description":"A test resource set for datasource testing","created":"2025-07-22T14:28:17.000Z","lastUpdated":"2025-07-22T14:28:17.000Z","_links":{"bindings":{"href":"https://oie-00.dne-okta.com/api/v1/iam/resource-sets/iamtgy956jaJbuzHW697/bindings"},"self":{"href":"https://oie-00.dne-okta.com/api/v1/iam/resource-sets/iamtgy956jaJbuzHW697"},"resources":{"href":"https://oie-00.dne-okta.com/api/v1/iam/resource-sets/iamtgy956jaJbuzHW697/resources"}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
            Link:
                - <https://oie-00.dne-okta.com/api/v1/iam/resource-sets/iamtgy956jaJbuzHW697>; rel="self"
        status: 200 OK
        code: 200
        duration: 722.68375ms
    - id: 2
      request:
        host: oie-00.dne-okta.com
        form:
            limit:
                - "200"
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/iam/resource-sets/iamtgy956jaJbuzHW697/resources?limit=200
        method: GET
      response:
        body: '{"resources":[{"id":"iretgy956knC0D9OY697","orn":"orn:okta:directory:00osd501x0KyUtOul697:users","created":"2025-07-22T14:28:17.000Z","lastUpdated":"2025-07-22T14:28:17.000Z","_links":{"self":{"href":"https://oie-00.dne-okta.com/api/v1/users"},"resource":{"href":"https://oie-00.dne-okta.com/api/v1/iam/resource-sets/iamtgy956jaJbuzHW697/resources/iretgy956knC0D9OY697"},"users":{"href":"https://oie-00.dne-okta.com/api/v1/users"}}},{"id":"iretgy956ldEltzMB697","orn":"orn:okta:directory:00osd501x0KyUtOul697:groups","created":"2025-07-22T14:28:17.000Z","lastUpdated":"2025-07-22T14:28:17.000Z","_links":{"groups":{"href":"https://oie-00.dne-okta.com/api/v1/groups"},"self":{"href":"https://oie-00.dne-okta.com/api/v1/groups"},"resource":{"href":"https://oie-00.dne-okta.com/api/v1/iam/resource-sets/iamtgy956jaJbuzHW697/resources/iretgy956ldEltzMB697"}}}],"_links":{"resource-set":{"href":"https://oie-00.dne-okta.com/api/v1/iam/resource-sets/iamtgy956jaJbuzHW697"},"self":{"href":"https://oie-00.dne-okta.com/api/v1/iam/resource-sets/iamtgy956jaJbuzHW697/resources"}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
            Link:
                - <https://oie-00.dne-okta.com/api/v1/iam/resource-sets/iamtgy956jaJbuzHW697/resources>; rel="self"
        status: 200 OK
        code: 200
        duration: 707.997917ms
    - id: 3
      request:
        host: oie-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/iam/resource-sets/iamtgy956jaJbuzHW697/resources
        method: GET
      response:
        body: '{"resources":[{"id":"iretgy956knC0D9OY697","orn":"orn:okta:directory:00osd501x0KyUtOul697:users","created":"2025-07-22T14:28:17.000Z","lastUpdated":"2025-07-22T14:28:17.000Z","_links":{"self":{"href":"https://oie-00[...]
[...]
