---
version: 2
interactions:
    - id: 0
      request:
        host: realm-assignment-support.dne-okta.com
        body: |
            {"x5c":["MIIDnjCCAoagAwIBAgIGAVG3MN+PMA0GCSqGSIb3DQEBBQUAMIGPMQswCQYDVQQGEwJVUzETMBEGA1UECAwKQ2FsaWZvcm5p\nYTEWMBQGA1UEBwwNU2FuIEZyYW5jaXNjbzENMAsGA1UECgwET2t0YTEUMBIGA1UECwwLU1NPUHJvdmlkZXIxEDAOBgNVBAMM\nB2V4YW1wbGUxHDAaBgkqhkiG9w0BCQEWDWluZm9Ab2t0YS5jb20wHhcNMTUxMjE4MjIyMjMyWhcNMjUxMjE4MjIyMzMyWjCB\njzELMAkGA1UEBhMCVVMxEzARBgNVBAgMCkNhbGlmb3JuaWExFjAUBgNVBAcMDVNhbiBGcmFuY2lzY28xDTALBgNVBAoMBE9r\ndGExFDASBgNVBAsMC1NTT1Byb3ZpZGVyMRAwDgYDVQQDDAdleGFtcGxlMRwwGgYJKoZIhvcNAQkBFg1pbmZvQG9rdGEuY29t\nMIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAtcnyvuVCrsFEKCwHDenS3Ocjed8eWDv3zLtD2K/iZfE8BMj2wpTf\nn6Ry8zCYey3mWlKdxIybnV9amrujGRnE0ab6Q16v9D6RlFQLOG6dwqoRKuZy33Uyg8PGdEudZjGbWuKCqqXEp+UKALJHV+k4\nwWeVH8g5d1n3KyR2TVajVJpCrPhLFmq1Il4G/IUnPe4MvjXqB6CpKkog1+ThWsItPRJPAM+RweFHXq7KfChXsYE7Mmfuly8s\nDQlvBmQyxZnFHVuiPfCvGHJjpvHy11YlHdOjfgqHRvZbmo30+y0X/oY/yV4YEJ00LL6eJWU4wi7ViY3HP6/VCdRjHoRdr5L/\nDwIDAQABMA0GCSqGSIb3DQEBBQUAA4IBAQCzzhOFkvyYLNFj2WDcq1YqD4sBy1iCia9QpRH3rjQvMKDwQDYWbi6EdOX0TQ/I\nYR7UWGj+2pXd6v0t33lYtoKocp/4lUvT3tfBnWZ5KnObi+J2uY2teUqoYkASN7F+GRPVOuMVoVgm05ss8tuMb2dLc9vsx93s\nDt+XlMTv/2qi5VPwaDtqduKkzwW9lUfn4xIMkTiVvCpe0X2HneD2Bpuao3/U8Rk0uiPfq6TooWaoW3kjsmErhEAs9bA7xuqo\n1KKY9CdHcFhkSsMhoeaZylZHtzbnoipUlQKSLMdJQiiYZQ0bYL83/Ta9fulr1EERICMFt3GUmtYaZZKHpWSfdJp9"]}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://realm-assignment-support.dne-okta.com/api/v1/idps/credentials/keys
        method: POST
      response:
        body: '{"kty":"RSA","created":"2025-08-07T11:09:13.000Z","lastUpdated":"2025-08-07T11:09:13.000Z","expiresAt":"2025-12-18T22:23:32.000Z","alg":"RSA","kid":"47d4234d-8f43-4db5-b96b-b7a8b154fed6","use":"sig","x5c":["MIIDnjCCAoagAwIBAgIGAVG3MN+PMA0GCSqGSIb3DQEBBQUAMIGPMQswCQYDVQQGEwJVUzETMBEGA1UECAwKQ2FsaWZvcm5p\nYTEWMBQGA1UEBwwNU2FuIEZyYW5jaXNjbzENMAsGA1UECgwET2t0YTEUMBIGA1UECwwLU1NPUHJvdmlkZXIxEDAOBgNVBAMM\nB2V4YW1wbGUxHDAaBgkqhkiG9w0BCQEWDWluZm9Ab2t0YS5jb20wHhcNMTUxMjE4MjIyMjMyWhcNMjUxMjE4MjIyMzMyWjCB\njzELMAkGA1UEBhMCVVMxEzARBgNVBAgMCkNhbGlmb3JuaWExFjAUBgNVBAcMDVNhbiBGcmFuY2lzY28xDTALBgNVBAoMBE9r\ndGExFDASBgNVBAsMC1NTT1Byb3ZpZGVyMRAwDgYDVQQDDAdleGFtcGxlMRwwGgYJKoZIhvcNAQkBFg1pbmZvQG9rdGEuY2[...]
    - id: 1
      request:
        host: realm-assignment-support.dne-okta.com
        body: |
            {"profile":{"name":"AccTest Test Realm","realmType":"DEFAULT"}}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://realm-assignment-support.dne-okta.com/api/v1/realms
        method: POST
      response:
        body: '{"id":"guotyzl8x0FsTicXD697","created":"2025-08-07T11:09:13.000Z","lastUpdated":"2025-08-07T11:09:13.000Z","profile":{"name":"AccTest Test Realm","realmType":"DEFAULT","domains":[]},"isDefault":false,"_links":{"self":{"rel":"self","href":"https://realm-assignment-support.dne-okta.com/api/v1/realms/guotyzl8x0FsTicXD697","method":"GET"}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 996.598042ms
    - id: 2
      request:
        host: realm-assignment-support.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://realm-assignment-support.dne-okta.com/api/v1/idps/credentials/keys/47d4234d-8f43-4db5-b96b-b7a8b154fed6
        method: GET
      response:
        body: '{"kty":"RSA","created":"2025-08-07T11:09:13.000Z","lastUpdated":"2025-08-07T11:09:13.000Z","expiresAt":"2025-12-18T22:23:32.000Z","alg":"RSA","kid":"47d4234d-8f43-4db5-b[...]
    - id: 3
      request:
        host: realm-assignment-support.dne-okta.com
        body: |
            {"issuerMode":"ORG_URL","name":"testAcc_1887585029","policy":{"accountLink":{"action":"AUTO"},"maxClockSkew":0,"provisioning":{"action":"AUTO","conditions":{"deprovisioned":{"action":"NONE"},"suspended":{"action":"NONE"}},"groups":{"action":"NONE"},"profileMaster":true},"subject":{"matchType":"USERNAME","userNameTemplate":{"template":"idpuser.email"}}},"protocol":{"algorithms":{"request":{"signature":{"algorithm":"SHA-256","scope":"REQUEST"}},"response":{"signature":{"algorithm":"SHA-256","scope":"ANY"}}},"credentials":{"trust":{"issuer":"https://idp.example.com","kid":"47d4234d-8f43-4db5-b96b-b7a8b154fed6"}},"endpoints":{"acs":{"binding":"HTTP-POST","type":"INSTANCE"},"sso":{"binding":"HTTP-POST","destination":"https://idp.example.com","url":"https://idp.example.com"}},"settings":{"nameFormat":"urn:oasis:names:tc:SAML:1.1:nameid-format:unspecified","honorPersistentNameId":false},"type":"SAML2"},"status":"ACTIVE","type":"SAML2"}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://realm-assignment-support.dne-okta.com/api/v1/idps
        method: POST
      response:
        body: '{"id":"0oatyzkb26lqRdpSh697","name":"testAcc_1887585029","status":"ACTIVE","created":"2025-08-07T11:09:15.000Z","lastUpdated":"2025-08-07T11:09:15.000Z","protocol":{"type":"SAML2","endpoints":{"sso":{"url":"https://idp.example.com","binding":"HTTP-POST","destination":"https://idp.example.com"},"acs":{"binding":"HTTP-POST","type":"INSTANCE"}},"algorithms":{"request":{"signature":{"algorithm":"SHA-256","scope":"REQUEST"}},"response":{"signature":{"algorithm":"SHA-256","scope":"ANY"}}},"settings":{"nameFormat":"urn:oasis:names:tc:SAML:1.1:nameid-format:unspecified","honorPersistentNameId":false},"credentials":{"trust":{"issuer":"https://idp.example.com","audience":"https://www.okta.com/saml2/service-provider/sphtkhakdqrzymotezse","kid":"47d4234d-8f43-4db5-b96b-b7a8b154fed6","revocation":null,"revocationCacheLifetime":0},"signing":{"kid":"c0zEpT-05GxB3m9TXK28cwdeNE9smtjnfJKFiLqW1aE"}}},"policy":{"provisioning":{"action":"AUTO","profileMaster":true,"groups":{"action":"NONE"},"conditions":{"deprovisioned":{"action":"NONE"},"suspended":{"action":"NONE"}}},"accountLink":{"filter":null,"action":"AUTO"},"subject":{"userNameTemplate":{"template":"idpuser.email"},"filter":null,"matchType":"USERNAME","matchAttribute":null},"maxClockSkew":0,"trustClaims":false,"transformedUsernameMatchingEnabled":false},"type":"SAML2","_links":{"metadata":{"href":"https://realm-assignment-support.dne-okta.com/api/v1/idps/0oatyzkb26lqRdpSh697/metadata.xml","type":"application/xml","hints":{"allow":["GET"]}},"acs":{"href":"https://realm-assignment-support.dne-okta.com/sso/saml2/0oatyzkb26lqRdpSh697","type":"application/xml","hints":{"allow":["POST"]}},"users":{"href":"https://realm-assignment-support.dne-okta.com/api/v1/idps/0oatyzkb26lqRdpSh697/users","hints":{"allow":["GET"]}},"deactivate":{"href":"https://realm-assignment-support.dne-okta.com/api/v1/idps/0oatyzkb26lqRdpSh697/lifecycle/deactivate","hints":{"allow":["POST"]}}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.649526375s
    - id: 4
      request:
        host: realm-assignment-support.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://realm-assignment-support.dne-okta.com/api/v1/idps/0oatyzkb26lqRdpSh697
        method: GET
      response:
        body: '{"id":"0oatyzkb26lqRdpSh697","name":"testAcc_1887585029","status":"ACTIVE","created":"2025-08-07T11:09:15.000Z","lastUpdated":"2025-08-07T11:09:15.000Z","protocol":{"type":"SAML2","endpoints":{"sso":{"url":"https://idp.example.com","binding":"HTTP-POST","destination":"https://idp.example.com"},"acs":{"binding":"HTTP-POST","type":"INSTANCE"}},"algorithms":[...]
    - id: 5
      request:
        host: realm-assignment-support.dne-okta.com
        form:
            limit:
                - "200"
            sourceId:
                - 0oatyzkb26lqRdpSh697
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://realm-assignment-support.dne-okta.com/api/v1/mappings?limit=200&sourceId=0oatyzkb26lqRdpSh697
        method: GET
      response:
        body: '[{"id":"prmtyzkb2hAHy4Nr0697","source":{"id":"0oatyzkb26lqRdpSh697","name":"saml_idp","type":"appuser","_links":{"self":{"href":"https://realm-assignment-support.dne-okta.com/api/v1/apps/0oatyzkb26lqRdpSh697"},"schema":{"href":"https://realm-assignment-support.dne-okta.com/api/v1/meta/schemas/apps/0oatyzkb26lqRdpSh697/default"}}},"target":{"id":"otynpeshnul1gz4lw697","name":"user","type":"user","_links":{"self":{"href":"https://realm-assignment-support.dne-okta.com/api/v1/meta/types/user/otynpeshnul1gz4lw697"},"schema":{"href":"https://realm-assignment-support.dne-okta.com/api/v1/meta/schemas/user/oscnpeshnul1gz4lw697"}}},"_links":{"self":{"href":"https://realm-assignment-support.dne-okta.com/api/v1/mappings/prmtyzkb2hAHy4Nr0697"}}},{"id":"prmtyzkb2tYV5jVpz697","source":{"id":"0oatyzkb26lqRdpSh697","name":"saml_idp","type":"appus[...]
    - id: 6
      request:
        host: realm-assignment-support.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://realm-assignment-support.dne-okta.com/api/v1/mappings/prmtyzkb2hAHy4Nr0697
        method: GET
      response:
        body: '{"id":"prmtyzkb2hAHy4Nr0697","source":{"id":"0oatyzkb26lqRdpSh697","name":"saml_idp","type":"appuser","_links":{"self":{"href":"https://realm-assignment-support.dne-okta.com/api/v1/apps/0oatyzkb26lqRdpSh697"},"schema":{"href":"https://realm-assignment-support.dne-okta.com/api/v1/meta/schemas/apps/0oatyzkb26lqRdpSh697/default"}}},"target":{"id":"otynpeshnul1gz4lw697","name":"user","type":"user","_links":{"self":{"href":"https://realm-assignment-support.dne-okta.com/api/v1/meta/types/user/otynpeshnul1gz4lw697"},"schema":{"href":"https://realm-assignment-support.dne-okta.com/api/v1/meta/schemas/user/oscnpeshnul1gz4lw697"}}},"properties":{"firstName":{"expression":"source.firstName","pushStatus":"PUSH"},"lastName":{"expression":"source.lastName","pushStatus":"PUSH"},"email":{"expression":"source.email","pushStatus":"PUSH"},"mobilePhone":{"expression":"source.mobilePhone","pushStatus":"PUSH"},"login":{"expression":"source.userName","pushStatus":"PUSH"}},"_links":{"self":{"href":"https://realm-assignment-support.dne-okta.com/api/v1/mappings/prmtyzkb2hAHy4Nr0697"}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 811.786708ms
    - id: 7
      request:
        host: realm-assignment-support.dne-okta.com
        body: |
            {"actions":{"assignUserToRealm":{"realmId":"guotyzl8x0FsTicXD697"}},"conditions":{"expression":{"value":"user.profile.login.contains(\"@acctest.com\")"},"profileSourceId":"0oatyzkb26lqRdpSh697"},"name":"AccTest Example Realm Assignment","priority":55}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://realm-assignment-support.dne-okta.com/api/v1/realm-assignments
        method: POST
      response:
        body: '{"id":"rultyznk3qky6Mwyb697","status":"INACTIVE","name":"AccTest Example Realm Assignment","created":"2025-08-07T11:09:18.000Z","lastUpdated":"2025-08-07T11:09:18.000Z","conditions":{"expression":{"value":"user.profile.login.contains(\"@acctest.com\")"},"profileSourceId":"0oatyzkb26lqRdpSh697"},"actions":{"assignUserToRealm":{"realmId":"guotyzl8x0FsTicXD697"}},"priority":55,"_links":{"self":{"rel":"self","href":"https://realm-assignment-support.dne-okta.com/api/v1/realm-assignments/rultyznk3qky6Mwyb697","method":"GET"}},"isDefault":false}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 930.47525ms
    - id: 8
      request:
        host: realm-assignment-support.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://realm-assignment-support.dne-okta.com/api/v1/realm-assignments/rultyznk3qky6Mwyb697/lifecycle/activate
        method: POST
      response:
        body: ""
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
        status: 204 No Content
        code: 204
        duration: 986.336209ms
[...]
    - id: 12
      request:
        host: realm-assignment-support.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://realm-assignment-support.dne-okta.com/api/v1/realms/guotyzl8x0FsTicXD697
        method: GET
      response:
        body: '{"id":"guotyzl8x0FsTicXD697","created":"2025-08-07T11:09:13.000Z","lastUpdated":"2025-08-07T11:09:13.000Z","profile":{"name":"AccTest Test Realm","realmType":"DEFAULT","domains":[]},"isDefault":false,"_links":{"self":{"rel":"self","href":"https://realm-assignment-support.dne-okta.com/api/v1/realms/guotyzl8x0FsTicXD697","method":"GET"}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 880.620084ms
[...]
    - id: 16
      request:
        host: realm-assignment-support.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://realm-assignment-support.dne-okta.com/api/v1/realm-assignments/rultyznk3qky6Mwyb697
        method: GET
      response:
        body: '{"id":"rultyznk3qky6Mwyb697","status":"ACTIVE","name":"AccTest Example Realm Assignment","created":"2025-08-07T11:09:18.000Z","lastUpdated":"2025-08-07T11:09:18.000Z","conditions":{"expression":{"value":"user.profile.login.contains(\"@acctest.com\")"},"profileSourceId":"0oatyzkb26lqRdpSh697"},"actions":{"assignUserToRealm":{"realmId":"guotyzl8x0FsTicXD697"}},"priority":55,"_links":{"self":{"rel":"self","href":"https://realm-assignment-support.dne-okta.com/api/v1/realm-assignments/rultyznk3qky6Mwyb697","method":"GET"}},"isDefault":false}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 711.065709ms
[...]
    - id: 26
      request:
        host: realm-assignment-support.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://realm-assignment-support.dne-okta.com/api/v1/realm-assignments/rultyznk3qky6Mwyb697/lifecycle/deactivate
        method: POST
      response:
        body: ""
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
        status: 204 No Content
        code: 204
        duration: 860.41975ms
[...]
    - id: 29
      request:
        host: realm-assignment-support.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://realm-assignment-support.dne-okta.com/api/v1/idps/0oatyzkb26lqRdpSh697/lifecycle/deactivate
        method: POST
      response:
        body: '{"id":"0oatyzkb26lqRdpSh697","name":"testAcc_1887585029","status":"INACTIVE","created":"2025-08-07T11:09:15.000Z","lastUpdated":"2025-08-07T11:09:31.000Z","protocol":{"type":"SAML2","endpoints":{"sso":{"url":"https://idp.example.com","binding":"HTTP-POST","destination":"https://idp.example.com"},"acs":{"binding":"HTTP-POST","type":"INSTANCE"}},"algorithms":{"request":{"signature":{"algorithm":"SHA-256","scope":"REQUEST"}},"response":{"signature":{"algorithm":"SHA-256","scope":"ANY"}}},"settings":{"nameFormat":"urn:oasis:names:tc:SAML:1.1:nameid-format:unspecified","honorPersistentNameId":false},"credentials":{"trust":{"issuer":"https://idp.example.com","audience":"https://www.okta.com/saml2/service-provider/sphtkhakdqrzymotezse","kid":"47d4234d-8f43-4db5-b96b-b7a8b154fed6","revocation":null,"revocationCacheLifetime":0},"signing":{"kid":"c0zEpT-05GxB3m9TXK28cwdeNE9smtjnfJKFiLqW1aE"}}},"policy":{"provisioning":{"action":"AUTO","profileMaster":true,"groups":{"action":"NONE"},"conditions":{"deprovisioned":{"action":"NONE"},"suspended":{"action":"NONE"}}},"accountLink":{"filter":null,"action":"AUTO"},"subject":{"userNameTemplate":{"template":"idpuser.email"},"filter":null,"matchType":"USERNAME","matchAttribute":null},"maxClockSkew":0,"trustClaims":false,"transformedUsernameMatchingEnabled":false},"type":"SAML2","_links":{"metadata":{"href":"https://realm-assignment-support.dne-okta.com/api/v1/idps/0oatyzkb26lqRdpSh697/metadata.xml","type":"application/xml","hints":{"allow":["GET"]}},"acs":{"href":"https://realm-assignment-support.dne-okta.com/sso/saml2/0oatyzkb26lqRdpSh697","type":"application/xml","hints":{"allow":["POST"]}},"users":{"href":"https://realm-assignment-support.dne-okta.com/api/v1/idps/0oatyzkb26lqRdpSh697/users","hints":{"allow":["GET"]}},"activate":{"href":"https://realm-assignment-support.dne-okta.com/api/v1/idps/0oatyzkb26lqRdpSh697/lifecycle/activate","hints":{"allow":["POST"]}}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 820.896042ms
[...]
