---
version: 2
interactions:
    - id: 0
      request:
        host: classic-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/governance/api/v2/request-settings
        method: GET
      response:
        body: '{"subprocessorsAcknowledged":true,"provisioningStatus":"PROVISIONED","requestExperiences":["CATALOG","ADMIN_ROLES"],"longTimePastProvisioned":false}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 2.460638667s
[...]
