---
version: 2
interactions:
    - id: 0
      request:
        host: classic-00.dne-okta.com
        body: |
            {"profile":{"name":"testAcc_3332243245_2","description":""}}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://classic-00.dne-okta.com/api/v1/groups
        method: POST
      response:
        body: '{"id":"00gkwu4zasAOytYF71d7","created":"2025-03-14T03:08:20.000Z","lastUpdated":"2025-03-14T03:08:20.000Z","lastMembershipUpdated":"2025-03-14T03:08:20.000Z","objectClass":["okta:user_group"],"type":"OKTA_GROUP","profile":{"name":"testAcc_3332243245_2","description":""},"_links":{"logo":[{"name":"medium","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-medium.30ce6d4085dff29412984e4c191bc874.png","type":"image/png"},{"name":"large","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-large.c3cb8cda8ae0add1b4fe928f5844dbe3.png","type":"image/png"}],"users":{"href":"https://classic-00.dne-okta.com/api/v1/groups/00gkwu4zasAOytYF71d7/users"},"apps":{"href":"https://classic-00.dne-okta.com/api/v1/groups/00gkwu4zasAOytYF71d7/apps"}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 204.029083ms
[...]
    - id: 3
      request:
        host: classic-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/groups/00gkwu7goizR6wvsp1d7
        method: GET
      response:
        body: '{"id":"00gkwu7goizR6wvsp1d7","created":"2025-03-14T03:08:20.000Z","lastUpdated":"2025-03-14T03:08:20.000Z","lastMembershipUpdated":"2025-03-14T03:08:20.000Z","objectClass":["okta:user_group"],"type":"OKTA_GROUP","profile":{"name":"testAcc_3332243245_3","description":""},"_links":{"logo":[{"name":"medium","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-medium.30ce6d4085dff29412984e4c191bc874.png","type":"image/png"},{"name":"large","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-large.c3cb8cda8ae0add1b4fe928f5844dbe3.png","type":"image/png"}],"users":{"href":"https://classic-00.dne-okta.com/api/v1/groups/00gkwu7goizR6wvsp1d7/users"},"apps":{"href":"https://classic-00.dne-okta.com/api/v1/groups/00gkwu7goizR6wvsp1d7/apps"}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 405.8665ms
    - id: 4
      request:
        host: classic-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/groups/00gkwu4zasAOytYF71d7
        method: GET
      response:
        body: '{"id":"00gkwu4zasAOytYF71d7","created":"2025-03-14T03:08:20.000Z","lastUpdated":"2025-03-14T03:08:20.000Z","lastMembershipUpdated":"2025-03-14T03:08:20.000Z","objectClass":["okta:user_group"],"type":"OKTA_GROUP","profile":{"name":"testAcc_3332243245_2","description":""},"_links":{"logo":[{"name":"medium","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-medium.30ce6d4085dff29412984e4c191bc874.png","type":"image/png"},{"name":"large","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-large.c3cb8cda8ae0add1b4fe928f5844dbe3.png","type":"image/png"}],"users":{"href":"https://classic-00.dne-okta.com/api/v1/groups/00gkwu4zasAOytYF71d7/users"},"apps":{"href":"https://classic-00.dne-okta.com/api/v1/groups/00gkwu4zasAOytYF71d7/apps"}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 412.980958ms
    - id: 5
      request:
        host: classic-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/groups/00gkwu8e0lmfI2Ljs1d7
        method: GET
      response:
        body: '{"id":"00gkwu8e0lmfI2Ljs1d7","created":"2025-03-14T03:08:20.000Z","lastUpdated":"2025-03-14T03:08:20.000Z","lastMembershipUpdated":"2025-03-14T03:08:20.000Z","objectClass":["okta:user_group"],"type":"OKTA_GROUP","profile":{"name":"testAcc_3332243245","description":""},"_links":{"logo":[{"name":"medium","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-medium.30ce6d4085dff29412984e4c191bc874.png","type":"image/png"},{"name":"large","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-large.c3cb8cda8ae0add1b4fe928f5844dbe3.png","type":"image/png"}],"users":{"href":"https://classic-00.dne-okta.com/api/v1/groups/00gkwu8e0lmfI2Ljs1d7/users"},"apps":{"href":"https://classic-00.dne-okta.com/api/v1/groups/00gkwu8e0lmfI2Ljs1d7/apps"}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 402.244542ms
    - id: 6
      request:
        host: classic-00.dne-okta.com
        body: |
            {"accessibility":{"selfService":false},"credentials":{"userNameTemplate":{"template":"${source.login}","type":"BUILT_IN"},"oauthClient":{"autoKeyRotation":true,"pkce_required":false,"token_endpoint_auth_method":"client_secret_basic"}},"label":"testAcc_3332243245","name":"oidc_client","settings":{"app":{},"implicitAssignment":false,"notes":{"admin":null,"enduser":null},"oauthClient":{"application_type":"web","consent_method":"TRUSTED","grant_types":["authorization_code","implicit"],"idp_initiated_login":{"default_scope":[],"mode":"DISABLED"},"issuer_mode":"ORG_URL","redirect_uris":["http://d.com/"],"response_types":["code","token","id_token"],"wildcard_redirect":"DISABLED"}},"signOnMode":"OPENID_CONNECT","visibility":{"autoSubmitToolbar":false,"hide":{"iOS":true,"web":true}}}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://classic-00.dne-okta.com/api/v1/apps?activate=true
        method: POST
      response:
        body: '{"id":"0oakwu83tlHJR9Coj1d7","orn":"orn:oktapreview:idp:00o5ptm04a2LyDEyk1d7:apps:oidc_client:0oakwu83tlHJR9Coj1d7","name":"oidc_client","label":"testAcc_3332243245","status":"ACTIVE","lastUpdated":"2025-03-14T03:08:20.000Z","created":"2025-03-14T03:08:20.000Z","accessibility":{"selfService":false,"errorRedirectUrl":null,"loginRedirectUrl":null},"visibility":{"autoLaunch":false,"autoSubmitToolbar":false,"hide":{"iOS":true,"web":true},"appLinks":{"oidc_client_link":true}},"features":[],"signOnMode":"OPENID_CONNECT","credentials":{"userNameTemplate":{"template":"${source.login}","type":"BUILT_IN"},"signing":{"kid":"RwDaGE-iT82hX655Q4f0UIf43qDZbNdJM3JkppJkusM"},"oauthClient":{"autoKeyRotation":true,"client_id":"0oakwu83tlHJR9Coj1d7","client_secret":"ienxKk4sJhEc5lYX70hWUSok4EJdsjSCzRfXhBoB3EYTPcISfA_D76KLiQldWut4","token_endpoint_auth_method":"client_secret_basic","pkce_required":false}},"settings":{"app":{},"notifications":{"vpn":{"network":{"connection":"DISABLED"},"message":null,"helpUrl":null}},"manualProvisioning":false,"implicitAssignment":false,"notes":{"admin":null,"enduser":null},"oauthClient":{"client_uri":null,"logo_uri":null,"redirect_uris":["http://d.com/"],"response_types":["code","token","id_token"],"grant_types":["authorization_code","implicit"],"application_type":"web","issuer_mode":"ORG_URL","idp_initiated_login":{"mode":"DISABLED","default_scope":[]},"wildcard_redirect":"DISABLED","dpop_bound_access_tokens":false}},"_links":{"uploadLogo":{"href":"https://classic-00.dne-okta.com/api/v1/apps/0oakwu83tlHJR9Coj1d7/logo","hints":{"allow":["POST"]}},"appLinks":[{"name":"oidc_client_link","href":"https://classic-00.dne-okta.com/home/oidc_client/0oakwu83tlHJR9Coj1d7/aln177a159h7Zf52X0g8","type":"text/html"}],"groups":{"href":"https://classic-00.dne-okta.com/api/v1/apps/0oakwu83tlHJR9Coj1d7/groups"},"logo":[{"name":"medium","href":"https://op3static.oktacdn.com/assets/img/logos/default.6770228fb0dab49a1695ef440a5279bb.png","type":"image/png"}],"clientCredentials":[{"name":"secrets","href":"https://classic-00.dne-okta.com/api/v1/apps/0oakwu83tlHJR9Coj1d7/credentials/secrets"}],"users":{"href":"https://classic-00.dne-okta.com/api/v1/apps/0oakwu83tlHJR9Coj1d7/users"},"deactivate":{"href":"https://classic-00.dne-okta.com/api/v1/apps/0oakwu83tlHJR9Coj1d7/lifecycle/deactivate"}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 761.717125ms
[...]
    - id: 10
      request:
        host: classic-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/.well-known/okta-organization
        method: GET
      response:
        body: '{"id":"00o5ptm04a2LyDEyk1d7","cell":"op3","_links":{"organization":{"href":"https://classic-00.dne-okta.com"}},"pipeline":"v1","settings":{"analyticsCollectionEnabled":false,"bugReportingEnabled":true,"omEnabled":true,"pssoEnabled":false,"desktopMFAEnabled":false,"itpEnabled":false}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 560.572667ms
    - id: 11
      request:
        host: classic-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/apps/0oakwu83tlHJR9Coj1d7
        method: GET
      response:
        body: '{"id":"0oakwu83tlHJR9Coj1d7","orn":"orn:oktapreview:idp:00o5ptm04a2LyDEyk1d7:apps:oidc_client:0oakwu83tlHJR9Coj1d7","name":"oidc_client","label":"testAcc_3332243245","status":"ACTIVE","lastUpdate[...]
    - id: 12
      request:
        host: classic-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/internal/apps/0oakwu83tlHJR9Coj1d7/settings/oauth/idToken
        method: GET
      response:
        body: '{"issuer":"https://classic-00.dne-okta.com","orgUrl":null,"customUrl":null,"audience":"0oakwu83tlHJR9Coj1d7","issuerMode":"ORG_URL"}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 234.45825ms
    - id: 13
      request:
        host: classic-00.dne-okta.com
        body: |
            {}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://classic-00.dne-okta.com/api/v1/apps/0oakwu83tlHJR9Coj1d7/groups/00gkwu8e0lmfI2Ljs1d7
        method: PUT
      response:
        body: '{"id":"00gkwu8e0lmfI2Ljs1d7","lastUpdated":"2025-03-14T03:08:22.000Z","priority":0,"profile":{},"_links":{"app":{"href":"https://classic-00.dne-okta.com/api/v1/apps/0oakwu83tlHJR9Coj1d7"},"self":{"href":"https://classic-00.dne-okta.com/api/v1/apps/0oakwu83tlHJR9Coj1d7/groups/00gkwu8e0lmfI2Ljs1d7"},"group":{"href":"https://classic-00.dne-okta.com/api/v1/groups/00gkwu8e0lmfI2Ljs1d7"}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 255.536542ms
    - id: 14
      request:
        host: classic-00.dne-okta.com
        body: |
            {"priority":1}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://classic-00.dne-okta.com/api/v1/apps/0oakwu83tlHJR9Coj1d7/groups/00gkwu4zasAOytYF71d7
        method: PUT
      response:
        body: '{"id":"00gkwu4zasAOytYF71d7","lastUpdated":"2025-03-14T03:08:22.000Z","priority":1,"profile":{},"_links":{"app":{"href":"https://classic-00.dne-okta.com/api/v1/apps/0oakwu83tlHJR9Coj1d7"},"self":{"href":"https://classic-00.dne-okta.com/api/v1/apps/0oakwu83tlHJR9Coj1d7/groups/00gkwu4zasAOytYF71d7"},"group":{"href":"https://classic-00.dne-okta.com/api/v1/groups/00gkwu4zasAOytYF71d7"}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 433.888541ms
[...]
    - id: 17
      request:
        host: classic-00.dne-okta.com
        body: |
            {"priority":3}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://classic-00.dne-okta.com/api/v1/apps/0oakwu83tlHJR9Coj1d7/groups/00gkwu7goizR6wvsp1d7
        method: PUT
      response:
        body: '{"id":"00gkwu7goizR6wvsp1d7","lastUpdated":"2025-03-14T03:08:22.000Z","priority":3,"profile":{},"_links":{"app":{"href":"https://classic-00.dne-okta.com/api/v1/apps/0oakwu83tlHJR9Coj1d7"},"self":{"href":"https://classic-00.dne-okta.com/api/v1/apps/0oakwu83tlHJR9Coj1d7/groups/00gkwu7goizR6wvsp1d7"},"group":{"href":"https://classic-00.dne-okta.com/api/v1/groups/00gkwu7goizR6wvsp1d7"}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 361.738416ms
[...]
    - id: 69
      request:
        host: classic-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/apps/0oakwu83tlHJR9Coj1d7/lifecycle/deactivate
        method: POST
      response:
        body: '{}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 275.739292ms
[...]
