---
version: 2
interactions:
    - id: 0
      request:
        host: oie-00.dne-okta.com
        body: |
            {"profile":{"name":"TestACC Group 2866","description":"Group for issue 2866 test"}}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://oie-00.dne-okta.com/api/v1/groups
        method: POST
      response:
        body: '{"id":"00g2866TESTGROUP1d7","created":"2026-06-23T17:00:00.000Z","lastUpdated":"2026-06-23T17:00:00.000Z","lastMembershipUpdated":"2026-06-23T17:00:00.000Z","objectClass":["okta:user_group"],"type":"OKTA_GROUP","profile":{"name":"TestACC Group 2866","description":"Group for issue 2866 test"},"_links":{"logo":[{"name":"medium","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-medium.30ce6d4085dff29412984e4c191bc874.png","type":"image/png"},{"name":"large","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-large.c3cb8cda8ae0add1b4fe928f5844dbe3.png","type":"image/png"}],"users":{"href":"https://oie-00.dne-okta.com/api/v1/groups/00g2866TESTGROUP1d7/users"},"apps":{"href":"https://oie-00.dne-okta.com/api/v1/groups/00g2866TESTGROUP1d7/apps"}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 200ms
    - id: 1
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/groups/00g2866TESTGROUP1d7
        method: GET
      response:
        body: '{"id":"00g2866TESTGROUP1d7","created":"2026-06-23T17:00:00.000Z","lastUpdated":"2026-06-23T17:00:00.000Z","lastMembershipUpdated":"2026-06-23T17:00:00.000Z","objectClass":["okta:user_group"],"type":"OKTA_GROUP","profile":{"name":"TestACC Group 2866","description":"Group for issue 2866 test"},"_links":{"logo":[{"name":"medium","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-medium.30ce6d4085dff29412984e4c191bc874.png","type":"image/png"},{"name":"large","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-large.c3cb8cda8ae0add1b4fe928f5844dbe3.png","type":"image/png"}],"users":{"href":"https://oie-00.dne-okta.com/api/v1/groups/00g2866TESTGROUP1d7/users"},"apps":{"href":"https://oie-00.dne-okta.com/api/v1/groups/00g2866TESTGROUP1d7/apps"}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 200ms
    - id: 2
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/groups/00g2866TESTGROUP1d7/users/00u2866TESTUSER1d7
        method: PUT
      response:
        body: ""
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
        status: 204 No Content
        code: 204
        duration: 200ms
    - id: 3
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/groups/00g2866TESTGROUP1d7/users?limit=200
        method: GET
      response:
        body: '[{"id":"00u2866TESTUSER1d7","status":"PROVISIONED","created":"2026-06-23T17:00:00.000Z","activated":"2026-06-23T17:00:00.000Z","statusChanged":"2026-06-23T17:00:00.000Z","lastLogin":null,"lastUpdated":"2026-06-23T17:00:00.000Z","passwordChanged":null,"type":{"id":"oty5qwjvh0Vy1j8Kd1d7"},"profile":{"firstName":"TestAcc1","lastName":"User","mobilePhone":null,"secondEmail":null,"login":"testAcc1-2866@example.com","email":"testAcc1-2866@example.com"},"credentials":{"provider":{"type":"OKTA","name":"OKTA"}},"_links":{"self":{"href":"https://oie-00.dne-okta.com/api/v1/users/00u2866TESTUSER1d7"}}}]'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
            Link:
                - <https://oie-00.dne-okta.com/api/v1/groups/00g2866TESTGROUP1d7/users?limit=200>; rel="self"
        status: 200 OK
        code: 200
        duration: 200ms
[...]
    - id: 7
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/groups/00g2866TESTGROUP1d7/users/00u2866TESTUSER2d7
        method: PUT
      response:
        body: '{"errorCode":"E0000006","errorSummary":"You do not have permission to perform the requested action","errorLink":"E0000006","errorId":"oaeKxtVirzPR_6HFPolr3wbNw","errorCauses":[]}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 403 Forbidden
        code: 403
        duration: 200ms
[...]
