---
version: 2
interactions:
    - id: 0
      request:
        host: oie-00.dne-okta.com
        body: |
            {"label":"testAcc_394407960","description":"A test resource set for initial resource change test","resources":["https://oie-00.dne-okta.com/api/v1/users"]}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://oie-00.dne-okta.com/api/v1/iam/resource-sets
        method: POST
      response:
        body: '{"id":"iamt7cu82qfSaFkkH697","label":"testAcc_394407960","description":"A test resource set for initial resource change test","created":"2025-07-14T14:59:27.000Z","lastUpdated":"2025-07-14T14:59:27.000Z","_links":{"bindings":{"href":"https://oie-00.dne-okta.com/api/v1/iam/resource-sets/iamt7cu82qfSaFkkH697/bindings"},"self":{"href":"https://oie-00.dne-okta.com/api/v1/iam/resource-sets/iamt7cu82qfSaFkkH697"},"resources":{"href":"https://oie-00.dne-okta.com/api/v1/iam/resource-sets/iamt7cu82qfSaFkkH697/resources"}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
            Link:
                - <https://oie-00.dne-okta.com/api/v1/iam/resource-sets/iamt7cu82qfSaFkkH697>; rel="self"
        status: 200 OK
        code: 200
        duration: 677.311167ms
    - id: 1
      request:
        host: oie-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/iam/resource-sets/iamt7cu82qfSaFkkH697
        method: GET
      response:
        body: '{"id":"iamt7cu82qfSaFkkH697","label":"testAcc_394407960","description":"A test resource set for initial resource change test","created":"2025-07-14T14:59:27.000Z","lastUpdated":"2025-07-14T14:59:27.000Z","_links":{"bindings":{"href":"https://oie-00.dne-okta.com/api/v1/iam/resource-sets/iamt7cu82qfSaFkkH697/bindings"},"self":{"href":"https://oie-00.dne-okta.com/api/v1/iam/resource-sets/iamt7cu82qfSaFkkH697"},"resources":{"href":"https://oie-00.dne-okta.com/api/v1/iam/resource-sets/iamt7cu82qfSaFkkH697/resources"}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
            Link:
                - <https://oie-00.dne-okta.com/api/v1/iam/resource-sets/iamt7cu82qfSaFkkH697>; rel="self"
        status: 200 OK
        code: 200
        duration: 658.330083ms
    - id: 2
      request:
        host: oie-00.dne-okta.com
        form:
            limit:
                - "200"
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/iam/resource-sets/iamt7cu82qfSaFkkH697/resources?limit=200
        method: GET
      response:
        body: '{"resources":[{"id":"iret7cu82rypLisvB697","orn":"orn:okta:directory:00osd501x0KyUtOul697:users","created":"2025-07-14T14:59:27.000Z","lastUpdated":"2025-07-14T14:59:27.000Z","_links":{"self":{"href":"https://oie-00.dne-okta.com/api/v1/users"},"resource":{"href":"https://oie-00.dne-okta.com/api/v1/iam/resource-sets/iamt7cu82qfSaFkkH697/resources/iret7cu82rypLisvB697"},"users":{"href":"https://oie-00.dne-okta.com/api/v1/users"}}}],"_links":{"resource-set":{"href":"https://oie-00.dne-okta.com/api/v1/iam/resource-sets/iamt7cu82qfSaFkkH697"},"self":{"href":"https://oie-00.dne-okta.com/api/v1/iam/resource-sets/iamt7cu82qfSaFkkH697/resources"}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
            Link:
                - <https://oie-00.dne-okta.com/api/v1/iam/resource-sets/iamt7cu82qfSaFkkH697/resources>; rel="self"
        status: 200 OK
        code: 200
        duration: 656.027083ms
[...]
    - id: 11
      request:
        host: oie-00.dne-okta.com
        body: |
            {"profile":{"name":"testAcc_394407960_group_updated","description":"Test group for updated resource change test"}}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://oie-00.dne-okta.com/api/v1/groups
        method: POST
      response:
        body: '{"id":"00gt7d0rnnQzoRLab697","created":"2025-07-14T14:59:36.000Z","lastUpdated":"2025-07-14T14:59:36.000Z","lastMembershipUpdated":"2025-07-14T14:59:36.000Z","objectClass":["okta:user_group"],"type":"OKTA_GROUP","profile":{"name":"testAcc_394407960_group_updated","description":"Test group for updated resource change test"},"_links":{"logo":[{"name":"medium","href":"https://ok14static.oktacdn.com/assets/img/logos/groups/odyssey/okta-medium.30ce6d4085dff29412984e4c191bc874.png","type":"image/png"},{"name":"large","href":"https://ok14static.oktacdn.com/assets/img/logos/groups/odyssey/okta-large.c3cb8cda8ae0add1b4fe928f5844dbe3.png","type":"image/png"}],"users":{"href":"https://oie-00.dne-okta.com/api/v1/groups/00gt7d0rnnQzoRLab697/users"},"apps":{"href":"https://oie-00.dne-okta.com/api/v1/groups/00gt7d0rnnQzoRLab697/apps"}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 846.940083ms
    - id: 12
      request:
        host: oie-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/groups/00gt7d0rnnQzoRLab697
        method: GET
      response:
        body: '{"id":"00gt7d0rnnQzoRLab697","created":"2025-07-14T14:59:36.000Z","lastUpdated":"2025-07-14T14:59:36.000Z","lastMembershipUpdated":"2025-07-14T14:59:36.000Z","objectClass":["okta:user_group"],"type":"OKTA_GROUP","profile":{"name":"testAcc_394407960_group_updated","description":"Test group for updated resource change test"},"_links":{"logo":[{"name":"medium","href":"https://ok14static.oktacdn.com/assets/img/logos/groups/odyssey/okta-medium.30ce6d4085dff29412984e4c191bc874.png","type":"image/png"},{"name":"large","href":"https://ok14static.oktacdn.com/assets/img/logos/groups/odyssey/okta-large.c3cb8cda8ae0add1b4fe928f5844dbe3.png","type":"image/png"}],"users":{"href":"https://oie-00.dne-okta.com/api/v1/groups/00gt7d0rnnQzoRLab697/users"},"apps":{"href":"https://oie-00.dne-okta.com/api/v1/groups/00gt7d0rnnQzoRLab697/apps"}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 661.828875ms
[...]
    - id: 15
      request:
        host: oie-00.dne-okta.com
        body: |
            {"additions":["https://oie-00.dne-okta.com/api/v1/groups/00gt7d0rnnQzoRLab697"]}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://oie-00.dne-okta.com/api/v1/iam/resource-sets/iamt7cu82qfSaFkkH697/resources
        method: PATCH
      response:
        body: '{"id":"iamt7cu82qfSaFkkH697","label":"testAcc_394407960","description":"A test resource set for updated resource change test","created":"2025-07-14T14:59:27.000Z","lastUpdated":"2025-07-14T14:59:38.000Z","_links":{"bindings":{"href":"https://oie-00.dne-okta.com/api/v1/iam/resource-sets/iamt7cu82qfSaFkkH697/bindings"},"self":{"href":"https://oie-00.dne-okta.com/api/v1/iam/resource-sets/iamt7cu82qfSaFkkH697"},"resources":{"href":"https://oie-00.dne-okta.com/api/v1/iam/resource-sets/iamt7cu82qfSaFkkH697/resources"}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
            Link:
                - <https://oie-00.dne-okta.com/api/v1/iam/resource-sets/iamt7cu82qfSaFkkH697>; rel="self"
        status: 200 OK
        code: 200
        duration: 688.716ms
[...]
