---
version: 2
interactions:
    - id: 0
      request:
        host: classic-00.dne-okta.com
        body: |
            {"name":"testAcc_1886090734","settings":{"granularity":"LAT_LONG","maxEventsUsedForEvaluation":50,"minEventsNeededForEvaluation":0,"radiusKilometers":20},"status":"ACTIVE","type":"ANOMALOUS_LOCATION"}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://classic-00.dne-okta.com/api/v1/behaviors
        method: POST
      response:
        body: '{"id":"bhvphjcr90qjZ3ytN1d7","name":"testAcc_1886090734","status":"ACTIVE","settings":{"minEventsNeededForEvaluation":0,"maxEventsUsedForEvaluation":50,"granularity":"LAT_LONG","radiusKilometers":20.0},"type":"ANOMALOUS_LOCATION","created":"2025-08-25 08:25:43.0","lastUpdated":"2025-08-25 08:25:43.0","_links":{"self":{"href":"https://classic-00.dne-okta.com/api/v1/behaviors/bhvphjcr90qjZ3ytN1d7","hints":{"allow":["GET","PUT","DELETE"]}},"deactivate":{"href":"https://classic-00.dne-okta.com/api/v1/behaviors/bhvphjcr90qjZ3ytN1d7/lifecycle/deactivate","hints":{"allow":["POST"]}}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.110391125s
    - id: 1
      request:
        host: classic-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/behaviors/bhvphjcr90qjZ3ytN1d7
        method: GET
      response:
        body: '{"id":"bhvphjcr90qjZ3ytN1d7","name":"testAcc_1886090734","status":"ACTIVE","settings":{"minEventsNeededForEvaluation":0,"maxEventsUsedForEvaluation":50,"granularity":"LAT_LONG","radiusKilometers":20.0},"type":"ANOMALOUS_LOCATION","created":"2025-08-25 08:25:43.0","lastUpdated":"2025-08-25 08:25:43.0","_links":{"self":{"href":"https://classic-00.dne-okta.com/api/v1/behaviors/bhvphjcr90qjZ3ytN1d7","hints":{"allow":["GET","PUT","DELETE"]}},"deactivate":{"href":"https://classic-00.dne-okta.com/api/v1/behaviors/bhvphjcr90qjZ3ytN1d7/lifecycle/deactivate","hints":{"allow":["POST"]}}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.01453025s
[...]
    - id: 9
      request:
        host: classic-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/behaviors/bhvphjcr90qjZ3ytN1d7/lifecycle/deactivate
        method: POST
      response:
        body: '{"id":"bhvphjcr90qjZ3ytN1d7","name":"testAcc_1886090734_updated","status":"INACTIVE","settings":{"minEventsNeededForEvaluation":0,"maxEventsUsedForEvaluation":100,"granularity":"LAT_LONG","radiusKilometers":5.0},"type":"ANOMALOUS_LOCATION","created":"2025-08-25 08:25:43.0","lastUpdated":"2025-08-25 08:25:53.0","_links":{"activate":{"href":"https://classic-00.dne-okta.com/api/v1/behaviors/bhvphjcr90qjZ3ytN1d7/lifecycle/activate","hints":{"allow":["POST"]}},"self":{"href":"https://classic-00.dne-okta.com/api/v1/behaviors/bhvphjcr90qjZ3ytN1d7","hints":{"allow":["GET","PUT","DELETE"]}}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.04853525s
[...]
