---
version: 2
interactions:
    - id: 0
      request:
        host: oie-00.dne-okta.com
        body: |
            {"id":"","name":"testAcc_1886090734","status":"ACTIVE","settings":{"granularity":"LAT_LONG","maxEventsUsedForEvaluation":50,"radiusKilometers":20},"type":"ANOMALOUS_LOCATION"}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://oie-00.dne-okta.com/api/v1/behaviors
        method: POST
      response:
        body: '{"id":"bhvkwr5hkfdyOomHb1d7","name":"testAcc_1886090734","status":"ACTIVE","settings":{"minEventsNeededForEvaluation":0,"maxEventsUsedForEvaluation":50,"granularity":"LAT_LONG","radiusKilometers":20.0},"type":"ANOMALOUS_LOCATION","created":"2025-03-13 23:34:43.0","lastUpdated":"2025-03-13 23:34:43.0","_links":{"self":{"href":"https://oie-00.dne-okta.com/api/v1/behaviors/bhvkwr5hkfdyOomHb1d7","hints":{"allow":["GET","PUT","DELETE"]}},"deactivate":{"href":"https://oie-00.dne-okta.com/api/v1/behaviors/bhvkwr5hkfdyOomHb1d7/lifecycle/deactivate","hints":{"allow":["POST"]}}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 336.593625ms
    - id: 1
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/behaviors/bhvkwr5hkfdyOomHb1d7
        method: GET
      response:
        body: '{"id":"bhvkwr5hkfdyOomHb1d7","name":"testAcc_1886090734","status":"ACTIVE","settings":{"minEventsNeededForEvaluation":0,"maxEventsUsedForEvaluation":50,"granularity":"LAT_LONG","radiusKilometers":20.0},"type":"ANOMALOUS_LOCATION","created":"2025-03-13 23:34:43.0","lastUpdated":"2025-03-13 23:34:43.0","_links":{"self":{"href":"https://oie-00.dne-okta.com/api/v1/behaviors/bhvkwr5hkfdyOomHb1d7","hints":{"allow":["GET","PUT","DELETE"]}},"deactivate":{"href":"https://oie-00.dne-okta.com/api/v1/behaviors/bhvkwr5hkfdyOomHb1d7/lifecycle/deactivate","hints":{"allow":["POST"]}}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 221.431708ms
[...]
    - id: 9
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/behaviors/bhvkwr5hkfdyOomHb1d7/lifecycle/deactivate
        method: POST
      response:
        body: '{"id":"bhvkwr5hkfdyOomHb1d7","name":"testAcc_1886090734_updated","status":"INACTIVE","settings":{"minEventsNeededForEvaluation":0,"maxEventsUsedForEvaluation":100,"granularity":"LAT_LONG","radiusKilometers":5.0},"type":"ANOMALOUS_LOCATION","created":"2025-03-13 23:34:43.0","lastUpdated":"2025-03-13 23:34:47.0","_links":{"activate":{"href":"https://oie-00.dne-okta.com/api/v1/behaviors/bhvkwr5hkfdyOomHb1d7/lifecycle/activate","hints":{"allow":["POST"]}},"self":{"href":"https://oie-00.dne-okta.com/api/v1/behaviors/bhvkwr5hkfdyOomHb1d7","hints":{"allow":["GET","PUT","DELETE"]}}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 322.238792ms
[...]
