---
version: 2
interactions:
    - id: 0
      request:
        host: classic-00.dne-okta.com
        body: |
            {"description":"Terraform Acceptance Test User Type","displayName":"Terraform Acceptance Test User Type","name":"testAcc_2502672097"}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://classic-00.dne-okta.com/api/v1/meta/types/user
        method: POST
      response:
        body: '{"id":"oty9i7jksbFRM5sYX1d7","displayName":"Terraform Acceptance Test User Type","name":"testAcc_2502672097","description":"Terraform Acceptance Test User Type","createdBy":"00u5ptm07rHbDyowI1d7","lastUpdatedBy":"00u5ptm07rHbDyowI1d7","created":"2023-08-16T00:09:22.000Z","lastUpdated":"2023-08-16T00:09:22.000Z","default":false,"_links":{"schema":{"rel":"schema","href":"https://classic-00.oktapreview.com/api/v1/meta/schemas/user/osc9i7jksbFRM5sYX1d7","method":"GET"},"self":{"rel":"self","href":"https://classic-00.oktapreview.com/api/v1/meta/types/user/oty9i7jksbFRM5sYX1d7","method":"GET"}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 201.524261ms
    - id: 1
      request:
        host: classic-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/meta/types/user/oty9i7jksbFRM5sYX1d7
        method: GET
      response:
        body: '{"id":"oty9i7jksbFRM5sYX1d7","displayName":"Terraform Acceptance Test User Type","name":"testAcc_2502672097","description":"Terraform Acceptance Test User Type","createdBy":"00u5ptm07rHbDyowI1d7","lastUpdatedBy":"00u5ptm07rHbDyowI1d7","created":"2023-08-16T00:09:22.000Z","lastUpdated":"2023-08-16T00:09:22.000Z","default":false,"_links":{"schema":{"rel":"schema","href":"https://classic-00.oktapreview.com/api/v1/meta/schemas/user/osc9i7jksbFRM5sYX1d7","method":"GET"},"self":{"rel":"self","href":"https://classic-00.oktapreview.com/api/v1/meta/types/user/oty9i7jksbFRM5sYX1d7","method":"GET"}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 71.0856ms
[...]
    - id: 9
      request:
        host: classic-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/meta/types/user/oty9i7jksbFRM5sYX1d7
        method: GET
      response:
        body: '{"errorCode":"E0000007","errorSummary":"Not found: Resource not found: oty9i7jksbFRM5sYX1d7 (CVDType)","errorLink":"E0000007","errorId":"oae_istU3SZQku8AJCzQjA_bA","errorCauses":[]}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 63.140869ms
