---
version: 2
interactions:
    - id: 0
      request:
        host: oie-00.dne-okta.com
        body: |
            {"description":"Terraform Acceptance Test User Type","displayName":"Terraform Acceptance Test User Type","name":"testAcc_2502672097"}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://oie-00.dne-okta.com/api/v1/meta/types/user
        method: POST
      response:
        body: '{"id":"oty9i77i42tLCJXPi1d7","displayName":"Terraform Acceptance Test User Type","name":"testAcc_2502672097","description":"Terraform Acceptance Test User Type","createdBy":"00u5qwjvk7u6E1DFG1d7","lastUpdatedBy":"00u5qwjvk7u6E1DFG1d7","created":"2023-08-15T23:49:29.000Z","lastUpdated":"2023-08-15T23:49:29.000Z","default":false,"_links":{"schema":{"rel":"schema","href":"https://oie-00.oktapreview.com/api/v1/meta/schemas/user/osc9i77i42tLCJXPi1d7","method":"GET"},"self":{"rel":"self","href":"https://oie-00.oktapreview.com/api/v1/meta/types/user/oty9i77i42tLCJXPi1d7","method":"GET"}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 167.626697ms
    - id: 1
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/meta/types/user/oty9i77i42tLCJXPi1d7
        method: GET
      response:
        body: '{"id":"oty9i77i42tLCJXPi1d7","displayName":"Terraform Acceptance Test User Type","name":"testAcc_2502672097","description":"Terraform Acceptance Test User Type","createdBy":"00u5qwjvk7u6E1DFG1d7","lastUpdatedBy":"00u5qwjvk7u6E1DFG1d7","created":"2023-08-15T23:49:29.000Z","lastUpdated":"2023-08-15T23:49:29.000Z","default":false,"_links":{"schema":{"rel":"schema","href":"https://oie-00.oktapreview.com/api/v1/meta/schemas/user/osc9i77i42tLCJXPi1d7","method":"GET"},"self":{"rel":"self","href":"https://oie-00.oktapreview.com/api/v1/meta/types/user/oty9i77i42tLCJXPi1d7","method":"GET"}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 63.076038ms
[...]
    - id: 9
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/meta/types/user/oty9i77i42tLCJXPi1d7
        method: GET
      response:
        body: '{"errorCode":"E0000007","errorSummary":"Not found: Resource not found: oty9i77i42tLCJXPi1d7 (CVDType)","errorLink":"E0000007","errorId":"oaewGsZ21haQBGaxZEANtDJcQ","errorCauses":[]}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 64.889933ms
