---
version: 2
interactions:
    - id: 0
      request:
        host: classic-00.dne-okta.com
        body: |
            {"campaignType":"RESOURCE","description":"Multi app campaign","name":"Monthly access review of sales team","notificationSettings":{"notifyReviewPeriodEnd":false,"notifyReviewerAtCampaignEnd":false,"notifyReviewerDuringMidpointOfReview":false,"notifyReviewerWhenOverdue":false,"notifyReviewerWhenReviewAssigned":false},"principalScopeSettings":{"includeOnlyActiveUsers":false,"onlyIncludeUsersWithSODConflicts":false,"type":"USERS"},"remediationSettings":{"accessApproved":"NO_ACTION","accessRevoked":"NO_ACTION","noResponse":"NO_ACTION"},"resourceSettings":{"excludedResources":[],"includeAdminRoles":false,"includeEntitlements":true,"individuallyAssignedAppsOnly":false,"individuallyAssignedGroupsOnly":false,"onlyIncludeOutOfPolicyEntitlements":false,"targetResources":[{"includeAllEntitlementsAndBundles":false,"resourceId":"0oanlpd3xkLkePi3W1d7","resourceType":"APPLICATION"},{"includeAllEntitlementsAndBundles":true,"resourceId":"0oao01ardu8r8qUP91d7","resourceType":"APPLICATION"}],"type":"APPLICATION"},"reviewerSettings":{"bulkDecisionDisabled":true,"justificationRequired":true,"reassignmentDisabled":false,"reviewerId":"00up7fxeflB7BcC6J1d7","selfReviewDisabled":true,"type":"USER"},"scheduleSettings":{"durationInDays":21,"recurrence":{"interval":""},"startDate":"2025-10-04T13:43:40Z","timeZone":"America/Vancouver","type":"ONE_OFF"}}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://classic-00.dne-okta.com/governance/api/v1/campaigns
        method: POST
      response:
        body: '{"_links":{"launchCampaign":{"href":"https://classic-00-admin.dne-okta.com/governance/api/v1/campaigns/ici10fubf8UnNtvb91d7/launch","hints":{}},"endCampaign":{"href":"https://classic-00-admin.dne-okta.com/governance/api/v1/campaigns/ici10fubf8UnNtvb91d7/end","hints":{}},"reviews":{"href":"https://classic-00-admin.dne-okta.com/governance/api/v1/reviews?filter=campaignId%20eq%20%22ici10fubf8UnNtvb91d7%22","hints":{}},"self":{"href":"https://classic-00-admin.dne-okta.com/governance/api/v1/campaigns/ici10fubf8UnNtvb91d7","hints":{}}},"id":"ici10fubf8UnNtvb91d7","createdBy":"00unkw1sfbTw08c0g1d7","created":"2025-08-15T19:20:52Z","lastUpdated":"2025-08-15T19:20:52Z","lastUpdatedBy":"00unkw1sfbTw08c0g1d7","name":"Monthly access review of sales team","description":"Multi app campaign","campaignType":"RESOURCE","scheduleSettings":{"type":"ONE_OFF","startDate":"2025-10-04T06:43:40-07:00","durationInDays":21,"timeZone":"America/Vancouver","endDate":"2025-10-25T06:43:40-07:00"},"resourceSettings":{"type":"APPLICATION","targetResources":[{"resourceId":"0oao01ardu8r8qUP91d7","resourceType":"APPLICATION","includeAllEntitlementsAndBundles":true},{"resourceId":"0oanlpd3xkLkePi3W1d7","resourceType":"APPLICATION","includeAllEntitlementsAndBundles":false}],"excludedResources":[],"individuallyAssignedAppsOnly":false,"individuallyAssignedGroupsOnly":false,"includeEntitlements":true,"onlyIncludeOutOfPolicyEntitlements":false,"includeAdminRoles":false},"principalScopeSettings":{"type":"USERS","excludedUserIds":[],"userIds":[],"groupIds":[],"includeOnlyActiveUsers":false,"onlyIncludeUsersWithSODConflicts":false},"reviewerSettings":{"type":"USER","reviewerId":"00up7fxeflB7BcC6J1d7","selfReviewDisabled":true,"justificationRequired":true,"bulkDecisionDisabled":true,"reassignmentDisabled":false},"notificationSettings":{"notifyReviewerWhenReviewAssigned":false,"notifyReviewerAtCampaignEnd":false,"notifyReviewerWhenOverdue":false,"notifyReviewerDuringMidpointOfReview":false,"notifyReviewPeriodEnd":false},"remediationSettings":{"accessApproved":"NO_ACTION","accessRevoked":"NO_ACTION","noResponse":"NO_ACTION"},"status":"SCHEDULED"}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
            Location:
                - https://dcp-testing-oig-2025-06-26-admin.oktapreview.com/governance/api/v1/campaigns/ici10fubf8UnNtvb91d7
        status: 201 Created
        code: 201
        duration: 1.304423208s
    - id: 1
      request:
        host: classic-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/governance/api/v1/campaigns/ici10fubf8UnNtvb91d7
        method: GET
      response:
        body: '{"_links":{"launchCampaign":{"href":"https://classic-00-admin.dne-okta.com/governance/api/v1/campaigns/ici10fubf8UnNtvb91d7/launch","hints":{}},"endCampaign":{"href":"https://classic-00-admin.dne-okta.com/governanc[...]
[...]
