---
version: 2
interactions:
    - id: 0
      request:
        host: oie-00.dne-okta.com
        body: |
            {"credentials":{"password":{}},"profile":{"email":"testAcc-2236853961@example.com","firstName":"TestAcc","lastName":"Smith","login":"testAcc-2236853961@example.com","postalAddress":null}}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://oie-00.dne-okta.com/api/v1/users
        method: POST
      response:
        body: '{"id":"00up3k0y6zY7Ga9Ew1d7","status":"PROVISIONED","created":"2025-08-12T13:19:59.000Z","activated":"2025-08-12T13:19:59.000Z","statusChanged":"2025-08-12T13:19:59.000Z","lastLogin":null,"lastUpdated":"2025-08-12T13:19:59.000Z","passwordChanged":null,"realmId":"guonkwfhlqM6PFD8m1d7","type":{"id":"otynkw1sdzpoFCZMq1d7"},"profile":{"firstName":"TestAcc","lastName":"Smith","mobilePhone":null,"secondEmail":null,"login":"testAcc-2236853961@example.com","email":"testAcc-2236853961@example.com"},"credentials":{"provider":{"type":"OKTA","name":"OKTA"}},"_links":{"suspend":{"href":"https://oie-00.dne-okta.com/api/v1/users/00up3k0y6zY7Ga9Ew1d7/lifecycle/suspend","method":"POST"},"schema":{"href":"https://oie-00.dne-okta.com/api/v1/meta/schemas/user/oscnkw1sdzpoFCZMq1d7"},"resetPassword":{"href":"https://oie-00.dne-okta.com/api/v1/users/00up3k0y6zY7Ga9Ew1d7/lifecycle/reset_password","method":"POST"},"reactivate":{"href":"https://oie-00.dne-okta.com/api/v1/users/00up3k0y6zY7Ga9Ew1d7/lifecycle/reactivate","method":"POST"},"self":{"href":"https://oie-00.dne-okta.com/api/v1/users/00up3k0y6zY7Ga9Ew1d7"},"resetFactors":{"href":"https://oie-00.dne-okta.com/api/v1/users/00up3k0y6zY7Ga9Ew1d7/lifecycle/reset_factors","method":"POST"},"type":{"href":"https://oie-00.dne-okta.com/api/v1/meta/types/user/otynkw1sdzpoFCZMq1d7"},"deactivate":{"href":"https://oie-00.dne-okta.com/api/v1/users/00up3k0y6zY7Ga9Ew1d7/lifecycle/deactivate","method":"POST"}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 2.315329208s
    - id: 1
      request:
        host: oie-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/users/00up3k0y6zY7Ga9Ew1d7
        method: GET
      response:
        body: '{"id":"00up3k0y6zY7Ga9Ew1d7","status":"PROVISIONED","created":"2025-08-12T13:19:59.000Z","activated":"2025-08-12T13:19:59.000Z","statusChanged":"2025-08-12T13:19:59.000Z","lastLogin":null,"lastUpdated":"2025-08-12T13:19:59.000Z","passwor[...]
[...]
