---
version: 2
interactions:
    - id: 0
      request:
        host: classic-00.dne-okta.com
        body: |
            {"profile":{"name":"foo_4216102407","description":""}}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://classic-00.dne-okta.com/api/v1/groups
        method: POST
      response:
        body: '{"id":"00g9i7a2r9W3bfG2Q1d7","created":"2023-08-15T23:54:33.000Z","lastUpdated":"2023-08-15T23:54:33.000Z","lastMembershipUpdated":"2023-08-15T23:54:33.000Z","objectClass":["okta:user_group"],"type":"OKTA_GROUP","profile":{"name":"foo_4216102407","description":""},"_links":{"logo":[{"name":"medium","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-medium.30ce6d4085dff29412984e4c191bc874.png","type":"image/png"},{"name":"large","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-large.c3cb8cda8ae0add1b4fe928f5844dbe3.png","type":"image/png"}],"users":{"href":"https://classic-00.oktapreview.com/api/v1/groups/00g9i7a2r9W3bfG2Q1d7/users"},"apps":{"href":"https://classic-00.oktapreview.com/api/v1/groups/00g9i7a2r9W3bfG2Q1d7/apps"}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 161.112872ms
    - id: 1
      request:
        host: classic-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/groups/00g9i7a2r9W3bfG2Q1d7
        method: GET
      response:
        body: '{"id":"00g9i7a2r9W3bfG2Q1d7","created":"2023-08-15T23:54:33.000Z","lastUpdated":"2023-08-15T23:54:33.000Z","lastMembershipUpdated":"2023-08-15T23:54:33.000Z","objectClass":["okta:user_group"],"type":"OKTA_GROUP","profile":{"name":"foo_4216102407","description":""},"_links":{"logo":[{"name":"medium","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-medium.30ce6d4085dff29412984e4c191bc874.png","type":"image/png"},{"name":"large","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-large.c3cb8cda8ae0add1b4fe928f5844dbe3.png","type":"image/png"}],"users":{"href":"https://classic-00.oktapreview.com/api/v1/groups/00g9i7a2r9W3bfG2Q1d7/users"},"apps":{"href":"https://classic-00.oktapreview.com/api/v1/groups/00g9i7a2r9W3bfG2Q1d7/apps"}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 59.312808ms
[...]
    - id: 3
      request:
        host: classic-00.dne-okta.com
        body: |
            {"credentials":{"password":{}},"profile":{"email":"john_4216102407@ledzeppelin.com","firstName":"TestAcc","lastName":"Jones","login":"john_4216102407@ledzeppelin.com","postalAddress":null}}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://classic-00.dne-okta.com/api/v1/users
        method: POST
      response:
        body: '{"id":"00u9i7ch47gwoMXxE1d7","status":"PROVISIONED","created":"2023-08-15T23:54:33.000Z","activated":"2023-08-15T23:54:33.000Z","statusChanged":"2023-08-15T23:54:33.000Z","lastLogin":null,"lastUpdated":"2023-08-15T23:54:33.000Z","passwordChanged":null,"type":{"id":"oty5ptm052JMcoADv1d7"},"profile":{"firstName":"TestAcc","lastName":"Jones","mobilePhone":null,"secondEmail":null,"login":"john_4216102407@ledzeppelin.com","email":"john_4216102407@ledzeppelin.com"},"credentials":{"provider":{"type":"OKTA","name":"OKTA"}},"_links":{"suspend":{"href":"https://classic-00.oktapreview.com/api/v1/users/00u9i7ch47gwoMXxE1d7/lifecycle/suspend","method":"POST"},"schema":{"href":"https://classic-00.oktapreview.com/api/v1/meta/schemas/user/osc5ptm052JMcoADv1d7"},"resetPassword":{"href":"https://classic-00.oktapreview.com/api/v1/users/00u9i7ch47gwoMXxE1d7/lifecycle/reset_password","method":"POST"},"reactivate":{"href":"https://classic-00.oktapreview.com/api/v1/users/00u9i7ch47gwoMXxE1d7/lifecycle/reactivate","method":"POST"},"self":{"href":"https://classic-00.oktapreview.com/api/v1/users/00u9i7ch47gwoMXxE1d7"},"type":{"href":"https://classic-00.oktapreview.com/api/v1/meta/types/user/oty5ptm052JMcoADv1d7"},"deactivate":{"href":"https://classic-00.oktapreview.com/api/v1/users/00u9i7ch47gwoMXxE1d7/lifecycle/deactivate","method":"POST"}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 398.539251ms
[...]
    - id: 7
      request:
        host: classic-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/users/00u9i7ch47gwoMXxE1d7
        method: GET
      response:
        body: '{"id":"00u9i7ch47gwoMXxE1d7","status":"PROVISIONED","created":"2023-08-15T23:54:33.000Z","activated":"2023-08-15T23:54:33.000Z","statusChanged":"2023-08-15T23:54:33.000Z","lastLogin":null,"lastUp[...]
    - id: 8
      request:
        host: classic-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/users/00u9i7e4ypA7v4Icz1d7
        method: GET
      response:
        body: '{"id":"00u9i7e4ypA7v4Icz1d7","status":"PROVISIONED","created":"2023-08-15T23:54:33.000Z","activated":"2023-08-15T23:54:33.000Z","statusChanged":"2023-08-15T23:54:33.000Z","lastLogin":null,"lastUp[...]
    - id: 9
      request:
        host: classic-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/users/00u9i7bfnfNXLnDkM1d7
        method: GET
      response:
        body: '{"id":"00u9i7bfnfNXLnDkM1d7","status":"PROVISIONED","created":"2023-08-15T23:54:33.000Z","activated":"2023-08-15T23:54:33.000Z","statusChanged":"2023-08-15T23:54:33.000Z","lastLogin":null,"lastUp[...]
    - id: 10
      request:
        host: classic-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/users/00u9i76wtxvI7LpFi1d7
        method: GET
      response:
        body: '{"id":"00u9i76wtxvI7LpFi1d7","status":"PROVISIONED","created":"2023-08-15T23:54:33.000Z","activated":"2023-08-15T23:54:33.000Z","statusChanged":"2023-08-15T23:54:33.000Z","lastLogin":null,"lastU[...]
    - id: 11
      request:
        host: classic-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/groups/00g9i7a2r9W3bfG2Q1d7/users/00u9i76wtxvI7LpFi1d7
        method: PUT
      response:
        body: ""
        headers:
        status: 204 No Content
        code: 204
        duration: 76.906033ms
    - id: 12
      request:
        host: classic-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/groups/00g9i7a2r9W3bfG2Q1d7/users/00u9i7ch47gwoMXxE1d7
        method: PUT
      response:
        body: ""
        headers:
        status: 204 No Content
        code: 204
        duration: 104.306031ms
    - id: 13
      request:
        host: classic-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/groups/00g9i7a2r9W3bfG2Q1d7/users?limit=200
        method: GET
      response:
        body: '[{"id":"00u9i76wtxvI7LpFi1d7","status":"PROVISIONED","created":"2023-08-15T23:54:33.000Z","activated":"2023-08-15T23:54:33.000Z","statusChanged":"2023-08-15T23:54:33.000Z","last[...]
[...]
