---
version: 2
interactions:
    - id: 0
      request:
        host: oie-00.dne-okta.com
        body: |
            {"profile":{"name":"testAcc1_1383288695","description":"Test group for acceptance testing"}}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://oie-00.dne-okta.com/api/v1/groups
        method: POST
      response:
        body: '{"id":"00gtfbaqltaKqrsyh697","created":"2025-07-21T05:02:46.000Z","lastUpdated":"2025-07-21T05:02:46.000Z","lastMembershipUpdated":"2025-07-21T05:02:46.000Z","objectClass":["okta:user_group"],"type":"OKTA_GROUP","profile":{"name":"testAcc1_1383288695","description":"Test group for acceptance testing"},"_links":{"logo":[{"name":"medium","href":"https://ok14static.oktacdn.com/assets/img/logos/groups/odyssey/okta-medium.30ce6d4085dff29412984e4c191bc874.png","type":"image/png"},{"name":"large","href":"https://ok14static.oktacdn.com/assets/img/logos/groups/odyssey/okta-large.c3cb8cda8ae0add1b4fe928f5844dbe3.png","type":"image/png"}],"users":{"href":"https://oie-00.dne-okta.com/api/v1/groups/00gtfbaqltaKqrsyh697/users"},"apps":{"href":"https://oie-00.dne-okta.com/api/v1/groups/00gtfbaqltaKqrsyh697/apps"}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 886.403583ms
    - id: 1
      request:
        host: oie-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/groups/00gtfbaqltaKqrsyh697
        method: GET
      response:
        body: '{"id":"00gtfbaqltaKqrsyh697","created":"2025-07-21T05:02:46.000Z","lastUpdated":"2025-07-21T05:02:46.000Z","lastMembershipUpdated":"2025-07-21T05:02:46.000Z","objectClass":["okta:user_group"],"type":"OKTA_GROUP","profile":{"name":"testAcc1_1383288695","description":"Test group for acceptance testing"},"_links":{"logo":[{"name":"medium","href":"https://ok14static.oktacdn.com/assets/img/logos/groups/odyssey/okta-medium.30ce6d4085dff29412984e4c191bc874.png","type":"image/png"},{"name":"large","href":"https://ok14static.oktacdn.com/assets/img/logos/groups/odyssey/okta-large.c3cb8cda8ae0add1b4fe928f5844dbe3.png","type":"image/png"}],"users":{"href":"https://oie-00.dne-okta.com/api/v1/groups/00gtfbaqltaKqrsyh697/users"},"apps":{"href":"https://oie-00.dne-okta.com/api/v1/groups/00gtfbaqltaKqrsyh697/apps"}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 641.727375ms
[...]
    - id: 3
      request:
        host: oie-00.dne-okta.com
        body: |
            {"actions":{"assignUserToGroups":{"groupIds":["00gtfbaqltaKqrsyh697"]}},"conditions":{"expression":{"type":"urn:okta:expression:1.0","value":"(user.firstName == \"TestAcc\""},"people":{"users":{}}},"name":"testAcc1_1383288695","type":"group_rule"}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://oie-00.dne-okta.com/api/v1/groups/rules
        method: POST
      response:
        body: '{"errorCode":"E0000001","errorSummary":"Api validation failed: validateRule","errorLink":"E0000001","errorId":"oaeI_r-JGqQTrKJGfFYY7X0Fw","errorCauses":[{"errorSummary":"Invalid expression syntax (user.firstName == \"TestAcc\""},{"errorSummary":"conditions: Invalid expression"}]}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 400 Bad Request
        code: 400
        duration: 691.087167ms
[...]
    - id: 7
      request:
        host: oie-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/groups/00gtfbn14pUsmYpRp697
        method: GET
      response:
        body: '{"id":"00gtfbn14pUsmYpRp697","created":"2025-07-21T05:02:50.000Z","lastUpdated":"2025-07-21T05:02:50.000Z","lastMembershipUpdated":"2025-07-21T05:02:50.000Z","objectClass":["okta:user_group"],"type":"OKTA_GROUP","profile":{"name":"testAcc2_1383288695","description":""},"_links":{"logo":[{"name":"medium","href":"https://ok14static.oktacdn.com/assets/img/logos/groups/odyssey/okta-medium.30ce6d4085dff29412984e4c191bc874.png","type":"image/png"},{"name":"large","href":"https://ok14static.oktacdn.com/assets/img/logos/groups/odyssey/okta-large.c3cb8cda8ae0add1b4fe928f5844dbe3.png","type":"image/png"}],"users":{"href":"https://oie-00.dne-okta.com/api/v1/groups/00gtfbn14pUsmYpRp697/users"},"apps":{"href":"https://oie-00.dne-okta.com/api/v1/groups/00gtfbn14pUsmYpRp697/apps"}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 654.477ms
[...]
    - id: 13
      request:
        host: oie-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/groups/00gtfbriilWNYZTYf697
        method: GET
      response:
        body: '{"id":"00gtfbriilWNYZTYf697","created":"2025-07-21T05:02:54.000Z","lastUpdated":"2025-07-21T05:02:54.000Z","lastMembershipUpdated":"2025-07-21T05:02:54.000Z","objectClass":["okta:user_group"],"type":"OKTA_GROUP","profile":{"name":"testAcc3_1383288695","description":"Test group for acceptance testing"},"_links":{"logo":[{"name":"medium","href":"https://ok14static.oktacdn.com/assets/img/logos/groups/odyssey/okta-medium.30ce6d4085dff29412984e4c191bc874.png","type":"image/png"},{"name":"large","href":"https://ok14static.oktacdn.com/assets/img/logos/groups/odyssey/okta-large.c3cb8cda8ae0add1b4fe928f5844dbe3.png","type":"image/png"}],"users":{"href":"https://oie-00.dne-okta.com/api/v1/groups/00gtfbriilWNYZTYf697/users"},"apps":{"href":"https://oie-00.dne-okta.com/api/v1/groups/00gtfbriilWNYZTYf697/apps"}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 648.919875ms
[...]
