---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/groups?limit=1&q=Everyone
    method: GET
  response:
    body: '[{"id":"00g5qwjvgrD3WR89l1d7","created":"2022-10-07T23:16:57.000Z","lastUpdated":"2022-10-07T23:16:57.000Z","lastMembershipUpdated":"2023-04-06T19:27:29.000Z","objectClass":["okta:user_group"],"type":"BUILT_IN","profile":{"name":"Everyone","description":"All users in your organization"},"_links":{"logo":[{"name":"medium","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-medium.1a5ebe44c4244fb796c235d86b47e3bb.png","type":"image/png"},{"name":"large","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-large.d9cfbd8a00a4feac1aa5612ba02e99c0.png","type":"image/png"}],"users":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/groups/00g5qwjvgrD3WR89l1d7/users"},"apps":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/groups/00g5qwjvgrD3WR89l1d7/apps"}}}]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: |
      {"channel":{"config":{"authScheme":{"key":"Authorization","type":"HEADER","value":"123"},"method":"POST","uri":"https://example.com/test"},"type":"HTTP","version":"1.0.0"},"name":"testAcc_1510890055","status":"ACTIVE","type":"com.okta.oauth2.tokens.transform","version":"1.0.1"}
    form: {}
    headers:
      Authorization:
      - SSWS REDACTED
      Content-Type:
      - application/json
    url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/inlineHooks
    method: POST
  response:
    body: '{"id":"cal7l8fhp3fWF1ktv1d7","status":"ACTIVE","name":"testAcc_1510890055","type":"com.okta.oauth2.tokens.transform","version":"1.0.1","channel":{"type":"HTTP","version":"1.0.0","config":{"uri":"https://example.com/test","headers":[],"method":"POST","authScheme":{"type":"HEADER","key":"Authorization"}}},"created":"2023-04-06T19:28:20.000Z","lastUpdated":"2023-04-06T19:28:20.000Z","_links":{"self":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/inlineHooks/cal7l8fhp3fWF1ktv1d7"},"execute":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/inlineHooks/cal7l8fhp3fWF1ktv1d7/execute","hints":{"allow":["POST"]}},"deactivate":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/inlineHooks/cal7l8fhp3fWF1ktv1d7/lifecycle/deactivate","hints":{"allow":["POST"]}}}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/inlineHooks/cal7l8fhp3fWF1ktv1d7
    method: GET
  response:
    body: '{"id":"cal7l8fhp3fWF1ktv1d7","status":"ACTIVE","name":"testAcc_1510890055","type":"com.okta.oauth2.tokens.transform","version":"1.0.1","channel":{"type":"HTTP","version":"1.0.0","config":{"uri":"https://example.com/test","headers":[],"method":"POST","authScheme":{"type":"HEADER","key":"Authorization"}}},"created":"2023-04-06T19:28:20.000Z","lastUpdated":"2023-04-06T19:28:20.000Z","_links":{"self":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/inlineHooks/cal7l8fhp3fWF1ktv1d7"},"execute":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/inlineHooks/cal7l8fhp3fWF1ktv1d7/execute","hints":{"allow":["POST"]}},"deactivate":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/inlineHooks/cal7l8fhp3fWF1ktv1d7/lifecycle/deactivate","hints":{"allow":["POST"]}}}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"audiences":["whatever.rise.zone"],"credentials":{"signing":{"rotationMode":"AUTO"}},"description":"test","issuerMode":"ORG_URL","name":"testAcc_1510890055"}
    form: {}
    headers:
      Authorization:
      - SSWS REDACTED
      Content-Type:
      - application/json
    url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/authorizationServers
    method: POST
  response:
    body: '{"id":"aus7l8ermmucJPGlN1d7","name":"testAcc_1510890055","description":"test","audiences":["whatever.rise.zone"],"issuer":"https://mm-oie-2022-10-07-max.oktapreview.com/oauth2/aus7l8ermmucJPGlN1d7","issuerMode":"ORG_URL","status":"ACTIVE","created":"2023-04-06T19:28:20.000Z","lastUpdated":"2023-04-06T19:28:20.000Z","credentials":{"signing":{"kid":"liQfN_tH36jVYSpeH66MYKeN3KP2Gs-1kDRq979GpBg","rotationMode":"AUTO","lastRotated":"2023-04-06T19:28:20.000Z","nextRotation":"2023-07-05T19:28:20.000Z"}},"default":false,"_links":{"rotateKey":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/authorizationServers/aus7l8ermmucJPGlN1d7/credentials/lifecycle/keyRotate","hints":{"allow":["POST"]}},"metadata":[{"name":"oauth-authorization-server","href":"https://mm-oie-2022-10-07-max.oktapreview.com/oauth2/aus7l8ermmucJPGlN1d7/.well-known/oauth-authorization-server","hints":{"allow":["GET"]}},{"name":"openid-configuration","href":"https://mm-oie-2022-10-07-max.oktapreview.com/oauth2/aus7l8ermmucJPGlN1d7/.well-known/openid-configuration","hints":{"allow":["GET"]}}],"keys":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/authorizationServers/aus7l8ermmucJPGlN1d7/credentials/keys","hints":{"allow":["GET"]}},"claims":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/authorizationServers/aus7l8ermmucJPGlN1d7/claims","hints":{"allow":["GET","POST"]}},"policies":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/authorizationServers/aus7l8ermmucJPGlN1d7/policies","hints":{"allow":["GET","POST"]}},"self":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/authorizationServers/aus7l8ermmucJPGlN1d7","hints":{"allow":["GET","DELETE","PUT"]}},"scopes":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/authorizationServers/aus7l8ermmucJPGlN1d7/scopes","hints":{"allow":["GET","POST"]}},"deactivate":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/authorizationServers/aus7l8ermmucJPGlN1d7/lifecycle/deactivate","hints":{"allow":["POST"]}}}}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/authorizationServers/aus7l8ermmucJPGlN1d7
    method: GET
  response:
    body: '{"id":"aus7l8ermmucJPGlN1d7","name":"testAcc_1510890055","description":"test","audiences":["whatever.rise.zone"],"issuer":"https://mm-oie-2022-10-07-max.oktapreview.com/oauth2/aus7l8ermmucJPGlN1d7","issuerMode":"ORG_URL","status":"ACTIVE","created":"2023-04-06T19:[...]
- request:
    body: |
      {"conditions":{"clients":{"include":["ALL_CLIENTS"]}},"description":"test","name":"test","priority":1,"status":"ACTIVE","type":"OAUTH_AUTHORIZATION_POLICY"}
    form: {}
    headers:
      Authorization:
      - SSWS REDACTED
      Content-Type:
      - application/json
    url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/authorizationServers/aus7l8ermmucJPGlN1d7/policies
    method: POST
  response:
    body: '{"id":"00p7l8g0rpB59J8H21d7","status":"ACTIVE","name":"test","description":"test","priority":1,"system":false,"conditions":{"clients":{"include":["ALL_CLIENTS"]}},"created":"2023-04-06T19:28:20.000Z","lastUpdated":"2023-04-06T19:28:20.000Z","_links":{"self":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/authorizationServers/aus7l8ermmucJPGlN1d7/policies/00p7l8g0rpB59J8H21d7","hints":{"allow":["GET","PUT","DELETE"]}},"rules":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/authorizationServers/aus7l8ermmucJPGlN1d7/policies/00p7l8g0rpB59J8H21d7/rules","hints":{"allow":["GET"]}},"deactivate":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/authorizationServers/aus7l8ermmucJPGlN1d7/policies/00p7l8g0rpB59J8H21d7/lifecycle/deactivate","hints":{"allow":["POST"]}}},"type":"OAUTH_AUTHORIZATION_POLICY"}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/authorizationServers/aus7l8ermmucJPGlN1d7/policies/00p7l8g0rpB59J8H21d7
    method: GET
  response:
    body: '{"id":"00p7l8g0rpB59J8H21d7","status":"ACTIVE","name":"test","description":"test","priority":1,"system":false,"conditions":{"clients":{"include":["ALL_CLIENTS"]}},"created":"2023-04-06T19:28:20.000Z","lastUpdated":"2023-04-06T19:28:20.000Z","_links":{"self":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/authorizationServers/aus7l8ermmucJPGlN1d7/policies/00p7l8g0rpB59J8H21d7","hints":{"allow":["GET","PUT","DELETE"]}},"rules":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/authorizationServers/aus7l8ermmucJPGlN1d7/policies/00p7l8g0rpB59J8H21d7/rules","hints":{"allow":["GET"]}},"deactivate":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/authorizationServers/aus7l8ermmucJPGlN1d7/policies/00p7l8g0rpB59J8H21d7/lifecycle/deactivate","hints":{"allow":["POST"]}}},"type":"OAUTH_AUTHORIZATION_POLICY"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"actions":{"token":{"accessTokenLifetimeMinutes":60,"inlineHook":{"id":"cal7l8fhp3fWF1ktv1d7"},"refreshTokenLifetimeMinutes":0,"refreshTokenWindowMinutes":10080}},"conditions":{"grantTypes":{"include":["implicit"]},"people":{"groups":{"include":["00g5qwjvgrD3WR89l1d7"]},"users":{}},"scopes":{}},"name":"test","priority":1,"status":"ACTIVE","type":"RESOURCE_ACCESS"}
    form: {}
    headers:
      Authorization:
      - SSWS REDACTED
      Content-Type:
      - application/json
    url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/authorizationServers/aus7l8ermmucJPGlN1d7/policies/00p7l8g0rpB59J8H21d7/rules
    method: POST
  response:
    body: '{"id":"0pr7l8fifiQ43Dlt51d7","status":"ACTIVE","name":"test","priority":1,"created":"2023-04-06T19:28:21.000Z","lastUpdated":"2023-04-06T19:28:21.000Z","system":false,"conditions":{"people":{"users":{"exclude":[]},"groups":{"include":["00g5qwjvgrD3WR89l1d7"]}},"grantTypes":{"include":["implicit"]},"scopes":{"include":[]}},"actions":{"token":{"accessTokenLifetimeMinutes":60,"refreshTokenLifetimeMinutes":0,"refreshTokenWindowMinutes":10080,"inlineHook":{"id":"cal7l8fhp3fWF1ktv1d7"}}},"_links":{"self":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/authorizationServers/aus7l8ermmucJPGlN1d7/policies/00p7l8g0rpB59J8H21d7/rules/0pr7l8fifiQ43Dlt51d7","hints":{"allow":["GET","PUT","DELETE"]}},"deactivate":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/authorizationServers/aus7l8ermmucJPGlN1d7/policies/00p7l8g0rpB59J8H21d7/rules/0pr7l8fifiQ43Dlt51d7/lifecycle/deactivate","hints":{"allow":["POST"]}}},"type":"RESOURCE_ACCESS"}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/authorizationServers/aus7l8ermmucJPGlN1d7/policies/00p7l8g0rpB59J8H21d7/rules/0pr7l8fifiQ43Dlt51d7
    method: GET
  response:
    body: '{"id":"0pr7l8fifiQ43Dlt51d7","status":"ACTIVE","name":"test","priority":1,"created":null,"lastUpdated":null,"system":false,"conditions":{"people":{"users":{"exclude":[]},"groups":{"include":["00g5qwjvgrD3WR89l1d7"]}},"grantTypes":{"include":["implicit"]},"scopes":{"include":[]}},"actions":{"token":{"accessTokenLifetimeMinutes":60,"refreshTokenLifetimeMinutes":0,"refreshTokenWindowMinutes":10080,"inlineHook":{"id":"cal7l8fhp3fWF1ktv1d7"}}},"_links":{"self":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/authorizationServers/aus7l8ermmucJPGlN1d7/policies/00p7l8g0rpB59J8H21d7/rules/0pr7l8fifiQ43Dlt51d7","hints":{"allow":["GET","PUT","DELETE"]}},"deactivate":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/authorizationServers/aus7l8ermmucJPGlN1d7/policies/00p7l8g0rpB59J8H21d7/rules/0pr7l8fifiQ43Dlt51d7/lifecycle/deactivate","hints":{"allow":["POST"]}}},"type":"RESOURCE_ACCESS"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/inlineHooks/cal7l8fhp3fWF1ktv1d7/lifecycle/deactivate
    method: POST
  response:
    body: '{"id":"cal7l8fhp3fWF1ktv1d7","status":"INACTIVE","name":"testAcc_1510890055","type":"com.okta.oauth2.tokens.transform","version":"1.0.1","channel":{"type":"HTTP","version":"1.0.0","config":{"uri":"https://example.com/test","headers":[],"method":"POST","authScheme":{"type":"HEADER","key":"Authorization"}}},"created":"2023-04-06T19:28:20.000Z","lastUpdated":"2023-04-06T19:28:24.000Z","_links":{"activate":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/inlineHooks/cal7l8fhp3fWF1ktv1d7/lifecycle/activate","hints":{"allow":["POST"]}},"self":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/inlineHooks/cal7l8fhp3fWF1ktv1d7"},"delete":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/inlineHooks/cal7l8fhp3fWF1ktv1d7","hints":{"allow":["DELETE"]}}}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/authorizationServers/aus7l8ermmucJPGlN1d7/lifecycle/deactivate
    method: POST
  response:
    body: ""
    headers:
    status: 204 No Content
    code: 204
    duration: ""
[...]
