---
version: 1
interactions:
- request:
    body: |
      {"name":"Custom","template":"Your ${org.name} code is: ${code}","translations":{"en":"Your ${org.name} code is: ${code}","es":"Tu código de ${org.name} es: ${code}."},"type":"SMS_VERIFY_CODE"}
    form: {}
    headers:
      Authorization:
      - SSWS REDACTED
      Content-Type:
      - application/json
    url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/templates/sms
    method: POST
  response:
    body: '{"id":"cst6mnfn5qCsEB0JF1d7","name":"Custom","type":"SMS_VERIFY_CODE","template":"Your
      ${org.name} code is: ${code}","created":"2023-01-12T17:36:17.000Z","lastUpdated":"2023-01-12T17:36:17.000Z","translations":{"en":"Your
      ${org.name} code is: ${code}","es":"Tu código de ${org.name} es: ${code}."}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/templates/sms/cst6mnfn5qCsEB0JF1d7
    method: GET
  response:
    body: '{"id":"cst6mnfn5qCsEB0JF1d7","name":"Custom","type":"SMS_VERIFY_CODE","template":"Your
      ${org.name} code is: ${code}","created":"2023-01-12T17:36:17.000Z","lastUpdated":"2023-01-12T17:36:17.000Z","translations":{"en":"Your
      ${org.name} code is: ${code}","es":"Tu código de ${org.name} es: ${code}."}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: |
      {"name":"Custom","template":"Your ${org.name} updated code is: ${code}","translations":{"en":"Your ${org.name} updated code is: ${code}","es":"Tu código actualizado de ${org.name} es: ${code}.","fr":"Votre code mis à jour ${org.name} est: ${code}."},"type":"SMS_VERIFY_CODE"}
    form: {}
    headers:
      Authorization:
      - SSWS REDACTED
      Content-Type:
      - application/json
    url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/templates/sms/cst6mnfn5qCsEB0JF1d7
    method: PUT
  response:
    body: '{"id":"cst6mnfn5qCsEB0JF1d7","name":"Custom","type":"SMS_VERIFY_CODE","template":"Your
      ${org.name} updated code is: ${code}","created":"2023-01-12T17:36:17.000Z","lastUpdated":"2023-01-12T17:36:18.000Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/templates/sms/cst6mnfn5qCsEB0JF1d7
    method: GET
  response:
    body: '{"id":"cst6mnfn5qCsEB0JF1d7","name":"Custom","type":"SMS_VERIFY_CODE","template":"Your
      ${org.name} updated code is: ${code}","created":"2023-01-12T17:36:17.000Z","lastUpdated":"2023-01-12T17:36:18.000Z","translations":{"en":"Your
      ${org.name} updated code is: ${code}","fr":"Votre code mis à jour ${org.name}
      est: ${code}.","es":"Tu código actualizado de ${org.name} es: ${code}."}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
