---
version: 2
interactions:
    - id: 0
      request:
        host: classic-00.dne-okta.com
        form:
            filter:
                - principalType eq "OAUTH_CLIENT" and principalId eq "0oatyx4ukmqlnSQ0P1d7"
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/principal-rate-limits?filter=principalType+eq+%22OAUTH_CLIENT%22+and+principalId+eq+%220oatyx4ukmqlnSQ0P1d7%22
        method: GET
      response:
        body: '[{"id":"prltyx4ul24C7vAmm1d7","orgId":"00otivnuq1X5554yc1d7","principalId":"0oatyx4ukmqlnSQ0P1d7","principalType":"OAUTH_CLIENT","defaultPercentage":50,"defaultConcurrencyPercentage":50,"lastUpdate":"2026-01-20T10:42:22Z","lastUpdatedBy":"00utivnuu1aaKzqqO1d7","createdDate":"2026-01-19T18:37:11Z","createdBy":"00utivnuu1aaKzqqO1d7"}]'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.092123625s
    - id: 1
      request:
        host: classic-00.dne-okta.com
        body: |
            {"defaultConcurrencyPercentage":75,"defaultPercentage":49,"principalId":"0oatyx4ukmqlnSQ0P1d7","principalType":"OAUTH_CLIENT"}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://classic-00.dne-okta.com/api/v1/principal-rate-limits/prltyx4ul24C7vAmm1d7
        method: PUT
      response:
        body: '{"id":"prltyx4ul24C7vAmm1d7","orgId":"00otivnuq1X5554yc1d7","principalId":"0oatyx4ukmqlnSQ0P1d7","principalType":"OAUTH_CLIENT","defaultPercentage":49,"defaultConcurrencyPercentage":75,"lastUpdate":"2026-01-20T10:42:39Z","lastUpdatedBy":"00utivnuu1aaKzqqO1d7","createdDate":"2026-01-19T18:37:11Z","createdBy":"00utivnuu1aaKzqqO1d7"}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.040362458s
[...]
