---
version: 2
interactions:
- id: 0
  request:
    host: classic-00.dne-okta.com
    form:
      q:
      - Everyone
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://classic-00.dne-okta.com/api/v1/groups?q=Everyone
    method: GET
  response:
    body: "[{\"id\":\"00gnkw1sdqL30MdGk1d7\",\"created\":\"2025-06-26T15:51:35.000Z\",\"lastUpdated\":\"2025-06-26T15:51:35.000Z\",\"lastMembershipUpdated\":\"2025-11-25T09:36:14.000Z\",\"objectClass\":[\"okta:user_group\"],\"type\":\"BUILT_IN\",\"profile\":{\"name\":\"Everyone\",\"description\":\"All users in your organization\"},\"_links\":{\"logo\":[{\"name\":\"medium\",\"href\":\"https://op3static2.oktacdn.com/assets/img/logos/groups/odyssey/okta-medium.30ce6d4085dff29412984e4c191bc874.png\",\"type\":\"image/png\"},{\"name\":\"large\",\"href\":\"https://op3static2.oktacdn.com/assets/img/logos/groups/odyssey/okta-large.c3cb8cda8ae0add1b4fe928f5844dbe3.png\",\"type\":\"image/png\"}],\"owners\":{\"href\":\"https://classic-00.dne-okta.com/api/v1/groups/00gnkw1sdqL30MdGk1d7/owners\"},\"users\":{\"href\":\"https://classic-00.dne-okta.com/api/v1/groups/00gnkw1sdqL30MdGk1d7/users\"},\"apps\":{\"href\":\"https://classic-00.dne-okta.com/api/v1/groups/00gnkw1sdqL30MdGk1d7/apps\"}}}]"
    headers:
      Accept-Ch:
      - Sec-CH-UA-Platform-Version
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 1.076276292s
[...]
- id: 2
  request:
    host: classic-00.dne-okta.com
    body: "{\"conditions\":{\"people\":{\"groups\":{\"include\":[\"00gnkw1sdqL30MdGk1d7\"]}}},\"description\":\"Terraform Acceptance Test MFA Policy with Specific Custom Apps\",\"name\":\"testAcc_3451373049\",\"status\":\"ACTIVE\",\"type\":\"MFA_ENROLL\",\"settings\":{\"authenticators\":[{\"key\":\"okta_password\",\"enroll\":{\"self\":\"REQUIRED\"}},{\"key\":\"security_question\",\"enroll\":{\"self\":\"REQUIRED\"}},{\"key\":\"custom_app\",\"id\":\"aut1234567890abcdefg\",\"enroll\":{\"self\":\"OPTIONAL\"}},{\"key\":\"custom_app\",\"id\":\"aut1234567890hijklmn\",\"enroll\":{\"self\":\"OPTIONAL\"}}],\"type\":\"AUTHENTICATORS\"}}\n"
    headers:
      Authorization:
      - SSWS REDACTED
      Content-Type:
      - application/json
    url: https://classic-00.dne-okta.com/api/v1/policies
    method: POST
  response:
    body: "{\"id\":\"00psgmtagxFev2Tc11d7\",\"status\":\"ACTIVE\",\"name\":\"testAcc_3451373049\",\"description\":\"Terraform Acceptance Test MFA Policy with Specific Custom Apps\",\"priority\":2,\"system\":false,\"conditions\":{\"people\":{\"groups\":{\"include\":[\"00gnkw1sdqL30MdGk1d7\"]}}},\"created\":\"2025-12-08T07:33:50.000Z\",\"lastUpdated\":\"2025-12-08T07:33:50.000Z\",\"settings\":{\"type\":\"AUTHENTICATORS\",\"authenticators\":[{\"key\":\"custom_otp\",\"enroll\":{\"self\":\"NOT_ALLOWED\"}},{\"key\":\"custom_app\",\"id\":\"aut1234567890abcdefg\",\"enroll\":{\"self\":\"OPTIONAL\"}},{\"key\":\"custom_app\",\"id\":\"aut1234567890opqrstu\",\"enroll\":{\"self\":\"NOT_ALLOWED\"}},{\"key\":\"custom_app\",\"id\":\"aut1234567890hijklmn\",\"enroll\":{\"self\":\"OPTIONAL\"}},{\"key\":\"okta_email\",\"enroll\":{\"self\":\"NOT_ALLOWED\"}},{\"key\":\"google_otp\",\"enroll\":{\"self\":\"NOT_ALLOWED\"}},{\"key\":\"okta_verify\",\"enroll\":{\"self\":\"NOT_ALLOWED\"}},{\"key\":\"okta_password\",\"enroll\":{\"self\":\"REQUIRED\"}},{\"key\":\"phone_number\",\"enroll\":{\"self\":\"NOT_ALLOWED\"}},{\"key\":\"security_question\",\"enroll\":{\"self\":\"REQUIRED\"}}]},\"_links\":{\"mappings\":{\"href\":\"https://classic-00.dne-okta.com/api/v1/policies/00psgmtagxFev2Tc11d7/mappings\",\"hints\":{\"allow\":[\"GET\",\"POST\"]}},\"self\":{\"href\":\"https://classic-00.dne-okta.com/api/v1/policies/00psgmtagxFev2Tc11d7\",\"hints\":{\"allow\":[\"GET\",\"PUT\",\"DELETE\"]}},\"rules\":{\"href\":\"https://classic-00.dne-okta.com/api/v1/policies/00psgmtagxFev2Tc11d7/rules\",\"hints\":{\"allow\":[\"GET\",\"POST\"]}},\"deactivate\":{\"href\":\"https://classic-00.dne-okta.com/api/v1/policies/00psgmtagxFev2Tc11d7/lifecycle/deactivate\",\"hints\":{\"allow\":[\"POST\"]}}},\"type\":\"MFA_ENROLL\"}"
    headers:
      Accept-Ch:
      - Sec-CH-UA-Platform-Version
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 1.197535416s
- id: 3
  request:
    host: classic-00.dne-okta.com
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://classic-00.dne-okta.com/api/v1/policies/00psgmtagxFev2Tc11d7/lifecycle/activate
    method: POST
  response:
    body: ""
    headers:
      Accept-Ch:
      - Sec-CH-UA-Platform-Version
    status: 204 No Content
    code: 204
    duration: 1.135641541s
- id: 4
  request:
    host: classic-00.dne-okta.com
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://classic-00.dne-okta.com/api/v1/policies/00psgmtagxFev2Tc11d7
    method: GET
  response:
    body: "{\"id\":\"00psgmtagxFev2Tc11d7\",\"status\":\"ACTIVE\",\"name\":\"testAcc_3451373049\",\"description\":\"Terraform Acceptance Test MFA Policy with Specific Custom Apps\",\"priority\":2,\"system\":false,\"conditions\":{\"people\":{\"groups\":{\"include\":[\"00gnkw1sdqL30MdGk[...]
[...]
