---
version: 2
interactions:
    - id: 0
      request:
        host: oie-00.dne-okta.com
        form:
            q:
                - Everyone
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/groups?q=Everyone
        method: GET
      response:
        body: '[{"id":"00gnkw1sdqL30MdGk1d7","created":"2025-06-26T15:51:35.000Z","lastUpdated":"2025-06-26T15:51:35.000Z","lastMembershipUpdated":"2026-03-02T09:10:36.000Z","objectClass":["okta:user_group"],"type":"BUILT_IN","profile":{"name":"Everyone","description":"All users in your organization"},"_links":{"logo":[{"name":"medium","href":"https://op3static2.oktacdn.com/assets/img/logos/groups/odyssey/okta-medium.30ce6d4085dff29412984e4c191bc874.png","type":"image/png"},{"name":"large","href":"https://op3static2.oktacdn.com/assets/img/logos/groups/odyssey/okta-large.c3cb8cda8ae0add1b4fe928f5844dbe3.png","type":"image/png"}],"owners":{"href":"https://oie-00.dne-okta.com/api/v1/groups/00gnkw1sdqL30MdGk1d7/owners"},"users":{"href":"https://oie-00.dne-okta.com/api/v1/groups/00gnkw1sdqL30MdGk1d7/users"},"apps":{"href":"https://oie-00.dne-okta.com/api/v1/groups/00gnkw1sdqL30MdGk1d7/apps"}}}]'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.078494334s
[...]
    - id: 2
      request:
        host: oie-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/authenticators
        method: GET
      response:
        body: '[{"type":"app","id":"autsmry3961LkISL51d7","key":"custom_app","status":"INACTIVE","name":"Custom App Authenticator","created":"2025-12-12T16:33:39.000Z","lastUpdated":"2026-01-29T04:38:03.000Z","settings":{"appInstanceId":"0oasmrwi2idPlS77z1d7","userVerification":"PREFERRED","oauthClientId":"0oasmrwi2idPlS77z1d7"},"provider":{"type":"PUSH","configuration":{"fcm":{"id":"ppcrbo4q0bGL6WetY1d7"}}},"_links":{"self":{"href":"https://oie-00.dne-okta.com/api/v1/authenticators/autsmry3961LkISL51d7","hints":{"allow":["GET","PUT"]}},"activate":{"href":"https://oie-00.dne-okta.com/api/v1/authenticators/autsmry3961LkISL51d7/lifecycle/activate","hints":{"allow":["POST"]}},"methods":{"href":"https://oie-00.dne-okta.com/api/v1/authenticators/autsmry3961LkISL51d7/methods","hints":{"allow":["GET"]}},"enroll":{"href":"https://oie-00.dne-okta.com/idp/authenticators","hints":{"allow":["POST"]}}}},{"type":"security_key","id":"autqh8z6p5RQvxZsg1d7","key":"custom_otp","status":"INACTIVE","name":"Custom OTP","created":"2025-09-29T16:49:24.000Z","lastUpdated":"2026-01-29T04:34:48.000Z","_links":{"self":{"href":"https://oie-00.dne-okta.com/api/v1/authenticators/autqh8z6p5RQvxZsg1d7","hints":{"allow":["GET","PUT"]}},"activate":{"href":"https://oie-00.dne-okta.com/api/v1/authenticators/autqh8z6p5RQvxZsg1d7/lif[...]
    - id: 3
      request:
        host: oie-00.dne-okta.com
        body: |
            {"conditions":{"people":{"groups":{"include":["00gnkw1sdqL30MdGk1d7"]}}},"description":"Terraform Acceptance Test MFA Policy with Specific Custom Apps","name":"testAcc_3451373049","status":"ACTIVE","type":"MFA_ENROLL","settings":{"authenticators":[{"key":"okta_password","enroll":{"self":"REQUIRED"}},{"key":"security_question","enroll":{"self":"REQUIRED"}},{"key":"custom_app","id":"autsp50r54pH17cFz1d7","enroll":{"self":"OPTIONAL"}},{"key":"custom_app","id":"autsp5p2urY5EBWs61d7","enroll":{"self":"OPTIONAL"}}],"type":"AUTHENTICATORS"}}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://oie-00.dne-okta.com/api/v1/policies
        method: POST
      response:
        body: '{"id":"00pw7pngh7WxWgNmI1d7","status":"ACTIVE","name":"testAcc_3451373049","description":"Terraform Acceptance Test MFA Policy with Specific Custom Apps","priority":1,"system":false,"conditions":{"people":{"groups":{"include":["00gnkw1sdqL30MdGk1d7"]}}},"created":"2026-03-13T07:03:19.000Z","lastUpdated":"2026-03-13T07:03:19.000Z","settings":{"type":"AUTHENTICATORS","authenticators":[{"key":"custom_app","id":"autsp50r54pH17cFz1d7","enroll":{"self":"OPTIONAL"}},{"key":"custom_app","id":"autsp5p2urY5EBWs61d7","enroll":{"self":"OPTIONAL"}},{"key":"custom_app","id":"autsg2yd25Pw8m7NW1d7","enroll":{"self":"NOT_ALLOWED"}},{"key":"custom_app","id":"autsp5oa3vsoz4uO51d7","enro[...]
    - id: 4
      request:
        host: oie-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/policies/00pw7pngh7WxWgNmI1d7/lifecycle/activate
        method: POST
      response:
        body: ""
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
        status: 204 No Content
        code: 204
        duration: 1.371660833s
    - id: 5
      request:
        host: oie-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/policies/00pw7pngh7WxWgNmI1d7
        method: GET
      response:
        body: '{"id":"00pw7pngh7WxWgNmI1d7","status":"ACTIVE","name":"testAcc_3451373049","description":"Terraform Acceptance Test MFA Policy with Specific Custom Apps","priority":1,"system":false,"conditions":{"people":{"groups":{"include":["00gnkw[...]
[...]
