---
version: 2
interactions:
    - id: 0
      request:
        host: oie-00.dne-okta.com
        body: |
            {"audiences":["whatever.rise.zone"],"credentials":{"signing":{"rotationMode":"AUTO"}},"description":"The best way to find out if you can trust somebody is to trust them.","issuerMode":"DYNAMIC","name":"testAcc_469183235"}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://oie-00.dne-okta.com/api/v1/authorizationServers
        method: POST
      response:
        body: '{"id":"auskwr35t9yxZfX171d7","name":"testAcc_469183235","description":"The best way to find out if you can trust somebody is to trust them.","audiences":["whatever.rise.zone"],"issuer":"https://oie-00.dne-okta.com/oauth2/auskwr35t9yxZfX171d7","issuerMode":"DYNAMIC","status":"ACTIVE","created":"2025-03-13T23:34:06.000Z","lastUpdated":"2025-03-13T23:34:06.000Z","credentials":{"signing":{"kid":"N5BD6L4G-ht_NtwdPMZzCe6aBlVfJY6SLPQ8qSgV3dA","rotationMode":"AUTO","lastRotated":"2025-03-13T23:34:06.000Z","nextRotation":"2025-06-11T23:34:06.000Z"}},"default":false,"_links":{"rotateKey":{"href":"https://oie-00.dne-okta.com/api/v1/authorizationServers/auskwr35t9yxZfX171d7/credentials/lifecycle/keyRotate","hints":{"allow":["POST"]}},"metadata":[{"name":"oauth-authorization-server","href":"https://oie-00.dne-okta.com/oauth2/auskwr35t9yxZfX171d7/.well-known/oauth-authorization-server","hints":{"allow":["GET"]}},{"name":"openid-configuration","href":"https://oie-00.dne-okta.com/oauth2/auskwr35t9yxZfX171d7/.well-known/openid-configuration","hints":{"allow":["GET"]}}],"keys":{"href":"https://oie-00.dne-okta.com/api/v1/authorizationServers/auskwr35t9yxZfX171d7/credentials/keys","hints":{"allow":["GET"]}},"claims":{"href":"https://oie-00.dne-okta.com/api/v1/authorizationServers/auskwr35t9yxZfX171d7/claims","hints":{"allow":["GET","POST"]}},"policies":{"href":"https://oie-00.dne-okta.com/api/v1/authorizationServers/auskwr35t9yxZfX171d7/policies","hints":{"allow":["GET","POST"]}},"self":{"href":"https://oie-00.dne-okta.com/api/v1/authorizationServers/auskwr35t9yxZfX171d7","hints":{"allow":["GET","DELETE","PUT"]}},"scopes":{"href":"https://oie-00.dne-okta.com/api/v1/authorizationServers/auskwr35t9yxZfX171d7/scopes","hints":{"allow":["GET","POST"]}},"deactivate":{"href":"https://oie-00.dne-okta.com/api/v1/authorizationServers/auskwr35t9yxZfX171d7/lifecycle/deactivate","hints":{"allow":["POST"]}}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 983.331458ms
    - id: 1
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/authorizationServers/auskwr35t9yxZfX171d7
        method: GET
      response:
        body: '{"id":"auskwr35t9yxZfX171d7","name":"testAcc_469183235","description":"The best way to find out if you can trust somebody is to trust them.","audiences":["whatever.rise.zone"],"issuer":"ht[...]
[...]
    - id: 7
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/authorizationServers/auskwr35t9yxZfX171d7/lifecycle/deactivate
        method: POST
      response:
        body: ""
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
        status: 204 No Content
        code: 204
        duration: 610.069084ms
[...]
