---
version: 2
interactions:
    - id: 0
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/groups?limit=1&q=Everyone
        method: GET
      response:
        body: '[{"id":"00g5qwjvgrD3WR89l1d7","created":"2022-10-07T23:16:57.000Z","lastUpdated":"2022-10-07T23:16:57.000Z","lastMembershipUpdated":"2023-08-15T23:47:03.000Z","objectClass":["okta:user_group"],"type":"BUILT_IN","profile":{"name":"Everyone","description":"All users in your organization"},"_links":{"logo":[{"name":"medium","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-medium.30ce6d4085dff29412984e4c191bc874.png","type":"image/png"},{"name":"large","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-large.c3cb8cda8ae0add1b4fe928f5844dbe3.png","type":"image/png"}],"users":{"href":"https://oie-00.oktapreview.com/api/v1/groups/00g5qwjvgrD3WR89l1d7/users"},"apps":{"href":"https://oie-00.oktapreview.com/api/v1/groups/00g5qwjvgrD3WR89l1d7/apps"}}}]'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 195.867083ms
[...]
    - id: 2
      request:
        host: oie-00.dne-okta.com
        body: |
            {"conditions":{"people":{"groups":{"include":["00g5qwjvgrD3WR89l1d7"]}}},"description":"Terraform Acceptance Test SignOn Policy","name":"testAcc_226682556","status":"ACTIVE","type":"OKTA_SIGN_ON"}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://oie-00.dne-okta.com/api/v1/policies
        method: POST
      response:
        body: '{"id":"00p9i72hvl8iPtVXb1d7","status":"ACTIVE","name":"testAcc_226682556","description":"Terraform Acceptance Test SignOn Policy","priority":1,"system":false,"conditions":{"people":{"groups":{"include":["00g5qwjvgrD3WR89l1d7"]}}},"created":"2023-08-15T23:47:16.000Z","lastUpdated":"2023-08-15T23:47:16.000Z","_links":{"self":{"href":"https://oie-00.oktapreview.com/api/v1/policies/00p9i72hvl8iPtVXb1d7","hints":{"allow":["GET","PUT","DELETE"]}},"rules":{"href":"https://oie-00.oktapreview.com/api/v1/policies/00p9i72hvl8iPtVXb1d7/rules","hints":{"allow":["GET","POST"]}},"deactivate":{"href":"https://oie-00.oktapreview.com/api/v1/policies/00p9i72hvl8iPtVXb1d7/lifecycle/deactivate","hints":{"allow":["POST"]}}},"type":"OKTA_SIGN_ON"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 116.83672ms
    - id: 3
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/policies/00p9i72hvl8iPtVXb1d7/lifecycle/activate
        method: POST
      response:
        body: ""
        headers:
        status: 204 No Content
        code: 204
        duration: 126.055106ms
    - id: 4
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/policies/00p9i72hvl8iPtVXb1d7
        method: GET
      response:
        body: '{"id":"00p9i72hvl8iPtVXb1d7","status":"ACTIVE","name":"testAcc_226682556","description":"Terraform Acceptance Test SignOn Policy","priority":1,"system":false,"conditions":{"people":{"groups":{"include":["00g5qwjvgrD3WR89l1d7"]}}},"created":"2023-08-15T23:47:16.000Z","lastUpdated":"2023-08-15T23:47:16.000Z","_links":{"self":{"href":"https://oie-00.oktapreview.com/api/v1/policies/00p9i72hvl8iPtVXb1d7","hints":{"allow":["GET","PUT","DELETE"]}},"rules":{"href":"https://oie-00.oktapreview.com/api/v1/policies/00p9i72hvl8iPtVXb1d7/rules","hints":{"allow":["GET","POST"]}},"deactivate":{"href":"https://oie-00.oktapreview.com/api/v1/policies/00p9i72hvl8iPtVXb1d7/lifecycle/deactivate","hints":{"allow":["POST"]}}},"type":"OKTA_SIGN_ON"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 75.419735ms
    - id: 5
      request:
        host: oie-00.dne-okta.com
        body: |
            {"type":"SIGN_ON","name":"testAcc_226682556","status":"ACTIVE","conditions":{"authContext":{"authType":"ANY"},"identityProvider":{"provider":"ANY"},"network":{"connection":"ANYWHERE"},"riskScore":{"level":"ANY"}},"actions":{"signon":{"access":"ALLOW","rememberDeviceByDefault":false,"requireFactor":false,"session":{"maxSessionIdleMinutes":120,"maxSessionLifetimeMinutes":120,"usePersistentCookie":false}}}}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://oie-00.dne-okta.com/api/v1/policies/00p9i72hvl8iPtVXb1d7/rules
        method: POST
      response:
        body: '{"id":"0pr9i7c8dmhI32A2o1d7","status":"ACTIVE","name":"testAcc_226682556","priority":1,"created":"2023-08-15T23:47:17.000Z","lastUpdated":"2023-08-15T23:47:17.000Z","system":false,"conditions":{"people":{"users":{"exclude":[]}},"network":{"connection":"ANYWHERE"},"authContext":{"authType":"ANY"},"risk":{"behaviors":[]},"riskScore":{"level":"ANY"},"identityProvider":{"provider":"ANY"}},"actions":{"signon":{"access":"ALLOW","requireFactor":false,"primaryFactor":"PASSWORD_IDP_ANY_FACTOR","rememberDeviceByDefault":false,"session":{"usePersistentCookie":false,"maxSessionIdleMinutes":120,"maxSessionLifetimeMinutes":120}}},"_links":{"self":{"href":"https://oie-00.oktapreview.com/api/v1/policies/00p9i72hvl8iPtVXb1d7/rules/0pr9i7c8dmhI32A2o1d7","hints":{"allow":["GET","PUT","DELETE"]}},"deactivate":{"href":"https://oie-00.oktapreview.com/api/v1/policies/00p9i72hvl8iPtVXb1d7/rules/0pr9i7c8dmhI32A2o1d7/lifecycle/deactivate","hints":{"allow":["POST"]}}},"type":"SIGN_ON"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 154.008917ms
[...]
    - id: 7
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/policies/00p9i72hvl8iPtVXb1d7/rules/0pr9i7c8dmhI32A2o1d7
        method: GET
      response:
        body: '{"id":"0pr9i7c8dmhI32A2o1d7","status":"ACTIVE","name":"testAcc_226682556","priority":1,"created":null,"lastUpdated":null,"system":false,"conditions":{"people":{"users":{"exclude":[]}},"network":{"connection":"ANYWHERE"},"authContext":{"authType":"ANY"},"risk":{"behaviors":[]},"riskScore":{"level":"ANY"},"identityProvider":{"provider":"ANY"}},"actions":{"signon":{"access":"ALLOW","requireFactor":false,"primaryFactor":"PASSWORD_IDP_ANY_FACTOR","rememberDeviceByDefault":false,"session":{"usePersistentCookie":false,"maxSessionIdleMinutes":120,"maxSessionLifetimeMinutes":120}}},"_links":{"self":{"href":"https://oie-00.oktapreview.com/api/v1/policies/00p9i72hvl8iPtVXb1d7/rules/0pr9i7c8dmhI32A2o1d7","hints":{"allow":["GET","PUT","DELETE"]}},"deactivate":{"href":"https://oie-00.oktapreview.com/api/v1/policies/00p9i72hvl8iPtVXb1d7/rules/0pr9i7c8dmhI32A2o1d7/lifecycle/deactivate","hints":{"allow":["POST"]}}},"type":"SIGN_ON"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 68.296108ms
[...]
    - id: 21
      request:
        host: oie-00.dne-okta.com
        body: |
            {"gateways":[{"type":"CIDR","value":"34.82.0.0/15"}],"name":"testAcc_226682556","status":"ACTIVE","type":"IP","usage":"POLICY"}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://oie-00.dne-okta.com/api/v1/zones
        method: POST
      response:
        body: '{"type":"IP","id":"nzo9i70fn7Pqj5Gvz1d7","name":"testAcc_226682556","status":"ACTIVE","usage":"POLICY","created":"2023-08-15T23:47:19.000Z","lastUpdated":"2023-08-15T23:47:19.000Z","system":false,"gateways":[{"type":"CIDR","value":"34.82.0.0/15"}],"proxies":null,"_links":{"self":{"href":"https://oie-00.oktapreview.com/api/v1/zones/nzo9i70fn7Pqj5Gvz1d7","hints":{"allow":["GET","PUT","DELETE"]}},"deactivate":{"href":"https://oie-00.oktapreview.com/api/v1/zones/nzo9i70fn7Pqj5Gvz1d7/lifecycle/deactivate","hints":{"allow":["POST"]}}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 76.721759ms
    - id: 22
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/zones/nzo9i70fn7Pqj5Gvz1d7
        method: GET
      response:
        body: '{"type":"IP","id":"nzo9i70fn7Pqj5Gvz1d7","name":"testAcc_226682556","status":"ACTIVE","usage":"POLICY","created":"2023-08-15T23:47:19.000Z","lastUpdated":"2023-08-15T23:47:19.000Z","system":false,"gateways":[{"type":"CIDR","value":"34.82.0.0/15"}],"proxies":null,"_links":{"self":{"href":"https://oie-00.oktapreview.com/api/v1/zones/nzo9i70fn7Pqj5Gvz1d7","hints":{"allow":["GET","PUT","DELETE"]}},"deactivate":{"href":"https://oie-00.oktapreview.com/api/v1/zones/nzo9i70fn7Pqj5Gvz1d7/lifecycle/deactivate","hints":{"allow":["POST"]}}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 60.114457ms
[...]
    - id: 29
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/policies/00p9i72hvl8iPtVXb1d7/rules/0pr9i72hvmRCSPi7s1d7
        method: GET
      response:
        body: '{"id":"0pr9i72hvmRCSPi7s1d7","status":"ACTIVE","name":"testAccAllow_226682556","priority":2,"created":null,"lastUpdated":null,"system":false,"conditions":{"people":{"users":{"exclude":[]}},"network":{"connection":"ZONE","include":["nzo9i70fn7Pqj5Gvz1d7"]},"authContext":{"authType":"ANY"},"risk":{"behaviors":[]},"riskScore":{"level":"ANY"},"identityProvider":{"provider":"ANY"}},"actions":{"signon":{"access":"ALLOW","requireFactor":false,"primaryFactor":"PASSWORD_IDP_ANY_FACTOR","rememberDeviceByDefault":false,"session":{"usePersistentCookie":false,"maxSessionIdleMinutes":120,"maxSessionLifetimeMinutes":120}}},"_links":{"self":{"href":"https://oie-00.oktapreview.com/api/v1/policies/00p9i72hvl8iPtVXb1d7/rules/0pr9i72hvmRCSPi7s1d7","hints":{"allow":["GET","PUT","DELETE"]}},"deactivate":{"href":"https://oie-00.oktapreview.com/api/v1/policies/00p9i72hvl8iPtVXb1d7/rules/0pr9i72hvmRCSPi7s1d7/lifecycle/deactivate","hints":{"allow":["POST"]}}},"type":"SIGN_ON"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 92.519046ms
    - id: 30
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/policies/00p9i72hvl8iPtVXb1d7/rules/0pr9i7c31m1kB1GOT1d7
        method: GET
      response:
        body: '{"id":"0pr9i7c31m1kB1GOT1d7","status":"ACTIVE","name":"testAccDeny_226682556","priority":1,"created":null,"lastUpdated":null,"system":false,"conditions":{"people":{"users":{"exclude":[]}},"network":{"connection":"ZONE","exclude":["nzo9i70fn7Pqj5Gvz1d7"]},"authContext":{"authType":"ANY"},"risk":{"behaviors":[]},"riskScore":{"level":"ANY"},"identityProvider":{"provider":"ANY"}},"actions":{"signon":{"access":"DENY","requireFactor":false,"primaryFactor":"PASSWORD_IDP","rememberDeviceByDefault":false,"session":{"usePersistentCookie":false,"maxSessionIdleMinutes":120,"maxSessionLifetimeMinutes":120}}},"_links":{"self":{"href":"https://oie-00.oktapreview.com/api/v1/policies/00p9i72hvl8iPtVXb1d7/rules/0pr9i7c31m1kB1GOT1d7","hints":{"allow":["GET","PUT","DELETE"]}},"deactivate":{"href":"https://oie-00.oktapreview.com/api/v1/policies/00p9i72hvl8iPtVXb1d7/rules/0pr9i7c31m1kB1GOT1d7/lifecycle/deactivate","hints":{"allow":["POST"]}}},"type":"SIGN_ON"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 76.665628ms
[...]
    - id: 50
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/policies/00p9i72hvl8iPtVXb1d7/rules/0pr9i7c31m1kB1GOT1d7
        method: GET
      response:
        body: '{"errorCode":"E0000007","errorSummary":"Not found: Resource not found: 00p9i72hvl8iPtVXb1d7 (Policy)","errorLink":"E0000007","errorId":"oaeBKDGslODSJiaDDJCN3P0Lg","errorCauses":[]}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 57.182728ms
[...]
