---
version: 2
interactions:
    - id: 0
      request:
        host: mm-oie-2022-10-07-max.oktapreview.com
        body: |
            {"audiences":["whatever.rise.zone"],"credentials":{"signing":{"rotationMode":"AUTO"}},"description":"test","issuerMode":"ORG_URL","name":"testAcc_4289626532"}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/authorizationServers
        method: POST
      response:
        body: '{"id":"aus95tprhcQdf1VYM1d7","name":"testAcc_4289626532","description":"test","audiences":["whatever.rise.zone"],"issuer":"https://mm-oie-2022-10-07-max.oktapreview.com/oauth2/aus95tprhcQdf1VYM1d7","issuerMode":"ORG_URL","status":"ACTIVE","created":"2023-07-27T19:17:13.000Z","lastUpdated":"2023-07-27T19:17:13.000Z","credentials":{"signing":{"kid":"q1QIEcYslBxAI_5Rnx0x3UwibGUbq_vDSBxyNF3EUdU","rotationMode":"AUTO","lastRotated":"2023-07-27T19:17:13.000Z","nextRotation":"2023-10-25T19:17:13.000Z"}},"default":false,"_links":{"rotateKey":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/authorizationServers/aus95tprhcQdf1VYM1d7/credentials/lifecycle/keyRotate","hints":{"allow":["POST"]}},"metadata":[{"name":"oauth-authorization-server","href":"https://mm-oie-2022-10-07-max.oktapreview.com/oauth2/aus95tprhcQdf1VYM1d7/.well-known/oauth-authorization-server","hints":{"allow":["GET"]}},{"name":"openid-configuration","href":"https://mm-oie-2022-10-07-max.oktapreview.com/oauth2/aus95tprhcQdf1VYM1d7/.well-known/openid-configuration","hints":{"allow":["GET"]}}],"keys":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/authorizationServers/aus95tprhcQdf1VYM1d7/credentials/keys","hints":{"allow":["GET"]}},"claims":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/authorizationServers/aus95tprhcQdf1VYM1d7/claims","hints":{"allow":["GET","POST"]}},"policies":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/authorizationServers/aus95tprhcQdf1VYM1d7/policies","hints":{"allow":["GET","POST"]}},"self":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/authorizationServers/aus95tprhcQdf1VYM1d7","hints":{"allow":["GET","DELETE","PUT"]}},"scopes":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/authorizationServers/aus95tprhcQdf1VYM1d7/scopes","hints":{"allow":["GET","POST"]}},"deactivate":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/authorizationServers/aus95tprhcQdf1VYM1d7/lifecycle/deactivate","hints":{"allow":["POST"]}}}}'
        headers:
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 1.218484919s
    - id: 1
      request:
        host: mm-oie-2022-10-07-max.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/authorizationServers/aus95tprhcQdf1VYM1d7
        method: GET
      response:
        body: '{"id":"aus95tprhcQdf1VYM1d7","name":"testAcc_4289626532","description":"test","audiences":["whatever.rise.zone"],"issuer":"https://mm-oie-2022-10-07-max[...]
[...]
    - id: 4
      request:
        host: mm-oie-2022-10-07-max.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/authorizationServers?limit=200&q=testAcc_4289626532
        method: GET
      response:
        body: '[{"id":"aus95tprhcQdf1VYM1d7","name":"testAcc_4289626532","description":"test","audiences":["whatever.rise.zone"],"issuer":"https://mm-oie-202[...]
[...]
    - id: 10
      request:
        host: mm-oie-2022-10-07-max.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/authorizationServers/aus95tprhcQdf1VYM1d7/lifecycle/deactivate
        method: POST
      response:
        body: ""
        headers:
        status: 204 No Content
        code: 204
        duration: 201.65623ms
[...]
