---
version: 2
interactions:
    - id: 0
      request:
        host: classic-00.dne-okta.com
        body: |
            {"certificateSourceType":"MANUAL","domain":"testAcc-3243021488.example.com"}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://classic-00.dne-okta.com/api/v1/domains
        method: POST
      response:
        body: '{"id":"OcDkwuobpd8iYmYyp1d7","domain":"testacc-3243021488.example.com","certificateSourceType":"MANUAL","validationStatus":"NOT_STARTED","brandId":"bndkwuobp9pOj4FFG1d7","dnsRecords":[{"recordType":"TXT","fqdn":"_oktaverification.testacc-3243021488.example.com","values":["fa1ee4fa2ea4411895a52c98f38d81fa"]},{"recordType":"CNAME","fqdn":"testacc-3243021488.example.com","values":["classic-00.customdomains.oktapreview.com"]}],"_links":{"self":{"href":"https://classic-00.dne-okta.com/api/v1/domains/OcDkwuobpd8iYmYyp1d7","hints":{"allow":["GET","DELETE","PUT"]}},"verify":{"href":"https://classic-00.dne-okta.com/api/v1/domains/OcDkwuobpd8iYmYyp1d7/verify","hints":{"allow":["POST"]}},"brand":{"href":"https://classic-00.dne-okta.com/api/v1/brands/bndkwuobp9pOj4FFG1d7","hints":{"allow":["GET","PUT","DELETE"]}}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 851.563084ms
    - id: 1
      request:
        host: classic-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/domains/OcDkwuobpd8iYmYyp1d7
        method: GET
      response:
        body: '{"id":"OcDkwuobpd8iYmYyp1d7","domain":"testacc-3243021488.example.com","certificateSourceType":"MANUAL","validationStatus":"NOT_STARTED","brandId":"bndkwuobp9pOj4FFG1d7","dnsRecords":[{"recordType":"TXT","fqdn":"_oktaverification.testacc-3243021488.example.com","values":["fa1ee4fa2ea4411895a52c98f38d81fa"]},{"recordType":"CNAME","fqdn":"testacc-3243021488.example.com","values":["classic-00.customdomains.oktapreview.com"]}],"_links":{"self":{"href":"https://classic-00.dne-okta.com/api/v1/domains/OcDkwuobpd8iYmYyp1d7","hints":{"allow":["DELETE"]}},"verify":{"href":"https://classic-00.dne-okta.com/api/v1/domains/OcDkwuobpd8iYmYyp1d7/verify","hints":{"allow":["POST"]}},"brand":{"href":"https://classic-00.dne-okta.com/api/v1/brands/bndkwuobp9pOj4FFG1d7","hints":{"allow":["GET","PUT","DELETE"]}}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 265.029334ms
    - id: 2
      request:
        host: classic-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/domains/OcDkwuobpd8iYmYyp1d7/verify
        method: POST
      response:
        body: '{"id":"OcDkwuobpd8iYmYyp1d7","domain":"testacc-3243021488.example.com","certificateSourceType":"MANUAL","validationStatus":"FAILED_TO_VERIFY","brandId":"bndkwuobp9pOj4FFG1d7","dnsRecords":[{"recordType":"TXT","fqdn":"_oktaverification.testacc-3243021488.example.com","values":["fa1ee4fa2ea4411895a52c98f38d81fa"]},{"recordType":"CNAME","fqdn":"testacc-3243021488.example.com","values":["classic-00.customdomains.oktapreview.com"]}],"_links":{"self":{"href":"https://classic-00.dne-okta.com/api/v1/domains/OcDkwuobpd8iYmYyp1d7","hints":{"allow":["GET","DELETE"]}},"brand":{"href":"https://classic-00.dne-okta.com/api/v1/brands/bndkwuobp9pOj4FFG1d7","hints":{"allow":["GET","PUT","DELETE"]}}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 795.402792ms
[...]
    - id: 7
      request:
        host: classic-00.dne-okta.com
        body: |
            {"name":"test"}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://classic-00.dne-okta.com/api/v1/brands
        method: POST
      response:
        body: '{"id":"bndkwurnze0ecjdIW1d7","name":"test","removePoweredByOkta":false,"customPrivacyPolicyUrl":null,"agreeToCustomPrivacyPolicy":false,"isDefault":false,"defaultApp":{"appInstanceId":null,"appLinkName":null,"classicApplicationUri":null},"_links":{"themes":{"href":"https://classic-00.dne-okta.com/api/v1/brands/bndkwurnze0ecjdIW1d7/themes","hints":{"allow":["GET"]}},"self":{"href":"https://classic-00.dne-okta.com/api/v1/brands/bndkwurnze0ecjdIW1d7","hints":{"allow":["GET","PUT","DELETE"]}}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 647.675292ms
    - id: 8
      request:
        host: classic-00.dne-okta.com
        body: |
            {"agreeToCustomPrivacyPolicy":false,"customPrivacyPolicyUrl":"","defaultApp":{},"name":"test","removePoweredByOkta":false}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://classic-00.dne-okta.com/api/v1/brands/bndkwurnze0ecjdIW1d7
        method: PUT
      response:
        body: '{"id":"bndkwurnze0ecjdIW1d7","name":"test","removePoweredByOkta":false,"customPrivacyPolicyUrl":null,"agreeToCustomPrivacyPolicy":false,"isDefault":false,"defaultApp":{"appInstanceId":null,"appLinkName":null,"classicApplicationUri":null},"_links":{"themes":{"href":"https://classic-00.dne-okta.com/api/v1/brands/bndkwurnze0ecjdIW1d7/themes","hints":{"allow":["GET"]}},"self":{"href":"https://classic-00.dne-okta.com/api/v1/brands/bndkwurnze0ecjdIW1d7","hints":{"allow":["GET","PUT","DELETE"]}}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 220.990792ms
[...]
