---
version: 2
interactions:
- id: 0
  request:
    host: classic-00.dne-okta.com
    body: "{\"certificateSourceType\":\"MANUAL\",\"domain\":\"testAcc-3243021488.example.com\"}\n"
    headers:
      Authorization:
      - SSWS REDACTED
      Content-Type:
      - application/json
    url: https://classic-00.dne-okta.com/api/v1/domains
    method: POST
  response:
    body: "{\"id\":\"OcDqx7ktq4mXQi9PS1d7\",\"domain\":\"testacc-3243021488.example.com\",\"certificateSourceType\":\"MANUAL\",\"validationStatus\":\"NOT_STARTED\",\"brandId\":\"bndqx7ktq0inDTE5d1d7\",\"dnsRecords\":[{\"recordType\":\"TXT\",\"fqdn\":\"_oktaverification.testacc-3243021488.example.com\",\"values\":[\"f45374cbe6824163875919d5b44fa1fe\"]},{\"recordType\":\"CNAME\",\"fqdn\":\"testacc-3243021488.example.com\",\"values\":[\"classic-00.customdomains.oktapreview.com\"]}],\"_links\":{\"self\":{\"href\":\"https://classic-00.dne-okta.com/api/v1/domains/OcDqx7ktq4mXQi9PS1d7\",\"hints\":{\"allow\":[\"GET\",\"DELETE\",\"PUT\"]}},\"verify\":{\"href\":\"https://classic-00.dne-okta.com/api/v1/domains/OcDqx7ktq4mXQi9PS1d7/verify\",\"hints\":{\"allow\":[\"POST\"]}},\"brand\":{\"href\":\"https://classic-00.dne-okta.com/api/v1/brands/bndqx7ktq0inDTE5d1d7\",\"hints\":{\"allow\":[\"GET\",\"PUT\",\"DELETE\"]}}}}"
    headers:
      Accept-Ch:
      - Sec-CH-UA-Platform-Version
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: 1.521009792s
- id: 1
  request:
    host: classic-00.dne-okta.com
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://classic-00.dne-okta.com/api/v1/domains/OcDqx7ktq4mXQi9PS1d7
    method: GET
  response:
    body: "{\"id\":\"OcDqx7ktq4mXQi9PS1d7\",\"domain\":\"testacc-3243021488.example.com\",\"certificateSourceType\":\"MANUAL\",\"validationStatus\":\"NOT_STARTED\",\"brandId\":\"bndqx7ktq0inDTE5d1d7\",\"dnsRecords\":[{\"recordType\":\"TXT\",\"fqdn\":\"_oktaverification.testacc-3243021488.example.com\",\"values\":[\"f45374cbe6824163875919d5b44fa1fe\"]},{\"recordType\":\"CNAME\",\"fqdn\":\"testacc-3243021488.example.com\",\"values\":[\"classic-00.customdomains.oktapreview.com\"]}],\"_links\":{\"self\":{\"href\":\"https://classic-00.dne-okta.com/api/v1/domains/OcDqx7ktq4mXQi9PS1d7\",\"hints\":{\"allow\":[\"DELETE\"]}},\"verify\":{\"href\":\"https://classic-00.dne-okta.com/api/v1/domains/OcDqx7ktq4mXQi9PS1d7/verify\",\"hints\":{\"allow\":[\"POST\"]}},\"brand\":{\"href\":\"https://classic-00.dne-okta.com/api/v1/brands/bndqx7ktq0inDTE5d1d7\",\"hints\":{\"allow\":[\"GET\",\"PUT\",\"DELETE\"]}}}}"
    headers:
      Accept-Ch:
      - Sec-CH-UA-Platform-Version
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 1.041515125s
[...]
- id: 4
  request:
    host: classic-00.dne-okta.com
    body: "{\"name\":\"test\"}\n"
    headers:
      Authorization:
      - SSWS REDACTED
      Content-Type:
      - application/json
    url: https://classic-00.dne-okta.com/api/v1/brands
    method: POST
  response:
    body: "{\"id\":\"bndqx7em9uLzqzDQz1d7\",\"name\":\"test\",\"removePoweredByOkta\":false,\"customPrivacyPolicyUrl\":null,\"agreeToCustomPrivacyPolicy\":false,\"isDefault\":false,\"defaultApp\":{\"appInstanceId\":null,\"appLinkName\":null,\"classicApplicationUri\":null},\"_links\":{\"themes\":{\"href\":\"https://classic-00.dne-okta.com/api/v1/brands/bndqx7em9uLzqzDQz1d7/themes\",\"hints\":{\"allow\":[\"GET\"]}},\"self\":{\"href\":\"https://classic-00.dne-okta.com/api/v1/brands/bndqx7em9uLzqzDQz1d7\",\"hints\":{\"allow\":[\"GET\",\"PUT\",\"DELETE\"]}}}}"
    headers:
      Accept-Ch:
      - Sec-CH-UA-Platform-Version
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: 1.070453209s
- id: 5
  request:
    host: classic-00.dne-okta.com
    body: "{\"agreeToCustomPrivacyPolicy\":false,\"customPrivacyPolicyUrl\":\"\",\"defaultApp\":{},\"name\":\"test\",\"removePoweredByOkta\":false}\n"
    headers:
      Authorization:
      - SSWS REDACTED
      Content-Type:
      - application/json
    url: https://classic-00.dne-okta.com/api/v1/brands/bndqx7em9uLzqzDQz1d7
    method: PUT
  response:
    body: "{\"id\":\"bndqx7em9uLzqzDQz1d7\",\"name\":\"test\",\"removePoweredByOkta\":false,\"customPrivacyPolicyUrl\":null,\"agreeToCustomPrivacyPolicy\":false,\"isDefault\":false,\"defaultApp\":{\"appInstanceId\":null,\"appLinkName\":null,\"classicApplicationUri\":null},\"_links\":{\"themes\":{\"href\":\"https://classic-00.dne-okta.com/api/v1/brands/bndqx7em9uLzqzDQz1d7/themes\",\"hints\":{\"allow\":[\"GET\"]}},\"self\":{\"href\":\"https://classic-00.dne-okta.com/api/v1/brands/bndqx7em9uLzqzDQz1d7\",\"hints\":{\"allow\":[\"GET\",\"PUT\",\"DELETE\"]}}}}"
    headers:
      Accept-Ch:
      - Sec-CH-UA-Platform-Version
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 1.147232875s
[...]
- id: 7
  request:
    host: classic-00.dne-okta.com
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://classic-00.dne-okta.com/api/v1/domains/OcDqx7ktq4mXQi9PS1d7/verify
    method: POST
  response:
    body: "{\"id\":\"OcDqx7ktq4mXQi9PS1d7\",\"domain\":\"testacc-3243021488.example.com\",\"certificateSourceType\":\"MANUAL\",\"validationStatus\":\"FAILED_TO_VERIFY\",\"brandId\":\"bndqx7ktq0inDTE5d1d7\",\"dnsRecords\":[{\"recordType\":\"TXT\",\"fqdn\":\"_oktaverification.testacc-3243021488.example.com\",\"values\":[\"f45374cbe6824163875919d5b44fa1fe\"]},{\"recordType\":\"CNAME\",\"fqdn\":\"testacc-3243021488.example.com\",\"values\":[\"classic-00.customdomains.oktapreview.com\"]}],\"_links\":{\"self\":{\"href\":\"https://classic-00.dne-okta.com/api/v1/domains/OcDqx7ktq4mXQi9PS1d7\",\"hints\":{\"allow\":[\"GET\",\"DELETE\"]}},\"brand\":{\"href\":\"https://classic-00.dne-okta.com/api/v1/brands/bndqx7ktq0inDTE5d1d7\",\"hints\":{\"allow\":[\"GET\",\"PUT\",\"DELETE\"]}}}}"
    headers:
      Accept-Ch:
      - Sec-CH-UA-Platform-Version
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 1.480100166s
[...]
