---
version: 2
interactions:
    - id: 0
      request:
        host: oie-00.dne-okta.com
        body: |
            {"certificateSourceType":"MANUAL","domain":"testAcc-3243021488.example.com"}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://oie-00.dne-okta.com/api/v1/domains
        method: POST
      response:
        body: '{"id":"OcDkxeef9xZVMwyoq1d7","domain":"testacc-3243021488.example.com","certificateSourceType":"MANUAL","validationStatus":"NOT_STARTED","brandId":"bndkxeef9tHsGn98t1d7","dnsRecords":[{"recordType":"TXT","fqdn":"_oktaverification.testacc-3243021488.example.com","values":["35857f8cedc74f678e5b8cc5ee5eb2ed"]},{"recordType":"CNAME","fqdn":"testacc-3243021488.example.com","values":["oie-00.customdomains.oktapreview.com"]}],"_links":{"self":{"href":"https://oie-00.dne-okta.com/api/v1/domains/OcDkxeef9xZVMwyoq1d7","hints":{"allow":["GET","DELETE","PUT"]}},"verify":{"href":"https://oie-00.dne-okta.com/api/v1/domains/OcDkxeef9xZVMwyoq1d7/verify","hints":{"allow":["POST"]}},"brand":{"href":"https://oie-00.dne-okta.com/api/v1/brands/bndkxeef9tHsGn98t1d7","hints":{"allow":["GET","PUT","DELETE"]}}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 450.240292ms
    - id: 1
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/domains/OcDkxeef9xZVMwyoq1d7
        method: GET
      response:
        body: '{"id":"OcDkxeef9xZVMwyoq1d7","domain":"testacc-3243021488.example.com","certificateSourceType":"MANUAL","validationStatus":"NOT_STARTED","brandId":"bndkxeef9tHsGn98t1d7","dnsRecords":[{"recordType":"TXT","fqdn":"_oktaverification.testacc-3243021488.example.com","values":["35857f8cedc74f678e5b8cc5ee5eb2ed"]},{"recordType":"CNAME","fqdn":"testacc-3243021488.example.com","values":["oie-00.customdomains.oktapreview.com"]}],"_links":{"self":{"href":"https://oie-00.dne-okta.com/api/v1/domains/OcDkxeef9xZVMwyoq1d7","hints":{"allow":["DELETE"]}},"verify":{"href":"https://oie-00.dne-okta.com/api/v1/domains/OcDkxeef9xZVMwyoq1d7/verify","hints":{"allow":["POST"]}},"brand":{"href":"https://oie-00.dne-okta.com/api/v1/brands/bndkxeef9tHsGn98t1d7","hints":{"allow":["GET","PUT","DELETE"]}}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 241.635291ms
    - id: 2
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/domains/OcDkxeef9xZVMwyoq1d7/verify
        method: POST
      response:
        body: '{"id":"OcDkxeef9xZVMwyoq1d7","domain":"testacc-3243021488.example.com","certificateSourceType":"MANUAL","validationStatus":"FAILED_TO_VERIFY","brandId":"bndkxeef9tHsGn98t1d7","dnsRecords":[{"recordType":"TXT","fqdn":"_oktaverification.testacc-3243021488.example.com","values":["35857f8cedc74f678e5b8cc5ee5eb2ed"]},{"recordType":"CNAME","fqdn":"testacc-3243021488.example.com","values":["oie-00.customdomains.oktapreview.com"]}],"_links":{"self":{"href":"https://oie-00.dne-okta.com/api/v1/domains/OcDkxeef9xZVMwyoq1d7","hints":{"allow":["GET","DELETE"]}},"brand":{"href":"https://oie-00.dne-okta.com/api/v1/brands/bndkxeef9tHsGn98t1d7","hints":{"allow":["GET","PUT","DELETE"]}}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 830.356459ms
[...]
    - id: 7
      request:
        host: oie-00.dne-okta.com
        body: |
            {"name":"test"}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://oie-00.dne-okta.com/api/v1/brands
        method: POST
      response:
        body: '{"id":"bndkxee25z2exntGo1d7","name":"test","removePoweredByOkta":false,"customPrivacyPolicyUrl":null,"agreeToCustomPrivacyPolicy":false,"isDefault":false,"defaultApp":{"appInstanceId":null,"appLinkName":null,"classicApplicationUri":null},"_links":{"themes":{"href":"https://oie-00.dne-okta.com/api/v1/brands/bndkxee25z2exntGo1d7/themes","hints":{"allow":["GET"]}},"self":{"href":"https://oie-00.dne-okta.com/api/v1/brands/bndkxee25z2exntGo1d7","hints":{"allow":["GET","PUT","DELETE"]}}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 288.88825ms
    - id: 8
      request:
        host: oie-00.dne-okta.com
        body: |
            {"agreeToCustomPrivacyPolicy":false,"customPrivacyPolicyUrl":"","defaultApp":{},"name":"test","removePoweredByOkta":false}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://oie-00.dne-okta.com/api/v1/brands/bndkxee25z2exntGo1d7
        method: PUT
      response:
        body: '{"id":"bndkxee25z2exntGo1d7","name":"test","removePoweredByOkta":false,"customPrivacyPolicyUrl":null,"agreeToCustomPrivacyPolicy":false,"isDefault":false,"defaultApp":{"appInstanceId":null,"appLinkName":null,"classicApplicationUri":null},"_links":{"themes":{"href":"https://oie-00.dne-okta.com/api/v1/brands/bndkxee25z2exntGo1d7/themes","hints":{"allow":["GET"]}},"self":{"href":"https://oie-00.dne-okta.com/api/v1/brands/bndkxee25z2exntGo1d7","hints":{"allow":["GET","PUT","DELETE"]}}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 268.159458ms
[...]
