---
version: 2
interactions:
- id: 0
  request:
    host: oie-00.dne-okta.com
    body: "{\"certificateSourceType\":\"MANUAL\",\"domain\":\"testAcc-3243021488.example.com\"}\n"
    headers:
      Authorization:
      - SSWS REDACTED
      Content-Type:
      - application/json
    url: https://oie-00.dne-okta.com/api/v1/domains
    method: POST
  response:
    body: "{\"id\":\"OcDqx7gxf6DYPKCFn1d7\",\"domain\":\"testacc-3243021488.example.com\",\"certificateSourceType\":\"MANUAL\",\"validationStatus\":\"NOT_STARTED\",\"brandId\":\"bndqx7gxf2n20lgk71d7\",\"dnsRecords\":[{\"recordType\":\"TXT\",\"fqdn\":\"_oktaverification.testacc-3243021488.example.com\",\"values\":[\"5e7cdad902f742a29e266ce2298b0a52\"]},{\"recordType\":\"CNAME\",\"fqdn\":\"testacc-3243021488.example.com\",\"values\":[\"oie-00.customdomains.oktapreview.com\"]}],\"_links\":{\"self\":{\"href\":\"https://oie-00.dne-okta.com/api/v1/domains/OcDqx7gxf6DYPKCFn1d7\",\"hints\":{\"allow\":[\"GET\",\"DELETE\",\"PUT\"]}},\"verify\":{\"href\":\"https://oie-00.dne-okta.com/api/v1/domains/OcDqx7gxf6DYPKCFn1d7/verify\",\"hints\":{\"allow\":[\"POST\"]}},\"brand\":{\"href\":\"https://oie-00.dne-okta.com/api/v1/brands/bndqx7gxf2n20lgk71d7\",\"hints\":{\"allow\":[\"GET\",\"PUT\",\"DELETE\"]}}}}"
    headers:
      Accept-Ch:
      - Sec-CH-UA-Platform-Version
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: 1.455747416s
- id: 1
  request:
    host: oie-00.dne-okta.com
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://oie-00.dne-okta.com/api/v1/domains/OcDqx7gxf6DYPKCFn1d7
    method: GET
  response:
    body: "{\"id\":\"OcDqx7gxf6DYPKCFn1d7\",\"domain\":\"testacc-3243021488.example.com\",\"certificateSourceType\":\"MANUAL\",\"validationStatus\":\"NOT_STARTED\",\"brandId\":\"bndqx7gxf2n20lgk71d7\",\"dnsRecords\":[{\"recordType\":\"TXT\",\"fqdn\":\"_oktaverification.testacc-3243021488.example.com\",\"values\":[\"5e7cdad902f742a29e266ce2298b0a52\"]},{\"recordType\":\"CNAME\",\"fqdn\":\"testacc-3243021488.example.com\",\"values\":[\"oie-00.customdomains.oktapreview.com\"]}],\"_links\":{\"self\":{\"href\":\"https://oie-00.dne-okta.com/api/v1/domains/OcDqx7gxf6DYPKCFn1d7\",\"hints\":{\"allow\":[\"DELETE\"]}},\"verify\":{\"href\":\"https://oie-00.dne-okta.com/api/v1/domains/OcDqx7gxf6DYPKCFn1d7/verify\",\"hints\":{\"allow\":[\"POST\"]}},\"brand\":{\"href\":\"https://oie-00.dne-okta.com/api/v1/brands/bndqx7gxf2n20lgk71d7\",\"hints\":{\"allow\":[\"GET\",\"PUT\",\"DELETE\"]}}}}"
    headers:
      Accept-Ch:
      - Sec-CH-UA-Platform-Version
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 1.0470995s
[...]
- id: 4
  request:
    host: oie-00.dne-okta.com
    body: "{\"name\":\"test\"}\n"
    headers:
      Authorization:
      - SSWS REDACTED
      Content-Type:
      - application/json
    url: https://oie-00.dne-okta.com/api/v1/brands
    method: POST
  response:
    body: "{\"id\":\"bndqx7hzkmwTb25zI1d7\",\"name\":\"test\",\"removePoweredByOkta\":false,\"customPrivacyPolicyUrl\":null,\"agreeToCustomPrivacyPolicy\":false,\"isDefault\":false,\"defaultApp\":{\"appInstanceId\":null,\"appLinkName\":null,\"classicApplicationUri\":null},\"_links\":{\"themes\":{\"href\":\"https://oie-00.dne-okta.com/api/v1/brands/bndqx7hzkmwTb25zI1d7/themes\",\"hints\":{\"allow\":[\"GET\"]}},\"self\":{\"href\":\"https://oie-00.dne-okta.com/api/v1/brands/bndqx7hzkmwTb25zI1d7\",\"hints\":{\"allow\":[\"GET\",\"PUT\",\"DELETE\"]}}}}"
    headers:
      Accept-Ch:
      - Sec-CH-UA-Platform-Version
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: 1.123384125s
- id: 5
  request:
    host: oie-00.dne-okta.com
    body: "{\"agreeToCustomPrivacyPolicy\":false,\"customPrivacyPolicyUrl\":\"\",\"defaultApp\":{},\"name\":\"test\",\"removePoweredByOkta\":false}\n"
    headers:
      Authorization:
      - SSWS REDACTED
      Content-Type:
      - application/json
    url: https://oie-00.dne-okta.com/api/v1/brands/bndqx7hzkmwTb25zI1d7
    method: PUT
  response:
    body: "{\"id\":\"bndqx7hzkmwTb25zI1d7\",\"name\":\"test\",\"removePoweredByOkta\":false,\"customPrivacyPolicyUrl\":null,\"agreeToCustomPrivacyPolicy\":false,\"isDefault\":false,\"defaultApp\":{\"appInstanceId\":null,\"appLinkName\":null,\"classicApplicationUri\":null},\"_links\":{\"themes\":{\"href\":\"https://oie-00.dne-okta.com/api/v1/brands/bndqx7hzkmwTb25zI1d7/themes\",\"hints\":{\"allow\":[\"GET\"]}},\"self\":{\"href\":\"https://oie-00.dne-okta.com/api/v1/brands/bndqx7hzkmwTb25zI1d7\",\"hints\":{\"allow\":[\"GET\",\"PUT\",\"DELETE\"]}}}}"
    headers:
      Accept-Ch:
      - Sec-CH-UA-Platform-Version
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 1.062780708s
[...]
- id: 7
  request:
    host: oie-00.dne-okta.com
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://oie-00.dne-okta.com/api/v1/domains/OcDqx7gxf6DYPKCFn1d7/verify
    method: POST
  response:
    body: "{\"id\":\"OcDqx7gxf6DYPKCFn1d7\",\"domain\":\"testacc-3243021488.example.com\",\"certificateSourceType\":\"MANUAL\",\"validationStatus\":\"FAILED_TO_VERIFY\",\"brandId\":\"bndqx7gxf2n20lgk71d7\",\"dnsRecords\":[{\"recordType\":\"TXT\",\"fqdn\":\"_oktaverification.testacc-3243021488.example.com\",\"values\":[\"5e7cdad902f742a29e266ce2298b0a52\"]},{\"recordType\":\"CNAME\",\"fqdn\":\"testacc-3243021488.example.com\",\"values\":[\"oie-00.customdomains.oktapreview.com\"]}],\"_links\":{\"self\":{\"href\":\"https://oie-00.dne-okta.com/api/v1/domains/OcDqx7gxf6DYPKCFn1d7\",\"hints\":{\"allow\":[\"GET\",\"DELETE\"]}},\"brand\":{\"href\":\"https://oie-00.dne-okta.com/api/v1/brands/bndqx7gxf2n20lgk71d7\",\"hints\":{\"allow\":[\"GET\",\"PUT\",\"DELETE\"]}}}}"
    headers:
      Accept-Ch:
      - Sec-CH-UA-Platform-Version
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 1.349708625s
[...]
