---
version: 2
interactions:
    - id: 0
      request:
        host: oie-00.dne-okta.com
        body: |
            {"accessibility":{"selfService":false},"credentials":{"userNameTemplate":{"template":"${source.login}","type":"BUILT_IN"},"oauthClient":{"autoKeyRotation":true,"pkce_required":true,"token_endpoint_auth_method":"client_secret_basic"}},"label":"testAcc_3037810408","name":"oidc_client","settings":{"app":{},"implicitAssignment":false,"notes":{"admin":null,"enduser":null},"oauthClient":{"application_type":"native","consent_method":"TRUSTED","grant_types":["authorization_code"],"idp_initiated_login":{"default_scope":[],"mode":"DISABLED"},"issuer_mode":"ORG_URL","redirect_uris":["http://d.com/"],"response_types":["code"],"wildcard_redirect":"DISABLED"}},"signOnMode":"OPENID_CONNECT","visibility":{"autoSubmitToolbar":false,"hide":{"iOS":true,"web":true}}}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://oie-00.dne-okta.com/api/v1/apps?activate=true
        method: POST
      response:
        body: '{"id":"0oakwqxeajwPRc76w1d7","orn":"orn:oktapreview:idp:00o5qwjvg8hg7YpT81d7:apps:oidc_client:0oakwqxeajwPRc76w1d7","name":"oidc_client","label":"testAcc_3037810408","status":"ACTIVE","lastUpdated":"2025-03-13T23:31:29.000Z","created":"2025-03-13T23:31:29.000Z","accessibility":{"selfService":false,"errorRedirectUrl":null,"loginRedirectUrl":null},"visibility":{"autoLaunch":false,"autoSubmitToolbar":false,"hide":{"iOS":true,"web":true},"appLinks":{"oidc_client_link":true}},"features":[],"signOnMode":"OPENID_CONNECT","credentials":{"userNameTemplate":{"template":"${source.login}","type":"BUILT_IN"},"signing":{"kid":"N60VbAntJ7ONHTQr7YcAiywke_a08RzPdv9okaextIA"},"oauthClient":{"autoKeyRotation":true,"client_id":"0oakwqxeajwPRc76w1d7","client_secret":"E06QDLM2AL7QYWsBT22She_t6-9q3Q_1UlcFJas88BaxEM8z_wxatZMSsBr3Nzym","token_endpoint_auth_method":"client_secret_basic","pkce_required":true}},"settings":{"app":{},"notifications":{"vpn":{"network":{"connection":"DISABLED"},"message":null,"helpUrl":null}},"manualProvisioning":false,"implicitAssignment":false,"notes":{"admin":null,"enduser":null},"oauthClient":{"client_uri":null,"logo_uri":null,"redirect_uris":["http://d.com/"],"response_types":["code"],"grant_types":["authorization_code"],"application_type":"native","consent_method":"TRUSTED","issuer_mode":"ORG_URL","idp_initiated_login":{"mode":"DISABLED","default_scope":[]},"wildcard_redirect":"DISABLED","dpop_bound_access_tokens":false,"participate_slo":false}},"_links":{"uploadLogo":{"href":"https://oie-00.dne-okta.com/api/v1/apps/0oakwqxeajwPRc76w1d7/logo","hints":{"allow":["POST"]}},"appLinks":[{"name":"oidc_client_link","href":"https://oie-00.dne-okta.com/home/oidc_client/0oakwqxeajwPRc76w1d7/aln177a159h7Zf52X0g8","type":"text/html"}],"profileEnrollment":{"href":"https://oie-00.dne-okta.com/api/v1/policies/rst5qwjvlxUHivL8a1d7"},"policies":{"href":"https://oie-00.dne-okta.com/api/v1/apps/0oakwqxeajwPRc76w1d7/policies","hints":{"allow":["PUT"]}},"groups":{"href":"https://oie-00.dne-okta.com/api/v1/apps/0oakwqxeajwPRc76w1d7/groups"},"logo":[{"name":"medium","href":"https://op3static.oktacdn.com/assets/img/logos/default.6770228fb0dab49a1695ef440a5279bb.png","type":"image/png"}],"clientCredentials":[{"name":"secrets","href":"https://oie-00.dne-okta.com/api/v1/apps/0oakwqxeajwPRc76w1d7/credentials/secrets"}],"accessPolicy":{"href":"https://oie-00.dne-okta.com/api/v1/policies/rst5qwjvlvS3G1WOU1d7"},"users":{"href":"https://oie-00.dne-okta.com/api/v1/apps/0oakwqxeajwPRc76w1d7/users"},"deactivate":{"href":"https://oie-00.dne-okta.com/api/v1/apps/0oakwqxeajwPRc76w1d7/lifecycle/deactivate"}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 942.648916ms
    - id: 1
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/.well-known/okta-organization
        method: GET
      response:
        body: '{"id":"00o5qwjvg8hg7YpT81d7","cell":"op3","_links":{"organization":{"href":"https://oie-00.dne-okta.com"}},"pipeline":"idx","settings":{"analyticsCollectionEnabled":false,"bugReportingEnabled":true,"omEnabled":false,"pssoEnabled":false,"desktopMFAEnabled":false,"itpEnabled":true,"op4wEnabled":true}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 230.55325ms
    - id: 2
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/policies?type=ACCESS_POLICY
        method: GET
      response:
        body: '[{"id":"rst5qwjvkl70Eb6xw1d7","status":"ACTIVE","name":"Okta Admin Applications","priority":1,"system":false,"conditions":null,"created":"2022-10-07T23:17:01.000Z","lastUpdated":"2024-07-18T11:01:12.000Z","_links":{"mappings":{"href":"https://oie-00.dne-okta.com/api/v1/policies/rst5qwjvkl70Eb6xw1d7/mappings","hints":{"allow":["GET","POST"]}},"self":{"href":"https://oie-00.dne-okta.com/api/v1/policies/rst5qwjvkl70Eb6xw1d7","hints":{"allow":["GET","PUT","DELETE"]}},"rules":{"href":"https://oie-00.dne-okta.com/api/v1/policies/rst5qwjvkl70Eb6xw1d7/rules","hints":{"allow":["GET","POST"]}},"deactivate":{"href":"https://oie-00.dne-okta.com/api/v1/policies/rst5qwjvkl70Eb6xw1d7/lifecycle/deactivate","hints":{"allow":["POST"]}}},"_embedded":{"resourceType":"APP"},"type":"ACCESS_POLICY"},{"id":"rst5qwjvlvS3G1WOU1d7","status":"ACTIVE","name":"Any two factors","description":"Require two factors to access.","priority":1,"system":true,"conditions":null,"created":"2022-10-07T23:17:01.000Z","lastUpdated":"2022-10-07T23:17:01.000Z","_links":{"self":{"href":"https://oie-00.dne-okta.com/api/v1/policies/rst5qwjvlvS3G1WOU1d7","hints":{"allow":["GET","PUT"]}},"rules":{"href":"https://oie-00.dne-okta.com/api/v1/policies/rst5qwjvlvS3G1WOU1d7/rules","hints":{"allow":["GET","POST"]}}},"_embedded":{"resourceType":"APP"},"type":"ACCESS_POLICY"},{"id":"rst7a8k7jmedunOAK1d7","status[...]
    - id: 3
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/apps/0oakwqxeajwPRc76w1d7/policies/rst5qwjvlvS3G1WOU1d7
        method: PUT
      response:
        body: ""
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
        status: 204 No Content
        code: 204
        duration: 275.097792ms
    - id: 4
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/apps/0oakwqxeajwPRc76w1d7
        method: GET
      response:
        body: '{"id":"0oakwqxeajwPRc76w1d7","orn":"orn:oktapreview:idp:00o5qwjvg8hg7YpT81d7:apps:oidc_client:0oakwqxeajwPRc76w1d7","name":"oidc_client","label":"testAcc_3037810408","status":"ACTIVE","lastUpdated":"2025-[...]
    - id: 5
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/internal/apps/0oakwqxeajwPRc76w1d7/settings/oauth/idToken
        method: GET
      response:
        body: '{"issuer":"https://oie-00.dne-okta.com","orgUrl":null,"customUrl":null,"audience":"0oakwqxeajwPRc76w1d7","issuerMode":"ORG_URL"}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 215.123958ms
    - id: 6
      request:
        host: oie-00.dne-okta.com
        body: '{"definitions":{"base":{"id":"#base","properties":{"name":{"master":{"type":"PROFILE_MASTER"},"permissions":[{"action":"READ_ONLY","principal":"SELF"}],"required":true,"title":"Name","type":"string"}},"type":"object"}}}'
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://oie-00.dne-okta.com/api/v1/meta/schemas/apps/0oakwqxeajwPRc76w1d7/default
        method: POST
      response:
        body: '{"id":"https://oie-00.dne-okta.com/meta/schemas/apps/0oakwqxeajwPRc76w1d7/default","$schema":"http://json-schema.org/draft-04/schema#","name":"oidc_client_9f62gc0","title":"testAcc_3037810408 User","lastUpdated":"2025-03-13T23:31:31.000Z","created":"2025-03-13T23:31:29.000Z","definitions":{"custom":{"id":"#custom","type":"object","properties":{}},"base":{"id":"#base","type":"object","properties":{"userName":{"title":"Username","type":"string","required":true,"externalName":"preferred_username","scope":"SELF","master":{"type":"PROFILE_MASTER"}},"name":{"title":"Name","description":"End-User''s full name in displayable form.","type":"string","required":true,"scope":"SELF","master":{"type":"PROFILE_MASTER"}},"nickname":{"title":"Nickname","description":"Casual name of the End-User (may or may not be the same as the given_name)","type":"string","scope":"SELF","master":{"type":"PROFILE_MASTER"}},"given_name":{"title":"Given Name","description":"Given name or first name of the End-User.","type":"string","scope":"SELF","master":{"type":"PROFILE_MASTER"}},"middle_name":{"title":"Middle Name","description":"Middle name of the End-User.","type":"string","scope":"SELF","master":{"type":"PROFILE_MASTER"}},"family_name":{"title":"Family Name","description":"Surname or last name of the End-User.","type":"string","scope":"SELF","master":{"type":"PROFILE_MASTER"}},"email":{"title":"Email","description":"End-User''s preferred e-mail address.","type":"string","scope":"SELF","master":{"type":"PROFILE_MASTER"}},"profile":{"title":"Profile URL","description":"URL of the End-User''s profile page.","type":"string","scope":"SELF","master":{"type":"PROFILE_MASTER"}},"picture":{"title":"Picture URL","description":"URL of the End-User''s profile picture.","type":"string","scope":"SELF","master":{"type":"PROFILE_MASTER"}},"website":{"title":"Website","description":"URL of the End-User''s Web page or blog.","type":"string","scope":"SELF","master":{"type":"PROFILE_MASTER"}},"gender":{"title":"Gender","description":"End-User''s gender.","type":"string","scope":"SELF","master":{"type":"PROFILE_MASTER"}},"birthdate":{"title":"Birthdate","description":"End-User''s birthday, represented as an ISO 8601:2004 YYYY-MM-DD format.","type":"string","scope":"SELF","master":{"type":"PROFILE_MASTER"}},"zoneinfo":{"title":"Time Zone","description":"String representing the End-User''s time zone.","type":"string","scope":"SELF","master":{"type":"PROFILE_MASTER"}},"locale":{"title":"Locale Name","description":"ISO3166‑1 country code in uppercase, separated by a dash (e.g. ''en-US'')","type":"string","scope":"SELF","master":{"type":"PROFILE_MASTER"}},"phone_number":{"title":"Phone Number","description":"End-User''s preferred telephone number in E.164 format.","type":"string","scope":"SELF","master":{"type":"PROFILE_MASTER"}},"street_address":{"title":"Street Address","description":"Full street address component.","type":"string","externalName":"address.street_address","scope":"SELF","master":{"type":"PROFILE_MASTER"}},"locality":{"title":"Locality","description":"City or locality component.","type":"string","externalName":"address.locality","scope":"SELF","master":{"type":"PROFILE_MASTER"}},"region":{"title":"Region","description":"State, province, prefecture, or region component.","type":"string","externalName":"address.region","scope":"SELF","master":{"type":"PROFILE_MASTER"}},"postal_code":{"title":"Postal Code","description":"Zip code or postal code component.","type":"string","externalName":"address.postal_code","scope":"SELF","master":{"type":"PROFILE_MASTER"}},"country":{"title":"Country","description":"Country name component.","type":"string","externalName":"address.country","scope":"SELF","master":{"type":"PROFILE_MASTER"}},"formatted":{"title":"Formatted","description":"Full mailing address, formatted for display.","type":"string","externalName":"address.formatted","scope":"SELF","master":{"type":"PROFILE_MASTER"}}},"required":["userName","name"]}},"type":"object","properties":{"profile":{"allOf":[{"$ref":"#/definitions/custom"},{"$ref":"#/definitions/base"}]}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 287.537625ms
[...]
    - id: 19
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/apps/0oakwqxeajwPRc76w1d7/lifecycle/deactivate
        method: POST
      response:
        body: '{}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 235.939209ms
[...]
