---
version: 2
interactions:
- id: 0
  request:
    host: oie-00.dne-okta.com
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://oie-00.dne-okta.com/.well-known/okta-organization
    method: GET
  response:
    body: "{\"id\":\"00onkw1sbuAh3Q06I1d7\",\"cell\":\"op3\",\"_links\":{\"organization\":{\"href\":\"https://oie-00.dne-okta.com\"}},\"pipeline\":\"idx\",\"settings\":{\"analyticsCollectionEnabled\":false,\"bugReportingEnabled\":true,\"omEnabled\":false,\"pssoEnabled\":true,\"desktopMFAEnabled\":true,\"itpEnabled\":true}}"
    headers:
      Accept-Ch:
      - Sec-CH-UA-Platform-Version
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 1.1319165s
- id: 1
  request:
    host: oie-00.dne-okta.com
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://oie-00.dne-okta.com/api/v1/authenticators
    method: GET
  response:
    body: "[{\"type\":\"app\",\"id\":\"autsmry3961LkISL51d7\",\"key\":\"custom_app\",\"status\":\"ACTIVE\",\"name\":\"Custom App Authenticator\",\"created\":\"2025-12-12T16:33:39.000Z\",\"lastUpdated\":\"2025-12-12T16:33:39.000Z\",\"settings\":{\"appInstanceId\":\"0oasmrwi2idPlS77z1d7\",\"userVerification\":\"PREFERRED\",\"oauthClientId\":\"0oasmrwi2idPlS77z1d7\"},\"provider\":{\"type\":\"PUSH\",\"configuration\":{\"fcm\":{\"id\":\"ppcrb12345678ABCDEF\"}}},\"_links\":{\"self\":{\"href\":\"https://oie-00.dne-okta.com/api/v1/authenticators/autsmry3961LkISL51d7\",\"hints\":{\"allow\":[\"GET\",\"PUT\"]}},\"deactivate\":{\"href\":\"https://oie-00.dne-okta.com/api/v1/authenticators/autsmry3961LkISL51d7/lifecycle/deactivate\",\"hints\":{\"allow\":[\"POST\"]}},\"methods\":{\"href\":\"https://oie-00.dne-okta.com/api/v1/authenticators/autsmry3961LkISL51d7/methods\",\"hints\":{\"allow\":[\"GET\"]}},\"enroll\":{\"href\":\"https://oie-00.dne-okta.com/idp/authenticators\",\"hints\":{\"allow\":[\"POST\"]}}}},{\"type\":\"security_key\",\"id\":\"autqh8z6p5RQvxZsg1d7\",\"key\":\"custom_otp\",\"status\":\"ACTIVE\",\"name\":\"Custom OTP\",\"created\":\"2025-09-29T16:49:24.000Z\",\"lastUpdated\":\"2025-09-29T16:49:25.000Z\",\"_links\":{\"self\":{\"href\":\"https://oie-00.dne-okta.com/api/v1/authenticators/autqh8z6p5RQvxZsg1d7\",\"hints\":{\"allow\":[\"GET\",\"PUT\"]}},\"deactivate\":{\"href\":\"https://oie-00.dne-okta.com/api/v1/authenticators/autqh8z6p5RQvxZsg1d7/lifecycle/deactivate\",\"hints\":{\"allow\":[\"POST\"]}},\"methods\":{\"href\":\"https://oie-00.dne-okta.com/api/v1/authenticators/autqh8z6p5RQvxZsg1d7/methods\",\"hints\":{\"allow\":[\"GET\"]}}}},{\"type\":\"security_key\",\"id\":\"autp70491kdcUukHa1d7\",\"key\":\"custom_otp\",\"status\":\"INACTIVE\",\"name\":\"Custom OTP Authenticator\",\"created\":\"2025-08-15T09:04:14.000Z\",\"lastUpdated\":\"2025-08-15T13:02:33.000Z\",\"_links\":{\"self\":{\"href\":\"https://oie-00.dne-okta.com/api/v1/authenticators/autp70491kdcUukHa1d7\",\"hints\":{\"allow\":[\"GET\",\"PUT\"]}},\"activate\":{\"href\":\"https://oie-00.dne-okta.com/api/v1/authenticators/autp70491kdcUukHa1d7/lifecycle/activate\",\"hints\":{\"allow\":[\"POST\"]}},\"methods\":{\"href\":\"https://oie-00.dne-okta.com/api/v1/authenticators/autp70491kdcUukHa1d7/methods\",\"hints\":{\"allow\":[\"GET\"]}}}},{\"type\":\"security_key\",\"id\":\"autsonqmu9wvCuIG21d7\",\"key\":\"custom_otp\",\"status\":\"ACTIVE\",\"name\":\"Custom OTP-1\",\"created\":\"2025-12-14T16:08:58.000Z\",\"lastUpdated\":\"2025-12-14T16:08:58.000Z\",\"_lin[...]
- id: 2
  request:
    host: oie-00.dne-okta.com
    body: "{\"key\":\"custom_app\",\"name\":\"CustomAppTest\",\"provider\":{\"configuration\":{\"fcm\":{\"id\":\"ppcrb12345678ABCDEF\"}},\"type\":\"PUSH\"},\"settings\":{\"appInstanceId\":\"0oasp1cd3xP2oIRWY1d7\",\"userVerification\":\"REQUIRED\"},\"agreeToTerms\":true}\n"
    form:
      activate:
      - "true"
    headers:
      Authorization:
      - SSWS REDACTED
      Content-Type:
      - application/json
    url: https://oie-00.dne-okta.com/api/v1/authenticators?activate=true
    method: POST
  response:
    body: "{\"type\":\"app\",\"id\":\"autsp1c376tip3jtf1d7\",\"key\":\"custom_app\",\"status\":\"ACTIVE\",\"name\":\"CustomAppTest\",\"created\":\"2025-12-15T02:48:18.000Z\",\"lastUpdated\":\"2025-12-15T02:48:18.000Z\",\"settings\":{\"appInstanceId\":\"0oasp1cd3xP2oIRWY1d7\",\"userVerification\":\"REQUIRED\",\"oauthClientId\":\"0oasp1cd3xP2oIRWY1d7\"},\"provider\":{\"type\":\"PUSH\",\"configuration\":{\"fcm\":{\"id\":\"ppcrb12345678ABCDEF\"}}},\"_links\":{\"self\":{\"href\":\"https://oie-00.dne-okta.com/api/v1/authenticators/autsp1c376tip3jtf1d7\",\"hints\":{\"allow\":[\"GET\",\"PUT\"]}},\"deactivate\":{\"href\":\"https://oie-00.dne-okta.com/api/v1/authenticators/autsp1c376tip3jtf1d7/lifecycle/deactivate\",\"hints\":{\"allow\":[\"POST\"]}},\"methods\":{\"href\":\"https://oie-00.dne-okta.com/api/v1/authenticators/autsp1c376tip3jtf1d7/methods\",\"hints\":{\"allow\":[\"GET\"]}},\"enroll\":{\"href\":\"https://oie-00.dne-okta.com/idp/authenticators\",\"hints\":{\"allow\":[\"POST\"]}}}}"
    headers:
      Accept-Ch:
      - Sec-CH-UA-Platform-Version
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 1.455917208s
- id: 3
  request:
    host: oie-00.dne-okta.com
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://oie-00.dne-okta.com/api/v1/authenticators/autsp1c376tip3jtf1d7
    method: GET
  response:
    body: "{\"type\":\"app\",\"id\":\"autsp1c376tip3jtf1d7\",\"key\":\"custom_app\",\"status\":\"ACTIVE\",\"name\":\"CustomAppTest\",\"created\":\"2025-12-15T02:48:18.000Z\",\"lastUpdated\":\"2025-12-15T02:48:18.000Z\",\"settings\":{\"appInstanceId\":\"0oasp1cd3xP2oIRWY1d7\",\"userVerification\":\"REQUIRED\",\"oauthClientId\":\"0oasp1cd3xP2oIRWY1d7\"},\"provider\":{\"type\":\"PUSH\",\"configuration\":{\"fcm\":{\"id\":\"ppcrb12345678ABCDEF\"}}},\"_links\":{\"self\":{\"href\":\"https://oie-00.dne-okta.com/api/v1/authenticators/autsp1c376tip3jtf1d7\",\"hints\":{\"allow\":[\"GET\",\"PUT\"]}},\"deactivate\":{\"href\":\"https://oie-00.dne-okta.com/api/v1/authenticators/autsp1c376tip3jtf1d7/lifecycle/deactivate\",\"hints\":{\"allow\":[\"POST\"]}},\"methods\":{\"href\":\"https://oie-00.dne-okta.com/api/v1/authenticators/autsp1c376tip3jtf1d7/methods\",\"hints\":{\"allow\":[\"GET\"]}},\"enroll\":{\"href\":\"https://oie-00.dne-okta.com/idp/authenticators\",\"hints\":{\"allow\":[\"POST\"]}}}}"
    headers:
      Accept-Ch:
      - Sec-CH-UA-Platform-Version
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 1.107391041s
[...]
- id: 8
  request:
    host: oie-00.dne-okta.com
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://oie-00.dne-okta.com/api/v1/authenticators/autsp1c376tip3jtf1d7/lifecycle/deactivate
    method: POST
  response:
    body: "{\"errorCode\":\"E0000148\",\"errorSummary\":\"Cannot modify/disable this authenticator because it is enabled in one or more policies. To continue, disable the authenticator in these policies.\",\"errorLink\":\"E0000148\",\"errorId\":\"oaeMAqk-jnBRWOI2Tm0EbFLCA\",\"errorCauses\":[{\"errorSummary\":\"Authenticator Enrollment Policies: Default Policy\"}]}"
    headers:
      Accept-Ch:
      - Sec-CH-UA-Platform-Version
      Content-Type:
      - application/json
    status: 403 Forbidden
    code: 403
    duration: 1.15993975s
