---
version: 2
interactions:
    - id: 0
      request:
        host: oie-00.dne-okta.com
        body: |
            {"name":"z-testAcc-3554833993","platform":"CHROMEOS","thirdPartySignalProviders":{"dtc":{"allowScreenLock":true}}}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://oie-00.dne-okta.com/api/v1/device-assurances
        method: POST
      response:
        body: '{"name":"z-testAcc-3554833993","platform":"CHROMEOS","id":"daekwr3ah0JnEA4ky1d7","thirdPartySignalProviders":{"dtc":{"allowScreenLock":true}},"displayRemediationMode":"HIDE","createdDate":"2025-03-13T23:35:35.000Z","createdBy":"00u5qwjvk7u6E1DFG1d7","lastUpdate":"2025-03-13T23:35:35.000Z","lastUpdatedBy":"00u5qwjvk7u6E1DFG1d7","resourceId":"daekwr3ah0JnEA4ky1d7","resourceDisplayName":{"value":"z-testAcc-3554833993","sensitive":false},"resourceType":"DeviceAssurancePolicyEntity","_links":{"self":{"href":"https://oie-00.dne-okta.com/api/v1/device-assurances/daekwr3ah0JnEA4ky1d7","hints":{"allow":["GET","PUT","DELETE"]}}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 521.470667ms
    - id: 1
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/device-assurances/daekwr3ah0JnEA4ky1d7
        method: GET
      response:
        body: '{"name":"z-testAcc-3554833993","platform":"CHROMEOS","id":"daekwr3ah0JnEA4ky1d7","thirdPartySignalProviders":{"dtc":{"allowScreenLock":true}},"displayRemediationMode":"HIDE","createdDate":"2025-03-13T23:35:35.000Z","createdBy":"00u5qwjvk7u6E1DFG1d7","lastUpdate":"2025-03-13T23:35:35.000Z","lastUpdatedBy":"00u5qwjvk7u6E1DFG1d7","resourceId":"daekwr3ah0JnEA4ky1d7","resourceDisplayName":{"value":"z-testAcc-3554833993","sensitive":false},"resourceType":"DeviceAssurancePolicyEntity","_links":{"self":{"href":"https://oie-00.dne-okta.com/api/v1/device-assurances/daekwr3ah0JnEA4ky1d7","hints":{"allow":["GET","PUT","DELETE"]}}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 210.156959ms
[...]
    - id: 3
      request:
        host: oie-00.dne-okta.com
        body: |
            {"name":"testAcc-3554833993","platform":"CHROMEOS","thirdPartySignalProviders":{"dtc":{"allowScreenLock":true,"browserVersion":{"minimum":"15393.27.0"},"builtInDnsClientEnabled":true,"chromeRemoteDesktopAppBlocked":true,"deviceEnrollmentDomain":"testDomain","diskEncrypted":true,"keyTrustLevel":"CHROME_OS_VERIFIED_MODE","osFirewall":true,"osVersion":{"minimum":"10.0.19041.1110"},"passwordProtectionWarningTrigger":"PASSWORD_PROTECTION_OFF","realtimeUrlCheckMode":true,"safeBrowsingProtectionLevel":"ENHANCED_PROTECTION","screenLockSecured":true,"siteIsolationEnabled":true}}}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://oie-00.dne-okta.com/api/v1/device-assurances/daekwr3ah0JnEA4ky1d7
        method: PUT
      response:
        body: '{"name":"testAcc-3554833993","platform":"CHROMEOS","id":"daekwr3ah0JnEA4ky1d7","thirdPartySignalProviders":{"dtc":{"osVersion":{"minimum":"10.0.19041.1110"},"diskEncrypted":true,"osFirewall":true,"scr[...]
[...]
