---
version: 2
interactions:
    - id: 0
      request:
        host: classic-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/governance/api/v2/resources/0oaoum6j3cElINe1z1d7/request-sequences/68cbc2b263c689fc3336bfac
        method: GET
      response:
        body: '{"id":"68cbc2b263c689fc3336bfac","name":"Test Sequence","description":"Sequence for testing TF","compatibleResourceTypes":["GROUP","APP"],"link":"https://classic-00.at.oktapreview.com/next/sequences/68cbc2b263c689fc3336bfac"}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 4.822899792s
[...]
    - id: 3
      request:
        host: classic-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/governance/api/v2/request-sequences/68cbc2b263c689fc3336bfac
        method: DELETE
      response:
        body: ""
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
        status: 204 No Content
        code: 204
        duration: 1.3058035s
