---
version: 2
interactions:
    - id: 0
      request:
        host: classic-00.dne-okta.com
        body: |
            {"profile":{"name":"testAcc_508499343_2","description":""}}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://classic-00.dne-okta.com/api/v1/groups
        method: POST
      response:
        body: '{"id":"00g9i7bndyuuAD2xt1d7","created":"2023-08-15T23:51:24.000Z","lastUpdated":"2023-08-15T23:51:24.000Z","lastMembershipUpdated":"2023-08-15T23:51:24.000Z","objectClass":["okta:user_group"],"type":"OKTA_GROUP","profile":{"name":"testAcc_508499343_2","description":""},"_links":{"logo":[{"name":"medium","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-medium.30ce6d4085dff29412984e4c191bc874.png","type":"image/png"},{"name":"large","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-large.c3cb8cda8ae0add1b4fe928f5844dbe3.png","type":"image/png"}],"users":{"href":"https://classic-00.oktapreview.com/api/v1/groups/00g9i7bndyuuAD2xt1d7/users"},"apps":{"href":"https://classic-00.oktapreview.com/api/v1/groups/00g9i7bndyuuAD2xt1d7/apps"}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 162.547045ms
[...]
    - id: 3
      request:
        host: classic-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/groups/00g9i7ecsmd2BtWp91d7
        method: GET
      response:
        body: '{"id":"00g9i7ecsmd2BtWp91d7","created":"2023-08-15T23:51:24.000Z","lastUpdated":"2023-08-15T23:51:24.000Z","lastMembershipUpdated":"2023-08-15T23:51:24.000Z","objectClass":["okta:user_group"],"type":"OKTA_GROUP","profile":{"name":"testAcc_508499343_3","description":""},"_links":{"logo":[{"name":"medium","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-medium.30ce6d4085dff29412984e4c191bc874.png","type":"image/png"},{"name":"large","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-large.c3cb8cda8ae0add1b4fe928f5844dbe3.png","type":"image/png"}],"users":{"href":"https://classic-00.oktapreview.com/api/v1/groups/00g9i7ecsmd2BtWp91d7/users"},"apps":{"href":"https://classic-00.oktapreview.com/api/v1/groups/00g9i7ecsmd2BtWp91d7/apps"}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 62.868405ms
    - id: 4
      request:
        host: classic-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/groups/00g9i75zotqh1ogQW1d7
        method: GET
      response:
        body: '{"id":"00g9i75zotqh1ogQW1d7","created":"2023-08-15T23:51:24.000Z","lastUpdated":"2023-08-15T23:51:24.000Z","lastMembershipUpdated":"2023-08-15T23:51:24.000Z","objectClass":["okta:user_group"],"type":"OKTA_GROUP","profile":{"name":"testAcc_508499343","description":""},"_links":{"logo":[{"name":"medium","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-medium.30ce6d4085dff29412984e4c191bc874.png","type":"image/png"},{"name":"large","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-large.c3cb8cda8ae0add1b4fe928f5844dbe3.png","type":"image/png"}],"users":{"href":"https://classic-00.oktapreview.com/api/v1/groups/00g9i75zotqh1ogQW1d7/users"},"apps":{"href":"https://classic-00.oktapreview.com/api/v1/groups/00g9i75zotqh1ogQW1d7/apps"}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 60.164956ms
    - id: 5
      request:
        host: classic-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/groups/00g9i7bndyuuAD2xt1d7
        method: GET
      response:
        body: '{"id":"00g9i7bndyuuAD2xt1d7","created":"2023-08-15T23:51:24.000Z","lastUpdated":"2023-08-15T23:51:24.000Z","lastMembershipUpdated":"2023-08-15T23:51:24.000Z","objectClass":["okta:user_group"],"type":"OKTA_GROUP","profile":{"name":"testAcc_508499343_2","description":""},"_links":{"logo":[{"name":"medium","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-medium.30ce6d4085dff29412984e4c191bc874.png","type":"image/png"},{"name":"large","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-large.c3cb8cda8ae0add1b4fe928f5844dbe3.png","type":"image/png"}],"users":{"href":"https://classic-00.oktapreview.com/api/v1/groups/00g9i7bndyuuAD2xt1d7/users"},"apps":{"href":"https://classic-00.oktapreview.com/api/v1/groups/00g9i7bndyuuAD2xt1d7/apps"}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 68.805624ms
[...]
    - id: 9
      request:
        host: classic-00.dne-okta.com
        body: |
            {"accessibility":{"selfService":false},"credentials":{"userNameTemplate":{"template":"${source.login}","type":"BUILT_IN"},"oauthClient":{"autoKeyRotation":true,"pkce_required":false,"token_endpoint_auth_method":"client_secret_basic"}},"label":"testAcc_508499343","name":"oidc_client","settings":{"app":{},"implicitAssignment":false,"notes":{"admin":null,"enduser":null},"oauthClient":{"application_type":"web","consent_method":"TRUSTED","grant_types":["authorization_code","implicit"],"idp_initiated_login":{"default_scope":[],"mode":"DISABLED"},"issuer_mode":"ORG_URL","redirect_uris":["http://d.com/"],"response_types":["code","token","id_token"],"wildcard_redirect":"DISABLED"}},"signOnMode":"OPENID_CONNECT","visibility":{"autoSubmitToolbar":false,"hide":{"iOS":true,"web":true}}}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://classic-00.dne-okta.com/api/v1/apps?activate=true
        method: POST
      response:
        body: '{"id":"0oa9i78hjwCdwuwM31d7","name":"oidc_client","label":"testAcc_508499343","status":"ACTIVE","lastUpdated":"2023-08-15T23:51:25.000Z","created":"2023-08-15T23:51:25.000Z","accessibility":{"selfService":false,"errorRedirectUrl":null,"loginRedirectUrl":null},"visibility":{"autoLaunch":false,"autoSubmitToolbar":false,"hide":{"iOS":true,"web":true},"appLinks":{"oidc_client_link":true}},"features":[],"signOnMode":"OPENID_CONNECT","credentials":{"userNameTemplate":{"template":"${source.login}","type":"BUILT_IN"},"signing":{"kid":"RwDaGE-iT82hX655Q4f0UIf43qDZbNdJM3JkppJkusM"},"oauthClient":{"autoKeyRotation":true,"client_id":"0oa9i78hjwCdwuwM31d7","client_secret":"Ykq9qY6FLBonlxb2mTs_cOILsA3lqRq0_DEFOV2uAhqwzWBZX_C7WyYm1yNMdY9H","token_endpoint_auth_method":"client_secret_basic","pkce_required":false}},"settings":{"app":{},"notifications":{"vpn":{"network":{"connection":"DISABLED"},"message":null,"helpUrl":null}},"manualProvisioning":false,"implicitAssignment":false,"notes":{"admin":null,"enduser":null},"oauthClient":{"client_uri":null,"logo_uri":null,"redirect_uris":["http://d.com/"],"response_types":["code","token","id_token"],"grant_types":["authorization_code","implicit"],"application_type":"web","issuer_mode":"ORG_URL","idp_initiated_login":{"mode":"DISABLED","default_scope":[]},"wildcard_redirect":"DISABLED"}},"_links":{"uploadLogo":{"href":"https://classic-00.oktapreview.com/api/v1/apps/0oa9i78hjwCdwuwM31d7/logo","hints":{"allow":["POST"]}},"appLinks":[{"name":"oidc_client_link","href":"https://classic-00.oktapreview.com/home/oidc_client/0oa9i78hjwCdwuwM31d7/aln177a159h7Zf52X0g8","type":"text/html"}],"groups":{"href":"https://classic-00.oktapreview.com/api/v1/apps/0oa9i78hjwCdwuwM31d7/groups"},"logo":[{"name":"medium","href":"https://op3static.oktacdn.com/assets/img/logos/default.6770228fb0dab49a1695ef440a5279bb.png","type":"image/png"}],"clientCredentials":[{"name":"secrets","href":"https://classic-00.oktapreview.com/api/v1/apps/0oa9i78hjwCdwuwM31d7/credentials/secrets"}],"users":{"href":"https://classic-00.oktapreview.com/api/v1/apps/0oa9i78hjwCdwuwM31d7/users"},"deactivate":{"href":"https://classic-00.oktapreview.com/api/v1/apps/0oa9i78hjwCdwuwM31d7/lifecycle/deactivate"}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 765.1968ms
    - id: 10
      request:
        host: classic-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/.well-known/okta-organization
        method: GET
      response:
        body: '{"id":"00o5ptm04a2LyDEyk1d7","cell":"op3","_links":{"organization":{"href":"https://classic-00.oktapreview.com"}},"pipeline":"v1","settings":{"analyticsCollectionEnabled":false,"bugReportingEnabled":true,"omEnabled":true,"pssoEnabled":false}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 55.191366ms
    - id: 11
      request:
        host: classic-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/apps/0oa9i78hjwCdwuwM31d7
        method: GET
      response:
        body: '{"id":"0oa9i78hjwCdwuwM31d7","name":"oidc_client","label":"testAcc_508499343","status":"ACTIVE","lastUpdated":"2023-08-15T23:51:25.000Z","created":"2023-08-15T23:51:25.000Z","accessibility":{"sel[...]
    - id: 12
      request:
        host: classic-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/internal/apps/0oa9i78hjwCdwuwM31d7/settings/oauth/idToken
        method: GET
      response:
        body: '{"issuer":"https://classic-00.oktapreview.com","orgUrl":null,"customUrl":null,"audience":"0oa9i78hjwCdwuwM31d7","issuerMode":"ORG_URL"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 70.123933ms
    - id: 13
      request:
        host: classic-00.dne-okta.com
        body: |
            {"id":"00g9i75zotqh1ogQW1d7","priority":1,"profile":{}}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://classic-00.dne-okta.com/api/v1/apps/0oa9i78hjwCdwuwM31d7/groups/00g9i75zotqh1ogQW1d7
        method: PUT
      response:
        body: '{"id":"00g9i75zotqh1ogQW1d7","lastUpdated":"2023-08-15T23:51:25.000Z","priority":1,"profile":{},"_links":{"app":{"href":"https://classic-00.oktapreview.com/api/v1/apps/0oa9i78hjwCdwuwM31d7"},"self":{"href":"https://classic-00.oktapreview.com/api/v1/apps/0oa9i78hjwCdwuwM31d7/groups/00g9i75zotqh1ogQW1d7"},"group":{"href":"https://classic-00.oktapreview.com/api/v1/groups/00g9i75zotqh1ogQW1d7"}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 158.757473ms
    - id: 14
      request:
        host: classic-00.dne-okta.com
        body: |
            {"id":"00g9i7bndyuuAD2xt1d7","priority":2,"profile":{}}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://classic-00.dne-okta.com/api/v1/apps/0oa9i78hjwCdwuwM31d7/groups/00g9i7bndyuuAD2xt1d7
        method: PUT
      response:
        body: '{"id":"00g9i7bndyuuAD2xt1d7","lastUpdated":"2023-08-15T23:51:25.000Z","priority":2,"profile":{},"_links":{"app":{"href":"https://classic-00.oktapreview.com/api/v1/apps/0oa9i78hjwCdwuwM31d7"},"self":{"href":"https://classic-00.oktapreview.com/api/v1/apps/0oa9i78hjwCdwuwM31d7/groups/00g9i7bndyuuAD2xt1d7"},"group":{"href":"https://classic-00.oktapreview.com/api/v1/groups/00g9i7bndyuuAD2xt1d7"}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 183.017423ms
    - id: 15
      request:
        host: classic-00.dne-okta.com
        body: |
            {"id":"00g9i7ecsmd2BtWp91d7","priority":3,"profile":{}}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://classic-00.dne-okta.com/api/v1/apps/0oa9i78hjwCdwuwM31d7/groups/00g9i7ecsmd2BtWp91d7
        method: PUT
      response:
        body: '{"id":"00g9i7ecsmd2BtWp91d7","lastUpdated":"2023-08-15T23:51:26.000Z","priority":3,"profile":{},"_links":{"app":{"href":"https://classic-00.oktapreview.com/api/v1/apps/0oa9i78hjwCdwuwM31d7"},"self":{"href":"https://classic-00.oktapreview.com/api/v1/apps/0oa9i78hjwCdwuwM31d7/groups/00g9i7ecsmd2BtWp91d7"},"group":{"href":"https://classic-00.oktapreview.com/api/v1/groups/00g9i7ecsmd2BtWp91d7"}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 148.87848ms
    - id: 16
      request:
        host: classic-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/apps/0oa9i78hjwCdwuwM31d7/groups?limit=200
        method: GET
      response:
        body: '[{"id":"00g9i75zotqh1ogQW1d7","lastUpdated":"2023-08-15T23:51:25.000Z","priority":1,"profile":{},"_links":{"app":{"href":"https://classic-00.oktapreview.com/api/v1/apps/0oa9i78hj[...]
    - id: 17
      request:
        host: classic-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/apps/0oa9i78hjwCdwuwM31d7/groups
        method: GET
      response:
        body: '[{"id":"00g9i75zotqh1ogQW1d7","lastUpdated":"2023-08-15T23:51:25.000Z","priority":1,"profile":{},"_links":{"app":{"href":"https://classic-00.oktapreview.com/api/v1/apps/0oa9i78hjwCdwuwM31d[...]
[...]
    - id: 33
      request:
        host: classic-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/apps/0oa9i78hjwCdwuwM31d7/lifecycle/deactivate
        method: POST
      response:
        body: '{}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 141.68882ms
[...]
