---
version: 2
interactions:
    - id: 0
      request:
        host: oie-00.dne-okta.com
        body: |
            {"profile":{"name":"testAcc_508499343_2","description":""}}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://oie-00.dne-okta.com/api/v1/groups
        method: POST
      response:
        body: '{"id":"00gkwqly9fCSE0bmW1d7","created":"2025-03-13T23:22:31.000Z","lastUpdated":"2025-03-13T23:22:31.000Z","lastMembershipUpdated":"2025-03-13T23:22:31.000Z","objectClass":["okta:user_group"],"type":"OKTA_GROUP","profile":{"name":"testAcc_508499343_2","description":""},"_links":{"logo":[{"name":"medium","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-medium.30ce6d4085dff29412984e4c191bc874.png","type":"image/png"},{"name":"large","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-large.c3cb8cda8ae0add1b4fe928f5844dbe3.png","type":"image/png"}],"users":{"href":"https://oie-00.dne-okta.com/api/v1/groups/00gkwqly9fCSE0bmW1d7/users"},"apps":{"href":"https://oie-00.dne-okta.com/api/v1/groups/00gkwqly9fCSE0bmW1d7/apps"}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 216.602667ms
[...]
    - id: 3
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/groups/00gkwqly9fCSE0bmW1d7
        method: GET
      response:
        body: '{"id":"00gkwqly9fCSE0bmW1d7","created":"2025-03-13T23:22:31.000Z","lastUpdated":"2025-03-13T23:22:31.000Z","lastMembershipUpdated":"2025-03-13T23:22:31.000Z","objectClass":["okta:user_group"],"type":"OKTA_GROUP","profile":{"name":"testAcc_508499343_2","description":""},"_links":{"logo":[{"name":"medium","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-medium.30ce6d4085dff29412984e4c191bc874.png","type":"image/png"},{"name":"large","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-large.c3cb8cda8ae0add1b4fe928f5844dbe3.png","type":"image/png"}],"users":{"href":"https://oie-00.dne-okta.com/api/v1/groups/00gkwqly9fCSE0bmW1d7/users"},"apps":{"href":"https://oie-00.dne-okta.com/api/v1/groups/00gkwqly9fCSE0bmW1d7/apps"}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 233.328459ms
    - id: 4
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/groups/00gkwqnibzxyfI0Jf1d7
        method: GET
      response:
        body: '{"id":"00gkwqnibzxyfI0Jf1d7","created":"2025-03-13T23:22:31.000Z","lastUpdated":"2025-03-13T23:22:31.000Z","lastMembershipUpdated":"2025-03-13T23:22:31.000Z","objectClass":["okta:user_group"],"type":"OKTA_GROUP","profile":{"name":"testAcc_508499343","description":""},"_links":{"logo":[{"name":"medium","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-medium.30ce6d4085dff29412984e4c191bc874.png","type":"image/png"},{"name":"large","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-large.c3cb8cda8ae0add1b4fe928f5844dbe3.png","type":"image/png"}],"users":{"href":"https://oie-00.dne-okta.com/api/v1/groups/00gkwqnibzxyfI0Jf1d7/users"},"apps":{"href":"https://oie-00.dne-okta.com/api/v1/groups/00gkwqnibzxyfI0Jf1d7/apps"}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 238.604625ms
    - id: 5
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/groups/00gkwqr0jd5vhnT6A1d7
        method: GET
      response:
        body: '{"id":"00gkwqr0jd5vhnT6A1d7","created":"2025-03-13T23:22:31.000Z","lastUpdated":"2025-03-13T23:22:31.000Z","lastMembershipUpdated":"2025-03-13T23:22:31.000Z","objectClass":["okta:user_group"],"type":"OKTA_GROUP","profile":{"name":"testAcc_508499343_3","description":""},"_links":{"logo":[{"name":"medium","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-medium.30ce6d4085dff29412984e4c191bc874.png","type":"image/png"},{"name":"large","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-large.c3cb8cda8ae0add1b4fe928f5844dbe3.png","type":"image/png"}],"users":{"href":"https://oie-00.dne-okta.com/api/v1/groups/00gkwqr0jd5vhnT6A1d7/users"},"apps":{"href":"https://oie-00.dne-okta.com/api/v1/groups/00gkwqr0jd5vhnT6A1d7/apps"}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 360.620375ms
[...]
    - id: 8
      request:
        host: oie-00.dne-okta.com
        body: |
            {"accessibility":{"selfService":false},"credentials":{"userNameTemplate":{"template":"${source.login}","type":"BUILT_IN"},"oauthClient":{"autoKeyRotation":true,"pkce_required":false,"token_endpoint_auth_method":"client_secret_basic"}},"label":"testAcc_508499343","name":"oidc_client","settings":{"app":{},"implicitAssignment":false,"notes":{"admin":null,"enduser":null},"oauthClient":{"application_type":"web","consent_method":"TRUSTED","grant_types":["authorization_code","implicit"],"idp_initiated_login":{"default_scope":[],"mode":"DISABLED"},"issuer_mode":"ORG_URL","redirect_uris":["http://d.com/"],"response_types":["code","token","id_token"],"wildcard_redirect":"DISABLED"}},"signOnMode":"OPENID_CONNECT","visibility":{"autoSubmitToolbar":false,"hide":{"iOS":true,"web":true}}}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://oie-00.dne-okta.com/api/v1/apps?activate=true
        method: POST
      response:
        body: '{"id":"0oakwqt6eoFBSId8y1d7","orn":"orn:oktapreview:idp:00o5qwjvg8hg7YpT81d7:apps:oidc_client:0oakwqt6eoFBSId8y1d7","name":"oidc_client","label":"testAcc_508499343","status":"ACTIVE","lastUpdated":"2025-03-13T23:22:31.000Z","created":"2025-03-13T23:22:31.000Z","accessibility":{"selfService":false,"errorRedirectUrl":null,"loginRedirectUrl":null},"visibility":{"autoLaunch":false,"autoSubmitToolbar":false,"hide":{"iOS":true,"web":true},"appLinks":{"oidc_client_link":true}},"features":[],"signOnMode":"OPENID_CONNECT","credentials":{"userNameTemplate":{"template":"${source.login}","type":"BUILT_IN"},"signing":{"kid":"N60VbAntJ7ONHTQr7YcAiywke_a08RzPdv9okaextIA"},"oauthClient":{"autoKeyRotation":true,"client_id":"0oakwqt6eoFBSId8y1d7","client_secret":"jRIJnppA1vV-lGSZ6RLNPHa23xiKOltxDeqq21vzZsZq2L2WxjMQjLbjohxOkd0o","token_endpoint_auth_method":"client_secret_basic","pkce_required":false}},"settings":{"app":{},"notifications":{"vpn":{"network":{"connection":"DISABLED"},"message":null,"helpUrl":null}},"manualProvisioning":false,"implicitAssignment":false,"notes":{"admin":null,"enduser":null},"oauthClient":{"client_uri":null,"logo_uri":null,"redirect_uris":["http://d.com/"],"response_types":["code","token","id_token"],"grant_types":["authorization_code","implicit"],"application_type":"web","consent_method":"TRUSTED","issuer_mode":"ORG_URL","idp_initiated_login":{"mode":"DISABLED","default_scope":[]},"wildcard_redirect":"DISABLED","dpop_bound_access_tokens":false,"participate_slo":false}},"_links":{"uploadLogo":{"href":"https://oie-00.dne-okta.com/api/v1/apps/0oakwqt6eoFBSId8y1d7/logo","hints":{"allow":["POST"]}},"appLinks":[{"name":"oidc_client_link","href":"https://oie-00.dne-okta.com/home/oidc_client/0oakwqt6eoFBSId8y1d7/aln177a159h7Zf52X0g8","type":"text/html"}],"profileEnrollment":{"href":"https://oie-00.dne-okta.com/api/v1/policies/rst5qwjvlxUHivL8a1d7"},"policies":{"href":"https://oie-00.dne-okta.com/api/v1/apps/0oakwqt6eoFBSId8y1d7/policies","hints":{"allow":["PUT"]}},"groups":{"href":"https://oie-00.dne-okta.com/api/v1/apps/0oakwqt6eoFBSId8y1d7/groups"},"logo":[{"name":"medium","href":"https://op3static.oktacdn.com/assets/img/logos/default.6770228fb0dab49a1695ef440a5279bb.png","type":"image/png"}],"clientCredentials":[{"name":"secrets","href":"https://oie-00.dne-okta.com/api/v1/apps/0oakwqt6eoFBSId8y1d7/credentials/secrets"}],"accessPolicy":{"href":"https://oie-00.dne-okta.com/api/v1/policies/rst5qwjvlvS3G1WOU1d7"},"users":{"href":"https://oie-00.dne-okta.com/api/v1/apps/0oakwqt6eoFBSId8y1d7/users"},"deactivate":{"href":"https://oie-00.dne-okta.com/api/v1/apps/0oakwqt6eoFBSId8y1d7/lifecycle/deactivate"}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 777.255791ms
[...]
    - id: 10
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/.well-known/okta-organization
        method: GET
      response:
        body: '{"id":"00o5qwjvg8hg7YpT81d7","cell":"op3","_links":{"organization":{"href":"https://oie-00.dne-okta.com"}},"pipeline":"idx","settings":{"analyticsCollectionEnabled":false,"bugReportingEnabled":true,"omEnabled":false,"pssoEnabled":false,"desktopMFAEnabled":false,"itpEnabled":true,"op4wEnabled":true}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 220.847208ms
    - id: 11
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/policies?type=ACCESS_POLICY
        method: GET
      response:
        body: '[{"id":"rst5qwjvkl70Eb6xw1d7","status":"ACTIVE","name":"Okta Admin Applications","priority":1,"system":false,"conditions":null,"created":"2022-10-07T23:17:01.000Z","lastUpdated":"2024-07-18T11:01:12.000Z","_links":{"mappings":{"href":"https://oie-00.dne-okta.com/api/v1/policies/rst5qwjvkl70Eb6xw1d7/mappings","hints":{"allow":["GET","POST"]}},"self":{"href":"https://oie-00.dne-okta.com/api/v1/policies/rst5qwjvkl70Eb6xw1d7","hints":{"allow":["GET","PUT","DELETE"]}},"rules":{"href":"https://oie-00.dne-okta.com/api/v1/policies/rst5qwjvkl70Eb6xw1d7/rules","hints":{"allow":["GET","POST"]}},"deactivate":{"href":"https://oie-00.dne-okta.com/api/v1/policies/rst5qwjvkl70Eb6xw1d7/lifecycle/deactivate","hints":{"allow":["POST"]}}},"_embedded":{"resourceType":"APP"},"type":"ACCESS_POLICY"},{"id":"rst5qwjvlvS3G1WOU1d7","status":"ACTIVE","name":"Any two factors","description":"Require two factors to access.","priority":1,"system":true,"conditions":null,"created":"2022-10-07T23:17:01.000Z","lastUpdated":"2022-10-07T23:17:01.000Z","_links":{"self":{"href":"https://oie-00.dne-okta.com/api/v1/policies/rst5qwjvlvS3G1WOU1d7","hints":{"allow":["GET","PUT"]}},"rules":{"href":"https://oie-00.dne-okta.com/api/v1/policies/rst5qwjvlvS3G1WOU1d7/rules","hints":{"all[...]
    - id: 12
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/apps/0oakwqt6eoFBSId8y1d7/policies/rst5qwjvlvS3G1WOU1d7
        method: PUT
      response:
        body: ""
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
        status: 204 No Content
        code: 204
        duration: 257.884666ms
    - id: 13
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/apps/0oakwqt6eoFBSId8y1d7
        method: GET
      response:
        body: '{"id":"0oakwqt6eoFBSId8y1d7","orn":"orn:oktapreview:idp:00o5qwjvg8hg7YpT81d7:apps:oidc_client:0oakwqt6eoFBSId8y1d7","name":"oidc_client","label":"testAcc_508499343","status":"ACTIVE","lastUpdated":"2025-[...]
    - id: 14
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/internal/apps/0oakwqt6eoFBSId8y1d7/settings/oauth/idToken
        method: GET
      response:
        body: '{"issuer":"https://oie-00.dne-okta.com","orgUrl":null,"customUrl":null,"audience":"0oakwqt6eoFBSId8y1d7","issuerMode":"ORG_URL"}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 228.72675ms
    - id: 15
      request:
        host: oie-00.dne-okta.com
        body: |
            {"id":"00gkwqnibzxyfI0Jf1d7","priority":1,"profile":{}}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://oie-00.dne-okta.com/api/v1/apps/0oakwqt6eoFBSId8y1d7/groups/00gkwqnibzxyfI0Jf1d7
        method: PUT
      response:
        body: '{"id":"00gkwqnibzxyfI0Jf1d7","lastUpdated":"2025-03-13T23:22:33.000Z","priority":1,"profile":{},"_links":{"app":{"href":"https://oie-00.dne-okta.com/api/v1/apps/0oakwqt6eoFBSId8y1d7"},"self":{"href":"https://oie-00.dne-okta.com/api/v1/apps/0oakwqt6eoFBSId8y1d7/groups/00gkwqnibzxyfI0Jf1d7"},"group":{"href":"https://oie-00.dne-okta.com/api/v1/groups/00gkwqnibzxyfI0Jf1d7"}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 300.461125ms
    - id: 16
      request:
        host: oie-00.dne-okta.com
        body: |
            {"id":"00gkwqly9fCSE0bmW1d7","priority":2,"profile":{}}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://oie-00.dne-okta.com/api/v1/apps/0oakwqt6eoFBSId8y1d7/groups/00gkwqly9fCSE0bmW1d7
        method: PUT
      response:
        body: '{"id":"00gkwqly9fCSE0bmW1d7","lastUpdated":"2025-03-13T23:22:33.000Z","priority":2,"profile":{},"_links":{"app":{"href":"https://oie-00.dne-okta.com/api/v1/apps/0oakwqt6eoFBSId8y1d7"},"self":{"href":"https://oie-00.dne-okta.com/api/v1/apps/0oakwqt6eoFBSId8y1d7/groups/00gkwqly9fCSE0bmW1d7"},"group":{"href":"https://oie-00.dne-okta.com/api/v1/groups/00gkwqly9fCSE0bmW1d7"}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 258.874791ms
    - id: 17
      request:
        host: oie-00.dne-okta.com
        body: |
            {"id":"00gkwqr0jd5vhnT6A1d7","priority":3,"profile":{}}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://oie-00.dne-okta.com/api/v1/apps/0oakwqt6eoFBSId8y1d7/groups/00gkwqr0jd5vhnT6A1d7
        method: PUT
      response:
        body: '{"id":"00gkwqr0jd5vhnT6A1d7","lastUpdated":"2025-03-13T23:22:34.000Z","priority":3,"profile":{},"_links":{"app":{"href":"https://oie-00.dne-okta.com/api/v1/apps/0oakwqt6eoFBSId8y1d7"},"self":{"href":"https://oie-00.dne-okta.com/api/v1/apps/0oakwqt6eoFBSId8y1d7/groups/00gkwqr0jd5vhnT6A1d7"},"group":{"href":"https://oie-00.dne-okta.com/api/v1/groups/00gkwqr0jd5vhnT6A1d7"}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 260.60725ms
    - id: 18
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/apps/0oakwqt6eoFBSId8y1d7/groups?limit=200
        method: GET
      response:
        body: '[{"id":"00gkwqnibzxyfI0Jf1d7","lastUpdated":"2025-03-13T23:22:33.000Z","priority":1,"profile":{},"_links":{"app":{"href":"https://oie-00.dne-okta.com/api/v1/apps/0oakwqt6eoFBSId8y1d7"},"[...]
    - id: 19
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/apps/0oakwqt6eoFBSId8y1d7/groups
        method: GET
      response:
        body: '[{"id":"00gkwqnibzxyfI0Jf1d7","lastUpdated":"2025-03-13T23:22:33.000Z","priority":1,"profile":{},"_links":{"app":{"href":"https://oie-00.dne-okta.com/api/v1/apps/0oakwqt6eoFBSId8y1d7"},"self":{"hr[...]
[...]
    - id: 32
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/apps/0oakwqt6eoFBSId8y1d7/lifecycle/deactivate
        method: POST
      response:
        body: '{}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 258.110541ms
[...]
