---
version: 2
interactions:
- id: 0
  request:
    host: oie-00.dne-okta.com
    body: "{\"profile\":{\"name\":\"testAcc_508499343_3\",\"description\":\"\"}}\n"
    headers:
      Authorization:
      - SSWS REDACTED
      Content-Type:
      - application/json
    url: https://oie-00.dne-okta.com/api/v1/groups
    method: POST
  response:
    body: "{\"id\":\"00grqnf2lq5w4PdeG1d7\",\"created\":\"2025-11-11T07:27:37.000Z\",\"lastUpdated\":\"2025-11-11T07:27:37.000Z\",\"lastMembershipUpdated\":\"2025-11-11T07:27:37.000Z\",\"objectClass\":[\"okta:user_group\"],\"type\":\"OKTA_GROUP\",\"profile\":{\"name\":\"testAcc_508499343_3\",\"description\":\"\"},\"_links\":{\"logo\":[{\"name\":\"medium\",\"href\":\"https://op3static2.oktacdn.com/assets/img/logos/groups/odyssey/okta-medium.30ce6d4085dff29412984e4c191bc874.png\",\"type\":\"image/png\"},{\"name\":\"large\",\"href\":\"https://op3static2.oktacdn.com/assets/img/logos/groups/odyssey/okta-large.c3cb8cda8ae0add1b4fe928f5844dbe3.png\",\"type\":\"image/png\"}],\"owners\":{\"href\":\"https://oie-00/api/v1/groups/00grqnf2lq5w4PdeG1d7/owners\"},\"users\":{\"href\":\"https://oie-00/api/v1/groups/00grqnf2lq5w4PdeG1d7/users\"},\"apps\":{\"href\":\"https://oie-00/api/v1/groups/00grqnf2lq5w4PdeG1d7/apps\"}}}"
    headers:
      Accept-Ch:
      - Sec-CH-UA-Platform-Version
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 1.073644959s
[...]
- id: 3
  request:
    host: oie-00.dne-okta.com
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://oie-00.dne-okta.com/api/v1/groups/00grqnf2lq5w4PdeG1d7
    method: GET
  response:
    body: "{\"id\":\"00grqnf2lq5w4PdeG1d7\",\"created\":\"2025-11-11T07:27:37.000Z\",\"lastUpdated\":\"2025-11-11T07:27:37.000Z\",\"lastMembershipUpdated\":\"2025-11-11T07:27:37.000Z\",\"objectClass\":[\"okta:user_group\"],\"type\":\"OKTA_GROUP\",\"profile\":{\"name\":\"testAcc_508499343_3\",\"description\":\"\"},\"_links\":{\"logo\":[{\"name\":\"medium\",\"href\":\"https://op3static2.oktacdn.com/assets/img/logos/groups/odyssey/okta-medium.30ce6d4085dff29412984e4c191bc874.png\",\"type\":\"image/png\"},{\"name\":\"large\",\"href\":\"https://op3static2.oktacdn.com/assets/img/logos/groups/odyssey/okta-large.c3cb8cda8ae0add1b4fe928f5844dbe3.png\",\"type\":\"image/png\"}],\"owners\":{\"href\":\"https://oie-00/api/v1/groups/00grqnf2lq5w4PdeG1d7/owners\"},\"users\":{\"href\":\"https://oie-00/api/v1/groups/00grqnf2lq5w4PdeG1d7/users\"},\"apps\":{\"href\":\"https://oie-00/api/v1/groups/00grqnf2lq5w4PdeG1d7/apps\"}}}"
    headers:
      Accept-Ch:
      - Sec-CH-UA-Platform-Version
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 1.038410666s
- id: 4
  request:
    host: oie-00.dne-okta.com
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://oie-00.dne-okta.com/api/v1/groups/00grqnk3qoLLAnlYW1d7
    method: GET
  response:
    body: "{\"id\":\"00grqnk3qoLLAnlYW1d7\",\"created\":\"2025-11-11T07:27:37.000Z\",\"lastUpdated\":\"2025-11-11T07:27:37.000Z\",\"lastMembershipUpdated\":\"2025-11-11T07:27:37.000Z\",\"objectClass\":[\"okta:user_group\"],\"type\":\"OKTA_GROUP\",\"profile\":{\"name\":\"testAcc_508499343\",\"description\":\"\"},\"_links\":{\"logo\":[{\"name\":\"medium\",\"href\":\"https://op3static2.oktacdn.com/assets/img/logos/groups/odyssey/okta-medium.30ce6d4085dff29412984e4c191bc874.png\",\"type\":\"image/png\"},{\"name\":\"large\",\"href\":\"https://op3static2.oktacdn.com/assets/img/logos/groups/odyssey/okta-large.c3cb8cda8ae0add1b4fe928f5844dbe3.png\",\"type\":\"image/png\"}],\"owners\":{\"href\":\"https://oie-00/api/v1/groups/00grqnk3qoLLAnlYW1d7/owners\"},\"users\":{\"href\":\"https://oie-00/api/v1/groups/00grqnk3qoLLAnlYW1d7/users\"},\"apps\":{\"href\":\"https://oie-00/api/v1/groups/00grqnk3qoLLAnlYW1d7/apps\"}}}"
    headers:
      Accept-Ch:
      - Sec-CH-UA-Platform-Version
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 1.014522542s
- id: 5
  request:
    host: oie-00.dne-okta.com
    body: "{\"accessibility\":{},\"credentials\":{\"oauthClient\":{\"autoKeyRotation\":true,\"pkce_required\":false,\"token_endpoint_auth_method\":\"client_secret_basic\"},\"userNameTemplate\":{\"template\":\"${source.login}\",\"type\":\"BUILT_IN\"}},\"label\":\"testAcc_508499343\",\"name\":\"oidc_client\",\"settings\":{\"notes\":{},\"oauthClient\":{\"application_type\":\"web\",\"consent_method\":\"TRUSTED\",\"dpop_bound_access_tokens\":false,\"grant_types\":[\"authorization_code\",\"implicit\"],\"issuer_mode\":\"ORG_URL\",\"redirect_uris\":[\"http://d.com/\"],\"response_types\":[\"code\",\"token\",\"id_token\"],\"wildcard_redirect\":\"DISABLED\"}},\"signOnMode\":\"OPENID_CONNECT\",\"visibility\":{\"hide\":{\"iOS\":true,\"web\":true}}}\n"
    form:
      activate:
      - "true"
    headers:
      Authorization:
      - SSWS REDACTED
      Content-Type:
      - application/json
    url: https://oie-00.dne-okta.com/api/v1/apps?activate=true
    method: POST
  response:
    body: "{\"id\":\"0oarqndhtvRBAcRZX1d7\",\"orn\":\"orn:oktapreview:idp:00onkw1sbuAh3Q06I1d7:apps:oidc_client:0oarqndhtvRBAcRZX1d7\",\"name\":\"oidc_client\",\"label\":\"testAcc_508499343\",\"status\":\"ACTIVE\",\"lastUpdated\":\"2025-11-11T07:27:38.000Z\",\"created\":\"2025-11-11T07:27:37.000Z\",\"accessibility\":{\"selfService\":false,\"errorRedirectUrl\":null,\"loginRedirectUrl\":null},\"visibility\":{\"autoLaunch\":false,\"autoSubmitToolbar\":false,\"hide\":{\"iOS\":true,\"web\":true},\"appLinks\":{\"oidc_client_link\":true}},\"features\":[],\"signOnMode\":\"OPENID_CONNECT\",\"credentials\":{\"userNameTemplate\":{\"template\":\"${source.login}\",\"type\":\"BUILT_IN\"},\"signing\":{\"kid\":\"sALQDM5PBTRR6dsVDGloCQexOBDrJNwQmFiZuWur7eo\"},\"oauthClient\":{\"autoKeyRotation\":true,\"client_id\":\"0oarqndhtvRBAcRZX1d7\",\"client_secret\":\"TpRWyzqX9iMXOrozsrTdnfLUDzXZ8GZ1XhSjsMMIBebHzg45aw4h5KDKEnMWsx6i\",\"token_endpoint_auth_method\":\"client_secret_basic\",\"pkce_required\":false}},\"universalLogout\":{\"status\":\"DISABLED\",\"supportType\":\"FULL\",\"identityStack\":\"NOT_SHARED\",\"protocol\":\"GLOBAL_TOKEN_REVOCATION\"},\"settings\":{\"app\":{},\"notifications\":{\"vpn\":{\"network\":{\"connection\":\"DISABLED\"},\"message\":null,\"helpUrl\":null}},\"manualProvisioning\":false,\"implicitAssignment\":false,\"emOptInStatus\":\"NONE\",\"notes\":{\"admin\":null,\"enduser\":null},\"oauthClient\":{\"client_uri\":null,\"logo_uri\":null,\"redirect_uris\":[\"http://d.com/\"],\"response_types\":[\"code\",\"token\",\"id_token\"],\"grant_types\":[\"authorization_code\",\"implicit\"],\"application_type\":\"web\",\"consent_method\":\"TRUSTED\",\"issuer_mode\":\"ORG_URL\",\"idp_initiated_login\":{\"mode\":\"DISABLED\",\"default_scope\":[]},\"wildcard_redirect\":\"DISABLED\",\"dpop_bound_access_tokens\":false,\"participate_slo\":false}},\"_links\":{\"uploadLogo\":{\"href\":\"https://oie-00/api/v1/apps/0oarqndhtvRBAcRZX1d7/logo\",\"hints\":{\"allow\":[\"POST\"]}},\"appLinks\":[{\"name\":\"oidc_client_link\",\"href\":\"https://oie-00/home/oidc_client/0oarqndhtvRBAcRZX1d7/aln177a159h7Zf52X0g8\",\"type\":\"text/html\"}],\"profileEnrollment\":{\"href\":\"https://oie-00/api/v1/policies/rstnkw1sgzCwhJaUs1d7\"},\"policies\":{\"href\":\"https://oie-00/api/v1/apps/0oarqndhtvRBAcRZX1d7/policies\",\"hints\":{\"allow\":[\"PUT\"]}},\"groups\":{\"href\":\"https://oie-00/api/v1/apps/0oarqndhtvRBAcRZX1d7/groups\"},\"logo\":[{\"name\":\"medium\",\"href\":\"https://op3static2.oktacdn.com/assets/img/logos/default.6770228fb0dab49a1695ef440a5279bb.png\",\"type\":\"image/png\"}],\"clientCredentials\":[{\"name\":\"secrets\",\"href\":\"https://oie-00/api/v1/apps/0oarqndhtvRBAcRZX1d7/credentials/secrets\"}],\"accessPolicy\":{\"href\":\"https://oie-00/api/v1/policies/rstnkw1sgxfqkDUtx1d7\"},\"users\":{\"href\":\"https://oie-00/api/v1/apps/0oarqndhtvRBAcRZX1d7/users\"},\"deactivate\":{\"href\":\"https://oie-00/api/v1/apps/0oarqndhtvRBAcRZX1d7/lifecycle/deactivate\"}}}"
    headers:
      Accept-Ch:
      - Sec-CH-UA-Platform-Version
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 2.733524375s
- id: 6
  request:
    host: oie-00.dne-okta.com
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://oie-00.dne-okta.com/api/v1/groups/00grqn3t7sMHH7CDr1d7
    method: GET
  response:
    body: "{\"id\":\"00grqn3t7sMHH7CDr1d7\",\"created\":\"2025-11-11T07:27:37.000Z\",\"lastUpdated\":\"2025-11-11T07:27:37.000Z\",\"lastMembershipUpdated\":\"2025-11-11T07:27:37.000Z\",\"objectClass\":[\"okta:user_group\"],\"type\":\"OKTA_GROUP\",\"profile\":{\"name\":\"testAcc_508499343_2\",\"description\":\"\"},\"_links\":{\"logo\":[{\"name\":\"medium\",\"href\":\"https://op3static2.oktacdn.com/assets/img/logos/groups/odyssey/okta-medium.30ce6d4085dff29412984e4c191bc874.png\",\"type\":\"image/png\"},{\"name\":\"large\",\"href\":\"https://op3static2.oktacdn.com/assets/img/logos/groups/odyssey/okta-large.c3cb8cda8ae0add1b4fe928f5844dbe3.png\",\"type\":\"image/png\"}],\"owners\":{\"href\":\"https://oie-00/api/v1/groups/00grqn3t7sMHH7CDr1d7/owners\"},\"users\":{\"href\":\"https://oie-00/api/v1/groups/00grqn3t7sMHH7CDr1d7/users\"},\"apps\":{\"href\":\"https://oie-00/api/v1/groups/00grqn3t7sMHH7CDr1d7/apps\"}}}"
    headers:
      Accept-Ch:
      - Sec-CH-UA-Platform-Version
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 1.796411916s
[...]
- id: 9
  request:
    host: oie-00.dne-okta.com
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://oie-00.dne-okta.com/.well-known/okta-organization
    method: GET
  response:
    body: "{\"id\":\"00onkw1sbuAh3Q06I1d7\",\"cell\":\"op3\",\"_links\":{\"organization\":{\"href\":\"https://oie-00\"}},\"pipeline\":\"idx\",\"settings\":{\"analyticsCollectionEnabled\":false,\"bugReportingEnabled\":true,\"omEnabled\":false,\"pssoEnabled\":true,\"desktopMFAEnabled\":true,\"itpEnabled\":true}}"
    headers:
      Accept-Ch:
      - Sec-CH-UA-Platform-Version
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 1.002948292s
[...]
- id: 11
  request:
    host: oie-00.dne-okta.com
    form:
      type:
      - ACCESS_POLICY
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://oie-00.dne-okta.com/api/v1/policies?type=ACCESS_POLICY
    method: GET
  response:
    body: "[{\"id\":\"rstnkw1sg2fWHAvjK1d7\",\"status\":\"ACTIVE\",\"name\":\"Okta Admin Console\",\"priority\":1,\"system\":false,\"conditions\":null,\"created\":\"2025-06-26T15:51:39.000Z\",\"lastUpdated\":\"2025-06-26T15:51:39.000Z\",\"_links\":{\"mappings\":{\"href\":\"https://oie-00/api/v1/policies/rstnkw1sg2fWHAvjK1d7/mappings\",\"hints\":{\"allow\":[\"GET\",\"POST\"]}},\"self\":{\"href\":\"https://oie-00/api/v1/policies/rstnkw1sg2fWHAvjK1d7\",\"hints\":{\"allow\":[\"GET\",\"PUT\",\"DELETE\"]}},\"rules\":{\"href\":\"https://oie-00/api/v1/policies/rstnkw1sg2fWHAvjK1d7/rules\",\"hints\":{\"allow\":[\"GET\",\"POST\"]}},\"deactivate\":{\"href\":\"https://oie-00/api/v1/policies/rstnkw1sg2fWHAvjK1d7/lifecycle/deactivate\",\"hints\":{\"allow\":[\"POST\"]}}},\"_embedded\":{\"resourceType\":\"APP\"},\"type\":\"ACCESS_POLICY\"},{\"id\":\"rstnkw1sg9IQmPCLu1d7\",\"status\":\"ACTIVE\",\"name\":\"Okta Dashboard\",\"priority\":1,\"system\":false,\"conditions\":null,\"created\":\"2025-06-26T15:51:39.000Z\",\"lastUpdated\":\"2025-06-26T15:51:39.000Z\",\"_links\":{\"mappings\":{\"href\":\"https://oie-00/api/v1/policies/rstnkw1sg9IQmPCLu1d7/mappings\",\"hints\":{\"allow\":[\"GET\",\"POST\"]}},\"self\":{\"href\":\"https://oie-00/api/v1/policies/rstnkw1sg9IQmPCLu1d7\",\"hints\":{\"allow\":[\"G[...]
- id: 12
  request:
    host: oie-00.dne-okta.com
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://oie-00.dne-okta.com/api/v1/apps/0oarqndhtvRBAcRZX1d7/policies/rstnkw1sgxfqkDUtx1d7
    method: PUT
  response:
    body: ""
    headers:
      Accept-Ch:
      - Sec-CH-UA-Platform-Version
    status: 204 No Content
    code: 204
    duration: 1.12546125s
- id: 13
  request:
    host: oie-00.dne-okta.com
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://oie-00.dne-okta.com/api/v1/apps/0oarqndhtvRBAcRZX1d7
    method: GET
  response:
    body: "{\"id\":\"0oarqndhtvRBAcRZX1d7\",\"orn\":\"orn:oktapreview:idp:00onkw1sbuAh3Q06I1d7:apps:oidc_client:0oarqndhtvRBAcRZX1d7\",\"name\":\"oidc_client\",\"label\":\"testAcc_508499343\",\"status\":\"ACTIVE\",\"lastUpdated\":\"2025-11-11T07:27:38.000Z\",\"created\":\"2025-11-11T07:27:37.000[...]
- id: 14
  request:
    host: oie-00.dne-okta.com
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://oie-00.dne-okta.com/api/v1/internal/apps/0oarqndhtvRBAcRZX1d7/settings/oauth/idToken
    method: GET
  response:
    body: "{\"issuer\":\"https://oie-00\",\"orgUrl\":null,\"customUrl\":null,\"audience\":\"0oarqndhtvRBAcRZX1d7\",\"issuerMode\":\"ORG_URL\"}"
    headers:
      Accept-Ch:
      - Sec-CH-UA-Platform-Version
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 1.098656s
- id: 15
  request:
    host: oie-00.dne-okta.com
    body: "{\"id\":\"00grqnk3qoLLAnlYW1d7\",\"priority\":1,\"profile\":{}}\n"
    headers:
      Authorization:
      - SSWS REDACTED
      Content-Type:
      - application/json
    url: https://oie-00.dne-okta.com/api/v1/apps/0oarqndhtvRBAcRZX1d7/groups/00grqnk3qoLLAnlYW1d7
    method: PUT
  response:
    body: "{\"id\":\"00grqnk3qoLLAnlYW1d7\",\"lastUpdated\":\"2025-11-11T07:27:45.000Z\",\"priority\":1,\"profile\":{},\"_links\":{\"app\":{\"href\":\"https://oie-00/api/v1/apps/0oarqndhtvRBAcRZX1d7\"},\"self\":{\"href\":\"https://oie-00/api/v1/apps/0oarqndhtvRBAcRZX1d7/groups/00grqnk3qoLLAnlYW1d7\"},\"group\":{\"href\":\"https://oie-00/api/v1/groups/00grqnk3qoLLAnlYW1d7\"}}}"
    headers:
      Accept-Ch:
      - Sec-CH-UA-Platform-Version
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 1.060482584s
- id: 16
  request:
    host: oie-00.dne-okta.com
    body: "{\"id\":\"00grqn3t7sMHH7CDr1d7\",\"priority\":2,\"profile\":{}}\n"
    headers:
      Authorization:
      - SSWS REDACTED
      Content-Type:
      - application/json
    url: https://oie-00.dne-okta.com/api/v1/apps/0oarqndhtvRBAcRZX1d7/groups/00grqn3t7sMHH7CDr1d7
    method: PUT
  response:
    body: "{\"id\":\"00grqn3t7sMHH7CDr1d7\",\"lastUpdated\":\"2025-11-11T07:27:46.000Z\",\"priority\":2,\"profile\":{},\"_links\":{\"app\":{\"href\":\"https://oie-00/api/v1/apps/0oarqndhtvRBAcRZX1d7\"},\"self\":{\"href\":\"https://oie-00/api/v1/apps/0oarqndhtvRBAcRZX1d7/groups/00grqn3t7sMHH7CDr1d7\"},\"group\":{\"href\":\"https://oie-00/api/v1/groups/00grqn3t7sMHH7CDr1d7\"}}}"
    headers:
      Accept-Ch:
      - Sec-CH-UA-Platform-Version
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 1.085109917s
- id: 17
  request:
    host: oie-00.dne-okta.com
    body: "{\"id\":\"00grqnf2lq5w4PdeG1d7\",\"priority\":3,\"profile\":{}}\n"
    headers:
      Authorization:
      - SSWS REDACTED
      Content-Type:
      - application/json
    url: https://oie-00.dne-okta.com/api/v1/apps/0oarqndhtvRBAcRZX1d7/groups/00grqnf2lq5w4PdeG1d7
    method: PUT
  response:
    body: "{\"id\":\"00grqnf2lq5w4PdeG1d7\",\"lastUpdated\":\"2025-11-11T07:27:47.000Z\",\"priority\":3,\"profile\":{},\"_links\":{\"app\":{\"href\":\"https://oie-00/api/v1/apps/0oarqndhtvRBAcRZX1d7\"},\"self\":{\"href\":\"https://oie-00/api/v1/apps/0oarqndhtvRBAcRZX1d7/groups/00grqnf2lq5w4PdeG1d7\"},\"group\":{\"href\":\"https://oie-00/api/v1/groups/00grqnf2lq5w4PdeG1d7\"}}}"
    headers:
      Accept-Ch:
      - Sec-CH-UA-Platform-Version
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 1.114661792s
- id: 18
  request:
    host: oie-00.dne-okta.com
    form:
      limit:
      - "200"
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://oie-00.dne-okta.com/api/v1/apps/0oarqndhtvRBAcRZX1d7/groups?limit=200
    method: GET
  response:
    body: "[{\"id\":\"00grqnk3qoLLAnlYW1d7\",\"lastUpdated\":\"2025-11-11T07:27:45.000Z\",\"priority\":1,\"profile\":{},\"_links\":{\"app\":{\"href\":\"https://oie-00/api/v1/apps/0oarqndhtvRBAcRZX1d7\"},\"self\":{\"href\":\"https://oie-00/api/v1/apps/0oarqndhtvRBAcRZX1d7/groups/00grqnk3qoLLAnlYW1d7\"},\"group\":{\"href\":\"https://oie-00/api/v1/groups/00grqnk3qoLLAnlYW1d7\"}}},{\"id\":\"00grqn3t7sMHH7CDr1d7\",\"lastUpdated\":\"2025-11-11T07:27:46.000Z\",\"priority\":2,\"profile\":{},\"_links\":{\"app\":{\"href\":\"https://oie-00/api/v1/apps/0oarqndhtvRBAcRZX1d7\"},\"self\":{\"href\":\"https://oie-00/api/v1/apps/0oarqndhtvRBAcRZX1d7/groups/00grqn3t7sMHH7CDr1d7\"},\"group\":{\"href\":\"https://oie-00/api/v1/groups/00grqn3t7sMHH7CDr1d7\"}}},{\"id\":\"00grqnf2lq5w4PdeG1d7\",\"lastUpdated\":\"2025-11-11T07:27:47.000Z\",\"priority\":3,\"profile\":{},\"_links\":{\"app\":{\"href\":\"https://oie-00/api/v1/apps/0oarqndhtvRBAcRZX1d7\"},\"self\":{\"href\":\"https://oie-00/api/v1/apps/0oarqndhtvRBAcRZX1d7/groups/00grqnf2lq5w4PdeG1d7\"},\"group\":{\"href\":\"https://oie-00/api/v1/groups/00grqnf2lq5w4PdeG1d7\"}}}]"
    headers:
      Accept-Ch:
      - Sec-CH-UA-Platform-Version
      Content-Type:
      - application/json
      Link:
      - <https://dcp-testing-oig-2025-06-26.oktapreview.com/api/v1/apps/0oarqndhtvRBAcRZX1d7/groups?limit=200>; rel="self"
    status: 200 OK
    code: 200
    duration: 1.133157959s
- id: 19
  request:
    host: oie-00.dne-okta.com
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://oie-00.dne-okta.com/api/v1/apps/0oarqndhtvRBAcRZX1d7/groups
    method: GET
  response:
    body: "[{\"id\":\"00grqnk3qoLLAnlYW1d7\",\"lastUpdated\":\"2025-11-11T07:27:45.000Z\",\"priority\":1,\"profile\":{},\"_links\":{\"app\":{\"href\":\"https://oie-00/api/v1/apps/0oarqndhtvRBAcRZX1d7\"},\"self\":{\"href\":\"https://oie-00/api/v1/apps/0oarqndhtvRBAcRZX1d7/groups/00grqnk3qo[...]
[...]
- id: 34
  request:
    host: oie-00.dne-okta.com
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://oie-00.dne-okta.com/api/v1/apps/0oarqndhtvRBAcRZX1d7/lifecycle/deactivate
    method: POST
  response:
    body: "{}"
    headers:
      Accept-Ch:
      - Sec-CH-UA-Platform-Version
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 1.0910055s
[...]
