---
version: 2
interactions:
    - id: 0
      request:
        host: oie-00.dne-okta.com
        body: |
            {"profile":{"name":"testAcc_508499343_2","description":""}}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://oie-00.dne-okta.com/api/v1/groups
        method: POST
      response:
        body: '{"id":"00gtc2gfwkKOXCid0697","created":"2025-07-17T14:39:07.000Z","lastUpdated":"2025-07-17T14:39:07.000Z","lastMembershipUpdated":"2025-07-17T14:39:07.000Z","objectClass":["okta:user_group"],"type":"OKTA_GROUP","profile":{"name":"testAcc_508499343_2","description":""},"_links":{"logo":[{"name":"medium","href":"https://ok14static.oktacdn.com/assets/img/logos/groups/odyssey/okta-medium.30ce6d4085dff29412984e4c191bc874.png","type":"image/png"},{"name":"large","href":"https://ok14static.oktacdn.com/assets/img/logos/groups/odyssey/okta-large.c3cb8cda8ae0add1b4fe928f5844dbe3.png","type":"image/png"}],"users":{"href":"https://oie-00.dne-okta.com/api/v1/groups/00gtc2gfwkKOXCid0697/users"},"apps":{"href":"https://oie-00.dne-okta.com/api/v1/groups/00gtc2gfwkKOXCid0697/apps"}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.068105583s
[...]
    - id: 3
      request:
        host: oie-00.dne-okta.com
        body: |
            {"accessibility":{"selfService":false},"credentials":{"userNameTemplate":{"template":"${source.login}","type":"BUILT_IN"},"oauthClient":{"autoKeyRotation":true,"pkce_required":false,"token_endpoint_auth_method":"client_secret_basic"}},"label":"testAcc_508499343","name":"oidc_client","settings":{"app":{},"implicitAssignment":false,"notes":{"admin":null,"enduser":null},"oauthClient":{"application_type":"web","consent_method":"TRUSTED","grant_types":["authorization_code","implicit"],"idp_initiated_login":{"default_scope":[],"mode":"DISABLED"},"issuer_mode":"ORG_URL","redirect_uris":["http://d.com/"],"response_types":["code","token","id_token"],"wildcard_redirect":"DISABLED"}},"signOnMode":"OPENID_CONNECT","visibility":{"autoSubmitToolbar":false,"hide":{"iOS":true,"web":true}}}
        form:
            activate:
                - "true"
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://oie-00.dne-okta.com/api/v1/apps?activate=true
        method: POST
      response:
        body: '{"id":"0oatc2iqq1U706MjI697","orn":"orn:okta:idp:00osd501x0KyUtOul697:apps:oidc_client:0oatc2iqq1U706MjI697","name":"oidc_client","label":"testAcc_508499343","status":"ACTIVE","lastUpdated":"2025-07-17T14:39:08.000Z","created":"2025-07-17T14:39:08.000Z","accessibility":{"selfService":false,"errorRedirectUrl":null,"loginRedirectUrl":null},"visibility":{"autoLaunch":false,"autoSubmitToolbar":false,"hide":{"iOS":true,"web":true},"appLinks":{"oidc_client_link":true}},"features":[],"signOnMode":"OPENID_CONNECT","credentials":{"userNameTemplate":{"template":"${source.login}","type":"BUILT_IN"},"signing":{"kid":"EByxJjNUZhat2djCEjTepjBA4jWl48VkZssYvA9uVxI"},"oauthClient":{"autoKeyRotation":true,"client_id":"0oatc2iqq1U706MjI697","client_secret":"rUVQi-mLfCAZVea7a7QFja_o1Iwd-q10LubDMhDMQlsqwhJJH03MMOIzRXonyRvn","token_endpoint_auth_method":"client_secret_basic","pkce_required":false}},"universalLogout":null,"settings":{"app":{},"notifications":{"vpn":{"network":{"connection":"DISABLED"},"message":null,"helpUrl":null}},"manualProvisioning":false,"implicitAssignment":false,"emOptInStatus":"NONE","notes":{"admin":null,"enduser":null},"oauthClient":{"client_uri":null,"logo_uri":null,"redirect_uris":["http://d.com/"],"response_types":["code","token","id_token"],"grant_types":["authorization_code","implicit"],"application_type":"web","consent_method":"TRUSTED","issuer_mode":"ORG_URL","idp_initiated_login":{"mode":"DISABLED","default_scope":[]},"wildcard_redirect":"DISABLED","dpop_bound_access_tokens":false,"participate_slo":false}},"_links":{"uploadLogo":{"href":"https://oie-00.dne-okta.com/api/v1/apps/0oatc2iqq1U706MjI697/logo","hints":{"allow":["POST"]}},"appLinks":[{"name":"oidc_client_link","href":"https://oie-00.dne-okta.com/home/oidc_client/0oatc2iqq1U706MjI697/aln177a159h7Zf52X0g8","type":"text/html"}],"profileEnrollment":{"href":"https://oie-00.dne-okta.com/api/v1/policies/rstsd5022rAok3aFp697"},"policies":{"href":"https://oie-00.dne-okta.com/api/v1/apps/0oatc2iqq1U706MjI697/policies","hints":{"allow":["PUT"]}},"groups":{"href":"https://oie-00.dne-okta.com/api/v1/apps/0oatc2iqq1U706MjI697/groups"},"logo":[{"name":"medium","href":"https://ok14static.oktacdn.com/assets/img/logos/default.6770228fb0dab49a1695ef440a5279bb.png","type":"image/png"}],"clientCredentials":[{"name":"secrets","href":"https://oie-00.dne-okta.com/api/v1/apps/0oatc2iqq1U706MjI697/credentials/secrets"}],"accessPolicy":{"href":"https://oie-00.dne-okta.com/api/v1/policies/rstsd5022pPoMSA4q697"},"users":{"href":"https://oie-00.dne-okta.com/api/v1/apps/0oatc2iqq1U706MjI697/users"},"deactivate":{"href":"https://oie-00.dne-okta.com/api/v1/apps/0oatc2iqq1U706MjI697/lifecycle/deactivate"}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.653389583s
    - id: 4
      request:
        host: oie-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/groups/00gtc2g83lE5eoYe5697
        method: GET
      response:
        body: '{"id":"00gtc2g83lE5eoYe5697","created":"2025-07-17T14:39:07.000Z","lastUpdated":"2025-07-17T14:39:07.000Z","lastMembershipUpdated":"2025-07-17T14:39:07.000Z","objectClass":["okta:user_group"],"type":"OKTA_GROUP","profile":{"name":"testAcc_508499343","description":""},"_links":{"logo":[{"name":"medium","href":"https://ok14static.oktacdn.com/assets/img/logos/groups/odyssey/okta-medium.30ce6d4085dff29412984e4c191bc874.png","type":"image/png"},{"name":"large","href":"https://ok14static.oktacdn.com/assets/img/logos/groups/odyssey/okta-large.c3cb8cda8ae0add1b4fe928f5844dbe3.png","type":"image/png"}],"users":{"href":"https://oie-00.dne-okta.com/api/v1/groups/00gtc2g83lE5eoYe5697/users"},"apps":{"href":"https://oie-00.dne-okta.com/api/v1/groups/00gtc2g83lE5eoYe5697/apps"}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 828.475834ms
    - id: 5
      request:
        host: oie-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/groups/00gtc2gfwkKOXCid0697
        method: GET
      response:
        body: '{"id":"00gtc2gfwkKOXCid0697","created":"2025-07-17T14:39:07.000Z","lastUpdated":"2025-07-17T14:39:07.000Z","lastMembershipUpdated":"2025-07-17T14:39:07.000Z","objectClass":["okta:user_group"],"type":"OKTA_GROUP","profile":{"name":"testAcc_508499343_2","description":""},"_links":{"logo":[{"name":"medium","href":"https://ok14static.oktacdn.com/assets/img/logos/groups/odyssey/okta-medium.30ce6d4085dff29412984e4c191bc874.png","type":"image/png"},{"name":"large","href":"https://ok14static.oktacdn.com/assets/img/logos/groups/odyssey/okta-large.c3cb8cda8ae0add1b4fe928f5844dbe3.png","type":"image/png"}],"users":{"href":"https://oie-00.dne-okta.com/api/v1/groups/00gtc2gfwkKOXCid0697/users"},"apps":{"href":"https://oie-00.dne-okta.com/api/v1/groups/00gtc2gfwkKOXCid0697/apps"}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.01582125s
    - id: 6
      request:
        host: oie-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/.well-known/okta-organization
        method: GET
      response:
        body: '{"id":"00osd501x0KyUtOul697","cell":"ok14","_links":{"organization":{"href":"https://oie-00.dne-okta.com"}},"pipeline":"idx","settings":{"analyticsCollectionEnabled":true,"bugReportingEnabled":true,"omEnabled":false,"pssoEnabled":false,"desktopMFAEnabled":false,"itpEnabled":true}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 770.850916ms
    - id: 7
      request:
        host: oie-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/groups/00gtc2ik4pZtu35t7697
        method: GET
      response:
        body: '{"id":"00gtc2ik4pZtu35t7697","created":"2025-07-17T14:39:08.000Z","lastUpdated":"2025-07-17T14:39:08.000Z","lastMembershipUpdated":"2025-07-17T14:39:08.000Z","objectClass":["okta:user_group"],"type":"OKTA_GROUP","profile":{"name":"testAcc_508499343_3","description":""},"_links":{"logo":[{"name":"medium","href":"https://ok14static.oktacdn.com/assets/img/logos/groups/odyssey/okta-medium.30ce6d4085dff29412984e4c191bc874.png","type":"image/png"},{"name":"large","href":"https://ok14static.oktacdn.com/assets/img/logos/groups/odyssey/okta-large.c3cb8cda8ae0add1b4fe928f5844dbe3.png","type":"image/png"}],"users":{"href":"https://oie-00.dne-okta.com/api/v1/groups/00gtc2ik4pZtu35t7697/users"},"apps":{"href":"https://oie-00.dne-okta.com/api/v1/groups/00gtc2ik4pZtu35t7697/apps"}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 933.608625ms
[...]
    - id: 10
      request:
        host: oie-00.dne-okta.com
        form:
            type:
                - ACCESS_POLICY
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/policies?type=ACCESS_POLICY
        method: GET
      response:
        body: '[{"id":"rstsd5021voj5gb73697","status":"ACTIVE","name":"Okta Admin Console","priority":1,"system":false,"conditions":null,"created":"2025-06-16T00:28:16.000Z","lastUpdated":"2025-06-16T00:28:16.000Z","_links":{"mappings":{"href":"https://oie-00.dne-okta.com/api/v1/policies/rstsd5021voj5gb73697/mappings","hints":{"allow":["GET","POST"]}},"self":{"href":"https://oie-00.dne-okta.com/api/v1/policies/rstsd5021voj5gb73697","hints":{"allow":["GET","PUT","DELETE"]}},"rules":{"href":"https://oie-00.dne-okta.com/api/v1/policies/rstsd5021voj5gb73697/rules","hints":{"allow":["GET","POST"]}},"deactivate":{"href":"https://oie-00.dne-okta.com/api/v1/policies/rstsd5021voj5gb73697/lifecycle/deactivate","hints":{"allow":["POST"]}}},"_embedded":{"resourceType":"APP"},"type":"ACCESS_POLICY"},{"id":"rstsd50222gqdCXKi697","status":"ACTIVE","name":"Okta Dashboard","priority":1,"system":false,"conditions":null,"created":"2025-06-16T00:28:16.000Z","lastUpdated":"2025-06-16T00:28:16.000Z","_links":{"mappings":{"href":"https://oie-00.dne-okta.com/api/v1/policies/rstsd50222gqdCXKi697/mappings","hints":{"allow":["GET","POST"]}},"self":{"href":"https://oie-00.dne-okta.com/api/v1/policies/rstsd50222gqdCXKi697","hints":{"allow":["GET","PUT","DELETE"]}},"rules":{"h[...]
[...]
    - id: 12
      request:
        host: oie-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/apps/0oatc2iqq1U706MjI697/policies/rstsd5022pPoMSA4q697
        method: PUT
      response:
        body: ""
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
        status: 204 No Content
        code: 204
        duration: 903.009959ms
    - id: 13
      request:
        host: oie-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/apps/0oatc2iqq1U706MjI697
        method: GET
      response:
        body: '{"id":"0oatc2iqq1U706MjI697","orn":"orn:okta:idp:00osd501x0KyUtOul697:apps:oidc_client:0oatc2iqq1U706MjI697","name":"oidc_client","label":"testAcc_508499343","status":"ACTIVE","lastUpdated":"2025-07-17T14:39:08.000Z","created":"2025-07-1[...]
    - id: 14
      request:
        host: oie-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/internal/apps/0oatc2iqq1U706MjI697/settings/oauth/idToken
        method: GET
      response:
        body: '{"issuer":"https://oie-00.dne-okta.com","orgUrl":null,"customUrl":null,"audience":"0oatc2iqq1U706MjI697","issuerMode":"ORG_URL"}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 885.538958ms
    - id: 15
      request:
        host: oie-00.dne-okta.com
        body: |
            {"id":"00gtc2g83lE5eoYe5697","priority":1,"profile":{}}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://oie-00.dne-okta.com/api/v1/apps/0oatc2iqq1U706MjI697/groups/00gtc2g83lE5eoYe5697
        method: PUT
      response:
        body: '{"id":"00gtc2g83lE5eoYe5697","lastUpdated":"2025-07-17T14:39:14.000Z","priority":1,"profile":{},"_links":{"app":{"href":"https://oie-00.dne-okta.com/api/v1/apps/0oatc2iqq1U706MjI697"},"self":{"href":"https://oie-00.dne-okta.com/api/v1/apps/0oatc2iqq1U706MjI697/groups/00gtc2g83lE5eoYe5697"},"group":{"href":"https://oie-00.dne-okta.com/api/v1/groups/00gtc2g83lE5eoYe5697"}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.078546375s
    - id: 16
      request:
        host: oie-00.dne-okta.com
        body: |
            {"id":"00gtc2gfwkKOXCid0697","priority":2,"profile":{}}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://oie-00.dne-okta.com/api/v1/apps/0oatc2iqq1U706MjI697/groups/00gtc2gfwkKOXCid0697
        method: PUT
      response:
        body: '{"id":"00gtc2gfwkKOXCid0697","lastUpdated":"2025-07-17T14:39:15.000Z","priority":2,"profile":{},"_links":{"app":{"href":"https://oie-00.dne-okta.com/api/v1/apps/0oatc2iqq1U706MjI697"},"self":{"href":"https://oie-00.dne-okta.com/api/v1/apps/0oatc2iqq1U706MjI697/groups/00gtc2gfwkKOXCid0697"},"group":{"href":"https://oie-00.dne-okta.com/api/v1/groups/00gtc2gfwkKOXCid0697"}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.095637417s
    - id: 17
      request:
        host: oie-00.dne-okta.com
        body: |
            {"id":"00gtc2ik4pZtu35t7697","priority":3,"profile":{}}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://oie-00.dne-okta.com/api/v1/apps/0oatc2iqq1U706MjI697/groups/00gtc2ik4pZtu35t7697
        method: PUT
      response:
        body: '{"id":"00gtc2ik4pZtu35t7697","lastUpdated":"2025-07-17T14:39:16.000Z","priority":3,"profile":{},"_links":{"app":{"href":"https://oie-00.dne-okta.com/api/v1/apps/0oatc2iqq1U706MjI697"},"self":{"href":"https://oie-00.dne-okta.com/api/v1/apps/0oatc2iqq1U706MjI697/groups/00gtc2ik4pZtu35t7697"},"group":{"href":"https://oie-00.dne-okta.com/api/v1/groups/00gtc2ik4pZtu35t7697"}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 939.531459ms
    - id: 18
      request:
        host: oie-00.dne-okta.com
        form:
            limit:
                - "200"
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/apps/0oatc2iqq1U706MjI697/groups?limit=200
        method: GET
      response:
        body: '[{"id":"00gtc2g83lE5eoYe5697","lastUpdated":"2025-07-17T14:39:14.000Z","priority":1,"profile":{},"_links":{"app":{"href":"https://oie-00.dne-okta.com/api/v1/apps/0oatc2iqq1U706MjI697"},"self":{"href":"https://oie-00.dne-okta.com/api/v1/apps/0oatc2iqq1U706Mj[...]
    - id: 19
      request:
        host: oie-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/apps/0oatc2iqq1U706MjI697/groups
        method: GET
      response:
        body: '[{"id":"00gtc2g83lE5eoYe5697","lastUpdated":"2025-07-17T14:39:14.000Z","priority":1,"profile":{},"_links":{"app":{"href":"https://oie-00.dne-okta.com/api/v1/apps/0oatc2iqq1U706MjI697"},"self":{"href":"https://oie-00.dne-okta.com/a[...]
[...]
    - id: 32
      request:
        host: oie-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/apps/0oatc2iqq1U706MjI697/lifecycle/deactivate
        method: POST
      response:
        body: '{}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 999.404292ms
[...]
