---
version: 1
interactions:
- request:
    body: |
      {"credentials":{"password":{"value":"Abcd1234"},"recovery_question":{"answer":"Forty Two","question":"What is the answer to life, the universe, and everything?"}},"profile":{"email":"testAcc-106508146@example.com","firstName":"TestAcc","lastName":"Smith","login":"testAcc-106508146@example.com","postalAddress":null}}
    form: {}
    headers:
      Authorization:
      - SSWS REDACTED
      Content-Type:
      - application/json
    url: https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/users
    method: POST
  response:
    body: '{"id":"00u6m9fx8eBe4V7BZ1d7","status":"ACTIVE","created":"2023-01-11T20:36:59.000Z","activated":"2023-01-11T20:36:59.000Z","statusChanged":"2023-01-11T20:36:59.000Z","lastLogin":null,"lastUpdated":"2023-01-11T20:36:59.000Z","passwordChanged":"2023-01-11T20:36:59.000Z","type":{"id":"oty5jjkl30LP1EYa11d7"},"profile":{"firstName":"TestAcc","lastName":"Smith","mobilePhone":null,"secondEmail":null,"login":"testAcc-106508146@example.com","email":"testAcc-106508146@example.com"},"credentials":{"password":{},"recovery_question":{"question":"What
      is the answer to life, the universe, and everything?"},"provider":{"type":"OKTA","name":"OKTA"}},"_links":{"suspend":{"href":"https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/users/00u6m9fx8eBe4V7BZ1d7/lifecycle/suspend","method":"POST"},"schema":{"href":"https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/meta/schemas/user/osc5jjkl30LP1EYa11d7"},"resetPassword":{"href":"https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/users/00u6m9fx8eBe4V7BZ1d7/lifecycle/reset_password","method":"POST"},"forgotPassword":{"href":"https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/users/00u6m9fx8eBe4V7BZ1d7/credentials/forgot_password","method":"POST"},"expirePassword":{"href":"https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/users/00u6m9fx8eBe4V7BZ1d7/lifecycle/expire_password","method":"POST"},"changeRecoveryQuestion":{"href":"https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/users/00u6m9fx8eBe4V7BZ1d7/credentials/change_recovery_question","method":"POST"},"self":{"href":"https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/users/00u6m9fx8eBe4V7BZ1d7"},"resetFactors":{"href":"https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/users/00u6m9fx8eBe4V7BZ1d7/lifecycle/reset_factors","method":"POST"},"type":{"href":"https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/meta/types/user/oty5jjkl30LP1EYa11d7"},"changePassword":{"href":"https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/users/00u6m9fx8eBe4V7BZ1d7/credentials/change_password","method":"POST"},"deactivate":{"href":"https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/users/00u6m9fx8eBe4V7BZ1d7/lifecycle/deactivate","method":"POST"}}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/users/00u6m9fx8eBe4V7BZ1d7
    method: GET
  response:
    body: '{"id":"00u6m9fx8eBe4V7BZ1d7","status":"ACTIVE","created":"2023-01-11T20:36:59.000Z","activated":"2023-01-11T20:36:59.000Z","statusChanged":"2023-01-11T20:36:59.000Z","lastLogin":null,"lastUpdated":"2023-01-11T20:36:59.000Z","passwordChanged":"2023-01-11T20:36:59.000Z","type":{"[...]
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/users/00u6m9fx8eBe4V7BZ1d7/roles
    method: GET
  response:
    body: '[]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: |
      {"password":{"value":"SuperSecret007"},"recovery_question":{"answer":"Asterisk","question":"Which symbol has the ASCII code of Forty Two?"}}
    form: {}
    headers:
      Authorization:
      - SSWS REDACTED
      Content-Type:
      - application/json
    url: https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/users/00u6m9fx8eBe4V7BZ1d7/credentials/change_recovery_question
    method: POST
  response:
    body: '{"password":{},"recovery_question":{"question":"Which symbol has the ASCII
      code of Forty Two?"},"provider":{"type":"OKTA","name":"OKTA"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: |
      {"newPassword":{"value":"Super#Secret@007"},"oldPassword":{"value":"SuperSecret007"}}
    form: {}
    headers:
      Authorization:
      - SSWS REDACTED
      Content-Type:
      - application/json
    url: https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/users/00u6m9fx8eBe4V7BZ1d7/credentials/change_password
    method: POST
  response:
    body: '{"password":{},"recovery_question":{"question":"Which symbol has the ASCII
      code of Forty Two?"},"provider":{"type":"OKTA","name":"OKTA"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
