---
version: 2
interactions:
    - id: 0
      request:
        host: mm-oie-2022-10-07-max.oktapreview.com
        body: |
            {"name":"testAcc_3992793522 Dynamic Proxy","proxyType":"TorAnonymizer","status":"ACTIVE","type":"DYNAMIC","usage":"BLOCKLIST"}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/zones
        method: POST
      response:
        body: '{"type":"DYNAMIC","id":"nzo95ulf4bEoQ67VP1d7","name":"testAcc_3992793522 Dynamic Proxy","status":"ACTIVE","usage":"BLOCKLIST","created":"2023-07-27T19:52:29.000Z","lastUpdated":"2023-07-27T19:52:29.000Z","system":false,"locations":null,"proxyType":"TorAnonymizer","_links":{"self":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/zones/nzo95ulf4bEoQ67VP1d7","hints":{"allow":["GET","PUT","DELETE"]}},"deactivate":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/zones/nzo95ulf4bEoQ67VP1d7/lifecycle/deactivate","hints":{"allow":["POST"]}}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 146.942825ms
    - id: 1
      request:
        host: mm-oie-2022-10-07-max.oktapreview.com
        body: |
            {"gateways":[{"type":"RANGE","value":"2.3.4.5-2.3.4.15"},{"type":"CIDR","value":"1.2.3.4/24"}],"name":"testAcc_3992793522","proxies":[{"type":"CIDR","value":"2.2.3.4/24"},{"type":"RANGE","value":"3.3.4.5-3.3.4.15"}],"status":"ACTIVE","type":"IP","usage":"POLICY"}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/zones
        method: POST
      response:
        body: '{"type":"IP","id":"nzo95ujhn76GBxU7j1d7","name":"testAcc_3992793522","status":"ACTIVE","usage":"POLICY","created":"2023-07-27T19:52:29.000Z","lastUpdated":"2023-07-27T19:52:29.000Z","system":false,"gateways":[{"type":"RANGE","value":"2.3.4.5-2.3.4.15"},{"type":"CIDR","value":"1.2.3.4/24"}],"proxies":[{"type":"CIDR","value":"2.2.3.4/24"},{"type":"RANGE","value":"3.3.4.5-3.3.4.15"}],"_links":{"self":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/zones/nzo95ujhn76GBxU7j1d7","hints":{"allow":["GET","PUT","DELETE"]}},"deactivate":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/zones/nzo95ujhn76GBxU7j1d7/lifecycle/deactivate","hints":{"allow":["POST"]}}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 174.623965ms
    - id: 2
      request:
        host: mm-oie-2022-10-07-max.oktapreview.com
        body: |
            {"locations":[{"country":"US"},{"country":"AF","region":"AF-BGL"}],"name":"testAcc_3992793522 Dynamic","status":"ACTIVE","type":"DYNAMIC","usage":"POLICY"}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/zones
        method: POST
      response:
        body: '{"type":"DYNAMIC","id":"nzo95uce19LeG91j21d7","name":"testAcc_3992793522 Dynamic","status":"ACTIVE","usage":"POLICY","created":"2023-07-27T19:52:29.000Z","lastUpdated":"2023-07-27T19:52:29.000Z","system":false,"locations":[{"country":"AF","region":"AF-BGL"},{"country":"US","region":null}],"proxyType":null,"_links":{"self":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/zones/nzo95uce19LeG91j21d7","hints":{"allow":["GET","PUT","DELETE"]}},"deactivate":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/zones/nzo95uce19LeG91j21d7/lifecycle/deactivate","hints":{"allow":["POST"]}}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 200.203951ms
    - id: 3
      request:
        host: mm-oie-2022-10-07-max.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/zones/nzo95ulf4bEoQ67VP1d7
        method: GET
      response:
        body: '{"type":"DYNAMIC","id":"nzo95ulf4bEoQ67VP1d7","name":"testAcc_3992793522 Dynamic Proxy","status":"ACTIVE","usage":"BLOCKLIST","created":"2023-07-27T19:52:29.000Z","lastUpdated":"2023-07-27T19:52:29.000Z","system":false,"locations":null,"proxyType":"TorAnonymizer","_links":{"self":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/zones/nzo95ulf4bEoQ67VP1d7","hints":{"allow":["GET","PUT","DELETE"]}},"deactivate":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/zones/nzo95ulf4bEoQ67VP1d7/lifecycle/deactivate","hints":{"allow":["POST"]}}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 75.2246ms
    - id: 4
      request:
        host: mm-oie-2022-10-07-max.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/zones/nzo95ujhn76GBxU7j1d7
        method: GET
      response:
        body: '{"type":"IP","id":"nzo95ujhn76GBxU7j1d7","name":"testAcc_3992793522","status":"ACTIVE","usage":"POLICY","created":"2023-07-27T19:52:29.000Z","lastUpdated":"2023-07-27T19:52:29.000Z","system":false,"gateways":[{"type":"RANGE","value":"2.3.4.5-2.3.4.15"},{"type":"CIDR","value":"1.2.3.4/24"}],"proxies":[{"type":"CIDR","value":"2.2.3.4/24"},{"type":"RANGE","value":"3.3.4.5-3.3.4.15"}],"_links":{"self":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/zones/nzo95ujhn76GBxU7j1d7","hints":{"allow":["GET","PUT","DELETE"]}},"deactivate":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/zones/nzo95ujhn76GBxU7j1d7/lifecycle/deactivate","hints":{"allow":["POST"]}}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 60.211104ms
    - id: 5
      request:
        host: mm-oie-2022-10-07-max.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/zones/nzo95uce19LeG91j21d7
        method: GET
      response:
        body: '{"type":"DYNAMIC","id":"nzo95uce19LeG91j21d7","name":"testAcc_3992793522 Dynamic","status":"ACTIVE","usage":"POLICY","created":"2023-07-27T19:52:29.000Z","lastUpdated":"2023-07-27T19:52:29.000Z","system":false,"locations":[{"country":"AF","region":"AF-BGL"},{"country":"US","region":null}],"proxyType":null,"_links":{"self":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/zones/nzo95uce19LeG91j21d7","hints":{"allow":["GET","PUT","DELETE"]}},"deactivate":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/zones/nzo95uce19LeG91j21d7/lifecycle/deactivate","hints":{"allow":["POST"]}}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 69.531383ms
[...]
    - id: 12
      request:
        host: mm-oie-2022-10-07-max.oktapreview.com
        body: |
            {"gateways":[{"type":"RANGE","value":"2.3.4.5-2.3.4.10"},{"type":"CIDR","value":"1.2.3.4/24"}],"name":"testAcc_3992793522 Updated","status":"INACTIVE","type":"IP","usage":"BLOCKLIST"}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/zones/nzo95ujhn76GBxU7j1d7
        method: PUT
      response:
        body: '{"type":"IP","id":"nzo95ujhn76GBxU7j1d7","name":"testAcc_3992793522 Updated","status":"INACTIVE","usage":"BLOCKLIST","created":"2023-07-27T19:52:29.000Z","lastUpdated":"2023-07-27T19:52:29.000Z","system":false,"gateways":[{"type":"RANGE","value":"2.3.4.5-2.3.4.10"},{"type":"CIDR","value":"1.2.3.4/24"}],"proxies":null,"_links":{"activate":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/zones/nzo95ujhn76GBxU7j1d7/lifecycle/activate","hints":{"allow":["POST"]}},"self":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/zones/nzo95ujhn76GBxU7j1d7","hints":{"allow":["GET","PUT","DELETE"]}}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 76.125774ms
[...]
    - id: 14
      request:
        host: mm-oie-2022-10-07-max.oktapreview.com
        body: |
            {"asns":["2232"],"locations":[{"country":"US"},{"country":"UA","region":"UA-26"},{"country":"AF","region":"AF-BGL"}],"name":"testAcc_3992793522 Dynamic Updated","status":"INACTIVE","type":"DYNAMIC","usage":"POLICY"}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/zones/nzo95uce19LeG91j21d7
        method: PUT
      response:
        body: '{"type":"DYNAMIC","id":"nzo95uce19LeG91j21d7","name":"testAcc_3992793522 Dynamic Updated","status":"INACTIVE","usage":"POLICY","created":"2023-07-27T19:52:29.000Z","lastUpdated":"2023-07-27T19:52:29.000Z","system":false,"locations":[{"country":"UA","region":"UA-26"},{"country":"AF","region":"AF-BGL"},{"country":"US","region":null}],"proxyType":null,"asns":["2232"],"_links":{"activate":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/zones/nzo95uce19LeG91j21d7/lifecycle/activate","hints":{"allow":["POST"]}},"self":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/zones/nzo95uce19LeG91j21d7","hints":{"allow":["GET","PUT","DELETE"]}}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 105.46799ms
[...]
    - id: 24
      request:
        host: mm-oie-2022-10-07-max.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/zones/nzo95uce19LeG91j21d7
        method: GET
      response:
        body: '{"errorCode":"E0000007","errorSummary":"Not found: Resource not found: nzo95uce19LeG91j21d7 (NetworkZone)","errorLink":"E0000007","errorId":"oaeuy_Ij7OxTImUlz6ydGgRFA","errorCauses":[]}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 61.994905ms
[...]
