---
version: 2
interactions:
    - id: 0
      request:
        host: classic-00.dne-okta.com
        form:
            filter:
                - parent.externalId eq "0oao01ardu8r8qUP91d7" AND parent.type eq "APPLICATION" AND targetPrincipal.externalId eq "00unkw1sfbTw08c0g1d7" AND targetPrincipal.type eq "OKTA_USER"
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/governance/api/v1/principal-entitlements?filter=parent.externalId+eq+%220oao01ardu8r8qUP91d7%22+AND+parent.type+eq+%22APPLICATION%22+AND+targetPrincipal.externalId+eq+%2200unkw1sfbTw08c0g1d7%22+AND+targetPrincipal.type+eq+%22OKTA_USER%22
        method: GET
      response:
        body: '{"data":[{"parentResourceOrn":"orn:oktapreview:idp:00onkw1sbuAh3Q06I1d7:apps:oidc_client:0oao01ardu8r8qUP91d7","parent":{"externalId":"0oao01ardu8r8qUP91d7","type":"APPLICATION"},"values":[{"id":"entzu76kii1WZLPio1d6","name":"value1","externalValue":"value_1","description":"description for value1"},{"id":"entzu76kjT6QZMNus1d6","name":"value2","externalValue":"value_2","description":"description for value2"}],"targetPrincipalOrn":"orn:oktapreview:directory:00onkw1sbuAh3Q06I1d7:users:00unkw1sfbTw08c0g1d7","targetPrincipal":{"externalId":"00unkw1sfbTw08c0g1d7","type":"OKTA_USER"},"id":"espzu76khum6SBzLm1d6","name":"License Entitlement3","externalValue":"license_entitlement3","description":"Some license entitlement","multiValue":true,"required":false,"dataType":"array"},{"parentResourceOrn":"orn:oktapreview:idp:00onkw1sbuAh3Q06I1d7:apps:oidc_client:0oao01ardu8r8qUP91d7","parent":{"externalId":"0oao01ardu8r8qUP91d7","type":"APPLICATION"},"values":[{"id":"entzcbqd8lcD3BRWR1d6","name":"disp-name","externalValue":"val1"}],"targetPrincipalOrn":"orn:oktapreview:directory:00onkw1sbuAh3Q06I1d7:users:00unkw1sfbTw08c0g1d7","targetPrincipal":{"externalId":"00unkw1sfbTw08c0g1d7","type":"OKTA_USER"},"id":"espzcbqd7Suwp4Y7A1d6","name":"manual-entitlement","externalValue":"manual-entitlement-10-07","multiValue":false,"required":false,"dataType":"string"}],"_links":{"self":{"href":"https://classic-00-admin.dne-okta.com/governance/api/v1/principal-entitlements?filter=parent.externalId%20eq%20%220oao01ardu8r8qUP91d7%22%20AND%20parent.type%20eq%20%22APPLICATION%22%20AND%20targetPrincipal.externalId%20eq%20%2200unkw1sfbTw08c0g1d7%22%20AND%20targetPrincipal.type%20eq%20%22OKTA_USER%22","hints":{}}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
            Link:
                - <https://classic-00-admin.dne-okta.com/governance/api/v1/principal-entitlements?filter=parent.externalId%20eq%20%220oao01ardu8r8qUP91d7%22%20AND%20parent.type%20eq%20%22APPLICATION%22%20AND%20targetPrincipal.externalId%20eq%20%2200unkw1sfbTw08c0g1d7%22%20AND%20targetPrincipal.type%20eq%20%22OKTA_USER%22>; rel="self"
        status: 200 OK
        code: 200
        duration: 1.042926375s
[...]
