---
version: 2
interactions:
    - id: 0
      request:
        host: classic-00.dne-okta.com
        body: |
            {"credentials":{"password":{}},"profile":{"email":"john_3352527563@unknown.com","firstName":"TestAcc","lastName":"Doe","login":"john_3352527563@unknown.com","postalAddress":null}}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://classic-00.dne-okta.com/api/v1/users
        method: POST
      response:
        body: '{"id":"00u9i7flka3fYKGAH1d7","status":"PROVISIONED","created":"2023-08-15T23:54:27.000Z","activated":"2023-08-15T23:54:27.000Z","statusChanged":"2023-08-15T23:54:27.000Z","lastLogin":null,"lastUpdated":"2023-08-15T23:54:27.000Z","passwordChanged":null,"type":{"id":"oty5ptm052JMcoADv1d7"},"profile":{"firstName":"TestAcc","lastName":"Doe","mobilePhone":null,"secondEmail":null,"login":"john_3352527563@unknown.com","email":"john_3352527563@unknown.com"},"credentials":{"provider":{"type":"OKTA","name":"OKTA"}},"_links":{"suspend":{"href":"https://classic-00.oktapreview.com/api/v1/users/00u9i7flka3fYKGAH1d7/lifecycle/suspend","method":"POST"},"schema":{"href":"https://classic-00.oktapreview.com/api/v1/meta/schemas/user/osc5ptm052JMcoADv1d7"},"resetPassword":{"href":"https://classic-00.oktapreview.com/api/v1/users/00u9i7flka3fYKGAH1d7/lifecycle/reset_password","method":"POST"},"reactivate":{"href":"https://classic-00.oktapreview.com/api/v1/users/00u9i7flka3fYKGAH1d7/lifecycle/reactivate","method":"POST"},"self":{"href":"https://classic-00.oktapreview.com/api/v1/users/00u9i7flka3fYKGAH1d7"},"type":{"href":"https://classic-00.oktapreview.com/api/v1/meta/types/user/oty5ptm052JMcoADv1d7"},"deactivate":{"href":"https://classic-00.oktapreview.com/api/v1/users/00u9i7flka3fYKGAH1d7/lifecycle/deactivate","method":"POST"}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 438.964055ms
[...]
    - id: 3
      request:
        host: classic-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/users/00u9i7flka3fYKGAH1d7
        method: GET
      response:
        body: '{"id":"00u9i7flka3fYKGAH1d7","status":"PROVISIONED","created":"2023-08-15T23:54:27.000Z","activated":"2023-08-15T23:54:27.000Z","statusChanged":"2023-08-15T23:54:27.000Z","lastLogin":null,"lastUp[...]
    - id: 4
      request:
        host: classic-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/users/00u9i7dp0nfilJ6Yc1d7
        method: GET
      response:
        body: '{"id":"00u9i7dp0nfilJ6Yc1d7","status":"PROVISIONED","created":"2023-08-15T23:54:27.000Z","activated":"2023-08-15T23:54:27.000Z","statusChanged":"2023-08-15T23:54:27.000Z","lastLogin":null,"lastUp[...]
[...]
    - id: 6
      request:
        host: classic-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/users/00u9i7fme9JuesZCI1d7
        method: GET
      response:
        body: '{"id":"00u9i7fme9JuesZCI1d7","status":"PROVISIONED","created":"2023-08-15T23:54:27.000Z","activated":"2023-08-15T23:54:27.000Z","statusChanged":"2023-08-15T23:54:27.000Z","lastLogin":null,"lastUp[...]
    - id: 7
      request:
        host: classic-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/users/00u9i7a2r3WrxwjmU1d7
        method: GET
      response:
        body: '{"id":"00u9i7a2r3WrxwjmU1d7","status":"PROVISIONED","created":"2023-08-15T23:54:27.000Z","activated":"2023-08-15T23:54:27.000Z","statusChanged":"2023-08-15T23:54:27.000Z","lastLogin":null,"lastUp[...]
[...]
    - id: 15
      request:
        host: classic-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/users?limit=200&search=profile.email+sw+%22john_3352527563%22&sortOrder=0
        method: GET
      response:
        body: '[{"id":"00u9i7a2r3WrxwjmU1d7","status":"PROVISIONED","created":"2023-08-15T23:54:27.000Z","activated":"2023-08-15T23:54:27.000Z","statusChanged":"2[...]
[...]
    - id: 17
      request:
        host: classic-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/users?limit=200&search=profile.email+sw+%22john_3352527563%22&sortOrder=0
        method: GET
      response:
        body: '[]'
        headers:
            Content-Type:
                - application/json
            Link:
                - <https://classic-00.dne-okta.com/api/v1/users?limit=200&search=profile.email+sw+%22john_3352527563%22>; rel="self"
        status: 200 OK
        code: 200
        duration: 54.246594ms
[...]
    - id: 29
      request:
        host: classic-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/users?limit=200&search=profile.email+pr+and+profile.firstName+eq+%22TestAcc%22+and+profile.lastName+eq+%22Jones%22&sortOrder=0
        method: GET
      response:
        body: '[{"id":"00u9i7dp0nfilJ6Yc1d7","status":"PROVISIONED","created":"2023-08-15T23:54:27.000Z","activated":"2023-08-15T23:54:27.000Z","statusChanged":"2023-08-15T23:54:27.000Z","lastLogin":null,"lastUpdated":"2023-08-15T23:54:27.000Z","passwordChanged":null,"type":{"id":"oty5ptm052JMcoADv1d7"},"profile":{"firstName":"TestAcc","lastName":"Jones","mobilePhone":null,"secondEmail":null,"login":"john_3352527563@ledzeppelin.com","email":"john_3352527563@ledzeppelin.com"},"credentials":{"provider":{"type":"OKTA","name":"OKTA"}},"_links":{"self":{"href":"https://classic-00.oktapreview.com/api/v1/users/00u9i7dp0nfilJ6Yc1d7"}}}]'
        headers:
            Content-Type:
                - application/json
            Link:
                - <https://classic-00.dne-okta.com/api/v1/users?limit=200&search=profile.email+pr+and+profile.firstName+eq+%22TestAcc%22+and+profile.lastName+eq+%22Jones%22>; rel="self"
        status: 200 OK
        code: 200
        duration: 72.68853ms
[...]
