---
version: 2
interactions:
    - id: 0
      request:
        host: oie-00.dne-okta.com
        body: |
            {"credentials":{"password":{}},"profile":{"email":"john_3352527563@ledzeppelin.com","firstName":"TestAcc","lastName":"Jones","login":"john_3352527563@ledzeppelin.com","postalAddress":null}}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://oie-00.dne-okta.com/api/v1/users
        method: POST
      response:
        body: '{"id":"00u9i6s4aewU5Giod1d7","status":"PROVISIONED","created":"2023-08-15T23:30:48.000Z","activated":"2023-08-15T23:30:48.000Z","statusChanged":"2023-08-15T23:30:48.000Z","lastLogin":null,"lastUpdated":"2023-08-15T23:30:48.000Z","passwordChanged":null,"type":{"id":"oty5qwjvh0Vy1j8Kd1d7"},"profile":{"firstName":"TestAcc","lastName":"Jones","mobilePhone":null,"secondEmail":null,"login":"john_3352527563@ledzeppelin.com","email":"john_3352527563@ledzeppelin.com"},"credentials":{"provider":{"type":"OKTA","name":"OKTA"}},"_links":{"suspend":{"href":"https://oie-00.oktapreview.com/api/v1/users/00u9i6s4aewU5Giod1d7/lifecycle/suspend","method":"POST"},"schema":{"href":"https://oie-00.oktapreview.com/api/v1/meta/schemas/user/osc5qwjvh0Vy1j8Kd1d7"},"resetPassword":{"href":"https://oie-00.oktapreview.com/api/v1/users/00u9i6s4aewU5Giod1d7/lifecycle/reset_password","method":"POST"},"reactivate":{"href":"https://oie-00.oktapreview.com/api/v1/users/00u9i6s4aewU5Giod1d7/lifecycle/reactivate","method":"POST"},"self":{"href":"https://oie-00.oktapreview.com/api/v1/users/00u9i6s4aewU5Giod1d7"},"resetFactors":{"href":"https://oie-00.oktapreview.com/api/v1/users/00u9i6s4aewU5Giod1d7/lifecycle/reset_factors","method":"POST"},"type":{"href":"https://oie-00.oktapreview.com/api/v1/meta/types/user/oty5qwjvh0Vy1j8Kd1d7"},"deactivate":{"href":"https://oie-00.oktapreview.com/api/v1/users/00u9i6s4aewU5Giod1d7/lifecycle/deactivate","method":"POST"}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 356.004484ms
[...]
    - id: 2
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/users/00u9i6s4aewU5Giod1d7
        method: GET
      response:
        body: '{"id":"00u9i6s4aewU5Giod1d7","status":"PROVISIONED","created":"2023-08-15T23:30:48.000Z","activated":"2023-08-15T23:30:48.000Z","statusChanged":"2023-08-15T23:30:48.000Z","lastLogin":null,"lastUpdated":"[...]
    - id: 3
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/users/00u9i70q8bLLF7gEB1d7
        method: GET
      response:
        body: '{"id":"00u9i70q8bLLF7gEB1d7","status":"PROVISIONED","created":"2023-08-15T23:30:48.000Z","activated":"2023-08-15T23:30:48.000Z","statusChanged":"2023-08-15T23:30:48.000Z","lastLogin":null,"lastUpdated":"[...]
[...]
    - id: 6
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/users/00u9i6xje1X7xdr4M1d7
        method: GET
      response:
        body: '{"id":"00u9i6xje1X7xdr4M1d7","status":"PROVISIONED","created":"2023-08-15T23:30:48.000Z","activated":"2023-08-15T23:30:48.000Z","statusChanged":"2023-08-15T23:30:48.000Z","lastLogin":null,"lastUpdated":"[...]
    - id: 7
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/users/00u9i6usurJXkPItj1d7
        method: GET
      response:
        body: '{"id":"00u9i6usurJXkPItj1d7","status":"PROVISIONED","created":"2023-08-15T23:30:48.000Z","activated":"2023-08-15T23:30:48.000Z","statusChanged":"2023-08-15T23:30:48.000Z","lastLogin":null,"lastUpdated":"[...]
[...]
    - id: 13
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/users?limit=200&search=profile.email+sw+%22john_3352527563%22&sortOrder=0
        method: GET
      response:
        body: '[{"id":"00u9i6s4aewU5Giod1d7","status":"PROVISIONED","created":"2023-08-15T23:30:48.000Z","activated":"2023-08-15T23:30:48.000Z","statusChanged":"2023-08-15T23:30:48.000Z","lastLogin":null,"lastUpdated":"2023-08-15T23:30:48.000Z","passwordChanged":null,"type":{"id":"oty5qwjvh0Vy1j8Kd1d7"},"profile":{"firstName":"TestAcc","lastName":"Jones","mobilePhone":null,"secondEmail":null,"login":"john_3352527563@ledzeppelin.com","email":"john_3352527563@ledzeppelin.com"},"credentials":{"provider":{"type":"OKTA","name":"OKTA"}},"_links":{"self":{"href":"https://oie-00.oktapreview.com/api/v1/users/00u9i6s4aewU5Giod1d7"}}}]'
        headers:
            Content-Type:
                - application/json
            Link:
                - <https://oie-00.dne-okta.com/api/v1/users?limit=200&search=profile.email+sw+%22john_3352527563%22>; rel="self"
        status: 200 OK
        code: 200
        duration: 77.083445ms
[...]
    - id: 29
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/users?limit=200&search=profile.email+pr+and+profile.firstName+eq+%22TestAcc%22+and+profile.lastName+eq+%22Jones%22&sortOrder=0
        method: GET
      response:
        body: '[{"id":"00u9i6s4aewU5Giod1d7","status":"PROVISIONED","created":"2023-08-15T23:30:48.000Z","activated":"2023-08-15T23:30:48.000Z","statusChanged":"2023-08-15T23:30:48.000Z","lastLogin":null,"lastUpdated":"2023-08-15T23:30:48.000Z","passwordChanged":null,"type":{"id":"oty5qwjvh0Vy1j8Kd1d7"},"profile":{"firstName":"TestAcc","lastName":"Jones","mobilePhone":null,"secondEmail":null,"login":"john_3352527563@ledzeppelin.com","email":"john_3352527563@ledzeppelin.com"},"credentials":{"provider":{"type":"OKTA","name":"OKTA"}},"_links":{"self":{"href":"https://oie-00.oktapreview.com/api/v1/users/00u9i6s4aewU5Giod1d7"}}}]'
        headers:
            Content-Type:
                - application/json
            Link:
                - <https://oie-00.dne-okta.com/api/v1/users?limit=200&search=profile.email+pr+and+profile.firstName+eq+%22TestAcc%22+and+profile.lastName+eq+%22Jones%22>; rel="self"
        status: 200 OK
        code: 200
        duration: 87.753998ms
[...]
