---
version: 2
interactions:
    - id: 0
      request:
        host: mm-oie-2022-10-07-max.oktapreview.com
        body: |
            {"audiences":["whatever.rise.zone"],"credentials":{"signing":{"rotationMode":"AUTO"}},"description":"test","issuerMode":"ORG_URL","name":"testAcc_1245363823"}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/authorizationServers
        method: POST
      response:
        body: '{"id":"aus95uas1dFHXtvI31d7","name":"testAcc_1245363823","description":"test","audiences":["whatever.rise.zone"],"issuer":"https://mm-oie-2022-10-07-max.oktapreview.com/oauth2/aus95uas1dFHXtvI31d7","issuerMode":"ORG_URL","status":"ACTIVE","created":"2023-07-27T19:46:46.000Z","lastUpdated":"2023-07-27T19:46:46.000Z","credentials":{"signing":{"kid":"fmvvWCq715BOytpSv2nb4lq604nPmxVxKPXh6KypTy8","rotationMode":"AUTO","lastRotated":"2023-07-27T19:46:46.000Z","nextRotation":"2023-10-25T19:46:46.000Z"}},"default":false,"_links":{"rotateKey":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/authorizationServers/aus95uas1dFHXtvI31d7/credentials/lifecycle/keyRotate","hints":{"allow":["POST"]}},"metadata":[{"name":"oauth-authorization-server","href":"https://mm-oie-2022-10-07-max.oktapreview.com/oauth2/aus95uas1dFHXtvI31d7/.well-known/oauth-authorization-server","hints":{"allow":["GET"]}},{"name":"openid-configuration","href":"https://mm-oie-2022-10-07-max.oktapreview.com/oauth2/aus95uas1dFHXtvI31d7/.well-known/openid-configuration","hints":{"allow":["GET"]}}],"keys":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/authorizationServers/aus95uas1dFHXtvI31d7/credentials/keys","hints":{"allow":["GET"]}},"claims":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/authorizationServers/aus95uas1dFHXtvI31d7/claims","hints":{"allow":["GET","POST"]}},"policies":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/authorizationServers/aus95uas1dFHXtvI31d7/policies","hints":{"allow":["GET","POST"]}},"self":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/authorizationServers/aus95uas1dFHXtvI31d7","hints":{"allow":["GET","DELETE","PUT"]}},"scopes":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/authorizationServers/aus95uas1dFHXtvI31d7/scopes","hints":{"allow":["GET","POST"]}},"deactivate":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/authorizationServers/aus95uas1dFHXtvI31d7/lifecycle/deactivate","hints":{"allow":["POST"]}}}}'
        headers:
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 316.525143ms
    - id: 1
      request:
        host: mm-oie-2022-10-07-max.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/authorizationServers/aus95uas1dFHXtvI31d7
        method: GET
      response:
        body: '{"id":"aus95uas1dFHXtvI31d7","name":"testAcc_1245363823","description":"test","audiences":["whatever.rise.zone"],"issuer":"https://mm-oie-2022-10-07-max[...]
    - id: 2
      request:
        host: mm-oie-2022-10-07-max.oktapreview.com
        body: |
            {"consent":"REQUIRED","default":false,"description":"test","displayName":"test display name","metadataPublish":"ALL_CLIENTS","name":"test:something"}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/authorizationServers/aus95uas1dFHXtvI31d7/scopes
        method: POST
      response:
        body: '{"id":"scp95ucyqqi1BO1JE1d7","name":"test:something","displayName":"test display name","description":"test","system":false,"metadataPublish":"ALL_CLIENTS","consent":"REQUIRED","optional":false,"apiResourceId":null,"default":false,"_links":{"self":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/authorizationServers/aus95uas1dFHXtvI31d7/scopes/scp95ucyqqi1BO1JE1d7","hints":{"allow":["GET","PUT","DELETE"]}}}}'
        headers:
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 87.873329ms
    - id: 3
      request:
        host: mm-oie-2022-10-07-max.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/authorizationServers/aus95uas1dFHXtvI31d7/scopes/scp95ucyqqi1BO1JE1d7
        method: GET
      response:
        body: '{"id":"scp95ucyqqi1BO1JE1d7","name":"test:something","displayName":"test display name","description":"test","system":false,"metadataPublish":"ALL_CLIENTS","consent":"REQUIRED","optional":false,"apiResourceId":null,"default":false,"_links":{"self":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/authorizationServers/aus95uas1dFHXtvI31d7/scopes/scp95ucyqqi1BO1JE1d7","hints":{"allow":["GET","PUT","DELETE"]}}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 81.718756ms
[...]
    - id: 20
      request:
        host: mm-oie-2022-10-07-max.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/authorizationServers/aus95uas1dFHXtvI31d7/lifecycle/deactivate
        method: POST
      response:
        body: ""
        headers:
        status: 204 No Content
        code: 204
        duration: 69.552602ms
[...]
    - id: 22
      request:
        host: mm-oie-2022-10-07-max.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/authorizationServers/aus95uas1dFHXtvI31d7
        method: GET
      response:
        body: '{"errorCode":"E0000007","errorSummary":"Not found: Resource not found: aus95uas1dFHXtvI31d7 (AuthorizationServer)","errorLink":"E0000007","errorId":"oae5hmZx1yUTEiMkcTZFaXfIg","errorCauses":[]}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 69.593923ms
