---
version: 2
interactions:
    - id: 0
      request:
        host: classic-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/governance/api/v2/resources/0oaoum6j3cElINe1z1d7/request-settings
        method: GET
      response:
        body: '{"validAccessScopeSettings":[{"type":"RESOURCE_DEFAULT"},{"type":"ENTITLEMENT_BUNDLES"}],"validRequesterSettings":[{"type":"EVERYONE"},{"type":"GROUPS"}],"validAccessDurationSettings":{"supportedTypes":[{"type":"REQUESTER_SPECIFIED_DURATION"},{"type":"ADMIN_FIXED_DURATION"}],"required":false,"maximumDays":90,"maximumHours":72,"maximumWeeks":12},"validRiskSettings":{"supportedTypes":[{"type":"DEFAULT_SETTING"}]},"riskSettings":{"defaultSetting":{"requestSubmissionType":"RESTRICTED"}},"validRequestOnBehalfOfSettings":[]}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.074086667s
[...]
    - id: 2
      request:
        host: classic-00.dne-okta.com
        body: |
            {"requestOnBehalfOfSettings":{"allowed":true},"riskSettings":{"defaultSetting":{"accessDurationSettings":null,"approvalSequenceId":"68920b41386747a673869356","requestSubmissionType":"ALLOWED_WITH_OVERRIDES"}}}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://classic-00.dne-okta.com/governance/api/v2/resources/0oaoum6j3cElINe1z1d7/request-settings
        method: PATCH
      response:
        body: '{"validAccessScopeSettings":[{"type":"ENTITLEMENT_BUNDLES"},{"type":"RESOURCE_DEFAULT"}],"validRequesterSettings":[{"type":"EVERYONE"},{"type":"GROUPS"}],"validAccessDurationSettings":{"supportedTypes":[{"type":"REQUESTER_SPECIFIED_DURATION"},{"type":"ADMIN_FIXED_DURATION"}],"required":false,"maximumDays":90,"maximumHours":72,"maximumWeeks":12},"requestOnBehalfOfSettings":{"allowed":true},"validRiskSettings":{"supportedTypes":[{"type":"DEFAULT_SETTING"}]},"riskSettings":{"defaultSetting":{"requestSubmissionType":"ALLOWED_WITH_OVERRIDES","approvalSequenceId":"68920b41386747a673869356"}},"validRequestOnBehalfOfSettings":[]}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.156784083s
[...]
