---
version: 2
interactions:
    - id: 0
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/.well-known/okta-organization
        method: GET
      response:
        body: '{"id":"00o5qwjvg8hg7YpT81d7","cell":"op3","_links":{"organization":{"href":"https://oie-00.oktapreview.com"}},"pipeline":"idx","settings":{"analyticsCollectionEnabled":false,"bugReportingEnabled":true,"omEnabled":false,"pssoEnabled":false}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 135.483723ms
    - id: 1
      request:
        host: oie-00.dne-okta.com
        body: |
            {"name":"testAcc_3068777257","siteKey":"random_key","secretKey":"random_key","type":"HCAPTCHA"}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://oie-00.dne-okta.com/api/v1/captchas
        method: POST
      response:
        body: '{"id":"cap9i70f288Mhi6hB1d7","name":"testAcc_3068777257","siteKey":"random_key","type":"HCAPTCHA","_links":{"self":{"href":"https://oie-00.oktapreview.com/api/v1/captchas/cap9i70f288Mhi6hB1d7","hints":{"allow":["GET","POST","PUT","DELETE"]}}}}'
        headers:
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 120.429426ms
    - id: 2
      request:
        host: oie-00.dne-okta.com
        body: |
            {"captchaId":"cap9i70f288Mhi6hB1d7","enabledPages":["SSR"]}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://oie-00.dne-okta.com/api/v1/org/captcha
        method: PUT
      response:
        body: '{"enabledPages":["SSR"],"captchaId":"cap9i70f288Mhi6hB1d7","_links":{"captcha":{"href":"https://oie-00.oktapreview.com/api/v1/captchas/cap9i70f288Mhi6hB1d7","hints":{"allow":["GET","POST","PUT","DELETE"]}},"self":{"href":"https://oie-00.oktapreview.com/api/v1/org/captcha","hints":{"allow":["GET","PUT"]}}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 102.617405ms
    - id: 3
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/captchas/cap9i70f288Mhi6hB1d7
        method: GET
      response:
        body: '{"id":"cap9i70f288Mhi6hB1d7","name":"testAcc_3068777257","siteKey":"random_key","type":"HCAPTCHA","_links":{"self":{"href":"https://oie-00.oktapreview.com/api/v1/captchas/cap9i70f288Mhi6hB1d7","hints":{"allow":["GET","POST","PUT","DELETE"]}}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 66.339604ms
[...]
