---
version: 2
interactions:
    - id: 0
      request:
        host: classic-00.dne-okta.com
        body: |
            {"name":"Custom","template":"${org.name} code is: ${code}","translations":{"en":"${org.name} code is: ${code}","es":"${org.name} es: ${code}."},"type":"SMS_VERIFY_CODE"}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://classic-00.dne-okta.com/api/v1/templates/sms
        method: POST
      response:
        body: '{"id":"cst9i7fwvry49KETx1d7","name":"Custom","type":"SMS_VERIFY_CODE","template":"${org.name} code is: ${code}","created":"2023-08-16T00:07:28.000Z","lastUpdated":"2023-08-16T00:07:28.000Z","translations":{"en":"${org.name} code is: ${code}","es":"${org.name} es: ${code}."}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 176.291095ms
    - id: 1
      request:
        host: classic-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/templates/sms/cst9i7fwvry49KETx1d7
        method: GET
      response:
        body: '{"id":"cst9i7fwvry49KETx1d7","name":"Custom","type":"SMS_VERIFY_CODE","template":"${org.name} code is: ${code}","created":"2023-08-16T00:07:28.000Z","lastUpdated":"2023-08-16T00:07:28.000Z","translations":{"en":"${org.name} code is: ${code}","es":"${org.name} es: ${code}."}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 77.519798ms
[...]
    - id: 4
      request:
        host: classic-00.dne-okta.com
        body: |
            {"name":"Custom","template":"${org.name} updated code is: ${code}","translations":{"en":"${org.name} updated code is: ${code}","es":"${org.name} es: ${code}.","fr":"${org.name} est: ${code}."},"type":"SMS_VERIFY_CODE"}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://classic-00.dne-okta.com/api/v1/templates/sms/cst9i7fwvry49KETx1d7
        method: PUT
      response:
        body: '{"id":"cst9i7fwvry49KETx1d7","name":"Custom","type":"SMS_VERIFY_CODE","template":"${org.name} updated code is: ${code}","created":"2023-08-16T00:07:28.000Z","lastUpdated":"2023-08-16T00:07:29.000Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 90.56761ms
[...]
    - id: 8
      request:
        host: classic-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/templates/sms/cst9i7fwvry49KETx1d7
        method: GET
      response:
        body: '{"errorCode":"E0000007","errorSummary":"Not found: Resource not found: cst9i7fwvry49KETx1d7 (AppInstance)","errorLink":"E0000007","errorId":"oaeUyGpKn4bRfqZPhMUMW5UUw","errorCauses":[]}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 69.927173ms
