---
version: 2
interactions:
- id: 0
  request:
    host: classic-00.dne-okta.com
    body: "{\"agentType\":\"AD\",\"agents\":[{\"id\":\"a53slzqkptH2xEJ1r1d7\",\"poolId\":\"0oaspf3cfatE1nDO31d7\"}],\"enabled\":false,\"name\":\"update_schedule_test\",\"notifyAdmin\":true,\"reason\":\"\",\"schedule\":{\"cron\":\"0 3 * * WED\",\"delay\":0,\"duration\":1020,\"timezone\":\"Asia/Calcutta\"},\"sortOrder\":0,\"targetVersion\":\"\"}\n"
    headers:
      Authorization:
      - SSWS REDACTED
      Content-Type:
      - application/json
    url: https://classic-00.dne-okta.com/api/v1/agentPools/0oaspf3cfatE1nDO31d7/updates
    method: POST
  response:
    body: "{\"id\":\"ajdsynvig8CNypQgg1d7\",\"name\":\"update_schedule_test\",\"agentType\":\"AD\",\"agents\":[{\"latestGAedVersion\":true,\"id\":\"a53slzqkptH2xEJ1r1d7\",\"type\":\"AD\",\"operationalStatus\":\"OPERATIONAL\",\"updateStatus\":\"Scheduled\",\"updateMessage\":\"Queued for update.\",\"version\":\"3.22.0\",\"lastConnection\":1766430781000,\"isLatestGAedVersion\":true,\"poolId\":\"0oaspf3cfatE1nDO31d7\",\"name\":\"EC2AMAZ-5CEDHJG\",\"isHidden\":false}],\"enabled\":false,\"schedule\":{\"cron\":\"0 3 * * WED\",\"timezone\":\"Asia/Calcutta\",\"duration\":1020},\"notifyAdmin\":true,\"status\":\"Scheduled\",\"targetVersion\":\"3.22.0\",\"_links\":{}}"
    headers:
      Accept-Ch:
      - Sec-CH-UA-Platform-Version
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 1.10821675s
- id: 1
  request:
    host: classic-00.dne-okta.com
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://classic-00.dne-okta.com/api/v1/agentPools/0oaspf3cfatE1nDO31d7/updates/ajdsynvig8CNypQgg1d7
    method: GET
  response:
    body: "{\"id\":\"ajdsynvig8CNypQgg1d7\",\"name\":\"update_schedule_test\",\"agentType\":\"AD\",\"agents\":[{\"latestGAedVersion\":true,\"id\":\"a53slzqkptH2xEJ1r1d7\",\"type\":\"AD\",\"operationalStatus\":\"OPERATIONAL\",\"updateStatus\":\"Scheduled\",\"updateMessage\":\"Queued for update.\",\"version\":\"3.22.0\",\"lastConnection\":1766430781000,\"isLatestGAedVersion\":true,\"poolId\":\"0oaspf3cfatE1nDO31d7\",\"name\":\"EC2AMAZ-5CEDHJG\",\"isHidden\":false}],\"enabled\":false,\"schedule\":{\"cron\":\"0 3 * * WED\",\"timezone\":\"Asia/Calcutta\",\"duration\":1020},\"notifyAdmin\":true,\"status\":\"Scheduled\",\"targetVersion\":\"3.22.0\",\"_links\":{}}"
    headers:
      Accept-Ch:
      - Sec-CH-UA-Platform-Version
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 1.1857735s
[...]
