---
version: 2
interactions:
- id: 0
  request:
    host: classic-00.dne-okta.com
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://classic-00.dne-okta.com/api/v1/devices/guor71zcb4SzYhdQf1d7
    method: GET
  response:
    body: "{\"id\":\"guor71zcb4SzYhdQf1d7\",\"status\":\"ACTIVE\",\"created\":\"2025-10-22T11:49:31.000Z\",\"lastUpdated\":\"2025-10-23T04:20:39.000Z\",\"profile\":{\"displayName\":\"Dhiwakar's S24\",\"platform\":\"ANDROID\",\"manufacturer\":\"samsung\",\"model\":\"SM-S921B\",\"osVersion\":\"16:2025-09-01\",\"registered\":true,\"secureHardwarePresent\":true,\"diskEncryptionType\":\"USER\"},\"resourceType\":\"UDDevice\",\"resourceDisplayName\":{\"value\":\"Dhiwakar's S24\",\"sensitive\":false},\"resourceId\":\"guor71zcb4SzYhdQf1d7\",\"resourceAlternateId\":null,\"_links\":{\"suspend\":{\"href\":\"https://classic-00.dne-okta.com/api/v1/devices/guor71zcb4SzYhdQf1d7/lifecycle/suspend\",\"hints\":{\"allow\":[\"POST\"]}},\"self\":{\"href\":\"https://classic-00.dne-okta.com/api/v1/devices/guor71zcb4SzYhdQf1d7\",\"hints\":{\"allow\":[\"GET\",\"PATCH\",\"PUT\"]}},\"users\":{\"href\":\"https://classic-00.dne-okta.com/api/v1/devices/guor71zcb4SzYhdQf1d7/users\",\"hints\":{\"allow\":[\"GET\"]}},\"deactivate\":{\"href\":\"https://classic-00.dne-okta.com/api/v1/devices/guor71zcb4SzYhdQf1d7/lifecycle/deactivate\",\"hints\":{\"allow\":[\"POST\"]}}},\"_embedded\":{\"originatedFrom\":[{\"id\":\"autnkw1sgntSDQThR1d7\",\"name\":\"Okta Verify\",\"key\":\"okta_verify\"}]}}"
    headers:
      Accept-Ch:
      - Sec-CH-UA-Platform-Version
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 1.173846708s
[...]
- id: 2
  request:
    host: classic-00.dne-okta.com
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://classic-00.dne-okta.com/api/v1/devices/guor71zcb4SzYhdQf1d7/lifecycle/activate
    method: POST
  response:
    body: ""
    headers:
      Accept-Ch:
      - Sec-CH-UA-Platform-Version
    status: 204 No Content
    code: 204
    duration: 1.22677125s
[...]
- id: 6
  request:
    host: classic-00.dne-okta.com
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://classic-00.dne-okta.com/api/v1/devices/guor71zcb4SzYhdQf1d7/lifecycle/deactivate
    method: POST
  response:
    body: ""
    headers:
      Accept-Ch:
      - Sec-CH-UA-Platform-Version
    status: 204 No Content
    code: 204
    duration: 1.288831833s
- id: 7
  request:
    host: classic-00.dne-okta.com
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://classic-00.dne-okta.com/api/v1/devices/guor71zcb4SzYhdQf1d7
    method: GET
  response:
    body: "{\"id\":\"guor71zcb4SzYhdQf1d7\",\"status\":\"DEACTIVATED\",\"created\":\"2025-10-22T11:49:31.000Z\",\"lastUpdated\":\"2025-10-23T04:25:38.000Z\",\"profile\":{\"displayName\":\"Dhiwakar's S24\",\"platform\":\"ANDROID\",\"manufacturer\":\"samsung\",\"model\":\"SM-S921B\",\"osVersion\":\"16:2025-09-01\",\"registered\":true,\"secureHardwarePresent\":true,\"diskEncryptionType\":\"USER\"},\"resourceType\":\"UDDevice\",\"resourceDisplayName\":{\"value\":\"Dhiwakar's S24\",\"sensitive\":false},\"resourceId\":\"guor71zcb4SzYhdQf1d7\",\"resourceAlternateId\":null,\"_links\":{\"activate\":{\"href\":\"https://classic-00.dne-okta.com/api/v1/devices/guor71zcb4SzYhdQf1d7/lifecycle/activate\",\"hints\":{\"allow\":[\"POST\"]}},\"self\":{\"href\":\"https://classic-00.dne-okta.com/api/v1/devices/guor71zcb4SzYhdQf1d7\",\"hints\":{\"allow\":[\"GET\",\"DELETE\"]}}},\"_embedded\":{\"originatedFrom\":[{\"id\":\"autnkw1sgntSDQThR1d7\",\"name\":\"Okta Verify\",\"key\":\"okta_verify\"}]}}"
    headers:
      Accept-Ch:
      - Sec-CH-UA-Platform-Version
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 1.08199625s
[...]
