---
version: 2
interactions:
- id: 0
  request:
    host: classic-00.dne-okta.com
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://classic-00.dne-okta.com/api/v1/devices/abcdefghi0123456789
    method: GET
  response:
    body: "{\"id\":\"abcdefghi0123456789\",\"status\":\"ACTIVE\",\"created\":\"2025-10-24T06:17:14.000Z\",\"lastUpdated\":\"2025-10-24T06:17:14.000Z\",\"profile\":{\"displayName\":\"Personal Phone\",\"platform\":\"ANDROID\",\"manufacturer\":\"samsung\",\"model\":\"SM-S921B\",\"osVersion\":\"16:2025-09-01\",\"registered\":true,\"secureHardwarePresent\":true,\"diskEncryptionType\":\"USER\"},\"resourceType\":\"UDDevice\",\"resourceDisplayName\":{\"value\":\"Personal Phone\",\"sensitive\":false},\"resourceId\":\"abcdefghi0123456789\",\"resourceAlternateId\":null,\"_links\":{\"suspend\":{\"href\":\"https://classic-00.dne-okta.com/api/v1/devices/abcdefghi0123456789/lifecycle/suspend\",\"hints\":{\"allow\":[\"POST\"]}},\"self\":{\"href\":\"https://classic-00.dne-okta.com/api/v1/devices/abcdefghi0123456789\",\"hints\":{\"allow\":[\"GET\",\"PATCH\",\"PUT\"]}},\"users\":{\"href\":\"https://classic-00.dne-okta.com/api/v1/devices/abcdefghi0123456789/users\",\"hints\":{\"allow\":[\"GET\"]}},\"deactivate\":{\"href\":\"https://classic-00.dne-okta.com/api/v1/devices/abcdefghi0123456789/lifecycle/deactivate\",\"hints\":{\"allow\":[\"POST\"]}}},\"_embedded\":{\"originatedFrom\":[{\"id\":\"autnkw1sgntSDQThR1d7\",\"name\":\"Okta Verify\",\"key\":\"okta_verify\"}]}}"
    headers:
      Accept-Ch:
      - Sec-CH-UA-Platform-Version
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 1.146333834s
[...]
- id: 2
  request:
    host: classic-00.dne-okta.com
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://classic-00.dne-okta.com/api/v1/devices/abcdefghi0123456789/lifecycle/activate
    method: POST
  response:
    body: ""
    headers:
      Accept-Ch:
      - Sec-CH-UA-Platform-Version
    status: 204 No Content
    code: 204
    duration: 1.2306315s
[...]
- id: 6
  request:
    host: classic-00.dne-okta.com
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://classic-00.dne-okta.com/api/v1/devices/abcdefghi0123456789/lifecycle/deactivate
    method: POST
  response:
    body: ""
    headers:
      Accept-Ch:
      - Sec-CH-UA-Platform-Version
    status: 204 No Content
    code: 204
    duration: 1.368129958s
[...]
- id: 8
  request:
    host: classic-00.dne-okta.com
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://classic-00.dne-okta.com/api/v1/devices/abcdefghi0123456789
    method: GET
  response:
    body: "{\"id\":\"abcdefghi0123456789\",\"status\":\"DEACTIVATED\",\"created\":\"2025-10-24T06:17:14.000Z\",\"lastUpdated\":\"2025-10-24T14:55:12.000Z\",\"profile\":{\"displayName\":\"Personal Phone\",\"platform\":\"ANDROID\",\"manufacturer\":\"samsung\",\"model\":\"SM-S921B\",\"osVersion\":\"16:2025-09-01\",\"registered\":true,\"secureHardwarePresent\":true,\"diskEncryptionType\":\"USER\"},\"resourceType\":\"UDDevice\",\"resourceDisplayName\":{\"value\":\"Personal Phone\",\"sensitive\":false},\"resourceId\":\"abcdefghi0123456789\",\"resourceAlternateId\":null,\"_links\":{\"activate\":{\"href\":\"https://classic-00.dne-okta.com/api/v1/devices/abcdefghi0123456789/lifecycle/activate\",\"hints\":{\"allow\":[\"POST\"]}},\"self\":{\"href\":\"https://classic-00.dne-okta.com/api/v1/devices/abcdefghi0123456789\",\"hints\":{\"allow\":[\"GET\",\"DELETE\"]}}},\"_embedded\":{\"originatedFrom\":[{\"id\":\"autnkw1sgntSDQThR1d7\",\"name\":\"Okta Verify\",\"key\":\"okta_verify\"}]}}"
    headers:
      Accept-Ch:
      - Sec-CH-UA-Platform-Version
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 1.068026333s
[...]
