---
version: 1
interactions:
- request:
    body: |
      {"definitions":{"custom":{"id":"#custom","properties":{"customAttribute123":{"master":{"type":"PROFILE_MASTER"},"permissions":[{"action":"READ_ONLY","principal":"SELF"}],"required":false,"scope":"NONE","title":"terraform acceptance test","type":"string"}},"type":"object"}}}
    form: {}
    headers:
      Authorization:
      - SSWS REDACTED
      Content-Type:
      - application/json
    url: https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/meta/schemas/user/default
    method: POST
  response:
    body: '{"id":"https://tien-oie-tf-2022-09-21.oktapreview.com/meta/schemas/user/default","$schema":"http://json-schema.org/draft-04/schema#","name":"user","title":"User","description":"Okta
      user profile template with default permission settings","lastUpdated":"2023-01-11T20:36:12.000Z","created":"2022-09-21T17:21:14.000Z","definitions":{"custom":{"id":"#custom","type":"object","properties":{"customAttribute123":{"title":"terraform
      acceptance test","type":"string","mutability":"READ_WRITE","scope":"NONE","permissions":[{"principal":"SELF","action":"READ_ONLY"}]}},"required":[]},"base":{"id":"#base","type":"object","properties":{"login":{"title":"Username","type":"string","required":true,"mutability":"READ_WRITE","scope":"NONE","minLength":5,"maxLength":100,"permissions":[{"principal":"SELF","action":"READ_WRITE"}]},"firstName":{"title":"First
      name","type":"string","required":true,"mutability":"READ_WRITE","scope":"NONE","minLength":1,"maxLength":50,"permissions":[{"principal":"SELF","action":"READ_WRITE"}]},"lastName":{"title":"Last
      name","type":"string","required":true,"mutability":"READ_WRITE","scope":"NONE","minLength":1,"maxLength":50,"permissions":[{"principal":"SELF","action":"READ_WRITE"}]},"middleName":{"title":"Middle
      name","type":"string","mutability":"READ_WRITE","scope":"NONE","permissions":[{"principal":"SELF","action":"READ_ONLY"}]},"honorificPrefix":{"title":"Honorific
      prefix","type":"string","mutability":"READ_WRITE","scope":"NONE","permissions":[{"principal":"SELF","action":"READ_ONLY"}]},"honorificSuffix":{"title":"Honorific
      suffix","type":"string","mutability":"READ_WRITE","scope":"NONE","permissions":[{"principal":"SELF","action":"READ_ONLY"}]},"email":{"title":"Primary
      email","type":"string","required":true,"format":"email","mutability":"READ_WRITE","scope":"NONE","permissions":[{"principal":"SELF","action":"READ_WRITE"}]},"title":{"title":"Title","type":"string","mutability":"READ_WRITE","scope":"NONE","permissions":[{"principal":"SELF","action":"READ_ONLY"}]},"displayName":{"title":"Display
      name","type":"string","mutability":"READ_WRITE","scope":"NONE","permissions":[{"principal":"SELF","action":"READ_ONLY"}]},"nickName":{"title":"Nickname","type":"string","mutability":"READ_WRITE","scope":"NONE","permissions":[{"principal":"SELF","action":"READ_ONLY"}]},"profileUrl":{"title":"Profile
      Url","type":"string","format":"uri","mutability":"READ_WRITE","scope":"NONE","permissions":[{"principal":"SELF","action":"READ_ONLY"}]},"secondEmail":{"title":"Secondary
      email","type":"string","format":"email","mutability":"READ_WRITE","scope":"NONE","permissions":[{"principal":"SELF","action":"READ_WRITE"}]},"mobilePhone":{"title":"Mobile
      phone","type":"string","mutability":"READ_WRITE","scope":"NONE","maxLength":100,"permissions":[{"principal":"SELF","action":"READ_WRITE"}]},"primaryPhone":{"title":"Primary
      phone","type":"string","mutability":"READ_WRITE","scope":"NONE","maxLength":100,"permissions":[{"principal":"SELF","action":"HIDE"}]},"streetAddress":{"title":"Street
      address","type":"string","mutability":"READ_WRITE","scope":"NONE","permissions":[{"principal":"SELF","action":"HIDE"}]},"city":{"title":"City","type":"string","mutability":"READ_WRITE","scope":"NONE","permissions":[{"principal":"SELF","action":"HIDE"}]},"state":{"title":"State","type":"string","mutability":"READ_WRITE","scope":"NONE","permissions":[{"principal":"SELF","action":"HIDE"}]},"zipCode":{"title":"Zip
      code","type":"string","mutability":"READ_WRITE","scope":"NONE","permissions":[{"principal":"SELF","action":"HIDE"}]},"countryCode":{"title":"Country
      code","type":"string","format":"country-code","mutability":"READ_WRITE","scope":"NONE","permissions":[{"principal":"SELF","action":"HIDE"}]},"postalAddress":{"title":"Postal
      Address","type":"string","mutability":"READ_WRITE","scope":"NONE","permissions":[{"principal":"SELF","action":"HIDE"}]},"preferredLanguage":{"title":"Preferred
      language","type":"string","format":"language-code","mutability":"READ_WRITE","scope":"NONE","permissions":[{"principal":"SELF","action":"READ_ONLY"}]},"locale":{"title":"Locale","type":"string","format":"locale","mutability":"READ_WRITE","scope":"NONE","permissions":[{"principal":"SELF","action":"READ_ONLY"}]},"timezone":{"title":"Time
      zone","type":"string","format":"timezone","mutability":"READ_WRITE","scope":"NONE","permissions":[{"principal":"SELF","action":"READ_ONLY"}]},"userType":{"title":"User
      type","type":"string","mutability":"READ_WRITE","scope":"NONE","permissions":[{"principal":"SELF","action":"READ_ONLY"}]},"employeeNumber":{"title":"Employee
      number","type":"string","mutability":"READ_WRITE","scope":"NONE","permissions":[{"principal":"SELF","action":"READ_ONLY"}]},"costCenter":{"title":"Cost
      center","type":"string","mutability":"READ_WRITE","scope":"NONE","permissions":[{"principal":"SELF","action":"READ_ONLY"}]},"organization":{"title":"Organization","type":"string","mutability":"READ_WRITE","scope":"NONE","permissions":[{"principal":"SELF","action":"READ_ONLY"}]},"division":{"title":"Division","type":"string","mutability":"READ_WRITE","scope":"NONE","permissions":[{"principal":"SELF","action":"READ_ONLY"}]},"department":{"title":"Department","type":"string","mutability":"READ_WRITE","scope":"NONE","permissions":[{"principal":"SELF","action":"READ_ONLY"}]},"managerId":{"title":"ManagerId","type":"string","mutability":"READ_WRITE","scope":"NONE","permissions":[{"principal":"SELF","action":"READ_ONLY"}]},"manager":{"title":"Manager","type":"string","mutability":"READ_WRITE","scope":"NONE","permissions":[{"principal":"SELF","action":"READ_ONLY"}]}},"required":["login","firstName","lastName","email"]}},"type":"object","properties":{"profile":{"allOf":[{"$ref":"#/definitions/custom"},{"$ref":"#/definitions/base"}]}},"_links":{"self":{"rel":"self","href":"https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/meta/schemas/user/osc5jjkl30LP1EYa11d7","method":"GET"},"type":{"rel":"type","href":"https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/meta/types/user/oty5jjkl30LP1EYa11d7","method":"GET"}}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: |
      {"definitions":{"custom":{"id":"#custom","properties":{"number123":{"master":{"type":"PROFILE_MASTER"},"permissions":[{"action":"READ_ONLY","principal":"SELF"}],"required":false,"scope":"NONE","title":"terraform acceptance test","type":"number"}},"type":"object"}}}
    form: {}
    headers:
      Authorization:
      - SSWS REDACTED
      Content-Type:
      - application/json
    url: https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/meta/schemas/user/default
    method: POST
  response:
    body: '{"id":"https://tien-oie-tf-2022-09-21.oktapreview.com/meta[...]
[...]
- request:
    body: |
      {"definitions":{"custom":{"id":"#custom","properties":{"array123":{"items":{"type":"string"},"master":{"type":"PROFILE_MASTER"},"permissions":[{"action":"READ_ONLY","principal":"SELF"}],"required":false,"scope":"NONE","title":"terraform acceptance test","type":"array"}},"type":"object"}}}
    form: {}
    headers:
      Authorization:
      - SSWS REDACTED
      Content-Type:
      - application/json
    url: https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/meta/schemas/user/default
    method: POST
  response:
    body: '{"id":"https://tien-oie-tf-2022-09-21.okta[...]
[...]
- request:
    body: |
      {"credentials":{"password":{}},"profile":{"customAttribute123":"testing-custom-attribute","email":"testAcc-3611224878@example.com","firstName":"TestAcc","lastName":"Smith","login":"testAcc-3611224878@example.com","postalAddress":null}}
    form: {}
    headers:
      Authorization:
      - SSWS REDACTED
      Content-Type:
      - application/json
    url: https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/users
    method: POST
  response:
    body: '{"id":"00u6m9fx38cF9qHDX1d7","status":"PROVISIONED","created":"2023-01-11T20:36:12.000Z","activated":"2023-01-11T20:36:12.000Z","statusChanged":"2023-01-11T20:36:12.000Z","lastLogin":null,"lastUpdated":"2023-01-11T20:36:12.000Z","passwordChanged":null,"type":{"id":"oty5jjkl30LP1EYa11d7"},"profile":{"customAttribute123":"testing-custom-attribute","firstName":"TestAcc","lastName":"Smith","mobilePhone":null,"secondEmail":null,"login":"testAcc-3611224878@example.com","email":"testAcc-3611224878@example.com"},"credentials":{"provider":{"type":"OKTA","name":"OKTA"}},"_links":{"suspend":{"href":"https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/users/00u6m9fx38cF9qHDX1d7/lifecycle/suspend","method":"POST"},"schema":{"href":"https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/meta/schemas/user/osc5jjkl30LP1EYa11d7"},"resetPassword":{"href":"https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/users/00u6m9fx38cF9qHDX1d7/lifecycle/reset_password","method":"POST"},"reactivate":{"href":"https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/users/00u6m9fx38cF9qHDX1d7/lifecycle/reactivate","method":"POST"},"self":{"href":"https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/users/00u6m9fx38cF9qHDX1d7"},"resetFactors":{"href":"https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/users/00u6m9fx38cF9qHDX1d7/lifecycle/reset_factors","method":"POST"},"type":{"href":"https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/meta/types/user/oty5jjkl30LP1EYa11d7"},"deactivate":{"href":"https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/users/00u6m9fx38cF9qHDX1d7/lifecycle/deactivate","method":"POST"}}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/users/00u6m9fx38cF9qHDX1d7
    method: GET
  response:
    body: '{"id":"00u6m9fx38cF9qHDX1d7","status":"PROVISIONED","created":"2023-01-11T20:36:12.000Z","activated":"2023-01-11T20:36:12.000Z","statusChanged":"2023-01-11T20:36:12.000Z","lastLogin":null,"lastUpdated":"2023-01-11T20:36:12.000Z","passwordChanged":null,"type":{"id":"oty5jjkl30LP[...]
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/users/00u6m9fx38cF9qHDX1d7/roles
    method: GET
  response:
    body: '[]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
