---
version: 2
interactions:
    - id: 0
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/.well-known/okta-organization
        method: GET
      response:
        body: '{"id":"00o5qwjvg8hg7YpT81d7","cell":"op3","_links":{"organization":{"href":"https://oie-00.dne-okta.com"}},"pipeline":"idx","settings":{"analyticsCollectionEnabled":false,"bugReportingEnabled":true,"omEnabled":false,"pssoEnabled":false,"desktopMFAEnabled":false,"itpEnabled":true,"op4wEnabled":true}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 203.549375ms
    - id: 1
      request:
        host: oie-00.dne-okta.com
        body: |
            {"name":"testAcc_3256492482","siteKey":"random_key","secretKey":"random_key","type":"HCAPTCHA"}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://oie-00.dne-okta.com/api/v1/captchas
        method: POST
      response:
        body: '{"id":"capkwr5iyyZDDATJ21d7","name":"testAcc_3256492482","siteKey":"random_key","type":"HCAPTCHA","_links":{"self":{"href":"https://oie-00.dne-okta.com/api/v1/captchas/capkwr5iyyZDDATJ21d7","hints":{"allow":["GET","POST","PUT","DELETE"]}}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 235.435875ms
    - id: 2
      request:
        host: oie-00.dne-okta.com
        body: |
            {"captchaId":"capkwr5iyyZDDATJ21d7","enabledPages":["SSR"]}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://oie-00.dne-okta.com/api/v1/org/captcha
        method: PUT
      response:
        body: '{"enabledPages":["SSR"],"captchaId":"capkwr5iyyZDDATJ21d7","_links":{"captcha":{"href":"https://oie-00.dne-okta.com/api/v1/captchas/capkwr5iyyZDDATJ21d7","hints":{"allow":["GET","POST","PUT","DELETE"]}},"self":{"href":"https://oie-00.dne-okta.com/api/v1/org/captcha","hints":{"allow":["GET","PUT"]}}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 252.65375ms
    - id: 3
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/captchas/capkwr5iyyZDDATJ21d7
        method: GET
      response:
        body: '{"id":"capkwr5iyyZDDATJ21d7","name":"testAcc_3256492482","siteKey":"random_key","type":"HCAPTCHA","_links":{"self":{"href":"https://oie-00.dne-okta.com/api/v1/captchas/capkwr5iyyZDDATJ21d7","hints":{"allow":["GET","POST","PUT","DELETE"]}}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 216.455417ms
[...]
