---
version: 2
interactions:
    - id: 0
      request:
        host: classic-00.dne-okta.com
        body: |
            {"alias":"CustomisedServer","enabled":false,"host":"192.168.2.0","password":"testPwd","port":8086,"username":"test_user"}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://classic-00.dne-okta.com/api/v1/email-servers
        method: POST
      response:
        body: '{"alias":"CustomisedServer","host":"192.168.2.0","port":8086,"id":"cessb8waouW6O0ghW697","username":"test_user","enabled":false}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 1.277141375s
    - id: 1
      request:
        host: classic-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/email-servers/cessb8waouW6O0ghW697
        method: GET
      response:
        body: '{"alias":"CustomisedServer","host":"192.168.2.0","port":8086,"id":"cessb8waouW6O0ghW697","username":"test_user","enabled":false}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.263218208s
[...]
