---
version: 2
interactions:
    - id: 0
      request:
        host: classic-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/.well-known/okta-organization
        method: GET
      response:
        body: '{"id":"00otcysnp4eKySMxF697","cell":"ok14","_links":{"organization":{"href":"https://classic-00.dne-okta.com"}},"pipeline":"idx","settings":{"analyticsCollectionEnabled":true,"bugReportingEnabled":true,"omEnabled":false,"pssoEnabled":false,"desktopMFAEnabled":false,"itpEnabled":true}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.016224958s
    - id: 1
      request:
        host: classic-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/authenticators/0ktaV3rify1d
        method: GET
      response:
        body: '{"type":"app","id":"0ktaV3rify1d","key":"okta_verify","status":"ACTIVE","name":"Okta Verify","created":"2025-07-18T09:44:19.000Z","lastUpdated":"2025-07-23T06:39:47.000Z","settings":{"compliance":{"fips":"OPTIONAL"},"channelBinding":{"style":"NUMBER_CHALLENGE","required":"ALWAYS"},"userVerification":"PREFERRED","enrollmentSecurityLevel":"HIGH","userVerificationMethods":["BIOMETRICS"],"appInstanceId":""},"_links":{"self":{"href":"https://classic-00.dne-okta.com/api/v1/authenticators/0ktaV3rify1d","hints":{"allow":["GET","PUT"]}},"deactivate":{"href":"https://classic-00.dne-okta.com/api/v1/authenticators/0ktaV3rify1d/lifecycle/deactivate","hints":{"allow":["POST"]}},"methods":{"href":"https://classic-00.dne-okta.com/api/v1/authenticators/0ktaV3rify1d/methods","hints":{"allow":["GET"]}},"enroll":{"href":"https://classic-00.dne-okta.com/idp/authenticators","hints":{"allow":["POST"]}}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.018557167s
[...]
    - id: 6
      request:
        host: classic-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/authenticators/0ktaV3rify1d/lifecycle/deactivate
        method: POST
      response:
        body: '{"errorCode":"E0000148","errorSummary":"Cannot modify/disable this authenticator because it is enabled in one or more policies. To continue, disable the authenticator in these policies. Additionally, if disabling Okta Verify when Fastpass is active, the \"Device state\" must not be set to \"registered\" in app assurance policies.","errorLink":"E0000148","errorId":"oae_6kiGksWSc6TOGdfHXot5A","errorCauses":[{"errorSummary":"Authenticator Enrollment Policies: Default Policy"}]}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 403 Forbidden
        code: 403
        duration: 1.100811042s
