---
version: 2
interactions:
    - id: 0
      request:
        host: classic-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/.well-known/okta-organization
        method: GET
      response:
        body: '{"id":"00onkw1sbuAh3Q06I1d7","cell":"op3","_links":{"organization":{"href":"https://classic-00.dne-okta.com"}},"pipeline":"idx","settings":{"analyticsCollectionEnabled":false,"bugReportingEnabled":true,"omEnabled":false,"pssoEnabled":true,"desktopMFAEnabled":true,"itpEnabled":true}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.106734875s
    - id: 1
      request:
        host: classic-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/authenticators/0ktaV3rify1d
        method: GET
      response:
        body: '{"type":"app","id":"0ktaV3rify1d","key":"okta_verify","status":"ACTIVE","name":"Okta Verify","created":"2025-06-26T15:51:39.000Z","lastUpdated":"2025-12-23T11:19:41.000Z","settings":{"compliance":{"fips":"OPTIONAL"},"channelBinding":{"style":"NUMBER_CHALLENGE","required":"ALWAYS"},"userVerification":"PREFERRED","enrollmentSecurityLevel":"HIGH","userVerificationMethods":["BIOMETRICS"],"appInstanceId":""},"_links":{"self":{"href":"https://classic-00.dne-okta.com/api/v1/authenticators/0ktaV3rify1d","hints":{"allow":["GET","PUT"]}},"deactivate":{"href":"https://classic-00.dne-okta.com/api/v1/authenticators/0ktaV3rify1d/lifecycle/deactivate","hints":{"allow":["POST"]}},"methods":{"href":"https://classic-00.dne-okta.com/api/v1/authenticators/0ktaV3rify1d/methods","hints":{"allow":["GET"]}},"enroll":{"href":"https://classic-00.dne-okta.com/idp/authenticators","hints":{"allow":["POST"]}}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.180212917s
    - id: 2
      request:
        host: classic-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/authenticators/0ktaV3rify1d/methods
        method: GET
      response:
        body: '[{"type":"push","status":"ACTIVE","settings":{"algorithms":["ES256","RS256"],"keyProtection":"ANY","transactionTypes":["LOGIN"]},"_links":{"self":{"href":"https://classic-00.dne-okta.com/api/v1/authenticators/0ktaV3rify1d/methods/push","hints":{"allow":["GET","PUT"]}},"deactivate":{"href":"https://classic-00.dne-okta.com/api/v1/authenticators/0ktaV3rify1d/methods/push/lifecycle/deactivate","hints":{"allow":["POST"]}}}},{"type":"totp","status":"ACTIVE","settings":{"timeIntervalInSeconds":30,"encoding":"Base32","algorithm":"HMACSHA1","passCodeLength":6},"_links":{"self":{"href":"https://classic-00.dne-okta.com/api/v1/authenticators/0ktaV3rify1d/methods/totp","hints":{"allow":["GET","PUT"]}}}},{"type":"signed_nonce","status":"ACTIVE","settings":{"algorithms":["ES256","RS256"],"keyProtection":"ANY","showSignInWithOV":"NEVER"},"_links":{"self":{"href":"https://classic-00.dne-okta.com/api/v1/authenticators/0ktaV3rify1d/methods/signed_nonce","hints":{"allow":["GET","PUT"]}},"deactivate":{"href":"https://classic-00.dne-okta.com/api/v1/authenticators/0ktaV3rify1d/methods/signed_nonce/lifecycle/deactivate","hints":{"allow":["POST"]}}}}]'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.126383292s
[...]
    - id: 12
      request:
        host: classic-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/authenticators/0ktaV3rify1d/lifecycle/deactivate
        method: POST
      response:
        body: '{"errorCode":"E0000001","errorSummary":"Api validation failed: Authenticator","errorLink":"E0000001","errorId":"oae27ELL5lIRWyh8MCMmVhnjA","errorCauses":[{"errorSummary":"App Assurance Policies: Case:02502653, TF - AMichaels Test-34, tf-test, dhiwakar_example"},{"errorSummary":"This action can''t be completed because it would result in 0 phishing resistant authenticators and your org has at least one authentication policy rule that requires phishing resistant authenticators.\n To continue, either enable FIDO 2 (WebAuthn) or remove the phishing resistance constraint from the affected policies.\n Policy rules: tf auth test rule,xxx,TF - FastPass Test-4,Rule2-updatedTF,Case:02502653"}]}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 400 Bad Request
        code: 400
        duration: 1.235120208s
