---
version: 1
interactions:
- request:
    body: |
      {"profile":{"name":"testAcc_347013862","description":""}}
    form: {}
    headers:
      Authorization:
      - SSWS REDACTED
      Content-Type:
      - application/json
    url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/groups
    method: POST
  response:
    body: '{"id":"00g7l8bcjvxah08g41d7","created":"2023-04-06T19:16:22.000Z","lastUpdated":"2023-04-06T19:16:22.000Z","lastMembershipUpdated":"2023-04-06T19:16:22.000Z","objectClass":["okta:user_group"],"type":"OKTA_GROUP","profile":{"name":"testAcc_347013862","description":""},"_links":{"logo":[{"name":"medium","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-medium.1a5ebe44c4244fb796c235d86b47e3bb.png","type":"image/png"},{"name":"large","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-large.d9cfbd8a00a4feac1aa5612ba02e99c0.png","type":"image/png"}],"users":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/groups/00g7l8bcjvxah08g41d7/users"},"apps":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/groups/00g7l8bcjvxah08g41d7/apps"}}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/groups/00g7l8avj5SPwHsuu1d7
    method: GET
  response:
    body: '{"id":"00g7l8avj5SPwHsuu1d7","created":"2023-04-06T19:16:23.000Z","lastUpdated":"2023-04-06T19:16:23.000Z","lastMembershipUpdated":"2023-04-06T19:16:23.000Z","objectClass":["okta:user_group"],"type":"OKTA_GROUP","profile":{"name":"testAcc_347013862_2","description":""},"_links":{"logo":[{"name":"medium","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-medium.1a5ebe44c4244fb796c235d86b47e3bb.png","type":"image/png"},{"name":"large","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-large.d9cfbd8a00a4feac1aa5612ba02e99c0.png","type":"image/png"}],"users":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/groups/00g7l8avj5SPwHsuu1d7/users"},"apps":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/groups/00g7l8avj5SPwHsuu1d7/apps"}}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/groups/00g7l8bcjvxah08g41d7
    method: GET
  response:
    body: '{"id":"00g7l8bcjvxah08g41d7","created":"2023-04-06T19:16:22.000Z","lastUpdated":"2023-04-06T19:16:22.000Z","lastMembershipUpdated":"2023-04-06T19:16:22.000Z","objectClass":["okta:user_group"],"type":"OKTA_GROUP","profile":{"name":"testAcc_347013862","description":""},"_links":{"logo":[{"name":"medium","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-medium.1a5ebe44c4244fb796c235d86b47e3bb.png","type":"image/png"},{"name":"large","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-large.d9cfbd8a00a4feac1aa5612ba02e99c0.png","type":"image/png"}],"users":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/groups/00g7l8bcjvxah08g41d7/users"},"apps":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/groups/00g7l8bcjvxah08g41d7/apps"}}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/groups/00g7l89y75myZkGUB1d7
    method: GET
  response:
    body: '{"id":"00g7l89y75myZkGUB1d7","created":"2023-04-06T19:16:23.000Z","lastUpdated":"2023-04-06T19:16:23.000Z","lastMembershipUpdated":"2023-04-06T19:16:23.000Z","objectClass":["okta:user_group"],"type":"OKTA_GROUP","profile":{"name":"testAcc_347013862_1","description":""},"_links":{"logo":[{"name":"medium","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-medium.1a5ebe44c4244fb796c235d86b47e3bb.png","type":"image/png"},{"name":"large","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-large.d9cfbd8a00a4feac1aa5612ba02e99c0.png","type":"image/png"}],"users":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/groups/00g7l89y75myZkGUB1d7/users"},"apps":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/groups/00g7l89y75myZkGUB1d7/apps"}}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"credentials":{"password":{}},"profile":{"email":"testAcc-347013862@example.com","firstName":"TestAcc","lastName":"blah","login":"testAcc-347013862@example.com","postalAddress":null}}
    form: {}
    headers:
      Authorization:
      - SSWS REDACTED
      Content-Type:
      - application/json
    url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/users
    method: POST
  response:
    body: '{"id":"00u7l89v39sx7QeGi1d7","status":"PROVISIONED","created":"2023-04-06T19:16:23.000Z","activated":"2023-04-06T19:16:23.000Z","statusChanged":"2023-04-06T19:16:23.000Z","lastLogin":null,"lastUpdated":"2023-04-06T19:16:23.000Z","passwordChanged":null,"type":{"id":"oty5qwjvh0Vy1j8Kd1d7"},"profile":{"firstName":"TestAcc","lastName":"blah","mobilePhone":null,"secondEmail":null,"login":"testAcc-347013862@example.com","email":"testAcc-347013862@example.com"},"credentials":{"provider":{"type":"OKTA","name":"OKTA"}},"_links":{"suspend":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/users/00u7l89v39sx7QeGi1d7/lifecycle/suspend","method":"POST"},"schema":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/meta/schemas/user/osc5qwjvh0Vy1j8Kd1d7"},"resetPassword":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/users/00u7l89v39sx7QeGi1d7/lifecycle/reset_password","method":"POST"},"reactivate":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/users/00u7l89v39sx7QeGi1d7/lifecycle/reactivate","method":"POST"},"self":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/users/00u7l89v39sx7QeGi1d7"},"resetFactors":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/users/00u7l89v39sx7QeGi1d7/lifecycle/reset_factors","method":"POST"},"type":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/meta/types/user/oty5qwjvh0Vy1j8Kd1d7"},"deactivate":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/users/00u7l89v39sx7QeGi1d7/lifecycle/deactivate","method":"POST"}}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/users/00u7l8adapeAKyuXV1d7
    method: GET
  response:
    body: '{"id":"00u7l8adapeAKyuXV1d7","status":"PROVISIONED","created":"2023-04-06T19:16:23.000Z","activated":"2023-04-06T19:16:23.000Z","statusChanged":"2023-04-06T19:16:23.000Z","lastLogin":null,"lastUpdated":"2023-04-06T19:16:23.000Z","passwordChanged":null,"type":{"id":"oty5qwjvh0Vy1[...]
- request:
    body: |
      {"type":"APP_ADMIN"}
    form: {}
    headers:
      Authorization:
      - SSWS REDACTED
      Content-Type:
      - application/json
    url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/users/00u7l89v39sx7QeGi1d7/roles?disableNotifications=false
    method: POST
  response:
    body: '{"id":"IFIFAX2BIRGUSTQ","label":"Application Administrator","type":"APP_ADMIN","status":"ACTIVE","created":"2023-04-06T19:16:23.000Z","lastUpdated":"2023-04-06T19:16:23.000Z","assignmentType":"USER","_links":{"assignee":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/users/00u7l89v39sx7QeGi1d7"}}}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/users/00u7l8adapeAKyuXV1d7/roles
    method: GET
  response:
    body: '[]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/users/00u7l89v39sx7QeGi1d7
    method: GET
  response:
    body: '{"id":"00u7l89v39sx7QeGi1d7","status":"PROVISIONED","created":"2023-04-06T19:16:23.000Z","activated":"2023-04-06T19:16:23.000Z","statusChanged":"2023-04-06T19:16:23.000Z","lastLogin":null,"lastUpdated":"2023-04-06T19:16:23.000Z","passwordChanged":null,"type":{"id":"oty5qwjvh0Vy1[...]
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/users/00u7l89v39sx7QeGi1d7/roles
    method: GET
  response:
    body: '[{"id":"IFIFAX2BIRGUSTQ","label":"Application Administrator","type":"APP_ADMIN","status":"ACTIVE","created":"2023-04-06T19:16:23.000Z","lastUpdated":"2023-04-06T19:16:23.000Z","assignmentType":"USER","_links":{"assignee":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/users/00u7l89v39sx7QeGi1d7"}}},{"id":"KVJUKUS7IFCE2SKO","label":"User Administrator","type":"USER_ADMIN","status":"ACTIVE","created":"2023-04-06T19:16:23.000Z","lastUpdated":"2023-04-06T19:16:23.000Z","assignmentType":"USER","_links":{"assignee":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/users/00u7l89v39sx7QeGi1d7"}}}]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"accessibility":{"selfService":false},"credentials":{"userNameTemplate":{"template":"${source.login}","type":"BUILT_IN"}},"label":"testAcc_347013862","name":"amazon_aws","settings":{"app":{"appFilter":"okta","awsEnvironmentType":"aws.amazon","groupFilter":"aws_(?{{accountid}}\\d+)_(?{{role}}[a-zA-Z0-9+=,.@\\-_]+)","joinAllRoles":false,"loginURL":"https://console.aws.amazon.com/ec2/home","roleValuePattern":"arn:aws:iam::${accountid}:saml-provider/OKTA,arn:aws:iam::${accountid}:role/${role}","sessionDuration":3600,"useGroupMapping":false},"implicitAssignment":false,"notes":{"admin":null,"enduser":null},"signOn":{"allowMultipleAcsEndpoints":false,"assertionSigned":false,"attributeStatements":[],"audienceOverride":"","defaultRelayState":"","destinationOverride":"","honorForceAuthn":false,"recipientOverride":"","responseSigned":false,"samlSignedRequestEnabled":false,"slo":{"enabled":false},"ssoAcsUrlOverride":""}},"signOnMode":"SAML_2_0","visibility":{"autoSubmitToolbar":false,"hide":{"iOS":false,"web":false}}}
    form: {}
    headers:
      Authorization:
      - SSWS REDACTED
      Content-Type:
      - application/json
    url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/apps?activate=true
    method: POST
  response:
    body: '{"id":"0oa7l8asnxc7jHRFO1d7","name":"amazon_aws","label":"testAcc_347013862","status":"ACTIVE","lastUpdated":"2023-04-06T19:16:25.000Z","created":"2023-04-06T19:16:24.000Z","accessibility":{"selfService":false,"errorRedirectUrl":null,"loginRedirectUrl":null},"visibility":{"autoLaunch":false,"autoSubmitToolbar":false,"hide":{"iOS":false,"web":false},"appLinks":{"login":true}},"features":[],"signOnMode":"SAML_2_0","credentials":{"userNameTemplate":{"template":"${source.login}","type":"BUILT_IN"},"signing":{"kid":"zN1YL8nNCCL1nTs-IB1vu9xFT5RkykQ1U9nACKAwqlA"}},"settings":{"app":{"appFilter":"okta","groupFilter":"aws_(?{{accountid}}\\d+)_(?{{role}}[a-zA-Z0-9+=,.@\\-_]+)","secretKey":null,"webSSOAllowedClient":null,"useGroupMapping":false,"joinAllRoles":false,"identityProviderArn":null,"overrideAcsURL":null,"sessionDuration":3600,"roleValuePattern":"arn:aws:iam::${accountid}:saml-provider/OKTA,arn:aws:iam::${accountid}:role/${role}","awsEnvironmentType":"aws.amazon","accessKey":null,"loginURL":"https://console.aws.amazon.com/ec2/home","secretKeyEnc":null},"notifications":{"vpn":{"network":{"connection":"DISABLED"},"message":null,"helpUrl":null}},"notes":{"admin":null,"enduser":null},"signOn":{"defaultRelayState":null,"ssoAcsUrlOverride":null,"audienceOverride":null,"recipientOverride":null,"destinationOverride":null,"attributeStatements":[]}},"_links":{"help":{"href":"https://mm-oie-2022-10-07-max-admin.oktapreview.com/app/amazon_aws/0oa7l8asnxc7jHRFO1d7/setup/help/SAML_2_0/external-doc","type":"text/html"},"metadata":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/apps/0oa7l8asnxc7jHRFO1d7/sso/saml/metadata","type":"application/xml"},"uploadLogo":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/apps/0oa7l8asnxc7jHRFO1d7/logo","hints":{"allow":["POST"]}},"appLinks":[{"name":"login","href":"https://mm-oie-2022-10-07-max.oktapreview.com/home/amazon_aws/0oa7l8asnxc7jHRFO1d7/272","type":"text/html"}],"profileEnrollment":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/policies/rst5qwjvlxUHivL8a1d7"},"policies":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/apps/0oa7l8asnxc7jHRFO1d7/policies","hints":{"allow":["PUT"]}},"groups":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/apps/0oa7l8asnxc7jHRFO1d7/groups"},"logo":[{"name":"medium","href":"https://op3static.oktacdn.com/fs/bcg/4/gfscl4599TSlcIIOb1d4","type":"image/png"}],"accessPolicy":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/policies/rst5qwjvlvS3G1WOU1d7"},"users":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/apps/0oa7l8asnxc7jHRFO1d7/users"},"deactivate":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/apps/0oa7l8asnxc7jHRFO1d7/lifecycle/deactivate"}}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/apps/0oa7l8asnxc7jHRFO1d7/users?limit=200
    method: GET
  response:
    body: '[]'
    headers:
      Content-Type:
      - application/json
      Link:
      - <https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/apps/0oa7l8asnxc7jHRFO1d7/users?limit=200>; rel="self"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {}
    form: {}
    headers:
      Authorization:
      - SSWS REDACTED
      Content-Type:
      - application/json
    url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/apps/0oa7l8asnxc7jHRFO1d7/groups/00g7l8avj5SPwHsuu1d7
    method: PUT
  response:
    body: '{"id":"00g7l8avj5SPwHsuu1d7","lastUpdated":"2023-04-06T19:16:25.000Z","priority":0,"profile":{},"_links":{"app":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/apps/0oa7l8asnxc7jHRFO1d7"},"self":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/apps/0oa7l8asnxc7jHRFO1d7/groups/00g7l8avj5SPwHsuu1d7"},"group":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/groups/00g7l8avj5SPwHsuu1d7"}}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {}
    form: {}
    headers:
      Authorization:
      - SSWS REDACTED
      Content-Type:
      - application/json
    url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/apps/0oa7l8asnxc7jHRFO1d7/groups/00g7l89y75myZkGUB1d7
    method: PUT
  response:
    body: '{"id":"00g7l89y75myZkGUB1d7","lastUpdated":"2023-04-06T19:16:25.000Z","priority":1,"profile":{},"_links":{"app":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/apps/0oa7l8asnxc7jHRFO1d7"},"self":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/apps/0oa7l8asnxc7jHRFO1d7/groups/00g7l89y75myZkGUB1d7"},"group":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/groups/00g7l89y75myZkGUB1d7"}}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {}
    form: {}
    headers:
      Authorization:
      - SSWS REDACTED
      Content-Type:
      - application/json
    url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/apps/0oa7l8asnxc7jHRFO1d7/groups/00g7l8bcjvxah08g41d7
    method: PUT
  response:
    body: '{"id":"00g7l8bcjvxah08g41d7","lastUpdated":"2023-04-06T19:16:25.000Z","priority":2,"profile":{},"_links":{"app":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/apps/0oa7l8asnxc7jHRFO1d7"},"self":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/apps/0oa7l8asnxc7jHRFO1d7/groups/00g7l8bcjvxah08g41d7"},"group":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/groups/00g7l8bcjvxah08g41d7"}}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"credentials":{"password":{},"userName":"testAcc-1-347013862@example.com"},"id":"00u7l8adapeAKyuXV1d7"}
    form: {}
    headers:
      Authorization:
      - SSWS REDACTED
      Content-Type:
      - application/json
    url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/apps/0oa7l8asnxc7jHRFO1d7/users
    method: POST
  response:
    body: '{"id":"00u7l8adapeAKyuXV1d7","externalId":null,"created":"2023-04-06T19:16:26.000Z","lastUpdated":"2023-04-06T19:16:26.000Z","scope":"USER","status":"ACTIVE","statusChanged":"2023-04-06T19:16:26.000Z","passwordChanged":null,"syncState":"DISABLED","credentials":{"userName":"testAcc-1-347013862@example.com"},"profile":{},"_links":{"app":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/apps/0oa7l8asnxc7jHRFO1d7"},"user":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/users/00u7l8adapeAKyuXV1d7"}}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/apps/0oa7l8asnxc7jHRFO1d7/credentials/keys/generate?validityYears=3
    method: POST
  response:
    body: '{"kty":"RSA","created":"2023-04-06T19:16:27.000Z","lastUpdated":"2023-04-06T19:16:27.000Z","expiresAt":"2026-04-06T19:16:26.000Z","kid":"mBNjCnlujFs_JQT1250byZUkg_XSUJC-qMplibQpNWQ","use":"sig","x5c":["MIIDujCCAqKgAwIBAgIGAYdX/64DMA0GCSqGSIb3DQEBCwUAMIGdMQswCQYDVQQGEwJVUzETMBEGA1UECAwKQ2FsaWZvcm5pYTEWMBQGA1UEBwwNU2FuIEZyYW5jaXNjbzENMAsGA1UECgwET2t0YTEUMBIGA1UECwwLU1NPUHJvdmlkZXIxHjAcBgNVBAMMFW1tLW9pZS0yMDIyLTEwLTA3LW1heDEcMBoGCSqGSIb3DQEJARYNaW5mb0Bva3RhLmNvbTAeFw0yMzA0MDYxOTE1MjZaFw0yNjA0MDYxOTE2MjZaMIGdMQswCQYDVQQGEwJVUzETMBEGA1UECAwKQ2FsaWZvcm5pYTEWMBQGA1UEBwwNU2FuIEZyYW5jaXNjbzENMAsGA1UECgwET2t0YTEUMBIGA1UECwwLU1NPUHJvdmlkZXIxHjAcBgNVBAMMFW1tLW9pZS0yMDIyLTEwLTA3LW1heDEcMBoGCSqGSIb3DQEJAR[...]
[...]
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/policies?type=ACCESS_POLICY
    method: GET
  response:
    body: '[{"id":"rst5qwjvkl70Eb6xw1d7","status":"ACTIVE","name":"Okta Admin Console","priority":1,"system":false,"conditions":null,"created":"2022-10-07T23:17:01.000Z","lastUpdated":"2022-10-07T23:17:01.000Z","_links":{"self":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/policies/rst5qwjvkl70Eb6xw1d7","hints":{"allow":["GET","PUT","DELETE"]}},"rules":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/policies/rst5qwjvkl70Eb6xw1d7/rules","hints":{"allow":["GET","POST"]}},"deactivate":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/policies/rst5qwjvkl70Eb6xw1d7/lifecycle/deactivate","hints":{"allow":["POST"]}}},"type":"ACCESS_POLICY"},{"id":"rst5qwjvlvS3G1WOU1d7","status":"ACTIVE","name":"Any two factors","description":"Require two factors to access.","priority":1,"system":true,"conditions":null,"created":"2022-10-07T2[...]
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/apps/0oa7l8asnxc7jHRFO1d7/policies/rst5qwjvlvS3G1WOU1d7
    method: PUT
  response:
    body: ""
    headers:
    status: 204 No Content
    code: 204
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/apps/0oa7l8asnxc7jHRFO1d7
    method: GET
  response:
    body: '{"id":"0oa7l8asnxc7jHRFO1d7","name":"amazon_aws","label":"testAcc_347013862","status":"ACTIVE","lastUpdated":"2023-04-06T19:16:27.000Z","created":"2023-04-06T19:16:24.000Z","accessibility":{"selfService":false,"errorRedirectUrl":null,"loginRedirectUrl":null},"visibility":{"autoLa[...]
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/apps/0oa7l8asnxc7jHRFO1d7/sso/saml/metadata?kid=mBNjCnlujFs_JQT1250byZUkg_XSUJC-qMplibQpNWQ
    method: GET
  response:
    body: |-
      <?xml version="1.0" encoding="UTF-8"?><md:EntityDescriptor entityID="http://www.okta.com/exk7l8asnwXtV4ihE1d7" xmlns:md="urn:oasis:names:tc:SAML:2.0:metadata"><md:IDPSSODescriptor WantAuthnRequestsSigned="false" protocolSupportEnumeration="urn:oasis:names:tc:SAML:2.0:protocol"><md:KeyDescriptor use="signing"><ds:KeyInfo xmlns:ds="http://www.w3.org/2000/09/xmldsig#"><ds:X509Data><ds:X509Certificate>MIIDujCCAqKgAwIBAgIGAYdX/64DMA0GCSqGSIb3DQEBCwUAMIGdMQswCQYDVQQGEwJVUzETMBEG
      A1UECAwKQ2FsaWZvcm5pYTEWMBQGA1UEBwwNU2FuIEZyYW5jaXNjbzENMAsGA1UECgwET2t0YTEU
      MBIGA1UECwwLU1NPUHJvdmlkZXIxHjAcBgNVBAMMFW1tLW9pZS0yMDIyLTEwLTA3LW1heDEcMBoG
      CSqGSIb3DQEJARYNaW5mb0Bva3RhLmNvbTAeFw0yMzA0MDYxOTE1MjZaFw0yNjA0MDYxOTE2MjZa
      MIGdMQswCQYDVQQGEwJVUzETMBEGA1UECAwKQ2FsaWZvcm5pYTEWMBQGA1UEBwwNU2FuIEZyYW5j
      aXNjbzENMAsGA1UECgwET2t0YTEUMBIGA1UECwwLU1NPUHJvdmlkZXIxHjAcBgNVBAMMFW1tLW9p
      ZS0yMDIyLTEwLTA3LW1heDEcMBoGCSqGSIb3DQEJARYNaW5mb0Bva3RhLmNvbTCCASIwDQYJKoZI
      hvcNAQEBBQADggEPADCCAQoCggEBAKFpJOzWTynrmZSkQHlXaN/fLsoJGnQvDrUM1U3jNtlqwD5A
      +H3G/5HVPZam9nOAQR4KfyUSajKCSkC9AQyI+GIeN42Osi6d7462RpBIZ/wmJnykIWcNn4MD+Tiz
      J6+2VWYoHltUYriAQlHWnZN+l5gyLZnMY3zQ5+c7uZEPxTH+wmHTq6a9nUceVAV2Kqut4JuMOd+h
      a7KgBnUdr2Q77h35TW9+APd9l/G7138UlqZm0MTai08Y/froetPV2BxKaHdQfMY/faTCZfYSdSW9
      Kzkc5WGn+ptODxeI6tFE55MHt/5ij2L8LuTUSdGgIW/7KVmWtguefQsdQLH/TAd5GccCAwEAATAN
      BgkqhkiG9w0BAQsFAAOCAQEAjfoNrMorMUYV741NmWpv6nhByXi6QyDxd7RD409lhINcJdPASkAL
      g307P/sLw+VVkKsni/OEqG7gZJMblU/vgWmDSo9TLq8ElcN5tJWB6vcrpGwwsO60/8a0Mm8cRSS6
      GBw4JbWiVcwcKeklJaI8hAt7HtZeJHR9y+m8nKxDfg7AuoN08GUSlCwN/N8Qa436q+CyNOllz0BD
      C8DM+FL7EJu2WvTaJISbTGIKuxkcfNVq5FekEBmaOZtGyY3jZGct28c9GR6VLh6OcTB8lCXvFC+i
      t8icZxl9gG8V7Kiv0/YodjF4qSvh+m+Porn7+VP+sfzj7v22Rfc4La8y/yEtiQ==</ds:X509Certificate></ds:X509Data></ds:KeyInfo></md:KeyDescriptor><md:NameIDFormat>urn:oasis:names:tc:SAML:1.1:nameid-format:emailAddress</md:NameIDFormat><md:NameIDFormat>urn:oasis:names:tc:SAML:2.0:nameid-format:unspecified</md:NameIDFormat><md:SingleSignOnService Binding="urn:oasis:names:tc:SAML:2.0:bindings:HTTP-POST" Location="https://mm-oie-2022-10-07-max.oktapreview.com/app/amazon_aws/exk7l8asnwXtV4ihE1d7/sso/saml"/><md:SingleSignOnService Binding="urn:oasis:names:tc:SAML:2.0:bindings:HTTP-Redirect" Location="https://mm-oie-2022-10-07-max.oktapreview.com/app/amazon_aws/exk7l8asnwXtV4ihE1d7/sso/saml"/></md:IDPSSODescriptor></md:EntityDescriptor>
    headers:
      Content-Type:
      - application/xml;charset=ISO-8859-1
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/apps/0oa7l8asnxc7jHRFO1d7/credentials/keys
    method: GET
  response:
    body: '[{"kty":"RSA","created":"2023-04-06T19:16:27.000Z","lastUpdated":"2023-04-06T19:16:27.000Z","expiresAt":"2026-04-06T19:16:26.000Z","kid":"mBNjCnlujFs_JQT1250byZUkg_XSUJC-qMplibQpNWQ","use":"sig","x5c":["MIIDujCCAqKgAwIBAgIGAYdX/64DMA0GCSqGSIb3DQEBCwUAMIGdMQswCQYD[...]
[...]
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/apps/0oa7l8asnxc7jHRFO1d7/groups?limit=200
    method: GET
  response:
    body: '[{"id":"00g7l8avj5SPwHsuu1d7","lastUpdated":"2023-04-06T19:16:25.000Z","priority":0,"profile":{},"_links":{"app":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/apps/0oa7l8asnxc7jHRFO1d7"},"self":{"href":"https://mm-oie-2022-10-07-max.oktapreview.co[...]
[...]
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/groups?limit=1&q=Everyone
    method: GET
  response:
    body: '[{"id":"00g5qwjvgrD3WR89l1d7","created":"2022-10-07T23:16:57.000Z","lastUpdated":"2022-10-07T23:16:57.000Z","lastMembershipUpdated":"2023-04-06T19:16:23.000Z","objectClass":["okta:user_group"],"type":"BUILT_IN","profile":{"name":"Everyone","description":"All users in your organization"},"_links":{"logo":[{"name":"medium","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-medium.1a5ebe44c4244fb796c235d86b47e3bb.png","type":"image/png"},{"name":"large","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-large.d9cfbd8a00a4feac1aa5612ba02e99c0.png","type":"image/png"}],"users":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/groups/00g5qwjvgrD3WR89l1d7/users"},"apps":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/groups/00g5qwjvgrD3WR89l1d7/apps"}}}]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/apps/0oa7l8asnxc7jHRFO1d7/lifecycle/activate
    method: POST
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: |
      {}
    form: {}
    headers:
      Authorization:
      - SSWS REDACTED
      Content-Type:
      - application/json
    url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/apps/0oa7l8asnxc7jHRFO1d7/groups/00g5qwjvgrD3WR89l1d7
    method: PUT
  response:
    body: '{"id":"00g5qwjvgrD3WR89l1d7","lastUpdated":"2023-04-06T19:17:04.000Z","priority":3,"profile":{},"_links":{"app":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/apps/0oa7l8asnxc7jHRFO1d7"},"self":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/apps/0oa7l8asnxc7jHRFO1d7/groups/00g5qwjvgrD3WR89l1d7"},"group":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/groups/00g5qwjvgrD3WR89l1d7"}}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/apps/0oa7l8asnxc7jHRFO1d7/users/00u7l89v39sx7QeGi1d7
    method: DELETE
  response:
    body: ""
    headers:
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/apps/0oa7l8asnxc7jHRFO1d7/lifecycle/deactivate
    method: POST
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
