---
version: 2
interactions:
    - id: 0
      request:
        host: oie-00.dne-okta.com
        body: |
            {"credentials":{"password":{}},"profile":{"email":"testAcc-1865354041@example.com","firstName":"TestAcc","lastName":"Smith","login":"testAcc-1865354041@example.com","postalAddress":null}}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://oie-00.dne-okta.com/api/v1/users
        method: POST
      response:
        body: '{"id":"00ukwr8iwz9tD7ZV11d7","status":"PROVISIONED","created":"2025-03-13T23:44:04.000Z","activated":"2025-03-13T23:44:04.000Z","statusChanged":"2025-03-13T23:44:04.000Z","lastLogin":null,"lastUpdated":"2025-03-13T23:44:04.000Z","passwordChanged":null,"type":{"id":"oty5qwjvh0Vy1j8Kd1d7"},"profile":{"firstName":"TestAcc","lastName":"Smith","mobilePhone":null,"secondEmail":null,"login":"testAcc-1865354041@example.com","email":"testAcc-1865354041@example.com"},"credentials":{"provider":{"type":"OKTA","name":"OKTA"}},"_links":{"suspend":{"href":"https://oie-00.dne-okta.com/api/v1/users/00ukwr8iwz9tD7ZV11d7/lifecycle/suspend","method":"POST"},"schema":{"href":"https://oie-00.dne-okta.com/api/v1/meta/schemas/user/osc5qwjvh0Vy1j8Kd1d7"},"resetPassword":{"href":"https://oie-00.dne-okta.com/api/v1/users/00ukwr8iwz9tD7ZV11d7/lifecycle/reset_password","method":"POST"},"reactivate":{"href":"https://oie-00.dne-okta.com/api/v1/users/00ukwr8iwz9tD7ZV11d7/lifecycle/reactivate","method":"POST"},"self":{"href":"https://oie-00.dne-okta.com/api/v1/users/00ukwr8iwz9tD7ZV11d7"},"type":{"href":"https://oie-00.dne-okta.com/api/v1/meta/types/user/oty5qwjvh0Vy1j8Kd1d7"},"deactivate":{"href":"https://oie-00.dne-okta.com/api/v1/users/00ukwr8iwz9tD7ZV11d7/lifecycle/deactivate","method":"POST"}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 411.540791ms
    - id: 1
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/users/00ukwr8iwz9tD7ZV11d7
        method: GET
      response:
        body: '{"id":"00ukwr8iwz9tD7ZV11d7","status":"PROVISIONED","created":"2025-03-13T23:44:04.000Z","activated":"2025-03-13T23:44:04.000Z","statusChanged":"2025-03-13T23:44:04.000Z","lastLogin":null,"lastUpdated":"[...]
    - id: 2
      request:
        host: oie-00.dne-okta.com
        body: |
            {"type":"APP_ADMIN"}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://oie-00.dne-okta.com/api/v1/users/00ukwr8iwz9tD7ZV11d7/roles?disableNotifications=false
        method: POST
      response:
        body: '{"id":"IFIFAX2BIRGUSTQ","label":"Application Administrator","type":"APP_ADMIN","status":"ACTIVE","created":"2025-03-13T23:44:04.000Z","lastUpdated":"2025-03-13T23:44:04.000Z","assignmentType":"USER","_links":{"assignee":{"href":"https://oie-00.dne-okta.com/api/v1/users/00ukwr8iwz9tD7ZV11d7"}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 552.701416ms
[...]
    - id: 5
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/users/00ukwr8iwz9tD7ZV11d7/roles
        method: GET
      response:
        body: '[{"id":"IFIFAX2BIRGUSTQ","label":"Application Administrator","type":"APP_ADMIN","status":"ACTIVE","created":"2025-03-13T23:44:05.000Z","lastUpdated":"2025-03-13T23:44:05.000Z","assignmentType":"USER","_links":{"assignee":{"href":"https://oie-00.dne-okta.com/api/v1/users/00ukwr8iwz9tD7ZV11d7"}}},{"id":"KVJUKUS7IFCE2SKO","label":"Group Administrator","type":"USER_ADMIN","status":"ACTIVE","created":"2025-03-13T23:44:05.000Z","lastUpdated":"2025-03-13T23:44:05.000Z","assignmentType":"USER","_links":{"assignee":{"href":"https://oie-00.dne-okta.com/api/v1/users/00ukwr8iwz9tD7ZV11d7"}}}]'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 210.202166ms
[...]
    - id: 15
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/users/00ukwr8iwz9tD7ZV11d7/roles/KVJUKUS7IFCE2SKO
        method: DELETE
      response:
        body: ""
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
        status: 204 No Content
        code: 204
        duration: 265.188625ms
    - id: 16
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/users/00ukwr8iwz9tD7ZV11d7/roles/JBCUYUC7IRCVGS27IFCE2SKO
        method: DELETE
      response:
        body: ""
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
        status: 204 No Content
        code: 204
        duration: 268.955042ms
[...]
    - id: 20
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/users/00ukwr8iwz9tD7ZV11d7/roles/IFIFAX2BIRGUSTQ
        method: DELETE
      response:
        body: ""
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
        status: 204 No Content
        code: 204
        duration: 356.977458ms
[...]
