---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/brands
    method: GET
  response:
    body: '[{"id":"bnd5jjkl2p4D0LQh01d7","removePoweredByOkta":false,"customPrivacyPolicyUrl":null,"_links":{"themes":{"href":"https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/brands/bnd5jjkl2p4D0LQh01d7/themes","hints":{"allow":["GET"]}},"self":{"href":"https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/brands/bnd5jjkl2p4D0LQh01d7","hints":{"allow":["GET","PUT"]}}}}]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
