---
version: 2
interactions:
    - id: 0
      request:
        host: oie-00.dne-okta.com
        body: |
            {"diskEncryptionType":{"include":["FULL","USER"]},"jailbreak":false,"name":"testAcc-525995444","osVersion":{"minimum":"12"},"platform":"ANDROID","screenLockType":{"include":["BIOMETRIC"]},"secureHardwarePresent":true}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://oie-00.dne-okta.com/api/v1/device-assurances
        method: POST
      response:
        body: '{"name":"testAcc-525995444","platform":"ANDROID","id":"daekwr6fj5aTok2pL1d7","osVersion":{"minimum":"12"},"secureHardwarePresent":true,"jailbreak":false,"diskEncryptionType":{"include":["USER","FULL"]},"screenLockType":{"include":["BIOMETRIC"]},"displayRemediationMode":"HIDE","createdDate":"2025-03-13T23:35:32.000Z","createdBy":"00u5qwjvk7u6E1DFG1d7","lastUpdate":"2025-03-13T23:35:32.000Z","lastUpdatedBy":"00u5qwjvk7u6E1DFG1d7","resourceId":"daekwr6fj5aTok2pL1d7","resourceDisplayName":{"value":"testAcc-525995444","sensitive":false},"resourceType":"DeviceAssurancePolicyEntity","_links":{"self":{"href":"https://oie-00.dne-okta.com/api/v1/device-assurances/daekwr6fj5aTok2pL1d7","hints":{"allow":["GET","PUT","DELETE"]}}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 221.425417ms
    - id: 1
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/device-assurances/daekwr6fj5aTok2pL1d7
        method: GET
      response:
        body: '{"name":"testAcc-525995444","platform":"ANDROID","id":"daekwr6fj5aTok2pL1d7","osVersion":{"minimum":"12"},"secureHardwarePresent":true,"jailbreak":false,"diskEncryptionType":{"include":["USER","FULL"]},"screenLockType":{"include":["BIOMETRIC"]},"displayRemediationMode":"HIDE","createdDate":"2025-03-13T23:35:32.000Z","createdBy":"00u5qwjvk7u6E1DFG1d7","lastUpdate":"2025-03-13T23:35:32.000Z","lastUpdatedBy":"00u5qwjvk7u6E1DFG1d7","resourceId":"daekwr6fj5aTok2pL1d7","resourceDisplayName":{"value":"testAcc-525995444","sensitive":false},"resourceType":"DeviceAssurancePolicyEntity","_links":{"self":{"href":"https://oie-00.dne-okta.com/api/v1/device-assurances/daekwr6fj5aTok2pL1d7","hints":{"allow":["GET","PUT","DELETE"]}}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 209.221542ms
[...]
