---
version: 2
interactions:
    - id: 0
      request:
        host: oie-00.dne-okta.com
        body: |
            {"diskEncryptionType":{"include":["FULL","USER"]},"jailbreak":false,"name":"testAcc-525995444","osVersion":{"minimum":"12"},"platform":"ANDROID","screenLockType":{"include":["BIOMETRIC"]},"secureHardwarePresent":true}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://oie-00.dne-okta.com/api/v1/device-assurances
        method: POST
      response:
        body: '{"name":"testAcc-525995444","platform":"ANDROID","id":"daexrjllh01h0AORE1d7","osVersion":{"minimum":"12"},"secureHardwarePresent":true,"jailbreak":false,"diskEncryptionType":{"include":["USER","FULL"]},"screenLockType":{"include":["BIOMETRIC"]},"displayRemediationMode":"HIDE","createdDate":"2026-04-20T03:30:46.000Z","createdBy":"00u5m6b6h6YuejsVW1d7","lastUpdate":"2026-04-20T03:30:46.000Z","lastUpdatedBy":"00u5m6b6h6YuejsVW1d7","resourceType":"DeviceAssurancePolicyEntity","resourceDisplayName":{"value":"testAcc-525995444","sensitive":false},"resourceId":"daexrjllh01h0AORE1d7","_links":{"self":{"href":"https://oie-00.dne-okta.com/api/v1/device-assurances/daexrjllh01h0AORE1d7","hints":{"allow":["GET","PUT","DELETE"]}}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.001999292s
    - id: 1
      request:
        host: oie-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/device-assurances/daexrjllh01h0AORE1d7
        method: GET
      response:
        body: '{"name":"testAcc-525995444","platform":"ANDROID","id":"daexrjllh01h0AORE1d7","osVersion":{"minimum":"12"},"secureHardwarePresent":true,"jailbreak":false,"diskEncryptionType":{"include":["USER","FULL"]},"screenLockType":{"include":["BIOMETRIC"]},"displayRemediationMode":"HIDE","createdDate":"2026-04-20T03:30:46.000Z","createdBy":"00u5m6b6h6YuejsVW1d7","lastUpdate":"2026-04-20T03:30:46.000Z","lastUpdatedBy":"00u5m6b6h6YuejsVW1d7","resourceType":"DeviceAssurancePolicyEntity","resourceDisplayName":{"value":"testAcc-525995444","sensitive":false},"resourceId":"daexrjllh01h0AORE1d7","_links":{"self":{"href":"https://oie-00.dne-okta.com/api/v1/device-assurances/daexrjllh01h0AORE1d7","hints":{"allow":["GET","PUT","DELETE"]}}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 827.123083ms
[...]
    - id: 6
      request:
        host: oie-00.dne-okta.com
        body: |
            {"diskEncryptionType":{"include":["FULL","USER"]},"displayRemediationMode":"SHOW","gracePeriod":{"expiry":"P30D","type":"BY_DURATION"},"jailbreak":false,"name":"testAcc-525995444","osVersion":{"minimum":"13"},"platform":"ANDROID","screenLockType":{"include":["BIOMETRIC"]},"secureHardwarePresent":true}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://oie-00.dne-okta.com/api/v1/device-assurances/daexrjllh01h0AORE1d7
        method: PUT
      response:
        body: '{"name":"testAcc-525995444","platform":"ANDROID","id":"daexrjllh01h0AORE1d7","osVersion":{"minimum":"13"},"secureHardwarePresent":true,"jailbreak":false,"diskEncryptionType":{"include":["USER","FULL"]},"screenLockType":{"include":["BIOMETRIC"]},"displayRemediationMode":"SHOW","gracePeriod":{"type":"BY_DURATION","expiry":"PT720H"},"lastUpdate":"2026-04-20T03:30:53.000Z","lastUpdatedBy":"00u5m6b6h6YuejsVW1d7","resourceType":"DeviceAssurancePolicyEntity","resourceDisplayName":{"value":"testAcc-525995444","sensitive":false},"resourceId":"daexrjllh01h0AORE1d7","_links":{"self":{"href":"https://oie-00.dne-okta.com/api/v1/device-assurances/daexrjllh01h0AORE1d7","hints":{"allow":["GET","PUT","DELETE"]}}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 657.041875ms
[...]
