---
version: 2
interactions:
    - id: 0
      request:
        host: oie-00.dne-okta.com
        body: |
            {"profile":{"name":"test_423_response_capture","description":""}}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://oie-00.dne-okta.com/api/v1/groups
        method: POST
      response:
        body: '{"id":"00gtiup8m1hVjQ8qE697","created":"2025-07-24T02:10:41.000Z","lastUpdated":"2025-07-24T02:10:41.000Z","lastMembershipUpdated":"2025-07-24T02:10:41.000Z","objectClass":["okta:user_group"],"type":"OKTA_GROUP","profile":{"name":"test_423_response_capture","description":""},"_links":{"logo":[{"name":"medium","href":"https://ok14static.oktacdn.com/assets/img/logos/groups/odyssey/okta-medium.30ce6d4085dff29412984e4c191bc874.png","type":"image/png"},{"name":"large","href":"https://ok14static.oktacdn.com/assets/img/logos/groups/odyssey/okta-large.c3cb8cda8ae0add1b4fe928f5844dbe3.png","type":"image/png"}],"users":{"href":"https://oie-00.dne-okta.com/api/v1/groups/00gtiup8m1hVjQ8qE697/users"},"apps":{"href":"https://oie-00.dne-okta.com/api/v1/groups/00gtiup8m1hVjQ8qE697/apps"}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 915.98825ms
    - id: 1
      request:
        host: oie-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/groups/00gtiup8m1hVjQ8qE697
        method: GET
      response:
        body: '{"id":"00gtiup8m1hVjQ8qE697","created":"2025-07-24T02:10:41.000Z","lastUpdated":"2025-07-24T02:10:41.000Z","lastMembershipUpdated":"2025-07-24T02:10:41.000Z","objectClass":["okta:user_group"],"type":"OKTA_GROUP","profile":{"name":"test_423_response_capture","description":""},"_links":{"logo":[{"name":"medium","href":"https://ok14static.oktacdn.com/assets/img/logos/groups/odyssey/okta-medium.30ce6d4085dff29412984e4c191bc874.png","type":"image/png"},{"name":"large","href":"https://ok14static.oktacdn.com/assets/img/logos/groups/odyssey/okta-large.c3cb8cda8ae0add1b4fe928f5844dbe3.png","type":"image/png"}],"users":{"href":"https://oie-00.dne-okta.com/api/v1/groups/00gtiup8m1hVjQ8qE697/users"},"apps":{"href":"https://oie-00.dne-okta.com/api/v1/groups/00gtiup8m1hVjQ8qE697/apps"}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 670.017333ms
[...]
    - id: 3
      request:
        host: oie-00.dne-okta.com
        body: |
            {"actions":{"assignUserToGroups":{"groupIds":["00gtiup8m1hVjQ8qE697"]}},"conditions":{"expression":{"type":"urn:okta:expression:1.0","value":"String.startsWith(user.lastName,\"smith\")"},"people":{"users":{}}},"name":"test_423_response_capture_concurrent1","type":"group_rule"}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://oie-00.dne-okta.com/api/v1/groups/rules
        method: POST
      response:
        body: '{"errorCode":"E0000239","errorSummary":"Policy priorities are being reconciled. Please try again later.","errorLink":"E0000239","errorId":"oaewlhgTnyCQUWzREP2mCU7uw","errorCauses":[]}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 423 Locked
        code: 423
        duration: 690.635292ms
[...]
    - id: 5
      request:
        host: oie-00.dne-okta.com
        body: |
            {"actions":{"assignUserToGroups":{"groupIds":["00gtiup8m1hVjQ8qE697"]}},"conditions":{"expression":{"type":"urn:okta:expression:1.0","value":"String.startsWith(user.department,\"engineering\")"},"people":{"users":{}}},"name":"test_423_response_capture_concurrent3","type":"group_rule"}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://oie-00.dne-okta.com/api/v1/groups/rules
        method: POST
      response:
        body: '{"type":"group_rule","id":"0prtiurl5fTYrsz6X697","status":"INACTIVE","name":"test_423_response_capture_concurrent3","created":"2025-07-24T02:10:43.000Z","lastUpdated":"2025-07-24T02:10:43.000Z","conditions":{"people":{"users":{"exclude":[]},"groups":{"exclude":[]}},"expression":{"value":"String.startsWith(user.department,\"engineering\")","type":"urn:okta:expression:1.0"}},"actions":{"assignUserToGroups":{"groupIds":["00gtiup8m1hVjQ8qE697"]}},"allGroupsValid":true}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 719.084ms
[...]
    - id: 9
      request:
        host: oie-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/groups/rules/0prtiurl5fTYrsz6X697/lifecycle/activate
        method: POST
      response:
        body: ""
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
        status: 204 No Content
        code: 204
        duration: 734.665709ms
    - id: 10
      request:
        host: oie-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/groups/rules/0prtiuont9u8W3Q1v697/lifecycle/activate
        method: POST
      response:
        body: ""
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
        status: 204 No Content
        code: 204
        duration: 712.047ms
    - id: 11
      request:
        host: oie-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/groups/rules/0prtiutijp1eh8XZS697/lifecycle/activate
        method: POST
      response:
        body: ""
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
        status: 204 No Content
        code: 204
        duration: 731.329417ms
    - id: 12
      request:
        host: oie-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/groups/rules/0prtiuwr6rE6E0EqO697/lifecycle/activate
        method: POST
      response:
        body: ""
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
        status: 204 No Content
        code: 204
        duration: 734.060834ms
[...]
    - id: 15
      request:
        host: oie-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/groups/rules/0prtiuont9u8W3Q1v697
        method: GET
      response:
        body: '{"type":"group_rule","id":"0prtiuont9u8W3Q1v697","status":"ACTIVE","name":"test_423_response_capture_concurrent5","created":"2025-07-24T02:10:43.000Z","lastUpdated":"2025-07-24T02:10:44.000Z","conditions":{"people":{"users":{"exclude":[]},"groups":{"exclude":[]}},"expression":{"value":"String.startsWith(user.employeeNumber,\"123\")","type":"urn:okta:expression:1.0"}},"actions":{"assignUserToGroups":{"groupIds":["00gtiup8m1hVjQ8qE697"]}},"allGroupsValid":true}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 691.278042ms
    - id: 16
      request:
        host: oie-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/groups/rules/0prtiuwr6rE6E0EqO697
        method: GET
      response:
        body: '{"type":"group_rule","id":"0prtiuwr6rE6E0EqO697","status":"ACTIVE","name":"test_423_response_capture","created":"2025-07-24T02:10:43.000Z","lastUpdated":"2025-07-24T02:10:44.000Z","conditions":{"people":{"users":{"exclude":[]},"groups":{"exclude":[]}},"expression":{"value":"String.startsWith(user.firstName,\"andy\")","type":"urn:okta:expression:1.0"}},"actions":{"assignUserToGroups":{"groupIds":["00gtiup8m1hVjQ8qE697"]}},"allGroupsValid":true}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 697.382125ms
    - id: 17
      request:
        host: oie-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/groups/rules/0prtiurl5fTYrsz6X697
        method: GET
      response:
        body: '{"type":"group_rule","id":"0prtiurl5fTYrsz6X697","status":"ACTIVE","name":"test_423_response_capture_concurrent3","created":"2025-07-24T02:10:43.000Z","lastUpdated":"2025-07-24T02:10:44.000Z","conditions":{"people":{"users":{"exclude":[]},"groups":{"exclude":[]}},"expression":{"value":"String.startsWith(user.department,\"engineering\")","type":"urn:okta:expression:1.0"}},"actions":{"assignUserToGroups":{"groupIds":["00gtiup8m1hVjQ8qE697"]}},"allGroupsValid":true}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 706.101667ms
    - id: 18
      request:
        host: oie-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/groups/rules/0prtiutijp1eh8XZS697
        method: GET
      response:
        body: '{"type":"group_rule","id":"0prtiutijp1eh8XZS697","status":"ACTIVE","name":"test_423_response_capture_concurrent4","created":"2025-07-24T02:10:43.000Z","lastUpdated":"2025-07-24T02:10:44.000Z","conditions":{"people":{"users":{"exclude":[]},"groups":{"exclude":[]}},"expression":{"value":"String.startsWith(user.title,\"developer\")","type":"urn:okta:expression:1.0"}},"actions":{"assignUserToGroups":{"groupIds":["00gtiup8m1hVjQ8qE697"]}},"allGroupsValid":true}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 715.151833ms
    - id: 19
      request:
        host: oie-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/groups/rules/0prtiup8m6x83EGmY697/lifecycle/activate
        method: POST
      response:
        body: ""
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
        status: 204 No Content
        code: 204
        duration: 722.188125ms
    - id: 20
      request:
        host: oie-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/groups/rules/0prtiurkdo0MP1eRr697/lifecycle/activate
        method: POST
      response:
        body: ""
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
        status: 204 No Content
        code: 204
        duration: 707.690375ms
    - id: 21
      request:
        host: oie-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/groups/rules/0prtiup8m6x83EGmY697
        method: GET
      response:
        body: '{"type":"group_rule","id":"0prtiup8m6x83EGmY697","status":"ACTIVE","name":"test_423_response_capture_concurrent1","created":"2025-07-24T02:10:44.000Z","lastUpdated":"2025-07-24T02:10:45.000Z","conditions":{"people":{"users":{"exclude":[]},"groups":{"exclude":[]}},"expression":{"value":"String.startsWith(user.lastName,\"smith\")","type":"urn:okta:expression:1.0"}},"actions":{"assignUserToGroups":{"groupIds":["00gtiup8m1hVjQ8qE697"]}},"allGroupsValid":true}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 692.786416ms
    - id: 22
      request:
        host: oie-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/groups/rules/0prtiurkdo0MP1eRr697
        method: GET
      response:
        body: '{"type":"group_rule","id":"0prtiurkdo0MP1eRr697","status":"ACTIVE","name":"test_423_response_capture_concurrent2","created":"2025-07-24T02:10:44.000Z","lastUpdated":"2025-07-24T02:10:45.000Z","conditions":{"people":{"users":{"exclude":[]},"groups":{"exclude":[]}},"expression":{"value":"String.startsWith(user.email,\"test\")","type":"urn:okta:expression:1.0"}},"actions":{"assignUserToGroups":{"groupIds":["00gtiup8m1hVjQ8qE697"]}},"allGroupsValid":true}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.14162825s
[...]
    - id: 30
      request:
        host: oie-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/groups/rules/0prtiutijp1eh8XZS697/lifecycle/deactivate
        method: POST
      response:
        body: ""
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
        status: 204 No Content
        code: 204
        duration: 707.374708ms
    - id: 31
      request:
        host: oie-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/groups/rules/0prtiuwr6rE6E0EqO697/lifecycle/deactivate
        method: POST
      response:
        body: ""
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
        status: 204 No Content
        code: 204
        duration: 725.599666ms
    - id: 32
      request:
        host: oie-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/groups/rules/0prtiurl5fTYrsz6X697/lifecycle/deactivate
        method: POST
      response:
        body: ""
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
        status: 204 No Content
        code: 204
        duration: 729.659208ms
    - id: 33
      request:
        host: oie-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/groups/rules/0prtiurkdo0MP1eRr697/lifecycle/deactivate
        method: POST
      response:
        body: ""
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
        status: 204 No Content
        code: 204
        duration: 734.874667ms
    - id: 34
      request:
        host: oie-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/groups/rules/0prtiup8m6x83EGmY697/lifecycle/deactivate
        method: POST
      response:
        body: ""
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
        status: 204 No Content
        code: 204
        duration: 1.1979725s
    - id: 35
      request:
        host: oie-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/groups/rules/0prtiuont9u8W3Q1v697/lifecycle/deactivate
        method: POST
      response:
        body: ""
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
        status: 204 No Content
        code: 204
        duration: 1.223053083s
    - id: 36
      request:
        host: oie-00.dne-okta.com
        form:
            removeUsers:
                - "false"
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/groups/rules/0prtiutijp1eh8XZS697?removeUsers=false
        method: DELETE
      response:
        body: '{}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 202 Accepted
        code: 202
        duration: 712.177709ms
    - id: 37
      request:
        host: oie-00.dne-okta.com
        form:
            removeUsers:
                - "false"
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/groups/rules/0prtiuwr6rE6E0EqO697?removeUsers=false
        method: DELETE
      response:
        body: '{}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 202 Accepted
        code: 202
        duration: 707.981625ms
    - id: 38
      request:
        host: oie-00.dne-okta.com
        form:
            removeUsers:
                - "false"
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/groups/rules/0prtiurl5fTYrsz6X697?removeUsers=false
        method: DELETE
      response:
        body: '{}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 202 Accepted
        code: 202
        duration: 716.029ms
    - id: 39
      request:
        host: oie-00.dne-okta.com
        form:
            removeUsers:
                - "false"
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/groups/rules/0prtiurkdo0MP1eRr697?removeUsers=false
        method: DELETE
      response:
        body: '{}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 202 Accepted
        code: 202
        duration: 735.194833ms
    - id: 40
      request:
        host: oie-00.dne-okta.com
        form:
            removeUsers:
                - "false"
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/groups/rules/0prtiup8m6x83EGmY697?removeUsers=false
        method: DELETE
      response:
        body: '{}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 202 Accepted
        code: 202
        duration: 721.366291ms
    - id: 41
      request:
        host: oie-00.dne-okta.com
        form:
            removeUsers:
                - "false"
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/groups/rules/0prtiuont9u8W3Q1v697?removeUsers=false
        method: DELETE
      response:
        body: '{}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 202 Accepted
        code: 202
        duration: 719.805583ms
[...]
