---
version: 1
interactions:
- request:
    body: |
      {"name":"testAcc_2191941871","siteKey":"random_key","secretKey":"random_key","type":"HCAPTCHA"}
    form: {}
    headers:
      Authorization:
      - SSWS REDACTED
      Content-Type:
      - application/json
    url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/captchas
    method: POST
  response:
    body: '{"id":"cap7l8hhifYNEVcxO1d7","name":"testAcc_2191941871","siteKey":"random_key","type":"HCAPTCHA","_links":{"self":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/captchas/cap7l8hhifYNEVcxO1d7","hints":{"allow":["GET","POST","PUT","DELETE"]}}}}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/captchas/cap7l8hhifYNEVcxO1d7
    method: GET
  response:
    body: '{"id":"cap7l8hhifYNEVcxO1d7","name":"testAcc_2191941871","siteKey":"random_key","type":"HCAPTCHA","_links":{"self":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/captchas/cap7l8hhifYNEVcxO1d7","hints":{"allow":["GET","POST","PUT","DELETE"]}}}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
