---
version: 2
interactions:
    - id: 0
      request:
        host: mm-oie-2022-10-07-max.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-oie-2022-10-07-max.oktapreview.com/.well-known/okta-organization
        method: GET
      response:
        body: '{"id":"00o5qwjvg8hg7YpT81d7","cell":"op3","_links":{"organization":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com"}},"pipeline":"idx","settings":{"analyticsCollectionEnabled":false,"bugReportingEnabled":true,"omEnabled":false,"pssoEnabled":false}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 139.703888ms
    - id: 1
      request:
        host: mm-oie-2022-10-07-max.oktapreview.com
        body: |
            {"name":"testAcc_2191941871","siteKey":"random_key","secretKey":"random_key","type":"HCAPTCHA"}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/captchas
        method: POST
      response:
        body: '{"id":"cap95uhlq9jm1ZNnr1d7","name":"testAcc_2191941871","siteKey":"random_key","type":"HCAPTCHA","_links":{"self":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/captchas/cap95uhlq9jm1ZNnr1d7","hints":{"allow":["GET","POST","PUT","DELETE"]}}}}'
        headers:
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 91.162391ms
    - id: 2
      request:
        host: mm-oie-2022-10-07-max.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/captchas/cap95uhlq9jm1ZNnr1d7
        method: GET
      response:
        body: '{"id":"cap95uhlq9jm1ZNnr1d7","name":"testAcc_2191941871","siteKey":"random_key","type":"HCAPTCHA","_links":{"self":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/captchas/cap95uhlq9jm1ZNnr1d7","hints":{"allow":["GET","POST","PUT","DELETE"]}}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 62.315941ms
[...]
    - id: 7
      request:
        host: mm-oie-2022-10-07-max.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/captchas/cap95uhlq9jm1ZNnr1d7
        method: GET
      response:
        body: '{"errorCode":"E0000007","errorSummary":"Not found: Resource not found: cap95uhlq9jm1ZNnr1d7 (Captcha)","errorLink":"E0000007","errorId":"oae4yz9WPtNSRaqPIqi8-euOg","errorCauses":[]}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 63.384431ms
