---
version: 2
interactions:
    - id: 0
      request:
        host: oie-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/identity-sources/0oaxc95befZNgrJl71d7/sessions/apsydhsafnSPHlZyG1d7
        method: GET
      response:
        body: '{"id":"apsydhsafnSPHlZyG1d7","identitySourceId":"0oaxc95befZNgrJl71d7","status":"CREATED","importType":"INCREMENTAL","created":"2026-05-04T06:07:10.000Z","lastUpdated":"2026-05-04T06:07:10.000Z"}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.167488417s
[...]
