---
version: 2
interactions:
    - id: 0
      request:
        host: classic-00.dne-okta.com
        body: |
            {"gateways":[{"type":"RANGE","value":"2.3.4.5-2.3.4.15"},{"type":"CIDR","value":"2.2.3.4/24"}],"name":"testAcc_4023168308-2","proxies":[{"type":"CIDR","value":"3.2.3.4/24"},{"type":"RANGE","value":"3.3.4.5-3.3.4.15"}],"status":"ACTIVE","type":"IP","usage":"POLICY"}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://classic-00.dne-okta.com/api/v1/zones
        method: POST
      response:
        body: '{"type":"IP","id":"nzo9i7hux7gENYdmk1d7","name":"testAcc_4023168308-2","status":"ACTIVE","usage":"POLICY","created":"2023-08-16T00:07:42.000Z","lastUpdated":"2023-08-16T00:07:42.000Z","system":false,"gateways":[{"type":"RANGE","value":"2.3.4.5-2.3.4.15"},{"type":"CIDR","value":"2.2.3.4/24"}],"proxies":[{"type":"CIDR","value":"3.2.3.4/24"},{"type":"RANGE","value":"3.3.4.5-3.3.4.15"}],"_links":{"self":{"href":"https://classic-00.oktapreview.com/api/v1/zones/nzo9i7hux7gENYdmk1d7","hints":{"allow":["GET","PUT","DELETE"]}},"deactivate":{"href":"https://classic-00.oktapreview.com/api/v1/zones/nzo9i7hux7gENYdmk1d7/lifecycle/deactivate","hints":{"allow":["POST"]}}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 144.868083ms
[...]
    - id: 3
      request:
        host: classic-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/zones/nzo9i7gqtg8Z0fbjr1d7
        method: GET
      response:
        body: '{"type":"IP","id":"nzo9i7gqtg8Z0fbjr1d7","name":"testAcc_4023168308-1","status":"ACTIVE","usage":"POLICY","created":"2023-08-16T00:07:42.000Z","lastUpdated":"2023-08-16T00:07:42.000Z","system":false,"gateways":[{"type":"RANGE","value":"2.3.4.5-2.3.4.15"},{"type":"CIDR","value":"1.2.3.4/24"}],"proxies":[{"type":"CIDR","value":"2.2.3.4/24"},{"type":"RANGE","value":"3.3.4.5-3.3.4.15"}],"_links":{"self":{"href":"https://classic-00.oktapreview.com/api/v1/zones/nzo9i7gqtg8Z0fbjr1d7","hints":{"allow":["GET","PUT","DELETE"]}},"deactivate":{"href":"https://classic-00.oktapreview.com/api/v1/zones/nzo9i7gqtg8Z0fbjr1d7/lifecycle/deactivate","hints":{"allow":["POST"]}}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 58.173067ms
    - id: 4
      request:
        host: classic-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/zones/nzo9i7hux7gENYdmk1d7
        method: GET
      response:
        body: '{"type":"IP","id":"nzo9i7hux7gENYdmk1d7","name":"testAcc_4023168308-2","status":"ACTIVE","usage":"POLICY","created":"2023-08-16T00:07:42.000Z","lastUpdated":"2023-08-16T00:07:42.000Z","system":false,"gateways":[{"type":"RANGE","value":"2.3.4.5-2.3.4.15"},{"type":"CIDR","value":"2.2.3.4/24"}],"proxies":[{"type":"CIDR","value":"3.2.3.4/24"},{"type":"RANGE","value":"3.3.4.5-3.3.4.15"}],"_links":{"self":{"href":"https://classic-00.oktapreview.com/api/v1/zones/nzo9i7hux7gENYdmk1d7","hints":{"allow":["GET","PUT","DELETE"]}},"deactivate":{"href":"https://classic-00.oktapreview.com/api/v1/zones/nzo9i7hux7gENYdmk1d7/lifecycle/deactivate","hints":{"allow":["POST"]}}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 62.708792ms
    - id: 5
      request:
        host: classic-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/zones/nzo9i7ld9mrgVImFk1d7
        method: GET
      response:
        body: '{"type":"IP","id":"nzo9i7ld9mrgVImFk1d7","name":"testAcc_4023168308-3","status":"ACTIVE","usage":"POLICY","created":"2023-08-16T00:07:42.000Z","lastUpdated":"2023-08-16T00:07:42.000Z","system":false,"gateways":[{"type":"CIDR","value":"3.2.3.4/24"},{"type":"RANGE","value":"2.3.4.5-2.3.4.15"}],"proxies":[{"type":"CIDR","value":"4.2.3.4/24"},{"type":"RANGE","value":"3.3.4.5-3.3.4.15"}],"_links":{"self":{"href":"https://classic-00.oktapreview.com/api/v1/zones/nzo9i7ld9mrgVImFk1d7","hints":{"allow":["GET","PUT","DELETE"]}},"deactivate":{"href":"https://classic-00.oktapreview.com/api/v1/zones/nzo9i7ld9mrgVImFk1d7/lifecycle/deactivate","hints":{"allow":["POST"]}}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 67.867598ms
    - id: 6
      request:
        host: classic-00.dne-okta.com
        body: |
            {"action":"block","excludeZones":["nzo9i7gqtg8Z0fbjr1d7","nzo9i7hux7gENYdmk1d7","nzo9i7ld9mrgVImFk1d7"]}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://classic-00.dne-okta.com/api/v1/threats/configuration
        method: POST
      response:
        body: '{"action":"block","excludeZones":["nzo9i7ld9mrgVImFk1d7","nzo9i7gqtg8Z0fbjr1d7","nzo9i7hux7gENYdmk1d7"],"created":"2022-10-04T23:20:19.000Z","lastUpdated":"2023-08-16T00:07:42.000Z","_links":{"self":{"href":"https://classic-00.oktapreview.com/api/v1/threats/configuration","hints":{"allow":["GET","POST"]}}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 95.290229ms
[...]
