---
version: 2
interactions:
    - id: 0
      request:
        host: classic-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/governance/api/v2/my/catalogs/default/entries/cen123456789abcdefgh/requests/reqABCDEFG0123456789
        method: GET
      response:
        body: '{"id":"reqABCDEFG0123456789","createdBy":"00uonmvbfznIufFS61d7","created":"2025-08-09T12:58:57Z","lastUpdated":"2025-08-09T12:59:00Z","lastUpdatedBy":"00uonmvbfznIufFS61d7","_links":{"catalogEntry":{"href":"https://classic-00.dne-okta.com/governance/api/v2/my/catalogs/default/entries/cen123456789abcdefgh","hints":{}},"self":{"href":"https://classic-00.dne-okta.com/governance/api/v2/my/catalogs/default/entries/cen123456789abcdefgh/requests/reqABCDEFG0123456789","hints":{}}},"status":"REJECTED","requestedBy":{"externalId":"00uonmvbfznIufFS61d7","type":"OKTA_USER"},"requestedFor":{"externalId":"00uonmvbfznIufFS61d7","type":"OKTA_USER"},"requested":{"entryId":"cen123456789abcdefgh","resourceId":"0oaout8jxz0cQ02BX1d7","resourceType":"APPLICATION","accessScopeId":"0oaout8jxz0cQ02BX1d7","accessScopeType":"APPLICATION"},"requesterFieldValues":[{"id":"abcdefgh-0123-4567-8910-hgfedcba123","label":"Why are you requesting access for this?","type":"TEXT","value":"I need access to complete my certification AGAIN."},{"id":"ijklmnop-a12b2-c3d4-e5f6-abcdefghi","label":"Do you know the consequences of requesting for this ?","type":"TEXT","value":"For 500 days"},{"id":"tuvwxyz-0123-456-8910-zyxwvut0123","label":"Are you really really sure ?","type":"SELECT","value":"Yes Maybe ?"}],"riskAssessment":{"requestSubmissionType":"ALLOWED_WITH_NO_OVERRIDES","riskRules":[]}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.211428375s
[...]
