---
version: 2
interactions:
    - id: 0
      request:
        host: classic-00.dne-okta.com
        url: https://classic-00.dne-okta.com/.well-known/oauth-authorization-server
        method: GET
      response:
        body: '{"issuer":"https://classic-00.dne-okta.com","authorization_endpoint":"https://classic-00.dne-okta.com/oauth2/v1/authorize","token_endpoint":"https://classic-00.dne-okta.com/oauth2/v1/token","registration_endpoint":"https://classic-00.dne-okta.com/oauth2/v1/clients","response_types_supported":["code","token","id_token","code id_token","code token","id_token token","code id_token token"],"response_modes_supported":["query","fragment","form_post","okta_post_message"],"grant_types_supported":["authorization_code","implicit","refresh_token","password","client_credentials","urn:ietf:params:oauth:grant-type:device_code","urn:okta:params:oauth:grant-type:otp","http://auth0.com/oauth/grant-type/mfa-otp","urn:okta:params:oauth:grant-type:oob","http://auth0.com/oauth/grant-type/mfa-oob","urn:ietf:params:oauth:grant-type:token-exchange"],"subject_types_supported":["public"],"scopes_supported":["okta.users.manage","okta.users.manage.self","okta.users.read","okta.users.read.self","okta.linkedObjects.manage","okta.linkedObjects.read","okta.profileMappings.manage","okta.profileMappings.read","okta.userTypes.manage","okta.userTypes.read","okta.clients.manage","okta.clients.register","okta.clients.read","okta.appGrants.manage","okta.appGrants.read","okta.policies.manage","okta.policies.read","okta.groups.manage","okta.groups.read","okta.inlineHooks.manage","okta.inlineHooks.read","okta.eve[...]
[...]
