---
version: 2
interactions:
- id: 0
  request:
    host: classic-00.dne-okta.com
    body: "{\"credentials\":{\"password\":{}},\"profile\":{\"email\":\"testAcc-4056058218@example.com\",\"firstName\":\"TestAcc\",\"lastName\":\"Smith\",\"login\":\"testAcc-4056058218@example.com\",\"postalAddress\":null}}\n"
    form:
      activate:
      - "false"
    headers:
      Authorization:
      - SSWS REDACTED
      Content-Type:
      - application/json
    url: https://classic-00.dne-okta.com/api/v1/users?activate=false
    method: POST
  response:
    body: "{\"id\":\"00uckrm9l1VTjmSNj0x7\",\"status\":\"STAGED\",\"created\":\"2025-12-17T11:07:07.000Z\",\"activated\":null,\"statusChanged\":null,\"lastLogin\":null,\"lastUpdated\":\"2025-12-17T11:07:07.000Z\",\"passwordChanged\":null,\"realmId\":\"guobiiz9fiOFhQlea0x7\",\"type\":{\"id\":\"otybiiyra51eDWlk50x7\"},\"profile\":{\"firstName\":\"TestAcc\",\"lastName\":\"Smith\",\"mobilePhone\":null,\"secondEmail\":null,\"login\":\"testAcc-4056058218@example.com\",\"email\":\"testAcc-4056058218@example.com\"},\"credentials\":{\"provider\":{\"type\":\"OKTA\",\"name\":\"OKTA\"}},\"_links\":{\"schema\":{\"href\":\"https://classic-00.dne-okta.com/api/v1/meta/schemas/user/oscbiiyra51eDWlk50x7\"},\"activate\":{\"href\":\"https://classic-00.dne-okta.com/api/v1/users/00uckrm9l1VTjmSNj0x7/lifecycle/activate\",\"method\":\"POST\"},\"self\":{\"href\":\"https://classic-00.dne-okta.com/api/v1/users/00uckrm9l1VTjmSNj0x7\"},\"resetFactors\":{\"href\":\"https://classic-00.dne-okta.com/api/v1/users/00uckrm9l1VTjmSNj0x7/lifecycle/reset_factors\",\"method\":\"POST\"},\"type\":{\"href\":\"https://classic-00.dne-okta.com/api/v1/meta/types/user/otybiiyra51eDWlk50x7\"}}}"
    headers:
      Accept-Ch:
      - Sec-CH-UA-Platform-Version
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 205.513875ms
- id: 1
  request:
    host: classic-00.dne-okta.com
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://classic-00.dne-okta.com/api/v1/users/00uckrm9l1VTjmSNj0x7
    method: GET
  response:
    body: "{\"id\":\"00uckrm9l1VTjmSNj0x7\",\"status\":\"STAGED\",\"created\":\"2025-12-17T11:07:07.000Z\",\"activated\":null,\"statusChanged\":null,\"lastLogin\":null,\"lastUpdated\":\"2025-12-17T11:07:07.000Z\",\"passwordChanged\":null,\"realmId\":\"guobiiz9fiOFhQlea0x7\",\"type\":{\"id\":\"otybiiyra51eDWlk50x7\"},\"profile\":{\"firstName\":\"TestAcc\",\"lastName\":\"Smith\",\"mobilePhone\":null,\"secondEmail\":null,\"login\":\"testAcc-4056058218@example.com\",\"email\":\"testAcc-4056058218@example.com\"},\"credentials\":{\"provider\":{\"type\":\"OKTA\",\"name\":\"OKTA\"}},\"_links\":{\"schema\":{\"href\":\"https://classic-00.dne-okta.com/api/v1/meta/schemas/user/oscbiiyra51eDWlk50x7\"},\"activate\":{\"href\":\"https://classic-00.dne-okta.com/api/v1/users/00uckrm9l1VTjmSNj0x7/lifecycle/activate\",\"method\":\"POST\"},\"self\":{\"href\":\"https://classic-00.dne-okta.com/api/v1/users/00uckrm9l1VTjmSNj0x7\"},\"resetFactors\":{\"href\":\"https://classic-00.dne-okta.com/api/v1/users/00uckrm9l1VTjmSNj0x7/lifecycle/reset_factors\",\"method\":\"POST\"},\"type\":{\"href\":\"https://classic-00.dne-okta.com/api/v1/meta/types/user/otybiiyra51eDWlk50x7\"}}}"
    headers:
      Accept-Ch:
      - Sec-CH-UA-Platform-Version
      Content-Type:
      - application/json
      Etag:
      - W/"36a36d6752ea051e37d088ca1f4763664d14f7bd59ea8658abc20655ea772ad8"
    status: 200 OK
    code: 200
    duration: 146.751833ms
[...]
- id: 5
  request:
    host: classic-00.dne-okta.com
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://classic-00.dne-okta.com/api/v1/users/00uckrm9l1VTjmSNj0x7/lifecycle/activate
    method: POST
  response:
    body: "{}"
    headers:
      Accept-Ch:
      - Sec-CH-UA-Platform-Version
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 217.155666ms
- id: 6
  request:
    host: classic-00.dne-okta.com
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://classic-00.dne-okta.com/api/v1/users/00uckrm9l1VTjmSNj0x7
    method: GET
  response:
    body: "{\"id\":\"00uckrm9l1VTjmSNj0x7\",\"status\":\"PROVISIONED\",\"created\":\"2025-12-17T11:07:07.000Z\",\"activated\":\"2025-12-17T11:07:08.000Z\",\"statusChanged\":\"2025-12-17T11:07:08.000Z\",\"lastLogin\":null,\"lastUpdated\":\"2025-12-17T11:07:08.000Z\",\"passwordChanged\":null,\"realmId\":\"guobiiz9fiOFhQlea0x7\",\"type\":{\"id\":\"otybiiyra51eDWlk50x7\"},\"profile\":{\"firstName\":\"TestAcc\",\"lastName\":\"Smith\",\"mobilePhone\":null,\"secondEmail\":null,\"login\":\"testAcc-4056058218@example.com\",\"email\":\"testAcc-4056058218@example.com\"},\"credentials\":{\"provider\":{\"type\":\"OKTA\",\"name\":\"OKTA\"}},\"_links\":{\"suspend\":{\"href\":\"https://classic-00.dne-okta.com/api/v1/users/00uckrm9l1VTjmSNj0x7/lifecycle/suspend\",\"method\":\"POST\"},\"schema\":{\"href\":\"https://classic-00.dne-okta.com/api/v1/meta/schemas/user/oscbiiyra51eDWlk50x7\"},\"resetPassword\":{\"href\":\"https://classic-00.dne-okta.com/api/v1/users/00uckrm9l1VTjmSNj0x7/lifecycle/reset_password\",\"method\":\"POST\"},\"reactivate\":{\"href\":\"https://classic-00.dne-okta.com/api/v1/users/00uckrm9l1VTjmSNj0x7/lifecycle/reactivate\",\"method\":\"POST\"},\"self\":{\"href\":\"https://classic-00.dne-okta.com/api/v1/users/00uckrm9l1VTjmSNj0x7\"},\"resetFactors\":{\"href\":\"https://classic-00.dne-okta.com/api/v1/users/00uckrm9l1VTjmSNj0x7/lifecycle/reset_factors\",\"method\":\"POST\"},\"type\":{\"href\":\"https://classic-00.dne-okta.com/api/v1/meta/types/user/otybiiyra51eDWlk50x7\"},\"deactivate\":{\"href\":\"https://classic-00.dne-okta.com/api/v1/users/00uckrm9l1VTjmSNj0x7/lifecycle/deactivate\",\"method\":\"POST\"}}}"
    headers:
      Accept-Ch:
      - Sec-CH-UA-Platform-Version
      Content-Type:
      - application/json
      Etag:
      - W/"36a36d6752ea051e37d088ca1f4763664d14f7bd59ea8658abc20655ea772ad8"
    status: 200 OK
    code: 200
    duration: 106.186875ms
- id: 7
  request:
    host: classic-00.dne-okta.com
    body: "{\"profile\":{\"city\":\"New York\",\"costCenter\":\"10\",\"countryCode\":\"US\",\"department\":\"IT\",\"displayName\":\"Dr. TestAcc Smith\",\"division\":\"Acquisitions\",\"email\":\"testAcc-4056058218@example.com\",\"employeeNumber\":\"111111\",\"firstName\":\"TestAcc\",\"honorificPrefix\":\"Dr.\",\"honorificSuffix\":\"Jr.\",\"lastName\":\"Smith\",\"locale\":\"en_US\",\"login\":\"testAcc-4056058218@example.com\",\"manager\":\"Jimbo\",\"managerId\":\"222222\",\"middleName\":\"John\",\"mobilePhone\":\"1112223333\",\"nickName\":\"Johnny\",\"organization\":\"Testing Inc.\",\"postalAddress\":\"1234 Testing St.\",\"preferredLanguage\":\"en-us\",\"primaryPhone\":\"4445556666\",\"profileUrl\":\"http://www.example.com/profile\",\"secondEmail\":\"test2-4056058218@example.com\",\"state\":\"NY\",\"streetAddress\":\"5678 Testing Ave.\",\"timezone\":\"America/New_York\",\"title\":\"Director\",\"userType\":\"Employee\",\"zipCode\":\"11111\"},\"realmId\":\"guobiiz9fiOFhQlea0x7\"}\n"
    headers:
      Authorization:
      - SSWS REDACTED
      Content-Type:
      - application/json
    url: https://classic-00.dne-okta.com/api/v1/users/00uckrm9l1VTjmSNj0x7
    method: PUT
  response:
    body: "{\"id\":\"00uckrm9l1VTjmSNj0x7\",\"status\":\"PROVISIONED\",\"created\":\"2025-12-17T11:07:07.000Z\",\"activated\":\"2025-12-17T11:07:08.000Z\",\"statusChanged\":\"2025-12-17T11:07:08.000Z\",\"lastLogin\":null,\"lastUpdated\":\"2025-[...]
[...]
