---
version: 2
interactions:
    - id: 0
      request:
        host: oie-00.dne-okta.com
        body: |
            {"credentials":{"password":{}},"profile":{"email":"testAcc-4056058218@example.com","firstName":"TestAcc","lastName":"Smith","login":"testAcc-4056058218@example.com","postalAddress":null}}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://oie-00.dne-okta.com/api/v1/users?activate=false
        method: POST
      response:
        body: '{"id":"00ukwr7p582eE1dwc1d7","status":"STAGED","created":"2025-03-13T23:45:41.000Z","activated":null,"statusChanged":null,"lastLogin":null,"lastUpdated":"2025-03-13T23:45:41.000Z","passwordChanged":null,"type":{"id":"oty5qwjvh0Vy1j8Kd1d7"},"profile":{"firstName":"TestAcc","lastName":"Smith","mobilePhone":null,"secondEmail":null,"login":"testAcc-4056058218@example.com","email":"testAcc-4056058218@example.com"},"credentials":{"provider":{"type":"OKTA","name":"OKTA"}},"_links":{"schema":{"href":"https://oie-00.dne-okta.com/api/v1/meta/schemas/user/osc5qwjvh0Vy1j8Kd1d7"},"activate":{"href":"https://oie-00.dne-okta.com/api/v1/users/00ukwr7p582eE1dwc1d7/lifecycle/activate","method":"POST"},"self":{"href":"https://oie-00.dne-okta.com/api/v1/users/00ukwr7p582eE1dwc1d7"},"type":{"href":"https://oie-00.dne-okta.com/api/v1/meta/types/user/oty5qwjvh0Vy1j8Kd1d7"}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 277.127209ms
    - id: 1
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/users/00ukwr7p582eE1dwc1d7
        method: GET
      response:
        body: '{"id":"00ukwr7p582eE1dwc1d7","status":"STAGED","created":"2025-03-13T23:45:41.000Z","activated":null,"statusChanged":null,"lastLogin":null,"lastUpdated":"2025-03-13T23:45:41.000Z","passwordChanged":null,"type":{"id":"oty5qwjvh0Vy1j8Kd1d7"},"profile":{"firstName":"TestAcc","lastName":"Smith","mobilePhone":null,"secondEmail":null,"login":"testAcc-4056058218@example.com","email":"testAcc-4056058218@example.com"},"credentials":{"provider":{"type":"OKTA","name":"OKTA"}},"_links":{"schema":{"href":"https://oie-00.dne-okta.com/api/v1/meta/schemas/user/osc5qwjvh0Vy1j8Kd1d7"},"activate":{"href":"https://oie-00.dne-okta.com/api/v1/users/00ukwr7p582eE1dwc1d7/lifecycle/activate","method":"POST"},"self":{"href":"https://oie-00.dne-okta.com/api/v1/users/00ukwr7p582eE1dwc1d7"},"type":{"href":"https://oie-00.dne-okta.com/api/v1/meta/types/user/oty5qwjvh0Vy1j8Kd1d7"}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
            Etag:
                - W/"d6e68575864cfd976b7b5f9a7b0b8c736ab4b1e53090992d4e020160f8b17174"
        status: 200 OK
        code: 200
        duration: 262.785833ms
[...]
    - id: 5
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/users/00ukwr7p582eE1dwc1d7/lifecycle/activate
        method: POST
      response:
        body: '{}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 347.4965ms
    - id: 6
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/users/00ukwr7p582eE1dwc1d7
        method: GET
      response:
        body: '{"id":"00ukwr7p582eE1dwc1d7","status":"PROVISIONED","created":"2025-03-13T23:45:41.000Z","activated":"2025-03-13T23:45:43.000Z","statusChanged":"2025-03-13T23:45:43.000Z","lastLogin":null,"lastUpdated":"2025-03-13T23:45:43.000Z","passwordChanged":null,"type":{"id":"oty5qwjvh0Vy1j8Kd1d7"},"profile":{"firstName":"TestAcc","lastName":"Smith","mobilePhone":null,"secondEmail":null,"login":"testAcc-4056058218@example.com","email":"testAcc-4056058218@example.com"},"credentials":{"provider":{"type":"OKTA","name":"OKTA"}},"_links":{"suspend":{"href":"https://oie-00.dne-okta.com/api/v1/users/00ukwr7p582eE1dwc1d7/lifecycle/suspend","method":"POST"},"schema":{"href":"https://oie-00.dne-okta.com/api/v1/meta/schemas/user/osc5qwjvh0Vy1j8Kd1d7"},"resetPassword":{"href":"https://oie-00.dne-okta.com/api/v1/users/00ukwr7p582eE1dwc1d7/lifecycle/reset_password","method":"POST"},"reactivate":{"href":"https://oie-00.dne-okta.com/api/v1/users/00ukwr7p582eE1dwc1d7/lifecycle/reactivate","method":"POST"},"self":{"href":"https://oie-00.dne-okta.com/api/v1/users/00ukwr7p582eE1dwc1d7"},"type":{"href":"https://oie-00.dne-okta.com/api/v1/meta/types/user/oty5qwjvh0Vy1j8Kd1d7"},"deactivate":{"href":"https://oie-00.dne-okta.com/api/v1/users/00ukwr7p582eE1dwc1d7/lifecycle/deactivate","method":"POST"}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
            Etag:
                - W/"d6e68575864cfd976b7b5f9a7b0b8c736ab4b1e53090992d4e020160f8b17174"
        status: 200 OK
        code: 200
        duration: 243.708541ms
    - id: 7
      request:
        host: oie-00.dne-okta.com
        body: |
            {"profile":{"city":"New York","costCenter":"10","countryCode":"US","department":"IT","displayName":"Dr. TestAcc Smith","division":"Acquisitions","email":"testAcc-4056058218@example.com","employeeNumber":"111111","firstName":"TestAcc","honorificPrefix":"Dr.","honorificSuffix":"Jr.","lastName":"Smith","locale":"en_US","login":"testAcc-4056058218@example.com","manager":"Jimbo","managerId":"222222","middleName":"John","mobilePhone":"1112223333","nickName":"Johnny","organization":"Testing Inc.","postalAddress":"1234 Testing St.","preferredLanguage":"en-us","primaryPhone":"4445556666","profileUrl":"http://www.example.com/profile","secondEmail":"test2-4056058218@example.com","state":"NY","streetAddress":"5678 Testing Ave.","timezone":"America/New_York","title":"Director","userType":"Employee","zipCode":"11111"}}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://oie-00.dne-okta.com/api/v1/users/00ukwr7p582eE1dwc1d7
        method: PUT
      response:
        body: '{"id":"00ukwr7p582eE1dwc1d7","status":"PROVISIONED","created":"2025-03-13T23:45:41.000Z","activated":"2025-03-13T23:45:43.000Z","statusChanged":"2025-03-13T23:45:43.000Z","lastLogin":null,"lastUpdated":"2025-03[...]
[...]
