---
version: 2
interactions:
    - id: 0
      request:
        host: oie-00.dne-okta.com
        body: |
            {"credentials":{"password":{}},"profile":{"email":"testAcc-4056058218@example.com","firstName":"TestAcc","lastName":"Smith","login":"testAcc-4056058218@example.com","postalAddress":null}}
        form:
            activate:
                - "false"
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://oie-00.dne-okta.com/api/v1/users?activate=false
        method: POST
      response:
        body: '{"id":"00uvozd4iadwiT5uy1d7","status":"STAGED","created":"2026-03-02T12:21:46.000Z","activated":null,"statusChanged":null,"lastLogin":null,"lastUpdated":"2026-03-02T12:21:46.000Z","passwordChanged":null,"realmId":"guotivlj45ZSJtnfF1d7","type":{"id":"otytivnus5k8rPk4X1d7"},"profile":{"firstName":"TestAcc","lastName":"Smith","mobilePhone":null,"secondEmail":null,"login":"testAcc-4056058218@example.com","email":"testAcc-4056058218@example.com"},"credentials":{"provider":{"type":"OKTA","name":"OKTA"}},"_links":{"schema":{"href":"https://oie-00.dne-okta.com/api/v1/meta/schemas/user/osctivnus5k8rPk4X1d7"},"activate":{"href":"https://oie-00.dne-okta.com/api/v1/users/00uvozd4iadwiT5uy1d7/lifecycle/activate","method":"POST"},"self":{"href":"https://oie-00.dne-okta.com/api/v1/users/00uvozd4iadwiT5uy1d7"},"resetFactors":{"href":"https://oie-00.dne-okta.com/api/v1/users/00uvozd4iadwiT5uy1d7/lifecycle/reset_factors","method":"POST"},"type":{"href":"https://oie-00.dne-okta.com/api/v1/meta/types/user/otytivnus5k8rPk4X1d7"}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.903346s
    - id: 1
      request:
        host: oie-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/users/00uvozd4iadwiT5uy1d7
        method: GET
      response:
        body: '{"id":"00uvozd4iadwiT5uy1d7","status":"STAGED","created":"2026-03-02T12:21:46.000Z","activated":null,"statusChanged":null,"lastLogin":null,"lastUpdated":"2026-03-02T12:21:46.000Z","passwordChanged":null,"realmId":"guotivlj45ZSJtnfF1d7","type":{"id":"otytivnus5k8rPk4X1d7"},"profile":{"firstName":"TestAcc","lastName":"Smith","mobilePhone":null,"secondEmail":null,"login":"testAcc-4056058218@example.com","email":"testAcc-4056058218@example.com"},"credentials":{"provider":{"type":"OKTA","name":"OKTA"}},"_links":{"schema":{"href":"https://oie-00.dne-okta.com/api/v1/meta/schemas/user/osctivnus5k8rPk4X1d7"},"activate":{"href":"https://oie-00.dne-okta.com/api/v1/users/00uvozd4iadwiT5uy1d7/lifecycle/activate","method":"POST"},"self":{"href":"https://oie-00.dne-okta.com/api/v1/users/00uvozd4iadwiT5uy1d7"},"resetFactors":{"href":"https://oie-00.dne-okta.com/api/v1/users/00uvozd4iadwiT5uy1d7/lifecycle/reset_factors","method":"POST"},"type":{"href":"https://oie-00.dne-okta.com/api/v1/meta/types/user/otytivnus5k8rPk4X1d7"}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
            Etag:
                - W/"f9b2a886e0220a2bcd0e3255ec2528fd7525f529b163b4052b7125b796f1953a"
        status: 200 OK
        code: 200
        duration: 1.292262833s
[...]
    - id: 5
      request:
        host: oie-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/users/00uvozd4iadwiT5uy1d7/lifecycle/activate
        method: POST
      response:
        body: '{}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.179363834s
    - id: 6
      request:
        host: oie-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/users/00uvozd4iadwiT5uy1d7
        method: GET
      response:
        body: '{"id":"00uvozd4iadwiT5uy1d7","status":"PROVISIONED","created":"2026-03-02T12:21:46.000Z","activated":"2026-03-02T12:21:53.000Z","statusChanged":"2026-03-02T12:21:53.000Z","lastLogin":null,"lastUpdated":"2026-03-02T12:21:53.000Z","passwordChanged":null,"realmId":"guotivlj45ZSJtnfF1d7","type":{"id":"otytivnus5k8rPk4X1d7"},"profile":{"firstName":"TestAcc","lastName":"Smith","mobilePhone":null,"secondEmail":null,"login":"testAcc-4056058218@example.com","email":"testAcc-4056058218@example.com"},"credentials":{"provider":{"type":"OKTA","name":"OKTA"}},"_links":{"suspend":{"href":"https://oie-00.dne-okta.com/api/v1/users/00uvozd4iadwiT5uy1d7/lifecycle/suspend","method":"POST"},"schema":{"href":"https://oie-00.dne-okta.com/api/v1/meta/schemas/user/osctivnus5k8rPk4X1d7"},"resetPassword":{"href":"https://oie-00.dne-okta.com/api/v1/users/00uvozd4iadwiT5uy1d7/lifecycle/reset_password","method":"POST"},"reactivate":{"href":"https://oie-00.dne-okta.com/api/v1/users/00uvozd4iadwiT5uy1d7/lifecycle/reactivate","method":"POST"},"self":{"href":"https://oie-00.dne-okta.com/api/v1/users/00uvozd4iadwiT5uy1d7"},"resetFactors":{"href":"https://oie-00.dne-okta.com/api/v1/users/00uvozd4iadwiT5uy1d7/lifecycle/reset_factors","method":"POST"},"type":{"href":"https://oie-00.dne-okta.com/api/v1/meta/types/user/otytivnus5k8rPk4X1d7"},"deactivate":{"href":"https://oie-00.dne-okta.com/api/v1/users/00uvozd4iadwiT5uy1d7/lifecycle/deactivate","method":"POST"}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
            Etag:
                - W/"f9b2a886e0220a2bcd0e3255ec2528fd7525f529b163b4052b7125b796f1953a"
        status: 200 OK
        code: 200
        duration: 1.335528875s
    - id: 7
      request:
        host: oie-00.dne-okta.com
        body: |
            {"profile":{"city":"New York","costCenter":"10","countryCode":"US","department":"IT","displayName":"Dr. TestAcc Smith","division":"Acquisitions","email":"testAcc-4056058218@example.com","employeeNumber":"111111","firstName":"TestAcc","honorificPrefix":"Dr.","honorificSuffix":"Jr.","lastName":"Smith","locale":"en_US","login":"testAcc-4056058218@example.com","manager":"Jimbo","managerId":"222222","middleName":"John","mobilePhone":"1112223333","nickName":"Johnny","organization":"Testing Inc.","postalAddress":"1234 Testing St.","preferredLanguage":"en-us","primaryPhone":"4445556666","profileUrl":"http://www.example.com/profile","secondEmail":"test2-4056058218@example.com","state":"NY","streetAddress":"5678 Testing Ave.","timezone":"America/New_York","title":"Director","userType":"Employee","zipCode":"11111"},"type":{"id":"otytivnus5k8rPk4X1d7"},"realmId":"guotivlj45ZSJtnfF1d7"}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://oie-00.dne-okta.com/api/v1/users/00uvozd4iadwiT5uy1d7
        method: PUT
      response:
        body: '{"id":"00uvozd4iadwiT5uy1d7","status":"PROVISIONED","created":"2026-03-02T12:21:46.000Z","activated":"2026-03-02T12:21:53.000Z","statusChanged":"2026-03-02T1[...]
[...]
