---
version: 2
interactions:
    - id: 0
      request:
        host: oie-00.dne-okta.com
        body: |
            {"principalOrns":["orn:oktapreview:directory:00o3q4zilpjjJlLLu1d7:users:00uyvsuyidvzXszku1d7","orn:oktapreview:directory:00o3q4zilpjjJlLLu1d7:users:00uyvt2l73tZpHECT1d7"],"resourceOrns":["orn:oktapreview:governance:00o3q4zilpjjJlLLu1d7:entitlement-bundles:enbe1l39ckVceLqn11d6"]}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://oie-00.dne-okta.com/governance/api/v1/resource-owners
        method: POST
      response:
        body: '{"data":[{"parentResourceOrn":"orn:oktapreview:idp:00o3q4zilpjjJlLLu1d7:apps:saasure:0oa3q4zilxagApEOW1d7","principals":[{"id":"pri1c018z5103j9js1d7","type":"users","orn":"orn:oktapreview:directory:00o3q4zilpjjJlLLu1d7:users:00uyvsuyidvzXszku1d7","profile":{"id":"00uyvsuyidvzXszku1d7","name":"TestAcc ResourceOwner1","email":"testAcc-resource-owner1-3185324308@example.com","logo":[],"_links":{"self":{"href":"https://oie-00.dne-okta.com/admin/user/profile/view/00uyvsuyidvzXszku1d7","hints":{}}}}},{"id":"pri1c018z6KNpdtP61d7","type":"users","orn":"orn:oktapreview:directory:00o3q4zilpjjJlLLu1d7:users:00uyvt2l73tZpHECT1d7","profile":{"id":"00uyvt2l73tZpHECT1d7","name":"TestAcc ResourceOwner2","email":"testAcc-resource-owner2-3185324308@example.com","logo":[],"_links":{"self":{"href":"https://oie-00.dne-okta.com/admin/user/profile/view/00uyvt2l73tZpHECT1d7","hints":{}}}}}],"resource":{"id":"enbe1l39ckVceLqn11d6","type":"entitlement-bundles","orn":"orn:oktapreview:governance:00o3q4zilpjjJlLLu1d7:entitlement-bundles:enbe1l39ckVceLqn11d6","profile":{"id":"enbe1l39ckVceLqn11d6","name":"Read Only - Test bundle","description":"Read Only - Test bundle","logo":[]}}}]}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 757.39475ms
    - id: 1
      request:
        host: oie-00.dne-okta.com
        form:
            filter:
                - parentResourceOrn eq "orn:oktapreview:idp:00o3q4zilpjjJlLLu1d7:apps:saasure:0oa3q4zilxagApEOW1d7" AND resource.orn eq "orn:oktapreview:governance:00o3q4zilpjjJlLLu1d7:entitlement-bundles:enbe1l39ckVceLqn11d6"
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/governance/api/v1/resource-owners?filter=parentResourceOrn+eq+%22orn%3Aoktapreview%3Aidp%3A00o3q4zilpjjJlLLu1d7%3Aapps%3Asaasure%3A0oa3q4zilxagApEOW1d7%22+[...]
[...]
