---
version: 2
interactions:
- id: 0
  request:
    host: oie-00.dne-okta.com
    body: "{\"accessibility\":{},\"credentials\":{\"oauthClient\":{\"autoKeyRotation\":true,\"pkce_required\":false,\"token_endpoint_auth_method\":\"client_secret_basic\"},\"userNameTemplate\":{\"template\":\"${source.login}\",\"type\":\"BUILT_IN\"}},\"label\":\"testAcc_3471799147\",\"name\":\"oidc_client\",\"settings\":{\"notes\":{},\"oauthClient\":{\"application_type\":\"web\",\"consent_method\":\"TRUSTED\",\"dpop_bound_access_tokens\":false,\"grant_types\":[\"authorization_code\"],\"issuer_mode\":\"ORG_URL\",\"redirect_uris\":[\"https://example.com/callback\"],\"response_types\":[\"code\"],\"wildcard_redirect\":\"DISABLED\"}},\"signOnMode\":\"OPENID_CONNECT\",\"visibility\":{\"hide\":{\"iOS\":true,\"web\":true}}}\n"
    form:
      activate:
      - "true"
    headers:
      Authorization:
      - SSWS REDACTED
      Content-Type:
      - application/json
    url: https://oie-00.dne-okta.com/api/v1/apps?activate=true
    method: POST
  response:
    body: "{\"id\":\"0oarq3yjtno9hiDDR1d7\",\"orn\":\"orn:oktapreview:idp:00onkw1sbuAh3Q06I1d7:apps:oidc_client:0oarq3yjtno9hiDDR1d7\",\"name\":\"oidc_client\",\"label\":\"testAcc_3471799147\",\"status\":\"ACTIVE\",\"lastUpdated\":\"2025-11-10T18:26:47.000Z\",\"created\":\"2025-11-10T18:26:46.000Z\",\"accessibility\":{\"selfService\":false,\"errorRedirectUrl\":null,\"loginRedirectUrl\":null},\"visibility\":{\"autoLaunch\":false,\"autoSubmitToolbar\":false,\"hide\":{\"iOS\":true,\"web\":true},\"appLinks\":{\"oidc_client_link\":true}},\"features\":[],\"signOnMode\":\"OPENID_CONNECT\",\"credentials\":{\"userNameTemplate\":{\"template\":\"${source.login}\",\"type\":\"BUILT_IN\"},\"signing\":{\"kid\":\"sALQDM5PBTRR6dsVDGloCQexOBDrJNwQmFiZuWur7eo\"},\"oauthClient\":{\"autoKeyRotation\":true,\"client_id\":\"0oarq3yjtno9hiDDR1d7\",\"client_secret\":\"yCeGu6GrnQWraYgmrVW6RIpuvRG2TRZ2E5nsZ6cS1GjxTzBU3fHUxEd3QW68WsFA\",\"token_endpoint_auth_method\":\"client_secret_basic\",\"pkce_required\":false}},\"universalLogout\":{\"status\":\"DISABLED\",\"supportType\":\"FULL\",\"identityStack\":\"NOT_SHARED\",\"protocol\":\"GLOBAL_TOKEN_REVOCATION\"},\"settings\":{\"app\":{},\"notifications\":{\"vpn\":{\"network\":{\"connection\":\"DISABLED\"},\"message\":null,\"helpUrl\":null}},\"manualProvisioning\":false,\"implicitAssignment\":false,\"emOptInStatus\":\"NONE\",\"notes\":{\"admin\":null,\"enduser\":null},\"oauthClient\":{\"client_uri\":null,\"logo_uri\":null,\"redirect_uris\":[\"https://example.com/callback\"],\"response_types\":[\"code\"],\"grant_types\":[\"authorization_code\"],\"application_type\":\"web\",\"consent_method\":\"TRUSTED\",\"issuer_mode\":\"ORG_URL\",\"idp_initiated_login\":{\"mode\":\"DISABLED\",\"default_scope\":[]},\"wildcard_redirect\":\"DISABLED\",\"dpop_bound_access_tokens\":false,\"participate_slo\":false}},\"_links\":{\"uploadLogo\":{\"href\":\"https://oie-00/api/v1/apps/0oarq3yjtno9hiDDR1d7/logo\",\"hints\":{\"allow\":[\"POST\"]}},\"appLinks\":[{\"name\":\"oidc_client_link\",\"href\":\"https://oie-00/home/oidc_client/0oarq3yjtno9hiDDR1d7/aln177a159h7Zf52X0g8\",\"type\":\"text/html\"}],\"profileEnrollment\":{\"href\":\"https://oie-00/api/v1/policies/rstnkw1sgzCwhJaUs1d7\"},\"policies\":{\"href\":\"https://oie-00/api/v1/apps/0oarq3yjtno9hiDDR1d7/policies\",\"hints\":{\"allow\":[\"PUT\"]}},\"groups\":{\"href\":\"https://oie-00/api/v1/apps/0oarq3yjtno9hiDDR1d7/groups\"},\"logo\":[{\"name\":\"medium\",\"href\":\"https://op3static2.oktacdn.com/assets/img/logos/default.6770228fb0dab49a1695ef440a5279bb.png\",\"type\":\"image/png\"}],\"clientCredentials\":[{\"name\":\"secrets\",\"href\":\"https://oie-00/api/v1/apps/0oarq3yjtno9hiDDR1d7/credentials/secrets\"}],\"accessPolicy\":{\"href\":\"https://oie-00/api/v1/policies/rstnkw1sgxfqkDUtx1d7\"},\"users\":{\"href\":\"https://oie-00/api/v1/apps/0oarq3yjtno9hiDDR1d7/users\"},\"deactivate\":{\"href\":\"https://oie-00/api/v1/apps/0oarq3yjtno9hiDDR1d7/lifecycle/deactivate\"}}}"
    headers:
      Accept-Ch:
      - Sec-CH-UA-Platform-Version
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 3.060373584s
- id: 1
  request:
    host: oie-00.dne-okta.com
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://oie-00.dne-okta.com/.well-known/okta-organization
    method: GET
  response:
    body: "{\"id\":\"00onkw1sbuAh3Q06I1d7\",\"cell\":\"op3\",\"_links\":{\"organization\":{\"href\":\"https://oie-00\"}},\"pipeline\":\"idx\",\"settings\":{\"analyticsCollectionEnabled\":false,\"bugReportingEnabled\":true,\"omEnabled\":false,\"pssoEnabled\":true,\"desktopMFAEnabled\":true,\"itpEnabled\":true}}"
    headers:
      Accept-Ch:
      - Sec-CH-UA-Platform-Version
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 1.007273667s
- id: 2
  request:
    host: oie-00.dne-okta.com
    form:
      type:
      - ACCESS_POLICY
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://oie-00.dne-okta.com/api/v1/policies?type=ACCESS_POLICY
    method: GET
  response:
    body: "[{\"id\":\"rstnkw1sg2fWHAvjK1d7\",\"status\":\"ACTIVE\",\"name\":\"Okta Admin Console\",\"priority\":1,\"system\":false,\"conditions\":null,\"created\":\"2025-06-26T15:51:39.000Z\",\"lastUpdated\":\"2025-06-26T15:51:39.000Z\",\"_links\":{\"mappings\":{\"href\":\"https://oie-00/api/v1/policies/rstnkw1sg2fWHAvjK1d7/mappings\",\"hints\":{\"allow\":[\"GET\",\"POST\"]}},\"self\":{\"href\":\"https://oie-00/api/v1/policies/rstnkw1sg2fWHAvjK1d7\",\"hints\":{\"allow\":[\"GET\",\"PUT\",\"DELETE\"]}},\"rules\":{\"href\":\"https://oie-00/api/v1/policies/rstnkw1sg2fWHAvjK1d7/rules\",\"hints\":{\"allow\":[\"GET\",\"POST\"]}},\"deactivate\":{\"href\":\"https://oie-00/api/v1/policies/rstnkw1sg2fWHAvjK1d7/lifecycle/deactivate\",\"hints\":{\"allow\":[\"POST\"]}}},\"_embedded\":{\"resourceType\":\"APP\"},\"type\":\"ACCESS_POLICY\"},{\"id\":\"rstnkw1sg9IQmPCLu1d7\",\"status\":\"ACTIVE\",\"name\":\"Okta Dashboard\",\"priority\":1,\"system\":false,\"conditions\":null,\"created\":\"2025-06-26T15:51:39.000Z\",\"lastUpdated\":\"2025-06-26T15:51:39.000Z\",\"_links\":{\"mappings\":{\"href\":\"https://oie-00/api/v1/policies/rstnkw1sg9IQmPCLu1d7/mappings\",\"hints\":{\"allow\":[\"GET\",\"POST\"]}},\"self\":{\"href\":\"https://oie-00/api/v1/policies/rstnkw1sg9IQmPCLu1d7\",\"hints\":{\"allow\":[\"G[...]
- id: 3
  request:
    host: oie-00.dne-okta.com
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://oie-00.dne-okta.com/api/v1/apps/0oarq3yjtno9hiDDR1d7/policies/rstnkw1sgxfqkDUtx1d7
    method: PUT
  response:
    body: ""
    headers:
      Accept-Ch:
      - Sec-CH-UA-Platform-Version
    status: 204 No Content
    code: 204
    duration: 1.161596792s
- id: 4
  request:
    host: oie-00.dne-okta.com
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://oie-00.dne-okta.com/api/v1/apps/0oarq3yjtno9hiDDR1d7
    method: GET
  response:
    body: "{\"id\":\"0oarq3yjtno9hiDDR1d7\",\"orn\":\"orn:oktapreview:idp:00onkw1sbuAh3Q06I1d7:apps:oidc_client:0oarq3yjtno9hiDDR1d7\",\"name\":\"oidc_client\",\"label\":\"testAcc_3471799147\",\"status\":\"ACTIVE\",\"lastUpdated\":\"2025-11-10T18:26:47.000Z\",\"created\":\"2025-11-10T18:26:46.000[...]
- id: 5
  request:
    host: oie-00.dne-okta.com
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://oie-00.dne-okta.com/api/v1/internal/apps/0oarq3yjtno9hiDDR1d7/settings/oauth/idToken
    method: GET
  response:
    body: "{\"issuer\":\"https://oie-00\",\"orgUrl\":null,\"customUrl\":null,\"audience\":\"0oarq3yjtno9hiDDR1d7\",\"issuerMode\":\"ORG_URL\"}"
    headers:
      Accept-Ch:
      - Sec-CH-UA-Platform-Version
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 1.015303833s
[...]
- id: 10
  request:
    host: oie-00.dne-okta.com
    body: "{\"accessibility\":{},\"credentials\":{\"oauthClient\":{\"autoKeyRotation\":true,\"client_id\":\"0oarq3yjtno9hiDDR1d7\",\"client_secret\":\"yCeGu6GrnQWraYgmrVW6RIpuvRG2TRZ2E5nsZ6cS1GjxTzBU3fHUxEd3QW68WsFA\",\"pkce_required\":false,\"token_endpoint_auth_method\":\"client_secret_basic\"},\"userNameTemplate\":{\"template\":\"${source.login}\",\"type\":\"BUILT_IN\"}},\"label\":\"testAcc_3471799147\",\"name\":\"oidc_client\",\"profile\":{\"customAttribute123\":\"testing-custom-attribute\"},\"settings\":{\"app\":{},\"manualProvisioning\":false,\"notes\":{},\"oauthClient\":{\"application_type\":\"web\",\"consent_method\":\"TRUSTED\",\"dpop_bound_access_tokens\":false,\"grant_types\":[\"authorization_code\"],\"issuer_mode\":\"ORG_URL\",\"redirect_uris\":[\"https://example.com/callback\"],\"response_types\":[\"code\"],\"wildcard_redirect\":\"DISABLED\"}},\"signOnMode\":\"OPENID_CONNECT\",\"visibility\":{\"hide\":{\"iOS\":true,\"web\":true}}}\n"
    header[...]
[...]
- id: 19
  request:
    host: oie-00.dne-okta.com
    body: "{\"profile\":{\"name\":\"testAcc_3471799147\",\"description\":\"\"}}\n"
    headers:
      Authorization:
      - SSWS REDACTED
      Content-Type:
      - application/json
    url: https://oie-00.dne-okta.com/api/v1/groups
    method: POST
  response:
    body: "{\"id\":\"00grq3m947SpYbcc41d7\",\"created\":\"2025-11-10T18:27:17.000Z\",\"lastUpdated\":\"2025-11-10T18:27:17.000Z\",\"lastMembershipUpdated\":\"2025-11-10T18:27:17.000Z\",\"objectClass\":[\"okta:user_group\"],\"type\":\"OKTA_GROUP\",\"profile\":{\"name\":\"testAcc_3471799147\",\"description\":\"\"},\"_links\":{\"logo\":[{\"name\":\"medium\",\"href\":\"https://op3static2.oktacdn.com/assets/img/logos/groups/odyssey/okta-medium.30ce6d4085dff29412984e4c191bc874.png\",\"type\":\"image/png\"},{\"name\":\"large\",\"href\":\"https://op3static2.oktacdn.com/assets/img/logos/groups/odyssey/okta-large.c3cb8cda8ae0add1b4fe928f5844dbe3.png\",\"type\":\"image/png\"}],\"owners\":{\"href\":\"https://oie-00/api/v1/groups/00grq3m947SpYbcc41d7/owners\"},\"users\":{\"href\":\"https://oie-00/api/v1/groups/00grq3m947SpYbcc41d7/users\"},\"apps\":{\"href\":\"https://oie-00/api/v1/groups/00grq3m947SpYbcc41d7/apps\"}}}"
    headers:
      Accept-Ch:
      - Sec-CH-UA-Platform-Version
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 1.023844208s
- id: 20
  request:
    host: oie-00.dne-okta.com
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://oie-00.dne-okta.com/api/v1/groups/00grq3m947SpYbcc41d7
    method: GET
  response:
    body: "{\"id\":\"00grq3m947SpYbcc41d7\",\"created\":\"2025-11-10T18:27:17.000Z\",\"lastUpdated\":\"2025-11-10T18:27:17.000Z\",\"lastMembershipUpdated\":\"2025-11-10T18:27:17.000Z\",\"objectClass\":[\"okta:user_group\"],\"type\":\"OKTA_GROUP\",\"profile\":{\"name\":\"testAcc_3471799147\",\"description\":\"\"},\"_links\":{\"logo\":[{\"name\":\"medium\",\"href\":\"https://op3static2.oktacdn.com/assets/img/logos/groups/odyssey/okta-medium.30ce6d4085dff29412984e4c191bc874.png\",\"type\":\"image/png\"},{\"name\":\"large\",\"href\":\"https://op3static2.oktacdn.com/assets/img/logos/groups/odyssey/okta-large.c3cb8cda8ae0add1b4fe928f5844dbe3.png\",\"type\":\"image/png\"}],\"owners\":{\"href\":\"https://oie-00/api/v1/groups/00grq3m947SpYbcc41d7/owners\"},\"users\":{\"href\":\"https://oie-00/api/v1/groups/00grq3m947SpYbcc41d7/users\"},\"apps\":{\"href\":\"https://oie-00/api/v1/groups/00grq3m947SpYbcc41d7/apps\"}}}"
    headers:
      Accept-Ch:
      - Sec-CH-UA-Platform-Version
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 1.091844834s
[...]
- id: 22
  request:
    host: oie-00.dne-okta.com
    body: "{\"accessibility\":{},\"credentials\":{\"oauthClient\":{\"autoKeyRotation\":true,\"client_id\":\"0oarq3yjtno9hiDDR1d7\",\"client_secret\":\"yCeGu6GrnQWraYgmrVW6RIpuvRG2TRZ2E5nsZ6cS1GjxTzBU3fHUxEd3QW68WsFA\",\"pkce_required\":false,\"token_endpoint_auth_method\":\"client_secret_basic\"},\"userNameTemplate\":{\"template\":\"${source.login}\",\"type\":\"BUILT_IN\"}},\"label\":\"testAcc_3471799147\",\"name\":\"oidc_client\",\"profile\":{\"groups\":{\"whitelist\":[\"testAcc_3471799147\"]}},\"settings\":{\"app\":{},\"manualProvisioning\":false,\"notes\":{},\"oauthClient\":{\"application_type\":\"web\",\"consent_method\":\"TRUSTED\",\"dpop_bound_access_tokens\":false,\"grant_types\":[\"authorization_code\"],\"issuer_mode\":\"ORG_URL\",\"redirect_uris\":[\"https://example.com/callback\"],\"response_types\":[\"code\"],\"wildcard_redirect\":\"DISABLED\"}},\"signOnMode\":\"OPENID_CONNECT\",\"visibility\":{\"hide\":{\"iOS\":true,\"web\":true}}}\n"
    headers:
[...]
[...]
- id: 41
  request:
    host: oie-00.dne-okta.com
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://oie-00.dne-okta.com/api/v1/apps/0oarq3yjtno9hiDDR1d7/lifecycle/deactivate
    method: POST
  response:
    body: "{}"
    headers:
      Accept-Ch:
      - Sec-CH-UA-Platform-Version
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 1.068771083s
[...]
