---
version: 2
interactions:
    - id: 0
      request:
        host: mm-classic-2022-10-04.oktapreview.com
        body: |
            {"label":"testAcc_467563841","description":"testing, testing","permissions":["okta.apps.assignment.manage"]}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://mm-classic-2022-10-04.oktapreview.com/api/v1/iam/roles
        method: POST
      response:
        body: '{"id":"cr095uutgm6iAYjwT1d7","label":"testAcc_467563841","description":"testing, testing","created":"2023-07-27T20:15:30.000Z","lastUpdated":"2023-07-27T20:15:30.000Z","_links":{"permissions":{"href":"https://mm-classic-2022-10-04-admin.oktapreview.com/api/v1/iam/roles/cr095uutgm6iAYjwT1d7/permissions"},"self":{"href":"https://mm-classic-2022-10-04-admin.oktapreview.com/api/v1/iam/roles/cr095uutgm6iAYjwT1d7"}}}'
        headers:
            Content-Type:
                - application/json
            Link:
                - <https://mm-classic-2022-10-04-admin.oktapreview.com/api/v1/iam/roles/cr095uutgm6iAYjwT1d7>; rel="self"
        status: 200 OK
        code: 200
        duration: 192.289408ms
    - id: 1
      request:
        host: mm-classic-2022-10-04.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-classic-2022-10-04.oktapreview.com/api/v1/iam/roles/cr095uutgm6iAYjwT1d7
        method: GET
      response:
        body: '{"id":"cr095uutgm6iAYjwT1d7","label":"testAcc_467563841","description":"testing, testing","created":"2023-07-27T20:15:30.000Z","lastUpdated":"2023-07-27T20:15:30.000Z","_links":{"permissions":{"href":"https://mm-classic-2022-10-04-admin.oktapreview.com/api/v1/iam/roles/cr095uutgm6iAYjwT1d7/permissions"},"self":{"href":"https://mm-classic-2022-10-04-admin.oktapreview.com/api/v1/iam/roles/cr095uutgm6iAYjwT1d7"}}}'
        headers:
            Content-Type:
                - application/json
            Link:
                - <https://mm-classic-2022-10-04-admin.oktapreview.com/api/v1/iam/roles/cr095uutgm6iAYjwT1d7>; rel="self"
        status: 200 OK
        code: 200
        duration: 63.247032ms
    - id: 2
      request:
        host: mm-classic-2022-10-04.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-classic-2022-10-04.oktapreview.com/api/v1/iam/roles/cr095uutgm6iAYjwT1d7/permissions
        method: GET
      response:
        body: '{"permissions":[{"label":"okta.apps.assignment.manage","created":"2023-07-27T20:15:30.000Z","lastUpdated":"2023-07-27T20:15:30.000Z","conditions":null,"_links":{"role":{"href":"https://mm-classic-2022-10-04-admin.oktapreview.com/api/v1/iam/roles/cr095uutgm6iAYjwT1d7"},"self":{"href":"https://mm-classic-2022-10-04-admin.oktapreview.com/api/v1/iam/roles/cr095uutgm6iAYjwT1d7/permissions/okta.apps.assignment.manage"}}}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 85.607228ms
[...]
    - id: 6
      request:
        host: mm-classic-2022-10-04.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-classic-2022-10-04.oktapreview.com/api/v1/iam/roles/cr095uutgm6iAYjwT1d7/permissions/okta.users.read
        method: POST
      response:
        body: ""
        headers:
        status: 204 No Content
        code: 204
        duration: 131.283514ms
[...]
    - id: 10
      request:
        host: mm-classic-2022-10-04.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-classic-2022-10-04.oktapreview.com/api/v1/iam/roles/cr095uutgm6iAYjwT1d7
        method: GET
      response:
        body: '{"errorCode":"E0000007","errorSummary":"Not found: Resource not found: cr095uutgm6iAYjwT1d7 (CustomRole)","errorLink":"E0000007","errorId":"oaeKhOwMlxGSSOKTxAAh2ODBw","errorCauses":[]}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 81.013545ms
