---
version: 2
interactions:
    - id: 0
      request:
        host: mm-oie-2022-10-07-max.oktapreview.com
        body: |
            {"label":"testAcc_467563841","description":"testing, testing","permissions":["okta.apps.assignment.manage"]}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/iam/roles
        method: POST
      response:
        body: '{"id":"cr095tq6aaMLa4ToG1d7","label":"testAcc_467563841","description":"testing, testing","created":"2023-07-27T19:21:56.000Z","lastUpdated":"2023-07-27T19:21:56.000Z","_links":{"permissions":{"href":"https://mm-oie-2022-10-07-max-admin.oktapreview.com/api/v1/iam/roles/cr095tq6aaMLa4ToG1d7/permissions"},"self":{"href":"https://mm-oie-2022-10-07-max-admin.oktapreview.com/api/v1/iam/roles/cr095tq6aaMLa4ToG1d7"}}}'
        headers:
            Content-Type:
                - application/json
            Link:
                - <https://mm-oie-2022-10-07-max-admin.oktapreview.com/api/v1/iam/roles/cr095tq6aaMLa4ToG1d7>; rel="self"
        status: 200 OK
        code: 200
        duration: 182.428641ms
    - id: 1
      request:
        host: mm-oie-2022-10-07-max.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/iam/roles/cr095tq6aaMLa4ToG1d7
        method: GET
      response:
        body: '{"id":"cr095tq6aaMLa4ToG1d7","label":"testAcc_467563841","description":"testing, testing","created":"2023-07-27T19:21:56.000Z","lastUpdated":"2023-07-27T19:21:56.000Z","_links":{"permissions":{"href":"https://mm-oie-2022-10-07-max-admin.oktapreview.com/api/v1/iam/roles/cr095tq6aaMLa4ToG1d7/permissions"},"self":{"href":"https://mm-oie-2022-10-07-max-admin.oktapreview.com/api/v1/iam/roles/cr095tq6aaMLa4ToG1d7"}}}'
        headers:
            Content-Type:
                - application/json
            Link:
                - <https://mm-oie-2022-10-07-max-admin.oktapreview.com/api/v1/iam/roles/cr095tq6aaMLa4ToG1d7>; rel="self"
        status: 200 OK
        code: 200
        duration: 80.002631ms
    - id: 2
      request:
        host: mm-oie-2022-10-07-max.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/iam/roles/cr095tq6aaMLa4ToG1d7/permissions
        method: GET
      response:
        body: '{"permissions":[{"label":"okta.apps.assignment.manage","created":"2023-07-27T19:21:56.000Z","lastUpdated":"2023-07-27T19:21:56.000Z","conditions":null,"_links":{"role":{"href":"https://mm-oie-2022-10-07-max-admin.oktapreview.com/api/v1/iam/roles/cr095tq6aaMLa4ToG1d7"},"self":{"href":"https://mm-oie-2022-10-07-max-admin.oktapreview.com/api/v1/iam/roles/cr095tq6aaMLa4ToG1d7/permissions/okta.apps.assignment.manage"}}}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 70.082931ms
[...]
    - id: 6
      request:
        host: mm-oie-2022-10-07-max.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/iam/roles/cr095tq6aaMLa4ToG1d7/permissions/okta.users.read
        method: POST
      response:
        body: ""
        headers:
        status: 204 No Content
        code: 204
        duration: 92.497957ms
[...]
    - id: 10
      request:
        host: mm-oie-2022-10-07-max.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/iam/roles/cr095tq6aaMLa4ToG1d7
        method: GET
      response:
        body: '{"errorCode":"E0000007","errorSummary":"Not found: Resource not found: cr095tq6aaMLa4ToG1d7 (CustomRole)","errorLink":"E0000007","errorId":"oaeFF18Fwv2QBWN1sBX_DtuRA","errorCauses":[]}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 63.708791ms
