---
version: 1
interactions:
- request:
    body: |
      {"label":"testAcc_467563841","description":"testing, testing","permissions":["okta.apps.assignment.manage"]}
    form: {}
    headers:
      Authorization:
      - SSWS REDACTED
      Content-Type:
      - application/json
    url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/iam/roles
    method: POST
  response:
    body: '{"id":"cr07l81a76aP868F71d7","label":"testAcc_467563841","description":"testing, testing","created":"2023-04-06T18:49:08.000Z","lastUpdated":"2023-04-06T18:49:08.000Z","_links":{"permissions":{"href":"https://mm-oie-2022-10-07-max-admin.oktapreview.com/api/v1/iam/roles/cr07l81a76aP868F71d7/permissions"},"self":{"href":"https://mm-oie-2022-10-07-max-admin.oktapreview.com/api/v1/iam/roles/cr07l81a76aP868F71d7"}}}'
    headers:
      Content-Type:
      - application/json
      Link:
      - <https://mm-oie-2022-10-07-max-admin.oktapreview.com/api/v1/iam/roles/cr07l81a76aP868F71d7>; rel="self"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/iam/roles/cr07l81a76aP868F71d7
    method: GET
  response:
    body: '{"id":"cr07l81a76aP868F71d7","label":"testAcc_467563841","description":"testing, testing","created":"2023-04-06T18:49:08.000Z","lastUpdated":"2023-04-06T18:49:08.000Z","_links":{"permissions":{"href":"https://mm-oie-2022-10-07-max-admin.oktapreview.com/api/v1/iam/roles/cr07l81a76aP868F71d7/permissions"},"self":{"href":"https://mm-oie-2022-10-07-max-admin.oktapreview.com/api/v1/iam/roles/cr07l81a76aP868F71d7"}}}'
    headers:
      Content-Type:
      - application/json
      Link:
      - <https://mm-oie-2022-10-07-max-admin.oktapreview.com/api/v1/iam/roles/cr07l81a76aP868F71d7>; rel="self"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/iam/roles/cr07l81a76aP868F71d7/permissions
    method: GET
  response:
    body: '{"permissions":[{"label":"okta.apps.assignment.manage","created":"2023-04-06T18:49:08.000Z","lastUpdated":"2023-04-06T18:49:08.000Z","conditions":null,"_links":{"role":{"href":"https://mm-oie-2022-10-07-max-admin.oktapreview.com/api/v1/iam/roles/cr07l81a76aP868F71d7"},"self":{"href":"https://mm-oie-2022-10-07-max-admin.oktapreview.com/api/v1/iam/roles/cr07l81a76aP868F71d7/permissions/okta.apps.assignment.manage"}}}]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/iam/roles/cr07l81a76aP868F71d7/permissions/okta.users.read
    method: POST
  response:
    body: ""
    headers:
    status: 204 No Content
    code: 204
    duration: ""
[...]
