---
version: 1
interactions:
- request:
    body: |
      {"label":"testAcc_467563841","description":"testing, testing","permissions":["okta.apps.assignment.manage"]}
    form: {}
    headers:
      Authorization:
      - SSWS REDACTED
      Content-Type:
      - application/json
    url: https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/iam/roles
    method: POST
  response:
    body: '{"id":"cr06m99b85I3mhlYM1d7","label":"testAcc_467563841","description":"testing,
      testing","created":"2023-01-11T20:08:58.000Z","lastUpdated":"2023-01-11T20:08:58.000Z","_links":{"permissions":{"href":"https://tien-oie-tf-2022-09-21-admin.oktapreview.com/api/v1/iam/roles/cr06m99b85I3mhlYM1d7/permissions"},"self":{"href":"https://tien-oie-tf-2022-09-21-admin.oktapreview.com/api/v1/iam/roles/cr06m99b85I3mhlYM1d7"}}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/iam/roles/cr06m99b85I3mhlYM1d7
    method: GET
  response:
    body: '{"id":"cr06m99b85I3mhlYM1d7","label":"testAcc_467563841","description":"testing,
      testing","created":"2023-01-11T20:08:58.000Z","lastUpdated":"2023-01-11T20:08:58.000Z","_links":{"permissions":{"href":"https://tien-oie-tf-2022-09-21-admin.oktapreview.com/api/v1/iam/roles/cr06m99b85I3mhlYM1d7/permissions"},"self":{"href":"https://tien-oie-tf-2022-09-21-admin.oktapreview.com/api/v1/iam/roles/cr06m99b85I3mhlYM1d7"}}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/iam/roles/cr06m99b85I3mhlYM1d7/permissions
    method: GET
  response:
    body: '{"permissions":[{"label":"okta.apps.assignment.manage","created":"2023-01-11T20:08:58.000Z","lastUpdated":"2023-01-11T20:08:58.000Z","conditions":null,"_links":{"role":{"href":"https://tien-oie-tf-2022-09-21-admin.oktapreview.com/api/v1/iam/roles/cr06m99b85I3mhlYM1d7"},"self":{"href":"https://tien-oie-tf-2022-09-21-admin.oktapreview.com/api/v1/iam/roles/cr06m99b85I3mhlYM1d7/permissions/okta.apps.assignment.manage"}}}]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/iam/roles/cr06m99b85I3mhlYM1d7/permissions/okta.users.read
    method: POST
  response:
    body: ""
    headers:
    status: 204 No Content
    code: 204
    duration: ""
[...]
