---
version: 2
interactions:
    - id: 0
      request:
        host: classic-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/.well-known/okta-organization
        method: GET
      response:
        body: '{"id":"00otivnuq1X5554yc1d7","cell":"op3","_links":{"organization":{"href":"https://classic-00.dne-okta.com"}},"pipeline":"idx","settings":{"analyticsCollectionEnabled":false,"bugReportingEnabled":true,"omEnabled":false,"pssoEnabled":false,"desktopMFAEnabled":false,"itpEnabled":false}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.861855416s
    - id: 1
      request:
        host: classic-00.dne-okta.com
        body: |
            {"accessibility":{"selfService":false},"credentials":{"userNameTemplate":{"template":"${source.login}","type":"BUILT_IN"}},"label":"My App","settings":{"app":{},"implicitAssignment":false,"notes":{"admin":null,"enduser":null},"signOn":{"allowMultipleAcsEndpoints":false,"assertionSigned":false,"attributeStatements":[],"audience":"https://audience.com","audienceOverride":"","authnContextClassRef":"urn:oasis:names:tc:SAML:2.0:ac:classes:PasswordProtectedTransport","defaultRelayState":"","destination":"https://its-about-the-journey.com","destinationOverride":"","digestAlgorithm":"SHA256","honorForceAuthn":false,"recipient":"https://here.com","recipientOverride":"","responseSigned":true,"samlSignedRequestEnabled":false,"signatureAlgorithm":"RSA_SHA256","slo":{"enabled":false},"ssoAcsUrl":"https://google.com","ssoAcsUrlOverride":"","subjectNameIdFormat":"urn:oasis:names:tc:SAML:1.1:nameid-format:emailAddress","subjectNameIdTemplate":"${user.userName}"}},"signOnMode":"SAML_2_0","visibility":{"autoSubmitToolbar":false,"hide":{"iOS":false,"web":false}}}
        form:
            activate:
                - "true"
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://classic-00.dne-okta.com/api/v1/apps?activate=true
        method: POST
      response:
        body: '{"id":"0oau04z3ff1nNlqj51d7","orn":"orn:oktapreview:idp:00otivnuq1X5554yc1d7:apps:classic-00_myapp_11:0oau04z3ff1nNlqj51d7","name":"classic-00_myapp_11","label":"My App","status":"ACTIVE","lastUpdated":"2026-01-20T12:09:24.000Z","created":"2026-01-20T12:09:24.000Z","accessibility":{"selfService":false,"errorRedirectUrl":null,"loginRedirectUrl":null},"visibility":{"autoLaunch":false,"autoSubmitToolbar":false,"hide":{"iOS":false,"web":false},"appLinks":{"classic-00_myapp_11_link":true}},"features":[],"signOnMode":"SAML_2_0","credentials":{"userNameTemplate":{"template":"${source.login}","type":"BUILT_IN"},"signing":{"kid":"L54QCpmqXAQZetLiaHBtuEapVqldAlx0LPQPnlYFBEI"}},"universalLogout":null,"settings":{"app":{},"notifications":{"vpn":{"network":{"connection":"DISABLED"},"message":null,"helpUrl":null}},"manualProvisioning":false,"implicitAssignment":false,"emOptInStatus":"NONE","notes":{"admin":null,"enduser":null},"signOn":{"defaultRelayState":"","ssoAcsUrl":"https://google.com","idpIssuer":"http://www.okta.com/${org.externalKey}","audience":"https://audience.com","recipient":"https://here.com","destination":"https://its-about-the-journey.com","subjectNameIdTemplate":"${user.userName}","subjectNameIdFormat":"urn:oasis:names:tc:SAML:1.1:nameid-format:emailAddress","responseSigned":true,"assertionSigned":false,"signatureAlgorithm":"RSA_SHA256","digestAlgorithm":"SHA256","honorForceAuthn":false,"authnContextClassRef":"urn:oasis:names:tc:SAML:2.0:ac:classes:PasswordProtectedTransport","spIssuer":null,"requestCompressed":false,"attributeStatements":[],"inlineHooks":[],"assertionEncryption":{"enabled":false},"allowMultipleAcsEndpoints":false,"acsEndpoints":[],"samlSignedRequestEnabled":false,"slo":{"enabled":false}}},"_links":{"help":{"href":"https://classic-00-admin.dne-okta.com/app/classic-00_myapp_11/0oau04z3ff1nNlqj51d7/setup/help/SAML_2_0/instructions","type":"text/html"},"metadata":{"href":"https://classic-00.dne-okta.com/api/v1/apps/0oau04z3ff1nNlqj51d7/sso/saml/metadata","type":"application/xml"},"uploadLogo":{"href":"https://classic-00.dne-okta.com/api/v1/apps/0oau04z3ff1nNlqj51d7/logo","hints":{"allow":["POST"]}},"appLinks":[{"name":"classic-00_myapp_11_link","href":"https://classic-00.dne-okta.com/home/classic-00_myapp_11/0oau04z3ff1nNlqj51d7/alnu05g0i8422hm8C1d7","type":"text/html"}],"profileEnrollment":{"href":"https://classic-00.dne-okta.com/api/v1/policies/rsttivnuviYmKDYit1d7"},"policies":{"href":"https://classic-00.dne-okta.com/api/v1/apps/0oau04z3ff1nNlqj51d7/policies","hints":{"allow":["PUT"]}},"groups":{"href":"https://classic-00.dne-okta.com/api/v1/apps/0oau04z3ff1nNlqj51d7/groups"},"logo":[{"name":"medium","href":"https://op3static2.oktacdn.com/assets/img/logos/default.6770228fb0dab49a1695ef440a5279bb.png","type":"image/png"}],"accessPolicy":{"href":"https://classic-00.dne-okta.com/api/v1/policies/rsttivnuvg01CxhjA1d7"},"users":{"href":"https://classic-00.dne-okta.com/api/v1/apps/0oau04z3ff1nNlqj51d7/users"},"deactivate":{"href":"https://classic-00.dne-okta.com/api/v1/apps/0oau04z3ff1nNlqj51d7/lifecycle/deactivate"}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.911201833s
    - id: 2
      request:
        host: classic-00.dne-okta.com
        body: |
            {"description":"The app signon policy used by our test app","name":"testAcc_Test_App_769517173","priority":1,"type":"ACCESS_POLICY"}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://classic-00.dne-okta.com/api/v1/policies
        method: POST
      response:
        body: '{"id":"rstu04yr0bcJlXNvf1d7","status":"ACTIVE","name":"testAcc_Test_App_769517173","description":"The app signon policy used by our test app","priority":1,"system":false,"conditions":null,"created":"2026-01-20T12:09:25.000Z","lastUpdated":"2026-01-20T12:09:25.000Z","_links":{"mappings":{"href":"https://classic-00.dne-okta.com/api/v1/policies/rstu04yr0bcJlXNvf1d7/mappings","hints":{"allow":["GET","POST"]}},"self":{"href":"https://classic-00.dne-okta.com/api/v1/policies/rstu04yr0bcJlXNvf1d7","hints":{"allow":["GET","PUT","DELETE"]}},"rules":{"href":"https://classic-00.dne-okta.com/api/v1/policies/rstu04yr0bcJlXNvf1d7/rules","hints":{"allow":["GET","POST"]}},"deactivate":{"href":"https://classic-00.dne-okta.com/api/v1/policies/rstu04yr0bcJlXNvf1d7/lifecycle/deactivate","hints":{"allow":["POST"]}}},"type":"ACCESS_POLICY"}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.093606209s
    - id: 3
      request:
        host: classic-00.dne-okta.com
        form:
            type:
                - ACCESS_POLICY
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/policies?type=ACCESS_POLICY
        method: GET
      response:
        body: '[{"id":"rsttivnuus97Z2Ua81d7","status":"ACTIVE","name":"Okta Admin Console","priority":1,"system":false,"conditions":null,"created":"2026-01-06T09:19:37.000Z","lastUpdated":"2026-01-06T09:19:37.000Z","_links":{"mappings":{"href":"https://classic-00.dne-okta.com/api/v1/policies/rsttivnuus97Z2Ua81d7/mappings","hints":{"allow":["GET","POST"]}},"self":{"href":"https://classic-00.dne-okta.com/api/v1/policies/rsttivnuus97Z2Ua81d7","hints":{"allow":["GET","PUT","DELETE"]}},"rules":{"href":"https://classic-00.dne-okta.com/api/v1/policies/rsttivnuus97Z2Ua81d7/rules","hints":{"allow":["GET","POST"]}},"deactivate":{"href":"https://classic-00.dne-okta.com/api/v1/policies/rsttivnuus97Z2Ua81d7/lifecycle/deactivate","hints":{"allow":["POST"]}}},"_embedded":{"resourceType":"APP"},"type":"ACCESS_POLICY"},{"id":"rsttivnuuz4MSxGin1d7","status":"ACTIVE","name":"Okta Dashboard","priority":1,"system":false,"conditions":null,"created":"2026-01-06T09:19:37.000Z","lastUpdated":"2026-01-06T09:19:37.000Z","_links":{"mappings":{"href":"https://classic-00.dne-okta.com/api/v1/policies/rsttivnuuz4MSxGin1d7/mappings","hints":{"allow":["GET","POST"]}},"self":{"href":"https://classic-00.dne-okta.com/api/v1/policies/rsttivnuuz4MSxGin1d7","hints":{"allow":["GET","PUT","DELETE"]}},"ru[...]
    - id: 4
      request:
        host: classic-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/policies/rstu04yr0bcJlXNvf1d7/rules
        method: GET
      response:
        body: '[{"id":"rulu04yr0cxFJkyb91d7","status":"ACTIVE","name":"Catch-all Rule","priority":99,"created":"2026-01-20T12:09:25.000Z","lastUpdated":"2026-01-20T12:09:25.000Z","system":true,"conditions":null,"actions":{"appSignOn":{"access":"ALLOW","verificationMethod":{"factorMode":"2FA","type":"ASSURANCE","reauthenticateIn":"PT12H","constraints":[{"possession":{"required":true,"deviceBound":"REQUIRED"}}]},"keepMeSignedIn":{"postAuth":"NOT_ALLOWED"}}},"_links":{"self":{"href":"https://classic-00.dne-okta.com/api/v1/policies/rstu04yr0bcJlXNvf1d7/rules/rulu04yr0cxFJkyb91d7","hints":{"allow":["GET","PUT"]}}},"type":"ACCESS_POLICY"}]'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.039133542s
    - id: 5
      request:
        host: classic-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/apps/0oau04z3ff1nNlqj51d7/policies/rsttivnuvg01CxhjA1d7
        method: PUT
      response:
        body: ""
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
        status: 204 No Content
        code: 204
        duration: 1.102105542s
    - id: 6
      request:
        host: classic-00.dne-okta.com
        body: |
            {"actions":{"appSignOn":{"access":"ALLOW","verificationMethod":{"constraints":[{"knowledge":{"reauthenticateIn":"PT2H","types":["password"],"required":true},"possession":{"authenticationMethods":[{"key":"external_idp","id":"auttixlvpvfch3xmO1d7","method":"idp"}],"required":true,"userPresence":"OPTIONAL"}}],"factorMode":"2FA","reauthenticateIn":"PT2H","type":"ASSURANCE"}}},"conditions":{"network":{"connection":"ANYWHERE"},"platform":{},"elCondition":{}},"name":"test-rule","priority":0,"type":"ACCESS_POLICY"}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://classic-00.dne-okta.com/api/v1/policies/rstu04yr0bcJlXNvf1d7/rules
        method: POST
      response:
        body: '{"id":"rulu0535wxYPnvItL1d7","status":"ACTIVE","name":"test-rule","priority":0,"created":"2026-01-20T12:09:27.000Z","lastUpdated":"2026-01-20T12:09:27.000Z","system":false,"conditions":{"people":{"users":{"exclude":[]}},"network":{"connection":"ANYWHERE"},"userType":{"include":[],"exclude":[]}},"actions":{"appSignOn":{"access":"ALLOW","verificationMethod":{"factorMode":"2FA","type":"ASSURANCE","reauthenticateIn":"PT2H","constraints":[{"knowledge":{"required":true,"types":["password"],"reauthenticateIn":"PT2H"},"possession":{"required":true,"authenticationMethods":[{"key":"external_idp","id":"auttixlvpvfch3xmO1d7","method":"idp"}],"userPresence":"OPTIONAL"}}]},"keepMeSignedIn":{"postAuth":"NOT_ALLOWED"}}},"_links":{"self":{"href":"https://classic-00.dne-okta.com/api/v1/policies/rstu04yr0bcJlXNvf1d7/rules/rulu0535wxYPnvItL1d7","hints":{"allow":["GET","PUT","DELETE"]}},"deactivate":{"href":"https://classic-00.dne-okta.com/api/v1/policies/rstu04yr0bcJlXNvf1d7/rules/rulu0535wxYPnvItL1d7/lifecycle/deactivate","hints":{"allow":["POST"]}}},"type":"ACCESS_POLICY"}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.08589675s
    - id: 7
      request:
        host: classic-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/apps/0oau04z3ff1nNlqj51d7
        method: GET
      response:
        body: '{"id":"0oau04z3ff1nNlqj51d7","orn":"orn:oktapreview:idp:00otivnuq1X5554yc1d7:apps:classic-00_myapp_11:0oau04z3ff1nNlqj51d7","name":"classic-00_myapp_11","label":"My App","status":"ACTIVE","lastUpdated":"2026-01-20T12:09:24.000Z","[...]
    - id: 8
      request:
        host: classic-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/policies/rstu04yr0bcJlXNvf1d7/rules/rulu0535wxYPnvItL1d7
        method: GET
      response:
        body: '{"id":"rulu0535wxYPnvItL1d7","status":"ACTIVE","name":"test-rule","priority":0,"created":"2026-01-20T12:09:27.000Z","lastUpdated":"2026-01-20T12:09:27.000Z","system":false,"conditions":{"people":{"us[...]
    - id: 9
      request:
        host: classic-00.dne-okta.com
        form:
            kid:
                - L54QCpmqXAQZetLiaHBtuEapVqldAlx0LPQPnlYFBEI
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/apps/0oau04z3ff1nNlqj51d7/sso/saml/metadata?kid=L54QCpmqXAQZetLiaHBtuEapVqldAlx0LPQPnlYFBEI
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?><md:EntityDescriptor entityID="http://www.okta.com/exku04z3feR13wIzO1d7" xmlns:md="urn:oasis:names:tc:SAML:2.0:metadata"><md:IDPSSODescriptor WantAuthnRequestsSigned="false" protocolSupportEnumeration="urn:oasis:names:tc:SAML:2.0:protocol"><md:KeyDescriptor use="signing"><ds:KeyInfo xmlns:ds="http://www.w3.org/2000/09/xmldsig#"><ds:X509Data><ds:X509Certificate>MIIDwjCCAqqgAwIBAgIGAZvbT0Z6MA0GCSqGSIb3DQEBCwUAMIGhMQswCQYDVQQGEwJVUzETMBEG
            A1UECAwKQ2FsaWZvcm5pYTEWMBQGA1UEBwwNU2FuIEZyYW5jaXNjbzENMAsGA1UECgwET2t0YTEU
            MBIGA1UECwwLU1NPUHJvdmlkZXIxIjAgBgNVBAMMGWRjcC10Zi10ZXN0aW5nLTIwMjYtMDEtMDYx
            HDAaBgkqhkiG9w0BCQEWDWluZm9Ab2t0YS5jb20wHhcNMjYwMTIwMTIwODI0WhcNMzYwMTIwMTIw
            OTI0WjCBoTELMAkGA1UEBhMCVVMxEzARBgNVBAgMCkNhbGlmb3JuaWExFjAUBgNVBAcMDVNhbiBG
            cmFuY2lzY28xDTALBgNVBAoMBE9rdGExFDASBgNVBAsMC1NTT1Byb3Z[...]
    - id: 10
      request:
        host: classic-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/apps/0oau04z3ff1nNlqj51d7/credentials/keys
        method: GET
      response:
        body: '[{"kty":"RSA","created":"2026-01-20T12:09:24.000Z","lastUpdated":"2026-01-20T12:09:24.000Z","expiresAt":"2036-01-20T12:09:24.000Z","kid":"L54QCpmqXAQZetLiaHBtuEapVqldAlx0LPQPnlYFBEI","use":"sig","x5c":["MIIDwjCCAqqgAwIBAgIGAZvbT0Z6MA0GCSqGSIb3DQEBCwUAMIGhMQswCQYDVQQGEwJVUzETMBEGA1UECAwKQ2FsaWZvcm5pYTEWMBQGA1UEBwwNU2FuIEZyYW5jaXNjbzENMAsGA1UECgwET2t0YTEUMBIGA1UECwwLU1NPUHJvdmlkZXIxIjAgBgNVBAMMGWRjcC10Zi10ZXN0aW5nLTIwMjYtMDEtMDYxHDAaBgkqhkiG9w0BCQEWDWluZm9Ab2t0YS5jb20wHhcNMjYwMTIwMTIwODI0WhcNMzYwMTIwMTIwOTI0WjCBoTELMAkGA1UEBhMCVVMxEzARBgNVBAgMCkNhbGlmb3JuaWExFjAUBgNVBAcMDVNhbiBGcmFuY2lzY28xDTALBgNVBAoMBE9rdGExFDASBgNVBAsMC1NTT1Byb3ZpZGVyMSIwIAYDVQQDDBlkY3AtdGYtdGVzdGluZy0yMDI2LTAxLTA2MRwwGgYJKo[...]
    - id: 11
      request:
        host: classic-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/policies/rstu04yr0bcJlXNvf1d7
        method: GET
      response:
        body: '{"id":"rstu04yr0bcJlXNvf1d7","status":"ACTIVE","name":"testAcc_Test_App_769517173","description":"The app signon policy used by our test app","priority":1,"system":false,"conditions":null,"created":"2026-01-20T12:09:25.000Z","lastUpdated":"2026-01-20T12:09:25.000Z","_links":{"mappings":{"href":"https://classic-00.dne-okta.com/api/v1/policies/rstu04yr0bcJlXNvf1d7/mappings","hints":{"allow":["GET","POST"]}},"self":{"href":"https://classic-00.dne-okta.com/api/v1/policies/rstu04yr0bcJlXNvf1d7","hints":{"allow":["GET","PUT","DELETE"]}},"rules":{"href":"https://classic-00.dne-okta.com/api/v1/policies/rstu04yr0bcJlXNvf1d7/rules","hints":{"allow":["GET","POST"]}},"deactivate":{"href":"https://classic-00.dne-okta.com/api/v1/policies/rstu04yr0bcJlXNvf1d7/lifecycle/deactivate","hints":{"allow":["POST"]}}},"type":"ACCESS_POLICY"}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.04442125s
[...]
    - id: 18
      request:
        host: classic-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/apps/0oau04z3ff1nNlqj51d7/lifecycle/deactivate
        method: POST
      response:
        body: '{}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.094600708s
[...]
    - id: 21
      request:
        host: classic-00.dne-okta.com
        form:
            limit:
                - "200"
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/apps?limit=200
        method: GET
      response:
        body: '[{"id":"0oativnuqbgajXoTK1d7","orn":"orn:oktapreview:idp:00otivnuq1X5554yc1d7:apps:saasure:0oativnuqbgajXoTK1d7","name":"saasure","label":"Okta Admin Console","status":"ACTIVE","lastUpdated":"2026-01-06T09:19:34.000Z","created":"2026-01-06T09:19:34.000Z","accessibility":{"selfServ[...]
[...]
