---
version: 2
interactions:
    - id: 0
      request:
        host: mm-classic-2022-10-04.oktapreview.com
        body: |
            {"credentials":{"password":{}},"profile":{"email":"testAcc-327149297@example.com","firstName":"TestAcc","lastName":"Smith","login":"testAcc-327149297@example.com","postalAddress":null}}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://mm-classic-2022-10-04.oktapreview.com/api/v1/users
        method: POST
      response:
        body: '{"id":"00u95v7wssWubxOKe1d7","status":"PROVISIONED","created":"2023-07-27T20:34:55.000Z","activated":"2023-07-27T20:34:55.000Z","statusChanged":"2023-07-27T20:34:55.000Z","lastLogin":null,"lastUpdated":"2023-07-27T20:34:55.000Z","passwordChanged":null,"type":{"id":"oty5ptm052JMcoADv1d7"},"profile":{"firstName":"TestAcc","lastName":"Smith","mobilePhone":null,"secondEmail":null,"login":"testAcc-327149297@example.com","email":"testAcc-327149297@example.com"},"credentials":{"provider":{"type":"OKTA","name":"OKTA"}},"_links":{"suspend":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/users/00u95v7wssWubxOKe1d7/lifecycle/suspend","method":"POST"},"schema":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/meta/schemas/user/osc5ptm052JMcoADv1d7"},"resetPassword":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/users/00u95v7wssWubxOKe1d7/lifecycle/reset_password","method":"POST"},"reactivate":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/users/00u95v7wssWubxOKe1d7/lifecycle/reactivate","method":"POST"},"self":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/users/00u95v7wssWubxOKe1d7"},"type":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/meta/types/user/oty5ptm052JMcoADv1d7"},"deactivate":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/users/00u95v7wssWubxOKe1d7/lifecycle/deactivate","method":"POST"}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 435.052357ms
    - id: 1
      request:
        host: mm-classic-2022-10-04.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-classic-2022-10-04.oktapreview.com/api/v1/users/00u95v7wssWubxOKe1d7
        method: GET
      response:
        body: '{"id":"00u95v7wssWubxOKe1d7","status":"PROVISIONED","created":"2023-07-27T20:34:55.000Z","activated":"2023-07-27T20:34:55.000Z","statusChanged":"2023-07-27T20:34:55.00[...]
    - id: 2
      request:
        host: mm-classic-2022-10-04.oktapreview.com
        body: |
            {"type":"APP_ADMIN"}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://mm-classic-2022-10-04.oktapreview.com/api/v1/users/00u95v7wssWubxOKe1d7/roles?disableNotifications=false
        method: POST
      response:
        body: '{"id":"IFIFAX2BIRGUSTQ","label":"Application Administrator","type":"APP_ADMIN","status":"ACTIVE","created":"2023-07-27T20:34:56.000Z","lastUpdated":"2023-07-27T20:34:56.000Z","assignmentType":"USER","_links":{"assignee":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/users/00u95v7wssWubxOKe1d7"}}}'
        headers:
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 347.169272ms
[...]
    - id: 5
      request:
        host: mm-classic-2022-10-04.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-classic-2022-10-04.oktapreview.com/api/v1/users/00u95v7wssWubxOKe1d7/roles
        method: GET
      response:
        body: '[{"id":"IFIFAX2BIRGUSTQ","label":"Application Administrator","type":"APP_ADMIN","status":"ACTIVE","created":"2023-07-27T20:34:57.000Z","lastUpdated":"2023-07-27T20:34:57.000Z","assignmentType":"USER","_links":{"assignee":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/users/00u95v7wssWubxOKe1d7"}}},{"id":"KVJUKUS7IFCE2SKO","label":"Group Administrator","type":"USER_ADMIN","status":"ACTIVE","created":"2023-07-27T20:34:57.000Z","lastUpdated":"2023-07-27T20:34:57.000Z","assignmentType":"USER","_links":{"assignee":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/users/00u95v7wssWubxOKe1d7"}}}]'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 62.908986ms
[...]
    - id: 15
      request:
        host: mm-classic-2022-10-04.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-classic-2022-10-04.oktapreview.com/api/v1/users/00u95v7wssWubxOKe1d7/roles/KVJUKUS7IFCE2SKO
        method: DELETE
      response:
        body: ""
        headers:
        status: 204 No Content
        code: 204
        duration: 164.402798ms
    - id: 16
      request:
        host: mm-classic-2022-10-04.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-classic-2022-10-04.oktapreview.com/api/v1/users/00u95v7wssWubxOKe1d7/roles/JBCUYUC7IRCVGS27IFCE2SKO
        method: DELETE
      response:
        body: ""
        headers:
        status: 204 No Content
        code: 204
        duration: 145.821291ms
[...]
    - id: 20
      request:
        host: mm-classic-2022-10-04.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-classic-2022-10-04.oktapreview.com/api/v1/users/00u95v7wssWubxOKe1d7/roles/IFIFAX2BIRGUSTQ
        method: DELETE
      response:
        body: ""
        headers:
        status: 204 No Content
        code: 204
        duration: 148.865922ms
[...]
    - id: 23
      request:
        host: mm-classic-2022-10-04.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-classic-2022-10-04.oktapreview.com/api/v1/users/00u95v7wssWubxOKe1d7
        method: GET
      response:
        body: '{"errorCode":"E0000007","errorSummary":"Not found: Resource not found: 00u95v7wssWubxOKe1d7 (User)","errorLink":"E0000007","errorId":"oaerhDj_VdgQxCCdqLI2ErWdw","errorCauses":[]}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 65.755195ms
[...]
