---
version: 2
interactions:
    - id: 0
      request:
        host: skip-auth-policy-00.dne-okta.com
        body: |
            {"accessibility":{"selfService":false},"label":"testAcc_248474013","name":"bookmark","settings":{"app":{"requestIntegration":false,"url":"https://test.com"},"notes":{"admin":null,"enduser":null}},"signOnMode":"BOOKMARK","visibility":{"autoSubmitToolbar":false,"hide":{"iOS":false,"web":false}}}
        form:
            activate:
                - "true"
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://skip-auth-policy-00.dne-okta.com/api/v1/apps?activate=true
        method: POST
      response:
        body: '{"id":"0oatzy7x5smsJ4wNk697","orn":"orn:okta:idp:00osd501x0KyUtOul697:apps:bookmark:0oatzy7x5smsJ4wNk697","name":"bookmark","label":"testAcc_248474013","status":"ACTIVE","lastUpdated":"2025-08-08T02:14:49.000Z","created":"2025-08-08T02:14:49.000Z","accessibility":{"selfService":false,"errorRedirectUrl":null,"loginRedirectUrl":null},"visibility":{"autoLaunch":false,"autoSubmitToolbar":false,"hide":{"iOS":false,"web":false},"appLinks":{"login":true}},"features":[],"signOnMode":"BOOKMARK","credentials":{"userNameTemplate":{"template":"${source.login}","type":"BUILT_IN"},"signing":{}},"universalLogout":null,"settings":{"app":{"requestIntegration":false,"url":"https://test.com"},"notifications":{"vpn":{"network":{"connection":"DISABLED"},"message":null,"helpUrl":null}},"manualProvisioning":false,"implicitAssignment":false,"emOptInStatus":"NONE","notes":{"admin":null,"enduser":null}},"_links":{"uploadLogo":{"href":"https://skip-auth-policy-00.dne-okta.com/api/v1/apps/0oatzy7x5smsJ4wNk697/logo","hints":{"allow":["POST"]}},"appLinks":[{"name":"login","href":"https://skip-auth-policy-00.dne-okta.com/home/bookmark/0oatzy7x5smsJ4wNk697/2557","type":"text/html"}],"profileEnrollment":{"href":"https://skip-auth-policy-00.dne-okta.com/api/v1/policies/rstsd5022rAok3aFp697"},"policies":{"href":"https://skip-auth-policy-00.dne-okta.com/api/v1/apps/0oatzy7x5smsJ4wNk697/policies","hints":{"allow":["PUT"]}},"groups":{"href":"https://skip-auth-policy-00.dne-okta.com/api/v1/apps/0oatzy7x5smsJ4wNk697/groups"},"logo":[{"name":"medium","href":"https://ok14static.oktacdn.com/assets/img/logos/bookmark-app.b81c03e2607468e5b5f9c9351c99313e.png","type":"image/png"}],"accessPolicy":{"href":"https://skip-auth-policy-00.dne-okta.com/api/v1/policies/rstsd5022pPoMSA4q697"},"users":{"href":"https://skip-auth-policy-00.dne-okta.com/api/v1/apps/0oatzy7x5smsJ4wNk697/users"},"deactivate":{"href":"https://skip-auth-policy-00.dne-okta.com/api/v1/apps/0oatzy7x5smsJ4wNk697/lifecycle/deactivate"}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.122921584s
    - id: 1
      request:
        host: skip-auth-policy-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://skip-auth-policy-00.dne-okta.com/.well-known/okta-organization
        method: GET
      response:
        body: '{"id":"00osd501x0KyUtOul697","cell":"ok14","_links":{"organization":{"href":"https://skip-auth-policy-00.dne-okta.com"}},"pipeline":"idx","settings":{"analyticsCollectionEnabled":true,"bugReportingEnabled":true,"omEnabled":false,"pssoEnabled":false,"desktopMFAEnabled":false,"itpEnabled":true}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 638.073375ms
    - id: 2
      request:
        host: skip-auth-policy-00.dne-okta.com
        form:
            type:
                - ACCESS_POLICY
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://skip-auth-policy-00.dne-okta.com/api/v1/policies?type=ACCESS_POLICY
        method: GET
      response:
        body: '[{"id":"rstsd5021voj5gb73697","status":"ACTIVE","name":"Okta Admin Console","priority":1,"system":false,"conditions":null,"created":"2025-06-16T00:28:16.000Z","lastUpdated":"2025-06-16T00:28:16.000Z","_links":{"mappings":{"href":"https://skip-auth-policy-00.dne-okta.com/api/v1/policies/rstsd5021voj5gb73697/mappings","hints":{"allow":["GET","POST"]}},"self":{"href":"https://skip-auth-policy-00.dne-okta.com/api/v1/policies/rstsd5021voj5gb73697","hints":{"allow":["GET","PUT","DELETE"]}},"rules":{"href":"https://skip-auth-policy-00.dne-okta.com/api/v1/policies/rstsd5021voj5gb73697/rules","hints":{"allow":["GET","POST"]}},"deactivate":{"href":"https://skip-auth-policy-00.dne-okta.com/api/v1/policies/rstsd5021voj5gb73697/lifecycle/deactivate","hints":{"allow":["POST"]}}},"_embedded":{"resourceType":"APP"},"type":"ACCESS_POLICY"},{"id":"rstsd50222gqdCXKi697","status":"ACTIVE","name":"Okta Dashboard","priority":1,"system":false,"conditions":null,"created":"2025-06-16T00:28:16.000Z","lastUpdated":"2025-06-16T00:28:16.000Z","_links":{"mappings":{"href":"https://skip-auth-policy-00.dne-okta.com/api/v1/policies/rstsd50222gqdCXKi697/mappings","hints":{"allow":["GET","POST"]}},"self":{"href":"https://skip-auth-policy-00.dne-okta.com/api/v1/policies/rstsd50222gqdCXKi697","hints":{"allow":["GET","PU[...]
    - id: 3
      request:
        host: skip-auth-policy-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://skip-auth-policy-00.dne-okta.com/api/v1/apps/0oatzy7x5smsJ4wNk697/policies/rstsd5022pPoMSA4q697
        method: PUT
      response:
        body: ""
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
        status: 204 No Content
        code: 204
        duration: 771.093209ms
    - id: 4
      request:
        host: skip-auth-policy-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://skip-auth-policy-00.dne-okta.com/api/v1/apps/0oatzy7x5smsJ4wNk697
        method: GET
      response:
        body: '{"id":"0oatzy7x5smsJ4wNk697","orn":"orn:okta:idp:00osd501x0KyUtOul697:apps:bookmark:0oatzy7x5smsJ4wNk697","name":"bookmark","label":"testAcc_248474013","status":"ACTIVE","lastUpdated":"2025-08-08T02:14:49.000Z","[...]
[...]
    - id: 7
      request:
        host: skip-auth-policy-00.dne-okta.com
        body: |
            {"accessibility":{"selfService":false},"label":"testAcc_248474013","name":"bookmark","settings":{"app":{"requestIntegration":false,"url":"https://example.com"},"notes":{"admin":null,"enduser":null}},"signOnMode":"BOOKMARK","visibility":{"appLinks":{"login":true},"autoSubmitToolbar":false,"hide":{"iOS":false,"web":false}}}
        headers:
            Authorization:
                - SSWS REDACTE[...]
[...]
    - id: 11
      request:
        host: skip-auth-policy-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://skip-auth-policy-00.dne-okta.com/api/v1/apps/0oatzy7x5smsJ4wNk697/lifecycle/deactivate
        method: POST
      response:
        body: '{}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 701.49ms
[...]
