---
version: 2
interactions:
    - id: 0
      request:
        host: oie-00.dne-okta.com
        body: |
            {"label":"testAcc_2808315154","description":"testing, testing","resources":["https://oie-00.dne-okta.com/api/v1/groups","https://oie-00.dne-okta.com/api/v1/users"]}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://oie-00.dne-okta.com/api/v1/iam/resource-sets
        method: POST
      response:
        body: '{"id":"iamtf879ceBBMtFSq697","label":"testAcc_2808315154","description":"testing, testing","created":"2025-07-21T01:52:58.000Z","lastUpdated":"2025-07-21T01:52:58.000Z","_links":{"bindings":{"href":"https://oie-00.dne-okta.com/api/v1/iam/resource-sets/iamtf879ceBBMtFSq697/bindings"},"self":{"href":"https://oie-00.dne-okta.com/api/v1/iam/resource-sets/iamtf879ceBBMtFSq697"},"resources":{"href":"https://oie-00.dne-okta.com/api/v1/iam/resource-sets/iamtf879ceBBMtFSq697/resources"}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
            Link:
                - <https://oie-00.dne-okta.com/api/v1/iam/resource-sets/iamtf879ceBBMtFSq697>; rel="self"
        status: 200 OK
        code: 200
        duration: 672.561417ms
    - id: 1
      request:
        host: oie-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/iam/resource-sets/iamtf879ceBBMtFSq697
        method: GET
      response:
        body: '{"id":"iamtf879ceBBMtFSq697","label":"testAcc_2808315154","description":"testing, testing","created":"2025-07-21T01:52:58.000Z","lastUpdated":"2025-07-21T01:52:58.000Z","_links":{"bindings":{"href":"https://oie-00.dne-okta.com/api/v1/iam/resource-sets/iamtf879ceBBMtFSq697/bindings"},"self":{"href":"https://oie-00.dne-okta.com/api/v1/iam/resource-sets/iamtf879ceBBMtFSq697"},"resources":{"href":"https://oie-00.dne-okta.com/api/v1/iam/resource-sets/iamtf879ceBBMtFSq697/resources"}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
            Link:
                - <https://oie-00.dne-okta.com/api/v1/iam/resource-sets/iamtf879ceBBMtFSq697>; rel="self"
        status: 200 OK
        code: 200
        duration: 661.523042ms
    - id: 2
      request:
        host: oie-00.dne-okta.com
        form:
            limit:
                - "200"
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/iam/resource-sets/iamtf879ceBBMtFSq697/resources?limit=200
        method: GET
      response:
        body: '{"resources":[{"id":"iretf879cfV0MjNc0697","orn":"orn:okta:directory:00osd501x0KyUtOul697:users","created":"2025-07-21T01:52:58.000Z","lastUpdated":"2025-07-21T01:52:58.000Z","_links":{"self":{"href":"https://oie-00.dne-okta.com/api/v1/users"},"resource":{"href":"https://oie-00.dne-okta.com/api/v1/iam/resource-sets/iamtf879ceBBMtFSq697/resources/iretf879cfV0MjNc0697"},"users":{"href":"https://oie-00.dne-okta.com/api/v1/users"}}},{"id":"iretf879cgtCBm1el697","orn":"orn:okta:directory:00osd501x0KyUtOul697:groups","created":"2025-07-21T01:52:58.000Z","lastUpdated":"2025-07-21T01:52:58.000Z","_links":{"groups":{"href":"https://oie-00.dne-okta.com/api/v1/groups"},"self":{"href":"https://oie-00.dne-okta.com/api/v1/groups"},"resource":{"href":"https://oie-00.dne-okta.com/api/v1/iam/resource-sets/iamtf879ceBBMtFSq697/resources/iretf879cgtCBm1el697"}}}],"_links":{"resource-set":{"href":"https://oie-00.dne-okta.com/api/v1/iam/resource-sets/iamtf879ceBBMtFSq697"},"self":{"href":"https://oie-00.dne-okta.com/api/v1/iam/resource-sets/iamtf879ceBBMtFSq697/resources"}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
            Link:
                - <https://oie-00.dne-okta.com/api/v1/iam/resource-sets/iamtf879ceBBMtFSq697/resources>; rel="self"
        status: 200 OK
        code: 200
        duration: 659.973417ms
[...]
    - id: 16
      request:
        host: oie-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/iam/resource-sets/iamtf879ceBBMtFSq697/resources/iretf8bnlz5h1AwfT697
        method: DELETE
      response:
        body: ""
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
        status: 204 No Content
        code: 204
        duration: 677.413375ms
[...]
