---
version: 2
interactions:
    - id: 0
      request:
        host: oie-00.dne-okta.com
        body: |
            {"description":"Terraform Acceptance Test User Type","displayName":"Terraform Acceptance Test User Type","name":"testAcc_3467589678"}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://oie-00.dne-okta.com/api/v1/meta/types/user
        method: POST
      response:
        body: '{"id":"oty9i70rje5xUE67b1d7","displayName":"Terraform Acceptance Test User Type","name":"testAcc_3467589678","description":"Terraform Acceptance Test User Type","createdBy":"00u5qwjvk7u6E1DFG1d7","lastUpdatedBy":"00u5qwjvk7u6E1DFG1d7","created":"2023-08-15T23:30:44.000Z","lastUpdated":"2023-08-15T23:30:44.000Z","default":false,"_links":{"schema":{"rel":"schema","href":"https://oie-00.oktapreview.com/api/v1/meta/schemas/user/osc9i70rje5xUE67b1d7","method":"GET"},"self":{"rel":"self","href":"https://oie-00.oktapreview.com/api/v1/meta/types/user/oty9i70rje5xUE67b1d7","method":"GET"}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 174.852648ms
    - id: 1
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/meta/types/user/oty9i70rje5xUE67b1d7
        method: GET
      response:
        body: '{"id":"oty9i70rje5xUE67b1d7","displayName":"Terraform Acceptance Test User Type","name":"testAcc_3467589678","description":"Terraform Acceptance Test User Type","createdBy":"00u5qwjvk7u6E1DFG1d7","lastUpdatedBy":"00u5qwjvk7u6E1DFG1d7","created":"2023-08-15T23:30:44.000Z","lastUpdated":"2023-08-15T23:30:44.000Z","default":false,"_links":{"schema":{"rel":"schema","href":"https://oie-00.oktapreview.com/api/v1/meta/schemas/user/osc9i70rje5xUE67b1d7","method":"GET"},"self":{"rel":"self","href":"https://oie-00.oktapreview.com/api/v1/meta/types/user/oty9i70rje5xUE67b1d7","method":"GET"}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 80.715592ms
[...]
