---
version: 2
interactions:
    - id: 0
      request:
        host: classic-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/brands
        method: GET
      response:
        body: '[{"id":"bnd5ptm04rUA5HWie1d7","name":"New Brand","removePoweredByOkta":true,"customPrivacyPolicyUrl":"https://example.com/privacy-policy-updated","agreeToCustomPrivacyPolicy":true,"isDefault":true,"defaultApp":{"appInstanceId":null,"appLinkName":null,"classicApplicationUri":null},"_links":{"themes":{"href":"https://classic-00.oktapreview.com/api/v1/brands/bnd5ptm04rUA5HWie1d7/themes","hints":{"allow":["GET"]}},"self":{"href":"https://classic-00.oktapreview.com/api/v1/brands/bnd5ptm04rUA5HWie1d7","hints":{"allow":["GET","PUT","DELETE"]}}}},{"id":"bnd9cs2tdgR1InypP1d7","name":"testacc-1169019695.example.com","removePoweredByOkta":false,"customPrivacyPolicyUrl":null,"agreeToCustomPrivacyPolicy":false,"isDefault":false,"defaultApp":{"appInstanceId":"0oa5ptm06yhOD6Njl1d7","appLinkName":null,"classicApplicationUri":null},"_links":{"themes":{"href":"https://classic-00.oktapreview.com/api/v1/brands/bnd9cs2tdgR1InypP[...]
[...]
    - id: 2
      request:
        host: classic-00.dne-okta.com
        body: |
            {"brandId":"bnd9crnuj7Yfw2I8x1d7","displayName":"test","domain":"testAcc-386351645.example.com","userName":"fff"}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://classic-00.dne-okta.com/api/v1/email-domains
        method: POST
      response:
        body: '{"id":"OeD9i7hmvpumkmoSK1d7","validationStatus":"NOT_STARTED","displayName":"test","userName":"fff","domain":"testAcc-386351645.example.com","dnsValidationRecords":[{"recordType":"TXT","fqdn":"_oktaverification.testAcc-386351645.example.com","verificationValue":"3ff28778705c47a89355529574a41c58"},{"recordType":"cname","fqdn":"mail.testacc-386351645.example.com","verificationValue":"u17770251.wl002.sendgrid.net"},{"recordType":"cname","fqdn":"p03._domainkey.testacc-386351645.example.com","verificationValue":"p03.domainkey.u17770251.wl002.sendgrid.net"},{"recordType":"cname","fqdn":"p032._domainkey.testacc-386351645.example.com","verificationValue":"p032.domainkey.u17770251.wl002.sendgrid.net"}]}'
        headers:
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 600.304463ms
    - id: 3
      request:
        host: classic-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/email-domains/OeD9i7hmvpumkmoSK1d7
        method: GET
      response:
        body: '{"id":"OeD9i7hmvpumkmoSK1d7","validationStatus":"NOT_STARTED","displayName":"test","userName":"fff","domain":"testAcc-386351645.example.com","dnsValidationRecords":[{"recordType":"TXT","fqdn":"_oktaverification.testAcc-386351645.example.com","verificationValue":"3ff28778705c47a89355529574a41c58"},{"recordType":"cname","fqdn":"mail.testacc-386351645.example.com","verificationValue":"u17770251.wl002.sendgrid.net"},{"recordType":"cname","fqdn":"p03._domainkey.testacc-386351645.example.com","verificationValue":"p03.domainkey.u17770251.wl002.sendgrid.net"},{"recordType":"cname","fqdn":"p032._domainkey.testacc-386351645.example.com","verificationValue":"p032.domainkey.u17770251.wl002.sendgrid.net"}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 71.138828ms
[...]
