---
version: 2
interactions:
    - id: 0
      request:
        host: oie-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/governance/api/v1/reviews/icrztblxbBFiVKepb1d6
        method: GET
      response:
        body: '{"id":"icrztblxbBFiVKepb1d6","createdBy":"00unkw1sfbTw08c0g1d7","created":"2025-07-26T16:52:38Z","lastUpdated":"2025-08-25T17:00:00Z","lastUpdatedBy":"sprnkw1sbv12bUefI1d7","_links":{"self":{"href":"https://oie-00-admin.dne-okta.com/governance/api/v1/reviews/icrztblxbBFiVKepb1d6","hints":{}},"reassignReview":{"href":"https://oie-00-admin.dne-okta.com/governance/api/v1/campaigns/icizigd86iM9sOcbN1d6/reviews/reassign","hints":{}}},"campaignId":"icizigd86iM9sOcbN1d6","resourceId":"00go2ywj8vuFO2JzF1d7","decision":"UNREVIEWED","remediationStatus":"SUCCESS","principalProfile":{"id":"00unkw1sfbTw08c0g1d7","email":"aditya.anand@okta.com","firstName":"Aditya","lastName":"Anand","status":"ACTIVE"},"reviewerProfile":{"id":"00uoxxb1dkQEB32sB1d7","email":"testAcc-880439737653400346@example.com","firstName":"TestAcc","lastName":"Smith","status":"ACTIVE"},"reviewerType":"USER","assignmentType":"GROUP","riskRuleConflicts":[],"delegated":false,"note":{"id":"rin106l84dbF2e4wO1d7","note":"John Smith is on leave for this month. His manager Tim will be the reviewer instead."}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.072479708s
[...]
