---
version: 2
interactions:
    - id: 0
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/groups?q=Everyone
        method: GET
      response:
        body: '[{"id":"00g5qwjvgrD3WR89l1d7","created":"2022-10-07T23:16:57.000Z","lastUpdated":"2022-10-07T23:16:57.000Z","lastMembershipUpdated":"2025-03-13T23:24:14.000Z","objectClass":["okta:user_group"],"type":"BUILT_IN","profile":{"name":"Everyone","description":"All users in your organization"},"_links":{"logo":[{"name":"medium","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-medium.30ce6d4085dff29412984e4c191bc874.png","type":"image/png"},{"name":"large","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-large.c3cb8cda8ae0add1b4fe928f5844dbe3.png","type":"image/png"}],"users":{"href":"https://oie-00.dne-okta.com/api/v1/groups/00g5qwjvgrD3WR89l1d7/users"},"apps":{"href":"https://oie-00.dne-okta.com/api/v1/groups/00g5qwjvgrD3WR89l1d7/apps"}}}]'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 214.749875ms
[...]
    - id: 2
      request:
        host: oie-00.dne-okta.com
        body: |
            {"channel":{"config":{"authScheme":{"key":"Authorization","type":"HEADER","value":"123"},"method":"POST","uri":"https://example.com/test"},"type":"HTTP","version":"1.0.0"},"name":"testAcc_3847364127","status":"ACTIVE","type":"com.okta.oauth2.tokens.transform","version":"1.0.1"}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://oie-00.dne-okta.com/api/v1/inlineHooks
        method: POST
      response:
        body: '{"id":"calkwr3zt7815UERb1d7","status":"ACTIVE","name":"testAcc_3847364127","type":"com.okta.oauth2.tokens.transform","version":"1.0.1","channel":{"type":"HTTP","version":"1.0.0","config":{"uri":"https://example.com/test","headers":[],"method":"POST","authScheme":{"type":"HEADER","key":"Authorization"}}},"created":"2025-03-13T23:33:18.000Z","lastUpdated":"2025-03-13T23:33:18.000Z","_links":{"self":{"href":"https://oie-00.dne-okta.com/api/v1/inlineHooks/calkwr3zt7815UERb1d7"},"execute":{"href":"https://oie-00.dne-okta.com/api/v1/inlineHooks/calkwr3zt7815UERb1d7/execute","hints":{"allow":["POST"]}},"deactivate":{"href":"https://oie-00.dne-okta.com/api/v1/inlineHooks/calkwr3zt7815UERb1d7/lifecycle/deactivate","hints":{"allow":["POST"]}}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 254.3655ms
    - id: 3
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/inlineHooks/calkwr3zt7815UERb1d7
        method: GET
      response:
        body: '{"id":"calkwr3zt7815UERb1d7","status":"ACTIVE","name":"testAcc_3847364127","type":"com.okta.oauth2.tokens.transform","version":"1.0.1","channel":{"type":"HTTP","version":"1.0.0","config":{"uri":"https://example.com/test","headers":[],"method":"POST","authScheme":{"type":"HEADER","key":"Authorization"}}},"created":"2025-03-13T23:33:18.000Z","lastUpdated":"2025-03-13T23:33:18.000Z","_links":{"self":{"href":"https://oie-00.dne-okta.com/api/v1/inlineHooks/calkwr3zt7815UERb1d7"},"execute":{"href":"https://oie-00.dne-okta.com/api/v1/inlineHooks/calkwr3zt7815UERb1d7/execute","hints":{"allow":["POST"]}},"deactivate":{"href":"https://oie-00.dne-okta.com/api/v1/inlineHooks/calkwr3zt7815UERb1d7/lifecycle/deactivate","hints":{"allow":["POST"]}}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 220.203459ms
    - id: 4
      request:
        host: oie-00.dne-okta.com
        body: |
            {"audiences":["whatever.rise.zone"],"credentials":{"signing":{"rotationMode":"AUTO"}},"description":"test","issuerMode":"ORG_URL","name":"testAcc_3847364127"}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://oie-00.dne-okta.com/api/v1/authorizationServers
        method: POST
      response:
        body: '{"id":"auskwqxwsvqwB6hrD1d7","name":"testAcc_3847364127","description":"test","audiences":["whatever.rise.zone"],"issuer":"https://oie-00.dne-okta.com/oauth2/auskwqxwsvqwB6hrD1d7","issuerMode":"ORG_URL","status":"ACTIVE","created":"2025-03-13T23:33:18.000Z","lastUpdated":"2025-03-13T23:33:18.000Z","credentials":{"signing":{"kid":"FbJPws4gQtK2UzAvyhQZc4z1Mm-xczlbf7fs9kfXoZ0","rotationMode":"AUTO","lastRotated":"2025-03-13T23:33:19.000Z","nextRotation":"2025-06-11T23:33:19.000Z"}},"default":false,"_links":{"rotateKey":{"href":"https://oie-00.dne-okta.com/api/v1/authorizationServers/auskwqxwsvqwB6hrD1d7/credentials/lifecycle/keyRotate","hints":{"allow":["POST"]}},"metadata":[{"name":"oauth-authorization-server","href":"https://oie-00.dne-okta.com/oauth2/auskwqxwsvqwB6hrD1d7/.well-known/oauth-authorization-server","hints":{"allow":["GET"]}},{"name":"openid-configuration","href":"https://oie-00.dne-okta.com/oauth2/auskwqxwsvqwB6hrD1d7/.well-known/openid-configuration","hints":{"allow":["GET"]}}],"keys":{"href":"https://oie-00.dne-okta.com/api/v1/authorizationServers/auskwqxwsvqwB6hrD1d7/credentials/keys","hints":{"allow":["GET"]}},"claims":{"href":"https://oie-00.dne-okta.com/api/v1/authorizationServers/auskwqxwsvqwB6hrD1d7/claims","hints":{"allow":["GET","POST"]}},"policies":{"href":"https://oie-00.dne-okta.com/api/v1/authorizationServers/auskwqxwsvqwB6hrD1d7/policies","hints":{"allow":["GET","POST"]}},"self":{"href":"https://oie-00.dne-okta.com/api/v1/authorizationServers/auskwqxwsvqwB6hrD1d7","hints":{"allow":["GET","DELETE","PUT"]}},"scopes":{"href":"https://oie-00.dne-okta.com/api/v1/authorizationServers/auskwqxwsvqwB6hrD1d7/scopes","hints":{"allow":["GET","POST"]}},"deactivate":{"href":"https://oie-00.dne-okta.com/api/v1/authorizationServers/auskwqxwsvqwB6hrD1d7/lifecycle/deactivate","hints":{"allow":["POST"]}}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 849.673542ms
    - id: 5
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/authorizationServers/auskwqxwsvqwB6hrD1d7
        method: GET
      response:
        body: '{"id":"auskwqxwsvqwB6hrD1d7","name":"testAcc_3847364127","description":"test","audiences":["whatever.rise.zone"],"issuer":"https://oie-00.dne-okta.com/oauth2/auskwqxwsvqwB6hrD1d7","issuerM[...]
    - id: 6
      request:
        host: oie-00.dne-okta.com
        body: |
            {"conditions":{"clients":{"include":["ALL_CLIENTS"]}},"description":"test","name":"test","priority":1,"status":"ACTIVE","type":"OAUTH_AUTHORIZATION_POLICY"}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://oie-00.dne-okta.com/api/v1/authorizationServers/auskwqxwsvqwB6hrD1d7/policies
        method: POST
      response:
        body: '{"id":"00pkwr26yarROmlg71d7","status":"ACTIVE","name":"test","description":"test","priority":1,"system":false,"conditions":{"clients":{"include":["ALL_CLIENTS"]}},"created":"2025-03-13T23:33:20.000Z","lastUpdated":"2025-03-13T23:33:20.000Z","_links":{"self":{"href":"https://oie-00.dne-okta.com/api/v1/authorizationServers/auskwqxwsvqwB6hrD1d7/policies/00pkwr26yarROmlg71d7","hints":{"allow":["GET","PUT","DELETE"]}},"rules":{"href":"https://oie-00.dne-okta.com/api/v1/authorizationServers/auskwqxwsvqwB6hrD1d7/policies/00pkwr26yarROmlg71d7/rules","hints":{"allow":["GET"]}},"deactivate":{"href":"https://oie-00.dne-okta.com/api/v1/authorizationServers/auskwqxwsvqwB6hrD1d7/policies/00pkwr26yarROmlg71d7/lifecycle/deactivate","hints":{"allow":["POST"]}}},"type":"OAUTH_AUTHORIZATION_POLICY"}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 465.607292ms
    - id: 7
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/authorizationServers/auskwqxwsvqwB6hrD1d7/policies/00pkwr26yarROmlg71d7
        method: GET
      response:
        body: '{"id":"00pkwr26yarROmlg71d7","status":"ACTIVE","name":"test","description":"test","priority":1,"system":false,"conditions":{"clients":{"include":["ALL_CLIENTS"]}},"created":"2025-03-13T23:33:20.000Z","lastUpdated":"2025-03-13T23:33:20.000Z","_links":{"self":{"href":"https://oie-00.dne-okta.com/api/v1/authorizationServers/auskwqxwsvqwB6hrD1d7/policies/00pkwr26yarROmlg71d7","hints":{"allow":["GET","PUT","DELETE"]}},"rules":{"href":"https://oie-00.dne-okta.com/api/v1/authorizationServers/auskwqxwsvqwB6hrD1d7/policies/00pkwr26yarROmlg71d7/rules","hints":{"allow":["GET"]}},"deactivate":{"href":"https://oie-00.dne-okta.com/api/v1/authorizationServers/auskwqxwsvqwB6hrD1d7/policies/00pkwr26yarROmlg71d7/lifecycle/deactivate","hints":{"allow":["POST"]}}},"type":"OAUTH_AUTHORIZATION_POLICY"}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 477.520417ms
    - id: 8
      request:
        host: oie-00.dne-okta.com
        body: |
            {"actions":{"token":{"accessTokenLifetimeMinutes":60,"inlineHook":{"id":"calkwr3zt7815UERb1d7"},"refreshTokenLifetimeMinutes":0,"refreshTokenWindowMinutes":10080}},"conditions":{"grantTypes":{"include":["implicit"]},"people":{"groups":{"include":["00g5qwjvgrD3WR89l1d7"]},"users":{}},"scopes":{}},"name":"test","priority":1,"status":"ACTIVE","type":"RESOURCE_ACCESS"}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://oie-00.dne-okta.com/api/v1/authorizationServers/auskwqxwsvqwB6hrD1d7/policies/00pkwr26yarROmlg71d7/rules
        method: POST
      response:
        body: '{"id":"0prkwqzns3yPjNI7E1d7","status":"ACTIVE","name":"test","priority":1,"created":"2025-03-13T23:33:20.000Z","lastUpdated":"2025-03-13T23:33:20.000Z","system":false,"conditions":{"people":{"users":{"exclude":[]},"groups":{"include":["00g5qwjvgrD3WR89l1d7"]}},"grantTypes":{"include":["implicit"]},"scopes":{"include":[]}},"actions":{"token":{"accessTokenLifetimeMinutes":60,"refreshTokenLifetimeMinutes":0,"refreshTokenWindowMinutes":10080,"inlineHook":{"id":"calkwr3zt7815UERb1d7"}}},"_links":{"self":{"href":"https://oie-00.dne-okta.com/api/v1/authorizationServers/auskwqxwsvqwB6hrD1d7/policies/00pkwr26yarROmlg71d7/rules/0prkwqzns3yPjNI7E1d7","hints":{"allow":["GET","PUT","DELETE"]}},"deactivate":{"href":"https://oie-00.dne-okta.com/api/v1/authorizationServers/auskwqxwsvqwB6hrD1d7/policies/00pkwr26yarROmlg71d7/rules/0prkwqzns3yPjNI7E1d7/lifecycle/deactivate","hints":{"allow":["POST"]}}},"type":"RESOURCE_ACCESS"}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 334.797291ms
    - id: 9
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/authorizationServers/auskwqxwsvqwB6hrD1d7/policies/00pkwr26yarROmlg71d7/rules/0prkwqzns3yPjNI7E1d7
        method: GET
      response:
        body: '{"id":"0prkwqzns3yPjNI7E1d7","status":"ACTIVE","name":"test","priority":1,"created":"2025-03-13T23:33:20.000Z","lastUpdated":"2025-[...]
[...]
    - id: 24
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/inlineHooks/calkwr3zt7815UERb1d7/lifecycle/deactivate
        method: POST
      response:
        body: '{"id":"calkwr3zt7815UERb1d7","status":"INACTIVE","name":"testAcc_3847364127","type":"com.okta.oauth2.tokens.transform","version":"1.0.1","channel":{"type":"HTTP","version":"1.0.0","config":{"uri":"https://example.com/test","headers":[],"method":"POST","authScheme":{"type":"HEADER","key":"Authorization"}}},"created":"2025-03-13T23:33:18.000Z","lastUpdated":"2025-03-13T23:33:24.000Z","_links":{"activate":{"href":"https://oie-00.dne-okta.com/api/v1/inlineHooks/calkwr3zt7815UERb1d7/lifecycle/activate","hints":{"allow":["POST"]}},"self":{"href":"https://oie-00.dne-okta.com/api/v1/inlineHooks/calkwr3zt7815UERb1d7"},"delete":{"href":"https://oie-00.dne-okta.com/api/v1/inlineHooks/calkwr3zt7815UERb1d7","hints":{"allow":["DELETE"]}}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 352.089333ms
[...]
    - id: 37
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/authorizationServers/auskwqxwsvqwB6hrD1d7/lifecycle/deactivate
        method: POST
      response:
        body: ""
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
        status: 204 No Content
        code: 204
        duration: 273.107209ms
[...]
