---
version: 2
interactions:
    - id: 0
      request:
        host: oie-00.dne-okta.com
        form:
            q:
                - Everyone
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/groups?q=Everyone
        method: GET
      response:
        body: '[{"id":"00gnkw1sdqL30MdGk1d7","created":"2025-06-26T15:51:35.000Z","lastUpdated":"2025-06-26T15:51:35.000Z","lastMembershipUpdated":"2026-05-26T12:08:43.000Z","objectClass":["okta:user_group"],"type":"BUILT_IN","profile":{"name":"Everyone","description":"All users in your organization"},"_links":{"logo":[{"name":"medium","href":"https://op3static2.oktacdn.com/assets/img/logos/groups/odyssey/okta-medium.30ce6d4085dff29412984e4c191bc874.png","type":"image/png"},{"name":"large","href":"https://op3static2.oktacdn.com/assets/img/logos/groups/odyssey/okta-large.c3cb8cda8ae0add1b4fe928f5844dbe3.png","type":"image/png"}],"owners":{"href":"https://oie-00.dne-okta.com/api/v1/groups/00gnkw1sdqL30MdGk1d7/owners"},"users":{"href":"https://oie-00.dne-okta.com/api/v1/groups/00gnkw1sdqL30MdGk1d7/users"},"apps":{"href":"https://oie-00.dne-okta.com/api/v1/groups/00gnkw1sdqL30MdGk1d7/apps"}}}]'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.197019542s
[...]
    - id: 2
      request:
        host: oie-00.dne-okta.com
        body: |
            {"audiences":["whatever.rise.zone"],"credentials":{"signing":{"rotationMode":"AUTO"}},"description":"test","issuerMode":"ORG_URL","name":"testAcc_3847364127"}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://oie-00.dne-okta.com/api/v1/authorizationServers
        method: POST
      response:
        body: '{"id":"aus134sokdkvPPQPj1d8","name":"testAcc_3847364127","description":"test","audiences":["whatever.rise.zone"],"issuer":"https://oie-00.dne-okta.com/oauth2/aus134sokdkvPPQPj1d8","issuerMode":"ORG_URL","status":"ACTIVE","created":"2026-08-31T06:18:26.000Z","lastUpdated":"2026-08-31T06:18:26.000Z","credentials":{"signing":{"kid":"R2ddGmyVnDA-FWw4xKFeGB7Jx9cUh8BSG51Q7XLpTm8","rotationMode":"AUTO","lastRotated":"2026-08-31T06:18:26.000Z","nextRotation":"2026-11-29T06:18:26.000Z"}},"default":false,"_links":{"rotateKey":{"href":"https://oie-00.dne-okta.com/api/v1/authorizationServers/aus134sokdkvPPQPj1d8/credentials/lifecycle/keyRotate","hints":{"allow":["POST"]}},"metadata":[{"name":"oauth-authorization-server","href":"https://oie-00.dne-okta.com/.well-known/oauth-authorization-server/oauth2/aus134sokdkvPPQPj1d8","hints":{"allow":["GET"]}},{"name":"openid-configuration","href":"https://oie-00.dne-okta.com/oauth2/aus134sokdkvPPQPj1d8/.well-known/openid-configuration","hints":{"allow":["GET"]}}],"resourceServerCredentialsKeys":{"href":"https://oie-00.dne-okta.com/api/v1/authorizationServers/aus134sokdkvPPQPj1d8/resourceservercredentials/keys","hints":{"allow":["GET"]}},"keys":{"href":"https://oie-00.dne-okta.com/api/v1/authorizationServers/aus134sokdkvPPQPj1d8/credentials/keys","hints":{"allow":["GET"]}},"claims":{"href":"https://oie-00.dne-okta.com/api/v1/authorizationServers/aus134sokdkvPPQPj1d8/claims","hints":{"allow":["GET","POST"]}},"policies":{"href":"https://oie-00.dne-okta.com/api/v1/authorizationServers/aus134sokdkvPPQPj1d8/policies","hints":{"allow":["GET","POST"]}},"self":{"href":"https://oie-00.dne-okta.com/api/v1/authorizationServers/aus134sokdkvPPQPj1d8","hints":{"allow":["GET","DELETE","PUT"]}},"scopes":{"href":"https://oie-00.dne-okta.com/api/v1/authorizationServers/aus134sokdkvPPQPj1d8/scopes","hints":{"allow":["GET","POST"]}},"deactivate":{"href":"https://oie-00.dne-okta.com/api/v1/authorizationServers/aus134sokdkvPPQPj1d8/lifecycle/deactivate","hints":{"allow":["POST"]}}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 1.80733725s
    - id: 3
      request:
        host: oie-00.dne-okta.com
        body: |
            {"channel":{"config":{"authScheme":{"key":"Authorization","type":"HEADER","value":"123"},"method":"POST","uri":"https://example.com/test"},"type":"HTTP","version":"1.0.0"},"name":"testAcc_3847364127","status":"ACTIVE","type":"com.okta.oauth2.tokens.transform","version":"1.0.1"}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://oie-00.dne-okta.com/api/v1/inlineHooks
        method: POST
      response:
        body: '{"id":"cal134sssvxRiqA3Q1d8","status":"ACTIVE","name":"testAcc_3847364127","type":"com.okta.oauth2.tokens.transform","version":"1.0.1","channel":{"type":"HTTP","version":"1.0.0","config":{"uri":"https://example.com/test","headers":[],"method":"POST","authScheme":{"type":"HEADER","key":"Authorization"}}},"created":"2026-08-31T06:18:27.000Z","lastUpdated":"2026-08-31T06:18:27.000Z","_links":{"self":{"href":"https://oie-00.dne-okta.com/api/v1/inlineHooks/cal134sssvxRiqA3Q1d8"},"execute":{"href":"https://oie-00.dne-okta.com/api/v1/inlineHooks/cal134sssvxRiqA3Q1d8/execute","hints":{"allow":["POST"]}},"deactivate":{"href":"https://oie-00.dne-okta.com/api/v1/inlineHooks/cal134sssvxRiqA3Q1d8/lifecycle/deactivate","hints":{"allow":["POST"]}}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 2.152394833s
    - id: 4
      request:
        host: oie-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/authorizationServers/aus134sokdkvPPQPj1d8
        method: GET
      response:
        body: '{"id":"aus134sokdkvPPQPj1d8","name":"testAcc_3847364127","description":"test","audiences":["whatever.rise.zone"],"issuer":"https://oie-00.dne-okta.com/oauth2/aus134sokdkvPPQPj1d8","issuerMode":"ORG_URL","status":"ACTIVE","[...]
    - id: 5
      request:
        host: oie-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/inlineHooks/cal134sssvxRiqA3Q1d8
        method: GET
      response:
        body: '{"id":"cal134sssvxRiqA3Q1d8","status":"ACTIVE","name":"testAcc_3847364127","type":"com.okta.oauth2.tokens.transform","version":"1.0.1","channel":{"type":"HTTP","version":"1.0.0","config":{"uri":"https://example.com/test","headers":[],"method":"POST","authScheme":{"type":"HEADER","key":"Authorization"}}},"created":"2026-08-31T06:18:27.000Z","lastUpdated":"2026-08-31T06:18:27.000Z","_links":{"self":{"href":"https://oie-00.dne-okta.com/api/v1/inlineHooks/cal134sssvxRiqA3Q1d8"},"execute":{"href":"https://oie-00.dne-okta.com/api/v1/inlineHooks/cal134sssvxRiqA3Q1d8/execute","hints":{"allow":["POST"]}},"deactivate":{"href":"https://oie-00.dne-okta.com/api/v1/inlineHooks/cal134sssvxRiqA3Q1d8/lifecycle/deactivate","hints":{"allow":["POST"]}}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.317311416s
    - id: 6
      request:
        host: oie-00.dne-okta.com
        body: |
            {"conditions":{"clients":{"include":["ALL_CLIENTS"]}},"description":"test","name":"test","priority":1,"status":"ACTIVE","type":"OAUTH_AUTHORIZATION_POLICY"}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://oie-00.dne-okta.com/api/v1/authorizationServers/aus134sokdkvPPQPj1d8/policies
        method: POST
      response:
        body: '{"id":"00p134sr84uHwBkhw1d8","status":"ACTIVE","name":"test","description":"test","priority":1,"system":false,"conditions":{"clients":{"include":["ALL_CLIENTS"]}},"created":"2026-08-31T06:18:29.000Z","lastUpdated":"2026-08-31T06:18:29.000Z","_links":{"self":{"href":"https://oie-00.dne-okta.com/api/v1/authorizationServers/aus134sokdkvPPQPj1d8/policies/00p134sr84uHwBkhw1d8","hints":{"allow":["GET","PUT","DELETE"]}},"rules":{"href":"https://oie-00.dne-okta.com/api/v1/authorizationServers/aus134sokdkvPPQPj1d8/policies/00p134sr84uHwBkhw1d8/rules","hints":{"allow":["GET"]}},"deactivate":{"href":"https://oie-00.dne-okta.com/api/v1/authorizationServers/aus134sokdkvPPQPj1d8/policies/00p134sr84uHwBkhw1d8/lifecycle/deactivate","hints":{"allow":["POST"]}}},"type":"OAUTH_AUTHORIZATION_POLICY"}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 1.381019417s
    - id: 7
      request:
        host: oie-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/authorizationServers/aus134sokdkvPPQPj1d8/policies/00p134sr84uHwBkhw1d8
        method: GET
      response:
        body: '{"id":"00p134sr84uHwBkhw1d8","status":"ACTIVE","name":"test","description":"test","priority":1,"system":false,"conditions":{"clients":{"include":["ALL_CLIENTS"]}},"created":"2026-08-31T06:18:29.000Z","lastUpdated":"2026-08-31T06:18:29.000Z","_links":{"self":{"href":"https://oie-00.dne-okta.com/api/v1/authorizationServers/aus134sokdkvPPQPj1d8/policies/00p134sr84uHwBkhw1d8","hints":{"allow":["GET","PUT","DELETE"]}},"rules":{"href":"https://oie-00.dne-okta.com/api/v1/authorizationServers/aus134sokdkvPPQPj1d8/policies/00p134sr84uHwBkhw1d8/rules","hints":{"allow":["GET"]}},"deactivate":{"href":"https://oie-00.dne-okta.com/api/v1/authorizationServers/aus134sokdkvPPQPj1d8/policies/00p134sr84uHwBkhw1d8/lifecycle/deactivate","hints":{"allow":["POST"]}}},"type":"OAUTH_AUTHORIZATION_POLICY"}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.357247125s
    - id: 8
      request:
        host: oie-00.dne-okta.com
        body: |
            {"actions":{"token":{"accessTokenLifetimeMinutes":60,"inlineHook":{"id":"cal134sssvxRiqA3Q1d8"},"refreshTokenLifetimeMinutes":0,"refreshTokenWindowMinutes":10080}},"conditions":{"grantTypes":{"include":["implicit"]},"people":{"groups":{"include":["00gnkw1sdqL30MdGk1d7"]},"users":{"exclude":[]}},"scopes":{}},"name":"test","priority":1,"status":"ACTIVE","type":"RESOURCE_ACCESS"}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://oie-00.dne-okta.com/api/v1/authorizationServers/aus134sokdkvPPQPj1d8/policies/00p134sr84uHwBkhw1d8/rules
        method: POST
      response:
        body: '{"id":"0pr134ssvanufIJJC1d8","status":"ACTIVE","name":"test","priority":1,"created":"2026-08-31T[...]
    - id: 9
      request:
        host: oie-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/authorizationServers/aus134sokdkvPPQPj1d8/policies/00p134sr84uHwBkhw1d8/rules/0pr134ssvanufIJJC1d8
        method: GET
      response:
        body: '{"id":"0pr134ssvanufIJJC1d8","status":"ACTIVE","name":"test","priority":1,"created":"2026-08-31T06:18:32.000Z","lastUpdated":"2026-08-31T06:18:32.000Z","system":false,"conditions":{"people":{"users":{"exclude":[]},"groups":{"include":["00gnkw1sdqL30MdGk1d7"]}},"grantTypes":{"include":["implicit"]},"scopes":{"include":[]}},"actions":{"token":{"accessTokenLifetimeMinutes":60,"refreshTokenLifetimeMinutes":0,"refreshTokenWindowMinutes":10080,"inlineHook":{"id":"cal134sssvxRiqA3Q1d8"}}},"_links":{"self":{"href":"https://oie-00.dne-okta.com/api/v1/authorizationServers/aus134sokdkvPPQPj1d8/policies/00p134sr84uHwBkhw1d8/rules/0pr134ssvanufIJJC1d8","hints":{"allow":["GET","PUT","DELETE"]}},"deactivate":{"href":"https://oie-00.dne-okta.com/api/v1/authorizationServers/aus134sokdkvPPQPj1d8/policies/00p134sr84uHwBkhw1d8/rules/0pr134ssvanufIJJC1d8/lifecycle/deactivate","hints":{"allow":["POST"]}}},"type":"RESOURCE_ACCESS"}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.331739375s
[...]
    - id: 23
      request:
        host: oie-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/inlineHooks/cal134sssvxRiqA3Q1d8/lifecycle/deactivate
        method: POST
      response:
        body: '{"id":"cal134sssvxRiqA3Q1d8","status":"INACTIVE","name":"testAcc_3847364127","type":"com.okta.oauth2.tokens.transform","version":"1.0.1","channel":{"type":"HTTP","version":"1.0.0","config":{"uri":"https://example.com/test","headers":[],"method":"POST","authScheme":{"type":"HEADER","key":"Authorization"}}},"created":"2026-08-31T06:18:27.000Z","lastUpdated":"2026-08-31T06:18:49.000Z","_links":{"activate":{"href":"https://oie-00.dne-okta.com/api/v1/inlineHooks/cal134sssvxRiqA3Q1d8/lifecycle/activate","hints":{"allow":["POST"]}},"self":{"href":"https://oie-00.dne-okta.com/api/v1/inlineHooks/cal134sssvxRiqA3Q1d8"},"delete":{"href":"https://oie-00.dne-okta.com/api/v1/inlineHooks/cal134sssvxRiqA3Q1d8","hints":{"allow":["DELETE"]}}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.336134792s
[...]
    - id: 37
      request:
        host: oie-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/authorizationServers/aus134sokdkvPPQPj1d8/lifecycle/deactivate
        method: POST
      response:
        body: ""
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
        status: 204 No Content
        code: 204
        duration: 1.432266791s
[...]
