---
version: 2
interactions:
    - id: 0
      request:
        host: oie-00.dne-okta.com
        body: |
            {"profile":{"name":"testAcc_323887101","description":""}}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://oie-00.dne-okta.com/api/v1/groups
        method: POST
      response:
        body: '{"id":"00gtgl2t6kXXFILbZ697","created":"2025-07-22T06:41:09.000Z","lastUpdated":"2025-07-22T06:41:09.000Z","lastMembershipUpdated":"2025-07-22T06:41:09.000Z","objectClass":["okta:user_group"],"type":"OKTA_GROUP","profile":{"name":"testAcc_323887101","description":""},"_links":{"logo":[{"name":"medium","href":"https://ok14static.oktacdn.com/assets/img/logos/groups/odyssey/okta-medium.30ce6d4085dff29412984e4c191bc874.png","type":"image/png"},{"name":"large","href":"https://ok14static.oktacdn.com/assets/img/logos/groups/odyssey/okta-large.c3cb8cda8ae0add1b4fe928f5844dbe3.png","type":"image/png"}],"users":{"href":"https://oie-00.dne-okta.com/api/v1/groups/00gtgl2t6kXXFILbZ697/users"},"apps":{"href":"https://oie-00.dne-okta.com/api/v1/groups/00gtgl2t6kXXFILbZ697/apps"}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 965.055833ms
    - id: 1
      request:
        host: oie-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/groups/00gtgl2t6kXXFILbZ697
        method: GET
      response:
        body: '{"id":"00gtgl2t6kXXFILbZ697","created":"2025-07-22T06:41:09.000Z","lastUpdated":"2025-07-22T06:41:09.000Z","lastMembershipUpdated":"2025-07-22T06:41:09.000Z","objectClass":["okta:user_group"],"type":"OKTA_GROUP","profile":{"name":"testAcc_323887101","description":""},"_links":{"logo":[{"name":"medium","href":"https://ok14static.oktacdn.com/assets/img/logos/groups/odyssey/okta-medium.30ce6d4085dff29412984e4c191bc874.png","type":"image/png"},{"name":"large","href":"https://ok14static.oktacdn.com/assets/img/logos/groups/odyssey/okta-large.c3cb8cda8ae0add1b4fe928f5844dbe3.png","type":"image/png"}],"users":{"href":"https://oie-00.dne-okta.com/api/v1/groups/00gtgl2t6kXXFILbZ697/users"},"apps":{"href":"https://oie-00.dne-okta.com/api/v1/groups/00gtgl2t6kXXFILbZ697/apps"}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 699.490792ms
[...]
    - id: 3
      request:
        host: oie-00.dne-okta.com
        body: |
            {"actions":{"assignUserToGroups":{"groupIds":["00gtgl2t6kXXFILbZ697"]}},"conditions":{"expression":{"type":"urn:okta:expression:1.0","value":"String.startsWith(user.firstName,\"andy\")"},"people":{"users":{}}},"name":"testAccOne_323887101","type":"group_rule"}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://oie-00.dne-okta.com/api/v1/groups/rules
        method: POST
      response:
        body: '{"type":"group_rule","id":"0prtgl5oqmS5jYIMK697","status":"INACTIVE","name":"testAccOne_323887101","created":"2025-07-22T06:41:11.000Z","lastUpdated":"2025-07-22T06:41:11.000Z","conditions":{"people":{"users":{"exclude":[]},"groups":{"exclude":[]}},"expression":{"value":"String.startsWith(user.firstName,\"andy\")","type":"urn:okta:expression:1.0"}},"actions":{"assignUserToGroups":{"groupIds":["00gtgl2t6kXXFILbZ697"]}},"allGroupsValid":true}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 710.989459ms
    - id: 4
      request:
        host: oie-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/groups/rules/0prtgl5oqmS5jYIMK697/lifecycle/activate
        method: POST
      response:
        body: ""
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
        status: 204 No Content
        code: 204
        duration: 696.055416ms
    - id: 5
      request:
        host: oie-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/groups/rules/0prtgl5oqmS5jYIMK697
        method: GET
      response:
        body: '{"type":"group_rule","id":"0prtgl5oqmS5jYIMK697","status":"ACTIVE","name":"testAccOne_323887101","created":"2025-07-22T06:41:11.000Z","lastUpdated":"2025-07-22T06:41:11.000Z","conditions":{"people":{"users":{"exclude":[]},"groups":{"exclude":[]}},"expression":{"value":"String.startsWith(user.firstName,\"andy\")","type":"urn:okta:expression:1.0"}},"actions":{"assignUserToGroups":{"groupIds":["00gtgl2t6kXXFILbZ697"]}},"allGroupsValid":true}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 674.04725ms
[...]
    - id: 7
      request:
        host: oie-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/groups/rules/0prtgl4aj24bfkh0h697/lifecycle/activate
        method: POST
      response:
        body: ""
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
        status: 204 No Content
        code: 204
        duration: 700.319042ms
    - id: 8
      request:
        host: oie-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/groups/rules/0prtgl4aj24bfkh0h697
        method: GET
      response:
        body: '{"type":"group_rule","id":"0prtgl4aj24bfkh0h697","status":"ACTIVE","name":"testAccTwo_323887101","created":"2025-07-22T06:41:13.000Z","lastUpdated":"2025-07-22T06:41:14.000Z","conditions":{"people":{"users":{"exclude":[]},"groups":{"exclude":[]}},"expression":{"value":"String.startsWith(user.firstName,\"bob\")","type":"urn:okta:expression:1.0"}},"actions":{"assignUserToGroups":{"groupIds":["00gtgl2t6kXXFILbZ697"]}},"allGroupsValid":true}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 683.315333ms
    - id: 9
      request:
        host: oie-00.dne-okta.com
        form:
            limit:
                - "200"
            search:
                - testAcc
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/groups/rules?limit=200&search=testAcc
        method: GET
      response:
        body: '[{"type":"group_rule","id":"0prtgl5oqmS5jYIMK697","status":"ACTIVE","name":"testAccOne_323887101","created":"2025-07-22T06:41:11.000Z","lastUpdated":"2025-07-22T06:41:11.000Z","conditions":{"people":{"users":{"exclude":[]},"groups":{"exclude":[]}},"expression":{"value":"String.startsWith(user.firstName,\"andy\")","type":"urn:okta:expression:1.0"}},"actions":{"assignUserToGroups":{"groupIds":["00gtgl2t6kXXFILbZ697"]}},"allGroupsValid":true},{"type":"group_rule","id":"0prtgl4aj24bfkh0h697","status":"ACTIVE","name":"testAccTwo_323887101","created":"2025-07-22T06:41:13.000Z","lastUpdated":"2025-07-22T06:41:14.000Z","conditions":{"people":{"users":{"exclude":[]},"groups":{"exclude":[]}},"expression":{"value":"String.startsWith(user.firstName,\"bob\")","type":"urn:okta:expression:1.0"}},"actions":{"assignUserToGroups":{"groupIds":["00gtgl2t6kXXFILbZ697"]}},"allGroupsValid":true}]'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
            Link:
                - <https://oie-00.dne-okta.com/api/v1/groups/rules?limit=200&search=testAcc>; rel="self"
        status: 200 OK
        code: 200
        duration: 647.557667ms
    - id: 10
      request:
        host: oie-00.dne-okta.com
        form:
            expand:
                - groupIdToGroupNameMap
            limit:
                - "200"
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/groups/rules?expand=groupIdToGroupNameMap&limit=200
        method: GET
      response:
        body: '[{"type":"group_rule","id":"0prtgl5oqmS5jYIMK697","status":"ACTIVE","name":"testAccOne_323887101","created":"2025-07-22T06:41:11.000Z","lastUpdated":"2025-07-22T06:41:11.000Z","conditions":{"people":{"users":{"exclude":[]},"groups":{"exclude":[]}},"expression":{"value":"String.startsWith(user.firstName,\"andy\")","type":"urn:okta:expression:1.0"}},"actions":{"assignUserToGroups":{"groupIds":["00gtgl2t6kXXFILbZ697"]}},"_embedded":{"groupIdToGroupNameMap":{"00gtgl2t6kXXFILbZ697":"testAcc_323887101"}},"allGroupsValid":true},{"type":"group_rule","id":"0prtgl4aj24bfkh0h697","status":"ACTIVE","name":"testAccTwo_323887101","created":"2025-07-22T06:41:13.000Z","lastUpdated":"2025-07-22T06:41:14.000Z","conditions":{"people":{"users":{"exclude":[]},"groups":{"exclude":[]}},"expression":{"value":"String.startsWith(user.firstName,\"bob\")","type":"urn:okta:expression:1.0"}},"actions":{"assignUserToGroups":{"groupIds":["00gtgl2t6kXXFILbZ697"]}},"_embedded":{"groupIdToGroupNameMap":{"00gtgl2t6kXXFILbZ697":"testAcc_323887101"}},"allGroupsValid":true}]'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
            Link:
                - <https://oie-00.dne-okta.com/api/v1/groups/rules?limit=200&expand=groupIdToGroupNameMap>; rel="self"
        status: 200 OK
        code: 200
        duration: 654.229167ms
    - id: 11
      request:
        host: oie-00.dne-okta.com
        form:
            limit:
                - "50"
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/groups/rules?limit=50
        method: GET
      response:
        body: '[{"type":"group_rule","id":"0prtgl5oqmS5jYIMK697","status":"ACTIVE","name":"testAccOne_323887101","created":"2025-07-22T06:41:11.000Z","lastUpdated":"2025-07-22T06:41:11.000Z","conditio[...]
[...]
    - id: 54
      request:
        host: oie-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/groups/rules/0prtgl4aj24bfkh0h697/lifecycle/deactivate
        method: POST
      response:
        body: ""
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
        status: 204 No Content
        code: 204
        duration: 687.189125ms
    - id: 55
      request:
        host: oie-00.dne-okta.com
        form:
            removeUsers:
                - "false"
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/groups/rules/0prtgl4aj24bfkh0h697?removeUsers=false
        method: DELETE
      response:
        body: '{}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 202 Accepted
        code: 202
        duration: 707.034541ms
    - id: 56
      request:
        host: oie-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/groups/rules/0prtgl5oqmS5jYIMK697/lifecycle/deactivate
        method: POST
      response:
        body: ""
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
        status: 204 No Content
        code: 204
        duration: 688.471459ms
    - id: 57
      request:
        host: oie-00.dne-okta.com
        form:
            removeUsers:
                - "false"
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/groups/rules/0prtgl5oqmS5jYIMK697?removeUsers=false
        method: DELETE
      response:
        body: '{}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 202 Accepted
        code: 202
        duration: 723.938167ms
[...]
