---
version: 2
interactions:
    - id: 0
      request:
        host: mm-classic-2022-10-04.oktapreview.com
        body: |
            {"profile":{"name":"foo_2750977450","description":""}}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://mm-classic-2022-10-04.oktapreview.com/api/v1/groups
        method: POST
      response:
        body: '{"id":"00g95uwmv327SvAiE1d7","created":"2023-07-27T20:14:09.000Z","lastUpdated":"2023-07-27T20:14:09.000Z","lastMembershipUpdated":"2023-07-27T20:14:09.000Z","objectClass":["okta:user_group"],"type":"OKTA_GROUP","profile":{"name":"foo_2750977450","description":""},"_links":{"logo":[{"name":"medium","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-medium.30ce6d4085dff29412984e4c191bc874.png","type":"image/png"},{"name":"large","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-large.c3cb8cda8ae0add1b4fe928f5844dbe3.png","type":"image/png"}],"users":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/groups/00g95uwmv327SvAiE1d7/users"},"apps":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/groups/00g95uwmv327SvAiE1d7/apps"}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 252.13014ms
    - id: 1
      request:
        host: mm-classic-2022-10-04.oktapreview.com
        body: |
            {"credentials":{"password":{}},"profile":{"email":"john_2750977450@unknown.com","firstName":"TestAcc","lastName":"Doe","login":"john_2750977450@unknown.com","postalAddress":null}}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://mm-classic-2022-10-04.oktapreview.com/api/v1/users
        method: POST
      response:
        body: '{"id":"00u95utp9vv1QyHt81d7","status":"PROVISIONED","created":"2023-07-27T20:14:09.000Z","activated":"2023-07-27T20:14:09.000Z","statusChanged":"2023-07-27T20:14:09.000Z","lastLogin":null,"lastUpdated":"2023-07-27T20:14:09.000Z","passwordChanged":null,"type":{"id":"oty5ptm052JMcoADv1d7"},"profile":{"firstName":"TestAcc","lastName":"Doe","mobilePhone":null,"secondEmail":null,"login":"john_2750977450@unknown.com","email":"john_2750977450@unknown.com"},"credentials":{"provider":{"type":"OKTA","name":"OKTA"}},"_links":{"suspend":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/users/00u95utp9vv1QyHt81d7/lifecycle/suspend","method":"POST"},"schema":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/meta/schemas/user/osc5ptm052JMcoADv1d7"},"resetPassword":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/users/00u95utp9vv1QyHt81d7/lifecycle/reset_password","method":"POST"},"reactivate":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/users/00u95utp9vv1QyHt81d7/lifecycle/reactivate","method":"POST"},"self":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/users/00u95utp9vv1QyHt81d7"},"type":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/meta/types/user/oty5ptm052JMcoADv1d7"},"deactivate":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/users/00u95utp9vv1QyHt81d7/lifecycle/deactivate","method":"POST"}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 432.086927ms
[...]
    - id: 5
      request:
        host: mm-classic-2022-10-04.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-classic-2022-10-04.oktapreview.com/api/v1/groups/00g95uwmv327SvAiE1d7
        method: GET
      response:
        body: '{"id":"00g95uwmv327SvAiE1d7","created":"2023-07-27T20:14:09.000Z","lastUpdated":"2023-07-27T20:14:09.000Z","lastMembershipUpdated":"2023-07-27T20:14:09.000Z","objectClass":["okta:user_group"],"type":"OKTA_GROUP","profile":{"name":"foo_2750977450","description":""},"_links":{"logo":[{"name":"medium","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-medium.30ce6d4085dff29412984e4c191bc874.png","type":"image/png"},{"name":"large","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-large.c3cb8cda8ae0add1b4fe928f5844dbe3.png","type":"image/png"}],"users":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/groups/00g95uwmv327SvAiE1d7/users"},"apps":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/groups/00g95uwmv327SvAiE1d7/apps"}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 79.255873ms
[...]
    - id: 7
      request:
        host: mm-classic-2022-10-04.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-classic-2022-10-04.oktapreview.com/api/v1/users/00u95utp9vv1QyHt81d7
        method: GET
      response:
        body: '{"id":"00u95utp9vv1QyHt81d7","status":"PROVISIONED","created":"2023-07-27T20:14:09.000Z","activated":"2023-07-27T20:14:09.000Z","statusChanged":"2023-07-27T20:14:09.00[...]
    - id: 8
      request:
        host: mm-classic-2022-10-04.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-classic-2022-10-04.oktapreview.com/api/v1/users/00u95uvsqpM7YSm8T1d7
        method: GET
      response:
        body: '{"id":"00u95uvsqpM7YSm8T1d7","status":"PROVISIONED","created":"2023-07-27T20:14:09.000Z","activated":"2023-07-27T20:14:09.000Z","statusChanged":"2023-07-27T20:14:09.00[...]
    - id: 9
      request:
        host: mm-classic-2022-10-04.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-classic-2022-10-04.oktapreview.com/api/v1/users/00u95urex0sujJgZV1d7
        method: GET
      response:
        body: '{"id":"00u95urex0sujJgZV1d7","status":"PROVISIONED","created":"2023-07-27T20:14:09.000Z","activated":"2023-07-27T20:14:09.000Z","statusChanged":"2023-07-27T20:14:09.00[...]
    - id: 10
      request:
        host: mm-classic-2022-10-04.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-classic-2022-10-04.oktapreview.com/api/v1/users/00u95uvkwigcSc0681d7
        method: GET
      response:
        body: '{"id":"00u95uvkwigcSc0681d7","status":"PROVISIONED","created":"2023-07-27T20:14:09.000Z","activated":"2023-07-27T20:14:09.000Z","statusChanged":"2023-07-27T20:14:09.0[...]
    - id: 11
      request:
        host: mm-classic-2022-10-04.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-classic-2022-10-04.oktapreview.com/api/v1/groups/00g95uwmv327SvAiE1d7/users/00u95uvkwigcSc0681d7
        method: PUT
      response:
        body: ""
        headers:
        status: 204 No Content
        code: 204
        duration: 119.512325ms
    - id: 12
      request:
        host: mm-classic-2022-10-04.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-classic-2022-10-04.oktapreview.com/api/v1/groups/00g95uwmv327SvAiE1d7/users/00u95urex0sujJgZV1d7
        method: PUT
      response:
        body: ""
        headers:
        status: 204 No Content
        code: 204
        duration: 71.348293ms
    - id: 13
      request:
        host: mm-classic-2022-10-04.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-classic-2022-10-04.oktapreview.com/api/v1/groups/00g95uwmv327SvAiE1d7/users?limit=200
        method: GET
      response:
        body: '[{"id":"00u95urex0sujJgZV1d7","status":"PROVISIONED","created":"2023-07-27T20:14:09.000Z","activated":"2023-07-27T20:14:09.000Z","statusChanged":"202[...]
[...]
    - id: 27
      request:
        host: mm-classic-2022-10-04.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-classic-2022-10-04.oktapreview.com/api/v1/users/00u95urex0sujJgZV1d7/groups
        method: GET
      response:
        body: '[{"id":"00g5ptm04tzNvyznP1d7","created":"2022-10-04T23:20:18.000Z","lastUpdated":"2022-10-04T23:20:18.000Z","lastMembershipUpdated":"2023-07-27T20:14:03.000Z",[...]
    - id: 28
      request:
        host: mm-classic-2022-10-04.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-classic-2022-10-04.oktapreview.com/api/v1/users/00u95uvkwigcSc0681d7/groups
        method: GET
      response:
        body: '[{"id":"00g5ptm04tzNvyznP1d7","created":"2022-10-04T23:20:18.000Z","lastUpdated":"2022-10-04T23:20:18.000Z","lastMembershipUpdated":"2023-07-27T20:14:03.000Z",[...]
[...]
