---
version: 2
interactions:
    - id: 0
      request:
        host: oie-00.dne-okta.com
        body: |
            {"name":"testAcc_1071917180","template":"${org.name} code is: ${code}","type":"SMS_VERIFY_CODE"}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://oie-00.dne-okta.com/api/v1/templates/sms
        method: POST
      response:
        body: '{"id":"cstTEMPSM00000000001","name":"testAcc_1071917180","type":"SMS_VERIFY_CODE","template":"${org.name} code is: ${code}","created":"2025-07-17T00:00:00.000Z","lastUpdated":"2025-07-17T00:00:00.000Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 200ms
    - id: 1
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/templates/sms/cstTEMPSM00000000001
        method: GET
      response:
        body: '{"id":"cstTEMPSM00000000001","name":"testAcc_1071917180","type":"SMS_VERIFY_CODE","template":"${org.name} code is: ${code}","created":"2025-07-17T00:00:00.000Z","lastUpdated":"2025-07-17T00:00:00.000Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 200ms
[...]
