---
version: 2
interactions:
    - id: 0
      request:
        host: classic-00.dne-okta.com
        body: |
            {"issuerMode":"ORG_URL","name":"testAcc_google_4035998211","policy":{"accountLink":{"action":"AUTO"},"maxClockSkew":0,"provisioning":{"action":"AUTO","conditions":{"deprovisioned":{"action":"NONE"},"suspended":{"action":"NONE"}},"groups":{"action":"NONE"},"profileMaster":false},"subject":{"matchType":"USERNAME","userNameTemplate":{"template":"idpuser.email"}}},"protocol":{"credentials":{"client":{"client_id":"abcd123","client_secret":"abcd123","pkce_required":null}},"scopes":["openid","profile","email"],"type":"OIDC"},"status":"ACTIVE","type":"GOOGLE"}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://classic-00.dne-okta.com/api/v1/idps
        method: POST
      response:
        body: '{"id":"0oakwuqd5tELITmq01d7","issuerMode":"ORG_URL","name":"testAcc_google_4035998211","status":"ACTIVE","created":"2025-03-14T03:19:01.000Z","lastUpdated":"2025-03-14T03:19:01.000Z","protocol":{"type":"OIDC","endpoints":{"authorization":{"url":"https://accounts.google.com/o/oauth2/auth","binding":"HTTP-REDIRECT"},"token":{"url":"https://www.googleapis.com/oauth2/v3/token","binding":"HTTP-POST"}},"scopes":["openid","profile","email"],"credentials":{"client":{"client_id":"abcd123","client_secret":"abcd123"}}},"policy":{"provisioning":{"action":"AUTO","profileMaster":false,"groups":{"action":"NONE"},"conditions":{"deprovisioned":{"action":"NONE"},"suspended":{"action":"NONE"}}},"accountLink":{"filter":null,"action":"AUTO"},"subject":{"userNameTemplate":{"template":"idpuser.email"},"filter":null,"matchType":"USERNAME","matchAttribute":null},"maxClockSkew":0,"transformedUsernameMatchingEnabled":false},"type":"GOOGLE","_links":{"authorize":{"href":"https://classic-00.dne-okta.com/oauth2/v1/authorize?idp=0oakwuqd5tELITmq01d7&client_id={clientId}&response_type={responseType}&response_mode={responseMode}&scope={scopes}&redirect_uri={redirectUri}&state={state}&nonce={nonce}","templated":true,"hints":{"allow":["GET"]}},"clientRedirectUri":{"href":"https://classic-00.dne-okta.com/oauth2/v1/authorize/callback","hints":{"allow":["POST"]}}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 617.827333ms
    - id: 1
      request:
        host: classic-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/idps/0oakwuqd5tELITmq01d7
        method: GET
      response:
        body: '{"id":"0oakwuqd5tELITmq01d7","issuerMode":"ORG_URL","name":"testAcc_google_4035998211","status":"ACTIVE","created":"2025-03-14T03:19:01.000Z","lastUpdated":"2025-03-14T03:19:01.000Z","protocol":{"[...]
    - id: 2
      request:
        host: classic-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/mappings?limit=200
        method: GET
      response:
        body: '[{"id":"prmkwu9sptfVOV5ma1d7","source":{"id":"0oakwu9spi8BVSvfA1d7","name":"classic-00_testacc2584236398_3","type":"appuser","_links":{"self":{"href":"https://classic-00.dne-okta.com/api/v1/apps/0oakwu9spi8BVSvfA1d7"},"schema":{"href":"https://classic-00.dne-okta.com/api/v1/meta/schemas/apps/0oakwu9spi8BVSvfA1d7/default"}}},"target":{"id":"oty5ptm052JMcoADv1d7","name":"user","type":"user","_links":{"self":{"href":"https://classic-00.dne-okta.com/api/v1/meta/types/user/oty5ptm052JMcoADv1d7"},"schema":{"href":"https://classic-00.dne-okta.com/api/v1/meta/schemas/user/osc5ptm052JMcoADv1d7"}}},"_links":{"self":{"href":"https://classic-00.dne-okta.com/api/v1/mappings/prmkwu9sptfVOV5ma1d7"}}},{"id":"prmkwu9spuLGhlxEW1d7","source":{"id":"oty5ptm052JMcoADv1d7","name":"user","type":"user","_links":{"self":{"href":"https://classic-00.[...]
    - id: 3
      request:
        host: classic-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/mappings?limit=200&sourceId=0oakwuqd5tELITmq01d7&targetId=oty5ptm052JMcoADv1d7
        method: GET
      response:
        body: '[{"id":"prmkwuqd60E6Ymi8K1d7","source":{"id":"0oakwuqd5tELITmq01d7","name":"google_idp","type":"appuser","_links":{"self":{"href":"https://classic-00.dne-okta.com/api/v1/apps/0oakwuqd5tELITmq01d7"},"schema":{"href":"https://classic-00.dne-okta.com/api/v1/meta/schemas/apps/0oakwuqd5tELITmq01d7/default"}}},"target":{"id":"oty5ptm052JMcoADv1d7","name":"user","type":"user","_links":{"self":{"href":"https://classic-00.dne-okta.com/api/v1/meta/types/user/oty5ptm052JMcoADv1d7"},"schema":{"href":"https://classic-00.dne-okta.com/api/v1/meta/schemas/user/osc5ptm052JMcoADv1d7"}}},"_links":{"self":{"href":"https://classic-00.dne-okta.com/api/v1/mappings/prmkwuqd60E6Ymi8K1d7"}}}]'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
            Link:
                - <https://classic-00.dne-okta.com/api/v1/mappings?limit=200>; rel="self"
        status: 200 OK
        code: 200
        duration: 219.811ms
    - id: 4
      request:
        host: classic-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/mappings/prmkwuqd60E6Ymi8K1d7
        method: GET
      response:
        body: '{"id":"prmkwuqd60E6Ymi8K1d7","source":{"id":"0oakwuqd5tELITmq01d7","name":"google_idp","type":"appuser","_links":{"self":{"href":"https://classic-00.dne-okta.com/api/v1/apps/0oakwuqd5tELITmq01d7"},"schema":{"href":"https://classic-00.dne-okta.com/api/v1/meta/schemas/apps/0oakwuqd5tELITmq01d7/default"}}},"target":{"id":"oty5ptm052JMcoADv1d7","name":"user","type":"user","_links":{"self":{"href":"https://classic-00.dne-okta.com/api/v1/meta/types/user/oty5ptm052JMcoADv1d7"},"schema":{"href":"https://classic-00.dne-okta.com/api/v1/meta/schemas/user/osc5ptm052JMcoADv1d7"}}},"properties":{"login":{"expression":"appuser.email","pushStatus":"DONT_PUSH"},"email":{"expression":"appuser.email","pushStatus":"DONT_PUSH"},"firstName":{"expression":"appuser.firstName","pushStatus":"DONT_PUSH"},"middleName":{"expression":"appuser.middleName","pushStatus":"DONT_PUSH"},"lastName":{"expression":"appuser.lastName","pushStatus":"DONT_PUSH"},"honorificPrefix":{"expression":"appuser.honorificPrefix","pushStatus":"DONT_PUSH"},"honorificSuffix":{"expression":"appuser.honorificSuffix","pushStatus":"DONT_PUSH"},"displayName":{"expression":"appuser.displayName","pushStatus":"DONT_PUSH"},"profileUrl":{"expression":"appuser.profileUrl","pushStatus":"DONT_PUSH"}},"_links":{"self":{"href":"https://classic-00.dne-okta.com/api/v1/mappings/prmkwuqd60E6Ymi8K1d7"}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 240.731125ms
    - id: 5
      request:
        host: classic-00.dne-okta.com
        body: |
            {"id":"prmkwuqd60E6Ymi8K1d7","properties":{"displayName":{"expression":"appuser.displayName","pushStatus":"DONT_PUSH"},"email":{"expression":"appuser.email","pushStatus":"DONT_PUSH"},"firstName":{"expression":"appuser.firstName","pushStatus":"DONT_PUSH"},"honorificPrefix":{"expression":"appuser.honorificPrefix","pushStatus":"DONT_PUSH"},"honorificSuffix":{"expression":"appuser.honorificSuffix","pushStatu[...]
[...]
    - id: 17
      request:
        host: classic-00.dne-okta.com
        body: |
            {"id":"prmkwuqd60E6Ymi8K1d7","properties":{"displayName":null,"email":{"expression":"appuser.email","pushStatus":"DONT_PUSH"},"firstName":{"expression":"appuser.firstName","pushStatus":"DONT_PUSH"},"honorificPrefix":null,"honorificSuffix":null,"lastName":{"expression":"appuser.lastName","pushStatus":"DONT_PUSH"},"login":{"expression":"appuser.email","pushStatus":"DONT_PUSH"},"middleName":null,"profileUr[...]
[...]
    - id: 37
      request:
        host: classic-00.dne-okta.com
        body: |
            {"_links":{"self":{"href":"https://classic-00.dne-okta.com/api/v1/mappings/prmkwuqd60E6Ymi8K1d7"}},"id":"prmkwuqd60E6Ymi8K1d7","properties":{"email":null,"firstName":null,"lastName":null,"login":{"expression":"appuser.email","pushStatus":"DONT_PUSH"},"profileUrl":null},"source":{"_links":{"schema":{"href":"https://classic-00.dne-okta.com/api/v1/meta/schemas/apps/0oakwuqd5tELITmq01d7/default"},"self":{"h[...]
    - id: 38
      request:
        host: classic-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/idps/0oakwuqd5tELITmq01d7/lifecycle/deactivate
        method: POST
      response:
        body: '{"id":"0oakwuqd5tELITmq01d7","issuerMode":"ORG_URL","name":"testAcc_google_4035998211","status":"INACTIVE","created":"2025-03-14T03:19:01.000Z","lastUpdated":"2025-03-14T03:[...]
[...]
