---
version: 2
interactions:
    - id: 0
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/brands
        method: GET
      response:
        body: '[{"id":"bnd5qwjvgpotf2LV51d7","name":"New Brand","removePoweredByOkta":true,"customPrivacyPolicyUrl":"https://example.com/privacy-policy-updated","agreeToCustomPrivacyPolicy":true,"isDefault":true,"defaultApp":{"appInstanceId":null,"appLinkName":null,"classicApplicationUri":null},"_links":{"themes":{"href":"https://oie-00.oktapreview.com/api/v1/brands/bnd5qwjvgpotf2LV51d7/themes","hints":{"allow":["GET"]}},"self":{"href":"https://oie-00.oktapreview.com/api/v1/brands/bnd5qwjvgpotf2LV51d7","hints":{"allow":["GET","PUT","DELETE"]}}}},{"id":"bnd9i6wns4SKwJO841d7","name":"testacc-1169019695.example.com","removePoweredByOkta":false,"customPrivacyPolicyUrl":null,"agreeToCustomPrivacyPolicy":false,"isDefault":false,"defaultApp":{"appInstanceId":"0oa5qwjvixUgETvka1d7","appLinkName":null,"classicApplicationUri":null},"_links":{"themes":{"href":"https://oie-00.oktapreview.com/api/v1/brands/bnd9i6wns4SKwJO841d7/them[...]
    - id: 1
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/brands/bnd9bp9qjr4Jeov7o1d7/themes
        method: GET
      response:
        body: '[{"id":"the9bp9qjsVibfG1l1d7","logo":"https://op3static.oktacdn.com/assets/img/logos/okta-logo.1e146cad5713da744492be95eb0f7793.png","favicon":"https://oie-00.oktapreview.com/favicon.ico","backgroundImage":null,"primaryColorHex":"#1662ff","primaryColorContrastHex":"#ffffff","secondaryColorHex":"#fbfbfd","secondaryColorContrastHex":"#000000","signInPageTouchPointVariant":"OKTA_DEFAULT","endUserDashboardTouchPointVariant":"OKTA_DEFAULT","errorPageTouchPointVariant":"OKTA_DEFAULT","emailTemplateTouchPointVariant":"OKTA_DEFAULT","loadingPageTouchPointVariant":"OKTA_DEFAULT","_links":{"favicon":{"href":"https://oie-00.oktapreview.com/api/v1/brands/bnd9bp9qjr4Jeov7o1d7/themes/the9bp9qjsVibfG1l1d7/favicon","hints":{"allow":["POST","DELETE"]}},"self":{"href":"https://oie-00.oktapreview.com/api/v1/brands/bnd9bp9qjr4Jeov7o1d7/themes/the9bp9qjsVibfG1l1d7","hints":{"allow":["GET","PUT"]}},"logo":{"href":"https://oie-00.oktapreview.com/api/v1/brands/bnd9bp9qjr4Jeov7o1d7/themes/the9bp9qjsVibfG1l1d7/logo","hints":{"allow":["POST","DELETE"]}},"background-image":{"href":"https://oie-00.oktapreview.com/api/v1/brands/bnd9bp9qjr4Jeov7o1d7/themes/the9bp9qjsVibfG1l1d7/background-image","hints":{"allow":["POST","DELETE"]}}}}]'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 70.627383ms
[...]
