---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/brands
    method: GET
  response:
    body: '[{"id":"bnd5jjkl2p4D0LQh01d7","removePoweredByOkta":false,"customPrivacyPolicyUrl":null,"_links":{"themes":{"href":"https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/brands/bnd5jjkl2p4D0LQh01d7/themes","hints":{"allow":["GET"]}},"self":{"href":"https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/brands/bnd5jjkl2p4D0LQh01d7","hints":{"allow":["GET","PUT"]}}}}]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/brands/bnd5jjkl2p4D0LQh01d7/themes
    method: GET
  response:
    body: '[{"id":"the5jjkl2qxOEpNlQ1d7","logo":"https://op3static.oktacdn.com/assets/img/logos/okta-logo.1e146cad5713da744492be95eb0f7793.png","favicon":"https://tien-oie-tf-2022-09-21.oktapreview.com/favicon.ico","backgroundImage":null,"primaryColorHex":"#1662dd","primaryColorContrastHex":"#ffffff","secondaryColorHex":"#ebebed","secondaryColorContrastHex":"#000000","signInPageTouchPointVariant":"OKTA_DEFAULT","endUserDashboardTouchPointVariant":"OKTA_DEFAULT","errorPageTouchPointVariant":"OKTA_DEFAULT","emailTemplateTouchPointVariant":"OKTA_DEFAULT","loadingPageTouchPointVariant":"OKTA_DEFAULT","_links":{"favicon":{"href":"https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/brands/bnd5jjkl2p4D0LQh01d7/themes/the5jjkl2qxOEpNlQ1d7/favicon","hints":{"allow":["POST","DELETE"]}},"self":{"href":"https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/brands/bnd5jjkl2p4D0LQh01d7/themes/the5jjkl2qxOEpNlQ1d7","hints":{"allow":["GET","PUT"]}},"logo":{"href":"https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/brands/bnd5jjkl2p4D0LQh01d7/themes/the5jjkl2qxOEpNlQ1d7/logo","hints":{"allow":["POST","DELETE"]}},"background-image":{"href":"https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/brands/bnd5jjkl2p4D0LQh01d7/themes/the5jjkl2qxOEpNlQ1d7/background-image","hints":{"allow":["POST","DELETE"]}}}}]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
