---
version: 2
interactions:
    - id: 0
      request:
        host: classic-00.dne-okta.com
        body: |
            {"credentials":{"password":{}},"profile":{"email":"testAcc-1945645226@example.com","firstName":"TestAcc","lastName":"Smith","login":"testAcc-1945645226@example.com","postalAddress":null}}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://classic-00.dne-okta.com/api/v1/users?activate=false
        method: POST
      response:
        body: '{"id":"00u9i7j3bmGSoW5I41d7","status":"STAGED","created":"2023-08-16T00:09:09.000Z","activated":null,"statusChanged":null,"lastLogin":null,"lastUpdated":"2023-08-16T00:09:09.000Z","passwordChanged":null,"type":{"id":"oty5ptm052JMcoADv1d7"},"profile":{"firstName":"TestAcc","lastName":"Smith","mobilePhone":null,"secondEmail":null,"login":"testAcc-1945645226@example.com","email":"testAcc-1945645226@example.com"},"credentials":{"provider":{"type":"OKTA","name":"OKTA"}},"_links":{"schema":{"href":"https://classic-00.oktapreview.com/api/v1/meta/schemas/user/osc5ptm052JMcoADv1d7"},"activate":{"href":"https://classic-00.oktapreview.com/api/v1/users/00u9i7j3bmGSoW5I41d7/lifecycle/activate","method":"POST"},"self":{"href":"https://classic-00.oktapreview.com/api/v1/users/00u9i7j3bmGSoW5I41d7"},"type":{"href":"https://classic-00.oktapreview.com/api/v1/meta/types/user/oty5ptm052JMcoADv1d7"}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 233.637638ms
    - id: 1
      request:
        host: classic-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/users/00u9i7j3bmGSoW5I41d7
        method: GET
      response:
        body: '{"id":"00u9i7j3bmGSoW5I41d7","status":"STAGED","created":"2023-08-16T00:09:09.000Z","activated":null,"statusChanged":null,"lastLogin":null,"lastUpdated":"2023-08-16T00:09:09.000Z","passwordChanged":null,"type":{"id":"oty5ptm052JMcoADv1d7"},"profile":{"firstName":"TestAcc","lastName":"Smith","mobilePhone":null,"secondEmail":null,"login":"testAcc-1945645226@example.com","email":"testAcc-1945645226@example.com"},"credentials":{"provider":{"type":"OKTA","name":"OKTA"}},"_links":{"schema":{"href":"https://classic-00.oktapreview.com/api/v1/meta/schemas/user/osc5ptm052JMcoADv1d7"},"activate":{"href":"https://classic-00.oktapreview.com/api/v1/users/00u9i7j3bmGSoW5I41d7/lifecycle/activate","method":"POST"},"self":{"href":"https://classic-00.oktapreview.com/api/v1/users/00u9i7j3bmGSoW5I41d7"},"type":{"href":"https://classic-00.oktapreview.com/api/v1/meta/types/user/oty5ptm052JMcoADv1d7"}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 95.21033ms
[...]
    - id: 5
      request:
        host: classic-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/users/00u9i7j3bmGSoW5I41d7/lifecycle/deactivate
        method: POST
      response:
        body: '{}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 169.251243ms
    - id: 6
      request:
        host: classic-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/users/00u9i7j3bmGSoW5I41d7
        method: GET
      response:
        body: '{"id":"00u9i7j3bmGSoW5I41d7","status":"DEPROVISIONED","created":"2023-08-16T00:09:09.000Z","activated":null,"statusChanged":"2023-08-16T00:09:10.000Z","lastLogin":null,"lastUpdated":"2023-08-16T00:09:10.000Z","passwordChanged":null,"type":{"id":"oty5ptm052JMcoADv1d7"},"profile":{"firstName":"TestAcc","lastName":"Smith","mobilePhone":null,"secondEmail":null,"login":"testAcc-1945645226@example.com","email":"testAcc-1945645226@example.com"},"credentials":{"provider":{"type":"OKTA","name":"OKTA"}},"_links":{"schema":{"href":"https://classic-00.oktapreview.com/api/v1/meta/schemas/user/osc5ptm052JMcoADv1d7"},"activate":{"href":"https://classic-00.oktapreview.com/api/v1/users/00u9i7j3bmGSoW5I41d7/lifecycle/activate","method":"POST"},"self":{"href":"https://classic-00.oktapreview.com/api/v1/users/00u9i7j3bmGSoW5I41d7"},"type":{"href":"https://classic-00.oktapreview.com/api/v1/meta/types/user/oty5ptm052JMcoADv1d7"},"delete":{"href":"https://classic-00.oktapreview.com/api/v1/users/00u9i7j3bmGSoW5I41d7","method":"DELETE"}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 67.546684ms
[...]
    - id: 10
      request:
        host: classic-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/users/00u9i7j3bmGSoW5I41d7
        method: GET
      response:
        body: '{"errorCode":"E0000007","errorSummary":"Not found: Resource not found: 00u9i7j3bmGSoW5I41d7 (User)","errorLink":"E0000007","errorId":"oaeUr2xY8BoQo6mkLeTd1CbVw","errorCauses":[]}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 57.478267ms
