---
version: 2
interactions:
    - id: 0
      request:
        host: oie-00.dne-okta.com
        body: |
            {"credentials":{"password":{}},"profile":{"email":"testAcc-1945645226@example.com","firstName":"TestAcc","lastName":"Smith","login":"testAcc-1945645226@example.com","postalAddress":null}}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://oie-00.dne-okta.com/api/v1/users?activate=false
        method: POST
      response:
        body: '{"id":"00u9i782q0Sx9UnYs1d7","status":"STAGED","created":"2023-08-15T23:49:15.000Z","activated":null,"statusChanged":null,"lastLogin":null,"lastUpdated":"2023-08-15T23:49:15.000Z","passwordChanged":null,"type":{"id":"oty5qwjvh0Vy1j8Kd1d7"},"profile":{"firstName":"TestAcc","lastName":"Smith","mobilePhone":null,"secondEmail":null,"login":"testAcc-1945645226@example.com","email":"testAcc-1945645226@example.com"},"credentials":{"provider":{"type":"OKTA","name":"OKTA"}},"_links":{"schema":{"href":"https://oie-00.oktapreview.com/api/v1/meta/schemas/user/osc5qwjvh0Vy1j8Kd1d7"},"activate":{"href":"https://oie-00.oktapreview.com/api/v1/users/00u9i782q0Sx9UnYs1d7/lifecycle/activate","method":"POST"},"self":{"href":"https://oie-00.oktapreview.com/api/v1/users/00u9i782q0Sx9UnYs1d7"},"resetFactors":{"href":"https://oie-00.oktapreview.com/api/v1/users/00u9i782q0Sx9UnYs1d7/lifecycle/reset_factors","method":"POST"},"type":{"href":"https://oie-00.oktapreview.com/api/v1/meta/types/user/oty5qwjvh0Vy1j8Kd1d7"}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 301.657523ms
    - id: 1
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/users/00u9i782q0Sx9UnYs1d7
        method: GET
      response:
        body: '{"id":"00u9i782q0Sx9UnYs1d7","status":"STAGED","created":"2023-08-15T23:49:15.000Z","activated":null,"statusChanged":null,"lastLogin":null,"lastUpdated":"2023-08-15T23:49:15.000Z","passwordChanged":null,"type":{"id":"oty5qwjvh0Vy1j8Kd1d7"},"profile":{"firstName":"TestAcc","lastName":"Smith","mobilePhone":null,"secondEmail":null,"login":"testAcc-1945645226@example.com","email":"testAcc-1945645226@example.com"},"credentials":{"provider":{"type":"OKTA","name":"OKTA"}},"_links":{"schema":{"href":"https://oie-00.oktapreview.com/api/v1/meta/schemas/user/osc5qwjvh0Vy1j8Kd1d7"},"activate":{"href":"https://oie-00.oktapreview.com/api/v1/users/00u9i782q0Sx9UnYs1d7/lifecycle/activate","method":"POST"},"self":{"href":"https://oie-00.oktapreview.com/api/v1/users/00u9i782q0Sx9UnYs1d7"},"resetFactors":{"href":"https://oie-00.oktapreview.com/api/v1/users/00u9i782q0Sx9UnYs1d7/lifecycle/reset_factors","method":"POST"},"type":{"href":"https://oie-00.oktapreview.com/api/v1/meta/types/user/oty5qwjvh0Vy1j8Kd1d7"}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 80.631958ms
[...]
    - id: 5
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/users/00u9i782q0Sx9UnYs1d7/lifecycle/deactivate
        method: POST
      response:
        body: '{}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 171.506508ms
    - id: 6
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/users/00u9i782q0Sx9UnYs1d7
        method: GET
      response:
        body: '{"id":"00u9i782q0Sx9UnYs1d7","status":"DEPROVISIONED","created":"2023-08-15T23:49:15.000Z","activated":null,"statusChanged":"2023-08-15T23:49:17.000Z","lastLogin":null,"lastUpdated":"2023-08-15T23:49:17.000Z","passwordChanged":null,"type":{"id":"oty5qwjvh0Vy1j8Kd1d7"},"profile":{"firstName":"TestAcc","lastName":"Smith","mobilePhone":null,"secondEmail":null,"login":"testAcc-1945645226@example.com","email":"testAcc-1945645226@example.com"},"credentials":{"provider":{"type":"OKTA","name":"OKTA"}},"_links":{"schema":{"href":"https://oie-00.oktapreview.com/api/v1/meta/schemas/user/osc5qwjvh0Vy1j8Kd1d7"},"activate":{"href":"https://oie-00.oktapreview.com/api/v1/users/00u9i782q0Sx9UnYs1d7/lifecycle/activate","method":"POST"},"self":{"href":"https://oie-00.oktapreview.com/api/v1/users/00u9i782q0Sx9UnYs1d7"},"resetFactors":{"href":"https://oie-00.oktapreview.com/api/v1/users/00u9i782q0Sx9UnYs1d7/lifecycle/reset_factors","method":"POST"},"type":{"href":"https://oie-00.oktapreview.com/api/v1/meta/types/user/oty5qwjvh0Vy1j8Kd1d7"},"delete":{"href":"https://oie-00.oktapreview.com/api/v1/users/00u9i782q0Sx9UnYs1d7","method":"DELETE"}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 78.40793ms
[...]
    - id: 10
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/users/00u9i782q0Sx9UnYs1d7
        method: GET
      response:
        body: '{"errorCode":"E0000007","errorSummary":"Not found: Resource not found: 00u9i782q0Sx9UnYs1d7 (User)","errorLink":"E0000007","errorId":"oaes68JP9CrS0eg-Y4srg7dmw","errorCauses":[]}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 71.121076ms
