---
version: 2
interactions:
    - id: 0
      request:
        host: classic-00.dne-okta.com
        body: |
            {"credentials":{"password":{"value":"Abcd1234"},"recovery_question":{"answer":"Forty Two","question":"What is the answer to life, the universe, and everything?"}},"profile":{"email":"testAcc-3512374314@example.com","firstName":"TestAcc","lastName":"Smith","login":"testAcc-3512374314@example.com","postalAddress":null}}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://classic-00.dne-okta.com/api/v1/users
        method: POST
      response:
        body: '{"id":"00uvozgevpwhNsOXx1d7","status":"ACTIVE","created":"2026-03-02T12:45:19.000Z","activated":"2026-03-02T12:45:19.000Z","statusChanged":"2026-03-02T12:45:19.000Z","lastLogin":null,"lastUpdated":"2026-03-02T12:45:19.000Z","passwordChanged":"2026-03-02T12:45:19.000Z","realmId":"guotivlj45ZSJtnfF1d7","type":{"id":"otytivnus5k8rPk4X1d7"},"profile":{"firstName":"TestAcc","lastName":"Smith","mobilePhone":null,"secondEmail":null,"login":"testAcc-3512374314@example.com","email":"testAcc-3512374314@example.com"},"credentials":{"password":{},"recovery_question":{"question":"What is the answer to life, the universe, and everything?"},"provider":{"type":"OKTA","name":"OKTA"}},"_links":{"suspend":{"href":"https://classic-00.dne-okta.com/api/v1/users/00uvozgevpwhNsOXx1d7/lifecycle/suspend","method":"POST"},"schema":{"href":"https://classic-00.dne-okta.com/api/v1/meta/schemas/user/osctivnus5k8rPk4X1d7"},"resetPassword":{"href":"https://classic-00.dne-okta.com/api/v1/users/00uvozgevpwhNsOXx1d7/lifecycle/reset_password","method":"POST"},"forgotPassword":{"href":"https://classic-00.dne-okta.com/api/v1/users/00uvozgevpwhNsOXx1d7/credentials/forgot_password","method":"POST"},"expirePassword":{"href":"https://classic-00.dne-okta.com/api/v1/users/00uvozgevpwhNsOXx1d7/lifecycle/expire_password","method":"POST"},"changeRecoveryQuestion":{"href":"https://classic-00.dne-okta.com/api/v1/users/00uvozgevpwhNsOXx1d7/credentials/change_recovery_question","method":"POST"},"self":{"href":"https://classic-00.dne-okta.com/api/v1/users/00uvozgevpwhNsOXx1d7"},"resetFactors":{"href":"https://classic-00.dne-okta.com/api/v1/users/00uvozgevpwhNsOXx1d7/lifecycle/reset_factors","method":"POST"},"type":{"href":"https://classic-00.dne-okta.com/api/v1/meta/types/user/otytivnus5k8rPk4X1d7"},"changePassword":{"href":"https://classic-00.dne-okta.com/api/v1/users/00uvozgevpwhNsOXx1d7/credentials/change_password","method":"POST"},"deactivate":{"href":"https://classic-00.dne-okta.com/api/v1/users/00uvozgevpwhNsOXx1d7/lifecycle/deactivate","method":"POST"}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.950881834s
    - id: 1
      request:
        host: classic-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/users/00uvozgevpwhNsOXx1d7
        method: GET
      response:
        body: '{"id":"00uvozgevpwhNsOXx1d7","status":"ACTIVE","created":"2026-03-02T12:45:19.000Z","activated":"2026-03-02T12:45:19.000Z","statusChanged":"2026-03-02T12:45:19.000Z","lastLogin":null,"lastUpdated":"2026-03-02T12:45:19.000Z","pass[...]
[...]
    - id: 7
      request:
        host: classic-00.dne-okta.com
        body: |
            {"password":{"value":"SuperSecret007"},"recovery_question":{"answer":"Asterisk","question":"Which symbol has the ASCII code of Forty Two?"}}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://classic-00.dne-okta.com/api/v1/users/00uvozgevpwhNsOXx1d7/credentials/change_recovery_question
        method: POST
      response:
        body: '{"password":{},"recovery_question":{"question":"Which symbol has the ASCII code of Forty Two?"},"provider":{"type":"OKTA","name":"OKTA"}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.475856416s
[...]
    - id: 13
      request:
        host: classic-00.dne-okta.com
        body: |
            {"newPassword":{"value":"Super#Secret@007"},"oldPassword":{"value":"SuperSecret007"}}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://classic-00.dne-okta.com/api/v1/users/00uvozgevpwhNsOXx1d7/credentials/change_password
        method: POST
      response:
        body: '{"password":{},"recovery_question":{"question":"Which symbol has the ASCII code of Forty Two?"},"provider":{"type":"OKTA","name":"OKTA"}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.635606292s
[...]
