---
version: 2
interactions:
    - id: 0
      request:
        host: classic-00.dne-okta.com
        body: |
            {"audiences":["api://selfservice_client_2"],"credentials":{"signing":{"rotationMode":"MANUAL"}},"issuerMode":"ORG_URL","name":"testAcc_34563859161"}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://classic-00.dne-okta.com/api/v1/authorizationServers
        method: POST
      response:
        body: '{"errorCode":"E0000015","errorSummary":"You do not have permission to access the feature you are requesting","errorLink":"E0000015","errorId":"oaegkVZFuaORTC2jMZxXEujTQ","errorCauses":[]}'
        headers:
            Content-Type:
                - application/json
        status: 401 Unauthorized
        code: 401
        duration: 185.285584ms
[...]
