---
version: 2
interactions:
    - id: 0
      request:
        host: oie-00.dne-okta.com
        body: |
            {"name":"test-label-3325793829","values":[{"name":"test-value"}]}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://oie-00.dne-okta.com/governance/api/v1/labels
        method: POST
      response:
        body: '{"labelId":"lbc1e0eg6kyIiskp51d7","name":"test-label-3325793829","values":[{"labelValueId":"lbl1e0eg6leqXFd9e1d7","name":"test-value"}],"_links":{"self":{"href":"https://oie-00.dne-okta.com/governance/api/v1/labels/lbc1e0eg6kyIiskp51d7","hints":{}}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
            Link:
                - <https://oie-00.dne-okta.com/governance/api/v1/labels/lbc1e0eg6kyIiskp51d7>; rel="self"
            Location:
                - https://dcp-testing-oig-2025-06-26.oktapreview.com/governance/api/v1/labels/lbc1e0eg6kyIiskp51d7
        status: 201 Created
        code: 201
        duration: 1.1914185s
    - id: 1
      request:
        host: oie-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/governance/api/v1/labels/lbc1e0eg6kyIiskp51d7
        method: GET
      response:
        body: '{"labelId":"lbc1e0eg6kyIiskp51d7","name":"test-label-3325793829","values":[{"labelValueId":"lbl1e0eg6leqXFd9e1d7","name":"test-value"}],"_links":{"self":{"href":"https://oie-00.dne-okta.com/governance/api/v1/labels/lbc1e0eg6kyIiskp51d7","hints":{}}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
            Link:
                - <https://oie-00.dne-okta.com/governance/api/v1/labels/lbc1e0eg6kyIiskp51d7>; rel="self"
        status: 200 OK
        code: 200
        duration: 1.250403041s
[...]
