---
version: 2
interactions:
    - id: 0
      request:
        host: classic-00.dne-okta.com
        body: |
            {"accessScopeSettings":{"type":"RESOURCE_DEFAULT"},"approvalSequenceId":"695cd5cd4bfe7d01dbcacb51","name":"issue-2780","priority":0,"requesterSettings":{"type":"EVERYONE"}}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://classic-00.dne-okta.com/governance/api/v2/resources/0oatu8k9anRWwR1oq1d7/request-conditions
        method: POST
      response:
        body: '{"requesterSettings":{"type":"EVERYONE"},"accessScopeSettings":{"type":"RESOURCE_DEFAULT"},"approvalSequenceId":"695cd5cd4bfe7d01dbcacb51","name":"issue-2780","id":"rco1afx8mlNgzYWFA1d7","createdBy":"00utivnuu1aaKzqqO1d7","created":"2026-04-16T06:01:07Z","lastUpdated":"2026-04-16T06:01:07Z","lastUpdatedBy":"00utivnuu1aaKzqqO1d7","_links":{"self":{"href":"https://classic-00-admin.dne-okta.com/governance/api/v2/resources/0oatu8k9anRWwR1oq1d7/request-conditions/rco1afx8mlNgzYWFA1d7","hints":{}}},"status":"INACTIVE","priority":0}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
            Location:
                - https://dcp-tf-testing-2026-01-06-admin.oktapreview.com/governance/api/v2/resources/0oatu8k9anRWwR1oq1d7/request-conditions/rco1afx8mlNgzYWFA1d7
        status: 201 Created
        code: 201
        duration: 1.729996916s
    - id: 1
      request:
        host: classic-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/governance/api/v2/resources/0oatu8k9anRWwR1oq1d7/request-conditions/rco1afx8mlNgzYWFA1d7
        method: GET
      response:
        body: '{"requesterSettings":{"type":"EVERYONE"},"accessScopeSettings":{"type":"RESOURCE_DEFAULT"},"approvalSequenceId":"695cd5cd4bfe7d01dbcacb51","name":"issue-2780","id":"rco1afx8mlNgzYWFA1d7","createdBy":"00utivnuu1aaKzqqO1d7","created":"2026-04-16T06:01:07Z","lastUpdated":"2026-04-16T06:01:07Z","lastUpdatedBy":"00utivnuu1aaKzqqO1d7","_links":{"self":{"href":"https://classic-00-admin.dne-okta.com/governance/api/v2/resources/0oatu8k9anRWwR1oq1d7/request-conditions/rco1afx8mlNgzYWFA1d7","hints":{}}},"status":"INACTIVE","priority":0}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.136876917s
[...]
    - id: 4
      request:
        host: classic-00.dne-okta.com
        body: |
            {"accessScopeSettings":{"type":"RESOURCE_DEFAULT"},"approvalSequenceId":"695cd5cd4bfe7d01dbcacb51","name":"issue-2780","priority":0,"requesterSettings":{"type":"EVERYONE"}}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://classic-00.dne-okta.com/governance/api/v2/resources/0oaty79sxfpt7AVvI1d7/req[...]
    - id: 5
      request:
        host: classic-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/governance/api/v2/resources/0oaty79sxfpt7AVvI1d7/request-conditions/rco1afzjx7gg4N1F21d7
        method: GET
      response:
        body: '{"requesterSettings":{"type":"EVERYONE"},"accessScopeSettings":{"type":"RESOURCE_DEFAULT"},"approvalSequenceId":"695cd5cd4bfe7d01dbcacb51","name":"issue-2780","id":"rco1afzjx7gg4N1F21d7","createdBy":"00utivnuu1aaKzqqO1d7","created":"2026-04-16T06:01:13Z","lastUpdated":"2026-04-16T06:01:13Z","lastUpdatedBy":"00utivnuu1aaKzqqO1d7","_links":{"self":{"href":"https://classic-00-admin.dne-okta.com/governance/api/v2/resources/0oaty79sxfpt7AVvI1d7/request-conditions/rco1afzjx7gg4N1F21d7","hints":{}}},"status":"INACTIVE","priority":0}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.113451459s
[...]
