---
version: 2
interactions:
    - id: 0
      request:
        host: oie-00.dne-okta.com
        form:
            type:
                - IDP_DISCOVERY
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/policies?type=IDP_DISCOVERY
        method: GET
      response:
        body: '[{"id":"00pnkw1sew5kdoN4o1d7","status":"ACTIVE","name":"Idp Discovery Policy","description":"The default IdP Discovery Policy","priority":1,"system":true,"conditions":null,"created":"2025-06-26T15:51:37.000Z","lastUpdated":"2025-06-26T15:51:37.000Z","_links":{"self":{"href":"https://oie-00.dne-okta.com/api/v1/policies/00pnkw1sew5kdoN4o1d7","hints":{"allow":["GET","PUT"]}},"rules":{"href":"https://oie-00.dne-okta.com/api/v1/policies/00pnkw1sew5kdoN4o1d7/rules","hints":{"allow":["GET","POST"]}}},"type":"IDP_DISCOVERY"}]'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
            Link:
                - <https://oie-00.dne-okta.com/api/v1/policies?type=IDP_DISCOVERY>; rel="self"
        status: 200 OK
        code: 200
        duration: 8.977782166s
[...]
    - id: 2
      request:
        host: oie-00.dne-okta.com
        body: |
            {"actions":{"idp":{"idpSelectionType":"DYNAMIC","matchCriteria":[{"providerExpression":"login.identifier.substringAfter('@')"}],"providers":[],"shouldFallBackToOkta":false}},"conditions":{"network":{"connection":"ANYWHERE"}},"name":"testAcc_1445710770","priority":1,"status":"ACTIVE","system":false,"type":"IDP_DISCOVERY"}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://oie-00.dne-okta.com/api/v1/policies/00pnkw1sew5kdoN4o1d7/rules
        method: POST
      response:
        body: '{"id":"0prx764pzcjh6CijQ1d7","status":"ACTIVE","name":"testAcc_1445710770","priority":1,"created":"2026-04-07T09:14:08.000Z","lastUpdated":"2026-04-07T09:14:08.000Z","system":false,"conditions":{"network":{"connection":"ANYWHERE"},"userIdentifier":{"patterns":[]},"app":{"include":[],"exclude":[]}},"actions":{"idp":{"providers":[],"matchCriteria":[{"providerExpression":"login.identifier.substringAfter(''@'')","propertyName":"name"}],"idpSelectionType":"DYNAMIC"}},"_links":{"self":{"href":"https://oie-00.dne-okta.com/api/v1/policies/00pnkw1sew5kdoN4o1d7/rules/0prx764pzcjh6CijQ1d7","hints":{"allow":["GET","PUT","DELETE"]}},"deactivate":{"href":"https://oie-00.dne-okta.com/api/v1/policies/00pnkw1sew5kdoN4o1d7/rules/0prx764pzcjh6CijQ1d7/lifecycle/deactivate","hints":{"allow":["POST"]}}},"type":"IDP_DISCOVERY"}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 5.068523291s
    - id: 3
      request:
        host: oie-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/policies/00pnkw1sew5kdoN4o1d7/rules/0prx764pzcjh6CijQ1d7
        method: GET
      response:
        body: '{"id":"0prx764pzcjh6CijQ1d7","status":"ACTIVE","name":"testAcc_1445710770","priority":1,"created":"2026-04-07T09:14:08.000Z","lastUpdated":"2026-04-07T09:14:08.000Z","system":false,"conditions":{"network":{"connection":"ANYWHERE"},"userIdentifier":{"patterns":[]},"app":{"include":[],"exclude":[]}},"actions":{"idp":{"providers":[],"matchCriteria":[{"providerExpression":"login.identifier.substringAfter(''@'')","propertyName":"name"}],"idpSelectionType":"DYNAMIC"}},"_links":{"self":{"href":"https://oie-00.dne-okta.com/api/v1/policies/00pnkw1sew5kdoN4o1d7/rules/0prx764pzcjh6CijQ1d7","hints":{"allow":["GET","PUT","DELETE"]}},"deactivate":{"href":"https://oie-00.dne-okta.com/api/v1/policies/00pnkw1sew5kdoN4o1d7/rules/0prx764pzcjh6CijQ1d7/lifecycle/deactivate","hints":{"allow":["POST"]}}},"type":"IDP_DISCOVERY"}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.275840167s
[...]
