---
version: 2
interactions:
    - id: 0
      request:
        host: classic-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/groups/rules/
        method: GET
      response:
        body: '[]'
        headers:
            Content-Type:
                - application/json
            Link:
                - <https://classic-00.dne-okta.com/api/v1/groups/rules?limit=50>; rel="self"
        status: 200 OK
        code: 200
        duration: 135.984849ms
[...]
    - id: 2
      request:
        host: classic-00.dne-okta.com
        body: |
            {"profile":{"name":"TestACC Group A","description":"Group A"}}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://classic-00.dne-okta.com/api/v1/groups
        method: POST
      response:
        body: '{"id":"00g9i7kp83HbZSAx31d7","created":"2023-08-16T00:04:03.000Z","lastUpdated":"2023-08-16T00:04:03.000Z","lastMembershipUpdated":"2023-08-16T00:04:03.000Z","objectClass":["okta:user_group"],"type":"OKTA_GROUP","profile":{"name":"TestACC Group A","description":"Group A"},"_links":{"logo":[{"name":"medium","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-medium.30ce6d4085dff29412984e4c191bc874.png","type":"image/png"},{"name":"large","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-large.c3cb8cda8ae0add1b4fe928f5844dbe3.png","type":"image/png"}],"users":{"href":"https://classic-00.oktapreview.com/api/v1/groups/00g9i7kp83HbZSAx31d7/users"},"apps":{"href":"https://classic-00.oktapreview.com/api/v1/groups/00g9i7kp83HbZSAx31d7/apps"}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 70.176769ms
[...]
    - id: 4
      request:
        host: classic-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/groups/00g9i7hzw1lS1KYo21d7
        method: GET
      response:
        body: '{"id":"00g9i7hzw1lS1KYo21d7","created":"2023-08-16T00:04:03.000Z","lastUpdated":"2023-08-16T00:04:03.000Z","lastMembershipUpdated":"2023-08-16T00:04:03.000Z","objectClass":["okta:user_group"],"type":"OKTA_GROUP","profile":{"name":"TestACC Group B","description":"Group B"},"_links":{"logo":[{"name":"medium","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-medium.30ce6d4085dff29412984e4c191bc874.png","type":"image/png"},{"name":"large","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-large.c3cb8cda8ae0add1b4fe928f5844dbe3.png","type":"image/png"}],"users":{"href":"https://classic-00.oktapreview.com/api/v1/groups/00g9i7hzw1lS1KYo21d7/users"},"apps":{"href":"https://classic-00.oktapreview.com/api/v1/groups/00g9i7hzw1lS1KYo21d7/apps"}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 61.852791ms
    - id: 5
      request:
        host: classic-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/groups/00g9i7kp83HbZSAx31d7
        method: GET
      response:
        body: '{"id":"00g9i7kp83HbZSAx31d7","created":"2023-08-16T00:04:03.000Z","lastUpdated":"2023-08-16T00:04:03.000Z","lastMembershipUpdated":"2023-08-16T00:04:03.000Z","objectClass":["okta:user_group"],"type":"OKTA_GROUP","profile":{"name":"TestACC Group A","description":"Group A"},"_links":{"logo":[{"name":"medium","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-medium.30ce6d4085dff29412984e4c191bc874.png","type":"image/png"},{"name":"large","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-large.c3cb8cda8ae0add1b4fe928f5844dbe3.png","type":"image/png"}],"users":{"href":"https://classic-00.oktapreview.com/api/v1/groups/00g9i7kp83HbZSAx31d7/users"},"apps":{"href":"https://classic-00.oktapreview.com/api/v1/groups/00g9i7kp83HbZSAx31d7/apps"}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 62.224218ms
[...]
    - id: 8
      request:
        host: classic-00.dne-okta.com
        body: |
            {"credentials":{"password":{}},"profile":{"email":"testAcc3-replace_with_uuid@example.com","firstName":"TestAcc","lastName":"Smith3","login":"testAcc3-replace_with_uuid@example.com","postalAddress":null}}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://classic-00.dne-okta.com/api/v1/users
        method: POST
      response:
        body: '{"id":"00u9i7f6dy0iaJLRI1d7","status":"PROVISIONED","created":"2023-08-16T00:04:03.000Z","activated":"2023-08-16T00:04:03.000Z","statusChanged":"2023-08-16T00:04:03.000Z","lastLogin":null,"lastUpdated":"2023-08-16T00:04:03.000Z","passwordChanged":null,"type":{"id":"oty5ptm052JMcoADv1d7"},"profile":{"firstName":"TestAcc","lastName":"Smith3","mobilePhone":null,"secondEmail":null,"login":"testAcc3-replace_with_uuid@example.com","email":"testAcc3-replace_with_uuid@example.com"},"credentials":{"provider":{"type":"OKTA","name":"OKTA"}},"_links":{"suspend":{"href":"https://classic-00.oktapreview.com/api/v1/users/00u9i7f6dy0iaJLRI1d7/lifecycle/suspend","method":"POST"},"schema":{"href":"https://classic-00.oktapreview.com/api/v1/meta/schemas/user/osc5ptm052JMcoADv1d7"},"resetPassword":{"href":"https://classic-00.oktapreview.com/api/v1/users/00u9i7f6dy0iaJLRI1d7/lifecycle/reset_password","method":"POST"},"reactivate":{"href":"https://classic-00.oktapreview.com/api/v1/users/00u9i7f6dy0iaJLRI1d7/lifecycle/reactivate","method":"POST"},"self":{"href":"https://classic-00.oktapreview.com/api/v1/users/00u9i7f6dy0iaJLRI1d7"},"type":{"href":"https://classic-00.oktapreview.com/api/v1/meta/types/user/oty5ptm052JMcoADv1d7"},"deactivate":{"href":"https://classic-00.oktapreview.com/api/v1/users/00u9i7f6dy0iaJLRI1d7/lifecycle/deactivate","method":"POST"}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 250.10041ms
[...]
    - id: 10
      request:
        host: classic-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/users/00u9i7f6dy0iaJLRI1d7
        method: GET
      response:
        body: '{"id":"00u9i7f6dy0iaJLRI1d7","status":"PROVISIONED","created":"2023-08-16T00:04:03.000Z","activated":"2023-08-16T00:04:03.000Z","statusChanged":"2023-08-16T00:04:03.000Z","lastLogin":null,"lastU[...]
[...]
    - id: 12
      request:
        host: classic-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/users/00u9i7g5ckOPO0Y4i1d7
        method: GET
      response:
        body: '{"id":"00u9i7g5ckOPO0Y4i1d7","status":"PROVISIONED","created":"2023-08-16T00:04:03.000Z","activated":"2023-08-16T00:04:03.000Z","statusChanged":"2023-08-16T00:04:03.000Z","lastLogin":null,"lastU[...]
[...]
    - id: 15
      request:
        host: classic-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/users/00u9i7fy6lVwVmNcV1d7
        method: GET
      response:
        body: '{"id":"00u9i7fy6lVwVmNcV1d7","status":"PROVISIONED","created":"2023-08-16T00:04:03.000Z","activated":"2023-08-16T00:04:03.000Z","statusChanged":"2023-08-16T00:04:03.000Z","lastLogin":null,"lastU[...]
    - id: 16
      request:
        host: classic-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/users/00u9i7g7esqi2hcd91d7
        method: GET
      response:
        body: '{"id":"00u9i7g7esqi2hcd91d7","status":"PROVISIONED","created":"2023-08-16T00:04:03.000Z","activated":"2023-08-16T00:04:03.000Z","statusChanged":"2023-08-16T00:04:03.000Z","lastLogin":null,"lastU[...]
    - id: 17
      request:
        host: classic-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/users/00u9i7eexeSOURymM1d7
        method: GET
      response:
        body: '{"id":"00u9i7eexeSOURymM1d7","status":"PROVISIONED","created":"2023-08-16T00:04:03.000Z","activated":"2023-08-16T00:04:03.000Z","statusChanged":"2023-08-16T00:04:03.000Z","lastLogin":null,"lastU[...]
    - id: 18
      request:
        host: classic-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/groups/00g9i7kp83HbZSAx31d7/users/00u9i7g5ckOPO0Y4i1d7
        method: PUT
      response:
        body: ""
        headers:
        status: 204 No Content
        code: 204
        duration: 74.743683ms
    - id: 19
      request:
        host: classic-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/groups/00g9i7kp83HbZSAx31d7/users/00u9i7eexeSOURymM1d7
        method: PUT
      response:
        body: ""
        headers:
        status: 204 No Content
        code: 204
        duration: 79.448746ms
    - id: 20
      request:
        host: classic-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/groups/00g9i7kp83HbZSAx31d7/users?limit=200
        method: GET
      response:
        body: '[{"id":"00u9i7eexeSOURymM1d7","status":"PROVISIONED","created":"2023-08-16T00:04:03.000Z","activated":"2023-08-16T00:04:03.000Z","statusChanged":"2023-08-16T00:04:03.000Z","last[...]
[...]
    - id: 22
      request:
        host: classic-00.dne-okta.com
        body: |
            {"actions":{"assignUserToGroups":{"groupIds":["00g9i7kp83HbZSAx31d7"]}},"conditions":{"expression":{"type":"urn:okta:expression:1.0","value":"isMemberOfAnyGroup(\"00g9i7hzw1lS1KYo21d7\")"},"people":{"users":{}}},"name":"Group B -> A rule","type":"group_rule"}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://classic-00.dne-okta.com/api/v1/groups/rules
        method: POST
      response:
        body: '{"type":"group_rule","id":"0pr9i7edcnD7FPIxQ1d7","status":"INACTIVE","name":"Group B -> A rule","conditions":{"people":{"users":{"exclude":[]},"groups":{"exclude":[]}},"expression":{"value":"isMemberOfAnyGroup(\"00g9i7hzw1lS1KYo21d7\")","type":"urn:okta:expression:1.0"}},"actions":{"assignUserToGroups":{"groupIds":["00g9i7kp83HbZSAx31d7"]}},"allGroupsValid":true}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 131.714627ms
    - id: 23
      request:
        host: classic-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/groups/rules/0pr9i7edcnD7FPIxQ1d7/lifecycle/activate
        method: POST
      response:
        body: ""
        headers:
        status: 204 No Content
        code: 204
        duration: 103.819558ms
    - id: 24
      request:
        host: classic-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/groups/rules/0pr9i7edcnD7FPIxQ1d7
        method: GET
      response:
        body: '{"type":"group_rule","id":"0pr9i7edcnD7FPIxQ1d7","status":"ACTIVE","name":"Group B -> A rule","conditions":{"people":{"users":{"exclude":[]},"groups":{"exclude":[]}},"expression":{"value":"isMemberOfAnyGroup(\"00g9i7hzw1lS1KYo21d7\")","type":"urn:okta:expression:1.0"}},"actions":{"assignUserToGroups":{"groupIds":["00g9i7kp83HbZSAx31d7"]}},"allGroupsValid":true}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 57.304998ms
[...]
    - id: 26
      request:
        host: classic-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/groups/00g9i7hzw1lS1KYo21d7/users?limit=200
        method: GET
      response:
        body: '[]'
        headers:
            Content-Type:
                - application/json
            Link:
                - <https://classic-00.dne-okta.com/api/v1/groups/00g9i7hzw1lS1KYo21d7/users?limit=200>; rel="self"
        status: 200 OK
        code: 200
        duration: 67.568686ms
[...]
    - id: 53
      request:
        host: classic-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/groups/rules/0pr9i7edcnD7FPIxQ1d7/lifecycle/deactivate
        method: POST
      response:
        body: ""
        headers:
        status: 204 No Content
        code: 204
        duration: 111.515768ms
    - id: 54
      request:
        host: classic-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/groups/rules/0pr9i7edcnD7FPIxQ1d7?removeUsers=false
        method: DELETE
      response:
        body: '{}'
        headers:
            Content-Type:
                - application/json
        status: 202 Accepted
        code: 202
        duration: 121.702597ms
[...]
    - id: 69
      request:
        host: classic-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/users/00g9i7kp83HbZSAx31d7
        method: GET
      response:
        body: '{"errorCode":"E0000007","errorSummary":"Not found: Resource not found: 00g9i7kp83HbZSAx31d7 (User)","errorLink":"E0000007","errorId":"oae3H8BKIS9TvSVcJ06aj7zgQ","errorCauses":[]}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 80.611257ms
    - id: 70
      request:
        host: classic-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/users/00g9i7hzw1lS1KYo21d7
        method: GET
      response:
        body: '{"errorCode":"E0000007","errorSummary":"Not found: Resource not found: 00g9i7hzw1lS1KYo21d7 (User)","errorLink":"E0000007","errorId":"oaeyrEm6HmcSja8L8ouBUxxnw","errorCauses":[]}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 51.417973ms
[...]
    - id: 75
      request:
        host: classic-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/users/0pr9i7edcnD7FPIxQ1d7
        method: GET
      response:
        body: '{"errorCode":"E0000007","errorSummary":"Not found: Resource not found: 0pr9i7edcnD7FPIxQ1d7 (User)","errorLink":"E0000007","errorId":"oaeOy11iMX2R5K7617R75g7jw","errorCauses":[]}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 56.825315ms
[...]
