---
version: 2
interactions:
    - id: 0
      request:
        host: mm-classic-2022-10-04.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-classic-2022-10-04.oktapreview.com/api/v1/groups/rules/
        method: GET
      response:
        body: '[]'
        headers:
            Content-Type:
                - application/json
            Link:
                - <https://mm-classic-2022-10-04.oktapreview.com/api/v1/groups/rules?limit=50>; rel="self"
        status: 200 OK
        code: 200
        duration: 249.610468ms
[...]
    - id: 2
      request:
        host: mm-classic-2022-10-04.oktapreview.com
        body: |
            {"profile":{"name":"TestACC Group B","description":"Group B"}}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://mm-classic-2022-10-04.oktapreview.com/api/v1/groups
        method: POST
      response:
        body: '{"id":"00g95v5j83ZgUlQUW1d7","created":"2023-07-27T20:28:42.000Z","lastUpdated":"2023-07-27T20:28:42.000Z","lastMembershipUpdated":"2023-07-27T20:28:42.000Z","objectClass":["okta:user_group"],"type":"OKTA_GROUP","profile":{"name":"TestACC Group B","description":"Group B"},"_links":{"logo":[{"name":"medium","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-medium.30ce6d4085dff29412984e4c191bc874.png","type":"image/png"},{"name":"large","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-large.c3cb8cda8ae0add1b4fe928f5844dbe3.png","type":"image/png"}],"users":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/groups/00g95v5j83ZgUlQUW1d7/users"},"apps":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/groups/00g95v5j83ZgUlQUW1d7/apps"}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 96.575935ms
[...]
    - id: 4
      request:
        host: mm-classic-2022-10-04.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-classic-2022-10-04.oktapreview.com/api/v1/groups/00g95v5j83ZgUlQUW1d7
        method: GET
      response:
        body: '{"id":"00g95v5j83ZgUlQUW1d7","created":"2023-07-27T20:28:42.000Z","lastUpdated":"2023-07-27T20:28:42.000Z","lastMembershipUpdated":"2023-07-27T20:28:42.000Z","objectClass":["okta:user_group"],"type":"OKTA_GROUP","profile":{"name":"TestACC Group B","description":"Group B"},"_links":{"logo":[{"name":"medium","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-medium.30ce6d4085dff29412984e4c191bc874.png","type":"image/png"},{"name":"large","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-large.c3cb8cda8ae0add1b4fe928f5844dbe3.png","type":"image/png"}],"users":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/groups/00g95v5j83ZgUlQUW1d7/users"},"apps":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/groups/00g95v5j83ZgUlQUW1d7/apps"}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 80.816564ms
    - id: 5
      request:
        host: mm-classic-2022-10-04.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-classic-2022-10-04.oktapreview.com/api/v1/groups/00g95v0y80KOcHLPk1d7
        method: GET
      response:
        body: '{"id":"00g95v0y80KOcHLPk1d7","created":"2023-07-27T20:28:42.000Z","lastUpdated":"2023-07-27T20:28:42.000Z","lastMembershipUpdated":"2023-07-27T20:28:42.000Z","objectClass":["okta:user_group"],"type":"OKTA_GROUP","profile":{"name":"TestACC Group A","description":"Group A"},"_links":{"logo":[{"name":"medium","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-medium.30ce6d4085dff29412984e4c191bc874.png","type":"image/png"},{"name":"large","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-large.c3cb8cda8ae0add1b4fe928f5844dbe3.png","type":"image/png"}],"users":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/groups/00g95v0y80KOcHLPk1d7/users"},"apps":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/groups/00g95v0y80KOcHLPk1d7/apps"}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 74.529831ms
    - id: 6
      request:
        host: mm-classic-2022-10-04.oktapreview.com
        body: |
            {"credentials":{"password":{}},"profile":{"email":"testAcc2-replace_with_uuid@example.com","firstName":"TestAcc","lastName":"Smith2","login":"testAcc2-replace_with_uuid@example.com","postalAddress":null}}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://mm-classic-2022-10-04.oktapreview.com/api/v1/users
        method: POST
      response:
        body: '{"id":"00u95v3j8mdeCg7Vr1d7","status":"PROVISIONED","created":"2023-07-27T20:28:42.000Z","activated":"2023-07-27T20:28:42.000Z","statusChanged":"2023-07-27T20:28:42.000Z","lastLogin":null,"lastUpdated":"2023-07-27T20:28:42.000Z","passwordChanged":null,"type":{"id":"oty5ptm052JMcoADv1d7"},"profile":{"firstName":"TestAcc","lastName":"Smith2","mobilePhone":null,"secondEmail":null,"login":"testAcc2-replace_with_uuid@example.com","email":"testAcc2-replace_with_uuid@example.com"},"credentials":{"provider":{"type":"OKTA","name":"OKTA"}},"_links":{"suspend":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/users/00u95v3j8mdeCg7Vr1d7/lifecycle/suspend","method":"POST"},"schema":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/meta/schemas/user/osc5ptm052JMcoADv1d7"},"resetPassword":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/users/00u95v3j8mdeCg7Vr1d7/lifecycle/reset_password","method":"POST"},"reactivate":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/users/00u95v3j8mdeCg7Vr1d7/lifecycle/reactivate","method":"POST"},"self":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/users/00u95v3j8mdeCg7Vr1d7"},"type":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/meta/types/user/oty5ptm052JMcoADv1d7"},"deactivate":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/users/00u95v3j8mdeCg7Vr1d7/lifecycle/deactivate","method":"POST"}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 345.198552ms
[...]
    - id: 13
      request:
        host: mm-classic-2022-10-04.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-classic-2022-10-04.oktapreview.com/api/v1/users/00u95v3j8mdeCg7Vr1d7
        method: GET
      response:
        body: '{"id":"00u95v3j8mdeCg7Vr1d7","status":"PROVISIONED","created":"2023-07-27T20:28:42.000Z","activated":"2023-07-27T20:28:42.000Z","statusChanged":"2023-07-27T20:28:42.0[...]
    - id: 14
      request:
        host: mm-classic-2022-10-04.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-classic-2022-10-04.oktapreview.com/api/v1/users/00u95uxnk49LIG0Fy1d7
        method: GET
      response:
        body: '{"id":"00u95uxnk49LIG0Fy1d7","status":"PROVISIONED","created":"2023-07-27T20:28:42.000Z","activated":"2023-07-27T20:28:42.000Z","statusChanged":"2023-07-27T20:28:42.0[...]
    - id: 15
      request:
        host: mm-classic-2022-10-04.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-classic-2022-10-04.oktapreview.com/api/v1/users/00u95v3azpUXIe0JB1d7
        method: GET
      response:
        body: '{"id":"00u95v3azpUXIe0JB1d7","status":"PROVISIONED","created":"2023-07-27T20:28:42.000Z","activated":"2023-07-27T20:28:42.000Z","statusChanged":"2023-07-27T20:28:42.0[...]
    - id: 16
      request:
        host: mm-classic-2022-10-04.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-classic-2022-10-04.oktapreview.com/api/v1/users/00u95v3x8yqdRWlDl1d7
        method: GET
      response:
        body: '{"id":"00u95v3x8yqdRWlDl1d7","status":"PROVISIONED","created":"2023-07-27T20:28:42.000Z","activated":"2023-07-27T20:28:42.000Z","statusChanged":"2023-07-27T20:28:42.0[...]
    - id: 17
      request:
        host: mm-classic-2022-10-04.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-classic-2022-10-04.oktapreview.com/api/v1/users/00u95v70zhaxOy5Bq1d7
        method: GET
      response:
        body: '{"id":"00u95v70zhaxOy5Bq1d7","status":"PROVISIONED","created":"2023-07-27T20:28:42.000Z","activated":"2023-07-27T20:28:42.000Z","statusChanged":"2023-07-27T20:28:42.0[...]
    - id: 18
      request:
        host: mm-classic-2022-10-04.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-classic-2022-10-04.oktapreview.com/api/v1/groups/00g95v0y80KOcHLPk1d7/users/00u95v3j8mdeCg7Vr1d7
        method: PUT
      response:
        body: ""
        headers:
        status: 204 No Content
        code: 204
        duration: 94.971528ms
    - id: 19
      request:
        host: mm-classic-2022-10-04.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-classic-2022-10-04.oktapreview.com/api/v1/groups/00g95v0y80KOcHLPk1d7/users/00u95uxnk49LIG0Fy1d7
        method: PUT
      response:
        body: ""
        headers:
        status: 204 No Content
        code: 204
        duration: 71.921028ms
    - id: 20
      request:
        host: mm-classic-2022-10-04.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-classic-2022-10-04.oktapreview.com/api/v1/groups/00g95v0y80KOcHLPk1d7/users?limit=200
        method: GET
      response:
        body: '[{"id":"00u95uxnk49LIG0Fy1d7","status":"PROVISIONED","created":"2023-07-27T20:28:42.000Z","activated":"2023-07-27T20:28:42.000Z","statusChanged":"202[...]
[...]
    - id: 22
      request:
        host: mm-classic-2022-10-04.oktapreview.com
        body: |
            {"actions":{"assignUserToGroups":{"groupIds":["00g95v0y80KOcHLPk1d7"]}},"conditions":{"expression":{"type":"urn:okta:expression:1.0","value":"isMemberOfAnyGroup(\"00g95v5j83ZgUlQUW1d7\")"},"people":{"users":{}}},"name":"Group B -> A rule","type":"group_rule"}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://mm-classic-2022-10-04.oktapreview.com/api/v1/groups/rules
        method: POST
      response:
        body: '{"type":"group_rule","id":"0pr95v3y4f9frVkhp1d7","status":"INACTIVE","name":"Group B -> A rule","conditions":{"people":{"users":{"exclude":[]},"groups":{"exclude":[]}},"expression":{"value":"isMemberOfAnyGroup(\"00g95v5j83ZgUlQUW1d7\")","type":"urn:okta:expression:1.0"}},"actions":{"assignUserToGroups":{"groupIds":["00g95v0y80KOcHLPk1d7"]}},"allGroupsValid":true}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 102.347333ms
    - id: 23
      request:
        host: mm-classic-2022-10-04.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-classic-2022-10-04.oktapreview.com/api/v1/groups/rules/0pr95v3y4f9frVkhp1d7/lifecycle/activate
        method: POST
      response:
        body: ""
        headers:
        status: 204 No Content
        code: 204
        duration: 93.9116ms
    - id: 24
      request:
        host: mm-classic-2022-10-04.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-classic-2022-10-04.oktapreview.com/api/v1/groups/rules/0pr95v3y4f9frVkhp1d7
        method: GET
      response:
        body: '{"type":"group_rule","id":"0pr95v3y4f9frVkhp1d7","status":"ACTIVE","name":"Group B -> A rule","conditions":{"people":{"users":{"exclude":[]},"groups":{"exclude":[]}},"expression":{"value":"isMemberOfAnyGroup(\"00g95v5j83ZgUlQUW1d7\")","type":"urn:okta:expression:1.0"}},"actions":{"assignUserToGroups":{"groupIds":["00g95v0y80KOcHLPk1d7"]}},"allGroupsValid":true}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 71.002673ms
[...]
    - id: 26
      request:
        host: mm-classic-2022-10-04.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-classic-2022-10-04.oktapreview.com/api/v1/groups/00g95v5j83ZgUlQUW1d7/users?limit=200
        method: GET
      response:
        body: '[]'
        headers:
            Content-Type:
                - application/json
            Link:
                - <https://mm-classic-2022-10-04.oktapreview.com/api/v1/groups/00g95v5j83ZgUlQUW1d7/users?limit=200>; rel="self"
        status: 200 OK
        code: 200
        duration: 76.961364ms
[...]
    - id: 53
      request:
        host: mm-classic-2022-10-04.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-classic-2022-10-04.oktapreview.com/api/v1/groups/rules/0pr95v3y4f9frVkhp1d7/lifecycle/deactivate
        method: POST
      response:
        body: ""
        headers:
        status: 204 No Content
        code: 204
        duration: 114.87885ms
    - id: 54
      request:
        host: mm-classic-2022-10-04.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-classic-2022-10-04.oktapreview.com/api/v1/groups/rules/0pr95v3y4f9frVkhp1d7?removeUsers=false
        method: DELETE
      response:
        body: '{}'
        headers:
            Content-Type:
                - application/json
        status: 202 Accepted
        code: 202
        duration: 83.148928ms
[...]
    - id: 69
      request:
        host: mm-classic-2022-10-04.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-classic-2022-10-04.oktapreview.com/api/v1/users/00g95v0y80KOcHLPk1d7
        method: GET
      response:
        body: '{"errorCode":"E0000007","errorSummary":"Not found: Resource not found: 00g95v0y80KOcHLPk1d7 (User)","errorLink":"E0000007","errorId":"oaelgNQ3BUJRL6TN-xKvbHvNg","errorCauses":[]}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 68.1155ms
[...]
    - id: 75
      request:
        host: mm-classic-2022-10-04.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-classic-2022-10-04.oktapreview.com/api/v1/users/00g95v5j83ZgUlQUW1d7
        method: GET
      response:
        body: '{"errorCode":"E0000007","errorSummary":"Not found: Resource not found: 00g95v5j83ZgUlQUW1d7 (User)","errorLink":"E0000007","errorId":"oaeeJ_8SblMQRuHNbaUng9OWw","errorCauses":[]}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 86.470919ms
    - id: 76
      request:
        host: mm-classic-2022-10-04.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-classic-2022-10-04.oktapreview.com/api/v1/users/0pr95v3y4f9frVkhp1d7
        method: GET
      response:
        body: '{"errorCode":"E0000007","errorSummary":"Not found: Resource not found: 0pr95v3y4f9frVkhp1d7 (User)","errorLink":"E0000007","errorId":"oael3EFp7L9RqCtE-jhXcu7eA","errorCauses":[]}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 102.794668ms
[...]
