---
version: 2
interactions:
    - id: 0
      request:
        host: mm-oie-2022-10-07-max.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/groups/rules/
        method: GET
      response:
        body: '[]'
        headers:
            Content-Type:
                - application/json
            Link:
                - <https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/groups/rules?limit=50>; rel="self"
        status: 200 OK
        code: 200
        duration: 156.785332ms
[...]
    - id: 2
      request:
        host: mm-oie-2022-10-07-max.oktapreview.com
        body: |
            {"profile":{"name":"TestACC Group A","description":"Group A"}}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/groups
        method: POST
      response:
        body: '{"id":"00g95uaufg3BFE8nJ1d7","created":"2023-07-27T19:49:47.000Z","lastUpdated":"2023-07-27T19:49:47.000Z","lastMembershipUpdated":"2023-07-27T19:49:47.000Z","objectClass":["okta:user_group"],"type":"OKTA_GROUP","profile":{"name":"TestACC Group A","description":"Group A"},"_links":{"logo":[{"name":"medium","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-medium.30ce6d4085dff29412984e4c191bc874.png","type":"image/png"},{"name":"large","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-large.c3cb8cda8ae0add1b4fe928f5844dbe3.png","type":"image/png"}],"users":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/groups/00g95uaufg3BFE8nJ1d7/users"},"apps":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/groups/00g95uaufg3BFE8nJ1d7/apps"}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 64.690025ms
[...]
    - id: 4
      request:
        host: mm-oie-2022-10-07-max.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/groups/00g95uaufg3BFE8nJ1d7
        method: GET
      response:
        body: '{"id":"00g95uaufg3BFE8nJ1d7","created":"2023-07-27T19:49:47.000Z","lastUpdated":"2023-07-27T19:49:47.000Z","lastMembershipUpdated":"2023-07-27T19:49:47.000Z","objectClass":["okta:user_group"],"type":"OKTA_GROUP","profile":{"name":"TestACC Group A","description":"Group A"},"_links":{"logo":[{"name":"medium","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-medium.30ce6d4085dff29412984e4c191bc874.png","type":"image/png"},{"name":"large","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-large.c3cb8cda8ae0add1b4fe928f5844dbe3.png","type":"image/png"}],"users":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/groups/00g95uaufg3BFE8nJ1d7/users"},"apps":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/groups/00g95uaufg3BFE8nJ1d7/apps"}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 78.533871ms
    - id: 5
      request:
        host: mm-oie-2022-10-07-max.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/groups/00g95ugl1e66EY19r1d7
        method: GET
      response:
        body: '{"id":"00g95ugl1e66EY19r1d7","created":"2023-07-27T19:49:47.000Z","lastUpdated":"2023-07-27T19:49:47.000Z","lastMembershipUpdated":"2023-07-27T19:49:47.000Z","objectClass":["okta:user_group"],"type":"OKTA_GROUP","profile":{"name":"TestACC Group B","description":"Group B"},"_links":{"logo":[{"name":"medium","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-medium.30ce6d4085dff29412984e4c191bc874.png","type":"image/png"},{"name":"large","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-large.c3cb8cda8ae0add1b4fe928f5844dbe3.png","type":"image/png"}],"users":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/groups/00g95ugl1e66EY19r1d7/users"},"apps":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/groups/00g95ugl1e66EY19r1d7/apps"}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 80.545716ms
    - id: 6
      request:
        host: mm-oie-2022-10-07-max.oktapreview.com
        body: |
            {"credentials":{"password":{}},"profile":{"email":"testAcc3-replace_with_uuid@example.com","firstName":"TestAcc","lastName":"Smith3","login":"testAcc3-replace_with_uuid@example.com","postalAddress":null}}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/users
        method: POST
      response:
        body: '{"id":"00u95uhfp5DnnjGoY1d7","status":"PROVISIONED","created":"2023-07-27T19:49:47.000Z","activated":"2023-07-27T19:49:47.000Z","statusChanged":"2023-07-27T19:49:47.000Z","lastLogin":null,"lastUpdated":"2023-07-27T19:49:47.000Z","passwordChanged":null,"type":{"id":"oty5qwjvh0Vy1j8Kd1d7"},"profile":{"firstName":"TestAcc","lastName":"Smith3","mobilePhone":null,"secondEmail":null,"login":"testAcc3-replace_with_uuid@example.com","email":"testAcc3-replace_with_uuid@example.com"},"credentials":{"provider":{"type":"OKTA","name":"OKTA"}},"_links":{"suspend":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/users/00u95uhfp5DnnjGoY1d7/lifecycle/suspend","method":"POST"},"schema":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/meta/schemas/user/osc5qwjvh0Vy1j8Kd1d7"},"resetPassword":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/users/00u95uhfp5DnnjGoY1d7/lifecycle/reset_password","method":"POST"},"reactivate":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/users/00u95uhfp5DnnjGoY1d7/lifecycle/reactivate","method":"POST"},"self":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/users/00u95uhfp5DnnjGoY1d7"},"resetFactors":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/users/00u95uhfp5DnnjGoY1d7/lifecycle/reset_factors","method":"POST"},"type":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/meta/types/user/oty5qwjvh0Vy1j8Kd1d7"},"deactivate":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/users/00u95uhfp5DnnjGoY1d7/lifecycle/deactivate","method":"POST"}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 351.353278ms
[...]
    - id: 13
      request:
        host: mm-oie-2022-10-07-max.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/users/00u95uhfp5DnnjGoY1d7
        method: GET
      response:
        body: '{"id":"00u95uhfp5DnnjGoY1d7","status":"PROVISIONED","created":"2023-07-27T19:49:47.000Z","activated":"2023-07-27T19:49:47.000Z","statusChanged":"2023-07-27T19:49:47.0[...]
    - id: 14
      request:
        host: mm-oie-2022-10-07-max.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/users/00u95ucjd58ZYxuM91d7
        method: GET
      response:
        body: '{"id":"00u95ucjd58ZYxuM91d7","status":"PROVISIONED","created":"2023-07-27T19:49:47.000Z","activated":"2023-07-27T19:49:47.000Z","statusChanged":"2023-07-27T19:49:47.0[...]
    - id: 15
      request:
        host: mm-oie-2022-10-07-max.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/users/00u95ul0d0aXGkJcK1d7
        method: GET
      response:
        body: '{"id":"00u95ul0d0aXGkJcK1d7","status":"PROVISIONED","created":"2023-07-27T19:49:47.000Z","activated":"2023-07-27T19:49:47.000Z","statusChanged":"2023-07-27T19:49:47.0[...]
    - id: 16
      request:
        host: mm-oie-2022-10-07-max.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/users/00u95uifvz98gt8CD1d7
        method: GET
      response:
        body: '{"id":"00u95uifvz98gt8CD1d7","status":"PROVISIONED","created":"2023-07-27T19:49:47.000Z","activated":"2023-07-27T19:49:47.000Z","statusChanged":"2023-07-27T19:49:47.0[...]
    - id: 17
      request:
        host: mm-oie-2022-10-07-max.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/users/00u95ujhjbaZZvFxq1d7
        method: GET
      response:
        body: '{"id":"00u95ujhjbaZZvFxq1d7","status":"PROVISIONED","created":"2023-07-27T19:49:47.000Z","activated":"2023-07-27T19:49:47.000Z","statusChanged":"2023-07-27T19:49:47.0[...]
    - id: 18
      request:
        host: mm-oie-2022-10-07-max.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/groups/00g95uaufg3BFE8nJ1d7/users/00u95uifvz98gt8CD1d7
        method: PUT
      response:
        body: ""
        headers:
        status: 204 No Content
        code: 204
        duration: 110.461364ms
    - id: 19
      request:
        host: mm-oie-2022-10-07-max.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/groups/00g95uaufg3BFE8nJ1d7/users/00u95ujhjbaZZvFxq1d7
        method: PUT
      response:
        body: ""
        headers:
        status: 204 No Content
        code: 204
        duration: 79.741589ms
    - id: 20
      request:
        host: mm-oie-2022-10-07-max.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/groups/00g95uaufg3BFE8nJ1d7/users?limit=200
        method: GET
      response:
        body: '[{"id":"00u95uifvz98gt8CD1d7","status":"PROVISIONED","created":"2023-07-27T19:49:47.000Z","activated":"2023-07-27T19:49:47.000Z","statusChanged":"202[...]
[...]
    - id: 22
      request:
        host: mm-oie-2022-10-07-max.oktapreview.com
        body: |
            {"actions":{"assignUserToGroups":{"groupIds":["00g95uaufg3BFE8nJ1d7"]}},"conditions":{"expression":{"type":"urn:okta:expression:1.0","value":"isMemberOfAnyGroup(\"00g95ugl1e66EY19r1d7\")"},"people":{"users":{}}},"name":"Group B -> A rule","type":"group_rule"}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/groups/rules
        method: POST
      response:
        body: '{"type":"group_rule","id":"0pr95uhewirWgoxqh1d7","status":"INACTIVE","name":"Group B -> A rule","conditions":{"people":{"users":{"exclude":[]},"groups":{"exclude":[]}},"expression":{"value":"isMemberOfAnyGroup(\"00g95ugl1e66EY19r1d7\")","type":"urn:okta:expression:1.0"}},"actions":{"assignUserToGroups":{"groupIds":["00g95uaufg3BFE8nJ1d7"]}},"allGroupsValid":true}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 101.454339ms
    - id: 23
      request:
        host: mm-oie-2022-10-07-max.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/groups/rules/0pr95uhewirWgoxqh1d7/lifecycle/activate
        method: POST
      response:
        body: ""
        headers:
        status: 204 No Content
        code: 204
        duration: 132.884991ms
    - id: 24
      request:
        host: mm-oie-2022-10-07-max.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/groups/rules/0pr95uhewirWgoxqh1d7
        method: GET
      response:
        body: '{"type":"group_rule","id":"0pr95uhewirWgoxqh1d7","status":"ACTIVE","name":"Group B -> A rule","conditions":{"people":{"users":{"exclude":[]},"groups":{"exclude":[]}},"expression":{"value":"isMemberOfAnyGroup(\"00g95ugl1e66EY19r1d7\")","type":"urn:okta:expression:1.0"}},"actions":{"assignUserToGroups":{"groupIds":["00g95uaufg3BFE8nJ1d7"]}},"allGroupsValid":true}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 54.849393ms
[...]
    - id: 26
      request:
        host: mm-oie-2022-10-07-max.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/groups/00g95ugl1e66EY19r1d7/users?limit=200
        method: GET
      response:
        body: '[]'
        headers:
            Content-Type:
                - application/json
            Link:
                - <https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/groups/00g95ugl1e66EY19r1d7/users?limit=200>; rel="self"
        status: 200 OK
        code: 200
        duration: 70.287729ms
[...]
    - id: 53
      request:
        host: mm-oie-2022-10-07-max.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/groups/rules/0pr95uhewirWgoxqh1d7/lifecycle/deactivate
        method: POST
      response:
        body: ""
        headers:
        status: 204 No Content
        code: 204
        duration: 68.602127ms
    - id: 54
      request:
        host: mm-oie-2022-10-07-max.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/groups/rules/0pr95uhewirWgoxqh1d7?removeUsers=false
        method: DELETE
      response:
        body: '{}'
        headers:
            Content-Type:
                - application/json
        status: 202 Accepted
        code: 202
        duration: 100.645635ms
[...]
    - id: 69
      request:
        host: mm-oie-2022-10-07-max.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/users/00g95uaufg3BFE8nJ1d7
        method: GET
      response:
        body: '{"errorCode":"E0000007","errorSummary":"Not found: Resource not found: 00g95uaufg3BFE8nJ1d7 (User)","errorLink":"E0000007","errorId":"oaeglMxIFiYSPmeblUWIAOCPQ","errorCauses":[]}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 74.107466ms
[...]
    - id: 74
      request:
        host: mm-oie-2022-10-07-max.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/users/00g95ugl1e66EY19r1d7
        method: GET
      response:
        body: '{"errorCode":"E0000007","errorSummary":"Not found: Resource not found: 00g95ugl1e66EY19r1d7 (User)","errorLink":"E0000007","errorId":"oae9RKVdtYvRp25pV_JzWUbsQ","errorCauses":[]}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 81.111547ms
    - id: 75
      request:
        host: mm-oie-2022-10-07-max.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/users/0pr95uhewirWgoxqh1d7
        method: GET
      response:
        body: '{"errorCode":"E0000007","errorSummary":"Not found: Resource not found: 0pr95uhewirWgoxqh1d7 (User)","errorLink":"E0000007","errorId":"oaeuLXpU1nATqGyBrkeH5tq2w","errorCauses":[]}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 69.172077ms
[...]
