---
version: 2
interactions:
    - id: 0
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/groups/rules/
        method: GET
      response:
        body: '[]'
        headers:
            Content-Type:
                - application/json
            Link:
                - <https://oie-00.dne-okta.com/api/v1/groups/rules?limit=50>; rel="self"
        status: 200 OK
        code: 200
        duration: 149.309497ms
[...]
    - id: 2
      request:
        host: oie-00.dne-okta.com
        body: |
            {"profile":{"name":"TestACC Group A","description":"Group A"}}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://oie-00.dne-okta.com/api/v1/groups
        method: POST
      response:
        body: '{"id":"00g9i77qd4cqpIBsP1d7","created":"2023-08-15T23:43:37.000Z","lastUpdated":"2023-08-15T23:43:37.000Z","lastMembershipUpdated":"2023-08-15T23:43:37.000Z","objectClass":["okta:user_group"],"type":"OKTA_GROUP","profile":{"name":"TestACC Group A","description":"Group A"},"_links":{"logo":[{"name":"medium","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-medium.30ce6d4085dff29412984e4c191bc874.png","type":"image/png"},{"name":"large","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-large.c3cb8cda8ae0add1b4fe928f5844dbe3.png","type":"image/png"}],"users":{"href":"https://oie-00.oktapreview.com/api/v1/groups/00g9i77qd4cqpIBsP1d7/users"},"apps":{"href":"https://oie-00.oktapreview.com/api/v1/groups/00g9i77qd4cqpIBsP1d7/apps"}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 65.317054ms
[...]
    - id: 4
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/groups/00g9i77qd4cqpIBsP1d7
        method: GET
      response:
        body: '{"id":"00g9i77qd4cqpIBsP1d7","created":"2023-08-15T23:43:37.000Z","lastUpdated":"2023-08-15T23:43:37.000Z","lastMembershipUpdated":"2023-08-15T23:43:37.000Z","objectClass":["okta:user_group"],"type":"OKTA_GROUP","profile":{"name":"TestACC Group A","description":"Group A"},"_links":{"logo":[{"name":"medium","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-medium.30ce6d4085dff29412984e4c191bc874.png","type":"image/png"},{"name":"large","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-large.c3cb8cda8ae0add1b4fe928f5844dbe3.png","type":"image/png"}],"users":{"href":"https://oie-00.oktapreview.com/api/v1/groups/00g9i77qd4cqpIBsP1d7/users"},"apps":{"href":"https://oie-00.oktapreview.com/api/v1/groups/00g9i77qd4cqpIBsP1d7/apps"}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 64.315841ms
    - id: 5
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/groups/00g9i70wfz2ZIhLqy1d7
        method: GET
      response:
        body: '{"id":"00g9i70wfz2ZIhLqy1d7","created":"2023-08-15T23:43:37.000Z","lastUpdated":"2023-08-15T23:43:37.000Z","lastMembershipUpdated":"2023-08-15T23:43:37.000Z","objectClass":["okta:user_group"],"type":"OKTA_GROUP","profile":{"name":"TestACC Group B","description":"Group B"},"_links":{"logo":[{"name":"medium","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-medium.30ce6d4085dff29412984e4c191bc874.png","type":"image/png"},{"name":"large","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-large.c3cb8cda8ae0add1b4fe928f5844dbe3.png","type":"image/png"}],"users":{"href":"https://oie-00.oktapreview.com/api/v1/groups/00g9i70wfz2ZIhLqy1d7/users"},"apps":{"href":"https://oie-00.oktapreview.com/api/v1/groups/00g9i70wfz2ZIhLqy1d7/apps"}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 64.899621ms
[...]
    - id: 8
      request:
        host: oie-00.dne-okta.com
        body: |
            {"credentials":{"password":{}},"profile":{"email":"testAcc5-replace_with_uuid@example.com","firstName":"TestAcc","lastName":"Smith5","login":"testAcc5-replace_with_uuid@example.com","postalAddress":null}}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://oie-00.dne-okta.com/api/v1/users
        method: POST
      response:
        body: '{"id":"00u9i72xw1RIOs81o1d7","status":"PROVISIONED","created":"2023-08-15T23:43:37.000Z","activated":"2023-08-15T23:43:38.000Z","statusChanged":"2023-08-15T23:43:38.000Z","lastLogin":null,"lastUpdated":"2023-08-15T23:43:38.000Z","passwordChanged":null,"type":{"id":"oty5qwjvh0Vy1j8Kd1d7"},"profile":{"firstName":"TestAcc","lastName":"Smith5","mobilePhone":null,"secondEmail":null,"login":"testAcc5-replace_with_uuid@example.com","email":"testAcc5-replace_with_uuid@example.com"},"credentials":{"provider":{"type":"OKTA","name":"OKTA"}},"_links":{"suspend":{"href":"https://oie-00.oktapreview.com/api/v1/users/00u9i72xw1RIOs81o1d7/lifecycle/suspend","method":"POST"},"schema":{"href":"https://oie-00.oktapreview.com/api/v1/meta/schemas/user/osc5qwjvh0Vy1j8Kd1d7"},"resetPassword":{"href":"https://oie-00.oktapreview.com/api/v1/users/00u9i72xw1RIOs81o1d7/lifecycle/reset_password","method":"POST"},"reactivate":{"href":"https://oie-00.oktapreview.com/api/v1/users/00u9i72xw1RIOs81o1d7/lifecycle/reactivate","method":"POST"},"self":{"href":"https://oie-00.oktapreview.com/api/v1/users/00u9i72xw1RIOs81o1d7"},"resetFactors":{"href":"https://oie-00.oktapreview.com/api/v1/users/00u9i72xw1RIOs81o1d7/lifecycle/reset_factors","method":"POST"},"type":{"href":"https://oie-00.oktapreview.com/api/v1/meta/types/user/oty5qwjvh0Vy1j8Kd1d7"},"deactivate":{"href":"https://oie-00.oktapreview.com/api/v1/users/00u9i72xw1RIOs81o1d7/lifecycle/deactivate","method":"POST"}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 325.302077ms
[...]
    - id: 12
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/users/00u9i72xw1RIOs81o1d7
        method: GET
      response:
        body: '{"id":"00u9i72xw1RIOs81o1d7","status":"PROVISIONED","created":"2023-08-15T23:43:37.000Z","activated":"2023-08-15T23:43:38.000Z","statusChanged":"2023-08-15T23:43:38.000Z","lastLogin":null,"lastUpdated":[...]
[...]
    - id: 14
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/users/00u9i75h95pNQystE1d7
        method: GET
      response:
        body: '{"id":"00u9i75h95pNQystE1d7","status":"PROVISIONED","created":"2023-08-15T23:43:37.000Z","activated":"2023-08-15T23:43:38.000Z","statusChanged":"2023-08-15T23:43:38.000Z","lastLogin":null,"lastUpdated":[...]
    - id: 15
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/users/00u9i74nbgwb7s8bG1d7
        method: GET
      response:
        body: '{"id":"00u9i74nbgwb7s8bG1d7","status":"PROVISIONED","created":"2023-08-15T23:43:37.000Z","activated":"2023-08-15T23:43:38.000Z","statusChanged":"2023-08-15T23:43:38.000Z","lastLogin":null,"lastUpdated":[...]
    - id: 16
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/users/00u9i763nrzemB40C1d7
        method: GET
      response:
        body: '{"id":"00u9i763nrzemB40C1d7","status":"PROVISIONED","created":"2023-08-15T23:43:37.000Z","activated":"2023-08-15T23:43:38.000Z","statusChanged":"2023-08-15T23:43:38.000Z","lastLogin":null,"lastUpdated":[...]
    - id: 17
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/users/00u9i79vijR5rMnvc1d7
        method: GET
      response:
        body: '{"id":"00u9i79vijR5rMnvc1d7","status":"PROVISIONED","created":"2023-08-15T23:43:37.000Z","activated":"2023-08-15T23:43:38.000Z","statusChanged":"2023-08-15T23:43:38.000Z","lastLogin":null,"lastUpdated":[...]
    - id: 18
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/groups/00g9i77qd4cqpIBsP1d7/users/00u9i75h95pNQystE1d7
        method: PUT
      response:
        body: ""
        headers:
        status: 204 No Content
        code: 204
        duration: 81.663022ms
    - id: 19
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/groups/00g9i77qd4cqpIBsP1d7/users/00u9i74nbgwb7s8bG1d7
        method: PUT
      response:
        body: ""
        headers:
        status: 204 No Content
        code: 204
        duration: 74.937001ms
    - id: 20
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/groups/00g9i77qd4cqpIBsP1d7/users?limit=200
        method: GET
      response:
        body: '[{"id":"00u9i74nbgwb7s8bG1d7","status":"PROVISIONED","created":"2023-08-15T23:43:37.000Z","activated":"2023-08-15T23:43:38.000Z","statusChanged":"2023-08-15T23:43:38.000Z","lastLogin":n[...]
[...]
    - id: 22
      request:
        host: oie-00.dne-okta.com
        body: |
            {"actions":{"assignUserToGroups":{"groupIds":["00g9i77qd4cqpIBsP1d7"]}},"conditions":{"expression":{"type":"urn:okta:expression:1.0","value":"isMemberOfAnyGroup(\"00g9i70wfz2ZIhLqy1d7\")"},"people":{"users":{}}},"name":"Group B -> A rule","type":"group_rule"}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://oie-00.dne-okta.com/api/v1/groups/rules
        method: POST
      response:
        body: '{"type":"group_rule","id":"0pr9i72352MqXCVbf1d7","status":"INACTIVE","name":"Group B -> A rule","conditions":{"people":{"users":{"exclude":[]},"groups":{"exclude":[]}},"expression":{"value":"isMemberOfAnyGroup(\"00g9i70wfz2ZIhLqy1d7\")","type":"urn:okta:expression:1.0"}},"actions":{"assignUserToGroups":{"groupIds":["00g9i77qd4cqpIBsP1d7"]}},"allGroupsValid":true}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 255.770327ms
    - id: 23
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/groups/rules/0pr9i72352MqXCVbf1d7/lifecycle/activate
        method: POST
      response:
        body: ""
        headers:
        status: 204 No Content
        code: 204
        duration: 143.252716ms
    - id: 24
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/groups/rules/0pr9i72352MqXCVbf1d7
        method: GET
      response:
        body: '{"type":"group_rule","id":"0pr9i72352MqXCVbf1d7","status":"ACTIVE","name":"Group B -> A rule","conditions":{"people":{"users":{"exclude":[]},"groups":{"exclude":[]}},"expression":{"value":"isMemberOfAnyGroup(\"00g9i70wfz2ZIhLqy1d7\")","type":"urn:okta:expression:1.0"}},"actions":{"assignUserToGroups":{"groupIds":["00g9i77qd4cqpIBsP1d7"]}},"allGroupsValid":true}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 59.031281ms
[...]
    - id: 26
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/groups/00g9i70wfz2ZIhLqy1d7/users?limit=200
        method: GET
      response:
        body: '[]'
        headers:
            Content-Type:
                - application/json
            Link:
                - <https://oie-00.dne-okta.com/api/v1/groups/00g9i70wfz2ZIhLqy1d7/users?limit=200>; rel="self"
        status: 200 OK
        code: 200
        duration: 73.558627ms
[...]
    - id: 53
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/groups/rules/0pr9i72352MqXCVbf1d7/lifecycle/deactivate
        method: POST
      response:
        body: ""
        headers:
        status: 204 No Content
        code: 204
        duration: 88.276116ms
    - id: 54
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/groups/rules/0pr9i72352MqXCVbf1d7?removeUsers=false
        method: DELETE
      response:
        body: '{}'
        headers:
            Content-Type:
                - application/json
        status: 202 Accepted
        code: 202
        duration: 80.782696ms
[...]
    - id: 69
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/users/00u9i79vijR5rMnvc1d7
        method: GET
      response:
        body: '{"errorCode":"E0000007","errorSummary":"Not found: Resource not found: 00u9i79vijR5rMnvc1d7 (User)","errorLink":"E0000007","errorId":"oaesLrCKMbJSYq5gj5x745urg","errorCauses":[]}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 69.362895ms
    - id: 70
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/users/00g9i77qd4cqpIBsP1d7
        method: GET
      response:
        body: '{"errorCode":"E0000007","errorSummary":"Not found: Resource not found: 00g9i77qd4cqpIBsP1d7 (User)","errorLink":"E0000007","errorId":"oaeSFcPGNQaRhS3g423EPXbfQ","errorCauses":[]}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 72.047723ms
[...]
    - id: 72
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/users/0pr9i72352MqXCVbf1d7
        method: GET
      response:
        body: '{"errorCode":"E0000007","errorSummary":"Not found: Resource not found: 0pr9i72352MqXCVbf1d7 (User)","errorLink":"E0000007","errorId":"oaefSEjilU5TF65mEFY_zFgyg","errorCauses":[]}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 56.813355ms
[...]
    - id: 76
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/users/00g9i70wfz2ZIhLqy1d7
        method: GET
      response:
        body: '{"errorCode":"E0000007","errorSummary":"Not found: Resource not found: 00g9i70wfz2ZIhLqy1d7 (User)","errorLink":"E0000007","errorId":"oaeFr8LdvQRSb-rmR9-zD719g","errorCauses":[]}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 63.968011ms
[...]
