---
version: 2
interactions:
    - id: 0
      request:
        host: oie-00.dne-okta.com
        body: |
            {"accessScopeSettings":{"type":"RESOURCE_DEFAULT"},"approvalSequenceId":"68d224058c0cff364ca377e8","name":"okta-1292840-request-condition-one","priority":0,"requesterSettings":{"type":"EVERYONE"}}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://oie-00.dne-okta.com/governance/api/v2/resources/0oa14jmvwvzsRjALs1d8/request-conditions
        method: POST
      response:
        body: '{"requesterSettings":{"type":"EVERYONE"},"accessScopeSettings":{"type":"RESOURCE_DEFAULT"},"approvalSequenceId":"68d224058c0cff364ca377e8","name":"okta-1292840-request-condition-one","id":"rco1kknif93YOsaLh1d7","createdBy":"00uonmvbfznIufFS61d7","created":"2026-10-07T18:03:40Z","lastUpdated":"2026-10-07T18:03:40Z","lastUpdatedBy":"00uonmvbfznIufFS61d7","_links":{"self":{"href":"https://oie-00-admin.dne-okta.com/governance/api/v2/resources/0oa14jmvwvzsRjALs1d8/request-conditions/rco1kknif93YOsaLh1d7","hints":{}}},"status":"INACTIVE","priority":0}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
            Location:
                - https://dcp-testing-oig-2025-06-26-admin.oktapreview.com/governance/api/v2/resources/0oa14jmvwvzsRjALs1d8/request-conditions/rco1kknif93YOsaLh1d7
        status: 201 Created
        code: 201
        duration: 1.618940834s
[...]
    - id: 3
      request:
        host: oie-00.dne-okta.com
        body: |
            {"accessScopeSettings":{"type":"RESOURCE_DEFAULT"},"approvalSequenceId":"68d224058c0cff364ca377e8","name":"okta-1292840-request-condition-three","priority":50,"requesterSettings":{"type":"EVERYONE"}}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://oie-00.dne-okta.com/governance/api/v2/resources/0oa14jmvwvzsRjALs1d8/request-conditions/rco1kknemz1IWS7iI1d7
        method: PATCH
      response:
        body: '{"requesterSettings":{"type":"EVERYONE"},"accessScopeSettings":{"type":"RESOURCE_DEFAULT"},"approvalSequenceId":"68d224058c0cff364ca377e8","name":"okta-1292840-request-condition-three","id":"rco1kknemz1IWS7iI1d7","createdBy":"00uonmvbfznIufFS61d7","created":"2026-10-07T18:03:44Z","lastUpdated":"2026-10-07T18:03:45Z","lastUpdatedBy":"00uonmvbfznIufFS61d7","_links":{"self":{"href":"https://oie-00-admin.dne-okta.com/governance/api/v2/resources/0oa14jmvwvzsRjALs1d8/request-conditions/rco1kknemz1IWS7iI1d7","hints":{}}},"status":"INACTIVE","priority":2}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.374235125s
[...]
    - id: 5
      request:
        host: oie-00.dne-okta.com
        body: |
            {"accessScopeSettings":{"type":"RESOURCE_DEFAULT"},"approvalSequenceId":"68d224058c0cff364ca377e8","name":"okta-1292840-request-condition-four","priority":100,"requesterSettings":{"type":"EVERYONE"}}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://oie-00.dne-okta.com/governance/api/v2/resources/0oa14jmvwvzsRjALs1d8/request-conditions/rco1kknfn187VutPV1d7
        method: PATCH
      response:
        body: '{"requesterSettings":{"type":"EVERYONE"},"accessScopeSettings":{"type":"RESOURCE_DEFAULT"},"approvalSequenceId":"68d224058c0cff364ca377e8","name":"okta-1292840-request-condition-four","id":"rco1kknfn187VutPV1d7","createdBy":"00uonmvbfznIufFS61d7","created":"2026-10-07T18:03:47Z","lastUpdated":"2026-10-07T18:03:48Z","lastUpdatedBy":"00uonmvbfznIufFS61d7","_links":{"self":{"href":"https://oie-00-admin.dne-okta.com/governance/api/v2/resources/0oa14jmvwvzsRjALs1d8/request-conditions/rco1kknfn187VutPV1d7","hints":{}}},"status":"INACTIVE","priority":3}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.567103083s
    - id: 6
      request:
        host: oie-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/governance/api/v2/resources/0oa14jmvwvzsRjALs1d8/request-conditions/rco1kknif93YOsaLh1d7
        method: GET
      response:
        body: '{"requesterSettings":{"type":"EVERYONE"},"accessScopeSettings":{"type":"RESOURCE_DEFAULT"},"approvalSequenceId":"68d224058c0cff364ca377e8","name":"okta-1292840-request-condition-one","id":"rco1kknif93YOsaLh1d7","createdBy":"00uonmvbfznIufFS61d7","created":"2026-10-07T18:03:40Z","lastUpdated":"2026-10-07T18:03:40Z","lastUpdatedBy":"00uonmvbfznIufFS61d7","_links":{"self":{"href":"https://oie-00-admin.dne-okta.com/governance/api/v2/resources/0oa14jmvwvzsRjALs1d8/request-conditions/rco1kknif93YOsaLh1d7","hints":{}}},"status":"INACTIVE","priority":0}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.322572667s
    - id: 7
      request:
        host: oie-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/governance/api/v2/resources/0oa14jmvwvzsRjALs1d8/request-conditions/rco1kknemwAWpuWFa1d7
        method: GET
      response:
        body: '{"requesterSettings":{"type":"EVERYONE"},"accessScopeSettings":{"type":"RESOURCE_DEFAULT"},"approvalSequenceId":"68d224058c0cff364ca377e8","name":"okta-1292840-request-condition-two","id":"rco1kknemwAWpuWFa1d7","createdBy":"00uonmvbfznIufFS61d7","created":"2026-10-07T18:03:42Z","lastUpdated":"2026-10-07T18:03:42Z","lastUpdatedBy":"00uonmvbfznIufFS61d7","_links":{"self":{"href":"https://oie-00-admin.dne-okta.com/governance/api/v2/resources/0oa14jmvwvzsRjALs1d8/request-conditions/rco1kknemwAWpuWFa1d7","hints":{}}},"status":"INACTIVE","priority":1}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.320641542s
[...]
