---
version: 2
interactions:
    - id: 0
      request:
        host: oie-00.dne-okta.com
        body: |
            {"description":"Testing custom role with permission conditions","label":"testAcc_3035635720_1","permissions":["okta.users.read"]}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://oie-00.dne-okta.com/api/v1/iam/roles
        method: POST
      response:
        body: '{"id":"cr0tc4m9ghnP8gUjN697","label":"testAcc_3035635720_1","isCloneable":false,"description":"Testing custom role with permission conditions","created":"2025-07-17T15:12:33.000Z","lastUpdated":"2025-07-17T15:12:33.000Z","_links":{"permissions":{"href":"https://oie-00-admin.dne-okta.com/api/v1/iam/roles/cr0tc4m9ghnP8gUjN697/permissions"},"self":{"href":"https://oie-00-admin.dne-okta.com/api/v1/iam/roles/cr0tc4m9ghnP8gUjN697"}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
            Link:
                - <https://oie-00-admin.dne-okta.com/api/v1/iam/roles/cr0tc4m9ghnP8gUjN697>; rel="self"
        status: 200 OK
        code: 200
        duration: 810.267041ms
[...]
    - id: 2
      request:
        host: oie-00.dne-okta.com
        body: |
            {"conditions":{"include":{"okta:ResourceAttribute/User/Profile":["department","costCenter"]}}}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://oie-00.dne-okta.com/api/v1/iam/roles/cr0tc4l4uhdx78Y86697/permissions/okta.users.read
        method: PUT
      response:
        body: '{"label":"okta.users.read","created":"2025-07-17T15:12:33.000Z","lastUpdated":"2025-07-17T15:12:33.000Z","conditions":{"include":{"okta:ResourceAttribute/User/Profile":["department","costCenter"]}},"_links":{"role":{"href":"https://oie-00-admin.dne-okta.com/api/v1/iam/roles/cr0tc4l4uhdx78Y86697"},"self":{"href":"https://oie-00-admin.dne-okta.com/api/v1/iam/roles/cr0tc4l4uhdx78Y86697/permissions/okta.users.read"}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Disposition:
                - inline;filename=f.txt
            Content-Type:
                - application/json
            Link:
                - <https://oie-00-admin.dne-okta.com/api/v1/iam/roles/cr0tc4l4uhdx78Y86697/permissions/okta.users.read>; rel="self"
        status: 200 OK
        code: 200
        duration: 764.268333ms
    - id: 3
      request:
        host: oie-00.dne-okta.com
        body: |
            {"conditions":{"exclude":{"okta:ResourceAttribute/User/Profile":["title"]}}}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://oie-00.dne-okta.com/api/v1/iam/roles/cr0tc4m9ghnP8gUjN697/permissions/okta.users.read
        method: PUT
      response:
        body: '{"label":"okta.users.read","created":"2025-07-17T15:12:33.000Z","lastUpdated":"2025-07-17T15:12:33.000Z","conditions":{"exclude":{"okta:ResourceAttribute/User/Profile":["title"]}},"_links":{"role":{"href":"https://oie-00-admin.dne-okta.com/api/v1/iam/roles/cr0tc4m9ghnP8gUjN697"},"self":{"href":"https://oie-00-admin.dne-okta.com/api/v1/iam/roles/cr0tc4m9ghnP8gUjN697/permissions/okta.users.read"}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Disposition:
                - inline;filename=f.txt
            Content-Type:
                - application/json
            Link:
                - <https://oie-00-admin.dne-okta.com/api/v1/iam/roles/cr0tc4m9ghnP8gUjN697/permissions/okta.users.read>; rel="self"
        status: 200 OK
        code: 200
        duration: 1.176955958s
    - id: 4
      request:
        host: oie-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/iam/roles/cr0tc4l4uhdx78Y86697
        method: GET
      response:
        body: '{"id":"cr0tc4l4uhdx78Y86697","label":"testAcc_3035635720","isCloneable":false,"description":"Testing custom role with permission conditions","created":"2025-07-17T15:12:33.000Z","lastUpdated":"2025-07-17T15:12:33.000Z","_links":{"permissions":{"href":"https://oie-00-admin.dne-okta.com/api/v1/iam/roles/cr0tc4l4uhdx78Y86697/permissions"},"self":{"href":"https://oie-00-admin.dne-okta.com/api/v1/iam/roles/cr0tc4l4uhdx78Y86697"}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
            Link:
                - <https://oie-00-admin.dne-okta.com/api/v1/iam/roles/cr0tc4l4uhdx78Y86697>; rel="self"
        status: 200 OK
        code: 200
        duration: 675.94725ms
    - id: 5
      request:
        host: oie-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/iam/roles/cr0tc4m9ghnP8gUjN697
        method: GET
      response:
        body: '{"id":"cr0tc4m9ghnP8gUjN697","label":"testAcc_3035635720_1","isCloneable":false,"description":"Testing custom role with permission conditions","created":"2025-07-17T15:12:33.000Z","lastUpdated":"2025-07-17T15:12:33.000Z","_links":{"permissions":{"href":"https://oie-00-admin.dne-okta.com/api/v1/iam/roles/cr0tc4m9ghnP8gUjN697/permissions"},"self":{"href":"https://oie-00-admin.dne-okta.com/api/v1/iam/roles/cr0tc4m9ghnP8gUjN697"}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
            Link:
                - <https://oie-00-admin.dne-okta.com/api/v1/iam/roles/cr0tc4m9ghnP8gUjN697>; rel="self"
        status: 200 OK
        code: 200
        duration: 677.120875ms
    - id: 6
      request:
        host: oie-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/iam/roles/cr0tc4l4uhdx78Y86697/permissions
        method: GET
      response:
        body: '{"permissions":[{"label":"okta.users.read","created":"2025-07-17T15:12:33.000Z","lastUpdated":"2025-07-17T15:12:33.000Z","conditions":{"include":{"okta:ResourceAttribute/User/Profile":["department","costCenter"]}},"_links":{"role":{"href":"https://oie-00-admin.dne-okta.com/api/v1/iam/roles/cr0tc4l4uhdx78Y86697"},"self":{"href":"https://oie-00-admin.dne-okta.com/api/v1/iam/roles/cr0tc4l4uhdx78Y86697/permissions/okta.users.read"}}}]}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 658.677417ms
    - id: 7
      request:
        host: oie-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/iam/roles/cr0tc4m9ghnP8gUjN697/permissions
        method: GET
      response:
        body: '{"permissions":[{"label":"okta.users.read","created":"2025-07-17T15:12:33.000Z","lastUpdated":"2025-07-17T15:12:33.000Z","conditions":{"exclude":{"okta:ResourceAttribute/User/Profile":["title"]}},"_links":{"role":{"href":"https://oie-00-admin.dne-okta.com/api/v1/iam/roles/cr0tc4m9ghnP8gUjN697"},"self":{"href":"https://oie-00-admin.dne-okta.com/api/v1/iam/roles/cr0tc4m9ghnP8gUjN697/permissions/okta.users.read"}}}]}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 677.838667ms
[...]
