---
version: 2
interactions:
    - id: 0
      request:
        host: oie-00.dne-okta.com
        form:
            type:
                - SESSION_VIOLATION_DETECTION
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/policies?type=SESSION_VIOLATION_DETECTION
        method: GET
      response:
        body: '[{"id":"rstunmoecezEmVT9k1d7","status":"ACTIVE","name":"Session Violation Detection Policy","description":"Enables session violation detection policy evaluation for the org.","priority":1,"system":true,"conditions":null,"created":"2026-02-05T05:30:50.000Z","lastUpdated":"2026-02-05T05:30:50.000Z","_links":{"self":{"href":"https://oie-00.dne-okta.com/api/v1/policies/rstunmoecezEmVT9k1d7","hints":{"allow":["GET","PUT"]}},"rules":{"href":"https://oie-00.dne-okta.com/api/v1/policies/rstunmoecezEmVT9k1d7/rules","hints":{"allow":["GET","POST"]}}},"type":"SESSION_VIOLATION_DETECTION"}]'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
            Link:
                - <https://oie-00.dne-okta.com/api/v1/policies?type=SESSION_VIOLATION_DETECTION>; rel="self"
        status: 200 OK
        code: 200
        duration: 1.103794s
    - id: 1
      request:
        host: oie-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/policies/rstunmoecezEmVT9k1d7/rules
        method: GET
      response:
        body: '[{"id":"rulunmoechci5TEyD1d7","status":"ACTIVE","name":"Session Violation Rule","priority":5,"created":"2026-02-05T05:30:50.000Z","lastUpdated":"2026-04-01T05:20:17.000Z","system":false,"conditions":{"network":{"connection":"ANYWHERE"},"riskScore":{"minRiskLevel":"LOW"}},"actions":{"sessionViolationDetection":{"policyEvaluation":{"enabled":true}}},"_links":{"self":{"href":"https://oie-00.dne-okta.com/api/v1/policies/rstunmoecezEmVT9k1d7/rules/rulunmoechci5TEyD1d7","hints":{"allow":["GET","PUT","DELETE"]}},"deactivate":{"href":"https://oie-00.dne-okta.com/api/v1/policies/rstunmoecezEmVT9k1d7/rules/rulunmoechci5TEyD1d7/lifecycle/deactivate","hints":{"allow":["POST"]}}},"type":"SESSION_VIOLATION_DETECTION"},{"id":"rulunmoecgwMlCirc1d7","status":"ACTIVE","name":"Catch-all Rule","priority":99,"created":"2026-02-05T05:30:50.000Z","lastUpdated":"2026-02-05T05:30:50.000Z","system":true,"conditions":null,"actions":{"sessionViolationDetection":{"policyEvaluation":{"enabled":false}}},"_links":{"self":{"href":"https://oie-00.dne-okta.com/api/v1/policies/rstunmoecezEmVT9k1d7/rules/rulunmoecgwMlCirc1d7","hints":{"allow":["GET","PUT"]}}},"type":"SESSION_VIOLATION_DETECTION"}]'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.05786775s
[...]
    - id: 12
      request:
        host: oie-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/policies/rstunmoecezEmVT9k1d7/rules/rulunmoechci5TEyD1d7
        method: GET
      response:
        body: '{"id":"rulunmoechci5TEyD1d7","status":"ACTIVE","name":"Session Violation Rule","priority":5,"created":"2026-02-05T05:30:50.000Z","lastUpdated":"2026-04-01T05:20:17.000Z","system":false,"conditions":{"network":{"connection":"ANYWHERE"},"riskScore":{"minRiskLevel":"LOW"}},"actions":{"sessionViolationDetection":{"policyEvaluation":{"enabled":true}}},"_links":{"self":{"href":"https://oie-00.dne-okta.com/api/v1/policies/rstunmoecezEmVT9k1d7/rules/rulunmoechci5TEyD1d7","hints":{"allow":["GET","PUT","DELETE"]}},"deactivate":{"href":"https://oie-00.dne-okta.com/api/v1/policies/rstunmoecezEmVT9k1d7/rules/rulunmoechci5TEyD1d7/lifecycle/deactivate","hints":{"allow":["POST"]}}},"type":"SESSION_VIOLATION_DETECTION"}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.060327583s
[...]
