---
version: 2
interactions:
    - id: 0
      request:
        host: oie-00.dne-okta.com
        body: |
            {"_links":{"self":{"href":""}},"created":"0001-01-01T00:00:00Z","id":"","lastUpdated":"0001-01-01T00:00:00Z","name":"testAcc_244785732 Splunk","settings":{"edition":"aws","host":"acme.splunkcloud.com","token":"58A7C8D6-4E2F-4C3B-8F5B-D4E2F3A4B5C6"},"status":"INACTIVE","type":"splunk_cloud_logstreaming"}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://oie-00.dne-okta.com/api/v1/logStreams
        method: POST
      response:
        body: '{"id":"0oakwr6xe4BMYWpKL1d7","type":"splunk_cloud_logstreaming","name":"testAcc_244785732 Splunk","lastUpdated":"2025-03-13T23:39:24.000Z","created":"2025-03-13T23:39:24.000Z","status":"ACTIVE","settings":{"host":"acme.splunkcloud.com","edition":"aws"},"_links":{"self":{"href":"https://oie-00.dne-okta.com/api/v1/logStreams/0oakwr6xe4BMYWpKL1d7","method":"GET"},"deactivate":{"href":"https://oie-00.dne-okta.com/api/v1/logStreams/0oakwr6xe4BMYWpKL1d7/lifecycle/deactivate","method":"POST"}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 514.345958ms
    - id: 1
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/logStreams/0oakwr6xe4BMYWpKL1d7/lifecycle/deactivate
        method: POST
      response:
        body: ""
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
        status: 200 OK
        code: 200
        duration: 281.298833ms
    - id: 2
      request:
        host: oie-00.dne-okta.com
        body: |
            {"_links":{"self":{"href":""}},"created":"0001-01-01T00:00:00Z","id":"","lastUpdated":"0001-01-01T00:00:00Z","name":"testAcc_244785732 EventBridge","settings":{"accountId":"123456789012","eventSourceName":"testAcc_244785732","region":"eu-west-3"},"status":"ACTIVE","type":"aws_eventbridge"}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://oie-00.dne-okta.com/api/v1/logStreams
        method: POST
      response:
        body: '{"id":"0oakwr78tjXNFUcrS1d7","type":"aws_eventbridge","name":"testAcc_244785732 EventBridge","lastUpdated":"2025-03-13T23:39:24.000Z","created":"2025-03-13T23:39:24.000Z","status":"ACTIVE","settings":{"accountId":"123456789012","eventSourceName":"testAcc_244785732","region":"eu-west-3"},"_links":{"self":{"href":"https://oie-00.dne-okta.com/api/v1/logStreams/0oakwr78tjXNFUcrS1d7","method":"GET"},"deactivate":{"href":"https://oie-00.dne-okta.com/api/v1/logStreams/0oakwr78tjXNFUcrS1d7/lifecycle/deactivate","method":"POST"}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 924.9265ms
    - id: 3
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/logStreams/0oakwr78tjXNFUcrS1d7
        method: GET
      response:
        body: '{"id":"0oakwr78tjXNFUcrS1d7","type":"aws_eventbridge","name":"testAcc_244785732 EventBridge","lastUpdated":"2025-03-13T23:39:24.000Z","created":"2025-03-13T23:39:24.000Z","status":"ACTIVE","settings":{"accountId":"123456789012","eventSourceName":"testAcc_244785732","region":"eu-west-3"},"_links":{"self":{"href":"https://oie-00.dne-okta.com/api/v1/logStreams/0oakwr78tjXNFUcrS1d7","method":"GET"},"deactivate":{"href":"https://oie-00.dne-okta.com/api/v1/logStreams/0oakwr78tjXNFUcrS1d7/lifecycle/deactivate","method":"POST"}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 299.5755ms
    - id: 4
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/logStreams/0oakwr6xe4BMYWpKL1d7
        method: GET
      response:
        body: '{"id":"0oakwr6xe4BMYWpKL1d7","type":"splunk_cloud_logstreaming","name":"testAcc_244785732 Splunk","lastUpdated":"2025-03-13T23:39:24.000Z","created":"2025-03-13T23:39:24.000Z","status":"INACTIVE","settings":{"host":"acme.splunkcloud.com","edition":"aws"},"_links":{"activate":{"href":"https://oie-00.dne-okta.com/api/v1/logStreams/0oakwr6xe4BMYWpKL1d7/lifecycle/activate","method":"POST"},"self":{"href":"https://oie-00.dne-okta.com/api/v1/logStreams/0oakwr6xe4BMYWpKL1d7","method":"GET"}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 381.630333ms
[...]
    - id: 9
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/logStreams/0oakwr78tjXNFUcrS1d7/lifecycle/deactivate
        method: POST
      response:
        body: ""
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
        status: 200 OK
        code: 200
        duration: 246.448292ms
    - id: 10
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/logStreams/0oakwr6xe4BMYWpKL1d7/lifecycle/activate
        method: POST
      response:
        body: ""
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
        status: 200 OK
        code: 200
        duration: 284.840792ms
[...]
