---
version: 2
interactions:
    - id: 0
      request:
        host: oie-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/.well-known/okta-organization
        method: GET
      response:
        body: '{"id":"00otp3dizx2aP6cf41d7","cell":"op3","_links":{"organization":{"href":"https://oie-00.dne-okta.com"}},"pipeline":"idx","settings":{"analyticsCollectionEnabled":false,"bugReportingEnabled":true,"omEnabled":false,"pssoEnabled":true,"desktopMFAEnabled":true,"itpEnabled":true}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.095892333s
    - id: 1
      request:
        host: oie-00.dne-okta.com
        body: |
            {"description":"Test App Signon Policy for Priority Concurrency","name":"testAcc_595918995","priority":1,"type":"ACCESS_POLICY"}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://oie-00.dne-okta.com/api/v1/policies
        method: POST
      response:
        body: '{"id":"rsttqq9hz6ZdTxoTj1d7","status":"ACTIVE","name":"testAcc_595918995","description":"Test App Signon Policy for Priority Concurrency","priority":1,"system":false,"conditions":null,"created":"2026-01-12T11:03:22.000Z","lastUpdated":"2026-01-12T11:03:22.000Z","_links":{"mappings":{"href":"https://oie-00.dne-okta.com/api/v1/policies/rsttqq9hz6ZdTxoTj1d7/mappings","hints":{"allow":["GET","POST"]}},"self":{"href":"https://oie-00.dne-okta.com/api/v1/policies/rsttqq9hz6ZdTxoTj1d7","hints":{"allow":["GET","PUT","DELETE"]}},"rules":{"href":"https://oie-00.dne-okta.com/api/v1/policies/rsttqq9hz6ZdTxoTj1d7/rules","hints":{"allow":["GET","POST"]}},"deactivate":{"href":"https://oie-00.dne-okta.com/api/v1/policies/rsttqq9hz6ZdTxoTj1d7/lifecycle/deactivate","hints":{"allow":["POST"]}}},"type":"ACCESS_POLICY"}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.230533416s
    - id: 2
      request:
        host: oie-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/policies/rsttqq9hz6ZdTxoTj1d7/rules
        method: GET
      response:
        body: '[{"id":"rultqq9hz7S4TO12A1d7","status":"ACTIVE","name":"Catch-all Rule","priority":99,"created":"2026-01-12T11:03:22.000Z","lastUpdated":"2026-01-12T11:03:22.000Z","system":true,"conditions":null,"actions":{"appSignOn":{"access":"ALLOW","verificationMethod":{"factorMode":"2FA","type":"ASSURANCE","reauthenticateIn":"PT12H","constraints":[{"possession":{"required":true,"deviceBound":"REQUIRED"}}]},"keepMeSignedIn":{"postAuth":"NOT_ALLOWED"}}},"_links":{"self":{"href":"https://oie-00.dne-okta.com/api/v1/policies/rsttqq9hz6ZdTxoTj1d7/rules/rultqq9hz7S4TO12A1d7","hints":{"allow":["GET","PUT"]}}},"type":"ACCESS_POLICY"}]'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.059840166s
    - id: 3
      request:
        host: oie-00.dne-okta.com
        body: |
            {"actions":{"appSignOn":{"access":"ALLOW","verificationMethod":{"factorMode":"2FA","reauthenticateIn":"PT2H","type":"ASSURANCE"}}},"conditions":{"network":{"connection":"ANYWHERE"},"platform":{},"elCondition":{}},"name":"Test App Sign On Policy Rule 00","priority":1,"type":"ACCESS_POLICY"}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://oie-00.dne-okta.com/api/v1/policies/rsttqq9hz6ZdTxoTj1d7/rules
        method: POST
      response:
        body: '{"id":"rultqq7en0VEwsYVv1d7","status":"ACTIVE","name":"Test App Sign On Policy Rule 00","priority":1,"created":"2026-01-12T11:03:24.000Z","lastUpdated":"2026-01-12T11:03:24.000Z","system":false,"conditions":{"people":{"users":{"exclude":[]}},"network":{"connection":"ANYWHERE"},"riskScore":{"level":"ANY"},"userType":{"include":[],"exclude":[]}},"actions":{"appSignOn":{"access":"ALLOW","verificationMethod":{"factorMode":"2FA","type":"ASSURANCE","reauthenticateIn":"PT2H"},"keepMeSignedIn":{"postAuth":"NOT_ALLOWED"}}},"_links":{"self":{"href":"https://oie-00.dne-okta.com/api/v1/policies/rsttqq9hz6ZdTxoTj1d7/rules/rultqq7en0VEwsYVv1d7","hints":{"allow":["GET","PUT","DELETE"]}},"deactivate":{"href":"https://oie-00.dne-okta.com/api/v1/policies/rsttqq9hz6ZdTxoTj1d7/rules/rultqq7en0VEwsYVv1d7/lifecycle/deactivate","hints":{"allow":["POST"]}}},"type":"ACCESS_POLICY"}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.097973375s
    - id: 4
      request:
        host: oie-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/policies/rsttqq9hz6ZdTxoTj1d7/rules/rultqq7en0VEwsYVv1d7
        method: GET
      response:
        body: '{"id":"rultqq7en0VEwsYVv1d7","status":"ACTIVE","name":"Test App Sign On Policy Rule 00","priority":1,"created":"2026-01-12T11:03:24.000Z","lastUpdated":"2026-01-12T11:03:24.000Z","system":false,"conditions":{"people":{"users":{"exclude":[]}},"network":{"connection":"ANYWHERE"},"riskScore":{"level":"ANY"},"userType":{"include":[],"exclude":[]}},"actions":{"appSignOn":{"access":"ALLOW","verificationMethod":{"factorMode":"2FA","type":"ASSURANCE","reauthenticateIn":"PT2H"},"keepMeSignedIn":{"postAuth":"NOT_ALLOWED"}}},"_links":{"self":{"href":"https://oie-00.dne-okta.com/api/v1/policies/rsttqq9hz6ZdTxoTj1d7/rules/rultqq7en0VEwsYVv1d7","hints":{"allow":["GET","PUT","DELETE"]}},"deactivate":{"href":"https://oie-00.dne-okta.com/api/v1/policies/rsttqq9hz6ZdTxoTj1d7/rules/rultqq7en0VEwsYVv1d7/lifecycle/deactivate","hints":{"allow":["POST"]}}},"type":"ACCESS_POLICY"}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.045915209s
[...]
    - id: 6
      request:
        host: oie-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/policies/rsttqq9hz6ZdTxoTj1d7/rules/rultqq941dSgB8fBc1d7
        method: GET
      response:
        body: '{"id":"rultqq941dSgB8fBc1d7","status":"ACTIVE","name":"Test App Sign On Policy Rule 01","priority":2,"created":"2026-01-12T11:03:26.000Z","lastUpdated":"2026-01-12T11:03:26.000Z","system":false,"conditions":{"people":{"users":{"exclude":[]}},"network":{"connection":"ANYWHERE"},"riskScore":{"level":"ANY"},"userType":{"include":[],"exclude":[]}},"actions":{"appSignOn":{"access":"ALLOW","verificationMethod":{"factorMode":"2FA","type":"ASSURANCE","reauthenticateIn":"PT2H"},"keepMeSignedIn":{"postAuth":"NOT_ALLOWED"}}},"_links":{"self":{"href":"https://oie-00.dne-okta.com/api/v1/policies/rsttqq9hz6ZdTxoTj1d7/rules/rultqq941dSgB8fBc1d7","hints":{"allow":["GET","PUT","DELETE"]}},"deactivate":{"href":"https://oie-00.dne-okta.com/api/v1/policies/rsttqq9hz6ZdTxoTj1d7/rules/rultqq941dSgB8fBc1d7/lifecycle/deactivate","hints":{"allow":["POST"]}}},"type":"ACCESS_POLICY"}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.060798458s
[...]
    - id: 8
      request:
        host: oie-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/policies/rsttqq9hz6ZdTxoTj1d7/rules/rultqq8e2k2rJpcLs1d7
        method: GET
      response:
        body: '{"id":"rultqq8e2k2rJpcLs1d7","status":"ACTIVE","name":"Test App Sign On Policy Rule 02","priority":3,"created":"2026-01-12T11:03:29.000Z","lastUpdated":"2026-01-12T11:03:29.000Z","system":false,"conditions":{"people":{"users":{"exclude":[]}},"network":{"connection":"ANYWHERE"},"riskScore":{"level":"ANY"},"userType":{"include":[],"exclude":[]}},"actions":{"appSignOn":{"access":"ALLOW","verificationMethod":{"factorMode":"2FA","type":"ASSURANCE","reauthenticateIn":"PT2H"},"keepMeSignedIn":{"postAuth":"NOT_ALLOWED"}}},"_links":{"self":{"href":"https://oie-00.dne-okta.com/api/v1/policies/rsttqq9hz6ZdTxoTj1d7/rules/rultqq8e2k2rJpcLs1d7","hints":{"allow":["GET","PUT","DELETE"]}},"deactivate":{"href":"https://oie-00.dne-okta.com/api/v1/policies/rsttqq9hz6ZdTxoTj1d7/rules/rultqq8e2k2rJpcLs1d7/lifecycle/deactivate","hints":{"allow":["POST"]}}},"type":"ACCESS_POLICY"}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.172407041s
[...]
    - id: 10
      request:
        host: oie-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/policies/rsttqq9hz6ZdTxoTj1d7/rules/rultqq5yzzMCBOw671d7
        method: GET
      response:
        body: '{"id":"rultqq5yzzMCBOw671d7","status":"ACTIVE","name":"Test App Sign On Policy Rule 03","priority":4,"created":"2026-01-12T11:03:31.000Z","lastUpdated":"2026-01-12T11:03:31.000Z","system":false,"conditions":{"people":{"users":{"exclude":[]}},"network":{"connection":"ANYWHERE"},"riskScore":{"level":"ANY"},"userType":{"include":[],"exclude":[]}},"actions":{"appSignOn":{"access":"ALLOW","verificationMethod":{"factorMode":"2FA","type":"ASSURANCE","reauthenticateIn":"PT2H"},"keepMeSignedIn":{"postAuth":"NOT_ALLOWED"}}},"_links":{"self":{"href":"https://oie-00.dne-okta.com/api/v1/policies/rsttqq9hz6ZdTxoTj1d7/rules/rultqq5yzzMCBOw671d7","hints":{"allow":["GET","PUT","DELETE"]}},"deactivate":{"href":"https://oie-00.dne-okta.com/api/v1/policies/rsttqq9hz6ZdTxoTj1d7/rules/rultqq5yzzMCBOw671d7/lifecycle/deactivate","hints":{"allow":["POST"]}}},"type":"ACCESS_POLICY"}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.242726708s
[...]
    - id: 12
      request:
        host: oie-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/policies/rsttqq9hz6ZdTxoTj1d7/rules/rultqq9i1zbhbepS21d7
        method: GET
      response:
        body: '{"id":"rultqq9i1zbhbepS21d7","status":"ACTIVE","name":"Test App Sign On Policy Rule 04","priority":5,"created":"2026-01-12T11:03:33.000Z","lastUpdated":"2026-01-12T11:03:33.000Z","system":false,"conditions":{"people":{"users":{"exclude":[]}},"network":{"connection":"ANYWHERE"},"riskScore":{"level":"ANY"},"userType":{"include":[],"exclude":[]}},"actions":{"appSignOn":{"access":"ALLOW","verificationMethod":{"factorMode":"2FA","type":"ASSURANCE","reauthenticateIn":"PT2H"},"keepMeSignedIn":{"postAuth":"NOT_ALLOWED"}}},"_links":{"self":{"href":"https://oie-00.dne-okta.com/api/v1/policies/rsttqq9hz6ZdTxoTj1d7/rules/rultqq9i1zbhbepS21d7","hints":{"allow":["GET","PUT","DELETE"]}},"deactivate":{"href":"https://oie-00.dne-okta.com/api/v1/policies/rsttqq9hz6ZdTxoTj1d7/rules/rultqq9i1zbhbepS21d7/lifecycle/deactivate","hints":{"allow":["POST"]}}},"type":"ACCESS_POLICY"}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.097709959s
[...]
    - id: 14
      request:
        host: oie-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/policies/rsttqq9hz6ZdTxoTj1d7/rules/rultqqa2mf4NFwyH31d7
        method: GET
      response:
        body: '{"id":"rultqqa2mf4NFwyH31d7","status":"ACTIVE","name":"Test App Sign On Policy Rule 05","priority":6,"created":"2026-01-12T11:03:36.000Z","lastUpdated":"2026-01-12T11:03:36.000Z","system":false,"conditions":{"people":{"users":{"exclude":[]}},"network":{"connection":"ANYWHERE"},"riskScore":{"level":"ANY"},"userType":{"include":[],"exclude":[]}},"actions":{"appSignOn":{"access":"ALLOW","verificationMethod":{"factorMode":"2FA","type":"ASSURANCE","reauthenticateIn":"PT2H"},"keepMeSignedIn":{"postAuth":"NOT_ALLOWED"}}},"_links":{"self":{"href":"https://oie-00.dne-okta.com/api/v1/policies/rsttqq9hz6ZdTxoTj1d7/rules/rultqqa2mf4NFwyH31d7","hints":{"allow":["GET","PUT","DELETE"]}},"deactivate":{"href":"https://oie-00.dne-okta.com/api/v1/policies/rsttqq9hz6ZdTxoTj1d7/rules/rultqqa2mf4NFwyH31d7/lifecycle/deactivate","hints":{"allow":["POST"]}}},"type":"ACCESS_POLICY"}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.186784917s
[...]
    - id: 16
      request:
        host: oie-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/policies/rsttqq9hz6ZdTxoTj1d7/rules/rultqq97xkEm08J031d7
        method: GET
      response:
        body: '{"id":"rultqq97xkEm08J031d7","status":"ACTIVE","name":"Test App Sign On Policy Rule 06","priority":7,"created":"2026-01-12T11:03:38.000Z","lastUpdated":"2026-01-12T11:03:38.000Z","system":false,"conditions":{"people":{"users":{"exclude":[]}},"network":{"connection":"ANYWHERE"},"riskScore":{"level":"ANY"},"userType":{"include":[],"exclude":[]}},"actions":{"appSignOn":{"access":"ALLOW","verificationMethod":{"factorMode":"2FA","type":"ASSURANCE","reauthenticateIn":"PT2H"},"keepMeSignedIn":{"postAuth":"NOT_ALLOWED"}}},"_links":{"self":{"href":"https://oie-00.dne-okta.com/api/v1/policies/rsttqq9hz6ZdTxoTj1d7/rules/rultqq97xkEm08J031d7","hints":{"allow":["GET","PUT","DELETE"]}},"deactivate":{"href":"https://oie-00.dne-okta.com/api/v1/policies/rsttqq9hz6ZdTxoTj1d7/rules/rultqq97xkEm08J031d7/lifecycle/deactivate","hints":{"allow":["POST"]}}},"type":"ACCESS_POLICY"}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.227925084s
[...]
    - id: 18
      request:
        host: oie-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/policies/rsttqq9hz6ZdTxoTj1d7/rules/rultqq7dtouQKmNfI1d7
        method: GET
      response:
        body: '{"id":"rultqq7dtouQKmNfI1d7","status":"ACTIVE","name":"Test App Sign On Policy Rule 07","priority":8,"created":"2026-01-12T11:03:41.000Z","lastUpdated":"2026-01-12T11:03:41.000Z","system":false,"conditions":{"people":{"users":{"exclude":[]}},"network":{"connection":"ANYWHERE"},"riskScore":{"level":"ANY"},"userType":{"include":[],"exclude":[]}},"actions":{"appSignOn":{"access":"ALLOW","verificationMethod":{"factorMode":"2FA","type":"ASSURANCE","reauthenticateIn":"PT2H"},"keepMeSignedIn":{"postAuth":"NOT_ALLOWED"}}},"_links":{"self":{"href":"https://oie-00.dne-okta.com/api/v1/policies/rsttqq9hz6ZdTxoTj1d7/rules/rultqq7dtouQKmNfI1d7","hints":{"allow":["GET","PUT","DELETE"]}},"deactivate":{"href":"https://oie-00.dne-okta.com/api/v1/policies/rsttqq9hz6ZdTxoTj1d7/rules/rultqq7dtouQKmNfI1d7/lifecycle/deactivate","hints":{"allow":["POST"]}}},"type":"ACCESS_POLICY"}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.067971208s
[...]
    - id: 20
      request:
        host: oie-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/policies/rsttqq9hz6ZdTxoTj1d7/rules/rultqq71mgPoW9ciw1d7
        method: GET
      response:
        body: '{"id":"rultqq71mgPoW9ciw1d7","status":"ACTIVE","name":"Test App Sign On Policy Rule 08","priority":9,"created":"2026-01-12T11:03:43.000Z","lastUpdated":"2026-01-12T11:03:43.000Z","system":false,"conditions":{"people":{"users":{"exclude":[]}},"network":{"connection":"ANYWHERE"},"riskScore":{"level":"ANY"},"userType":{"include":[],"exclude":[]}},"actions":{"appSignOn":{"access":"ALLOW","verificationMethod":{"factorMode":"2FA","type":"ASSURANCE","reauthenticateIn":"PT2H"},"keepMeSignedIn":{"postAuth":"NOT_ALLOWED"}}},"_links":{"self":{"href":"https://oie-00.dne-okta.com/api/v1/policies/rsttqq9hz6ZdTxoTj1d7/rules/rultqq71mgPoW9ciw1d7","hints":{"allow":["GET","PUT","DELETE"]}},"deactivate":{"href":"https://oie-00.dne-okta.com/api/v1/policies/rsttqq9hz6ZdTxoTj1d7/rules/rultqq71mgPoW9ciw1d7/lifecycle/deactivate","hints":{"allow":["POST"]}}},"type":"ACCESS_POLICY"}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.177997458s
[...]
    - id: 22
      request:
        host: oie-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/policies/rsttqq9hz6ZdTxoTj1d7/rules/rultqq7dtpmzuFtRF1d7
        method: GET
      response:
        body: '{"id":"rultqq7dtpmzuFtRF1d7","status":"ACTIVE","name":"Test App Sign On Policy Rule 09","priority":10,"created":"2026-01-12T11:03:45.000Z","lastUpdated":"2026-01-12T11:03:45.000Z","system":false,"conditions":{"people":{"users":{"exclude":[]}},"network":{"connection":"ANYWHERE"},"riskScore":{"level":"ANY"},"userType":{"include":[],"exclude":[]}},"actions":{"appSignOn":{"access":"ALLOW","verificationMethod":{"factorMode":"2FA","type":"ASSURANCE","reauthenticateIn":"PT2H"},"keepMeSignedIn":{"postAuth":"NOT_ALLOWED"}}},"_links":{"self":{"href":"https://oie-00.dne-okta.com/api/v1/policies/rsttqq9hz6ZdTxoTj1d7/rules/rultqq7dtpmzuFtRF1d7","hints":{"allow":["GET","PUT","DELETE"]}},"deactivate":{"href":"https://oie-00.dne-okta.com/api/v1/policies/rsttqq9hz6ZdTxoTj1d7/rules/rultqq7dtpmzuFtRF1d7/lifecycle/deactivate","hints":{"allow":["POST"]}}},"type":"ACCESS_POLICY"}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.077718291s
    - id: 23
      request:
        host: oie-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/policies/rsttqq9hz6ZdTxoTj1d7
        method: GET
      response:
        body: '{"id":"rsttqq9hz6ZdTxoTj1d7","status":"ACTIVE","name":"testAcc_595918995","description":"Test App Signon Policy for Priority Concurrency","priority":1,"system":false,"conditions":null,"created":"2026-01-12T11:03:22.000Z","lastUpdated":"2026-01-12T11:03:22.000Z","_links":{"mappings":{"href":"https://oie-00.dne-okta.com/api/v1/policies/rsttqq9hz6ZdTxoTj1d7/mappings","hints":{"allow":["GET","POST"]}},"self":{"href":"https://oie-00.dne-okta.com/api/v1/policies/rsttqq9hz6ZdTxoTj1d7","hints":{"allow":["GET","PUT","DELETE"]}},"rules":{"href":"https://oie-00.dne-okta.com/api/v1/policies/rsttqq9hz6ZdTxoTj1d7/rules","hints":{"allow":["GET","POST"]}},"deactivate":{"href":"https://oie-00.dne-okta.com/api/v1/policies/rsttqq9hz6ZdTxoTj1d7/lifecycle/deactivate","hints":{"allow":["POST"]}}},"type":"ACCESS_POLICY"}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.050572042s
[...]
    - id: 45
      request:
        host: oie-00.dne-okta.com
        form:
            type:
                - ACCESS_POLICY
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/policies?type=ACCESS_POLICY
        method: GET
      response:
        body: '[{"id":"rsttp3dj4pFt00LfN1d7","status":"ACTIVE","name":"Okta Admin Console","priority":1,"system":false,"conditions":null,"created":"2026-01-10T05:25:53.000Z","lastUpdated":"2026-01-10T05:25:53.000Z","_links":{"mappings":{"href":"https://oie-00.dne-okta.com/api/v1/policies/rsttp3dj4pFt00LfN1d7/mappings","hints":{"allow":["GET","POST"]}},"self":{"href":"https://oie-00.dne-okta.com/api/v1/policies/rsttp3dj4pFt00LfN1d7","hints":{"allow":["GET","PUT","DELETE"]}},"rules":{"href":"https://oie-00.dne-okta.com/api/v1/policies/rsttp3dj4pFt00LfN1d7/rules","hints":{"allow":["GET","POST"]}},"deactivate":{"href":"https://oie-00.dne-okta.com/api/v1/policies/rsttp3dj4pFt00LfN1d7/lifecycle/deactivate","hints":{"allow":["POST"]}}},"_embedded":{"resourceType":"APP"},"type":"ACCESS_POLICY"},{"id":"rsttp3dj4whoaEDfx1d7","status":"ACTIVE","name":"Okta Dashboard","priority":1,"system":false,"conditions":null,"created":"2026-01-10T05:25:53.000Z","lastUpdated":"2026-01-10T05:25:53.000Z","_links":{"mappings":{"href":"https://oie-00.dne-okta.com/api/v1/policies/rsttp3dj4whoaEDfx1d7/mappings","hints":{"allow":["GET","POST"]}},"self":{"href":"https://oie-00.dne-okta.com/api/v1/policies/rsttp3dj4whoaEDfx1d7","hints":{"allow":["GET","PUT","DELETE"]}},"rules":{"h[...]
    - id: 46
      request:
        host: oie-00.dne-okta.com
        form:
            limit:
                - "200"
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/apps?limit=200
        method: GET
      response:
        body: '[{"id":"0oatp3dj07jKTSw5n1d7","orn":"orn:oktapreview:idp:00otp3dizx2aP6cf41d7:apps:saasure:0oatp3dj07jKTSw5n1d7","name":"saasure","label":"Okta Admin Console","status":"ACTIVE","lastUpdated":"2026-01-10T05:25:49.000Z","created":"2026-01-10T05:25:49.000Z","accessibility":{"selfService":false,"errorRedirectUrl":null,"loginRedirectUrl":null},"visibility":{"autoSubmitToolbar":false,"hide":{"iOS":false,"web":false},"appLinks":{"admin":true}},"features":[],"signOnMode":"OPENID_CONNECT","credentials":{"userNameTemplate":{"template":"${source.login}","type":"BUILT_IN"},"signing":{"kid":"M64mrFTNibg79EAMszQclL45TDZhqZkEPfIv-bin6wo"}},"universalLogout":{"status":"UNSUPPORTED"},"settings":{"app":{},"notifications":{"vpn":{"network":{"connection":"DISABLED"},"message":null,"helpUrl":null}},"manualProvisioning":false,"implicitAssignment":false,"emOptInStatus":"NONE"},"_links":{"uploadLogo":{"href":"https://oie-00.dne-okta.com/api/v1/apps/0oatp3dj07jKTSw5n1d7/logo","hints":{"allow":["POST"]}},"appLinks":[{"name":"admin","href":"https://oie-00.dne-okta.com/home/saasure/0oatp3dj07jKTSw5n1d7/2","type":"text/html"}],"profileEnrollment":{"href":"https://oie-00.dne-okta.com/api/v1/policies/rsttp3dj5bNAMpjoW1d7"},"policies":{"href":"https://oie-00.dne-okta.com/api/v1/apps/0oatp3dj07jKTSw5n1d7/policies","hints":{"allow":["PUT"]}},"groups":{"href":"https://oie-00.dne-okta.com/api/v1/apps/0oatp3dj07jKTSw5n1d7/groups"},"logo":[{"name":"medium","href":"https://op3static2.oktacdn.com/assets/img/logos/okta_admin_app.da3325676d57eaf566cb786dd0c7a819.png","type":"image/png"}],"accessPolicy":{"href":"https://oie-00.dne-okta.com/api/v1/policies/rsttp3dj4pFt00LfN1d7"},"users":{"href":"https://oie-00.dne-okta.com/api/v1/apps/0oatp3dj07jKTSw5n1d7/users"},"deactivate":{"href":"https://oie-00.dne-okta.com/api/v1/apps/0oatp3dj07jKTSw5n1d7/lifecycle/deactivate"}}},{"id":"0oatp3dj0zkGopb1D1d7","orn":"orn:oktapreview:idp:00otp3dizx2aP6cf41d7:apps:okta_enduser:0oatp3dj0zkGopb1D1d7","name":"okta_enduser","label":"Okta Dashboard","status":"ACTIVE","lastUpdated":"2026-01-10T05:25:49.000Z","create[...]
[...]
