---
version: 2
interactions:
    - id: 0
      request:
        host: classic-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/governance/api/v2/resources/0oaoum6j3cElINe1z1d7/request-sequences/685d6e0fe2fccdd9801704b4
        method: GET
      response:
        body: '{"id":"685d6e0fe2fccdd9801704b4","name":"Business Justification + Requester''s Manager Approval/Justification","description":"In this sequence, the requester must provide business justification as part of their access request submission.\nOnce they submit their request, an access request ticket is generated and an approval task is assigned to the requester’s manager.\nThe requester’s manager will then have to approve and provide justification.\nAfter this, the sequence is completed and access will be granted as defined in the Access Request Condition. If any approval is denied, the sequence is completed as \"Denied\" and the request will close without granting access to the requester.","compatibleResourceTypes":["APP","GROUP"],"link":"https://classic-00.at.oktapreview.com/next/sequences/685d6e0fe2fccdd9801704b4"}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.299950375s
[...]
