---
version: 1
interactions:
- request:
    body: |
      {"fromName":"testAcc_230772200","fromAddress":"no-reply@example.com","validationSubdomain":"mail"}
    form: {}
    headers:
      Authorization:
      - SSWS REDACTED
      Content-Type:
      - application/json
    url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/org/email/sender
    method: POST
  response:
    body: '{"id":"0es7l8ikufXHGS3jb1d7","status":"NOT_STARTED","pollingStartTime":null,"fromName":"testAcc_230772200","fromAddress":"no-reply@example.com","validationSubdomain":"mail","dnsValidation":[{"recordType":"TXT","fqdn":"_oktaverification.example.com","verificationValue":"3e7783cf28274faca420c12237134fc9"},{"recordType":"cname","fqdn":"mail.example.com","verificationValue":"u17769561.wl062.sendgrid.net"},{"recordType":"cname","fqdn":"p03._domainkey.example.com","verificationValue":"p03.domainkey.u17769561.wl062.sendgrid.net"},{"recordType":"cname","fqdn":"p032._domainkey.example.com","verificationValue":"p032.domainkey.u17769561.wl062.sendgrid.net"}],"validationError":null}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/org/email/sender/0es7l8ikufXHGS3jb1d7
    method: GET
  response:
    body: '{"id":"0es7l8ikufXHGS3jb1d7","status":"NOT_STARTED","pollingStartTime":null,"fromName":"testAcc_230772200","fromAddress":"no-reply@example.com","validationSubdomain":"mail","dnsValidation":[{"recordType":"TXT","fqdn":"_oktaverification.example.com","verificationValue":"3e7783cf28274faca420c12237134fc9"},{"recordType":"cname","fqdn":"mail.example.com","verificationValue":"u17769561.wl062.sendgrid.net"},{"recordType":"cname","fqdn":"p03._domainkey.example.com","verificationValue":"p03.domainkey.u17769561.wl062.sendgrid.net"},{"recordType":"cname","fqdn":"p032._domainkey.example.com","verificationValue":"p032.domainkey.u17769561.wl062.sendgrid.net"}],"validationError":null}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: |
      {"pending_id":"0es7l8ikufXHGS3jb1d7"}
    form: {}
    headers:
      Authorization:
      - SSWS REDACTED
      Content-Type:
      - application/json
    url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/org/email/sender/disable
    method: POST
  response:
    body: ""
    headers:
    status: 204 No Content
    code: 204
    duration: ""
