---
version: 2
interactions:
    - id: 0
      request:
        host: oie-00.dne-okta.com
        body: |
            {"audiences":["whatever.rise.zone"],"credentials":{"signing":{"rotationMode":"AUTO"}},"description":"test","issuerMode":"ORG_URL","name":"testAcc_874821125"}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://oie-00.dne-okta.com/api/v1/authorizationServers
        method: POST
      response:
        body: '{"id":"aus9i78cpc4m0zBl21d7","name":"testAcc_874821125","description":"test","audiences":["whatever.rise.zone"],"issuer":"https://oie-00.oktapreview.com/oauth2/aus9i78cpc4m0zBl21d7","issuerMode":"ORG_URL","status":"ACTIVE","created":"2023-08-15T23:41:14.000Z","lastUpdated":"2023-08-15T23:41:14.000Z","credentials":{"signing":{"kid":"IyK1iwV_qmie_I7iXI3ZDAo32tt_oNDDzSxdyYqN88E","rotationMode":"AUTO","lastRotated":"2023-08-15T23:41:14.000Z","nextRotation":"2023-11-13T23:41:14.000Z"}},"default":false,"_links":{"rotateKey":{"href":"https://oie-00.oktapreview.com/api/v1/authorizationServers/aus9i78cpc4m0zBl21d7/credentials/lifecycle/keyRotate","hints":{"allow":["POST"]}},"metadata":[{"name":"oauth-authorization-server","href":"https://oie-00.oktapreview.com/oauth2/aus9i78cpc4m0zBl21d7/.well-known/oauth-authorization-server","hints":{"allow":["GET"]}},{"name":"openid-configuration","href":"https://oie-00.oktapreview.com/oauth2/aus9i78cpc4m0zBl21d7/.well-known/openid-configuration","hints":{"allow":["GET"]}}],"keys":{"href":"https://oie-00.oktapreview.com/api/v1/authorizationServers/aus9i78cpc4m0zBl21d7/credentials/keys","hints":{"allow":["GET"]}},"claims":{"href":"https://oie-00.oktapreview.com/api/v1/authorizationServers/aus9i78cpc4m0zBl21d7/claims","hints":{"allow":["GET","POST"]}},"policies":{"href":"https://oie-00.oktapreview.com/api/v1/authorizationServers/aus9i78cpc4m0zBl21d7/policies","hints":{"allow":["GET","POST"]}},"self":{"href":"https://oie-00.oktapreview.com/api/v1/authorizationServers/aus9i78cpc4m0zBl21d7","hints":{"allow":["GET","DELETE","PUT"]}},"scopes":{"href":"https://oie-00.oktapreview.com/api/v1/authorizationServers/aus9i78cpc4m0zBl21d7/scopes","hints":{"allow":["GET","POST"]}},"deactivate":{"href":"https://oie-00.oktapreview.com/api/v1/authorizationServers/aus9i78cpc4m0zBl21d7/lifecycle/deactivate","hints":{"allow":["POST"]}}}}'
        headers:
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 734.315813ms
    - id: 1
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/authorizationServers/aus9i78cpc4m0zBl21d7
        method: GET
      response:
        body: '{"id":"aus9i78cpc4m0zBl21d7","name":"testAcc_874821125","description":"test","audiences":["whatever.rise.zone"],"issuer":"https://oie-00.oktapreview.com/oauth2/aus9i78cpc4m0zBl21d7","issue[...]
    - id: 2
      request:
        host: oie-00.dne-okta.com
        body: |
            {"conditions":{"clients":{"include":["ALL_CLIENTS"]}},"description":"test","name":"test","priority":1,"status":"ACTIVE","type":"OAUTH_AUTHORIZATION_POLICY"}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://oie-00.dne-okta.com/api/v1/authorizationServers/aus9i78cpc4m0zBl21d7/policies
        method: POST
      response:
        body: '{"id":"00p9i73c59Ts1gv341d7","status":"ACTIVE","name":"test","description":"test","priority":1,"system":false,"conditions":{"clients":{"include":["ALL_CLIENTS"]}},"created":"2023-08-15T23:41:14.000Z","lastUpdated":"2023-08-15T23:41:14.000Z","_links":{"self":{"href":"https://oie-00.oktapreview.com/api/v1/authorizationServers/aus9i78cpc4m0zBl21d7/policies/00p9i73c59Ts1gv341d7","hints":{"allow":["GET","PUT","DELETE"]}},"rules":{"href":"https://oie-00.oktapreview.com/api/v1/authorizationServers/aus9i78cpc4m0zBl21d7/policies/00p9i73c59Ts1gv341d7/rules","hints":{"allow":["GET"]}},"deactivate":{"href":"https://oie-00.oktapreview.com/api/v1/authorizationServers/aus9i78cpc4m0zBl21d7/policies/00p9i73c59Ts1gv341d7/lifecycle/deactivate","hints":{"allow":["POST"]}}},"type":"OAUTH_AUTHORIZATION_POLICY"}'
        headers:
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 193.60008ms
    - id: 3
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/authorizationServers/aus9i78cpc4m0zBl21d7/policies/00p9i73c59Ts1gv341d7
        method: GET
      response:
        body: '{"id":"00p9i73c59Ts1gv341d7","status":"ACTIVE","name":"test","description":"test","priority":1,"system":false,"conditions":{"clients":{"include":["ALL_CLIENTS"]}},"created":"2023-08-15T23:41:14.000Z","lastUpdated":"2023-08-15T23:41:14.000Z","_links":{"self":{"href":"https://oie-00.oktapreview.com/api/v1/authorizationServers/aus9i78cpc4m0zBl21d7/policies/00p9i73c59Ts1gv341d7","hints":{"allow":["GET","PUT","DELETE"]}},"rules":{"href":"https://oie-00.oktapreview.com/api/v1/authorizationServers/aus9i78cpc4m0zBl21d7/policies/00p9i73c59Ts1gv341d7/rules","hints":{"allow":["GET"]}},"deactivate":{"href":"https://oie-00.oktapreview.com/api/v1/authorizationServers/aus9i78cpc4m0zBl21d7/policies/00p9i73c59Ts1gv341d7/lifecycle/deactivate","hints":{"allow":["POST"]}}},"type":"OAUTH_AUTHORIZATION_POLICY"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 81.854254ms
[...]
    - id: 13
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/authorizationServers/aus9i78cpc4m0zBl21d7/lifecycle/deactivate
        method: POST
      response:
        body: ""
        headers:
        status: 204 No Content
        code: 204
        duration: 181.197772ms
[...]
    - id: 15
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/authorizationServers/aus9i78cpc4m0zBl21d7
        method: GET
      response:
        body: '{"errorCode":"E0000007","errorSummary":"Not found: Resource not found: aus9i78cpc4m0zBl21d7 (AuthorizationServer)","errorLink":"E0000007","errorId":"oaeBlu67CEgSu6NIlxAGvBgBA","errorCauses":[]}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 71.574608ms
