---
version: 2
interactions:
    - id: 0
      request:
        host: oie-00.dne-okta.com
        body: |
            {"label":"testAcc_4093708607","description":"test custom role","permissions":["okta.apps.assignment.manage"]}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://oie-00.dne-okta.com/api/v1/iam/roles
        method: POST
      response:
        body: '{"id":"cr0vua6xbycTvVZdJ1d7","label":"testAcc_4093708607","isCloneable":false,"description":"test custom role","created":"2026-03-05T13:48:56.000Z","lastUpdated":"2026-03-05T13:48:56.000Z","_links":{"permissions":{"href":"https://oie-00-admin.dne-okta.com/api/v1/iam/roles/cr0vua6xbycTvVZdJ1d7/permissions"},"self":{"href":"https://oie-00-admin.dne-okta.com/api/v1/iam/roles/cr0vua6xbycTvVZdJ1d7"}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
            Link:
                - <https://oie-00-admin.dne-okta.com/api/v1/iam/roles/cr0vua6xbycTvVZdJ1d7>; rel="self"
        status: 200 OK
        code: 200
        duration: 1.281080083s
    - id: 1
      request:
        host: oie-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/iam/roles/cr0vua6xbycTvVZdJ1d7
        method: GET
      response:
        body: '{"id":"cr0vua6xbycTvVZdJ1d7","label":"testAcc_4093708607","isCloneable":false,"description":"test custom role","created":"2026-03-05T13:48:56.000Z","lastUpdated":"2026-03-05T13:48:56.000Z","_links":{"permissions":{"href":"https://oie-00-admin.dne-okta.com/api/v1/iam/roles/cr0vua6xbycTvVZdJ1d7/permissions"},"self":{"href":"https://oie-00-admin.dne-okta.com/api/v1/iam/roles/cr0vua6xbycTvVZdJ1d7"}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
            Link:
                - <https://oie-00-admin.dne-okta.com/api/v1/iam/roles/cr0vua6xbycTvVZdJ1d7>; rel="self"
        status: 200 OK
        code: 200
        duration: 1.109244791s
    - id: 2
      request:
        host: oie-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/iam/roles/cr0vua6xbycTvVZdJ1d7/permissions
        method: GET
      response:
        body: '{"permissions":[{"label":"okta.apps.assignment.manage","created":"2026-03-05T13:48:56.000Z","lastUpdated":"2026-03-05T13:48:56.000Z","conditions":null,"_links":{"role":{"href":"https://oie-00-admin.dne-okta.com/api/v1/iam/roles/cr0vua6xbycTvVZdJ1d7"},"self":{"href":"https://oie-00-admin.dne-okta.com/api/v1/iam/roles/cr0vua6xbycTvVZdJ1d7/permissions/okta.apps.assignment.manage"}}}]}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.094394667s
[...]
