---
version: 1
interactions:
- request:
    body: |
      {"credentials":{"password":{"hash":{"algorithm":"SHA-512","salt":"TXlTYWx0","saltOrder":"PREFIX","value":"QrozP8a+KfoHu6mPFysxLoO5LMQsd2Fw6IclZUf8xQjetJOCGS93vm68h+VaFX0LHSiF/GxQkykq1vofmx6NGA=="}}},"profile":{"email":"testAcc-287281476@example.com","firstName":"TestAcc","lastName":"Smith","login":"testAcc-287281476@example.com","postalAddress":null}}
    form: {}
    headers:
      Authorization:
      - SSWS REDACTED
      Content-Type:
      - application/json
    url: https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/users?activate=false
    method: POST
  response:
    body: '{"id":"00u6m9htqrMf1BUFJ1d7","status":"STAGED","created":"2023-01-11T20:37:19.000Z","activated":null,"statusChanged":null,"lastLogin":null,"lastUpdated":"2023-01-11T20:37:19.000Z","passwordChanged":"2023-01-11T20:37:19.000Z","type":{"id":"oty5jjkl30LP1EYa11d7"},"profile":{"firstName":"TestAcc","lastName":"Smith","mobilePhone":null,"secondEmail":null,"login":"testAcc-287281476@example.com","email":"testAcc-287281476@example.com"},"credentials":{"password":{},"provider":{"type":"IMPORT","name":"IMPORT"}},"_links":{"schema":{"href":"https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/meta/schemas/user/osc5jjkl30LP1EYa11d7"},"activate":{"href":"https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/users/00u6m9htqrMf1BUFJ1d7/lifecycle/activate","method":"POST"},"self":{"href":"https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/users/00u6m9htqrMf1BUFJ1d7"},"resetFactors":{"href":"https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/users/00u6m9htqrMf1BUFJ1d7/lifecycle/reset_factors","method":"POST"},"type":{"href":"https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/meta/types/user/oty5jjkl30LP1EYa11d7"}}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/users/00u6m9htqrMf1BUFJ1d7
    method: GET
  response:
    body: '{"id":"00u6m9htqrMf1BUFJ1d7","status":"STAGED","created":"2023-01-11T20:37:19.000Z","activated":null,"statusChanged":null,"lastLogin":null,"lastUpdated":"2023-01-11T20:37:19.000Z","passwordChanged":"2023-01-11T20:37:19.000Z","type":{"id":"oty5jjkl30LP1EYa11d7"},"profile":{"firstName":"TestAcc","lastName":"Smith","mobilePhone":null,"secondEmail":null,"login":"testAcc-287281476@example.com","email":"testAcc-287281476@example.com"},"credentials":{"password":{},"provider":{"type":"IMPORT","name":"IMPORT"}},"_links":{"schema":{"href":"https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/meta/schemas/user/osc5jjkl30LP1EYa11d7"},"activate":{"href":"https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/users/00u6m9htqrMf1BUFJ1d7/lifecycle/activate","method":"POST"},"self":{"href":"https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/users/00u6m9htqrMf1BUFJ1d7"},"resetFactors":{"href":"https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/users/00u6m9htqrMf1BUFJ1d7/lifecycle/reset_factors","method":"POST"},"type":{"href":"https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/meta/types/user/oty5jjkl30LP1EYa11d7"}}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/users/00u6m9htqrMf1BUFJ1d7/roles
    method: GET
  response:
    body: '[]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: |
      {"credentials":{"password":{"hash":{"algorithm":"BCRYPT","salt":"rwh3vH166HCH/NT9XV5FYu","value":"qaMqvAPULkbiQzkTCWo5XDcvzpk8Tna","workFactor":10}}},"profile":{"email":"testAcc-287281476@example.com","firstName":"TestAcc","lastName":"Smith","login":"testAcc-287281476@example.com","postalAddress":null}}
    form: {}
    headers:
      Authorization:
      - SSWS REDACTED
      Content-Type:
      - application/json
    url: https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/users/00u6m9htqrMf1BUFJ1d7
    method: PUT
  response:
    body: '{"id":"00u6m9htqrMf1BUFJ1d7","status":"STAGED","created":"2023-01-11T20:37:19.000Z","activated":[...]
[...]
