---
version: 2
interactions:
- id: 0
  request:
    host: classic-00.dne-okta.com
    body: "{\"credentials\":{\"password\":{}},\"profile\":{\"email\":\"testAcc-3355902768@example.com\",\"firstName\":\"TestAcc\",\"lastName\":\"Smith\",\"login\":\"testAcc-3355902768@example.com\",\"postalAddress\":null}}\n"
    headers:
      Authorization:
      - SSWS REDACTED
      Content-Type:
      - application/json
    url: https://classic-00.dne-okta.com/api/v1/users
    method: POST
  response:
    body: "{\"id\":\"00uckrm9hrAwiusjg0x7\",\"status\":\"PROVISIONED\",\"created\":\"2025-12-17T11:06:22.000Z\",\"activated\":\"2025-12-17T11:06:22.000Z\",\"statusChanged\":\"2025-12-17T11:06:22.000Z\",\"lastLogin\":null,\"lastUpdated\":\"2025-12-17T11:06:22.000Z\",\"passwordChanged\":null,\"realmId\":\"guobiiz9fiOFhQlea0x7\",\"type\":{\"id\":\"otybiiyra51eDWlk50x7\"},\"profile\":{\"firstName\":\"TestAcc\",\"lastName\":\"Smith\",\"mobilePhone\":null,\"secondEmail\":null,\"login\":\"testAcc-3355902768@example.com\",\"email\":\"testAcc-3355902768@example.com\"},\"credentials\":{\"provider\":{\"type\":\"OKTA\",\"name\":\"OKTA\"}},\"_links\":{\"suspend\":{\"href\":\"https://classic-00.dne-okta.com/api/v1/users/00uckrm9hrAwiusjg0x7/lifecycle/suspend\",\"method\":\"POST\"},\"schema\":{\"href\":\"https://classic-00.dne-okta.com/api/v1/meta/schemas/user/oscbiiyra51eDWlk50x7\"},\"resetPassword\":{\"href\":\"https://classic-00.dne-okta.com/api/v1/users/00uckrm9hrAwiusjg0x7/lifecycle/reset_password\",\"method\":\"POST\"},\"reactivate\":{\"href\":\"https://classic-00.dne-okta.com/api/v1/users/00uckrm9hrAwiusjg0x7/lifecycle/reactivate\",\"method\":\"POST\"},\"self\":{\"href\":\"https://classic-00.dne-okta.com/api/v1/users/00uckrm9hrAwiusjg0x7\"},\"resetFactors\":{\"href\":\"https://classic-00.dne-okta.com/api/v1/users/00uckrm9hrAwiusjg0x7/lifecycle/reset_factors\",\"method\":\"POST\"},\"type\":{\"href\":\"https://classic-00.dne-okta.com/api/v1/meta/types/user/otybiiyra51eDWlk50x7\"},\"deactivate\":{\"href\":\"https://classic-00.dne-okta.com/api/v1/users/00uckrm9hrAwiusjg0x7/lifecycle/deactivate\",\"method\":\"POST\"}}}"
    headers:
      Accept-Ch:
      - Sec-CH-UA-Platform-Version
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 487.386667ms
- id: 1
  request:
    host: classic-00.dne-okta.com
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://classic-00.dne-okta.com/api/v1/users/00uckrm9hrAwiusjg0x7
    method: GET
  response:
    body: "{\"id\":\"00uckrm9hrAwiusjg0x7\",\"status\":\"PROVISIONED\",\"created\":\"2025-12-17T11:06:22.000Z\",\"activated\":\"2025-12-17T11:06:22.000Z\",\"statusChanged\":\"2025-12-17T11:06:22.000Z\",\"lastLogin\":null,\"lastUpdated\":\"2025-12-17T11:06:22.000Z\",\"passwordChanged\":nu[...]
[...]
