---
version: 2
interactions:
    - id: 0
      request:
        host: classic-00.dne-okta.com
        body: |
            {"credentials":{"password":{}},"profile":{"email":"testAcc-3355902768@example.com","firstName":"TestAcc","lastName":"Smith","login":"testAcc-3355902768@example.com","postalAddress":null}}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://classic-00.dne-okta.com/api/v1/users
        method: POST
      response:
        body: '{"id":"00ukwuym2aQq6fza21d7","status":"PROVISIONED","created":"2025-03-14T03:22:06.000Z","activated":"2025-03-14T03:22:06.000Z","statusChanged":"2025-03-14T03:22:06.000Z","lastLogin":null,"lastUpdated":"2025-03-14T03:22:06.000Z","passwordChanged":null,"type":{"id":"oty5ptm052JMcoADv1d7"},"profile":{"firstName":"TestAcc","lastName":"Smith","mobilePhone":null,"secondEmail":null,"login":"testAcc-3355902768@example.com","email":"testAcc-3355902768@example.com"},"credentials":{"provider":{"type":"OKTA","name":"OKTA"}},"_links":{"suspend":{"href":"https://classic-00.dne-okta.com/api/v1/users/00ukwuym2aQq6fza21d7/lifecycle/suspend","method":"POST"},"schema":{"href":"https://classic-00.dne-okta.com/api/v1/meta/schemas/user/osc5ptm052JMcoADv1d7"},"resetPassword":{"href":"https://classic-00.dne-okta.com/api/v1/users/00ukwuym2aQq6fza21d7/lifecycle/reset_password","method":"POST"},"reactivate":{"href":"https://classic-00.dne-okta.com/api/v1/users/00ukwuym2aQq6fza21d7/lifecycle/reactivate","method":"POST"},"self":{"href":"https://classic-00.dne-okta.com/api/v1/users/00ukwuym2aQq6fza21d7"},"type":{"href":"https://classic-00.dne-okta.com/api/v1/meta/types/user/oty5ptm052JMcoADv1d7"},"deactivate":{"href":"https://classic-00.dne-okta.com/api/v1/users/00ukwuym2aQq6fza21d7/lifecycle/deactivate","method":"POST"}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 751.040666ms
    - id: 1
      request:
        host: classic-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/users/00ukwuym2aQq6fza21d7
        method: GET
      response:
        body: '{"id":"00ukwuym2aQq6fza21d7","status":"PROVISIONED","created":"2025-03-14T03:22:06.000Z","activated":"2025-03-14T03:22:06.000Z","statusChanged":"2025-03-14T03:22:06.000Z","lastLogin":null,"lastUp[...]
[...]
