---
version: 2
interactions:
    - id: 0
      request:
        host: classic-00.dne-okta.com
        body: |
            {"credentials":{"password":{}},"profile":{"email":"testAcc-3355902768@example.com","firstName":"TestAcc","lastName":"Smith","login":"testAcc-3355902768@example.com","postalAddress":null}}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://classic-00.dne-okta.com/api/v1/users
        method: POST
      response:
        body: '{"id":"00uvozl92uyCXQR2b1d7","status":"PROVISIONED","created":"2026-03-02T12:48:24.000Z","activated":"2026-03-02T12:48:25.000Z","statusChanged":"2026-03-02T12:48:25.000Z","lastLogin":null,"lastUpdated":"2026-03-02T12:48:25.000Z","passwordChanged":null,"realmId":"guotivlj45ZSJtnfF1d7","type":{"id":"otytivnus5k8rPk4X1d7"},"profile":{"firstName":"TestAcc","lastName":"Smith","mobilePhone":null,"secondEmail":null,"login":"testAcc-3355902768@example.com","email":"testAcc-3355902768@example.com"},"credentials":{"provider":{"type":"OKTA","name":"OKTA"}},"_links":{"suspend":{"href":"https://classic-00.dne-okta.com/api/v1/users/00uvozl92uyCXQR2b1d7/lifecycle/suspend","method":"POST"},"schema":{"href":"https://classic-00.dne-okta.com/api/v1/meta/schemas/user/osctivnus5k8rPk4X1d7"},"resetPassword":{"href":"https://classic-00.dne-okta.com/api/v1/users/00uvozl92uyCXQR2b1d7/lifecycle/reset_password","method":"POST"},"reactivate":{"href":"https://classic-00.dne-okta.com/api/v1/users/00uvozl92uyCXQR2b1d7/lifecycle/reactivate","method":"POST"},"self":{"href":"https://classic-00.dne-okta.com/api/v1/users/00uvozl92uyCXQR2b1d7"},"resetFactors":{"href":"https://classic-00.dne-okta.com/api/v1/users/00uvozl92uyCXQR2b1d7/lifecycle/reset_factors","method":"POST"},"type":{"href":"https://classic-00.dne-okta.com/api/v1/meta/types/user/otytivnus5k8rPk4X1d7"},"deactivate":{"href":"https://classic-00.dne-okta.com/api/v1/users/00uvozl92uyCXQR2b1d7/lifecycle/deactivate","method":"POST"}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 2.192749708s
    - id: 1
      request:
        host: classic-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/users/00uvozl92uyCXQR2b1d7
        method: GET
      response:
        body: '{"id":"00uvozl92uyCXQR2b1d7","status":"PROVISIONED","created":"2026-03-02T12:48:24.000Z","activated":"2026-03-02T12:48:25.000Z","statusChanged":"2026-03-02T12:48:25.000Z","lastLogin":null,"lastUpdated":"2026-03-02T12:48:25.000Z",[...]
[...]
