---
version: 2
interactions:
    - id: 0
      request:
        host: classic-00.dne-okta.com
        body: |
            {"credentials":{"password":{}},"profile":{"email":"testAcc-1945645226@example.com","firstName":"TestAcc","lastName":"Smith","login":"testAcc-1945645226@example.com","postalAddress":null}}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://classic-00.dne-okta.com/api/v1/users?activate=false
        method: POST
      response:
        body: '{"id":"00ukwuohkuoYyg3oP1d7","status":"STAGED","created":"2025-03-14T03:21:54.000Z","activated":null,"statusChanged":null,"lastLogin":null,"lastUpdated":"2025-03-14T03:21:54.000Z","passwordChanged":null,"type":{"id":"oty5ptm052JMcoADv1d7"},"profile":{"firstName":"TestAcc","lastName":"Smith","mobilePhone":null,"secondEmail":null,"login":"testAcc-1945645226@example.com","email":"testAcc-1945645226@example.com"},"credentials":{"provider":{"type":"OKTA","name":"OKTA"}},"_links":{"schema":{"href":"https://classic-00.dne-okta.com/api/v1/meta/schemas/user/osc5ptm052JMcoADv1d7"},"activate":{"href":"https://classic-00.dne-okta.com/api/v1/users/00ukwuohkuoYyg3oP1d7/lifecycle/activate","method":"POST"},"self":{"href":"https://classic-00.dne-okta.com/api/v1/users/00ukwuohkuoYyg3oP1d7"},"type":{"href":"https://classic-00.dne-okta.com/api/v1/meta/types/user/oty5ptm052JMcoADv1d7"}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 272.053958ms
    - id: 1
      request:
        host: classic-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/users/00ukwuohkuoYyg3oP1d7
        method: GET
      response:
        body: '{"id":"00ukwuohkuoYyg3oP1d7","status":"STAGED","created":"2025-03-14T03:21:54.000Z","activated":null,"statusChanged":null,"lastLogin":null,"lastUpdated":"2025-03-14T03:21:54.000Z","passwordChanged":null,"type":{"id":"oty5ptm052JMcoADv1d7"},"profile":{"firstName":"TestAcc","lastName":"Smith","mobilePhone":null,"secondEmail":null,"login":"testAcc-1945645226@example.com","email":"testAcc-1945645226@example.com"},"credentials":{"provider":{"type":"OKTA","name":"OKTA"}},"_links":{"schema":{"href":"https://classic-00.dne-okta.com/api/v1/meta/schemas/user/osc5ptm052JMcoADv1d7"},"activate":{"href":"https://classic-00.dne-okta.com/api/v1/users/00ukwuohkuoYyg3oP1d7/lifecycle/activate","method":"POST"},"self":{"href":"https://classic-00.dne-okta.com/api/v1/users/00ukwuohkuoYyg3oP1d7"},"type":{"href":"https://classic-00.dne-okta.com/api/v1/meta/types/user/oty5ptm052JMcoADv1d7"}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
            Etag:
                - W/"e29b0ced80858196e6b99665da8c28d57bd21d464781a349c2edf7e11be84ce5"
        status: 200 OK
        code: 200
        duration: 203.1875ms
[...]
    - id: 5
      request:
        host: classic-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/users/00ukwuohkuoYyg3oP1d7/lifecycle/deactivate
        method: POST
      response:
        body: '{}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 286.172083ms
    - id: 6
      request:
        host: classic-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/users/00ukwuohkuoYyg3oP1d7
        method: GET
      response:
        body: '{"id":"00ukwuohkuoYyg3oP1d7","status":"DEPROVISIONED","created":"2025-03-14T03:21:54.000Z","activated":null,"statusChanged":"2025-03-14T03:21:56.000Z","lastLogin":null,"lastUpdated":"2025-03-14T03:21:56.000Z","passwordChanged":null,"type":{"id":"oty5ptm052JMcoADv1d7"},"profile":{"firstName":"TestAcc","lastName":"Smith","mobilePhone":null,"secondEmail":null,"login":"testAcc-1945645226@example.com","email":"testAcc-1945645226@example.com"},"credentials":{"provider":{"type":"OKTA","name":"OKTA"}},"_links":{"schema":{"href":"https://classic-00.dne-okta.com/api/v1/meta/schemas/user/osc5ptm052JMcoADv1d7"},"activate":{"href":"https://classic-00.dne-okta.com/api/v1/users/00ukwuohkuoYyg3oP1d7/lifecycle/activate","method":"POST"},"self":{"href":"https://classic-00.dne-okta.com/api/v1/users/00ukwuohkuoYyg3oP1d7"},"type":{"href":"https://classic-00.dne-okta.com/api/v1/meta/types/user/oty5ptm052JMcoADv1d7"},"delete":{"href":"https://classic-00.dne-okta.com/api/v1/users/00ukwuohkuoYyg3oP1d7","method":"DELETE"}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
            Etag:
                - W/"e29b0ced80858196e6b99665da8c28d57bd21d464781a349c2edf7e11be84ce5"
        status: 200 OK
        code: 200
        duration: 219.993875ms
[...]
