---
version: 2
interactions:
- id: 0
  request:
    host: classic-00.dne-okta.com
    body: "{\"credentials\":{\"password\":{}},\"profile\":{\"email\":\"testAcc-1945645226@example.com\",\"firstName\":\"TestAcc\",\"lastName\":\"Smith\",\"login\":\"testAcc-1945645226@example.com\",\"postalAddress\":null}}\n"
    form:
      activate:
      - "false"
    headers:
      Authorization:
      - SSWS REDACTED
      Content-Type:
      - application/json
    url: https://classic-00.dne-okta.com/api/v1/users?activate=false
    method: POST
  response:
    body: "{\"id\":\"00uckrmg6q0vbSA5D0x7\",\"status\":\"STAGED\",\"created\":\"2025-12-17T11:06:47.000Z\",\"activated\":null,\"statusChanged\":null,\"lastLogin\":null,\"lastUpdated\":\"2025-12-17T11:06:47.000Z\",\"passwordChanged\":null,\"realmId\":\"guobiiz9fiOFhQlea0x7\",\"type\":{\"id\":\"otybiiyra51eDWlk50x7\"},\"profile\":{\"firstName\":\"TestAcc\",\"lastName\":\"Smith\",\"mobilePhone\":null,\"secondEmail\":null,\"login\":\"testAcc-1945645226@example.com\",\"email\":\"testAcc-1945645226@example.com\"},\"credentials\":{\"provider\":{\"type\":\"OKTA\",\"name\":\"OKTA\"}},\"_links\":{\"schema\":{\"href\":\"https://classic-00.dne-okta.com/api/v1/meta/schemas/user/oscbiiyra51eDWlk50x7\"},\"activate\":{\"href\":\"https://classic-00.dne-okta.com/api/v1/users/00uckrmg6q0vbSA5D0x7/lifecycle/activate\",\"method\":\"POST\"},\"self\":{\"href\":\"https://classic-00.dne-okta.com/api/v1/users/00uckrmg6q0vbSA5D0x7\"},\"resetFactors\":{\"href\":\"https://classic-00.dne-okta.com/api/v1/users/00uckrmg6q0vbSA5D0x7/lifecycle/reset_factors\",\"method\":\"POST\"},\"type\":{\"href\":\"https://classic-00.dne-okta.com/api/v1/meta/types/user/otybiiyra51eDWlk50x7\"}}}"
    headers:
      Accept-Ch:
      - Sec-CH-UA-Platform-Version
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 297.524334ms
- id: 1
  request:
    host: classic-00.dne-okta.com
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://classic-00.dne-okta.com/api/v1/users/00uckrmg6q0vbSA5D0x7
    method: GET
  response:
    body: "{\"id\":\"00uckrmg6q0vbSA5D0x7\",\"status\":\"STAGED\",\"created\":\"2025-12-17T11:06:47.000Z\",\"activated\":null,\"statusChanged\":null,\"lastLogin\":null,\"lastUpdated\":\"2025-12-17T11:06:47.000Z\",\"passwordChanged\":null,\"realmId\":\"guobiiz9fiOFhQlea0x7\",\"type\":{\"id\":\"otybiiyra51eDWlk50x7\"},\"profile\":{\"firstName\":\"TestAcc\",\"lastName\":\"Smith\",\"mobilePhone\":null,\"secondEmail\":null,\"login\":\"testAcc-1945645226@example.com\",\"email\":\"testAcc-1945645226@example.com\"},\"credentials\":{\"provider\":{\"type\":\"OKTA\",\"name\":\"OKTA\"}},\"_links\":{\"schema\":{\"href\":\"https://classic-00.dne-okta.com/api/v1/meta/schemas/user/oscbiiyra51eDWlk50x7\"},\"activate\":{\"href\":\"https://classic-00.dne-okta.com/api/v1/users/00uckrmg6q0vbSA5D0x7/lifecycle/activate\",\"method\":\"POST\"},\"self\":{\"href\":\"https://classic-00.dne-okta.com/api/v1/users/00uckrmg6q0vbSA5D0x7\"},\"resetFactors\":{\"href\":\"https://classic-00.dne-okta.com/api/v1/users/00uckrmg6q0vbSA5D0x7/lifecycle/reset_factors\",\"method\":\"POST\"},\"type\":{\"href\":\"https://classic-00.dne-okta.com/api/v1/meta/types/user/otybiiyra51eDWlk50x7\"}}}"
    headers:
      Accept-Ch:
      - Sec-CH-UA-Platform-Version
      Content-Type:
      - application/json
      Etag:
      - W/"9e4e83d3bc437e18c11b98d4161599a0e95b821d5b16ccb0e73bd0a91815cf69"
    status: 200 OK
    code: 200
    duration: 370.480792ms
[...]
- id: 5
  request:
    host: classic-00.dne-okta.com
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://classic-00.dne-okta.com/api/v1/users/00uckrmg6q0vbSA5D0x7/lifecycle/deactivate
    method: POST
  response:
    body: "{}"
    headers:
      Accept-Ch:
      - Sec-CH-UA-Platform-Version
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 274.587875ms
- id: 6
  request:
    host: classic-00.dne-okta.com
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://classic-00.dne-okta.com/api/v1/users/00uckrmg6q0vbSA5D0x7
    method: GET
  response:
    body: "{\"id\":\"00uckrmg6q0vbSA5D0x7\",\"status\":\"DEPROVISIONED\",\"created\":\"2025-12-17T11:06:47.000Z\",\"activated\":null,\"statusChanged\":\"2025-12-17T11:06:49.000Z\",\"lastLogin\":null,\"lastUpdated\":\"2025-12-17T11:06:49.000Z\",\"passwordChanged\":null,\"realmId\":\"guobiiz9fiOFhQlea0x7\",\"type\":{\"id\":\"otybiiyra51eDWlk50x7\"},\"profile\":{\"firstName\":\"TestAcc\",\"lastName\":\"Smith\",\"mobilePhone\":null,\"secondEmail\":null,\"login\":\"testAcc-1945645226@example.com\",\"email\":\"testAcc-1945645226@example.com\"},\"credentials\":{\"provider\":{\"type\":\"OKTA\",\"name\":\"OKTA\"}},\"_links\":{\"schema\":{\"href\":\"https://classic-00.dne-okta.com/api/v1/meta/schemas/user/oscbiiyra51eDWlk50x7\"},\"activate\":{\"href\":\"https://classic-00.dne-okta.com/api/v1/users/00uckrmg6q0vbSA5D0x7/lifecycle/activate\",\"method\":\"POST\"},\"self\":{\"href\":\"https://classic-00.dne-okta.com/api/v1/users/00uckrmg6q0vbSA5D0x7\"},\"resetFactors\":{\"href\":\"https://classic-00.dne-okta.com/api/v1/users/00uckrmg6q0vbSA5D0x7/lifecycle/reset_factors\",\"method\":\"POST\"},\"type\":{\"href\":\"https://classic-00.dne-okta.com/api/v1/meta/types/user/otybiiyra51eDWlk50x7\"},\"delete\":{\"href\":\"https://classic-00.dne-okta.com/api/v1/users/00uckrmg6q0vbSA5D0x7\",\"method\":\"DELETE\"}}}"
    headers:
      Accept-Ch:
      - Sec-CH-UA-Platform-Version
      Content-Type:
      - application/json
      Etag:
      - W/"9e4e83d3bc437e18c11b98d4161599a0e95b821d5b16ccb0e73bd0a91815cf69"
    status: 200 OK
    code: 200
    duration: 118.751375ms
[...]
