---
version: 2
interactions:
    - id: 0
      request:
        host: oie-00.dne-okta.com
        body: |
            {"credentials":{"password":{}},"profile":{"email":"testAcc-1945645226@example.com","firstName":"TestAcc","lastName":"Smith","login":"testAcc-1945645226@example.com","postalAddress":null}}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://oie-00.dne-okta.com/api/v1/users?activate=false
        method: POST
      response:
        body: '{"id":"00ukwr7djcV8gQvDB1d7","status":"STAGED","created":"2025-03-13T23:45:57.000Z","activated":null,"statusChanged":null,"lastLogin":null,"lastUpdated":"2025-03-13T23:45:57.000Z","passwordChanged":null,"type":{"id":"oty5qwjvh0Vy1j8Kd1d7"},"profile":{"firstName":"TestAcc","lastName":"Smith","mobilePhone":null,"secondEmail":null,"login":"testAcc-1945645226@example.com","email":"testAcc-1945645226@example.com"},"credentials":{"provider":{"type":"OKTA","name":"OKTA"}},"_links":{"schema":{"href":"https://oie-00.dne-okta.com/api/v1/meta/schemas/user/osc5qwjvh0Vy1j8Kd1d7"},"activate":{"href":"https://oie-00.dne-okta.com/api/v1/users/00ukwr7djcV8gQvDB1d7/lifecycle/activate","method":"POST"},"self":{"href":"https://oie-00.dne-okta.com/api/v1/users/00ukwr7djcV8gQvDB1d7"},"type":{"href":"https://oie-00.dne-okta.com/api/v1/meta/types/user/oty5qwjvh0Vy1j8Kd1d7"}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 334.402084ms
    - id: 1
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/users/00ukwr7djcV8gQvDB1d7
        method: GET
      response:
        body: '{"id":"00ukwr7djcV8gQvDB1d7","status":"STAGED","created":"2025-03-13T23:45:57.000Z","activated":null,"statusChanged":null,"lastLogin":null,"lastUpdated":"2025-03-13T23:45:57.000Z","passwordChanged":null,"type":{"id":"oty5qwjvh0Vy1j8Kd1d7"},"profile":{"firstName":"TestAcc","lastName":"Smith","mobilePhone":null,"secondEmail":null,"login":"testAcc-1945645226@example.com","email":"testAcc-1945645226@example.com"},"credentials":{"provider":{"type":"OKTA","name":"OKTA"}},"_links":{"schema":{"href":"https://oie-00.dne-okta.com/api/v1/meta/schemas/user/osc5qwjvh0Vy1j8Kd1d7"},"activate":{"href":"https://oie-00.dne-okta.com/api/v1/users/00ukwr7djcV8gQvDB1d7/lifecycle/activate","method":"POST"},"self":{"href":"https://oie-00.dne-okta.com/api/v1/users/00ukwr7djcV8gQvDB1d7"},"type":{"href":"https://oie-00.dne-okta.com/api/v1/meta/types/user/oty5qwjvh0Vy1j8Kd1d7"}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
            Etag:
                - W/"e25222b4f13cd9e976755b861aec7e582d42ecee33790cb65acfd0c774a583c2"
        status: 200 OK
        code: 200
        duration: 226.323708ms
[...]
    - id: 5
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/users/00ukwr7djcV8gQvDB1d7/lifecycle/deactivate
        method: POST
      response:
        body: '{}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 304.940833ms
    - id: 6
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/users/00ukwr7djcV8gQvDB1d7
        method: GET
      response:
        body: '{"id":"00ukwr7djcV8gQvDB1d7","status":"DEPROVISIONED","created":"2025-03-13T23:45:57.000Z","activated":null,"statusChanged":"2025-03-13T23:45:59.000Z","lastLogin":null,"lastUpdated":"2025-03-13T23:45:59.000Z","passwordChanged":null,"type":{"id":"oty5qwjvh0Vy1j8Kd1d7"},"profile":{"firstName":"TestAcc","lastName":"Smith","mobilePhone":null,"secondEmail":null,"login":"testAcc-1945645226@example.com","email":"testAcc-1945645226@example.com"},"credentials":{"provider":{"type":"OKTA","name":"OKTA"}},"_links":{"schema":{"href":"https://oie-00.dne-okta.com/api/v1/meta/schemas/user/osc5qwjvh0Vy1j8Kd1d7"},"activate":{"href":"https://oie-00.dne-okta.com/api/v1/users/00ukwr7djcV8gQvDB1d7/lifecycle/activate","method":"POST"},"self":{"href":"https://oie-00.dne-okta.com/api/v1/users/00ukwr7djcV8gQvDB1d7"},"type":{"href":"https://oie-00.dne-okta.com/api/v1/meta/types/user/oty5qwjvh0Vy1j8Kd1d7"},"delete":{"href":"https://oie-00.dne-okta.com/api/v1/users/00ukwr7djcV8gQvDB1d7","method":"DELETE"}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
            Etag:
                - W/"e25222b4f13cd9e976755b861aec7e582d42ecee33790cb65acfd0c774a583c2"
        status: 200 OK
        code: 200
        duration: 230.107125ms
[...]
