---
version: 2
interactions:
    - id: 0
      request:
        host: classic-00.dne-okta.com
        body: |
            {"profile":{"name":"testAcc_287200613","description":""}}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://classic-00.dne-okta.com/api/v1/groups
        method: POST
      response:
        body: '{"id":"00gkwuv3cfB7Y7TLW1d7","created":"2025-03-14T03:14:55.000Z","lastUpdated":"2025-03-14T03:14:55.000Z","lastMembershipUpdated":"2025-03-14T03:14:55.000Z","objectClass":["okta:user_group"],"type":"OKTA_GROUP","profile":{"name":"testAcc_287200613","description":""},"_links":{"logo":[{"name":"medium","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-medium.30ce6d4085dff29412984e4c191bc874.png","type":"image/png"},{"name":"large","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-large.c3cb8cda8ae0add1b4fe928f5844dbe3.png","type":"image/png"}],"users":{"href":"https://classic-00.dne-okta.com/api/v1/groups/00gkwuv3cfB7Y7TLW1d7/users"},"apps":{"href":"https://classic-00.dne-okta.com/api/v1/groups/00gkwuv3cfB7Y7TLW1d7/apps"}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 226.957834ms
    - id: 1
      request:
        host: classic-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/groups/00gkwuv3cfB7Y7TLW1d7
        method: GET
      response:
        body: '{"id":"00gkwuv3cfB7Y7TLW1d7","created":"2025-03-14T03:14:55.000Z","lastUpdated":"2025-03-14T03:14:55.000Z","lastMembershipUpdated":"2025-03-14T03:14:55.000Z","objectClass":["okta:user_group"],"type":"OKTA_GROUP","profile":{"name":"testAcc_287200613","description":""},"_links":{"logo":[{"name":"medium","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-medium.30ce6d4085dff29412984e4c191bc874.png","type":"image/png"},{"name":"large","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-large.c3cb8cda8ae0add1b4fe928f5844dbe3.png","type":"image/png"}],"users":{"href":"https://classic-00.dne-okta.com/api/v1/groups/00gkwuv3cfB7Y7TLW1d7/users"},"apps":{"href":"https://classic-00.dne-okta.com/api/v1/groups/00gkwuv3cfB7Y7TLW1d7/apps"}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 220.302708ms
[...]
    - id: 3
      request:
        host: classic-00.dne-okta.com
        body: |
            {"actions":{"assignUserToGroups":{"groupIds":["00gkwuv3cfB7Y7TLW1d7"]}},"conditions":{"expression":{"type":"urn:okta:expression:1.0","value":"String.startsWith(user.firstName,\"andy\")"},"people":{"users":{}}},"name":"testAcc_287200613","type":"group_rule"}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://classic-00.dne-okta.com/api/v1/groups/rules
        method: POST
      response:
        body: '{"type":"group_rule","id":"0prkwutx1dQlehRqy1d7","status":"INACTIVE","name":"testAcc_287200613","created":"2025-03-14T03:14:56.000Z","lastUpdated":"2025-03-14T03:14:56.000Z","conditions":{"people":{"users":{"exclude":[]},"groups":{"exclude":[]}},"expression":{"value":"String.startsWith(user.firstName,\"andy\")","type":"urn:okta:expression:1.0"}},"actions":{"assignUserToGroups":{"groupIds":["00gkwuv3cfB7Y7TLW1d7"]}},"allGroupsValid":true}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 274.907083ms
    - id: 4
      request:
        host: classic-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/groups/rules/0prkwutx1dQlehRqy1d7/lifecycle/activate
        method: POST
      response:
        body: ""
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
        status: 204 No Content
        code: 204
        duration: 250.188375ms
    - id: 5
      request:
        host: classic-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/groups/rules/0prkwutx1dQlehRqy1d7
        method: GET
      response:
        body: '{"type":"group_rule","id":"0prkwutx1dQlehRqy1d7","status":"ACTIVE","name":"testAcc_287200613","created":"2025-03-14T03:14:56.000Z","lastUpdated":"2025-03-14T03:14:56.000Z","conditions":{"people":{"users":{"exclude":[]},"groups":{"exclude":[]}},"expression":{"value":"String.startsWith(user.firstName,\"andy\")","type":"urn:okta:expression:1.0"}},"actions":{"assignUserToGroups":{"groupIds":["00gkwuv3cfB7Y7TLW1d7"]}},"allGroupsValid":true}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 211.974166ms
[...]
    - id: 10
      request:
        host: classic-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/groups/rules/0prkwutx1dQlehRqy1d7/lifecycle/deactivate
        method: POST
      response:
        body: ""
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
        status: 204 No Content
        code: 204
        duration: 234.03325ms
[...]
    - id: 19
      request:
        host: classic-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/groups/rules/0prkwutx1dQlehRqy1d7?removeUsers=false
        method: DELETE
      response:
        body: '{}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 202 Accepted
        code: 202
        duration: 258.843959ms
[...]
    - id: 22
      request:
        host: classic-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/groups/00gkwud292WgqxKlw1d7
        method: GET
      response:
        body: '{"id":"00gkwud292WgqxKlw1d7","created":"2025-03-14T03:15:01.000Z","lastUpdated":"2025-03-14T03:15:01.000Z","lastMembershipUpdated":"2025-03-14T03:15:01.000Z","objectClass":["okta:user_group"],"type":"OKTA_GROUP","profile":{"name":"other_testAcc_287200613","description":""},"_links":{"logo":[{"name":"medium","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-medium.30ce6d4085dff29412984e4c191bc874.png","type":"image/png"},{"name":"large","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-large.c3cb8cda8ae0add1b4fe928f5844dbe3.png","type":"image/png"}],"users":{"href":"https://classic-00.dne-okta.com/api/v1/groups/00gkwud292WgqxKlw1d7/users"},"apps":{"href":"https://classic-00.dne-okta.com/api/v1/groups/00gkwud292WgqxKlw1d7/apps"}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 289.793542ms
[...]
    - id: 25
      request:
        host: classic-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/groups/rules/0prkwux1pt8wFjMIU1d7/lifecycle/activate
        method: POST
      response:
        body: ""
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
        status: 204 No Content
        code: 204
        duration: 350.363833ms
    - id: 26
      request:
        host: classic-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/groups/rules/0prkwux1pt8wFjMIU1d7
        method: GET
      response:
        body: '{"type":"group_rule","id":"0prkwux1pt8wFjMIU1d7","status":"ACTIVE","name":"testAcc_287200613","created":"2025-03-14T03:15:01.000Z","lastUpdated":"2025-03-14T03:15:02.000Z","conditions":{"people":{"users":{"exclude":[]},"groups":{"exclude":[]}},"expression":{"value":"String.startsWith(user.firstName,String.toLowerCase(\"bOb\"))","type":"urn:okta:expression:1.0"}},"actions":{"assignUserToGroups":{"groupIds":["00gkwud292WgqxKlw1d7"]}},"allGroupsValid":true}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 242.107708ms
[...]
    - id: 33
      request:
        host: classic-00.dne-okta.com
        body: |
            {"credentials":{"password":{}},"profile":{"email":"testAcc-287200613@example.com","firstName":"TestAcc","lastName":"Smith","login":"testAcc-287200613@example.com","postalAddress":null}}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://classic-00.dne-okta.com/api/v1/users
        method: POST
      response:
        body: '{"id":"00ukwuegu71df86sC1d7","status":"PROVISIONED","created":"2025-03-14T03:15:04.000Z","activated":"2025-03-14T03:15:05.000Z","statusChanged":"2025-03-14T03:15:05.000Z","lastLogin":null,"lastUpdated":"2025-03-14T03:15:05.000Z","passwordChanged":null,"type":{"id":"oty5ptm052JMcoADv1d7"},"profile":{"firstName":"TestAcc","lastName":"Smith","mobilePhone":null,"secondEmail":null,"login":"testAcc-287200613@example.com","email":"testAcc-287200613@example.com"},"credentials":{"provider":{"type":"OKTA","name":"OKTA"}},"_links":{"suspend":{"href":"https://classic-00.dne-okta.com/api/v1/users/00ukwuegu71df86sC1d7/lifecycle/suspend","method":"POST"},"schema":{"href":"https://classic-00.dne-okta.com/api/v1/meta/schemas/user/osc5ptm052JMcoADv1d7"},"resetPassword":{"href":"https://classic-00.dne-okta.com/api/v1/users/00ukwuegu71df86sC1d7/lifecycle/reset_password","method":"POST"},"reactivate":{"href":"https://classic-00.dne-okta.com/api/v1/users/00ukwuegu71df86sC1d7/lifecycle/reactivate","method":"POST"},"self":{"href":"https://classic-00.dne-okta.com/api/v1/users/00ukwuegu71df86sC1d7"},"type":{"href":"https://classic-00.dne-okta.com/api/v1/meta/types/user/oty5ptm052JMcoADv1d7"},"deactivate":{"href":"https://classic-00.dne-okta.com/api/v1/users/00ukwuegu71df86sC1d7/lifecycle/deactivate","method":"POST"}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 578.958292ms
    - id: 34
      request:
        host: classic-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/users/00ukwuegu71df86sC1d7
        method: GET
      response:
        body: '{"id":"00ukwuegu71df86sC1d7","status":"PROVISIONED","created":"2025-03-14T03:15:04.000Z","activated":"2025-03-14T03:15:05.000Z","statusChanged":"2025-03-14T03:15:05.000Z","lastLogin":null,"lastU[...]
    - id: 35
      request:
        host: classic-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/groups/rules/0prkwux1pt8wFjMIU1d7/lifecycle/deactivate
        method: POST
      response:
        body: ""
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
        status: 204 No Content
        code: 204
        duration: 241.787584ms
[...]
    - id: 41
      request:
        host: classic-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/groups/rules/0prkwux1pt8wFjMIU1d7?removeUsers=false
        method: DELETE
      response:
        body: '{}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 202 Accepted
        code: 202
        duration: 269.872084ms
[...]
