---
version: 2
interactions:
    - id: 0
      request:
        host: oie-00.dne-okta.com
        body: |
            {"profile":{"name":"testAcc_287200613","description":""}}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://oie-00.dne-okta.com/api/v1/groups
        method: POST
      response:
        body: '{"id":"00gtfoyc8vVemwpKq697","created":"2025-07-21T13:50:33.000Z","lastUpdated":"2025-07-21T13:50:33.000Z","lastMembershipUpdated":"2025-07-21T13:50:33.000Z","objectClass":["okta:user_group"],"type":"OKTA_GROUP","profile":{"name":"testAcc_287200613","description":""},"_links":{"logo":[{"name":"medium","href":"https://ok14static.oktacdn.com/assets/img/logos/groups/odyssey/okta-medium.30ce6d4085dff29412984e4c191bc874.png","type":"image/png"},{"name":"large","href":"https://ok14static.oktacdn.com/assets/img/logos/groups/odyssey/okta-large.c3cb8cda8ae0add1b4fe928f5844dbe3.png","type":"image/png"}],"users":{"href":"https://oie-00.dne-okta.com/api/v1/groups/00gtfoyc8vVemwpKq697/users"},"apps":{"href":"https://oie-00.dne-okta.com/api/v1/groups/00gtfoyc8vVemwpKq697/apps"}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 993.012375ms
    - id: 1
      request:
        host: oie-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/groups/00gtfoyc8vVemwpKq697
        method: GET
      response:
        body: '{"id":"00gtfoyc8vVemwpKq697","created":"2025-07-21T13:50:33.000Z","lastUpdated":"2025-07-21T13:50:33.000Z","lastMembershipUpdated":"2025-07-21T13:50:33.000Z","objectClass":["okta:user_group"],"type":"OKTA_GROUP","profile":{"name":"testAcc_287200613","description":""},"_links":{"logo":[{"name":"medium","href":"https://ok14static.oktacdn.com/assets/img/logos/groups/odyssey/okta-medium.30ce6d4085dff29412984e4c191bc874.png","type":"image/png"},{"name":"large","href":"https://ok14static.oktacdn.com/assets/img/logos/groups/odyssey/okta-large.c3cb8cda8ae0add1b4fe928f5844dbe3.png","type":"image/png"}],"users":{"href":"https://oie-00.dne-okta.com/api/v1/groups/00gtfoyc8vVemwpKq697/users"},"apps":{"href":"https://oie-00.dne-okta.com/api/v1/groups/00gtfoyc8vVemwpKq697/apps"}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 677.664416ms
[...]
    - id: 3
      request:
        host: oie-00.dne-okta.com
        body: |
            {"actions":{"assignUserToGroups":{"groupIds":["00gtfoyc8vVemwpKq697"]}},"conditions":{"expression":{"type":"urn:okta:expression:1.0","value":"String.startsWith(user.firstName,\"andy\")"},"people":{"users":{}}},"name":"testAcc_287200613","type":"group_rule"}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://oie-00.dne-okta.com/api/v1/groups/rules
        method: POST
      response:
        body: '{"type":"group_rule","id":"0prtfoukamZbe6W1G697","status":"INACTIVE","name":"testAcc_287200613","created":"2025-07-21T13:50:35.000Z","lastUpdated":"2025-07-21T13:50:35.000Z","conditions":{"people":{"users":{"exclude":[]},"groups":{"exclude":[]}},"expression":{"value":"String.startsWith(user.firstName,\"andy\")","type":"urn:okta:expression:1.0"}},"actions":{"assignUserToGroups":{"groupIds":["00gtfoyc8vVemwpKq697"]}},"allGroupsValid":true}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 715.127417ms
    - id: 4
      request:
        host: oie-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/groups/rules/0prtfoukamZbe6W1G697/lifecycle/activate
        method: POST
      response:
        body: ""
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
        status: 204 No Content
        code: 204
        duration: 689.498583ms
    - id: 5
      request:
        host: oie-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/groups/rules/0prtfoukamZbe6W1G697
        method: GET
      response:
        body: '{"type":"group_rule","id":"0prtfoukamZbe6W1G697","status":"ACTIVE","name":"testAcc_287200613","created":"2025-07-21T13:50:35.000Z","lastUpdated":"2025-07-21T13:50:36.000Z","conditions":{"people":{"users":{"exclude":[]},"groups":{"exclude":[]}},"expression":{"value":"String.startsWith(user.firstName,\"andy\")","type":"urn:okta:expression:1.0"}},"actions":{"assignUserToGroups":{"groupIds":["00gtfoyc8vVemwpKq697"]}},"allGroupsValid":true}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 667.879292ms
[...]
    - id: 10
      request:
        host: oie-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/groups/rules/0prtfoukamZbe6W1G697/lifecycle/deactivate
        method: POST
      response:
        body: ""
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
        status: 204 No Content
        code: 204
        duration: 675.662625ms
[...]
    - id: 19
      request:
        host: oie-00.dne-okta.com
        form:
            removeUsers:
                - "false"
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/groups/rules/0prtfoukamZbe6W1G697?removeUsers=false
        method: DELETE
      response:
        body: '{}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 202 Accepted
        code: 202
        duration: 700.008125ms
[...]
    - id: 21
      request:
        host: oie-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/groups/00gtfovgsg2jXRjq8697
        method: GET
      response:
        body: '{"id":"00gtfovgsg2jXRjq8697","created":"2025-07-21T13:50:48.000Z","lastUpdated":"2025-07-21T13:50:48.000Z","lastMembershipUpdated":"2025-07-21T13:50:48.000Z","objectClass":["okta:user_group"],"type":"OKTA_GROUP","profile":{"name":"other_testAcc_287200613","description":""},"_links":{"logo":[{"name":"medium","href":"https://ok14static.oktacdn.com/assets/img/logos/groups/odyssey/okta-medium.30ce6d4085dff29412984e4c191bc874.png","type":"image/png"},{"name":"large","href":"https://ok14static.oktacdn.com/assets/img/logos/groups/odyssey/okta-large.c3cb8cda8ae0add1b4fe928f5844dbe3.png","type":"image/png"}],"users":{"href":"https://oie-00.dne-okta.com/api/v1/groups/00gtfovgsg2jXRjq8697/users"},"apps":{"href":"https://oie-00.dne-okta.com/api/v1/groups/00gtfovgsg2jXRjq8697/apps"}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 669.355417ms
[...]
    - id: 24
      request:
        host: oie-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/groups/rules/0prtfp0cno7hG4lKz697/lifecycle/activate
        method: POST
      response:
        body: ""
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
        status: 204 No Content
        code: 204
        duration: 694.703417ms
    - id: 25
      request:
        host: oie-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/groups/rules/0prtfp0cno7hG4lKz697
        method: GET
      response:
        body: '{"type":"group_rule","id":"0prtfp0cno7hG4lKz697","status":"ACTIVE","name":"testAcc_287200613","created":"2025-07-21T13:50:51.000Z","lastUpdated":"2025-07-21T13:50:51.000Z","conditions":{"people":{"users":{"exclude":[]},"groups":{"exclude":[]}},"expression":{"value":"String.startsWith(user.firstName,String.toLowerCase(\"bOb\"))","type":"urn:okta:expression:1.0"}},"actions":{"assignUserToGroups":{"groupIds":["00gtfovgsg2jXRjq8697"]}},"allGroupsValid":true}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 666.236625ms
[...]
    - id: 32
      request:
        host: oie-00.dne-okta.com
        body: |
            {"credentials":{"password":{}},"profile":{"email":"testAcc-287200613@example.com","firstName":"TestAcc","lastName":"Smith","login":"testAcc-287200613@example.com","postalAddress":null}}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://oie-00.dne-okta.com/api/v1/users
        method: POST
      response:
        body: '{"id":"00utfoud67s2s79Ww697","status":"PROVISIONED","created":"2025-07-21T13:50:57.000Z","activated":"2025-07-21T13:50:57.000Z","statusChanged":"2025-07-21T13:50:57.000Z","lastLogin":null,"lastUpdated":"2025-07-21T13:50:57.000Z","passwordChanged":null,"type":{"id":"otysd501z4FflZKvj697"},"profile":{"firstName":"TestAcc","lastName":"Smith","mobilePhone":null,"secondEmail":null,"login":"testAcc-287200613@example.com","email":"testAcc-287200613@example.com"},"credentials":{"provider":{"type":"OKTA","name":"OKTA"}},"_links":{"suspend":{"href":"https://oie-00.dne-okta.com/api/v1/users/00utfoud67s2s79Ww697/lifecycle/suspend","method":"POST"},"schema":{"href":"https://oie-00.dne-okta.com/api/v1/meta/schemas/user/oscsd501z4FflZKvj697"},"resetPassword":{"href":"https://oie-00.dne-okta.com/api/v1/users/00utfoud67s2s79Ww697/lifecycle/reset_password","method":"POST"},"reactivate":{"href":"https://oie-00.dne-okta.com/api/v1/users/00utfoud67s2s79Ww697/lifecycle/reactivate","method":"POST"},"self":{"href":"https://oie-00.dne-okta.com/api/v1/users/00utfoud67s2s79Ww697"},"resetFactors":{"href":"https://oie-00.dne-okta.com/api/v1/users/00utfoud67s2s79Ww697/lifecycle/reset_factors","method":"POST"},"type":{"href":"https://oie-00.dne-okta.com/api/v1/meta/types/user/otysd501z4FflZKvj697"},"deactivate":{"href":"https://oie-00.dne-okta.com/api/v1/users/00utfoud67s2s79Ww697/lifecycle/deactivate","method":"POST"}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 899.444916ms
    - id: 33
      request:
        host: oie-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/users/00utfoud67s2s79Ww697
        method: GET
      response:
        body: '{"id":"00utfoud67s2s79Ww697","status":"PROVISIONED","created":"2025-07-21T13:50:57.000Z","activated":"2025-07-21T13:50:57.000Z","statusChanged":"2025-07-21T13:50:57.000Z","lastLogin":null,"lastUpdated":"2025-07-21T13:50:57.000Z","passwo[...]
    - id: 34
      request:
        host: oie-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/groups/rules/0prtfp0cno7hG4lKz697/lifecycle/deactivate
        method: POST
      response:
        body: ""
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
        status: 204 No Content
        code: 204
        duration: 681.183625ms
[...]
    - id: 42
      request:
        host: oie-00.dne-okta.com
        form:
            removeUsers:
                - "false"
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/groups/rules/0prtfp0cno7hG4lKz697?removeUsers=false
        method: DELETE
      response:
        body: '{}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 202 Accepted
        code: 202
        duration: 700.392333ms
[...]
