---
version: 2
interactions:
    - id: 0
      request:
        host: oie-00.dne-okta.com
        body: |
            {"externalId":"GRPEXT123456TESTGROUP1","profile":{"description":"A test group for identity source integration","displayName":"Test Engineering Group"}}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://oie-00.dne-okta.com/api/v1/identity-sources/0oaxc95befZNgrJl71d7/groups
        method: POST
      response:
        body: '{"id":"00gxsboqrae2EbzRI1d7","externalId":"GRPEXT123456TESTGROUP1","profile":{"displayName":"Test Engineering Group","description":"A test group for identity source integration"}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.19687775s
    - id: 1
      request:
        host: oie-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/identity-sources/0oaxc95befZNgrJl71d7/groups/00gxsboqrae2EbzRI1d7
        method: GET
      response:
        body: '{"id":"00gxsboqrae2EbzRI1d7","externalId":"GRPEXT123456TESTGROUP1","profile":{"displayName":"Test Engineering Group","description":"A test group for identity source integration"}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.370170833s
[...]
