---
version: 2
interactions:
    - id: 0
      request:
        host: oie-00.dne-okta.com
        body: |
            {"credentials":{"password":{}},"profile":{"email":"testAcc-1215177900@example.com","firstName":"TestAcc","lastName":"1215177900","login":"testAcc-1215177900@example.com","notValid":"this-isnt-valid","postalAddress":null}}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://oie-00.dne-okta.com/api/v1/users
        method: POST
      response:
        body: '{"errorCode":"E0000001","errorSummary":"Api validation failed: newUser","errorLink":"E0000001","errorId":"oaeAHgjS2cOS9uNau-JdnVcEg","errorCauses":[{"errorSummary":"Property name ''notValid'' is not defined in profile"}]}'
        headers:
            Content-Type:
                - application/json
        status: 400 Bad Request
        code: 400
        duration: 162.154595ms
