---
version: 2
interactions:
  - id: 0
    request:
      host: classic-00.dne-okta.com
      headers:
        Authorization:
          - SSWS REDACTED
      url: https://classic-00.dne-okta.com/governance/api/v2/catalogs/default/entries/cen1048kevzlpJ0cf1d7/users/00unkw1sfbTw08c0g1d7/request-fields
      method: GET
    response:
      body: '{"data":[{"id":"3419d5fa-1a7e-4101-85c8-9821de86c2b7","type":"TEXT","required":true,"label":"Why are you requesting access for this?","readOnly":false},{"id":"8ed4a0ff-7a2a-49d2-a11d-b0160eb8d99c","type":"TEXT","required":true,"label":"Do you know the consequences of requesting for this ?","readOnly":false},{"id":"a64f402b-e2df-4a9d-bb83-b15c4e902b66","type":"SELECT","choices":["YEP","NOPE"],"required":true,"label":"Are you really really sure ?","readOnly":false}],"metadata":{"riskAssessment":{"requestSubmissionType":"ALLOWED_WITH_NO_OVERRIDES","riskRules":[]}}}'
      headers:
        Accept-Ch:
          - Sec-CH-UA-Platform-Version
        Content-Type:
          - application/json
      status: 200 OK
      code: 200
      duration: 1.148514833s
[...]
