---
version: 2
interactions:
    - id: 0
      request:
        host: oie-00.dne-okta.com
        body: |
            {"gateways":[{"type":"RANGE","value":"192.168.1.1"}],"name":"testAcc_3440890524 Changing Single","status":"ACTIVE","type":"IP","usage":"POLICY"}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://oie-00.dne-okta.com/api/v1/zones
        method: POST
      response:
        body: '{"type":"IP","id":"nzotgbjdqxFDv7GNm697","name":"testAcc_3440890524 Changing Single","status":"ACTIVE","usage":"POLICY","created":"2025-07-22T00:06:26.000Z","lastUpdated":"2025-07-22T00:06:26.000Z","system":false,"gateways":[{"type":"RANGE","value":"192.168.1.1-192.168.1.1"}],"proxies":null,"_links":{"self":{"href":"https://oie-00.dne-okta.com/api/v1/zones/nzotgbjdqxFDv7GNm697","hints":{"allow":["GET","PUT","DELETE"]}},"deactivate":{"href":"https://oie-00.dne-okta.com/api/v1/zones/nzotgbjdqxFDv7GNm697/lifecycle/deactivate","hints":{"allow":["POST"]}}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 702.018667ms
[...]
    - id: 10
      request:
        host: oie-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/zones/nzotgbff1jnfIVxCv697
        method: GET
      response:
        body: '{"type":"IP","id":"nzotgbff1jnfIVxCv697","name":"testAcc_3440890524 Changing Range","status":"ACTIVE","usage":"POLICY","created":"2025-07-22T00:06:26.000Z","lastUpdated":"2025-07-22T00:06:26.000Z","system":false,"gateways":[{"type":"RANGE","value":"172.16.0.1-172.16.0.10"}],"proxies":null,"_links":{"self":{"href":"https://oie-00.dne-okta.com/api/v1/zones/nzotgbff1jnfIVxCv697","hints":{"allow":["GET","PUT","DELETE"]}},"deactivate":{"href":"https://oie-00.dne-okta.com/api/v1/zones/nzotgbff1jnfIVxCv697/lifecycle/deactivate","hints":{"allow":["POST"]}}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 710.768458ms
    - id: 11
      request:
        host: oie-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/zones/nzotgbhdyj87dO38N697
        method: GET
      response:
        body: '{"type":"IP","id":"nzotgbhdyj87dO38N697","name":"testAcc_3440890524 Changing CIDR","status":"ACTIVE","usage":"POLICY","created":"2025-07-22T00:06:26.000Z","lastUpdated":"2025-07-22T00:06:26.000Z","system":false,"gateways":[{"type":"CIDR","value":"192.168.0.0/24"}],"proxies":null,"_links":{"self":{"href":"https://oie-00.dne-okta.com/api/v1/zones/nzotgbhdyj87dO38N697","hints":{"allow":["GET","PUT","DELETE"]}},"deactivate":{"href":"https://oie-00.dne-okta.com/api/v1/zones/nzotgbhdyj87dO38N697/lifecycle/deactivate","hints":{"allow":["POST"]}}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 725.167958ms
    - id: 12
      request:
        host: oie-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/zones/nzotgbb9l7pGnrESs697
        method: GET
      response:
        body: '{"type":"IP","id":"nzotgbb9l7pGnrESs697","name":"testAcc_3440890524 Single","status":"ACTIVE","usage":"POLICY","created":"2025-07-22T00:06:26.000Z","lastUpdated":"2025-07-22T00:06:26.000Z","system":false,"gateways":[{"type":"RANGE","value":"192.168.1.1-192.168.1.1"}],"proxies":null,"_links":{"self":{"href":"https://oie-00.dne-okta.com/api/v1/zones/nzotgbb9l7pGnrESs697","hints":{"allow":["GET","PUT","DELETE"]}},"deactivate":{"href":"https://oie-00.dne-okta.com/api/v1/zones/nzotgbb9l7pGnrESs697/lifecycle/deactivate","hints":{"allow":["POST"]}}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 753.411333ms
    - id: 13
      request:
        host: oie-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/zones/nzotgbgpviMEEFVF7697
        method: GET
      response:
        body: '{"type":"IP","id":"nzotgbgpviMEEFVF7697","name":"testAcc_3440890524 CIDR","status":"ACTIVE","usage":"POLICY","created":"2025-07-22T00:06:26.000Z","lastUpdated":"2025-07-22T00:06:26.000Z","system":false,"gateways":[{"type":"CIDR","value":"192.168.1.0/24"}],"proxies":null,"_links":{"self":{"href":"https://oie-00.dne-okta.com/api/v1/zones/nzotgbgpviMEEFVF7697","hints":{"allow":["GET","PUT","DELETE"]}},"deactivate":{"href":"https://oie-00.dne-okta.com/api/v1/zones/nzotgbgpviMEEFVF7697/lifecycle/deactivate","hints":{"allow":["POST"]}}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 696.561375ms
    - id: 14
      request:
        host: oie-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/zones/nzotgbb9l8Z2Kaldv697
        method: GET
      response:
        body: '{"type":"IP","id":"nzotgbb9l8Z2Kaldv697","name":"testAcc_3440890524 Unchanged Range","status":"ACTIVE","usage":"POLICY","created":"2025-07-22T00:06:26.000Z","lastUpdated":"2025-07-22T00:06:26.000Z","system":false,"gateways":[{"type":"RANGE","value":"172.17.0.1-172.17.0.10"}],"proxies":null,"_links":{"self":{"href":"https://oie-00.dne-okta.com/api/v1/zones/nzotgbb9l8Z2Kaldv697","hints":{"allow":["GET","PUT","DELETE"]}},"deactivate":{"href":"https://oie-00.dne-okta.com/api/v1/zones/nzotgbb9l8Z2Kaldv697/lifecycle/deactivate","hints":{"allow":["POST"]}}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.169757375s
    - id: 15
      request:
        host: oie-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/zones/nzotgbjdqxFDv7GNm697
        method: GET
      response:
        body: '{"type":"IP","id":"nzotgbjdqxFDv7GNm697","name":"testAcc_3440890524 Changing Single","status":"ACTIVE","usage":"POLICY","created":"2025-07-22T00:06:26.000Z","lastUpdated":"2025-07-22T00:06:26.000Z","system":false,"gateways":[{"type":"RANGE","value":"192.168.1.1-192.168.1.1"}],"proxies":null,"_links":{"self":{"href":"https://oie-00.dne-okta.com/api/v1/zones/nzotgbjdqxFDv7GNm697","hints":{"allow":["GET","PUT","DELETE"]}},"deactivate":{"href":"https://oie-00.dne-okta.com/api/v1/zones/nzotgbjdqxFDv7GNm697/lifecycle/deactivate","hints":{"allow":["POST"]}}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.17734925s
    - id: 16
      request:
        host: oie-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/zones/nzotgbfgt827qjEm4697
        method: GET
      response:
        body: '{"type":"IP","id":"nzotgbfgt827qjEm4697","name":"testAcc_3440890524 Unchanged CIDR","status":"ACTIVE","usage":"POLICY","created":"2025-07-22T00:06:26.000Z","lastUpdated":"2025-07-22T00:06:26.000Z","system":false,"gateways":[{"type":"CIDR","value":"10.1.0.0/24"}],"proxies":null,"_links":{"self":{"href":"https://oie-00.dne-okta.com/api/v1/zones/nzotgbfgt827qjEm4697","hints":{"allow":["GET","PUT","DELETE"]}},"deactivate":{"href":"https://oie-00.dne-okta.com/api/v1/zones/nzotgbfgt827qjEm4697/lifecycle/deactivate","hints":{"allow":["POST"]}}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.16752s
    - id: 17
      request:
        host: oie-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/zones/nzotgbjx2txSXOok6697
        method: GET
      response:
        body: '{"type":"IP","id":"nzotgbjx2txSXOok6697","name":"testAcc_3440890524 Range","status":"ACTIVE","usage":"POLICY","created":"2025-07-22T00:06:26.000Z","lastUpdated":"2025-07-22T00:06:26.000Z","system":false,"gateways":[{"type":"RANGE","value":"192.168.1.1-192.168.1.10"}],"proxies":null,"_links":{"self":{"href":"https://oie-00.dne-okta.com/api/v1/zones/nzotgbjx2txSXOok6697","hints":{"allow":["GET","PUT","DELETE"]}},"deactivate":{"href":"https://oie-00.dne-okta.com/api/v1/zones/nzotgbjx2txSXOok6697/lifecycle/deactivate","hints":{"allow":["POST"]}}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.175366667s
    - id: 18
      request:
        host: oie-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/zones/nzotgbehxoLnjfbue697
        method: GET
      response:
        body: '{"type":"IP","id":"nzotgbehxoLnjfbue697","name":"testAcc_3440890524 Unchanged Single","status":"ACTIVE","usage":"POLICY","created":"2025-07-22T00:06:26.000Z","lastUpdated":"2025-07-22T00:06:26.000Z","system":false,"gateways":[{"type":"RANGE","value":"192.168.2.1-192.168.2.1"}],"proxies":null,"_links":{"self":{"href":"https://oie-00.dne-okta.com/api/v1/zones/nzotgbehxoLnjfbue697","hints":{"allow":["GET","PUT","DELETE"]}},"deactivate":{"href":"https://oie-00.dne-okta.com/api/v1/zones/nzotgbehxoLnjfbue697/lifecycle/deactivate","hints":{"allow":["POST"]}}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 692.820541ms
    - id: 19
      request:
        host: oie-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/zones/nzotgbcfcsY4QTlcB697
        method: GET
      response:
        body: '{"type":"IP","id":"nzotgbcfcsY4QTlcB697","name":"testAcc_3440890524 Mixed","status":"ACTIVE","usage":"POLICY","created":"2025-07-22T00:06:26.000Z","lastUpdated":"2025-07-22T00:06:26.000Z","system":false,"gateways":[{"type":"RANGE","value":"172.16.0.1-172.16.0.10"},{"type":"RANGE","value":"192.168.1.1-192.168.1.1"},{"type":"CIDR","value":"10.0.0.0/24"}],"proxies":null,"_links":{"self":{"href":"https://oie-00.dne-okta.com/api/v1/zones/nzotgbcfcsY4QTlcB697","hints":{"allow":["GET","PUT","DELETE"]}},"deactivate":{"href":"https://oie-00.dne-okta.com/api/v1/zones/nzotgbcfcsY4QTlcB697/lifecycle/deactivate","hints":{"allow":["POST"]}}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 682.247209ms
[...]
    - id: 76
      request:
        host: oie-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/zones/nzotgbff1jnfIVxCv697/lifecycle/deactivate
        method: POST
      response:
        body: '{"type":"IP","id":"nzotgbff1jnfIVxCv697","name":"testAcc_3440890524 Changing Range","status":"INACTIVE","usage":"POLICY","created":"2025-07-22T00:06:26.000Z","lastUpdated":"2025-07-22T00:06:37.000Z","system":false,"gateways":[{"type":"RANGE","value":"172.16.0.1-172.16.0.20"}],"proxies":null,"_links":{"activate":{"href":"https://oie-00.dne-okta.com/api/v1/zones/nzotgbff1jnfIVxCv697/lifecycle/activate","hints":{"allow":["POST"]}},"self":{"href":"https://oie-00.dne-okta.com/api/v1/zones/nzotgbff1jnfIVxCv697","hints":{"allow":["GET","PUT","DELETE"]}}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 676.915209ms
    - id: 77
      request:
        host: oie-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/zones/nzotgbjx2txSXOok6697/lifecycle/deactivate
        method: POST
      response:
        body: '{"type":"IP","id":"nzotgbjx2txSXOok6697","name":"testAcc_3440890524 Range","status":"INACTIVE","usage":"POLICY","created":"2025-07-22T00:06:26.000Z","lastUpdated":"2025-07-22T00:06:37.000Z","system":false,"gateways":[{"type":"RANGE","value":"192.168.1.1-192.168.1.10"}],"proxies":null,"_links":{"activate":{"href":"https://oie-00.dne-okta.com/api/v1/zones/nzotgbjx2txSXOok6697/lifecycle/activate","hints":{"allow":["POST"]}},"self":{"href":"https://oie-00.dne-okta.com/api/v1/zones/nzotgbjx2txSXOok6697","hints":{"allow":["GET","PUT","DELETE"]}}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 676.970541ms
    - id: 78
      request:
        host: oie-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/zones/nzotgbhdyj87dO38N697/lifecycle/deactivate
        method: POST
      response:
        body: '{"type":"IP","id":"nzotgbhdyj87dO38N697","name":"testAcc_3440890524 Changing CIDR","status":"INACTIVE","usage":"POLICY","created":"2025-07-22T00:06:26.000Z","lastUpdated":"2025-07-22T00:06:37.000Z","system":false,"gateways":[{"type":"CIDR","value":"10.0.0.0/16"}],"proxies":null,"_links":{"activate":{"href":"https://oie-00.dne-okta.com/api/v1/zones/nzotgbhdyj87dO38N697/lifecycle/activate","hints":{"allow":["POST"]}},"self":{"href":"https://oie-00.dne-okta.com/api/v1/zones/nzotgbhdyj87dO38N697","hints":{"allow":["GET","PUT","DELETE"]}}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 686.078459ms
    - id: 79
      request:
        host: oie-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/zones/nzotgbcfcsY4QTlcB697/lifecycle/deactivate
        method: POST
      response:
        body: '{"type":"IP","id":"nzotgbcfcsY4QTlcB697","name":"testAcc_3440890524 Mixed","status":"INACTIVE","usage":"POLICY","created":"2025-07-22T00:06:26.000Z","lastUpdated":"2025-07-22T00:06:37.000Z","system":false,"gateways":[{"type":"RANGE","value":"172.16.0.1-172.16.0.10"},{"type":"RANGE","value":"192.168.1.1-192.168.1.1"},{"type":"CIDR","value":"10.0.0.0/24"}],"proxies":null,"_links":{"activate":{"href":"https://oie-00.dne-okta.com/api/v1/zones/nzotgbcfcsY4QTlcB697/lifecycle/activate","hints":{"allow":["POST"]}},"self":{"href":"https://oie-00.dne-okta.com/api/v1/zones/nzotgbcfcsY4QTlcB697","hints":{"allow":["GET","PUT","DELETE"]}}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 688.820959ms
    - id: 80
      request:
        host: oie-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/zones/nzotgbb9l7pGnrESs697/lifecycle/deactivate
        method: POST
      response:
        body: '{"type":"IP","id":"nzotgbb9l7pGnrESs697","name":"testAcc_3440890524 Single","status":"INACTIVE","usage":"POLICY","created":"2025-07-22T00:06:26.000Z","lastUpdated":"2025-07-22T00:06:37.000Z","system":false,"gateways":[{"type":"RANGE","value":"192.168.1.1-192.168.1.1"}],"proxies":null,"_links":{"activate":{"href":"https://oie-00.dne-okta.com/api/v1/zones/nzotgbb9l7pGnrESs697/lifecycle/activate","hints":{"allow":["POST"]}},"self":{"href":"https://oie-00.dne-okta.com/api/v1/zones/nzotgbb9l7pGnrESs697","hints":{"allow":["GET","PUT","DELETE"]}}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 699.622791ms
    - id: 81
      request:
        host: oie-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/zones/nzotgbjdqxFDv7GNm697/lifecycle/deactivate
        method: POST
      response:
        body: '{"type":"IP","id":"nzotgbjdqxFDv7GNm697","name":"testAcc_3440890524 Changing Single","status":"INACTIVE","usage":"POLICY","created":"2025-07-22T00:06:26.000Z","lastUpdated":"2025-07-22T00:06:37.000Z","system":false,"gateways":[{"type":"RANGE","value":"192.168.1.2-192.168.1.2"}],"proxies":null,"_links":{"activate":{"href":"https://oie-00.dne-okta.com/api/v1/zones/nzotgbjdqxFDv7GNm697/lifecycle/activate","hints":{"allow":["POST"]}},"self":{"href":"https://oie-00.dne-okta.com/api/v1/zones/nzotgbjdqxFDv7GNm697","hints":{"allow":["GET","PUT","DELETE"]}}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 699.722542ms
    - id: 82
      request:
        host: oie-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/zones/nzotgbgpviMEEFVF7697/lifecycle/deactivate
        method: POST
      response:
        body: '{"type":"IP","id":"nzotgbgpviMEEFVF7697","name":"testAcc_3440890524 CIDR","status":"INACTIVE","usage":"POLICY","created":"2025-07-22T00:06:26.000Z","lastUpdated":"2025-07-22T00:06:37.000Z","system":false,"gateways":[{"type":"CIDR","value":"192.168.1.0/24"}],"proxies":null,"_links":{"activate":{"href":"https://oie-00.dne-okta.com/api/v1/zones/nzotgbgpviMEEFVF7697/lifecycle/activate","hints":{"allow":["POST"]}},"self":{"href":"https://oie-00.dne-okta.com/api/v1/zones/nzotgbgpviMEEFVF7697","hints":{"allow":["GET","PUT","DELETE"]}}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 699.899959ms
    - id: 83
      request:
        host: oie-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/zones/nzotgbehxoLnjfbue697/lifecycle/deactivate
        method: POST
      response:
        body: '{"type":"IP","id":"nzotgbehxoLnjfbue697","name":"testAcc_3440890524 Unchanged Single","status":"INACTIVE","usage":"POLICY","created":"2025-07-22T00:06:26.000Z","lastUpdated":"2025-07-22T00:06:37.000Z","system":false,"gateways":[{"type":"RANGE","value":"192.168.2.1-192.168.2.1"}],"proxies":null,"_links":{"activate":{"href":"https://oie-00.dne-okta.com/api/v1/zones/nzotgbehxoLnjfbue697/lifecycle/activate","hints":{"allow":["POST"]}},"self":{"href":"https://oie-00.dne-okta.com/api/v1/zones/nzotgbehxoLnjfbue697","hints":{"allow":["GET","PUT","DELETE"]}}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 702.999375ms
    - id: 84
      request:
        host: oie-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/zones/nzotgbb9l8Z2Kaldv697/lifecycle/deactivate
        method: POST
      response:
        body: '{"type":"IP","id":"nzotgbb9l8Z2Kaldv697","name":"testAcc_3440890524 Unchanged Range","status":"INACTIVE","usage":"POLICY","created":"2025-07-22T00:06:26.000Z","lastUpdated":"2025-07-22T00:06:37.000Z","system":false,"gateways":[{"type":"RANGE","value":"172.17.0.1-172.17.0.10"}],"proxies":null,"_links":{"activate":{"href":"https://oie-00.dne-okta.com/api/v1/zones/nzotgbb9l8Z2Kaldv697/lifecycle/activate","hints":{"allow":["POST"]}},"self":{"href":"https://oie-00.dne-okta.com/api/v1/zones/nzotgbb9l8Z2Kaldv697","hints":{"allow":["GET","PUT","DELETE"]}}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 703.343417ms
    - id: 85
      request:
        host: oie-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/zones/nzotgbfgt827qjEm4697/lifecycle/deactivate
        method: POST
      response:
        body: '{"type":"IP","id":"nzotgbfgt827qjEm4697","name":"testAcc_3440890524 Unchanged CIDR","status":"INACTIVE","usage":"POLICY","created":"2025-07-22T00:06:26.000Z","lastUpdated":"2025-07-22T00:06:37.000Z","system":false,"gateways":[{"type":"CIDR","value":"10.1.0.0/24"}],"proxies":null,"_links":{"activate":{"href":"https://oie-00.dne-okta.com/api/v1/zones/nzotgbfgt827qjEm4697/lifecycle/activate","hints":{"allow":["POST"]}},"self":{"href":"https://oie-00.dne-okta.com/api/v1/zones/nzotgbfgt827qjEm4697","hints":{"allow":["GET","PUT","DELETE"]}}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 705.378625ms
[...]
