---
version: 2
interactions:
    - id: 0
      request:
        host: oie-00.dne-okta.com
        body: |
            {"gateways":[{"type":"RANGE","value":"172.17.0.1-172.17.0.10"}],"name":"testAcc_3440890524 Unchanged Range","status":"ACTIVE","type":"IP","usage":"POLICY"}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://oie-00.dne-okta.com/api/v1/zones
        method: POST
      response:
        body: '{"type":"IP","id":"nzoxmpxpu9SsFYbwg1d7","name":"testAcc_3440890524 Unchanged Range","status":"ACTIVE","usage":"POLICY","created":"2026-04-16T05:17:29.000Z","lastUpdated":"2026-04-16T05:17:29.000Z","system":false,"gateways":[{"type":"RANGE","value":"172.17.0.1-172.17.0.10"}],"proxies":null,"_links":{"self":{"href":"https://oie-00.dne-okta.com/api/v1/zones/nzoxmpxpu9SsFYbwg1d7","hints":{"allow":["GET","PUT","DELETE"]}},"deactivate":{"href":"https://oie-00.dne-okta.com/api/v1/zones/nzoxmpxpu9SsFYbwg1d7/lifecycle/deactivate","hints":{"allow":["POST"]}}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 829.510875ms
[...]
    - id: 10
      request:
        host: oie-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/zones/nzoxmq0jlxyBrcSQn1d7/lifecycle/activate
        method: POST
      response:
        body: '{"type":"IP","id":"nzoxmq0jlxyBrcSQn1d7","name":"testAcc_3440890524 CIDR","status":"ACTIVE","usage":"POLICY","created":"2026-04-16T05:17:29.000Z","lastUpdated":"2026-04-16T05:17:30.000Z","system":false,"gateways":[{"type":"CIDR","value":"192.168.1.0/24"}],"proxies":null,"_links":{"self":{"href":"https://oie-00.dne-okta.com/api/v1/zones/nzoxmq0jlxyBrcSQn1d7","hints":{"allow":["GET","PUT","DELETE"]}},"deactivate":{"href":"https://oie-00.dne-okta.com/api/v1/zones/nzoxmq0jlxyBrcSQn1d7/lifecycle/deactivate","hints":{"allow":["POST"]}}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 654.221792ms
    - id: 11
      request:
        host: oie-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/zones/nzoxmq13lrnl1gdJA1d7/lifecycle/activate
        method: POST
      response:
        body: '{"type":"IP","id":"nzoxmq13lrnl1gdJA1d7","name":"testAcc_3440890524 Changing CIDR","status":"ACTIVE","usage":"POLICY","created":"2026-04-16T05:17:29.000Z","lastUpdated":"2026-04-16T05:17:30.000Z","system":false,"gateways":[{"type":"CIDR","value":"192.168.0.0/24"}],"proxies":null,"_links":{"self":{"href":"https://oie-00.dne-okta.com/api/v1/zones/nzoxmq13lrnl1gdJA1d7","hints":{"allow":["GET","PUT","DELETE"]}},"deactivate":{"href":"https://oie-00.dne-okta.com/api/v1/zones/nzoxmq13lrnl1gdJA1d7/lifecycle/deactivate","hints":{"allow":["POST"]}}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 811.74225ms
    - id: 12
      request:
        host: oie-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/zones/nzoxmpuqjrcp8Rdqz1d7/lifecycle/activate
        method: POST
      response:
        body: '{"type":"IP","id":"nzoxmpuqjrcp8Rdqz1d7","name":"testAcc_3440890524 Range","status":"ACTIVE","usage":"POLICY","created":"2026-04-16T05:17:29.000Z","lastUpdated":"2026-04-16T05:17:30.000Z","system":false,"gateways":[{"type":"RANGE","value":"192.168.1.1-192.168.1.10"}],"proxies":null,"_links":{"self":{"href":"https://oie-00.dne-okta.com/api/v1/zones/nzoxmpuqjrcp8Rdqz1d7","hints":{"allow":["GET","PUT","DELETE"]}},"deactivate":{"href":"https://oie-00.dne-okta.com/api/v1/zones/nzoxmpuqjrcp8Rdqz1d7/lifecycle/deactivate","hints":{"allow":["POST"]}}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 850.343958ms
    - id: 13
      request:
        host: oie-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/zones/nzoxmq5oyb6qC2R7W1d7/lifecycle/activate
        method: POST
      response:
        body: '{"type":"IP","id":"nzoxmq5oyb6qC2R7W1d7","name":"testAcc_3440890524 Mixed","status":"ACTIVE","usage":"POLICY","created":"2026-04-16T05:17:29.000Z","lastUpdated":"2026-04-16T05:17:30.000Z","system":false,"gateways":[{"type":"RANGE","value":"172.16.0.1-172.16.0.10"},{"type":"RANGE","value":"192.168.1.1-192.168.1.1"},{"type":"CIDR","value":"10.0.0.0/24"}],"proxies":null,"_links":{"self":{"href":"https://oie-00.dne-okta.com/api/v1/zones/nzoxmq5oyb6qC2R7W1d7","hints":{"allow":["GET","PUT","DELETE"]}},"deactivate":{"href":"https://oie-00.dne-okta.com/api/v1/zones/nzoxmq5oyb6qC2R7W1d7/lifecycle/deactivate","hints":{"allow":["POST"]}}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 850.884333ms
    - id: 14
      request:
        host: oie-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/zones/nzoxmppupmBrHpPT41d7/lifecycle/activate
        method: POST
      response:
        body: '{"type":"IP","id":"nzoxmppupmBrHpPT41d7","name":"testAcc_3440890524 Changing Range","status":"ACTIVE","usage":"POLICY","created":"2026-04-16T05:17:29.000Z","lastUpdated":"2026-04-16T05:17:30.000Z","system":false,"gateways":[{"type":"RANGE","value":"172.16.0.1-172.16.0.10"}],"proxies":null,"_links":{"self":{"href":"https://oie-00.dne-okta.com/api/v1/zones/nzoxmppupmBrHpPT41d7","hints":{"allow":["GET","PUT","DELETE"]}},"deactivate":{"href":"https://oie-00.dne-okta.com/api/v1/zones/nzoxmppupmBrHpPT41d7/lifecycle/deactivate","hints":{"allow":["POST"]}}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 819.844583ms
    - id: 15
      request:
        host: oie-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/zones/nzoxmpxpu9SsFYbwg1d7/lifecycle/activate
        method: POST
      response:
        body: '{"type":"IP","id":"nzoxmpxpu9SsFYbwg1d7","name":"testAcc_3440890524 Unchanged Range","status":"ACTIVE","usage":"POLICY","created":"2026-04-16T05:17:29.000Z","lastUpdated":"2026-04-16T05:17:30.000Z","system":false,"gateways":[{"type":"RANGE","value":"172.17.0.1-172.17.0.10"}],"proxies":null,"_links":{"self":{"href":"https://oie-00.dne-okta.com/api/v1/zones/nzoxmpxpu9SsFYbwg1d7","hints":{"allow":["GET","PUT","DELETE"]}},"deactivate":{"href":"https://oie-00.dne-okta.com/api/v1/zones/nzoxmpxpu9SsFYbwg1d7/lifecycle/deactivate","hints":{"allow":["POST"]}}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 887.648542ms
    - id: 16
      request:
        host: oie-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/zones/nzoxmpjsvnnRIqn561d7/lifecycle/activate
        method: POST
      response:
        body: '{"type":"IP","id":"nzoxmpjsvnnRIqn561d7","name":"testAcc_3440890524 Unchanged Single","status":"ACTIVE","usage":"POLICY","created":"2026-04-16T05:17:29.000Z","lastUpdated":"2026-04-16T05:17:30.000Z","system":false,"gateways":[{"type":"RANGE","value":"192.168.2.1-192.168.2.1"}],"proxies":null,"_links":{"self":{"href":"https://oie-00.dne-okta.com/api/v1/zones/nzoxmpjsvnnRIqn561d7","hints":{"allow":["GET","PUT","DELETE"]}},"deactivate":{"href":"https://oie-00.dne-okta.com/api/v1/zones/nzoxmpjsvnnRIqn561d7/lifecycle/deactivate","hints":{"allow":["POST"]}}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 819.094709ms
    - id: 17
      request:
        host: oie-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/zones/nzoxmpf3wlddOSCvu1d7/lifecycle/activate
        method: POST
      response:
        body: '{"type":"IP","id":"nzoxmpf3wlddOSCvu1d7","name":"testAcc_3440890524 Changing Single","status":"ACTIVE","usage":"POLICY","created":"2026-04-16T05:17:29.000Z","lastUpdated":"2026-04-16T05:17:30.000Z","system":false,"gateways":[{"type":"RANGE","value":"192.168.1.1-192.168.1.1"}],"proxies":null,"_links":{"self":{"href":"https://oie-00.dne-okta.com/api/v1/zones/nzoxmpf3wlddOSCvu1d7","hints":{"allow":["GET","PUT","DELETE"]}},"deactivate":{"href":"https://oie-00.dne-okta.com/api/v1/zones/nzoxmpf3wlddOSCvu1d7/lifecycle/deactivate","hints":{"allow":["POST"]}}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 841.118667ms
    - id: 18
      request:
        host: oie-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/zones/nzoxmq13lqPFCbvfN1d7/lifecycle/activate
        method: POST
      response:
        body: '{"type":"IP","id":"nzoxmq13lqPFCbvfN1d7","name":"testAcc_3440890524 Single","status":"ACTIVE","usage":"POLICY","created":"2026-04-16T05:17:29.000Z","lastUpdated":"2026-04-16T05:17:30.000Z","system":false,"gateways":[{"type":"RANGE","value":"192.168.1.1-192.168.1.1"}],"proxies":null,"_links":{"self":{"href":"https://oie-00.dne-okta.com/api/v1/zones/nzoxmq13lqPFCbvfN1d7","hints":{"allow":["GET","PUT","DELETE"]}},"deactivate":{"href":"https://oie-00.dne-okta.com/api/v1/zones/nzoxmq13lqPFCbvfN1d7/lifecycle/deactivate","hints":{"allow":["POST"]}}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 984.524625ms
    - id: 19
      request:
        host: oie-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/zones/nzoxmq0ghn6gRG0fz1d7/lifecycle/activate
        method: POST
      response:
        body: '{"type":"IP","id":"nzoxmq0ghn6gRG0fz1d7","name":"testAcc_3440890524 Unchanged CIDR","status":"ACTIVE","usage":"POLICY","created":"2026-04-16T05:17:30.000Z","lastUpdated":"2026-04-16T05:17:30.000Z","system":false,"gateways":[{"type":"CIDR","value":"10.1.0.0/24"}],"proxies":null,"_links":{"self":{"href":"https://oie-00.dne-okta.com/api/v1/zones/nzoxmq0ghn6gRG0fz1d7","hints":{"allow":["GET","PUT","DELETE"]}},"deactivate":{"href":"https://oie-00.dne-okta.com/api/v1/zones/nzoxmq0ghn6gRG0fz1d7/lifecycle/deactivate","hints":{"allow":["POST"]}}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 850.542959ms
    - id: 20
      request:
        host: oie-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/zones/nzoxmpjsvnnRIqn561d7
        method: GET
      response:
        body: '{"type":"IP","id":"nzoxmpjsvnnRIqn561d7","name":"testAcc_3440890524 Unchanged Single","status":"ACTIVE","usage":"POLICY","created":"2026-04-16T05:17:29.000Z","lastUpdated":"2026-04-16T05:17:30.000Z","system":false,"gateways":[{"type":"RANGE","value":"192.168.2.1-192.168.2.1"}],"proxies":null,"_links":{"self":{"href":"https://oie-00.dne-okta.com/api/v1/zones/nzoxmpjsvnnRIqn561d7","hints":{"allow":["GET","PUT","DELETE"]}},"deactivate":{"href":"https://oie-00.dne-okta.com/api/v1/zones/nzoxmpjsvnnRIqn561d7/lifecycle/deactivate","hints":{"allow":["POST"]}}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 654.089125ms
    - id: 21
      request:
        host: oie-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/zones/nzoxmpuqjrcp8Rdqz1d7
        method: GET
      response:
        body: '{"type":"IP","id":"nzoxmpuqjrcp8Rdqz1d7","name":"testAcc_3440890524 Range","status":"ACTIVE","usage":"POLICY","created":"2026-04-16T05:17:29.000Z","lastUpdated":"2026-04-16T05:17:30.000Z","system":false,"gateways":[{"type":"RANGE","value":"192.168.1.1-192.168.1.10"}],"proxies":null,"_links":{"self":{"href":"https://oie-00.dne-okta.com/api/v1/zones/nzoxmpuqjrcp8Rdqz1d7","hints":{"allow":["GET","PUT","DELETE"]}},"deactivate":{"href":"https://oie-00.dne-okta.com/api/v1/zones/nzoxmpuqjrcp8Rdqz1d7/lifecycle/deactivate","hints":{"allow":["POST"]}}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 669.728709ms
    - id: 22
      request:
        host: oie-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/zones/nzoxmq0jlxyBrcSQn1d7
        method: GET
      response:
        body: '{"type":"IP","id":"nzoxmq0jlxyBrcSQn1d7","name":"testAcc_3440890524 CIDR","status":"ACTIVE","usage":"POLICY","created":"2026-04-16T05:17:29.000Z","lastUpdated":"2026-04-16T05:17:30.000Z","system":false,"gateways":[{"type":"CIDR","value":"192.168.1.0/24"}],"proxies":null,"_links":{"self":{"href":"https://oie-00.dne-okta.com/api/v1/zones/nzoxmq0jlxyBrcSQn1d7","hints":{"allow":["GET","PUT","DELETE"]}},"deactivate":{"href":"https://oie-00.dne-okta.com/api/v1/zones/nzoxmq0jlxyBrcSQn1d7/lifecycle/deactivate","hints":{"allow":["POST"]}}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 819.130916ms
    - id: 23
      request:
        host: oie-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/zones/nzoxmpxpu9SsFYbwg1d7
        method: GET
      response:
        body: '{"type":"IP","id":"nzoxmpxpu9SsFYbwg1d7","name":"testAcc_3440890524 Unchanged Range","status":"ACTIVE","usage":"POLICY","created":"2026-04-16T05:17:29.000Z","lastUpdated":"2026-04-16T05:17:30.000Z","system":false,"gateways":[{"type":"RANGE","value":"172.17.0.1-172.17.0.10"}],"proxies":null,"_links":{"self":{"href":"https://oie-00.dne-okta.com/api/v1/zones/nzoxmpxpu9SsFYbwg1d7","hints":{"allow":["GET","PUT","DELETE"]}},"deactivate":{"href":"https://oie-00.dne-okta.com/api/v1/zones/nzoxmpxpu9SsFYbwg1d7/lifecycle/deactivate","hints":{"allow":["POST"]}}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 832.075333ms
    - id: 24
      request:
        host: oie-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/zones/nzoxmpf3wlddOSCvu1d7
        method: GET
      response:
        body: '{"type":"IP","id":"nzoxmpf3wlddOSCvu1d7","name":"testAcc_3440890524 Changing Single","status":"ACTIVE","usage":"POLICY","created":"2026-04-16T05:17:29.000Z","lastUpdated":"2026-04-16T05:17:30.000Z","system":false,"gateways":[{"type":"RANGE","value":"192.168.1.1-192.168.1.1"}],"proxies":null,"_links":{"self":{"href":"https://oie-00.dne-okta.com/api/v1/zones/nzoxmpf3wlddOSCvu1d7","hints":{"allow":["GET","PUT","DELETE"]}},"deactivate":{"href":"https://oie-00.dne-okta.com/api/v1/zones/nzoxmpf3wlddOSCvu1d7/lifecycle/deactivate","hints":{"allow":["POST"]}}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 832.2875ms
    - id: 25
      request:
        host: oie-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/zones/nzoxmq0ghn6gRG0fz1d7
        method: GET
      response:
        body: '{"type":"IP","id":"nzoxmq0ghn6gRG0fz1d7","name":"testAcc_3440890524 Unchanged CIDR","status":"ACTIVE","usage":"POLICY","created":"2026-04-16T05:17:30.000Z","lastUpdated":"2026-04-16T05:17:30.000Z","system":false,"gateways":[{"type":"CIDR","value":"10.1.0.0/24"}],"proxies":null,"_links":{"self":{"href":"https://oie-00.dne-okta.com/api/v1/zones/nzoxmq0ghn6gRG0fz1d7","hints":{"allow":["GET","PUT","DELETE"]}},"deactivate":{"href":"https://oie-00.dne-okta.com/api/v1/zones/nzoxmq0ghn6gRG0fz1d7/lifecycle/deactivate","hints":{"allow":["POST"]}}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 849.142083ms
    - id: 26
      request:
        host: oie-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/zones/nzoxmq13lrnl1gdJA1d7
        method: GET
      response:
        body: '{"type":"IP","id":"nzoxmq13lrnl1gdJA1d7","name":"testAcc_3440890524 Changing CIDR","status":"ACTIVE","usage":"POLICY","created":"2026-04-16T05:17:29.000Z","lastUpdated":"2026-04-16T05:17:30.000Z","system":false,"gateways":[{"type":"CIDR","value":"192.168.0.0/24"}],"proxies":null,"_links":{"self":{"href":"https://oie-00.dne-okta.com/api/v1/zones/nzoxmq13lrnl1gdJA1d7","hints":{"allow":["GET","PUT","DELETE"]}},"deactivate":{"href":"https://oie-00.dne-okta.com/api/v1/zones/nzoxmq13lrnl1gdJA1d7/lifecycle/deactivate","hints":{"allow":["POST"]}}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 869.492541ms
    - id: 27
      request:
        host: oie-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/zones/nzoxmppupmBrHpPT41d7
        method: GET
      response:
        body: '{"type":"IP","id":"nzoxmppupmBrHpPT41d7","name":"testAcc_3440890524 Changing Range","status":"ACTIVE","usage":"POLICY","created":"2026-04-16T05:17:29.000Z","lastUpdated":"2026-04-16T05:17:30.000Z","system":false,"gateways":[{"type":"RANGE","value":"172.16.0.1-172.16.0.10"}],"proxies":null,"_links":{"self":{"href":"https://oie-00.dne-okta.com/api/v1/zones/nzoxmppupmBrHpPT41d7","hints":{"allow":["GET","PUT","DELETE"]}},"deactivate":{"href":"https://oie-00.dne-okta.com/api/v1/zones/nzoxmppupmBrHpPT41d7/lifecycle/deactivate","hints":{"allow":["POST"]}}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 872.171792ms
    - id: 28
      request:
        host: oie-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/zones/nzoxmq13lqPFCbvfN1d7
        method: GET
      response:
        body: '{"type":"IP","id":"nzoxmq13lqPFCbvfN1d7","name":"testAcc_3440890524 Single","status":"ACTIVE","usage":"POLICY","created":"2026-04-16T05:17:29.000Z","lastUpdated":"2026-04-16T05:17:30.000Z","system":false,"gateways":[{"type":"RANGE","value":"192.168.1.1-192.168.1.1"}],"proxies":null,"_links":{"self":{"href":"https://oie-00.dne-okta.com/api/v1/zones/nzoxmq13lqPFCbvfN1d7","hints":{"allow":["GET","PUT","DELETE"]}},"deactivate":{"href":"https://oie-00.dne-okta.com/api/v1/zones/nzoxmq13lqPFCbvfN1d7/lifecycle/deactivate","hints":{"allow":["POST"]}}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 876.838334ms
    - id: 29
      request:
        host: oie-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/zones/nzoxmq5oyb6qC2R7W1d7
        method: GET
      response:
        body: '{"type":"IP","id":"nzoxmq5oyb6qC2R7W1d7","name":"testAcc_3440890524 Mixed","status":"ACTIVE","usage":"POLICY","created":"2026-04-16T05:17:29.000Z","lastUpdated":"2026-04-16T05:17:30.000Z","system":false,"gateways":[{"type":"RANGE","value":"172.16.0.1-172.16.0.10"},{"type":"RANGE","value":"192.168.1.1-192.168.1.1"},{"type":"CIDR","value":"10.0.0.0/24"}],"proxies":null,"_links":{"self":{"href":"https://oie-00.dne-okta.com/api/v1/zones/nzoxmq5oyb6qC2R7W1d7","hints":{"allow":["GET","PUT","DELETE"]}},"deactivate":{"href":"https://oie-00.dne-okta.com/api/v1/zones/nzoxmq5oyb6qC2R7W1d7/lifecycle/deactivate","hints":{"allow":["POST"]}}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.383464s
[...]
    - id: 76
      request:
        host: oie-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/zones/nzoxmppupmBrHpPT41d7/lifecycle/deactivate
        method: POST
      response:
        body: '{"type":"IP","id":"nzoxmppupmBrHpPT41d7","name":"testAcc_3440890524 Changing Range","status":"INACTIVE","usage":"POLICY","created":"2026-04-16T05:17:29.000Z","lastUpdated":"2026-04-16T05:17:43.000Z","system":false,"gateways":[{"type":"RANGE","value":"172.16.0.1-172.16.0.20"}],"proxies":null,"_links":{"activate":{"href":"https://oie-00.dne-okta.com/api/v1/zones/nzoxmppupmBrHpPT41d7/lifecycle/activate","hints":{"allow":["POST"]}},"self":{"href":"https://oie-00.dne-okta.com/api/v1/zones/nzoxmppupmBrHpPT41d7","hints":{"allow":["GET","PUT","DELETE"]}}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 672.802083ms
    - id: 77
      request:
        host: oie-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/zones/nzoxmq0ghn6gRG0fz1d7/lifecycle/deactivate
        method: POST
      response:
        body: '{"type":"IP","id":"nzoxmq0ghn6gRG0fz1d7","name":"testAcc_3440890524 Unchanged CIDR","status":"INACTIVE","usage":"POLICY","created":"2026-04-16T05:17:30.000Z","lastUpdated":"2026-04-16T05:17:43.000Z","system":false,"gateways":[{"type":"CIDR","value":"10.1.0.0/24"}],"proxies":null,"_links":{"activate":{"href":"https://oie-00.dne-okta.com/api/v1/zones/nzoxmq0ghn6gRG0fz1d7/lifecycle/activate","hints":{"allow":["POST"]}},"self":{"href":"https://oie-00.dne-okta.com/api/v1/zones/nzoxmq0ghn6gRG0fz1d7","hints":{"allow":["GET","PUT","DELETE"]}}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 687.368875ms
    - id: 78
      request:
        host: oie-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/zones/nzoxmq0jlxyBrcSQn1d7/lifecycle/deactivate
        method: POST
      response:
        body: '{"type":"IP","id":"nzoxmq0jlxyBrcSQn1d7","name":"testAcc_3440890524 CIDR","status":"INACTIVE","usage":"POLICY","created":"2026-04-16T05:17:29.000Z","lastUpdated":"2026-04-16T05:17:43.000Z","system":false,"gateways":[{"type":"CIDR","value":"192.168.1.0/24"}],"proxies":null,"_links":{"activate":{"href":"https://oie-00.dne-okta.com/api/v1/zones/nzoxmq0jlxyBrcSQn1d7/lifecycle/activate","hints":{"allow":["POST"]}},"self":{"href":"https://oie-00.dne-okta.com/api/v1/zones/nzoxmq0jlxyBrcSQn1d7","hints":{"allow":["GET","PUT","DELETE"]}}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 687.448292ms
    - id: 79
      request:
        host: oie-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/zones/nzoxmpuqjrcp8Rdqz1d7/lifecycle/deactivate
        method: POST
      response:
        body: '{"type":"IP","id":"nzoxmpuqjrcp8Rdqz1d7","name":"testAcc_3440890524 Range","status":"INACTIVE","usage":"POLICY","created":"2026-04-16T05:17:29.000Z","lastUpdated":"2026-04-16T05:17:43.000Z","system":false,"gateways":[{"type":"RANGE","value":"192.168.1.1-192.168.1.10"}],"proxies":null,"_links":{"activate":{"href":"https://oie-00.dne-okta.com/api/v1/zones/nzoxmpuqjrcp8Rdqz1d7/lifecycle/activate","hints":{"allow":["POST"]}},"self":{"href":"https://oie-00.dne-okta.com/api/v1/zones/nzoxmpuqjrcp8Rdqz1d7","hints":{"allow":["GET","PUT","DELETE"]}}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 687.453875ms
    - id: 80
      request:
        host: oie-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/zones/nzoxmpjsvnnRIqn561d7/lifecycle/deactivate
        method: POST
      response:
        body: '{"type":"IP","id":"nzoxmpjsvnnRIqn561d7","name":"testAcc_3440890524 Unchanged Single","status":"INACTIVE","usage":"POLICY","created":"2026-04-16T05:17:29.000Z","lastUpdated":"2026-04-16T05:17:43.000Z","system":false,"gateways":[{"type":"RANGE","value":"192.168.2.1-192.168.2.1"}],"proxies":null,"_links":{"activate":{"href":"https://oie-00.dne-okta.com/api/v1/zones/nzoxmpjsvnnRIqn561d7/lifecycle/activate","hints":{"allow":["POST"]}},"self":{"href":"https://oie-00.dne-okta.com/api/v1/zones/nzoxmpjsvnnRIqn561d7","hints":{"allow":["GET","PUT","DELETE"]}}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 693.958959ms
    - id: 81
      request:
        host: oie-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/zones/nzoxmq13lrnl1gdJA1d7/lifecycle/deactivate
        method: POST
      response:
        body: '{"type":"IP","id":"nzoxmq13lrnl1gdJA1d7","name":"testAcc_3440890524 Changing CIDR","status":"INACTIVE","usage":"POLICY","created":"2026-04-16T05:17:29.000Z","lastUpdated":"2026-04-16T05:17:43.000Z","system":false,"gateways":[{"type":"CIDR","value":"10.0.0.0/16"}],"proxies":null,"_links":{"activate":{"href":"https://oie-00.dne-okta.com/api/v1/zones/nzoxmq13lrnl1gdJA1d7/lifecycle/activate","hints":{"allow":["POST"]}},"self":{"href":"https://oie-00.dne-okta.com/api/v1/zones/nzoxmq13lrnl1gdJA1d7","hints":{"allow":["GET","PUT","DELETE"]}}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 694.142333ms
    - id: 82
      request:
        host: oie-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/zones/nzoxmq5oyb6qC2R7W1d7/lifecycle/deactivate
        method: POST
      response:
        body: '{"type":"IP","id":"nzoxmq5oyb6qC2R7W1d7","name":"testAcc_3440890524 Mixed","status":"INACTIVE","usage":"POLICY","created":"2026-04-16T05:17:29.000Z","lastUpdated":"2026-04-16T05:17:43.000Z","system":false,"gateways":[{"type":"RANGE","value":"172.16.0.1-172.16.0.10"},{"type":"RANGE","value":"192.168.1.1-192.168.1.1"},{"type":"CIDR","value":"10.0.0.0/24"}],"proxies":null,"_links":{"activate":{"href":"https://oie-00.dne-okta.com/api/v1/zones/nzoxmq5oyb6qC2R7W1d7/lifecycle/activate","hints":{"allow":["POST"]}},"self":{"href":"https://oie-00.dne-okta.com/api/v1/zones/nzoxmq5oyb6qC2R7W1d7","hints":{"allow":["GET","PUT","DELETE"]}}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 844.594708ms
    - id: 83
      request:
        host: oie-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
[...]
