---
version: 2
interactions:
    - id: 0
      request:
        host: oie-00.dne-okta.com
        form:
            type:
                - POST_AUTH_SESSION
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/policies?type=POST_AUTH_SESSION
        method: GET
      response:
        body: '[{"id":"rstr909e8uuUhvE8n1d7","status":"ACTIVE","name":"Post Auth Policy","description":"Enables post auth policy evaluation for the org.","priority":1,"system":true,"conditions":null,"created":"2025-10-24T06:49:52.000Z","lastUpdated":"2025-10-24T06:49:52.000Z","_links":{"self":{"href":"https://oie-00.dne-okta.com/api/v1/policies/rstr909e8uuUhvE8n1d7","hints":{"allow":["GET","PUT"]}},"rules":{"href":"https://oie-00.dne-okta.com/api/v1/policies/rstr909e8uuUhvE8n1d7/rules","hints":{"allow":["GET","POST"]}}},"type":"POST_AUTH_SESSION"}]'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
            Link:
                - <https://oie-00.dne-okta.com/api/v1/policies?type=POST_AUTH_SESSION>; rel="self"
        status: 200 OK
        code: 200
        duration: 1.387340917s
    - id: 1
      request:
        host: oie-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/policies/rstr909e8uuUhvE8n1d7/rules
        method: GET
      response:
        body: '[{"id":"rulr909e8wwKN0FVJ1d7","status":"ACTIVE","name":"Post Session Protection Rule","priority":8,"created":"2025-10-24T06:49:52.000Z","lastUpdated":"2026-03-23T13:56:22.000Z","system":false,"conditions":{"people":{"users":{"exclude":[]}}},"actions":{"postAuthSession":{"failureActions":[{"action":"TERMINATE_SESSION","slo":null}]}},"_links":{"self":{"href":"https://oie-00.dne-okta.com/api/v1/policies/rstr909e8uuUhvE8n1d7/rules/rulr909e8wwKN0FVJ1d7","hints":{"allow":["GET","PUT","DELETE"]}},"deactivate":{"href":"https://oie-00.dne-okta.com/api/v1/policies/rstr909e8uuUhvE8n1d7/rules/rulr909e8wwKN0FVJ1d7/lifecycle/deactivate","hints":{"allow":["POST"]}}},"type":"POST_AUTH_SESSION"},{"id":"rulr909e8vw1oKoVi1d7","status":"ACTIVE","name":"Catch-all Rule","priority":99,"created":"2025-10-24T06:49:52.000Z","lastUpdated":"2025-10-24T06:49:52.000Z","system":true,"conditions":null,"actions":{"postAuthSession":{"failureActions":[]}},"_links":{"self":{"href":"https://oie-00.dne-okta.com/api/v1/policies/rstr909e8uuUhvE8n1d7/rules/rulr909e8vw1oKoVi1d7","hints":{"allow":["GET","PUT"]}}},"type":"POST_AUTH_SESSION"}]'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.4281925s
[...]
    - id: 12
      request:
        host: oie-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/policies/rstr909e8uuUhvE8n1d7/rules/rulr909e8wwKN0FVJ1d7
        method: GET
      response:
        body: '{"id":"rulr909e8wwKN0FVJ1d7","status":"ACTIVE","name":"Post Session Protection Rule","priority":8,"created":"2025-10-24T06:49:52.000Z","lastUpdated":"2026-03-23T13:56:22.000Z","system":false,"conditions":{"people":{"users":{"exclude":[]}}},"actions":{"postAuthSession":{"failureActions":[{"action":"TERMINATE_SESSION","slo":null}]}},"_links":{"self":{"href":"https://oie-00.dne-okta.com/api/v1/policies/rstr909e8uuUhvE8n1d7/rules/rulr909e8wwKN0FVJ1d7","hints":{"allow":["GET","PUT","DELETE"]}},"deactivate":{"href":"https://oie-00.dne-okta.com/api/v1/policies/rstr909e8uuUhvE8n1d7/rules/rulr909e8wwKN0FVJ1d7/lifecycle/deactivate","hints":{"allow":["POST"]}}},"type":"POST_AUTH_SESSION"}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.235965041s
[...]
    - id: 18
      request:
        host: oie-00.dne-okta.com
        body: |
            {"actions":{"postAuthSession":{"failureActions":[{"action":"TERMINATE_SESSION"}]}},"conditions":{"people":{"groups":{"exclude":[],"include":[]},"users":{"exclude":[],"include":[]}}},"id":"rulr909e8wwKN0FVJ1d7","name":"testAcc-4271605334","system":false,"type":"POST_AUTH_SESSION"}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://oie-00.dne-okta.com/api/v1/policies/rstr909e8uuUhvE8n1d7/rules/rulr909e8wwKN0FVJ1d7
        method: PUT
      response:
        body: '{"id":"rulr909e8wwKN0FVJ1d7","status":"ACTIVE","name":"testAcc-4271605334","priority":9,"created":"2025-10-24T06:49:52.000Z","lastUpdated":"2026-03-23T14:04:21.000Z","system":false,"conditions":{"people":{"users":{"exclude":[]}}},"actions":{"postAuthSession":{"failureActions":[{"action":"TERMINATE_SESSION","slo":null}]}},"_links":{"self":{"href":"https://oie-00.dne-okta.com/api/v1/policies/rstr909e8uuUhvE8n1d7/rules/rulr909e8wwKN0FVJ1d7","hints":{"allow":["GET","PUT","DELETE"]}},"deactivate":{"href":"https://oie-00.dne-okta.com/api/v1/policies/rstr909e8uuUhvE8n1d7/rules/rulr909e8wwKN0FVJ1d7/lifecycle/deactivate","hints":{"allow":["POST"]}}},"type":"POST_AUTH_SESSION"}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.404634458s
[...]
