---
version: 2
interactions:
    - id: 0
      request:
        host: mm-classic-2022-10-04.oktapreview.com
        body: |
            {"certificateSourceType":"MANUAL","domain":"example.com"}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://mm-classic-2022-10-04.oktapreview.com/api/v1/domains
        method: POST
      response:
        body: '{"id":"OcD95v3q7hsRguLum1d7","domain":"example.com","certificateSourceType":"MANUAL","validationStatus":"NOT_STARTED","brandId":"bnd95v3q7e0rZ4DMl1d7","dnsRecords":[{"recordType":"TXT","fqdn":"_oktaverification.example.com","values":["cc7117eef65c4d8384bacb44b47c1950"]},{"recordType":"CNAME","fqdn":"example.com","values":["mm-classic-2022-10-04.customdomains.oktapreview.com"]}],"_links":{"self":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/domains/OcD95v3q7hsRguLum1d7","hints":{"allow":["GET","DELETE","PUT"]}},"verify":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/domains/OcD95v3q7hsRguLum1d7/verify","hints":{"allow":["POST"]}},"brand":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/brands/bnd95v3q7e0rZ4DMl1d7","hints":{"allow":["GET","PUT","DELETE"]}}}}'
        headers:
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 612.569498ms
    - id: 1
      request:
        host: mm-classic-2022-10-04.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-classic-2022-10-04.oktapreview.com/api/v1/domains/OcD95v3q7hsRguLum1d7
        method: GET
      response:
        body: '{"id":"OcD95v3q7hsRguLum1d7","domain":"example.com","certificateSourceType":"MANUAL","validationStatus":"NOT_STARTED","brandId":"bnd95v3q7e0rZ4DMl1d7","dnsRecords":[{"recordType":"TXT","fqdn":"_oktaverification.example.com","values":["cc7117eef65c4d8384bacb44b47c1950"]},{"recordType":"CNAME","fqdn":"example.com","values":["mm-classic-2022-10-04.customdomains.oktapreview.com"]}],"_links":{"self":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/domains/OcD95v3q7hsRguLum1d7","hints":{"allow":["DELETE"]}},"verify":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/domains/OcD95v3q7hsRguLum1d7/verify","hints":{"allow":["POST"]}},"brand":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/brands/bnd95v3q7e0rZ4DMl1d7","hints":{"allow":["GET","PUT","DELETE"]}}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 53.695727ms
    - id: 2
      request:
        host: mm-classic-2022-10-04.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-classic-2022-10-04.oktapreview.com/api/v1/domains/OcD95v3q7hsRguLum1d7/verify
        method: POST
      response:
        body: '{"id":"OcD95v3q7hsRguLum1d7","domain":"example.com","certificateSourceType":"MANUAL","validationStatus":"FAILED_TO_VERIFY","brandId":"bnd95v3q7e0rZ4DMl1d7","dnsRecords":[{"recordType":"TXT","fqdn":"_oktaverification.example.com","values":["cc7117eef65c4d8384bacb44b47c1950"]},{"recordType":"CNAME","fqdn":"example.com","values":["mm-classic-2022-10-04.customdomains.oktapreview.com"]}],"_links":{"self":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/domains/OcD95v3q7hsRguLum1d7","hints":{"allow":["GET","DELETE"]}},"brand":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/brands/bnd95v3q7e0rZ4DMl1d7","hints":{"allow":["GET","PUT","DELETE"]}}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 496.131054ms
[...]
    - id: 7
      request:
        host: mm-classic-2022-10-04.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-classic-2022-10-04.oktapreview.com/api/v1/domains/OcD95v3q7hsRguLum1d7
        method: GET
      response:
        body: '{"errorCode":"E0000163","errorSummary":"Domain ID not found.","errorLink":"E0000163","errorId":"oaeVuk9gweIRCWqgzJqUJZJTg","errorCauses":[{"errorSummary":"Could not find custom domain with the given id."}]}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 72.708708ms
