---
version: 1
interactions:
- request:
    body: |
      {"certificateSourceType":"MANUAL","domain":"example.com"}
    form: {}
    headers:
      Authorization:
      - SSWS REDACTED
      Content-Type:
      - application/json
    url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/domains
    method: POST
  response:
    body: '{"id":"OcD7l8h1mwi84KgjQ1d7","domain":"example.com","certificateSourceType":"MANUAL","validationStatus":"NOT_STARTED","dnsRecords":[{"recordType":"TXT","fqdn":"_oktaverification.example.com","values":["0d9d82c0cc24437586e039b7f9541f87"]},{"recordType":"CNAME","fqdn":"example.com","values":["mm-oie-2022-10-07-max.customdomains.oktapreview.com"]}],"_links":{"self":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/domains/OcD7l8h1mwi84KgjQ1d7","hints":{"allow":["GET","DELETE"]}},"verify":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/domains/OcD7l8h1mwi84KgjQ1d7/verify","hints":{"allow":["POST"]}}}}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/domains/OcD7l8h1mwi84KgjQ1d7
    method: GET
  response:
    body: '{"id":"OcD7l8h1mwi84KgjQ1d7","domain":"example.com","certificateSourceType":"MANUAL","validationStatus":"NOT_STARTED","dnsRecords":[{"recordType":"TXT","fqdn":"_oktaverification.example.com","values":["0d9d82c0cc24437586e039b7f9541f87"]},{"recordType":"CNAME","fqdn":"example.com","values":["mm-oie-2022-10-07-max.customdomains.oktapreview.com"]}],"_links":{"self":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/domains/OcD7l8h1mwi84KgjQ1d7","hints":{"allow":["DELETE"]}},"verify":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/domains/OcD7l8h1mwi84KgjQ1d7/verify","hints":{"allow":["POST"]}}}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
