---
version: 2
interactions:
    - id: 0
      request:
        host: mm-oie-2022-10-07-max.oktapreview.com
        body: |
            {"certificateSourceType":"MANUAL","domain":"example.com"}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/domains
        method: POST
      response:
        body: '{"id":"OcD95vhjncgUnh1xv1d7","domain":"example.com","certificateSourceType":"MANUAL","validationStatus":"NOT_STARTED","brandId":"bnd95vhjn9EoviW261d7","dnsRecords":[{"recordType":"TXT","fqdn":"_oktaverification.example.com","values":["243ed9e3094f4bf680bbc8f990a4fa12"]},{"recordType":"CNAME","fqdn":"example.com","values":["mm-oie-2022-10-07-max.customdomains.oktapreview.com"]}],"_links":{"self":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/domains/OcD95vhjncgUnh1xv1d7","hints":{"allow":["GET","DELETE","PUT"]}},"verify":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/domains/OcD95vhjncgUnh1xv1d7/verify","hints":{"allow":["POST"]}},"brand":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/brands/bnd95vhjn9EoviW261d7","hints":{"allow":["GET","PUT","DELETE"]}}}}'
        headers:
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 561.453785ms
    - id: 1
      request:
        host: mm-oie-2022-10-07-max.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/domains/OcD95vhjncgUnh1xv1d7
        method: GET
      response:
        body: '{"id":"OcD95vhjncgUnh1xv1d7","domain":"example.com","certificateSourceType":"MANUAL","validationStatus":"NOT_STARTED","brandId":"bnd95vhjn9EoviW261d7","dnsRecords":[{"recordType":"TXT","fqdn":"_oktaverification.example.com","values":["243ed9e3094f4bf680bbc8f990a4fa12"]},{"recordType":"CNAME","fqdn":"example.com","values":["mm-oie-2022-10-07-max.customdomains.oktapreview.com"]}],"_links":{"self":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/domains/OcD95vhjncgUnh1xv1d7","hints":{"allow":["DELETE"]}},"verify":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/domains/OcD95vhjncgUnh1xv1d7/verify","hints":{"allow":["POST"]}},"brand":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/brands/bnd95vhjn9EoviW261d7","hints":{"allow":["GET","PUT","DELETE"]}}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 56.241188ms
    - id: 2
      request:
        host: mm-oie-2022-10-07-max.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/domains/OcD95vhjncgUnh1xv1d7/verify
        method: POST
      response:
        body: '{"id":"OcD95vhjncgUnh1xv1d7","domain":"example.com","certificateSourceType":"MANUAL","validationStatus":"FAILED_TO_VERIFY","brandId":"bnd95vhjn9EoviW261d7","dnsRecords":[{"recordType":"TXT","fqdn":"_oktaverification.example.com","values":["243ed9e3094f4bf680bbc8f990a4fa12"]},{"recordType":"CNAME","fqdn":"example.com","values":["mm-oie-2022-10-07-max.customdomains.oktapreview.com"]}],"_links":{"self":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/domains/OcD95vhjncgUnh1xv1d7","hints":{"allow":["GET","DELETE"]}},"brand":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/brands/bnd95vhjn9EoviW261d7","hints":{"allow":["GET","PUT","DELETE"]}}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 312.215973ms
[...]
    - id: 7
      request:
        host: mm-oie-2022-10-07-max.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/domains/OcD95vhjncgUnh1xv1d7
        method: GET
      response:
        body: '{"errorCode":"E0000163","errorSummary":"Domain ID not found.","errorLink":"E0000163","errorId":"oaefIgL-58ESNGajapZoYQsrw","errorCauses":[{"errorSummary":"Could not find custom domain with the given id."}]}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 56.404724ms
