---
version: 2
interactions:
    - id: 0
      request:
        host: oie-00.dne-okta.com
        body: |
            {"diskEncryptionType":{"include":["ALL_INTERNAL_VOLUMES"]},"name":"testAcc-2676099928","osVersion":{"minimum":"12.4.6"},"platform":"WINDOWS","screenLockType":{"include":["BIOMETRIC","PASSCODE"]},"secureHardwarePresent":true,"thirdPartySignalProviders":{"dtc":{"browserVersion":{"minimum":"15393.27.0"},"builtInDnsClientEnabled":true,"chromeRemoteDesktopAppBlocked":true,"crowdStrikeAgentId":"testAgentId","crowdStrikeCustomerId":"testCustomerId","deviceEnrollmentDomain":"testDomain","diskEncrypted":true,"keyTrustLevel":"CHROME_BROWSER_HW_KEY","osFirewall":true,"osVersion":{"minimum":"10.0.19041"},"passwordProtectionWarningTrigger":"PASSWORD_PROTECTION_OFF","realtimeUrlCheckMode":true,"safeBrowsingProtectionLevel":"ENHANCED_PROTECTION","screenLockSecured":true,"secureBootEnabled":true,"siteIsolationEnabled":true,"windowsMachineDomain":"testMachineDomain","windowsUserDomain":"testUserDomain"}}}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://oie-00.dne-okta.com/api/v1/device-assurances
        method: POST
      response:
        body: '{"name":"testAcc-2676099928","platform":"WINDOWS","id":"daesawujfeNzPk5fg697","osVersion":{"minimum":"12.4.6"},"secureHardwarePresent":true,"diskEncryptionType":{"include":["ALL_INTERNAL_VOLUMES"]},"screenLockType":{"include":["BIOMETRIC","PASSCODE"]},"thirdPartySignalProviders":{"dtc":{"osVersion":{"minimum":"10.0.19041"},"diskEncrypted":true,"osFirewall":true,"screenLockSecured":true,"browserVersion":{"minimum":"15393.27.0"},"deviceEnrollmentDomain":"testDomain","builtInDnsClientEnabled":true,"chromeRemoteDesktopAppBlocked":true,"safeBrowsingProtectionLevel":"ENHANCED_PROTECTION","siteIsolationEnabled":true,"passwordProtectionWarningTrigger":"PASSWORD_PROTECTION_OFF","realtimeUrlCheckMode":true,"secureBootEnabled":true,"windowsMachineDomain":"testMachineDomain","windowsUserDomain":"testUserDomain","crowdStrikeCustomerId":"testCustomerId","crowdStrikeAgentId":"testAgentId","keyTrustLevel":"CHROME_BROWSER_HW_KEY"}},"createdDate":"2025-06-13T08:58:43.000Z","createdBy":"00urp9xdea3PR68ZV697","lastUpdate":"2025-06-13T08:58:43.000Z","lastUpdatedBy":"00urp9xdea3PR68ZV697","resourceId":"daesawujfeNzPk5fg697","resourceDisplayName":{"value":"testAcc-2676099928","sensitive":false},"resourceType":"DeviceAssurancePolicyEntity","_links":{"self":{"href":"https://oie-00.dne-okta.com/api/v1/device-assurances/daesawujfeNzPk5fg697","hints":{"allow":["GET","PUT","DELETE"]}}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.466494708s
    - id: 1
      request:
        host: oie-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/device-assurances/daesawujfeNzPk5fg697
        method: GET
      response:
        body: '{"name":"testAcc-2676099928","platform":"WINDOWS","id":"daesawujfeNzPk5fg697","osVersion":{"minimum":"12.4.6"},"secureHardwarePresent":true,"diskEncryptionType":{"include":["ALL_INTERNAL_VOLUMES"]},"screenLockType":{"include"[...]
[...]
