---
version: 2
interactions:
    - id: 0
      request:
        host: oie-00.dne-okta.com
        body: |
            {"diskEncryptionType":{"include":["ALL_INTERNAL_VOLUMES"]},"name":"testAcc-2676099928","osVersion":{"minimum":"12.4.6"},"platform":"WINDOWS","screenLockType":{"include":["BIOMETRIC","PASSCODE"]},"secureHardwarePresent":true,"thirdPartySignalProviders":{"dtc":{"browserVersion":{"minimum":"15393.27.0"},"builtInDnsClientEnabled":true,"chromeRemoteDesktopAppBlocked":true,"crowdStrikeAgentId":"testAgentId","crowdStrikeCustomerId":"testCustomerId","deviceEnrollmentDomain":"testDomain","diskEncrypted":true,"keyTrustLevel":"CHROME_BROWSER_HW_KEY","osFirewall":true,"osVersion":{"minimum":"10.0.19041"},"passwordProtectionWarningTrigger":"PASSWORD_PROTECTION_OFF","realtimeUrlCheckMode":true,"safeBrowsingProtectionLevel":"ENHANCED_PROTECTION","screenLockSecured":true,"secureBootEnabled":true,"siteIsolationEnabled":true,"thirdPartyBlockingEnabled":true,"windowsMachineDomain":"testMachineDomain","windowsUserDomain":"testUserDomain"}}}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://oie-00.dne-okta.com/api/v1/device-assurances
        method: POST
      response:
        body: '{"name":"testAcc-2676099928","platform":"WINDOWS","id":"daekwqrn3cGw2gvDC1d7","osVersion":{"minimum":"12.4.6"},"secureHardwarePresent":true,"diskEncryptionType":{"include":["ALL_INTERNAL_VOLUMES"]},"screenLockType":{"include":["BIOMETRIC","PASSCODE"]},"thirdPartySignalProviders":{"dtc":{"osVersion":{"minimum":"10.0.19041"},"diskEncrypted":true,"osFirewall":true,"screenLockSecured":true,"browserVersion":{"minimum":"15393.27.0"},"deviceEnrollmentDomain":"testDomain","builtInDnsClientEnabled":true,"chromeRemoteDesktopAppBlocked":true,"safeBrowsingProtectionLevel":"ENHANCED_PROTECTION","siteIsolationEnabled":true,"passwordProtectionWarningTrigger":"PASSWORD_PROTECTION_OFF","realtimeUrlCheckMode":true,"secureBootEnabled":true,"windowsMachineDomain":"testMachineDomain","windowsUserDomain":"testUserDomain","thirdPartyBlockingEnabled":true,"crowdStrikeCustomerId":"testCustomerId","crowdStrikeAgentId":"testAgentId","keyTrustLevel":"CHROME_BROWSER_HW_KEY"}},"displayRemediationMode":"HIDE","createdDate":"2025-03-13T23:23:32.000Z","createdBy":"00u5qwjvk7u6E1DFG1d7","lastUpdate":"2025-03-13T23:23:32.000Z","lastUpdatedBy":"00u5qwjvk7u6E1DFG1d7","resourceId":"daekwqrn3cGw2gvDC1d7","resourceDisplayName":{"value":"testAcc-2676099928","sensitive":false},"resourceType":"DeviceAssurancePolicyEntity","_links":{"self":{"href":"https://oie-00.dne-okta.com/api/v1/device-assurances/daekwqrn3cGw2gvDC1d7","hints":{"allow":["GET","PUT","DELETE"]}}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 537.477083ms
    - id: 1
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/device-assurances/daekwqrn3cGw2gvDC1d7
        method: GET
      response:
        body: '{"name":"testAcc-2676099928","platform":"WINDOWS","id":"daekwqrn3cGw2gvDC1d7","osVersion":{"minimum":"12.4.6"},"secureHardwarePresent":true,"diskEncryptionType":{"include":["ALL_INTERNAL_VOLU[...]
[...]
    - id: 3
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/device-assurances
        method: GET
      response:
        body: '[{"name":"Device Assurance Android","platform":"ANDROID","id":"dae9i0jh1gDrpv7fk1d7","osVersion":{"minimum":"12"},"secureHardwarePresent":true,"jailbreak":false,"diskEncryptionType":{"include":["USER","FULL"]},"screenLockType":{"include":["BIOMETRIC"]},"displayRemediationMode":"HIDE","createdDate":"2023-08-15T16:40:19.000Z","createdBy":"00u7aso1e82l0fVlZ1d7","lastUpdate":"2023-08-15T16:40:19.000Z","lastUpdatedBy":"00u7aso1e82l0fVlZ1d7","resourceId":"dae9i0jh1gDrpv7fk1d7","resourceDisplayName":{"value":"Device Assurance Android","sensitive":false},"resourceType":"DeviceAssurancePolicyEntity","_links":{"self":{"href":"https://oie-00.dne-okta.com/api[...]
[...]
