---
version: 2
interactions:
    - id: 0
      request:
        host: oie-00.dne-okta.com
        body: |
            {"jailbreak":false,"name":"testAcc-2460158546","osVersion":{"minimum":"12.4.5"},"platform":"IOS","screenLockType":{"include":["BIOMETRIC"]}}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://oie-00.dne-okta.com/api/v1/device-assurances
        method: POST
      response:
        body: '{"name":"testAcc-2460158546","platform":"IOS","id":"daekwr5429SpjyEbV1d7","osVersion":{"minimum":"12.4.5"},"jailbreak":false,"screenLockType":{"include":["BIOMETRIC"]},"displayRemediationMode":"HIDE","createdDate":"2025-03-13T23:35:38.000Z","createdBy":"00u5qwjvk7u6E1DFG1d7","lastUpdate":"2025-03-13T23:35:38.000Z","lastUpdatedBy":"00u5qwjvk7u6E1DFG1d7","resourceDisplayName":{"value":"testAcc-2460158546","sensitive":false},"resourceType":"DeviceAssurancePolicyEntity","resourceId":"daekwr5429SpjyEbV1d7","_links":{"self":{"href":"https://oie-00.dne-okta.com/api/v1/device-assurances/daekwr5429SpjyEbV1d7","hints":{"allow":["GET","PUT","DELETE"]}}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 266.001875ms
    - id: 1
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/device-assurances/daekwr5429SpjyEbV1d7
        method: GET
      response:
        body: '{"name":"testAcc-2460158546","platform":"IOS","id":"daekwr5429SpjyEbV1d7","osVersion":{"minimum":"12.4.5"},"jailbreak":false,"screenLockType":{"include":["BIOMETRIC"]},"displayRemediationMode":"HIDE","createdDate":"2025-03-13T23:35:38.000Z","createdBy":"00u5qwjvk7u6E1DFG1d7","lastUpdate":"2025-03-13T23:35:38.000Z","lastUpdatedBy":"00u5qwjvk7u6E1DFG1d7","resourceId":"daekwr5429SpjyEbV1d7","resourceDisplayName":{"value":"testAcc-2460158546","sensitive":false},"resourceType":"DeviceAssurancePolicyEntity","_links":{"self":{"href":"https://oie-00.dne-okta.com/api/v1/device-assurances/daekwr5429SpjyEbV1d7","hints":{"allow":["GET","PUT","DELETE"]}}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 588.39525ms
[...]
