---
version: 2
interactions:
    - id: 0
      request:
        host: classic-00.dne-okta.com
        body: |
            {"credentials":{"password":{}},"profile":{"email":"testAcc-1865354041@example.com","firstName":"TestAcc","lastName":"Smith","login":"testAcc-1865354041@example.com","postalAddress":null}}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://classic-00.dne-okta.com/api/v1/users
        method: POST
      response:
        body: '{"id":"00u9i7bqduO9QH7pI1d7","status":"PROVISIONED","created":"2023-08-16T00:07:47.000Z","activated":"2023-08-16T00:07:47.000Z","statusChanged":"2023-08-16T00:07:47.000Z","lastLogin":null,"lastUpdated":"2023-08-16T00:07:47.000Z","passwordChanged":null,"type":{"id":"oty5ptm052JMcoADv1d7"},"profile":{"firstName":"TestAcc","lastName":"Smith","mobilePhone":null,"secondEmail":null,"login":"testAcc-1865354041@example.com","email":"testAcc-1865354041@example.com"},"credentials":{"provider":{"type":"OKTA","name":"OKTA"}},"_links":{"suspend":{"href":"https://classic-00.oktapreview.com/api/v1/users/00u9i7bqduO9QH7pI1d7/lifecycle/suspend","method":"POST"},"schema":{"href":"https://classic-00.oktapreview.com/api/v1/meta/schemas/user/osc5ptm052JMcoADv1d7"},"resetPassword":{"href":"https://classic-00.oktapreview.com/api/v1/users/00u9i7bqduO9QH7pI1d7/lifecycle/reset_password","method":"POST"},"reactivate":{"href":"https://classic-00.oktapreview.com/api/v1/users/00u9i7bqduO9QH7pI1d7/lifecycle/reactivate","method":"POST"},"self":{"href":"https://classic-00.oktapreview.com/api/v1/users/00u9i7bqduO9QH7pI1d7"},"type":{"href":"https://classic-00.oktapreview.com/api/v1/meta/types/user/oty5ptm052JMcoADv1d7"},"deactivate":{"href":"https://classic-00.oktapreview.com/api/v1/users/00u9i7bqduO9QH7pI1d7/lifecycle/deactivate","method":"POST"}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 397.511706ms
    - id: 1
      request:
        host: classic-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/users/00u9i7bqduO9QH7pI1d7
        method: GET
      response:
        body: '{"id":"00u9i7bqduO9QH7pI1d7","status":"PROVISIONED","created":"2023-08-16T00:07:47.000Z","activated":"2023-08-16T00:07:47.000Z","statusChanged":"2023-08-16T00:07:47.000Z","lastLogin":null,"lastUp[...]
    - id: 2
      request:
        host: classic-00.dne-okta.com
        body: |
            {"type":"APP_ADMIN"}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://classic-00.dne-okta.com/api/v1/users/00u9i7bqduO9QH7pI1d7/roles?disableNotifications=false
        method: POST
      response:
        body: '{"id":"IFIFAX2BIRGUSTQ","label":"Application Administrator","type":"APP_ADMIN","status":"ACTIVE","created":"2023-08-16T00:07:47.000Z","lastUpdated":"2023-08-16T00:07:47.000Z","assignmentType":"USER","_links":{"assignee":{"href":"https://classic-00.oktapreview.com/api/v1/users/00u9i7bqduO9QH7pI1d7"}}}'
        headers:
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 181.854197ms
[...]
    - id: 5
      request:
        host: classic-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/users/00u9i7bqduO9QH7pI1d7/roles
        method: GET
      response:
        body: '[{"id":"IFIFAX2BIRGUSTQ","label":"Application Administrator","type":"APP_ADMIN","status":"ACTIVE","created":"2023-08-16T00:07:48.000Z","lastUpdated":"2023-08-16T00:07:48.000Z","assignmentType":"USER","_links":{"assignee":{"href":"https://classic-00.oktapreview.com/api/v1/users/00u9i7bqduO9QH7pI1d7"}}},{"id":"KVJUKUS7IFCE2SKO","label":"Group Administrator","type":"USER_ADMIN","status":"ACTIVE","created":"2023-08-16T00:07:48.000Z","lastUpdated":"2023-08-16T00:07:48.000Z","assignmentType":"USER","_links":{"assignee":{"href":"https://classic-00.oktapreview.com/api/v1/users/00u9i7bqduO9QH7pI1d7"}}}]'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 64.151187ms
[...]
    - id: 15
      request:
        host: classic-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/users/00u9i7bqduO9QH7pI1d7/roles/KVJUKUS7IFCE2SKO
        method: DELETE
      response:
        body: ""
        headers:
        status: 204 No Content
        code: 204
        duration: 108.173896ms
    - id: 16
      request:
        host: classic-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/users/00u9i7bqduO9QH7pI1d7/roles/JBCUYUC7IRCVGS27IFCE2SKO
        method: DELETE
      response:
        body: ""
        headers:
        status: 204 No Content
        code: 204
        duration: 107.119275ms
[...]
    - id: 20
      request:
        host: classic-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/users/00u9i7bqduO9QH7pI1d7/roles/IFIFAX2BIRGUSTQ
        method: DELETE
      response:
        body: ""
        headers:
        status: 204 No Content
        code: 204
        duration: 328.250748ms
[...]
    - id: 23
      request:
        host: classic-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/users/00u9i7bqduO9QH7pI1d7
        method: GET
      response:
        body: '{"errorCode":"E0000007","errorSummary":"Not found: Resource not found: 00u9i7bqduO9QH7pI1d7 (User)","errorLink":"E0000007","errorId":"oae7x5AWTShTEqqKyeUuaGcZw","errorCauses":[]}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 84.834143ms
[...]
