---
version: 2
interactions:
    - id: 0
      request:
        host: oie-00.dne-okta.com
        body: |
            {"credentials":{"password":{}},"profile":{"email":"testAcc-1865354041@example.com","firstName":"TestAcc","lastName":"Smith","login":"testAcc-1865354041@example.com","postalAddress":null}}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://oie-00.dne-okta.com/api/v1/users
        method: POST
      response:
        body: '{"id":"00u9i76yrjvor7xJk1d7","status":"PROVISIONED","created":"2023-08-15T23:47:56.000Z","activated":"2023-08-15T23:47:56.000Z","statusChanged":"2023-08-15T23:47:56.000Z","lastLogin":null,"lastUpdated":"2023-08-15T23:47:56.000Z","passwordChanged":null,"type":{"id":"oty5qwjvh0Vy1j8Kd1d7"},"profile":{"firstName":"TestAcc","lastName":"Smith","mobilePhone":null,"secondEmail":null,"login":"testAcc-1865354041@example.com","email":"testAcc-1865354041@example.com"},"credentials":{"provider":{"type":"OKTA","name":"OKTA"}},"_links":{"suspend":{"href":"https://oie-00.oktapreview.com/api/v1/users/00u9i76yrjvor7xJk1d7/lifecycle/suspend","method":"POST"},"schema":{"href":"https://oie-00.oktapreview.com/api/v1/meta/schemas/user/osc5qwjvh0Vy1j8Kd1d7"},"resetPassword":{"href":"https://oie-00.oktapreview.com/api/v1/users/00u9i76yrjvor7xJk1d7/lifecycle/reset_password","method":"POST"},"reactivate":{"href":"https://oie-00.oktapreview.com/api/v1/users/00u9i76yrjvor7xJk1d7/lifecycle/reactivate","method":"POST"},"self":{"href":"https://oie-00.oktapreview.com/api/v1/users/00u9i76yrjvor7xJk1d7"},"resetFactors":{"href":"https://oie-00.oktapreview.com/api/v1/users/00u9i76yrjvor7xJk1d7/lifecycle/reset_factors","method":"POST"},"type":{"href":"https://oie-00.oktapreview.com/api/v1/meta/types/user/oty5qwjvh0Vy1j8Kd1d7"},"deactivate":{"href":"https://oie-00.oktapreview.com/api/v1/users/00u9i76yrjvor7xJk1d7/lifecycle/deactivate","method":"POST"}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 533.41833ms
    - id: 1
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/users/00u9i76yrjvor7xJk1d7
        method: GET
      response:
        body: '{"id":"00u9i76yrjvor7xJk1d7","status":"PROVISIONED","created":"2023-08-15T23:47:56.000Z","activated":"2023-08-15T23:47:56.000Z","statusChanged":"2023-08-15T23:47:56.000Z","lastLogin":null,"lastUpdated":"[...]
    - id: 2
      request:
        host: oie-00.dne-okta.com
        body: |
            {"type":"APP_ADMIN"}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://oie-00.dne-okta.com/api/v1/users/00u9i76yrjvor7xJk1d7/roles?disableNotifications=false
        method: POST
      response:
        body: '{"id":"IFIFAX2BIRGUSTQ","label":"Application Administrator","type":"APP_ADMIN","status":"ACTIVE","created":"2023-08-15T23:47:56.000Z","lastUpdated":"2023-08-15T23:47:56.000Z","assignmentType":"USER","_links":{"assignee":{"href":"https://oie-00.oktapreview.com/api/v1/users/00u9i76yrjvor7xJk1d7"}}}'
        headers:
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 208.525681ms
[...]
    - id: 5
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/users/00u9i76yrjvor7xJk1d7/roles
        method: GET
      response:
        body: '[{"id":"IFIFAX2BIRGUSTQ","label":"Application Administrator","type":"APP_ADMIN","status":"ACTIVE","created":"2023-08-15T23:47:57.000Z","lastUpdated":"2023-08-15T23:47:57.000Z","assignmentType":"USER","_links":{"assignee":{"href":"https://oie-00.oktapreview.com/api/v1/users/00u9i76yrjvor7xJk1d7"}}},{"id":"KVJUKUS7IFCE2SKO","label":"Group Administrator","type":"USER_ADMIN","status":"ACTIVE","created":"2023-08-15T23:47:57.000Z","lastUpdated":"2023-08-15T23:47:57.000Z","assignmentType":"USER","_links":{"assignee":{"href":"https://oie-00.oktapreview.com/api/v1/users/00u9i76yrjvor7xJk1d7"}}}]'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 82.763663ms
[...]
    - id: 15
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/users/00u9i76yrjvor7xJk1d7/roles/KVJUKUS7IFCE2SKO
        method: DELETE
      response:
        body: ""
        headers:
        status: 204 No Content
        code: 204
        duration: 108.113882ms
    - id: 16
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/users/00u9i76yrjvor7xJk1d7/roles/JBCUYUC7IRCVGS27IFCE2SKO
        method: DELETE
      response:
        body: ""
        headers:
        status: 204 No Content
        code: 204
        duration: 106.727742ms
[...]
    - id: 20
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/users/00u9i76yrjvor7xJk1d7/roles/IFIFAX2BIRGUSTQ
        method: DELETE
      response:
        body: ""
        headers:
        status: 204 No Content
        code: 204
        duration: 180.331886ms
[...]
    - id: 23
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/users/00u9i76yrjvor7xJk1d7
        method: GET
      response:
        body: '{"errorCode":"E0000007","errorSummary":"Not found: Resource not found: 00u9i76yrjvor7xJk1d7 (User)","errorLink":"E0000007","errorId":"oaeVfwtBpp-SVi8GWEi3mYNlQ","errorCauses":[]}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 70.562029ms
[...]
