---
version: 2
interactions:
    - id: 0
      request:
        host: oie-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/.well-known/okta-organization
        method: GET
      response:
        body: '{"id":"00onkw1sbuAh3Q06I1d7","cell":"op3","_links":{"organization":{"href":"https://oie-00.dne-okta.com"}},"pipeline":"idx","settings":{"analyticsCollectionEnabled":false,"bugReportingEnabled":true,"omEnabled":false,"pssoEnabled":true,"desktopMFAEnabled":true,"itpEnabled":true}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.146508208s
    - id: 1
      request:
        host: oie-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/authenticators
        method: GET
      response:
        body: '[{"type":"app","id":"autsmry3961LkISL51d7","key":"custom_app","status":"ACTIVE","name":"Custom App Authenticator","created":"2025-12-12T16:33:39.000Z","lastUpdated":"2025-12-12T16:33:39.000Z","settings":{"appInstanceId":"0oasmrwi2idPlS77z1d7","userVerification":"PREFERRED","oauthClientId":"0oasmrwi2idPlS77z1d7"},"provider":{"type":"PUSH","configuration":{"fcm":{"id":"ppcrbo4q0bGL6WetY1d7"}}},"_links":{"self":{"href":"https://oie-00.dne-okta.com/api/v1/authenticators/autsmry3961LkISL51d7","hints":{"allow":["GET","PUT"]}},"deactivate":{"href":"https://oie-00.dne-okta.com/api/v1/authenticators/autsmry3961LkISL51d7/lifecycle/deactivate","hints":{"allow":["POST"]}},"methods":{"href":"https://oie-00.dne-okta.com/api/v1/authenticators/autsmry3961LkISL51d7/methods","hints":{"allow":["GET"]}},"enroll":{"href":"https://oie-00.dne-okta.com/idp/authenticators","hints":{"allow":["POST"]}}}},{"type":"security_key","id":"autqh8z6p5RQvxZsg1d7","key":"custom_otp","status":"ACTIVE","name":"Custom OTP","created":"2025-09-29T16:49:24.000Z","lastUpdated":"2025-09-29T16:49:25.000Z","_links":{"self":{"href":"https://oie-00.dne-okta.com/api/v1/authenticators/autqh8z6p5RQvxZsg1d7","hints":{"allow":["GET","PUT"]}},"deactivate":{"href":"https://oie-00.dne-okta.com/api/v1/authenticators/autqh8z6p5RQvxZsg1d7/lifecycle/deactivate","hints":{"allow":["POST"]}},"methods":{"href":"https://oie-00.dne-okta.com/api/v1/authenticators/autqh8z6p5RQvxZsg1d7/methods","hints":{"allow":["GET"]}}}},{"type":"security_key","id":"autp70491kdcUukHa1d7","key":"custom_otp","status":"INACTIVE","name":"Custom OTP Authenticator","created":"2025-08-15T09:04:14.000Z","lastUpdated":"2025-08-15T13:02:33.000Z","_links":{"self":{"href":"https://oie-00.dne-okta.com/api/v1/authenticators/autp70491kdcUukHa1d7","hints":{"allow":["GET","PUT"]}},"activate":{"href":"https://oie-00.dne-okta.com/api/v1/authenticators/autp70491kdcUukHa1d7/lifecycle/activate","hints":{"allow":["POST"]}},"methods":{"href":"https://oie-00.dne-okta.com/api/v1/authenticators/autp70491kdcUukHa1d7/methods","hints":{"allow":["GET"]}}}},{"type":"security_key","id":"autstibdcrPFJxHCi1d7","key":"custom_otp","status":"INACTIVE","name":"Custom OTP TF","created":"2025-12-18T06:38:16.000Z","lastUpdated":"2025-12-23T08:28:12.000Z","_links":{"self":{"href":"https://oie-00.dne-okta.com[...]
    - id: 2
      request:
        host: oie-00.dne-okta.com
        body: |
            {"key":"custom_otp","name":"tfOTP-3596503477","settings":{"acceptableAdjacentIntervals":3,"algorithm":"HMacSHA256","encoding":"base32","passCodeLength":6,"protocol":"TOTP","timeIntervalInSeconds":30}}
        form:
            activate:
                - "true"
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://oie-00.dne-okta.com/api/v1/authenticators?activate=true
        method: POST
      response:
        body: '{"type":"security_key","id":"autszndpjvr2A01Sm1d7","key":"custom_otp","status":"ACTIVE","name":"tfOTP-3596503477","created":"2025-12-23T11:22:26.000Z","lastUpdated":"2025-12-23T11:22:26.000Z","_links":{"self":{"href":"https://oie-00.dne-okta.com/api/v1/authenticators/autszndpjvr2A01Sm1d7","hints":{"allow":["GET","PUT"]}},"deactivate":{"href":"https://oie-00.dne-okta.com/api/v1/authenticators/autszndpjvr2A01Sm1d7/lifecycle/deactivate","hints":{"allow":["POST"]}},"methods":{"href":"https://oie-00.dne-okta.com/api/v1/authenticators/autszndpjvr2A01Sm1d7/methods","hints":{"allow":["GET"]}}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.300665875s
    - id: 3
      request:
        host: oie-00.dne-okta.com
        body: |
            {"settings":{"acceptableAdjacentIntervals":3,"algorithm":"HMacSHA256","encoding":"base32","passCodeLength":6,"protocol":"TOTP","timeIntervalInSeconds":30},"type":"otp"}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://oie-00.dne-okta.com/api/v1/authenticators/autszndpjvr2A01Sm1d7/methods/otp
        method: PUT
      response:
        body: '{"type":"otp","status":"ACTIVE","settings":{"protocol":"TOTP","timeIntervalInSeconds":30,"encoding":"base32","algorithm":"HMacSHA256","passCodeLength":6,"acceptableAdjacentIntervals":3},"_links":{"self":{"href":"https://oie-00.dne-okta.com/api/v1/authenticators/autszndpjvr2A01Sm1d7/methods/otp","hints":{"allow":["GET","PUT"]}}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.176102083s
    - id: 4
      request:
        host: oie-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/authenticators/autszndpjvr2A01Sm1d7
        method: GET
      response:
        body: '{"type":"security_key","id":"autszndpjvr2A01Sm1d7","key":"custom_otp","status":"ACTIVE","name":"tfOTP-3596503477","created":"2025-12-23T11:22:26.000Z","lastUpdated":"2025-12-23T11:22:27.000Z","_links":{"self":{"href":"https://oie-00.dne-okta.com/api/v1/authenticators/autszndpjvr2A01Sm1d7","hints":{"allow":["GET","PUT"]}},"deactivate":{"href":"https://oie-00.dne-okta.com/api/v1/authenticators/autszndpjvr2A01Sm1d7/lifecycle/deactivate","hints":{"allow":["POST"]}},"methods":{"href":"https://oie-00.dne-okta.com/api/v1/authenticators/autszndpjvr2A01Sm1d7/methods","hints":{"allow":["GET"]}}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.134771125s
    - id: 5
      request:
        host: oie-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/authenticators/autszndpjvr2A01Sm1d7/lifecycle/deactivate
        method: POST
      response:
        body: '{"type":"security_key","id":"autszndpjvr2A01Sm1d7","key":"custom_otp","status":"INACTIVE","name":"tfOTP-3596503477","created":"2025-12-23T11:22:26.000Z","lastUpdated":"2025-12-23T11:22:33.000Z","_links":{"self":{"href":"https://oie-00.dne-okta.com/api/v1/authenticators/autszndpjvr2A01Sm1d7","hints":{"allow":["GET","PUT"]}},"activate":{"href":"https://oie-00.dne-okta.com/api/v1/authenticators/autszndpjvr2A01Sm1d7/lifecycle/activate","hints":{"allow":["POST"]}},"methods":{"href":"https://oie-00.dne-okta.com/api/v1/authenticators/autszndpjvr2A01Sm1d7/methods","hints":{"allow":["GET"]}}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.391002083s
