---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/policies?type=PASSWORD
    method: GET
  response:
    body: '[{"id":"00p5jjkl3vyvKWDUG1d7","status":"ACTIVE","name":"Default Policy","description":"The
      default policy applies in all situations if no other policy applies.","priority":1,"system":true,"conditions":{"people":{"groups":{"include":["00g5jjkl2rE3qHk0F1d7"]}},"authProvider":{"provider":"OKTA"}},"created":"2022-09-21T17:21:16.000Z","lastUpdated":"2023-01-11T20:32:46.000Z","settings":{"password":{"complexity":{"minLength":8,"minLowerCase":1,"minUpperCase":1,"minNumber":1,"minSymbol":0,"excludeUsername":true,"excludeAttributes":[]},"age":{"maxAgeDays":0,"expireWarnDays":0,"minAgeMinutes":0,"historyCount":4},"lockout":{"maxAttempts":10,"autoUnlockMinutes":0,"userLockoutNotificationChannels":[],"showLockoutFailures":false}},"recovery":{"factors":{"recovery_question":{"status":"ACTIVE","properties":{"complexity":{"minLength":4}}},"okta_email":{"status":"ACTIVE","properties":{"recoveryToken":{"tokenLifetimeMinutes":60}}},"okta_sms":{"status":"ACTIVE"},"okta_call":{"status":"INACTIVE"}}},"delegation":{"options":{"skipUnlock":false}}},"_links":{"self":{"href":"https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/policies/00p5jjkl3vyvKWDUG1d7","hints":{"allow":["GET","PUT"]}},"rules":{"href":"https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/policies/00p5jjkl3vyvKWDUG1d7/rules","hints":{"allow":["GET","POST"]}}},"type":"PASSWORD"}]'
    headers:
      Content-Type:
      - application/json
      Link:
      - <https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/policies?type=PASSWORD>;
        rel="self"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: |
      {"type":"PASSWORD","name":"testAcc_3513142087","status":"ACTIVE","priority":999,"conditions":{"network":{"connection":"ANYWHERE"}},"actions":{"passwordChange":{"access":"ALLOW"},"selfServicePasswordReset":{"access":"ALLOW"},"selfServiceUnlock":{"access":"DENY"}}}
    form: {}
    headers:
      Authorization:
      - SSWS REDACTED
      Content-Type:
      - application/json
    url: https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/policies/00p5jjkl3vyvKWDUG1d7/rules
    method: POST
  response:
    body: '{"id":"0pr6m9fgtlsBgu5MP1d7","status":"ACTIVE","name":"testAcc_3513142087","priority":1,"created":"2023-01-11T20:33:27.000Z","lastUpdated":"2023-01-11T20:33:27.000Z","system":false,"conditions":{"people":{"users":{"exclude":[]}},"network":{"connection":"ANYWHERE"}},"actions":{"passwordChange":{"access":"ALLOW"},"selfServicePasswordReset":{"access":"ALLOW"},"selfServiceUnlock":{"access":"DENY"}},"_links":{"self":{"href":"https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/policies/00p5jjkl3vyvKWDUG1d7/rules/0pr6m9fgtlsBgu5MP1d7","hints":{"allow":["GET","PUT","DELETE"]}},"deactivate":{"href":"https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/policies/00p5jjkl3vyvKWDUG1d7/rules/0pr6m9fgtlsBgu5MP1d7/lifecycle/deactivate","hints":{"allow":["POST"]}}},"type":"PASSWORD"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/policies/00p5jjkl3vyvKWDUG1d7
    method: GET
  response:
    body: '{"id":"00p5jjkl3vyvKWDUG1d7","status":"ACTIVE","name":"Default Policy","description":"The
      default policy applies in all situations if no other policy applies.","priority":1,"system":true,"conditions":{"people":{"groups":{"include":["00g5jjkl2rE3qHk0F1d7"]}},"authProvid[...]
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/policies/00p5jjkl3vyvKWDUG1d7/rules/0pr6m9fgtlsBgu5MP1d7
    method: GET
  response:
    body: '{"id":"0pr6m9fgtlsBgu5MP1d7","status":"ACTIVE","name":"testAcc_3513142087","priority":1,"created":null,"lastUpdated":null,"system":false,"conditions":{"people":{"users":{"exclude":[]}},"network":{"connection":"ANYWHERE"}},"actions":{"passwordChange":{"access":"ALLOW"},"selfServicePasswordReset":{"access":"ALLOW"},"selfServiceUnlock":{"access":"DENY"}},"_links":{"self":{"href":"https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/policies/00p5jjkl3vyvKWDUG1d7/rules/0pr6m9fgtlsBgu5MP1d7","hints":{"allow":["GET","PUT","DELETE"]}},"deactivate":{"href":"https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/policies/00p5jjkl3vyvKWDUG1d7/rules/0pr6m9fgtlsBgu5MP1d7/lifecycle/deactivate","hints":{"allow":["POST"]}}},"type":"PASSWORD"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
