---
version: 2
interactions:
    - id: 0
      request:
        host: oie-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/zones/nzo1x48tm4y10Y5h01d8
        method: GET
      response:
        body: '{"type":"IP","id":"nzo1x48tm4y10Y5h01d8","name":"BlockedIpZone","status":"ACTIVE","usage":"BLOCKLIST","created":"2025-07-23T15:09:39.000Z","lastUpdated":"2026-03-05T07:18:18.000Z","system":true,"gateways":null,"proxies":null,"_links":{"self":{"href":"https://oie-00.dne-okta.com/api/v1/zones/nzo1x48tm4y10Y5h01d8","hints":{"allow":["GET","PUT","DELETE"]}},"deactivate":{"href":"https://oie-00.dne-okta.com/api/v1/zones/nzo1x48tm4y10Y5h01d8/lifecycle/deactivate","hints":{"allow":["POST"]}}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.216127333s
[...]
