---
version: 2
interactions:
    - id: 0
      request:
        host: oie-00.dne-okta.com
        body: |
            {"label":"testAcc_2379666866","description":"testing, testing","resources":["https://oie-00.dne-okta.com/api/v1/users"]}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://oie-00.dne-okta.com/api/v1/iam/resource-sets
        method: POST
      response:
        body: '{"id":"iamzyvpzy1O9oRv511d7","label":"testAcc_2379666866","description":"testing, testing","created":"2026-06-12T09:26:37.000Z","lastUpdated":"2026-06-12T09:26:37.000Z","_links":{"bindings":{"href":"https://oie-00.dne-okta.com/api/v1/iam/resource-sets/iamzyvpzy1O9oRv511d7/bindings"},"self":{"href":"https://oie-00.dne-okta.com/api/v1/iam/resource-sets/iamzyvpzy1O9oRv511d7"},"resources":{"href":"https://oie-00.dne-okta.com/api/v1/iam/resource-sets/iamzyvpzy1O9oRv511d7/resources"}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
            Link:
                - <https://oie-00.dne-okta.com/api/v1/iam/resource-sets/iamzyvpzy1O9oRv511d7>; rel="self"
        status: 200 OK
        code: 200
        duration: 1.189509458s
    - id: 1
      request:
        host: oie-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/iam/resource-sets/iamzyvpzy1O9oRv511d7
        method: GET
      response:
        body: '{"id":"iamzyvpzy1O9oRv511d7","label":"testAcc_2379666866","description":"testing, testing","created":"2026-06-12T09:26:37.000Z","lastUpdated":"2026-06-12T09:26:37.000Z","_links":{"bindings":{"href":"https://oie-00.dne-okta.com/api/v1/iam/resource-sets/iamzyvpzy1O9oRv511d7/bindings"},"self":{"href":"https://oie-00.dne-okta.com/api/v1/iam/resource-sets/iamzyvpzy1O9oRv511d7"},"resources":{"href":"https://oie-00.dne-okta.com/api/v1/iam/resource-sets/iamzyvpzy1O9oRv511d7/resources"}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
            Link:
                - <https://oie-00.dne-okta.com/api/v1/iam/resource-sets/iamzyvpzy1O9oRv511d7>; rel="self"
        status: 200 OK
        code: 200
        duration: 1.12502675s
    - id: 2
      request:
        host: oie-00.dne-okta.com
        form:
            limit:
                - "200"
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/iam/resource-sets/iamzyvpzy1O9oRv511d7/resources?limit=200
        method: GET
      response:
        body: '{"resources":[{"id":"irezyvpzy2n3EFDP21d7","orn":"orn:oktapreview:directory:00onkw1sbuAh3Q06I1d7:users","created":"2026-06-12T09:26:37.000Z","lastUpdated":"2026-06-12T09:26:37.000Z","_links":{"self":{"href":"https://oie-00.dne-okta.com/api/v1/users"},"resource":{"href":"https://oie-00.dne-okta.com/api/v1/iam/resource-sets/iamzyvpzy1O9oRv511d7/resources/irezyvpzy2n3EFDP21d7"},"users":{"href":"https://oie-00.dne-okta.com/api/v1/users"}}}],"_links":{"resource-set":{"href":"https://oie-00.dne-okta.com/api/v1/iam/resource-sets/iamzyvpzy1O9oRv511d7"},"self":{"href":"https://oie-00.dne-okta.com/api/v1/iam/resource-sets/iamzyvpzy1O9oRv511d7/resources"}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
            Link:
                - <https://oie-00.dne-okta.com/api/v1/iam/resource-sets/iamzyvpzy1O9oRv511d7/resources>; rel="self"
        status: 200 OK
        code: 200
        duration: 1.1134295s
[...]
