---
version: 2
interactions:
    - id: 0
      request:
        host: oie-00.dne-okta.com
        body: |
            {"action":"none"}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://oie-00.dne-okta.com/api/v1/threats/configuration
        method: POST
      response:
        body: '{"action":"none","excludeZones":[],"created":"2022-10-07T23:16:58.000Z","lastUpdated":"2023-08-15T23:47:48.000Z","_links":{"self":{"href":"https://oie-00.oktapreview.com/api/v1/threats/configuration","hints":{"allow":["GET","POST"]}}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 228.819868ms
[...]
    - id: 3
      request:
        host: oie-00.dne-okta.com
        body: |
            {"gateways":[{"type":"RANGE","value":"2.3.4.5-2.3.4.15"},{"type":"CIDR","value":"1.2.3.4/24"}],"name":"testAcc_4044049244","proxies":[{"type":"CIDR","value":"2.2.3.4/24"},{"type":"RANGE","value":"3.3.4.5-3.3.4.15"}],"status":"ACTIVE","type":"IP","usage":"POLICY"}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://oie-00.dne-okta.com/api/v1/zones
        method: POST
      response:
        body: '{"type":"IP","id":"nzo9i73mp77jshjHo1d7","name":"testAcc_4044049244","status":"ACTIVE","usage":"POLICY","created":"2023-08-15T23:47:49.000Z","lastUpdated":"2023-08-15T23:47:49.000Z","system":false,"gateways":[{"type":"RANGE","value":"2.3.4.5-2.3.4.15"},{"type":"CIDR","value":"1.2.3.4/24"}],"proxies":[{"type":"CIDR","value":"2.2.3.4/24"},{"type":"RANGE","value":"3.3.4.5-3.3.4.15"}],"_links":{"self":{"href":"https://oie-00.oktapreview.com/api/v1/zones/nzo9i73mp77jshjHo1d7","hints":{"allow":["GET","PUT","DELETE"]}},"deactivate":{"href":"https://oie-00.oktapreview.com/api/v1/zones/nzo9i73mp77jshjHo1d7/lifecycle/deactivate","hints":{"allow":["POST"]}}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 68.22488ms
    - id: 4
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/zones/nzo9i73mp77jshjHo1d7
        method: GET
      response:
        body: '{"type":"IP","id":"nzo9i73mp77jshjHo1d7","name":"testAcc_4044049244","status":"ACTIVE","usage":"POLICY","created":"2023-08-15T23:47:49.000Z","lastUpdated":"2023-08-15T23:47:49.000Z","system":false,"gateways":[{"type":"RANGE","value":"2.3.4.5-2.3.4.15"},{"type":"CIDR","value":"1.2.3.4/24"}],"proxies":[{"type":"CIDR","value":"2.2.3.4/24"},{"type":"RANGE","value":"3.3.4.5-3.3.4.15"}],"_links":{"self":{"href":"https://oie-00.oktapreview.com/api/v1/zones/nzo9i73mp77jshjHo1d7","hints":{"allow":["GET","PUT","DELETE"]}},"deactivate":{"href":"https://oie-00.oktapreview.com/api/v1/zones/nzo9i73mp77jshjHo1d7/lifecycle/deactivate","hints":{"allow":["POST"]}}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 59.211603ms
[...]
