---
version: 2
interactions:
    - id: 0
      request:
        host: tien-00.dne-okta.com
        body: |
            {"accessibility":{"selfService":false},"credentials":{"userNameTemplate":{"template":"${source.login}","type":"BUILT_IN"},"oauthClient":{"autoKeyRotation":true,"pkce_required":true,"token_endpoint_auth_method":"client_secret_basic"}},"label":"testAcc_688444130","name":"oidc_client","settings":{"app":{},"implicitAssignment":false,"notes":{"admin":null,"enduser":null},"oauthClient":{"application_type":"browser","consent_method":"TRUSTED","grant_types":["authorization_code","refresh_token"],"idp_initiated_login":{"default_scope":[],"mode":"DISABLED"},"issuer_mode":"ORG_URL","redirect_uris":["http://d.com/aaa"],"refresh_token":{"leeway":0,"rotation_type":"STATIC"},"response_types":["code"],"wildcard_redirect":"DISABLED"}},"signOnMode":"OPENID_CONNECT","visibility":{"autoSubmitToolbar":false,"hide":{"iOS":true,"web":true}}}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://tien-00.dne-okta.com/api/v1/apps?activate=true
        method: POST
      response:
        body: '{"id":"0oaa9b4bykOvueSkU1d7","name":"oidc_client","label":"testAcc_688444130","status":"ACTIVE","lastUpdated":"2023-09-27T21:10:32.000Z","created":"2023-09-27T21:10:32.000Z","accessibility":{"selfService":false,"errorRedirectUrl":null,"loginRedirectUrl":null},"visibility":{"autoLaunch":false,"autoSubmitToolbar":false,"hide":{"iOS":true,"web":true},"appLinks":{"oidc_client_link":true}},"features":[],"signOnMode":"OPENID_CONNECT","credentials":{"userNameTemplate":{"template":"${source.login}","type":"BUILT_IN"},"signing":{"kid":"77lqmtM1qfu0OOUjLALDhJkfz2VIw3vtPuZbwzKAX7U"},"oauthClient":{"autoKeyRotation":true,"client_id":"0oaa9b4bykOvueSkU1d7","client_secret":"qGdtOcbqg43z1XsfmPJ9__SJZCTQc8Z-6ReM0krjcdA3iAojzZmj02nNXu84XzXG","token_endpoint_auth_method":"client_secret_basic","pkce_required":true}},"settings":{"app":{},"notifications":{"vpn":{"network":{"connection":"DISABLED"},"message":null,"helpUrl":null}},"manualProvisioning":false,"implicitAssignment":false,"notes":{"admin":null,"enduser":null},"oauthClient":{"client_uri":null,"logo_uri":null,"redirect_uris":["http://d.com/aaa"],"response_types":["code"],"grant_types":["authorization_code","refresh_token"],"application_type":"browser","consent_method":"TRUSTED","issuer_mode":"ORG_URL","refresh_token":{"rotation_type":"STATIC"},"idp_initiated_login":{"mode":"DISABLED","default_scope":[]},"wildcard_redirect":"DISABLED"}},"_links":{"uploadLogo":{"href":"https://tien-00.oktapreview.com/api/v1/apps/0oaa9b4bykOvueSkU1d7/logo","hints":{"allow":["POST"]}},"appLinks":[{"name":"oidc_client_link","href":"https://tien-00.oktapreview.com/home/oidc_client/0oaa9b4bykOvueSkU1d7/aln177a159h7Zf52X0g8","type":"text/html"}],"profileEnrollment":{"href":"https://tien-00.oktapreview.com/api/v1/policies/rsta8lle9vaUhiHYm1d7"},"policies":{"href":"https://tien-00.oktapreview.com/api/v1/apps/0oaa9b4bykOvueSkU1d7/policies","hints":{"allow":["PUT"]}},"groups":{"href":"https://tien-00.oktapreview.com/api/v1/apps/0oaa9b4bykOvueSkU1d7/groups"},"logo":[{"name":"medium","href":"https://op3static.oktacdn.com/assets/img/logos/default.6770228fb0dab49a1695ef440a5279bb.png","type":"image/png"}],"clientCredentials":[{"name":"secrets","href":"https://tien-00.oktapreview.com/api/v1/apps/0oaa9b4bykOvueSkU1d7/credentials/secrets"}],"accessPolicy":{"href":"https://tien-00.oktapreview.com/api/v1/policies/rsta8lle9tWJGTfip1d7"},"users":{"href":"https://tien-00.oktapreview.com/api/v1/apps/0oaa9b4bykOvueSkU1d7/users"},"deactivate":{"href":"https://tien-00.oktapreview.com/api/v1/apps/0oaa9b4bykOvueSkU1d7/lifecycle/deactivate"}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.072830708s
    - id: 1
      request:
        host: tien-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://tien-00.dne-okta.com/.well-known/okta-organization
        method: GET
      response:
        body: '{"id":"00oa8lle3xh8dwwO31d7","cell":"op3","_links":{"organization":{"href":"https://tien-00.oktapreview.com"}},"pipeline":"idx","settings":{"analyticsCollectionEnabled":false,"bugReportingEnabled":true,"omEnabled":false,"pssoEnabled":false}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 82.441667ms
    - id: 2
      request:
        host: tien-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://tien-00.dne-okta.com/api/v1/policies?type=ACCESS_POLICY
        method: GET
      response:
        body: '[{"id":"rsta8lle8kRInxDM61d7","status":"ACTIVE","name":"Okta Admin Console","priority":1,"system":false,"conditions":null,"created":"2023-09-26T15:36:05.000Z","lastUpdated":"2023-09-26T15:36:05.000Z","_links":{"self":{"href":"https://tien-00.oktapreview.com/api/v1/policies/rsta8lle8kRInxDM61d7","hints":{"allow":["GET","PUT","DELETE"]}},"rules":{"href":"https://tien-00.oktapreview.com/api/v1/policies/rsta8lle8kRInxDM61d7/rules","hints":{"allow":["GET","POST"]}},"deactivate":{"href":"https://tien-00.oktapreview.com/api/v1/policies/rsta8lle8kRInxDM61d7/lifecycle/deactivate","hints":{"allow":["POST"]}}},"type":"ACCESS_POLICY"},{"id":"rsta8lle8rM5qACK11d7","status":"ACTIVE","name":"Okta Dashboard","priority":1,"system":false,"conditions":null,"created":"2023-09-26T15:36:05.000Z","lastUpdated":"2023-09-26T15:36:05.000Z","_links":{"self":{"h[...]
    - id: 3
      request:
        host: tien-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://tien-00.dne-okta.com/api/v1/apps/0oaa9b4bykOvueSkU1d7/policies/rsta8lle9tWJGTfip1d7
        method: PUT
      response:
        body: ""
        headers:
        status: 204 No Content
        code: 204
        duration: 161.888625ms
    - id: 4
      request:
        host: tien-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://tien-00.dne-okta.com/api/v1/apps/0oaa9b4bykOvueSkU1d7
        method: GET
      response:
        body: '{"id":"0oaa9b4bykOvueSkU1d7","name":"oidc_client","label":"testAcc_688444130","status":"ACTIVE","lastUpdated":"2023-09-27T21:10:32.000Z","created":"2023-09-27T21:10:32.000Z","accessibility":{"selfServic[...]
    - id: 5
      request:
        host: tien-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://tien-00.dne-okta.com/api/v1/internal/apps/0oaa9b4bykOvueSkU1d7/settings/oauth/idToken
        method: GET
      response:
        body: '{"issuer":"https://tien-00.oktapreview.com","orgUrl":null,"customUrl":null,"audience":"0oaa9b4bykOvueSkU1d7","issuerMode":"ORG_URL"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 97.272167ms
[...]
    - id: 29
      request:
        host: tien-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://tien-00.dne-okta.com/api/v1/apps/0oaa9b4bykOvueSkU1d7/lifecycle/deactivate
        method: POST
      response:
        body: '{}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 129.906541ms
[...]
    - id: 31
      request:
        host: tien-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://tien-00.dne-okta.com/api/v1/apps/0oaa9b4bykOvueSkU1d7
        method: GET
      response:
        body: '{"errorCode":"E0000007","errorSummary":"Not found: Resource not found: 0oaa9b4bykOvueSkU1d7 (AppInstance)","errorLink":"E0000007","errorId":"oae5qfpdt6jRfaoVY4L4dpAZA","errorCauses":[]}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 102.184292ms
