---
version: 2
interactions:
    - id: 0
      request:
        host: oie-00.dne-okta.com
        body: |
            {"name":"testAcc_4264572549","platform":"ANDROID","secureHardwarePresent":true}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://oie-00.dne-okta.com/api/v1/device-assurances
        method: POST
      response:
        body: '{"name":"testAcc_4264572549","platform":"ANDROID","id":"dae14i5oofpz2wT5H1d8","secureHardwarePresent":true,"displayRemediationMode":"HIDE","createdDate":"2026-10-06T12:27:50.000Z","createdBy":"00utivnuu1aaKzqqO1d7","lastUpdate":"2026-10-06T12:27:50.000Z","lastUpdatedBy":"00utivnuu1aaKzqqO1d7","resourceType":"DeviceAssurancePolicyEntity","resourceDisplayName":{"value":"testAcc_4264572549","sensitive":false},"resourceId":"dae14i5oofpz2wT5H1d8","_links":{"self":{"href":"https://oie-00.dne-okta.com/api/v1/device-assurances/dae14i5oofpz2wT5H1d8","hints":{"allow":["GET","PUT","DELETE"]}}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.152564625s
    - id: 1
      request:
        host: oie-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/device-assurances/dae14i5oofpz2wT5H1d8
        method: GET
      response:
        body: '{"name":"testAcc_4264572549","platform":"ANDROID","id":"dae14i5oofpz2wT5H1d8","secureHardwarePresent":true,"displayRemediationMode":"HIDE","createdDate":"2026-10-06T12:27:50.000Z","createdBy":"00utivnuu1aaKzqqO1d7","lastUpdate":"2026-10-06T12:27:50.000Z","lastUpdatedBy":"00utivnuu1aaKzqqO1d7","resourceType":"DeviceAssurancePolicyEntity","resourceId":"dae14i5oofpz2wT5H1d8","resourceDisplayName":{"value":"testAcc_4264572549","sensitive":false},"_links":{"self":{"href":"https://oie-00.dne-okta.com/api/v1/device-assurances/dae14i5oofpz2wT5H1d8","hints":{"allow":["GET","PUT","DELETE"]}}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.081651917s
[...]
