---
version: 2
interactions:
    - id: 0
      request:
        host: classic-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/groups?limit=1&q=Everyone
        method: GET
      response:
        body: '[{"id":"00g5ptm04tzNvyznP1d7","created":"2022-10-04T23:20:18.000Z","lastUpdated":"2022-10-04T23:20:18.000Z","lastMembershipUpdated":"2023-08-16T00:02:31.000Z","objectClass":["okta:user_group"],"type":"BUILT_IN","profile":{"name":"Everyone","description":"All users in your organization"},"_links":{"logo":[{"name":"medium","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-medium.30ce6d4085dff29412984e4c191bc874.png","type":"image/png"},{"name":"large","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-large.c3cb8cda8ae0add1b4fe928f5844dbe3.png","type":"image/png"}],"users":{"href":"https://classic-00.oktapreview.com/api/v1/groups/00g5ptm04tzNvyznP1d7/users"},"apps":{"href":"https://classic-00.oktapreview.com/api/v1/groups/00g5ptm04tzNvyznP1d7/apps"}}}]'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 140.693371ms
[...]
    - id: 2
      request:
        host: classic-00.dne-okta.com
        body: |
            {"audiences":["whatever.rise.zone"],"credentials":{"signing":{"rotationMode":"AUTO"}},"description":"test","issuerMode":"ORG_URL","name":"testAcc_3847364127"}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://classic-00.dne-okta.com/api/v1/authorizationServers
        method: POST
      response:
        body: '{"errorCode":"E0000015","errorSummary":"You do not have permission to access the feature you are requesting","errorLink":"E0000015","errorId":"oae59r4ax1JSiaJJCBoC0fhxQ","errorCauses":[]}'
        headers:
            Content-Type:
                - application/json
        status: 401 Unauthorized
        code: 401
        duration: 63.965789ms
    - id: 3
      request:
        host: classic-00.dne-okta.com
        body: |
            {"channel":{"config":{"authScheme":{"key":"Authorization","type":"HEADER","value":"123"},"method":"POST","uri":"https://example.com/test"},"type":"HTTP","version":"1.0.0"},"name":"testAcc_3847364127","status":"ACTIVE","type":"com.okta.oauth2.tokens.transform","version":"1.0.1"}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://classic-00.dne-okta.com/api/v1/inlineHooks
        method: POST
      response:
        body: '{"id":"cal9i7dm7kW1phvC71d7","status":"ACTIVE","name":"testAcc_3847364127","type":"com.okta.oauth2.tokens.transform","version":"1.0.1","channel":{"type":"HTTP","version":"1.0.0","config":{"uri":"https://example.com/test","headers":[],"method":"POST","authScheme":{"type":"HEADER","key":"Authorization"}}},"created":"2023-08-16T00:02:39.000Z","lastUpdated":"2023-08-16T00:02:39.000Z","_links":{"self":{"href":"https://classic-00.oktapreview.com/api/v1/inlineHooks/cal9i7dm7kW1phvC71d7"},"execute":{"href":"https://classic-00.oktapreview.com/api/v1/inlineHooks/cal9i7dm7kW1phvC71d7/execute","hints":{"allow":["POST"]}},"deactivate":{"href":"https://classic-00.oktapreview.com/api/v1/inlineHooks/cal9i7dm7kW1phvC71d7/lifecycle/deactivate","hints":{"allow":["POST"]}}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 274.183959ms
    - id: 4
      request:
        host: classic-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/inlineHooks/cal9i7dm7kW1phvC71d7
        method: GET
      response:
        body: '{"id":"cal9i7dm7kW1phvC71d7","status":"ACTIVE","name":"testAcc_3847364127","type":"com.okta.oauth2.tokens.transform","version":"1.0.1","channel":{"type":"HTTP","version":"1.0.0","config":{"uri":"https://example.com/test","headers":[],"method":"POST","authScheme":{"type":"HEADER","key":"Authorization"}}},"created":"2023-08-16T00:02:39.000Z","lastUpdated":"2023-08-16T00:02:39.000Z","_links":{"self":{"href":"https://classic-00.oktapreview.com/api/v1/inlineHooks/cal9i7dm7kW1phvC71d7"},"execute":{"href":"https://classic-00.oktapreview.com/api/v1/inlineHooks/cal9i7dm7kW1phvC71d7/execute","hints":{"allow":["POST"]}},"deactivate":{"href":"https://classic-00.oktapreview.com/api/v1/inlineHooks/cal9i7dm7kW1phvC71d7/lifecycle/deactivate","hints":{"allow":["POST"]}}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 237.90769ms
    - id: 5
      request:
        host: classic-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/inlineHooks/cal9i7dm7kW1phvC71d7/lifecycle/deactivate
        method: POST
      response:
        body: '{"id":"cal9i7dm7kW1phvC71d7","status":"INACTIVE","name":"testAcc_3847364127","type":"com.okta.oauth2.tokens.transform","version":"1.0.1","channel":{"type":"HTTP","version":"1.0.0","config":{"uri":"https://example.com/test","headers":[],"method":"POST","authScheme":{"type":"HEADER","key":"Authorization"}}},"created":"2023-08-16T00:02:39.000Z","lastUpdated":"2023-08-16T00:02:40.000Z","_links":{"activate":{"href":"https://classic-00.oktapreview.com/api/v1/inlineHooks/cal9i7dm7kW1phvC71d7/lifecycle/activate","hints":{"allow":["POST"]}},"self":{"href":"https://classic-00.oktapreview.com/api/v1/inlineHooks/cal9i7dm7kW1phvC71d7"},"delete":{"href":"https://classic-00.oktapreview.com/api/v1/inlineHooks/cal9i7dm7kW1phvC71d7","hints":{"allow":["DELETE"]}}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 330.093443ms
[...]
