---
version: 2
interactions:
    - id: 0
      request:
        host: classic-00.dne-okta.com
        body: |
            {"name":"testAcc-3481107385","origin":"https://example-3481107385.com","scopes":[{"type":"CORS"}],"status":"ACTIVE"}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://classic-00.dne-okta.com/api/v1/trustedOrigins
        method: POST
      response:
        body: '{"id":"toskwurgcevGoTKpG1d7","name":"testAcc-3481107385","origin":"https://example-3481107385.com","scopes":[{"type":"CORS"}],"status":"ACTIVE","created":"2025-03-14T03:20:04.000Z","createdBy":"00u5ptm07rHbDyowI1d7","lastUpdated":"2025-03-14T03:20:04.000Z","lastUpdatedBy":"00u5ptm07rHbDyowI1d7","_links":{"self":{"href":"https://classic-00.dne-okta.com/api/v1/trustedOrigins/toskwurgcevGoTKpG1d7","hints":{"allow":["GET","PUT","DELETE"]}},"deactivate":{"href":"https://classic-00.dne-okta.com/api/v1/trustedOrigins/toskwurgcevGoTKpG1d7/lifecycle/deactivate","hints":{"allow":["POST"]}}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 233.098458ms
    - id: 1
      request:
        host: classic-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/trustedOrigins/toskwurgcevGoTKpG1d7
        method: GET
      response:
        body: '{"id":"toskwurgcevGoTKpG1d7","name":"testAcc-3481107385","origin":"https://example-3481107385.com","scopes":[{"type":"CORS"}],"status":"ACTIVE","created":"2025-03-14T03:20:04.000Z","createdBy":"00u5ptm07rHbDyowI1d7","lastUpdated":"2025-03-14T03:20:04.000Z","lastUpdatedBy":"00u5ptm07rHbDyowI1d7","_links":{"self":{"href":"https://classic-00.dne-okta.com/api/v1/trustedOrigins/toskwurgcevGoTKpG1d7","hints":{"allow":["GET","PUT","DELETE"]}},"deactivate":{"href":"https://classic-00.dne-okta.com/api/v1/trustedOrigins/toskwurgcevGoTKpG1d7/lifecycle/deactivate","hints":{"allow":["POST"]}}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 223.818709ms
[...]
    - id: 3
      request:
        host: classic-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/trustedOrigins/toskwurgcevGoTKpG1d7/lifecycle/deactivate
        method: POST
      response:
        body: '{"id":"toskwurgcevGoTKpG1d7","name":"testAcc-3481107385","origin":"https://example-3481107385.com","scopes":[{"type":"CORS"}],"status":"INACTIVE","created":"2025-03-14T03:20:04.000Z","createdBy":"00u5ptm07rHbDyowI1d7","lastUpdated":"2025-03-14T03:20:06.000Z","lastUpdatedBy":"00u5ptm07rHbDyowI1d7","_links":{"activate":{"href":"https://classic-00.dne-okta.com/api/v1/trustedOrigins/toskwurgcevGoTKpG1d7/lifecycle/activate","hints":{"allow":["POST"]}},"self":{"href":"https://classic-00.dne-okta.com/api/v1/trustedOrigins/toskwurgcevGoTKpG1d7","hints":{"allow":["GET","PUT","DELETE"]}}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 230.017458ms
[...]
