---
version: 2
interactions:
    - id: 0
      request:
        host: oie-00.dne-okta.com
        body: |
            {"name":"testAcc-3481107385","origin":"https://example-3481107385.com","scopes":[{"type":"CORS"}]}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://oie-00.dne-okta.com/api/v1/trustedOrigins
        method: POST
      response:
        body: '{"id":"tos1117tgq0m56dPu1d8","name":"testAcc-3481107385","origin":"https://example-3481107385.com","scopes":[{"type":"CORS"}],"status":"ACTIVE","created":"2026-07-07T07:54:44.000Z","createdBy":"00uucstzsm6FuzclQ1d7","lastUpdated":"2026-07-07T07:54:44.000Z","lastUpdatedBy":"00uucstzsm6FuzclQ1d7","_links":{"self":{"href":"https://oie-00.dne-okta.com/api/v1/trustedOrigins/tos1117tgq0m56dPu1d8","hints":{"allow":["GET","PUT","DELETE"]}},"deactivate":{"href":"https://oie-00.dne-okta.com/api/v1/trustedOrigins/tos1117tgq0m56dPu1d8/lifecycle/deactivate","hints":{"allow":["POST"]}}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.28709s
    - id: 1
      request:
        host: oie-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/trustedOrigins/tos1117tgq0m56dPu1d8
        method: GET
      response:
        body: '{"id":"tos1117tgq0m56dPu1d8","name":"testAcc-3481107385","origin":"https://example-3481107385.com","scopes":[{"type":"CORS"}],"status":"ACTIVE","created":"2026-07-07T07:54:44.000Z","createdBy":"00uucstzsm6FuzclQ1d7","lastUpdated":"2026-07-07T07:54:44.000Z","lastUpdatedBy":"00uucstzsm6FuzclQ1d7","_links":{"self":{"href":"https://oie-00.dne-okta.com/api/v1/trustedOrigins/tos1117tgq0m56dPu1d8","hints":{"allow":["GET","PUT","DELETE"]}},"deactivate":{"href":"https://oie-00.dne-okta.com/api/v1/trustedOrigins/tos1117tgq0m56dPu1d8/lifecycle/deactivate","hints":{"allow":["POST"]}}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.171221041s
[...]
    - id: 3
      request:
        host: oie-00.dne-okta.com
        body: |
            {"name":"testAcc-3481107385","origin":"https://example2-3481107385.com","scopes":[{"type":"CORS"},{"type":"REDIRECT"}],"status":"INACTIVE"}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://oie-00.dne-okta.com/api/v1/trustedOrigins/tos1117tgq0m56dPu1d8
        method: PUT
      response:
        body: '{"id":"tos1117tgq0m56dPu1d8","name":"testAcc-3481107385","origin":"https://example2-3481107385.com","scopes":[{"type":"CORS"},{"type":"REDIRECT"}],"status":"INACTIVE","created":"2026-07-07T07:54:44.000Z","createdBy":"00uucstzsm6FuzclQ1d7","lastUpdated":"2026-07-07T07:54:52.000Z","lastUpdatedBy":"00uucstzsm6FuzclQ1d7","_links":{"activate":{"href":"https://oie-00.dne-okta.com/api/v1/trustedOrigins/tos1117tgq0m56dPu1d8/lifecycle/activate","hints":{"allow":["POST"]}},"self":{"href":"https://oie-00.dne-okta.com/api/v1/trustedOrigins/tos1117tgq0m56dPu1d8","hints":{"allow":["GET","PUT","DELETE"]}}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.455994667s
[...]
