---
version: 2
interactions:
    - id: 0
      request:
        host: oie-00.dne-okta.com
        body: |
            {"name":"testAcc-3481107385","origin":"https://example-3481107385.com","scopes":[{"type":"CORS"}],"status":"ACTIVE"}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://oie-00.dne-okta.com/api/v1/trustedOrigins
        method: POST
      response:
        body: '{"id":"toskwr6z71zZ7zxl01d7","name":"testAcc-3481107385","origin":"https://example-3481107385.com","scopes":[{"type":"CORS"}],"status":"ACTIVE","created":"2025-03-13T23:43:59.000Z","createdBy":"00u5qwjvk7u6E1DFG1d7","lastUpdated":"2025-03-13T23:43:59.000Z","lastUpdatedBy":"00u5qwjvk7u6E1DFG1d7","_links":{"self":{"href":"https://oie-00.dne-okta.com/api/v1/trustedOrigins/toskwr6z71zZ7zxl01d7","hints":{"allow":["GET","PUT","DELETE"]}},"deactivate":{"href":"https://oie-00.dne-okta.com/api/v1/trustedOrigins/toskwr6z71zZ7zxl01d7/lifecycle/deactivate","hints":{"allow":["POST"]}}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 204.443917ms
    - id: 1
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/trustedOrigins/toskwr6z71zZ7zxl01d7
        method: GET
      response:
        body: '{"id":"toskwr6z71zZ7zxl01d7","name":"testAcc-3481107385","origin":"https://example-3481107385.com","scopes":[{"type":"CORS"}],"status":"ACTIVE","created":"2025-03-13T23:43:59.000Z","createdBy":"00u5qwjvk7u6E1DFG1d7","lastUpdated":"2025-03-13T23:43:59.000Z","lastUpdatedBy":"00u5qwjvk7u6E1DFG1d7","_links":{"self":{"href":"https://oie-00.dne-okta.com/api/v1/trustedOrigins/toskwr6z71zZ7zxl01d7","hints":{"allow":["GET","PUT","DELETE"]}},"deactivate":{"href":"https://oie-00.dne-okta.com/api/v1/trustedOrigins/toskwr6z71zZ7zxl01d7/lifecycle/deactivate","hints":{"allow":["POST"]}}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 219.343541ms
[...]
    - id: 3
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/trustedOrigins/toskwr6z71zZ7zxl01d7/lifecycle/deactivate
        method: POST
      response:
        body: '{"id":"toskwr6z71zZ7zxl01d7","name":"testAcc-3481107385","origin":"https://example-3481107385.com","scopes":[{"type":"CORS"}],"status":"INACTIVE","created":"2025-03-13T23:43:59.000Z","createdBy":"00u5qwjvk7u6E1DFG1d7","lastUpdated":"2025-03-13T23:44:00.000Z","lastUpdatedBy":"00u5qwjvk7u6E1DFG1d7","_links":{"activate":{"href":"https://oie-00.dne-okta.com/api/v1/trustedOrigins/toskwr6z71zZ7zxl01d7/lifecycle/activate","hints":{"allow":["POST"]}},"self":{"href":"https://oie-00.dne-okta.com/api/v1/trustedOrigins/toskwr6z71zZ7zxl01d7","hints":{"allow":["GET","PUT","DELETE"]}}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 217.138084ms
[...]
