---
version: 2
interactions:
- id: 0
  request:
    host: classic-00.dne-okta.com
    body: "{\"uiSchema\":{\"buttonLabel\":\"submit\",\"elements\":[{\"label\":\"Last Name\",\"options\":{\"format\":\"text\"},\"scope\":\"#/properties/lastName\",\"type\":\"Control\"}],\"label\":\"Sign in\",\"type\":\"Group\"}}\n"
    headers:
      Authorization:
      - SSWS REDACTED
      Content-Type:
      - application/json
    url: https://classic-00.dne-okta.com/api/v1/meta/uischemas
    method: POST
  response:
    body: "{\"id\":\"uissgx2v3zgbvPBGV1d7\",\"uiSchema\":{\"type\":\"Group\",\"label\":\"Sign in\",\"buttonLabel\":\"submit\",\"elements\":[{\"type\":\"Control\",\"scope\":\"#/properties/lastName\",\"label\":\"Last Name\",\"options\":{\"format\":\"text\"}}]},\"created\":\"2025-12-08T14:58:47.000Z\",\"lastUpdated\":\"2025-12-08T14:58:47.000Z\",\"_links\":{\"self\":{\"href\":\"https://classic-00.dne-okta.com/api/v1/meta/uischemas/uissgx2v3zgbvPBGV1d7\",\"hints\":{\"allow\":[\"GET\",\"PUT\",\"DELETE\"]}}}}"
    headers:
      Accept-Ch:
      - Sec-CH-UA-Platform-Version
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 1.45136525s
- id: 1
  request:
    host: classic-00.dne-okta.com
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://classic-00.dne-okta.com/api/v1/meta/uischemas/uissgx2v3zgbvPBGV1d7
    method: GET
  response:
    body: "{\"id\":\"uissgx2v3zgbvPBGV1d7\",\"uiSchema\":{\"type\":\"Group\",\"label\":\"Sign in\",\"buttonLabel\":\"submit\",\"elements\":[{\"type\":\"Control\",\"scope\":\"#/properties/lastName\",\"label\":\"Last Name\",\"options\":{\"format\":\"text\"}}]},\"created\":\"2025-12-08T14:58:47.000Z\",\"lastUpdated\":\"2025-12-08T14:58:47.000Z\",\"_links\":{\"self\":{\"href\":\"https://classic-00.dne-okta.com/api/v1/meta/uischemas/uissgx2v3zgbvPBGV1d7\",\"hints\":{\"allow\":[\"GET\",\"PUT\",\"DELETE\"]}}}}"
    headers:
      Accept-Ch:
      - Sec-CH-UA-Platform-Version
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 1.136454s
[...]
