---
version: 2
interactions:
    - id: 0
      request:
        host: oie-00.dne-okta.com
        body: |
            {"dataType":"array","description":"Some license entitlement","externalValue":"Entitlement Bundle","multiValue":true,"name":"Entitlement Bundle","parent":{"externalId":"0oatu8k9anRWwR1oq1d7","type":"APPLICATION"},"values":[{"description":"description for value1","externalValue":"value_1","name":"value1"},{"description":"description for value2","externalValue":"value_2","name":"value2"}]}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://oie-00.dne-okta.com/governance/api/v1/entitlements
        method: POST
      response:
        body: '{"parentResourceOrn":"orn:oktapreview:idp:00otivnuq1X5554yc1d7:apps:oidc_client:0oatu8k9anRWwR1oq1d7","parent":{"externalId":"0oatu8k9anRWwR1oq1d7","type":"APPLICATION"},"values":[{"id":"ent18b392ud9eP6Vv1d7","name":"value1","externalValue":"value_1","description":"description for value1","orn":"orn:okta:governance:00otivnuq1X5554yc1d7:entitlement-values:ent18b392ud9eP6Vv1d7","createdBy":"00utivnuu1aaKzqqO1d7","created":"2026-02-26T20:50:04Z","lastUpdated":"2026-02-26T20:50:04Z","lastUpdatedBy":"00utivnuu1aaKzqqO1d7"},{"id":"ent18b392v6T30aH21d7","name":"value2","externalValue":"value_2","description":"description for value2","orn":"orn:okta:governance:00otivnuq1X5554yc1d7:entitlement-values:ent18b392v6T30aH21d7","createdBy":"00utivnuu1aaKzqqO1d7","created":"2026-02-26T20:50:04Z","lastUpdated":"2026-02-26T20:50:04Z","lastUpdatedBy":"00utivnuu1aaKzqqO1d7"}],"_links":{"self":{"href":"https://oie-00-admin.dne-okta.com/governance/api/v1/entitlements/esp18b392t3dw6eAA1d7","hints":{}}},"metadata":{"total":2},"id":"esp18b392t3dw6eAA1d7","name":"Entitlement Bundle","externalValue":"Entitlement Bundle","description":"Some license entitlement","multiValue":true,"required":false,"dataType":"array","createdBy":"00utivnuu1aaKzqqO1d7","created":"2026-02-26T20:50:04.728Z","lastUpdated":"2026-02-26T20:50:04.728Z","lastUpdatedBy":"00utivnuu1aaKzqqO1d7"}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
            Link:
                - <https://oie-00-admin.dne-okta.com/governance/api/v1/entitlements/esp18b392t3dw6eAA1d7>; rel="self"
            Location:
                - https://dcp-tf-testing-2026-01-06-admin.oktapreview.com/governance/api/v1/entitlements/esp18b392t3dw6eAA1d7
        status: 201 Created
        code: 201
        duration: 1.193890208s
    - id: 1
      request:
        host: oie-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/governance/api/v1/entitlements/esp18b392t3dw6eAA1d7
        method: GET
      response:
        body: '{"parentResourceOrn":"orn:oktapreview:idp:00otivnuq1X5554yc1d7:apps:oidc_client:0oatu8k9anRWwR1oq1d7","parent":{"externalId":"0oatu8k9anRWwR1oq1d7","type":"APPLICATION"},"values":[{"id":"ent18b392ud9eP6Vv1d7","name":"va[...]
[...]
