---
version: 2
interactions:
    - id: 0
      request:
        host: mm-classic-2022-10-04.oktapreview.com
        body: |
            {"associated":{"description":"Subordinate link property","name":"testAcc_subordinate","title":"Subordinate","type":"USER"},"primary":{"description":"Manager link property","name":"testAcc_2079930244","title":"Manager","type":"USER"}}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://mm-classic-2022-10-04.oktapreview.com/api/v1/meta/schemas/user/linkedObjects
        method: POST
      response:
        body: '{"primary":{"name":"testAcc_2079930244","title":"Manager","description":"Manager link property","type":"USER"},"associated":{"name":"testAcc_subordinate","title":"Subordinate","description":"Subordinate link property","type":"USER"},"_links":{"self":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/meta/schemas/user/linkedObjects/testAcc_2079930244"}}}'
        headers:
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 137.226669ms
    - id: 1
      request:
        host: mm-classic-2022-10-04.oktapreview.com
        body: |
            {"credentials":{"password":{}},"profile":{"email":"testAcc_3@example.com","firstName":"TestAcc","lastName":"Smith","login":"testAcc_3@example.com","postalAddress":null}}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://mm-classic-2022-10-04.oktapreview.com/api/v1/users
        method: POST
      response:
        body: '{"id":"00u95v6kr7dz5pEui1d7","status":"PROVISIONED","created":"2023-07-27T20:31:27.000Z","activated":"2023-07-27T20:31:27.000Z","statusChanged":"2023-07-27T20:31:27.000Z","lastLogin":null,"lastUpdated":"2023-07-27T20:31:27.000Z","passwordChanged":null,"type":{"id":"oty5ptm052JMcoADv1d7"},"profile":{"firstName":"TestAcc","lastName":"Smith","mobilePhone":null,"secondEmail":null,"login":"testAcc_3@example.com","email":"testAcc_3@example.com"},"credentials":{"provider":{"type":"OKTA","name":"OKTA"}},"_links":{"suspend":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/users/00u95v6kr7dz5pEui1d7/lifecycle/suspend","method":"POST"},"schema":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/meta/schemas/user/osc5ptm052JMcoADv1d7"},"resetPassword":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/users/00u95v6kr7dz5pEui1d7/lifecycle/reset_password","method":"POST"},"reactivate":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/users/00u95v6kr7dz5pEui1d7/lifecycle/reactivate","method":"POST"},"self":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/users/00u95v6kr7dz5pEui1d7"},"type":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/meta/types/user/oty5ptm052JMcoADv1d7"},"deactivate":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/users/00u95v6kr7dz5pEui1d7/lifecycle/deactivate","method":"POST"}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 369.953454ms
[...]
    - id: 6
      request:
        host: mm-classic-2022-10-04.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-classic-2022-10-04.oktapreview.com/api/v1/users/00u95v6kr7dz5pEui1d7
        method: GET
      response:
        body: '{"id":"00u95v6kr7dz5pEui1d7","status":"PROVISIONED","created":"2023-07-27T20:31:27.000Z","activated":"2023-07-27T20:31:27.000Z","statusChanged":"2023-07-27T20:31:27.00[...]
    - id: 7
      request:
        host: mm-classic-2022-10-04.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-classic-2022-10-04.oktapreview.com/api/v1/users/00u95v714gAk2ZhkV1d7
        method: GET
      response:
        body: '{"id":"00u95v714gAk2ZhkV1d7","status":"PROVISIONED","created":"2023-07-27T20:31:27.000Z","activated":"2023-07-27T20:31:27.000Z","statusChanged":"2023-07-27T20:31:27.00[...]
    - id: 8
      request:
        host: mm-classic-2022-10-04.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-classic-2022-10-04.oktapreview.com/api/v1/users/00u95v314ekpRc6VI1d7
        method: GET
      response:
        body: '{"id":"00u95v314ekpRc6VI1d7","status":"PROVISIONED","created":"2023-07-27T20:31:27.000Z","activated":"2023-07-27T20:31:27.000Z","statusChanged":"2023-07-27T20:31:27.00[...]
    - id: 9
      request:
        host: mm-classic-2022-10-04.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-classic-2022-10-04.oktapreview.com/api/v1/users/00u95v8ekdH4UlL5P1d7
        method: GET
      response:
        body: '{"id":"00u95v8ekdH4UlL5P1d7","status":"PROVISIONED","created":"2023-07-27T20:31:27.000Z","activated":"2023-07-27T20:31:27.000Z","statusChanged":"2023-07-27T20:31:27.00[...]
    - id: 10
      request:
        host: mm-classic-2022-10-04.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-classic-2022-10-04.oktapreview.com/api/v1/users/00u95v5man8ZijwMB1d7
        method: GET
      response:
        body: '{"id":"00u95v5man8ZijwMB1d7","status":"PROVISIONED","created":"2023-07-27T20:31:27.000Z","activated":"2023-07-27T20:31:27.000Z","statusChanged":"2023-07-27T20:31:27.0[...]
    - id: 11
      request:
        host: mm-classic-2022-10-04.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-classic-2022-10-04.oktapreview.com/api/v1/meta/schemas/user/linkedObjects/testAcc_2079930244
        method: GET
      response:
        body: '{"primary":{"name":"testAcc_2079930244","title":"Manager","description":"Manager link property","type":"USER"},"associated":{"name":"testAcc_subordinate","title":"Subordinate","description":"Subordinate link property","type":"USER"},"_links":{"self":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/meta/schemas/user/linkedObjects/testAcc_2079930244"}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 77.571261ms
    - id: 12
      request:
        host: mm-classic-2022-10-04.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-classic-2022-10-04.oktapreview.com/api/v1/users/00u95v6kr7dz5pEui1d7/linkedObjects/testAcc_2079930244/00u95v314ekpRc6VI1d7
        method: PUT
      response:
        body: ""
        headers:
        status: 204 No Content
        code: 204
        duration: 88.315028ms
    - id: 13
      request:
        host: mm-classic-2022-10-04.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-classic-2022-10-04.oktapreview.com/api/v1/users/00u95v8ekdH4UlL5P1d7/linkedObjects/testAcc_2079930244/00u95v314ekpRc6VI1d7
        method: PUT
      response:
        body: ""
        headers:
        status: 204 No Content
        code: 204
        duration: 69.09128ms
    - id: 14
      request:
        host: mm-classic-2022-10-04.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-classic-2022-10-04.oktapreview.com/api/v1/users/00u95v714gAk2ZhkV1d7/linkedObjects/testAcc_2079930244/00u95v314ekpRc6VI1d7
        method: PUT
      response:
        body: ""
        headers:
        status: 204 No Content
        code: 204
        duration: 68.537965ms
    - id: 15
      request:
        host: mm-classic-2022-10-04.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-classic-2022-10-04.oktapreview.com/api/v1/users/00u95v5man8ZijwMB1d7/linkedObjects/testAcc_2079930244/00u95v314ekpRc6VI1d7
        method: PUT
      response:
        body: ""
        headers:
        status: 204 No Content
        code: 204
        duration: 63.763114ms
[...]
    - id: 23
      request:
        host: mm-classic-2022-10-04.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-classic-2022-10-04.oktapreview.com/api/v1/users/00u95v314ekpRc6VI1d7/linkedObjects/testAcc_subordinate
        method: GET
      response:
        body: '[{"_links":{"self":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/users/00u95v5man8ZijwMB1d7"}}},{"_links":{"self":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/users/00u95v8ekdH4UlL5P1d7"}}},{"_links":{"self":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/users/00u95v6kr7dz5pEui1d7"}}},{"_links":{"self":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/users/00u95v714gAk2ZhkV1d7"}}}]'
        headers:
            Content-Type:
                - application/json
            Link:
                - <https://mm-classic-2022-10-04.oktapreview.com/api/v1/users/00u95v314ekpRc6VI1d7/linkedObjects/testAcc_subordinate?limit=1000>; rel="self"
        status: 200 OK
        code: 200
        duration: 53.606416ms
[...]
    - id: 32
      request:
        host: mm-classic-2022-10-04.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-classic-2022-10-04.oktapreview.com/api/v1/users/00u95v6kr7dz5pEui1d7/linkedObjects/testAcc_2079930244
        method: DELETE
      response:
        body: ""
        headers:
        status: 204 No Content
        code: 204
        duration: 62.699892ms
    - id: 33
      request:
        host: mm-classic-2022-10-04.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-classic-2022-10-04.oktapreview.com/api/v1/users/00u95v714gAk2ZhkV1d7/linkedObjects/testAcc_2079930244
        method: DELETE
      response:
        body: ""
        headers:
        status: 204 No Content
        code: 204
        duration: 50.412795ms
    - id: 34
      request:
        host: mm-classic-2022-10-04.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-classic-2022-10-04.oktapreview.com/api/v1/users/00u95v5man8ZijwMB1d7/linkedObjects/testAcc_2079930244
        method: DELETE
      response:
        body: ""
        headers:
        status: 204 No Content
        code: 204
        duration: 59.736217ms
[...]
    - id: 43
      request:
        host: mm-classic-2022-10-04.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-classic-2022-10-04.oktapreview.com/api/v1/users/00u95v8ekdH4UlL5P1d7/linkedObjects/testAcc_2079930244
        method: DELETE
      response:
        body: ""
        headers:
        status: 204 No Content
        code: 204
        duration: 68.48183ms
[...]
    - id: 55
      request:
        host: mm-classic-2022-10-04.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-classic-2022-10-04.oktapreview.com/api/v1/meta/schemas/user/linkedObjects/testAcc_2079930244
        method: GET
      response:
        body: '{"errorCode":"E0000007","errorSummary":"Not found: Resource not found: testAcc_2079930244 (LinkedObjectProperty)","errorLink":"E0000007","errorId":"oaeNprgUlBsS3W03G8UqdugFw","errorCauses":[]}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 68.729948ms
