---
version: 2
interactions:
    - id: 0
      request:
        host: mm-classic-2022-10-04.oktapreview.com
        body: |
            {"certificateSourceType":"MANUAL","domain":"www.example.com"}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://mm-classic-2022-10-04.oktapreview.com/api/v1/domains
        method: POST
      response:
        body: '{"id":"OcD95upq2ef06X7Xk1d7","domain":"www.example.com","certificateSourceType":"MANUAL","validationStatus":"NOT_STARTED","brandId":"bnd95upq2aBOFXSVg1d7","dnsRecords":[{"recordType":"TXT","fqdn":"_oktaverification.www.example.com","values":["09008cf8ceee47e4a7da6dd1ac8b14c5"]},{"recordType":"CNAME","fqdn":"www.example.com","values":["mm-classic-2022-10-04.customdomains.oktapreview.com"]}],"_links":{"self":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/domains/OcD95upq2ef06X7Xk1d7","hints":{"allow":["GET","DELETE","PUT"]}},"verify":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/domains/OcD95upq2ef06X7Xk1d7/verify","hints":{"allow":["POST"]}},"brand":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/brands/bnd95upq2aBOFXSVg1d7","hints":{"allow":["GET","PUT","DELETE"]}}}}'
        headers:
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 566.008346ms
    - id: 1
      request:
        host: mm-classic-2022-10-04.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-classic-2022-10-04.oktapreview.com/api/v1/domains/OcD95upq2ef06X7Xk1d7
        method: GET
      response:
        body: '{"id":"OcD95upq2ef06X7Xk1d7","domain":"www.example.com","certificateSourceType":"MANUAL","validationStatus":"NOT_STARTED","brandId":"bnd95upq2aBOFXSVg1d7","dnsRecords":[{"recordType":"TXT","fqdn":"_oktaverification.www.example.com","values":["09008cf8ceee47e4a7da6dd1ac8b14c5"]},{"recordType":"CNAME","fqdn":"www.example.com","values":["mm-classic-2022-10-04.customdomains.oktapreview.com"]}],"_links":{"self":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/domains/OcD95upq2ef06X7Xk1d7","hints":{"allow":["DELETE"]}},"verify":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/domains/OcD95upq2ef06X7Xk1d7/verify","hints":{"allow":["POST"]}},"brand":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/brands/bnd95upq2aBOFXSVg1d7","hints":{"allow":["GET","PUT","DELETE"]}}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 69.416052ms
    - id: 2
      request:
        host: mm-classic-2022-10-04.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-classic-2022-10-04.oktapreview.com/api/v1/domains/OcD95upq2ef06X7Xk1d7/verify
        method: POST
      response:
        body: '{"id":"OcD95upq2ef06X7Xk1d7","domain":"www.example.com","certificateSourceType":"MANUAL","validationStatus":"FAILED_TO_VERIFY","brandId":"bnd95upq2aBOFXSVg1d7","dnsRecords":[{"recordType":"TXT","fqdn":"_oktaverification.www.example.com","values":["09008cf8ceee47e4a7da6dd1ac8b14c5"]},{"recordType":"CNAME","fqdn":"www.example.com","values":["mm-classic-2022-10-04.customdomains.oktapreview.com"]}],"_links":{"self":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/domains/OcD95upq2ef06X7Xk1d7","hints":{"allow":["GET","DELETE"]}},"brand":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/brands/bnd95upq2aBOFXSVg1d7","hints":{"allow":["GET","PUT","DELETE"]}}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 491.139536ms
    - id: 3
      request:
        host: mm-classic-2022-10-04.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-classic-2022-10-04.oktapreview.com/api/v1/domains
        method: GET
      response:
        body: '{"domains":[{"id":"OcD95upq2ef06X7Xk1d7","domain":"www.example.com","certificateSourceType":"MANUAL","validationStatus":"FAILED_TO_VERIFY","brandId":"bnd95upq2aBOFXSVg1d7","_links":{"self":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/domains/OcD95upq2ef06X7Xk1d7","hints":{"allow":["GET","DELETE"]}},"brand":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/brands/bnd95upq2aBOFXSVg1d7","hints":{"allow":["GET","PUT","DELETE"]}}}},{"id":"default","domain":"mm-classic-2022-10-04.oktapreview.com","certificateSourceType":"OKTA_MANAGED","validationStatus":"COMPLETED","brandId":"bnd5ptm04rUA5HWie1d7","_links":{"self":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/domains/default","hints":{"allow":["GET"]}},"brand":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/brands/bnd5ptm04rUA5HWie1d7","hints":{"allow":["GET","PUT","DELETE"]}}}}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 64.408267ms
[...]
