---
version: 2
interactions:
    - id: 0
      request:
        host: mm-oie-2022-10-07-max.oktapreview.com
        body: |
            {"certificateSourceType":"MANUAL","domain":"www.example.com"}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/domains
        method: POST
      response:
        body: '{"id":"OcD95vk1ttFzGIlxs1d7","domain":"www.example.com","certificateSourceType":"MANUAL","validationStatus":"NOT_STARTED","brandId":"bnd95vk1tpGjowhZo1d7","dnsRecords":[{"recordType":"TXT","fqdn":"_oktaverification.www.example.com","values":["a64dc0ce5bda40de9b61e656594b2574"]},{"recordType":"CNAME","fqdn":"www.example.com","values":["mm-oie-2022-10-07-max.customdomains.oktapreview.com"]}],"_links":{"self":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/domains/OcD95vk1ttFzGIlxs1d7","hints":{"allow":["GET","DELETE","PUT"]}},"verify":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/domains/OcD95vk1ttFzGIlxs1d7/verify","hints":{"allow":["POST"]}},"brand":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/brands/bnd95vk1tpGjowhZo1d7","hints":{"allow":["GET","PUT","DELETE"]}}}}'
        headers:
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 437.408712ms
    - id: 1
      request:
        host: mm-oie-2022-10-07-max.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/domains/OcD95vk1ttFzGIlxs1d7
        method: GET
      response:
        body: '{"id":"OcD95vk1ttFzGIlxs1d7","domain":"www.example.com","certificateSourceType":"MANUAL","validationStatus":"NOT_STARTED","brandId":"bnd95vk1tpGjowhZo1d7","dnsRecords":[{"recordType":"TXT","fqdn":"_oktaverification.www.example.com","values":["a64dc0ce5bda40de9b61e656594b2574"]},{"recordType":"CNAME","fqdn":"www.example.com","values":["mm-oie-2022-10-07-max.customdomains.oktapreview.com"]}],"_links":{"self":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/domains/OcD95vk1ttFzGIlxs1d7","hints":{"allow":["DELETE"]}},"verify":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/domains/OcD95vk1ttFzGIlxs1d7/verify","hints":{"allow":["POST"]}},"brand":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/brands/bnd95vk1tpGjowhZo1d7","hints":{"allow":["GET","PUT","DELETE"]}}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 74.23459ms
    - id: 2
      request:
        host: mm-oie-2022-10-07-max.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/domains/OcD95vk1ttFzGIlxs1d7/verify
        method: POST
      response:
        body: '{"id":"OcD95vk1ttFzGIlxs1d7","domain":"www.example.com","certificateSourceType":"MANUAL","validationStatus":"FAILED_TO_VERIFY","brandId":"bnd95vk1tpGjowhZo1d7","dnsRecords":[{"recordType":"TXT","fqdn":"_oktaverification.www.example.com","values":["a64dc0ce5bda40de9b61e656594b2574"]},{"recordType":"CNAME","fqdn":"www.example.com","values":["mm-oie-2022-10-07-max.customdomains.oktapreview.com"]}],"_links":{"self":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/domains/OcD95vk1ttFzGIlxs1d7","hints":{"allow":["GET","DELETE"]}},"brand":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/brands/bnd95vk1tpGjowhZo1d7","hints":{"allow":["GET","PUT","DELETE"]}}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 391.143425ms
    - id: 3
      request:
        host: mm-oie-2022-10-07-max.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/domains
        method: GET
      response:
        body: '{"domains":[{"id":"OcD95vk1ttFzGIlxs1d7","domain":"www.example.com","certificateSourceType":"MANUAL","validationStatus":"FAILED_TO_VERIFY","brandId":"bnd95vk1tpGjowhZo1d7","_links":{"self":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/domains/OcD95vk1ttFzGIlxs1d7","hints":{"allow":["GET","DELETE"]}},"brand":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/brands/bnd95vk1tpGjowhZo1d7","hints":{"allow":["GET","PUT","DELETE"]}}}},{"id":"default","domain":"mm-oie-2022-10-07-max.oktapreview.com","certificateSourceType":"OKTA_MANAGED","validationStatus":"COMPLETED","brandId":"bnd5qwjvgpotf2LV51d7","_links":{"self":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/domains/default","hints":{"allow":["GET"]}},"brand":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/brands/bnd5qwjvgpotf2LV51d7","hints":{"allow":["GET","PUT","DELETE"]}}}}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 58.362787ms
[...]
