---
version: 2
interactions:
- id: 0
  request:
    host: oie-00.dne-okta.com
    form:
      q:
      - Everyone
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://oie-00.dne-okta.com/api/v1/groups?q=Everyone
    method: GET
  response:
    body: "[{\"id\":\"00gnkw1sdqL30MdGk1d7\",\"created\":\"2025-06-26T15:51:35.000Z\",\"lastUpdated\":\"2025-06-26T15:51:35.000Z\",\"lastMembershipUpdated\":\"2025-11-11T08:36:36.000Z\",\"objectClass\":[\"okta:user_group\"],\"type\":\"BUILT_IN\",\"profile\":{\"name\":\"Everyone\",\"description\":\"All users in your organization\"},\"_links\":{\"logo\":[{\"name\":\"medium\",\"href\":\"https://op3static2.oktacdn.com/assets/img/logos/groups/odyssey/okta-medium.30ce6d4085dff29412984e4c191bc874.png\",\"type\":\"image/png\"},{\"name\":\"large\",\"href\":\"https://op3static2.oktacdn.com/assets/img/logos/groups/odyssey/okta-large.c3cb8cda8ae0add1b4fe928f5844dbe3.png\",\"type\":\"image/png\"}],\"owners\":{\"href\":\"https://oie-00/api/v1/groups/00gnkw1sdqL30MdGk1d7/owners\"},\"users\":{\"href\":\"https://oie-00/api/v1/groups/00gnkw1sdqL30MdGk1d7/users\"},\"apps\":{\"href\":\"https://oie-00/api/v1/groups/00gnkw1sdqL30MdGk1d7/apps\"}}}]"
    headers:
      Accept-Ch:
      - Sec-CH-UA-Platform-Version
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 1.085544667s
[...]
- id: 2
  request:
    host: oie-00.dne-okta.com
    body: "{\"audiences\":[\"whatever.rise.zone\"],\"credentials\":{\"signing\":{\"rotationMode\":\"AUTO\"}},\"description\":\"test\",\"issuerMode\":\"ORG_URL\",\"name\":\"testAcc_2173199450\"}\n"
    headers:
      Authorization:
      - SSWS REDACTED
      Content-Type:
      - application/json
    url: https://oie-00.dne-okta.com/api/v1/authorizationServers
    method: POST
  response:
    body: "{\"id\":\"ausrqrargoWiS11He1d7\",\"name\":\"testAcc_2173199450\",\"description\":\"test\",\"audiences\":[\"whatever.rise.zone\"],\"issuer\":\"https://oie-00/oauth2/ausrqrargoWiS11He1d7\",\"issuerMode\":\"ORG_URL\",\"status\":\"ACTIVE\",\"created\":\"2025-11-11T09:37:55.000Z\",\"lastUpdated\":\"2025-11-11T09:37:55.000Z\",\"credentials\":{\"signing\":{\"kid\":\"8MvFCpQHMW633cgbol2DNVnXYoB3E7FRXVr9ORUqx04\",\"rotationMode\":\"AUTO\",\"lastRotated\":\"2025-11-11T09:37:55.000Z\",\"nextRotation\":\"2026-02-09T09:37:55.000Z\"}},\"default\":false,\"_links\":{\"rotateKey\":{\"href\":\"https://oie-00/api/v1/authorizationServers/ausrqrargoWiS11He1d7/credentials/lifecycle/keyRotate\",\"hints\":{\"allow\":[\"POST\"]}},\"metadata\":[{\"name\":\"oauth-authorization-server\",\"href\":\"https://oie-00/oauth2/ausrqrargoWiS11He1d7/.well-known/oauth-authorization-server\",\"hints\":{\"allow\":[\"GET\"]}},{\"name\":\"openid-configuration\",\"href\":\"https://oie-00/oauth2/ausrqrargoWiS11He1d7/.well-known/openid-configuration\",\"hints\":{\"allow\":[\"GET\"]}}],\"keys\":{\"href\":\"https://oie-00/api/v1/authorizationServers/ausrqrargoWiS11He1d7/credentials/keys\",\"hints\":{\"allow\":[\"GET\"]}},\"claims\":{\"href\":\"https://oie-00/api/v1/authorizationServers/ausrqrargoWiS11He1d7/claims\",\"hints\":{\"allow\":[\"GET\",\"POST\"]}},\"policies\":{\"href\":\"https://oie-00/api/v1/authorizationServers/ausrqrargoWiS11He1d7/policies\",\"hints\":{\"allow\":[\"GET\",\"POST\"]}},\"self\":{\"href\":\"https://oie-00/api/v1/authorizationServers/ausrqrargoWiS11He1d7\",\"hints\":{\"allow\":[\"GET\",\"DELETE\",\"PUT\"]}},\"scopes\":{\"href\":\"https://oie-00/api/v1/authorizationServers/ausrqrargoWiS11He1d7/scopes\",\"hints\":{\"allow\":[\"GET\",\"POST\"]}},\"deactivate\":{\"href\":\"https://oie-00/api/v1/authorizationServers/ausrqrargoWiS11He1d7/lifecycle/deactivate\",\"hints\":{\"allow\":[\"POST\"]}}}}"
    headers:
      Accept-Ch:
      - Sec-CH-UA-Platform-Version
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: 1.335661834s
- id: 3
  request:
    host: oie-00.dne-okta.com
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://oie-00.dne-okta.com/api/v1/authorizationServers/ausrqrargoWiS11He1d7
    method: GET
  response:
    body: "{\"id\":\"ausrqrargoWiS11He1d7\",\"name\":\"testAcc_2173199450\",\"description\":\"test\",\"audiences\":[\"whatever.rise.zone\"],\"issuer\":\"https://oie-00/oauth2/ausrqrargoWiS11He1d7\",\"issuerMode\":\"ORG_URL\",\"status\":\"ACTIVE\",\"created\":\"2025-11-11T09:37:55.[...]
- id: 4
  request:
    host: oie-00.dne-okta.com
    body: "{\"conditions\":{\"clients\":{\"include\":[\"ALL_CLIENTS\"]}},\"description\":\"Policy\",\"name\":\"test\",\"priority\":1,\"status\":\"ACTIVE\",\"type\":\"OAUTH_AUTHORIZATION_POLICY\"}\n"
    headers:
      Authorization:
      - SSWS REDACTED
      Content-Type:
      - application/json
    url: https://oie-00.dne-okta.com/api/v1/authorizationServers/ausrqrargoWiS11He1d7/policies
    method: POST
  response:
    body: "{\"id\":\"00prqrari2Upt4hAt1d7\",\"status\":\"ACTIVE\",\"name\":\"test\",\"description\":\"Policy\",\"priority\":1,\"system\":false,\"conditions\":{\"clients\":{\"include\":[\"ALL_CLIENTS\"]}},\"created\":\"2025-11-11T09:37:58.000Z\",\"lastUpdated\":\"2025-11-11T09:37:58.000Z\",\"_links\":{\"self\":{\"href\":\"https://oie-00/api/v1/authorizationServers/ausrqrargoWiS11He1d7/policies/00prqrari2Upt4hAt1d7\",\"hints\":{\"allow\":[\"GET\",\"PUT\",\"DELETE\"]}},\"rules\":{\"href\":\"https://oie-00/api/v1/authorizationServers/ausrqrargoWiS11He1d7/policies/00prqrari2Upt4hAt1d7/rules\",\"hints\":{\"allow\":[\"GET\"]}},\"deactivate\":{\"href\":\"https://oie-00/api/v1/authorizationServers/ausrqrargoWiS11He1d7/policies/00prqrari2Upt4hAt1d7/lifecycle/deactivate\",\"hints\":{\"allow\":[\"POST\"]}}},\"type\":\"OAUTH_AUTHORIZATION_POLICY\"}"
    headers:
      Accept-Ch:
      - Sec-CH-UA-Platform-Version
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: 1.067769208s
- id: 5
  request:
    host: oie-00.dne-okta.com
    body: "{\"consent\":\"REQUIRED\",\"default\":false,\"description\":\"This is a scope\",\"displayName\":\"\",\"metadataPublish\":\"ALL_CLIENTS\",\"name\":\"test:something\",\"optional\":false}\n"
    headers:
      Authorization:
      - SSWS REDACTED
      Content-Type:
      - application/json
    url: https://oie-00.dne-okta.com/api/v1/authorizationServers/ausrqrargoWiS11He1d7/scopes
    method: POST
  response:
    body: "{\"id\":\"scprqr5fsfOnFX9L61d7\",\"name\":\"test:something\",\"displayName\":\"\",\"description\":\"This is a scope\",\"system\":false,\"metadataPublish\":\"ALL_CLIENTS\",\"consent\":\"REQUIRED\",\"optional\":false,\"apiResourceId\":null,\"default\":false,\"_links\":{\"self\":{\"href\":\"https://oie-00/api/v1/authorizationServers/ausrqrargoWiS11He1d7/scopes/scprqr5fsfOnFX9L61d7\",\"hints\":{\"allow\":[\"GET\",\"PUT\",\"DELETE\"]}}}}"
    headers:
      Accept-Ch:
      - Sec-CH-UA-Platform-Version
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: 1.207478875s
- id: 6
  request:
    host: oie-00.dne-okta.com
    body: "{\"alwaysIncludeInToken\":true,\"claimType\":\"RESOURCE\",\"conditions\":{},\"name\":\"test\",\"status\":\"ACTIVE\",\"value\":\"cool\",\"valueType\":\"EXPRESSION\"}\n"
    headers:
      Authorization:
      - SSWS REDACTED
      Content-Type:
      - application/json
    url: https://oie-00.dne-okta.com/api/v1/authorizationServers/ausrqrargoWiS11He1d7/claims
    method: POST
  response:
    body: "{\"id\":\"oclrqrelirpogjhfZ1d7\",\"name\":\"test\",\"status\":\"ACTIVE\",\"claimType\":\"RESOURCE\",\"valueType\":\"EXPRESSION\",\"value\":\"cool\",\"conditions\":{\"scopes\":[]},\"system\":false,\"alwaysIncludeInToken\":true,\"apiResourceId\":null,\"_links\":{\"self\":{\"href\":\"https://oie-00/api/v1/authorizationServers/ausrqrargoWiS11He1d7/claims/oclrqrelirpogjhfZ1d7\",\"hints\":{\"allow\":[\"GET\",\"PUT\",\"DELETE\"]}}}}"
    headers:
      Accept-Ch:
      - Sec-CH-UA-Platform-Version
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: 1.973498125s
- id: 7
  request:
    host: oie-00.dne-okta.com
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://oie-00.dne-okta.com/api/v1/authorizationServers/ausrqrargoWiS11He1d7/policies/00prqrari2Upt4hAt1d7
    method: GET
  response:
    body: "{\"id\":\"00prqrari2Upt4hAt1d7\",\"status\":\"ACTIVE\",\"name\":\"test\",\"description\":\"Policy\",\"priority\":1,\"system\":false,\"conditions\":{\"clients\":{\"include\":[\"ALL_CLIENTS\"]}},\"created\":\"2025-11-11T09:37:58.000Z\",\"lastUpdated\":\"2025-11-11T09:37:58.000Z\",\"_links\":{\"self\":{\"href\":\"https://oie-00/api/v1/authorizationServers/ausrqrargoWiS11He1d7/policies/00prqrari2Upt4hAt1d7\",\"hints\":{\"allow\":[\"GET\",\"PUT\",\"DELETE\"]}},\"rules\":{\"href\":\"https://oie-00/api/v1/authorizationServers/ausrqrargoWiS11He1d7/policies/00prqrari2Upt4hAt1d7/rules\",\"hints\":{\"allow\":[\"GET\"]}},\"deactivate\":{\"href\":\"https://oie-00/api/v1/authorizationServers/ausrqrargoWiS11He1d7/policies/00prqrari2Upt4hAt1d7/lifecycle/deactivate\",\"hints\":{\"allow\":[\"POST\"]}}},\"type\":\"OAUTH_AUTHORIZATION_POLICY\"}"
    headers:
      Accept-Ch:
      - Sec-CH-UA-Platform-Version
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 1.197693292s
- id: 8
  request:
    host: oie-00.dne-okta.com
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://oie-00.dne-okta.com/api/v1/authorizationServers/ausrqrargoWiS11He1d7/scopes/scprqr5fsfOnFX9L61d7
    method: GET
  response:
    body: "{\"id\":\"scprqr5fsfOnFX9L61d7\",\"name\":\"test:something\",\"displayName\":\"\",\"description\":\"This is a scope\",\"system\":false,\"metadataPublish\":\"ALL_CLIENTS\",\"consent\":\"REQUIRED\",\"optional\":false,\"apiResourceId\":null,\"default\":false,\"_links\":{\"self\":{\"href\":\"https://oie-00/api/v1/authorizationServers/ausrqrargoWiS11He1d7/scopes/scprqr5fsfOnFX9L61d7\",\"hints\":{\"allow\":[\"GET\",\"PUT\",\"DELETE\"]}}}}"
    headers:
      Accept-Ch:
      - Sec-CH-UA-Platform-Version
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 1.192747s
- id: 9
  request:
    host: oie-00.dne-okta.com
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://oie-00.dne-okta.com/api/v1/authorizationServers/ausrqrargoWiS11He1d7/claims/oclrqrelirpogjhfZ1d7
    method: GET
  response:
    body: "{\"id\":\"oclrqrelirpogjhfZ1d7\",\"name\":\"test\",\"status\":\"ACTIVE\",\"claimType\":\"RESOURCE\",\"valueType\":\"EXPRESSION\",\"value\":\"cool\",\"conditions\":{\"scopes\":[]},\"system\":false,\"alwaysIncludeInToken\":true,\"apiResourceId\":null,\"_links\":{\"self\":{\"href\":\"https://oie-00/api/v1/authorizationServers/ausrqrargoWiS11He1d7/claims/oclrqrelirpogjhfZ1d7\",\"hints\":{\"allow\":[\"GET\",\"PUT\",\"DELETE\"]}}}}"
    headers:
      Accept-Ch:
      - Sec-CH-UA-Platform-Version
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 1.261254958s
- id: 10
  request:
    host: oie-00.dne-okta.com
    body: "{\"actions\":{\"token\":{\"accessTokenLifetimeMinutes\":60,\"refreshTokenLifetimeMinutes\":0,\"refreshTokenWindowMinutes\":10080}},\"conditions\":{\"grantTypes\":{\"include\":[\"password\"]},\"people\":{\"groups\":{\"include\":[\"00gnkw1sdqL30MdGk1d7\"]},\"users\":{}},\"scopes\":{}},\"name\":\"test\",\"priority\":1,\"status\":\"ACTIVE\",\"type\":\"RESOURCE_ACCESS\"}\n"
    headers:
      Authorization:
      - SSWS REDACTED
      Content-Type:
      - application/json
    url: https://oie-00.dne-okta.com/api/v1/authorizationServers/ausrqrargoWiS11He1d7/policies/00prqrari2Upt4hAt1d7/rules
    method: POST
  response:
    body: "{\"id\":\"0prrqrofgiN0bwF2x1d7\",\"status\":\"ACTIVE\",\"name\":\"test\",\"priority\":1,\"created\":\"2025-11-11T09:38:00.000Z\",\"lastUpdated\":\"2025-11-11T09:38:00.000Z\",\"system\":false,\"conditions\":{\"people\":{\"users\":{\"exclude\":[]},\"groups\":{\"include\":[\"00gnkw1sdqL30MdGk1d7\"]}},\"grantTypes\":{\"include\":[\"password\"]},\"scopes\":{\"include\":[]}},\"actions\":{\"token\":{\"accessTokenLifetimeMinutes\":60,\"refreshTokenLifetimeMinutes\":0,\"refreshTokenWindowMinutes\":10080}},\"_links\":{\"self\":{\"href\":\"https://oie-00/api/v1/authorizationServers/ausrqrargoWiS11He1d7/policies/00prqrari2Upt4hAt1d7/rules/0prrqrofgiN0bwF2x1d7\",\"hints\":{\"allow\":[\"GET\",\"PUT\",\"DELETE\"]}},\"deactivate\":{\"href\":\"https://oie-00/api/v1/authorizationServers/ausrqrargoWiS11He1d7/policies/00prqrari2Upt4hAt1d7/rules/0prrqrofgiN0bwF2x1d7/lifecycle/deactivate\",\"hints\":{\"allow\":[\"POST\"]}}},\"type\":\"RESOURCE_ACCESS\"}"
    headers:
      Accept-Ch:
      - Sec-CH-UA-Platform-Version
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: 1.275419625s
- id: 11
  request:
    host: oie-00.dne-okta.com
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://oie-00.dne-okta.com/api/v1/authorizationServers/ausrqrargoWiS11He1d7/policies/00prqrari2Upt4hAt1d7/rules/0prrqrofgiN0bwF2x1d7
    method: GET
  response:
    body: "{\"id\":\"0prrqrofgiN0bwF2x1d7\",\"status\":\"ACTIVE\",\"name\":\"test\",\"priority\":1,\"created\":\"2025-11-11T09:38:00.000Z\",\"lastUpdated\":\"2025-11-11T09:38:00.000Z\",\"system\":false,\"conditions\":{\"people\":{\"users\":{\"exclude\":[]},\"groups\":{\"include\":[\"00gnkw1sdqL30MdGk1d7\"]}},\"grantTypes\":{\"include\":[\"password\"]},\"scopes\":{\"include\":[]}},\"actions\":{\"token\":{\"accessTokenLifetimeMinutes\":60,\"refreshTokenLifetimeMinutes\":0,\"refreshTokenWindowMinutes\":10080}},\"_links\":{\"self\":{\"href\":\"https://oie-00/api/v1/authorizationServers/ausrqrargoWiS11He1d7/policies/00prqrari2Upt4hAt1d7/rules/0prrqrofgiN0bwF2x1d7\",\"hints\":{\"allow\":[\"GET\",\"PUT\",\"DELETE\"]}},\"deactivate\":{\"href\":\"https://oie-00/api/v1/authorizationServers/ausrqrargoWiS11He1d7/policies/00prqrari2Upt4hAt1d7/rules/0prrqrofgiN0bwF2x1d7/lifecycle/deactivate\",\"hints\":{\"allow\":[\"POST\"]}}},\"type\":\"RESOURCE_ACCESS\"}"
    headers:
      Accept-Ch:
      - Sec-CH-UA-Platform-Version
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 1.313290292s
[...]
- id: 29
  request:
    host: oie-00.dne-okta.com
    body: "{\"accessibility\":{},\"credentials\":{\"oauthClient\":{\"autoKeyRotation\":true,\"pkce_required\":false,\"token_endpoint_auth_method\":\"client_secret_basic\"},\"userNameTemplate\":{\"template\":\"${source.login}\",\"type\":\"BUILT_IN\"}},\"label\":\"testAcc_2173199450\",\"name\":\"oidc_client\",\"settings\":{\"notes\":{},\"oauthClient\":{\"application_type\":\"web\",\"consent_method\":\"TRUSTED\",\"dpop_bound_access_tokens\":false,\"grant_types\":[\"authorization_code\",\"implicit\"],\"issuer_mode\":\"ORG_URL\",\"redirect_uris\":[\"https://localhost:8443/redirect_uri/\"],\"response_types\":[\"code\",\"token\",\"id_token\"],\"wildcard_redirect\":\"DISABLED\"}},\"signOnMode\":\"OPENID_CONNECT\",\"visibility\":{\"hide\":{\"iOS\":true,\"web\":true}}}\n"
    form:
      activate:
      - "true"
    headers:
      Authorization:
      - SSWS REDACTED
      Content-Type:
      - application/json
    url: https://oie-00.dne-okta.com/api/v1/apps?activate=true
    method: POST
  response:
    body: "{\"id\":\"0oarqrgjp3mGxRBlH1d7\",\"orn\":\"orn:oktapreview:idp:00onkw1sbuAh3Q06I1d7:apps:oidc_client:0oarqrgjp3mGxRBlH1d7\",\"name\":\"oidc_client\",\"label\":\"testAcc_2173199450\",\"status\":\"ACTIVE\",\"lastUpdated\":\"2025-11-11T09:38:21.000Z\",\"created\":\"2025-11-11T09:38:20.000Z\",\"accessibility\":{\"selfService\":false,\"errorRedirectUrl\":null,\"loginRedirectUrl\":null},\"visibility\":{\"autoLaunch\":false,\"autoSubmitToolbar\":false,\"hide\":{\"iOS\":true,\"web\":true},\"appLinks\":{\"oidc_client_link\":true}},\"features\":[],\"signOnMode\":\"OPENID_CONNECT\",\"credentials\":{\"userNameTemplate\":{\"template\":\"${source.login}\",\"type\":\"BUILT_IN\"},\"signing\":{\"kid\":\"sALQDM5PBTRR6dsVDGloCQexOBDrJNwQmFiZuWur7eo\"},\"oauthClient\":{\"autoKeyRotation\":true,\"client_id\":\"0oarqrgjp3mGxRBlH1d7\",\"client_secret\":\"FPdRWLO6OtaSVKxisbP3_NeRqjzh_Dy7_FyJxvuqDFXWhCuxB5CDdahYBieTecfF\",\"token_endpoint_auth_method\":\"client_secret_basic\",\"pkce_required\":false}},\"universalLogout\":{\"status\":\"DISABLED\",\"supportType\":\"FULL\",\"identityStack\":\"NOT_SHARED\",\"protocol\":\"GLOBAL_TOKEN_REVOCATION\"},\"settings\":{\"app\":{},\"notifications\":{\"vpn\":{\"network\":{\"connection\":\"DISABLED\"},\"message\":null,\"helpUrl\":null}},\"manualProvisioning\":false,\"implicitAssignment\":false,\"emOptInStatus\":\"NONE\",\"notes\":{\"admin\":null,\"enduser\":null},\"oauthClient\":{\"client_uri\":null,\"logo_uri\":null,\"redirect_uris\":[\"https://localhost:8443/redirect_uri/\"],\"response_types\":[\"code\",\"token\",\"id_token\"],\"grant_types\":[\"authorization_code\",\"implicit\"],\"application_type\":\"web\",\"consent_method\":\"TRUSTED\",\"issuer_mode\":\"ORG_URL\",\"idp_initiated_login\":{\"mode\":\"DISABLED\",\"default_scope\":[]},\"wildcard_redirect\":\"DISABLED\",\"dpop_bound_access_tokens\":false,\"participate_slo\":false}},\"_links\":{\"uploadLogo\":{\"href\":\"https://oie-00/api/v1/apps/0oarqrgjp3mGxRBlH1d7/logo\",\"hints\":{\"allow\":[\"POST\"]}},\"appLinks\":[{\"name\":\"oidc_client_link\",\"href\":\"https://oie-00/home/oidc_client/0oarqrgjp3mGxRBlH1d7/aln177a159h7Zf52X0g8\",\"type\":\"text/html\"}],\"profileEnrollment\":{\"href\":\"https://oie-00/api/v1/policies/rstnkw1sgzCwhJaUs1d7\"},\"policies\":{\"href\":\"https://oie-00/api/v1/apps/0oarqrgjp3mGxRBlH1d7/policies\",\"hints\":{\"allow\":[\"PUT\"]}},\"groups\":{\"href\":\"https://oie-00/api/v1/apps/0oarqrgjp3mGxRBlH1d7/groups\"},\"logo\":[{\"name\":\"medium\",\"href\":\"https://op3static2.oktacdn.com/assets/img/logos/default.6770228fb0dab49a1695ef440a5279bb.png\",\"type\":\"image/png\"}],\"clientCredentials\":[{\"name\":\"secrets\",\"href\":\"https://oie-00/api/v1/apps/0oarqrgjp3mGxRBlH1d7/credentials/secrets\"}],\"accessPolicy\":{\"href\":\"https://oie-00/api/v1/policies/rstnkw1sgxfqkDUtx1d7\"},\"users\":{\"href\":\"https://oie-00/api/v1/apps/0oarqrgjp3mGxRBlH1d7/users\"},\"deactivate\":{\"href\":\"https://oie-00/api/v1/apps/0oarqrgjp3mGxRBlH1d7/lifecycle/deactivate\"}}}"
    headers:
      Accept-Ch:
      - Sec-CH-UA-Platform-Version
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 2.299026s
- id: 30
  request:
    host: oie-00.dne-okta.com
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://oie-00.dne-okta.com/.well-known/okta-organization
    method: GET
  response:
    body: "{\"id\":\"00onkw1sbuAh3Q06I1d7\",\"cell\":\"op3\",\"_links\":{\"organization\":{\"href\":\"https://oie-00\"}},\"pipeline\":\"idx\",\"settings\":{\"analyticsCollectionEnabled\":false,\"bugReportingEnabled\":true,\"omEnabled\":false,\"pssoEnabled\":true,\"desktopMFAEnabled\":true,\"itpEnabled\":true}}"
    headers:
      Accept-Ch:
      - Sec-CH-UA-Platform-Version
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 991.655917ms
- id: 31
  request:
    host: oie-00.dne-okta.com
    form:
      type:
      - ACCESS_POLICY
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://oie-00.dne-okta.com/api/v1/policies?type=ACCESS_POLICY
    method: GET
  response:
    body: "[{\"id\":\"rstnkw1sg2fWHAvjK1d7\",\"status\":\"ACTIVE\",\"name\":\"Okta Admin Console\",\"priority\":1,\"system\":false,\"conditions\":null,\"created\":\"2025-06-26T15:51:39.000Z\",\"lastUpdated\":\"2025-06-26T15:51:39.000Z\",\"_links\":{\"mappings\":{\"href\":\"https://oie-00/api/v1/policies/rstnkw1sg2fWHAvjK1d7/mappings\",\"hints\":{\"allow\":[\"GET\",\"POST\"]}},\"self\":{\"href\":\"https://oie-00/api/v1/policies/rstnkw1sg2fWHAvjK1d7\",\"hints\":{\"allow\":[\"GET\",\"PUT\",\"DELETE\"]}},\"rules\":{\"href\":\"https://oie-00/api/v1/policies/rstnkw1sg2fWHAvjK1d7/rules\",\"hints\":{\"allow\":[\"GET\",\"POST\"]}},\"deactivate\":{\"href\":\"https://oie-00/api/v1/policies/rstnkw1sg2fWHAvjK1d7/lifecycle/deactivate\",\"hints\":{\"allow\":[\"POST\"]}}},\"_embedded\":{\"resourceType\":\"APP\"},\"type\":\"ACCESS_POLICY\"},{\"id\":\"rstnkw1sg9IQmPCLu1d7\",\"status\":\"ACTIVE\",\"name\":\"Okta Dashboard\",\"priority\":1,\"system\":false,\"conditions\":null,\"created\":\"2025-06-26T15:51:39.000Z\",\"lastUpdated\":\"2025-06-26T15:51:39.000Z\",\"_links\":{\"mappings\":{\"href\":\"https://oie-00/api/v1/policies/rstnkw1sg9IQmPCLu1d7/mappings\",\"hints\":{\"allow\":[\"GET\",\"POST\"]}},\"self\":{\"href\":\"https://oie-00/api/v1/policies/rstnkw1sg9IQmPCLu1d7\",\"hints\":{\"allow\":[\"G[...]
- id: 32
  request:
    host: oie-00.dne-okta.com
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://oie-00.dne-okta.com/api/v1/apps/0oarqrgjp3mGxRBlH1d7/policies/rstnkw1sgxfqkDUtx1d7
    method: PUT
  response:
    body: ""
    headers:
      Accept-Ch:
      - Sec-CH-UA-Platform-Version
    status: 204 No Content
    code: 204
    duration: 1.158337458s
- id: 33
  request:
    host: oie-00.dne-okta.com
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://oie-00.dne-okta.com/api/v1/apps/0oarqrgjp3mGxRBlH1d7
    method: GET
  response:
    body: "{\"id\":\"0oarqrgjp3mGxRBlH1d7\",\"orn\":\"orn:oktapreview:idp:00onkw1sbuAh3Q06I1d7:apps:oidc_client:0oarqrgjp3mGxRBlH1d7\",\"name\":\"oidc_client\",\"label\":\"testAcc_2173199450\",\"status\":\"ACTIVE\",\"lastUpdated\":\"2025-11-11T09:38:21.000Z\",\"created\":\"2025-11-11T09:38:20.00[...]
- id: 34
  request:
    host: oie-00.dne-okta.com
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://oie-00.dne-okta.com/api/v1/internal/apps/0oarqrgjp3mGxRBlH1d7/settings/oauth/idToken
    method: GET
  response:
    body: "{\"issuer\":\"https://oie-00\",\"orgUrl\":null,\"customUrl\":null,\"audience\":\"0oarqrgjp3mGxRBlH1d7\",\"issuerMode\":\"ORG_URL\"}"
    headers:
      Accept-Ch:
      - Sec-CH-UA-Platform-Version
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 1.01145675s
[...]
- id: 53
  request:
    host: oie-00.dne-okta.com
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://oie-00.dne-okta.com/api/v1/authorizationServers/ausrqrargoWiS11He1d7/lifecycle/deactivate
    method: POST
  response:
    body: ""
    headers:
      Accept-Ch:
      - Sec-CH-UA-Platform-Version
    status: 204 No Content
    code: 204
    duration: 1.033448542s
- id: 54
  request:
    host: oie-00.dne-okta.com
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://oie-00.dne-okta.com/api/v1/apps/0oarqrgjp3mGxRBlH1d7/lifecycle/deactivate
    method: POST
  response:
    body: "{}"
    headers:
      Accept-Ch:
      - Sec-CH-UA-Platform-Version
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 1.824047333s
[...]
