---
version: 2
interactions:
  - id: 0
    request:
      host: classic-00.dne-okta.com
      body: |
        {"requested":{"entryId":"cen1048kevzlpJ0cf1d7","type":"CATALOG_ENTRY"},"requestedFor":{"externalId":"00unkw1sfbTw08c0g1d7","type":"OKTA_USER"}}
      headers:
        Authorization:
          - SSWS REDACTED
        Content-Type:
          - application/json
      url: https://classic-00.dne-okta.com/governance/api/v2/requests
      method: POST
    response:
      body: '{"id":"req10jsivlc6yqVig1d7","createdBy":"00unkw1sfbTw08c0g1d7","created":"2025-08-19T11:31:54Z","lastUpdated":"2025-08-19T11:31:54Z","lastUpdatedBy":"00unkw1sfbTw08c0g1d7","_links":{"self":{"href":"https://classic-00-admin.dne-okta.com/governance/api/v2/requests/req10jsivlc6yqVig1d7","hints":{}}},"requestedBy":{"externalId":"00unkw1sfbTw08c0g1d7","type":"OKTA_USER"},"requestedFor":{"externalId":"00unkw1sfbTw08c0g1d7","type":"OKTA_USER"},"requested":{"entryId":"cen1048kevzlpJ0cf1d7","resourceId":"0oaout8jxz0cQ02BX1d7","resourceType":"APPLICATION","accessScopeId":"0oaout8jxz0cQ02BX1d7","accessScopeType":"APPLICATION"},"requesterFieldValues":[],"status":"SUBMITTED"}'
      headers:
        Accept-Ch:
          - Sec-CH-UA-Platform-Version
        Content-Type:
          - application/json
      status: 202 Accepted
      code: 202
      duration: 1.110013708s
  - id: 1
    request:
      host: classic-00.dne-okta.com
      headers:
        Authorization:
          - SSWS REDACTED
      url: https://classic-00.dne-okta.com/governance/api/v2/requests/req10jsivlc6yqVig1d7
      method: GET
    response:
      body: '{"id":"req10jsivlc6yqVig1d7","createdBy":"00unkw1sfbTw08c0g1d7","created":"2025-08-19T11:31:54Z","lastUpdated":"2025-08-19T11:31:55Z","lastUpdatedBy":"00unkw1sfbTw08c0g1d7","_links":{"approvalCondition":{"href":"https://classic-00-admin.dne-okta.com/governance/api/v2/resources/0oaout8jxz0cQ02BX1d7/request-conditions/rco1048axgjuCsQm41d7","hints":{}},"approvalSequence":{"href":"https://classic-00.at.oktapreview.com/next/sequences/685d6e0fe2fccdd9801704b4","hints":{}},"self":{"href":"https://classic-00-admin.dne-okta.com/governance/api/v2/requests/req10jsivlc6yqVig1d7","hints":{}}},"status":"REJECTED","requestedBy":{"externalId":"00unkw1sfbTw08c0g1d7","type":"OKTA_USER"},"requestedFor":{"externalId":"00unkw1sfbTw08c0g1d7","type":"OKTA_USER"},"requested":{"entryId":"cen1048kevzlpJ0cf1d7","resourceId":"0oaout8jxz0cQ02BX1d7","resourceType":"APPLICATION","accessScopeId":"0oaout8jxz0cQ02BX1d7","accessScopeType":"APPLICATION"},"requesterFieldValues":[],"requestApproval":{"type":"EXTERNAL","providerName":"External","providerDescription":"External","externalRequestId":"N/A","decisions":[]},"riskAssessment":{"requestSubmissionType":"ALLOWED_WITH_NO_OVERRIDES","riskRules":[]}}'
      headers:
        Accept-Ch:
          - Sec-CH-UA-Platform-Version
        Content-Type:
          - application/json
      status: 200 OK
      code: 200
      duration: 2.130515792s