---
version: 2
interactions:
    - id: 0
      request:
        host: oie-00.dne-okta.com
        body: |
            {"name":"testAcc_790039415","platform":"WINDOWS","secureHardwarePresent":true}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://oie-00.dne-okta.com/api/v1/device-assurances
        method: POST
      response:
        body: '{"name":"testAcc_790039415","platform":"WINDOWS","id":"dae14h6wzyv57IUmP1d8","secureHardwarePresent":true,"displayRemediationMode":"HIDE","createdDate":"2026-10-05T20:31:10.000Z","createdBy":"00utivnuu1aaKzqqO1d7","lastUpdate":"2026-10-05T20:31:10.000Z","lastUpdatedBy":"00utivnuu1aaKzqqO1d7","resourceType":"DeviceAssurancePolicyEntity","resourceId":"dae14h6wzyv57IUmP1d8","resourceDisplayName":{"value":"testAcc_790039415","sensitive":false},"_links":{"self":{"href":"https://oie-00.dne-okta.com/api/v1/device-assurances/dae14h6wzyv57IUmP1d8","hints":{"allow":["GET","PUT","DELETE"]}}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.495733208s
    - id: 1
      request:
        host: oie-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/device-assurances/dae14h6wzyv57IUmP1d8
        method: GET
      response:
        body: '{"name":"testAcc_790039415","platform":"WINDOWS","id":"dae14h6wzyv57IUmP1d8","secureHardwarePresent":true,"displayRemediationMode":"HIDE","createdDate":"2026-10-05T20:31:10.000Z","createdBy":"00utivnuu1aaKzqqO1d7","lastUpdate":"2026-10-05T20:31:10.000Z","lastUpdatedBy":"00utivnuu1aaKzqqO1d7","resourceType":"DeviceAssurancePolicyEntity","resourceId":"dae14h6wzyv57IUmP1d8","resourceDisplayName":{"value":"testAcc_790039415","sensitive":false},"_links":{"self":{"href":"https://oie-00.dne-okta.com/api/v1/device-assurances/dae14h6wzyv57IUmP1d8","hints":{"allow":["GET","PUT","DELETE"]}}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.159689s
[...]
