---
version: 2
interactions:
- id: 0
  request:
    host: oie-00.dne-okta.com
    body: "{\"baseUrl\":\"https://integrator-8357679-admin.okta.com\",\"profile\":{\"authScheme\":\"TOKEN\",\"token\":\"<REDACTED>\"}}\n"
    headers:
      Authorization:
      - SSWS REDACTED
      Content-Type:
      - application/json
    url: https://oie-00.dne-okta.com/api/v1/apps/0oarblaf7hWdLawNg1d7/connections/default
    method: POST
  response:
    body: "{\"authScheme\":\"TOKEN\",\"status\":\"DISABLED\",\"baseUrl\":\"https://integrator-8357679-admin.okta.com\",\"profile\":{\"authScheme\":\"TOKEN\"},\"_links\":{\"activate\":{\"href\":\"https://oie-00.dne-okta.com/api/v1/apps/0oarblaf7hWdLawNg1d7/connections/default/lifecycle/activate\",\"hints\":{\"allow\":[\"POST\"]}},\"self\":{\"href\":\"https://oie-00.dne-okta.com/api/v1/apps/0oarblaf7hWdLawNg1d7/connections/default\",\"hints\":{\"allow\":[\"POST\",\"GET\"]}}}}"
    headers:
      Accept-Ch:
      - Sec-CH-UA-Platform-Version
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 2.732733375s
- id: 1
  request:
    host: oie-00.dne-okta.com
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://oie-00.dne-okta.com/api/v1/apps/0oarblaf7hWdLawNg1d7/connections/default/lifecycle/activate
    method: POST
  response:
    body: ""
    headers:
      Accept-Ch:
      - Sec-CH-UA-Platform-Version
    status: 204 No Content
    code: 204
    duration: 3.27714875s
- id: 2
  request:
    host: oie-00.dne-okta.com
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://oie-00.dne-okta.com/api/v1/apps/0oarblaf7hWdLawNg1d7/connections/default
    method: GET
  response:
    body: "{\"authScheme\":\"TOKEN\",\"status\":\"ENABLED\",\"baseUrl\":\"https://integrator-8357679-admin.okta.com\",\"profile\":{\"authScheme\":\"TOKEN\"},\"_links\":{\"self\":{\"href\":\"https://oie-00.dne-okta.com/api/v1/apps/0oarblaf7hWdLawNg1d7/connections/default\",\"hints\":{\"allow\":[\"POST\",\"GET\"]}},\"deactivate\":{\"href\":\"https://oie-00.dne-okta.com/api/v1/apps/0oarblaf7hWdLawNg1d7/connections/default/lifecycle/deactivate\",\"hints\":{\"allow\":[\"POST\"]}}}}"
    headers:
      Accept-Ch:
      - Sec-CH-UA-Platform-Version
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 1.150424208s
