---
version: 2
interactions:
    - id: 0
      request:
        host: classic-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/governance/api/v2/resources/0oaoum6j3cElINe1z1d7/request-settings
        method: GET
      response:
        body: '{"validAccessScopeSettings":[{"type":"ENTITLEMENT_BUNDLES"},{"type":"RESOURCE_DEFAULT"}],"validRequesterSettings":[{"type":"EVERYONE"},{"type":"GROUPS"}],"validAccessDurationSettings":{"supportedTypes":[{"type":"ADMIN_FIXED_DURATION"},{"type":"REQUESTER_SPECIFIED_DURATION"}],"required":false,"maximumDays":90,"maximumHours":72,"maximumWeeks":12},"validRiskSettings":{"supportedTypes":[{"type":"DEFAULT_SETTING"}]},"riskSettings":{"defaultSetting":{"requestSubmissionType":"RESTRICTED"}},"validRequestOnBehalfOfSettings":[]}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.150853583s
[...]
