---
version: 2
interactions:
    - id: 0
      request:
        host: oie-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/governance/api/v2/resources/0oaoum6j3cElINe1z1d7/request-settings
        method: GET
      response:
        body: '{"validAccessScopeSettings":[{"type":"RESOURCE_DEFAULT"},{"type":"ENTITLEMENT_BUNDLES"}],"validRequesterSettings":[{"type":"GROUPS"},{"type":"EVERYONE"}],"validAccessDurationSettings":{"supportedTypes":[{"type":"ADMIN_FIXED_DURATION"},{"type":"REQUESTER_SPECIFIED_DURATION"}],"required":false,"maximumDays":90,"maximumHours":72,"maximumWeeks":12},"validRiskSettings":{"supportedTypes":[{"type":"DEFAULT_SETTING"}]},"riskSettings":{"defaultSetting":{"requestSubmissionType":"RESTRICTED"}},"validRequestOnBehalfOfSettings":[]}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.098467375s
[...]
