---
version: 2
interactions:
    - id: 0
      request:
        host: mm-classic-2022-10-04.oktapreview.com
        body: |
            {"credentials":{"password":{}},"profile":{"email":"testAcc_2233845721@example.com","firstName":"TestAcc","lastName":"Smith","login":"testAcc_2233845721@example.com","postalAddress":null}}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://mm-classic-2022-10-04.oktapreview.com/api/v1/users
        method: POST
      response:
        body: '{"id":"00u95uugrtQGiTuIR1d7","status":"PROVISIONED","created":"2023-07-27T20:10:48.000Z","activated":"2023-07-27T20:10:48.000Z","statusChanged":"2023-07-27T20:10:48.000Z","lastLogin":null,"lastUpdated":"2023-07-27T20:10:48.000Z","passwordChanged":null,"type":{"id":"oty5ptm052JMcoADv1d7"},"profile":{"firstName":"TestAcc","lastName":"Smith","mobilePhone":null,"secondEmail":null,"login":"testAcc_2233845721@example.com","email":"testAcc_2233845721@example.com"},"credentials":{"provider":{"type":"OKTA","name":"OKTA"}},"_links":{"suspend":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/users/00u95uugrtQGiTuIR1d7/lifecycle/suspend","method":"POST"},"schema":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/meta/schemas/user/osc5ptm052JMcoADv1d7"},"resetPassword":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/users/00u95uugrtQGiTuIR1d7/lifecycle/reset_password","method":"POST"},"reactivate":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/users/00u95uugrtQGiTuIR1d7/lifecycle/reactivate","method":"POST"},"self":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/users/00u95uugrtQGiTuIR1d7"},"type":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/meta/types/user/oty5ptm052JMcoADv1d7"},"deactivate":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/users/00u95uugrtQGiTuIR1d7/lifecycle/deactivate","method":"POST"}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 397.603598ms
    - id: 1
      request:
        host: mm-classic-2022-10-04.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-classic-2022-10-04.oktapreview.com/api/v1/users/00u95uugrtQGiTuIR1d7
        method: GET
      response:
        body: '{"id":"00u95uugrtQGiTuIR1d7","status":"PROVISIONED","created":"2023-07-27T20:10:48.000Z","activated":"2023-07-27T20:10:48.000Z","statusChanged":"2023-07-27T20:10:48.00[...]
    - id: 2
      request:
        host: mm-classic-2022-10-04.oktapreview.com
        body: |
            {"accessibility":{"selfService":false},"credentials":{"userNameTemplate":{"template":"${source.login}","type":"BUILT_IN"},"oauthClient":{"autoKeyRotation":true,"pkce_required":false,"token_endpoint_auth_method":"client_secret_basic"}},"label":"testAcc_2233845721","name":"oidc_client","settings":{"app":{},"implicitAssignment":false,"notes":{"admin":null,"enduser":null},"oauthClient":{"application_type":"web","consent_method":"TRUSTED","grant_types":["authorization_code","implicit"],"idp_initiated_login":{"default_scope":[],"mode":"DISABLED"},"issuer_mode":"ORG_URL","redirect_uris":["http://d.com/"],"response_types":["code","token","id_token"],"wildcard_redirect":"DISABLED"}},"signOnMode":"OPENID_CONNECT","visibility":{"autoSubmitToolbar":false,"hide":{"iOS":true,"web":true}}}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://mm-classic-2022-10-04.oktapreview.com/api/v1/apps?activate=true
        method: POST
      response:
        body: '{"id":"0oa95us41nUxhVEO01d7","name":"oidc_client","label":"testAcc_2233845721","status":"ACTIVE","lastUpdated":"2023-07-27T20:10:49.000Z","created":"2023-07-27T20:10:48.000Z","accessibility":{"selfService":false,"errorRedirectUrl":null,"loginRedirectUrl":null},"visibility":{"autoLaunch":false,"autoSubmitToolbar":false,"hide":{"iOS":true,"web":true},"appLinks":{"oidc_client_link":true}},"features":[],"signOnMode":"OPENID_CONNECT","credentials":{"userNameTemplate":{"template":"${source.login}","type":"BUILT_IN"},"signing":{"kid":"RwDaGE-iT82hX655Q4f0UIf43qDZbNdJM3JkppJkusM"},"oauthClient":{"autoKeyRotation":true,"client_id":"0oa95us41nUxhVEO01d7","client_secret":"yH6LW7rMxubajMR9QmaQUb13JZ0Jx3LMGdA8Uuq7BA6ll5Wllzm53ZoeVvKc4CX0","token_endpoint_auth_method":"client_secret_basic","pkce_required":false}},"settings":{"app":{},"notifications":{"vpn":{"network":{"connection":"DISABLED"},"message":null,"helpUrl":null}},"manualProvisioning":false,"implicitAssignment":false,"notes":{"admin":null,"enduser":null},"oauthClient":{"client_uri":null,"logo_uri":null,"redirect_uris":["http://d.com/"],"response_types":["code","token","id_token"],"grant_types":["authorization_code","implicit"],"application_type":"web","issuer_mode":"ORG_URL","idp_initiated_login":{"mode":"DISABLED","default_scope":[]},"wildcard_redirect":"DISABLED"}},"_links":{"uploadLogo":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/apps/0oa95us41nUxhVEO01d7/logo","hints":{"allow":["POST"]}},"appLinks":[{"name":"oidc_client_link","href":"https://mm-classic-2022-10-04.oktapreview.com/home/oidc_client/0oa95us41nUxhVEO01d7/aln177a159h7Zf52X0g8","type":"text/html"}],"groups":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/apps/0oa95us41nUxhVEO01d7/groups"},"logo":[{"name":"medium","href":"https://op3static.oktacdn.com/assets/img/logos/default.6770228fb0dab49a1695ef440a5279bb.png","type":"image/png"}],"clientCredentials":[{"name":"secrets","href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/apps/0oa95us41nUxhVEO01d7/credentials/secrets"}],"users":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/apps/0oa95us41nUxhVEO01d7/users"},"deactivate":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/apps/0oa95us41nUxhVEO01d7/lifecycle/deactivate"}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.239425069s
    - id: 3
      request:
        host: mm-classic-2022-10-04.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-classic-2022-10-04.oktapreview.com/.well-known/okta-organization
        method: GET
      response:
        body: '{"id":"00o5ptm04a2LyDEyk1d7","cell":"op3","_links":{"organization":{"href":"https://mm-classic-2022-10-04.oktapreview.com"}},"pipeline":"v1","settings":{"analyticsCollectionEnabled":false,"bugReportingEnabled":true,"omEnabled":true,"pssoEnabled":false}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 58.23138ms
    - id: 4
      request:
        host: mm-classic-2022-10-04.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-classic-2022-10-04.oktapreview.com/api/v1/apps/0oa95us41nUxhVEO01d7
        method: GET
      response:
        body: '{"id":"0oa95us41nUxhVEO01d7","name":"oidc_client","label":"testAcc_2233845721","status":"ACTIVE","lastUpdated":"2023-07-27T20:10:49.000Z","created":"2023-07-27T20:10:48[...]
    - id: 5
      request:
        host: mm-classic-2022-10-04.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-classic-2022-10-04.oktapreview.com/api/v1/internal/apps/0oa95us41nUxhVEO01d7/settings/oauth/idToken
        method: GET
      response:
        body: '{"issuer":"https://mm-classic-2022-10-04.oktapreview.com","orgUrl":null,"customUrl":null,"audience":"0oa95us41nUxhVEO01d7","issuerMode":"ORG_URL"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 69.679304ms
[...]
    - id: 7
      request:
        host: mm-classic-2022-10-04.oktapreview.com
        body: |
            {"credentials":{"password":{},"userName":"testAcc_2233845721@example.com"},"id":"00u95uugrtQGiTuIR1d7"}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://mm-classic-2022-10-04.oktapreview.com/api/v1/apps/0oa95us41nUxhVEO01d7/users
        method: POST
      response:
        body: '{"id":"00u95uugrtQGiTuIR1d7","externalId":null,"created":"2023-07-27T20:10:51.000Z","lastUpdated":"2023-07-27T20:10:51.000Z","scope":"USER","status":"ACTIVE","statusChanged":"2023-07-27T20:10:51.000Z","passwordChanged":null,"syncState":"DISABLED","credentials":{"userName":"testAcc_2233845721@example.com"},"profile":{"street_address":null,"country":null,"website":null,"zoneinfo":"America/Los_Angeles","birthdate":null,"gender":null,"formatted":null,"profile":null,"locality":null,"given_name":"TestAcc","middle_name":null,"locale":"en_US","picture":null,"name":"TestAcc Smith","nickname":null,"phone_number":null,"region":null,"postal_code":null,"family_name":"Smith","email":"testAcc_2233845721@example.com"},"_links":{"app":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/apps/0oa95us41nUxhVEO01d7"},"user":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/users/00u95uugrtQGiTuIR1d7"}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 153.429997ms
[...]
    - id: 9
      request:
        host: mm-classic-2022-10-04.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-classic-2022-10-04.oktapreview.com/api/v1/apps/0oa95us41nUxhVEO01d7/users/00u95uugrtQGiTuIR1d7
        method: GET
      response:
        body: '{"id":"00u95uugrtQGiTuIR1d7","externalId":null,"created":"2023-07-27T20:10:51.000Z","lastUpdated":"2023-07-27T20:10:51.000Z","scope":"USER","status":"ACTIVE","statusChanged":"2023-07-27T20:10:51.000Z","passwordChanged":null,"syncState":"DISABLED","credentials":{"userName":"testAcc_2233845721@example.com"},"profile":{"street_address":null,"country":null,"website":null,"zoneinfo":"America/Los_Angeles","birthdate":null,"gender":null,"formatted":null,"profile":null,"locality":null,"given_name":"TestAcc","middle_name":null,"locale":"en_US","picture":null,"name":"TestAcc Smith","nickname":null,"phone_number":null,"region":null,"postal_code":null,"family_name":"Smith","email":"testAcc_2233845721@example.com"},"_links":{"app":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/apps/0oa95us41nUxhVEO01d7"},"user":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/users/00u95uugrtQGiTuIR1d7"}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 368.488201ms
    - id: 10
      request:
        host: mm-classic-2022-10-04.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-classic-2022-10-04.oktapreview.com/api/v1/apps/0oa95us41nUxhVEO01d7/users
        method: GET
      response:
        body: '[{"id":"00u95uugrtQGiTuIR1d7","externalId":null,"created":"2023-07-27T20:10:51.000Z","lastUpdated":"2023-07-27T20:10:51.000Z","scope":"USER","status":"ACTIVE","statusChanged":"2023-07-27T20:10:51.000Z","passwordChanged":null,"syncState":"DISABLED","credentials":{"userName":"testAcc_2233845721@example.com"},"profile":{"street_address":null,"country":null,"website":null,"zoneinfo":"America/Los_Angeles","birthdate":null,"gender":null,"formatted":null,"profile":null,"locality":null,"given_name":"TestAcc","middle_name":null,"locale":"en_US","picture":null,"name":"TestAcc Smith","nickname":null,"phone_number":null,"region":null,"postal_code":null,"family_name":"Smith","email":"testAcc_2233845721@example.com"},"_links":{"app":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/apps/0oa95us41nUxhVEO01d7"},"user":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/users/00u95uugrtQGiTuIR1d7"}}}]'
        headers:
            Content-Type:
                - application/json
            Link:
                - <https://mm-classic-2022-10-04.oktapreview.com/api/v1/apps/0oa95us41nUxhVEO01d7/users?limit=50>; rel="self"
        status: 200 OK
        code: 200
        duration: 347.121985ms
[...]
    - id: 20
      request:
        host: mm-classic-2022-10-04.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-classic-2022-10-04.oktapreview.com/api/v1/apps/0oa95us41nUxhVEO01d7/lifecycle/deactivate
        method: POST
      response:
        body: '{}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 134.705892ms
[...]
