---
version: 1
interactions:
- request:
    body: |
      {"credentials":{"password":{}},"profile":{"email":"testAcc_2233845721@example.com","firstName":"TestAcc","lastName":"Smith","login":"testAcc_2233845721@example.com","postalAddress":null}}
    form: {}
    headers:
      Authorization:
      - SSWS REDACTED
      Content-Type:
      - application/json
    url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/users
    method: POST
  response:
    body: '{"id":"00u7l7wmeiTm1HJ7t1d7","status":"PROVISIONED","created":"2023-04-06T18:37:43.000Z","activated":"2023-04-06T18:37:43.000Z","statusChanged":"2023-04-06T18:37:43.000Z","lastLogin":null,"lastUpdated":"2023-04-06T18:37:43.000Z","passwordChanged":null,"type":{"id":"oty5qwjvh0Vy1j8Kd1d7"},"profile":{"firstName":"TestAcc","lastName":"Smith","mobilePhone":null,"secondEmail":null,"login":"testAcc_2233845721@example.com","email":"testAcc_2233845721@example.com"},"credentials":{"provider":{"type":"OKTA","name":"OKTA"}},"_links":{"suspend":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/users/00u7l7wmeiTm1HJ7t1d7/lifecycle/suspend","method":"POST"},"schema":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/meta/schemas/user/osc5qwjvh0Vy1j8Kd1d7"},"resetPassword":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/users/00u7l7wmeiTm1HJ7t1d7/lifecycle/reset_password","method":"POST"},"reactivate":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/users/00u7l7wmeiTm1HJ7t1d7/lifecycle/reactivate","method":"POST"},"self":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/users/00u7l7wmeiTm1HJ7t1d7"},"resetFactors":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/users/00u7l7wmeiTm1HJ7t1d7/lifecycle/reset_factors","method":"POST"},"type":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/meta/types/user/oty5qwjvh0Vy1j8Kd1d7"},"deactivate":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/users/00u7l7wmeiTm1HJ7t1d7/lifecycle/deactivate","method":"POST"}}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/users/00u7l7wmeiTm1HJ7t1d7
    method: GET
  response:
    body: '{"id":"00u7l7wmeiTm1HJ7t1d7","status":"PROVISIONED","created":"2023-04-06T18:37:43.000Z","activated":"2023-04-06T18:37:43.000Z","statusChanged":"2023-04-06T18:37:43.000Z","lastLogin":null,"lastUpdated":"2023-04-06T18:37:43.000Z","passwordChanged":null,"type":{"id":"oty5qwjvh0Vy1[...]
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/users/00u7l7wmeiTm1HJ7t1d7/roles
    method: GET
  response:
    body: '[]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"accessibility":{"selfService":false},"credentials":{"userNameTemplate":{"template":"${source.login}","type":"BUILT_IN"},"oauthClient":{"autoKeyRotation":true,"pkce_required":false,"token_endpoint_auth_method":"client_secret_basic"}},"label":"testAcc_2233845721","name":"oidc_client","settings":{"app":{},"implicitAssignment":false,"notes":{"admin":null,"enduser":null},"oauthClient":{"application_type":"web","consent_method":"TRUSTED","grant_types":["authorization_code","implicit"],"idp_initiated_login":{"default_scope":[],"mode":"DISABLED"},"issuer_mode":"ORG_URL","redirect_uris":["http://d.com/"],"response_types":["code","token","id_token"],"wildcard_redirect":"DISABLED"}},"signOnMode":"OPENID_CONNECT","visibility":{"autoSubmitToolbar":false,"hide":{"iOS":true,"web":true}}}
    form: {}
    headers:
      Authorization:
      - SSWS REDACTED
      Content-Type:
      - application/json
    url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/apps?activate=true
    method: POST
  response:
    body: '{"id":"0oa7l7wotcJ7bIP2g1d7","name":"oidc_client","label":"testAcc_2233845721","status":"ACTIVE","lastUpdated":"2023-04-06T18:37:43.000Z","created":"2023-04-06T18:37:43.000Z","accessibility":{"selfService":false,"errorRedirectUrl":null,"loginRedirectUrl":null},"visibility":{"autoLaunch":false,"autoSubmitToolbar":false,"hide":{"iOS":true,"web":true},"appLinks":{"oidc_client_link":true}},"features":[],"signOnMode":"OPENID_CONNECT","credentials":{"userNameTemplate":{"template":"${source.login}","type":"BUILT_IN"},"signing":{"kid":"N60VbAntJ7ONHTQr7YcAiywke_a08RzPdv9okaextIA"},"oauthClient":{"autoKeyRotation":true,"client_id":"0oa7l7wotcJ7bIP2g1d7","client_secret":"N6iecwVPNaHkkCBp2Ny0IhF84KZoU44ChSbK7Ndh","token_endpoint_auth_method":"client_secret_basic","pkce_required":false}},"settings":{"app":{},"notifications":{"vpn":{"network":{"connection":"DISABLED"},"message":null,"helpUrl":null}},"notes":{"admin":null,"enduser":null},"oauthClient":{"client_uri":null,"logo_uri":null,"redirect_uris":["http://d.com/"],"response_types":["code","token","id_token"],"grant_types":["authorization_code","implicit"],"application_type":"web","consent_method":"TRUSTED","issuer_mode":"ORG_URL","idp_initiated_login":{"mode":"DISABLED","default_scope":[]},"wildcard_redirect":"DISABLED"}},"_links":{"uploadLogo":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/apps/0oa7l7wotcJ7bIP2g1d7/logo","hints":{"allow":["POST"]}},"appLinks":[{"name":"oidc_client_link","href":"https://mm-oie-2022-10-07-max.oktapreview.com/home/oidc_client/0oa7l7wotcJ7bIP2g1d7/aln177a159h7Zf52X0g8","type":"text/html"}],"profileEnrollment":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/policies/rst5qwjvlxUHivL8a1d7"},"policies":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/apps/0oa7l7wotcJ7bIP2g1d7/policies","hints":{"allow":["PUT"]}},"groups":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/apps/0oa7l7wotcJ7bIP2g1d7/groups"},"logo":[{"name":"medium","href":"https://op3static.oktacdn.com/assets/img/logos/default.6770228fb0dab49a1695ef440a5279bb.png","type":"image/png"}],"clientCredentials":[{"name":"secrets","href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/apps/0oa7l7wotcJ7bIP2g1d7/credentials/secrets"}],"accessPolicy":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/policies/rst5qwjvlvS3G1WOU1d7"},"users":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/apps/0oa7l7wotcJ7bIP2g1d7/users"},"deactivate":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/apps/0oa7l7wotcJ7bIP2g1d7/lifecycle/deactivate"}}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/policies?type=ACCESS_POLICY
    method: GET
  response:
    body: '[{"id":"rst5qwjvkl70Eb6xw1d7","status":"ACTIVE","name":"Okta Admin Console","priority":1,"system":false,"conditions":null,"created":"2022-10-07T23:17:01.000Z","lastUpdated":"2022-10-07T23:17:01.000Z","_links":{"self":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/policies/rst5qwjvkl70Eb6xw1d7","hints":{"allow":["GET","PUT","DELETE"]}},"rules":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/policies/rst5qwjvkl70Eb6xw1d7/rules","hints":{"allow":["GET","POST"]}},"deactivate":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/policies/rst5qwjvkl70Eb6xw1d7/lifecycle/deactivate","hints":{"allow":["POST"]}}},"type":"ACCESS_POLICY"},{"id":"rst5qwjvlvS3G1WOU1d7","status":"ACTIVE","name":"Any two factors","description":"Require two factors to access.","priority":1,"system":true,"conditions":null,"created":"2022-10-07T23:17:01.000Z","lastUpdated":"2022-10-07T23:17:01.000Z","_links":{"self":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/policies/rst5qwjvlvS3G1WOU1d7","hints":{"allow":["GET","PUT"]}},"rules":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/policies/rst5qwjvlvS3G1WOU1d7/rules","hints":{"allow":["GET","POST"]}}},"type":"ACCESS_POLICY"},{"id":"rst7a8k7jmedunOAK1d7","statu[...]
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/apps/0oa7l7wotcJ7bIP2g1d7/policies/rst5qwjvlvS3G1WOU1d7
    method: PUT
  response:
    body: ""
    headers:
    status: 204 No Content
    code: 204
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/apps/0oa7l7wotcJ7bIP2g1d7
    method: GET
  response:
    body: '{"id":"0oa7l7wotcJ7bIP2g1d7","name":"oidc_client","label":"testAcc_2233845721","status":"ACTIVE","lastUpdated":"2023-04-06T18:37:43.000Z","created":"2023-04-06T18:37:43.000Z","accessibility":{"selfService":false,"errorRedirectUrl":null,"loginRedirectUrl":null},"visibility":{"auto[...]
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/apps/0oa7l7wotcJ7bIP2g1d7/users?limit=200
    method: GET
  response:
    body: '[]'
    headers:
      Content-Type:
      - application/json
      Link:
      - <https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/apps/0oa7l7wotcJ7bIP2g1d7/users?limit=200>; rel="self"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/apps/0oa7l7wotcJ7bIP2g1d7/groups?limit=200
    method: GET
  response:
    body: '[]'
    headers:
      Content-Type:
      - application/json
      Link:
      - <https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/apps/0oa7l7wotcJ7bIP2g1d7/groups?limit=200>; rel="self"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: |
      {"credentials":{"password":{},"userName":"testAcc_2233845721@example.com"},"id":"00u7l7wmeiTm1HJ7t1d7"}
    form: {}
    headers:
      Authorization:
      - SSWS REDACTED
      Content-Type:
      - application/json
    url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/apps/0oa7l7wotcJ7bIP2g1d7/users
    method: POST
  response:
    body: '{"id":"00u7l7wmeiTm1HJ7t1d7","externalId":null,"created":"2023-04-06T18:37:45.000Z","lastUpdated":"2023-04-06T18:37:45.000Z","scope":"USER","status":"ACTIVE","statusChanged":"2023-04-06T18:37:45.000Z","passwordChanged":null,"syncState":"DISABLED","credentials":{"userName":"testAcc_2233845721@example.com"},"profile":{"street_address":null,"country":null,"website":null,"zoneinfo":"America/Los_Angeles","birthdate":null,"gender":null,"formatted":null,"profile":null,"locality":null,"given_name":"TestAcc","middle_name":null,"locale":"en_US","picture":null,"name":"TestAcc Smith","nickname":null,"phone_number":null,"region":null,"postal_code":null,"family_name":"Smith","email":"testAcc_2233845721@example.com"},"_links":{"app":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/apps/0oa7l7wotcJ7bIP2g1d7"},"user":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/users/00u7l7wmeiTm1HJ7t1d7"}}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/apps/0oa7l7wotcJ7bIP2g1d7/users/00u7l7wmeiTm1HJ7t1d7
    method: GET
  response:
    body: '{"id":"00u7l7wmeiTm1HJ7t1d7","externalId":null,"created":"2023-04-06T18:37:45.000Z","lastUpdated":"2023-04-06T18:37:45.000Z","scope":"USER","status":"ACTIVE","statusChanged":"2023-04-06T18:37:45.000Z","passwordChanged":null,"syncState":"DISABLED","credentials":{"userName":"testAcc_2233845721@example.com"},"profile":{"street_address":null,"country":null,"website":null,"zoneinfo":"America/Los_Angeles","birthdate":null,"gender":null,"formatted":null,"profile":null,"locality":null,"given_name":"TestAcc","middle_name":null,"locale":"en_US","picture":null,"name":"TestAcc Smith","nickname":null,"phone_number":null,"region":null,"postal_code":null,"family_name":"Smith","email":"testAcc_2233845721@example.com"},"_links":{"app":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/apps/0oa7l7wotcJ7bIP2g1d7"},"user":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/users/00u7l7wmeiTm1HJ7t1d7"}}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/apps/0oa7l7wotcJ7bIP2g1d7/lifecycle/deactivate
    method: POST
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
