---
version: 2
interactions:
    - id: 0
      request:
        host: oie-00.dne-okta.com
        body: |
            {"definitions":{"custom":{"id":"#custom","properties":{"testSchema1_185522759":{"description":"Test string schema","master":{"type":"OKTA"},"permissions":[{"action":"READ_ONLY","principal":"SELF"}],"required":false,"scope":"NONE","title":"TestSchema1_185522759","type":"string"}},"type":"object"}}}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://oie-00.dne-okta.com/api/v1/meta/schemas/group/default
        method: POST
      response:
        body: '{"id":"https://oie-00.oktapreview.com/meta/schemas/group/default","$schema":"http://json-schema.org/draft-04/schema#","name":"group","title":"Okta group","description":"Okta group profile template","lastUpdated":"2023-08-15T23:43:19.000Z","created":"2022-10-07T23:16:57.000Z","definitions":{"custom":{"id":"#custom","type":"object","properties":{"samlRole":{"title":"samlRole","type":"array","mutability":"READ_WRITE","scope":"NONE","items":{"type":"string"},"permissions":[{"principal":"SELF","action":"READ_WRITE"}],"master":{"type":"PROFILE_MASTER"}},"test":{"title":"test","description":"test","type":"string","mutability":"READ_WRITE","scope":"NONE","permissions":[{"principal":"SELF","action":"READ_WRITE"}],"master":{"type":"PROFILE_MASTER"}},"testSchema1_185522759":{"title":"TestSchema1_185522759","description":"Test string schema","type":"string","mutability":"READ_WRITE","scope":"NONE","permissions":[{"principal":"SELF","action":"READ_ONLY"}],"master":{"type":"OKTA"}}},"required":[]},"base":{"id":"#base","type":"object","properties":{"name":{"title":"Name","description":"Name","type":"string","required":true,"mutability":"READ_WRITE","scope":"NONE","maxLength":255,"permissions":[{"principal":"SELF","action":"READ_WRITE"}],"master":{"type":"PROFILE_MASTER"}},"description":{"title":"Description","description":"Description","type":"string","mutability":"READ_WRITE","scope":"NONE","maxLength":1024,"permissions":[{"principal":"SELF","action":"READ_WRITE"}],"master":{"type":"PROFILE_MASTER"}}},"required":["name"]}},"type":"object","properties":{"profile":{"allOf":[{"$ref":"#/definitions/custom"},{"$ref":"#/definitions/base"}]}},"_links":{"self":{"rel":"self","href":"https://oie-00.oktapreview.com/api/v1/meta/schemas/group/default","method":"GET"}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 148.393577ms
    - id: 1
      request:
        host: oie-00.dne-okta.com
        body: |
            {"definitions":{"custom":{"id":"#custom","properties":{"testSchema2_185522759":{"description":"Test bool schema","master":{"type":"OKTA"},"permissions":[{"action":"READ_ONLY","principal":"SELF"}],"required":false,"scope":"NONE","title":"TestSchema2_185522759","type":"boolean"}},"type":"object"}}}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://oie-00.dne-okta.com/api/v1/meta/schemas/group/default
        method: POST
      response:
        body: '[...]
    - id: 2
      request:
        host: oie-00.dne-okta.com
        body: |
            {"definitions":{"custom":{"id":"#custom","properties":{"testSchema3_185522759":{"description":"Test bool schema","master":{"type":"OKTA"},"permissions":[{"action":"READ_ONLY","principal":"SELF"}],"required":false,"scope":"NONE","title":"TestSchema3_185522759","type":"number"}},"type":"object"}}}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://oie-00.dne-okta.com/api/v1/meta/schemas/group/default
        method: POST
      response:
        body: '{[...]
[...]
    - id: 10
      request:
        host: oie-00.dne-okta.com
        body: |
            {"profile":{"description":"testing, testing","name":"testAcc_185522759","testSchema1_185522759":"testing1234","testSchema2_185522759":true,"testSchema3_185522759":54321}}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://oie-00.dne-okta.com/api/v1/groups
        method: POST
      response:
        body: '{"id":"00g9i73ptbfMp7H6Y1d7","created":"2023-08-15T23:44:34.000Z","lastUpdated":"2023-08-15T23:44:34.000Z","lastMembershipUpdated":"2023-08-15T23:44:34.000Z","objectClass":["okta:user_group"],"type":"OKTA_GROUP","profile":{"name":"testAcc_185522759","description":"testing, testing","testSchema3_185522759":54321,"testSchema2_185522759":true,"testSchema1_185522759":"testing1234"},"_links":{"logo":[{"name":"medium","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-medium.30ce6d4085dff29412984e4c191bc874.png","type":"image/png"},{"name":"large","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-large.c3cb8cda8ae0add1b4fe928f5844dbe3.png","type":"image/png"}],"users":{"href":"https://oie-00.oktapreview.com/api/v1/groups/00g9i73ptbfMp7H6Y1d7/users"},"apps":{"href":"https://oie-00.oktapreview.com/api/v1/groups/00g9i73ptbfMp7H6Y1d7/apps"}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 95.885266ms
    - id: 11
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/groups/00g9i73ptbfMp7H6Y1d7
        method: GET
      response:
        body: '{"id":"00g9i73ptbfMp7H6Y1d7","created":"2023-08-15T23:44:34.000Z","lastUpdated":"2023-08-15T23:44:34.000Z","lastMembershipUpdated":"2023-08-15T23:44:34.000Z","objectClass":["okta:user_group"],"type":"OKTA_GROUP","profile":{"name":"testAcc_185522759","description":"testing, testing","testSchema3_185522759":54321,"testSchema2_185522759":true,"testSchema1_185522759":"testing1234"},"_links":{"logo":[{"name":"medium","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-medium.30ce6d4085dff29412984e4c191bc874.png","type":"image/png"},{"name":"large","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-large.c3cb8cda8ae0add1b4fe928f5844dbe3.png","type":"image/png"}],"users":{"href":"https://oie-00.oktapreview.com/api/v1/groups/00g9i73ptbfMp7H6Y1d7/users"},"apps":{"href":"https://oie-00.oktapreview.com/api/v1/groups/00g9i73ptbfMp7H6Y1d7/apps"}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 65.658478ms
[...]
    - id: 46
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/groups/00g9i73ptbfMp7H6Y1d7
        method: GET
      response:
        body: '{"errorCode":"E0000007","errorSummary":"Not found: Resource not found: 00g9i73ptbfMp7H6Y1d7 (UserGroup)","errorLink":"E0000007","errorId":"oaekXl9Y2AVQcW064EhTYUOhA","errorCauses":[]}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 69.800517ms
