---
version: 2
interactions:
    - id: 0
      request:
        host: classic-00.dne-okta.com
        body: |
            {"credentials":{"password":{"value":"Abcd1234"},"recovery_question":{"answer":"Forty Two","question":"What is the answer to life, the universe, and everything?"}},"profile":{"email":"testAcc-3512374314@example.com","firstName":"TestAcc","lastName":"Smith","login":"testAcc-3512374314@example.com","postalAddress":null}}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://classic-00.dne-okta.com/api/v1/users
        method: POST
      response:
        body: '{"id":"00u9i7kpizxa4BGhS1d7","status":"ACTIVE","created":"2023-08-16T00:09:02.000Z","activated":"2023-08-16T00:09:02.000Z","statusChanged":"2023-08-16T00:09:02.000Z","lastLogin":null,"lastUpdated":"2023-08-16T00:09:02.000Z","passwordChanged":"2023-08-16T00:09:02.000Z","type":{"id":"oty5ptm052JMcoADv1d7"},"profile":{"firstName":"TestAcc","lastName":"Smith","mobilePhone":null,"secondEmail":null,"login":"testAcc-3512374314@example.com","email":"testAcc-3512374314@example.com"},"credentials":{"password":{},"recovery_question":{"question":"What is the answer to life, the universe, and everything?"},"provider":{"type":"OKTA","name":"OKTA"}},"_links":{"suspend":{"href":"https://classic-00.oktapreview.com/api/v1/users/00u9i7kpizxa4BGhS1d7/lifecycle/suspend","method":"POST"},"schema":{"href":"https://classic-00.oktapreview.com/api/v1/meta/schemas/user/osc5ptm052JMcoADv1d7"},"resetPassword":{"href":"https://classic-00.oktapreview.com/api/v1/users/00u9i7kpizxa4BGhS1d7/lifecycle/reset_password","method":"POST"},"forgotPassword":{"href":"https://classic-00.oktapreview.com/api/v1/users/00u9i7kpizxa4BGhS1d7/credentials/forgot_password","method":"POST"},"expirePassword":{"href":"https://classic-00.oktapreview.com/api/v1/users/00u9i7kpizxa4BGhS1d7/lifecycle/expire_password","method":"POST"},"changeRecoveryQuestion":{"href":"https://classic-00.oktapreview.com/api/v1/users/00u9i7kpizxa4BGhS1d7/credentials/change_recovery_question","method":"POST"},"self":{"href":"https://classic-00.oktapreview.com/api/v1/users/00u9i7kpizxa4BGhS1d7"},"type":{"href":"https://classic-00.oktapreview.com/api/v1/meta/types/user/oty5ptm052JMcoADv1d7"},"changePassword":{"href":"https://classic-00.oktapreview.com/api/v1/users/00u9i7kpizxa4BGhS1d7/credentials/change_password","method":"POST"},"deactivate":{"href":"https://classic-00.oktapreview.com/api/v1/users/00u9i7kpizxa4BGhS1d7/lifecycle/deactivate","method":"POST"}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 583.480446ms
    - id: 1
      request:
        host: classic-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/users/00u9i7kpizxa4BGhS1d7
        method: GET
      response:
        body: '{"id":"00u9i7kpizxa4BGhS1d7","status":"ACTIVE","created":"2023-08-16T00:09:02.000Z","activated":"2023-08-16T00:09:02.000Z","statusChanged":"2023-08-16T00:09:02.000Z","lastLogin":null,"lastUpdated[...]
[...]
    - id: 7
      request:
        host: classic-00.dne-okta.com
        body: |
            {"password":{"value":"SuperSecret007"},"recovery_question":{"answer":"Asterisk","question":"Which symbol has the ASCII code of Forty Two?"}}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://classic-00.dne-okta.com/api/v1/users/00u9i7kpizxa4BGhS1d7/credentials/change_recovery_question
        method: POST
      response:
        body: '{"password":{},"recovery_question":{"question":"Which symbol has the ASCII code of Forty Two?"},"provider":{"type":"OKTA","name":"OKTA"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 382.730545ms
[...]
    - id: 13
      request:
        host: classic-00.dne-okta.com
        body: |
            {"newPassword":{"value":"Super#Secret@007"},"oldPassword":{"value":"SuperSecret007"}}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://classic-00.dne-okta.com/api/v1/users/00u9i7kpizxa4BGhS1d7/credentials/change_password
        method: POST
      response:
        body: '{"password":{},"recovery_question":{"question":"Which symbol has the ASCII code of Forty Two?"},"provider":{"type":"OKTA","name":"OKTA"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 509.339202ms
[...]
    - id: 19
      request:
        host: classic-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/users/00u9i7kpizxa4BGhS1d7
        method: GET
      response:
        body: '{"errorCode":"E0000007","errorSummary":"Not found: Resource not found: 00u9i7kpizxa4BGhS1d7 (User)","errorLink":"E0000007","errorId":"oaeiB_C6gEhQxm0jTwSR5aHsw","errorCauses":[]}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 57.917411ms
