---
version: 2
interactions:
    - id: 0
      request:
        host: oie-00.dne-okta.com
        body: |
            {"credentials":{"password":{"value":"Abcd1234"},"recovery_question":{"answer":"Forty Two","question":"What is the answer to life, the universe, and everything?"}},"profile":{"email":"testAcc-3512374314@example.com","firstName":"TestAcc","lastName":"Smith","login":"testAcc-3512374314@example.com","postalAddress":null}}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://oie-00.dne-okta.com/api/v1/users
        method: POST
      response:
        body: '{"id":"00u9i7carwGWUN6sq1d7","status":"ACTIVE","created":"2023-08-15T23:49:08.000Z","activated":"2023-08-15T23:49:08.000Z","statusChanged":"2023-08-15T23:49:08.000Z","lastLogin":null,"lastUpdated":"2023-08-15T23:49:08.000Z","passwordChanged":"2023-08-15T23:49:08.000Z","type":{"id":"oty5qwjvh0Vy1j8Kd1d7"},"profile":{"firstName":"TestAcc","lastName":"Smith","mobilePhone":null,"secondEmail":null,"login":"testAcc-3512374314@example.com","email":"testAcc-3512374314@example.com"},"credentials":{"password":{},"recovery_question":{"question":"What is the answer to life, the universe, and everything?"},"provider":{"type":"OKTA","name":"OKTA"}},"_links":{"suspend":{"href":"https://oie-00.oktapreview.com/api/v1/users/00u9i7carwGWUN6sq1d7/lifecycle/suspend","method":"POST"},"schema":{"href":"https://oie-00.oktapreview.com/api/v1/meta/schemas/user/osc5qwjvh0Vy1j8Kd1d7"},"resetPassword":{"href":"https://oie-00.oktapreview.com/api/v1/users/00u9i7carwGWUN6sq1d7/lifecycle/reset_password","method":"POST"},"forgotPassword":{"href":"https://oie-00.oktapreview.com/api/v1/users/00u9i7carwGWUN6sq1d7/credentials/forgot_password","method":"POST"},"expirePassword":{"href":"https://oie-00.oktapreview.com/api/v1/users/00u9i7carwGWUN6sq1d7/lifecycle/expire_password","method":"POST"},"changeRecoveryQuestion":{"href":"https://oie-00.oktapreview.com/api/v1/users/00u9i7carwGWUN6sq1d7/credentials/change_recovery_question","method":"POST"},"self":{"href":"https://oie-00.oktapreview.com/api/v1/users/00u9i7carwGWUN6sq1d7"},"resetFactors":{"href":"https://oie-00.oktapreview.com/api/v1/users/00u9i7carwGWUN6sq1d7/lifecycle/reset_factors","method":"POST"},"type":{"href":"https://oie-00.oktapreview.com/api/v1/meta/types/user/oty5qwjvh0Vy1j8Kd1d7"},"changePassword":{"href":"https://oie-00.oktapreview.com/api/v1/users/00u9i7carwGWUN6sq1d7/credentials/change_password","method":"POST"},"deactivate":{"href":"https://oie-00.oktapreview.com/api/v1/users/00u9i7carwGWUN6sq1d7/lifecycle/deactivate","method":"POST"}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 548.769235ms
    - id: 1
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/users/00u9i7carwGWUN6sq1d7
        method: GET
      response:
        body: '{"id":"00u9i7carwGWUN6sq1d7","status":"ACTIVE","created":"2023-08-15T23:49:08.000Z","activated":"2023-08-15T23:49:08.000Z","statusChanged":"2023-08-15T23:49:08.000Z","lastLogin":null,"lastUpdated":"2023-[...]
[...]
    - id: 7
      request:
        host: oie-00.dne-okta.com
        body: |
            {"password":{"value":"SuperSecret007"},"recovery_question":{"answer":"Asterisk","question":"Which symbol has the ASCII code of Forty Two?"}}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://oie-00.dne-okta.com/api/v1/users/00u9i7carwGWUN6sq1d7/credentials/change_recovery_question
        method: POST
      response:
        body: '{"password":{},"recovery_question":{"question":"Which symbol has the ASCII code of Forty Two?"},"provider":{"type":"OKTA","name":"OKTA"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 588.910876ms
[...]
    - id: 13
      request:
        host: oie-00.dne-okta.com
        body: |
            {"newPassword":{"value":"Super#Secret@007"},"oldPassword":{"value":"SuperSecret007"}}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://oie-00.dne-okta.com/api/v1/users/00u9i7carwGWUN6sq1d7/credentials/change_password
        method: POST
      response:
        body: '{"password":{},"recovery_question":{"question":"Which symbol has the ASCII code of Forty Two?"},"provider":{"type":"OKTA","name":"OKTA"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 474.736612ms
[...]
    - id: 19
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/users/00u9i7carwGWUN6sq1d7
        method: GET
      response:
        body: '{"errorCode":"E0000007","errorSummary":"Not found: Resource not found: 00u9i7carwGWUN6sq1d7 (User)","errorLink":"E0000007","errorId":"oae_sfwcxaLQ-uzay5hoGNu9A","errorCauses":[]}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 61.464988ms
