---
version: 2
interactions:
    - id: 0
      request:
        host: mm-oie-2022-10-07-max.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-oie-2022-10-07-max.oktapreview.com/.well-known/okta-organization
        method: GET
      response:
        body: '{"id":"00o5qwjvg8hg7YpT81d7","cell":"op3","_links":{"organization":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com"}},"pipeline":"idx","settings":{"analyticsCollectionEnabled":false,"bugReportingEnabled":true,"omEnabled":false,"pssoEnabled":false}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 140.160566ms
    - id: 1
      request:
        host: mm-oie-2022-10-07-max.oktapreview.com
        body: |
            {"profile":{"name":"testAcc_2746139899","description":"terraform group"}}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/groups
        method: POST
      response:
        body: '{"id":"00g95unh95oaSFKLs1d7","created":"2023-07-27T19:54:38.000Z","lastUpdated":"2023-07-27T19:54:38.000Z","lastMembershipUpdated":"2023-07-27T19:54:38.000Z","objectClass":["okta:user_group"],"type":"OKTA_GROUP","profile":{"name":"testAcc_2746139899","description":"terraform group"},"_links":{"logo":[{"name":"medium","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-medium.30ce6d4085dff29412984e4c191bc874.png","type":"image/png"},{"name":"large","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-large.c3cb8cda8ae0add1b4fe928f5844dbe3.png","type":"image/png"}],"users":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/groups/00g95unh95oaSFKLs1d7/users"},"apps":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/groups/00g95unh95oaSFKLs1d7/apps"}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 160.434754ms
    - id: 2
      request:
        host: mm-oie-2022-10-07-max.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/groups/00g95unh95oaSFKLs1d7
        method: GET
      response:
        body: '{"id":"00g95unh95oaSFKLs1d7","created":"2023-07-27T19:54:38.000Z","lastUpdated":"2023-07-27T19:54:38.000Z","lastMembershipUpdated":"2023-07-27T19:54:38.000Z","objectClass":["okta:user_group"],"type":"OKTA_GROUP","profile":{"name":"testAcc_2746139899","description":"terraform group"},"_links":{"logo":[{"name":"medium","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-medium.30ce6d4085dff29412984e4c191bc874.png","type":"image/png"},{"name":"large","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-large.c3cb8cda8ae0add1b4fe928f5844dbe3.png","type":"image/png"}],"users":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/groups/00g95unh95oaSFKLs1d7/users"},"apps":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/groups/00g95unh95oaSFKLs1d7/apps"}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 63.832788ms
    - id: 3
      request:
        host: mm-oie-2022-10-07-max.oktapreview.com
        body: |
            {"name":"testAcc_2746139899","status":"ACTIVE","type":"PROFILE_ENROLLMENT"}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/policies
        method: POST
      response:
        body: '{"id":"rst95ugst6HSuj3Op1d7","status":"ACTIVE","name":"testAcc_2746139899","priority":1,"system":false,"conditions":null,"created":"2023-07-27T19:54:39.000Z","lastUpdated":"2023-07-27T19:54:39.000Z","_links":{"self":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/policies/rst95ugst6HSuj3Op1d7","hints":{"allow":["GET","PUT","DELETE"]}},"rules":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/policies/rst95ugst6HSuj3Op1d7/rules","hints":{"allow":["GET","POST"]}},"deactivate":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/policies/rst95ugst6HSuj3Op1d7/lifecycle/deactivate","hints":{"allow":["POST"]}}},"type":"PROFILE_ENROLLMENT"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 140.381865ms
[...]
    - id: 5
      request:
        host: mm-oie-2022-10-07-max.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/policies/rst95ugst6HSuj3Op1d7
        method: GET
      response:
        body: '{"id":"rst95ugst6HSuj3Op1d7","status":"ACTIVE","name":"testAcc_2746139899","priority":1,"system":false,"conditions":null,"created":"2023-07-27T19:54:39.000Z","lastUpdated":"2023-07-27T19:54:39.000Z","_links":{"self":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/policies/rst95ugst6HSuj3Op1d7","hints":{"allow":["GET","PUT","DELETE"]}},"rules":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/policies/rst95ugst6HSuj3Op1d7/rules","hints":{"allow":["GET","POST"]}},"deactivate":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/policies/rst95ugst6HSuj3Op1d7/lifecycle/deactivate","hints":{"allow":["POST"]}}},"type":"PROFILE_ENROLLMENT"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 66.389369ms
[...]
    - id: 7
      request:
        host: mm-oie-2022-10-07-max.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/policies/rst95ugst6HSuj3Op1d7/rules
        method: GET
      response:
        body: '[{"id":"rul95ugst7clXFEfR1d7","status":"ACTIVE","name":"Catch-all Rule","priority":99,"created":"2023-07-27T19:54:39.000Z","lastUpdated":"2023-07-27T19:54:39.000Z","system":true,"conditions":null,"actions":{"profileEnrollment":{"access":"ALLOW","preRegistrationInlineHooks":null,"profileAttributes":[{"name":"email","label":"Primary email","required":true}],"targetGroupIds":null,"unknownUserAction":"REGISTER","activationRequirements":{"emailVerification":true},"progressiveProfilingAction":"ENABLED"}},"_links":{"self":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/policies/rst95ugst6HSuj3Op1d7/rules/rul95ugst7clXFEfR1d7","hints":{"allow":["GET","PUT"]}}},"type":"PROFILE_ENROLLMENT"}]'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 95.424389ms
    - id: 8
      request:
        host: mm-oie-2022-10-07-max.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/policies/rst95ugst6HSuj3Op1d7/rules/rul95ugst7clXFEfR1d7
        method: GET
      response:
        body: '{"id":"rul95ugst7clXFEfR1d7","status":"ACTIVE","name":"Catch-all Rule","priority":99,"created":"2023-07-27T19:54:39.000Z","lastUpdated":"2023-07-27T19:54:39.000Z","system":true,"conditions":null,"actions":{"profileEnrollment":{"access":"ALLOW","preRegistrationInlineHooks":null,"profileAttributes":[{"name":"email","label":"Primary email","required":true}],"targetGroupIds":null,"unknownUserAction":"REGISTER","activationRequirements":{"emailVerification":true},"progressiveProfilingAction":"ENABLED"}},"_links":{"self":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/policies/rst95ugst6HSuj3Op1d7/rules/rul95ugst7clXFEfR1d7","hints":{"allow":["GET","PUT"]}}},"type":"PROFILE_ENROLLMENT"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 69.688699ms
    - id: 9
      request:
        host: mm-oie-2022-10-07-max.oktapreview.com
        body: |
            {"id":"rul95ugst7clXFEfR1d7","type":"PROFILE_ENROLLMENT","name":"Catch-all Rule","status":"ACTIVE","priority":99,"system":true,"conditions":null,"actions":{"profileEnrollment":{"access":"ALLOW","activationRequirements":{"emailVerification":false},"profileAttributes":[{"label":"Primary Email","name":"email","required":true},{"label":"First Name","name":"firstName","required":true},{"label":"Last Name","name":"lastName","required":true}],"targetGroupIds":["00g95unh95oaSFKLs1d7"],"uiSchemaId":"uis44fio9ifOCwJAO1d7","unknownUserAction":"REGISTER"}}}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/policies/rst95ugst6HSuj3Op1d7/rules/rul95ugst7clXFEfR1d7
        method: PUT
      response:
        body: '{"id":"rul95ugst7clXFEfR1d7","status":"ACTIVE","name":"Catch-all Rule","priority":99,"created":"2023-07-27T19:54:39.000Z","lastUpdated":"2023-07-27T19:54:39.000Z","system":true,"conditions":null,"actions":{"profileEnrollment":{"access":"ALLOW","preRegistrationInlineHooks":null,"profileAttributes":[{"name":"email","label":"Primary Email","required":true},{"name":"firstName","label":"First Name","required":true},{"name":"lastName","label":"Last Name","required":true}],"targetGroupIds":["00g95unh95oaSFKLs1d7"],"unknownUserAction":"REGISTER","activationRequirements":{"emailVerification":false},"uiSchemaId":"uis44fio9ifOCwJAO1d7"}},"_links":{"self":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/policies/rst95ugst6HSuj3Op1d7/rules/rul95ugst7clXFEfR1d7","hints":{"allow":["GET","PUT"]}}},"type":"PROFILE_ENROLLMENT"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 163.236593ms
[...]
