---
version: 2
interactions:
    - id: 0
      request:
        host: oie-00.dne-okta.com
        body: |
            {"accessibility":{"selfService":false},"credentials":{"userNameTemplate":{"template":"${source.login}","type":"BUILT_IN"}},"label":"testAcc_1402493330","settings":{"app":{},"implicitAssignment":false,"notes":{"admin":null,"enduser":null},"signOn":{"allowMultipleAcsEndpoints":false,"assertionSigned":false,"attributeStatements":[],"audience":"http://audience.com","audienceOverride":"","authnContextClassRef":"urn:oasis:names:tc:SAML:2.0:ac:classes:PasswordProtectedTransport","defaultRelayState":"","destination":"http://its-about-the-journey.com","destinationOverride":"","digestAlgorithm":"SHA256","honorForceAuthn":false,"recipient":"http://here.com","recipientOverride":"","responseSigned":true,"samlSignedRequestEnabled":false,"signatureAlgorithm":"RSA_SHA256","slo":{"enabled":false},"ssoAcsUrl":"http://google.com","ssoAcsUrlOverride":"","subjectNameIdFormat":"urn:oasis:names:tc:SAML:1.1:nameid-format:emailAddress","subjectNameIdTemplate":"${user.userName}"}},"signOnMode":"SAML_2_0","visibility":{"autoSubmitToolbar":false,"hide":{"iOS":false,"web":false}}}
        form:
            activate:
                - "true"
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://oie-00.dne-okta.com/api/v1/apps?activate=true
        method: POST
      response:
        body: '{"id":"0oasdsqo3mLd6mpWZ697","orn":"orn:okta:idp:00orp9xda1T0VTWhk697:apps:oie-00_testacc1402493330_1:0oasdsqo3mLd6mpWZ697","name":"oie-00_testacc1402493330_1","label":"testAcc_1402493330","status":"ACTIVE","lastUpdated":"2025-06-16T15:50:32.000Z","created":"2025-06-16T15:50:32.000Z","accessibility":{"selfService":false,"errorRedirectUrl":null,"loginRedirectUrl":null},"visibility":{"autoLaunch":false,"autoSubmitToolbar":false,"hide":{"iOS":false,"web":false},"appLinks":{"oie-00_testacc1402493330_1_link":true}},"features":[],"signOnMode":"SAML_2_0","credentials":{"userNameTemplate":{"template":"${source.login}","type":"BUILT_IN"},"signing":{"kid":"7SRY3g-A5Mt5kz7tp0ETzsj0whtrndhGHoJCcyhCfUc"}},"universalLogout":null,"settings":{"app":{},"notifications":{"vpn":{"network":{"connection":"DISABLED"},"message":null,"helpUrl":null}},"manualProvisioning":false,"implicitAssignment":false,"notes":{"admin":null,"enduser":null},"signOn":{"defaultRelayState":"","ssoAcsUrl":"http://google.com","idpIssuer":"http://www.okta.com/${org.externalKey}","audience":"http://audience.com","recipient":"http://here.com","destination":"http://its-about-the-journey.com","subjectNameIdTemplate":"${user.userName}","subjectNameIdFormat":"urn:oasis:names:tc:SAML:1.1:nameid-format:emailAddress","responseSigned":true,"assertionSigned":false,"signatureAlgorithm":"RSA_SHA256","digestAlgorithm":"SHA256","honorForceAuthn":false,"authnContextClassRef":"urn:oasis:names:tc:SAML:2.0:ac:classes:PasswordProtectedTransport","spIssuer":null,"requestCompressed":false,"attributeStatements":[],"inlineHooks":[],"assertionEncryption":{"enabled":false},"allowMultipleAcsEndpoints":false,"acsEndpoints":[],"samlSignedRequestEnabled":false,"slo":{"enabled":false}}},"_links":{"help":{"href":"https://oie-00-admin.dne-okta.com/app/oie-00_testacc1402493330_1/0oasdsqo3mLd6mpWZ697/setup/help/SAML_2_0/instructions","type":"text/html"},"metadata":{"href":"https://oie-00.dne-okta.com/api/v1/apps/0oasdsqo3mLd6mpWZ697/sso/saml/metadata","type":"application/xml"},"uploadLogo":{"href":"https://oie-00.dne-okta.com/api/v1/apps/0oasdsqo3mLd6mpWZ697/logo","hints":{"allow":["POST"]}},"appLinks":[{"name":"oie-00_testacc1402493330_1_link","href":"https://oie-00.dne-okta.com/home/oie-00_testacc1402493330_1/0oasdsqo3mLd6mpWZ697/alnsdsxdp0maVAOUk697","type":"text/html"}],"profileEnrollment":{"href":"https://oie-00.dne-okta.com/api/v1/policies/rstrp9xdfyTbTHsSn697"},"policies":{"href":"https://oie-00.dne-okta.com/api/v1/apps/0oasdsqo3mLd6mpWZ697/policies","hints":{"allow":["PUT"]}},"groups":{"href":"https://oie-00.dne-okta.com/api/v1/apps/0oasdsqo3mLd6mpWZ697/groups"},"logo":[{"name":"medium","href":"https://ok14static.oktacdn.com/assets/img/logos/default.6770228fb0dab49a1695ef440a5279bb.png","type":"image/png"}],"accessPolicy":{"href":"https://oie-00.dne-okta.com/api/v1/policies/rstrp9xdfwPTNCKIb697"},"users":{"href":"https://oie-00.dne-okta.com/api/v1/apps/0oasdsqo3mLd6mpWZ697/users"},"deactivate":{"href":"https://oie-00.dne-okta.com/api/v1/apps/0oasdsqo3mLd6mpWZ697/lifecycle/deactivate"}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.821125208s
    - id: 1
      request:
        host: oie-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/.well-known/okta-organization
        method: GET
      response:
        body: '{"id":"00orp9xda1T0VTWhk697","cell":"ok14","_links":{"organization":{"href":"https://oie-00.dne-okta.com"}},"pipeline":"idx","settings":{"analyticsCollectionEnabled":true,"bugReportingEnabled":true,"omEnabled":false,"pssoEnabled":false,"desktopMFAEnabled":false,"itpEnabled":true}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 995.482375ms
    - id: 2
      request:
        host: oie-00.dne-okta.com
        form:
            type:
                - ACCESS_POLICY
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/policies?type=ACCESS_POLICY
        method: GET
      response:
        body: '[{"id":"rstrp9xdf2gnrxgAv697","status":"ACTIVE","name":"Okta Admin Console","priority":1,"system":false,"conditions":null,"created":"2025-05-23T11:44:56.000Z","lastUpdated":"2025-05-23T11:44:56.000Z","_links":{"mappings":{"href":"https://oie-00.dne-okta.com/api/v1/policies/rstrp9xdf2gnrxgAv697/mappings","hints":{"allow":["GET","POST"]}},"self":{"href":"https://oie-00.dne-okta.com/api/v1/policies/rstrp9xdf2gnrxgAv697","hints":{"allow":["GET","PUT","DELETE"]}},"rules":{"href":"https://oie-00.dne-okta.com/api/v1/policies/rstrp9xdf2gnrxgAv697/rules","hints":{"allow":["GET","POST"]}},"deactivate":{"href":"https://oie-00.dne-okta.com/api/v1/policies/rstrp9xdf2gnrxgAv697/lifecycle/deactivate","hints":{"allow":["POST"]}}},"type":"ACCESS_POLICY"},{"id":"rstrp9xdf9pYZ37gJ697","status":"ACTIVE","name":"Okta Dashboard","priority":1,"system":false,"conditions":null,"created":"2025-05-23T11:44:57.000Z","lastUpdated":"2025-05-23T11:44:57.000Z","_links":{"mappings":{"href"[...]
    - id: 3
      request:
        host: oie-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/apps/0oasdsqo3mLd6mpWZ697/policies/rstrp9xdfwPTNCKIb697
        method: PUT
      response:
        body: ""
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
        status: 204 No Content
        code: 204
        duration: 1.073879167s
    - id: 4
      request:
        host: oie-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/apps/0oasdsqo3mLd6mpWZ697
        method: GET
      response:
        body: '{"id":"0oasdsqo3mLd6mpWZ697","orn":"orn:okta:idp:00orp9xda1T0VTWhk697:apps:oie-00_testacc1402493330_1:0oasdsqo3mLd6mpWZ697","name":"oie-00_testacc1402493330_1","label":"testAcc_1402493330","status":"ACTIVE","lastUpdated":"2025-06-16T15:50[...]
    - id: 5
      request:
        host: oie-00.dne-okta.com
        form:
            kid:
                - 7SRY3g-A5Mt5kz7tp0ETzsj0whtrndhGHoJCcyhCfUc
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/apps/0oasdsqo3mLd6mpWZ697/sso/saml/metadata?kid=7SRY3g-A5Mt5kz7tp0ETzsj0whtrndhGHoJCcyhCfUc
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?><md:EntityDescriptor entityID="http://www.okta.com/exksdsqo3lqjGf5Ws697" xmlns:md="urn:oasis:names:tc:SAML:2.0:metadata"><md:IDPSSODescriptor WantAuthnRequestsSigned="false" protocolSupportEnumeration="urn:oasis:names:tc:SAML:2.0:protocol"><md:KeyDescriptor use="signing"><ds:KeyInfo xmlns:ds="http://www.w3.org/2000/09/xmldsig#"><ds:X509Data><ds:X509Certificate>MIIDqjCCApKgAwIBAgIGAZd5b2JeMA0GCSqGSIb3DQEBCwUAMIGVMQswCQYDVQQGEwJVUzETMBEG
            A1UECAwKQ2FsaWZvcm5pYTEWMBQGA1UEBwwNU2FuIEZyYW5jaXNjbzENMAsGA1UECgwET2t0YTEU
            MBIGA1UECwwLU1NPUHJvdmlkZXIxFjAUBgNVBAMMDXRyaWFsLTM2NDExNjAxHDAaBgkqhkiG9w0B
            CQEWDWluZm9Ab2t0YS5jb20wHhcNMjUwNjE2MTU0OTMyWhcNMzUwNjE2MTU1MDMyWjCBlTELMAkG
            A1UEBhMCVVMxEzARBgNVBAgMCkNhbGlmb3JuaWExFjAUBgNVBAcMDVNhbiBGcmFuY2lzY28xDTAL
            BgNVBAoMBE9rdGExFDASBgNVBAsMC1NTT1Byb3ZpZGVyMRYwFAYDVQQ[...]
    - id: 6
      request:
        host: oie-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/apps/0oasdsqo3mLd6mpWZ697/credentials/keys
        method: GET
      response:
        body: '[{"kty":"RSA","created":"2025-06-16T15:50:32.000Z","lastUpdated":"2025-06-16T15:50:32.000Z","expiresAt":"2035-06-16T15:50:32.000Z","kid":"7SRY3g-A5Mt5kz7tp0ETzsj0whtrndhGHoJCcyhCfUc","use":"sig","x5c":["MIIDqjCCApKgAwIBAgIGAZd5b2JeMA0GCSqGSIb3DQEBCwUAMIGVMQswCQYDVQQGEwJVUzETMBEGA1UECAwKQ2FsaWZvcm5pYTEWMBQGA1UEBwwNU2FuIEZyYW5jaXNjbzENMAsGA1UECgwET2t0YTEUMBIGA1UECwwLU1NPUHJvdmlkZXIxFjAUBgNVBAMMDXRyaWFsLTM2NDExNjAxHDAaBgkqhkiG9w0BCQEWDWluZm9Ab2t0YS5jb20wHhcNMjUwNjE2MTU0OTMyWhcNMzUwNjE2MTU1MDMyWjCBlTELMAkGA1UEBhMCVVMxEzARBgNVBAgMCkNhbGlmb3JuaWExFjAUBgNVBAcMDVNhbiBGcmFuY2lzY28xDTALBgNVBAoMBE9rdGExFDASBgNVBAsMC1NTT1Byb3ZpZGVyMRYwFAYDVQQDDA10cmlhbC0zNjQxMTYwMRwwGgYJKoZIhvcNAQkBFg1pbmZvQG9rdGEuY29tMI[...]
    - id: 7
      request:
        host: oie-00.dne-okta.com
        body: |
            {"x5c":["MIIDqjCCApKgAwIBAgIGAZd5b2JeMA0GCSqGSIb3DQEBCwUAMIGVMQswCQYDVQQGEwJVUzETMBEG\nA1UECAwKQ2FsaWZvcm5pYTEWMBQGA1UEBwwNU2FuIEZyYW5jaXNjbzENMAsGA1UECgwET2t0YTEU\nMBIGA1UECwwLU1NPUHJvdmlkZXIxFjAUBgNVBAMMDXRyaWFsLTM2NDExNjAxHDAaBgkqhkiG9w0B\nCQEWDWluZm9Ab2t0YS5jb20wHhcNMjUwNjE2MTU0OTMyWhcNMzUwNjE2MTU1MDMyWjCBlTELMAkG\nA1UEBhMCVVMxEzARBgNVBAgMCkNhbGlmb3JuaWExFjAUBgNVBAcMDVNhbiBGcmFuY2lzY28xDTAL\nBgNVBAoMBE9r[...]
    - id: 8
      request:
        host: oie-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/idps/credentials/keys/d695ab3a-b3d9-4fe5-ad0f-f0404998f903
        method: GET
      response:
        body: '{"kty":"RSA","created":"2025-06-16T15:50:40.000Z","lastUpdated":"2025-06-16T15:50:40.000Z","expiresAt":"2035-06-16T15:50:32.000Z","alg":"RSA","kid":"d695ab3a-b3d9-4fe5-ad0f-f0404998f903","use":"sig","x5c":["MIIDqjCCApKgAwIBAgIGAZd5b2JeMA0GCSqGSIb3DQEBCwUAMIGVMQswCQYDVQQGEwJVUzETMBEG\nA1UECAwKQ2FsaWZvcm5pYTEWMBQGA1UEBwwNU2FuIEZyYW5jaXNjbzENMAsGA1UECgwET2t0YTEU\nMBIGA1UECwwLU1NPUHJvdmlkZXIxFjAUBgNVBAMMDXRyaWFsLTM2NDExNjAxHDAaBgkqhkiG9w0B\nCQEWDWluZm9Ab2t0YS5jb20wHhcNMjUwNjE2MTU0OTMyWhcNMzUwNjE2MTU1MDMyWjCBlTELMAkG\nA1UEBhMCVVMxEzARBgNVBAgMCkNhbGlmb3JuaWExFjAUBgNVBAcMDVNhbiBGcmFuY2lzY28xDTAL\nBgNVBAoMBE9rdGExFDASBgNVBAsMC1NTT1Byb3Z[...]
    - id: 9
      request:
        host: oie-00.dne-okta.com
        body: |
            {"issuerMode":"ORG_URL","name":"testAcc_1402493330","policy":{"accountLink":{"action":"AUTO"},"maxClockSkew":0,"provisioning":{"action":"AUTO","conditions":{"deprovisioned":{"action":"NONE"},"suspended":{"action":"NONE"}},"groups":{"action":"NONE"},"profileMaster":false},"subject":{"matchType":"USERNAME","userNameTemplate":{"template":"idpuser.email"}}},"protocol":{"algorithms":{"request":{"signature":{"algorithm":"SHA-256","scope":"REQUEST"}},"response":{"signature":{"algorithm":"SHA-256","scope":"ANY"}}},"credentials":{"trust":{"issuer":"https://idp.example.com","kid":"d695ab3a-b3d9-4fe5-ad0f-f0404998f903"}},"endpoints":{"acs":{"binding":"HTTP-POST","type":"INSTANCE"},"sso":{"binding":"HTTP-POST","destination":"https://idp.example.com","url":"https://idp.example.com"}},"settings":{"nameFormat":"urn:oasis:names:tc:SAML:1.1:nameid-format:unspecified","honorPersistentNameId":false},"type":"SAML2"},"status":"ACTIVE","type":"SAML2"}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://oie-00.dne-okta.com/api/v1/idps
        method: POST
      response:
        body: '{"id":"0oasdsrm5sODHRrDJ697","name":"testAcc_1402493330","status":"ACTIVE","created":"2025-06-16T15:50:42.000Z","lastUpdated":"2025-06-16T15:50:42.000Z","protocol":{"type":"SAML2","endpoints":{"sso":{"url":"https://idp.example.com","binding":"HTTP-POST","destination":"https://idp.example.com"},"acs":{"binding":"HTTP-POST","type":"INSTANCE"}},"algorithms":{"request":{"signature":{"algorithm":"SHA-256","scope":"REQUEST"}},"response":{"signature":{"algorithm":"SHA-256","scope":"ANY"}}},"settings":{"nameFormat":"urn:oasis:names:tc:SAML:1.1:nameid-format:unspecified","honorPersistentNameId":false},"credentials":{"trust":{"issuer":"https://idp.example.com","audience":"https://www.okta.com/saml2/service-provider/spllrmzvyadrhcsukpie","kid":"d695ab3a-b3d9-4fe5-ad0f-f0404998f903","revocation":null,"revocationCacheLifetime":0},"signing":{"kid":"xs8RVe3c9BBKpXoHBWe919ALKcD98E4nSzc-3U8jQUM"}}},"policy":{"provisioning":{"action":"AUTO","profileMaster":false,"groups":{"action":"NONE"},"conditions":{"deprovisioned":{"action":"NONE"},"suspended":{"action":"NONE"}}},"accountLink":{"filter":null,"action":"AUTO"},"subject":{"userNameTemplate":{"template":"idpuser.email"},"filter":null,"matchType":"USERNAME","matchAttribute":null},"maxClockSkew":0,"trustClaims":false,"transformedUsernameMatchingEnabled":false},"type":"SAML2","_links":{"metadata":{"href":"https://oie-00.dne-okta.com/api/v1/idps/0oasdsrm5sODHRrDJ697/metadata.xml","type":"application/xml","hints":{"allow":["GET"]}},"acs":{"href":"https://oie-00.dne-okta.com/sso/saml2/0oasdsrm5sODHRrDJ697","type":"application/xml","hints":{"allow":["POST"]}},"users":{"href":"https://oie-00.dne-okta.com/api/v1/idps/0oasdsrm5sODHRrDJ697/users","hints":{"allow":["GET"]}},"deactivate":{"href":"https://oie-00.dne-okta.com/api/v1/idps/0oasdsrm5sODHRrDJ697/lifecycle/deactivate","hints":{"allow":["POST"]}}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.644537208s
    - id: 10
      request:
        host: oie-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/idps/0oasdsrm5sODHRrDJ697
        method: GET
      response:
        body: '{"id":"0oasdsrm5sODHRrDJ697","name":"testAcc_1402493330","status":"ACTIVE","created":"2025-06-16T15:50:42.000Z","lastUpdated":"2025-06-16T15:50:42.000Z","protocol":{"type":"SAML2","endpoints":{"sso":{"url":"https://idp.example.com","binding":"HTTP-POST","destination":"https://idp.example.com"},"acs":{"binding":"HTTP-POST","type":"INSTANCE"}},"algorithms":[...]
    - id: 11
      request:
        host: oie-00.dne-okta.com
        form:
            limit:
                - "200"
            sourceId:
                - 0oasdsrm5sODHRrDJ697
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/mappings?limit=200&sourceId=0oasdsrm5sODHRrDJ697
        method: GET
      response:
        body: '[{"id":"prmsdsrm60jQvlYnM697","source":{"id":"0oasdsrm5sODHRrDJ697","name":"saml_idp","type":"appuser","_links":{"self":{"href":"https://oie-00.dne-okta.com/api/v1/apps/0oasdsrm5sODHRrDJ697"},"schema":{"href":"https://oie-00.dne-okta.com/api/v1/meta/schemas/apps/0oasdsrm5sODHRrDJ697/default"}}},"target":{"id":"otyrp9xdcaUhEZChe697","name":"user","type":"user","_links":{"self":{"href":"https://oie-00.dne-okta.com/api/v1/meta/types/user/otyrp9xdcaUhEZChe697"},"schema":{"href":"https://oie-00.dne-okta.com/api/v1/meta/schemas/user/oscrp9xdcaUhEZChe697"}}},"_links":{"self":{"href":"https://oie-00.dne-okta.com/api/v1/mappings/prmsdsrm60jQvlYnM697"}}}]'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
            Link:
                - <https://oie-00.dne-okta.com/api/v1/mappings?limit=200>; rel="self"
        status: 200 OK
        code: 200
        duration: 1.008968667s
    - id: 12
      request:
        host: oie-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/mappings/prmsdsrm60jQvlYnM697
        method: GET
      response:
        body: '{"id":"prmsdsrm60jQvlYnM697","source":{"id":"0oasdsrm5sODHRrDJ697","name":"saml_idp","type":"appuser","_links":{"self":{"href":"https://oie-00.dne-okta.com/api/v1/apps/0oasdsrm5sODHRrDJ697"},"schema":{"href":"https://oie-00.dne-okta.com/api/v1/meta/schemas/apps/0oasdsrm5sODHRrDJ697/default"}}},"target":{"id":"otyrp9xdcaUhEZChe697","name":"user","type":"user","_links":{"self":{"href":"https://oie-00.dne-okta.com/api/v1/meta/types/user/otyrp9xdcaUhEZChe697"},"schema":{"href":"https://oie-00.dne-okta.com/api/v1/meta/schemas/user/oscrp9xdcaUhEZChe697"}}},"properties":{"firstName":{"expression":"source.firstName","pushStatus":"DONT_PUSH"},"lastName":{"expression":"source.lastName","pushStatus":"DONT_PUSH"},"email":{"expression":"source.email","pushStatus":"DONT_PUSH"},"mobilePhone":{"expression":"source.mobilePhone","pushStatus":"DONT_PUSH"},"login":{"expression":"source.userName","pushStatus":"DONT_PUSH"}},"_links":{"self":{"href":"https://oie-00.dne-okta.com/api/v1/mappings/prmsdsrm60jQvlYnM697"}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.009162709s
[...]
    - id: 20
      request:
        host: oie-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/idps/0oasdsrm5sODHRrDJ697/lifecycle/deactivate
        method: POST
      response:
        body: '{"id":"0oasdsrm5sODHRrDJ697","name":"testAcc_1402493330","status":"INACTIVE","created":"2025-06-16T15:50:42.000Z","lastUpdated":"2025-06-16T15:50:55.000Z","protocol":{"type":"SAML2","endpoints":{"sso":{"url":"https://idp.example.com","binding":"HTTP-POST","destination":"https://idp.example.com"},"acs":{"binding":"HTTP-POST","type":"INSTANCE"}},"algorithms":[...]
    - id: 23
      request:
        host: oie-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/apps/0oasdsqo3mLd6mpWZ697/lifecycle/deactivate
        method: POST
      response:
        body: '{}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.039352833s
[...]
