---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/policies?type=IDP_DISCOVERY
    method: GET
  response:
    body: '[{"id":"00p5qwjvjjpuZBaOR1d7","status":"ACTIVE","name":"Idp Discovery Policy","description":"The default IdP Discovery Policy","priority":1,"system":true,"conditions":null,"created":"2022-10-07T23:16:59.000Z","lastUpdated":"2022-10-07T23:16:59.000Z","_links":{"self":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/policies/00p5qwjvjjpuZBaOR1d7","hints":{"allow":["GET","PUT"]}},"rules":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/policies/00p5qwjvjjpuZBaOR1d7/rules","hints":{"allow":["GET","POST"]}}},"type":"IDP_DISCOVERY"}]'
    headers:
      Content-Type:
      - application/json
      Link:
      - <https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/policies?type=IDP_DISCOVERY>; rel="self"
    status: 200 OK
    code: 200
    duration: ""
[...]
