{%- set createParams = operations.get(CREATE_OPERATION, {}).get("schema", {})|parameters %}
{%- set primitiveAttr, primitiveArrAttr, nonPrimitiveListAttr, nonPrimitiveObjAttr = createParams|tf_sort_params_by_type %}

func (r *{{ name|variable_name }}Resource) Schema(_ context.Context, _ resource.SchemaRequest, resp *resource.SchemaResponse) {
	resp.Schema = schema.Schema{
		Description: "Manages an Okta {{ name|camel_case }} resource.",
		Attributes: map[string]schema.Attribute{
			"id": schema.StringAttribute{
				Description: "The unique identifier for the resource.",
				Computed:    true,
				PlanModifiers: []planmodifier.String{
					stringplanmodifier.UseStateForUnknown(),
				},
			},
			{% for attrName, attrSchema in primitiveAttr.items() %}
			{% if attrName != primaryId.get("name", "") %}
			"{{ attrName|snake_case }}": schema.{{ get_terraform_schema_type(attrSchema) }}Attribute{
				{% if attrSchema.get("description") %}
				Description: "{{ attrSchema.get("description", "")|sanitize_description }}",
				{% endif %}
				{% if attrSchema.get("required") %}
				Required: true,
				{% elif attrSchema.get("readOnly") %}
				Computed: true,
				{% else %}
				Optional: true,
				{% endif %}
			},
			{% endif %}
			{% endfor %}
			{% for attrName, attrSchema in primitiveArrAttr.items() %}
			"{{ attrName|snake_case }}": schema.ListAttribute{
				{% if attrSchema.get("description") %}
				Description: "{{ attrSchema.get("description", "")|sanitize_description }}",
				{% endif %}
				ElementType: types.{{ get_terraform_schema_type(attrSchema.get("items", {})) }}Type,
				{% if attrSchema.get("required") %}
				Required: true,
				{% elif attrSchema.get("readOnly") %}
				Computed: true,
				{% else %}
				Optional: true,
				{% endif %}
			},
			{% endfor %}
		},
	}
}
