{%- set createParams = operations.get(CREATE_OPERATION, {}).get("schema", {})|parameters %}
{%- set primitiveAttr, primitiveArrAttr, nonPrimitiveListAttr, nonPrimitiveObjAttr = createParams|tf_sort_params_by_type %}

type {{ name|variable_name }}Resource struct {
	Config *config.Config
}

type {{ name|variable_name }}Model struct {
	ID types.String `tfsdk:"id"`
	{% for attrName, schema in primitiveAttr.items() %}
	{% if attrName != primaryId.get("name", "") %}
	{{ attrName|camel_case }} types.{{ get_terraform_schema_type(schema) }} `tfsdk:"{{ attrName|snake_case }}"`
	{% endif %}
	{% endfor %}
	{% for attrName, schema in primitiveArrAttr.items() %}
	{{ attrName|camel_case }} types.List `tfsdk:"{{ attrName|snake_case }}"`
	{% endfor %}
	{% for attrName, schema in nonPrimitiveListAttr.items() %}
	{{ attrName|camel_case }} types.List `tfsdk:"{{ attrName|snake_case }}"`
	{% endfor %}
	{% for attrName, schema in nonPrimitiveObjAttr.items() %}
	{{ attrName|camel_case }} types.Object `tfsdk:"{{ attrName|snake_case }}"`
	{% endfor %}
}
