---
version: 2
interactions:
- id: 0
  request:
    host: classic-00.dne-okta.com
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://classic-00.dne-okta.com/api/v1/apps/0oarblaf7hWdLawNg1d7/features/INBOUND_PROVISIONING
    method: GET
  response:
    body: "{\"name\":\"INBOUND_PROVISIONING\",\"status\":\"ENABLED\",\"description\":\"In-bound provisioning settings for provisioning users from an application to Okta\",\"capabilities\":{\"importSettings\":{\"username\":{\"userNameFormat\":\"EMAIL\"},\"schedule\":{\"status\":\"DISABLED\",\"fullImport\":null,\"incrementalImport\":null}},\"importRules\":{\"userCreateAndMatch\":{\"exactMatchCriteria\":\"USERNAME\",\"allowPartialMatch\":true,\"autoConfirmPartialMatch\":false,\"autoConfirmExactMatch\":false,\"autoConfirmNewUsers\":false,\"autoActivateNewUsers\":false}}},\"_links\":{\"self\":{\"href\":\"https://classic-00.dne-okta.com/api/v1/apps/0oarblaf7hWdLawNg1d7/features/INBOUND_PROVISIONING\",\"hints\":{\"allow\":[\"GET\",\"PUT\"]}}}}"
    headers:
      Accept-Ch:
      - Sec-CH-UA-Platform-Version
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 1.070622875s
[...]
