---
version: 2
interactions:
    - id: 0
      request:
        host: oie-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/iam/resource-sets
        method: GET
      response:
        body: '{"_links":{"self":{"href":"https://oie-00.dne-okta.com/api/v1/iam/resource-sets"}},"resource-sets":[{"id":"iamt779bxjw6r0SKV697","label":"testAcc_5462964145546479313","description":"A test resource set for datasource testing","created":"2025-07-14T12:39:47.000Z","lastUpdated":"2025-07-14T12:39:47.000Z","_links":{"bindings":{"href":"https://oie-00.dne-okta.com/api/v1/iam/resource-sets/iamt779bxjw6r0SKV697/bindings"},"self":{"href":"https://oie-00.dne-okta.com/api/v1/iam/resource-sets/iamt779bxjw6r0SKV697"},"resources":{"href":"https://oie-00.dne-okta.com/api/v1/iam/resource-sets/iamt779bxjw6r0SKV697/resources"}}},{"id":"WORKFLOWS_IAM_POLICY","label":"Workflows Resource Set","description":"A resource set managed by Workflows Administrator","_links":{"bindings":{"href":"https://oie-00.dne-okta.com/api/v1/iam/resource-sets/WORKFLOWS_IAM_POLICY/bindings"},"self":{"href":"https://oie-00.dne-okta.com/api/v1/iam/resource-sets/WORKFLOWS_IAM_POLICY"},"resources":{"href":"https://oie-00.dne-okta.com/api/v1/iam/resource-sets/WORKFLOWS_IAM_POLICY/resources"}}}]}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
            Link:
                - <https://oie-00.dne-okta.com/api/v1/iam/resource-sets>; rel="self"
        status: 200 OK
        code: 200
        duration: 841.980292ms
[...]
    - id: 3
      request:
        host: oie-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/iam/resource-sets/iamt7cgp0mSZeYIIa697
        method: GET
      response:
        body: '{"id":"iamt7cgp0mSZeYIIa697","label":"testAcc_4086324192","description":"A test resource set for datasource testing","created":"2025-07-14T14:49:43.000Z","lastUpdated":"2025-07-14T14:49:43.000Z","_links":{"bindings":{"href":"https://oie-00.dne-okta.com/api/v1/iam/resource-sets/iamt7cgp0mSZeYIIa697/bindings"},"self":{"href":"https://oie-00.dne-okta.com/api/v1/iam/resource-sets/iamt7cgp0mSZeYIIa697"},"resources":{"href":"https://oie-00.dne-okta.com/api/v1/iam/resource-sets/iamt7cgp0mSZeYIIa697/resources"}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
            Link:
                - <https://oie-00.dne-okta.com/api/v1/iam/resource-sets/iamt7cgp0mSZeYIIa697>; rel="self"
        status: 200 OK
        code: 200
        duration: 659.476209ms
    - id: 4
      request:
        host: oie-00.dne-okta.com
        form:
            limit:
                - "200"
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/iam/resource-sets/iamt7cgp0mSZeYIIa697/resources?limit=200
        method: GET
      response:
        body: '{"resources":[{"id":"iret7cgp0nJ3wFn9h697","orn":"orn:okta:directory:00osd501x0KyUtOul697:users","created":"2025-07-14T14:49:43.000Z","lastUpdated":"2025-07-14T14:49:43.000Z","_links":{"self":{"href":"https://oie-00.dne-okta.com/api/v1/users"},"resource":{"href":"https://oie-00.dne-okta.com/api/v1/iam/resource-sets/iamt7cgp0mSZeYIIa697/resources/iret7cgp0nJ3wFn9h697"},"users":{"href":"https://oie-00.dne-okta.com/api/v1/users"}}}],"_links":{"resource-set":{"href":"https://oie-00.dne-okta.com/api/v1/iam/resource-sets/iamt7cgp0mSZeYIIa697"},"self":{"href":"https://oie-00.dne-okta.com/api/v1/iam/resource-sets/iamt7cgp0mSZeYIIa697/resources"}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
            Link:
                - <https://oie-00.dne-okta.com/api/v1/iam/resource-sets/iamt7cgp0mSZeYIIa697/resources>; rel="self"
        status: 200 OK
        code: 200
        duration: 662.517333ms
[...]
