---
version: 2
interactions:
    - id: 0
      request:
        host: oie-00.dne-okta.com
        body: |
            {"label":"testAcc_263495486","description":"testing, testing","resources":["https://oie-00.dne-okta.com/api/v1/groups","https://oie-00.dne-okta.com/api/v1/apps","https://oie-00.dne-okta.com/api/v1/users"]}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://oie-00.dne-okta.com/api/v1/iam/resource-sets
        method: POST
      response:
        body: '{"id":"iamtf83iuwvpJpJcz697","label":"testAcc_263495486","description":"testing, testing","created":"2025-07-21T01:52:45.000Z","lastUpdated":"2025-07-21T01:52:45.000Z","_links":{"bindings":{"href":"https://oie-00.dne-okta.com/api/v1/iam/resource-sets/iamtf83iuwvpJpJcz697/bindings"},"self":{"href":"https://oie-00.dne-okta.com/api/v1/iam/resource-sets/iamtf83iuwvpJpJcz697"},"resources":{"href":"https://oie-00.dne-okta.com/api/v1/iam/resource-sets/iamtf83iuwvpJpJcz697/resources"}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
            Link:
                - <https://oie-00.dne-okta.com/api/v1/iam/resource-sets/iamtf83iuwvpJpJcz697>; rel="self"
        status: 200 OK
        code: 200
        duration: 669.935542ms
    - id: 1
      request:
        host: oie-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/iam/resource-sets/iamtf83iuwvpJpJcz697
        method: GET
      response:
        body: '{"id":"iamtf83iuwvpJpJcz697","label":"testAcc_263495486","description":"testing, testing","created":"2025-07-21T01:52:45.000Z","lastUpdated":"2025-07-21T01:52:45.000Z","_links":{"bindings":{"href":"https://oie-00.dne-okta.com/api/v1/iam/resource-sets/iamtf83iuwvpJpJcz697/bindings"},"self":{"href":"https://oie-00.dne-okta.com/api/v1/iam/resource-sets/iamtf83iuwvpJpJcz697"},"resources":{"href":"https://oie-00.dne-okta.com/api/v1/iam/resource-sets/iamtf83iuwvpJpJcz697/resources"}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
            Link:
                - <https://oie-00.dne-okta.com/api/v1/iam/resource-sets/iamtf83iuwvpJpJcz697>; rel="self"
        status: 200 OK
        code: 200
        duration: 643.652833ms
    - id: 2
      request:
        host: oie-00.dne-okta.com
        form:
            limit:
                - "200"
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/iam/resource-sets/iamtf83iuwvpJpJcz697/resources?limit=200
        method: GET
      response:
        body: '{"resources":[{"id":"iretf83iuxPeJJEWL697","orn":"orn:okta:directory:00osd501x0KyUtOul697:users","created":"2025-07-21T01:52:45.000Z","lastUpdated":"2025-07-21T01:52:45.000Z","_links":{"self":{"href":"https://oie-00.dne-okta.com/api/v1/users"},"resource":{"href":"https://oie-00.dne-okta.com/api/v1/iam/resource-sets/iamtf83iuwvpJpJcz697/resources/iretf83iuxPeJJEWL697"},"users":{"href":"https://oie-00.dne-okta.com/api/v1/users"}}},{"id":"iretf83iuyrYA6xzl697","orn":"orn:okta:directory:00osd501x0KyUtOul697:groups","created":"2025-07-21T01:52:45.000Z","lastUpdated":"2025-07-21T01:52:45.000Z","_links":{"groups":{"href":"https://oie-00.dne-okta.com/api/v1/groups"},"self":{"href":"https://oie-00.dne-okta.com/api/v1/groups"},"resource":{"href":"https://oie-00.dne-okta.com/api/v1/iam/resource-sets/iamtf83iuwvpJpJcz697/resources/iretf83iuyrYA6xzl697"}}},{"id":"iretf83iuz3lYWLV1697","orn":"orn:okta:idp:00osd501x0KyUtOul697:apps","created":"2025-07-21T01:52:45.000Z","lastUpdated":"2025-07-21T01:52:45.000Z","_links":{"self":{"href":"https://oie-00.dne-okta.com/api/v1/apps"},"resource":{"href":"https://oie-00.dne-okta.com/api/v1/iam/resource-sets/iamtf83iuwvpJpJcz697/resources/iretf83iuz3lYWLV1697"}}}],"_links":{"resource-set":{"href":"https://oie-00.dne-okta.com/api/v1/iam/resource-sets/iamtf83iuwvpJpJcz697"},"self":{"href":"https://oie-00.dne-okta.com/api/v1/iam/resource-sets/iamtf83iuwvpJpJcz697/resources"}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
            Link:
                - <https://oie-00.dne-okta.com/api/v1/iam/resource-sets/iamtf83iuwvpJpJcz697/resources>; rel="self"
        status: 200 OK
        code: 200
        duration: 661.464916ms
[...]
    - id: 9
      request:
        host: oie-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/iam/resource-sets/iamtf83iuwvpJpJcz697/resources/iretf83iuyrYA6xzl697
        method: DELETE
      response:
        body: ""
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
        status: 204 No Content
        code: 204
        duration: 687.573458ms
[...]
