---
version: 2
interactions:
    - id: 0
      request:
        host: mm-classic-2022-10-04.oktapreview.com
        body: |
            {"profile":{"name":"testAcc_441847521","description":"testing"}}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://mm-classic-2022-10-04.oktapreview.com/api/v1/groups
        method: POST
      response:
        body: '{"id":"00g95uvex3edjTjnm1d7","created":"2023-07-27T20:15:34.000Z","lastUpdated":"2023-07-27T20:15:34.000Z","lastMembershipUpdated":"2023-07-27T20:15:34.000Z","objectClass":["okta:user_group"],"type":"OKTA_GROUP","profile":{"name":"testAcc_441847521","description":"testing"},"_links":{"logo":[{"name":"medium","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-medium.30ce6d4085dff29412984e4c191bc874.png","type":"image/png"},{"name":"large","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-large.c3cb8cda8ae0add1b4fe928f5844dbe3.png","type":"image/png"}],"users":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/groups/00g95uvex3edjTjnm1d7/users"},"apps":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/groups/00g95uvex3edjTjnm1d7/apps"}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 143.148923ms
    - id: 1
      request:
        host: mm-classic-2022-10-04.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-classic-2022-10-04.oktapreview.com/api/v1/groups/00g95uvex3edjTjnm1d7
        method: GET
      response:
        body: '{"id":"00g95uvex3edjTjnm1d7","created":"2023-07-27T20:15:34.000Z","lastUpdated":"2023-07-27T20:15:34.000Z","lastMembershipUpdated":"2023-07-27T20:15:34.000Z","objectClass":["okta:user_group"],"type":"OKTA_GROUP","profile":{"name":"testAcc_441847521","description":"testing"},"_links":{"logo":[{"name":"medium","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-medium.30ce6d4085dff29412984e4c191bc874.png","type":"image/png"},{"name":"large","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-large.c3cb8cda8ae0add1b4fe928f5844dbe3.png","type":"image/png"}],"users":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/groups/00g95uvex3edjTjnm1d7/users"},"apps":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/groups/00g95uvex3edjTjnm1d7/apps"}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 56.529537ms
    - id: 2
      request:
        host: mm-classic-2022-10-04.oktapreview.com
        body: |
            {"credentials":{"password":{}},"profile":{"email":"testAcc_441847521@example.com","firstName":"TestAcc","lastName":"blah","login":"testAcc_441847521@example.com","postalAddress":null}}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://mm-classic-2022-10-04.oktapreview.com/api/v1/users
        method: POST
      response:
        body: '{"id":"00u95ut5heGhZVWXx1d7","status":"PROVISIONED","created":"2023-07-27T20:15:34.000Z","activated":"2023-07-27T20:15:34.000Z","statusChanged":"2023-07-27T20:15:34.000Z","lastLogin":null,"lastUpdated":"2023-07-27T20:15:34.000Z","passwordChanged":null,"type":{"id":"oty5ptm052JMcoADv1d7"},"profile":{"firstName":"TestAcc","lastName":"blah","mobilePhone":null,"secondEmail":null,"login":"testAcc_441847521@example.com","email":"testAcc_441847521@example.com"},"credentials":{"provider":{"type":"OKTA","name":"OKTA"}},"_links":{"suspend":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/users/00u95ut5heGhZVWXx1d7/lifecycle/suspend","method":"POST"},"schema":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/meta/schemas/user/osc5ptm052JMcoADv1d7"},"resetPassword":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/users/00u95ut5heGhZVWXx1d7/lifecycle/reset_password","method":"POST"},"reactivate":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/users/00u95ut5heGhZVWXx1d7/lifecycle/reactivate","method":"POST"},"self":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/users/00u95ut5heGhZVWXx1d7"},"type":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/meta/types/user/oty5ptm052JMcoADv1d7"},"deactivate":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/users/00u95ut5heGhZVWXx1d7/lifecycle/deactivate","method":"POST"}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 389.097166ms
[...]
    - id: 4
      request:
        host: mm-classic-2022-10-04.oktapreview.com
        body: |
            {"credentials":{"userNameTemplate":{"template":"${source.login}","type":"BUILT_IN"},"userName":""},"accessibility":{"selfService":false},"label":"testAcc_441847521","name":"template_swa","settings":{"app":{"buttonField":"btn-login","passwordField":"txtbox-password","url":"https://example.com/login.html","usernameField":"txtbox-username"},"notes":{"admin":null,"enduser":null}},"signOnMode":"BROWSER_PLUGIN","visibility":{"autoSubmitToolbar":false,"hide":{"iOS":false,"web":false}}}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://mm-classic-2022-10-04.oktapreview.com/api/v1/apps?activate=true
        method: POST
      response:
        body: '{"id":"0oa95us1caPmuBV1H1d7","name":"template_swa","label":"testAcc_441847521","status":"ACTIVE","lastUpdated":"2023-07-27T20:15:35.000Z","created":"2023-07-27T20:15:34.000Z","accessibility":{"selfService":false,"errorRedirectUrl":null,"loginRedirectUrl":null},"visibility":{"autoLaunch":false,"autoSubmitToolbar":false,"hide":{"iOS":false,"web":false},"appLinks":{"login":true}},"features":[],"signOnMode":"BROWSER_PLUGIN","credentials":{"scheme":"EDIT_USERNAME_AND_PASSWORD","userNameTemplate":{"template":"${source.login}","type":"BUILT_IN"},"revealPassword":false,"signing":{}},"settings":{"app":{"loginUrlRegex":null,"usernameField":"txtbox-username","redirectUrl":null,"buttonField":"btn-login","checkbox":null,"passwordField":"txtbox-password","url":"https://example.com/login.html"},"notifications":{"vpn":{"network":{"connection":"DISABLED"},"message":null,"helpUrl":null}},"manualProvisioning":false,"implicitAssignment":false,"notes":{"admin":null,"enduser":null}},"_links":{"uploadLogo":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/apps/0oa95us1caPmuBV1H1d7/logo","hints":{"allow":["POST"]}},"appLinks":[{"name":"login","href":"https://mm-classic-2022-10-04.oktapreview.com/home/template_swa/0oa95us1caPmuBV1H1d7/2357","type":"text/html"}],"groups":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/apps/0oa95us1caPmuBV1H1d7/groups"},"logo":[{"name":"medium","href":"https://op3static.oktacdn.com/fs/bcg/4/gfs1g3ksgnrQi3BSX1d8","type":"image/png"}],"users":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/apps/0oa95us1caPmuBV1H1d7/users"},"deactivate":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/apps/0oa95us1caPmuBV1H1d7/lifecycle/deactivate"}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 723.428383ms
    - id: 5
      request:
        host: mm-classic-2022-10-04.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-classic-2022-10-04.oktapreview.com/api/v1/users/00u95ut5heGhZVWXx1d7
        method: GET
      response:
        body: '{"id":"00u95ut5heGhZVWXx1d7","status":"PROVISIONED","created":"2023-07-27T20:15:34.000Z","activated":"2023-07-27T20:15:34.000Z","statusChanged":"2023-07-27T20:15:34.00[...]
    - id: 6
      request:
        host: mm-classic-2022-10-04.oktapreview.com
        body: |
            {"type":"APP_ADMIN"}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://mm-classic-2022-10-04.oktapreview.com/api/v1/users/00u95ut5heGhZVWXx1d7/roles?disableNotifications=false
        method: POST
      response:
        body: '{"id":"IFIFAX2BIRGUSTQ","label":"Application Administrator","type":"APP_ADMIN","status":"ACTIVE","created":"2023-07-27T20:15:35.000Z","lastUpdated":"2023-07-27T20:15:35.000Z","assignmentType":"USER","_links":{"assignee":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/users/00u95ut5heGhZVWXx1d7"}}}'
        headers:
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 342.239674ms
    - id: 7
      request:
        host: mm-classic-2022-10-04.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-classic-2022-10-04.oktapreview.com/api/v1/apps/0oa95us1caPmuBV1H1d7
        method: GET
      response:
        body: '{"id":"0oa95us1caPmuBV1H1d7","name":"template_swa","label":"testAcc_441847521","status":"ACTIVE","lastUpdated":"2023-07-27T20:15:35.000Z","created":"2023-07-27T20:15:34[...]
    - id: 8
      request:
        host: mm-classic-2022-10-04.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-classic-2022-10-04.oktapreview.com/api/v1/users/00u95ut5heGhZVWXx1d7/roles
        method: GET
      response:
        body: '[{"id":"IFIFAX2BIRGUSTQ","label":"Application Administrator","type":"APP_ADMIN","status":"ACTIVE","created":"2023-07-27T20:15:35.000Z","lastUpdated":"2023-07-27T20:15:35.000Z","assignmentType":"USER","_links":{"assignee":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/users/00u95ut5heGhZVWXx1d7"}}}]'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 65.347173ms
[...]
    - id: 10
      request:
        host: mm-classic-2022-10-04.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-classic-2022-10-04.oktapreview.com/api/v1/users/00u95ut5heGhZVWXx1d7/roles/IFIFAX2BIRGUSTQ/targets/catalog/apps/template_swa/0oa95us1caPmuBV1H1d7
        method: PUT
      response:
        body: ""
        headers:
        status: 204 No Content
        code: 204
        duration: 180.841416ms
[...]
    - id: 12
      request:
        host: mm-classic-2022-10-04.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-classic-2022-10-04.oktapreview.com/api/v1/users/00u95ut5heGhZVWXx1d7/roles/IFIFAX2BIRGUSTQ
        method: GET
      response:
        body: '{"id":"IFIFAX2BIRGUSTQ","label":"Application Administrator","type":"APP_ADMIN","status":"ACTIVE","created":"2023-07-27T20:15:36.000Z","lastUpdated":"2023-07-27T20:15:36.000Z","assignmentType":"USER","_links":{"assignee":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/users/00u95ut5heGhZVWXx1d7"}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 65.721289ms
    - id: 13
      request:
        host: mm-classic-2022-10-04.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-classic-2022-10-04.oktapreview.com/api/v1/users/00u95ut5heGhZVWXx1d7/roles/IFIFAX2BIRGUSTQ/targets/catalog/apps?limit=200
        method: GET
      response:
        body: '[{"name":"testAcc_441847521","status":"ACTIVE","id":"0oa95us1caPmuBV1H1d7","_links":{"self":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/apps/0oa95us1caPmuBV1H1d7"}}}]'
        headers:
            Content-Type:
                - application/json
            Link:
                - <https://mm-classic-2022-10-04.oktapreview.com/api/v1/users/00u95ut5heGhZVWXx1d7/roles/IFIFAX2BIRGUSTQ/targets/catalog/apps?after=PGEdPy1MdekTBSLcqLNT0LP5g1&limit=20>; rel="self"
        status: 200 OK
        code: 200
        duration: 79.673807ms
    - id: 14
      request:
        host: mm-classic-2022-10-04.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-classic-2022-10-04.oktapreview.com/api/v1/users/00u95ut5heGhZVWXx1d7/roles/I5JE6VKQL5GUKTKCIVJFGSCJKBPUCRCNJFHA/targets/groups/00g95uvex3edjTjnm1d7
        method: PUT
      response:
        body: ""
        headers:
        status: 204 No Content
        code: 204
        duration: 130.154746ms
[...]
    - id: 16
      request:
        host: mm-classic-2022-10-04.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-classic-2022-10-04.oktapreview.com/api/v1/users/00u95ut5heGhZVWXx1d7/roles/I5JE6VKQL5GUKTKCIVJFGSCJKBPUCRCNJFHA
        method: GET
      response:
        body: '{"id":"I5JE6VKQL5GUKTKCIVJFGSCJKBPUCRCNJFHA","label":"Group Membership Administrator","type":"GROUP_MEMBERSHIP_ADMIN","status":"ACTIVE","created":"2023-07-27T20:15:36.000Z","lastUpdated":"2023-07-27T20:15:36.000Z","assignmentType":"USER","_links":{"assignee":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/users/00u95ut5heGhZVWXx1d7"}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 62.590435ms
    - id: 17
      request:
        host: mm-classic-2022-10-04.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-classic-2022-10-04.oktapreview.com/api/v1/users/00u95ut5heGhZVWXx1d7/roles/I5JE6VKQL5GUKTKCIVJFGSCJKBPUCRCNJFHA/targets/groups?limit=200
        method: GET
      response:
        body: '[{"id":"00g95uvex3edjTjnm1d7","created":"2023-07-27T20:15:34.000Z","lastUpdated":"2023-07-27T20:15[...]
[...]
    - id: 19
      request:
        host: mm-classic-2022-10-04.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-classic-2022-10-04.oktapreview.com/api/v1/users/00u95ut5heGhZVWXx1d7/roles/IFIFAX2BIRGUSTQ/targets/catalog/apps
        method: GET
      response:
        body: '[{"name":"testAcc_441847521","status":"ACTIVE","id":"0oa95us1caPmuBV1H1d7","_links":{"self":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/apps/0oa95us1caPmuBV1H1d7"}}}]'
        headers:
            Content-Type:
                - application/json
            Link:
                - <https://mm-classic-2022-10-04.oktapreview.com/api/v1/users/00u95ut5heGhZVWXx1d7/roles/IFIFAX2BIRGUSTQ/targets/catalog/apps?after=PGEDVtm-5x6TBa5rYLck2im9g1&limit=20>; rel="self"
        status: 200 OK
        code: 200
        duration: 74.511432ms
[...]
    - id: 21
      request:
        host: mm-classic-2022-10-04.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-classic-2022-10-04.oktapreview.com/api/v1/users/00u95ut5heGhZVWXx1d7/roles/I5JE6VKQL5GUKTKCIVJFGSCJKBPUCRCNJFHA/targets/catalog/apps
        method: GET
      response:
        body: '[]'
        headers:
            Content-Type:
                - application/json
            Link:
                - <https://mm-classic-2022-10-04.oktapreview.com/api/v1/users/00u95ut5heGhZVWXx1d7/roles/I5JE6VKQL5GUKTKCIVJFGSCJKBPUCRCNJFHA/targets/catalog/apps?after=PGE1dfSgU9NRh2GxCDySmCmkg1&limit=20>; rel="self"
        status: 200 OK
        code: 200
        duration: 89.661651ms
    - id: 22
      request:
        host: mm-classic-2022-10-04.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-classic-2022-10-04.oktapreview.com/api/v1/users/00u95ut5heGhZVWXx1d7/roles/I5JE6VKQL5GUKTKCIVJFGSCJKBPUCRCNJFHA/targets/groups
        method: GET
      response:
        body: '[{"id":"00g95uvex3edjTjnm1d7","created":"2023-07-27T20:15:34.000Z","lastUpdated":"2023-07-27T20:15:34.000Z",[...]
[...]
    - id: 43
      request:
        host: mm-classic-2022-10-04.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-classic-2022-10-04.oktapreview.com/api/v1/groups/00g95uuwibv4fdfEL1d7
        method: GET
      response:
        body: '{"id":"00g95uuwibv4fdfEL1d7","created":"2023-07-27T20:15:40.000Z","lastUpdated":"2023-07-27T20:15:40.000Z","lastMembershipUpdated":"2023-07-27T20:15:40.000Z","objectClass":["okta:user_group"],"type":"OKTA_GROUP","profile":{"name":"testAcc_2_441847521","description":"testing, testing"},"_links":{"logo":[{"name":"medium","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-medium.30ce6d4085dff29412984e4c191bc874.png","type":"image/png"},{"name":"large","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-large.c3cb8cda8ae0add1b4fe928f5844dbe3.png","type":"image/png"}],"users":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/groups/00g95uuwibv4fdfEL1d7/users"},"apps":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/groups/00g95uuwibv4fdfEL1d7/apps"}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 75.849773ms
[...]
    - id: 46
      request:
        host: mm-classic-2022-10-04.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-classic-2022-10-04.oktapreview.com/api/v1/users/00u95ut5heGhZVWXx1d7/roles/IFIFAX2BIRGUSTQ/targets/catalog/apps/facebook
        method: PUT
      response:
        body: ""
        headers:
        status: 204 No Content
        code: 204
        duration: 98.324655ms
[...]
    - id: 48
      request:
        host: mm-classic-2022-10-04.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-classic-2022-10-04.oktapreview.com/api/v1/users/00u95ut5heGhZVWXx1d7/roles/IFIFAX2BIRGUSTQ/targets/catalog/apps/oidc_client
        method: PUT
      response:
        body: ""
        headers:
        status: 204 No Content
        code: 204
        duration: 139.415841ms
    - id: 49
      request:
        host: mm-classic-2022-10-04.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-classic-2022-10-04.oktapreview.com/api/v1/users/00u95ut5heGhZVWXx1d7/roles/I5JE6VKQL5GUKTKCIVJFGSCJKBPUCRCNJFHA/targets/groups/00g95uuwibv4fdfEL1d7
        method: PUT
      response:
        body: ""
        headers:
        status: 204 No Content
        code: 204
        duration: 115.314109ms
[...]
    - id: 54
      request:
        host: mm-classic-2022-10-04.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-classic-2022-10-04.oktapreview.com/api/v1/users/00u95ut5heGhZVWXx1d7/roles/IFIFAX2BIRGUSTQ/targets/catalog/apps?limit=200
        method: GET
      response:
        body: '[{"name":"oidc_client","displayName":"OpenID Connect Client","description":"OpenID Connect Client","status":"ACTIVE","lastUpdated":"2017-06-20T02:25:02.000Z","category":"OAUTH2","verificationStatus":"OKTA_VERIFIED","website":"http://openid.net/specs/openid-connect-core-1_0.html","signOnModes":["OPENID_CONNECT"],"features":["DEFAULT_PUSH_STATUS_TO_PUSH"],"_links":{"logo":[{"name":"medium","href":"https://op3static.oktacdn.com/assets/img/logos/default.6770228fb0dab49a1695ef440a5279bb.png","type":"image/png"}],"self":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/catalog/apps/oidc_client"}}},{"name":"facebook","displayName":"Facebook","description":"Giving people the power to share and make the world more open and connected.","status":"ACTIVE","lastUpdated":"2021-03-18T17:37:56.000Z","category":"SOCIAL","verificationStatus":"OKTA_VERIFIED","website":"https://www.facebook.com/","signOnModes":["BROWSER_PLUGIN"],"_links":{"logo":[{"name":"medium","href":"https://op3static.oktacdn.com/fs/bcg/4/gfshpspesrHHFC4Ve1d6"}],"self":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/catalog/apps/facebook"}}}]'
        headers:
            Content-Type:
                - application/json
            Link:
                - <https://mm-classic-2022-10-04.oktapreview.com/api/v1/users/00u95ut5heGhZVWXx1d7/roles/IFIFAX2BIRGUSTQ/targets/catalog/apps?after=PGE_0ST4Rs9Qzm1iRO0gMRHaA1&limit=20>; rel="self"
        status: 200 OK
        code: 200
        duration: 81.071607ms
[...]
    - id: 70
      request:
        host: mm-classic-2022-10-04.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-classic-2022-10-04.oktapreview.com/api/v1/apps/0oa95us1caPmuBV1H1d7/lifecycle/deactivate
        method: POST
      response:
        body: '{}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 87.547157ms
[...]
    - id: 72
      request:
        host: mm-classic-2022-10-04.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-classic-2022-10-04.oktapreview.com/api/v1/users/00u95ut5heGhZVWXx1d7/roles/IFIFAX2BIRGUSTQ
        method: DELETE
      response:
        body: '{"errorCode":"E0000007","errorSummary":"Not found: Resource not found: IFIFAX2BIRGUSTQ (RoleAssignment)","errorLink":"E0000007","errorId":"oaekVQbHq0LSTuIzVEneGNtFQ","errorCauses":[]}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 64.842892ms
[...]
