---
version: 2
interactions:
    - id: 0
      request:
        host: oie-00.dne-okta.com
        body: |
            {"resourceOrns":["orn:oktapreview:idp:00onkw1sbuAh3Q06I1d7:apps:oidc_client:0oanlpn0tzc7kh9bx1d7"]}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://oie-00.dne-okta.com/governance/api/v1/resource-owners
        method: POST
      response:
        body: '{"data":[]}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 3.489152666s
    - id: 1
      request:
        host: oie-00.dne-okta.com
        form:
            filter:
                - parentResourceOrn eq "orn:oktapreview:idp:00onkw1sbuAh3Q06I1d7:apps:oidc_client:0oanlpn0tzc7kh9bx1d7"
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/governance/api/v1/resource-owners?filter=parentResourceOrn+eq+%22orn%3Aoktapreview%3Aidp%3A00onkw1sbuAh3Q06I1d7%3Aapps%3Aoidc_client%3A0oanlpn0tzc7kh9bx1d7%22
        method: GET
      response:
        body: '{"data":[],"_links":{"self":{"href":"https://oie-00.dne-okta.com/governance/api/v1/resource-owners?filter=parentResourceOrn%20eq%20%22orn:oktapreview:idp:00onkw1sbuAh3Q06I1d7:apps:oidc_client:0oanlpn0tzc7kh9bx1d7%22&limit=20","hints":{}}},"metadata":{"total":0}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
            Link:
                - <https://oie-00.dne-okta.com/governance/api/v1/resource-owners?filter=parentResourceOrn%20eq%20%22orn:oktapreview:idp:00onkw1sbuAh3Q06I1d7:apps:oidc_client:0oanlpn0tzc7kh9bx1d7%22&limit=20>; rel="self"
        status: 200 OK
        code: 200
        duration: 1.625354917s
[...]
