---
version: 2
interactions:
    - id: 0
      request:
        host: oie-00.dne-okta.com
        body: |
            {"accessScopeSettings":{"groups":[{"id":"00gwkaw31mtq5LnuZ1d7"},{"id":"00gwkax39dIJgiptR1d7"}],"type":"GROUPS"},"approvalSequenceId":"68d224058c0cff364ca377e8","name":"test-reorder-ids","priority":0,"requesterSettings":{"groups":[{"id":"00gwkaw31mtq5LnuZ1d7"},{"id":"00gwkax39dIJgiptR1d7"}],"type":"GROUPS"}}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://oie-00.dne-okta.com/governance/api/v2/resources/0oa11ez9vooGRnbZv1d8/request-conditions
        method: POST
      response:
        body: '{"requesterSettings":{"type":"GROUPS","groups":[{"id":"00gwkaw31mtq5LnuZ1d7"},{"id":"00gwkax39dIJgiptR1d7"}]},"accessScopeSettings":{"type":"GROUPS","groups":[{"id":"00gwkaw31mtq5LnuZ1d7"},{"id":"00gwkax39dIJgiptR1d7"}]},"approvalSequenceId":"68d224058c0cff364ca377e8","name":"test-reorder-ids","id":"rco1knz1kez41rOrt1d7","createdBy":"00uucstzsm6FuzclQ1d7","created":"2026-10-09T04:37:07Z","lastUpdated":"2026-10-09T04:37:07Z","lastUpdatedBy":"00uucstzsm6FuzclQ1d7","_links":{"self":{"href":"https://oie-00-admin.dne-okta.com/governance/api/v2/resources/0oa11ez9vooGRnbZv1d8/request-conditions/rco1knz1kez41rOrt1d7","hints":{}}},"status":"INACTIVE","priority":0}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
            Location:
                - https://dcp-testing-oig-2025-06-26-admin.oktapreview.com/governance/api/v2/resources/0oa11ez9vooGRnbZv1d8/request-conditions/rco1knz1kez41rOrt1d7
        status: 201 Created
        code: 201
        duration: 2.411285584s
    - id: 1
      request:
        host: oie-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/governance/api/v2/resources/0oa11ez9vooGRnbZv1d8/request-conditions/rco1knz1kez41rOrt1d7
        method: GET
      response:
        body: '{"requesterSettings":{"type":"GROUPS","groups":[{"id":"00gwkaw31mtq5LnuZ1d7"},{"id":"00gwkax39dIJgiptR1d7"}]},"accessScopeSettings":{"type":"GROUPS","groups":[{"id":"00gwkaw31mtq5LnuZ1d7"},{"id":"00gwkax39dIJgiptR1d7"}]},"approvalSequenceId":"68d224058c0cff364ca377e8","name":"test-reorder-ids","id":"rco1knz1kez41rOrt1d7","createdBy":"00uucstzsm6FuzclQ1d7","created":"2026-10-09T04:37:07Z","lastUpdated":"2026-10-09T04:37:07Z","lastUpdatedBy":"00uucstzsm6FuzclQ1d7","_links":{"self":{"href":"https://oie-00-admin.dne-okta.com/governance/api/v2/resources/0oa11ez9vooGRnbZv1d8/request-conditions/rco1knz1kez41rOrt1d7","hints":{}}},"status":"INACTIVE","priority":0}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.26229725s
[...]
