---
version: 2
interactions:
    - id: 0
      request:
        host: oie-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/.well-known/okta-organization
        method: GET
      response:
        body: '{"id":"00onkw1sbuAh3Q06I1d7","cell":"op3","_links":{"organization":{"href":"https://oie-00.dne-okta.com"}},"pipeline":"idx","settings":{"analyticsCollectionEnabled":false,"bugReportingEnabled":true,"omEnabled":false,"pssoEnabled":true,"desktopMFAEnabled":true,"itpEnabled":true}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.225061834s
    - id: 1
      request:
        host: oie-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/authenticators
        method: GET
      response:
        body: '[{"type":"app","id":"autsmry3961LkISL51d7","key":"custom_app","status":"ACTIVE","name":"Custom App Authenticator","created":"2025-12-12T16:33:39.000Z","lastUpdated":"2026-05-13T07:25:52.000Z","settings":{"appInstanceId":"0oasmrwi2idPlS77z1d7","userVerification":"PREFERRED","oauthClientId":"0oasmrwi2idPlS77z1d7"},"provider":{"type":"PUSH","configuration":{"fcm":{"id":"ppcrbo4q0bGL6WetY1d7"}}},"_links":{"self":{"href":"https://oie-00.dne-okta.com/api/v1/authenticators/autsmry3961LkISL51d7","hints":{"allow":["GET","PUT"]}},"deactivate":{"href":"https://oie-00.dne-okta.com/api/v1/authenticators/autsmry3961LkISL51d7/lifecycle/deactivate","hints":{"allow":["POST"]}},"methods":{"href":"https://oie-00.dne-okta.com/api/v1/authenticators/autsmry3961LkISL51d7/methods","hints":{"allow":["GET"]}},"enroll":{"href":"https://oie-00.dne-okta.com/idp/authenticators","hints":{"allow":["POST"]}}}},{"type":"security_key","id":"autqh8z6p5RQvxZsg1d7","key":"custom_otp","status":"INACTIVE","name":"Custom OTP","created":"2025-09-29T16:49:24.000Z","lastUpdated":"2026-01-29T04:34:48.000Z","_links":{"self":{"href":"https://oie-00.dne-okta.com/api/v1/authenticators/autqh8z6p5RQvxZsg1d7","hints":{"allow":["GET","PUT"]}},"activate":{"href":"https://oie-00.dne-okta.com/api/v1/authenticators/autqh8z6p5RQvxZsg1d7/lifecycle/activate","hints":{"allow":["POST"]}},"methods":{"href":"https://oie-00.dne-okta.com/api/v1/authenticators/autqh8z6p5RQvxZsg1d7/methods","hints":{"allow":["GET"]}}}},{"type":"security_key","id":"autp70491kdcUukHa1d7","key":"custom_otp","status":"INACTIVE","name":"Custom OTP Authenticator","created":"2025-08-15T09:04:14.000Z","lastUpdated":"2025-08-15T13:02:33.000Z","_links":{"self":{"href":"https://oie-00.d[...]
    - id: 2
      request:
        host: oie-00.dne-okta.com
        body: |
            {"accessibility":{},"credentials":{"oauthClient":{"autoKeyRotation":true,"pkce_required":false,"token_endpoint_auth_method":"client_secret_basic"},"userNameTemplate":{"template":"${source.login}","type":"BUILT_IN"}},"label":"GH2408_CIBA","name":"oidc_client","settings":{"notes":{},"oauthClient":{"application_type":"web","backchannel_custom_authenticator_id":"autzl5nch7WihkNDZ1d7","consent_method":"TRUSTED","dpop_bound_access_tokens":false,"grant_types":["urn:openid:params:grant-type:ciba","authorization_code","refresh_token"],"idp_initiated_login":{"default_scope":[],"mode":"DISABLED"},"issuer_mode":"ORG_URL","redirect_uris":["https://localhost:4200/callback"],"refresh_token":{"leeway":0,"rotation_type":"STATIC"},"response_types":["code"],"wildcard_redirect":"DISABLED"}},"signOnMode":"OPENID_CONNECT","visibility":{"hide":{"iOS":true,"web":true}}}
        form:
            activate:
                - "true"
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://oie-00.dne-okta.com/api/v1/apps?activate=true
        method: POST
      response:
        body: '{"id":"0oazlhixotIPm4shJ1d7","orn":"orn:oktapreview:idp:00onkw1sbuAh3Q06I1d7:apps:oidc_client:0oazlhixotIPm4shJ1d7","name":"oidc_client","label":"GH2408_CIBA","status":"ACTIVE","lastUpdated":"2026-06-04T12:47:25.000Z","created":"2026-06-04T12:47:24.000Z","accessibility":{"selfService":false,"errorRedirectUrl":null,"loginRedirectUrl":null},"visibility":{"autoLaunch":false,"autoSubmitToolbar":false,"hide":{"iOS":true,"web":true},"appLinks":{"oidc_client_link":true}},"features":[],"signOnMode":"OPENID_CONNECT","credentials":{"userNameTemplate":{"template":"${source.login}","type":"BUILT_IN"},"signing":{"kid":"sALQDM5PBTRR6dsVDGloCQexOBDrJNwQmFiZuWur7eo"},"oauthClient":{"autoKeyRotation":true,"client_id":"0oazlhixotIPm4shJ1d7","client_secret":"UNQtaBwHShub6v0I_ksWGJav5RXOoBzfb2PwHiGi1dcUu5m02TzKnEbmfTlIb1Bh","token_endpoint_auth_method":"client_secret_basic","pkce_required":false}},"universalLogout":{"status":"DISABLED","supportType":"FULL","identityStack":"NOT_SHARED","protocol":"GLOBAL_TOKEN_REVOCATION"},"settings":{"app":{},"notifications":{"vpn":{"network":{"connection":"DISABLED"},"message":null,"helpUrl":null}},"manualProvisioning":false,"implicitAssignment":false,"emOptInStatus":"NONE","notes":{"admin":null,"enduser":null},"oauthClient":{"client_uri":null,"logo_uri":null,"redirect_uris":["https://localhost:4200/callback"],"response_types":["code"],"grant_types":["urn:openid:params:grant-type:ciba","authorization_code","refresh_token"],"application_type":"web","consent_method":"TRUSTED","issuer_mode":"ORG_URL","refresh_token":{"rotation_type":"STATIC"},"idp_initiated_login":{"mode":"DISABLED","default_scope":[]},"wildcard_redirect":"DISABLED","backchannel_token_delivery_mode":"poll","backchannel_custom_authenticator_id":"autzl5nch7WihkNDZ1d7","dpop_bound_access_tokens":false,"participate_slo":false}},"_links":{"uploadLogo":{"href":"https://oie-00.dne-okta.com/api/v1/apps/0oazlhixotIPm4shJ1d7/logo","hints":{"allow":["POST"]}},"appLinks":[{"name":"oidc_client_link","href":"https://oie-00.dne-okta.com/home/oidc_client/0oazlhixotIPm4shJ1d7/aln177a159h7Zf52X0g8","type":"text/html"}],"profileEnrollment":{"href":"https://oie-00.dne-okta.com/api/v1/policies/rstnkw1sgzCwhJaUs1d7"},"policies":{"href":"https://oie-00.dne-okta.com/api/v1/apps/0oazlhixotIPm4shJ1d7/policies","hints":{"allow":["PUT"]}},"groups":{"href":"https://oie-00.dne-okta.com/api/v1/apps/0oazlhixotIPm4shJ1d7/groups"},"logo":[{"name":"medium","href":"https://op3static2.oktacdn.com/assets/img/logos/default.6770228fb0dab49a1695ef440a5279bb.png","type":"image/png"}],"clientCredentials":[{"name":"secrets","href":"https://oie-00.dne-okta.com/api/v1/apps/0oazlhixotIPm4shJ1d7/credentials/secrets"}],"accessPolicy":{"href":"https://oie-00.dne-okta.com/api/v1/policies/rstnkw1sgxfqkDUtx1d7"},"users":{"href":"https://oie-00.dne-okta.com/api/v1/apps/0oazlhixotIPm4shJ1d7/users"},"deactivate":{"href":"https://oie-00.dne-okta.com/api/v1/apps/0oazlhixotIPm4shJ1d7/lifecycle/deactivate"}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 2.965466125s
    - id: 3
      request:
        host: oie-00.dne-okta.com
        body: |
            {"issuerMode":"ORG_URL"}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://oie-00.dne-okta.com/api/v1/internal/apps/0oazlhixotIPm4shJ1d7/settings/oauth/idToken
        method: POST
      response:
        body: '{"issuer":null,"orgUrl":null,"customUrl":null,"audience":null,"issuerMode":"ORG_URL"}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.500784875s
    - id: 4
      request:
        host: oie-00.dne-okta.com
        form:
            type:
                - ACCESS_POLICY
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/policies?type=ACCESS_POLICY
        method: GET
      response:
        body: '[{"id":"rstnkw1sg2fWHAvjK1d7","status":"ACTIVE","name":"Okta Admin Console","priority":1,"system":false,"conditions":null,"created":"2025-06-26T15:51:39.000Z","lastUpdated":"2025-06-26T15:51:39.000Z","_links":{"mappings":{"href":"https://oie-00.dne-okta.com/api/v1/policies/rstnkw1sg2fWHAvjK1d7/mappings","hints":{"allow":["GET","POST"]}},"self":{"href":"https://oie-00.dne-okta.com/api/v1/policies/rstnkw1sg2fWHAvjK1d7","hints":{"allow":["GET","PUT","DELETE"]}},"rules":{"href":"https://oie-00.dne-okta.com/api/v1/policies/rstnkw1sg2fWHAvjK1d7/rules","hints":{"allow":["GET","POST"]}},"deactivate":{"href":"https://oie-00.dne-okta.com/api/v1/policies/rstnkw1sg2fWHAvjK1d7/lifecycle/deactivate","hints":{"allow":["POST"]}}},"_embedded":{"resourceType":"APP"},"type":"ACCESS_POLICY"},{"id":"rstnkw1sg9IQmPCLu1d7","status":"ACTIVE","name":"Okta Dashboard","priority":1,"system":false,"conditions":null,"created":"2025-06-26T15:51:39.000Z","lastUpdated":"2025-06-26T15:51:39.000Z","_links":{"mappings":{"href":"https://oie-00.dne-okta.com/api/v1/policies/rstnkw1sg9IQmPCLu1d7/mappings","hints":{"allow":["GET","POST"]}},"self":{"href":"https://oie-00.dne-okta.com/api/v1/policies/rstnkw1sg9IQmPCLu1d7","hints":{"allow":["GET","PUT","DELETE"]}},"rules":{"h[...]
    - id: 5
      request:
        host: oie-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/apps/0oazlhixotIPm4shJ1d7/policies/rstnkw1sgxfqkDUtx1d7
        method: PUT
      response:
        body: ""
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
        status: 204 No Content
        code: 204
        duration: 1.225553416s
    - id: 6
      request:
        host: oie-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/apps/0oazlhixotIPm4shJ1d7
        method: GET
      response:
        body: '{"id":"0oazlhixotIPm4shJ1d7","orn":"orn:oktapreview:idp:00onkw1sbuAh3Q06I1d7:apps:oidc_client:0oazlhixotIPm4shJ1d7","name":"oidc_client","label":"GH2408_CIBA","status":"ACTIVE","lastUpdated":"2026-06-04T12:47:27.000Z","created":"2026-06-0[...]
[...]
    - id: 8
      request:
        host: oie-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/authenticators/autzl5nch7WihkNDZ1d7
        method: GET
      response:
        body: '{"type":"app","id":"autzl5nch7WihkNDZ1d7","key":"custom_app","status":"ACTIVE","name":"VCRTestCustomAppAuth001","created":"2026-06-04T08:28:42.000Z","lastUpdated":"2026-06-04T08:44:17.000Z","settings":{"appInstanceId":"0oazl5jsgoLmguzkM1d7","userVerification":"REQUIRED","oauthClientId":"0oazl5jsgoLmguzkM1d7"},"provider":{"type":"PUSH","configuration":{"fcm":{"id":"ppcrbgysxxBZDHPTv1d7"}}},"_links":{"self":{"href":"https://oie-00.dne-okta.com/api/v1/authenticators/autzl5nch7WihkNDZ1d7","hints":{"allow":["GET","PUT"]}},"deactivate":{"href":"https://oie-00.dne-okta.com/api/v1/authenticators/autzl5nch7WihkNDZ1d7/lifecycle/deactivate","hints":{"allow":["POST"]}},"methods":{"href":"https://oie-00.dne-okta.com/api/v1/authenticators/autzl5nch7WihkNDZ1d7/methods","hints":{"allow":["GET"]}},"enroll":{"href":"https://oie-00.dne-okta.com/idp/authenticators","hints":{"allow":["POST"]}}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.134513083s
[...]
    - id: 13
      request:
        host: oie-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/apps/0oazlhixotIPm4shJ1d7/lifecycle/deactivate
        method: POST
      response:
        body: '{}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.271521667s
[...]
    - id: 15
      request:
        host: oie-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/authenticators/autzl5nch7WihkNDZ1d7/lifecycle/deactivate
        method: POST
      response:
        body: '{"errorCode":"E0000001","errorSummary":"Api validation failed: Authenticator","errorLink":"E0000001","errorId":"oaeUQ9ALouCRE-EznIPOIFhLg","errorCauses":[{"errorSummary":"Cannot delete this authenticator because it is being configured for CIBA by one or more OIDC applications."}]}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 400 Bad Request
        code: 400
        duration: 1.299799083s
