---
version: 2
interactions:
    - id: 0
      request:
        host: oie-00.dne-okta.com
        body: |
            {"body":"test-body","isDefault":false,"language":"en","subject":"test-subject"}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://oie-00.dne-okta.com/api/v1/brands/3117476771/templates/email/3117476771/customizations
        method: POST
      response:
        body: '{"id":"emcCUSTOM00000000001","body":"test-body","isDefault":false,"language":"en","subject":"test-subject","created":"2025-07-17T00:00:00.000Z","lastUpdated":"2025-07-17T00:00:00.000Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 200ms
    - id: 1
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/brands/3117476771/templates/email/3117476771/customizations/emcCUSTOM00000000001
        method: GET
      response:
        body: '{"id":"emcCUSTOM00000000001","body":"test-body","isDefault":false,"language":"en","subject":"test-subject","created":"2025-07-17T00:00:00.000Z","lastUpdated":"2025-07-17T00:00:00.000Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 200ms
[...]
