---
version: 2
interactions:
    - id: 0
      request:
        host: mm-oie-2022-10-07-max.oktapreview.com
        body: |
            {"profile":{"name":"testAcc-2338590717","description":"A Group"}}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/groups
        method: POST
      response:
        body: '{"id":"00g95tmk5xcA6pUdC1d7","created":"2023-07-27T19:20:55.000Z","lastUpdated":"2023-07-27T19:20:55.000Z","lastMembershipUpdated":"2023-07-27T19:20:55.000Z","objectClass":["okta:user_group"],"type":"OKTA_GROUP","profile":{"name":"testAcc-2338590717","description":"A Group"},"_links":{"logo":[{"name":"medium","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-medium.30ce6d4085dff29412984e4c191bc874.png","type":"image/png"},{"name":"large","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-large.c3cb8cda8ae0add1b4fe928f5844dbe3.png","type":"image/png"}],"users":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/groups/00g95tmk5xcA6pUdC1d7/users"},"apps":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/groups/00g95tmk5xcA6pUdC1d7/apps"}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 254.643125ms
    - id: 1
      request:
        host: mm-oie-2022-10-07-max.oktapreview.com
        body: |
            {"credentials":{"password":{}},"profile":{"email":"testAcc-2338590717@example.com","firstName":"TestAcc","lastName":"Smith","login":"testAcc-2338590717@example.com","postalAddress":null}}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/users
        method: POST
      response:
        body: '{"id":"00u95tf8ctEtsJ7RL1d7","status":"PROVISIONED","created":"2023-07-27T19:20:55.000Z","activated":"2023-07-27T19:20:55.000Z","statusChanged":"2023-07-27T19:20:55.000Z","lastLogin":null,"lastUpdated":"2023-07-27T19:20:55.000Z","passwordChanged":null,"type":{"id":"oty5qwjvh0Vy1j8Kd1d7"},"profile":{"firstName":"TestAcc","lastName":"Smith","mobilePhone":null,"secondEmail":null,"login":"testAcc-2338590717@example.com","email":"testAcc-2338590717@example.com"},"credentials":{"provider":{"type":"OKTA","name":"OKTA"}},"_links":{"suspend":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/users/00u95tf8ctEtsJ7RL1d7/lifecycle/suspend","method":"POST"},"schema":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/meta/schemas/user/osc5qwjvh0Vy1j8Kd1d7"},"resetPassword":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/users/00u95tf8ctEtsJ7RL1d7/lifecycle/reset_password","method":"POST"},"reactivate":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/users/00u95tf8ctEtsJ7RL1d7/lifecycle/reactivate","method":"POST"},"self":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/users/00u95tf8ctEtsJ7RL1d7"},"resetFactors":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/users/00u95tf8ctEtsJ7RL1d7/lifecycle/reset_factors","method":"POST"},"type":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/meta/types/user/oty5qwjvh0Vy1j8Kd1d7"},"deactivate":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/users/00u95tf8ctEtsJ7RL1d7/lifecycle/deactivate","method":"POST"}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 497.000683ms
    - id: 2
      request:
        host: mm-oie-2022-10-07-max.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/groups/00g95tmk5xcA6pUdC1d7
        method: GET
      response:
        body: '{"id":"00g95tmk5xcA6pUdC1d7","created":"2023-07-27T19:20:55.000Z","lastUpdated":"2023-07-27T19:20:55.000Z","lastMembershipUpdated":"2023-07-27T19:20:55.000Z","objectClass":["okta:user_group"],"type":"OKTA_GROUP","profile":{"name":"testAcc-2338590717","description":"A Group"},"_links":{"logo":[{"name":"medium","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-medium.30ce6d4085dff29412984e4c191bc874.png","type":"image/png"},{"name":"large","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-large.c3cb8cda8ae0add1b4fe928f5844dbe3.png","type":"image/png"}],"users":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/groups/00g95tmk5xcA6pUdC1d7/users"},"apps":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/groups/00g95tmk5xcA6pUdC1d7/apps"}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 77.327286ms
[...]
    - id: 4
      request:
        host: mm-oie-2022-10-07-max.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/users/00u95tf8ctEtsJ7RL1d7
        method: GET
      response:
        body: '{"id":"00u95tf8ctEtsJ7RL1d7","status":"PROVISIONED","created":"2023-07-27T19:20:55.000Z","activated":"2023-07-27T19:20:55.000Z","statusChanged":"2023-07-27T19:20:55.00[...]
    - id: 5
      request:
        host: mm-oie-2022-10-07-max.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/groups/00g95tmk5xcA6pUdC1d7/users/00u95tf8ctEtsJ7RL1d7
        method: PUT
      response:
        body: ""
        headers:
        status: 204 No Content
        code: 204
        duration: 79.132154ms
    - id: 6
      request:
        host: mm-oie-2022-10-07-max.oktapreview.com
        body: |
            {"type":"SUPER_ADMIN"}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/users/00u95tf8ctEtsJ7RL1d7/roles?disableNotifications=false
        method: POST
      response:
        body: '{"id":"ra195tf8cyIqOhCOz1d7","label":"Super Administrator","type":"SUPER_ADMIN","status":"ACTIVE","created":"2023-07-27T19:20:56.000Z","lastUpdated":"2023-07-27T19:20:56.000Z","assignmentType":"USER","_links":{"assignee":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/users/00u95tf8ctEtsJ7RL1d7"}}}'
        headers:
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 204.508478ms
    - id: 7
      request:
        host: mm-oie-2022-10-07-max.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/users/00u95tf8ctEtsJ7RL1d7/groups
        method: GET
      response:
        body: '[{"id":"00g5qwjvgrD3WR89l1d7","created":"2022-10-07T23:16:57.000Z","lastUpdated":"2022-10-07T23:16:57.000Z","lastMembershipUpdated":"2023-07-27T19:20:41.000Z","[...]
[...]
    - id: 9
      request:
        host: mm-oie-2022-10-07-max.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/users?limit=200&search=profile.email+eq+%22testAcc-2338590717%40example.com%22&sortOrder=0
        method: GET
      response:
        body: '[{"id":"00u95tf8ctEtsJ7RL1d7","status":"PROVISIONED","created":"2023-07-27T19:20:55.000Z","activated":"2023-07-27T19:20:55.000Z","statusChanged":"2023-07-27T19:20:55.000Z","lastLogin":null,"lastUpdated":"2023-07-27T19:20:55.000Z","passwordChanged":null,"type":{"id":"oty5qwjvh0Vy1j8Kd1d7"},"profile":{"firstName":"TestAcc","lastName":"Smith","mobilePhone":null,"secondEmail":null,"login":"testAcc-2338590717@example.com","email":"testAcc-2338590717@example.com"},"credentials":{"provider":{"type":"OKTA","name":"OKTA"}},"_links":{"self":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/users/00u95tf8ctEtsJ7RL1d7"}}}]'
        headers:
            Content-Type:
                - application/json
            Link:
                - <https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/users?limit=200&search=profile.email+eq+%22testAcc-2338590717%40example.com%22>; rel="self"
        status: 200 OK
        code: 200
        duration: 86.780521ms
[...]
    - id: 16
      request:
        host: mm-oie-2022-10-07-max.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/users/00u95tf8ctEtsJ7RL1d7/roles
        method: GET
      response:
        body: '[{"id":"IFIFAX2BIRGUSTQ","label":"Application Administrator","type":"APP_ADMIN","status":"ACTIVE","created":"2023-07-27T19:20:56.000Z","lastUpdated":"2023-07-27T19:20:56.000Z","assignmentType":"USER","_links":{"assignee":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/users/00u95tf8ctEtsJ7RL1d7"}}},{"id":"ra195tf8cyIqOhCOz1d7","label":"Super Administrator","type":"SUPER_ADMIN","status":"ACTIVE","created":"2023-07-27T19:20:56.000Z","lastUpdated":"2023-07-27T19:20:56.000Z","assignmentType":"USER","_links":{"assignee":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/users/00u95tf8ctEtsJ7RL1d7"}}}]'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 82.780231ms
[...]
    - id: 23
      request:
        host: mm-oie-2022-10-07-max.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/users/00u95tf8ctEtsJ7RL1d7/roles/IFIFAX2BIRGUSTQ
        method: DELETE
      response:
        body: ""
        headers:
        status: 204 No Content
        code: 204
        duration: 96.248275ms
[...]
    - id: 25
      request:
        host: mm-oie-2022-10-07-max.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/users/00u95tf8ctEtsJ7RL1d7/roles/ra195tf8cyIqOhCOz1d7
        method: DELETE
      response:
        body: ""
        headers:
        status: 204 No Content
        code: 204
        duration: 391.053111ms
[...]
