---
version: 2
interactions:
    - id: 0
      request:
        host: oie-00.dne-okta.com
        form:
            type:
                - POST_AUTH_SESSION
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/policies?type=POST_AUTH_SESSION
        method: GET
      response:
        body: '[{"id":"rstr909e8uuUhvE8n1d7","status":"ACTIVE","name":"Post Auth Policy","description":"Enables post auth policy evaluation for the org.","priority":1,"system":true,"conditions":null,"created":"2025-10-24T06:49:52.000Z","lastUpdated":"2025-10-24T06:49:52.000Z","_links":{"self":{"href":"https://oie-00.dne-okta.com/api/v1/policies/rstr909e8uuUhvE8n1d7","hints":{"allow":["GET","PUT"]}},"rules":{"href":"https://oie-00.dne-okta.com/api/v1/policies/rstr909e8uuUhvE8n1d7/rules","hints":{"allow":["GET","POST"]}}},"type":"POST_AUTH_SESSION"}]'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
            Link:
                - <https://oie-00.dne-okta.com/api/v1/policies?type=POST_AUTH_SESSION>; rel="self"
        status: 200 OK
        code: 200
        duration: 1.305239667s
[...]
