---
version: 2
interactions:
    - id: 0
      request:
        host: oie-00.dne-okta.com
        body: |
            {"externalId":"USEREXT123456TESTUSER2","profile":{"email":"testuser2@example.com","firstName":"Test","lastName":"User2","userName":"testuser2@example.com"}}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://oie-00.dne-okta.com/api/v1/identity-sources/0oaxc95befZNgrJl71d7/users
        method: POST
      response:
        body: '{"id":"0uaxr7pbz2hR26W3h1d7","externalId":"USEREXT123456TESTUSER2","created":"2026-04-19T17:04:38.000Z","lastUpdated":"2026-04-19T17:04:38.000Z","profile":{"firstName":"Test","lastName":"User2","mobilePhone":null,"secondEmail":null,"userName":"testuser2@example.com","email":"testuser2@example.com"}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.842370625s
    - id: 1
      request:
        host: oie-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/identity-sources/0oaxc95befZNgrJl71d7/users/USEREXT123456TESTUSER2
        method: GET
      response:
        body: '{"id":"0uaxr7pbz2hR26W3h1d7","externalId":"USEREXT123456TESTUSER2","created":"2026-04-19T17:04:38.000Z","lastUpdated":"2026-04-19T17:04:38.000Z","profile":{"firstName":"Test","lastName":"User2","mobilePhone":null,"secondEmail":null,"userName":"testuser2@example.com","email":"testuser2@example.com"}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.101639625s
[...]
