---
version: 2
interactions:
    - id: 0
      request:
        host: oie-00.dne-okta.com
        body: |
            {"description":"Review access of all sales team members to a specific app","name":"Monthly access review of sales team","notificationSettings":{"notifyReviewPeriodEnd":false,"notifyReviewerAtCampaignEnd":true,"notifyReviewerDuringMidpointOfReview":false,"notifyReviewerWhenOverdue":false,"notifyReviewerWhenReviewAssigned":false},"principalScopeSettings":{"includeOnlyActiveUsers":false,"onlyIncludeUsersWithSODConflicts":false,"type":"USERS"},"remediationSettings":{"accessApproved":"NO_ACTION","accessRevoked":"NO_ACTION","noResponse":"NO_ACTION"},"resourceSettings":{"excludedResources":[],"includeAdminRoles":false,"includeEntitlements":false,"individuallyAssignedAppsOnly":false,"individuallyAssignedGroupsOnly":false,"onlyIncludeOutOfPolicyEntitlements":false,"targetResources":[{"includeAllEntitlementsAndBundles":false,"resourceId":"00gnkw1sdqL30MdGk1d7","resourceType":"GROUP"},{"includeAllEntitlementsAndBundles":false,"resourceId":"00go2ywj8vuFO2JzF1d7","resourceType":"GROUP"}],"type":"GROUP"},"reviewerSettings":{"bulkDecisionDisabled":false,"fallBackReviewerId":"00unkw1sfbTw08c0g1d7","justificationRequired":false,"reassignmentDisabled":false,"reviewerScopeExpression":"user.profile.managerId","selfReviewDisabled":false,"type":"REVIEWER_EXPRESSION"},"scheduleSettings":{"durationInDays":30,"recurrence":{"interval":""},"startDate":"2025-10-04T13:43:40Z","timeZone":"America/Los_Angeles","type":"ONE_OFF"}}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://oie-00.dne-okta.com/governance/api/v1/campaigns
        method: POST
      response:
        body: '{"_links":{"launchCampaign":{"href":"https://oie-00-admin.dne-okta.com/governance/api/v1/campaigns/ici10fubfhI308QWW1d7/launch","hints":{}},"endCampaign":{"href":"https://oie-00-admin.dne-okta.com/governance/api/v1/campaigns/ici10fubfhI308QWW1d7/end","hints":{}},"reviews":{"href":"https://oie-00-admin.dne-okta.com/governance/api/v1/reviews?filter=campaignId%20eq%20%22ici10fubfhI308QWW1d7%22","hints":{}},"self":{"href":"https://oie-00-admin.dne-okta.com/governance/api/v1/campaigns/ici10fubfhI308QWW1d7","hints":{}}},"id":"ici10fubfhI308QWW1d7","createdBy":"00unkw1sfbTw08c0g1d7","created":"2025-08-15T19:22:15Z","lastUpdated":"2025-08-15T19:22:16Z","lastUpdatedBy":"00unkw1sfbTw08c0g1d7","name":"Monthly access review of sales team","description":"Review access of all sales team members to a specific app","campaignType":"RESOURCE","scheduleSettings":{"type":"ONE_OFF","startDate":"2025-10-04T06:43:40-07:00","durationInDays":30,"timeZone":"America/Los_Angeles","endDate":"2025-11-03T05:43:40-08:00"},"resourceSettings":{"type":"GROUP","targetResources":[{"resourceId":"00go2ywj8vuFO2JzF1d7","resourceType":"GROUP","includeAllEntitlementsAndBundles":false},{"resourceId":"00gnkw1sdqL30MdGk1d7","resourceType":"GROUP","includeAllEntitlementsAndBundles":false}],"excludedResources":[],"individuallyAssignedAppsOnly":false,"individuallyAssignedGroupsOnly":false,"includeEntitlements":false,"onlyIncludeOutOfPolicyEntitlements":false,"includeAdminRoles":false},"principalScopeSettings":{"type":"USERS","excludedUserIds":[],"userIds":[],"groupIds":[],"includeOnlyActiveUsers":false,"onlyIncludeUsersWithSODConflicts":false},"reviewerSettings":{"type":"REVIEWER_EXPRESSION","reviewerScopeExpression":"user.profile.managerId","fallBackReviewerId":"00unkw1sfbTw08c0g1d7","selfReviewDisabled":false,"justificationRequired":false,"bulkDecisionDisabled":false,"reassignmentDisabled":false},"notificationSettings":{"notifyReviewerWhenReviewAssigned":false,"notifyReviewerAtCampaignEnd":true,"notifyReviewerWhenOverdue":false,"notifyReviewerDuringMidpointOfReview":false,"notifyReviewPeriodEnd":false},"remediationSettings":{"accessApproved":"NO_ACTION","accessRevoked":"NO_ACTION","noResponse":"NO_ACTION"},"status":"SCHEDULED"}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
            Location:
                - https://dcp-testing-oig-2025-06-26-admin.oktapreview.com/governance/api/v1/campaigns/ici10fubfhI308QWW1d7
        status: 201 Created
        code: 201
        duration: 1.44211925s
    - id: 1
      request:
        host: oie-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/governance/api/v1/campaigns/ici10fubfhI308QWW1d7
        method: GET
      response:
        body: '{"_links":{"launchCampaign":{"href":"https://oie-00-admin.dne-okta.com/governance/api/v1/campaigns/ici10fubfhI308QWW1d7/launch","hints":{}},"endCampaign":{"href":"https://oie-00-admin.dne-okta.com/governance/api/v1/campaig[...]
[...]
