---
version: 2
interactions:
    - id: 0
      request:
        host: classic-00.dne-okta.com
        body: |
            {"description":"testing, testing","label":"testAcc_1184418844","permissions":["okta.workflows.invoke","okta.workflows.read"]}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://classic-00.dne-okta.com/api/v1/iam/roles
        method: POST
      response:
        body: '{"id":"cr0111oq3i6WL7TxN1d8","label":"testAcc_1184418844","isCloneable":false,"description":"testing, testing","created":"2026-07-07T13:51:56.000Z","lastUpdated":"2026-07-07T13:51:56.000Z","_links":{"permissions":{"href":"https://classic-00-admin.dne-okta.com/api/v1/iam/roles/cr0111oq3i6WL7TxN1d8/permissions"},"self":{"href":"https://classic-00-admin.dne-okta.com/api/v1/iam/roles/cr0111oq3i6WL7TxN1d8"}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
            Link:
                - <https://classic-00-admin.dne-okta.com/api/v1/iam/roles/cr0111oq3i6WL7TxN1d8>; rel="self"
        status: 200 OK
        code: 200
        duration: 1.272285625s
    - id: 1
      request:
        host: classic-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/iam/roles/cr0111oq3i6WL7TxN1d8
        method: GET
      response:
        body: '{"id":"cr0111oq3i6WL7TxN1d8","label":"testAcc_1184418844","isCloneable":false,"description":"testing, testing","created":"2026-07-07T13:51:56.000Z","lastUpdated":"2026-07-07T13:51:56.000Z","_links":{"permissions":{"href":"https://classic-00-admin.dne-okta.com/api/v1/iam/roles/cr0111oq3i6WL7TxN1d8/permissions"},"self":{"href":"https://classic-00-admin.dne-okta.com/api/v1/iam/roles/cr0111oq3i6WL7TxN1d8"}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
            Link:
                - <https://classic-00-admin.dne-okta.com/api/v1/iam/roles/cr0111oq3i6WL7TxN1d8>; rel="self"
        status: 200 OK
        code: 200
        duration: 1.138203125s
[...]
