---
version: 2
interactions:
    - id: 0
      request:
        host: oie-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/identity-sources/0oaxc95befZNgrJl71d7/groups/GROUPEXT123456784C2IF
        method: GET
      response:
        body: '{"id":"00gxpcfhlydeMDXLS1d7","externalId":"GROUPEXT123456784C2IF","profile":{"displayName":"West Coast users-2","description":"All users West of The Rockies"}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.275894041s
[...]
