---
version: 2
interactions:
    - id: 0
      request:
        host: oie-00.dne-okta.com
        form:
            after:
                - ""
            limit:
                - "200"
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/iam/assignees/users?after=&limit=200
        method: GET
      response:
        body: '{"value":[{"id":"00usd50212GgyPvAS697","orn":"orn:okta:directory:00osd501x0KyUtOul697:users:00usd50212GgyPvAS697","_links":{"roles":{"href":"https://oie-00.dne-okta.com/api/v1/users/00usd50212GgyPvAS697/roles"},"self":{"href":"https://oie-00.dne-okta.com/api/v1/users/00usd50212GgyPvAS697"}}}]}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 853.0575ms
[...]
