---
version: 2
interactions:
    - id: 0
      request:
        host: oie-00.dne-okta.com
        body: |
            {"associated":{"description":"two_a","name":"testAcc_2938481537_two_a","title":"two_a","type":"USER"},"primary":{"description":"two","name":"testAcc_2938481537_two","title":"two","type":"USER"}}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://oie-00.dne-okta.com/api/v1/meta/schemas/user/linkedObjects
        method: POST
      response:
        body: '{"primary":{"name":"testAcc_2938481537_two","title":"two","description":"two","type":"USER"},"associated":{"name":"testAcc_2938481537_two_a","title":"two_a","description":"two_a","type":"USER"},"_links":{"self":{"href":"https://oie-00.oktapreview.com/api/v1/meta/schemas/user/linkedObjects/testAcc_2938481537_two"}}}'
        headers:
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 170.71416ms
[...]
    - id: 5
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/meta/schemas/user/linkedObjects/testAcc_2938481537_three
        method: GET
      response:
        body: '{"primary":{"name":"testAcc_2938481537_three","title":"three","description":"three","type":"USER"},"associated":{"name":"testAcc_2938481537_three_a","title":"three_a","description":"three_a","type":"USER"},"_links":{"self":{"href":"https://oie-00.oktapreview.com/api/v1/meta/schemas/user/linkedObjects/testAcc_2938481537_three"}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 64.31883ms
    - id: 6
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/meta/schemas/user/linkedObjects/testAcc_2938481537_five
        method: GET
      response:
        body: '{"primary":{"name":"testAcc_2938481537_five","title":"five","description":"five","type":"USER"},"associated":{"name":"testAcc_2938481537_five_a","title":"five_a","description":"five_a","type":"USER"},"_links":{"self":{"href":"https://oie-00.oktapreview.com/api/v1/meta/schemas/user/linkedObjects/testAcc_2938481537_five"}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 66.090499ms
    - id: 7
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/meta/schemas/user/linkedObjects/testAcc_2938481537_one
        method: GET
      response:
        body: '{"primary":{"name":"testAcc_2938481537_one","title":"one","description":"one","type":"USER"},"associated":{"name":"testAcc_2938481537_one_a","title":"one_a","description":"one_a","type":"USER"},"_links":{"self":{"href":"https://oie-00.oktapreview.com/api/v1/meta/schemas/user/linkedObjects/testAcc_2938481537_one"}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 67.877909ms
    - id: 8
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/meta/schemas/user/linkedObjects/testAcc_2938481537_two
        method: GET
      response:
        body: '{"primary":{"name":"testAcc_2938481537_two","title":"two","description":"two","type":"USER"},"associated":{"name":"testAcc_2938481537_two_a","title":"two_a","description":"two_a","type":"USER"},"_links":{"self":{"href":"https://oie-00.oktapreview.com/api/v1/meta/schemas/user/linkedObjects/testAcc_2938481537_two"}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 69.631911ms
    - id: 9
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/meta/schemas/user/linkedObjects/testAcc_2938481537_four
        method: GET
      response:
        body: '{"primary":{"name":"testAcc_2938481537_four","title":"four","description":"four","type":"USER"},"associated":{"name":"testAcc_2938481537_four_a","title":"four_a","description":"four_a","type":"USER"},"_links":{"self":{"href":"https://oie-00.oktapreview.com/api/v1/meta/schemas/user/linkedObjects/testAcc_2938481537_four"}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 75.754392ms
[...]
    - id: 15
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/meta/schemas/user/linkedObjects/testAcc_2938481537_two
        method: GET
      response:
        body: '{"errorCode":"E0000007","errorSummary":"Not found: Resource not found: testAcc_2938481537_two (LinkedObjectProperty)","errorLink":"E0000007","errorId":"oaeNN9ztwm0Q7GDPnwqJNXqyg","errorCauses":[]}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 63.045016ms
[...]
