---
version: 2
interactions:
    - id: 0
      request:
        host: classic-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/governance/api/v2/requests/req104z0pt0RqpJ091d7
        method: GET
      response:
        body: '{"id":"req104z0pt0RqpJ091d7","createdBy":"00unkw1sfbTw08c0g1d7","created":"2025-08-06T11:55:27Z","lastUpdated":"2025-08-06T11:55:29Z","lastUpdatedBy":"00unkw1sfbTw08c0g1d7","_links":{"approvalCondition":{"href":"https://classic-00-admin.dne-okta.com/governance/api/v2/resources/0oaoor8pgctVxBTps1d7/request-conditions/rco1047yvylGKHRGF1d7","hints":{}},"approvalSequence":{"href":"https://classic-00.at.oktapreview.com/next/sequences/689240382cd0cac2c447a0a1","hints":{}},"self":{"href":"https://classic-00-admin.dne-okta.com/governance/api/v2/requests/req104z0pt0RqpJ091d7","hints":{}}},"status":"REJECTED","requestedBy":{"externalId":"00unkw1sfbTw08c0g1d7","type":"OKTA_USER"},"requestedFor":{"externalId":"00unkw1sfbTw08c0g1d7","type":"OKTA_USER"},"requested":{"entryId":"cen1049ihdUc4Uqz61d7","resourceId":"0oaoor8pgctVxBTps1d7","resourceType":"APPLICATION","accessScopeId":"0oaoor8pgctVxBTps1d7","accessScopeType":"APPLICATION"},"requesterFieldValues":[],"requestApproval":{"type":"EXTERNAL","providerName":"External","providerDescription":"External","externalRequestId":"N/A","decisions":[]},"riskAssessment":{"requestSubmissionType":"ALLOWED_WITH_NO_OVERRIDES","riskRules":[]}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 2.079065875s
[...]
