---
version: 2
interactions:
    - id: 0
      request:
        host: classic-00.dne-okta.com
        body: |
            {"id":"","name":"testAcc_514109925","status":"ACTIVE","settings":{"granularity":"LAT_LONG","maxEventsUsedForEvaluation":50,"radiusKilometers":20},"type":"ANOMALOUS_LOCATION"}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://classic-00.dne-okta.com/api/v1/behaviors
        method: POST
      response:
        body: '{"errorCode":"E0000015","errorSummary":"You do not have permission to access the feature you are requesting","errorLink":"E0000015","errorId":"oaeM_r1VPmNTBuMc1qmFrTU3A","errorCauses":[]}'
        headers:
            Content-Type:
                - application/json
        status: 401 Unauthorized
        code: 401
        duration: 150.264968ms
