---
version: 2
interactions:
    - id: 0
      request:
        host: oie-00.dne-okta.com
        body: |
            {"id":"","name":"testAcc_514109925","status":"ACTIVE","settings":{"granularity":"LAT_LONG","maxEventsUsedForEvaluation":50,"radiusKilometers":20},"type":"ANOMALOUS_LOCATION"}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://oie-00.dne-okta.com/api/v1/behaviors
        method: POST
      response:
        body: '{"id":"bhv9i74n8v3Zsjg311d7","name":"testAcc_514109925","status":"ACTIVE","settings":{"minEventsNeededForEvaluation":0,"maxEventsUsedForEvaluation":50,"granularity":"LAT_LONG","radiusKilometers":20.0},"type":"ANOMALOUS_LOCATION","created":"2023-08-15 23:41:50.0","lastUpdated":"2023-08-15 23:41:50.0","_links":{"self":{"href":"https://oie-00.oktapreview.com/api/v1/behaviors/bhv9i74n8v3Zsjg311d7","hints":{"allow":["GET","PUT","DELETE"]}},"deactivate":{"href":"https://oie-00.oktapreview.com/api/v1/behaviors/bhv9i74n8v3Zsjg311d7/lifecycle/deactivate","hints":{"allow":["POST"]}}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 354.605043ms
    - id: 1
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/behaviors/bhv9i74n8v3Zsjg311d7
        method: GET
      response:
        body: '{"id":"bhv9i74n8v3Zsjg311d7","name":"testAcc_514109925","status":"ACTIVE","settings":{"minEventsNeededForEvaluation":0,"maxEventsUsedForEvaluation":50,"granularity":"LAT_LONG","radiusKilometers":20.0},"type":"ANOMALOUS_LOCATION","created":"2023-08-15 23:41:50.0","lastUpdated":"2023-08-15 23:41:50.0","_links":{"self":{"href":"https://oie-00.oktapreview.com/api/v1/behaviors/bhv9i74n8v3Zsjg311d7","hints":{"allow":["GET","PUT","DELETE"]}},"deactivate":{"href":"https://oie-00.oktapreview.com/api/v1/behaviors/bhv9i74n8v3Zsjg311d7/lifecycle/deactivate","hints":{"allow":["POST"]}}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 62.64483ms
[...]
    - id: 9
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/behaviors/bhv9i74n8v3Zsjg311d7/lifecycle/deactivate
        method: POST
      response:
        body: '{"id":"bhv9i74n8v3Zsjg311d7","name":"testAcc_514109925_updated","status":"INACTIVE","settings":{"minEventsNeededForEvaluation":0,"maxEventsUsedForEvaluation":100,"granularity":"LAT_LONG","radiusKilometers":5.0},"type":"ANOMALOUS_LOCATION","created":"2023-08-15 23:41:50.0","lastUpdated":"2023-08-15 23:41:53.0","_links":{"activate":{"href":"https://oie-00.oktapreview.com/api/v1/behaviors/bhv9i74n8v3Zsjg311d7/lifecycle/activate","hints":{"allow":["POST"]}},"self":{"href":"https://oie-00.oktapreview.com/api/v1/behaviors/bhv9i74n8v3Zsjg311d7","hints":{"allow":["GET","PUT","DELETE"]}}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 187.60543ms
[...]
    - id: 13
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/behaviors/bhv9i74n8v3Zsjg311d7
        method: GET
      response:
        body: '{"errorCode":"E0000007","errorSummary":"Not found: Resource not found: bhv9i74n8v3Zsjg311d7 (BehaviorSettings)","errorLink":"E0000007","errorId":"oae6SgB8xc5SA-yiVxVyPS0kQ","errorCauses":[]}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 54.672779ms
