---
version: 2
interactions:
    - id: 0
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/.well-known/okta-organization
        method: GET
      response:
        body: '{"id":"00o5qwjvg8hg7YpT81d7","cell":"op3","_links":{"organization":{"href":"https://oie-00.oktapreview.com"}},"pipeline":"idx","settings":{"analyticsCollectionEnabled":false,"bugReportingEnabled":true,"omEnabled":false,"pssoEnabled":false,"desktopMFAEnabled":false,"itpEnabled":false,"op4wEnabled":true}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 216.300833ms
    - id: 1
      request:
        host: oie-00.dne-okta.com
        body: |
            {"actions":{"appSignOn":{"access":"ALLOW","verificationMethod":{"constraints":[{"knowledge":{"reauthenticateIn":"PT43800H","types":["password"],"required":false},"possession":{"required":false,"deviceBound":"REQUIRED"}}],"factorMode":"2FA","inactivityPeriod":"PT1H","reauthenticateIn":"PT43800H","type":"ASSURANCE"}}},"conditions":{"network":{"connection":"ANYWHERE"},"platform":{},"elCondition":{}},"name":"Require MFA_2208097017","priority":0,"type":"ACCESS_POLICY"}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://oie-00.dne-okta.com/api/v1/policies/rstk80b0ecxEGTJyh1d7/rules
        method: POST
      response:
        body: '{"id":"rulk806nv2tKFqHGl1d7","status":"ACTIVE","name":"Require MFA_2208097017","priority":0,"created":"2025-02-05T16:52:34.000Z","lastUpdated":"2025-02-05T16:52:34.000Z","system":false,"conditions":{"people":{"users":{"exclude":[]}},"network":{"connection":"ANYWHERE"},"riskScore":{"level":"ANY"},"userType":{"include":[],"exclude":[]}},"actions":{"appSignOn":{"access":"ALLOW","verificationMethod":{"factorMode":"2FA","type":"ASSURANCE","reauthenticateIn":"PT43800H","inactivityPeriod":"PT1H","constraints":[{"knowledge":{"required":false,"types":["password"],"reauthenticateIn":"PT43800H"},"possession":{"required":false,"deviceBound":"REQUIRED"}}]},"keepMeSignedIn":{"postAuth":"NOT_ALLOWED"}}},"_links":{"self":{"href":"https://oie-00.oktapreview.com/api/v1/policies/rstk80b0ecxEGTJyh1d7/rules/rulk806nv2tKFqHGl1d7","hints":{"allow":["GET","PUT","DELETE"]}},"deactivate":{"href":"https://oie-00.oktapreview.com/api/v1/policies/rstk80b0ecxEGTJyh1d7/rules/rulk806nv2tKFqHGl1d7/lifecycle/deactivate","hints":{"allow":["POST"]}}},"type":"ACCESS_POLICY"}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 148.434084ms
    - id: 2
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/policies/rstk80b0ecxEGTJyh1d7/rules/rulk806nv2tKFqHGl1d7
        method: GET
      response:
        body: '{"id":"rulk806nv2tKFqHGl1d7","status":"ACTIVE","name":"Require MFA_2208097017","priority":0,"created":"2025-02-05T16:52:34.000Z","lastUpdated":"2025-02-05T16:52:34.000Z","sy[...]
[...]
