---
version: 2
interactions:
    - id: 0
      request:
        host: oie-00.dne-okta.com
        body: |
            {"profile":{"name":"testAcc_494801305","description":"testing"}}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://oie-00.dne-okta.com/api/v1/groups
        method: POST
      response:
        body: '{"id":"00gkwqt7097wwnqLj1d7","created":"2025-03-13T23:28:24.000Z","lastUpdated":"2025-03-13T23:28:24.000Z","lastMembershipUpdated":"2025-03-13T23:28:24.000Z","objectClass":["okta:user_group"],"type":"OKTA_GROUP","profile":{"name":"testAcc_494801305","description":"testing"},"_links":{"logo":[{"name":"medium","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-medium.30ce6d4085dff29412984e4c191bc874.png","type":"image/png"},{"name":"large","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-large.c3cb8cda8ae0add1b4fe928f5844dbe3.png","type":"image/png"}],"users":{"href":"https://oie-00.dne-okta.com/api/v1/groups/00gkwqt7097wwnqLj1d7/users"},"apps":{"href":"https://oie-00.dne-okta.com/api/v1/groups/00gkwqt7097wwnqLj1d7/apps"}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 216.4005ms
    - id: 1
      request:
        host: oie-00.dne-okta.com
        body: |
            {"credentials":{"password":{}},"profile":{"email":"testAcc_494801305@example.com","firstName":"TestAcc","lastName":"blah","login":"testAcc_494801305@example.com","postalAddress":null}}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://oie-00.dne-okta.com/api/v1/users
        method: POST
      response:
        body: '{"id":"00ukwqzpth7DhDNiV1d7","status":"PROVISIONED","created":"2025-03-13T23:28:24.000Z","activated":"2025-03-13T23:28:24.000Z","statusChanged":"2025-03-13T23:28:24.000Z","lastLogin":null,"lastUpdated":"2025-03-13T23:28:24.000Z","passwordChanged":null,"type":{"id":"oty5qwjvh0Vy1j8Kd1d7"},"profile":{"firstName":"TestAcc","lastName":"blah","mobilePhone":null,"secondEmail":null,"login":"testAcc_494801305@example.com","email":"testAcc_494801305@example.com"},"credentials":{"provider":{"type":"OKTA","name":"OKTA"}},"_links":{"suspend":{"href":"https://oie-00.dne-okta.com/api/v1/users/00ukwqzpth7DhDNiV1d7/lifecycle/suspend","method":"POST"},"schema":{"href":"https://oie-00.dne-okta.com/api/v1/meta/schemas/user/osc5qwjvh0Vy1j8Kd1d7"},"resetPassword":{"href":"https://oie-00.dne-okta.com/api/v1/users/00ukwqzpth7DhDNiV1d7/lifecycle/reset_password","method":"POST"},"reactivate":{"href":"https://oie-00.dne-okta.com/api/v1/users/00ukwqzpth7DhDNiV1d7/lifecycle/reactivate","method":"POST"},"self":{"href":"https://oie-00.dne-okta.com/api/v1/users/00ukwqzpth7DhDNiV1d7"},"type":{"href":"https://oie-00.dne-okta.com/api/v1/meta/types/user/oty5qwjvh0Vy1j8Kd1d7"},"deactivate":{"href":"https://oie-00.dne-okta.com/api/v1/users/00ukwqzpth7DhDNiV1d7/lifecycle/deactivate","method":"POST"}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 314.009416ms
    - id: 2
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/groups/00gkwqt7097wwnqLj1d7
        method: GET
      response:
        body: '{"id":"00gkwqt7097wwnqLj1d7","created":"2025-03-13T23:28:24.000Z","lastUpdated":"2025-03-13T23:28:24.000Z","lastMembershipUpdated":"2025-03-13T23:28:24.000Z","objectClass":["okta:user_group"],"type":"OKTA_GROUP","profile":{"name":"testAcc_494801305","description":"testing"},"_links":{"logo":[{"name":"medium","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-medium.30ce6d4085dff29412984e4c191bc874.png","type":"image/png"},{"name":"large","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-large.c3cb8cda8ae0add1b4fe928f5844dbe3.png","type":"image/png"}],"users":{"href":"https://oie-00.dne-okta.com/api/v1/groups/00gkwqt7097wwnqLj1d7/users"},"apps":{"href":"https://oie-00.dne-okta.com/api/v1/groups/00gkwqt7097wwnqLj1d7/apps"}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 222.219875ms
    - id: 3
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/users/00ukwqzpth7DhDNiV1d7
        method: GET
      response:
        body: '{"id":"00ukwqzpth7DhDNiV1d7","status":"PROVISIONED","created":"2025-03-13T23:28:24.000Z","activated":"2025-03-13T23:28:24.000Z","statusChanged":"2025-03-13T23:28:24.000Z","lastLogin":null,"lastUpdated":"[...]
[...]
    - id: 5
      request:
        host: oie-00.dne-okta.com
        body: |
            {"credentials":{"userNameTemplate":{"template":"${source.login}","type":"BUILT_IN"},"userName":""},"accessibility":{"selfService":false},"label":"testAcc_494801305","name":"template_swa","settings":{"app":{"buttonField":"btn-login","passwordField":"txtbox-password","url":"https://example.com/login.html","usernameField":"txtbox-username"},"notes":{"admin":null,"enduser":null}},"signOnMode":"BROWSER_PLUGIN","visibility":{"autoSubmitToolbar":false,"hide":{"iOS":false,"web":false}}}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://oie-00.dne-okta.com/api/v1/apps?activate=true
        method: POST
      response:
        body: '{"id":"0oakwqsnl4hhLn0u21d7","orn":"orn:oktapreview:idp:00o5qwjvg8hg7YpT81d7:apps:template_swa:0oakwqsnl4hhLn0u21d7","name":"template_swa","label":"testAcc_494801305","status":"ACTIVE","lastUpdated":"2025-03-13T23:28:25.000Z","created":"2025-03-13T23:28:25.000Z","accessibility":{"selfService":false,"errorRedirectUrl":null,"loginRedirectUrl":null},"visibility":{"autoLaunch":false,"autoSubmitToolbar":false,"hide":{"iOS":false,"web":false},"appLinks":{"login":true}},"features":[],"signOnMode":"BROWSER_PLUGIN","credentials":{"scheme":"EDIT_USERNAME_AND_PASSWORD","userNameTemplate":{"template":"${source.login}","type":"BUILT_IN"},"revealPassword":false,"signing":{}},"settings":{"app":{"loginUrlRegex":null,"usernameField":"txtbox-username","redirectUrl":null,"buttonField":"btn-login","checkbox":null,"passwordField":"txtbox-password","url":"https://example.com/login.html"},"notifications":{"vpn":{"network":{"connection":"DISABLED"},"message":null,"helpUrl":null}},"manualProvisioning":false,"implicitAssignment":false,"notes":{"admin":null,"enduser":null}},"_links":{"uploadLogo":{"href":"https://oie-00.dne-okta.com/api/v1/apps/0oakwqsnl4hhLn0u21d7/logo","hints":{"allow":["POST"]}},"appLinks":[{"name":"login","href":"https://oie-00.dne-okta.com/home/template_swa/0oakwqsnl4hhLn0u21d7/2357","type":"text/html"}],"profileEnrollment":{"href":"https://oie-00.dne-okta.com/api/v1/policies/rst5qwjvlxUHivL8a1d7"},"policies":{"href":"https://oie-00.dne-okta.com/api/v1/apps/0oakwqsnl4hhLn0u21d7/policies","hints":{"allow":["PUT"]}},"groups":{"href":"https://oie-00.dne-okta.com/api/v1/apps/0oakwqsnl4hhLn0u21d7/groups"},"logo":[{"name":"medium","href":"https://op3static.oktacdn.com/fs/bcg/4/gfs1g3ksgnrQi3BSX1d8","type":"image/png"}],"accessPolicy":{"href":"https://oie-00.dne-okta.com/api/v1/policies/rst5qwjvlvS3G1WOU1d7"},"users":{"href":"https://oie-00.dne-okta.com/api/v1/apps/0oakwqsnl4hhLn0u21d7/users"},"deactivate":{"href":"https://oie-00.dne-okta.com/api/v1/apps/0oakwqsnl4hhLn0u21d7/lifecycle/deactivate"}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 984.793125ms
    - id: 6
      request:
        host: oie-00.dne-okta.com
        body: |
            {"type":"APP_ADMIN"}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://oie-00.dne-okta.com/api/v1/users/00ukwqzpth7DhDNiV1d7/roles?disableNotifications=false
        method: POST
      response:
        body: '{"id":"IFIFAX2BIRGUSTQ","label":"Application Administrator","type":"APP_ADMIN","status":"ACTIVE","created":"2025-03-13T23:28:25.000Z","lastUpdated":"2025-03-13T23:28:25.000Z","assignmentType":"USER","_links":{"assignee":{"href":"https://oie-00.dne-okta.com/api/v1/users/00ukwqzpth7DhDNiV1d7"}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 482.502583ms
    - id: 7
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/apps/0oakwqsnl4hhLn0u21d7
        method: GET
      response:
        body: '{"id":"0oakwqsnl4hhLn0u21d7","orn":"orn:oktapreview:idp:00o5qwjvg8hg7YpT81d7:apps:template_swa:0oakwqsnl4hhLn0u21d7","name":"template_swa","label":"testAcc_494801305","status":"ACTIVE","lastUpdated":"2025[...]
[...]
    - id: 9
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/users/00ukwqzpth7DhDNiV1d7/roles
        method: GET
      response:
        body: '[{"id":"IFIFAX2BIRGUSTQ","label":"Application Administrator","type":"APP_ADMIN","status":"ACTIVE","created":"2025-03-13T23:28:25.000Z","lastUpdated":"2025-03-13T23:28:25.000Z","assignmentType":"USER","_links":{"assignee":{"href":"https://oie-00.dne-okta.com/api/v1/users/00ukwqzpth7DhDNiV1d7"}}},{"id":"I5JE6VKQL5GUKTKCIVJFGSCJKBPUCRCNJFHA","label":"Group Membership Administrator","type":"GROUP_MEMBERSHIP_ADMIN","status":"ACTIVE","created":"2025-03-13T23:28:25.000Z","lastUpdated":"2025-03-13T23:28:25.000Z","assignmentType":"USER","_links":{"assignee":{"href":"https://oie-00.dne-okta.com/api/v1/users/00ukwqzpth7DhDNiV1d7"}}}]'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 218.177333ms
[...]
    - id: 11
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/users/00ukwqzpth7DhDNiV1d7/roles/IFIFAX2BIRGUSTQ/targets/catalog/apps/template_swa/0oakwqsnl4hhLn0u21d7
        method: PUT
      response:
        body: ""
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
        status: 204 No Content
        code: 204
        duration: 310.058291ms
    - id: 12
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/users/00ukwqzpth7DhDNiV1d7/roles/I5JE6VKQL5GUKTKCIVJFGSCJKBPUCRCNJFHA/targets/groups/00gkwqt7097wwnqLj1d7
        method: PUT
      response:
        body: ""
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
        status: 204 No Content
        code: 204
        duration: 342.380792ms
    - id: 13
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/users/00ukwqzpth7DhDNiV1d7/roles/IFIFAX2BIRGUSTQ
        method: GET
      response:
        body: '{"id":"IFIFAX2BIRGUSTQ","label":"Application Administrator","type":"APP_ADMIN","status":"ACTIVE","created":"2025-03-13T23:28:26.000Z","lastUpdated":"2025-03-13T23:28:26.000Z","assignmentType":"USER","_links":{"assignee":{"href":"https://oie-00.dne-okta.com/api/v1/users/00ukwqzpth7DhDNiV1d7"}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 232.829833ms
    - id: 14
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/users/00ukwqzpth7DhDNiV1d7/roles/I5JE6VKQL5GUKTKCIVJFGSCJKBPUCRCNJFHA
        method: GET
      response:
        body: '{"id":"I5JE6VKQL5GUKTKCIVJFGSCJKBPUCRCNJFHA","label":"Group Membership Administrator","type":"GROUP_MEMBERSHIP_ADMIN","status":"ACTIVE","created":"2025-03-13T23:28:26.000Z","lastUpdated":"2025-03-13T23:28:26.000Z","assignmentType":"USER","_links":{"assignee":{"href":"https://oie-00.dne-okta.com/api/v1/users/00ukwqzpth7DhDNiV1d7"}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 235.919584ms
    - id: 15
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/users/00ukwqzpth7DhDNiV1d7/roles/IFIFAX2BIRGUSTQ/targets/catalog/apps?limit=200
        method: GET
      response:
        body: '[{"name":"testAcc_494801305","status":"ACTIVE","id":"0oakwqsnl4hhLn0u21d7","_links":{"self":{"href":"https://oie-00.dne-okta.com/api/v1/apps/0oakwqsnl4hhLn0u21d7"}}}]'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
            Link:
                - <https://oie-00.dne-okta.com/api/v1/users/00ukwqzpth7DhDNiV1d7/roles/IFIFAX2BIRGUSTQ/targets/catalog/apps?after=PGEEWQhRUNVSxiKOtSphy1CtQ1&limit=20>; rel="self"
        status: 200 OK
        code: 200
        duration: 239.328333ms
    - id: 16
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/users/00ukwqzpth7DhDNiV1d7/roles/I5JE6VKQL5GUKTKCIVJFGSCJKBPUCRCNJFHA/targets/groups?limit=200
        method: GET
      response:
        body: '[{"id":"00gkwqt7097wwnqLj1d7","created":"2025-03-13T23:28:24.000Z","lastUpdated":"2025-03-13T23:28:24.000Z","lastMembershipUpdated":"2[...]
[...]
    - id: 38
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/groups/00gkwqybo1JUED4q51d7
        method: GET
      response:
        body: '{"id":"00gkwqybo1JUED4q51d7","created":"2025-03-13T23:28:30.000Z","lastUpdated":"2025-03-13T23:28:30.000Z","lastMembershipUpdated":"2025-03-13T23:28:30.000Z","objectClass":["okta:user_group"],"type":"OKTA_GROUP","profile":{"name":"testAcc_2_494801305","description":"testing, testing"},"_links":{"logo":[{"name":"medium","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-medium.30ce6d4085dff29412984e4c191bc874.png","type":"image/png"},{"name":"large","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-large.c3cb8cda8ae0add1b4fe928f5844dbe3.png","type":"image/png"}],"users":{"href":"https://oie-00.dne-okta.com/api/v1/groups/00gkwqybo1JUED4q51d7/users"},"apps":{"href":"https://oie-00.dne-okta.com/api/v1/groups/00gkwqybo1JUED4q51d7/apps"}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 228.493583ms
[...]
    - id: 41
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/users/00ukwqzpth7DhDNiV1d7/roles/IFIFAX2BIRGUSTQ/targets/catalog/apps/facebook
        method: PUT
      response:
        body: ""
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
        status: 204 No Content
        code: 204
        duration: 297.905416ms
[...]
    - id: 43
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/users/00ukwqzpth7DhDNiV1d7/roles/IFIFAX2BIRGUSTQ/targets/catalog/apps/oidc_client
        method: PUT
      response:
        body: ""
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
        status: 204 No Content
        code: 204
        duration: 330.626875ms
    - id: 44
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/users/00ukwqzpth7DhDNiV1d7/roles/I5JE6VKQL5GUKTKCIVJFGSCJKBPUCRCNJFHA/targets/groups/00gkwqybo1JUED4q51d7
        method: PUT
      response:
        body: ""
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
        status: 204 No Content
        code: 204
        duration: 268.9805ms
[...]
    - id: 49
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/users/00ukwqzpth7DhDNiV1d7/roles/IFIFAX2BIRGUSTQ/targets/catalog/apps?limit=200
        method: GET
      response:
        body: '[{"name":"oidc_client","displayName":"OpenID Connect Client","description":"OpenID Connect Client","status":"ACTIVE","lastUpdated":"2017-06-20T02:25:02.000Z","category":"OAUTH2","verificationStatus":"OKTA_VERIFIED","website":"http://openid.net/specs/openid-connect-core-1_0.html","signOnModes":["OPENID_CONNECT"],"features":["DEFAULT_PUSH_STATUS_TO_PUSH"],"_links":{"logo":[{"name":"medium","href":"https://op3static.oktacdn.com/assets/img/logos/default.6770228fb0dab49a1695ef440a5279bb.png","type":"image/png"}],"self":{"href":"https://oie-00.dne-okta.com/api/v1/catalog/apps/oidc_client"}}},{"name":"facebook","displayName":"Facebook","description":"Giving people the power to share and make the world more open and connected.","status":"ACTIVE","lastUpdated":"2021-03-18T17:37:56.000Z","category":"SOCIAL","verificationStatus":"OKTA_VERIFIED","website":"https://www.facebook.com/","signOnModes":["BROWSER_PLUGIN"],"_links":{"logo":[{"name":"medium","href":"https://op3static.oktacdn.com/fs/bcg/4/gfshpspesrHHFC4Ve1d6"}],"self":{"href":"https://oie-00.dne-okta.com/api/v1/catalog/apps/facebook"}}}]'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
            Link:
                - <https://oie-00.dne-okta.com/api/v1/users/00ukwqzpth7DhDNiV1d7/roles/IFIFAX2BIRGUSTQ/targets/catalog/apps?after=PGEljc3bkmAQsCpkwbm7zL49A1&limit=20>; rel="self"
        status: 200 OK
        code: 200
        duration: 265.377292ms
[...]
    - id: 59
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/apps/0oakwqsnl4hhLn0u21d7/lifecycle/deactivate
        method: POST
      response:
        body: '{}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 279.168125ms
[...]
    - id: 65
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/users/00ukwqzpth7DhDNiV1d7/roles/IFIFAX2BIRGUSTQ
        method: DELETE
      response:
        body: '{"errorCode":"E0000007","errorSummary":"Not found: Resource not found: IFIFAX2BIRGUSTQ (RoleAssignment)","errorLink":"E0000007","errorId":"oae3a_cAmcgTT2LyL-hAL_fVA","errorCauses":[]}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 591.85175ms
[...]
