---
version: 2
interactions:
    - id: 0
      request:
        host: classic-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/governance/api/v2/my/catalogs/default/entries/cen1043mnuxScMKl91d7/users/00uonmvbfznIufFS61d7/request-fields
        method: GET
      response:
        body: '{"data":[{"id":"ACCESS_DURATION","type":"DURATION","required":true,"value":"PT8H","maximumValue":"PT8H","readOnly":false}],"metadata":{"riskAssessment":{"requestSubmissionType":"ALLOWED_WITH_NO_OVERRIDES","riskRules":[]}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.272854208s
[...]
