---
version: 2
interactions:
    - id: 0
      request:
        host: oie-00.dne-okta.com
        body: |
            {"accessScopeSettings":{"type":"RESOURCE_DEFAULT"},"approvalSequenceId":"69251ae704a4d0a7fcdb870f","name":"priority-first","priority":1,"requesterSettings":{"type":"EVERYONE"}}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://oie-00.dne-okta.com/governance/api/v2/resources/0oasp3g29b1hqkcYE1d7/request-conditions
        method: POST
      response:
        body: '{"requesterSettings":{"type":"EVERYONE"},"accessScopeSettings":{"type":"RESOURCE_DEFAULT"},"approvalSequenceId":"69251ae704a4d0a7fcdb870f","name":"priority-first","id":"rco19790nwUD0YJBs1d7","createdBy":"00u5m6b6h6YuejsVW1d7","created":"2026-03-19T06:09:30Z","lastUpdated":"2026-03-19T06:09:30Z","lastUpdatedBy":"00u5m6b6h6YuejsVW1d7","_links":{"self":{"href":"https://oie-00-admin.dne-okta.com/governance/api/v2/resources/0oasp3g29b1hqkcYE1d7/request-conditions/rco19790nwUD0YJBs1d7","hints":{}}},"status":"INACTIVE","priority":0}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
            Location:
                - https://oie-00.dne-okta.com/governance/api/v2/resources/0oasp3g29b1hqkcYE1d7/request-conditions/rco19790nwUD0YJBs1d7
        status: 201 Created
        code: 201
        duration: 1.363355167s
[...]
    - id: 2
      request:
        host: oie-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/governance/api/v2/resources/0oasp3g29b1hqkcYE1d7/request-conditions/rco19790nwUD0YJBs1d7
        method: GET
      response:
        body: '{"requesterSettings":{"type":"EVERYONE"},"accessScopeSettings":{"type":"RESOURCE_DEFAULT"},"approvalSequenceId":"69251ae704a4d0a7fcdb870f","name":"priority-first","id":"rco19790nwUD0YJBs1d7","createdBy":"00u5m6b6h6YuejsVW1d7","created":"2026-03-19T06:09:30Z","lastUpdated":"2026-03-19T06:09:30Z","lastUpdatedBy":"00u5m6b6h6YuejsVW1d7","_links":{"self":{"href":"https://oie-00-admin.dne-okta.com/governance/api/v2/resources/0oasp3g29b1hqkcYE1d7/request-conditions/rco19790nwUD0YJBs1d7","hints":{}}},"status":"INACTIVE","priority":0}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 720.665042ms
    - id: 3
      request:
        host: oie-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/governance/api/v2/resources/0oasp3g29b1hqkcYE1d7/request-conditions/rco197a8eaYcl1MC61d7
        method: GET
      response:
        body: '{"requesterSettings":{"type":"EVERYONE"},"accessScopeSettings":{"type":"RESOURCE_DEFAULT"},"approvalSequenceId":"69251ae704a4d0a7fcdb870f","name":"priority-second","id":"rco197a8eaYcl1MC61d7","createdBy":"00u5m6b6h6YuejsVW1d7","created":"2026-03-19T06:09:31Z","lastUpdated":"2026-03-19T06:09:31Z","lastUpdatedBy":"00u5m6b6h6YuejsVW1d7","_links":{"self":{"href":"https://oie-00-admin.dne-okta.com/governance/api/v2/resources/0oasp3g29b1hqkcYE1d7/request-conditions/rco197a8eaYcl1MC61d7","hints":{}}},"status":"INACTIVE","priority":1}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 729.996292ms
[...]
