---
version: 2
interactions:
    - id: 0
      request:
        host: classic-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/principal-rate-limits/prlnpbzamkh0Z8xYo1d7
        method: GET
      response:
        body: '{"id":"prlnpbzamkh0Z8xYo1d7","orgId":"00onkw1sbuAh3Q06I1d7","principalId":"00T1cuuokxSImd8ST1d7","principalType":"SSWS_TOKEN","defaultPercentage":55,"defaultConcurrencyPercentage":85,"lastUpdate":"2025-09-25T14:46:06Z","lastUpdatedBy":"00unkw1sfbTw08c0g1d7","createdDate":"2025-07-01T08:14:57Z","createdBy":"00unkw1sfbTw08c0g1d7"}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.068398875s
[...]
