---
version: 2
interactions:
    - id: 0
      request:
        host: classic-00.dne-okta.com
        body: |
            {"accessScopeSettings":{"groups":[{"id":"00gouu5aq9Gq0JGLH1d7"}],"type":"GROUPS"},"approvalSequenceId":"68d224058c0cff364ca377e8","name":"issue-2510","priority":0,"requesterSettings":{"groups":[{"id":"00gqwtmv55uVcEBSi1d7"}],"type":"GROUPS"}}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://classic-00.dne-okta.com/governance/api/v2/resources/0oaqgxmg2n2FjHLzw1d7/request-conditions
        method: POST
      response:
        body: '{"requesterSettings":{"type":"GROUPS","groups":[{"id":"00gqwtmv55uVcEBSi1d7"}]},"accessScopeSettings":{"type":"GROUPS","groups":[{"id":"00gouu5aq9Gq0JGLH1d7"}]},"approvalSequenceId":"68d224058c0cff364ca377e8","name":"issue-2510","id":"rco12lq2otuPystzX1d7","createdBy":"00unkw1sfbTw08c0g1d7","created":"2025-10-12T21:11:00Z","lastUpdated":"2025-10-12T21:11:00Z","lastUpdatedBy":"00unkw1sfbTw08c0g1d7","_links":{"self":{"href":"https://classic-00-admin.dne-okta.com/governance/api/v2/resources/0oaqgxmg2n2FjHLzw1d7/request-conditions/rco12lq2otuPystzX1d7","hints":{}}},"status":"INACTIVE","priority":0}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
            Location:
                - https://dcp-testing-oig-2025-06-26-admin.oktapreview.com/governance/api/v2/resources/0oaqgxmg2n2FjHLzw1d7/request-conditions/rco12lq2otuPystzX1d7
        status: 201 Created
        code: 201
        duration: 2.498982125s
    - id: 1
      request:
        host: classic-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/governance/api/v2/resources/0oaqgxmg2n2FjHLzw1d7/request-conditions/rco12lq2otuPystzX1d7
        method: GET
      response:
        body: '{"requesterSettings":{"type":"GROUPS","groups":[{"id":"00gqwtmv55uVcEBSi1d7"}]},"accessScopeSettings":{"type":"GROUPS","groups":[{"id":"00gouu5aq9Gq0JGLH1d7"}]},"approvalSequenceId":"68d224058c0cff364ca377e8","name":"issue-2510","id":"rco12lq2otuPystzX1d7","createdBy":"00unkw1sfbTw08c0g1d7","created":"2025-10-12T21:11:00Z","lastUpdated":"2025-10-12T21:11:00Z","lastUpdatedBy":"00unkw1sfbTw08c0g1d7","_links":{"self":{"href":"https://classic-00-admin.dne-okta.com/governance/api/v2/resources/0oaqgxmg2n2FjHLzw1d7/request-conditions/rco12lq2otuPystzX1d7","hints":{}}},"status":"INACTIVE","priority":0}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.283624125s
[...]
