---
page_title: "{{.Type}}: {{.Name}}"
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Type}}: {{.Name}}

{{ .Description | trimspace }}

Assigns an access policy (colloquially known as a sign-on policy and/or an
authentication policy) to an application. This resource does not perform true
delete as it will not delete an application and the app's access policy can't be
removed; it can only be changed to a different access policy. This resource is
only logical within the context of an application therefore `app_id` is
immutable once set. Use this resource to manage assigning an access policy to an
application. It will assign the given `policy_id` to the application at creation
and during update.

-> Inside the product a sign-on policy is referenced as an _authentication
policy_, in the public API the policy is of type
[`ACCESS_POLICY`](https://developer.okta.com/docs/reference/api/policy/#policy-object).


{{ if .HasExample -}}

## Example Usage

{{ tffile .ExampleFile }}

{{- end }}

{{ .SchemaMarkdown | trimspace }}

{{ if .HasImport -}}

## Import

Import is supported using the following syntax:

{{ codefile "shell" .ImportFile }}

{{- end }}
