---
page_title: "{{.Type}}: {{.Name}}"
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Type}}: {{.Name}}

{{ .Description | trimspace }}

**IMPORTANT:** With `enum`, list its values as strings even though the `type`
may be something other than string. This is a limitation of the schema defintion
in the Terraform Plugin SDK runtime and we juggle the type correctly when making
Okta API calls. Same holds for the `const` value of `one_of` as well as the
`array_*` variation of `enum` and `one_of`.
{{ if .HasExample -}}

## Example Usage

{{ tffile .ExampleFile }}

{{- end }}

{{ .SchemaMarkdown | trimspace }}

{{ if .HasImport -}}

## Import

Import is supported using the following syntax:

{{ codefile "shell" .ImportFile }}

{{- end }}