---
version: 1
interactions:
- request:
    body: |
      {"definitions":{"custom":{"id":"#custom","properties":{"array123":{"items":{"type":"string"},"master":{"type":"PROFILE_MASTER"},"permissions":[{"action":"READ_ONLY","principal":"SELF"}],"required":false,"scope":"NONE","title":"terraform acceptance test","type":"array"}},"type":"object"}}}
    form: {}
    headers:
      Authorization:
      - SSWS REDACTED
      Content-Type:
      - application/json
    url: https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/meta/schemas/user/default
    method: POST
  response:
    body: '{"id":"https://tien-oie-tf-2022-09-21.oktapreview.com/meta/schemas/user/default","$schema":"http://json-schema.org/draft-04/schema#","name":"user","title":"User","description":"Okta
      user profile template with default permission settings","lastUpdated":"2023-01-11T20:03:37.000Z","created":"2022-09-21T17:21:14.000Z","definitions":{"custom":{"id":"#custom","type":"object","properties":{"array123":{"title":"terraform
      acceptance test","type":"array","mutability":"READ_WRITE","scope":"NONE","items":{"type":"string"},"permissions":[{"principal":"SELF","action":"READ_ONLY"}]}},"required":[]},"base":{"id":"#base","type":"object","properties":{"login":{"title":"Username","type":"string","required":true,"mutability":"READ_WRITE","scope":"NONE","minLength":5,"maxLength":100,"permissions":[{"principal":"SELF","action":"READ_WRITE"}]},"firstName":{"title":"First
      name","type":"string","required":true,"mutability":"READ_WRITE","scope":"NONE","minLength":1,"maxLength":50,"permissions":[{"principal":"SELF","action":"READ_WRITE"}]},"lastName":{"title":"Last
      name","type":"string","required":true,"mutability":"READ_WRITE","scope":"NONE","minLength":1,"maxLength":50,"permissions":[{"principal":"SELF","action":"READ_WRITE"}]},"middleName":{"title":"Middle
      name","type":"string","mutability":"READ_WRITE","scope":"NONE","permissions":[{"principal":"SELF","action":"READ_ONLY"}]},"honorificPrefix":{"title":"Honorific
      prefix","type":"string","mutability":"READ_WRITE","scope":"NONE","permissions":[{"principal":"SELF","action":"READ_ONLY"}]},"honorificSuffix":{"title":"Honorific
      suffix","type":"string","mutability":"READ_WRITE","scope":"NONE","permissions":[{"principal":"SELF","action":"READ_ONLY"}]},"email":{"title":"Primary
      email","type":"string","required":true,"format":"email","mutability":"READ_WRITE","scope":"NONE","permissions":[{"principal":"SELF","action":"READ_WRITE"}]},"title":{"title":"Title","type":"string","mutability":"READ_WRITE","scope":"NONE","permissions":[{"principal":"SELF","action":"READ_ONLY"}]},"displayName":{"title":"Display
      name","type":"string","mutability":"READ_WRITE","scope":"NONE","permissions":[{"principal":"SELF","action":"READ_ONLY"}]},"nickName":{"title":"Nickname","type":"string","mutability":"READ_WRITE","scope":"NONE","permissions":[{"principal":"SELF","action":"READ_ONLY"}]},"profileUrl":{"title":"Profile
      Url","type":"string","format":"uri","mutability":"READ_WRITE","scope":"NONE","permissions":[{"principal":"SELF","action":"READ_ONLY"}]},"secondEmail":{"title":"Secondary
      email","type":"string","format":"email","mutability":"READ_WRITE","scope":"NONE","permissions":[{"principal":"SELF","action":"READ_WRITE"}]},"mobilePhone":{"title":"Mobile
      phone","type":"string","mutability":"READ_WRITE","scope":"NONE","maxLength":100,"permissions":[{"principal":"SELF","action":"READ_WRITE"}]},"primaryPhone":{"title":"Primary
      phone","type":"string","mutability":"READ_WRITE","scope":"NONE","maxLength":100,"permissions":[{"principal":"SELF","action":"HIDE"}]},"streetAddress":{"title":"Street
      address","type":"string","mutability":"READ_WRITE","scope":"NONE","permissions":[{"principal":"SELF","action":"HIDE"}]},"city":{"title":"City","type":"string","mutability":"READ_WRITE","scope":"NONE","permissions":[{"principal":"SELF","action":"HIDE"}]},"state":{"title":"State","type":"string","mutability":"READ_WRITE","scope":"NONE","permissions":[{"principal":"SELF","action":"HIDE"}]},"zipCode":{"title":"Zip
      code","type":"string","mutability":"READ_WRITE","scope":"NONE","permissions":[{"principal":"SELF","action":"HIDE"}]},"countryCode":{"title":"Country
      code","type":"string","format":"country-code","mutability":"READ_WRITE","scope":"NONE","permissions":[{"principal":"SELF","action":"HIDE"}]},"postalAddress":{"title":"Postal
      Address","type":"string","mutability":"READ_WRITE","scope":"NONE","permissions":[{"principal":"SELF","action":"HIDE"}]},"preferredLanguage":{"title":"Preferred
      language","type":"string","format":"language-code","mutability":"READ_WRITE","scope":"NONE","permissions":[{"principal":"SELF","action":"READ_ONLY"}]},"locale":{"title":"Locale","type":"string","format":"locale","mutability":"READ_WRITE","scope":"NONE","permissions":[{"principal":"SELF","action":"READ_ONLY"}]},"timezone":{"title":"Time
      zone","type":"string","format":"timezone","mutability":"READ_WRITE","scope":"NONE","permissions":[{"principal":"SELF","action":"READ_ONLY"}]},"userType":{"title":"User
      type","type":"string","mutability":"READ_WRITE","scope":"NONE","permissions":[{"principal":"SELF","action":"READ_ONLY"}]},"employeeNumber":{"title":"Employee
      number","type":"string","mutability":"READ_WRITE","scope":"NONE","permissions":[{"principal":"SELF","action":"READ_ONLY"}]},"costCenter":{"title":"Cost
      center","type":"string","mutability":"READ_WRITE","scope":"NONE","permissions":[{"principal":"SELF","action":"READ_ONLY"}]},"organization":{"title":"Organization","type":"string","mutability":"READ_WRITE","scope":"NONE","permissions":[{"principal":"SELF","action":"READ_ONLY"}]},"division":{"title":"Division","type":"string","mutability":"READ_WRITE","scope":"NONE","permissions":[{"principal":"SELF","action":"READ_ONLY"}]},"department":{"title":"Department","type":"string","mutability":"READ_WRITE","scope":"NONE","permissions":[{"principal":"SELF","action":"READ_ONLY"}]},"managerId":{"title":"ManagerId","type":"string","mutability":"READ_WRITE","scope":"NONE","permissions":[{"principal":"SELF","action":"READ_ONLY"}]},"manager":{"title":"Manager","type":"string","mutability":"READ_WRITE","scope":"NONE","permissions":[{"principal":"SELF","action":"READ_ONLY"}]}},"required":["login","firstName","lastName","email"]}},"type":"object","properties":{"profile":{"allOf":[{"$ref":"#/definitions/custom"},{"$ref":"#/definitions/base"}]}},"_links":{"self":{"rel":"self","href":"https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/meta/schemas/user/osc5jjkl30LP1EYa11d7","method":"GET"},"type":{"rel":"type","href":"https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/meta/types/user/oty5jjkl30LP1EYa11d7","method":"GET"}}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: |
      {"definitions":{"custom":{"id":"#custom","properties":{"number123":{"master":{"type":"PROFILE_MASTER"},"permissions":[{"action":"READ_ONLY","principal":"SELF"}],"required":false,"scope":"NONE","title":"terraform acceptance test","type":"number"}},"type":"object"}}}
    form: {}
    headers:
      Authorization:
      - SSWS REDACTED
      Content-Type:
      - application/json
    url: https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/meta/schemas/user/default
    method: POST
  response:
    body: '{"id":"https://tien-oie-tf-2022-09-21.oktapreview.com/meta[...]
[...]
- request:
    body: |
      {"credentials":{"password":{}},"profile":{"array123":["test"],"email":"testAcc-534478790@example.com","firstName":"TestAcc","lastName":"Smith","login":"testAcc-534478790@example.com","number123":1,"postalAddress":null}}
    form: {}
    headers:
      Authorization:
      - SSWS REDACTED
      Content-Type:
      - application/json
    url: https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/users
    method: POST
  response:
    body: '{"id":"00u6m98u016zxhK6R1d7","status":"PROVISIONED","created":"2023-01-11T20:03:37.000Z","activated":"2023-01-11T20:03:38.000Z","statusChanged":"2023-01-11T20:03:38.000Z","lastLogin":null,"lastUpdated":"2023-01-11T20:03:38.000Z","passwordChanged":null,"type":{"id":"oty5jjkl30LP1EYa11d7"},"profile":{"firstName":"TestAcc","lastName":"Smith","mobilePhone":null,"array123":["test"],"secondEmail":null,"login":"testAcc-534478790@example.com","number123":1,"email":"testAcc-534478790@example.com"},"credentials":{"provider":{"type":"OKTA","name":"OKTA"}},"_links":{"suspend":{"href":"https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/users/00u6m98u016zxhK6R1d7/lifecycle/suspend","method":"POST"},"schema":{"href":"https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/meta/schemas/user/osc5jjkl30LP1EYa11d7"},"resetPassword":{"href":"https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/users/00u6m98u016zxhK6R1d7/lifecycle/reset_password","method":"POST"},"reactivate":{"href":"https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/users/00u6m98u016zxhK6R1d7/lifecycle/reactivate","method":"POST"},"self":{"href":"https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/users/00u6m98u016zxhK6R1d7"},"resetFactors":{"href":"https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/users/00u6m98u016zxhK6R1d7/lifecycle/reset_factors","method":"POST"},"type":{"href":"https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/meta/types/user/oty5jjkl30LP1EYa11d7"},"deactivate":{"href":"https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/users/00u6m98u016zxhK6R1d7/lifecycle/deactivate","method":"POST"}}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/users/00u6m98u016zxhK6R1d7
    method: GET
  response:
    body: '{"id":"00u6m98u016zxhK6R1d7","status":"PROVISIONED","created":"2023-01-11T20:03:37.000Z","activated":"2023-01-11T20:03:38.000Z","statusChanged":"2023-01-11T20:03:38.000Z","lastLogin":null,"lastUpdated":"2023-01-11T20:03:38.000Z","passwordChanged":null,"type":{"id":"oty5jjkl30LP[...]
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/users/00u6m98u016zxhK6R1d7/roles
    method: GET
  response:
    body: '[]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/users/00u6m96qq4ztTEcCJ1d7
    method: GET
  response:
    body: '{"id":"00u6m96qq4ztTEcCJ1d7","status":"PROVISIONED","created":"2023-01-11T20:03:41.000Z","activated":"2023-01-11T20:03:41.000Z","statusChanged":"2023-01-11T20:03:41.000Z","lastLogin":null,"lastUpdated":"2023-01-11T20:03:41.000Z","passwordChanged":null,"type":{"id":"oty5jjkl30LP[...]
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/users/00u6m96qq4ztTEcCJ1d7/roles
    method: GET
  response:
    body: '[]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/users?limit=1&search=profile.lastName+eq+%22Smith%22+and+profile.firstName+eq+%22TestAcc%22
    method: GET
  response:
    body: '[{"id":"00u6m98u016zxhK6R1d7","status":"PROVISIONED","created":"2023-01-11T20:03:37.000Z","activated":"2023-01-11T20:03:38.000Z","statusChanged":"2023-01-11T20:03:38.000Z","lastLogin":null,"lastUpdated":"2023-01-11T20:03:38.000Z","passwordChanged":null,"type":{"id":"oty5jjkl30LP1EYa11d7"},"profile":{"firstName":"TestAcc","lastName":"Smith","mobilePhone":null,"array123":["test"],"secondEmail":null,"login":"testAcc-534478790@example.com","number123":1,"email":"testAcc-534478790@example.com"},"credentials":{"provider":{"type":"OKTA","name":"OKTA"}},"_links":{"self":{"href":"https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/users/00u6m98u016zxhK6R1d7"}}}]'
    headers:
      Content-Type:
      - application/json
      Link:
      - <https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/users?limit=1&search=profile.lastName+eq+%22Smith%22+and+profile.firstName+eq+%22TestAcc%22>;
        rel="self"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/users/00u6m98u016zxhK6R1d7/groups
    method: GET
  response:
    body: '[{"id":"00g5jjkl2rE3qHk0F1d7","created":"2022-09-21T17:21:14.000Z","lastUpdated":"2022-09-21T17:21:14.000Z","lastMembershipUpdated":"2023-01-11T20:03:41.000Z","objectClass":["okta:user_group"],"type":"BUILT_IN","profile":{"name":"Everyone","description":"All
      users in your organization"},"_links":{"logo":[{"name":"medium","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-medium.1a5ebe44c4244fb796c235d86b47e3bb.png","type":"image/png"},{"name":"large","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-large.d9cfbd8a00a4feac1aa5612ba02e99c0.png","type":"image/png"}],"users":{"href":"https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/groups/00g5jjkl2rE3qHk0F1d7/users"},"apps":{"href":"https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/groups/00g5jjkl2rE3qHk0F1d7/apps"}}}]'
    headers:
      Content-Type:
      - application/json
      Link:
      - <https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/users/00u6m98u016zxhK6R1d7/groups?limit=200>;
        rel="self"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/users?limit=1&search=profile.array123+eq+%22feature%22+and+%28created+gt+%222021-01-01T00%3A00%3A00.000Z%22%29
    method: GET
  response:
    body: '[{"id":"00u6m96qq4ztTEcCJ1d7","status":"PROVISIONED","created":"2023-01-11T20:03:41.000Z","activated":"2023-01-11T20:03:41.000Z","statusChanged":"2023-01-11T20:03:41.000Z","lastLogin":null,"lastUpdated":"2023-01-11T20:03:41.000Z","passwordChanged":null,"type":{"id":"oty5jjkl30LP1EYa11d7"},"profile":{"firstName":"Some","lastName":"One","mobilePhone":null,"array123":["cool","feature"],"secondEmail":null,"login":"testAcc-someone-534478790@example.com","email":"testAcc-someone-534478790@example.com"},"credentials":{"provider":{"type":"OKTA","name":"OKTA"}},"_links":{"self":{"href":"https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/users/00u6m96qq4ztTEcCJ1d7"}}}]'
    headers:
      Content-Type:
      - application/json
      Link:
      - <https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/users?limit=1&search=profile.array123+eq+%22feature%22+and+%28created+gt+%222021-01-01T00%3A00%3A00.000Z%22%29>;
        rel="self"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/users?limit=1&search=profile.lastName+eq+%22Jones%22+or+profile.lastName+eq+%22One%22
    method: GET
  response:
    body: '[{"id":"00u6m96qq4ztTEcCJ1d7","status":"PROVISIONED","created":"2023-01-11T20:03:41.000Z","activated":"2023-01-11T20:03:41.000Z","statusChanged":"2023-01-11T20:03:41.000Z","lastLogin":null,"lastUpdated":"2023-01-11T20:03:41.000Z","passwordChanged":null,"type":{"id":"oty5jjkl30LP1EYa11d7"},"profile":{"firstName":"Some","lastName":"One","mobilePhone":null,"array123":["cool","feature"],"secondEmail":null,"login":"testAcc-someone-534478790@example.com","email":"testAcc-someone-534478790@example.com"},"credentials":{"provider":{"type":"OKTA","name":"OKTA"}},"_links":{"self":{"href":"https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/users/00u6m96qq4ztTEcCJ1d7"}}}]'
    headers:
      Content-Type:
      - application/json
      Link:
      - <https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/users?limit=1&search=profile.lastName+eq+%22Jones%22+or+profile.lastName+eq+%22One%22>;
        rel="self"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/users/00u6m96qq4ztTEcCJ1d7/groups
    method: GET
  response:
    body: '[{"id":"00g5jjkl2rE3qHk0F1d7","created":"2022-09-21T17:21:14.000Z","lastUpdated":"2022-09-21T17:21:14.000Z","lastMembershipUpdated":"2023-01-11T20:03:41.000Z","objectClass":["okta:user_group"],"type":"BUILT_IN","profile":{"name":"Everyone","description":"All
      users in your organization"},"_links":{"logo":[{"name":"medium","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-medium.1a5ebe44c4244fb796c235d86b47e3bb.png","type":"image/png"},{"name":"large","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-large.d9cfbd8a00a4feac1aa5612ba02e99c0.png","type":"image/png"}],"users":{"href":"https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/groups/00g5jjkl2rE3qHk0F1d7/users"},"apps":{"href":"https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/groups/00g5jjkl2rE3qHk0F1d7/apps"}}}]'
    headers:
      Content-Type:
      - application/json
      Link:
      - <https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/users/00u6m96qq4ztTEcCJ1d7/groups?limit=200>;
        rel="self"
    status: 200 OK
    code: 200
    duration: ""
[...]
