---
version: 2
interactions:
    - id: 0
      request:
        host: classic-00.dne-okta.com
        body: |
            {"credentials":{"password":{}},"profile":{"email":"testAcc-4166380299@example.com","firstName":"TestAcc","lastName":"Smith","login":"testAcc-4166380299@example.com","postalAddress":null}}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://classic-00.dne-okta.com/api/v1/users
        method: POST
      response:
        body: '{"id":"00u10eyk3ruR9Q3FF698","status":"PROVISIONED","created":"2026-02-24T03:31:33.000Z","activated":"2026-02-24T03:31:34.000Z","statusChanged":"2026-02-24T03:31:34.000Z","lastLogin":null,"lastUpdated":"2026-02-24T03:31:34.000Z","passwordChanged":null,"type":{"id":"otywz7gjtlOSqAfiX697"},"profile":{"firstName":"TestAcc","lastName":"Smith","mobilePhone":null,"secondEmail":null,"login":"testAcc-4166380299@example.com","email":"testAcc-4166380299@example.com"},"credentials":{"provider":{"type":"OKTA","name":"OKTA"}},"_links":{"suspend":{"href":"https://classic-00.dne-okta.com/api/v1/users/00u10eyk3ruR9Q3FF698/lifecycle/suspend","method":"POST"},"schema":{"href":"https://classic-00.dne-okta.com/api/v1/meta/schemas/user/oscwz7gjtlOSqAfiX697"},"resetPassword":{"href":"https://classic-00.dne-okta.com/api/v1/users/00u10eyk3ruR9Q3FF698/lifecycle/reset_password","method":"POST"},"reactivate":{"href":"https://classic-00.dne-okta.com/api/v1/users/00u10eyk3ruR9Q3FF698/lifecycle/reactivate","method":"POST"},"self":{"href":"https://classic-00.dne-okta.com/api/v1/users/00u10eyk3ruR9Q3FF698"},"resetFactors":{"href":"https://classic-00.dne-okta.com/api/v1/users/00u10eyk3ruR9Q3FF698/lifecycle/reset_factors","method":"POST"},"type":{"href":"https://classic-00.dne-okta.com/api/v1/meta/types/user/otywz7gjtlOSqAfiX697"},"deactivate":{"href":"https://classic-00.dne-okta.com/api/v1/users/00u10eyk3ruR9Q3FF698/lifecycle/deactivate","method":"POST"}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 364.758709ms
    - id: 1
      request:
        host: classic-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/users/00u10eyk3ruR9Q3FF698
        method: GET
      response:
        body: '{"id":"00u10eyk3ruR9Q3FF698","status":"PROVISIONED","created":"2026-02-24T03:31:33.000Z","activated":"2026-02-24T03:31:34.000Z","statusChanged":"2026-02-24T03:31:34.000Z","lastLogin":null,"lastUpdated":"2026-02-24T03:31:34.000Z",[...]
[...]
    - id: 4
      request:
        host: classic-00.dne-okta.com
        body: |
            {"description":"A contractor user type","displayName":"Contractor","name":"testAcc_4166380299"}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://classic-00.dne-okta.com/api/v1/meta/types/user
        method: POST
      response:
        body: '{"id":"oty10eym26yZsIX1Y698","displayName":"Contractor","name":"testAcc_4166380299","description":"A contractor user type","createdBy":"00uwz7pcarJOkK3mn697","lastUpdatedBy":"00uwz7pcarJOkK3mn697","created":"2026-02-24T03:31:36.000Z","lastUpdated":"2026-02-24T03:31:36.000Z","default":false,"_links":{"schema":{"rel":"schema","href":"https://classic-00.dne-okta.com/api/v1/meta/schemas/user/osc10eym26yZsIX1Y698","method":"GET"},"self":{"rel":"self","href":"https://classic-00.dne-okta.com/api/v1/meta/types/user/oty10eym26yZsIX1Y698","method":"GET"}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 175.414041ms
    - id: 5
      request:
        host: classic-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/meta/types/user/oty10eym26yZsIX1Y698
        method: GET
      response:
        body: '{"id":"oty10eym26yZsIX1Y698","displayName":"Contractor","name":"testAcc_4166380299","description":"A contractor user type","createdBy":"00uwz7pcarJOkK3mn697","lastUpdatedBy":"00uwz7pcarJOkK3mn697","created":"2026-02-24T03:31:36.000Z","lastUpdated":"2026-02-24T03:31:36.000Z","default":false,"_links":{"schema":{"rel":"schema","href":"https://classic-00.dne-okta.com/api/v1/meta/schemas/user/osc10eym26yZsIX1Y698","method":"GET"},"self":{"rel":"self","href":"https://classic-00.dne-okta.com/api/v1/meta/types/user/oty10eym26yZsIX1Y698","method":"GET"}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 150.273208ms
[...]
