---
version: 2
interactions:
    - id: 0
      request:
        host: oie-00.dne-okta.com
        body: |
            {"credentials":{"password":{}},"profile":{"email":"testAcc-4166380299@example.com","firstName":"TestAcc","lastName":"Smith","login":"testAcc-4166380299@example.com","postalAddress":null}}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://oie-00.dne-okta.com/api/v1/users
        method: POST
      response:
        body: '{"id":"00u10eyk0mrgvhFCO698","status":"PROVISIONED","created":"2026-02-24T03:30:08.000Z","activated":"2026-02-24T03:30:08.000Z","statusChanged":"2026-02-24T03:30:08.000Z","lastLogin":null,"lastUpdated":"2026-02-24T03:30:08.000Z","passwordChanged":null,"type":{"id":"otywz7gjtlOSqAfiX697"},"profile":{"firstName":"TestAcc","lastName":"Smith","mobilePhone":null,"secondEmail":null,"login":"testAcc-4166380299@example.com","email":"testAcc-4166380299@example.com"},"credentials":{"provider":{"type":"OKTA","name":"OKTA"}},"_links":{"suspend":{"href":"https://oie-00.dne-okta.com/api/v1/users/00u10eyk0mrgvhFCO698/lifecycle/suspend","method":"POST"},"schema":{"href":"https://oie-00.dne-okta.com/api/v1/meta/schemas/user/oscwz7gjtlOSqAfiX697"},"resetPassword":{"href":"https://oie-00.dne-okta.com/api/v1/users/00u10eyk0mrgvhFCO698/lifecycle/reset_password","method":"POST"},"reactivate":{"href":"https://oie-00.dne-okta.com/api/v1/users/00u10eyk0mrgvhFCO698/lifecycle/reactivate","method":"POST"},"self":{"href":"https://oie-00.dne-okta.com/api/v1/users/00u10eyk0mrgvhFCO698"},"resetFactors":{"href":"https://oie-00.dne-okta.com/api/v1/users/00u10eyk0mrgvhFCO698/lifecycle/reset_factors","method":"POST"},"type":{"href":"https://oie-00.dne-okta.com/api/v1/meta/types/user/otywz7gjtlOSqAfiX697"},"deactivate":{"href":"https://oie-00.dne-okta.com/api/v1/users/00u10eyk0mrgvhFCO698/lifecycle/deactivate","method":"POST"}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 329.39575ms
    - id: 1
      request:
        host: oie-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/users/00u10eyk0mrgvhFCO698
        method: GET
      response:
        body: '{"id":"00u10eyk0mrgvhFCO698","status":"PROVISIONED","created":"2026-02-24T03:30:08.000Z","activated":"2026-02-24T03:30:08.000Z","statusChanged":"2026-02-24T03:30:08.000Z","lastLogin":null,"lastUpdated":"2026-02-24T03:30:08.000Z","passwor[...]
[...]
    - id: 4
      request:
        host: oie-00.dne-okta.com
        body: |
            {"description":"A contractor user type","displayName":"Contractor","name":"testAcc_4166380299"}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://oie-00.dne-okta.com/api/v1/meta/types/user
        method: POST
      response:
        body: '{"id":"oty10eye2ctyFKAYN698","displayName":"Contractor","name":"testAcc_4166380299","description":"A contractor user type","createdBy":"00uwz7pcarJOkK3mn697","lastUpdatedBy":"00uwz7pcarJOkK3mn697","created":"2026-02-24T03:30:10.000Z","lastUpdated":"2026-02-24T03:30:10.000Z","default":false,"_links":{"schema":{"rel":"schema","href":"https://oie-00.dne-okta.com/api/v1/meta/schemas/user/osc10eye2ctyFKAYN698","method":"GET"},"self":{"rel":"self","href":"https://oie-00.dne-okta.com/api/v1/meta/types/user/oty10eye2ctyFKAYN698","method":"GET"}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 152.948791ms
    - id: 5
      request:
        host: oie-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/meta/types/user/oty10eye2ctyFKAYN698
        method: GET
      response:
        body: '{"id":"oty10eye2ctyFKAYN698","displayName":"Contractor","name":"testAcc_4166380299","description":"A contractor user type","createdBy":"00uwz7pcarJOkK3mn697","lastUpdatedBy":"00uwz7pcarJOkK3mn697","created":"2026-02-24T03:30:10.000Z","lastUpdated":"2026-02-24T03:30:10.000Z","default":false,"_links":{"schema":{"rel":"schema","href":"https://oie-00.dne-okta.com/api/v1/meta/schemas/user/osc10eye2ctyFKAYN698","method":"GET"},"self":{"rel":"self","href":"https://oie-00.dne-okta.com/api/v1/meta/types/user/oty10eye2ctyFKAYN698","method":"GET"}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 152.233833ms
[...]
