---
version: 2
interactions:
    - id: 0
      request:
        host: mm-oie-2022-10-07-max.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/authorizationServers/default
        method: GET
      response:
        body: '{"id":"aus5ysislgkVBE0FS1d7","name":"default","description":"Default Authorization Server for your Applications","audiences":["api://default"],"issuer":"https://mm-oie-2022-10-07-max.oktapreview.com/oauth2/default","issuerMode":"ORG_URL","status":"ACTIVE","created":"2022-10-27T23:16:36.000Z","lastUpdated":"2023-07-27T19:48:02.000Z","credentials":{"signing":{"kid":"DlsWsSo9vNSFB7niq4OOdNUy7boDHQsY-Pb0Q1h80bo","rotationMode":"MANUAL","lastRotated":"2022-10-27T23:16:36.000Z"}},"default":true,"_links":{"rotateKey":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/authorizationServers/default/credentials/lifecycle/keyRotate","hints":{"allow":["POST"]}},"metadata":[{"name":"oauth-authorization-server","href":"https://mm-oie-2022-10-07-max.oktapreview.com/oauth2/default/.well-known/oauth-authorization-server","hints":{"allow":["GET"]}},{"name":"openid-configuration","href":"https://mm-oie-2022-10-07-max.oktapreview.com/oauth2/default/.well-known/openid-configuration","hints":{"allow":["GET"]}}],"keys":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/authorizationServers/default/credentials/keys","hints":{"allow":["GET"]}},"claims":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/authorizationServers/default/claims","hints":{"allow":["GET","POST"]}},"policies":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/authorizationServers/default/policies","hints":{"allow":["GET","POST"]}},"self":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/authorizationServers/default","hints":{"allow":["GET","DELETE","PUT"]}},"scopes":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/authorizationServers/default/scopes","hints":{"allow":["GET","POST"]}},"deactivate":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/authorizationServers/default/lifecycle/deactivate","hints":{"allow":["POST"]}}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 165.77197ms
    - id: 1
      request:
        host: mm-oie-2022-10-07-max.oktapreview.com
        body: |
            {"_links":{"claims":{"hints":{"allow":["GET","POST"]},"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/authorizationServers/default/claims"},"deactivate":{"hints":{"allow":["POST"]},"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/authorizationServers/default/lifecycle/deactivate"},"keys":{"hints":{"allow":["GET"]},"href":"https://mm-oie-2022-10-07-max.oktapreview.co[...]
[...]
