---
version: 2
interactions:
    - id: 0
      request:
        host: mm-classic-2022-10-04.oktapreview.com
        body: |
            {"credentials":{"password":{}},"profile":{"email":"testAcc-634720536@example.com","firstName":"TestAcc","lastName":"Smith","login":"testAcc-634720536@example.com","postalAddress":null}}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://mm-classic-2022-10-04.oktapreview.com/api/v1/users
        method: POST
      response:
        body: '{"id":"00u95v71drqpXBhSv1d7","status":"PROVISIONED","created":"2023-07-27T20:37:34.000Z","activated":"2023-07-27T20:37:35.000Z","statusChanged":"2023-07-27T20:37:35.000Z","lastLogin":null,"lastUpdated":"2023-07-27T20:37:35.000Z","passwordChanged":null,"type":{"id":"oty5ptm052JMcoADv1d7"},"profile":{"firstName":"TestAcc","lastName":"Smith","mobilePhone":null,"secondEmail":null,"login":"testAcc-634720536@example.com","email":"testAcc-634720536@example.com"},"credentials":{"provider":{"type":"OKTA","name":"OKTA"}},"_links":{"suspend":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/users/00u95v71drqpXBhSv1d7/lifecycle/suspend","method":"POST"},"schema":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/meta/schemas/user/osc5ptm052JMcoADv1d7"},"resetPassword":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/users/00u95v71drqpXBhSv1d7/lifecycle/reset_password","method":"POST"},"reactivate":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/users/00u95v71drqpXBhSv1d7/lifecycle/reactivate","method":"POST"},"self":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/users/00u95v71drqpXBhSv1d7"},"type":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/meta/types/user/oty5ptm052JMcoADv1d7"},"deactivate":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/users/00u95v71drqpXBhSv1d7/lifecycle/deactivate","method":"POST"}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 411.019315ms
    - id: 1
      request:
        host: mm-classic-2022-10-04.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-classic-2022-10-04.oktapreview.com/api/v1/users/00u95v71drqpXBhSv1d7
        method: GET
      response:
        body: '{"id":"00u95v71drqpXBhSv1d7","status":"PROVISIONED","created":"2023-07-27T20:37:34.000Z","activated":"2023-07-27T20:37:35.000Z","statusChanged":"2023-07-27T20:37:35.00[...]
[...]
    - id: 9
      request:
        host: mm-classic-2022-10-04.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-classic-2022-10-04.oktapreview.com/api/v1/users/00u95v71drqpXBhSv1d7
        method: GET
      response:
        body: '{"errorCode":"E0000007","errorSummary":"Not found: Resource not found: 00u95v71drqpXBhSv1d7 (User)","errorLink":"E0000007","errorId":"oaegI2e4y7_SWSD2a01tsdr-w","errorCauses":[]}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 56.538758ms
