---
version: 1
interactions:
- request:
    body: |
      {"credentials":{"password":{}},"profile":{"email":"testAcc-634720536@example.com","firstName":"TestAcc","lastName":"Smith","login":"testAcc-634720536@example.com","postalAddress":null}}
    form: {}
    headers:
      Authorization:
      - SSWS REDACTED
      Content-Type:
      - application/json
    url: https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/users
    method: POST
  response:
    body: '{"id":"00u6m9ggo30mKO9Iy1d7","status":"PROVISIONED","created":"2023-01-11T20:37:36.000Z","activated":"2023-01-11T20:37:36.000Z","statusChanged":"2023-01-11T20:37:36.000Z","lastLogin":null,"lastUpdated":"2023-01-11T20:37:36.000Z","passwordChanged":null,"type":{"id":"oty5jjkl30LP1EYa11d7"},"profile":{"firstName":"TestAcc","lastName":"Smith","mobilePhone":null,"secondEmail":null,"login":"testAcc-634720536@example.com","email":"testAcc-634720536@example.com"},"credentials":{"provider":{"type":"OKTA","name":"OKTA"}},"_links":{"suspend":{"href":"https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/users/00u6m9ggo30mKO9Iy1d7/lifecycle/suspend","method":"POST"},"schema":{"href":"https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/meta/schemas/user/osc5jjkl30LP1EYa11d7"},"resetPassword":{"href":"https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/users/00u6m9ggo30mKO9Iy1d7/lifecycle/reset_password","method":"POST"},"reactivate":{"href":"https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/users/00u6m9ggo30mKO9Iy1d7/lifecycle/reactivate","method":"POST"},"self":{"href":"https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/users/00u6m9ggo30mKO9Iy1d7"},"resetFactors":{"href":"https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/users/00u6m9ggo30mKO9Iy1d7/lifecycle/reset_factors","method":"POST"},"type":{"href":"https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/meta/types/user/oty5jjkl30LP1EYa11d7"},"deactivate":{"href":"https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/users/00u6m9ggo30mKO9Iy1d7/lifecycle/deactivate","method":"POST"}}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/users/00u6m9ggo30mKO9Iy1d7
    method: GET
  response:
    body: '{"id":"00u6m9ggo30mKO9Iy1d7","status":"PROVISIONED","created":"2023-01-11T20:37:36.000Z","activated":"2023-01-11T20:37:36.000Z","statusChanged":"2023-01-11T20:37:36.000Z","lastLogin":null,"lastUpdated":"2023-01-11T20:37:36.000Z","passwordChanged":null,"type":{"id":"oty5jjkl30LP[...]
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/users/00u6m9ggo30mKO9Iy1d7/roles
    method: GET
  response:
    body: '[]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
