---
version: 2
interactions:
    - id: 0
      request:
        host: realm-assignment-support.dne-okta.com
        body: |
            {"profile":{"name":"TestAcc Example Assignment Realm","realmType":"DEFAULT"}}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://realm-assignment-support.dne-okta.com/api/v1/realms
        method: POST
      response:
        body: '{"id":"guotyzlyesOZHzwjS697","created":"2025-08-07T11:09:44.000Z","lastUpdated":"2025-08-07T11:09:44.000Z","profile":{"name":"TestAcc Example Assignment Realm","realmType":"DEFAULT","domains":[]},"isDefault":false,"_links":{"self":{"rel":"self","href":"https://realm-assignment-support.dne-okta.com/api/v1/realms/guotyzlyesOZHzwjS697","method":"GET"}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.0279185s
    - id: 1
      request:
        host: realm-assignment-support.dne-okta.com
        body: |
            {"x5c":["MIIDnjCCAoagAwIBAgIGAVG3MN+PMA0GCSqGSIb3DQEBBQUAMIGPMQswCQYDVQQGEwJVUzETMBEGA1UECAwKQ2FsaWZvcm5p\nYTEWMBQGA1UEBwwNU2FuIEZyYW5jaXNjbzENMAsGA1UECgwET2t0YTEUMBIGA1UECwwLU1NPUHJvdmlkZXIxEDAOBgNVBAMM\nB2V4YW1wbGUxHDAaBgkqhkiG9w0BCQEWDWluZm9Ab2t0YS5jb20wHhcNMTUxMjE4MjIyMjMyWhcNMjUxMjE4MjIyMzMyWjCB\njzELMAkGA1UEBhMCVVMxEzARBgNVBAgMCkNhbGlmb3JuaWExFjAUBgNVBAcMDVNhbiBGcmFuY2lzY28xDTALBgNVBAoMBE9r\ndGExFDASBgNVBAsMC1NTT1Byb3ZpZGVyMRAwDgYDVQQDDAdleGFtcGxlMRwwGgYJKoZIhvcNAQkBFg1pbmZvQG9rdGEuY29t\nMIIBIjAN[...]
    - id: 2
      request:
        host: realm-assignment-support.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://realm-assignment-support.dne-okta.com/api/v1/idps/credentials/keys/30f936a2-5f82-4c41-b01e-72ba664c2d38
        method: GET
      response:
        body: '{"kty":"RSA","created":"2025-08-07T11:09:44.000Z","lastUpdated":"2025-08-07T11:09:44.000Z","expiresAt":"2025-12-18T22:23:32.000Z","alg":"RSA","kid":"30f936a2-5f82-4c41-b01e-72ba664c2d38","use":"sig","x5c":["MIIDnjCCAoagAwIBAgIGAVG3MN+PMA0GCSqGSIb3DQEBBQUAMIGPMQswCQYDVQQGEwJVUzETMBEGA1UECAwKQ2FsaWZvcm5p\nYTEWMBQGA1UEBwwNU2FuIEZyYW5jaXNjbzENMAsGA1UECgwET2t0YTEUMBIGA1UECwwLU1NPUHJvdmlkZXIxEDAOBgNVBAMM\nB2V4YW1wbGUxHDAaBgkqhkiG9w0BCQEWDWluZm9Ab2t0YS5jb20wHhcNMTUxMjE4MjIyMjMyWhcNMjUxMjE4MjIyMzMyWjCB\njzELMAkGA1UEBhMCVVMxEzARBgNVBAgMCkNhbGlmb3JuaWExFjAUBgNVBAcMDVNhbiBGcmFuY2lzY28xDTALBgNVBAoMBE9r\ndGExFDASBgNVBAsMC1NTT1Byb3ZpZGVyMRAwDgYDVQQDDAdleGFtcGxlMRwwGgYJKoZIhvcNAQkBFg1pbmZvQG9rdGEuY2[...]
    - id: 3
      request:
        host: realm-assignment-support.dne-okta.com
        body: |
            {"issuerMode":"ORG_URL","name":"testAcc_3642663388","policy":{"accountLink":{"action":"AUTO"},"maxClockSkew":0,"provisioning":{"action":"AUTO","conditions":{"deprovisioned":{"action":"NONE"},"suspended":{"action":"NONE"}},"groups":{"action":"NONE"},"profileMaster":true},"subject":{"matchType":"USERNAME","userNameTemplate":{"template":"idpuser.email"}}},"protocol":{"algorithms":{"request":{"signature":{"algorithm":"SHA-256","scope":"REQUEST"}},"response":{"signature":{"algorithm":"SHA-256","scope":"ANY"}}},"credentials":{"trust":{"issuer":"https://idp.example.com","kid":"30f936a2-5f82-4c41-b01e-72ba664c2d38"}},"endpoints":{"acs":{"binding":"HTTP-POST","type":"INSTANCE"},"sso":{"binding":"HTTP-POST","destination":"https://idp.example.com","url":"https://idp.example.com"}},"settings":{"nameFormat":"urn:oasis:names:tc:SAML:1.1:nameid-format:unspecified","honorPersistentNameId":false},"type":"SAML2"},"status":"ACTIVE","type":"SAML2"}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://realm-assignment-support.dne-okta.com/api/v1/idps
        method: POST
      response:
        body: '{"id":"0oatyzltzbfBHAZe6697","name":"testAcc_3642663388","status":"ACTIVE","created":"2025-08-07T11:09:46.000Z","lastUpdated":"2025-08-07T11:09:46.000Z","protocol":{"type":"SAML2","endpoints":{"sso":{"url":"https://idp.example.com","binding":"HTTP-POST","destination":"https://idp.example.com"},"acs":{"binding":"HTTP-POST","type":"INSTANCE"}},"algorithms":{"request":{"signature":{"algorithm":"SHA-256","scope":"REQUEST"}},"response":{"signature":{"algorithm":"SHA-256","scope":"ANY"}}},"settings":{"nameFormat":"urn:oasis:names:tc:SAML:1.1:nameid-format:unspecified","honorPersistentNameId":false},"credentials":{"trust":{"issuer":"https://idp.example.com","audience":"https://www.okta.com/saml2/service-provider/spsydujychpxrmgfnduo","kid":"30f936a2-5f82-4c41-b01e-72ba664c2d38","revocation":null,"revocationCacheLifetime":0},"signing":{"kid":"c0zEpT-05GxB3m9TXK28cwdeNE9smtjnfJKFiLqW1aE"}}},"policy":{"provisioning":{"action":"AUTO","profileMaster":true,"groups":{"action":"NONE"},"conditions":{"deprovisioned":{"action":"NONE"},"suspended":{"action":"NONE"}}},"accountLink":{"filter":null,"action":"AUTO"},"subject":{"userNameTemplate":{"template":"idpuser.email"},"filter":null,"matchType":"USERNAME","matchAttribute":null},"maxClockSkew":0,"trustClaims":false,"transformedUsernameMatchingEnabled":false},"type":"SAML2","_links":{"metadata":{"href":"https://realm-assignment-support.dne-okta.com/api/v1/idps/0oatyzltzbfBHAZe6697/metadata.xml","type":"application/xml","hints":{"allow":["GET"]}},"acs":{"href":"https://realm-assignment-support.dne-okta.com/sso/saml2/0oatyzltzbfBHAZe6697","type":"application/xml","hints":{"allow":["POST"]}},"users":{"href":"https://realm-assignment-support.dne-okta.com/api/v1/idps/0oatyzltzbfBHAZe6697/users","hints":{"allow":["GET"]}},"deactivate":{"href":"https://realm-assignment-support.dne-okta.com/api/v1/idps/0oatyzltzbfBHAZe6697/lifecycle/deactivate","hints":{"allow":["POST"]}}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.41594875s
    - id: 4
      request:
        host: realm-assignment-support.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://realm-assignment-support.dne-okta.com/api/v1/idps/0oatyzltzbfBHAZe6697
        method: GET
      response:
        body: '{"id":"0oatyzltzbfBHAZe6697","name":"testAcc_3642663388","status":"ACTIVE","created":"2025-08-07T11:09:46.000Z","lastUpdated":"2025-08-07T11:09:46.000Z","protocol":{"type":"SAML2","endpoints":{"sso":{"url":"https://idp.example.com","binding":"HTTP-POST","destination":"https://idp.example.com"},"acs":{"binding":"HTTP-POST","type":"INSTANCE"}},"algorithms":[...]
    - id: 5
      request:
        host: realm-assignment-support.dne-okta.com
        form:
            limit:
                - "200"
            sourceId:
                - 0oatyzltzbfBHAZe6697
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://realm-assignment-support.dne-okta.com/api/v1/mappings?limit=200&sourceId=0oatyzltzbfBHAZe6697
        method: GET
      response:
        body: '[{"id":"prmtyzltzmRntXEkI697","source":{"id":"0oatyzltzbfBHAZe6697","name":"saml_idp","type":"appuser","_links":{"self":{"href":"https://realm-assignment-support.dne-okta.com/api/v1/apps/0oatyzltzbfBHAZe6697"},"schema":{"href":"https://realm-assignment-support.dne-okta.com/api/v1/meta/schemas/apps/0oatyzltzbfBHAZe6697/default"}}},"target":{"id":"otynpeshnul1gz4lw697","name":"user","type":"user","_links":{"self":{"href":"https://realm-assignment-support.dne-okta.com/api/v1/meta/types/user/otynpeshnul1gz4lw697"},"schema":{"href":"https://realm-assignment-support.dne-okta.com/api/v1/meta/schemas/user/oscnpeshnul1gz4lw697"}}},"_links":{"self":{"href":"https://realm-assignment-support.dne-okta.com/api/v1/mappings/prmtyzltzmRntXEkI697"}}},{"id":"prmtyzltzxY0gfHsY697","source":{"id":"0oatyzltzbfBHAZe6697","name":"saml_idp","type":"appus[...]
    - id: 6
      request:
        host: realm-assignment-support.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://realm-assignment-support.dne-okta.com/api/v1/mappings/prmtyzltzmRntXEkI697
        method: GET
      response:
        body: '{"id":"prmtyzltzmRntXEkI697","source":{"id":"0oatyzltzbfBHAZe6697","name":"saml_idp","type":"appuser","_links":{"self":{"href":"https://realm-assignment-support.dne-okta.com/api/v1/apps/0oatyzltzbfBHAZe6697"},"schema":{"href":"https://realm-assignment-support.dne-okta.com/api/v1/meta/schemas/apps/0oatyzltzbfBHAZe6697/default"}}},"target":{"id":"otynpeshnul1gz4lw697","name":"user","type":"user","_links":{"self":{"href":"https://realm-assignment-support.dne-okta.com/api/v1/meta/types/user/otynpeshnul1gz4lw697"},"schema":{"href":"https://realm-assignment-support.dne-okta.com/api/v1/meta/schemas/user/oscnpeshnul1gz4lw697"}}},"properties":{"firstName":{"expression":"source.firstName","pushStatus":"PUSH"},"lastName":{"expression":"source.lastName","pushStatus":"PUSH"},"email":{"expression":"source.email","pushStatus":"PUSH"},"mobilePhone":{"expression":"source.mobilePhone","pushStatus":"PUSH"},"login":{"expression":"source.userName","pushStatus":"PUSH"}},"_links":{"self":{"href":"https://realm-assignment-support.dne-okta.com/api/v1/mappings/prmtyzltzmRntXEkI697"}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 774.114125ms
    - id: 7
      request:
        host: realm-assignment-support.dne-okta.com
        body: |
            {"actions":{"assignUserToRealm":{"realmId":"guotyzlyesOZHzwjS697"}},"conditions":{"expression":{"value":"user.profile.title==\"Foo\""},"profileSourceId":"0oatyzltzbfBHAZe6697"},"name":"TestAcc Example Two Realm Assignment","priority":0}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://realm-assignment-support.dne-okta.com/api/v1/realm-assignments
        method: POST
      response:
        body: '{"id":"rultyzmzad5uvmnaq697","status":"INACTIVE","name":"TestAcc Example Two Realm Assignment","created":"2025-08-07T11:09:50.000Z","lastUpdated":"2025-08-07T11:09:50.000Z","conditions":{"expression":{"value":"user.profile.title==\"Foo\""},"profileSourceId":"0oatyzltzbfBHAZe6697"},"actions":{"assignUserToRealm":{"realmId":"guotyzlyesOZHzwjS697"}},"priority":0,"_links":{"self":{"rel":"self","href":"https://realm-assignment-support.dne-okta.com/api/v1/realm-assignments/rultyzmzad5uvmnaq697","method":"GET"}},"isDefault":false}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.042752583s
[...]
    - id: 9
      request:
        host: realm-assignment-support.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://realm-assignment-support.dne-okta.com/api/v1/realm-assignments/rultyzm3pzgMAVPHP697/lifecycle/activate
        method: POST
      response:
        body: ""
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
        status: 204 No Content
        code: 204
        duration: 1.014843959s
    - id: 10
      request:
        host: realm-assignment-support.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://realm-assignment-support.dne-okta.com/api/v1/realms/guotyzlyesOZHzwjS697
        method: GET
      response:
        body: '{"id":"guotyzlyesOZHzwjS697","created":"2025-08-07T11:09:44.000Z","lastUpdated":"2025-08-07T11:09:44.000Z","profile":{"name":"TestAcc Example Assignment Realm","realmType":"DEFAULT","domains":[]},"isDefault":false,"_links":{"self":{"rel":"self","href":"https://realm-assignment-support.dne-okta.com/api/v1/realms/guotyzlyesOZHzwjS697","method":"GET"}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 817.706334ms
[...]
    - id: 15
      request:
        host: realm-assignment-support.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://realm-assignment-support.dne-okta.com/api/v1/realm-assignments/rultyzmzad5uvmnaq697
        method: GET
      response:
        body: '{"id":"rultyzmzad5uvmnaq697","status":"INACTIVE","name":"TestAcc Example Two Realm Assignment","created":"2025-08-07T11:09:50.000Z","lastUpdated":"2025-08-07T11:09:50.000Z","conditions":{"expression":{"value":"user.profile.title==\"Foo\""},"profileSourceId":"0oatyzltzbfBHAZe6697"},"actions":{"assignUserToRealm":{"realmId":"guotyzlyesOZHzwjS697"}},"priority":0,"_links":{"self":{"rel":"self","href":"https://realm-assignment-support.dne-okta.com/api/v1/realm-assignments/rultyzmzad5uvmnaq697","method":"GET"}},"isDefault":false}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 773.939709ms
    - id: 16
      request:
        host: realm-assignment-support.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://realm-assignment-support.dne-okta.com/api/v1/realm-assignments/rultyzm3pzgMAVPHP697
        method: GET
      response:
        body: '{"id":"rultyzm3pzgMAVPHP697","status":"ACTIVE","name":"TestAcc Example Realm Assignment","created":"2025-08-07T11:09:50.000Z","lastUpdated":"2025-08-07T11:09:50.000Z","conditions":{"expression":{"value":"user.profile.login.contains(\"@acctest.com\")"},"profileSourceId":"0oatyzltzbfBHAZe6697"},"actions":{"assignUserToRealm":{"realmId":"guotyzlyesOZHzwjS697"}},"priority":55,"_links":{"self":{"rel":"self","href":"https://realm-assignment-support.dne-okta.com/api/v1/realm-assignments/rultyzm3pzgMAVPHP697","method":"GET"}},"isDefault":false}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 777.785875ms
[...]
    - id: 24
      request:
        host: realm-assignment-support.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://realm-assignment-support.dne-okta.com/api/v1/realm-assignments/rultyzm3pzgMAVPHP697/lifecycle/deactivate
        method: POST
      response:
        body: ""
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
        status: 204 No Content
        code: 204
        duration: 758.977083ms
    - id: 25
      request:
        host: realm-assignment-support.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://realm-assignment-support.dne-okta.com/api/v1/realm-assignments/rultyzmzad5uvmnaq697/lifecycle/deactivate
        method: POST
      response:
        body: ""
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
        status: 204 No Content
        code: 204
        duration: 760.495542ms
[...]
    - id: 37
      request:
        host: realm-assignment-support.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://realm-assignment-support.dne-okta.com/api/v1/idps/0oatyzltzbfBHAZe6697/lifecycle/deactivate
        method: POST
      response:
        body: '{"id":"0oatyzltzbfBHAZe6697","name":"testAcc_3642663388","status":"INACTIVE","created":"2025-08-07T11:09:46.000Z","lastUpdated":"2025-08-07T11:10:09.000Z","protocol":{"type":"SAML2","endpoints":{"sso":{"url":"https://idp.example.com","binding":"HTTP-POST","destination":"https://idp.example.com"},"acs":{"binding":"HTTP-POST","type":"INSTANCE"}},"algorithms":{"request":{"signature":{"algorithm":"SHA-256","scope":"REQUEST"}},"response":{"signature":{"algorithm":"SHA-256","scope":"ANY"}}},"settings":{"nameFormat":"urn:oasis:names:tc:SAML:1.1:nameid-format:unspecified","honorPersistentNameId":false},"credentials":{"trust":{"issuer":"https://idp.example.com","audience":"https://www.okta.com/saml2/service-provider/spsydujychpxrmgfnduo","kid":"30f936a2-5f82-4c41-b01e-72ba664c2d38","revocation":null,"revocationCacheLifetime":0},"signing":{"kid":"c0zEpT-05GxB3m9TXK28cwdeNE9smtjnfJKFiLqW1aE"}}},"policy":{"provisioning":{"action":"AUTO","profileMaster":true,"groups":{"action":"NONE"},"conditions":{"deprovisioned":{"action":"NONE"},"suspended":{"action":"NONE"}}},"accountLink":{"filter":null,"action":"AUTO"},"subject":{"userNameTemplate":{"template":"idpuser.email"},"filter":null,"matchType":"USERNAME","matchAttribute":null},"maxClockSkew":0,"trustClaims":false,"transformedUsernameMatchingEnabled":false},"type":"SAML2","_links":{"metadata":{"href":"https://realm-assignment-support.dne-okta.com/api/v1/idps/0oatyzltzbfBHAZe6697/metadata.xml","type":"application/xml","hints":{"allow":["GET"]}},"acs":{"href":"https://realm-assignment-support.dne-okta.com/sso/saml2/0oatyzltzbfBHAZe6697","type":"application/xml","hints":{"allow":["POST"]}},"users":{"href":"https://realm-assignment-support.dne-okta.com/api/v1/idps/0oatyzltzbfBHAZe6697/users","hints":{"allow":["GET"]}},"activate":{"href":"https://realm-assignment-support.dne-okta.com/api/v1/idps/0oatyzltzbfBHAZe6697/lifecycle/activate","hints":{"allow":["POST"]}}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 801.002333ms
[...]
