---
version: 2
interactions:
    - id: 0
      request:
        host: oie-00.dne-okta.com
        body: |
            {"profile":{"name":"testAcc_891989555","description":"testing, testing"}}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://oie-00.dne-okta.com/api/v1/groups
        method: POST
      response:
        body: '{"id":"00ga1qjjdvAXzEt8I1d7","created":"2023-09-13T18:53:53.000Z","lastUpdated":"2023-09-13T18:53:53.000Z","lastMembershipUpdated":"2023-09-13T18:53:53.000Z","objectClass":["okta:user_group"],"type":"OKTA_GROUP","profile":{"name":"testAcc_891989555","description":"testing, testing"},"_links":{"logo":[{"name":"medium","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-medium.30ce6d4085dff29412984e4c191bc874.png","type":"image/png"},{"name":"large","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-large.c3cb8cda8ae0add1b4fe928f5844dbe3.png","type":"image/png"}],"users":{"href":"https://oie-00.oktapreview.com/api/v1/groups/00ga1qjjdvAXzEt8I1d7/users"},"apps":{"href":"https://oie-00.oktapreview.com/api/v1/groups/00ga1qjjdvAXzEt8I1d7/apps"}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 244.214249ms
    - id: 1
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/groups/00ga1qjjdvAXzEt8I1d7
        method: GET
      response:
        body: '{"id":"00ga1qjjdvAXzEt8I1d7","created":"2023-09-13T18:53:53.000Z","lastUpdated":"2023-09-13T18:53:53.000Z","lastMembershipUpdated":"2023-09-13T18:53:53.000Z","objectClass":["okta:user_group"],"type":"OKTA_GROUP","profile":{"name":"testAcc_891989555","description":"testing, testing"},"_links":{"logo":[{"name":"medium","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-medium.30ce6d4085dff29412984e4c191bc874.png","type":"image/png"},{"name":"large","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-large.c3cb8cda8ae0add1b4fe928f5844dbe3.png","type":"image/png"}],"users":{"href":"https://oie-00.oktapreview.com/api/v1/groups/00ga1qjjdvAXzEt8I1d7/users"},"apps":{"href":"https://oie-00.oktapreview.com/api/v1/groups/00ga1qjjdvAXzEt8I1d7/apps"}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 60.345281ms
[...]
    - id: 9
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/groups/00ga1qjjdvAXzEt8I1d7
        method: GET
      response:
        body: '{"errorCode":"E0000007","errorSummary":"Not found: Resource not found: 00ga1qjjdvAXzEt8I1d7 (UserGroup)","errorLink":"E0000007","errorId":"oaer9B3tv6VQ4mJCmOz9WMTbg","errorCauses":[]}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 68.270134ms
