---
version: 2
interactions:
    - id: 0
      request:
        host: mm-classic-2022-10-04.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-classic-2022-10-04.oktapreview.com/api/v1/groups?limit=1&q=Everyone
        method: GET
      response:
        body: '[{"id":"00g5ptm04tzNvyznP1d7","created":"2022-10-04T23:20:18.000Z","lastUpdated":"2022-10-04T23:20:18.000Z","lastMembershipUpdated":"2023-07-27T20:33:25.000Z","objectClass":["okta:user_group"],"type":"BUILT_IN","profile":{"name":"Everyone","description":"All users in your organization"},"_links":{"logo":[{"name":"medium","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-medium.30ce6d4085dff29412984e4c191bc874.png","type":"image/png"},{"name":"large","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-large.c3cb8cda8ae0add1b4fe928f5844dbe3.png","type":"image/png"}],"users":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/groups/00g5ptm04tzNvyznP1d7/users"},"apps":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/groups/00g5ptm04tzNvyznP1d7/apps"}}}]'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 141.756374ms
[...]
    - id: 2
      request:
        host: mm-classic-2022-10-04.oktapreview.com
        body: |
            {"conditions":{"people":{"groups":{"include":["00g5ptm04tzNvyznP1d7"]}}},"description":"Terraform Acceptance Test SignOn Policy","name":"testAcc_1372117108","status":"ACTIVE","type":"OKTA_SIGN_ON"}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://mm-classic-2022-10-04.oktapreview.com/api/v1/policies
        method: POST
      response:
        body: '{"id":"00p95v2pkxiQds2Gu1d7","status":"ACTIVE","name":"testAcc_1372117108","description":"Terraform Acceptance Test SignOn Policy","priority":1,"system":false,"conditions":{"people":{"groups":{"include":["00g5ptm04tzNvyznP1d7"]}}},"created":"2023-07-27T20:33:46.000Z","lastUpdated":"2023-07-27T20:33:46.000Z","_links":{"self":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/policies/00p95v2pkxiQds2Gu1d7","hints":{"allow":["GET","PUT","DELETE"]}},"rules":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/policies/00p95v2pkxiQds2Gu1d7/rules","hints":{"allow":["GET","POST"]}},"deactivate":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/policies/00p95v2pkxiQds2Gu1d7/lifecycle/deactivate","hints":{"allow":["POST"]}}},"type":"OKTA_SIGN_ON"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 177.912193ms
    - id: 3
      request:
        host: mm-classic-2022-10-04.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-classic-2022-10-04.oktapreview.com/api/v1/policies/00p95v2pkxiQds2Gu1d7/lifecycle/activate
        method: POST
      response:
        body: ""
        headers:
        status: 204 No Content
        code: 204
        duration: 99.799359ms
    - id: 4
      request:
        host: mm-classic-2022-10-04.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-classic-2022-10-04.oktapreview.com/api/v1/policies/00p95v2pkxiQds2Gu1d7
        method: GET
      response:
        body: '{"id":"00p95v2pkxiQds2Gu1d7","status":"ACTIVE","name":"testAcc_1372117108","description":"Terraform Acceptance Test SignOn Policy","priority":1,"system":false,"conditions":{"people":{"groups":{"include":["00g5ptm04tzNvyznP1d7"]}}},"created":"2023-07-27T20:33:46.000Z","lastUpdated":"2023-07-27T20:33:46.000Z","_links":{"self":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/policies/00p95v2pkxiQds2Gu1d7","hints":{"allow":["GET","PUT","DELETE"]}},"rules":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/policies/00p95v2pkxiQds2Gu1d7/rules","hints":{"allow":["GET","POST"]}},"deactivate":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/policies/00p95v2pkxiQds2Gu1d7/lifecycle/deactivate","hints":{"allow":["POST"]}}},"type":"OKTA_SIGN_ON"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 79.989083ms
    - id: 5
      request:
        host: mm-classic-2022-10-04.oktapreview.com
        body: |
            {"type":"SIGN_ON","name":"testAcc_1372117108","status":"ACTIVE","conditions":{"authContext":{"authType":"ANY"},"identityProvider":{"provider":"ANY"},"network":{"connection":"ANYWHERE"}},"actions":{"signon":{"access":"ALLOW","rememberDeviceByDefault":false,"requireFactor":false,"session":{"maxSessionIdleMinutes":120,"maxSessionLifetimeMinutes":120,"usePersistentCookie":false}}}}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://mm-classic-2022-10-04.oktapreview.com/api/v1/policies/00p95v2pkxiQds2Gu1d7/rules
        method: POST
      response:
        body: '{"id":"0pr95v7xgqeXpOYBD1d7","status":"ACTIVE","name":"testAcc_1372117108","priority":1,"created":"2023-07-27T20:33:47.000Z","lastUpdated":"2023-07-27T20:33:47.000Z","system":false,"conditions":{"people":{"users":{"exclude":[]}},"network":{"connection":"ANYWHERE"},"authContext":{"authType":"ANY"},"identityProvider":{"provider":"ANY"}},"actions":{"signon":{"access":"ALLOW","requireFactor":false,"primaryFactor":"PASSWORD_IDP","rememberDeviceByDefault":false,"session":{"usePersistentCookie":false,"maxSessionIdleMinutes":120,"maxSessionLifetimeMinutes":120}}},"_links":{"self":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/policies/00p95v2pkxiQds2Gu1d7/rules/0pr95v7xgqeXpOYBD1d7","hints":{"allow":["GET","PUT","DELETE"]}},"deactivate":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/policies/00p95v2pkxiQds2Gu1d7/rules/0pr95v7xgqeXpOYBD1d7/lifecycle/deactivate","hints":{"allow":["POST"]}}},"type":"SIGN_ON"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 165.166084ms
[...]
    - id: 7
      request:
        host: mm-classic-2022-10-04.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-classic-2022-10-04.oktapreview.com/api/v1/policies/00p95v2pkxiQds2Gu1d7/rules/0pr95v7xgqeXpOYBD1d7
        method: GET
      response:
        body: '{"id":"0pr95v7xgqeXpOYBD1d7","status":"ACTIVE","name":"testAcc_1372117108","priority":1,"created":null,"lastUpdated":null,"system":false,"conditions":{"people":{"users":{"exclude":[]}},"network":{"connection":"ANYWHERE"},"authContext":{"authType":"ANY"},"identityProvider":{"provider":"ANY"}},"actions":{"signon":{"access":"ALLOW","requireFactor":false,"primaryFactor":"PASSWORD_IDP","rememberDeviceByDefault":false,"session":{"usePersistentCookie":false,"maxSessionIdleMinutes":120,"maxSessionLifetimeMinutes":120}}},"_links":{"self":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/policies/00p95v2pkxiQds2Gu1d7/rules/0pr95v7xgqeXpOYBD1d7","hints":{"allow":["GET","PUT","DELETE"]}},"deactivate":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/policies/00p95v2pkxiQds2Gu1d7/rules/0pr95v7xgqeXpOYBD1d7/lifecycle/deactivate","hints":{"allow":["POST"]}}},"type":"SIGN_ON"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 92.225564ms
[...]
    - id: 20
      request:
        host: mm-classic-2022-10-04.oktapreview.com
        body: |
            {"gateways":[{"type":"CIDR","value":"34.82.0.0/15"}],"name":"testAcc_1372117108","status":"ACTIVE","type":"IP","usage":"POLICY"}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://mm-classic-2022-10-04.oktapreview.com/api/v1/zones
        method: POST
      response:
        body: '{"type":"IP","id":"nzo95v0t0qyMFOFwl1d7","name":"testAcc_1372117108","status":"ACTIVE","usage":"POLICY","created":"2023-07-27T20:33:50.000Z","lastUpdated":"2023-07-27T20:33:50.000Z","system":false,"gateways":[{"type":"CIDR","value":"34.82.0.0/15"}],"proxies":null,"_links":{"self":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/zones/nzo95v0t0qyMFOFwl1d7","hints":{"allow":["GET","PUT","DELETE"]}},"deactivate":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/zones/nzo95v0t0qyMFOFwl1d7/lifecycle/deactivate","hints":{"allow":["POST"]}}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 59.289109ms
[...]
    - id: 22
      request:
        host: mm-classic-2022-10-04.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-classic-2022-10-04.oktapreview.com/api/v1/zones/nzo95v0t0qyMFOFwl1d7
        method: GET
      response:
        body: '{"type":"IP","id":"nzo95v0t0qyMFOFwl1d7","name":"testAcc_1372117108","status":"ACTIVE","usage":"POLICY","created":"2023-07-27T20:33:50.000Z","lastUpdated":"2023-07-27T20:33:50.000Z","system":false,"gateways":[{"type":"CIDR","value":"34.82.0.0/15"}],"proxies":null,"_links":{"self":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/zones/nzo95v0t0qyMFOFwl1d7","hints":{"allow":["GET","PUT","DELETE"]}},"deactivate":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/zones/nzo95v0t0qyMFOFwl1d7/lifecycle/deactivate","hints":{"allow":["POST"]}}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 61.856082ms
[...]
    - id: 29
      request:
        host: mm-classic-2022-10-04.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-classic-2022-10-04.oktapreview.com/api/v1/policies/00p95v2pkxiQds2Gu1d7/rules/0pr95v5mfv5DfpRvU1d7
        method: GET
      response:
        body: '{"id":"0pr95v5mfv5DfpRvU1d7","status":"ACTIVE","name":"testAccAllow_1372117108","priority":1,"created":null,"lastUpdated":null,"system":false,"conditions":{"people":{"users":{"exclude":[]}},"network":{"connection":"ZONE","include":["nzo95v0t0qyMFOFwl1d7"]},"authContext":{"authType":"ANY"},"identityProvider":{"provider":"ANY"}},"actions":{"signon":{"access":"ALLOW","requireFactor":false,"primaryFactor":"PASSWORD_IDP","rememberDeviceByDefault":false,"session":{"usePersistentCookie":false,"maxSessionIdleMinutes":120,"maxSessionLifetimeMinutes":120}}},"_links":{"self":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/policies/00p95v2pkxiQds2Gu1d7/rules/0pr95v5mfv5DfpRvU1d7","hints":{"allow":["GET","PUT","DELETE"]}},"deactivate":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/policies/00p95v2pkxiQds2Gu1d7/rules/0pr95v5mfv5DfpRvU1d7/lifecycle/deactivate","hints":{"allow":["POST"]}}},"type":"SIGN_ON"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 83.257952ms
    - id: 30
      request:
        host: mm-classic-2022-10-04.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-classic-2022-10-04.oktapreview.com/api/v1/policies/00p95v2pkxiQds2Gu1d7/rules/0pr95v6vocIKJ89nd1d7
        method: GET
      response:
        body: '{"id":"0pr95v6vocIKJ89nd1d7","status":"ACTIVE","name":"testAccDeny_1372117108","priority":2,"created":null,"lastUpdated":null,"system":false,"conditions":{"people":{"users":{"exclude":[]}},"network":{"connection":"ZONE","exclude":["nzo95v0t0qyMFOFwl1d7"]},"authContext":{"authType":"ANY"},"identityProvider":{"provider":"ANY"}},"actions":{"signon":{"access":"DENY","requireFactor":false,"primaryFactor":"PASSWORD_IDP","rememberDeviceByDefault":false,"session":{"usePersistentCookie":false,"maxSessionIdleMinutes":120,"maxSessionLifetimeMinutes":120}}},"_links":{"self":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/policies/00p95v2pkxiQds2Gu1d7/rules/0pr95v6vocIKJ89nd1d7","hints":{"allow":["GET","PUT","DELETE"]}},"deactivate":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/policies/00p95v2pkxiQds2Gu1d7/rules/0pr95v6vocIKJ89nd1d7/lifecycle/deactivate","hints":{"allow":["POST"]}}},"type":"SIGN_ON"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 77.702094ms
[...]
    - id: 50
      request:
        host: mm-classic-2022-10-04.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-classic-2022-10-04.oktapreview.com/api/v1/policies/00p95v2pkxiQds2Gu1d7/rules/0pr95v5mfv5DfpRvU1d7
        method: GET
      response:
        body: '{"errorCode":"E0000007","errorSummary":"Not found: Resource not found: 00p95v2pkxiQds2Gu1d7 (Policy)","errorLink":"E0000007","errorId":"oaeixDYvCjnQvCo_lg6eiyH2w","errorCauses":[]}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 65.04485ms
[...]
