---
version: 2
interactions:
    - id: 0
      request:
        host: oie-00.dne-okta.com
        body: |
            {"profile":{"name":"testAcc-2107169499","description":"A Group"}}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://oie-00.dne-okta.com/api/v1/groups
        method: POST
      response:
        body: '{"id":"00gkwqslqyXobHBI01d7","created":"2025-03-13T23:26:11.000Z","lastUpdated":"2025-03-13T23:26:11.000Z","lastMembershipUpdated":"2025-03-13T23:26:11.000Z","objectClass":["okta:user_group"],"type":"OKTA_GROUP","profile":{"name":"testAcc-2107169499","description":"A Group"},"_links":{"logo":[{"name":"medium","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-medium.30ce6d4085dff29412984e4c191bc874.png","type":"image/png"},{"name":"large","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-large.c3cb8cda8ae0add1b4fe928f5844dbe3.png","type":"image/png"}],"users":{"href":"https://oie-00.dne-okta.com/api/v1/groups/00gkwqslqyXobHBI01d7/users"},"apps":{"href":"https://oie-00.dne-okta.com/api/v1/groups/00gkwqslqyXobHBI01d7/apps"}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 215.695ms
    - id: 1
      request:
        host: oie-00.dne-okta.com
        body: |
            {"credentials":{"password":{}},"profile":{"email":"testAcc-2107169499@example.com","firstName":"TestAcc","lastName":"Smith","login":"testAcc-2107169499@example.com","postalAddress":null}}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://oie-00.dne-okta.com/api/v1/users
        method: POST
      response:
        body: '{"id":"00ukwqo77lBFW57uJ1d7","status":"PROVISIONED","created":"2025-03-13T23:26:11.000Z","activated":"2025-03-13T23:26:11.000Z","statusChanged":"2025-03-13T23:26:11.000Z","lastLogin":null,"lastUpdated":"2025-03-13T23:26:11.000Z","passwordChanged":null,"type":{"id":"oty5qwjvh0Vy1j8Kd1d7"},"profile":{"firstName":"TestAcc","lastName":"Smith","mobilePhone":null,"secondEmail":null,"login":"testAcc-2107169499@example.com","email":"testAcc-2107169499@example.com"},"credentials":{"provider":{"type":"OKTA","name":"OKTA"}},"_links":{"suspend":{"href":"https://oie-00.dne-okta.com/api/v1/users/00ukwqo77lBFW57uJ1d7/lifecycle/suspend","method":"POST"},"schema":{"href":"https://oie-00.dne-okta.com/api/v1/meta/schemas/user/osc5qwjvh0Vy1j8Kd1d7"},"resetPassword":{"href":"https://oie-00.dne-okta.com/api/v1/users/00ukwqo77lBFW57uJ1d7/lifecycle/reset_password","method":"POST"},"reactivate":{"href":"https://oie-00.dne-okta.com/api/v1/users/00ukwqo77lBFW57uJ1d7/lifecycle/reactivate","method":"POST"},"self":{"href":"https://oie-00.dne-okta.com/api/v1/users/00ukwqo77lBFW57uJ1d7"},"type":{"href":"https://oie-00.dne-okta.com/api/v1/meta/types/user/oty5qwjvh0Vy1j8Kd1d7"},"deactivate":{"href":"https://oie-00.dne-okta.com/api/v1/users/00ukwqo77lBFW57uJ1d7/lifecycle/deactivate","method":"POST"}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 383.419333ms
    - id: 2
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/groups/00gkwqslqyXobHBI01d7
        method: GET
      response:
        body: '{"id":"00gkwqslqyXobHBI01d7","created":"2025-03-13T23:26:11.000Z","lastUpdated":"2025-03-13T23:26:11.000Z","lastMembershipUpdated":"2025-03-13T23:26:11.000Z","objectClass":["okta:user_group"],"type":"OKTA_GROUP","profile":{"name":"testAcc-2107169499","description":"A Group"},"_links":{"logo":[{"name":"medium","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-medium.30ce6d4085dff29412984e4c191bc874.png","type":"image/png"},{"name":"large","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-large.c3cb8cda8ae0add1b4fe928f5844dbe3.png","type":"image/png"}],"users":{"href":"https://oie-00.dne-okta.com/api/v1/groups/00gkwqslqyXobHBI01d7/users"},"apps":{"href":"https://oie-00.dne-okta.com/api/v1/groups/00gkwqslqyXobHBI01d7/apps"}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 211.727792ms
    - id: 3
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/users/00ukwqo77lBFW57uJ1d7
        method: GET
      response:
        body: '{"id":"00ukwqo77lBFW57uJ1d7","status":"PROVISIONED","created":"2025-03-13T23:26:11.000Z","activated":"2025-03-13T23:26:11.000Z","statusChanged":"2025-03-13T23:26:11.000Z","lastLogin":null,"lastUpdated":"[...]
[...]
    - id: 5
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/groups/00gkwqslqyXobHBI01d7/users/00ukwqo77lBFW57uJ1d7
        method: PUT
      response:
        body: ""
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
        status: 204 No Content
        code: 204
        duration: 254.117125ms
    - id: 6
      request:
        host: oie-00.dne-okta.com
        body: |
            {"type":"SUPER_ADMIN"}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://oie-00.dne-okta.com/api/v1/users/00ukwqo77lBFW57uJ1d7/roles?disableNotifications=false
        method: POST
      response:
        body: '{"id":"ra1kwqsv6dbdNLv4j1d7","label":"Super Administrator","type":"SUPER_ADMIN","status":"ACTIVE","created":"2025-03-13T23:26:12.000Z","lastUpdated":"2025-03-13T23:26:12.000Z","assignmentType":"USER","_links":{"assignee":{"href":"https://oie-00.dne-okta.com/api/v1/users/00ukwqo77lBFW57uJ1d7"}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 388.868083ms
    - id: 7
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/users/00ukwqo77lBFW57uJ1d7/groups
        method: GET
      response:
        body: '[{"id":"00g5qwjvgrD3WR89l1d7","created":"2022-10-07T23:16:57.000Z","lastUpdated":"2022-10-07T23:16:57.000Z","lastMembershipUpdated":"2025-03-13T22:02:57.000Z","objectClass":["okta:user_group"],"ty[...]
[...]
    - id: 13
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/users/00ukwqo77lBFW57uJ1d7/roles
        method: GET
      response:
        body: '[{"id":"IFIFAX2BIRGUSTQ","label":"Application Administrator","type":"APP_ADMIN","status":"ACTIVE","created":"2025-03-13T23:26:12.000Z","lastUpdated":"2025-03-13T23:26:12.000Z","assignmentType":"USER","_links":{"assignee":{"href":"https://oie-00.dne-okta.com/api/v1/users/00ukwqo77lBFW57uJ1d7"}}},{"id":"ra1kwqsv6dbdNLv4j1d7","label":"Super Administrator","type":"SUPER_ADMIN","status":"ACTIVE","created":"2025-03-13T23:26:12.000Z","lastUpdated":"2025-03-13T23:26:12.000Z","assignmentType":"USER","_links":{"assignee":{"href":"https://oie-00.dne-okta.com/api/v1/users/00ukwqo77lBFW57uJ1d7"}}}]'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 227.521709ms
[...]
    - id: 19
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/users/00ukwqo77lBFW57uJ1d7/roles/IFIFAX2BIRGUSTQ
        method: DELETE
      response:
        body: ""
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
        status: 204 No Content
        code: 204
        duration: 298.85025ms
[...]
    - id: 21
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/users/00ukwqo77lBFW57uJ1d7/roles/ra1kwqsv6dbdNLv4j1d7
        method: DELETE
      response:
        body: ""
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
        status: 204 No Content
        code: 204
        duration: 484.265708ms
[...]
