---
version: 1
interactions:
- request:
    body: |
      {"name":"testAcc_891107004","status":"ACTIVE","type":"PROFILE_ENROLLMENT"}
    form: {}
    headers:
      Authorization:
      - SSWS REDACTED
      Content-Type:
      - application/json
    url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/policies
    method: POST
  response:
    body: '{"id":"rst7l8szzsByhmSVf1d7","status":"ACTIVE","name":"testAcc_891107004","priority":1,"system":false,"conditions":null,"created":"2023-04-06T20:01:23.000Z","lastUpdated":"2023-04-06T20:01:23.000Z","_links":{"self":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/policies/rst7l8szzsByhmSVf1d7","hints":{"allow":["GET","PUT","DELETE"]}},"rules":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/policies/rst7l8szzsByhmSVf1d7/rules","hints":{"allow":["GET","POST"]}},"deactivate":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/policies/rst7l8szzsByhmSVf1d7/lifecycle/deactivate","hints":{"allow":["POST"]}}},"type":"PROFILE_ENROLLMENT"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/policies/rst7l8szzsByhmSVf1d7
    method: GET
  response:
    body: '{"id":"rst7l8szzsByhmSVf1d7","status":"ACTIVE","name":"testAcc_891107004","priority":1,"system":false,"conditions":null,"created":"2023-04-06T20:01:23.000Z","lastUpdated":"2023-04-06T20:01:23.000Z","_links":{"self":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/policies/rst7l8szzsByhmSVf1d7","hints":{"allow":["GET","PUT","DELETE"]}},"rules":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/policies/rst7l8szzsByhmSVf1d7/rules","hints":{"allow":["GET","POST"]}},"deactivate":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/policies/rst7l8szzsByhmSVf1d7/lifecycle/deactivate","hints":{"allow":["POST"]}}},"type":"PROFILE_ENROLLMENT"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/policies/rst7l8szzsByhmSVf1d7/rules
    method: GET
  response:
    body: '[{"id":"rul7l8szzt5lRK9Ib1d7","status":"ACTIVE","name":"Catch-all Rule","priority":99,"created":"2023-04-06T20:01:23.000Z","lastUpdated":"2023-04-06T20:01:23.000Z","system":true,"conditions":null,"actions":{"profileEnrollment":{"access":"ALLOW","preRegistrationInlineHooks":null,"profileAttributes":[{"name":"email","label":"Primary email","required":true}],"targetGroupIds":null,"unknownUserAction":"REGISTER","activationRequirements":{"emailVerification":true}}},"_links":{"self":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/policies/rst7l8szzsByhmSVf1d7/rules/rul7l8szzt5lRK9Ib1d7","hints":{"allow":["GET","PUT"]}}},"type":"PROFILE_ENROLLMENT"}]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"id":"rul7l8szzt5lRK9Ib1d7","type":"PROFILE_ENROLLMENT","name":"Catch-all Rule","status":"ACTIVE","priority":99,"system":true,"conditions":null,"actions":{"profileEnrollment":{"access":"ALLOW","activationRequirements":{"emailVerification":true},"profileAttributes":[{"label":"Email","name":"email","required":true}],"unknownUserAction":"REGISTER"}}}
    form: {}
    headers:
      Authorization:
      - SSWS REDACTED
      Content-Type:
      - application/json
    url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/policies/rst7l8szzsByhmSVf1d7/rules/rul7l8szzt5lRK9Ib1d7
    method: PUT
  response:
    body: '{"id":"rul7l8szzt5lRK9Ib1d7","status":"ACTIVE","name":"Catch-all Rule","priority":99,"created":"2023-04-06T20:01:23.000Z","lastUpdated":"2023-04-06T20:01:23.000Z","system":true,"conditions":null,"actions":{"profileEnrollment":{"access":"ALLOW","preRegistrationInlineHooks":null,"profileAttributes":[{"name":"email","label":"Email","required":true}],"targetGroupIds":null,"unknownUserAction":"REGISTER","activationRequirements":{"emailVerification":true}}},"_links":{"self":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/policies/rst7l8szzsByhmSVf1d7/rules/rul7l8szzt5lRK9Ib1d7","hints":{"allow":["GET","PUT"]}}},"type":"PROFILE_ENROLLMENT"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: |
      {"profile":{"name":"testAcc_891107004","description":"testing, testing"}}
    form: {}
    headers:
      Authorization:
      - SSWS REDACTED
      Content-Type:
      - application/json
    url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/groups
    method: POST
  response:
    body: '{"id":"00g7l8tm2ncTsGtth1d7","created":"2023-04-06T20:01:25.000Z","lastUpdated":"2023-04-06T20:01:25.000Z","lastMembershipUpdated":"2023-04-06T20:01:25.000Z","objectClass":["okta:user_group"],"type":"OKTA_GROUP","profile":{"name":"testAcc_891107004","description":"testing, testing"},"_links":{"logo":[{"name":"medium","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-medium.1a5ebe44c4244fb796c235d86b47e3bb.png","type":"image/png"},{"name":"large","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-large.d9cfbd8a00a4feac1aa5612ba02e99c0.png","type":"image/png"}],"users":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/groups/00g7l8tm2ncTsGtth1d7/users"},"apps":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/groups/00g7l8tm2ncTsGtth1d7/apps"}}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/groups/00g7l8tm2ncTsGtth1d7
    method: GET
  response:
    body: '{"id":"00g7l8tm2ncTsGtth1d7","created":"2023-04-06T20:01:25.000Z","lastUpdated":"2023-04-06T20:01:25.000Z","lastMembershipUpdated":"2023-04-06T20:01:25.000Z","objectClass":["okta:user_group"],"type":"OKTA_GROUP","profile":{"name":"testAcc_891107004","description":"testing, testing"},"_links":{"logo":[{"name":"medium","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-medium.1a5ebe44c4244fb796c235d86b47e3bb.png","type":"image/png"},{"name":"large","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-large.d9cfbd8a00a4feac1aa5612ba02e99c0.png","type":"image/png"}],"users":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/groups/00g7l8tm2ncTsGtth1d7/users"},"apps":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/groups/00g7l8tm2ncTsGtth1d7/apps"}}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: |
      {"channel":{"config":{"method":"POST","uri":"https://example.com/test2"},"type":"HTTP","version":"1.0.0"},"name":"testAcc_891107004","status":"ACTIVE","type":"com.okta.user.pre-registration","version":"1.0.3"}
    form: {}
    headers:
      Authorization:
      - SSWS REDACTED
      Content-Type:
      - application/json
    url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/inlineHooks
    method: POST
  response:
    body: '{"id":"cal7l8tqo4cq3lhxf1d7","status":"ACTIVE","name":"testAcc_891107004","type":"com.okta.user.pre-registration","version":"1.0.3","channel":{"type":"HTTP","version":"1.0.0","config":{"uri":"https://example.com/test2","headers":[],"method":"POST","authScheme":null}},"created":"2023-04-06T20:01:25.000Z","lastUpdated":"2023-04-06T20:01:25.000Z","_links":{"self":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/inlineHooks/cal7l8tqo4cq3lhxf1d7"},"execute":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/inlineHooks/cal7l8tqo4cq3lhxf1d7/execute","hints":{"allow":["POST"]}},"deactivate":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/inlineHooks/cal7l8tqo4cq3lhxf1d7/lifecycle/deactivate","hints":{"allow":["POST"]}}}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/inlineHooks/cal7l8tqo4cq3lhxf1d7
    method: GET
  response:
    body: '{"id":"cal7l8tqo4cq3lhxf1d7","status":"ACTIVE","name":"testAcc_891107004","type":"com.okta.user.pre-registration","version":"1.0.3","channel":{"type":"HTTP","version":"1.0.0","config":{"uri":"https://example.com/test2","headers":[],"method":"POST","authScheme":null}},"created":"2023-04-06T20:01:25.000Z","lastUpdated":"2023-04-06T20:01:25.000Z","_links":{"self":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/inlineHooks/cal7l8tqo4cq3lhxf1d7"},"execute":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/inlineHooks/cal7l8tqo4cq3lhxf1d7/execute","hints":{"allow":["POST"]}},"deactivate":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/inlineHooks/cal7l8tqo4cq3lhxf1d7/lifecycle/deactivate","hints":{"allow":["POST"]}}}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"id":"rul7l8szzt5lRK9Ib1d7","type":"PROFILE_ENROLLMENT","name":"Catch-all Rule","status":"ACTIVE","priority":99,"system":true,"conditions":null,"actions":{"profileEnrollment":{"access":"ALLOW","activationRequirements":{"emailVerification":true},"preRegistrationInlineHooks":[{"inlineHookId":"cal7l8tqo4cq3lhxf1d7"}],"profileAttributes":[{"label":"Email","name":"email","required":true},{"label":"NameBig","name":"name","required":true},{"label":"T-Shirt Size","name":"t-shirt","required":false}],"targetGroupIds":["00g7l8tm2ncTsGtth1d7"],"unknownUserAction":"REGISTER"}}}
    form: {}
    headers:
      Authorization:
      - SSWS REDACTED
      Content-Type:
      - application/json
    url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/policies/rst7l8szzsByhmSVf1d7/rules/rul7l8szzt5lRK9Ib1d7
    method: PUT
  response:
    body: '{"id":"rul7l8szzt5lRK9Ib1d7","status":"ACTIVE","name":"Catch-all Rule","priority":99,"created":"2023-04-06T20:01:23.000Z","lastUpdated":"2023-04-06T20:01:26.000Z","system":true,"conditions":null,"actions":{"profileEnrollment":{"access":"ALLOW","preRegistrationInlineHooks":[{"inlineHookId":"cal7l8tqo4cq3lhxf1d7","scopes":["SELF_SERVICE_REGISTRATION"]}],"profileAttributes":[{"name":"email","label":"Email","required":true},{"name":"name","label":"NameBig","required":true},{"name":"t-shirt","label":"T-Shirt Size","required":false}],"targetGroupIds":["00g7l8tm2ncTsGtth1d7"],"unknownUserAction":"REGISTER","activationRequirements":{"emailVerification":true}}},"_links":{"self":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/policies/rst7l8szzsByhmSVf1d7/rules/rul7l8szzt5lRK9Ib1d7","hints":{"allow":["GET","PUT"]}}},"type":"PROFILE_ENROLLMENT"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/inlineHooks/cal7l8tqo4cq3lhxf1d7/lifecycle/deactivate
    method: POST
  response:
    body: '{"id":"cal7l8tqo4cq3lhxf1d7","status":"INACTIVE","name":"testAcc_891107004","type":"com.okta.user.pre-registration","version":"1.0.3","channel":{"type":"HTTP","version":"1.0.0","config":{"uri":"https://example.com/test2","headers":[],"method":"POST","authScheme":null}},"created":"2023-04-06T20:01:25.000Z","lastUpdated":"2023-04-06T20:01:29.000Z","_links":{"activate":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/inlineHooks/cal7l8tqo4cq3lhxf1d7/lifecycle/activate","hints":{"allow":["POST"]}},"self":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/inlineHooks/cal7l8tqo4cq3lhxf1d7"},"delete":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/inlineHooks/cal7l8tqo4cq3lhxf1d7","hints":{"allow":["DELETE"]}}}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
