---
version: 2
interactions:
    - id: 0
      request:
        host: mm-classic-2022-10-04.oktapreview.com
        body: |
            {"description":"Terraform Acceptance Test User Type","displayName":"Terraform Acceptance Test User Type","name":"testAcc_1528592018"}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://mm-classic-2022-10-04.oktapreview.com/api/v1/meta/types/user
        method: POST
      response:
        body: '{"id":"oty95urewvb8jInez1d7","displayName":"Terraform Acceptance Test User Type","name":"testAcc_1528592018","description":"Terraform Acceptance Test User Type","createdBy":"00u5ptm07rHbDyowI1d7","lastUpdatedBy":"00u5ptm07rHbDyowI1d7","created":"2023-07-27T20:13:51.000Z","lastUpdated":"2023-07-27T20:13:51.000Z","default":false,"_links":{"schema":{"rel":"schema","href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/meta/schemas/user/osc95urewvb8jInez1d7","method":"GET"},"self":{"rel":"self","href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/meta/types/user/oty95urewvb8jInez1d7","method":"GET"}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 190.022151ms
    - id: 1
      request:
        host: mm-classic-2022-10-04.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-classic-2022-10-04.oktapreview.com/api/v1/meta/types/user/oty95urewvb8jInez1d7
        method: GET
      response:
        body: '{"id":"oty95urewvb8jInez1d7","displayName":"Terraform Acceptance Test User Type","name":"testAcc_1528592018","description":"Terraform Acceptance Test User Type","createdBy":"00u5ptm07rHbDyowI1d7","lastUpdatedBy":"00u5ptm07rHbDyowI1d7","created":"2023-07-27T20:13:51.000Z","lastUpdated":"2023-07-27T20:13:51.000Z","default":false,"_links":{"schema":{"rel":"schema","href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/meta/schemas/user/osc95urewvb8jInez1d7","method":"GET"},"self":{"rel":"self","href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/meta/types/user/oty95urewvb8jInez1d7","method":"GET"}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 76.121946ms
[...]
