---
version: 1
interactions:
- request:
    body: |
      {"description":"Terraform Acceptance Test User Type","displayName":"Terraform Acceptance Test User Type","name":"testAcc_1528592018"}
    form: {}
    headers:
      Authorization:
      - SSWS REDACTED
      Content-Type:
      - application/json
    url: https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/meta/types/user
    method: POST
  response:
    body: '{"id":"oty6m98k5rZlN60N21d7","displayName":"Terraform Acceptance Test User
      Type","name":"testAcc_1528592018","description":"Terraform Acceptance Test User
      Type","createdBy":"00u5jjkl5wKRB4DSN1d7","lastUpdatedBy":"00u5jjkl5wKRB4DSN1d7","created":"2023-01-11T20:04:39.000Z","lastUpdated":"2023-01-11T20:04:39.000Z","default":false,"_links":{"schema":{"rel":"schema","href":"https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/meta/schemas/user/osc6m98k5rZlN60N21d7","method":"GET"},"self":{"rel":"self","href":"https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/meta/types/user/oty6m98k5rZlN60N21d7","method":"GET"}}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/meta/types/user/oty6m98k5rZlN60N21d7
    method: GET
  response:
    body: '{"id":"oty6m98k5rZlN60N21d7","displayName":"Terraform Acceptance Test User
      Type","name":"testAcc_1528592018","description":"Terraform Acceptance Test User
      Type","createdBy":"00u5jjkl5wKRB4DSN1d7","lastUpdatedBy":"00u5jjkl5wKRB4DSN1d7","created":"2023-01-11T20:04:39.000Z","lastUpdated":"2023-01-11T20:04:39.000Z","default":false,"_links":{"schema":{"rel":"schema","href":"https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/meta/schemas/user/osc6m98k5rZlN60N21d7","method":"GET"},"self":{"rel":"self","href":"https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/meta/types/user/oty6m98k5rZlN60N21d7","method":"GET"}}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
