---
version: 2
interactions:
- id: 0
  request:
    host: oie-00.dne-okta.com
    body: "{\"configuration\":{\"serviceAccountJson\":{\"auth_provider_x509_cert_url\":\"https://www.googleapis.com/oauth2/v1/certs\",\"auth_uri\":\"https://accounts.google.com/o/oauth2/auth\",\"client_email\":\"SERVICE_ACCOUNT_EMAIL\",\"client_id\":\"CLIENT_ID\",\"client_x509_cert_url\":\"https://www.googleapis.com/robot/v1/metadata/x509/SERVICE_ACCOUNT_EMAIL\",\"private_key\":\"-----BEGIN PRIVATE KEY-----REDACTED-----END PRIVATE KEY-----\",\"private_key_id\":\"KEY_ID\",\"project_id\":\"PROJECT_ID\",\"token_uri\":\"https://oauth2.googleapis.com/token\",\"type\":\"service_account\"}},\"name\":\"example\",\"providerType\":\"FCM\"}\n"
    headers:
      Authorization:
      - SSWS REDACTED
      Content-Type:
      - application/json
    url: https://oie-00.dne-okta.com/api/v1/push-providers
    method: POST
  response:
    body: "{\"id\":\"ppcrrox2tfczoAB5q1d7\",\"providerType\":\"FCM\",\"name\":\"example\",\"lastUpdatedDate\":\"2025-11-12T06:34:39.000Z\",\"configuration\":{\"projectId\":\"PROJECT_ID\"},\"_links\":{\"self\":{\"href\":\"https://oie-00.dne-okta.com/api/v1/push-providers/ppcrrox2tfczoAB5q1d7\",\"hints\":{\"allow\":[\"GET\",\"PUT\",\"DELETE\"]}}}}"
    headers:
      Accept-Ch:
      - Sec-CH-UA-Platform-Version
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 1.235906333s
- id: 1
  request:
    host: oie-00.dne-okta.com
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://oie-00.dne-okta.com/api/v1/push-providers/ppcrrox2tfczoAB5q1d7
    method: GET
  response:
    body: "{\"id\":\"ppcrrox2tfczoAB5q1d7\",\"providerType\":\"FCM\",\"name\":\"example\",\"lastUpdatedDate\":\"2025-11-12T06:34:39.000Z\",\"configuration\":{\"projectId\":\"PROJECT_ID\"},\"_links\":{\"self\":{\"href\":\"https://oie-00.dne-okta.com/api/v1/push-providers/ppcrrox2tfczoAB5q1d7\",\"hints\":{\"allow\":[\"GET\",\"PUT\",\"DELETE\"]}}}}"
    headers:
      Accept-Ch:
      - Sec-CH-UA-Platform-Version
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 1.207665458s
[...]
