---
version: 2
interactions:
    - id: 0
      request:
        host: mm-oie-2022-10-07-max.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/authorizationServers/default/scopes
        method: GET
      response:
        body: '[{"id":"scp7iiygl6OWPeoUc1d7","name":"okta.myAccount.appAuthenticator.maintenance.manage","displayName":"Manage non-sensitive attributes of my account app authenticator enrollment","description":"Allows the end user to manage non-sensitive attributes of their app authenticator enrollment.","system":true,"metadataPublish":"ALL_CLIENTS","consent":"IMPLICIT","optional":false,"apiResourceId":null,"default":false,"_links":{"self":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/authorizationServers/default/scopes/scp7iiygl6OWPeoUc1d7","hints":{"allow":["GET","PUT","DELETE"]}}}},{"id":"scp7iiygl7FvQQbwm1d7","name":"okta.myAccount.appAuthenticator.maintenance.read","displayName":"Read non-sensitive attributes of my account app authenticator enrollment","description":"Allows the end user to read non-sensitive attributes of their app authenticator enrollment.","system":true,"metadataPublish":"ALL_CLIENTS","consent":"IMPLICIT","optional":false,"apiResourceId":null,"default":false,"_links":{"self":{"href":"https://mm-oie-2022-10-07-max.oktapreview.[...]
[...]
