---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/authorizationServers/default/scopes
    method: GET
  response:
    body: '[{"id":"scp5ysislxkvogsZL1d7","name":"okta.myAccount.customAuthenticator.manage","description":"Allows
      the end user to manage their custom authenticators.","system":true,"metadataPublish":"ALL_CLIENTS","apiResourceId":null,"default":false,"_links":{"self":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/authorizationServers/default/scopes/scp5ysislxkvogsZL1d7","hints":{"allow":["GET","PUT","DELETE"]}}}},{"id":"scp5ysislyVNdLd0I1d7","name":"okta.myAccount.customAuthenticator.read","description":"Allows
      the end user to read their custom authenticators.","system":true,"metadataPublish":"ALL_CLIENTS","apiResourceId":null,"default":false,"_links":{"self":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/authorizationServers/default/scopes/scp5ysislyVNdLd0I1d7","hints":{"allow":["GET","PUT","DELETE"]}}}},{"id":"scp5ysislrVff16SQ1d7","name":"okta.myAccount.[...]
[...]
