---
version: 2
interactions:
    - id: 0
      request:
        host: classic-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/.well-known/okta-organization
        method: GET
      response:
        body: '{"id":"00onkw1sbuAh3Q06I1d7","cell":"op3","_links":{"organization":{"href":"https://classic-00.dne-okta.com"}},"pipeline":"idx","settings":{"analyticsCollectionEnabled":false,"bugReportingEnabled":true,"omEnabled":false,"pssoEnabled":true,"desktopMFAEnabled":true,"itpEnabled":true}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
<<<<<<< Updated upstream
                - Mon, 25 Aug 2025 12:03:17 GMT
=======
                - Thu, 04 Sep 2025 05:38:16 GMT
>>>>>>> Stashed changes
            Referrer-Policy:
                - strict-origin-when-cross-origin
        status: 200 OK
        code: 200
<<<<<<< Updated upstream
        duration: 999.160042ms
=======
        duration: 1.028955875s
>>>>>>> Stashed changes
    - id: 1
      request:
        host: classic-00.dne-okta.com
        body: |
            {"description":"The app signon policy used by our test app.","name":"testAcc_Test_App_4207452153","priority":1,"type":"ACCESS_POLICY"}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://classic-00.dne-okta.com/api/v1/policies
        method: POST
      response:
<<<<<<< Updated upstream
        body: '{"id":"rstphoo0sv5DA3jln1d7","status":"ACTIVE","name":"testAcc_Test_App_4207452153","description":"The app signon policy used by our test app.","priority":1,"system":false,"conditions":null,"created":"2025-08-25T12:03:18.000Z","lastUpdated":"2025-08-25T12:03:18.000Z","_links":{"mappings":{"href":"https://classic-00.dne-okta.com/api/v1/policies/rstphoo0sv5DA3jln1d7/mappings","hints":{"allow":["GET","POST"]}},"self":{"href":"https://classic-00.dne-okta.com/api/v1/policies/rstphoo0sv5DA3jln1d7","hints":{"allow":["GET","PUT","DELETE"]}},"rules":{"href":"https://classic-00.dne-okta.com/api/v1/policies/rstphoo0sv5DA3jln1d7/rules","hints":{"allow":["GET","POST"]}},"deactivate":{"href":"https://classic-00.dne-okta.com/api/v1/policies/rstphoo0sv5DA3jln1d7/lifecycle/deactivate","hints":{"allow":["POST"]}}},"type":"ACCESS_POLICY"}'
=======
        body: '{"id":"rstpsa71ahsDqgxBd1d7","status":"ACTIVE","name":"testAcc_Test_App_4207452153","description":"The app signon policy used by our test app.","priority":1,"system":false,"conditions":null,"created":"2025-09-04T05:38:17.000Z","lastUpdated":"2025-09-04T05:38:17.000Z","_links":{"mappings":{"href":"https://classic-00.dne-ok[...]
    - id: 2
      request:
        host: classic-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
<<<<<<< Updated upstream
        url: https://classic-00.dne-okta.com/api/v1/policies/rstphoo0sv5DA3jln1d7/rules
=======
        url: https://classic-00.dne-okta.com/api/v1/policies/rstpsa71ahsDqgxBd1d7/rules
>>>>>>> Stashed changes
        method: GET
      response:
<<<<<<< Updated upstream
        body: '[{"id":"rulphoo0swXBZMRG51d7","status":"ACTIVE","name":"Catch-all Rule","priority":99,"created":"2025-08-25T12:03:18.000Z","lastUpdated":"2025-08-25T12:03:18.000Z","system":true,"conditions":null,"actions":{"appSignOn":{"access":"ALLOW","verificationMethod":{"factorMode":"2FA","type":"ASSURANCE","reauthenticateIn":"PT12H","constraints":[{"possession":{"required":true,"deviceBound":"REQUIRED"}}]},"keepMeSignedIn":{"postAuth":"NOT_ALLOWED"}}},"_links":{"self":{"href":"https://classic-00.dne-okta.com/api/v1/policies/rstphoo0sv5DA3jln1d7/rules/rulphoo0swXBZMRG51d7","hints":{"allow":["GET","PUT"]}}},"type":"ACCESS_POLICY"}]'
=======
        body: '[{"id":"rulpsa71ai7RXD82g1d7","status":"ACTIVE","name":"Catch-all Rule","priority":99,"created":"2025-09-04T05:38:17.000Z","lastUpdated":"2025-09-04T05:38:17.000Z","system":true,"conditions":null,"actions":{"appSignOn":{"access":"ALLOW","verificationMethod":{"factorMode":"2FA","type":"ASSURANCE","reauthenticateIn":"PT12H","constraints":[{"possession":{"required":true,"deviceBound":"REQUIRED"}}]},"keepMeSignedIn":{"postAuth":"NOT_ALLOWED"}}},"_links":{"self":{"href":"https://classic-00.dne-okta.com/api/v1/policies/rstpsa71ahsDqgxBd1d7/rules/rulpsa71ai7RXD82g1d7","hints":{"allow":["GET","PUT"]}}},"type":"ACCESS_POLICY"}]'
>>>>>>> Stashed changes
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
<<<<<<< Updated upstream
                - Mon, 25 Aug 2025 12:03:19 GMT
=======
                - Thu, 04 Sep 2025 05:38:18 GMT
>>>>>>> Stashed changes
            Referrer-Policy:
                - strict-origin-when-cross-origin
        status: 200 OK
        code: 200
<<<<<<< Updated upstream
        duration: 993.997125ms
=======
        duration: 1.006375333s
>>>>>>> Stashed changes
    - id: 3
      request:
        host: classic-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
<<<<<<< Updated upstream
        url: https://classic-00.dne-okta.com/api/v1/policies/rstphoo0sv5DA3jln1d7
=======
        url: https://classic-00.dne-okta.com/api/v1/policies/rstpsa71ahsDqgxBd1d7
>>>>>>> Stashed changes
        method: GET
      response:
<<<<<<< Updated upstream
        body: '{"id":"rstphoo0sv5DA3jln1d7","status":"ACTIVE","name":"testAcc[...]
[...]
    - id: 17
      request:
        host: classic-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
<<<<<<< Updated upstream
        url: https://classic-00.dne-okta.com/api/v1/policies/rstphoo0sv5DA3jln1d7/rules/rulphoo0swXBZMRG51d7
=======
        url: https://classic-00.dne-okta.com/api/v1/policies/rstpsa71ahsDqgxBd1d7/rules/rulpsa71ai7RXD82g1d7
>>>>>>> Stashed changes
        method: GET
      response:
<<<<<<< Updated upstream
        body: '{"id":"[...]
    - id: 18
      request:
        host: classic-00.dne-okta.com
        form:
            type:
                - ACCESS_POLICY
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/policies?type=ACCESS_POLICY
        method: GET
      response:
<<<<<<< Updated upstream
        body: '[{"id":"rstnkw1sg2fWHAvjK1d7","status":"ACTIVE","name":"Okta Admin Console","priority":1,"system":false,"conditions":null,"created":"2025-06-26T15:51:39.000Z","lastUpdated":"2025-06-26T15:51:39.000Z","_links":{"mappings":{"href":"https://classic-00.dne-okta.com/api/v1/policies/rstnkw1sg2fWHAvjK1d7/mappings","hints":{"allow":["GET","POST"]}},"self":{"href":"https://classic-00.dne-okta.com/api/v1/policies/rstnkw1sg2fWHAvjK1d7","hints":{"allow":["GET","PUT","DELETE"]}},"rules":{"href":"https://classic-00.dne-okta.com/api/v1/policies/rstnkw1sg2fWHAvjK1d7/rules","hints":{"allow":["GET","POST"]}},"deactivate":{"href":"https://classic-00.dne-okta.com/api/v1/policies/rstnkw1sg2fWHAvjK1d7/lifecycle/deactivate","hints":{"allow":["POST"]}}},"_embedded":{"resourceType":"APP"},"type":"ACCESS_POLICY"},{"id":"rstnkw1sg9IQmPCLu1d7","status":"ACTIVE","name":"Okta Dashboard","priority":1,"system":false,"conditions":null,"created":"2025-06-26T15:51:39.000Z","lastUpdated":"2025-06-26T15:51:39.000Z","_links":{"mappings":{"href":"https://classic-00.dne-okta.com/api/v1/policies/rstnkw1sg9IQmPCLu1d7/mappings","hints":{"allow":["GET","POST"]}},"self":{"href":"https://classic-00.dne-okta.com/api/v1/policies/rstnkw1sg9IQmPCLu1d7","hints":{"allow":["GET","PUT","DELETE"]}},"ru[...]
    - id: 19
      request:
        host: classic-00.dne-okta.com
        form:
            limit:
                - "200"
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/apps?limit=200
        method: GET
      response:
<<<<<<< Updated upstream
        body: '[{"id":"0oankw1sc6z965dIC1d7","orn":"orn:oktapreview:idp:00onkw1sbuAh3Q06I1d7:apps:saasure:0oankw1sc6z965dIC1d7","name":"saasure","label":"Okta Admin Console","status":"ACTIVE","lastUpdated":"2025-06-27T12:18:02.000Z","created":"2025-06-26T15:51:34.000Z","accessibility":{"selfService":false,"errorRedirectUrl":null,"loginRedirectUrl":null},"visibility":{"autoSubmitToolbar":false,"hide":{"iOS":false,"web":false},"appLinks":{"admin":true}},"features":[],"signOnMode":"OPENID_CONNECT","credentials":{"userNameTemplate":{"template":"${source.login}","type":"BUILT_IN"},"signing":{"kid":"sALQDM5PBTRR6dsVDGloCQexOBDrJNwQmFiZuWur7eo"}},"universalLogout":{"status":"UNSUPPORTED"},"settings":{"app":{},"notifications":{"vpn":{"network":{"connection":"DISABLED"},"message":null,"helpUrl":null}},"manualProvisioning":false,"implicitAssignment":false,"emOptInStatus":"ENABLED"},"_links":{"uploadLogo":{"href":"https://classic-00.dne-okta.com/api/v1/apps/0oankw1sc6z965dIC1d7/logo","hints":{"allow":["POST"]}},"appLinks":[{"name":"admin","href":"https://classic-00.dne-okta.com/home/saasure/0oankw1sc6z965dIC1d7/2","type":"text/html"}],"profileEnrollment":{"href":"https://classic-00.dne-okta.com/api/v1/policies/rstnkw1sgzCwhJaUs1d7"},"policies":{"href":"https://classic-00.dne-okta.com/api/v1/apps/0oankw1sc6z965dIC1d7/policies","hints":{"allow":["PUT"]}},"groups":{"href":"https://classic-00.dne-okta.com/api/v1/apps/0oankw1sc6z965dIC1d7/groups"},"logo":[{"name":"medium","href":"https://op3static.oktacdn.com/assets/img/logos/okta_admin_app.da3325676d57eaf566cb786dd0c7a819.png","type":"image/png"}],"accessPolicy":{"href":"https://classic-00.dne-okta.com/api/v1/policies/rstnkw1sg2fWHAvjK1d7"},"users":{"href":"https://classic-00.dne-okta.com/api/v1/apps/0oankw1sc6z965dIC1d7/users"},"deactivate":{"href":"https://classic-00.dne-okta.com/api/v1/apps/0oankw1sc6z965dIC1d7/lifecycle/deactivate"}}},{"id":"0oankw1scyACfvA151d7","orn":"orn:oktapreview:idp:00onkw1sbuAh3Q06I1d7:apps:okta_enduser:0oankw1scyACfvA151d7","name":"okta_enduser","label":"Okta Dashboard","status":"ACTIVE","lastUpdated":"2025-06-26T15:51:35.000Z","created":"2025-06-26T15:51:35.000Z","accessibility":{"selfService":false,"errorRed[...]
[...]
