---
version: 1
interactions:
- request:
    body: |
      {"credentials":{"password":{}},"profile":{"email":"testAcc-3775835440@example.com","firstName":"TestAcc","lastName":"Smith","login":"testAcc-3775835440@example.com","postalAddress":null}}
    form: {}
    headers:
      Authorization:
      - SSWS REDACTED
      Content-Type:
      - application/json
    url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/users
    method: POST
  response:
    body: '{"id":"00u7m9qkw71uoE4h81d7","status":"PROVISIONED","created":"2023-04-10T16:37:23.000Z","activated":"2023-04-10T16:37:24.000Z","statusChanged":"2023-04-10T16:37:24.000Z","lastLogin":null,"lastUpdated":"2023-04-10T16:37:24.000Z","passwordChanged":null,"type":{"id":"oty5qwjvh0Vy1j8Kd1d7"},"profile":{"firstName":"TestAcc","lastName":"Smith","mobilePhone":null,"secondEmail":null,"login":"testAcc-3775835440@example.com","email":"testAcc-3775835440@example.com"},"credentials":{"provider":{"type":"OKTA","name":"OKTA"}},"_links":{"suspend":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/users/00u7m9qkw71uoE4h81d7/lifecycle/suspend","method":"POST"},"schema":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/meta/schemas/user/osc5qwjvh0Vy1j8Kd1d7"},"resetPassword":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/users/00u7m9qkw71uoE4h81d7/lifecycle/reset_password","method":"POST"},"reactivate":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/users/00u7m9qkw71uoE4h81d7/lifecycle/reactivate","method":"POST"},"self":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/users/00u7m9qkw71uoE4h81d7"},"resetFactors":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/users/00u7m9qkw71uoE4h81d7/lifecycle/reset_factors","method":"POST"},"type":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/meta/types/user/oty5qwjvh0Vy1j8Kd1d7"},"deactivate":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/users/00u7m9qkw71uoE4h81d7/lifecycle/deactivate","method":"POST"}}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/users/00u7m9qkw71uoE4h81d7
    method: GET
  response:
    body: '{"id":"00u7m9qkw71uoE4h81d7","status":"PROVISIONED","created":"2023-04-10T16:37:23.000Z","activated":"2023-04-10T16:37:24.000Z","statusChanged":"2023-04-10T16:37:24.000Z","lastLogin":null,"lastUpdated":"2023-04-10T16:37:24.000Z","passwordChanged":null,"type":{"id":"oty5qwjvh0Vy1[...]
[...]
