---
version: 2
interactions:
    - id: 0
      request:
        host: classic-00.dne-okta.com
        body: |
            {"profile":{"name":"testAcc_1056686360","description":"testing, testing"}}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://classic-00.dne-okta.com/api/v1/groups
        method: POST
      response:
        body: '{"id":"00gb0vlnnk7znGop51d7","created":"2023-11-02T17:30:45.000Z","lastUpdated":"2023-11-02T17:30:45.000Z","lastMembershipUpdated":"2023-11-02T17:30:45.000Z","objectClass":["okta:user_group"],"type":"OKTA_GROUP","profile":{"name":"testAcc_1056686360","description":"testing, testing"},"_links":{"logo":[{"name":"medium","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-medium.30ce6d4085dff29412984e4c191bc874.png","type":"image/png"},{"name":"large","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-large.c3cb8cda8ae0add1b4fe928f5844dbe3.png","type":"image/png"}],"users":{"href":"https://classic-00.oktapreview.com/api/v1/groups/00gb0vlnnk7znGop51d7/users"},"apps":{"href":"https://classic-00.oktapreview.com/api/v1/groups/00gb0vlnnk7znGop51d7/apps"}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 286.024198ms
[...]
    - id: 2
      request:
        host: classic-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/groups/00gb0vlnnk7znGop51d7
        method: GET
      response:
        body: '{"id":"00gb0vlnnk7znGop51d7","created":"2023-11-02T17:30:45.000Z","lastUpdated":"2023-11-02T17:30:45.000Z","lastMembershipUpdated":"2023-11-02T17:30:45.000Z","objectClass":["okta:user_group"],"type":"OKTA_GROUP","profile":{"name":"testAcc_1056686360","description":"testing, testing"},"_links":{"logo":[{"name":"medium","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-medium.30ce6d4085dff29412984e4c191bc874.png","type":"image/png"},{"name":"large","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-large.c3cb8cda8ae0add1b4fe928f5844dbe3.png","type":"image/png"}],"users":{"href":"https://classic-00.oktapreview.com/api/v1/groups/00gb0vlnnk7znGop51d7/users"},"apps":{"href":"https://classic-00.oktapreview.com/api/v1/groups/00gb0vlnnk7znGop51d7/apps"}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 58.576601ms
    - id: 3
      request:
        host: classic-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/groups/00gb0vjp2fAim1XWx1d7
        method: GET
      response:
        body: '{"id":"00gb0vjp2fAim1XWx1d7","created":"2023-11-02T17:30:45.000Z","lastUpdated":"2023-11-02T17:30:45.000Z","lastMembershipUpdated":"2023-11-02T17:30:45.000Z","objectClass":["okta:user_group"],"type":"OKTA_GROUP","profile":{"name":"testAcc_1056686360_MORE","description":"testing, more"},"_links":{"logo":[{"name":"medium","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-medium.30ce6d4085dff29412984e4c191bc874.png","type":"image/png"},{"name":"large","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-large.c3cb8cda8ae0add1b4fe928f5844dbe3.png","type":"image/png"}],"users":{"href":"https://classic-00.oktapreview.com/api/v1/groups/00gb0vjp2fAim1XWx1d7/users"},"apps":{"href":"https://classic-00.oktapreview.com/api/v1/groups/00gb0vjp2fAim1XWx1d7/apps"}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 55.217654ms
[...]
    - id: 6
      request:
        host: classic-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/groups?q=testAcc
        method: GET
      response:
        body: '[{"id":"00gb0vlnnk7znGop51d7","created":"2023-11-02T17:30:45.000Z","lastUpdated":"2023-11-02T17:30:45.000Z","lastMembershipUpdated":"2023-11-02T17:30:45.000Z","objectClass":["okta:user_group"],"type":"OKTA[...]
[...]
    - id: 9
      request:
        host: classic-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/groups?q=testAcc_1056686360
        method: GET
      response:
        body: '[{"id":"00gb0vlnnk7znGop51d7","created":"2023-11-02T17:30:45.000Z","lastUpdated":"2023-11-02T17:30:45.000Z","lastMembershipUpdated":"2023-11-02T17:30:45.000Z","objectClass":["okta:user_group"],"[...]
[...]
