---
version: 2
interactions:
    - id: 0
      request:
        host: dev-org-oauth-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/x-www-form-urlencoded
        url: https://dev-org-oauth-00.dne-okta.com/oauth2/v1/token?client_assertion=abc123&client_assertion_type=urn%3Aietf%3Aparams%3Aoauth%3Aclient-assertion-type%3Ajwt-bearer&grant_type=client_credentials&scope=okta.groups.read+okta.groups.manage+okta.users.read+okta.users.manage
        method: POST
      response:
        body: '{"token_type":"Bearer","expires_in":3600,"access_token":"eyJraWQiOiJESXpFaEpoV3NWZnM5U2paTGNveWY2RkZZNWtXUFRVZE9HUUF5R0xLb1FFIiwiYWxnIjoiUlMyNTYifQ.eyJ2ZXIiOjEsImp0aSI6IkFULkZBX0tPSVE3NThlRTF2QUJwU2IyenlHVV94VEhERlVCWTNDRk5PUWxVMVkiLCJpc3MiOiJodHRwczovL21tLW9pZS0yMDIyLTEwLTA3LW1heC5va3RhcHJldmlldy5jb20iLCJhdWQiOiJodHRwczovL21tLW9pZS0yMDIyLTEwLTA3LW1heC5va3RhcHJldmlldy5jb20iLCJzdWIiOiIwb2FhMHh5Y2ZmaDRXUlIzcjFkNyIsImlhdCI6MTY5ODk0NjM3MywiZXhwIjoxNjk4OTQ5OTczLCJjaWQiOiIwb2FhMHh5Y2ZmaDRXUlIzcjFkNyIsInNjcCI6WyJva3RhLmdyb3Vwcy5yZWFkIiwib2t0YS5ncm91cHMubWFuYWdlIiwib2t0YS51c2Vycy5yZWFkIiwib2t0YS51c2Vycy5tYW5hZ2UiXX0.J9Mo7Y-eT5DqU1SUjNLqD871BYnIdJnBKZ0HEwYl5hAwfyNyoFFbpetj09v3_hx1O5ywYtF67spgyRU9QMR3bz1-iRVFMg7M6I_7wjtF-roQqZonR1FNpQQsksXea1QAlhfR3tpD2FHMpM6_J64nWB5mpBUSXDZ89KsCEDHIyL7JdWPlu5nYNlM547hgIiRIcC22HC0nhQ38sZc_sXTvu15Ye6rqreWuzEnFC2OtMsjOAZMTc6Guv5G-6NqNbzpwGUZZoPww8c7ZrfXXDzlPaTcUZa-avhhMckpL5zgdRLVIBX-7tWrn_mv0dgxiN4v_gnpn4qc0pjkaEDQDBD71zQ","scope":"okta.groups.read okta.groups.manage okta.users.read okta.users.manage"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 566.86013ms
[...]
    - id: 2
      request:
        host: dev-org-oauth-00.dne-okta.com
        body: |
            {"profile":{"name":"testAcc_1056686360_MORE","description":"testing, more"}}
        form: {}
        headers:
            Authorization:
                - Bearer REDACTED
            Content-Type:
                - application/json
        url: https://dev-org-oauth-00.dne-okta.com/api/v1/groups
        method: POST
      response:
        body: '{"id":"00gb0vlnopFJxPxqe1d7","created":"2023-11-02T17:32:53.000Z","lastUpdated":"2023-11-02T17:32:53.000Z","lastMembershipUpdated":"2023-11-02T17:32:53.000Z","objectClass":["okta:user_group"],"type":"OKTA_GROUP","profile":{"name":"testAcc_1056686360_MORE","description":"testing, more"},"_links":{"logo":[{"name":"medium","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-medium.30ce6d4085dff29412984e4c191bc874.png","type":"image/png"},{"name":"large","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-large.c3cb8cda8ae0add1b4fe928f5844dbe3.png","type":"image/png"}],"users":{"href":"https://dev-org-oauth-00.oktapreview.com/api/v1/groups/00gb0vlnopFJxPxqe1d7/users"},"apps":{"href":"https://dev-org-oauth-00.oktapreview.com/api/v1/groups/00gb0vlnopFJxPxqe1d7/apps"}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 360.912013ms
[...]
    - id: 4
      request:
        host: dev-org-oauth-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer REDACTED
        url: https://dev-org-oauth-00.dne-okta.com/api/v1/groups/00gb0vlnopFJxPxqe1d7
        method: GET
      response:
        body: '{"id":"00gb0vlnopFJxPxqe1d7","created":"2023-11-02T17:32:53.000Z","lastUpdated":"2023-11-02T17:32:53.000Z","lastMembershipUpdated":"2023-11-02T17:32:53.000Z","objectClass":["okta:user_group"],"type":"OKTA_GROUP","profile":{"name":"testAcc_1056686360_MORE","description":"testing, more"},"_links":{"logo":[{"name":"medium","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-medium.30ce6d4085dff29412984e4c191bc874.png","type":"image/png"},{"name":"large","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-large.c3cb8cda8ae0add1b4fe928f5844dbe3.png","type":"image/png"}],"users":{"href":"https://dev-org-oauth-00.oktapreview.com/api/v1/groups/00gb0vlnopFJxPxqe1d7/users"},"apps":{"href":"https://dev-org-oauth-00.oktapreview.com/api/v1/groups/00gb0vlnopFJxPxqe1d7/apps"}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 334.714003ms
    - id: 5
      request:
        host: dev-org-oauth-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer REDACTED
        url: https://dev-org-oauth-00.dne-okta.com/api/v1/groups/00gb0vjszjhhElJa51d7
        method: GET
      response:
        body: '{"id":"00gb0vjszjhhElJa51d7","created":"2023-11-02T17:32:53.000Z","lastUpdated":"2023-11-02T17:32:53.000Z","lastMembershipUpdated":"2023-11-02T17:32:53.000Z","objectClass":["okta:user_group"],"type":"OKTA_GROUP","profile":{"name":"testAcc_1056686360","description":"testing, testing"},"_links":{"logo":[{"name":"medium","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-medium.30ce6d4085dff29412984e4c191bc874.png","type":"image/png"},{"name":"large","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-large.c3cb8cda8ae0add1b4fe928f5844dbe3.png","type":"image/png"}],"users":{"href":"https://dev-org-oauth-00.oktapreview.com/api/v1/groups/00gb0vjszjhhElJa51d7/users"},"apps":{"href":"https://dev-org-oauth-00.oktapreview.com/api/v1/groups/00gb0vjszjhhElJa51d7/apps"}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 338.499864ms
[...]
    - id: 8
      request:
        host: dev-org-oauth-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer REDACTED
        url: https://dev-org-oauth-00.dne-okta.com/api/v1/groups?q=testAcc
        method: GET
      response:
        body: '[{"id":"00gaspi5z08erLaU31d7","created":"2023-10-24T23:25:28.000Z","lastUpdated":"2023-10-24T23:25:28.000Z","lastMembershipUpdated":"2023-10-24T23:25:28.000Z","objectClass":["okta:user_group"[...]
[...]
    - id: 11
      request:
        host: dev-org-oauth-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer REDACTED
        url: https://dev-org-oauth-00.dne-okta.com/api/v1/groups?q=testAcc_1056686360
        method: GET
      response:
        body: '[{"id":"00gb0vjszjhhElJa51d7","created":"2023-11-02T17:32:53.000Z","lastUpdated":"2023-11-02T17:32:53.000Z","lastMembershipUpdated":"2023-11-02T17:32:53.000Z","objectClass":["okta[...]
[...]
