---
version: 2
interactions:
    - id: 0
      request:
        host: oie-00.dne-okta.com
        body: |
            {"profile":{"name":"testAcc_1_1056686360","description":"testing, testing"}}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://oie-00.dne-okta.com/api/v1/groups
        method: POST
      response:
        body: '{"id":"00gayw8lkyNzb74kz1d7","created":"2023-10-31T17:33:33.000Z","lastUpdated":"2023-10-31T17:33:33.000Z","lastMembershipUpdated":"2023-10-31T17:33:33.000Z","objectClass":["okta:user_group"],"type":"OKTA_GROUP","profile":{"name":"testAcc_1_1056686360","description":"testing, testing"},"_links":{"logo":[{"name":"medium","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-medium.30ce6d4085dff29412984e4c191bc874.png","type":"image/png"},{"name":"large","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-large.c3cb8cda8ae0add1b4fe928f5844dbe3.png","type":"image/png"}],"users":{"href":"https://oie-00.oktapreview.com/api/v1/groups/00gayw8lkyNzb74kz1d7/users"},"apps":{"href":"https://oie-00.oktapreview.com/api/v1/groups/00gayw8lkyNzb74kz1d7/apps"}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 160.155239ms
[...]
    - id: 2
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/groups/00gayw9ilvL2VbDYM1d7
        method: GET
      response:
        body: '{"id":"00gayw9ilvL2VbDYM1d7","created":"2023-10-31T17:33:33.000Z","lastUpdated":"2023-10-31T17:33:33.000Z","lastMembershipUpdated":"2023-10-31T17:33:33.000Z","objectClass":["okta:user_group"],"type":"OKTA_GROUP","profile":{"name":"testAcc_2_1056686360","description":"testing, testing"},"_links":{"logo":[{"name":"medium","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-medium.30ce6d4085dff29412984e4c191bc874.png","type":"image/png"},{"name":"large","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-large.c3cb8cda8ae0add1b4fe928f5844dbe3.png","type":"image/png"}],"users":{"href":"https://oie-00.oktapreview.com/api/v1/groups/00gayw9ilvL2VbDYM1d7/users"},"apps":{"href":"https://oie-00.oktapreview.com/api/v1/groups/00gayw9ilvL2VbDYM1d7/apps"}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 65.702854ms
    - id: 3
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/groups/00gayw8lkyNzb74kz1d7
        method: GET
      response:
        body: '{"id":"00gayw8lkyNzb74kz1d7","created":"2023-10-31T17:33:33.000Z","lastUpdated":"2023-10-31T17:33:33.000Z","lastMembershipUpdated":"2023-10-31T17:33:33.000Z","objectClass":["okta:user_group"],"type":"OKTA_GROUP","profile":{"name":"testAcc_1_1056686360","description":"testing, testing"},"_links":{"logo":[{"name":"medium","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-medium.30ce6d4085dff29412984e4c191bc874.png","type":"image/png"},{"name":"large","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-large.c3cb8cda8ae0add1b4fe928f5844dbe3.png","type":"image/png"}],"users":{"href":"https://oie-00.oktapreview.com/api/v1/groups/00gayw8lkyNzb74kz1d7/users"},"apps":{"href":"https://oie-00.oktapreview.com/api/v1/groups/00gayw8lkyNzb74kz1d7/apps"}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 70.54868ms
[...]
    - id: 6
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/groups?q=testAcc
        method: GET
      response:
        body: '[{"id":"00gaspi5z08erLaU31d7","created":"2023-10-24T23:25:28.000Z","lastUpdated":"2023-10-24T23:25:28.000Z","lastMembershipUpdated":"2023-10-24T23:25:28.000Z","objectClass":["okta:user_group"],"type":"OKTA_GROUP",[...]
[...]
