---
version: 2
interactions:
    - id: 0
      request:
        host: oie-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/identity-sources/0oaxc95befZNgrJl71d7/sessions
        method: POST
      response:
        body: '{"id":"apsERRtest0001ERRd7","identitySourceId":"0oaxc95befZNgrJl71d7","status":"CREATED","importType":"INCREMENTAL","created":"2026-05-13T06:00:00.000Z","lastUpdated":"2026-05-13T06:00:00.000Z"}'
        headers:
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 1s
    - id: 1
      request:
        host: oie-00.dne-okta.com
        body: |
            {"entityType":"USERS","profiles":[{"externalId":"USEREXT123456TESTUSER3","profile":{"email":"testuser3@example.com","firstName":"Test","lastName":"User3","userName":"testuser3@example.com"}}]}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://oie-00.dne-okta.com/api/v1/identity-sources/0oaxc95befZNgrJl71d7/sessions/apsERRtest0001ERRd7/bulk-upsert
        method: POST
      response:
        body: '{"errorCode":"E0000001","errorSummary":"Api validation failed: entityType","errorLink":"E0000001","errorId":"oaelERRtest001","errorCauses":[{"errorSummary":"entityType: The field entityType is not valid."}]}'
        headers:
            Content-Type:
                - application/json
        status: 400 Bad Request
        code: 400
        duration: 1s
    - id: 2
      request:
        host: oie-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/identity-sources/0oaxc95befZNgrJl71d7/sessions/apsERRtest0001ERRd7
        method: DELETE
      response:
        body: ""
        headers:
        status: 204 No Content
        code: 204
        duration: 1s
