---
version: 2
interactions:
    - id: 0
      request:
        host: classic-00.dne-okta.com
        body: |
            {"profile":{"name":"TestAcc Example Realm","realmType":"DEFAULT"}}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://classic-00.dne-okta.com/api/v1/realms
        method: POST
      response:
        body: '{"id":"guoqfs91nlh03tfqh1d7","created":"2025-09-28T11:25:34.000Z","lastUpdated":"2025-09-28T11:25:34.000Z","profile":{"name":"TestAcc Example Realm","domains":[]},"isDefault":false,"_links":{"self":{"rel":"self","href":"https://classic-00.dne-okta.com/api/v1/realms/guoqfs91nlh03tfqh1d7","method":"GET"}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.316026667s
    - id: 1
      request:
        host: classic-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/realms/guoqfs91nlh03tfqh1d7
        method: GET
      response:
        body: '{"id":"guoqfs91nlh03tfqh1d7","created":"2025-09-28T11:25:34.000Z","lastUpdated":"2025-09-28T11:25:34.000Z","profile":{"name":"TestAcc Example Realm","domains":[]},"isDefault":false,"_links":{"self":{"rel":"self","href":"https://classic-00.dne-okta.com/api/v1/realms/guoqfs91nlh03tfqh1d7","method":"GET"}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.247994042s
[...]
