---
version: 2
interactions:
    - id: 0
      request:
        host: realm-support.dne-okta.com
        body: |
            {"profile":{"name":"TestAcc Example Realm","realmType":"DEFAULT"}}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://realm-support.dne-okta.com/api/v1/realms
        method: POST
      response:
        body: '{"id":"guotyyzbl1YWn63OB697","created":"2025-08-07T10:56:05.000Z","lastUpdated":"2025-08-07T10:56:05.000Z","profile":{"name":"TestAcc Example Realm","realmType":"DEFAULT","domains":[]},"isDefault":false,"_links":{"self":{"rel":"self","href":"https://realm-support.dne-okta.com/api/v1/realms/guotyyzbl1YWn63OB697","method":"GET"}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.061888292s
    - id: 1
      request:
        host: realm-support.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://realm-support.dne-okta.com/api/v1/realms/guotyyzbl1YWn63OB697
        method: GET
      response:
        body: '{"id":"guotyyzbl1YWn63OB697","created":"2025-08-07T10:56:05.000Z","lastUpdated":"2025-08-07T10:56:05.000Z","profile":{"name":"TestAcc Example Realm","realmType":"DEFAULT","domains":[]},"isDefault":false,"_links":{"self":{"rel":"self","href":"https://realm-support.dne-okta.com/api/v1/realms/guotyyzbl1YWn63OB697","method":"GET"}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 891.3495ms
[...]
