---
version: 2
interactions:
    - id: 0
      request:
        host: oie-00.dne-okta.com
        form:
            type:
                - PASSWORD
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/policies?type=PASSWORD
        method: GET
      response:
        body: '[{"id":"00pxmlkn3zs3zeXBc1d7","status":"ACTIVE","name":"GH2559Apr16AuthPol","description":"Test policy","priority":1,"system":false,"conditions":{"people":{"groups":{"include":["00gwh6jn2cqqM5lNb1d7"]}},"authProvider":{"provider":"OKTA"}},"created":"2026-04-16T02:52:18.000Z","lastUpdated":"2026-04-16T02:54:08.000Z","settings":{"password":{"complexity":{"minLength":8,"minLowerCase":1,"minUpperCase":1,"minNumber":1,"minSymbol":0,"excludeUsername":true,"dictionary":{"common":{"exclude":true}},"excludeAttributes":[]},"age":{"maxAgeDays":0,"expireWarnDays":0,"minAgeMinutes":0,"historyCount":4},"lockout":{"maxAttempts":10,"autoUnlockMinutes":0,"userLockoutNotificationChannels":[],"showLockoutFailures":false},"breachedProtection":{"expireAfterDays":0,"logoutEnabled":true,"delegatedWorkflowId":null}},"recovery":{"factors":{"recovery_question":{"status":"INACTIVE","properties":{"complexity":{"minLength":4}}},"okta_email":{"status":"INACTIVE","properties":{"recoveryToken":{"tokenLifetimeMinutes":60}}},"okta_sms":{"status":"INACTIVE"},"okta_call":{"status":"INACTIVE"}}},"delegation":{"options":{"skipUnlock":false}}},"_links":{"mappings":{"href":"https://oie-00.dne-okta.com/api/v1/policies/00pxmlkn3zs3zeXBc1d7/mappings","hints":{"allow":["GET","POST"]}},"self":{"href":"https://oie-00.dne-okta.com/api/v1/policies/00pxmlkn3zs3zeXBc1d7","hints":{"allow":["GET","PUT","DELETE"]}},"rules":{"href":"https://oie-00.dne-okta.com/api/v1/policies/00pxmlkn3zs3zeXBc1d7/rules","hints":{"allow":["GET","POST"]}},"deactivate":{"href":"https://oie-00.dne-okta.com/api/v1/policies/00pxmlkn3zs3zeXBc1d7/lifecycle/deactivate","hints":{"allow":["POST"]}}},"type":"PASSWORD"},{"id":"00pxmli0dw1wdfXwi1d7","status":"ACTIVE","name":"GH2559Apr16Legacy","description":"test pol created","priority":2,"system":false,"conditions":{"people":{"groups":{"include":["00gwh6jn2cqqM5lNb1d7"]}},"authProvider":{"provider":"OKTA"}},"created":"2026-04-16T02:54:54.000Z","lastUpdated":"2026-04-16T02:54:54.000Z","settings":{"password":{"complexity"[...]
[...]
    - id: 2
      request:
        host: oie-00.dne-okta.com
        body: |
            {"actions":{"passwordChange":{"access":"ALLOW"},"selfServicePasswordReset":{"access":"ALLOW","requirement":{"accessControl":"LEGACY","primary":{"methodConstraints":[{"allowedAuthenticators":[{"key":"google_otp"}],"method":"otp"}],"methods":["otp","email"]},"stepUp":{"methods":["security_question"],"required":true}}},"selfServiceUnlock":{"access":"ALLOW"}},"conditions":{"network":{"connection":"ANYWHERE"},"people":{"groups":{"exclude":["00gwxstmy6w36z1dZ1d7"],"include":["00gwxsozqariU272g1d7"]},"users":{"exclude":["00urzse61ohS6KPfT1d7"],"include":["00ustguf78owmG7Rt1d7"]}}},"name":"testAcc_3669632588","status":"ACTIVE","system":false,"type":"PASSWORD"}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://oie-00.dne-okta.com/api/v1/policies/00pnkw1sf7vmV0MgW1d7/rules
        method: POST
      response:
        body: '{"id":"0prxmmuzdt2YQCSiM1d7","status":"ACTIVE","name":"testAcc_3669632588","priority":1,"created":"2026-04-16T03:49:52.000Z","lastUpdated":"2026-04-16T03:49:52.000Z","system":false,"conditions":{"people":{"users":{"include":["00ustguf78owmG7Rt1d7"],"exclude":["00urzse61ohS6KPfT1d7"]},"groups":{"include":["00gwxsozqariU272g1d7"],"exclude":["00gwxstmy6w36z1dZ1d7"]}},"network":{"connection":"ANYWHERE"}},"actions":{"passwordChange":{"access":"ALLOW"},"selfServicePasswordReset":{"access":"ALLOW","requirement":{"primary":{"methods":["email","otp"],"methodConstraints":[{"method":"otp","allowedAuthenticators":[{"key":"google_otp"}]}]},"stepUp":{"required":true,"methods":["security_question"]},"accessControl":"LEGACY"}},"selfServiceUnlock":{"access":"ALLOW"}},"_links":{"self":{"href":"https://oie-00.dne-okta.com/api/v1/policies/00pnkw1sf7vmV0MgW1d7/rules/0prxmmuzdt2YQCSiM1d7","hints":{"allow":["GET","PUT","DELETE"]}},"deactivate":{"href":"https://oie-00.dne-okta.com/api/v1/policies/00pnkw1sf7vmV0MgW1d7/rules/0prxmmuzdt2YQCSiM1d7/lifecycle/deactivate","hints":{"allow":["POST"]}}},"type":"PASSWORD"}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.262230458s
    - id: 3
      request:
        host: oie-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/policies/00pnkw1sf7vmV0MgW1d7/rules/0prxmmuzdt2YQCSiM1d7
        method: GET
      response:
        body: '{"id":"0prxmmuzdt2YQCSiM1d7","status":"ACTIVE","name":"testAcc_3669632588","priority":1,"created":"2026-04-16T03:49:52.000Z","lastUpdated":"2026-04-16T03:49:52.000Z","system":false,"conditions":{"people":{"u[...]
[...]
