---
version: 2
interactions:
    - id: 0
      request:
        host: oie-00.dne-okta.com
        body: |
            {"profile":{"name":"testAcc_12465538_invalid_owner_group","description":""}}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://oie-00.dne-okta.com/api/v1/groups
        method: POST
      response:
        body: '{"id":"00gvtzgfr4tqj8POf1d7","created":"2026-03-05T08:37:02.000Z","lastUpdated":"2026-03-05T08:37:02.000Z","lastMembershipUpdated":"2026-03-05T08:37:02.000Z","objectClass":["okta:user_group"],"type":"OKTA_GROUP","profile":{"name":"testAcc_12465538_invalid_owner_group","description":""},"_links":{"logo":[{"name":"medium","href":"https://op3static2.oktacdn.com/assets/img/logos/groups/odyssey/okta-medium.30ce6d4085dff29412984e4c191bc874.png","type":"image/png"},{"name":"large","href":"https://op3static2.oktacdn.com/assets/img/logos/groups/odyssey/okta-large.c3cb8cda8ae0add1b4fe928f5844dbe3.png","type":"image/png"}],"owners":{"href":"https://oie-00.dne-okta.com/api/v1/groups/00gvtzgfr4tqj8POf1d7/owners"},"users":{"href":"https://oie-00.dne-okta.com/api/v1/groups/00gvtzgfr4tqj8POf1d7/users"},"apps":{"href":"https://oie-00.dne-okta.com/api/v1/groups/00gvtzgfr4tqj8POf1d7/apps"}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 700.138417ms
[...]
    - id: 2
      request:
        host: oie-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/groups/00gvtzgfr4tqj8POf1d7
        method: GET
      response:
        body: '{"id":"00gvtzgfr4tqj8POf1d7","created":"2026-03-05T08:37:02.000Z","lastUpdated":"2026-03-05T08:37:02.000Z","lastMembershipUpdated":"2026-03-05T08:37:02.000Z","objectClass":["okta:user_group"],"type":"OKTA_GROUP","profile":{"name":"testAcc_12465538_invalid_owner_group","description":""},"_links":{"logo":[{"name":"medium","href":"https://op3static2.oktacdn.com/assets/img/logos/groups/odyssey/okta-medium.30ce6d4085dff29412984e4c191bc874.png","type":"image/png"},{"name":"large","href":"https://op3static2.oktacdn.com/assets/img/logos/groups/odyssey/okta-large.c3cb8cda8ae0add1b4fe928f5844dbe3.png","type":"image/png"}],"owners":{"href":"https://oie-00.dne-okta.com/api/v1/groups/00gvtzgfr4tqj8POf1d7/owners"},"users":{"href":"https://oie-00.dne-okta.com/api/v1/groups/00gvtzgfr4tqj8POf1d7/users"},"apps":{"href":"https://oie-00.dne-okta.com/api/v1/groups/00gvtzgfr4tqj8POf1d7/apps"}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 630.308167ms
    - id: 3
      request:
        host: oie-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/groups/00gvtzhblaGNelVU41d7
        method: GET
      response:
        body: '{"id":"00gvtzhblaGNelVU41d7","created":"2026-03-05T08:37:02.000Z","lastUpdated":"2026-03-05T08:37:02.000Z","lastMembershipUpdated":"2026-03-05T08:37:02.000Z","objectClass":["okta:user_group"],"type":"OKTA_GROUP","profile":{"name":"testAcc_12465538_invalid_type","description":""},"_links":{"logo":[{"name":"medium","href":"https://op3static2.oktacdn.com/assets/img/logos/groups/odyssey/okta-medium.30ce6d4085dff29412984e4c191bc874.png","type":"image/png"},{"name":"large","href":"https://op3static2.oktacdn.com/assets/img/logos/groups/odyssey/okta-large.c3cb8cda8ae0add1b4fe928f5844dbe3.png","type":"image/png"}],"owners":{"href":"https://oie-00.dne-okta.com/api/v1/groups/00gvtzhblaGNelVU41d7/owners"},"users":{"href":"https://oie-00.dne-okta.com/api/v1/groups/00gvtzhblaGNelVU41d7/users"},"apps":{"href":"https://oie-00.dne-okta.com/api/v1/groups/00gvtzhblaGNelVU41d7/apps"}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 647.811375ms
[...]
    - id: 6
      request:
        host: oie-00.dne-okta.com
        body: |
            {"id":"00gvtzgfr4tqj8POf1d7","type":"USER"}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://oie-00.dne-okta.com/api/v1/groups/00gvtzhblaGNelVU41d7/owners
        method: POST
      response:
        body: '{"errorCode":"E0000007","errorSummary":"Not found: Resource not found: 00gvtzgfr4tqj8POf1d7 (User)","errorLink":"E0000007","errorId":"oaesn1VCYuRSKCUUZkBMhlKjg","errorCauses":[]}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 663.302208ms
[...]
