---
version: 2
interactions:
- id: 0
  request:
    host: classic-00.dne-okta.com
    body: "{\"profile\":{\"name\":\"foo_4216102407\",\"description\":\"\"}}\n"
    headers:
      Authorization:
      - SSWS REDACTED
      Content-Type:
      - application/json
    url: https://classic-00.dne-okta.com/api/v1/groups
    method: POST
  response:
    body: "{\"id\":\"00gckrjwaz895pr660x7\",\"created\":\"2025-12-17T10:50:37.000Z\",\"lastUpdated\":\"2025-12-17T10:50:37.000Z\",\"lastMembershipUpdated\":\"2025-12-17T10:50:37.000Z\",\"objectClass\":[\"okta:user_group\"],\"type\":\"OKTA_GROUP\",\"profile\":{\"name\":\"foo_4216102407\",\"description\":\"\"},\"_links\":{\"logo\":[{\"name\":\"medium\",\"href\":\"https://op2static2.oktacdn.com/assets/img/logos/groups/odyssey/okta-medium.30ce6d4085dff29412984e4c191bc874.png\",\"type\":\"image/png\"},{\"name\":\"large\",\"href\":\"https://op2static2.oktacdn.com/assets/img/logos/groups/odyssey/okta-large.c3cb8cda8ae0add1b4fe928f5844dbe3.png\",\"type\":\"image/png\"}],\"owners\":{\"href\":\"https://classic-00.dne-okta.com/api/v1/groups/00gckrjwaz895pr660x7/owners\"},\"users\":{\"href\":\"https://classic-00.dne-okta.com/api/v1/groups/00gckrjwaz895pr660x7/users\"},\"apps\":{\"href\":\"https://classic-00.dne-okta.com/api/v1/groups/00gckrjwaz895pr660x7/apps\"}}}"
    headers:
      Accept-Ch:
      - Sec-CH-UA-Platform-Version
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 199.805708ms
- id: 1
  request:
    host: classic-00.dne-okta.com
    body: "{\"credentials\":{\"password\":{}},\"profile\":{\"email\":\"john_4216102407@thewho.com\",\"firstName\":\"TestAcc\",\"lastName\":\"Entwhistle\",\"login\":\"john_4216102407@thewho.com\",\"postalAddress\":null}}\n"
    headers:
      Authorization:
      - SSWS REDACTED
      Content-Type:
      - application/json
    url: https://classic-00.dne-okta.com/api/v1/users
    method: POST
  response:
    body: "{\"id\":\"00uckrjuhkO8c7X8S0x7\",\"status\":\"PROVISIONED\",\"created\":\"2025-12-17T10:50:36.000Z\",\"activated\":\"2025-12-17T10:50:37.000Z\",\"statusChanged\":\"2025-12-17T10:50:37.000Z\",\"lastLogin\":null,\"lastUpdated\":\"2025-12-17T10:50:37.000Z\",\"passwordChanged\":null,\"realmId\":\"guobiiz9fiOFhQlea0x7\",\"type\":{\"id\":\"otybiiyra51eDWlk50x7\"},\"profile\":{\"firstName\":\"TestAcc\",\"lastName\":\"Entwhistle\",\"mobilePhone\":null,\"secondEmail\":null,\"login\":\"john_4216102407@thewho.com\",\"email\":\"john_4216102407@thewho.com\"},\"credentials\":{\"provider\":{\"type\":\"OKTA\",\"name\":\"OKTA\"}},\"_links\":{\"suspend\":{\"href\":\"https://classic-00.dne-okta.com/api/v1/users/00uckrjuhkO8c7X8S0x7/lifecycle/suspend\",\"method\":\"POST\"},\"schema\":{\"href\":\"https://classic-00.dne-okta.com/api/v1/meta/schemas/user/oscbiiyra51eDWlk50x7\"},\"resetPassword\":{\"href\":\"https://classic-00.dne-okta.com/api/v1/users/00uckrjuhkO8c7X8S0x7/lifecycle/reset_password\",\"method\":\"POST\"},\"reactivate\":{\"href\":\"https://classic-00.dne-okta.com/api/v1/users/00uckrjuhkO8c7X8S0x7/lifecycle/reactivate\",\"method\":\"POST\"},\"self\":{\"href\":\"https://classic-00.dne-okta.com/api/v1/users/00uckrjuhkO8c7X8S0x7\"},\"resetFactors\":{\"href\":\"https://classic-00.dne-okta.com/api/v1/users/00uckrjuhkO8c7X8S0x7/lifecycle/reset_factors\",\"method\":\"POST\"},\"type\":{\"href\":\"https://classic-00.dne-okta.com/api/v1/meta/types/user/otybiiyra51eDWlk50x7\"},\"deactivate\":{\"href\":\"https://classic-00.dne-okta.com/api/v1/users/00uckrjuhkO8c7X8S0x7/lifecycle/deactivate\",\"method\":\"POST\"}}}"
    headers:
      Accept-Ch:
      - Sec-CH-UA-Platform-Version
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 260.398333ms
[...]
- id: 4
  request:
    host: classic-00.dne-okta.com
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://classic-00.dne-okta.com/api/v1/groups/00gckrjwaz895pr660x7
    method: GET
  response:
    body: "{\"id\":\"00gckrjwaz895pr660x7\",\"created\":\"2025-12-17T10:50:37.000Z\",\"lastUpdated\":\"2025-12-17T10:50:37.000Z\",\"lastMembershipUpdated\":\"2025-12-17T10:50:37.000Z\",\"objectClass\":[\"okta:user_group\"],\"type\":\"OKTA_GROUP\",\"profile\":{\"name\":\"foo_4216102407\",\"description\":\"\"},\"_links\":{\"logo\":[{\"name\":\"medium\",\"href\":\"https://op2static2.oktacdn.com/assets/img/logos/groups/odyssey/okta-medium.30ce6d4085dff29412984e4c191bc874.png\",\"type\":\"image/png\"},{\"name\":\"large\",\"href\":\"https://op2static2.oktacdn.com/assets/img/logos/groups/odyssey/okta-large.c3cb8cda8ae0add1b4fe928f5844dbe3.png\",\"type\":\"image/png\"}],\"owners\":{\"href\":\"https://classic-00.dne-okta.com/api/v1/groups/00gckrjwaz895pr660x7/owners\"},\"users\":{\"href\":\"https://classic-00.dne-okta.com/api/v1/groups/00gckrjwaz895pr660x7/users\"},\"apps\":{\"href\":\"https://classic-00.dne-okta.com/api/v1/groups/00gckrjwaz895pr660x7/apps\"}}}"
    headers:
      Accept-Ch:
      - Sec-CH-UA-Platform-Version
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 169.1775ms
[...]
- id: 6
  request:
    host: classic-00.dne-okta.com
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://classic-00.dne-okta.com/api/v1/users/00uckrjuhkO8c7X8S0x7
    method: GET
  response:
    body: "{\"id\":\"00uckrjuhkO8c7X8S0x7\",\"status\":\"PROVISIONED\",\"created\":\"2025-12-17T10:50:36.000Z\",\"activated\":\"2025-12-17T10:50:37.000Z\",\"statusChanged\":\"2025-12-17T10:50:37.000Z\",\"lastLogin\":null,\"lastUpdated\":\"2025-12-17T10:50:37.000Z\",\"passwordChanged\":nu[...]
[...]
- id: 8
  request:
    host: classic-00.dne-okta.com
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://classic-00.dne-okta.com/api/v1/users/00uckrjuhoE4iailk0x7
    method: GET
  response:
    body: "{\"id\":\"00uckrjuhoE4iailk0x7\",\"status\":\"PROVISIONED\",\"created\":\"2025-12-17T10:50:36.000Z\",\"activated\":\"2025-12-17T10:50:37.000Z\",\"statusChanged\":\"2025-12-17T10:50:37.000Z\",\"lastLogin\":null,\"lastUpdated\":\"2025-12-17T10:50:37.000Z\",\"passwordChanged\":nu[...]
- id: 9
  request:
    host: classic-00.dne-okta.com
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://classic-00.dne-okta.com/api/v1/users/00uckrjxdarTNRuCx0x7
    method: GET
  response:
    body: "{\"id\":\"00uckrjxdarTNRuCx0x7\",\"status\":\"PROVISIONED\",\"created\":\"2025-12-17T10:50:36.000Z\",\"activated\":\"2025-12-17T10:50:37.000Z\",\"statusChanged\":\"2025-12-17T10:50:37.000Z\",\"lastLogin\":null,\"lastUpdated\":\"2025-12-17T10:50:37.000Z\",\"passwordChanged\":nu[...]
- id: 10
  request:
    host: classic-00.dne-okta.com
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://classic-00.dne-okta.com/api/v1/users/00uckrjv0srXvWZAL0x7
    method: GET
  response:
    body: "{\"id\":\"00uckrjv0srXvWZAL0x7\",\"status\":\"PROVISIONED\",\"created\":\"2025-12-17T10:50:36.000Z\",\"activated\":\"2025-12-17T10:50:37.000Z\",\"statusChanged\":\"2025-12-17T10:50:37.000Z\",\"lastLogin\":null,\"lastUpdated\":\"2025-12-17T10:50:37.000Z\",\"passwordChanged\":n[...]
- id: 11
  request:
    host: classic-00.dne-okta.com
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://classic-00.dne-okta.com/api/v1/groups/00gckrjwaz895pr660x7/users/00uckrjxdarTNRuCx0x7
    method: PUT
  response:
    body: ""
    headers:
      Accept-Ch:
      - Sec-CH-UA-Platform-Version
    status: 204 No Content
    code: 204
    duration: 165.386416ms
- id: 12
  request:
    host: classic-00.dne-okta.com
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://classic-00.dne-okta.com/api/v1/groups/00gckrjwaz895pr660x7/users/00uckrjuhkO8c7X8S0x7
    method: PUT
  response:
    body: ""
    headers:
      Accept-Ch:
      - Sec-CH-UA-Platform-Version
    status: 204 No Content
    code: 204
    duration: 106.061708ms
- id: 13
  request:
    host: classic-00.dne-okta.com
    form:
      limit:
      - "200"
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://classic-00.dne-okta.com/api/v1/groups/00gckrjwaz895pr660x7/users?limit=200
    method: GET
  response:
    body: "[]"
    headers:
      Accept-Ch:
      - Sec-CH-UA-Platform-Version
      Content-Type:
      - application/json
      Link:
      - <https://classic-00.dne-okta.com/api/v1/groups/00gckrjwaz895pr660x7/users?limit=200>; rel="self"
    status: 200 OK
    code: 200
    duration: 196.750959ms
[...]
