---
version: 2
interactions:
    - id: 0
      request:
        host: oie-00.dne-okta.com
        body: |
            {"profile":{"name":"foo_4216102407","description":""}}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://oie-00.dne-okta.com/api/v1/groups
        method: POST
      response:
        body: '{"id":"00gkwqrnf7RjmwjSP1d7","created":"2025-03-13T23:26:59.000Z","lastUpdated":"2025-03-13T23:26:59.000Z","lastMembershipUpdated":"2025-03-13T23:26:59.000Z","objectClass":["okta:user_group"],"type":"OKTA_GROUP","profile":{"name":"foo_4216102407","description":""},"_links":{"logo":[{"name":"medium","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-medium.30ce6d4085dff29412984e4c191bc874.png","type":"image/png"},{"name":"large","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-large.c3cb8cda8ae0add1b4fe928f5844dbe3.png","type":"image/png"}],"users":{"href":"https://oie-00.dne-okta.com/api/v1/groups/00gkwqrnf7RjmwjSP1d7/users"},"apps":{"href":"https://oie-00.dne-okta.com/api/v1/groups/00gkwqrnf7RjmwjSP1d7/apps"}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 221.828125ms
    - id: 1
      request:
        host: oie-00.dne-okta.com
        body: |
            {"credentials":{"password":{}},"profile":{"email":"john_4216102407@thewho.com","firstName":"TestAcc","lastName":"Entwhistle","login":"john_4216102407@thewho.com","postalAddress":null}}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://oie-00.dne-okta.com/api/v1/users
        method: POST
      response:
        body: '{"id":"00ukwqslrsn37q31x1d7","status":"PROVISIONED","created":"2025-03-13T23:26:59.000Z","activated":"2025-03-13T23:26:59.000Z","statusChanged":"2025-03-13T23:26:59.000Z","lastLogin":null,"lastUpdated":"2025-03-13T23:26:59.000Z","passwordChanged":null,"type":{"id":"oty5qwjvh0Vy1j8Kd1d7"},"profile":{"firstName":"TestAcc","lastName":"Entwhistle","mobilePhone":null,"secondEmail":null,"login":"john_4216102407@thewho.com","email":"john_4216102407@thewho.com"},"credentials":{"provider":{"type":"OKTA","name":"OKTA"}},"_links":{"suspend":{"href":"https://oie-00.dne-okta.com/api/v1/users/00ukwqslrsn37q31x1d7/lifecycle/suspend","method":"POST"},"schema":{"href":"https://oie-00.dne-okta.com/api/v1/meta/schemas/user/osc5qwjvh0Vy1j8Kd1d7"},"resetPassword":{"href":"https://oie-00.dne-okta.com/api/v1/users/00ukwqslrsn37q31x1d7/lifecycle/reset_password","method":"POST"},"reactivate":{"href":"https://oie-00.dne-okta.com/api/v1/users/00ukwqslrsn37q31x1d7/lifecycle/reactivate","method":"POST"},"self":{"href":"https://oie-00.dne-okta.com/api/v1/users/00ukwqslrsn37q31x1d7"},"type":{"href":"https://oie-00.dne-okta.com/api/v1/meta/types/user/oty5qwjvh0Vy1j8Kd1d7"},"deactivate":{"href":"https://oie-00.dne-okta.com/api/v1/users/00ukwqslrsn37q31x1d7/lifecycle/deactivate","method":"POST"}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 359.969292ms
[...]
    - id: 5
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/groups/00gkwqrnf7RjmwjSP1d7
        method: GET
      response:
        body: '{"id":"00gkwqrnf7RjmwjSP1d7","created":"2025-03-13T23:26:59.000Z","lastUpdated":"2025-03-13T23:26:59.000Z","lastMembershipUpdated":"2025-03-13T23:26:59.000Z","objectClass":["okta:user_group"],"type":"OKTA_GROUP","profile":{"name":"foo_4216102407","description":""},"_links":{"logo":[{"name":"medium","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-medium.30ce6d4085dff29412984e4c191bc874.png","type":"image/png"},{"name":"large","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-large.c3cb8cda8ae0add1b4fe928f5844dbe3.png","type":"image/png"}],"users":{"href":"https://oie-00.dne-okta.com/api/v1/groups/00gkwqrnf7RjmwjSP1d7/users"},"apps":{"href":"https://oie-00.dne-okta.com/api/v1/groups/00gkwqrnf7RjmwjSP1d7/apps"}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 248.805875ms
    - id: 6
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/users/00ukwqslrsn37q31x1d7
        method: GET
      response:
        body: '{"id":"00ukwqslrsn37q31x1d7","status":"PROVISIONED","created":"2025-03-13T23:26:59.000Z","activated":"2025-03-13T23:26:59.000Z","statusChanged":"2025-03-13T23:26:59.000Z","lastLogin":null,"lastUpdated":"[...]
    - id: 7
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/users/00ukwqxsbgV0d4dnj1d7
        method: GET
      response:
        body: '{"id":"00ukwqxsbgV0d4dnj1d7","status":"PROVISIONED","created":"2025-03-13T23:26:59.000Z","activated":"2025-03-13T23:26:59.000Z","statusChanged":"2025-03-13T23:26:59.000Z","lastLogin":null,"lastUpdated":"[...]
    - id: 8
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/users/00ukwqxoiyroWWwjx1d7
        method: GET
      response:
        body: '{"id":"00ukwqxoiyroWWwjx1d7","status":"PROVISIONED","created":"2025-03-13T23:26:59.000Z","activated":"2025-03-13T23:26:59.000Z","statusChanged":"2025-03-13T23:26:59.000Z","lastLogin":null,"lastUpdated":"[...]
[...]
    - id: 10
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/users/00ukwqxw7zBCXnQvD1d7
        method: GET
      response:
        body: '{"id":"00ukwqxw7zBCXnQvD1d7","status":"PROVISIONED","created":"2025-03-13T23:26:59.000Z","activated":"2025-03-13T23:26:59.000Z","statusChanged":"2025-03-13T23:26:59.000Z","lastLogin":null,"lastUpdated":[...]
    - id: 11
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/groups/00gkwqrnf7RjmwjSP1d7/users/00ukwqxsbgV0d4dnj1d7
        method: PUT
      response:
        body: ""
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
        status: 204 No Content
        code: 204
        duration: 243.111041ms
    - id: 12
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/groups/00gkwqrnf7RjmwjSP1d7/users/00ukwqslrsn37q31x1d7
        method: PUT
      response:
        body: ""
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
        status: 204 No Content
        code: 204
        duration: 283.208875ms
    - id: 13
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/groups/00gkwqrnf7RjmwjSP1d7/users?limit=200
        method: GET
      response:
        body: '[{"id":"00ukwqslrsn37q31x1d7","status":"PROVISIONED","created":"2025-03-13T23:26:59.000Z","activated":"2025-03-13T23:26:59.000Z","statusChanged":"2025-03-13T23:26:59.000Z","lastLogin":n[...]
[...]
