---
version: 2
interactions:
    - id: 0
      request:
        host: oie-00.dne-okta.com
        body: |
            {"gateways":[{"type":"RANGE","value":"192.168.1.1-192.168.1.10"}],"name":"testAcc_3440890524 Range","status":"ACTIVE","type":"IP","usage":"POLICY"}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://oie-00.dne-okta.com/api/v1/zones
        method: POST
      response:
        body: '{"type":"IP","id":"nzooq43hhsUavkLfz5d7","name":"testAcc_3440890524 Range","status":"ACTIVE","usage":"POLICY","created":"2025-05-14T08:49:16.000Z","lastUpdated":"2025-05-14T08:49:16.000Z","system":false,"gateways":[{"type":"RANGE","value":"192.168.1.1-192.168.1.10"}],"proxies":null,"_links":{"self":{"href":"https://oie-00.okta.com/api/v1/zones/nzooq43hhsUavkLfz5d7","hints":{"allow":["GET","PUT","DELETE"]}},"deactivate":{"href":"https://oie-00.okta.com/api/v1/zones/nzooq43hhsUavkLfz5d7/lifecycle/deactivate","hints":{"allow":["POST"]}}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.24964975s
[...]
    - id: 9
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/zones/nzooq4239kDHHwHW65d7
        method: GET
      response:
        body: '{"type":"IP","id":"nzooq4239kDHHwHW65d7","name":"testAcc_3440890524 Unchanged CIDR","status":"ACTIVE","usage":"POLICY","created":"2025-05-14T08:49:16.000Z","lastUpdated":"2025-05-14T08:49:16.000Z","system":false,"gateways":[{"type":"CIDR","value":"10.1.0.0/24"}],"proxies":null,"_links":{"self":{"href":"https://oie-00.okta.com/api/v1/zones/nzooq4239kDHHwHW65d7","hints":{"allow":["GET","PUT","DELETE"]}},"deactivate":{"href":"https://oie-00.okta.com/api/v1/zones/nzooq4239kDHHwHW65d7/lifecycle/deactivate","hints":{"allow":["POST"]}}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 178.871666ms
    - id: 10
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/zones/nzooq40zu6TOrwP9c5d7
        method: GET
      response:
        body: '{"type":"IP","id":"nzooq40zu6TOrwP9c5d7","name":"testAcc_3440890524 Changing Range","status":"ACTIVE","usage":"POLICY","created":"2025-05-14T08:49:16.000Z","lastUpdated":"2025-05-14T08:49:16.000Z","system":false,"gateways":[{"type":"RANGE","value":"172.16.0.1-172.16.0.10"}],"proxies":null,"_links":{"self":{"href":"https://oie-00.okta.com/api/v1/zones/nzooq40zu6TOrwP9c5d7","hints":{"allow":["GET","PUT","DELETE"]}},"deactivate":{"href":"https://oie-00.okta.com/api/v1/zones/nzooq40zu6TOrwP9c5d7/lifecycle/deactivate","hints":{"allow":["POST"]}}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 182.104625ms
    - id: 11
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/zones/nzooq42dltxMtrAbv5d7
        method: GET
      response:
        body: '{"type":"IP","id":"nzooq42dltxMtrAbv5d7","name":"testAcc_3440890524 CIDR","status":"ACTIVE","usage":"POLICY","created":"2025-05-14T08:49:16.000Z","lastUpdated":"2025-05-14T08:49:16.000Z","system":false,"gateways":[{"type":"CIDR","value":"192.168.1.0/24"}],"proxies":null,"_links":{"self":{"href":"https://oie-00.okta.com/api/v1/zones/nzooq42dltxMtrAbv5d7","hints":{"allow":["GET","PUT","DELETE"]}},"deactivate":{"href":"https://oie-00.okta.com/api/v1/zones/nzooq42dltxMtrAbv5d7/lifecycle/deactivate","hints":{"allow":["POST"]}}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 182.887625ms
    - id: 12
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/zones/nzooq43nk3D3c59Mz5d7
        method: GET
      response:
        body: '{"type":"IP","id":"nzooq43nk3D3c59Mz5d7","name":"testAcc_3440890524 Changing CIDR","status":"ACTIVE","usage":"POLICY","created":"2025-05-14T08:49:16.000Z","lastUpdated":"2025-05-14T08:49:16.000Z","system":false,"gateways":[{"type":"CIDR","value":"192.168.0.0/24"}],"proxies":null,"_links":{"self":{"href":"https://oie-00.okta.com/api/v1/zones/nzooq43nk3D3c59Mz5d7","hints":{"allow":["GET","PUT","DELETE"]}},"deactivate":{"href":"https://oie-00.okta.com/api/v1/zones/nzooq43nk3D3c59Mz5d7/lifecycle/deactivate","hints":{"allow":["POST"]}}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 192.968791ms
    - id: 13
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/zones/nzooq43hhsUavkLfz5d7
        method: GET
      response:
        body: '{"type":"IP","id":"nzooq43hhsUavkLfz5d7","name":"testAcc_3440890524 Range","status":"ACTIVE","usage":"POLICY","created":"2025-05-14T08:49:16.000Z","lastUpdated":"2025-05-14T08:49:16.000Z","system":false,"gateways":[{"type":"RANGE","value":"192.168.1.1-192.168.1.10"}],"proxies":null,"_links":{"self":{"href":"https://oie-00.okta.com/api/v1/zones/nzooq43hhsUavkLfz5d7","hints":{"allow":["GET","PUT","DELETE"]}},"deactivate":{"href":"https://oie-00.okta.com/api/v1/zones/nzooq43hhsUavkLfz5d7/lifecycle/deactivate","hints":{"allow":["POST"]}}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 375.200625ms
    - id: 14
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/zones/nzooq42e8xNeZ8p775d7
        method: GET
      response:
        body: '{"type":"IP","id":"nzooq42e8xNeZ8p775d7","name":"testAcc_3440890524 Mixed","status":"ACTIVE","usage":"POLICY","created":"2025-05-14T08:49:16.000Z","lastUpdated":"2025-05-14T08:49:16.000Z","system":false,"gateways":[{"type":"RANGE","value":"172.16.0.1-172.16.0.10"},{"type":"RANGE","value":"192.168.1.1-192.168.1.1"},{"type":"CIDR","value":"10.0.0.0/24"}],"proxies":null,"_links":{"self":{"href":"https://oie-00.okta.com/api/v1/zones/nzooq42e8xNeZ8p775d7","hints":{"allow":["GET","PUT","DELETE"]}},"deactivate":{"href":"https://oie-00.okta.com/api/v1/zones/nzooq42e8xNeZ8p775d7/lifecycle/deactivate","hints":{"allow":["POST"]}}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 380.223916ms
    - id: 15
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/zones/nzooq42nfqs2ckxPz5d7
        method: GET
      response:
        body: '{"type":"IP","id":"nzooq42nfqs2ckxPz5d7","name":"testAcc_3440890524 Unchanged Single","status":"ACTIVE","usage":"POLICY","created":"2025-05-14T08:49:16.000Z","lastUpdated":"2025-05-14T08:49:16.000Z","system":false,"gateways":[{"type":"RANGE","value":"192.168.2.1-192.168.2.1"}],"proxies":null,"_links":{"self":{"href":"https://oie-00.okta.com/api/v1/zones/nzooq42nfqs2ckxPz5d7","hints":{"allow":["GET","PUT","DELETE"]}},"deactivate":{"href":"https://oie-00.okta.com/api/v1/zones/nzooq42nfqs2ckxPz5d7/lifecycle/deactivate","hints":{"allow":["POST"]}}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 389.357083ms
    - id: 16
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/zones/nzooq42e8yCeJcMgF5d7
        method: GET
      response:
        body: '{"type":"IP","id":"nzooq42e8yCeJcMgF5d7","name":"testAcc_3440890524 Unchanged Range","status":"ACTIVE","usage":"POLICY","created":"2025-05-14T08:49:16.000Z","lastUpdated":"2025-05-14T08:49:16.000Z","system":false,"gateways":[{"type":"RANGE","value":"172.17.0.1-172.17.0.10"}],"proxies":null,"_links":{"self":{"href":"https://oie-00.okta.com/api/v1/zones/nzooq42e8yCeJcMgF5d7","hints":{"allow":["GET","PUT","DELETE"]}},"deactivate":{"href":"https://oie-00.okta.com/api/v1/zones/nzooq42e8yCeJcMgF5d7/lifecycle/deactivate","hints":{"allow":["POST"]}}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 399.45075ms
    - id: 17
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/zones/nzooq43khomS7zXxt5d7
        method: GET
      response:
        body: '{"type":"IP","id":"nzooq43khomS7zXxt5d7","name":"testAcc_3440890524 Changing Single","status":"ACTIVE","usage":"POLICY","created":"2025-05-14T08:49:16.000Z","lastUpdated":"2025-05-14T08:49:16.000Z","system":false,"gateways":[{"type":"RANGE","value":"192.168.1.1-192.168.1.1"}],"proxies":null,"_links":{"self":{"href":"https://oie-00.okta.com/api/v1/zones/nzooq43khomS7zXxt5d7","hints":{"allow":["GET","PUT","DELETE"]}},"deactivate":{"href":"https://oie-00.okta.com/api/v1/zones/nzooq43khomS7zXxt5d7/lifecycle/deactivate","hints":{"allow":["POST"]}}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 383.328125ms
[...]
    - id: 19
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/zones/nzooq43x7pR11qlSh5d7
        method: GET
      response:
        body: '{"type":"IP","id":"nzooq43x7pR11qlSh5d7","name":"testAcc_3440890524 Single","status":"ACTIVE","usage":"POLICY","created":"2025-05-14T08:49:46.000Z","lastUpdated":"2025-05-14T08:49:46.000Z","system":false,"gateways":[{"type":"RANGE","value":"192.168.1.1-192.168.1.1"}],"proxies":null,"_links":{"self":{"href":"https://oie-00.okta.com/api/v1/zones/nzooq43x7pR11qlSh5d7","hints":{"allow":["GET","PUT","DELETE"]}},"deactivate":{"href":"https://oie-00.okta.com/api/v1/zones/nzooq43x7pR11qlSh5d7/lifecycle/deactivate","hints":{"allow":["POST"]}}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 191.642333ms
[...]
    - id: 76
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/zones/nzooq43hhsUavkLfz5d7/lifecycle/deactivate
        method: POST
      response:
        body: '{"type":"IP","id":"nzooq43hhsUavkLfz5d7","name":"testAcc_3440890524 Range","status":"INACTIVE","usage":"POLICY","created":"2025-05-14T08:49:16.000Z","lastUpdated":"2025-05-14T08:50:22.000Z","system":false,"gateways":[{"type":"RANGE","value":"192.168.1.1-192.168.1.10"}],"proxies":null,"_links":{"activate":{"href":"https://oie-00.okta.com/api/v1/zones/nzooq43hhsUavkLfz5d7/lifecycle/activate","hints":{"allow":["POST"]}},"self":{"href":"https://oie-00.okta.com/api/v1/zones/nzooq43hhsUavkLfz5d7","hints":{"allow":["GET","PUT","DELETE"]}}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 185.702791ms
    - id: 77
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/zones/nzooq43nk3D3c59Mz5d7/lifecycle/deactivate
        method: POST
      response:
        body: '{"type":"IP","id":"nzooq43nk3D3c59Mz5d7","name":"testAcc_3440890524 Changing CIDR","status":"INACTIVE","usage":"POLICY","created":"2025-05-14T08:49:16.000Z","lastUpdated":"2025-05-14T08:50:22.000Z","system":false,"gateways":[{"type":"CIDR","value":"10.0.0.0/16"}],"proxies":null,"_links":{"activate":{"href":"https://oie-00.okta.com/api/v1/zones/nzooq43nk3D3c59Mz5d7/lifecycle/activate","hints":{"allow":["POST"]}},"self":{"href":"https://oie-00.okta.com/api/v1/zones/nzooq43nk3D3c59Mz5d7","hints":{"allow":["GET","PUT","DELETE"]}}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 201.797416ms
    - id: 78
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/zones/nzooq42e8xNeZ8p775d7/lifecycle/deactivate
        method: POST
      response:
        body: '{"type":"IP","id":"nzooq42e8xNeZ8p775d7","name":"testAcc_3440890524 Mixed","status":"INACTIVE","usage":"POLICY","created":"2025-05-14T08:49:16.000Z","lastUpdated":"2025-05-14T08:50:22.000Z","system":false,"gateways":[{"type":"RANGE","value":"172.16.0.1-172.16.0.10"},{"type":"RANGE","value":"192.168.1.1-192.168.1.1"},{"type":"CIDR","value":"10.0.0.0/24"}],"proxies":null,"_links":{"activate":{"href":"https://oie-00.okta.com/api/v1/zones/nzooq42e8xNeZ8p775d7/lifecycle/activate","hints":{"allow":["POST"]}},"self":{"href":"https://oie-00.okta.com/api/v1/zones/nzooq42e8xNeZ8p775d7","hints":{"allow":["GET","PUT","DELETE"]}}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 231.203166ms
    - id: 79
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/zones/nzooq42nfqs2ckxPz5d7/lifecycle/deactivate
        method: POST
      response:
        body: '{"type":"IP","id":"nzooq42nfqs2ckxPz5d7","name":"testAcc_3440890524 Unchanged Single","status":"INACTIVE","usage":"POLICY","created":"2025-05-14T08:49:16.000Z","lastUpdated":"2025-05-14T08:50:22.000Z","system":false,"gateways":[{"type":"RANGE","value":"192.168.2.1-192.168.2.1"}],"proxies":null,"_links":{"activate":{"href":"https://oie-00.okta.com/api/v1/zones/nzooq42nfqs2ckxPz5d7/lifecycle/activate","hints":{"allow":["POST"]}},"self":{"href":"https://oie-00.okta.com/api/v1/zones/nzooq42nfqs2ckxPz5d7","hints":{"allow":["GET","PUT","DELETE"]}}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 231.449959ms
    - id: 80
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/zones/nzooq40zu6TOrwP9c5d7/lifecycle/deactivate
        method: POST
      response:
        body: '{"type":"IP","id":"nzooq40zu6TOrwP9c5d7","name":"testAcc_3440890524 Changing Range","status":"INACTIVE","usage":"POLICY","created":"2025-05-14T08:49:16.000Z","lastUpdated":"2025-05-14T08:50:22.000Z","system":false,"gateways":[{"type":"RANGE","value":"172.16.0.1-172.16.0.20"}],"proxies":null,"_links":{"activate":{"href":"https://oie-00.okta.com/api/v1/zones/nzooq40zu6TOrwP9c5d7/lifecycle/activate","hints":{"allow":["POST"]}},"self":{"href":"https://oie-00.okta.com/api/v1/zones/nzooq40zu6TOrwP9c5d7","hints":{"allow":["GET","PUT","DELETE"]}}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 231.980125ms
    - id: 81
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/zones/nzooq42e8yCeJcMgF5d7/lifecycle/deactivate
        method: POST
      response:
        body: '{"type":"IP","id":"nzooq42e8yCeJcMgF5d7","name":"testAcc_3440890524 Unchanged Range","status":"INACTIVE","usage":"POLICY","created":"2025-05-14T08:49:16.000Z","lastUpdated":"2025-05-14T08:50:22.000Z","system":false,"gateways":[{"type":"RANGE","value":"172.17.0.1-172.17.0.10"}],"proxies":null,"_links":{"activate":{"href":"https://oie-00.okta.com/api/v1/zones/nzooq42e8yCeJcMgF5d7/lifecycle/activate","hints":{"allow":["POST"]}},"self":{"href":"https://oie-00.okta.com/api/v1/zones/nzooq42e8yCeJcMgF5d7","hints":{"allow":["GET","PUT","DELETE"]}}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 247.799875ms
    - id: 82
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/zones/nzooq43x7pR11qlSh5d7/lifecycle/deactivate
        method: POST
      response:
        body: '{"type":"IP","id":"nzooq43x7pR11qlSh5d7","name":"testAcc_3440890524 Single","status":"INACTIVE","usage":"POLICY","created":"2025-05-14T08:49:46.000Z","lastUpdated":"2025-05-14T08:50:22.000Z","system":false,"gateways":[{"type":"RANGE","value":"192.168.1.1-192.168.1.1"}],"proxies":null,"_links":{"activate":{"href":"https://oie-00.okta.com/api/v1/zones/nzooq43x7pR11qlSh5d7/lifecycle/activate","hints":{"allow":["POST"]}},"self":{"href":"https://oie-00.okta.com/api/v1/zones/nzooq43x7pR11qlSh5d7","hints":{"allow":["GET","PUT","DELETE"]}}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 395.690959ms
[...]
    - id: 85
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/zones/nzooq4239kDHHwHW65d7/lifecycle/deactivate
        method: POST
      response:
        body: '{"type":"IP","id":"nzooq4239kDHHwHW65d7","name":"testAcc_3440890524 Unchanged CIDR","status":"INACTIVE","usage":"POLICY","created":"2025-05-14T08:49:16.000Z","lastUpdated":"2025-05-14T08:50:22.000Z","system":false,"gateways":[{"type":"CIDR","value":"10.1.0.0/24"}],"proxies":null,"_links":{"activate":{"href":"https://oie-00.okta.com/api/v1/zones/nzooq4239kDHHwHW65d7/lifecycle/activate","hints":{"allow":["POST"]}},"self":{"href":"https://oie-00.okta.com/api/v1/zones/nzooq4239kDHHwHW65d7","hints":{"allow":["GET","PUT","DELETE"]}}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 445.159708ms
    - id: 86
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/zones/nzooq43khomS7zXxt5d7/lifecycle/deactivate
        method: POST
      response:
        body: '{"type":"IP","id":"nzooq43khomS7zXxt5d7","name":"testAcc_3440890524 Changing Single","status":"INACTIVE","usage":"POLICY","created":"2025-05-14T08:49:16.000Z","lastUpdated":"2025-05-14T08:50:22.000Z","system":false,"gateways":[{"type":"RANGE","value":"192.168.1.2-192.168.1.2"}],"proxies":null,"_links":{"activate":{"href":"https://oie-00.okta.com/api/v1/zones/nzooq43khomS7zXxt5d7/lifecycle/activate","hints":{"allow":["POST"]}},"self":{"href":"https://oie-00.okta.com/api/v1/zones/nzooq43khomS7zXxt5d7","hints":{"allow":["GET","PUT","DELETE"]}}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 445.287416ms
    - id: 87
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/zones/nzooq42dltxMtrAbv5d7/lifecycle/deactivate
        method: POST
      response:
        body: '{"type":"IP","id":"nzooq42dltxMtrAbv5d7","name":"testAcc_3440890524 CIDR","status":"INACTIVE","usage":"POLICY","created":"2025-05-14T08:49:16.000Z","lastUpdated":"2025-05-14T08:50:22.000Z","system":false,"gateways":[{"type":"CIDR","value":"192.168.1.0/24"}],"proxies":null,"_links":{"activate":{"href":"https://oie-00.okta.com/api/v1/zones/nzooq42dltxMtrAbv5d7/lifecycle/activate","hints":{"allow":["POST"]}},"self":{"href":"https://oie-00.okta.com/api/v1/zones/nzooq42dltxMtrAbv5d7","hints":{"allow":["GET","PUT","DELETE"]}}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 460.559167ms
[...]
    - id: 96
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/zones/nzooq43khomS7zXxt5d7
        method: GET
      response:
        body: '{"errorCode":"E0000007","errorSummary":"Not found: Resource not found: nzooq43khomS7zXxt5d7 (NetworkZone)","errorLink":"E0000007","errorId":"oaezx_8VD9aQYq6Y6vWGQ9IOg","errorCauses":[]}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 185.930334ms
[...]
