---
version: 2
interactions:
    - id: 0
      request:
        host: mm-oie-2022-10-07-max.oktapreview.com
        body: |
            {"description":"Terraform Acceptance Test User Type","displayName":"Terraform Acceptance Test User Type","name":"testAcc_2379747673"}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/meta/types/user
        method: POST
      response:
        body: '{"id":"oty95ulgzz0tiBD7M1d7","displayName":"Terraform Acceptance Test User Type","name":"testAcc_2379747673","description":"Terraform Acceptance Test User Type","createdBy":"00u5qwjvk7u6E1DFG1d7","lastUpdatedBy":"00u5qwjvk7u6E1DFG1d7","created":"2023-07-27T19:58:17.000Z","lastUpdated":"2023-07-27T19:58:17.000Z","default":false,"_links":{"schema":{"rel":"schema","href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/meta/schemas/user/osc95ulgzz0tiBD7M1d7","method":"GET"},"self":{"rel":"self","href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/meta/types/user/oty95ulgzz0tiBD7M1d7","method":"GET"}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 171.047539ms
    - id: 1
      request:
        host: mm-oie-2022-10-07-max.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/meta/types/user/oty95ulgzz0tiBD7M1d7
        method: GET
      response:
        body: '{"id":"oty95ulgzz0tiBD7M1d7","displayName":"Terraform Acceptance Test User Type","name":"testAcc_2379747673","description":"Terraform Acceptance Test User Type","createdBy":"00u5qwjvk7u6E1DFG1d7","lastUpdatedBy":"00u5qwjvk7u6E1DFG1d7","created":"2023-07-27T19:58:17.000Z","lastUpdated":"2023-07-27T19:58:17.000Z","default":false,"_links":{"schema":{"rel":"schema","href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/meta/schemas/user/osc95ulgzz0tiBD7M1d7","method":"GET"},"self":{"rel":"self","href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/meta/types/user/oty95ulgzz0tiBD7M1d7","method":"GET"}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 59.330386ms
[...]
    - id: 9
      request:
        host: mm-oie-2022-10-07-max.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/meta/types/user/oty95ulgzz0tiBD7M1d7
        method: GET
      response:
        body: '{"errorCode":"E0000007","errorSummary":"Not found: Resource not found: oty95ulgzz0tiBD7M1d7 (CVDType)","errorLink":"E0000007","errorId":"oaem4dkxHpuRIKAYPUWXESsVA","errorCauses":[]}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 69.233674ms
