---
version: 2
interactions:
    - id: 0
      request:
        host: oie-00.dne-okta.com
        body: |
            {"name":"testAcc_1978892195","secretKey":"random_secret_key","siteKey":"random_key","type":"HCAPTCHA"}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://oie-00.dne-okta.com/api/v1/captchas
        method: POST
      response:
        body: '{"id":"cap114est9iToSuwp1d8","name":"testAcc_1978892195","siteKey":"random_key","type":"HCAPTCHA","_links":{"self":{"href":"https://oie-00.dne-okta.com/api/v1/captchas/cap114est9iToSuwp1d8","hints":{"allow":["GET","POST","PUT","DELETE"]}}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 1.2s
    - id: 1
      request:
        host: oie-00.dne-okta.com
        body: |
            {"captchaId":"cap114est9iToSuwp1d8","enabledPages":["SIGN_IN"]}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://oie-00.dne-okta.com/api/v1/org/captcha
        method: PUT
      response:
        body: '{"enabledPages":["SIGN_IN"],"captchaId":"cap114est9iToSuwp1d8","_links":{"captcha":{"href":"https://oie-00.dne-okta.com/api/v1/captchas/cap114est9iToSuwp1d8","hints":{"allow":["GET","POST","PUT","DELETE"]}},"self":{"href":"https://oie-00.dne-okta.com/api/v1/org/captcha","hints":{"allow":["GET","PUT"]}}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.1s
    - id: 2
      request:
        host: oie-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/captchas/cap114est9iToSuwp1d8
        method: GET
      response:
        body: '{"id":"cap114est9iToSuwp1d8","name":"testAcc_1978892195","siteKey":"random_key","type":"HCAPTCHA","_links":{"self":{"href":"https://oie-00.dne-okta.com/api/v1/captchas/cap114est9iToSuwp1d8","hints":{"allow":["GET","POST","PUT","DELETE"]}}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.08s
[...]
