---
version: 2
interactions:
- id: 0
  request:
    host: classic-00.dne-okta.com
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://classic-00.dne-okta.com/api/v1/hook-keys/abcdefghij0123456789
    method: GET
  response:
    body: "{\"id\":\"abcdefghij0123456789\",\"keyId\":\"074497ab-411a-44fd-b84d-676e1f6cb3c7\",\"name\":\"test_hook_key\",\"created\":\"2025-10-24T08:52:43.000Z\",\"lastUpdated\":\"2025-10-24T09:21:48.000Z\",\"isUsed\":false}"
    headers:
      Accept-Ch:
      - Sec-CH-UA-Platform-Version
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 1.06388225s
[...]
