---
version: 2
interactions:
- id: 0
  request:
    host: classic-00.dne-okta.com
    body: "{\"definitions\":{\"custom\":{\"id\":\"#custom\",\"properties\":{\"array123\":{\"items\":{\"type\":\"string\"},\"master\":{\"type\":\"PROFILE_MASTER\"},\"permissions\":[{\"action\":\"READ_ONLY\",\"principal\":\"SELF\"}],\"required\":false,\"scope\":\"NONE\",\"title\":\"terraform acceptance test\",\"type\":\"array\"}},\"type\":\"object\"}}}\n"
    headers:
      Authorization:
      - SSWS REDACTED
      Content-Type:
      - application/json
    url: https://classic-00.dne-okta.com/api/v1/meta/schemas/user/default
    method: POST
  response:
    body: "{\"id\":\"https://classic-00.dne-okta.com/meta/schemas/user/default\",\"$schema\":\"http://json-schema.org/draft-04/schema#\",\"name\":\"user\",\"title\":\"User\",\"description\":\"Okta user profile template with default permission settings\",\"lastUpdated\":\"2025-12-17T11:01:07.000Z\",\"created\":\"2025-08-20T20:18:26.000Z\",\"definitions\":{\"custom\":{\"id\":\"#custom\",\"type\":\"object\",\"properties\":{\"array123\":{\"title\":\"terraform acceptance test\",\"type\":\"array\",\"mutability\":\"READ_WRITE\",\"scope\":\"NONE\",\"items\":{\"type\":\"string\"},\"permissions\":[{\"principal\":\"SELF\",\"action\":\"READ_ONLY\"}],\"master\":{\"type\":\"PROFILE_MASTER\"}}},\"required\":[]},\"base\":{\"id\":\"#base\",\"type\":\"object\",\"properties\":{\"login\":{\"title\":\"Username\",\"type\":\"string\",\"required\":true,\"mutability\":\"READ_WRITE\",\"scope\":\"NONE\",\"minLength\":5,\"maxLength\":100,\"permissions\":[{\"principal\":\"SELF\",\"action\":\"READ_ONLY\"}],\"master\":{\"type\":\"PROFILE_MASTER\"}},\"firstName\":{\"title\":\"First name\",\"type\":\"string\",\"required\":true,\"mutability\":\"READ_WRITE\",\"scope\":\"NONE\",\"minLength\":1,\"maxLength\":50,\"permissions\":[{\"principal\":\"SELF\",\"action\":\"READ_WRITE\"}],\"master\":{\"type\":\"PROFILE_MASTER\"}},\"lastName\":{\"title\":\"Last name\",\"type\":\"string\",\"required\":true,\"mutability\":\"READ_WRITE\",\"scope\":\"NONE\",\"minLength\":1,\"maxLength\":50,\"permissions\":[{\"principal\":\"SELF\",\"action\":\"READ_WRITE\"}],\"master\":{\"type\":\"PROFILE_MASTER\"}},\"middleName\":{\"title\":\"Middle name\",\"type\":\"string\",\"mutability\":\"READ_WRITE\",\"scope\":\"NONE\",\"permissions\":[{\"principal\":\"SELF\",\"action\":\"READ_ONLY\"}],\"master\":{\"type\":\"PROFILE_MASTER\"}},\"honorificPrefix\":{\"title\":\"Honorific prefix\",\"type\":\"string\",\"mutability\":\"READ_WRITE\",\"scope\":\"NONE\",\"permissions\":[{\"principal\":\"SELF\",\"action\":\"READ_ONLY\"}],\"master\":{\"type\":\"PROFILE_MASTER\"}},\"honorificSuffix\":{\"title\":\"Honorific suffix\",\"type\":\"string\",\"mutability\":\"READ_WRITE\",\"scope\":\"NONE\",\"permissions\":[{\"principal\":\"SELF\",\"action\":\"READ_ONLY\"}],\"master\":{\"type\":\"PROFILE_MASTER\"}},\"email\":{\"title\":\"Primary email\",\"type\":\"string\",\"required\":true,\"format\":\"email\",\"mutability\":\"READ_WRITE\",\"scope\":\"NONE\",\"permissions\":[{\"principal\":\"SELF\",\"action\":\"READ_WRITE\"}],\"master\":{\"type\":\"PROFILE_MASTER\"}},\"title\":{\"title\":\"Title\",\"type\":\"string\",\"mutability\":\"READ_WRITE\",\"scope\":\"NONE\",\"permissions\":[{\"principal\":\"SELF\",\"action\":\"READ_ONLY\"}],\"master\":{\"type\":\"PROFILE_MASTER\"}},\"displayName\":{\"title\":\"Display name\",\"type\":\"string\",\"mutability\":\"READ_WRITE\",\"scope\":\"NONE\",\"permissions\":[{\"principal\":\"SELF\",\"action\":\"READ_ONLY\"}],\"master\":{\"type\":\"PROFILE_MASTER\"}},\"nickName\":{\"title\":\"Nickname\",\"type\":\"string\",\"mutability\":\"READ_WRITE\",\"scope\":\"NONE\",\"permissions\":[{\"principal\":\"SELF\",\"action\":\"READ_ONLY\"}],\"master\":{\"type\":\"PROFILE_MASTER\"}},\"profileUrl\":{\"title\":\"Profile Url\",\"type\":\"string\",\"format\":\"uri\",\"mutability\":\"READ_WRITE\",\"scope\":\"NONE\",\"permissions\":[{\"principal\":\"SELF\",\"action\":\"READ_ONLY\"}],\"master\":{\"type\":\"PROFILE_MASTER\"}},\"secondEmail\":{\"title\":\"Secondary email\",\"type\":\"string\",\"format\":\"email\",\"mutability\":\"READ_WRITE\",\"scope\":\"NONE\",\"permissions\":[{\"principal\":\"SELF\",\"action\":\"READ_WRITE\"}],\"master\":{\"type\":\"PROFILE_MASTER\"}},\"mobilePhone\":{\"title\":\"Mobile phone\",\"type\":\"string\",\"mutability\":\"READ_WRITE\",\"scope\":\"NONE\",\"maxLength\":100,\"permissions\":[{\"principal\":\"SELF\",\"action\":\"READ_WRITE\"}],\"master\":{\"type\":\"PROFILE_MASTER\"}},\"primaryPhone\":{\"title\":\"Primary phone\",\"type\":\"string\",\"mutability\":\"READ_WRITE\",\"scope\":\"NONE\",\"maxLength\":100,\"permissions\":[{\"principal\":\"SELF\",\"action\":\"HIDE\"}],\"master\":{\"type\":\"PROFILE_MASTER\"}},\"streetAddress\":{\"title\":\"Street address\",\"type\":\"string\",\"mutability\":\"READ_WRITE\",\"scope\":\"NONE\",\"permissions\":[{\"principal\":\"SELF\",\"action\":\"HIDE\"}],\"master\":{\"type\":\"PROFILE_MASTER\"}},\"city\":{\"title\":\"City\",\"type\":\"string\",\"mutability\":\"READ_WRITE\",\"scope\":\"NONE\",\"permissions\":[{\"principal\":\"SELF\",\"action\":\"HIDE\"}],\"master\":{\"type\":\"PROFILE_MASTER\"}},\"state\":{\"title\":\"State\",\"type\":\"string\",\"mutability\":\"READ_WRITE\",\"scope\":\"NONE\",\"permissions\":[{\"principal\":\"SELF\",\"action\":\"HIDE\"}],\"master\":{\"type\":\"PROFILE_MASTER\"}},\"zipCode\":{\"title\":\"Zip code\",\"type\":\"string\",\"mutability\":\"READ_WRITE\",\"scope\":\"NONE\",\"permissions\":[{\"principal\":\"SELF\",\"action\":\"HIDE\"}],\"master\":{\"type\":\"PROFILE_MASTER\"}},\"countryCode\":{\"title\":\"Country code\",\"type\":\"string\",\"format\":\"country-code\",\"mutability\":\"READ_WRITE\",\"scope\":\"NONE\",\"permissions\":[{\"principal\":\"SELF\",\"action\":\"HIDE\"}],\"master\":{\"type\":\"PROFILE_MASTER\"}},\"postalAddress\":{\"title\":\"Postal Address\",\"type\":\"string\",\"mutability\":\"READ_WRITE\",\"scope\":\"NONE\",\"permissions\":[{\"principal\":\"SELF\",\"action\":\"HIDE\"}],\"master\":{\"type\":\"PROFILE_MASTER\"}},\"preferredLanguage\":{\"title\":\"Preferred language\",\"type\":\"string\",\"format\":\"language-code\",\"mutability\":\"READ_WRITE\",\"scope\":\"NONE\",\"permissions\":[{\"principal\":\"SELF\",\"action\":\"READ_ONLY\"}],\"master\":{\"type\":\"PROFILE_MASTER\"}},\"locale\":{\"title\":\"Locale\",\"type\":\"string\",\"format\":\"locale\",\"mutability\":\"READ_WRITE\",\"scope\":\"NONE\",\"permissions\":[{\"principal\":\"SELF\",\"action\":\"READ_ONLY\"}],\"master\":{\"type\":\"PROFILE_MASTER\"}},\"timezone\":{\"title\":\"Time zone\",\"type\":\"string\",\"format\":\"timezone\",\"mutability\":\"READ_WRITE\",\"scope\":\"NONE\",\"permissions\":[{\"principal\":\"SELF\",\"action\":\"READ_ONLY\"}],\"master\":{\"type\":\"PROFILE_MASTER\"}},\"userType\":{\"title\":\"User type\",\"type\":\"string\",\"mutability\":\"READ_WRITE\",\"scope\":\"NONE\",\"permissions\":[{\"principal\":\"SELF\",\"action\":\"READ_ONLY\"}],\"master\":{\"type\":\"PROFILE_MASTER\"}},\"employeeNumber\":{\"title\":\"Employee number\",\"type\":\"string\",\"mutability\":\"READ_WRITE\",\"scope\":\"NONE\",\"permissions\":[{\"principal\":\"SELF\",\"action\":\"READ_ONLY\"}],\"master\":{\"type\":\"PROFILE_MASTER\"}},\"costCenter\":{\"title\":\"Cost center\",\"type\":\"string\",\"mutability\":\"READ_WRITE\",\"scope\":\"NONE\",\"permissions\":[{\"principal\":\"SELF\",\"action\":\"READ_ONLY\"}],\"master\":{\"type\":\"PROFILE_MASTER\"}},\"organization\":{\"title\":\"Organization\",\"type\":\"string\",\"mutability\":\"READ_WRITE\",\"scope\":\"NONE\",\"permissions\":[{\"principal\":\"SELF\",\"action\":\"READ_ONLY\"}],\"master\":{\"type\":\"PROFILE_MASTER\"}},\"division\":{\"title\":\"Division\",\"type\":\"string\",\"mutability\":\"READ_WRITE\",\"scope\":\"NONE\",\"permissions\":[{\"principal\":\"SELF\",\"action\":\"READ_ONLY\"}],\"master\":{\"type\":\"PROFILE_MASTER\"}},\"department\":{\"title\":\"Department\",\"type\":\"string\",\"mutability\":\"READ_WRITE\",\"scope\":\"NONE\",\"permissions\":[{\"principal\":\"SELF\",\"action\":\"READ_ONLY\"}],\"master\":{\"type\":\"PROFILE_MASTER\"}},\"managerId\":{\"title\":\"ManagerId\",\"type\":\"string\",\"mutability\":\"READ_WRITE\",\"scope\":\"NONE\",\"permissions\":[{\"principal\":\"SELF\",\"action\":\"READ_ONLY\"}],\"master\":{\"type\":\"PROFILE_MASTER\"}},\"manager\":{\"title\":\"Manager\",\"type\":\"string\",\"mutability\":\"READ_WRITE\",\"scope\":\"NONE\",\"permissions\":[{\"principal\":\"SELF\",\"action\":\"READ_ONLY\"}],\"master\":{\"type\":\"PROFILE_MASTER\"}}},\"required\":[\"login\",\"firstName\",\"lastName\",\"email\"]}},\"type\":\"object\",\"properties\":{\"profile\":{\"allOf\":[{\"$ref\":\"#/definitions/custom\"},{\"$ref\":\"#/definitions/base\"}]}},\"_links\":{\"self\":{\"rel\":\"self\",\"href\":\"https://classic-00.dne-okta.com/api/v1/meta/schemas/user/oscbiiyra51eDWlk50x7\",\"method\":\"GET\"},\"type\":{\"rel\":\"type\",\"href\":\"https://classic-00.dne-okta.com/api/v1/meta/types/user/otybiiyra51eDWlk50x7\",\"method\":\"GET\"}}}"
    headers:
      Accept-Ch:
      - Sec-CH-UA-Platform-Version
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 162.909208ms
[...]
- id: 2
  request:
    host: classic-00.dne-okta.com
    body: "{\"definitions\":{\"custom\":{\"id\":\"#custom\",\"properties\":{\"number123\":{\"master\":{\"type\":\"PROFILE_MASTER\"},\"permissions\":[{\"action\":\"READ_ONLY\",\"principal\":\"SELF\"}],\"required\":false,\"scope\":\"NONE\",\"title\":\"terraform acceptance test\",\"type\":\"number\"}},\"type\":\"object\"}}}\n"
    headers:
      Authorization:
      - SSWS REDACTED
      Content-Type:
      - application/json
    url: https://classic-00.dne-okta.com/api/v1/meta/schemas/user/default
    method: POST
  response:
    body: "{\"id\":\"https://classic-00.dne-okta.com/meta/sc[...]
[...]
- id: 4
  request:
    host: classic-00.dne-okta.com
    body: "{\"credentials\":{\"password\":{}},\"profile\":{\"array123\":[\"test\"],\"email\":\"testAcc-534478790@example.com\",\"firstName\":\"TestAcc\",\"lastName\":\"Smith\",\"login\":\"testAcc-534478790@example.com\",\"number123\":1,\"postalAddress\":null}}\n"
    headers:
      Authorization:
      - SSWS REDACTED
      Content-Type:
      - application/json
    url: https://classic-00.dne-okta.com/api/v1/users
    method: POST
  response:
    body: "{\"id\":\"00uckrlogqcaCAOmA0x7\",\"status\":\"PROVISIONED\",\"created\":\"2025-12-17T11:01:08.000Z\",\"activated\":\"2025-12-17T11:01:08.000Z\",\"statusChanged\":\"2025-12-17T11:01:08.000Z\",\"lastLogin\":null,\"lastUpdated\":\"2025-12-17T11:01:08.000Z\",\"passwordChanged\":null,\"realmId\":\"guobiiz9fiOFhQlea0x7\",\"type\":{\"id\":\"otybiiyra51eDWlk50x7\"},\"profile\":{\"firstName\":\"TestAcc\",\"lastName\":\"Smith\",\"mobilePhone\":null,\"array123\":[\"test\"],\"secondEmail\":null,\"login\":\"testAcc-534478790@example.com\",\"number123\":1,\"email\":\"testAcc-534478790@example.com\"},\"credentials\":{\"provider\":{\"type\":\"OKTA\",\"name\":\"OKTA\"}},\"_links\":{\"suspend\":{\"href\":\"https://classic-00.dne-okta.com/api/v1/users/00uckrlogqcaCAOmA0x7/lifecycle/suspend\",\"method\":\"POST\"},\"schema\":{\"href\":\"https://classic-00.dne-okta.com/api/v1/meta/schemas/user/oscbiiyra51eDWlk50x7\"},\"resetPassword\":{\"href\":\"https://classic-00.dne-okta.com/api/v1/users/00uckrlogqcaCAOmA0x7/lifecycle/reset_password\",\"method\":\"POST\"},\"reactivate\":{\"href\":\"https://classic-00.dne-okta.com/api/v1/users/00uckrlogqcaCAOmA0x7/lifecycle/reactivate\",\"method\":\"POST\"},\"self\":{\"href\":\"https://classic-00.dne-okta.com/api/v1/users/00uckrlogqcaCAOmA0x7\"},\"resetFactors\":{\"href\":\"https://classic-00.dne-okta.com/api/v1/users/00uckrlogqcaCAOmA0x7/lifecycle/reset_factors\",\"method\":\"POST\"},\"type\":{\"href\":\"https://classic-00.dne-okta.com/api/v1/meta/types/user/otybiiyra51eDWlk50x7\"},\"deactivate\":{\"href\":\"https://classic-00.dne-okta.com/api/v1/users/00uckrlogqcaCAOmA0x7/lifecycle/deactivate\",\"method\":\"POST\"}}}"
    headers:
      Accept-Ch:
      - Sec-CH-UA-Platform-Version
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 402.5265ms
- id: 5
  request:
    host: classic-00.dne-okta.com
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://classic-00.dne-okta.com/api/v1/users/00uckrlogqcaCAOmA0x7
    method: GET
  response:
    body: "{\"id\":\"00uckrlogqcaCAOmA0x7\",\"status\":\"PROVISIONED\",\"created\":\"2025-12-17T11:01:08.000Z\",\"activated\":\"2025-12-17T11:01:08.000Z\",\"statusChanged\":\"2025-12-17T11:01:08.000Z\",\"lastLogin\":null,\"lastUpdated\":\"2025-12-17T11:01:08.000Z\",\"passwordChanged\":nu[...]
[...]
- id: 13
  request:
    host: classic-00.dne-okta.com
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://classic-00.dne-okta.com/api/v1/users/00uckrlk3e3zrQYtm0x7
    method: GET
  response:
    body: "{\"id\":\"00uckrlk3e3zrQYtm0x7\",\"status\":\"PROVISIONED\",\"created\":\"2025-12-17T11:01:09.000Z\",\"activated\":\"2025-12-17T11:01:10.000Z\",\"statusChanged\":\"2025-12-17T11:01:10.000Z\",\"lastLogin\":null,\"lastUpdated\":\"2025-12-17T11:01:10.000Z\",\"passwordChanged\":n[...]
[...]
- id: 15
  request:
    host: classic-00.dne-okta.com
    form:
      limit:
      - "1"
      search:
      - profile.lastName eq "Smith" and profile.firstName eq "TestAcc"
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://classic-00.dne-okta.com/api/v1/users?limit=1&search=profile.lastName+eq+%22Smith%22+and+profile.firstName+eq+%22TestAcc%22
    method: GET
  response:
    body: "[{\"id\":\"00uckrlogqcaCAOmA0x7\",\"status\":\"PROVISIONED\",\"created\":\"2025-12-17T11:01:08.000Z\",\"activated\":\"2025-12-17T11:01:08.000Z\",\"statusChanged\":\"2025-12-17T11:01:08.000Z\",\"lastLogin\":null,\"lastUpdated\":\"2025-12-17T11:01:08.000Z\",\"passwordChanged\":null,\"realmId\":\"guobiiz9fiOFhQlea0x7\",\"type\":{\"id\":\"otybiiyra51eDWlk50x7\"},\"profile\":{\"firstName\":\"TestAcc\",\"lastName\":\"Smith\",\"mobilePhone\":null,\"array123\":[\"test\"],\"secondEmail\":null,\"login\":\"testAcc-534478790@example.com\",\"number123\":1,\"email\":\"testAcc-534478790@example.com\"},\"credentials\":{\"provider\":{\"type\":\"OKTA\",\"name\":\"OKTA\"}},\"_links\":{\"self\":{\"href\":\"https://classic-00.dne-okta.com/api/v1/users/00uckrlogqcaCAOmA0x7\"}}}]"
    headers:
      Accept-Ch:
      - Sec-CH-UA-Platform-Version
      Content-Type:
      - application/json
      Link:
      - <https://classic-00.dne-okta.com/api/v1/users?limit=1&search=profile.lastName+eq+%22Smith%22+and+profile.firstName+eq+%22TestAcc%22>; rel="self"
    status: 200 OK
    code: 200
    duration: 135.911041ms
- id: 16
  request:
    host: classic-00.dne-okta.com
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://classic-00.dne-okta.com/api/v1/users/00uckrlogqcaCAOmA0x7/roles
    method: GET
  response:
    body: "[]"
    headers:
      Accept-Ch:
      - Sec-CH-UA-Platform-Version
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 187.92825ms
[...]
- id: 20
  request:
    host: classic-00.dne-okta.com
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://classic-00.dne-okta.com/api/v1/users/00uckrlogqcaCAOmA0x7/groups
    method: GET
  response:
    body: "[{\"id\":\"00gbiiyr9vU7iIKuk0x7\",\"created\":\"2025-08-20T20:18:26.000Z\",\"lastUpdated\":\"2025-08-20T20:18:26.000Z\",\"lastMembershipUpdated\":\"2025-12-17T10:52:56.000Z\",\"objectClass\":[\"okta:user_group\"],\"type\":\"BUILT_IN\",\"profile\":{\"name\":\"Everyone\",\"description\":\"All users in your organization\"},\"_links\":{\"logo\":[{\"name\":\"medium\",\"href\":\"https://op2static2.oktacdn.com/assets/img/logos/groups/odyssey/okta-medium.30ce6d4085dff29412984e4c191bc874.png\",\"type\":\"image/png\"},{\"name\":\"large\",\"href\":\"https://op2static2.oktacdn.com/assets/img/logos/groups/odyssey/okta-large.c3cb8cda8ae0add1b4fe928f5844dbe3.png\",\"type\":\"image/png\"}],\"owners\":{\"href\":\"https://classic-00.dne-okta.com/api/v1/groups/00gbiiyr9vU7iIKuk0x7/owners\"},\"users\":{\"href\":\"https://classic-00.dne-okta.com/api/v1/groups/00gbiiyr9vU7iIKuk0x7/users\"},\"apps\":{\"href\":\"https://classic-00.dne-okta.com/api/v1/groups/00gbiiyr9vU7iIKuk0x7/apps\"}}}]"
    headers:
      Accept-Ch:
      - Sec-CH-UA-Platform-Version
      Content-Type:
      - application/json
      Link:
      - <https://classic-00.dne-okta.com/api/v1/users/00uckrlogqcaCAOmA0x7/groups?limit=200>; rel="self"
    status: 200 OK
    code: 200
    duration: 123.522291ms
[...]
- id: 22
  request:
    host: classic-00.dne-okta.com
    form:
      limit:
      - "1"
      search:
      - profile.lastName eq "Jones" or profile.lastName eq "One"
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://classic-00.dne-okta.com/api/v1/users?limit=1&search=profile.lastName+eq+%22Jones%22+or+profile.lastName+eq+%22One%22
    method: GET
  response:
    body: "[{\"id\":\"00uckrlk3e3zrQYtm0x7\",\"status\":\"PROVISIONED\",\"created\":\"2025-12-17T11:01:09.000Z\",\[...]
- id: 23
  request:
    host: classic-00.dne-okta.com
    form:
      limit:
      - "1"
      search:
      - profile.array123 eq "feature" and (created gt "2021-01-01T00:00:00.000Z")
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://classic-00.dne-okta.com/api/v1/users?limit=1&search=profile.array123+eq+%22feature%22+and+%28created+gt+%222021-01-01T00%3A00%3A00.000Z%22%29
    method: GET
  response:
    body: "[{\"id\":\"00uckrlk3e3zrQYtm0x7\",\"status\":\"PROVISIONED\",[...]
- id: 24
  request:
    host: classic-00.dne-okta.com
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://classic-00.dne-okta.com/api/v1/users/00uckrlk3e3zrQYtm0x7/roles
    method: GET
  response:
    body: "[]"
    headers:
      Accept-Ch:
      - Sec-CH-UA-Platform-Version
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 136.907458ms
[...]
- id: 28
  request:
    host: classic-00.dne-okta.com
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://classic-00.dne-okta.com/api/v1/users/00uckrlk3e3zrQYtm0x7/groups
    method: GET
  response:
    body: "[{\"id\":\"00gbiiyr9vU7iIKuk0x7\",\"created\":\"2025-08-20T20:18:26.000Z\",\"lastUpdated\":\"2025-08-20T20:18:26.000Z\",\"lastMembershipUpdated\":\"2025-12-17T10:52:56.000Z\",\"objectClass\":[\"okta:user_group\"],\"type\":\"BUILT_IN\",\"profile\":{\"name\":\"Everyone\",\"description\":\"All users in your organization\"},\"_links\":{\"logo\":[{\"name\":\"medium\",\"href\":\"https://op2static2.oktacdn.com/assets/img/logos/groups/odyssey/okta-medium.30ce6d4085dff29412984e4c191bc874.png\",\"type\":\"image/png\"},{\"name\":\"large\",\"href\":\"https://op2static2.oktacdn.com/assets/img/logos/groups/odyssey/okta-large.c3cb8cda8ae0add1b4fe928f5844dbe3.png\",\"type\":\"image/png\"}],\"owners\":{\"href\":\"https://classic-00.dne-okta.com/api/v1/groups/00gbiiyr9vU7iIKuk0x7/owners\"},\"users\":{\"href\":\"https://classic-00.dne-okta.com/api/v1/groups/00gbiiyr9vU7iIKuk0x7/users\"},\"apps\":{\"href\":\"https://classic-00.dne-okta.com/api/v1/groups/00gbiiyr9vU7iIKuk0x7/apps\"}}}]"
    headers:
      Accept-Ch:
      - Sec-CH-UA-Platform-Version
      Content-Type:
      - application/json
      Link:
      - <https://classic-00.dne-okta.com/api/v1/users/00uckrlk3e3zrQYtm0x7/groups?limit=200>; rel="self"
    status: 200 OK
    code: 200
    duration: 120.482667ms
[...]
