---
version: 2
interactions:
    - id: 0
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/.well-known/okta-organization
        method: GET
      response:
        body: '{"id":"00o5qwjvg8hg7YpT81d7","cell":"op3","_links":{"organization":{"href":"https://oie-00.oktapreview.com"}},"pipeline":"idx","settings":{"analyticsCollectionEnabled":false,"bugReportingEnabled":true,"omEnabled":false,"pssoEnabled":false}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 128.164759ms
    - id: 1
      request:
        host: oie-00.dne-okta.com
        body: |
            {"name":"testAcc_2570148726","status":"ACTIVE","type":"PROFILE_ENROLLMENT"}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://oie-00.dne-okta.com/api/v1/policies
        method: POST
      response:
        body: '{"id":"rst9i74qjl1PwEIti1d7","status":"ACTIVE","name":"testAcc_2570148726","priority":1,"system":false,"conditions":null,"created":"2023-08-15T23:46:12.000Z","lastUpdated":"2023-08-15T23:46:12.000Z","_links":{"self":{"href":"https://oie-00.oktapreview.com/api/v1/policies/rst9i74qjl1PwEIti1d7","hints":{"allow":["GET","PUT","DELETE"]}},"rules":{"href":"https://oie-00.oktapreview.com/api/v1/policies/rst9i74qjl1PwEIti1d7/rules","hints":{"allow":["GET","POST"]}},"deactivate":{"href":"https://oie-00.oktapreview.com/api/v1/policies/rst9i74qjl1PwEIti1d7/lifecycle/deactivate","hints":{"allow":["POST"]}}},"type":"PROFILE_ENROLLMENT"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 224.355217ms
    - id: 2
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/policies/rst9i74qjl1PwEIti1d7
        method: GET
      response:
        body: '{"id":"rst9i74qjl1PwEIti1d7","status":"ACTIVE","name":"testAcc_2570148726","priority":1,"system":false,"conditions":null,"created":"2023-08-15T23:46:12.000Z","lastUpdated":"2023-08-15T23:46:12.000Z","_links":{"self":{"href":"https://oie-00.oktapreview.com/api/v1/policies/rst9i74qjl1PwEIti1d7","hints":{"allow":["GET","PUT","DELETE"]}},"rules":{"href":"https://oie-00.oktapreview.com/api/v1/policies/rst9i74qjl1PwEIti1d7/rules","hints":{"allow":["GET","POST"]}},"deactivate":{"href":"https://oie-00.oktapreview.com/api/v1/policies/rst9i74qjl1PwEIti1d7/lifecycle/deactivate","hints":{"allow":["POST"]}}},"type":"PROFILE_ENROLLMENT"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 90.489868ms
[...]
    - id: 7
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/policies/rst9i74qjl1PwEIti1d7/lifecycle/deactivate
        method: POST
      response:
        body: ""
        headers:
        status: 204 No Content
        code: 204
        duration: 83.376864ms
    - id: 8
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/policies/rst9i74qjl1PwEIti1d7
        method: GET
      response:
        body: '{"id":"rst9i74qjl1PwEIti1d7","status":"INACTIVE","name":"testAcc_2570148726","priority":1,"system":false,"conditions":null,"created":"2023-08-15T23:46:12.000Z","lastUpdated":"2023-08-15T23:46:14.000Z","_links":{"activate":{"href":"https://oie-00.oktapreview.com/api/v1/policies/rst9i74qjl1PwEIti1d7/lifecycle/activate","hints":{"allow":["POST"]}},"self":{"href":"https://oie-00.oktapreview.com/api/v1/policies/rst9i74qjl1PwEIti1d7","hints":{"allow":["GET","PUT","DELETE"]}},"rules":{"href":"https://oie-00.oktapreview.com/api/v1/policies/rst9i74qjl1PwEIti1d7/rules","hints":{"allow":["GET","POST"]}}},"type":"PROFILE_ENROLLMENT"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 58.176114ms
[...]
    - id: 12
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/policies/rst9i74qjl1PwEIti1d7
        method: GET
      response:
        body: '{"errorCode":"E0000007","errorSummary":"Not found: Resource not found: rst9i74qjl1PwEIti1d7 (RuleSetEntity)","errorLink":"E0000007","errorId":"oaeULT7442DSbm6vlTverSsnQ","errorCauses":[]}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 58.805843ms
