{%- set singularOp = operations.get("singular", {}) %}
{%- set responseSchema = singularOp.get("response_schema", {}) %}

// mapResponseToState maps the API response to the data source state model.
// TODO: Replace the interface{} response type with the actual SDK response struct.
func mapResponseToState(ctx context.Context, response interface{}, state *{{ name|variable_name }}DataSourceModel, diags *diag.Diagnostics) {
	// TODO: Map response fields to state model.
	// Example:
	// state.ID = types.StringValue(response.GetId())
	{%- if responseSchema %}
	{%- for propName, propSchema in responseSchema.get("properties", {}).items() %}
	{%- if propName != "id" %}
	// state.{{ propName|camel_case }} = types.StringValue(response.Get{{ propName|camel_case }}())
	{%- endif %}
	{%- endfor %}
	{%- endif %}

	_ = ctx
	_ = response
	_ = diags
}
