---
version: 2
interactions:
    - id: 0
      request:
        host: oie-00.dne-okta.com
        body: |
            {"channel":{"config":{"authScheme":{"key":"Authorization","type":"HEADER","value":"value"},"uri":"https://eoj5lz4z8m0m1jk.m.pipedream.net"},"type":"HTTP","version":"1.0.0"},"events":{"items":["user.lifecycle.create","user.lifecycle.delete.initiated"],"type":"EVENT_TYPE"},"name":"testAcc_1243360674","status":"ACTIVE"}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://oie-00.dne-okta.com/api/v1/eventHooks
        method: POST
      response:
        body: '{"id":"whowc6euvjq8G2hVP1d7","status":"ACTIVE","verificationStatus":"UNVERIFIED","name":"testAcc_1243360674","description":null,"created":"2026-03-16T03:47:47.000Z","createdBy":"00uonmvbfznIufFS61d7","lastUpdated":"2026-03-16T03:47:47.000Z","events":{"type":"EVENT_TYPE","items":["user.lifecycle.create","user.lifecycle.delete.initiated"],"filter":null},"channel":{"type":"HTTP","version":"1.0.0","config":{"uri":"https://eoj5lz4z8m0m1jk.m.pipedream.net","headers":[],"method":"POST","authScheme":{"type":"HEADER","key":"Authorization"}}},"_links":{"self":{"href":"https://oie-00.dne-okta.com/api/v1/eventHooks/whowc6euvjq8G2hVP1d7"},"verify":{"href":"https://oie-00.dne-okta.com/api/v1/eventHooks/whowc6euvjq8G2hVP1d7/lifecycle/verify","hints":{"allow":["POST"]}},"deactivate":{"href":"https://oie-00.dne-okta.com/api/v1/eventHooks/whowc6euvjq8G2hVP1d7/lifecycle/deactivate","hints":{"allow":["POST"]}}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.295364041s
    - id: 1
      request:
        host: oie-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/eventHooks/whowc6euvjq8G2hVP1d7
        method: GET
      response:
        body: '{"id":"whowc6euvjq8G2hVP1d7","status":"ACTIVE","verificationStatus":"UNVERIFIED","name":"testAcc_1243360674","description":null,"created":"2026-03-16T03:47:47.000Z","createdBy":"00uonmvbfznIufFS61d7","lastUpdated":"2026-03-16T03:47:47.000Z","events":{"type":"EVENT_TYPE","items":["user.lifecycle.create","user.lifecycle.delete.initiated"],"filter":null},"channel":{"type":"HTTP","version":"1.0.0","config":{"uri":"https://eoj5lz4z8m0m1jk.m.pipedream.net","headers":[],"method":"POST","authScheme":{"type":"HEADER","key":"Authorization"}}},"_links":{"self":{"href":"https://oie-00.dne-okta.com/api/v1/eventHooks/whowc6euvjq8G2hVP1d7"},"verify":{"href":"https://oie-00.dne-okta.com/api/v1/eventHooks/whowc6euvjq8G2hVP1d7/lifecycle/verify","hints":{"allow":["POST"]}},"deactivate":{"href":"https://oie-00.dne-okta.com/api/v1/eventHooks/whowc6euvjq8G2hVP1d7/lifecycle/deactivate","hints":{"allow":["POST"]}}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.229580833s
    - id: 2
      request:
        host: oie-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/eventHooks/whowc6euvjq8G2hVP1d7/lifecycle/verify
        method: POST
      response:
        body: '{"id":"whowc6euvjq8G2hVP1d7","status":"ACTIVE","verificationStatus":"VERIFIED","name":"testAcc_1243360674","description":null,"created":"2026-03-16T03:47:47.000Z","createdBy":"00uonmvbfznIufFS61d7","lastUpdated":"2026-03-16T03:47:50.000Z","events":{"type":"EVENT_TYPE","items":["user.lifecycle.create","user.lifecycle.delete.initiated"],"filter":null},"channel":{"type":"HTTP","version":"1.0.0","config":{"uri":"https://eoj5lz4z8m0m1jk.m.pipedream.net","headers":[],"method":"POST","authScheme":{"type":"HEADER","key":"Authorization"}}},"_links":{"self":{"href":"https://oie-00.dne-okta.com/api/v1/eventHooks/whowc6euvjq8G2hVP1d7"},"verify":{"href":"https://oie-00.dne-okta.com/api/v1/eventHooks/whowc6euvjq8G2hVP1d7/lifecycle/verify","hints":{"allow":["POST"]}},"deactivate":{"href":"https://oie-00.dne-okta.com/api/v1/eventHooks/whowc6euvjq8G2hVP1d7/lifecycle/deactivate","hints":{"allow":["POST"]}}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.977459791s
[...]
    - id: 7
      request:
        host: oie-00.dne-okta.com
        body: |
            {"channel":{"config":{"authScheme":{"key":"Authorization","type":"HEADER","value":"value"},"uri":"https://eo4afyqp3adkxpk.m.pipedream.net"},"type":"HTTP","version":"1.0.0"},"events":{"items":["user.lifecycle.create","user.lifecycle.delete.initiated"],"type":"EVENT_TYPE"},"name":"testAcc_1243360674","status":"ACTIVE"}
        headers:
            Authorization:
                - SSWS REDACTED
            Cont[...]
[...]
    - id: 15
      request:
        host: oie-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/eventHooks/whowc6euvjq8G2hVP1d7/lifecycle/deactivate
        method: POST
      response:
        body: '{"id":"whowc6euvjq8G2hVP1d7","status":"INACTIVE","verificationStatus":"UNVERIFIED","name":"testAcc_1243360674","description":null,"created":"2026-03-16T03:47:47.000Z","createdBy":"00uonmvbfznIufFS61d7","lastUpdated":"2026-03-16T03:48:07.000Z","events":{"type":"EVENT_TYPE","items":["user.lifecycle.create","user.lifecycle.delete.initiated"],"filter":null},"channel":{"type":"HTTP","version":"1.0.0","config":{"uri":"https://eo4afyqp3adkxpk.m.pipedream.net","headers":[],"method":"POST","authScheme":{"type":"HEADER","key":"Authorization"}}},"_links":{"activate":{"href":"https://oie-00.dne-okta.com/api/v1/eventHooks/whowc6euvjq8G2hVP1d7/lifecycle/activate","hints":{"allow":["POST"]}},"self":{"href":"https://oie-00.dne-okta.com/api/v1/eventHooks/whowc6euvjq8G2hVP1d7"},"delete":{"href":"https://oie-00.dne-okta.com/api/v1/eventHooks/whowc6euvjq8G2hVP1d7","hints":{"allow":["DELETE"]}}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.196954334s
[...]
