---
version: 2
interactions:
    - id: 0
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/.well-known/okta-organization
        method: GET
      response:
        body: '{"id":"00o5qwjvg8hg7YpT81d7","cell":"op3","_links":{"organization":{"href":"https://oie-00.dne-okta.com"}},"pipeline":"idx","settings":{"analyticsCollectionEnabled":false,"bugReportingEnabled":true,"omEnabled":false,"pssoEnabled":false,"desktopMFAEnabled":false,"itpEnabled":true,"op4wEnabled":true}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 177.168209ms
    - id: 1
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/authenticators
        method: GET
      response:
        body: '[{"type":"security_key","id":"autcmon9grRZO488N1d7","key":"custom_otp","status":"ACTIVE","name":"Custom OTP","created":"2024-01-31T18:32:17.000Z","lastUpdated":"2025-03-13T23:34:29.000Z","_links":{"self":{"href":"https://oie-00.dne-okta.com/api/v1/authenticators/autcmon9grRZO488N1d7","hints":{"allow":["GET","PUT"]}},"deactivate":{"href":"https://oie-00.dne-okta.com/api/v1/authenticators/autcmon9grRZO488N1d7/lifecycle/deactivate","hints":{"allow":["POST"]}},"methods":{"href":"https://oie-00.dne-okta.com/api/v1/authenticators/autcmon9grRZO488N1d7/methods","hints":{"allow":["GET"]}}}},{"type":"security_key","id":"aut7l6yhato1oHq6o1d7","key":"custom_otp","status":"INACTIVE","name":"Custom OTP Authenticator","created":"2023-04-06T16:43:22.000Z","lastUpdated":"2025-03-13T22:02:25.000Z","_links":{"self":{"href":"https://oie-00.dne-okta.com/api/v1/authenticators/aut7l6yhato1oHq6o1d7","hints":{"allow":["GET","PUT"]}},"activate":{"href":"https://oie-00.dne-okta.com/api/v1/authenticators/aut7l6yhato1oHq6o1d7/lifecycle/activate","hints":{"allow":["POST"]}},"methods":{"href":"https://oie-00.dne-okta.com/api/v1/authenticators/aut7l6yhato1oHq6o1d7/methods","hints":{"allow":["GET"]}}}},{"type":"email","id":"aut5qwjvl1oLrzhRh1d7","key":"okta_email","status":"ACTIVE","name":"Email","created":"2022-10-07T23:17:01.000Z","lastUpdated":"2025-03-13T22:02:25.000Z","settings":{"allowedFor":"recovery","tokenLifetimeInMinutes":5},"_links":{"self":{"href":"https://oie-00.dne-okta.com/api/v1/authenticators/aut5qwjvl1oLrzhRh1d7","hints":{"allow":["GET","PUT"]}},"deactivate":{"href":"https://oie-00.dne-okta.com/api/v1/authenticators/aut5qwjvl1oLrzhRh1d7/lifecycle/deactivate","hints":{"allow":["POST"]}},"methods":{"href":"https://oie-00.dne-okta.com/api/v1/authenticators/aut5qwjvl1oLrzhRh1d7/methods","hints":{"allow":["GET"]}}}},{"type":"app","id":"aut5z8lo8eomRT3Ud1d7","key":"google_otp","status":"INACTIVE","name":"Google Authenticator","created":"2022-10-28T21:28:47.000Z","lastUpdated":"2025-03-13T20:58:24.000Z","settings":{},"_links":{"self":{"href":"https://oie-00.dne-okta.com/api/v1/authenticators/aut5z8lo8eomRT3Ud1d7","hints":{"allow":["GET","PUT"]}},"activate":{"href":"https://oie-00.dne-okta.com/api/v1/authenticators/aut5z8lo8eomRT3Ud1d7/lifecycle/activate","hints":{"allow":["POST"]}},"methods":{"href":"https://oie-00.dne-okta.com/api/v1/authenticators/aut5z8lo8eomRT3Ud1d7/methods","hints":{"allow":["GET"]}}}},{"type":"app","id":"aut5qwjvl5gOSPb1O1d7","key":"okta_verify","status":"ACTIVE","name":"Okta Verify","created":"2022-10-07T23:17:01.000Z","lastUpdated":"2024-01-12T11:01:10.000Z","settings":{"compliance":{"fips":"OPTIONAL"},"channelBinding":{"style":"NUMBER_CHALLENGE","required":"NEVER"},"userVerification":"PREFERRED","userVerificationMethods":["BIOMETRICS","PIN"],"appInstanceId":""},"_links":{"self":{"href":"https://oie-00.dne-okta.com/api/v1/authenticators/aut5qwjvl5gOSPb1O1d7","hints":{"allow":["GET","PUT"]}},"deactivate":{"href":"https://oie-00.dne-okta.com/api/v1/authenticators/aut5qwjvl5gOSPb1O1d7/lifecycle/deactivate","hints":{"allow":["POST"]}},"methods":{"href":"https://oie-00.dne-okta.com/api/v1/authenticators/aut5qwjvl5gOSPb1O1d7/methods","hints":{"allow":["GET"]}},"enroll":{"href":"https://oie-00.dne-okta.com/idp/authenticators","hints":{"allow":["POST"]}}}},{"type":"security_key","id":"aut671z3rsjA6cKkD1d7","key":"onprem_mfa","status":"INACTIVE","name":"On-Prem MFA","created":"2022-11-18T00:03:02.000Z","lastUpdated":"2025-03-13T20:52:02.000Z","provider":{"type":"DEL_OATH","configuration":{"hostName":"localhost","authPort":999,"instanceId":"0oa671z3rv7v8tB0c1d7","userNameTemplate":{"template":"global.assign.userName.login"}}},"_links":{"self":{"href":"https://oie-00.dne-okta.com/api/v1/authenticators/aut671z3rsjA6cKkD1d7","hints":{"allow":["GET","PUT"]}},"activate":{"href":"https://oie-00.dne-okta.com/api/v1/authenticators/aut671z3rsjA6cKkD1d7/lifecycle/activate","hints":{"allow":["POST"]}},"methods":{"href":"https://oie-00.dne-okta.com/api/v1/authenticators/aut671z3rsjA6cKkD1d7/methods","hints":{"allow":["GET"]}}}},{"type":"password","id":"aut5qwjvl06CN1xJM1d7","key":"okta_password"[...]
    - id: 2
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/authenticators/aut671z3rsjA6cKkD1d7/lifecycle/activate
        method: POST
      response:
        body: '{"type":"security_key","id":"aut671z3rsjA6cKkD1d7","key":"onprem_mfa","status":"ACTIVE","name":"On-Prem MFA","created":"2022-11-18T00:03:02.000Z","lastUpdated":"2025-03-13T23:34:41.000Z","provider":{"type":"DEL_OATH","configuration":{"hostName":"localhost","authPort":999,"instanceId":"0oa671z3rv7v8tB0c1d7","userNameTemplate":{"template":"global.assign.userName.login"}}},"_links":{"self":{"href":"https://oie-00.dne-okta.com/api/v1/authenticators/aut671z3rsjA6cKkD1d7","hints":{"allow":["GET","PUT"]}},"deactivate":{"href":"https://oie-00.dne-okta.com/api/v1/authenticators/aut671z3rsjA6cKkD1d7/lifecycle/deactivate","hints":{"allow":["POST"]}},"methods":{"href":"https://oie-00.dne-okta.com/api/v1/authenticators/aut671z3rsjA6cKkD1d7/methods","hints":{"allow":["GET"]}}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 744.199541ms
    - id: 3
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/authenticators/aut671z3rsjA6cKkD1d7
        method: GET
      response:
        body: '{"type":"security_key","id":"aut671z3rsjA6cKkD1d7","key":"onprem_mfa","status":"ACTIVE","name":"On-Prem MFA","created":"2022-11-18T00:03:02.000Z","lastUpdated":"2025-03-13T23:34:41.000Z","provider":{"type":"DEL_OATH","configuration":{"hostName":"localhost","authPort":999,"instanceId":"0oa671z3rv7v8tB0c1d7","userNameTemplate":{"template":"global.assign.userName.login"}}},"_links":{"self":{"href":"https://oie-00.dne-okta.com/api/v1/authenticators/aut671z3rsjA6cKkD1d7","hints":{"allow":["GET","PUT"]}},"deactivate":{"href":"https://oie-00.dne-okta.com/api/v1/authenticators/aut671z3rsjA6cKkD1d7/lifecycle/deactivate","hints":{"allow":["POST"]}},"methods":{"href":"https://oie-00.dne-okta.com/api/v1/authenticators/aut671z3rsjA6cKkD1d7/methods","hints":{"allow":["GET"]}}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 279.726ms
    - id: 4
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/authenticators/aut671z3rsjA6cKkD1d7/lifecycle/deactivate
        method: POST
      response:
        body: '{"errorCode":"E0000148","errorSummary":"Cannot modify/disable this authenticator because it is enabled in one or more policies. To continue, disable the authenticator in these policies.","errorLink":"E0000148","errorId":"oaevrqcN8bWRDqzrzS1IJJzAA","errorCauses":[{"errorSummary":"Authenticator Enrollment Policies: Default Policy"}]}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 403 Forbidden
        code: 403
        duration: 417.189208ms
