---
version: 2
interactions:
    - id: 0
      request:
        host: mm-classic-2022-10-04.oktapreview.com
        body: |
            {"mode":"PREVIEW","granularModeSettings":{"OAUTH2_AUTHORIZE":"ENFORCE","LOGIN_PAGE":"ENFORCE"}}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://mm-classic-2022-10-04.oktapreview.com/api/v1/internal/rateLimits/clientRateLimitMode
        method: POST
      response:
        body: '{"mode":"PREVIEW","granularModeSettings":{"OAUTH2_AUTHORIZE":"ENFORCE","LOGIN_PAGE":"ENFORCE"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 193.543009ms
    - id: 1
      request:
        host: mm-classic-2022-10-04.oktapreview.com
        body: |
            {"rateLimitNotification":true}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://mm-classic-2022-10-04.oktapreview.com/api/internal/orgSettings/rateLimitNotificationSetting
        method: POST
      response:
        body: '{"rateLimitNotification":true}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 104.693529ms
[...]
