---
version: 1
interactions:
- request:
    body: |
      {"mode":"PREVIEW","granularModeSettings":{"OAUTH2_AUTHORIZE":"ENFORCE","LOGIN_PAGE":"ENFORCE"}}
    form: {}
    headers:
      Authorization:
      - SSWS REDACTED
      Content-Type:
      - application/json
    url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/internal/rateLimits/clientRateLimitMode
    method: POST
  response:
    body: '{"mode":"PREVIEW","granularModeSettings":{"OAUTH2_AUTHORIZE":"ENFORCE","LOGIN_PAGE":"ENFORCE"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"rateLimitNotification":true}
    form: {}
    headers:
      Authorization:
      - SSWS REDACTED
      Content-Type:
      - application/json
    url: https://mm-oie-2022-10-07-max.oktapreview.com/api/internal/orgSettings/rateLimitNotificationSetting
    method: POST
  response:
    body: '{"rateLimitNotification":true}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
