---
version: 2
interactions:
    - id: 0
      request:
        host: mm-oie-2022-10-07-max.oktapreview.com
        body: |
            {"credentials":{"password":{}},"profile":{"email":"testAcc-3276625234@example.com","firstName":"TestAcc","lastName":"Smith","login":"testAcc-3276625234@example.com","postalAddress":null}}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/users?activate=false
        method: POST
      response:
        body: '{"id":"00u95uppelQCVj5NW1d7","status":"STAGED","created":"2023-07-27T19:57:58.000Z","activated":null,"statusChanged":null,"lastLogin":null,"lastUpdated":"2023-07-27T19:57:58.000Z","passwordChanged":null,"type":{"id":"oty5qwjvh0Vy1j8Kd1d7"},"profile":{"firstName":"TestAcc","lastName":"Smith","mobilePhone":null,"secondEmail":null,"login":"testAcc-3276625234@example.com","email":"testAcc-3276625234@example.com"},"credentials":{"provider":{"type":"OKTA","name":"OKTA"}},"_links":{"schema":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/meta/schemas/user/osc5qwjvh0Vy1j8Kd1d7"},"activate":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/users/00u95uppelQCVj5NW1d7/lifecycle/activate","method":"POST"},"self":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/users/00u95uppelQCVj5NW1d7"},"resetFactors":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/users/00u95uppelQCVj5NW1d7/lifecycle/reset_factors","method":"POST"},"type":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/meta/types/user/oty5qwjvh0Vy1j8Kd1d7"}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 363.970749ms
    - id: 1
      request:
        host: mm-oie-2022-10-07-max.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/users/00u95uppelQCVj5NW1d7
        method: GET
      response:
        body: '{"id":"00u95uppelQCVj5NW1d7","status":"STAGED","created":"2023-07-27T19:57:58.000Z","activated":null,"statusChanged":null,"lastLogin":null,"lastUpdated":"2023-07-27T19[...]
[...]
    - id: 5
      request:
        host: mm-oie-2022-10-07-max.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/users/00u95uppelQCVj5NW1d7/lifecycle/deactivate
        method: POST
      response:
        body: '{}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 123.697045ms
    - id: 6
      request:
        host: mm-oie-2022-10-07-max.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/users/00u95uppelQCVj5NW1d7
        method: GET
      response:
        body: '{"id":"00u95uppelQCVj5NW1d7","status":"DEPROVISIONED","created":"2023-07-27T19:57:58.000Z","activated":null,"statusChanged":"2023-07-27T19:58:00.000Z","lastLogin":null,"lastUpdated":"2023-07-27T19:58:00.000Z","passwordChanged":null,"type":{"id":"oty5qwjvh0Vy1j8Kd1d7"},"profile":{"firstName":"TestAcc","lastName":"Smith","mobilePhone":null,"secondEmail":null,"login":"testAcc-3276625234@example.com","email":"testAcc-3276625234@example.com"},"credentials":{"provider":{"type":"OKTA","name":"OKTA"}},"_links":{"schema":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/meta/schemas/user/osc5qwjvh0Vy1j8Kd1d7"},"activate":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/users/00u95uppelQCVj5NW1d7/lifecycle/activate","method":"POST"},"self":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/users/00u95uppelQCVj5NW1d7"},"resetFactors":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/users/00u95uppelQCVj5NW1d7/lifecycle/reset_factors","method":"POST"},"type":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/meta/types/user/oty5qwjvh0Vy1j8Kd1d7"},"delete":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/users/00u95uppelQCVj5NW1d7","method":"DELETE"}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 92.033813ms
[...]
    - id: 10
      request:
        host: mm-oie-2022-10-07-max.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/users/00u95uppelQCVj5NW1d7
        method: GET
      response:
        body: '{"errorCode":"E0000007","errorSummary":"Not found: Resource not found: 00u95uppelQCVj5NW1d7 (User)","errorLink":"E0000007","errorId":"oaetQvVK1rQSjCmFvK9GL8MWg","errorCauses":[]}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 121.044022ms
