---
version: 1
interactions:
- request:
    body: |
      {"credentials":{"password":{}},"profile":{"email":"testAcc-3276625234@example.com","firstName":"TestAcc","lastName":"Smith","login":"testAcc-3276625234@example.com","postalAddress":null}}
    form: {}
    headers:
      Authorization:
      - SSWS REDACTED
      Content-Type:
      - application/json
    url: https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/users?activate=false
    method: POST
  response:
    body: '{"id":"00u6m9i5wvSNAyxFO1d7","status":"STAGED","created":"2023-01-11T20:37:11.000Z","activated":null,"statusChanged":null,"lastLogin":null,"lastUpdated":"2023-01-11T20:37:11.000Z","passwordChanged":null,"type":{"id":"oty5jjkl30LP1EYa11d7"},"profile":{"firstName":"TestAcc","lastName":"Smith","mobilePhone":null,"secondEmail":null,"login":"testAcc-3276625234@example.com","email":"testAcc-3276625234@example.com"},"credentials":{"provider":{"type":"OKTA","name":"OKTA"}},"_links":{"schema":{"href":"https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/meta/schemas/user/osc5jjkl30LP1EYa11d7"},"activate":{"href":"https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/users/00u6m9i5wvSNAyxFO1d7/lifecycle/activate","method":"POST"},"self":{"href":"https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/users/00u6m9i5wvSNAyxFO1d7"},"resetFactors":{"href":"https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/users/00u6m9i5wvSNAyxFO1d7/lifecycle/reset_factors","method":"POST"},"type":{"href":"https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/meta/types/user/oty5jjkl30LP1EYa11d7"}}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/users/00u6m9i5wvSNAyxFO1d7
    method: GET
  response:
    body: '{"id":"00u6m9i5wvSNAyxFO1d7","status":"STAGED","created":"2023-01-11T20:37:11.000Z","activated":null,"statusChanged":null,"lastLogin":null,"lastUpdated":"2023-01-11T20:37:11.000Z","passwordChanged":null,"type":{"id":"oty5jjkl30LP1EYa11d7"},"profile":{"firstName":"TestAcc","lastName":"Smith","mobilePhone":null,"secondEmail":null,"login":"testAcc-3276625234@example.com","email":"testAcc-3276625234@example.com"},"credentials":{"provider":{"type":"OKTA","name":"OKTA"}},"_links":{"schema":{"href":"https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/meta/schemas/user/osc5jjkl30LP1EYa11d7"},"activate":{"href":"https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/users/00u6m9i5wvSNAyxFO1d7/lifecycle/activate","method":"POST"},"self":{"href":"https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/users/00u6m9i5wvSNAyxFO1d7"},"resetFactors":{"href":"https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/users/00u6m9i5wvSNAyxFO1d7/lifecycle/reset_factors","method":"POST"},"type":{"href":"https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/meta/types/user/oty5jjkl30LP1EYa11d7"}}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/users/00u6m9i5wvSNAyxFO1d7/roles
    method: GET
  response:
    body: '[]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/users/00u6m9i5wvSNAyxFO1d7/lifecycle/deactivate
    method: POST
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/users/00u6m9i5wvSNAyxFO1d7
    method: GET
  response:
    body: '{"id":"00u6m9i5wvSNAyxFO1d7","status":"DEPROVISIONED","created":"2023-01-11T20:37:11.000Z","activated":null,"statusChanged":"2023-01-11T20:37:13.000Z","lastLogin":null,"lastUpdated":"2023-01-11T20:37:13.000Z","passwordChanged":null,"type":{"id":"oty5jjkl30LP1EYa11d7"},"profile":{"firstName":"TestAcc","lastName":"Smith","mobilePhone":null,"secondEmail":null,"login":"testAcc-3276625234@example.com","email":"testAcc-3276625234@example.com"},"credentials":{"provider":{"type":"OKTA","name":"OKTA"}},"_links":{"schema":{"href":"https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/meta/schemas/user/osc5jjkl30LP1EYa11d7"},"activate":{"href":"https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/users/00u6m9i5wvSNAyxFO1d7/lifecycle/activate","method":"POST"},"self":{"href":"https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/users/00u6m9i5wvSNAyxFO1d7"},"resetFactors":{"href":"https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/users/00u6m9i5wvSNAyxFO1d7/lifecycle/reset_factors","method":"POST"},"type":{"href":"https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/meta/types/user/oty5jjkl30LP1EYa11d7"},"delete":{"href":"https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/users/00u6m9i5wvSNAyxFO1d7","method":"DELETE"}}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
