---
version: 2
interactions:
    - id: 0
      request:
        host: oie-00.dne-okta.com
        body: |
            {"accessibility":{"selfService":false},"credentials":{"userNameTemplate":{"template":"${source.login}","type":"BUILT_IN"}},"label":"testAcc_477959725","name":"office365","settings":{"app":{"domain":"okta.com","domains":[],"msftTenant":"okta","requireAdminConsent":false,"windowsTransportEnabled":false,"wsFedConfigureType":"AUTO"},"implicitAssignment":false,"notes":{"admin":null,"enduser":null},"signOn":{"allowMultipleAcsEndpoints":false,"assertionSigned":false,"attributeStatements":[],"audienceOverride":"","defaultRelayState":"","destinationOverride":"","honorForceAuthn":false,"recipientOverride":"","responseSigned":false,"samlSignedRequestEnabled":false,"slo":{"enabled":false},"ssoAcsUrlOverride":""}},"signOnMode":"SAML_1_1","visibility":{"appLinks":{"calendar":false,"crm":false,"delve":false,"excel":false,"forms":false,"login":true,"mail":false,"newsfeed":false,"onedrive":false,"people":false,"planner":false,"powerbi":false,"powerpoint":false,"sites":false,"sway":false,"tasks":false,"teams":false,"word":false,"yammer":false},"autoSubmitToolbar":false,"hide":{"iOS":false,"web":false}}}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://oie-00.dne-okta.com/api/v1/apps?activate=true
        method: POST
      response:
        body: '{"errorCode":"E0000001","errorSummary":"Api validation failed: settings","errorLink":"E0000001","errorId":"oaeppghMX8pSIq3QJQjVcxRkg","errorCauses":[{"errorSummary":"In order to continue using WS-FED Auto for SSO, you must grant admin consent."}]}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 400 Bad Request
        code: 400
        duration: 1.559899333s
