---
version: 2
interactions:
    - id: 0
      request:
        host: classic-00.dne-okta.com
        body: |
            {"profile":{"name":"testAcc_2327057166","description":"testing"}}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://classic-00.dne-okta.com/api/v1/groups
        method: POST
      response:
        body: '{"id":"00g9i7lcmvBr1yHje1d7","created":"2023-08-16T00:04:28.000Z","lastUpdated":"2023-08-16T00:04:28.000Z","lastMembershipUpdated":"2023-08-16T00:04:28.000Z","objectClass":["okta:user_group"],"type":"OKTA_GROUP","profile":{"name":"testAcc_2327057166","description":"testing"},"_links":{"logo":[{"name":"medium","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-medium.30ce6d4085dff29412984e4c191bc874.png","type":"image/png"},{"name":"large","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-large.c3cb8cda8ae0add1b4fe928f5844dbe3.png","type":"image/png"}],"users":{"href":"https://classic-00.oktapreview.com/api/v1/groups/00g9i7lcmvBr1yHje1d7/users"},"apps":{"href":"https://classic-00.oktapreview.com/api/v1/groups/00g9i7lcmvBr1yHje1d7/apps"}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 153.284918ms
    - id: 1
      request:
        host: classic-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/groups/00g9i7lcmvBr1yHje1d7
        method: GET
      response:
        body: '{"id":"00g9i7lcmvBr1yHje1d7","created":"2023-08-16T00:04:28.000Z","lastUpdated":"2023-08-16T00:04:28.000Z","lastMembershipUpdated":"2023-08-16T00:04:28.000Z","objectClass":["okta:user_group"],"type":"OKTA_GROUP","profile":{"name":"testAcc_2327057166","description":"testing"},"_links":{"logo":[{"name":"medium","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-medium.30ce6d4085dff29412984e4c191bc874.png","type":"image/png"},{"name":"large","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-large.c3cb8cda8ae0add1b4fe928f5844dbe3.png","type":"image/png"}],"users":{"href":"https://classic-00.oktapreview.com/api/v1/groups/00g9i7lcmvBr1yHje1d7/users"},"apps":{"href":"https://classic-00.oktapreview.com/api/v1/groups/00g9i7lcmvBr1yHje1d7/apps"}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 56.334925ms
[...]
    - id: 3
      request:
        host: classic-00.dne-okta.com
        body: |
            {"type":"READ_ONLY_ADMIN"}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://classic-00.dne-okta.com/api/v1/groups/00g9i7lcmvBr1yHje1d7/roles?disableNotifications=false
        method: POST
      response:
        body: '{"id":"gra9i7h9eiXWQISHP1d7","label":"Read-only Administrator","type":"READ_ONLY_ADMIN","status":"ACTIVE","created":"2023-08-16T00:04:28.000Z","lastUpdated":"2023-08-16T00:04:28.000Z","assignmentType":"GROUP","_links":{"assignee":{"href":"https://classic-00.oktapreview.com/api/v1/groups/00g9i7lcmvBr1yHje1d7"}}}'
        headers:
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 67.570541ms
[...]
    - id: 5
      request:
        host: classic-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/groups/00g9i7lcmvBr1yHje1d7/roles/gra9i7h9eiXWQISHP1d7
        method: GET
      response:
        body: '{"id":"gra9i7h9eiXWQISHP1d7","label":"Read-only Administrator","type":"READ_ONLY_ADMIN","status":"ACTIVE","created":"2023-08-16T00:04:28.000Z","lastUpdated":"2023-08-16T00:04:28.000Z","assignmentType":"GROUP","_links":{"assignee":{"href":"https://classic-00.oktapreview.com/api/v1/groups/00g9i7lcmvBr1yHje1d7"}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 54.956566ms
    - id: 6
      request:
        host: classic-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/groups/00g9i7lcmvBr1yHje1d7/roles/IFIFAX2BIRGUSTQ
        method: GET
      response:
        body: '{"id":"IFIFAX2BIRGUSTQ","label":"Application Administrator","type":"APP_ADMIN","status":"ACTIVE","created":"2023-08-16T00:04:28.000Z","lastUpdated":"2023-08-16T00:04:28.000Z","assignmentType":"GROUP","_links":{"assignee":{"href":"https://classic-00.oktapreview.com/api/v1/groups/00g9i7lcmvBr1yHje1d7"}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 54.67216ms
    - id: 7
      request:
        host: classic-00.dne-okta.com
        body: |
            {"credentials":{"password":{}},"profile":{"email":"testAcc-2327057166@example.com","firstName":"TestAcc","lastName":"Smith","login":"testAcc-2327057166@example.com","postalAddress":null}}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://classic-00.dne-okta.com/api/v1/users
        method: POST
      response:
        body: '{"id":"00u9i7iavjtUCxX6a1d7","status":"PROVISIONED","created":"2023-08-16T00:04:28.000Z","activated":"2023-08-16T00:04:28.000Z","statusChanged":"2023-08-16T00:04:28.000Z","lastLogin":null,"lastUpdated":"2023-08-16T00:04:28.000Z","passwordChanged":null,"type":{"id":"oty5ptm052JMcoADv1d7"},"profile":{"firstName":"TestAcc","lastName":"Smith","mobilePhone":null,"secondEmail":null,"login":"testAcc-2327057166@example.com","email":"testAcc-2327057166@example.com"},"credentials":{"provider":{"type":"OKTA","name":"OKTA"}},"_links":{"suspend":{"href":"https://classic-00.oktapreview.com/api/v1/users/00u9i7iavjtUCxX6a1d7/lifecycle/suspend","method":"POST"},"schema":{"href":"https://classic-00.oktapreview.com/api/v1/meta/schemas/user/osc5ptm052JMcoADv1d7"},"resetPassword":{"href":"https://classic-00.oktapreview.com/api/v1/users/00u9i7iavjtUCxX6a1d7/lifecycle/reset_password","method":"POST"},"reactivate":{"href":"https://classic-00.oktapreview.com/api/v1/users/00u9i7iavjtUCxX6a1d7/lifecycle/reactivate","method":"POST"},"self":{"href":"https://classic-00.oktapreview.com/api/v1/users/00u9i7iavjtUCxX6a1d7"},"type":{"href":"https://classic-00.oktapreview.com/api/v1/meta/types/user/oty5ptm052JMcoADv1d7"},"deactivate":{"href":"https://classic-00.oktapreview.com/api/v1/users/00u9i7iavjtUCxX6a1d7/lifecycle/deactivate","method":"POST"}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 510.313281ms
    - id: 8
      request:
        host: classic-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/groups/00g9i7lcmvBr1yHje1d7/roles/IFIFAX2BIRGUSTQ/targets/catalog/apps?limit=200&status=ACTIVE
        method: GET
      response:
        body: '[]'
        headers:
            Content-Type:
                - application/json
            Link:
                - <https://classic-00.dne-okta.com/api/v1/groups/00g9i7lcmvBr1yHje1d7/roles/IFIFAX2BIRGUSTQ/targets/catalog/apps?after=PGERodG7ifTSQ-e7FwsNChJEA1&limit=20>; rel="self"
        status: 200 OK
        code: 200
        duration: 61.106788ms
    - id: 9
      request:
        host: classic-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/users/00u9i7iavjtUCxX6a1d7
        method: GET
      response:
        body: '{"id":"00u9i7iavjtUCxX6a1d7","status":"PROVISIONED","created":"2023-08-16T00:04:28.000Z","activated":"2023-08-16T00:04:28.000Z","statusChanged":"2023-08-16T00:04:28.000Z","lastLogin":null,"lastUp[...]
[...]
    - id: 23
      request:
        host: classic-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/groups/00g9i7kp8sTODCiI51d7
        method: GET
      response:
        body: '{"id":"00g9i7kp8sTODCiI51d7","created":"2023-08-16T00:04:30.000Z","lastUpdated":"2023-08-16T00:04:30.000Z","lastMembershipUpdated":"2023-08-16T00:04:30.000Z","objectClass":["okta:user_group"],"type":"OKTA_GROUP","profile":{"name":"testTarget2Acc_2327057166","description":"testing"},"_links":{"logo":[{"name":"medium","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-medium.30ce6d4085dff29412984e4c191bc874.png","type":"image/png"},{"name":"large","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-large.c3cb8cda8ae0add1b4fe928f5844dbe3.png","type":"image/png"}],"users":{"href":"https://classic-00.oktapreview.com/api/v1/groups/00g9i7kp8sTODCiI51d7/users"},"apps":{"href":"https://classic-00.oktapreview.com/api/v1/groups/00g9i7kp8sTODCiI51d7/apps"}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 49.554142ms
    - id: 24
      request:
        host: classic-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/groups/00g9i7hunl1EF8uA11d7
        method: GET
      response:
        body: '{"id":"00g9i7hunl1EF8uA11d7","created":"2023-08-16T00:04:30.000Z","lastUpdated":"2023-08-16T00:04:30.000Z","lastMembershipUpdated":"2023-08-16T00:04:30.000Z","objectClass":["okta:user_group"],"type":"OKTA_GROUP","profile":{"name":"testTarget1Acc_2327057166","description":"testing"},"_links":{"logo":[{"name":"medium","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-medium.30ce6d4085dff29412984e4c191bc874.png","type":"image/png"},{"name":"large","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-large.c3cb8cda8ae0add1b4fe928f5844dbe3.png","type":"image/png"}],"users":{"href":"https://classic-00.oktapreview.com/api/v1/groups/00g9i7hunl1EF8uA11d7/users"},"apps":{"href":"https://classic-00.oktapreview.com/api/v1/groups/00g9i7hunl1EF8uA11d7/apps"}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 55.681701ms
[...]
    - id: 28
      request:
        host: classic-00.dne-okta.com
        body: |
            {"credentials":{"userNameTemplate":{"template":"${source.login}","type":"BUILT_IN"},"userName":""},"accessibility":{"selfService":false},"label":"testAcc_2327057166","name":"template_swa","settings":{"app":{"buttonField":"btn-login","passwordField":"txtbox-password","url":"https://example.com/login.html","usernameField":"txtbox-username"},"notes":{"admin":null,"enduser":null}},"signOnMode":"BROWSER_PLUGIN","visibility":{"autoSubmitToolbar":false,"hide":{"iOS":false,"web":false}}}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://classic-00.dne-okta.com/api/v1/apps?activate=true
        method: POST
      response:
        body: '{"id":"0oa9i7e4xs8Kz3qyG1d7","name":"template_swa","label":"testAcc_2327057166","status":"ACTIVE","lastUpdated":"2023-08-16T00:04:30.000Z","created":"2023-08-16T00:04:30.000Z","accessibility":{"selfService":false,"errorRedirectUrl":null,"loginRedirectUrl":null},"visibility":{"autoLaunch":false,"autoSubmitToolbar":false,"hide":{"iOS":false,"web":false},"appLinks":{"login":true}},"features":[],"signOnMode":"BROWSER_PLUGIN","credentials":{"scheme":"EDIT_USERNAME_AND_PASSWORD","userNameTemplate":{"template":"${source.login}","type":"BUILT_IN"},"revealPassword":false,"signing":{}},"settings":{"app":{"loginUrlRegex":null,"usernameField":"txtbox-username","redirectUrl":null,"buttonField":"btn-login","checkbox":null,"passwordField":"txtbox-password","url":"https://example.com/login.html"},"notifications":{"vpn":{"network":{"connection":"DISABLED"},"message":null,"helpUrl":null}},"manualProvisioning":false,"implicitAssignment":false,"notes":{"admin":null,"enduser":null}},"_links":{"uploadLogo":{"href":"https://classic-00.oktapreview.com/api/v1/apps/0oa9i7e4xs8Kz3qyG1d7/logo","hints":{"allow":["POST"]}},"appLinks":[{"name":"login","href":"https://classic-00.oktapreview.com/home/template_swa/0oa9i7e4xs8Kz3qyG1d7/2357","type":"text/html"}],"groups":{"href":"https://classic-00.oktapreview.com/api/v1/apps/0oa9i7e4xs8Kz3qyG1d7/groups"},"logo":[{"name":"medium","href":"https://op3static.oktacdn.com/fs/bcg/4/gfs1g3ksgnrQi3BSX1d8","type":"image/png"}],"users":{"href":"https://classic-00.oktapreview.com/api/v1/apps/0oa9i7e4xs8Kz3qyG1d7/users"},"deactivate":{"href":"https://classic-00.oktapreview.com/api/v1/apps/0oa9i7e4xs8Kz3qyG1d7/lifecycle/deactivate"}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 477.993443ms
    - id: 29
      request:
        host: classic-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/groups/00g9i7lcmvBr1yHje1d7/roles/JBCUYUC7IRCVGS27IFCE2SKO/targets/groups/00g9i7hunl1EF8uA11d7
        method: PUT
      response:
        body: ""
        headers:
        status: 204 No Content
        code: 204
        duration: 85.81046ms
    - id: 30
      request:
        host: classic-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/groups/00g9i7lcmvBr1yHje1d7/roles/JBCUYUC7IRCVGS27IFCE2SKO/targets/groups/00g9i7kp8sTODCiI51d7
        method: PUT
      response:
        body: ""
        headers:
        status: 204 No Content
        code: 204
        duration: 79.512783ms
    - id: 31
      request:
        host: classic-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/apps/0oa9i7e4xs8Kz3qyG1d7
        method: GET
      response:
        body: '{"id":"0oa9i7e4xs8Kz3qyG1d7","name":"template_swa","label":"testAcc_2327057166","status":"ACTIVE","lastUpdated":"2023-08-16T00:04:30.000Z","created":"2023-08-16T00:04:30.000Z","accessibility":{"s[...]
    - id: 32
      request:
        host: classic-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/groups/00g9i7lcmvBr1yHje1d7/roles/JBCUYUC7IRCVGS27IFCE2SKO
        method: GET
      response:
        body: '{"id":"JBCUYUC7IRCVGS27IFCE2SKO","label":"Help Desk Administrator","type":"HELP_DESK_ADMIN","status":"ACTIVE","created":"2023-08-16T00:04:30.000Z","lastUpdated":"2023-08-16T00:04:31.000Z","assignmentType":"GROUP","_links":{"assignee":{"href":"https://classic-00.oktapreview.com/api/v1/groups/00g9i7lcmvBr1yHje1d7"}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 70.507398ms
[...]
    - id: 34
      request:
        host: classic-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/groups/00g9i7lcmvBr1yHje1d7/roles/JBCUYUC7IRCVGS27IFCE2SKO/targets/groups?limit=200
        method: GET
      response:
        body: '[{"id":"00g9i7hunl1EF8uA11d7","created":"2023-08-16T00:04:30.000Z","lastUpdated":"2023-08-16T00:04:30.000Z","lastMembershipUpdated":"2023[...]
    - id: 35
      request:
        host: classic-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/groups/00g9i7lcmvBr1yHje1d7/roles/IFIFAX2BIRGUSTQ/targets/catalog/apps/template_swa/0oa9i7e4xs8Kz3qyG1d7
        method: PUT
      response:
        body: ""
        headers:
        status: 204 No Content
        code: 204
        duration: 98.151276ms
[...]
    - id: 62
      request:
        host: classic-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/apps/0oa9i7e4xs8Kz3qyG1d7/lifecycle/deactivate
        method: POST
      response:
        body: '{}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 83.057083ms
[...]
    - id: 67
      request:
        host: classic-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/groups/00g9i7lcmvBr1yHje1d7/roles/IFIFAX2BIRGUSTQ/targets/catalog/apps/facebook
        method: PUT
      response:
        body: ""
        headers:
        status: 204 No Content
        code: 204
        duration: 148.958652ms
[...]
    - id: 69
      request:
        host: classic-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/groups/00g9i7lcmvBr1yHje1d7/roles/IFIFAX2BIRGUSTQ/targets/catalog/apps?limit=200&status=ACTIVE
        method: GET
      response:
        body: '[{"name":"facebook","displayName":"Facebook","description":"Giving people the power to share and make the world more open and connected.","status":"ACTIVE","lastUpdated":"2021-03-18T17:37:56.000Z","category":"SOCIAL","verificationStatus":"OKTA_VERIFIED","website":"https://www.facebook.com/","signOnModes":["BROWSER_PLUGIN"],"_links":{"logo":[{"name":"medium","href":"https://op3static.oktacdn.com/fs/bcg/4/gfshpspesrHHFC4Ve1d6"}],"self":{"href":"https://classic-00.oktapreview.com/api/v1/catalog/apps/facebook"}}}]'
        headers:
            Content-Type:
                - application/json
            Link:
                - <https://classic-00.dne-okta.com/api/v1/groups/00g9i7lcmvBr1yHje1d7/roles/IFIFAX2BIRGUSTQ/targets/catalog/apps?after=PGEhki6gRZVSqqjgOKxSk6mRA1&limit=20>; rel="self"
        status: 200 OK
        code: 200
        duration: 75.302402ms
[...]
    - id: 94
      request:
        host: classic-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/apps/0oa9i7gqppmmu770j1d7
        method: GET
      response:
        body: '{"id":"0oa9i7gqppmmu770j1d7","name":"template_swa","label":"testAcc_2327057166","status":"ACTIVE","lastUpdated":"2023-08-16T00:04:35.000Z","created":"2023-08-16T00:04:35.000Z","accessibility":{"s[...]
[...]
    - id: 103
      request:
        host: classic-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/apps/0oa9i7gqppmmu770j1d7/lifecycle/deactivate
        method: POST
      response:
        body: '{}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 98.129903ms
[...]
    - id: 109
      request:
        host: classic-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/groups/00g9i7lcmvBr1yHje1d7
        method: GET
      response:
        body: '{"errorCode":"E0000007","errorSummary":"Not found: Resource not found: 00g9i7lcmvBr1yHje1d7 (UserGroup)","errorLink":"E0000007","errorId":"oaeiEeOlcAjSHa0mEnQnK-pvA","errorCauses":[]}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 60.545929ms
