---
version: 2
interactions:
    - id: 0
      request:
        host: oie-00.dne-okta.com
        body: |
            {"profile":{"name":"testAcc_1056686360","description":"testing, testing"}}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://oie-00.dne-okta.com/api/v1/groups
        method: POST
      response:
        body: '{"id":"00gkwqsxdnZfPmwdm1d7","created":"2025-03-13T23:24:20.000Z","lastUpdated":"2025-03-13T23:24:20.000Z","lastMembershipUpdated":"2025-03-13T23:24:20.000Z","objectClass":["okta:user_group"],"type":"OKTA_GROUP","profile":{"name":"testAcc_1056686360","description":"testing, testing"},"_links":{"logo":[{"name":"medium","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-medium.30ce6d4085dff29412984e4c191bc874.png","type":"image/png"},{"name":"large","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-large.c3cb8cda8ae0add1b4fe928f5844dbe3.png","type":"image/png"}],"users":{"href":"https://oie-00.dne-okta.com/api/v1/groups/00gkwqsxdnZfPmwdm1d7/users"},"apps":{"href":"https://oie-00.dne-okta.com/api/v1/groups/00gkwqsxdnZfPmwdm1d7/apps"}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 207.383458ms
[...]
    - id: 2
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/groups/00gkwqriks9s7Afd31d7
        method: GET
      response:
        body: '{"id":"00gkwqriks9s7Afd31d7","created":"2025-03-13T23:24:20.000Z","lastUpdated":"2025-03-13T23:24:20.000Z","lastMembershipUpdated":"2025-03-13T23:24:20.000Z","objectClass":["okta:user_group"],"type":"OKTA_GROUP","profile":{"name":"testAcc_1056686360_MORE","description":"testing, more"},"_links":{"logo":[{"name":"medium","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-medium.30ce6d4085dff29412984e4c191bc874.png","type":"image/png"},{"name":"large","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-large.c3cb8cda8ae0add1b4fe928f5844dbe3.png","type":"image/png"}],"users":{"href":"https://oie-00.dne-okta.com/api/v1/groups/00gkwqriks9s7Afd31d7/users"},"apps":{"href":"https://oie-00.dne-okta.com/api/v1/groups/00gkwqriks9s7Afd31d7/apps"}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 246.138541ms
    - id: 3
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/groups/00gkwqsxdnZfPmwdm1d7
        method: GET
      response:
        body: '{"id":"00gkwqsxdnZfPmwdm1d7","created":"2025-03-13T23:24:20.000Z","lastUpdated":"2025-03-13T23:24:20.000Z","lastMembershipUpdated":"2025-03-13T23:24:20.000Z","objectClass":["okta:user_group"],"type":"OKTA_GROUP","profile":{"name":"testAcc_1056686360","description":"testing, testing"},"_links":{"logo":[{"name":"medium","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-medium.30ce6d4085dff29412984e4c191bc874.png","type":"image/png"},{"name":"large","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-large.c3cb8cda8ae0add1b4fe928f5844dbe3.png","type":"image/png"}],"users":{"href":"https://oie-00.dne-okta.com/api/v1/groups/00gkwqsxdnZfPmwdm1d7/users"},"apps":{"href":"https://oie-00.dne-okta.com/api/v1/groups/00gkwqsxdnZfPmwdm1d7/apps"}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 260.066541ms
[...]
    - id: 6
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/groups?q=testAcc
        method: GET
      response:
        body: '[{"id":"00gkwqsxdnZfPmwdm1d7","created":"2025-03-13T23:24:20.000Z","lastUpdated":"2025-03-13T23:24:20.000Z","lastMembershipUpdated":"2025-03-13T23:24:20.000Z","objectClass":["okta:user_group"],"type":"OKTA_GROUP",[...]
[...]
    - id: 9
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/groups?q=testAcc_1056686360
        method: GET
      response:
        body: '[{"id":"00gkwqsxdnZfPmwdm1d7","created":"2025-03-13T23:24:20.000Z","lastUpdated":"2025-03-13T23:24:20.000Z","lastMembershipUpdated":"2025-03-13T23:24:20.000Z","objectClass":["okta:user_group"],"type":"O[...]
[...]
