---
version: 1
interactions:
- request:
    body: |
      {"profile":{"name":"testAcc_2380644487","description":"testing, testing, testing"}}
    form: {}
    headers:
      Authorization:
      - SSWS REDACTED
      Content-Type:
      - application/json
    url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/groups
    method: POST
  response:
    body: '{"id":"00g7l80bs4rSQsvDs1d7","created":"2023-04-06T18:44:08.000Z","lastUpdated":"2023-04-06T18:44:08.000Z","lastMembershipUpdated":"2023-04-06T18:44:08.000Z","objectClass":["okta:user_group"],"type":"OKTA_GROUP","profile":{"name":"testAcc_2380644487","description":"testing, testing, testing"},"_links":{"logo":[{"name":"medium","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-medium.1a5ebe44c4244fb796c235d86b47e3bb.png","type":"image/png"},{"name":"large","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-large.d9cfbd8a00a4feac1aa5612ba02e99c0.png","type":"image/png"}],"users":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/groups/00g7l80bs4rSQsvDs1d7/users"},"apps":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/groups/00g7l80bs4rSQsvDs1d7/apps"}}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"definitions":{"custom":{"id":"#custom","properties":{"customfieldId":{"description":"Test custom field","master":{"type":"PROFILE_MASTER"},"maxLength":50,"minLength":1,"permissions":[{"action":"READ_ONLY","principal":"SELF"}],"required":false,"scope":"NONE","title":"Test Custom Field","type":"string"}},"type":"object"}}}
    form: {}
    headers:
      Authorization:
      - SSWS REDACTED
      Content-Type:
      - application/json
    url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/meta/schemas/user/default
    method: POST
  response:
    body: '{"id":"https://mm-oie-2022-10-07-max.oktapreview.com/meta/schemas/user/default","$schema":"http://json-schema.org/draft-04/schema#","name":"user","title":"User","description":"Okta user profile template with default permission settings","lastUpdated":"2023-04-06T18:44:08.000Z","created":"2022-10-07T23:16:57.000Z","definitions":{"custom":{"id":"#custom","type":"object","properties":{"SDK_TEST_SDK_TEST_zinqgmfqcbptjyv":{"title":"SDK_TEST_SDK_TEST_zinqgmfqcbptjyv","type":"string","mutability":"READ_WRITE","scope":"NONE","minLength":1,"maxLength":20,"permissions":[{"principal":"SELF","action":"READ_WRITE"}],"master":{"type":"PROFILE_MASTER"}},"SDK_TEST_SDK_TEST_eqcualszulbxdxq":{"title":"SDK_TEST_SDK_TEST_eqcualszulbxdxq","type":"string","mutability":"READ_WRITE","scope":"NONE","minLength":1,"maxLength":20,"permissions":[{"principal":"SELF","action":"READ_WRITE"}],"master":{"type":"PROFILE_MASTER"}},"customfieldId":{"title":"Test Custom Field","description":"Test custom field","type":"string","mutability":"READ_WRITE","scope":"NONE","minLength":1,"maxLength":50,"permissions":[{"principal":"SELF","action":"READ_ONLY"}],"master":{"type":"PROFILE_MASTER"}}},"required":[]},"base":{"id":"#base","type":"object","properties":{"login":{"title":"Username","type":"string","required":true,"mutability":"READ_WRITE","scope":"NONE","minLength":5,"maxLength":100,"permissions":[{"principal":"SELF","action":"READ_WRITE"}],"master":{"type":"PROFILE_MASTER"}},"firstName":{"title":"First name","type":"string","mutability":"READ_WRITE","scope":"NONE","minLength":1,"maxLength":50,"permissions":[{"principal":"SELF","action":"READ_WRITE"}],"master":{"type":"PROFILE_MASTER"}},"lastName":{"title":"Last name","type":"string","mutability":"READ_WRITE","scope":"NONE","minLength":1,"maxLength":50,"permissions":[{"principal":"SELF","action":"READ_WRITE"}],"master":{"type":"PROFILE_MASTER"}},"middleName":{"title":"Middle name","type":"string","mutability":"READ_WRITE","scope":"NONE","permissions":[{"principal":"SELF","action":"READ_ONLY"}],"master":{"type":"PROFILE_MASTER"}},"honorificPrefix":{"title":"Honorific prefix","type":"string","mutability":"READ_WRITE","scope":"NONE","permissions":[{"principal":"SELF","action":"READ_ONLY"}],"master":{"type":"PROFILE_MASTER"}},"honorificSuffix":{"title":"Honorific suffix","type":"string","mutability":"READ_WRITE","scope":"NONE","permissions":[{"principal":"SELF","action":"READ_ONLY"}],"master":{"type":"PROFILE_MASTER"}},"email":{"title":"Primary email","type":"string","required":true,"format":"email","mutability":"READ_WRITE","scope":"NONE","permissions":[{"principal":"SELF","action":"READ_WRITE"}],"master":{"type":"PROFILE_MASTER"}},"title":{"title":"Title","type":"string","mutability":"READ_WRITE","scope":"NONE","permissions":[{"principal":"SELF","action":"READ_ONLY"}],"master":{"type":"PROFILE_MASTER"}},"displayName":{"title":"Display name","type":"string","mutability":"READ_WRITE","scope":"NONE","permissions":[{"principal":"SELF","action":"READ_ONLY"}],"master":{"type":"PROFILE_MASTER"}},"nickName":{"title":"Nickname","type":"string","mutability":"READ_WRITE","scope":"NONE","permissions":[{"principal":"SELF","action":"READ_ONLY"}],"master":{"type":"PROFILE_MASTER"}},"profileUrl":{"title":"Profile Url","type":"string","format":"uri","mutability":"READ_WRITE","scope":"NONE","permissions":[{"principal":"SELF","action":"READ_ONLY"}],"master":{"type":"PROFILE_MASTER"}},"secondEmail":{"title":"Secondary email","type":"string","format":"email","mutability":"READ_WRITE","scope":"NONE","permissions":[{"principal":"SELF","action":"READ_WRITE"}],"master":{"type":"PROFILE_MASTER"}},"mobilePhone":{"title":"Mobile phone","type":"string","mutability":"READ_WRITE","scope":"NONE","maxLength":100,"permissions":[{"principal":"SELF","action":"READ_WRITE"}],"master":{"type":"PROFILE_MASTER"}},"primaryPhone":{"title":"Primary phone","type":"string","mutability":"READ_WRITE","scope":"NONE","maxLength":100,"permissions":[{"principal":"SELF","action":"HIDE"}],"master":{"type":"PROFILE_MASTER"}},"streetAddress":{"title":"Street address","type":"string","mutability":"READ_WRITE","scope":"NONE","permissions":[{"principal":"SELF","action":"HIDE"}],"master":{"type":"PROFILE_MASTER"}},"city":{"title":"City","type":"string","mutability":"READ_WRITE","scope":"NONE","permissions":[{"principal":"SELF","action":"HIDE"}],"master":{"type":"PROFILE_MASTER"}},"state":{"title":"State","type":"string","mutability":"READ_WRITE","scope":"NONE","permissions":[{"principal":"SELF","action":"HIDE"}],"master":{"type":"PROFILE_MASTER"}},"zipCode":{"title":"Zip code","type":"string","mutability":"READ_WRITE","scope":"NONE","permissions":[{"principal":"SELF","action":"HIDE"}],"master":{"type":"PROFILE_MASTER"}},"countryCode":{"title":"Country code","type":"string","format":"country-code","mutability":"READ_WRITE","scope":"NONE","permissions":[{"principal":"SELF","action":"HIDE"}],"master":{"type":"PROFILE_MASTER"}},"postalAddress":{"title":"Postal Address","type":"string","mutability":"READ_WRITE","scope":"NONE","permissions":[{"principal":"SELF","action":"HIDE"}],"master":{"type":"PROFILE_MASTER"}},"preferredLanguage":{"title":"Preferred language","type":"string","format":"language-code","mutability":"READ_WRITE","scope":"NONE","permissions":[{"principal":"SELF","action":"READ_ONLY"}],"master":{"type":"PROFILE_MASTER"}},"locale":{"title":"Locale","type":"string","format":"locale","mutability":"READ_WRITE","scope":"NONE","permissions":[{"principal":"SELF","action":"READ_ONLY"}],"master":{"type":"PROFILE_MASTER"}},"timezone":{"title":"Time zone","type":"string","format":"timezone","mutability":"READ_WRITE","scope":"NONE","permissions":[{"principal":"SELF","action":"READ_ONLY"}],"master":{"type":"PROFILE_MASTER"}},"userType":{"title":"User type","type":"string","mutability":"READ_WRITE","scope":"NONE","permissions":[{"principal":"SELF","action":"READ_ONLY"}],"master":{"type":"PROFILE_MASTER"}},"employeeNumber":{"title":"Employee number","type":"string","mutability":"READ_WRITE","scope":"NONE","permissions":[{"principal":"SELF","action":"READ_ONLY"}],"master":{"type":"PROFILE_MASTER"}},"costCenter":{"title":"Cost center","type":"string","mutability":"READ_WRITE","scope":"NONE","permissions":[{"principal":"SELF","action":"READ_ONLY"}],"master":{"type":"PROFILE_MASTER"}},"organization":{"title":"Organization","type":"string","mutability":"READ_WRITE","scope":"NONE","permissions":[{"principal":"SELF","action":"READ_ONLY"}],"master":{"type":"PROFILE_MASTER"}},"division":{"title":"Division","type":"string","mutability":"READ_WRITE","scope":"NONE","permissions":[{"principal":"SELF","action":"READ_ONLY"}],"master":{"type":"PROFILE_MASTER"}},"department":{"title":"Department","type":"string","mutability":"READ_WRITE","scope":"NONE","permissions":[{"principal":"SELF","action":"READ_ONLY"}],"master":{"type":"PROFILE_MASTER"}},"managerId":{"title":"ManagerId","type":"string","mutability":"READ_WRITE","scope":"NONE","permissions":[{"principal":"SELF","action":"READ_ONLY"}],"master":{"type":"PROFILE_MASTER"}},"manager":{"title":"Manager","type":"string","mutability":"READ_WRITE","scope":"NONE","permissions":[{"principal":"SELF","action":"READ_ONLY"}],"master":{"type":"PROFILE_MASTER"}}},"required":["login","email"]}},"type":"object","properties":{"profile":{"allOf":[{"$ref":"#/definitions/custom"},{"$ref":"#/definitions/base"}]}},"_links":{"self":{"rel":"self","href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/meta/schemas/user/osc5qwjvh0Vy1j8Kd1d7","method":"GET"},"type":{"rel":"type","href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/meta/types/user/oty5qwjvh0Vy1j8Kd1d7","method":"GET"}}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/groups/00g7l80bs4rSQsvDs1d7
    method: GET
  response:
    body: '{"id":"00g7l80bs4rSQsvDs1d7","created":"2023-04-06T18:44:08.000Z","lastUpdated":"2023-04-06T18:44:08.000Z","lastMembershipUpdated":"2023-04-06T18:44:08.000Z","objectClass":["okta:user_group"],"type":"OKTA_GROUP","profile":{"name":"testAcc_2380644487","description":"testing, testing, testing"},"_links":{"logo":[{"name":"medium","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-medium.1a5ebe44c4244fb796c235d86b47e3bb.png","type":"image/png"},{"name":"large","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-large.d9cfbd8a00a4feac1aa5612ba02e99c0.png","type":"image/png"}],"users":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/groups/00g7l80bs4rSQsvDs1d7/users"},"apps":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/groups/00g7l80bs4rSQsvDs1d7/apps"}}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: |
      {"issuerMode":"ORG_URL","name":"testAcc_google_2380644487","policy":{"accountLink":{"action":"AUTO"},"maxClockSkew":0,"provisioning":{"action":"AUTO","conditions":{"deprovisioned":{"action":"NONE"},"suspended":{"action":"NONE"}},"groups":{"action":"NONE"},"profileMaster":false},"subject":{"matchType":"USERNAME","userNameTemplate":{"template":"idpuser.email"}}},"protocol":{"credentials":{"client":{"client_id":"abcd123","client_secret":"abcd123"}},"scopes":["openid","profile","email"],"type":"OIDC"},"type":"GOOGLE"}
    form: {}
    headers:
      Authorization:
      - SSWS REDACTED
      Content-Type:
      - application/json
    url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/idps
    method: POST
  response:
    body: '{"id":"0oa7l7yco52KoOHtb1d7","issuerMode":"ORG_URL","name":"testAcc_google_2380644487","status":"ACTIVE","created":"2023-04-06T18:44:08.000Z","lastUpdated":"2023-04-06T18:44:09.000Z","protocol":{"type":"OIDC","endpoints":{"authorization":{"url":"https://accounts.google.com/o/oauth2/auth","binding":"HTTP-REDIRECT"},"token":{"url":"https://www.googleapis.com/oauth2/v3/token","binding":"HTTP-POST"}},"scopes":["openid","profile","email"],"credentials":{"client":{"client_id":"abcd123","client_secret":"abcd123"}}},"policy":{"provisioning":{"action":"AUTO","profileMaster":false,"groups":{"action":"NONE"},"conditions":{"deprovisioned":{"action":"NONE"},"suspended":{"action":"NONE"}}},"accountLink":{"filter":null,"action":"AUTO"},"subject":{"userNameTemplate":{"template":"idpuser.email"},"filter":null,"matchType":"USERNAME","matchAttribute":null},"maxClockSkew":0},"type":"GOOGLE","_links":{"authorize":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/oauth2/v1/authorize?idp=0oa7l7yco52KoOHtb1d7&client_id={clientId}&response_type={responseType}&response_mode={responseMode}&scope={scopes}&redirect_uri={redirectUri}&state={state}&nonce={nonce}","templated":true,"hints":{"allow":["GET"]}},"clientRedirectUri":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/oauth2/v1/authorize/callback","hints":{"allow":["POST"]}}}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/idps/0oa7l7yl74w0Evgct1d7/lifecycle/activate
    method: POST
  response:
    body: '{"id":"0oa7l7yl74w0Evgct1d7","issuerMode":"ORG_URL","name":"testAcc_facebook_2380644487","status":"ACTIVE","created":"2023-04-06T18:44:09.000Z","lastUpdated":"2023-04-06T18:44:09.000Z","protocol":{"type":"OAUTH2","endpoints":{"authorization":{"url":"https://ww[...]
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/idps/0oa7l7yco52KoOHtb1d7/lifecycle/activate
    method: POST
  response:
    body: '{"id":"0oa7l7yco52KoOHtb1d7","issuerMode":"ORG_URL","name":"testAcc_google_2380644487","status":"ACTIVE","created":"2023-04-06T18:44:08.000Z","lastUpdated":"2023-04-06T18:44:09.000Z","protocol":{"type":"OIDC","endpoints":{"authorization":{"url":"https://accoun[...]
- request:
    body: |
      {"issuerMode":"ORG_URL","name":"testAcc_microsoft_2380644487","policy":{"accountLink":{"action":"AUTO"},"maxClockSkew":0,"provisioning":{"action":"AUTO","conditions":{"deprovisioned":{"action":"NONE"},"suspended":{"action":"NONE"}},"groups":{"action":"ASSIGN","assignments":["00g7l80bs4rSQsvDs1d7"]},"profileMaster":false},"subject":{"matchType":"USERNAME","userNameTemplate":{"template":"idpuser.userPrincipalName"}}},"protocol":{"credentials":{"client":{"client_id":"abcd123","client_secret":"abcd123"}},"scopes":["https://graph.microsoft.com/User.Read","openid","profile","email"],"type":"OIDC"},"type":"MICROSOFT"}
    form: {}
    headers:
      Authorization:
      - SSWS REDACTED
      Content-Type:
      - application/json
    url: https://mm-oie-2022-10-07-max.ok[...]
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/idps/0oa7l7yco52KoOHtb1d7
    method: GET
  response:
    body: '{"id":"0oa7l7yco52KoOHtb1d7","issuerMode":"ORG_URL","name":"testAcc_google_2380644487","status":"ACTIVE","created":"2023-04-06T18:44:08.000Z","lastUpdated":"2023-04-06T18:44:09.000Z","protocol":{"type":"OIDC","endpoints":{"authorization":{"url":"https://accounts.google.com/o/oaut[...]
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/idps/0oa7l7yl74w0Evgct1d7
    method: GET
  response:
    body: '{"id":"0oa7l7yl74w0Evgct1d7","issuerMode":"ORG_URL","name":"testAcc_facebook_2380644487","status":"ACTIVE","created":"2023-04-06T18:44:09.000Z","lastUpdated":"2023-04-06T18:44:09.000Z","protocol":{"type":"OAUTH2","endpoints":{"authorization":{"url":"https://www.facebook.com/dialo[...]
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/idps/0oa7l7zkd4oY3mgPA1d7/lifecycle/activate
    method: POST
  response:
    body: '{"id":"0oa7l7zkd4oY3mgPA1d7","issuerMode":"ORG_URL","name":"testAcc_microsoft_2380644487","status":"ACTIVE","created":"2023-04-06T18:44:09.000Z","lastUpdated":"2023-04-06T18:44:09.000Z","protocol":{"type":"OIDC","endpoints":{"authorization":{"url":"https://log[...]
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/idps/0oa7l7zkd4oY3mgPA1d7
    method: GET
  response:
    body: '{"id":"0oa7l7zkd4oY3mgPA1d7","issuerMode":"ORG_URL","name":"testAcc_microsoft_2380644487","status":"ACTIVE","created":"2023-04-06T18:44:09.000Z","lastUpdated":"2023-04-06T18:44:09.000Z","protocol":{"type":"OIDC","endpoints":{"authorization":{"url":"https://login.microsoftonline.c[...]
[...]
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/idps?limit=200&q=testAcc_microsoft_2380644487
    method: GET
  response:
    body: '[{"id":"0oa7l7zkd4oY3mgPA1d7","issuerMode":"ORG_URL","name":"testAcc_microsoft_2380644487","status":"ACTIVE","created":"2023-04-06T18:44:09.000Z","lastUpdated":"2023-04-06T18:44:09.000Z","protocol":{"type":"OIDC","endpoints":{"authorization":{"url":"https://lo[...]
[...]
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/idps?limit=200&q=google
    method: GET
  response:
    body: '[{"id":"0oa7l7yco52KoOHtb1d7","issuerMode":"ORG_URL","name":"testAcc_google_2380644487","status":"ACTIVE","created":"2023-04-06T18:44:08.000Z","lastUpdated":"2023-04-06T18:44:09.000Z","protocol":{"type":"OIDC","endpoints":{"authorization":{"url":"https://accounts.google.com/o/oauth[...]
[...]
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/idps/0oa7l7zkd4oY3mgPA1d7/lifecycle/deactivate
    method: POST
  response:
    body: '{"id":"0oa7l7zkd4oY3mgPA1d7","issuerMode":"ORG_URL","name":"testAcc_microsoft_2380644487","status":"INACTIVE","created":"2023-04-06T18:44:09.000Z","lastUpdated":"2023-04-06T18:44:13.000Z","protocol":{"type":"OIDC","endpoints":{"authorization":{"url":"https:/[...]
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/idps/0oa7l7yl74w0Evgct1d7/lifecycle/deactivate
    method: POST
  response:
    body: '{"id":"0oa7l7yl74w0Evgct1d7","issuerMode":"ORG_URL","name":"testAcc_facebook_2380644487","status":"INACTIVE","created":"2023-04-06T18:44:09.000Z","lastUpdated":"2023-04-06T18:44:13.000Z","protocol":{"type":"OAUTH2","endpoints":{"authorization":{"url":"https:[...]
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/idps/0oa7l7yco52KoOHtb1d7/lifecycle/deactivate
    method: POST
  response:
    body: '{"id":"0oa7l7yco52KoOHtb1d7","issuerMode":"ORG_URL","name":"testAcc_google_2380644487","status":"INACTIVE","created":"2023-04-06T18:44:08.000Z","lastUpdated":"2023-04-06T18:44:13.000Z","protocol":{"type":"OIDC","endpoints":{"authorization":{"url":"https://ac[...]
[...]
