---
version: 1
interactions:
- request:
    body: |
      {"profile":{"name":"testAcc_2380644487","description":"testing, testing, testing"}}
    form: {}
    headers:
      Authorization:
      - SSWS REDACTED
      Content-Type:
      - application/json
    url: https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/groups
    method: POST
  response:
    body: '{"id":"00g6m93j9dHpWbYRS1d7","created":"2023-01-11T20:03:04.000Z","lastUpdated":"2023-01-11T20:03:04.000Z","lastMembershipUpdated":"2023-01-11T20:03:04.000Z","objectClass":["okta:user_group"],"type":"OKTA_GROUP","profile":{"name":"testAcc_2380644487","description":"testing,
      testing, testing"},"_links":{"logo":[{"name":"medium","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-medium.1a5ebe44c4244fb796c235d86b47e3bb.png","type":"image/png"},{"name":"large","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-large.d9cfbd8a00a4feac1aa5612ba02e99c0.png","type":"image/png"}],"users":{"href":"https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/groups/00g6m93j9dHpWbYRS1d7/users"},"apps":{"href":"https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/groups/00g6m93j9dHpWbYRS1d7/apps"}}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"definitions":{"custom":{"id":"#custom","properties":{"customfieldId":{"description":"Test custom field","master":{"type":"PROFILE_MASTER"},"maxLength":50,"minLength":1,"permissions":[{"action":"READ_ONLY","principal":"SELF"}],"required":false,"scope":"NONE","title":"Test Custom Field","type":"string"}},"type":"object"}}}
    form: {}
    headers:
      Authorization:
      - SSWS REDACTED
      Content-Type:
      - application/json
    url: https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/meta/schemas/user/default
    method: POST
  response:
    body: '{"id":"https://tien-oie-tf-2022-09-21.oktapreview.com/meta/schemas/user/default","$schema":"http://json-schema.org/draft-04/schema#","name":"user","title":"User","description":"Okta
      user profile template with default permission settings","lastUpdated":"2023-01-11T20:03:04.000Z","created":"2022-09-21T17:21:14.000Z","definitions":{"custom":{"id":"#custom","type":"object","properties":{"customfieldId":{"title":"Test
      Custom Field","description":"Test custom field","type":"string","mutability":"READ_WRITE","scope":"NONE","minLength":1,"maxLength":50,"permissions":[{"principal":"SELF","action":"READ_ONLY"}]}},"required":[]},"base":{"id":"#base","type":"object","properties":{"login":{"title":"Username","type":"string","required":true,"mutability":"READ_WRITE","scope":"NONE","minLength":5,"maxLength":100,"permissions":[{"principal":"SELF","action":"READ_WRITE"}]},"firstName":{"title":"First
      name","type":"string","required":true,"mutability":"READ_WRITE","scope":"NONE","minLength":1,"maxLength":50,"permissions":[{"principal":"SELF","action":"READ_WRITE"}]},"lastName":{"title":"Last
      name","type":"string","required":true,"mutability":"READ_WRITE","scope":"NONE","minLength":1,"maxLength":50,"permissions":[{"principal":"SELF","action":"READ_WRITE"}]},"middleName":{"title":"Middle
      name","type":"string","mutability":"READ_WRITE","scope":"NONE","permissions":[{"principal":"SELF","action":"READ_ONLY"}]},"honorificPrefix":{"title":"Honorific
      prefix","type":"string","mutability":"READ_WRITE","scope":"NONE","permissions":[{"principal":"SELF","action":"READ_ONLY"}]},"honorificSuffix":{"title":"Honorific
      suffix","type":"string","mutability":"READ_WRITE","scope":"NONE","permissions":[{"principal":"SELF","action":"READ_ONLY"}]},"email":{"title":"Primary
      email","type":"string","required":true,"format":"email","mutability":"READ_WRITE","scope":"NONE","permissions":[{"principal":"SELF","action":"READ_WRITE"}]},"title":{"title":"Title","type":"string","mutability":"READ_WRITE","scope":"NONE","permissions":[{"principal":"SELF","action":"READ_ONLY"}]},"displayName":{"title":"Display
      name","type":"string","mutability":"READ_WRITE","scope":"NONE","permissions":[{"principal":"SELF","action":"READ_ONLY"}]},"nickName":{"title":"Nickname","type":"string","mutability":"READ_WRITE","scope":"NONE","permissions":[{"principal":"SELF","action":"READ_ONLY"}]},"profileUrl":{"title":"Profile
      Url","type":"string","format":"uri","mutability":"READ_WRITE","scope":"NONE","permissions":[{"principal":"SELF","action":"READ_ONLY"}]},"secondEmail":{"title":"Secondary
      email","type":"string","format":"email","mutability":"READ_WRITE","scope":"NONE","permissions":[{"principal":"SELF","action":"READ_WRITE"}]},"mobilePhone":{"title":"Mobile
      phone","type":"string","mutability":"READ_WRITE","scope":"NONE","maxLength":100,"permissions":[{"principal":"SELF","action":"READ_WRITE"}]},"primaryPhone":{"title":"Primary
      phone","type":"string","mutability":"READ_WRITE","scope":"NONE","maxLength":100,"permissions":[{"principal":"SELF","action":"HIDE"}]},"streetAddress":{"title":"Street
      address","type":"string","mutability":"READ_WRITE","scope":"NONE","permissions":[{"principal":"SELF","action":"HIDE"}]},"city":{"title":"City","type":"string","mutability":"READ_WRITE","scope":"NONE","permissions":[{"principal":"SELF","action":"HIDE"}]},"state":{"title":"State","type":"string","mutability":"READ_WRITE","scope":"NONE","permissions":[{"principal":"SELF","action":"HIDE"}]},"zipCode":{"title":"Zip
      code","type":"string","mutability":"READ_WRITE","scope":"NONE","permissions":[{"principal":"SELF","action":"HIDE"}]},"countryCode":{"title":"Country
      code","type":"string","format":"country-code","mutability":"READ_WRITE","scope":"NONE","permissions":[{"principal":"SELF","action":"HIDE"}]},"postalAddress":{"title":"Postal
      Address","type":"string","mutability":"READ_WRITE","scope":"NONE","permissions":[{"principal":"SELF","action":"HIDE"}]},"preferredLanguage":{"title":"Preferred
      language","type":"string","format":"language-code","mutability":"READ_WRITE","scope":"NONE","permissions":[{"principal":"SELF","action":"READ_ONLY"}]},"locale":{"title":"Locale","type":"string","format":"locale","mutability":"READ_WRITE","scope":"NONE","permissions":[{"principal":"SELF","action":"READ_ONLY"}]},"timezone":{"title":"Time
      zone","type":"string","format":"timezone","mutability":"READ_WRITE","scope":"NONE","permissions":[{"principal":"SELF","action":"READ_ONLY"}]},"userType":{"title":"User
      type","type":"string","mutability":"READ_WRITE","scope":"NONE","permissions":[{"principal":"SELF","action":"READ_ONLY"}]},"employeeNumber":{"title":"Employee
      number","type":"string","mutability":"READ_WRITE","scope":"NONE","permissions":[{"principal":"SELF","action":"READ_ONLY"}]},"costCenter":{"title":"Cost
      center","type":"string","mutability":"READ_WRITE","scope":"NONE","permissions":[{"principal":"SELF","action":"READ_ONLY"}]},"organization":{"title":"Organization","type":"string","mutability":"READ_WRITE","scope":"NONE","permissions":[{"principal":"SELF","action":"READ_ONLY"}]},"division":{"title":"Division","type":"string","mutability":"READ_WRITE","scope":"NONE","permissions":[{"principal":"SELF","action":"READ_ONLY"}]},"department":{"title":"Department","type":"string","mutability":"READ_WRITE","scope":"NONE","permissions":[{"principal":"SELF","action":"READ_ONLY"}]},"managerId":{"title":"ManagerId","type":"string","mutability":"READ_WRITE","scope":"NONE","permissions":[{"principal":"SELF","action":"READ_ONLY"}]},"manager":{"title":"Manager","type":"string","mutability":"READ_WRITE","scope":"NONE","permissions":[{"principal":"SELF","action":"READ_ONLY"}]}},"required":["login","firstName","lastName","email"]}},"type":"object","properties":{"profile":{"allOf":[{"$ref":"#/definitions/custom"},{"$ref":"#/definitions/base"}]}},"_links":{"self":{"rel":"self","href":"https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/meta/schemas/user/osc5jjkl30LP1EYa11d7","method":"GET"},"type":{"rel":"type","href":"https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/meta/types/user/oty5jjkl30LP1EYa11d7","method":"GET"}}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/groups/00g6m93j9dHpWbYRS1d7
    method: GET
  response:
    body: '{"id":"00g6m93j9dHpWbYRS1d7","created":"2023-01-11T20:03:04.000Z","lastUpdated":"2023-01-11T20:03:04.000Z","lastMembershipUpdated":"2023-01-11T20:03:04.000Z","objectClass":["okta:user_group"],"type":"OKTA_GROUP","profile":{"name":"testAcc_2380644487","description":"testing,
      testing, testing"},"_links":{"logo":[{"name":"medium","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-medium.1a5ebe44c4244fb796c235d86b47e3bb.png","type":"image/png"},{"name":"large","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-large.d9cfbd8a00a4feac1aa5612ba02e99c0.png","type":"image/png"}],"users":{"href":"https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/groups/00g6m93j9dHpWbYRS1d7/users"},"apps":{"href":"https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/groups/00g6m93j9dHpWbYRS1d7/apps"}}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: |
      {"issuerMode":"ORG_URL","name":"testAcc_google_2380644487","policy":{"accountLink":{"action":"AUTO"},"provisioning":{"action":"AUTO","conditions":{"deprovisioned":{"action":"NONE"},"suspended":{"action":"NONE"}},"groups":{"action":"NONE"},"profileMaster":false},"subject":{"matchType":"USERNAME","userNameTemplate":{"template":"idpuser.email"}}},"protocol":{"credentials":{"client":{"client_id":"abcd123","client_secret":"abcd123"}},"scopes":["openid","profile","email"],"type":"OIDC"},"type":"GOOGLE"}
    form: {}
    headers:
      Authorization:
      - SSWS REDACTED
      Content-Type:
      - application/json
    url: https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/idps
    method: POST
  response:
    body: '{"id":"0oa6m98ussENUj8eQ1d7","issuerMode":"ORG_URL","name":"testAcc_google_2380644487","status":"ACTIVE","created":"2023-01-11T20:03:04.000Z","lastUpdated":"2023-01-11T20:03:04.000Z","protocol":{"type":"OIDC","endpoints":{"authorization":{"url":"https://accounts.google.com/o/oauth2/auth","binding":"HTTP-REDIRECT"},"token":{"url":"https://www.googleapis.com/oauth2/v3/token","binding":"HTTP-POST"}},"scopes":["openid","profile","email"],"credentials":{"client":{"client_id":"abcd123","client_secret":"abcd123"}}},"policy":{"provisioning":{"action":"AUTO","profileMaster":false,"groups":{"action":"NONE"},"conditions":{"deprovisioned":{"action":"NONE"},"suspended":{"action":"NONE"}}},"accountLink":{"filter":null,"action":"AUTO"},"subject":{"userNameTemplate":{"template":"idpuser.email"},"filter":null,"matchType":"USERNAME","matchAttribute":null},"maxClockSkew":0},"type":"GOOGLE","_links":{"authorize":{"href":"https://tien-oie-tf-2022-09-21.oktapreview.com/oauth2/v1/authorize?idp=0oa6m98ussENUj8eQ1d7&client_id={clientId}&response_type={responseType}&response_mode={responseMode}&scope={scopes}&redirect_uri={redirectUri}&state={state}&nonce={nonce}","templated":true,"hints":{"allow":["GET"]}},"clientRedirectUri":{"href":"https://tien-oie-tf-2022-09-21.oktapreview.com/oauth2/v1/authorize/callback","hints":{"allow":["POST"]}}}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/idps/0oa6m98ussENUj8eQ1d7/lifecycle/activate
    method: POST
  response:
    body: '{"id":"0oa6m98ussENUj8eQ1d7","issuerMode":"ORG_URL","name":"testAcc_google_2380644487","status":"ACTIVE","created":"2023-01-11T20:03:04.000Z","lastUpdated":"2023-01-11T20:03:04.000Z","protocol":{"type":"OIDC","endpoints":{"authorization":{"url":"https://accou[...]
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/idps/0oa6m98ussENUj8eQ1d7
    method: GET
  response:
    body: '{"id":"0oa6m98ussENUj8eQ1d7","issuerMode":"ORG_URL","name":"testAcc_google_2380644487","status":"ACTIVE","created":"2023-01-11T20:03:04.000Z","lastUpdated":"2023-01-11T20:03:04.000Z","protocol":{"type":"OIDC","endpoints":{"authorization":{"url":"https://accounts.google.com/o/oau[...]
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/idps/0oa6m98ejrnTqrwYS1d7/lifecycle/activate
    method: POST
  response:
    body: '{"id":"0oa6m98ejrnTqrwYS1d7","issuerMode":"ORG_URL","name":"testAcc_facebook_2380644487","status":"ACTIVE","created":"2023-01-11T20:03:04.000Z","lastUpdated":"2023-01-11T20:03:04.000Z","protocol":{"type":"OAUTH2","endpoints":{"authorization":{"url":"https://w[...]
- request:
    body: |
      {"issuerMode":"ORG_URL","name":"testAcc_microsoft_2380644487","policy":{"accountLink":{"action":"AUTO"},"provisioning":{"action":"AUTO","conditions":{"deprovisioned":{"action":"NONE"},"suspended":{"action":"NONE"}},"groups":{"action":"ASSIGN","assignments":["00g6m93j9dHpWbYRS1d7"]},"profileMaster":false},"subject":{"matchType":"USERNAME","userNameTemplate":{"template":"idpuser.userPrincipalName"}}},"protocol":{"credentials":{"client":{"client_id":"abcd123","client_secret":"abcd123"}},"scopes":["https://graph.microsoft.com/User.Read","openid","profile","email"],"type":"OIDC"},"type":"MICROSOFT"}
    form: {}
    headers:
      Authorization:
      - SSWS REDACTED
      Content-Type:
      - application/json
    url: https://tien-oie-tf-2022-09-21.o[...]
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/idps/0oa6m98ejrnTqrwYS1d7
    method: GET
  response:
    body: '{"id":"0oa6m98ejrnTqrwYS1d7","issuerMode":"ORG_URL","name":"testAcc_facebook_2380644487","status":"ACTIVE","created":"2023-01-11T20:03:04.000Z","lastUpdated":"2023-01-11T20:03:04.000Z","protocol":{"type":"OAUTH2","endpoints":{"authorization":{"url":"https://www.facebook.com/dial[...]
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/idps/0oa6m94c99ADswtDZ1d7/lifecycle/activate
    method: POST
  response:
    body: '{"id":"0oa6m94c99ADswtDZ1d7","issuerMode":"ORG_URL","name":"testAcc_microsoft_2380644487","status":"ACTIVE","created":"2023-01-11T20:03:04.000Z","lastUpdated":"2023-01-11T20:03:05.000Z","protocol":{"type":"OIDC","endpoints":{"authorization":{"url":"https://lo[...]
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/idps/0oa6m94c99ADswtDZ1d7
    method: GET
  response:
    body: '{"id":"0oa6m94c99ADswtDZ1d7","issuerMode":"ORG_URL","name":"testAcc_microsoft_2380644487","status":"ACTIVE","created":"2023-01-11T20:03:04.000Z","lastUpdated":"2023-01-11T20:03:05.000Z","protocol":{"type":"OIDC","endpoints":{"authorization":{"url":"https://login.microsoftonline.[...]
[...]
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/idps?limit=200&q=google
    method: GET
  response:
    body: '[{"id":"0oa6m98ussENUj8eQ1d7","issuerMode":"ORG_URL","name":"testAcc_google_2380644487","status":"ACTIVE","created":"2023-01-11T20:03:04.000Z","lastUpdated":"2023-01-11T20:03:04.000Z","protocol":{"type":"OIDC","endpoints":{"authorization":{"url":"https://accounts.google.com/o/oaut[...]
[...]
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/idps?limit=200&q=testAcc_microsoft_2380644487
    method: GET
  response:
    body: '[{"id":"0oa6m94c99ADswtDZ1d7","issuerMode":"ORG_URL","name":"testAcc_microsoft_2380644487","status":"ACTIVE","created":"2023-01-11T20:03:04.000Z","lastUpdated":"2023-01-11T20:03:05.000Z","protocol":{"type":"OIDC","endpoints":{"authorization":{"url":"https://l[...]
[...]
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/idps/0oa6m98ussENUj8eQ1d7/lifecycle/deactivate
    method: POST
  response:
    body: '{"id":"0oa6m98ussENUj8eQ1d7","issuerMode":"ORG_URL","name":"testAcc_google_2380644487","status":"INACTIVE","created":"2023-01-11T20:03:04.000Z","lastUpdated":"2023-01-11T20:03:09.000Z","protocol":{"type":"OIDC","endpoints":{"authorization":{"url":"https://a[...]
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/idps/0oa6m94c99ADswtDZ1d7/lifecycle/deactivate
    method: POST
  response:
    body: '{"id":"0oa6m94c99ADswtDZ1d7","issuerMode":"ORG_URL","name":"testAcc_microsoft_2380644487","status":"INACTIVE","created":"2023-01-11T20:03:04.000Z","lastUpdated":"2023-01-11T20:03:09.000Z","protocol":{"type":"OIDC","endpoints":{"authorization":{"url":"https:[...]
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/idps/0oa6m98ejrnTqrwYS1d7/lifecycle/deactivate
    method: POST
  response:
    body: '{"id":"0oa6m98ejrnTqrwYS1d7","issuerMode":"ORG_URL","name":"testAcc_facebook_2380644487","status":"INACTIVE","created":"2023-01-11T20:03:04.000Z","lastUpdated":"2023-01-11T20:03:09.000Z","protocol":{"type":"OAUTH2","endpoints":{"authorization":{"url":"https[...]
[...]
