---
version: 1
interactions:
- request:
    body: |
      {"definitions":{"custom":{"id":"#custom","properties":{"testAcc_4160119275":{"description":"testing","items":{"enum":[0.01,0.02,0.03],"oneOf":[{"const":0.01,"title":"number point oh one"},{"const":0.02,"title":"number point oh two"},{"const":0.03,"title":"number point oh three"}],"type":"number"},"master":{"type":"OKTA"},"permissions":[{"action":"READ_ONLY","principal":"SELF"}],"required":false,"scope":"SELF","title":"terraform acceptance test","type":"array"}},"type":"object"}}}
    form: {}
    headers:
      Authorization:
      - SSWS REDACTED
      Content-Type:
      - application/json
    url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/meta/schemas/group/default
    method: POST
  response:
    body: '{"id":"https://mm-oie-2022-10-07-max.oktapreview.com/meta/schemas/group/default","$schema":"http://json-schema.org/draft-04/schema#","name":"group","title":"Okta group","description":"Okta group profile template","lastUpdated":"2023-04-06T19:36:19.000Z","created":"2022-10-07T23:16:57.000Z","definitions":{"custom":{"id":"#custom","type":"object","properties":{"testAcc_4160119275":{"title":"terraform acceptance test","description":"testing","type":"array","mutability":"READ_WRITE","scope":"SELF","items":{"type":"number","enum":[0.01,0.02,0.03],"oneOf":[{"const":0.01,"title":"number point oh one"},{"const":0.02,"title":"number point oh two"},{"const":0.03,"title":"number point oh three"}]},"permissions":[{"principal":"SELF","action":"READ_ONLY"}],"master":{"type":"OKTA"}}},"required":[]},"base":{"id":"#base","type":"object","properties":{"name":{"title":"Name","description":"Name","type":"string","required":true,"mutability":"READ_WRITE","scope":"NONE","maxLength":255,"permissions":[{"principal":"SELF","action":"READ_WRITE"}],"master":{"type":"PROFILE_MASTER"}},"description":{"title":"Description","description":"Description","type":"string","mutability":"READ_WRITE","scope":"NONE","maxLength":1024,"permissions":[{"principal":"SELF","action":"READ_WRITE"}],"master":{"type":"PROFILE_MASTER"}}},"required":["name"]}},"type":"object","properties":{"profile":{"allOf":[{"$ref":"#/definitions/custom"},{"$ref":"#/definitions/base"}]}},"_links":{"self":{"rel":"self","href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/meta/schemas/group/default","method":"GET"}}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
