---
version: 2
interactions:
    - id: 0
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/groups?q=Everyone
        method: GET
      response:
        body: '[{"id":"00g5qwjvgrD3WR89l1d7","created":"2022-10-07T23:16:57.000Z","lastUpdated":"2022-10-07T23:16:57.000Z","lastMembershipUpdated":"2023-10-31T17:18:37.000Z","objectClass":["okta:user_group"],"type":"BUILT_IN","profile":{"name":"Everyone","description":"All users in your organization"},"_links":{"logo":[{"name":"medium","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-medium.30ce6d4085dff29412984e4c191bc874.png","type":"image/png"},{"name":"large","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-large.c3cb8cda8ae0add1b4fe928f5844dbe3.png","type":"image/png"}],"users":{"href":"https://oie-00.oktapreview.com/api/v1/groups/00g5qwjvgrD3WR89l1d7/users"},"apps":{"href":"https://oie-00.oktapreview.com/api/v1/groups/00g5qwjvgrD3WR89l1d7/apps"}}}]'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 242.406774ms
[...]
    - id: 2
      request:
        host: oie-00.dne-okta.com
        body: |
            {"conditions":{"people":{"groups":{"include":["00g5qwjvgrD3WR89l1d7"]}}},"description":"Terraform Acceptance Test SignOn Policy","name":"testAcc_3075606774","status":"ACTIVE","type":"OKTA_SIGN_ON"}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://oie-00.dne-okta.com/api/v1/policies
        method: POST
      response:
        body: '{"id":"00payx1m919XfvQpO1d7","status":"ACTIVE","name":"testAcc_3075606774","description":"Terraform Acceptance Test SignOn Policy","priority":1,"system":false,"conditions":{"people":{"groups":{"include":["00g5qwjvgrD3WR89l1d7"]}}},"created":"2023-10-31T18:12:52.000Z","lastUpdated":"2023-10-31T18:12:52.000Z","_links":{"self":{"href":"https://oie-00.oktapreview.com/api/v1/policies/00payx1m919XfvQpO1d7","hints":{"allow":["GET","PUT","DELETE"]}},"rules":{"href":"https://oie-00.oktapreview.com/api/v1/policies/00payx1m919XfvQpO1d7/rules","hints":{"allow":["GET","POST"]}},"deactivate":{"href":"https://oie-00.oktapreview.com/api/v1/policies/00payx1m919XfvQpO1d7/lifecycle/deactivate","hints":{"allow":["POST"]}}},"type":"OKTA_SIGN_ON"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 105.355512ms
    - id: 3
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/policies/00payx1m919XfvQpO1d7/lifecycle/activate
        method: POST
      response:
        body: ""
        headers:
        status: 204 No Content
        code: 204
        duration: 75.462365ms
    - id: 4
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/policies/00payx1m919XfvQpO1d7
        method: GET
      response:
        body: '{"id":"00payx1m919XfvQpO1d7","status":"ACTIVE","name":"testAcc_3075606774","description":"Terraform Acceptance Test SignOn Policy","priority":1,"system":false,"conditions":{"people":{"groups":{"include":["00g5qwjvgrD3WR89l1d7"]}}},"created":"2023-10-31T18:12:52.000Z","lastUpdated":"2023-10-31T18:12:52.000Z","_links":{"self":{"href":"https://oie-00.oktapreview.com/api/v1/policies/00payx1m919XfvQpO1d7","hints":{"allow":["GET","PUT","DELETE"]}},"rules":{"href":"https://oie-00.oktapreview.com/api/v1/policies/00payx1m919XfvQpO1d7/rules","hints":{"allow":["GET","POST"]}},"deactivate":{"href":"https://oie-00.oktapreview.com/api/v1/policies/00payx1m919XfvQpO1d7/lifecycle/deactivate","hints":{"allow":["POST"]}}},"type":"OKTA_SIGN_ON"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 82.16932ms
    - id: 5
      request:
        host: oie-00.dne-okta.com
        body: |
            {"credentials":{"password":{}},"profile":{"email":"testAcc_3075606774@gmail.com","firstName":"TestAcc","lastName":"Smith","login":"testAcc_3075606774@gmail.com","postalAddress":null}}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://oie-00.dne-okta.com/api/v1/users
        method: POST
      response:
        body: '{"id":"00uayx3a8z3kXFdZh1d7","status":"PROVISIONED","created":"2023-10-31T18:12:52.000Z","activated":"2023-10-31T18:12:52.000Z","statusChanged":"2023-10-31T18:12:52.000Z","lastLogin":null,"lastUpdated":"2023-10-31T18:12:52.000Z","passwordChanged":null,"type":{"id":"oty5qwjvh0Vy1j8Kd1d7"},"profile":{"firstName":"TestAcc","lastName":"Smith","mobilePhone":null,"secondEmail":null,"login":"testAcc_3075606774@gmail.com","email":"testAcc_3075606774@gmail.com"},"credentials":{"provider":{"type":"OKTA","name":"OKTA"}},"_links":{"suspend":{"href":"https://oie-00.oktapreview.com/api/v1/users/00uayx3a8z3kXFdZh1d7/lifecycle/suspend","method":"POST"},"schema":{"href":"https://oie-00.oktapreview.com/api/v1/meta/schemas/user/osc5qwjvh0Vy1j8Kd1d7"},"resetPassword":{"href":"https://oie-00.oktapreview.com/api/v1/users/00uayx3a8z3kXFdZh1d7/lifecycle/reset_password","method":"POST"},"reactivate":{"href":"https://oie-00.oktapreview.com/api/v1/users/00uayx3a8z3kXFdZh1d7/lifecycle/reactivate","method":"POST"},"self":{"href":"https://oie-00.oktapreview.com/api/v1/users/00uayx3a8z3kXFdZh1d7"},"type":{"href":"https://oie-00.oktapreview.com/api/v1/meta/types/user/oty5qwjvh0Vy1j8Kd1d7"},"deactivate":{"href":"https://oie-00.oktapreview.com/api/v1/users/00uayx3a8z3kXFdZh1d7/lifecycle/deactivate","method":"POST"}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 296.996767ms
    - id: 6
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/users/00uayx3a8z3kXFdZh1d7
        method: GET
      response:
        body: '{"id":"00uayx3a8z3kXFdZh1d7","status":"PROVISIONED","created":"2023-10-31T18:12:52.000Z","activated":"2023-10-31T18:12:52.000Z","statusChanged":"2023-10-31T18:12:52.000Z","lastLogin":null,"lastUpdated":"[...]
    - id: 7
      request:
        host: oie-00.dne-okta.com
        body: |
            {"type":"SIGN_ON","name":"testAcc_3075606774","status":"ACTIVE","conditions":{"authContext":{"authType":"ANY"},"identityProvider":{"provider":"ANY"},"network":{"connection":"ANYWHERE"},"people":{"users":{"exclude":["00uayx3a8z3kXFdZh1d7"]}},"riskScore":{"level":"ANY"}},"actions":{"signon":{"access":"ALLOW","rememberDeviceByDefault":false,"requireFactor":false,"session":{"maxSessionIdleMinutes":120,"maxSessionLifetimeMinutes":120,"usePersistentCookie":false}}}}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://oie-00.dne-okta.com/api/v1/policies/00payx1m919XfvQpO1d7/rules
        method: POST
      response:
        body: '{"id":"0prayx53mzlsFIS1l1d7","status":"ACTIVE","name":"testAcc_3075606774","priority":1,"created":"2023-10-31T18:12:52.000Z","lastUpdated":"2023-10-31T18:12:52.000Z","system":false,"conditions":{"people":{"users":{"exclude":["00uayx3a8z3kXFdZh1d7"]}},"network":{"connection":"ANYWHERE"},"authContext":{"authType":"ANY"},"risk":{"behaviors":[]},"riskScore":{"level":"ANY"},"identityProvider":{"provider":"ANY"}},"actions":{"signon":{"access":"ALLOW","requireFactor":false,"primaryFactor":"PASSWORD_IDP_ANY_FACTOR","rememberDeviceByDefault":false,"session":{"usePersistentCookie":false,"maxSessionIdleMinutes":120,"maxSessionLifetimeMinutes":120}}},"_links":{"self":{"href":"https://oie-00.oktapreview.com/api/v1/policies/00payx1m919XfvQpO1d7/rules/0prayx53mzlsFIS1l1d7","hints":{"allow":["GET","PUT","DELETE"]}},"deactivate":{"href":"https://oie-00.oktapreview.com/api/v1/policies/00payx1m919XfvQpO1d7/rules/0prayx53mzlsFIS1l1d7/lifecycle/deactivate","hints":{"allow":["POST"]}}},"type":"SIGN_ON"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 131.899816ms
[...]
    - id: 9
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/policies/00payx1m919XfvQpO1d7/rules/0prayx53mzlsFIS1l1d7
        method: GET
      response:
        body: '{"id":"0prayx53mzlsFIS1l1d7","status":"ACTIVE","name":"testAcc_3075606774","priority":1,"created":null,"lastUpdated":null,"system":false,"conditions":{"people":{"users":{"exclude":["00uayx3a8z3kXFdZh1d7"]}},"network":{"connection":"ANYWHERE"},"authContext":{"authType":"ANY"},"risk":{"behaviors":[]},"riskScore":{"level":"ANY"},"identityProvider":{"provider":"ANY"}},"actions":{"signon":{"access":"ALLOW","requireFactor":false,"primaryFactor":"PASSWORD_IDP_ANY_FACTOR","rememberDeviceByDefault":false,"session":{"usePersistentCookie":false,"maxSessionIdleMinutes":120,"maxSessionLifetimeMinutes":120}}},"_links":{"self":{"href":"https://oie-00.oktapreview.com/api/v1/policies/00payx1m919XfvQpO1d7/rules/0prayx53mzlsFIS1l1d7","hints":{"allow":["GET","PUT","DELETE"]}},"deactivate":{"href":"https://oie-00.oktapreview.com/api/v1/policies/00payx1m919XfvQpO1d7/rules/0prayx53mzlsFIS1l1d7/lifecycle/deactivate","hints":{"allow":["POST"]}}},"type":"SIGN_ON"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 88.030993ms
[...]
    - id: 22
      request:
        host: oie-00.dne-okta.com
        body: |
            {"profile":{"name":"testAcc_3075606774","description":""}}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://oie-00.dne-okta.com/api/v1/groups
        method: POST
      response:
        body: '{"id":"00gayx3a94fg50Evs1d7","created":"2023-10-31T18:12:54.000Z","lastUpdated":"2023-10-31T18:12:54.000Z","lastMembershipUpdated":"2023-10-31T18:12:54.000Z","objectClass":["okta:user_group"],"type":"OKTA_GROUP","profile":{"name":"testAcc_3075606774","description":""},"_links":{"logo":[{"name":"medium","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-medium.30ce6d4085dff29412984e4c191bc874.png","type":"image/png"},{"name":"large","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-large.c3cb8cda8ae0add1b4fe928f5844dbe3.png","type":"image/png"}],"users":{"href":"https://oie-00.oktapreview.com/api/v1/groups/00gayx3a94fg50Evs1d7/users"},"apps":{"href":"https://oie-00.oktapreview.com/api/v1/groups/00gayx3a94fg50Evs1d7/apps"}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 52.220294ms
[...]
    - id: 24
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/groups/00gayx3a94fg50Evs1d7
        method: GET
      response:
        body: '{"id":"00gayx3a94fg50Evs1d7","created":"2023-10-31T18:12:54.000Z","lastUpdated":"2023-10-31T18:12:54.000Z","lastMembershipUpdated":"2023-10-31T18:12:54.000Z","objectClass":["okta:user_group"],"type":"OKTA_GROUP","profile":{"name":"testAcc_3075606774","description":""},"_links":{"logo":[{"name":"medium","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-medium.30ce6d4085dff29412984e4c191bc874.png","type":"image/png"},{"name":"large","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-large.c3cb8cda8ae0add1b4fe928f5844dbe3.png","type":"image/png"}],"users":{"href":"https://oie-00.oktapreview.com/api/v1/groups/00gayx3a94fg50Evs1d7/users"},"apps":{"href":"https://oie-00.oktapreview.com/api/v1/groups/00gayx3a94fg50Evs1d7/apps"}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 50.739908ms
[...]
    - id: 30
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/policies/00payx1m919XfvQpO1d7/lifecycle/deactivate
        method: POST
      response:
        body: ""
        headers:
        status: 204 No Content
        code: 204
        duration: 79.716853ms
    - id: 31
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/policies/00payx1m919XfvQpO1d7
        method: GET
      response:
        body: '{"id":"00payx1m919XfvQpO1d7","status":"INACTIVE","name":"testAcc_3075606774","description":"Terraform Acceptance Test SignOn Policy Updated","priority":1,"system":false,"conditions":{"people":{"groups":{"include":["00gayx3a94fg50Evs1d7"]}}},"created":"2023-10-31T18:12:52.000Z","lastUpdated":"2023-10-31T18:12:55.000Z","_links":{"activate":{"href":"https://oie-00.oktapreview.com/api/v1/policies/00payx1m919XfvQpO1d7/lifecycle/activate","hints":{"allow":["POST"]}},"self":{"href":"https://oie-00.oktapreview.com/api/v1/policies/00payx1m919XfvQpO1d7","hints":{"allow":["GET","PUT","DELETE"]}},"rules":{"href":"https://oie-00.oktapreview.com/api/v1/policies/00payx1m919XfvQpO1d7/rules","hints":{"allow":["GET","POST"]}}},"type":"OKTA_SIGN_ON"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 61.628914ms
[...]
    - id: 51
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/policies/00payx1m919XfvQpO1d7
        method: GET
      response:
        body: '{"errorCode":"E0000007","errorSummary":"Not found: Resource not found: 00payx1m919XfvQpO1d7 (Policy)","errorLink":"E0000007","errorId":"oaecmFI9JXYTjCtx9VpVrQSxA","errorCauses":[]}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 65.060939ms
