---
version: 2
interactions:
    - id: 0
      request:
        host: classic-00.dne-okta.com
        body: |
            {"mode":"PREVIEW","granularModeSettings":{"OAUTH2_AUTHORIZE":"ENFORCE","LOGIN_PAGE":"ENFORCE"}}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://classic-00.dne-okta.com/api/v1/internal/rateLimits/clientRateLimitMode
        method: POST
      response:
        body: '{"mode":"PREVIEW","granularModeSettings":{"OAUTH2_AUTHORIZE":"ENFORCE","LOGIN_PAGE":"ENFORCE"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 289.593901ms
    - id: 1
      request:
        host: classic-00.dne-okta.com
        body: |
            {"rateLimitNotification":true}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://classic-00.dne-okta.com/api/internal/orgSettings/rateLimitNotificationSetting
        method: POST
      response:
        body: '{"rateLimitNotification":true}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 82.42373ms
[...]
