---
version: 1
interactions:
- request:
    body: |
      {"accessibility":{"selfService":false},"credentials":{"userNameTemplate":{"template":"${source.login}","type":"BUILT_IN"},"password":{},"revealPassword":false,"scheme":"ADMIN_SETS_CREDENTIALS","userName":""},"label":"testAcc_2064014886","name":"template_sps","settings":{"app":{"passwordField":"pass","url":"http://test.com","usernameField":"user"},"notes":{"admin":null,"enduser":null}},"signOnMode":"SECURE_PASSWORD_STORE","visibility":{"autoSubmitToolbar":false,"hide":{"iOS":false,"web":false}}}
    form: {}
    headers:
      Authorization:
      - SSWS REDACTED
      Content-Type:
      - application/json
    url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/apps?activate=true
    method: POST
  response:
    body: '{"id":"0oa6mnam8rFe2ypZp1d7","name":"template_sps","label":"testAcc_2064014886","status":"ACTIVE","lastUpdated":"2023-01-12T17:28:12.000Z","created":"2023-01-12T17:28:12.000Z","accessibility":{"selfService":false,"errorRedirectUrl":null,"loginRedirectUrl":null},"visibility":{"autoLaunch":false,"autoSubmitToolbar":false,"hide":{"iOS":false,"web":false},"appLinks":{"login":true}},"features":[],"signOnMode":"SECURE_PASSWORD_STORE","credentials":{"scheme":"ADMIN_SETS_CREDENTIALS","userNameTemplate":{"template":"${source.login}","type":"BUILT_IN"},"revealPassword":false,"signing":{}},"settings":{"app":{"usernameField":"user","optionalField1":null,"optionalField2Value":null,"optionalField3Value":null,"passwordField":"pass","url":"http://test.com","optionalField1Value":null,"optionalField2":null,"optionalField3":null},"notifications":{"vpn":{"network":{"connection":"DISABLED"},"message":null,"helpUrl":null}},"notes":{"admin":null,"enduser":null}},"_links":{"uploadLogo":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/apps/0oa6mnam8rFe2ypZp1d7/logo","hints":{"allow":["POST"]}},"appLinks":[{"name":"login","href":"https://mm-oie-2022-10-07-max.oktapreview.com/home/template_sps/0oa6mnam8rFe2ypZp1d7/2355","type":"text/html"}],"profileEnrollment":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/policies/rst5qwjvlxUHivL8a1d7"},"policies":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/apps/0oa6mnam8rFe2ypZp1d7/policies","hints":{"allow":["PUT"]}},"groups":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/apps/0oa6mnam8rFe2ypZp1d7/groups"},"logo":[{"name":"medium","href":"https://op3static.oktacdn.com/assets/img/logos/default.6770228fb0dab49a1695ef440a5279bb.png","type":"image/png"}],"accessPolicy":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/policies/rst5qwjvlvS3G1WOU1d7"},"users":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/apps/0oa6mnam8rFe2ypZp1d7/users"},"deactivate":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/apps/0oa6mnam8rFe2ypZp1d7/lifecycle/deactivate"}}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/apps/0oa6mnam8rFe2ypZp1d7
    method: GET
  response:
    body: '{"id":"0oa6mnam8rFe2ypZp1d7","name":"template_sps","label":"testAcc_2064014886","status":"ACTIVE","lastUpdated":"2023-01-12T17:28:12.000Z","created":"2023-01-12T17:28:12.000Z","accessibility":{"selfService":false,"errorRedirectUrl":null,"loginRedirectUrl":null},"visibility":{"aut[...]
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/apps/0oa6mnam8rFe2ypZp1d7/users?limit=200
    method: GET
  response:
    body: '[]'
    headers:
      Content-Type:
      - application/json
      Link:
      - <https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/apps/0oa6mnam8rFe2ypZp1d7/users?limit=200>;
        rel="self"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/apps/0oa6mnam8rFe2ypZp1d7/groups?limit=200
    method: GET
  response:
    body: '[]'
    headers:
      Content-Type:
      - application/json
      Link:
      - <https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/apps/0oa6mnam8rFe2ypZp1d7/groups?limit=200>;
        rel="self"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/apps/0oa6mnam8rFe2ypZp1d7/lifecycle/deactivate
    method: POST
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
