---
version: 2
interactions:
    - id: 0
      request:
        host: classic-00.dne-okta.com
        body: |
            {"profile":{"name":"TestACC Group B","description":"Group B"}}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://classic-00.dne-okta.com/api/v1/groups
        method: POST
      response:
        body: '{"id":"00gkwuh5i2cdOD9eN1d7","created":"2025-03-14T03:14:04.000Z","lastUpdated":"2025-03-14T03:14:04.000Z","lastMembershipUpdated":"2025-03-14T03:14:04.000Z","objectClass":["okta:user_group"],"type":"OKTA_GROUP","profile":{"name":"TestACC Group B","description":"Group B"},"_links":{"logo":[{"name":"medium","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-medium.30ce6d4085dff29412984e4c191bc874.png","type":"image/png"},{"name":"large","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-large.c3cb8cda8ae0add1b4fe928f5844dbe3.png","type":"image/png"}],"users":{"href":"https://classic-00.dne-okta.com/api/v1/groups/00gkwuh5i2cdOD9eN1d7/users"},"apps":{"href":"https://classic-00.dne-okta.com/api/v1/groups/00gkwuh5i2cdOD9eN1d7/apps"}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 231.21175ms
[...]
    - id: 2
      request:
        host: classic-00.dne-okta.com
        body: |
            {"credentials":{"password":{}},"profile":{"email":"testAcc4-replace_with_uuid@example.com","firstName":"TestAcc","lastName":"Smith4","login":"testAcc4-replace_with_uuid@example.com","postalAddress":null}}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://classic-00.dne-okta.com/api/v1/users
        method: POST
      response:
        body: '{"id":"00ukwud260zbFeKyI1d7","status":"PROVISIONED","created":"2025-03-14T03:14:04.000Z","activated":"2025-03-14T03:14:04.000Z","statusChanged":"2025-03-14T03:14:04.000Z","lastLogin":null,"lastUpdated":"2025-03-14T03:14:04.000Z","passwordChanged":null,"type":{"id":"oty5ptm052JMcoADv1d7"},"profile":{"firstName":"TestAcc","lastName":"Smith4","mobilePhone":null,"secondEmail":null,"login":"testAcc4-replace_with_uuid@example.com","email":"testAcc4-replace_with_uuid@example.com"},"credentials":{"provider":{"type":"OKTA","name":"OKTA"}},"_links":{"suspend":{"href":"https://classic-00.dne-okta.com/api/v1/users/00ukwud260zbFeKyI1d7/lifecycle/suspend","method":"POST"},"schema":{"href":"https://classic-00.dne-okta.com/api/v1/meta/schemas/user/osc5ptm052JMcoADv1d7"},"resetPassword":{"href":"https://classic-00.dne-okta.com/api/v1/users/00ukwud260zbFeKyI1d7/lifecycle/reset_password","method":"POST"},"reactivate":{"href":"https://classic-00.dne-okta.com/api/v1/users/00ukwud260zbFeKyI1d7/lifecycle/reactivate","method":"POST"},"self":{"href":"https://classic-00.dne-okta.com/api/v1/users/00ukwud260zbFeKyI1d7"},"type":{"href":"https://classic-00.dne-okta.com/api/v1/meta/types/user/oty5ptm052JMcoADv1d7"},"deactivate":{"href":"https://classic-00.dne-okta.com/api/v1/users/00ukwud260zbFeKyI1d7/lifecycle/deactivate","method":"POST"}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 350.313208ms
[...]
    - id: 6
      request:
        host: classic-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/groups/00gkwuh5i2cdOD9eN1d7
        method: GET
      response:
        body: '{"id":"00gkwuh5i2cdOD9eN1d7","created":"2025-03-14T03:14:04.000Z","lastUpdated":"2025-03-14T03:14:04.000Z","lastMembershipUpdated":"2025-03-14T03:14:04.000Z","objectClass":["okta:user_group"],"type":"OKTA_GROUP","profile":{"name":"TestACC Group B","description":"Group B"},"_links":{"logo":[{"name":"medium","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-medium.30ce6d4085dff29412984e4c191bc874.png","type":"image/png"},{"name":"large","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-large.c3cb8cda8ae0add1b4fe928f5844dbe3.png","type":"image/png"}],"users":{"href":"https://classic-00.dne-okta.com/api/v1/groups/00gkwuh5i2cdOD9eN1d7/users"},"apps":{"href":"https://classic-00.dne-okta.com/api/v1/groups/00gkwuh5i2cdOD9eN1d7/apps"}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 217.321916ms
    - id: 7
      request:
        host: classic-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/groups/00gkwum8v41A6dgO01d7
        method: GET
      response:
        body: '{"id":"00gkwum8v41A6dgO01d7","created":"2025-03-14T03:14:04.000Z","lastUpdated":"2025-03-14T03:14:04.000Z","lastMembershipUpdated":"2025-03-14T03:14:04.000Z","objectClass":["okta:user_group"],"type":"OKTA_GROUP","profile":{"name":"TestACC Group A","description":"Group A"},"_links":{"logo":[{"name":"medium","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-medium.30ce6d4085dff29412984e4c191bc874.png","type":"image/png"},{"name":"large","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-large.c3cb8cda8ae0add1b4fe928f5844dbe3.png","type":"image/png"}],"users":{"href":"https://classic-00.dne-okta.com/api/v1/groups/00gkwum8v41A6dgO01d7/users"},"apps":{"href":"https://classic-00.dne-okta.com/api/v1/groups/00gkwum8v41A6dgO01d7/apps"}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 246.780541ms
    - id: 8
      request:
        host: classic-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/users/00ukwud260zbFeKyI1d7
        method: GET
      response:
        body: '{"id":"00ukwud260zbFeKyI1d7","status":"PROVISIONED","created":"2025-03-14T03:14:04.000Z","activated":"2025-03-14T03:14:04.000Z","statusChanged":"2025-03-14T03:14:04.000Z","lastLogin":null,"lastUp[...]
    - id: 9
      request:
        host: classic-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/users/00ukwum8v17uij67W1d7
        method: GET
      response:
        body: '{"id":"00ukwum8v17uij67W1d7","status":"PROVISIONED","created":"2025-03-14T03:14:04.000Z","activated":"2025-03-14T03:14:04.000Z","statusChanged":"2025-03-14T03:14:04.000Z","lastLogin":null,"lastUp[...]
    - id: 10
      request:
        host: classic-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/users/00ukwuu3b8KRT1ecF1d7
        method: GET
      response:
        body: '{"id":"00ukwuu3b8KRT1ecF1d7","status":"PROVISIONED","created":"2025-03-14T03:14:04.000Z","activated":"2025-03-14T03:14:04.000Z","statusChanged":"2025-03-14T03:14:04.000Z","lastLogin":null,"lastU[...]
[...]
    - id: 13
      request:
        host: classic-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/users/00ukwum629qqH5LH61d7
        method: GET
      response:
        body: '{"id":"00ukwum629qqH5LH61d7","status":"PROVISIONED","created":"2025-03-14T03:14:04.000Z","activated":"2025-03-14T03:14:04.000Z","statusChanged":"2025-03-14T03:14:04.000Z","lastLogin":null,"lastU[...]
[...]
    - id: 15
      request:
        host: classic-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/users/00ukwukfeug7adWze1d7
        method: GET
      response:
        body: '{"id":"00ukwukfeug7adWze1d7","status":"PROVISIONED","created":"2025-03-14T03:14:04.000Z","activated":"2025-03-14T03:14:04.000Z","statusChanged":"2025-03-14T03:14:04.000Z","lastLogin":null,"lastU[...]
    - id: 16
      request:
        host: classic-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/groups/00gkwum8v41A6dgO01d7/users/00ukwukfeug7adWze1d7
        method: PUT
      response:
        body: ""
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
        status: 204 No Content
        code: 204
        duration: 253.383916ms
    - id: 17
      request:
        host: classic-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/groups/00gkwum8v41A6dgO01d7/users/00ukwum8v17uij67W1d7
        method: PUT
      response:
        body: ""
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
        status: 204 No Content
        code: 204
        duration: 281.819709ms
    - id: 18
      request:
        host: classic-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/groups/00gkwum8v41A6dgO01d7/users?limit=200
        method: GET
      response:
        body: '[{"id":"00ukwukfeug7adWze1d7","status":"PROVISIONED","created":"2025-03-14T03:14:04.000Z","activated":"2025-03-14T03:14:04.000Z","statusChanged":"2025-03-14T03:14:04.000Z","last[...]
    - id: 19
      request:
        host: classic-00.dne-okta.com
        body: |
            {"actions":{"assignUserToGroups":{"groupIds":["00gkwum8v41A6dgO01d7"]}},"conditions":{"expression":{"type":"urn:okta:expression:1.0","value":"isMemberOfAnyGroup(\"00gkwuh5i2cdOD9eN1d7\")"},"people":{"users":{}}},"name":"Group B -> A rule","type":"group_rule"}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://classic-00.dne-okta.com/api/v1/groups/rules
        method: POST
      response:
        body: '{"type":"group_rule","id":"0prkwurxaiof1ho2U1d7","status":"INACTIVE","name":"Group B -> A rule","created":"2025-03-14T03:14:05.000Z","lastUpdated":"2025-03-14T03:14:05.000Z","conditions":{"people":{"users":{"exclude":[]},"groups":{"exclude":[]}},"expression":{"value":"isMemberOfAnyGroup(\"00gkwuh5i2cdOD9eN1d7\")","type":"urn:okta:expression:1.0"}},"actions":{"assignUserToGroups":{"groupIds":["00gkwum8v41A6dgO01d7"]}},"allGroupsValid":true}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 270.876542ms
    - id: 20
      request:
        host: classic-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/groups/rules/0prkwurxaiof1ho2U1d7/lifecycle/activate
        method: POST
      response:
        body: ""
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
        status: 204 No Content
        code: 204
        duration: 386.700292ms
    - id: 21
      request:
        host: classic-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/groups/rules/0prkwurxaiof1ho2U1d7
        method: GET
      response:
        body: '{"type":"group_rule","id":"0prkwurxaiof1ho2U1d7","status":"ACTIVE","name":"Group B -> A rule","created":"2025-03-14T03:14:05.000Z","lastUpdated":"2025-03-14T03:14:06.000Z","conditions":{"people":{"users":{"exclude":[]},"groups":{"exclude":[]}},"expression":{"value":"isMemberOfAnyGroup(\"00gkwuh5i2cdOD9eN1d7\")","type":"urn:okta:expression:1.0"}},"actions":{"assignUserToGroups":{"groupIds":["00gkwum8v41A6dgO01d7"]}},"allGroupsValid":true}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 212.384541ms
[...]
    - id: 23
      request:
        host: classic-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/groups/00gkwuh5i2cdOD9eN1d7/users?limit=200
        method: GET
      response:
        body: '[]'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
            Link:
                - <https://classic-00.dne-okta.com/api/v1/groups/00gkwuh5i2cdOD9eN1d7/users?limit=200>; rel="self"
        status: 200 OK
        code: 200
        duration: 206.782916ms
[...]
    - id: 47
      request:
        host: classic-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/groups/rules/0prkwurxaiof1ho2U1d7/lifecycle/deactivate
        method: POST
      response:
        body: ""
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
        status: 204 No Content
        code: 204
        duration: 277.703875ms
    - id: 48
      request:
        host: classic-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/groups/rules/0prkwurxaiof1ho2U1d7?removeUsers=false
        method: DELETE
      response:
        body: '{}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 202 Accepted
        code: 202
        duration: 270.502958ms
[...]
