---
version: 2
interactions:
    - id: 0
      request:
        host: oie-00.dne-okta.com
        body: |
            {"profile":{"name":"TestACC Group A","description":"Group A"}}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://oie-00.dne-okta.com/api/v1/groups
        method: POST
      response:
        body: '{"id":"00gkwr5wagDk0oGLF1d7","created":"2025-03-13T23:36:46.000Z","lastUpdated":"2025-03-13T23:36:46.000Z","lastMembershipUpdated":"2025-03-13T23:36:46.000Z","objectClass":["okta:user_group"],"type":"OKTA_GROUP","profile":{"name":"TestACC Group A","description":"Group A"},"_links":{"logo":[{"name":"medium","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-medium.30ce6d4085dff29412984e4c191bc874.png","type":"image/png"},{"name":"large","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-large.c3cb8cda8ae0add1b4fe928f5844dbe3.png","type":"image/png"}],"users":{"href":"https://oie-00.dne-okta.com/api/v1/groups/00gkwr5wagDk0oGLF1d7/users"},"apps":{"href":"https://oie-00.dne-okta.com/api/v1/groups/00gkwr5wagDk0oGLF1d7/apps"}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 254.05275ms
    - id: 1
      request:
        host: oie-00.dne-okta.com
        body: |
            {"credentials":{"password":{}},"profile":{"email":"testAcc5-replace_with_uuid@example.com","firstName":"TestAcc","lastName":"Smith5","login":"testAcc5-replace_with_uuid@example.com","postalAddress":null}}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://oie-00.dne-okta.com/api/v1/users
        method: POST
      response:
        body: '{"id":"00ukwr62c0Z6IKyFS1d7","status":"PROVISIONED","created":"2025-03-13T23:36:46.000Z","activated":"2025-03-13T23:36:46.000Z","statusChanged":"2025-03-13T23:36:46.000Z","lastLogin":null,"lastUpdated":"2025-03-13T23:36:46.000Z","passwordChanged":null,"type":{"id":"oty5qwjvh0Vy1j8Kd1d7"},"profile":{"firstName":"TestAcc","lastName":"Smith5","mobilePhone":null,"secondEmail":null,"login":"testAcc5-replace_with_uuid@example.com","email":"testAcc5-replace_with_uuid@example.com"},"credentials":{"provider":{"type":"OKTA","name":"OKTA"}},"_links":{"suspend":{"href":"https://oie-00.dne-okta.com/api/v1/users/00ukwr62c0Z6IKyFS1d7/lifecycle/suspend","method":"POST"},"schema":{"href":"https://oie-00.dne-okta.com/api/v1/meta/schemas/user/osc5qwjvh0Vy1j8Kd1d7"},"resetPassword":{"href":"https://oie-00.dne-okta.com/api/v1/users/00ukwr62c0Z6IKyFS1d7/lifecycle/reset_password","method":"POST"},"reactivate":{"href":"https://oie-00.dne-okta.com/api/v1/users/00ukwr62c0Z6IKyFS1d7/lifecycle/reactivate","method":"POST"},"self":{"href":"https://oie-00.dne-okta.com/api/v1/users/00ukwr62c0Z6IKyFS1d7"},"type":{"href":"https://oie-00.dne-okta.com/api/v1/meta/types/user/oty5qwjvh0Vy1j8Kd1d7"},"deactivate":{"href":"https://oie-00.dne-okta.com/api/v1/users/00ukwr62c0Z6IKyFS1d7/lifecycle/deactivate","method":"POST"}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 358.260291ms
[...]
    - id: 7
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/groups/00gkwr5wagDk0oGLF1d7
        method: GET
      response:
        body: '{"id":"00gkwr5wagDk0oGLF1d7","created":"2025-03-13T23:36:46.000Z","lastUpdated":"2025-03-13T23:36:46.000Z","lastMembershipUpdated":"2025-03-13T23:36:46.000Z","objectClass":["okta:user_group"],"type":"OKTA_GROUP","profile":{"name":"TestACC Group A","description":"Group A"},"_links":{"logo":[{"name":"medium","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-medium.30ce6d4085dff29412984e4c191bc874.png","type":"image/png"},{"name":"large","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-large.c3cb8cda8ae0add1b4fe928f5844dbe3.png","type":"image/png"}],"users":{"href":"https://oie-00.dne-okta.com/api/v1/groups/00gkwr5wagDk0oGLF1d7/users"},"apps":{"href":"https://oie-00.dne-okta.com/api/v1/groups/00gkwr5wagDk0oGLF1d7/apps"}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 247.724916ms
    - id: 8
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/users/00ukwr6u4hE645dD31d7
        method: GET
      response:
        body: '{"id":"00ukwr6u4hE645dD31d7","status":"PROVISIONED","created":"2025-03-13T23:36:46.000Z","activated":"2025-03-13T23:36:46.000Z","statusChanged":"2025-03-13T23:36:46.000Z","lastLogin":null,"lastUpdated":"[...]
    - id: 9
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/users/00ukwr62c0Z6IKyFS1d7
        method: GET
      response:
        body: '{"id":"00ukwr62c0Z6IKyFS1d7","status":"PROVISIONED","created":"2025-03-13T23:36:46.000Z","activated":"2025-03-13T23:36:46.000Z","statusChanged":"2025-03-13T23:36:46.000Z","lastLogin":null,"lastUpdated":"[...]
    - id: 10
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/users/00ukwr535lavtALJm1d7
        method: GET
      response:
        body: '{"id":"00ukwr535lavtALJm1d7","status":"PROVISIONED","created":"2025-03-13T23:36:46.000Z","activated":"2025-03-13T23:36:46.000Z","statusChanged":"2025-03-13T23:36:46.000Z","lastLogin":null,"lastUpdated":[...]
    - id: 11
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/groups/00gkwr498frjTKq0j1d7
        method: GET
      response:
        body: '{"id":"00gkwr498frjTKq0j1d7","created":"2025-03-13T23:36:46.000Z","lastUpdated":"2025-03-13T23:36:46.000Z","lastMembershipUpdated":"2025-03-13T23:36:46.000Z","objectClass":["okta:user_group"],"type":"OKTA_GROUP","profile":{"name":"TestACC Group B","description":"Group B"},"_links":{"logo":[{"name":"medium","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-medium.30ce6d4085dff29412984e4c191bc874.png","type":"image/png"},{"name":"large","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-large.c3cb8cda8ae0add1b4fe928f5844dbe3.png","type":"image/png"}],"users":{"href":"https://oie-00.dne-okta.com/api/v1/groups/00gkwr498frjTKq0j1d7/users"},"apps":{"href":"https://oie-00.dne-okta.com/api/v1/groups/00gkwr498frjTKq0j1d7/apps"}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 212.617791ms
    - id: 12
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/users/00ukwr4q49iDqtmt61d7
        method: GET
      response:
        body: '{"id":"00ukwr4q49iDqtmt61d7","status":"PROVISIONED","created":"2025-03-13T23:36:46.000Z","activated":"2025-03-13T23:36:46.000Z","statusChanged":"2025-03-13T23:36:46.000Z","lastLogin":null,"lastUpdated":[...]
    - id: 13
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/users/00ukwr74qkKQHe0y61d7
        method: GET
      response:
        body: '{"id":"00ukwr74qkKQHe0y61d7","status":"PROVISIONED","created":"2025-03-13T23:36:46.000Z","activated":"2025-03-13T23:36:46.000Z","statusChanged":"2025-03-13T23:36:46.000Z","lastLogin":null,"lastUpdated":[...]
[...]
    - id: 16
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/groups/00gkwr5wagDk0oGLF1d7/users/00ukwr4q49iDqtmt61d7
        method: PUT
      response:
        body: ""
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
        status: 204 No Content
        code: 204
        duration: 220.294ms
    - id: 17
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/groups/00gkwr5wagDk0oGLF1d7/users/00ukwr535lavtALJm1d7
        method: PUT
      response:
        body: ""
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
        status: 204 No Content
        code: 204
        duration: 250.142375ms
    - id: 18
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/groups/00gkwr5wagDk0oGLF1d7/users?limit=200
        method: GET
      response:
        body: '[{"id":"00ukwr4q49iDqtmt61d7","status":"PROVISIONED","created":"2025-03-13T23:36:46.000Z","activated":"2025-03-13T23:36:46.000Z","statusChanged":"2025-03-13T23:36:46.000Z","lastLogin":n[...]
    - id: 19
      request:
        host: oie-00.dne-okta.com
        body: |
            {"actions":{"assignUserToGroups":{"groupIds":["00gkwr5wagDk0oGLF1d7"]}},"conditions":{"expression":{"type":"urn:okta:expression:1.0","value":"isMemberOfAnyGroup(\"00gkwr498frjTKq0j1d7\")"},"people":{"users":{}}},"name":"Group B -> A rule","type":"group_rule"}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://oie-00.dne-okta.com/api/v1/groups/rules
        method: POST
      response:
        body: '{"type":"group_rule","id":"0prkwr6g4yGAR2bPl1d7","status":"INACTIVE","name":"Group B -> A rule","created":"2025-03-13T23:36:47.000Z","lastUpdated":"2025-03-13T23:36:47.000Z","conditions":{"people":{"users":{"exclude":[]},"groups":{"exclude":[]}},"expression":{"value":"isMemberOfAnyGroup(\"00gkwr498frjTKq0j1d7\")","type":"urn:okta:expression:1.0"}},"actions":{"assignUserToGroups":{"groupIds":["00gkwr5wagDk0oGLF1d7"]}},"allGroupsValid":true}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 277.046708ms
    - id: 20
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/groups/rules/0prkwr6g4yGAR2bPl1d7/lifecycle/activate
        method: POST
      response:
        body: ""
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
        status: 204 No Content
        code: 204
        duration: 275.7645ms
    - id: 21
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/groups/rules/0prkwr6g4yGAR2bPl1d7
        method: GET
      response:
        body: '{"type":"group_rule","id":"0prkwr6g4yGAR2bPl1d7","status":"ACTIVE","name":"Group B -> A rule","created":"2025-03-13T23:36:47.000Z","lastUpdated":"2025-03-13T23:36:48.000Z","conditions":{"people":{"users":{"exclude":[]},"groups":{"exclude":[]}},"expression":{"value":"isMemberOfAnyGroup(\"00gkwr498frjTKq0j1d7\")","type":"urn:okta:expression:1.0"}},"actions":{"assignUserToGroups":{"groupIds":["00gkwr5wagDk0oGLF1d7"]}},"allGroupsValid":true}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 217.817791ms
[...]
    - id: 23
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/groups/00gkwr498frjTKq0j1d7/users?limit=200
        method: GET
      response:
        body: '[]'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
            Link:
                - <https://oie-00.dne-okta.com/api/v1/groups/00gkwr498frjTKq0j1d7/users?limit=200>; rel="self"
        status: 200 OK
        code: 200
        duration: 207.685791ms
[...]
    - id: 47
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/groups/rules/0prkwr6g4yGAR2bPl1d7/lifecycle/deactivate
        method: POST
      response:
        body: ""
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
        status: 204 No Content
        code: 204
        duration: 219.557292ms
    - id: 48
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/groups/rules/0prkwr6g4yGAR2bPl1d7?removeUsers=false
        method: DELETE
      response:
        body: '{}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 202 Accepted
        code: 202
        duration: 278.123542ms
[...]
