---
version: 2
interactions:
    - id: 0
      request:
        host: oie-00.dne-okta.com
        form:
            type:
                - MFA_ENROLL
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/policies?type=MFA_ENROLL
        method: GET
      response:
        body: '[{"id":"00pz3krvbsexuJ9Xw697","status":"ACTIVE","name":"Default Policy","description":"The default policy applies in all situations if no other policy applies.","priority":1,"system":true,"conditions":{"people":{"groups":{"include":["00gz3krv6ypWlA75W697"]}}},"created":"2026-01-12T09:42:37.000Z","lastUpdated":"2026-01-12T23:53:09.000Z","settings":{"type":"FACTORS","factors":{"okta_otp":{"enroll":{"self":"NOT_ALLOWED"},"consent":{"type":"NONE"}},"okta_sms":{"enroll":{"self":"NOT_ALLOWED"},"consent":{"type":"NONE"}},"google_otp":{"enroll":{"self":"NOT_ALLOWED"},"consent":{"type":"NONE"}},"fido_webauthn":{"enroll":{"self":"OPTIONAL"},"consent":{"type":"NONE"}},"okta_password":{"enroll":{"self":"REQUIRED"},"consent":{"type":"NONE"}}}},"_links":{"self":{"href":"https://oie-00.dne-okta.com/api/v1/policies/00pz3krvbsexuJ9Xw697","hints":{"allow":["GET","PUT"]}},"rules":{"href":"https://oie-00.dne-okta.com/api/v1/policies/00pz3krvbsexuJ9Xw697/rules","hints":{"allow":["GET","POST"]}}},"type":"MFA_ENROLL"}]'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
            Link:
                - <https://oie-00.dne-okta.com/api/v1/policies?type=MFA_ENROLL>; rel="self"
        status: 200 OK
        code: 200
        duration: 3.184669375s
    - id: 1
      request:
        host: oie-00.dne-okta.com
        form:
            q:
                - Everyone
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/groups?q=Everyone
        method: GET
      response:
        body: '[{"id":"00gz3krv6ypWlA75W697","created":"2026-01-12T09:42:32.000Z","lastUpdated":"2026-01-12T09:42:32.000Z","lastMembershipUpdated":"2026-01-12T09:42:34.000Z","objectClass":["okta:user_group"],"type":"BUILT_IN","profile":{"name":"Everyone","description":"All users in your organization"},"_links":{"logo":[{"name":"medium","href":"https://ok14static.oktacdn.com/assets/img/logos/groups/odyssey/okta-medium.30ce6d4085dff29412984e4c191bc874.png","type":"image/png"},{"name":"large","href":"https://ok14static.oktacdn.com/assets/img/logos/groups/odyssey/okta-large.c3cb8cda8ae0add1b4fe928f5844dbe3.png","type":"image/png"}],"users":{"href":"https://oie-00.dne-okta.com/api/v1/groups/00gz3krv6ypWlA75W697/users"},"apps":{"href":"https://oie-00.dne-okta.com/api/v1/groups/00gz3krv6ypWlA75W697/apps"}}}]'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 2.093212709s
    - id: 2
      request:
        host: oie-00.dne-okta.com
        body: |
            {"conditions":{"people":{"groups":{"include":["00gz3krv6ypWlA75W697"]}}},"description":"The default policy applies in all situations if no other policy applies.","name":"Default Policy","priority":1,"status":"ACTIVE","type":"MFA_ENROLL","settings":{"factors":{"fido_webauthn":{"enroll":{"self":"OPTIONAL"}},"okta_password":{"enroll":{"self":"REQUIRED"}}},"type":"FACTORS"}}
        headers:
            Authoriz[...]
[...]
    - id: 4
      request:
        host: oie-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/.well-known/okta-organization
        method: GET
      response:
        body: '{"id":"00oz3krv53uD70Gdm697","cell":"ok14","_links":{"organization":{"href":"https://oie-00.dne-okta.com"}},"pipeline":"idx","settings":{"analyticsCollectionEnabled":true,"bugReportingEnabled":true,"omEnabled":false,"pssoEnabled":true,"desktopMFAEnabled":true,"itpEnabled":true}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.647283875s
    - id: 5
      request:
        host: oie-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/authenticators
        method: GET
      response:
        body: '[{"type":"email","id":"autz3krvacLc9t3gz697","key":"okta_email","status":"ACTIVE","name":"Email","created":"2026-01-12T09:42:35.000Z","lastUpdated":"2026-01-12T09:42:35.000Z","settings":{"allowedFor":"recovery","tokenLifetimeInMinutes":5},"_links":{"self":{"href":"https://oie-00.dne-okta.com/api/v1/authenticators/autz3krvacLc9t3gz697","hints":{"allow":["GET","PUT"]}},"deactivate":{"href":"https://oie-00.dne-okta.com/api/v1/authenticators/autz3krvacLc9t3gz697/lifecycle/deactivate","hints":{"allow":["POST"]}},"methods":{"href":"https://oie-00.dne-okta.com/api/v1/authenticators/autz3krvacLc9t3gz697/methods","hints":{"allow":["GET"]}}}},{"type":"app","id":"autz3m3fi1t8JwbVa697","key":"google_otp","status":"ACTIVE","name":"Google Authenticator","created":"2026-01-12T10:48:07.000Z","lastUpdated":"2026-01-12T10:48:07.000Z","settings":{},"_links":{"self":{"href":"https://oie-00.dne-okta.com/api/v1/authenticators/autz3m3fi1t8JwbVa697","hints":{"allow":["GET","PUT"]}},"deactivate":{"href":"https://oie-00.dne-okta.com/api/v1/authenticators/autz3m3fi1t8JwbVa697/lifecycle/deactivate","hints":{"allow":["POST"]}},"methods":{"href":"https://oie-00.dne-okta.com/api/v1/authenticators/autz3m3fi1t8JwbVa697/methods","hints":{"allow":["GET"]}}}},{"type":"app","id":"autz3krvagFJiwLeD697","key":"okta_verify","status":"ACTIVE","name":"Okta Verify","created":"2026-01-12T09:42:35.000Z","lastUpdated":"2026-01-12T09:42:38.000Z","settings":{"compliance":{"fips":"OPTIONAL"},"channelBinding":{"style":"NUMBER_CHALLENGE","required":"NEVER"},"userVerification":"PREFERRED","userVerificationMethods":["PIN","BIOMETRICS"],"appInstanceId":""},"_links":{"self":{"href":"https://oie-00.dne-okta.com/api/v1/authenticators/autz3krvagFJiwLeD697","hints":{"allow":["GET","PUT"]}},"deactivate":{"href":"https://oie-00.dne-okta.com/api/v1/authenticators/autz3krvagFJiwLeD697/lifecycle/deactivate","hints":{"allow":["POST"]}},"methods":{"href":"https://oie-00.dne-okta.com/api/v1/authenticators/autz3krvagFJiwLeD697/methods","hints":{"allow":["GET"]}},"enroll":{"href":"https://oie-00.dne-okta.com/idp/authenticators","hints":{"allow":["POST"]}}}},{"type":"password","id":"autz3krvabND3XCrQ697","key":"okta_password","status":"ACTIVE","name":"Password","created":"2026-01-12T09:42:35.000Z","lastUpdated":"2026-01-12T09:42:35.000Z","_links":{"self":{"href":"https://oie-00.dne-okta.com/api/v1/authenticators/autz3krvabND3XCrQ697","hints":{"allow":["GET","PUT"]}},"methods":{"href":"https://oie-00.dne-okta.com/api/v1/authenticators/autz3krvabND3XCrQ697/methods","hints":{"allow":["GET"]}}}},{"type":"phone","id":"autz3krvad9gveiXU697","key":"phone_number","status":"INACTIVE","name":"Phone","created":"2026-01-12T09:42:35.000Z","lastUpdated":"2026-01-12T09:42:35.000Z","settings":{"allowedFor":"any"},"_links":{"self":{"href":"https://oie-00.dne-okta.com/api/v1/authenticators/autz3krvad9gveiXU697","hints":{"allow":["GET","PUT"]}},"activate":{"href":"https://oie-00.dne-okta.com/api/v1/authenticators/autz3krvad9gveiXU697/lifecycle/activate","hints":{"allow":["POST"]}},"methods":{"href":"https://oie-00.dne-okta.com/api/v1/authenticators/autz3krvad9gveiXU697/methods","hints":{"allow":["GET"]}}}},{"type":"security_key","id":"autz3krvicdthghSK697","key":"webauthn","status":"ACTIVE","name":"Security Key or Biometric","created":"2026-01-12T09:42:38.000Z","lastUpdated":"2026-01-12T23:53:09.000Z","_links":{"self":{"href":"https://oie-00.dne-[...]
[...]
    - id: 7
      request:
        host: oie-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/authenticators/autz3krvicdthghSK697
        method: GET
      response:
        body: '{"type":"security_key","id":"autz3krvicdthghSK697","key":"webauthn","status":"ACTIVE","name":"Security Key or Biometric","created":"2026-01-12T09:42:38.000Z","lastUpdated":"2026-01-12T23:53:09.000Z","_links":{"self":{"href":"https://oie-00.dne-okta.com/api/v1/authenticators/autz3krvicdthghSK697","hints":{"allow":["GET","PUT"]}},"deactivate":{"href":"https://oie-00.dne-okta.com/api/v1/authenticators/autz3krvicdthghSK697/lifecycle/deactivate","hints":{"allow":["POST"]}},"methods":{"href":"https://oie-00.dne-okta.com/api/v1/authenticators/autz3krvicdthghSK697/methods","hints":{"allow":["GET"]}}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.268944958s
[...]
    - id: 15
      request:
        host: oie-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/authenticators/autz3krvicdthghSK697/lifecycle/deactivate
        method: POST
      response:
        body: '{"type":"security_key","id":"autz3krvicdthghSK697","key":"webauthn","status":"INACTIVE","name":"Security Key or Biometric","created":"2026-01-12T09:42:38.000Z","lastUpdated":"2026-01-12T23:58:06.000Z","_links":{"self":{"href":"https://oie-00.dne-okta.com/api/v1/authenticators/autz3krvicdthghSK697","hints":{"allow":["GET","PUT"]}},"activate":{"href":"https://oie-00.dne-okta.com/api/v1/authenticators/autz3krvicdthghSK697/lifecycle/activate","hints":{"allow":["POST"]}},"methods":{"href":"https://oie-00.dne-okta.com/api/v1/authenticators/autz3krvicdthghSK697/methods","hints":{"allow":["GET"]}}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 2.109447542s
[...]
    - id: 19
      request:
        host: oie-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/authenticators/autz3krvicdthghSK697/lifecycle/deactivate
        method: POST
      response:
        body: '{"errorCode":"E0000001","errorSummary":"Api validation failed: api.authenticator.error.unsupported.active.deactivate","errorLink":"E0000001","errorId":"oaerhGsveDgReu04GTEdhWj2w","errorCauses":[]}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 400 Bad Request
        code: 400
        duration: 3.278553917s
