---
version: 2
interactions:
    - id: 0
      request:
        host: classic-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/.well-known/okta-organization
        method: GET
      response:
        body: '{"id":"00oqq6cti0hre4wUB1d7","cell":"op3","_links":{"organization":{"href":"https://classic-00.dne-okta.com"}},"pipeline":"idx","settings":{"analyticsCollectionEnabled":false,"bugReportingEnabled":true,"omEnabled":false,"pssoEnabled":true,"desktopMFAEnabled":true,"itpEnabled":true}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.08866025s
    - id: 1
      request:
        host: classic-00.dne-okta.com
        body: |
            {"description":"The app signon policy used by our test app","name":"testAcc_Test_App_2501686421","priority":1,"type":"ACCESS_POLICY"}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://classic-00.dne-okta.com/api/v1/policies
        method: POST
      response:
        body: '{"id":"rstve4iehrBZOlzkw1d7","status":"ACTIVE","name":"testAcc_Test_App_2501686421","description":"The app signon policy used by our test app","priority":1,"system":false,"conditions":null,"created":"2026-02-23T14:32:37.000Z","lastUpdated":"2026-02-23T14:32:37.000Z","_links":{"mappings":{"href":"https://classic-00.dne-okta.com/api/v1/policies/rstve4iehrBZOlzkw1d7/mappings","hints":{"allow":["GET","POST"]}},"self":{"href":"https://classic-00.dne-okta.com/api/v1/policies/rstve4iehrBZOlzkw1d7","hints":{"allow":["GET","PUT","DELETE"]}},"rules":{"href":"https://classic-00.dne-okta.com/api/v1/policies/rstve4iehrBZOlzkw1d7/rules","hints":{"allow":["GET","POST"]}},"deactivate":{"href":"https://classic-00.dne-okta.com/api/v1/policies/rstve4iehrBZOlzkw1d7/lifecycle/deactivate","hints":{"allow":["POST"]}}},"type":"ACCESS_POLICY"}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.187340125s
    - id: 2
      request:
        host: classic-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/policies/rstve4iehrBZOlzkw1d7/rules
        method: GET
      response:
        body: '[{"id":"rulve4iehsKZMPBTX1d7","status":"ACTIVE","name":"Catch-all Rule","priority":99,"created":"2026-02-23T14:32:37.000Z","lastUpdated":"2026-02-23T14:32:37.000Z","system":true,"conditions":null,"actions":{"appSignOn":{"access":"ALLOW","verificationMethod":{"factorMode":"2FA","type":"ASSURANCE","reauthenticateIn":"PT12H","constraints":[{"possession":{"required":true,"deviceBound":"REQUIRED"}}]},"keepMeSignedIn":{"postAuth":"NOT_ALLOWED"}}},"_links":{"self":{"href":"https://classic-00.dne-okta.com/api/v1/policies/rstve4iehrBZOlzkw1d7/rules/rulve4iehsKZMPBTX1d7","hints":{"allow":["GET","PUT"]}}},"type":"ACCESS_POLICY"}]'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.118606375s
    - id: 3
      request:
        host: classic-00.dne-okta.com
        body: |
            {"actions":{"appSignOn":{"access":"ALLOW","verificationMethod":{"factorMode":"2FA","inactivityPeriod":"PT1H","reauthenticateIn":"PT0S","type":"AUTH_METHOD_CHAIN","chains":[{"authenticationMethods":[{"key":"okta_password","method":"password"}],"next":[{"authenticationMethods":[{"key":"okta_email","method":"email"}]}]}]}}},"conditions":{"network":{"connection":"ANYWHERE"},"platform":{"include":[{"os":{"expression":"","type":"OTHER"},"type":"DESKTOP"}]},"elCondition":{}},"name":"test2","priority":0,"type":"ACCESS_POLICY"}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://classic-00.dne-okta.com/api/v1/policies/rstve4iehrBZOlzkw1d7/rules
        method: POST
      response:
        body: '{"id":"rulve4gafjkhLENE51d7","status":"ACTIVE","name":"test2","priority":0,"created":"2026-02-23T14:32:40.000Z","lastUpdated":"2026-02-23T14:32:40.000Z","system":false,"conditions":{"people":{"users":{"exclude":[]}},"network":{"connection":"ANYWHERE"},"platform":{"include":[{"type":"DESKTOP","os":{"type":"OTHER","expression":""}}],"exclude":[]},"riskScore":{"level":"ANY"},"userType":{"include":[],"exclude":[]}},"actions":{"appSignOn":{"access":"ALLOW","verificationMethod":{"type":"AUTH_METHOD_CHAIN","chains":[{"authenticationMethods":[{"key":"okta_password","method":"password"}],"next":[{"authenticationMethods":[{"key":"okta_email","method":"email"}]}]}],"reauthenticateIn":"PT0S"},"keepMeSignedIn":{"postAuth":"NOT_ALLOWED"}}},"_links":{"self":{"href":"https://classic-00.dne-okta.com/api/v1/policies/rstve4iehrBZOlzkw1d7/rules/rulve4gafjkhLENE51d7","hints":{"allow":["GET","PUT","DELETE"]}},"deactivate":{"href":"https://classic-00.dne-okta.com/api/v1/policies/rstve4iehrBZOlzkw1d7/rules/rulve4gafjkhLENE51d7/lifecycle/deactivate","hints":{"allow":["POST"]}}},"type":"ACCESS_POLICY"}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.48785s
    - id: 4
      request:
        host: classic-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/policies/rstve4iehrBZOlzkw1d7/rules/rulve4gafjkhLENE51d7
        method: GET
      response:
        body: '{"id":"rulve4gafjkhLENE51d7","status":"ACTIVE","name":"test2","priority":0,"created":"2026-02-23T14:32:40.000Z","lastUpdated":"2026-02-23T14:32:40.000Z","system":false,"conditions":{"people":{"users"[...]
    - id: 5
      request:
        host: classic-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/policies/rstve4iehrBZOlzkw1d7
        method: GET
      response:
        body: '{"id":"rstve4iehrBZOlzkw1d7","status":"ACTIVE","name":"testAcc_Test_App_2501686421","description":"The app signon policy used by our test app","priority":1,"system":false,"conditions":null,"created":"2026-02-23T14:32:37.000Z","lastUpdated":"2026-02-23T14:32:37.000Z","_links":{"mappings":{"href":"https://classic-00.dne-okta.com/api/v1/policies/rstve4iehrBZOlzkw1d7/mappings","hints":{"allow":["GET","POST"]}},"self":{"href":"https://classic-00.dne-okta.com/api/v1/policies/rstve4iehrBZOlzkw1d7","hints":{"allow":["GET","PUT","DELETE"]}},"rules":{"href":"https://classic-00.dne-okta.com/api/v1/policies/rstve4iehrBZOlzkw1d7/rules","hints":{"allow":["GET","POST"]}},"deactivate":{"href":"https://classic-00.dne-okta.com/api/v1/policies/rstve4iehrBZOlzkw1d7/lifecycle/deactivate","hints":{"allow":["POST"]}}},"type":"ACCESS_POLICY"}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.071608084s
[...]
    - id: 9
      request:
        host: classic-00.dne-okta.com
        form:
            type:
                - ACCESS_POLICY
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/policies?type=ACCESS_POLICY
        method: GET
      response:
        body: '[{"id":"rstqq6ctn3WGXVqOm1d7","status":"ACTIVE","name":"Okta Admin Console","priority":1,"system":false,"conditions":null,"created":"2025-10-07T06:36:58.000Z","lastUpdated":"2025-10-07T06:36:58.000Z","_links":{"mappings":{"href":"https://classic-00.dne-okta.com/api/v1/policies/rstqq6ctn3WGXVqOm1d7/mappings","hints":{"allow":["GET","POST"]}},"self":{"href":"https://classic-00.dne-okta.com/api/v1/policies/rstqq6ctn3WGXVqOm1d7","hints":{"allow":["GET","PUT","DELETE"]}},"rules":{"href":"https://classic-00.dne-okta.com/api/v1/policies/rstqq6ctn3WGXVqOm1d7/rules","hints":{"allow":["GET","POST"]}},"deactivate":{"href":"https://classic-00.dne-okta.com/api/v1/policies/rstqq6ctn3WGXVqOm1d7/lifecycle/deactivate","hints":{"allow":["POST"]}}},"_embedded":{"resourceType":"APP"},"type":"ACCESS_POLICY"},{"id":"rstqq6ctnaTuxncHq1d7","status":"ACTIVE","name":"Okta Dashboard","priority":1,"system":false,"conditions":null,"created":"2025-10-07T06:36:58.000Z","lastUpdated":"2025-10-07T06:36:58.000Z","_links":{"mappings":{"href":"https://classic-00.dne-okta.com/api/v1/policies/rstqq6ctnaTuxncHq1d7/mappings","hints":{"allow":["GET","POST"]}},"self":{"href":"https://classic-00.dne-okta.com/api/v1/policies/rstqq6ctnaTuxncHq1d7","hints":{"allow":["GET","PUT","DELETE"]}},"ru[...]
    - id: 10
      request:
        host: classic-00.dne-okta.com
        form:
            limit:
                - "200"
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/apps?limit=200
        method: GET
      response:
        body: '[{"id":"0oaqq6ctiaMpU2RcI1d7","orn":"orn:oktapreview:idp:00oqq6cti0hre4wUB1d7:apps:saasure:0oaqq6ctiaMpU2RcI1d7","name":"saasure","label":"Okta Admin Console","status":"ACTIVE","lastUpdated":"2025-10-07T06:36:53.000Z","created":"2025-10-07T06:36:53.000Z","accessibility":{"selfService":false,"errorRedirectUrl":null,"loginRedirectUrl":null},"visibility":{"autoSubmitToolbar":false,"hide":{"iOS":false,"web":false},"appLinks":{"admin":true}},"features":[],"signOnMode":"OPENID_CONNECT","credentials":{"userNameTemplate":{"template":"${source.login}","type":"BUILT_IN"},"signing":{"kid":"ffTX-CWv4cDeomrOnS7nTIVq98elfJHQ08e6Kgdgbwc"}},"universalLogout":{"status":"UNSUPPORTED"},"settings":{"app":{},"notifications":{"vpn":{"network":{"connection":"DISABLED"},"message":null,"helpUrl":null}},"manualProvisioning":false,"implicitAssignment":false,"emOptInStatus":"NONE"},"_links":{"uploadLogo":{"href":"https://classic-00.dne-okta.com/api/v1/apps/0oaqq6ctiaMpU2RcI1d7/logo","hints":{"allow":["POST"]}},"appLinks":[{"name":"admin","href":"https://classic-00.dne-okta.com/home/saasure/0oaqq6ctiaMpU2RcI1d7/2","type":"text/html"}],"profileEnrollment":{"href":"https://classic-00.dne-okta.com/api/v1/policies/rstqq6ctnpaOXS2D11d7"},"policies":{"href":"https://classic-00.dne-okta.com/api/v1/apps/0oaqq6ctiaMpU2RcI1d7/policies","hints":{"allow":["PUT"]}},"groups":{"href":"https://classic-00.dne-okta.com/api/v1/apps/0oaqq6ctiaMpU2RcI1d7/groups"},"logo":[{"name":"medium","href":"https://op3static2.oktacdn.com/assets/img/logos/okta_admin_app.da3325676d57eaf566cb786dd0c7a819.png","type":"image/png"}],"accessPolicy":{"href":"https://classic-00.dne-okta.com/api/v1/policies/rstqq6ctn3WGXVqOm1d7"},"users":{"href":"https://classic-00.dne-okta.com/api/v1/apps/0oaqq6ctiaMpU2RcI1d7/users"},"deactivate":{"href":"https://classic-00.dne-okta.com/api/v1/apps/0oaqq6ctiaMpU2RcI1d7/lifecycle/deactivate"}}},{"id":"0oaqq6ctj2LeNPax61d7","orn":"orn:oktapreview:idp:00oqq6cti0hre4wUB1d7:apps:okta_enduser:0oaqq6ctj2LeNPax61d7","name":"okta_enduser","label":"Okta Dashboard","status":"ACTIVE","lastUpdated":"2025-10-07T06:36:54.0[...]
[...]
