---
version: 2
interactions:
- id: 0
  request:
    host: oie-00.dne-okta.com
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://oie-00.dne-okta.com/api/v1/devices/abcdefghi0123456789
    method: GET
  response:
    body: "{\"id\":\"abcdefghi0123456789\",\"status\":\"ACTIVE\",\"created\":\"2025-10-24T06:17:14.000Z\",\"lastUpdated\":\"2025-10-24T06:17:14.000Z\",\"profile\":{\"displayName\":\"Personal Phone\",\"platform\":\"ANDROID\",\"manufacturer\":\"samsung\",\"model\":\"SM-S921B\",\"osVersion\":\"16:2025-09-01\",\"registered\":true,\"secureHardwarePresent\":true,\"diskEncryptionType\":\"USER\"},\"resourceType\":\"UDDevice\",\"resourceDisplayName\":{\"value\":\"Personal Phone\",\"sensitive\":false},\"resourceId\":\"abcdefghi0123456789\",\"resourceAlternateId\":null,\"_links\":{\"suspend\":{\"href\":\"https://oie-00.dne-okta.com/api/v1/devices/abcdefghi0123456789/lifecycle/suspend\",\"hints\":{\"allow\":[\"POST\"]}},\"self\":{\"href\":\"https://oie-00.dne-okta.com/api/v1/devices/abcdefghi0123456789\",\"hints\":{\"allow\":[\"GET\",\"PATCH\",\"PUT\"]}},\"users\":{\"href\":\"https://oie-00.dne-okta.com/api/v1/devices/abcdefghi0123456789/users\",\"hints\":{\"allow\":[\"GET\"]}},\"deactivate\":{\"href\":\"https://oie-00.dne-okta.com/api/v1/devices/abcdefghi0123456789/lifecycle/deactivate\",\"hints\":{\"allow\":[\"POST\"]}}},\"_embedded\":{\"originatedFrom\":[{\"id\":\"autnkw1sgntSDQThR1d7\",\"name\":\"Okta Verify\",\"key\":\"okta_verify\"}]}}"
    headers:
      Accept-Ch:
      - Sec-CH-UA-Platform-Version
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 1.022939834s
[...]
