---
version: 2
interactions:
    - id: 0
      request:
        host: oie-00.dne-okta.com
        body: |
            {"displayRemediationMode":"SHOW","name":"testAcc_3279207242","platform":"CHROMEOS","thirdPartySignalProviders":{"devicePostureIdP":{"compliant":true,"managed":true}}}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://oie-00.dne-okta.com/api/v1/device-assurances
        method: POST
      response:
        body: '{"name":"testAcc_3279207242","platform":"CHROMEOS","id":"dae14i5n1qwzIYHoV1d8","thirdPartySignalProviders":{"devicePostureIdP":{"managed":true,"compliant":true}},"displayRemediationMode":"SHOW","createdDate":"2026-10-06T12:28:24.000Z","createdBy":"00utivnuu1aaKzqqO1d7","lastUpdate":"2026-10-06T12:28:24.000Z","lastUpdatedBy":"00utivnuu1aaKzqqO1d7","resourceType":"DeviceAssurancePolicyEntity","resourceId":"dae14i5n1qwzIYHoV1d8","resourceDisplayName":{"value":"testAcc_3279207242","sensitive":false},"_links":{"self":{"href":"https://oie-00.dne-okta.com/api/v1/device-assurances/dae14i5n1qwzIYHoV1d8","hints":{"allow":["GET","PUT","DELETE"]}}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.478684917s
    - id: 1
      request:
        host: oie-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/device-assurances/dae14i5n1qwzIYHoV1d8
        method: GET
      response:
        body: '{"name":"testAcc_3279207242","platform":"CHROMEOS","id":"dae14i5n1qwzIYHoV1d8","thirdPartySignalProviders":{"devicePostureIdP":{"managed":true,"compliant":true}},"displayRemediationMode":"SHOW","createdDate":"2026-10-06T12:28:24.000Z","createdBy":"00utivnuu1aaKzqqO1d7","lastUpdate":"2026-10-06T12:28:24.000Z","lastUpdatedBy":"00utivnuu1aaKzqqO1d7","resourceType":"DeviceAssurancePolicyEntity","resourceId":"dae14i5n1qwzIYHoV1d8","resourceDisplayName":{"value":"testAcc_3279207242","sensitive":false},"_links":{"self":{"href":"https://oie-00.dne-okta.com/api/v1/device-assurances/dae14i5n1qwzIYHoV1d8","hints":{"allow":["GET","PUT","DELETE"]}}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.278449542s
[...]
