---
version: 2
interactions:
- id: 0
  request:
    host: oie-00.dne-okta.com
    body: "{\"accessibility\":{},\"credentials\":{\"oauthClient\":{\"autoKeyRotation\":true,\"pkce_required\":false,\"token_endpoint_auth_method\":\"client_secret_basic\"},\"userNameTemplate\":{\"template\":\"${source.login}\",\"type\":\"BUILT_IN\"}},\"label\":\"testAcc_3229340673\",\"name\":\"oidc_client\",\"settings\":{\"notes\":{},\"oauthClient\":{\"application_type\":\"service\",\"consent_method\":\"TRUSTED\",\"dpop_bound_access_tokens\":false,\"grant_types\":[\"client_credentials\"],\"issuer_mode\":\"ORG_URL\",\"jwks_uri\":\"https://example.com\",\"response_types\":[\"token\"],\"wildcard_redirect\":\"DISABLED\"}},\"signOnMode\":\"OPENID_CONNECT\",\"visibility\":{\"hide\":{\"iOS\":true,\"web\":true}}}\n"
    form:
      activate:
      - "true"
    headers:
      Authorization:
      - SSWS REDACTED
      Content-Type:
      - application/json
    url: https://oie-00.dne-okta.com/api/v1/apps?activate=true
    method: POST
  response:
    body: "{\"id\":\"0oarqrbmywT0nYRap1d7\",\"orn\":\"orn:oktapreview:idp:00onkw1sbuAh3Q06I1d7:apps:oidc_client:0oarqrbmywT0nYRap1d7\",\"name\":\"oidc_client\",\"label\":\"testAcc_3229340673\",\"status\":\"ACTIVE\",\"lastUpdated\":\"2025-11-11T09:31:53.000Z\",\"created\":\"2025-11-11T09:31:52.000Z\",\"accessibility\":{\"selfService\":false,\"errorRedirectUrl\":null,\"loginRedirectUrl\":null},\"visibility\":{\"autoLaunch\":false,\"autoSubmitToolbar\":false,\"hide\":{\"iOS\":true,\"web\":true},\"appLinks\":{\"oidc_client_link\":true}},\"features\":[],\"signOnMode\":\"OPENID_CONNECT\",\"credentials\":{\"userNameTemplate\":{\"template\":\"${source.login}\",\"type\":\"BUILT_IN\"},\"signing\":{\"kid\":\"sALQDM5PBTRR6dsVDGloCQexOBDrJNwQmFiZuWur7eo\"},\"oauthClient\":{\"autoKeyRotation\":true,\"client_id\":\"0oarqrbmywT0nYRap1d7\",\"client_secret\":\"CTidSY23lrC1VA0QLuKrRMZRsQvIYw6FQQzUbbriApRCaRh_NWOsKkTn2aYxtrqj\",\"token_endpoint_auth_method\":\"client_secret_basic\",\"pkce_required\":false}},\"universalLogout\":{\"status\":\"DISABLED\",\"supportType\":\"FULL\",\"identityStack\":\"NOT_SHARED\",\"protocol\":\"GLOBAL_TOKEN_REVOCATION\"},\"settings\":{\"app\":{},\"notifications\":{\"vpn\":{\"network\":{\"connection\":\"DISABLED\"},\"message\":null,\"helpUrl\":null}},\"manualProvisioning\":false,\"implicitAssignment\":false,\"emOptInStatus\":\"NONE\",\"notes\":{\"admin\":null,\"enduser\":null},\"oauthClient\":{\"client_uri\":null,\"logo_uri\":null,\"redirect_uris\":[],\"response_types\":[\"token\"],\"grant_types\":[\"client_credentials\"],\"jwks_uri\":\"https://example.com\",\"application_type\":\"service\",\"consent_method\":\"TRUSTED\",\"issuer_mode\":\"ORG_URL\",\"idp_initiated_login\":{\"mode\":\"DISABLED\",\"default_scope\":[]},\"wildcard_redirect\":\"DISABLED\",\"dpop_bound_access_tokens\":false,\"participate_slo\":false}},\"_links\":{\"uploadLogo\":{\"href\":\"https://oie-00/api/v1/apps/0oarqrbmywT0nYRap1d7/logo\",\"hints\":{\"allow\":[\"POST\"]}},\"appLinks\":[{\"name\":\"oidc_client_link\",\"href\":\"https://oie-00/home/oidc_client/0oarqrbmywT0nYRap1d7/aln177a159h7Zf52X0g8\",\"type\":\"text/html\"}],\"profileEnrollment\":{\"href\":\"https://oie-00/api/v1/policies/rstnkw1sgzCwhJaUs1d7\"},\"policies\":{\"href\":\"https://oie-00/api/v1/apps/0oarqrbmywT0nYRap1d7/policies\",\"hints\":{\"allow\":[\"PUT\"]}},\"groups\":{\"href\":\"https://oie-00/api/v1/apps/0oarqrbmywT0nYRap1d7/groups\"},\"logo\":[{\"name\":\"medium\",\"href\":\"https://op3static2.oktacdn.com/assets/img/logos/default.6770228fb0dab49a1695ef440a5279bb.png\",\"type\":\"image/png\"}],\"clientCredentials\":[{\"name\":\"secrets\",\"href\":\"https://oie-00/api/v1/apps/0oarqrbmywT0nYRap1d7/credentials/secrets\"}],\"accessPolicy\":{\"href\":\"https://oie-00/api/v1/policies/rstnkw1sgxfqkDUtx1d7\"},\"users\":{\"href\":\"https://oie-00/api/v1/apps/0oarqrbmywT0nYRap1d7/users\"},\"deactivate\":{\"href\":\"https://oie-00/api/v1/apps/0oarqrbmywT0nYRap1d7/lifecycle/deactivate\"}}}"
    headers:
      Accept-Ch:
      - Sec-CH-UA-Platform-Version
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 2.378768875s
- id: 1
  request:
    host: oie-00.dne-okta.com
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://oie-00.dne-okta.com/api/v1/apps/0oarqrbmywT0nYRap1d7
    method: GET
  response:
    body: "{\"id\":\"0oarqrbmywT0nYRap1d7\",\"orn\":\"orn:oktapreview:idp:00onkw1sbuAh3Q06I1d7:apps:oidc_client:0oarqrbmywT0nYRap1d7\",\"name\":\"oidc_client\",\"label\":\"testAcc_3229340673\",\"status\":\"ACTIVE\",\"lastUpdated\":\"2025-11-11T09:31:53.000Z\",\"created\":\"2025-11-11T09:31:52.000[...]
- id: 2
  request:
    host: oie-00.dne-okta.com
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://oie-00.dne-okta.com/.well-known/okta-organization
    method: GET
  response:
    body: "{\"id\":\"00onkw1sbuAh3Q06I1d7\",\"cell\":\"op3\",\"_links\":{\"organization\":{\"href\":\"https://oie-00\"}},\"pipeline\":\"idx\",\"settings\":{\"analyticsCollectionEnabled\":false,\"bugReportingEnabled\":true,\"omEnabled\":false,\"pssoEnabled\":true,\"desktopMFAEnabled\":true,\"itpEnabled\":true}}"
    headers:
      Accept-Ch:
      - Sec-CH-UA-Platform-Version
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 1.143103459s
- id: 3
  request:
    host: oie-00.dne-okta.com
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://oie-00.dne-okta.com/api/v1/internal/apps/0oarqrbmywT0nYRap1d7/settings/oauth/idToken
    method: GET
  response:
    body: "{\"issuer\":\"https://oie-00\",\"orgUrl\":null,\"customUrl\":null,\"audience\":\"0oarqrbmywT0nYRap1d7\",\"issuerMode\":\"ORG_URL\"}"
    headers:
      Accept-Ch:
      - Sec-CH-UA-Platform-Version
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 1.022376167s
- id: 4
  request:
    host: oie-00.dne-okta.com
    body: "{\"type\":\"HELP_DESK_ADMIN\"}\n"
    headers:
      Authorization:
      - SSWS REDACTED
      Content-Type:
      - application/json
    url: https://oie-00.dne-okta.com/oauth2/v1/clients/0oarqrbmywT0nYRap1d7/roles
    method: POST
  response:
    body: "{\"id\":\"JBCUYUC7IRCVGS27IFCE2SKO\",\"label\":\"Help Desk Administrator\",\"type\":\"HELP_DESK_ADMIN\",\"status\":\"ACTIVE\",\"created\":\"2025-11-11T09:31:57.000Z\",\"lastUpdated\":\"2025-11-11T09:31:57.000Z\",\"assignmentType\":\"CLIENT\",\"_links\":{\"assignee\":{\"href\":\"https://oie-00/oauth2/v1/clients/0oarqrbmywT0nYRap1d7\"}}}"
    headers:
      Accept-Ch:
      - Sec-CH-UA-Platform-Version
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: 1.034740875s
[...]
- id: 7
  request:
    host: oie-00.dne-okta.com
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://oie-00.dne-okta.com/oauth2/v1/clients/0oarqrbmywT0nYRap1d7/roles/JBCUYUC7IRCVGS27IFCE2SKO
    method: GET
  response:
    body: "{\"id\":\"JBCUYUC7IRCVGS27IFCE2SKO\",\"label\":\"Help Desk Administrator\",\"type\":\"HELP_DESK_ADMIN\",\"status\":\"ACTIVE\",\"created\":\"2025-11-11T09:31:57.000Z\",\"lastUpdated\":\"2025-11-11T09:31:57.000Z\",\"assignmentType\":\"CLIENT\",\"_links\":{\"assignee\":{\"href\":\"https://oie-00/oauth2/v1/clients/0oarqrbmywT0nYRap1d7\"}}}"
    headers:
      Accept-Ch:
      - Sec-CH-UA-Platform-Version
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 1.117710958s
[...]
- id: 16
  request:
    host: oie-00.dne-okta.com
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://oie-00.dne-okta.com/oauth2/v1/clients/0oarqrbmywT0nYRap1d7/roles/I5JE6VKQL5GUKTKCIVJFGSCJKBPUCRCNJFHA
    method: GET
  response:
    body: "{\"id\":\"I5JE6VKQL5GUKTKCIVJFGSCJKBPUCRCNJFHA\",\"label\":\"Group Membership Administrator\",\"type\":\"GROUP_MEMBERSHIP_ADMIN\",\"status\":\"ACTIVE\",\"created\":\"2025-11-11T09:32:12.000Z\",\"lastUpdated\":\"2025-11-11T09:32:12.000Z\",\"assignmentType\":\"CLIENT\",\"_links\":{\"assignee\":{\"href\":\"https://oie-00/oauth2/v1/clients/0oarqrbmywT0nYRap1d7\"}}}"
    headers:
      Accept-Ch:
      - Sec-CH-UA-Platform-Version
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 1.036694s
[...]
- id: 18
  request:
    host: oie-00.dne-okta.com
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://oie-00.dne-okta.com/api/v1/apps/0oarqrbmywT0nYRap1d7/lifecycle/deactivate
    method: POST
  response:
    body: "{}"
    headers:
      Accept-Ch:
      - Sec-CH-UA-Platform-Version
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 1.096345958s
[...]
