---
version: 2
interactions:
    - id: 0
      request:
        host: oie-00.dne-okta.com
        form:
            filter:
                - parentResourceOrn eq "orn:oktapreview:idp:00onkw1sbuAh3Q06I1d7:apps:oidc_client:0oanlpn0tzc7kh9bx1d7"
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/governance/api/v1/resource-owners/catalog/resources?filter=parentResourceOrn+eq+%22orn%3Aoktapreview%3Aidp%3A00onkw1sbuAh3Q06I1d7%3Aapps%3Aoidc_client%3A0oanlpn0tzc7kh9bx1d7%22
        method: GET
      response:
        body: '{"parentResourceOrn":"orn:oktapreview:idp:00onkw1sbuAh3Q06I1d7:apps:oidc_client:0oanlpn0tzc7kh9bx1d7","data":[],"_links":{"self":{"href":"https://oie-00.dne-okta.com/governance/api/v1/resource-owners/catalog/resources?filter=parentResourceOrn%20eq%20%22orn:oktapreview:idp:00onkw1sbuAh3Q06I1d7:apps:oidc_client:0oanlpn0tzc7kh9bx1d7%22&limit=20","hints":{}}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.5s
[...]
