---
version: 2
interactions:
    - id: 0
      request:
        host: mm-oie-2022-10-07-max.oktapreview.com
        body: |
            {"id":"","name":"testAcc_571542909","status":"ACTIVE","settings":{"granularity":"LAT_LONG","maxEventsUsedForEvaluation":50,"radiusKilometers":20},"type":"ANOMALOUS_LOCATION"}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/behaviors
        method: POST
      response:
        body: '{"id":"bhv95ug989Ei3HgTK1d7","name":"testAcc_571542909","status":"ACTIVE","settings":{"minEventsNeededForEvaluation":0,"maxEventsUsedForEvaluation":50,"granularity":"LAT_LONG","radiusKilometers":20.0},"type":"ANOMALOUS_LOCATION","created":"2023-07-27 19:47:36.0","lastUpdated":"2023-07-27 19:47:36.0","_links":{"self":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/behaviors/bhv95ug989Ei3HgTK1d7","hints":{"allow":["GET","PUT","DELETE"]}},"deactivate":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/behaviors/bhv95ug989Ei3HgTK1d7/lifecycle/deactivate","hints":{"allow":["POST"]}}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 372.655122ms
    - id: 1
      request:
        host: mm-oie-2022-10-07-max.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/behaviors/bhv95ug989Ei3HgTK1d7
        method: GET
      response:
        body: '{"id":"bhv95ug989Ei3HgTK1d7","name":"testAcc_571542909","status":"ACTIVE","settings":{"minEventsNeededForEvaluation":0,"maxEventsUsedForEvaluation":50,"granularity":"LAT_LONG","radiusKilometers":20.0},"type":"ANOMALOUS_LOCATION","created":"2023-07-27 19:47:36.0","lastUpdated":"2023-07-27 19:47:36.0","_links":{"self":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/behaviors/bhv95ug989Ei3HgTK1d7","hints":{"allow":["GET","PUT","DELETE"]}},"deactivate":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/behaviors/bhv95ug989Ei3HgTK1d7/lifecycle/deactivate","hints":{"allow":["POST"]}}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 72.254234ms
[...]
    - id: 9
      request:
        host: mm-oie-2022-10-07-max.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/behaviors/bhv95ug989Ei3HgTK1d7/lifecycle/deactivate
        method: POST
      response:
        body: '{"id":"bhv95ug989Ei3HgTK1d7","name":"testAcc_571542909_updated","status":"INACTIVE","settings":{"minEventsNeededForEvaluation":0,"maxEventsUsedForEvaluation":100,"granularity":"LAT_LONG","radiusKilometers":5.0},"type":"ANOMALOUS_LOCATION","created":"2023-07-27 19:47:36.0","lastUpdated":"2023-07-27 19:47:40.0","_links":{"activate":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/behaviors/bhv95ug989Ei3HgTK1d7/lifecycle/activate","hints":{"allow":["POST"]}},"self":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/behaviors/bhv95ug989Ei3HgTK1d7","hints":{"allow":["GET","PUT","DELETE"]}}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 169.368171ms
[...]
    - id: 13
      request:
        host: mm-oie-2022-10-07-max.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/behaviors/bhv95ug989Ei3HgTK1d7
        method: GET
      response:
        body: '{"errorCode":"E0000007","errorSummary":"Not found: Resource not found: bhv95ug989Ei3HgTK1d7 (BehaviorSettings)","errorLink":"E0000007","errorId":"oaeTWpW8TSHT9eYRmNTRwlkvg","errorCauses":[]}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 65.540598ms
