---
version: 2
interactions:
    - id: 0
      request:
        host: oie-00.dne-okta.com
        body: |
            {"profile":{"name":"testAcc_2327057166","description":"testing"}}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://oie-00.dne-okta.com/api/v1/groups
        method: POST
      response:
        body: '{"id":"00g9i7brgboK6shA71d7","created":"2023-08-15T23:44:03.000Z","lastUpdated":"2023-08-15T23:44:03.000Z","lastMembershipUpdated":"2023-08-15T23:44:03.000Z","objectClass":["okta:user_group"],"type":"OKTA_GROUP","profile":{"name":"testAcc_2327057166","description":"testing"},"_links":{"logo":[{"name":"medium","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-medium.30ce6d4085dff29412984e4c191bc874.png","type":"image/png"},{"name":"large","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-large.c3cb8cda8ae0add1b4fe928f5844dbe3.png","type":"image/png"}],"users":{"href":"https://oie-00.oktapreview.com/api/v1/groups/00g9i7brgboK6shA71d7/users"},"apps":{"href":"https://oie-00.oktapreview.com/api/v1/groups/00g9i7brgboK6shA71d7/apps"}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 229.436201ms
    - id: 1
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/groups/00g9i7brgboK6shA71d7
        method: GET
      response:
        body: '{"id":"00g9i7brgboK6shA71d7","created":"2023-08-15T23:44:03.000Z","lastUpdated":"2023-08-15T23:44:03.000Z","lastMembershipUpdated":"2023-08-15T23:44:03.000Z","objectClass":["okta:user_group"],"type":"OKTA_GROUP","profile":{"name":"testAcc_2327057166","description":"testing"},"_links":{"logo":[{"name":"medium","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-medium.30ce6d4085dff29412984e4c191bc874.png","type":"image/png"},{"name":"large","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-large.c3cb8cda8ae0add1b4fe928f5844dbe3.png","type":"image/png"}],"users":{"href":"https://oie-00.oktapreview.com/api/v1/groups/00g9i7brgboK6shA71d7/users"},"apps":{"href":"https://oie-00.oktapreview.com/api/v1/groups/00g9i7brgboK6shA71d7/apps"}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 78.247886ms
[...]
    - id: 3
      request:
        host: oie-00.dne-okta.com
        body: |
            {"credentials":{"password":{}},"profile":{"email":"testAcc-2327057166@example.com","firstName":"TestAcc","lastName":"Smith","login":"testAcc-2327057166@example.com","postalAddress":null}}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://oie-00.dne-okta.com/api/v1/users
        method: POST
      response:
        body: '{"id":"00u9i77qh1zPEffq01d7","status":"PROVISIONED","created":"2023-08-15T23:44:03.000Z","activated":"2023-08-15T23:44:03.000Z","statusChanged":"2023-08-15T23:44:03.000Z","lastLogin":null,"lastUpdated":"2023-08-15T23:44:03.000Z","passwordChanged":null,"type":{"id":"oty5qwjvh0Vy1j8Kd1d7"},"profile":{"firstName":"TestAcc","lastName":"Smith","mobilePhone":null,"secondEmail":null,"login":"testAcc-2327057166@example.com","email":"testAcc-2327057166@example.com"},"credentials":{"provider":{"type":"OKTA","name":"OKTA"}},"_links":{"suspend":{"href":"https://oie-00.oktapreview.com/api/v1/users/00u9i77qh1zPEffq01d7/lifecycle/suspend","method":"POST"},"schema":{"href":"https://oie-00.oktapreview.com/api/v1/meta/schemas/user/osc5qwjvh0Vy1j8Kd1d7"},"resetPassword":{"href":"https://oie-00.oktapreview.com/api/v1/users/00u9i77qh1zPEffq01d7/lifecycle/reset_password","method":"POST"},"reactivate":{"href":"https://oie-00.oktapreview.com/api/v1/users/00u9i77qh1zPEffq01d7/lifecycle/reactivate","method":"POST"},"self":{"href":"https://oie-00.oktapreview.com/api/v1/users/00u9i77qh1zPEffq01d7"},"resetFactors":{"href":"https://oie-00.oktapreview.com/api/v1/users/00u9i77qh1zPEffq01d7/lifecycle/reset_factors","method":"POST"},"type":{"href":"https://oie-00.oktapreview.com/api/v1/meta/types/user/oty5qwjvh0Vy1j8Kd1d7"},"deactivate":{"href":"https://oie-00.oktapreview.com/api/v1/users/00u9i77qh1zPEffq01d7/lifecycle/deactivate","method":"POST"}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 450.015109ms
    - id: 4
      request:
        host: oie-00.dne-okta.com
        body: |
            {"type":"READ_ONLY_ADMIN"}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://oie-00.dne-okta.com/api/v1/groups/00g9i7brgboK6shA71d7/roles?disableNotifications=false
        method: POST
      response:
        body: '{"id":"gra9i75d7kwH4AuVw1d7","label":"Read-only Administrator","type":"READ_ONLY_ADMIN","status":"ACTIVE","created":"2023-08-15T23:44:03.000Z","lastUpdated":"2023-08-15T23:44:03.000Z","assignmentType":"GROUP","_links":{"assignee":{"href":"https://oie-00.oktapreview.com/api/v1/groups/00g9i7brgboK6shA71d7"}}}'
        headers:
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 74.723916ms
[...]
    - id: 6
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/groups/00g9i7brgboK6shA71d7/roles/IFIFAX2BIRGUSTQ
        method: GET
      response:
        body: '{"id":"IFIFAX2BIRGUSTQ","label":"Application Administrator","type":"APP_ADMIN","status":"ACTIVE","created":"2023-08-15T23:44:03.000Z","lastUpdated":"2023-08-15T23:44:03.000Z","assignmentType":"GROUP","_links":{"assignee":{"href":"https://oie-00.oktapreview.com/api/v1/groups/00g9i7brgboK6shA71d7"}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 54.240361ms
    - id: 7
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/groups/00g9i7brgboK6shA71d7/roles/gra9i75d7kwH4AuVw1d7
        method: GET
      response:
        body: '{"id":"gra9i75d7kwH4AuVw1d7","label":"Read-only Administrator","type":"READ_ONLY_ADMIN","status":"ACTIVE","created":"2023-08-15T23:44:03.000Z","lastUpdated":"2023-08-15T23:44:03.000Z","assignmentType":"GROUP","_links":{"assignee":{"href":"https://oie-00.oktapreview.com/api/v1/groups/00g9i7brgboK6shA71d7"}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 60.832135ms
    - id: 8
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/users/00u9i77qh1zPEffq01d7
        method: GET
      response:
        body: '{"id":"00u9i77qh1zPEffq01d7","status":"PROVISIONED","created":"2023-08-15T23:44:03.000Z","activated":"2023-08-15T23:44:03.000Z","statusChanged":"2023-08-15T23:44:03.000Z","lastLogin":null,"lastUpdated":"[...]
    - id: 9
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/groups/00g9i7brgboK6shA71d7/roles/IFIFAX2BIRGUSTQ/targets/catalog/apps?limit=200&status=ACTIVE
        method: GET
      response:
        body: '[]'
        headers:
            Content-Type:
                - application/json
            Link:
                - <https://oie-00.dne-okta.com/api/v1/groups/00g9i7brgboK6shA71d7/roles/IFIFAX2BIRGUSTQ/targets/catalog/apps?after=PGEt6VcF7kfSEeB6LBKQMuNUg1&limit=20>; rel="self"
        status: 200 OK
        code: 200
        duration: 64.920559ms
[...]
    - id: 23
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/groups/00g9i716r1hSRUKMp1d7
        method: GET
      response:
        body: '{"id":"00g9i716r1hSRUKMp1d7","created":"2023-08-15T23:44:05.000Z","lastUpdated":"2023-08-15T23:44:05.000Z","lastMembershipUpdated":"2023-08-15T23:44:05.000Z","objectClass":["okta:user_group"],"type":"OKTA_GROUP","profile":{"name":"testTarget2Acc_2327057166","description":"testing"},"_links":{"logo":[{"name":"medium","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-medium.30ce6d4085dff29412984e4c191bc874.png","type":"image/png"},{"name":"large","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-large.c3cb8cda8ae0add1b4fe928f5844dbe3.png","type":"image/png"}],"users":{"href":"https://oie-00.oktapreview.com/api/v1/groups/00g9i716r1hSRUKMp1d7/users"},"apps":{"href":"https://oie-00.oktapreview.com/api/v1/groups/00g9i716r1hSRUKMp1d7/apps"}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 61.625963ms
    - id: 24
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/groups/00g9i714arfPfLELn1d7
        method: GET
      response:
        body: '{"id":"00g9i714arfPfLELn1d7","created":"2023-08-15T23:44:05.000Z","lastUpdated":"2023-08-15T23:44:05.000Z","lastMembershipUpdated":"2023-08-15T23:44:05.000Z","objectClass":["okta:user_group"],"type":"OKTA_GROUP","profile":{"name":"testTarget1Acc_2327057166","description":"testing"},"_links":{"logo":[{"name":"medium","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-medium.30ce6d4085dff29412984e4c191bc874.png","type":"image/png"},{"name":"large","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-large.c3cb8cda8ae0add1b4fe928f5844dbe3.png","type":"image/png"}],"users":{"href":"https://oie-00.oktapreview.com/api/v1/groups/00g9i714arfPfLELn1d7/users"},"apps":{"href":"https://oie-00.oktapreview.com/api/v1/groups/00g9i714arfPfLELn1d7/apps"}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 53.975746ms
[...]
    - id: 28
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/groups/00g9i7brgboK6shA71d7/roles/JBCUYUC7IRCVGS27IFCE2SKO/targets/groups/00g9i716r1hSRUKMp1d7
        method: PUT
      response:
        body: ""
        headers:
        status: 204 No Content
        code: 204
        duration: 81.878062ms
    - id: 29
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/groups/00g9i7brgboK6shA71d7/roles/JBCUYUC7IRCVGS27IFCE2SKO/targets/groups/00g9i714arfPfLELn1d7
        method: PUT
      response:
        body: ""
        headers:
        status: 204 No Content
        code: 204
        duration: 71.548845ms
    - id: 30
      request:
        host: oie-00.dne-okta.com
        body: |
            {"credentials":{"userNameTemplate":{"template":"${source.login}","type":"BUILT_IN"},"userName":""},"accessibility":{"selfService":false},"label":"testAcc_2327057166","name":"template_swa","settings":{"app":{"buttonField":"btn-login","passwordField":"txtbox-password","url":"https://example.com/login.html","usernameField":"txtbox-username"},"notes":{"admin":null,"enduser":null}},"signOnMode":"BROWSER_PLUGIN","visibility":{"autoSubmitToolbar":false,"hide":{"iOS":false,"web":false}}}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://oie-00.dne-okta.com/api/v1/apps?activate=true
        method: POST
      response:
        body: '{"id":"0oa9i74qfdcVlmDNe1d7","name":"template_swa","label":"testAcc_2327057166","status":"ACTIVE","lastUpdated":"2023-08-15T23:44:05.000Z","created":"2023-08-15T23:44:05.000Z","accessibility":{"selfService":false,"errorRedirectUrl":null,"loginRedirectUrl":null},"visibility":{"autoLaunch":false,"autoSubmitToolbar":false,"hide":{"iOS":false,"web":false},"appLinks":{"login":true}},"features":[],"signOnMode":"BROWSER_PLUGIN","credentials":{"scheme":"EDIT_USERNAME_AND_PASSWORD","userNameTemplate":{"template":"${source.login}","type":"BUILT_IN"},"revealPassword":false,"signing":{}},"settings":{"app":{"loginUrlRegex":null,"usernameField":"txtbox-username","redirectUrl":null,"buttonField":"btn-login","checkbox":null,"passwordField":"txtbox-password","url":"https://example.com/login.html"},"notifications":{"vpn":{"network":{"connection":"DISABLED"},"message":null,"helpUrl":null}},"manualProvisioning":false,"implicitAssignment":false,"notes":{"admin":null,"enduser":null}},"_links":{"uploadLogo":{"href":"https://oie-00.oktapreview.com/api/v1/apps/0oa9i74qfdcVlmDNe1d7/logo","hints":{"allow":["POST"]}},"appLinks":[{"name":"login","href":"https://oie-00.oktapreview.com/home/template_swa/0oa9i74qfdcVlmDNe1d7/2357","type":"text/html"}],"profileEnrollment":{"href":"https://oie-00.oktapreview.com/api/v1/policies/rst5qwjvlxUHivL8a1d7"},"policies":{"href":"https://oie-00.oktapreview.com/api/v1/apps/0oa9i74qfdcVlmDNe1d7/policies","hints":{"allow":["PUT"]}},"groups":{"href":"https://oie-00.oktapreview.com/api/v1/apps/0oa9i74qfdcVlmDNe1d7/groups"},"logo":[{"name":"medium","href":"https://op3static.oktacdn.com/fs/bcg/4/gfs1g3ksgnrQi3BSX1d8","type":"image/png"}],"accessPolicy":{"href":"https://oie-00.oktapreview.com/api/v1/policies/rst5qwjvlvS3G1WOU1d7"},"users":{"href":"https://oie-00.oktapreview.com/api/v1/apps/0oa9i74qfdcVlmDNe1d7/users"},"deactivate":{"href":"https://oie-00.oktapreview.com/api/v1/apps/0oa9i74qfdcVlmDNe1d7/lifecycle/deactivate"}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 632.421536ms
    - id: 31
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/groups/00g9i7brgboK6shA71d7/roles/JBCUYUC7IRCVGS27IFCE2SKO
        method: GET
      response:
        body: '{"id":"JBCUYUC7IRCVGS27IFCE2SKO","label":"Help Desk Administrator","type":"HELP_DESK_ADMIN","status":"ACTIVE","created":"2023-08-15T23:44:05.000Z","lastUpdated":"2023-08-15T23:44:05.000Z","assignmentType":"GROUP","_links":{"assignee":{"href":"https://oie-00.oktapreview.com/api/v1/groups/00g9i7brgboK6shA71d7"}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 54.525056ms
    - id: 32
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/groups/00g9i7brgboK6shA71d7/roles/JBCUYUC7IRCVGS27IFCE2SKO/targets/groups?limit=200
        method: GET
      response:
        body: '[{"id":"00g9i714arfPfLELn1d7","created":"2023-08-15T23:44:05.000Z","lastUpdated":"2023-08-15T23:44:05.000Z","lastMembershipUpdated":"2023-08-15T2[...]
    - id: 33
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/apps/0oa9i74qfdcVlmDNe1d7
        method: GET
      response:
        body: '{"id":"0oa9i74qfdcVlmDNe1d7","name":"template_swa","label":"testAcc_2327057166","status":"ACTIVE","lastUpdated":"2023-08-15T23:44:05.000Z","created":"2023-08-15T23:44:05.000Z","accessibility":{"selfServi[...]
[...]
    - id: 35
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/groups/00g9i7brgboK6shA71d7/roles/IFIFAX2BIRGUSTQ/targets/catalog/apps/template_swa/0oa9i74qfdcVlmDNe1d7
        method: PUT
      response:
        body: ""
        headers:
        status: 204 No Content
        code: 204
        duration: 106.089677ms
[...]
    - id: 61
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/apps/0oa9i74qfdcVlmDNe1d7/lifecycle/deactivate
        method: POST
      response:
        body: '{}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 116.117194ms
[...]
    - id: 67
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/groups/00g9i7brgboK6shA71d7/roles/IFIFAX2BIRGUSTQ/targets/catalog/apps/facebook
        method: PUT
      response:
        body: ""
        headers:
        status: 204 No Content
        code: 204
        duration: 133.479302ms
[...]
    - id: 69
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/groups/00g9i7brgboK6shA71d7/roles/IFIFAX2BIRGUSTQ/targets/catalog/apps?limit=200&status=ACTIVE
        method: GET
      response:
        body: '[{"name":"facebook","displayName":"Facebook","description":"Giving people the power to share and make the world more open and connected.","status":"ACTIVE","lastUpdated":"2021-03-18T17:37:56.000Z","category":"SOCIAL","verificationStatus":"OKTA_VERIFIED","website":"https://www.facebook.com/","signOnModes":["BROWSER_PLUGIN"],"_links":{"logo":[{"name":"medium","href":"https://op3static.oktacdn.com/fs/bcg/4/gfshpspesrHHFC4Ve1d6"}],"self":{"href":"https://oie-00.oktapreview.com/api/v1/catalog/apps/facebook"}}}]'
        headers:
            Content-Type:
                - application/json
            Link:
                - <https://oie-00.dne-okta.com/api/v1/groups/00g9i7brgboK6shA71d7/roles/IFIFAX2BIRGUSTQ/targets/catalog/apps?after=PGE8hbbLkUaRHGQuNNdn_-1vA1&limit=20>; rel="self"
        status: 200 OK
        code: 200
        duration: 66.130455ms
[...]
    - id: 94
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/apps/0oa9i724h1tGSVfxo1d7
        method: GET
      response:
        body: '{"id":"0oa9i724h1tGSVfxo1d7","name":"template_swa","label":"testAcc_2327057166","status":"ACTIVE","lastUpdated":"2023-08-15T23:44:10.000Z","created":"2023-08-15T23:44:10.000Z","accessibility":{"selfServi[...]
[...]
    - id: 102
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/apps/0oa9i724h1tGSVfxo1d7/lifecycle/deactivate
        method: POST
      response:
        body: '{}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 79.96745ms
[...]
    - id: 109
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/groups/00g9i7brgboK6shA71d7
        method: GET
      response:
        body: '{"errorCode":"E0000007","errorSummary":"Not found: Resource not found: 00g9i7brgboK6shA71d7 (UserGroup)","errorLink":"E0000007","errorId":"oaeboh9uC4rTtuuqnqbur5fjA","errorCauses":[]}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 66.536174ms
