---
version: 2
interactions:
    - id: 0
      request:
        host: oie-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/.well-known/okta-organization
        method: GET
      response:
        body: '{"id":"00osd501x0KyUtOul697","cell":"ok14","_links":{"organization":{"href":"https://oie-00.dne-okta.com"}},"pipeline":"idx","settings":{"analyticsCollectionEnabled":true,"bugReportingEnabled":true,"omEnabled":false,"pssoEnabled":false,"desktopMFAEnabled":false,"itpEnabled":true}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 663.156667ms
[...]
    - id: 2
      request:
        host: oie-00.dne-okta.com
        body: |
            {"label":"testAcc_511152788","description":"testing, testing","resources":["orn:okta:directory:00osd501x0KyUtOul697:groups","orn:okta:directory:00osd501x0KyUtOul697:users"]}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://oie-00.dne-okta.com/api/v1/iam/resource-sets
        method: POST
      response:
        body: '{"id":"iamtf8aemqZm7xt8b697","label":"testAcc_511152788","description":"testing, testing","created":"2025-07-21T01:53:19.000Z","lastUpdated":"2025-07-21T01:53:19.000Z","_links":{"bindings":{"href":"https://oie-00.dne-okta.com/api/v1/iam/resource-sets/iamtf8aemqZm7xt8b697/bindings"},"self":{"href":"https://oie-00.dne-okta.com/api/v1/iam/resource-sets/iamtf8aemqZm7xt8b697"},"resources":{"href":"https://oie-00.dne-okta.com/api/v1/iam/resource-sets/iamtf8aemqZm7xt8b697/resources"}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
            Link:
                - <https://oie-00.dne-okta.com/api/v1/iam/resource-sets/iamtf8aemqZm7xt8b697>; rel="self"
        status: 200 OK
        code: 200
        duration: 694.114292ms
    - id: 3
      request:
        host: oie-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/iam/resource-sets/iamtf8aemqZm7xt8b697
        method: GET
      response:
        body: '{"id":"iamtf8aemqZm7xt8b697","label":"testAcc_511152788","description":"testing, testing","created":"2025-07-21T01:53:19.000Z","lastUpdated":"2025-07-21T01:53:19.000Z","_links":{"bindings":{"href":"https://oie-00.dne-okta.com/api/v1/iam/resource-sets/iamtf8aemqZm7xt8b697/bindings"},"self":{"href":"https://oie-00.dne-okta.com/api/v1/iam/resource-sets/iamtf8aemqZm7xt8b697"},"resources":{"href":"https://oie-00.dne-okta.com/api/v1/iam/resource-sets/iamtf8aemqZm7xt8b697/resources"}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
            Link:
                - <https://oie-00.dne-okta.com/api/v1/iam/resource-sets/iamtf8aemqZm7xt8b697>; rel="self"
        status: 200 OK
        code: 200
        duration: 644.686625ms
    - id: 4
      request:
        host: oie-00.dne-okta.com
        form:
            limit:
                - "200"
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/iam/resource-sets/iamtf8aemqZm7xt8b697/resources?limit=200
        method: GET
      response:
        body: '{"resources":[{"id":"iretf8aemrnZv89l0697","orn":"orn:okta:directory:00osd501x0KyUtOul697:users","created":"2025-07-21T01:53:19.000Z","lastUpdated":"2025-07-21T01:53:19.000Z","_links":{"self":{"href":"https://oie-00.dne-okta.com/api/v1/users"},"resource":{"href":"https://oie-00.dne-okta.com/api/v1/iam/resource-sets/iamtf8aemqZm7xt8b697/resources/iretf8aemrnZv89l0697"},"users":{"href":"https://oie-00.dne-okta.com/api/v1/users"}}},{"id":"iretf8aemsDS0dZdT697","orn":"orn:okta:directory:00osd501x0KyUtOul697:groups","created":"2025-07-21T01:53:19.000Z","lastUpdated":"2025-07-21T01:53:19.000Z","_links":{"groups":{"href":"https://oie-00.dne-okta.com/api/v1/groups"},"self":{"href":"https://oie-00.dne-okta.com/api/v1/groups"},"resource":{"href":"https://oie-00.dne-okta.com/api/v1/iam/resource-sets/iamtf8aemqZm7xt8b697/resources/iretf8aemsDS0dZdT697"}}}],"_links":{"resource-set":{"href":"https://oie-00.dne-okta.com/api/v1/iam/resource-sets/iamtf8aemqZm7xt8b697"},"self":{"href":"https://oie-00.dne-okta.com/api/v1/iam/resource-sets/iamtf8aemqZm7xt8b697/resources"}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
            Link:
                - <https://oie-00.dne-okta.com/api/v1/iam/resource-sets/iamtf8aemqZm7xt8b697/resources>; rel="self"
        status: 200 OK
        code: 200
        duration: 677.768458ms
[...]
