---
version: 2
interactions:
    - id: 0
      request:
        host: classic-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/roles/SUPER_ADMIN/subscriptions/APP_IMPORT
        method: GET
      response:
        body: '{"notificationType":"APP_IMPORT","channels":["email"],"status":"unsubscribed","_links":{"subscribe":{"href":"https://classic-00.oktapreview.com/api/v1/roles/SUPER_ADMIN/subscriptions/APP_IMPORT/subscribe","hints":{"allow":["POST"]}},"self":{"href":"https://classic-00.oktapreview.com/api/v1/roles/SUPER_ADMIN/subscriptions/APP_IMPORT"}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 154.495373ms
[...]
