---
version: 2
interactions:
    - id: 0
      request:
        host: classic-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/.well-known/okta-organization
        method: GET
      response:
        body: '{"id":"00onkw1sbuAh3Q06I1d7","cell":"op3","_links":{"organization":{"href":"https://classic-00.dne-okta.com"}},"pipeline":"idx","settings":{"analyticsCollectionEnabled":false,"bugReportingEnabled":true,"omEnabled":false,"pssoEnabled":true,"desktopMFAEnabled":true,"itpEnabled":true}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.1313235s
    - id: 1
      request:
        host: classic-00.dne-okta.com
        body: |
            {"description":"The app signon policy used by our test app","name":"testAcc_Test_App_3966779685","priority":1,"type":"ACCESS_POLICY"}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://classic-00.dne-okta.com/api/v1/policies
        method: POST
      response:
        body: '{"id":"rstyu4d4k0SrrWMPD1d7","status":"ACTIVE","name":"testAcc_Test_App_3966779685","description":"The app signon policy used by our test app","priority":1,"system":false,"conditions":null,"created":"2026-05-17T04:33:05.000Z","lastUpdated":"2026-05-17T04:33:05.000Z","_links":{"mappings":{"href":"https://classic-00.dne-okta.com/api/v1/policies/rstyu4d4k0SrrWMPD1d7/mappings","hints":{"allow":["GET","POST"]}},"self":{"href":"https://classic-00.dne-okta.com/api/v1/policies/rstyu4d4k0SrrWMPD1d7","hints":{"allow":["GET","PUT","DELETE"]}},"rules":{"href":"https://classic-00.dne-okta.com/api/v1/policies/rstyu4d4k0SrrWMPD1d7/rules","hints":{"allow":["GET","POST"]}},"deactivate":{"href":"https://classic-00.dne-okta.com/api/v1/policies/rstyu4d4k0SrrWMPD1d7/lifecycle/deactivate","hints":{"allow":["POST"]}}},"type":"ACCESS_POLICY"}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.245910708s
    - id: 2
      request:
        host: classic-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/policies/rstyu4d4k0SrrWMPD1d7/rules
        method: GET
      response:
        body: '[{"id":"rulyu4d4k16lh69r51d7","status":"ACTIVE","name":"Catch-all Rule","priority":99,"created":"2026-05-17T04:33:05.000Z","lastUpdated":"2026-05-17T04:33:05.000Z","system":true,"conditions":null,"actions":{"appSignOn":{"access":"ALLOW","verificationMethod":{"factorMode":"2FA","type":"ASSURANCE","reauthenticateIn":"PT12H","constraints":[{"possession":{"required":true,"deviceBound":"REQUIRED"}}]},"keepMeSignedIn":{"postAuth":"NOT_ALLOWED"}}},"_links":{"self":{"href":"https://classic-00.dne-okta.com/api/v1/policies/rstyu4d4k0SrrWMPD1d7/rules/rulyu4d4k16lh69r51d7","hints":{"allow":["GET","PUT"]}}},"type":"ACCESS_POLICY"}]'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.09808425s
    - id: 3
      request:
        host: classic-00.dne-okta.com
        body: |
            {"actions":{"appSignOn":{"access":"ALLOW","verificationMethod":{"constraints":[{"knowledge":{"reauthenticateIn":"PT0S","types":["password"],"required":true},"possession":{"excludedAuthenticationMethods":[{"key":"okta_email","method":"email"},{"key":"phone_number","method":"sms"},{"key":"phone_number","method":"voice"}],"required":false,"userPresence":"REQUIRED","userVerification":"OPTIONAL"}}],"factorMode":"2FA","reauthenticateIn":"PT0S","type":"ASSURANCE"}}},"conditions":{"network":{"connection":"ANYWHERE"},"platform":{"include":[{"os":{"expression":"","type":"OTHER"},"type":"DESKTOP"}]}},"name":"test1","priority":0,"type":"ACCESS_POLICY"}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://classic-00.dne-okta.com/api/v1/policies/rstyu4d4k0SrrWMPD1d7/rules
        method: POST
      response:
        body: '{"id":"rulyu4fb2xOvfVETK1d7","status":"ACTIVE","name":"test1","priority":0,"created":"2026-05-17T04:33:07.000Z","lastUpdated":"2026-05-17T04:33:07.000Z","system":false,"conditions":{"people":{"users":{"exclude":[]}},"network":{"connection":"ANYWHERE"},"platform":{"include":[{"type":"DESKTOP","os":{"type":"OTHER","expression":""}}],"exclude":[]},"userType":{"include":[],"exclude":[]}},"actions":{"appSignOn":{"access":"ALLOW","verificationMethod":{"factorMode":"2FA","type":"ASSURANCE","reauthenticateIn":"PT0S","constraints":[{"knowledge":{"required":true,"types":["password"],"reauthenticateIn":"PT0S"},"possession":{"required":false,"excludedAuthenticationMethods":[{"key":"okta_email","method":"email"},{"key":"phone_number","method":"sms"},{"key":"phone_number","method":"voice"}],"userPresence":"REQUIRED","userVerification":"OPTIONAL"}}]},"keepMeSignedIn":{"postAuth":"NOT_ALLOWED"}}},"_links":{"self":{"href":"https://classic-00.dne-okta.com/api/v1/policies/rstyu4d4k0SrrWMPD1d7/rules/rulyu4fb2xOvfVETK1d7","hints":{"allow":["GET","PUT","DELETE"]}},"deactivate":{"href":"https://classic-00.dne-okta.com/api/v1/policies/rstyu4d4k0SrrWMPD1d7/rules/rulyu4fb2xOvfVETK1d7/lifecycle/deactivate","hints":{"allow":["POST"]}}},"type":"ACCESS_POLICY"}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.267852834s
    - id: 4
      request:
        host: classic-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/policies/rstyu4d4k0SrrWMPD1d7/rules/rulyu4fb2xOvfVETK1d7
        method: GET
      response:
        body: '{"id":"rulyu4fb2xOvfVETK1d7","status":"ACTIVE","name":"test1","priority":0,"created":"2026-05-17T04:33:07.000Z","lastUpdated":"2026-05-17T04:33:07.000Z","system":false,"conditions":{"people":{"users"[...]
    - id: 5
      request:
        host: classic-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/policies/rstyu4d4k0SrrWMPD1d7
        method: GET
      response:
        body: '{"id":"rstyu4d4k0SrrWMPD1d7","status":"ACTIVE","name":"testAcc_Test_App_3966779685","description":"The app signon policy used by our test app","priority":1,"system":false,"conditions":null,"created":"2026-05-17T04:33:05.000Z","lastUpdated":"2026-05-17T04:33:05.000Z","_links":{"mappings":{"href":"https://classic-00.dne-okta.com/api/v1/policies/rstyu4d4k0SrrWMPD1d7/mappings","hints":{"allow":["GET","POST"]}},"self":{"href":"https://classic-00.dne-okta.com/api/v1/policies/rstyu4d4k0SrrWMPD1d7","hints":{"allow":["GET","PUT","DELETE"]}},"rules":{"href":"https://classic-00.dne-okta.com/api/v1/policies/rstyu4d4k0SrrWMPD1d7/rules","hints":{"allow":["GET","POST"]}},"deactivate":{"href":"https://classic-00.dne-okta.com/api/v1/policies/rstyu4d4k0SrrWMPD1d7/lifecycle/deactivate","hints":{"allow":["POST"]}}},"type":"ACCESS_POLICY"}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.11373625s
[...]
    - id: 17
      request:
        host: classic-00.dne-okta.com
        form:
            type:
                - ACCESS_POLICY
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/policies?type=ACCESS_POLICY
        method: GET
      response:
        body: '[{"id":"rstnkw1sg2fWHAvjK1d7","status":"ACTIVE","name":"Okta Admin Console","priority":1,"system":false,"conditions":null,"created":"2025-06-26T15:51:39.000Z","lastUpdated":"2025-06-26T15:51:39.000Z","_links":{"mappings":{"href":"https://classic-00.dne-okta.com/api/v1/policies/rstnkw1sg2fWHAvjK1d7/mappings","hints":{"allow":["GET","POST"]}},"self":{"href":"https://classic-00.dne-okta.com/api/v1/policies/rstnkw1sg2fWHAvjK1d7","hints":{"allow":["GET","PUT","DELETE"]}},"rules":{"href":"https://classic-00.dne-okta.com/api/v1/policies/rstnkw1sg2fWHAvjK1d7/rules","hints":{"allow":["GET","POST"]}},"deactivate":{"href":"https://classic-00.dne-okta.com/api/v1/policies/rstnkw1sg2fWHAvjK1d7/lifecycle/deactivate","hints":{"allow":["POST"]}}},"_embedded":{"resourceType":"APP"},"type":"ACCESS_POLICY"},{"id":"rstnkw1sg9IQmPCLu1d7","status":"ACTIVE","name":"Okta Dashboard","priority":1,"system":false,"conditions":null,"created":"2025-06-26T15:51:39.000Z","lastUpdated":"2025-06-26T15:51:39.000Z","_links":{"mappings":{"href":"https://classic-00.dne-okta.com/api/v1/policies/rstnkw1sg9IQmPCLu1d7/mappings","hints":{"allow":["GET","POST"]}},"self":{"href":"https://classic-00.dne-okta.com/api/v1/policies/rstnkw1sg9IQmPCLu1d7","hints":{"allow":["GET","PUT","DELETE"]}},"ru[...]
    - id: 18
      request:
        host: classic-00.dne-okta.com
        form:
            limit:
                - "200"
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/apps?limit=200
        method: GET
      response:
        body: '[{"id":"0oankw1sc6z965dIC1d7","orn":"orn:oktapreview:idp:00onkw1sbuAh3Q06I1d7:apps:saasure:0oankw1sc6z965dIC1d7","name":"saasure","label":"Okta Admin Console","status":"ACTIVE","lastUpdated":"2025-06-27T12:18:02.000Z","created":"2025-06-26T15:51:34.000Z","accessibility":{"selfService":false,"errorRedirectUrl":null,"loginRedirectUrl":null},"visibility":{"autoSubmitToolbar":false,"hide":{"iOS":false,"web":false},"appLinks":{"admin":true}},"features":[],"signOnMode":"OPENID_CONNECT","credentials":{"userNameTemplate":{"template":"${source.login}","type":"BUILT_IN"},"signing":{"kid":"sALQDM5PBTRR6dsVDGloCQexOBDrJNwQmFiZuWur7eo"}},"universalLogout":{"status":"UNSUPPORTED"},"settings":{"app":{},"notifications":{"vpn":{"network":{"connection":"DISABLED"},"message":null,"helpUrl":null}},"manualProvisioning":false,"implicitAssignment":false,"emOptInStatus":"ENABLED"},"_links":{"uploadLogo":{"href":"https://classic-00.dne-okta.com/api/v1/apps/0oankw1sc6z965dIC1d7/logo","hints":{"allow":["POST"]}},"appLinks":[{"name":"admin","href":"https://classic-00.dne-okta.com/home/saasure/0oankw1sc6z965dIC1d7/2","type":"text/html"}],"profileEnrollment":{"href":"https://classic-00.dne-okta.com/api/v1/policies/rstnkw1sgzCwhJaUs1d7"},"policies":{"href":"https://classic-00.dne-okta.com/api/v1/apps/0oankw1sc6z965dIC1d7/policies","hints":{"allow":["PUT"]}},"groups":{"href":"https://classic-00.dne-okta.com/api/v1/apps/0oankw1sc6z965dIC1d7/groups"},"logo":[{"name":"medium","href":"https://op3static2.oktacdn.com/assets/img/logos/okta_admin_app.da3325676d57eaf566cb786dd0c7a819.png","type":"image/png"}],"accessPolicy":{"href":"https://classic-00.dne-okta.com/api/v1/policies/rstnkw1sg2fWHAvjK1d7"},"users":{"href":"https://classic-00.dne-okta.com/api/v1/apps/0oankw1sc6z965dIC1d7/users"},"deactivate":{"href":"https://classic-00.dne-okta.com/api/v1/apps/0oankw1sc6z965dIC1d7/lifecycle/deactivate"}}},{"id":"0oankw1scyACfvA151d7","orn":"orn:oktapreview:idp:00onkw1sbuAh3Q06I1d7:apps:okta_enduser:0oankw1scyACfvA151d7","name":"okta_enduser","label":"Okta Dashboard","status":"ACTIVE","lastUpdated":"2025-06-26T15:51:35.0[...]
[...]
