---
version: 2
interactions:
    - id: 0
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/policies?type=IDP_DISCOVERY
        method: GET
      response:
        body: '[{"id":"00p5qwjvjjpuZBaOR1d7","status":"ACTIVE","name":"Idp Discovery Policy","description":"The default IdP Discovery Policy","priority":1,"system":true,"conditions":null,"created":"2022-10-07T23:16:59.000Z","lastUpdated":"2022-10-07T23:16:59.000Z","_links":{"self":{"href":"https://oie-00.oktapreview.com/api/v1/policies/00p5qwjvjjpuZBaOR1d7","hints":{"allow":["GET","PUT"]}},"rules":{"href":"https://oie-00.oktapreview.com/api/v1/policies/00p5qwjvjjpuZBaOR1d7/rules","hints":{"allow":["GET","POST"]}}},"type":"IDP_DISCOVERY"}]'
        headers:
            Content-Type:
                - application/json
            Link:
                - <https://oie-00.dne-okta.com/api/v1/policies?type=IDP_DISCOVERY>; rel="self"
        status: 200 OK
        code: 200
        duration: 147.092105ms
[...]
    - id: 2
      request:
        host: oie-00.dne-okta.com
        body: |
            {"accessibility":{"selfService":false},"credentials":{"userNameTemplate":{"template":"${source.login}","type":"BUILT_IN"}},"label":"testAcc_3065512389","settings":{"app":{},"implicitAssignment":false,"notes":{"admin":null,"enduser":null},"signOn":{"allowMultipleAcsEndpoints":false,"assertionSigned":false,"attributeStatements":[{"name":"firstName","namespace":"urn:oasis:names:tc:SAML:2.0:attrname-format:unspecified","type":"EXPRESSION","values":["user.firstName"]},{"name":"lastName","namespace":"urn:oasis:names:tc:SAML:2.0:attrname-format:unspecified","type":"EXPRESSION","values":["user.lastName"]},{"name":"email","namespace":"urn:oasis:names:tc:SAML:2.0:attrname-format:unspecified","type":"EXPRESSION","values":["user.email"]},{"name":"company","namespace":"urn:oasis:names:tc:SAML:2.0:attrname-format:unspecified","type":"EXPRESSION","values":["Articulate"]}],"audience":"http://audience.com","audienceOverride":"","authnContextClassRef":"urn:oasis:names:tc:SAML:2.0:ac:classes:PasswordProtectedTransport","defaultRelayState":"","destination":"http://its-about-the-journey.com","destinationOverride":"","digestAlgorithm":"SHA256","honorForceAuthn":false,"recipient":"http://here.com","recipientOverride":"","responseSigned":true,"samlSignedRequestEnabled":false,"signatureAlgorithm":"RSA_SHA256","slo":{"enabled":false},"ssoAcsUrl":"http://google.com","ssoAcsUrlOverride":"","subjectNameIdFormat":"urn:oasis:names:tc:SAML:1.1:nameid-format:emailAddress","subjectNameIdTemplate":"${user.userName}"}},"signOnMode":"SAML_2_0","visibility":{"autoSubmitToolbar":false,"hide":{"iOS":false,"web":false}}}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://oie-00.dne-okta.com/api/v1/apps?activate=true
        method: POST
      response:
        body: '{"id":"0oa9i72humO1uui7o1d7","name":"oie-00_testacc3065512389_2","label":"testAcc_3065512389","status":"ACTIVE","lastUpdated":"2023-08-15T23:46:16.000Z","created":"2023-08-15T23:46:16.000Z","accessibility":{"selfService":false,"errorRedirectUrl":null,"loginRedirectUrl":null},"visibility":{"autoLaunch":false,"autoSubmitToolbar":false,"hide":{"iOS":false,"web":false},"appLinks":{"oie-00_testacc3065512389_2_link":true}},"features":[],"signOnMode":"SAML_2_0","credentials":{"userNameTemplate":{"template":"${source.login}","type":"BUILT_IN"},"signing":{"kid":"ErXhEs7k80JK2RW1uSY9JImXhbN-G3EexbM2w6YTiBY"}},"settings":{"app":{},"notifications":{"vpn":{"network":{"connection":"DISABLED"},"message":null,"helpUrl":null}},"manualProvisioning":false,"implicitAssignment":false,"notes":{"admin":null,"enduser":null},"signOn":{"defaultRelayState":"","ssoAcsUrl":"http://google.com","idpIssuer":"http://www.okta.com/${org.externalKey}","audience":"http://audience.com","recipient":"http://here.com","destination":"http://its-about-the-journey.com","subjectNameIdTemplate":"${user.userName}","subjectNameIdFormat":"urn:oasis:names:tc:SAML:1.1:nameid-format:emailAddress","responseSigned":true,"assertionSigned":false,"signatureAlgorithm":"RSA_SHA256","digestAlgorithm":"SHA256","honorForceAuthn":false,"authnContextClassRef":"urn:oasis:names:tc:SAML:2.0:ac:classes:PasswordProtectedTransport","spIssuer":null,"requestCompressed":false,"attributeStatements":[{"type":"EXPRESSION","name":"firstName","namespace":"urn:oasis:names:tc:SAML:2.0:attrname-format:unspecified","values":["user.firstName"]},{"type":"EXPRESSION","name":"lastName","namespace":"urn:oasis:names:tc:SAML:2.0:attrname-format:unspecified","values":["user.lastName"]},{"type":"EXPRESSION","name":"email","namespace":"urn:oasis:names:tc:SAML:2.0:attrname-format:unspecified","values":["user.email"]},{"type":"EXPRESSION","name":"company","namespace":"urn:oasis:names:tc:SAML:2.0:attrname-format:unspecified","values":["Articulate"]}],"inlineHooks":[],"allowMultipleAcsEndpoints":false,"acsEndpoints":[],"samlSignedRequestEnabled":false,"slo":{"enabled":false}}},"_links":{"help":{"href":"https://oie-00-admin.oktapreview.com/app/oie-00_testacc3065512389_2/0oa9i72humO1uui7o1d7/setup/help/SAML_2_0/instructions","type":"text/html"},"metadata":{"href":"https://oie-00.oktapreview.com/api/v1/apps/0oa9i72humO1uui7o1d7/sso/saml/metadata","type":"application/xml"},"uploadLogo":{"href":"https://oie-00.oktapreview.com/api/v1/apps/0oa9i72humO1uui7o1d7/logo","hints":{"allow":["POST"]}},"appLinks":[{"name":"oie-00_testacc3065512389_2_link","href":"https://oie-00.oktapreview.com/home/oie-00_testacc3065512389_2/0oa9i72humO1uui7o1d7/aln9i7iczp652aqPq1d7","type":"text/html"}],"profileEnrollment":{"href":"https://oie-00.oktapreview.com/api/v1/policies/rst5qwjvlxUHivL8a1d7"},"policies":{"href":"https://oie-00.oktapreview.com/api/v1/apps/0oa9i72humO1uui7o1d7/policies","hints":{"allow":["PUT"]}},"groups":{"href":"https://oie-00.oktapreview.com/api/v1/apps/0oa9i72humO1uui7o1d7/groups"},"logo":[{"name":"medium","href":"https://op3static.oktacdn.com/assets/img/logos/default.6770228fb0dab49a1695ef440a5279bb.png","type":"image/png"}],"accessPolicy":{"href":"https://oie-00.oktapreview.com/api/v1/policies/rst5qwjvlvS3G1WOU1d7"},"users":{"href":"https://oie-00.oktapreview.com/api/v1/apps/0oa9i72humO1uui7o1d7/users"},"deactivate":{"href":"https://oie-00.oktapreview.com/api/v1/apps/0oa9i72humO1uui7o1d7/lifecycle/deactivate"}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 821.424543ms
    - id: 3
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/.well-known/okta-organization
        method: GET
      response:
        body: '{"id":"00o5qwjvg8hg7YpT81d7","cell":"op3","_links":{"organization":{"href":"https://oie-00.oktapreview.com"}},"pipeline":"idx","settings":{"analyticsCollectionEnabled":false,"bugReportingEnabled":true,"omEnabled":false,"pssoEnabled":false}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 71.103265ms
    - id: 4
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/policies?type=ACCESS_POLICY
        method: GET
      response:
        body: '[{"id":"rst5qwjvkl70Eb6xw1d7","status":"ACTIVE","name":"Okta Admin Console","priority":1,"system":false,"conditions":null,"created":"2022-10-07T23:17:01.000Z","lastUpdated":"2022-10-07T23:17:01.000Z","_[...]
    - id: 5
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/apps/0oa9i72humO1uui7o1d7/policies/rst5qwjvlvS3G1WOU1d7
        method: PUT
      response:
        body: ""
        headers:
        status: 204 No Content
        code: 204
        duration: 120.749449ms
    - id: 6
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/apps/0oa9i72humO1uui7o1d7
        method: GET
      response:
        body: '{"id":"0oa9i72humO1uui7o1d7","name":"oie-00_testacc3065512389_2","label":"testAcc_3065512389","status":"ACTIVE","lastUpdated":"2023-08-15T23:46:16.000Z","created":"2023-08-15T23:46:16.000Z","accessibility[...]
    - id: 7
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/apps/0oa9i72humO1uui7o1d7/sso/saml/metadata?kid=ErXhEs7k80JK2RW1uSY9JImXhbN-G3EexbM2w6YTiBY
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?><md:EntityDescriptor entityID="http://www.okta.com/exk9i72huldZB3Xwf1d7" xmlns:md="urn:oasis:names:tc:SAML:2.0:metadata"><md:IDPSSODescriptor WantAuthnRequestsSigned="false" protocolSupportEnumeration="urn:oasis:names:tc:SAML:2.0:protocol"><md:KeyDescriptor use="signing"><ds:KeyInfo xmlns:ds="http://www.w3.org/2000/09/xmldsig#"><ds:X509Data><ds:X509Certificate>MIIDujCCAqKgAwIBAgIGAYn7l8vEMA0GCSqGSIb3DQEBCwUAMIGdMQswCQYDVQQGEwJVUzETMBEG
            A1UECAwKQ2FsaWZvcm5pYTEWMBQGA1UEBwwNU2FuIEZyYW5jaXNjbzENMAsGA1UECgwET2t0YTEU
            MBIGA1UECwwLU1NPUHJvdmlkZXIxHjAcBgNVBAMMFW1tLW9pZS0yMDIyLTEwLTA3LW1heDEcMBoG
            CSqGSIb3DQEJARYNaW5mb0Bva3RhLmNvbTAeFw0yMzA4MTUyMzQ1MTZaFw0zMzA4MTUyMzQ2MTZa
            MIGdMQswCQYDVQQGEwJVUzETMBEGA1UECAwKQ2FsaWZvcm5pYTEWMBQGA1UEBwwNU2FuIEZyYW5j
            aXNjbzENMAsGA1UECgwET2t0YTEUMBIGA1UECwwLU1NPUHJvdmlkZXI[...]
    - id: 8
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/apps/0oa9i72humO1uui7o1d7/credentials/keys
        method: GET
      response:
        body: '[{"kty":"RSA","created":"2023-08-15T23:46:16.000Z","lastUpdated":"2023-08-15T23:46:16.000Z","expiresAt":"2033-08-15T23:46:16.000Z","kid":"ErXhEs7k80JK2RW1uSY9JImXhbN-G3EexbM2w6YTiBY","use":"sig","x5c":["MIIDujCCAqKgAwIBAgIGAYn7l8vEMA0GCSqGSIb3DQEBCwUAMIGdMQswCQYDVQQGEwJVUzETMBEGA1UECAwKQ2FsaWZvcm5pYTEWMBQGA1UEBwwNU2FuIEZyYW5jaXNjbzENMAsGA1UECgwET2t0YTEUMBIGA1UECwwLU1NPUHJvdmlkZXIxHjAcBgNVBAMMFW1tLW9pZS0yMDIyLTEwLTA3LW1heDEcMBoGCSqGSIb3DQEJARYNaW5mb0Bva3RhLmNvbTAeFw0yMzA4MTUyMzQ1MTZaFw0zMzA4MTUyMzQ2MTZaMIGdMQswCQYDVQQGEwJVUzETMBEGA1UECAwKQ2FsaWZvcm5pYTEWMBQGA1UEBwwNU2FuIEZyYW5jaXNjbzENMAsGA1UECgwET2t0YTEUMBIGA1UECwwLU1NPUHJvdmlkZXIxHjAcBgNVBAMMFW1tLW9pZS0yMDIyLTEwLTA3LW1heDEcMBoGCSqGSIb3DQEJAR[...]
    - id: 9
      request:
        host: oie-00.dne-okta.com
        body: |
            {"x5c":["MIIDujCCAqKgAwIBAgIGAYn7l8vEMA0GCSqGSIb3DQEBCwUAMIGdMQswCQYDVQQGEwJVUzETMBEG\nA1UECAwKQ2FsaWZvcm5pYTEWMBQGA1UEBwwNU2FuIEZyYW5jaXNjbzENMAsGA1UECgwET2t0YTEU\nMBIGA1UECwwLU1NPUHJvdmlkZXIxHjAcBgNVBAMMFW1tLW9pZS0yMDIyLTEwLTA3LW1heDEcMBoG\nCSqGSIb3DQEJARYNaW5mb0Bva3RhLmNvbTAeFw0yMzA4MTUyMzQ1MTZaFw0zMzA4MTUyMzQ2MTZa\nMIGdMQswCQYDVQQGEwJVUzETMBEGA1UECAwKQ2FsaWZvcm5pYTEWMBQGA1UEBwwNU2FuIEZyYW5j\naXNjbzENMAsG[...]
    - id: 10
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/idps/credentials/keys/4d6a5a0d-394e-47d9-b663-b8e6405b38c7
        method: GET
      response:
        body: '{"kty":"RSA","created":"2023-08-15T23:46:18.000Z","lastUpdated":"2023-08-15T23:46:18.000Z","expiresAt":"2033-08-15T23:46:16.000Z","alg":"RSA","kid":"4d6a5a0d-394e-47d9-b663-b8e6405b38c7","use":"sig","x5c":["MIIDujCCAqKgAwIBAgIGAYn7l8vEMA0GCSqGSIb3DQEBCwUAMIGdMQswCQYDVQQGEwJVUzETMBEG\nA1UECAwKQ2FsaWZvcm5pYTEWMBQGA1UEBwwNU2FuIEZyYW5jaXNjbzENMAsGA1UECgwET2t0YTEU\nMBIGA1UECwwLU1NPUHJvdmlkZXIxHjAcBgNVBAMMFW1tLW9pZS0yMDIyLTEwLTA3LW1heDEcMBoG\nCSqGSIb3DQEJARYNaW5mb0Bva3RhLmNvbTAeFw0yMzA4MTUyMzQ1MTZaFw0zMzA4MTUyMzQ2MTZa\nMIGdMQswCQYDVQQGEwJVUzETMBEGA1UECAwKQ2FsaWZvcm5pYTEWMBQGA1UEBwwNU2FuIEZyYW5j\naXNjbzENMAsGA1UECgwET2t0YTEUMBIGA1UECww[...]
    - id: 11
      request:
        host: oie-00.dne-okta.com
        body: |
            {"issuerMode":"ORG_URL","name":"testAcc_3065512389","policy":{"accountLink":{"action":"AUTO"},"maxClockSkew":0,"provisioning":{"action":"AUTO","conditions":{"deprovisioned":{"action":"NONE"},"suspended":{"action":"NONE"}},"groups":{"action":"NONE"},"profileMaster":false},"subject":{"matchType":"USERNAME","userNameTemplate":{"template":"idpuser.email"}}},"protocol":{"algorithms":{"request":{"signature":{"algorithm":"SHA-256","scope":"REQUEST"}},"response":{"signature":{"algorithm":"SHA-256","scope":"ANY"}}},"credentials":{"trust":{"issuer":"https://idp.example.com","kid":"4d6a5a0d-394e-47d9-b663-b8e6405b38c7"}},"endpoints":{"acs":{"binding":"HTTP-POST","type":"INSTANCE"},"sso":{"binding":"HTTP-POST","destination":"https://idp.example.com","url":"https://idp.example.com"}},"type":"SAML2"},"status":"ACTIVE","type":"SAML2"}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://oie-00.dne-okta.com/api/v1/idps
        method: POST
      response:
        body: '{"id":"0oa9i78m0picXsSBr1d7","name":"testAcc_3065512389","status":"ACTIVE","created":"2023-08-15T23:46:18.000Z","lastUpdated":"2023-08-15T23:46:18.000Z","protocol":{"type":"SAML2","endpoints":{"sso":{"url":"https://idp.example.com","binding":"HTTP-POST","destination":"https://idp.example.com"},"acs":{"binding":"HTTP-POST","type":"INSTANCE"}},"algorithms":{"request":{"signature":{"algorithm":"SHA-256","scope":"REQUEST"}},"response":{"signature":{"algorithm":"SHA-256","scope":"ANY"}}},"settings":{"nameFormat":"urn:oasis:names:tc:SAML:1.1:nameid-format:unspecified","honorPersistentNameId":false},"credentials":{"trust":{"issuer":"https://idp.example.com","audience":"https://www.okta.com/saml2/service-provider/sppcwjklgrujuawfnnkb","kid":"4d6a5a0d-394e-47d9-b663-b8e6405b38c7","revocation":null,"revocationCacheLifetime":0},"signing":{"kid":"5pDX4d-UxdUyyBmYG5H04CTFky-eWrUWNP2DkZHsK6o"}}},"policy":{"provisioning":{"action":"AUTO","profileMaster":false,"groups":{"action":"NONE"},"conditions":{"deprovisioned":{"action":"NONE"},"suspended":{"action":"NONE"}}},"accountLink":{"filter":null,"action":"AUTO"},"subject":{"userNameTemplate":{"template":"idpuser.email"},"filter":null,"matchType":"USERNAME","matchAttribute":null},"maxClockSkew":0,"mapAMRClaims":false},"type":"SAML2","_links":{"metadata":{"href":"https://oie-00.oktapreview.com/api/v1/idps/0oa9i78m0picXsSBr1d7/metadata.xml","type":"application/xml","hints":{"allow":["GET"]}},"acs":{"href":"https://oie-00.oktapreview.com/sso/saml2/0oa9i78m0picXsSBr1d7","type":"application/xml","hints":{"allow":["POST"]}},"users":{"href":"https://oie-00.oktapreview.com/api/v1/idps/0oa9i78m0picXsSBr1d7/users","hints":{"allow":["GET"]}},"deactivate":{"href":"https://oie-00.oktapreview.com/api/v1/idps/0oa9i78m0picXsSBr1d7/lifecycle/deactivate","hints":{"allow":["POST"]}}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 484.332555ms
    - id: 12
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/idps/0oa9i78m0picXsSBr1d7
        method: GET
      response:
        body: '{"id":"0oa9i78m0picXsSBr1d7","name":"testAcc_3065512389","status":"ACTIVE","created":"2023-08-15T23:46:18.000Z","lastUpdated":"2023-08-15T23:46:18.000Z","protocol":{"type":"SAML2","endpoints":{"sso":{"url":"https://idp.example.com","binding":"HTTP-POST","destination":"https://idp.example.com"},"acs":{"binding":"HTTP-POST","type":"INSTANCE"}},"algorithms":[...]
    - id: 13
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/mappings?limit=200&sourceId=0oa9i78m0picXsSBr1d7
        method: GET
      response:
        body: '[{"id":"prm9i78m0wiCy9WWp1d7","source":{"id":"0oa9i78m0picXsSBr1d7","name":"saml_idp","type":"appuser","_links":{"self":{"href":"https://oie-00.oktapreview.com/api/v1/apps/0oa9i78m0picXsSBr1d7"},"schema":{"href":"https://oie-00.oktapreview.com/api/v1/meta/schemas/apps/0oa9i78m0picXsSBr1d7/default"}}},"target":{"id":"oty5qwjvh0Vy1j8Kd1d7","name":"user","type":"user","_links":{"self":{"href":"https://oie-00.oktapreview.com/api/v1/meta/types/user/oty5qwjvh0Vy1j8Kd1d7"},"schema":{"href":"https://oie-00.oktapreview.com/api/v1/meta/schemas/user/osc5qwjvh0Vy1j8Kd1d7"}}},"_links":{"self":{"href":"https://oie-00.oktapreview.com/api/v1/mappings/prm9i78m0wiCy9WWp1d7"}}}]'
        headers:
            Content-Type:
                - application/json
            Link:
                - <https://oie-00.dne-okta.com/api/v1/mappings?limit=200>; rel="self"
        status: 200 OK
        code: 200
        duration: 71.056367ms
    - id: 14
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/mappings/prm9i78m0wiCy9WWp1d7
        method: GET
      response:
        body: '{"id":"prm9i78m0wiCy9WWp1d7","source":{"id":"0oa9i78m0picXsSBr1d7","name":"saml_idp","type":"appuser","_links":{"self":{"href":"https://oie-00.oktapreview.com/api/v1/apps/0oa9i78m0picXsSBr1d7"},"schema":{"href":"https://oie-00.oktapreview.com/api/v1/meta/schemas/apps/0oa9i78m0picXsSBr1d7/default"}}},"target":{"id":"oty5qwjvh0Vy1j8Kd1d7","name":"user","type":"user","_links":{"self":{"href":"https://oie-00.oktapreview.com/api/v1/meta/types/user/oty5qwjvh0Vy1j8Kd1d7"},"schema":{"href":"https://oie-00.oktapreview.com/api/v1/meta/schemas/user/osc5qwjvh0Vy1j8Kd1d7"}}},"properties":{"firstName":{"expression":"source.firstName","pushStatus":"DONT_PUSH"},"lastName":{"expression":"source.lastName","pushStatus":"DONT_PUSH"},"email":{"expression":"source.email","pushStatus":"DONT_PUSH"},"mobilePhone":{"expression":"source.mobilePhone","pushStatus":"DONT_PUSH"},"login":{"expression":"source.userName","pushStatus":"DONT_PUSH"}},"_links":{"self":{"href":"https://oie-00.oktapreview.com/api/v1/mappings/prm9i78m0wiCy9WWp1d7"}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 93.022366ms
    - id: 15
      request:
        host: oie-00.dne-okta.com
        body: |
            {"actions":{"idp":{"providers":[{"type":"SAML2","id":"0oa9i78m0picXsSBr1d7"}]}},"conditions":{"app":{"exclude":null,"include":null},"network":{"connection":"ANYWHERE"},"userIdentifier":{"attribute":"firstName","patterns":[{"matchType":"EQUALS","value":"Articulate"}],"type":"ATTRIBUTE"}},"created":"","id":"","lastUpdated":"","name":"testAcc_3065512389","priority":1,"status":"ACTIVE","system":false,"type":"IDP_DISCOVERY"}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://oie-00.dne-okta.com/api/v1/policies/00p5qwjvjjpuZBaOR1d7/rules
        method: POST
      response:
        body: '{"id":"0pr9i763raFrlUcPI1d7","status":"ACTIVE","name":"testAcc_3065512389","priority":1,"created":"2023-08-15T23:46:19.000Z","lastUpdated":"2023-08-15T23:46:19.000Z","system":false,"conditions":{"network":{"connection":"ANYWHERE"},"userIdentifier":{"patterns":[{"matchType":"EQUALS","value":"Articulate"}],"type":"ATTRIBUTE","attribute":"firstName"},"app":{"include":[],"exclude":[]}},"actions":{"idp":{"providers":[{"id":"0oa9i78m0picXsSBr1d7","name":"testAcc_3065512389","type":"SAML2"}],"idpSelectionType":"SPECIFIC"}},"_links":{"self":{"href":"https://oie-00.oktapreview.com/api/v1/policies/00p5qwjvjjpuZBaOR1d7/rules/0pr9i763raFrlUcPI1d7","hints":{"allow":["GET","PUT","DELETE"]}},"deactivate":{"href":"https://oie-00.oktapreview.com/api/v1/policies/00p5qwjvjjpuZBaOR1d7/rules/0pr9i763raFrlUcPI1d7/lifecycle/deactivate","hints":{"allow":["POST"]}}},"type":"IDP_DISCOVERY"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 215.973462ms
    - id: 16
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/policies/00p5qwjvjjpuZBaOR1d7/rules/0pr9i763raFrlUcPI1d7
        method: GET
      response:
        body: '{"id":"0pr9i763raFrlUcPI1d7","status":"ACTIVE","name":"testAcc_3065512389","priority":1,"created":null,"lastUpdated":null,"system":false,"conditions":{"network":{"connection":"ANYWHERE"},"userIdentifier":{"patterns":[{"matchType":"EQUALS","value":"Articulate"}],"type":"ATTRIBUTE","attribute":"firstName"},"app":{"include":[],"exclude":[]}},"actions":{"idp":{"providers":[{"id":"0oa9i78m0picXsSBr1d7","name":"testAcc_3065512389","type":"SAML2"}],"idpSelectionType":"SPECIFIC"}},"_links":{"self":{"href":"https://oie-00.oktapreview.com/api/v1/policies/00p5qwjvjjpuZBaOR1d7/rules/0pr9i763raFrlUcPI1d7","hints":{"allow":["GET","PUT","DELETE"]}},"deactivate":{"href":"https://oie-00.oktapreview.com/api/v1/policies/00p5qwjvjjpuZBaOR1d7/rules/0pr9i763raFrlUcPI1d7/lifecycle/deactivate","hints":{"allow":["POST"]}}},"type":"IDP_DISCOVERY"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 73.493668ms
[...]
    - id: 63
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/idps/0oa9i78m0picXsSBr1d7/lifecycle/deactivate
        method: POST
      response:
        body: '{"id":"0oa9i78m0picXsSBr1d7","name":"testAcc_3065512389","status":"INACTIVE","created":"2023-08-15T23:46:18.000Z","lastUpdated":"2023-08-15T23:46:26.000Z","protocol":{"type":"SAML2","endpoints":{"sso":{"url":"https://idp.example.com","binding":"HTTP-POST","destination":"https://idp.example.com"},"acs":{"binding":"HTTP-POST","type":"INSTANCE"}},"algorithms":{"request":{"signature":{"algorithm":"SHA-256","scope":"REQUEST"}},"response":{"signature":{"algorithm":"SHA-256","scope":"ANY"}}},"settings":{"nameFormat":"urn:oasis:names:tc:SAML:1.1:nameid-format:unspecified","honorPersistentNameId":false},"credentials":{"trust":{"issuer":"https://idp.example.com","audience":"https://www.okta.com/saml2/service-provider/sppcwjklgrujuawfnnkb","kid":"4d6a5a0d-394e-47d9-b663-b8e6405b38c7","revocation":null,"revocationCacheLifetime":0},"signing":{"kid":"5pDX4d-UxdUyyBmYG5H04CTFky-eWrUWNP2DkZHsK6o"}}},"policy":{"provisioning":{"action":"AUTO","profileMaster":false,"groups":{"action":"NONE"},"conditions":{"deprovisioned":{"action":"NONE"},"suspended":{"action":"NONE"}}},"accountLink":{"filter":null,"action":"AUTO"},"subject":{"userNameTemplate":{"template":"idpuser.email"},"filter":null,"matchType":"USERNAME","matchAttribute":null},"maxClockSkew":0,"mapAMRClaims":false},"type":"SAML2","_links":{"metadata":{"href":"https://oie-00.oktapreview.com/api/v1/idps/0oa9i78m0picXsSBr1d7/metadata.xml","type":"application/xml","hints":{"allow":["GET"]}},"acs":{"href":"https://oie-00.oktapreview.com/sso/saml2/0oa9i78m0picXsSBr1d7","type":"application/xml","hints":{"allow":["POST"]}},"users":{"href":"https://oie-00.oktapreview.com/api/v1/idps/0oa9i78m0picXsSBr1d7/users","hints":{"allow":["GET"]}},"activate":{"href":"https://oie-00.oktapreview.com/api/v1/idps/0oa9i78m0picXsSBr1d7/lifecycle/activate","hints":{"allow":["POST"]}}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 89.17873ms
[...]
    - id: 65
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/policies/00p5qwjvjjpuZBaOR1d7/rules/0pr9i763raFrlUcPI1d7/lifecycle/deactivate
        method: POST
      response:
        body: ""
        headers:
        status: 204 No Content
        code: 204
        duration: 79.788427ms
[...]
    - id: 69
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/apps/0oa9i72humO1uui7o1d7/lifecycle/deactivate
        method: POST
      response:
        body: '{}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 136.251678ms
[...]
    - id: 79
      request:
        host: oie-00.dne-okta.com
        body: |
            {"accessibility":{"selfService":false},"credentials":{"userNameTemplate":{"template":"${source.login}","type":"BUILT_IN"},"oauthClient":{"autoKeyRotation":true,"client_secret":"something_from_somewhere","pkce_required":false,"token_endpoint_auth_method":"client_secret_basic"}},"label":"testAcc_3065512389","name":"oidc_client","settings":{"app":{},"implicitAssignment":false,"notes":{"admin":null,"enduser":null},"oauthClient":{"application_type":"web","consent_method":"TRUSTED","grant_types":["authorization_code"],"idp_initiated_login":{"default_scope":[],"mode":"DISABLED"},"issuer_mode":"ORG_URL","redirect_uris":["http://d.com/"],"response_types":["code"],"wildcard_redirect":"DISABLED"}},"signOnMode":"OPENID_CONNECT","visibility":{"autoSubmitToolbar":false,"hide":{"iOS":true,"web":true}}}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://oie-00.dne-okta.com/api/v1/apps?activate=true
        method: POST
      response:
        body: '{"id":"0oa9i754df2Byyo2S1d7","name":"oidc_client","label":"testAcc_3065512389","status":"ACTIVE","lastUpdated":"2023-08-15T23:46:29.000Z","created":"2023-08-15T23:46:29.000Z","accessibility":{"selfService":false,"errorRedirectUrl":null,"loginRedirectUrl":null},"visibility":{"autoLaunch":false,"autoSubmitToolbar":false,"hide":{"iOS":true,"web":true},"appLinks":{"oidc_client_link":true}},"features":[],"signOnMode":"OPENID_CONNECT","credentials":{"userNameTemplate":{"template":"${source.login}","type":"BUILT_IN"},"signing":{"kid":"N60VbAntJ7ONHTQr7YcAiywke_a08RzPdv9okaextIA"},"oauthClient":{"autoKeyRotation":true,"client_id":"0oa9i754df2Byyo2S1d7","client_secret":"something_from_somewhere","token_endpoint_auth_method":"client_secret_basic","pkce_required":false}},"settings":{"app":{},"notifications":{"vpn":{"network":{"connection":"DISABLED"},"message":null,"helpUrl":null}},"manualProvisioning":false,"implicitAssignment":false,"notes":{"admin":null,"enduser":null},"oauthClient":{"client_uri":null,"logo_uri":null,"redirect_uris":["http://d.com/"],"response_types":["code"],"grant_types":["authorization_code"],"application_type":"web","consent_method":"TRUSTED","issuer_mode":"ORG_URL","idp_initiated_login":{"mode":"DISABLED","default_scope":[]},"wildcard_redirect":"DISABLED","dpop_bound_access_tokens":false,"participate_slo":false}},"_links":{"uploadLogo":{"href":"https://oie-00.oktapreview.com/api/v1/apps/0oa9i754df2Byyo2S1d7/logo","hints":{"allow":["POST"]}},"appLinks":[{"name":"oidc_client_link","href":"https://oie-00.oktapreview.com/home/oidc_client/0oa9i754df2Byyo2S1d7/aln177a159h7Zf52X0g8","type":"text/html"}],"profileEnrollment":{"href":"https://oie-00.oktapreview.com/api/v1/policies/rst5qwjvlxUHivL8a1d7"},"policies":{"href":"https://oie-00.oktapreview.com/api/v1/apps/0oa9i754df2Byyo2S1d7/policies","hints":{"allow":["PUT"]}},"groups":{"href":"https://oie-00.oktapreview.com/api/v1/apps/0oa9i754df2Byyo2S1d7/groups"},"logo":[{"name":"medium","href":"https://op3static.oktacdn.com/assets/img/logos/default.6770228fb0dab49a1695ef440a5279bb.png","type":"image/png"}],"clientCredentials":[{"name":"secrets","href":"https://oie-00.oktapreview.com/api/v1/apps/0oa9i754df2Byyo2S1d7/credentials/secrets"}],"accessPolicy":{"href":"https://oie-00.oktapreview.com/api/v1/policies/rst5qwjvlvS3G1WOU1d7"},"users":{"href":"https://oie-00.oktapreview.com/api/v1/apps/0oa9i754df2Byyo2S1d7/users"},"deactivate":{"href":"https://oie-00.oktapreview.com/api/v1/apps/0oa9i754df2Byyo2S1d7/lifecycle/deactivate"}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.07364201s
[...]
    - id: 81
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/apps/0oa9i754df2Byyo2S1d7/policies/rst5qwjvlvS3G1WOU1d7
        method: PUT
      response:
        body: ""
        headers:
        status: 204 No Content
        code: 204
        duration: 164.536286ms
    - id: 82
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
[...]
