---
version: 2
interactions:
    - id: 0
      request:
        host: oie-00.dne-okta.com
        body: |
            {"credentials":{"password":{}},"profile":{"email":"testAcc-949416316@example.com","firstName":"TestAcc","lastName":"Smith","login":"testAcc-949416316@example.com","postalAddress":null}}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://oie-00.dne-okta.com/api/v1/users
        method: POST
      response:
        body: '{"id":"00uwdvi52nPbxyfuO1d7","status":"PROVISIONED","created":"2026-03-17T05:58:14.000Z","activated":"2026-03-17T05:58:15.000Z","statusChanged":"2026-03-17T05:58:15.000Z","lastLogin":null,"lastUpdated":"2026-03-17T05:58:15.000Z","passwordChanged":null,"realmId":"guonkwfhlqM6PFD8m1d7","type":{"id":"otynkw1sdzpoFCZMq1d7"},"profile":{"firstName":"TestAcc","lastName":"Smith","mobilePhone":null,"secondEmail":null,"login":"testAcc-949416316@example.com","email":"testAcc-949416316@example.com"},"credentials":{"provider":{"type":"OKTA","name":"OKTA"}},"_links":{"suspend":{"href":"https://oie-00.dne-okta.com/api/v1/users/00uwdvi52nPbxyfuO1d7/lifecycle/suspend","method":"POST"},"schema":{"href":"https://oie-00.dne-okta.com/api/v1/meta/schemas/user/oscnkw1sdzpoFCZMq1d7"},"resetPassword":{"href":"https://oie-00.dne-okta.com/api/v1/users/00uwdvi52nPbxyfuO1d7/lifecycle/reset_password","method":"POST"},"reactivate":{"href":"https://oie-00.dne-okta.com/api/v1/users/00uwdvi52nPbxyfuO1d7/lifecycle/reactivate","method":"POST"},"self":{"href":"https://oie-00.dne-okta.com/api/v1/users/00uwdvi52nPbxyfuO1d7"},"resetFactors":{"href":"https://oie-00.dne-okta.com/api/v1/users/00uwdvi52nPbxyfuO1d7/lifecycle/reset_factors","method":"POST"},"type":{"href":"https://oie-00.dne-okta.com/api/v1/meta/types/user/otynkw1sdzpoFCZMq1d7"},"deactivate":{"href":"https://oie-00.dne-okta.com/api/v1/users/00uwdvi52nPbxyfuO1d7/lifecycle/deactivate","method":"POST"}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.737354292s
    - id: 1
      request:
        host: oie-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/users/00uwdvi52nPbxyfuO1d7
        method: GET
      response:
        body: '{"id":"00uwdvi52nPbxyfuO1d7","status":"PROVISIONED","created":"2026-03-17T05:58:14.000Z","activated":"2026-03-17T05:58:15.000Z","statusChanged":"2026-03-17T05:58:15.000Z","lastLogin":null,"lastUpdated":"2026-03-17T05:58:15.000Z","passwor[...]
    - id: 2
      request:
        host: oie-00.dne-okta.com
        body: |
            {"riskLevel":"LOW"}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://oie-00.dne-okta.com/api/v1/users/00uwdvi52nPbxyfuO1d7/risk
        method: PUT
      response:
        body: '{"riskLevel":"LOW","reason":"Admin override risk","_links":{"user":{"href":"https://oie-00.dne-okta.com/api/v1/users/00uwdvi52nPbxyfuO1d7","hints":{"allow":["GET"]}},"self":{"href":"https://oie-00.dne-okta.com/api/v1/users/00uwdvi52nPbxyfuO1d7/risk","hints":{"allow":["GET","PUT"]}}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 1.052063709s
[...]
