---
version: 2
interactions:
    - id: 0
      request:
        host: mm-classic-2022-10-04.oktapreview.com
        body: |
            {"name":"testAcc-1174574929","origin":"https://example-1174574929.com","scopes":[{"type":"CORS"}],"status":"ACTIVE"}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://mm-classic-2022-10-04.oktapreview.com/api/v1/trustedOrigins
        method: POST
      response:
        body: '{"id":"tos95v58k79z6kMSq1d7","name":"testAcc-1174574929","origin":"https://example-1174574929.com","scopes":[{"type":"CORS"}],"status":"ACTIVE","created":"2023-07-27T20:34:52.000Z","createdBy":"00u5ptm07rHbDyowI1d7","lastUpdated":"2023-07-27T20:34:52.000Z","lastUpdatedBy":"00u5ptm07rHbDyowI1d7","_links":{"self":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/trustedOrigins/tos95v58k79z6kMSq1d7","hints":{"allow":["GET","PUT","DELETE"]}},"deactivate":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/trustedOrigins/tos95v58k79z6kMSq1d7/lifecycle/deactivate","hints":{"allow":["POST"]}}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 162.2503ms
    - id: 1
      request:
        host: mm-classic-2022-10-04.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-classic-2022-10-04.oktapreview.com/api/v1/trustedOrigins/tos95v58k79z6kMSq1d7
        method: GET
      response:
        body: '{"id":"tos95v58k79z6kMSq1d7","name":"testAcc-1174574929","origin":"https://example-1174574929.com","scopes":[{"type":"CORS"}],"status":"ACTIVE","created":"2023-07-27T20:34:52.000Z","createdBy":"00u5ptm07rHbDyowI1d7","lastUpdated":"2023-07-27T20:34:52.000Z","lastUpdatedBy":"00u5ptm07rHbDyowI1d7","_links":{"self":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/trustedOrigins/tos95v58k79z6kMSq1d7","hints":{"allow":["GET","PUT","DELETE"]}},"deactivate":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/trustedOrigins/tos95v58k79z6kMSq1d7/lifecycle/deactivate","hints":{"allow":["POST"]}}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 57.038349ms
[...]
    - id: 3
      request:
        host: mm-classic-2022-10-04.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-classic-2022-10-04.oktapreview.com/api/v1/trustedOrigins/tos95v58k79z6kMSq1d7/lifecycle/deactivate
        method: POST
      response:
        body: '{"id":"tos95v58k79z6kMSq1d7","name":"testAcc-1174574929","origin":"https://example-1174574929.com","scopes":[{"type":"CORS"}],"status":"INACTIVE","created":"2023-07-27T20:34:52.000Z","createdBy":"00u5ptm07rHbDyowI1d7","lastUpdated":"2023-07-27T20:34:53.000Z","lastUpdatedBy":"00u5ptm07rHbDyowI1d7","_links":{"activate":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/trustedOrigins/tos95v58k79z6kMSq1d7/lifecycle/activate","hints":{"allow":["POST"]}},"self":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/trustedOrigins/tos95v58k79z6kMSq1d7","hints":{"allow":["GET","PUT","DELETE"]}}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 71.015811ms
[...]
    - id: 7
      request:
        host: mm-classic-2022-10-04.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-classic-2022-10-04.oktapreview.com/api/v1/trustedOrigins/tos95v58k79z6kMSq1d7
        method: GET
      response:
        body: '{"errorCode":"E0000007","errorSummary":"Not found: Resource not found: tos95v58k79z6kMSq1d7 (TrustedOrigin)","errorLink":"E0000007","errorId":"oaeaBvNO0ZxS8ShxsW9ow0jBQ","errorCauses":[]}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 69.114219ms
