---
version: 2
interactions:
    - id: 0
      request:
        host: mm-oie-2022-10-07-max.oktapreview.com
        body: |
            {"name":"testAcc-1174574929","origin":"https://example-1174574929.com","scopes":[{"type":"CORS"}],"status":"ACTIVE"}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/trustedOrigins
        method: POST
      response:
        body: '{"id":"tos95upoli4mm3Q261d7","name":"testAcc-1174574929","origin":"https://example-1174574929.com","scopes":[{"type":"CORS"}],"status":"ACTIVE","created":"2023-07-27T19:55:30.000Z","createdBy":"00u5qwjvk7u6E1DFG1d7","lastUpdated":"2023-07-27T19:55:30.000Z","lastUpdatedBy":"00u5qwjvk7u6E1DFG1d7","_links":{"self":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/trustedOrigins/tos95upoli4mm3Q261d7","hints":{"allow":["GET","PUT","DELETE"]}},"deactivate":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/trustedOrigins/tos95upoli4mm3Q261d7/lifecycle/deactivate","hints":{"allow":["POST"]}}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 160.277441ms
    - id: 1
      request:
        host: mm-oie-2022-10-07-max.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/trustedOrigins/tos95upoli4mm3Q261d7
        method: GET
      response:
        body: '{"id":"tos95upoli4mm3Q261d7","name":"testAcc-1174574929","origin":"https://example-1174574929.com","scopes":[{"type":"CORS"}],"status":"ACTIVE","created":"2023-07-27T19:55:30.000Z","createdBy":"00u5qwjvk7u6E1DFG1d7","lastUpdated":"2023-07-27T19:55:30.000Z","lastUpdatedBy":"00u5qwjvk7u6E1DFG1d7","_links":{"self":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/trustedOrigins/tos95upoli4mm3Q261d7","hints":{"allow":["GET","PUT","DELETE"]}},"deactivate":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/trustedOrigins/tos95upoli4mm3Q261d7/lifecycle/deactivate","hints":{"allow":["POST"]}}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 65.61622ms
[...]
    - id: 3
      request:
        host: mm-oie-2022-10-07-max.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/trustedOrigins/tos95upoli4mm3Q261d7/lifecycle/deactivate
        method: POST
      response:
        body: '{"id":"tos95upoli4mm3Q261d7","name":"testAcc-1174574929","origin":"https://example-1174574929.com","scopes":[{"type":"CORS"}],"status":"INACTIVE","created":"2023-07-27T19:55:30.000Z","createdBy":"00u5qwjvk7u6E1DFG1d7","lastUpdated":"2023-07-27T19:55:31.000Z","lastUpdatedBy":"00u5qwjvk7u6E1DFG1d7","_links":{"activate":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/trustedOrigins/tos95upoli4mm3Q261d7/lifecycle/activate","hints":{"allow":["POST"]}},"self":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/trustedOrigins/tos95upoli4mm3Q261d7","hints":{"allow":["GET","PUT","DELETE"]}}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 75.903018ms
[...]
    - id: 7
      request:
        host: mm-oie-2022-10-07-max.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/trustedOrigins/tos95upoli4mm3Q261d7
        method: GET
      response:
        body: '{"errorCode":"E0000007","errorSummary":"Not found: Resource not found: tos95upoli4mm3Q261d7 (TrustedOrigin)","errorLink":"E0000007","errorId":"oaeUxSInAz4RxOPg4be2S6VCg","errorCauses":[]}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 80.240309ms
