---
version: 1
interactions:
- request:
    body: |
      {"name":"testAcc-1174574929","origin":"https://example-1174574929.com","scopes":[{"type":"CORS"}],"status":"ACTIVE"}
    form: {}
    headers:
      Authorization:
      - SSWS REDACTED
      Content-Type:
      - application/json
    url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/trustedOrigins
    method: POST
  response:
    body: '{"id":"tos7m94c6sN8bxQn91d7","name":"testAcc-1174574929","origin":"https://example-1174574929.com","scopes":[{"type":"CORS"}],"status":"ACTIVE","created":"2023-04-10T15:28:26.000Z","createdBy":"00u5qwjvk7u6E1DFG1d7","lastUpdated":"2023-04-10T15:28:26.000Z","lastUpdatedBy":"00u5qwjvk7u6E1DFG1d7","_links":{"self":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/trustedOrigins/tos7m94c6sN8bxQn91d7","hints":{"allow":["GET","PUT","DELETE"]}},"deactivate":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/trustedOrigins/tos7m94c6sN8bxQn91d7/lifecycle/deactivate","hints":{"allow":["POST"]}}}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/trustedOrigins/tos7m94c6sN8bxQn91d7
    method: GET
  response:
    body: '{"id":"tos7m94c6sN8bxQn91d7","name":"testAcc-1174574929","origin":"https://example-1174574929.com","scopes":[{"type":"CORS"}],"status":"ACTIVE","created":"2023-04-10T15:28:26.000Z","createdBy":"00u5qwjvk7u6E1DFG1d7","lastUpdated":"2023-04-10T15:28:26.000Z","lastUpdatedBy":"00u5qwjvk7u6E1DFG1d7","_links":{"self":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/trustedOrigins/tos7m94c6sN8bxQn91d7","hints":{"allow":["GET","PUT","DELETE"]}},"deactivate":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/trustedOrigins/tos7m94c6sN8bxQn91d7/lifecycle/deactivate","hints":{"allow":["POST"]}}}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/trustedOrigins/tos7m94c6sN8bxQn91d7/lifecycle/deactivate
    method: POST
  response:
    body: '{"id":"tos7m94c6sN8bxQn91d7","name":"testAcc-1174574929","origin":"https://example-1174574929.com","scopes":[{"type":"CORS"}],"status":"INACTIVE","created":"2023-04-10T15:28:26.000Z","createdBy":"00u5qwjvk7u6E1DFG1d7","lastUpdated":"2023-04-10T15:28:26.000Z","lastUpdatedBy":"00u5qwjvk7u6E1DFG1d7","_links":{"activate":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/trustedOrigins/tos7m94c6sN8bxQn91d7/lifecycle/activate","hints":{"allow":["POST"]}},"self":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/trustedOrigins/tos7m94c6sN8bxQn91d7","hints":{"allow":["GET","PUT","DELETE"]}}}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
