---
version: 2
interactions:
    - id: 0
      request:
        host: classic-00.dne-okta.com
        body: |
            {"credentials":{"password":{}},"profile":{"email":"testAcc-646518887@example.com","firstName":"TestAcc","lastName":"Smith","login":"testAcc-646518887@example.com","postalAddress":null}}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://classic-00.dne-okta.com/api/v1/users
        method: POST
      response:
        body: '{"id":"00u9i7j3bsfvrKdTC1d7","status":"PROVISIONED","created":"2023-08-16T00:09:16.000Z","activated":"2023-08-16T00:09:16.000Z","statusChanged":"2023-08-16T00:09:16.000Z","lastLogin":null,"lastUpdated":"2023-08-16T00:09:16.000Z","passwordChanged":null,"type":{"id":"oty5ptm052JMcoADv1d7"},"profile":{"firstName":"TestAcc","lastName":"Smith","mobilePhone":null,"secondEmail":null,"login":"testAcc-646518887@example.com","email":"testAcc-646518887@example.com"},"credentials":{"provider":{"type":"OKTA","name":"OKTA"}},"_links":{"suspend":{"href":"https://classic-00.oktapreview.com/api/v1/users/00u9i7j3bsfvrKdTC1d7/lifecycle/suspend","method":"POST"},"schema":{"href":"https://classic-00.oktapreview.com/api/v1/meta/schemas/user/osc5ptm052JMcoADv1d7"},"resetPassword":{"href":"https://classic-00.oktapreview.com/api/v1/users/00u9i7j3bsfvrKdTC1d7/lifecycle/reset_password","method":"POST"},"reactivate":{"href":"https://classic-00.oktapreview.com/api/v1/users/00u9i7j3bsfvrKdTC1d7/lifecycle/reactivate","method":"POST"},"self":{"href":"https://classic-00.oktapreview.com/api/v1/users/00u9i7j3bsfvrKdTC1d7"},"type":{"href":"https://classic-00.oktapreview.com/api/v1/meta/types/user/oty5ptm052JMcoADv1d7"},"deactivate":{"href":"https://classic-00.oktapreview.com/api/v1/users/00u9i7j3bsfvrKdTC1d7/lifecycle/deactivate","method":"POST"}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 390.548677ms
    - id: 1
      request:
        host: classic-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/users/00u9i7j3bsfvrKdTC1d7
        method: GET
      response:
        body: '{"id":"00u9i7j3bsfvrKdTC1d7","status":"PROVISIONED","created":"2023-08-16T00:09:16.000Z","activated":"2023-08-16T00:09:16.000Z","statusChanged":"2023-08-16T00:09:16.000Z","lastLogin":null,"lastUp[...]
    - id: 2
      request:
        host: classic-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/users/00u9i7j3bsfvrKdTC1d7/lifecycle/deactivate
        method: POST
      response:
        body: '{}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 126.440409ms
    - id: 3
      request:
        host: classic-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/users/00u9i7j3bsfvrKdTC1d7
        method: GET
      response:
        body: '{"id":"00u9i7j3bsfvrKdTC1d7","status":"DEPROVISIONED","created":"2023-08-16T00:09:16.000Z","activated":"2023-08-16T00:09:16.000Z","statusChanged":"2023-08-16T00:09:16.000Z","lastLogin":null,"lastUpdated":"2023-08-16T00:09:16.000Z","passwordChanged":null,"type":{"id":"oty5ptm052JMcoADv1d7"},"profile":{"firstName":"TestAcc","lastName":"Smith","mobilePhone":null,"secondEmail":null,"login":"testAcc-646518887@example.com","email":"testAcc-646518887@example.com"},"credentials":{"provider":{"type":"OKTA","name":"OKTA"}},"_links":{"schema":{"href":"https://classic-00.oktapreview.com/api/v1/meta/schemas/user/osc5ptm052JMcoADv1d7"},"activate":{"href":"https://classic-00.oktapreview.com/api/v1/users/00u9i7j3bsfvrKdTC1d7/lifecycle/activate","method":"POST"},"self":{"href":"https://classic-00.oktapreview.com/api/v1/users/00u9i7j3bsfvrKdTC1d7"},"type":{"href":"https://classic-00.oktapreview.com/api/v1/meta/types/user/oty5ptm052JMcoADv1d7"},"delete":{"href":"https://classic-00.oktapreview.com/api/v1/users/00u9i7j3bsfvrKdTC1d7","method":"DELETE"}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 87.68773ms
[...]
    - id: 8
      request:
        host: classic-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/users/00u9i7j3bsfvrKdTC1d7
        method: GET
      response:
        body: '{"errorCode":"E0000007","errorSummary":"Not found: Resource not found: 00u9i7j3bsfvrKdTC1d7 (User)","errorLink":"E0000007","errorId":"oaeiZXzCmxiT1KZ4kLgYxjnQA","errorCauses":[]}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 54.410798ms
