---
version: 2
interactions:
    - id: 0
      request:
        host: oie-00.dne-okta.com
        body: |
            {"credentials":{"password":{}},"profile":{"email":"testAcc-646518887@example.com","firstName":"TestAcc","lastName":"Smith","login":"testAcc-646518887@example.com","postalAddress":null}}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://oie-00.dne-okta.com/api/v1/users
        method: POST
      response:
        body: '{"id":"00u9i74umcUrOT9cm1d7","status":"PROVISIONED","created":"2023-08-15T23:49:22.000Z","activated":"2023-08-15T23:49:23.000Z","statusChanged":"2023-08-15T23:49:23.000Z","lastLogin":null,"lastUpdated":"2023-08-15T23:49:23.000Z","passwordChanged":null,"type":{"id":"oty5qwjvh0Vy1j8Kd1d7"},"profile":{"firstName":"TestAcc","lastName":"Smith","mobilePhone":null,"secondEmail":null,"login":"testAcc-646518887@example.com","email":"testAcc-646518887@example.com"},"credentials":{"provider":{"type":"OKTA","name":"OKTA"}},"_links":{"suspend":{"href":"https://oie-00.oktapreview.com/api/v1/users/00u9i74umcUrOT9cm1d7/lifecycle/suspend","method":"POST"},"schema":{"href":"https://oie-00.oktapreview.com/api/v1/meta/schemas/user/osc5qwjvh0Vy1j8Kd1d7"},"resetPassword":{"href":"https://oie-00.oktapreview.com/api/v1/users/00u9i74umcUrOT9cm1d7/lifecycle/reset_password","method":"POST"},"reactivate":{"href":"https://oie-00.oktapreview.com/api/v1/users/00u9i74umcUrOT9cm1d7/lifecycle/reactivate","method":"POST"},"self":{"href":"https://oie-00.oktapreview.com/api/v1/users/00u9i74umcUrOT9cm1d7"},"resetFactors":{"href":"https://oie-00.oktapreview.com/api/v1/users/00u9i74umcUrOT9cm1d7/lifecycle/reset_factors","method":"POST"},"type":{"href":"https://oie-00.oktapreview.com/api/v1/meta/types/user/oty5qwjvh0Vy1j8Kd1d7"},"deactivate":{"href":"https://oie-00.oktapreview.com/api/v1/users/00u9i74umcUrOT9cm1d7/lifecycle/deactivate","method":"POST"}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 420.837115ms
    - id: 1
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/users/00u9i74umcUrOT9cm1d7
        method: GET
      response:
        body: '{"id":"00u9i74umcUrOT9cm1d7","status":"PROVISIONED","created":"2023-08-15T23:49:22.000Z","activated":"2023-08-15T23:49:23.000Z","statusChanged":"2023-08-15T23:49:23.000Z","lastLogin":null,"lastUpdated":"[...]
    - id: 2
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/users/00u9i74umcUrOT9cm1d7/lifecycle/deactivate
        method: POST
      response:
        body: '{}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 190.84489ms
    - id: 3
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/users/00u9i74umcUrOT9cm1d7
        method: GET
      response:
        body: '{"id":"00u9i74umcUrOT9cm1d7","status":"DEPROVISIONED","created":"2023-08-15T23:49:22.000Z","activated":"2023-08-15T23:49:23.000Z","statusChanged":"2023-08-15T23:49:23.000Z","lastLogin":null,"lastUpdated":"2023-08-15T23:49:23.000Z","passwordChanged":null,"type":{"id":"oty5qwjvh0Vy1j8Kd1d7"},"profile":{"firstName":"TestAcc","lastName":"Smith","mobilePhone":null,"secondEmail":null,"login":"testAcc-646518887@example.com","email":"testAcc-646518887@example.com"},"credentials":{"provider":{"type":"OKTA","name":"OKTA"}},"_links":{"schema":{"href":"https://oie-00.oktapreview.com/api/v1/meta/schemas/user/osc5qwjvh0Vy1j8Kd1d7"},"activate":{"href":"https://oie-00.oktapreview.com/api/v1/users/00u9i74umcUrOT9cm1d7/lifecycle/activate","method":"POST"},"self":{"href":"https://oie-00.oktapreview.com/api/v1/users/00u9i74umcUrOT9cm1d7"},"resetFactors":{"href":"https://oie-00.oktapreview.com/api/v1/users/00u9i74umcUrOT9cm1d7/lifecycle/reset_factors","method":"POST"},"type":{"href":"https://oie-00.oktapreview.com/api/v1/meta/types/user/oty5qwjvh0Vy1j8Kd1d7"},"delete":{"href":"https://oie-00.oktapreview.com/api/v1/users/00u9i74umcUrOT9cm1d7","method":"DELETE"}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 81.317525ms
[...]
    - id: 8
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/users/00u9i74umcUrOT9cm1d7
        method: GET
      response:
        body: '{"errorCode":"E0000007","errorSummary":"Not found: Resource not found: 00u9i74umcUrOT9cm1d7 (User)","errorLink":"E0000007","errorId":"oae_cgdhzh4TPWVQrM4CkCJ1A","errorCauses":[]}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 57.699232ms
