---
version: 2
interactions:
- id: 0
  request:
    host: oie-00.dne-okta.com
    body: "{\"name\":\"Security Events Provider with well-known URL\",\"settings\":{\"issuer\":\"https://example.oktapreview.com\",\"jwks_url\":\"https://example.oktapreview.com/oauth2/v1/keys\"},\"type\":\"okta\"}\n"
    headers:
      Authorization:
      - SSWS REDACTED
      Content-Type:
      - application/json
    url: https://oie-00.dne-okta.com/api/v1/security-events-providers
    method: POST
  response:
    body: "{\"id\":\"sser3ibmokwQI3zdK1d7\",\"name\":\"Security Events Provider with well-known URL\",\"type\":\"okta\",\"status\":\"ACTIVE\",\"settings\":{\"issuer\":\"https://example.oktapreview.com\",\"jwks_url\":\"https://example.oktapreview.com/oauth2/v1/keys\"},\"_links\":{\"self\":{\"href\":\"https://oie-00.dne-okta.com/api/v1/security-events-providers/sser3ibmokwQI3zdK1d7\",\"hints\":{\"allow\":[\"GET\",\"PUT\",\"DELETE\"]}},\"deactivate\":{\"href\":\"https://oie-00.dne-okta.com/api/v1/security-events-providers/sser3ibmokwQI3zdK1d7/lifecycle/deactivate\",\"hints\":{\"allow\":[\"POST\"]}}}}"
    headers:
      Accept-Ch:
      - Sec-CH-UA-Platform-Version
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 1.67993975s
- id: 1
  request:
    host: oie-00.dne-okta.com
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://oie-00.dne-okta.com/api/v1/security-events-providers/sser3ibmokwQI3zdK1d7/lifecycle/activate
    method: POST
  response:
    body: "{\"id\":\"sser3ibmokwQI3zdK1d7\",\"name\":\"Security Events Provider with well-known URL\",\"type\":\"okta\",\"status\":\"ACTIVE\",\"settings\":{\"issuer\":\"https://example.oktapreview.com\",\"jwks_url\":\"https://example.oktapreview.com/oauth2/v1/keys\"},\"_links\":{\"self\":{\"href\":\"https://oie-00.dne-okta.com/api/v1/security-events-providers/sser3ibmokwQI3zdK1d7\",\"hints\":{\"allow\":[\"GET\",\"PUT\",\"DELETE\"]}},\"deactivate\":{\"href\":\"https://oie-00.dne-okta.com/api/v1/security-events-providers/sser3ibmokwQI3zdK1d7/lifecycle/deactivate\",\"hints\":{\"allow\":[\"POST\"]}}}}"
    headers:
      Accept-Ch:
      - Sec-CH-UA-Platform-Version
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 1.20431275s
- id: 2
  request:
    host: oie-00.dne-okta.com
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://oie-00.dne-okta.com/api/v1/security-events-providers/sser3ibmokwQI3zdK1d7
    method: GET
  response:
    body: "{\"id\":\"sser3ibmokwQI3zdK1d7\",\"name\":\"Security Events Provider with well-known URL\",\"type\":\"okta\",\"status\":\"ACTIVE\",\"settings\":{\"issuer\":\"https://example.oktapreview.com\",\"jwks_url\":\"https://example.oktapreview.com/oauth2/v1/keys\"},\"_links\":{\"self\":{\"href\":\"https://oie-00.dne-okta.com/api/v1/security-events-providers/sser3ibmokwQI3zdK1d7\",\"hints\":{\"allow\":[\"GET\",\"PUT\",\"DELETE\"]}},\"deactivate\":{\"href\":\"https://oie-00.dne-okta.com/api/v1/security-events-providers/sser3ibmokwQI3zdK1d7/lifecycle/deactivate\",\"hints\":{\"allow\":[\"POST\"]}}}}"
    headers:
      Accept-Ch:
      - Sec-CH-UA-Platform-Version
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 1.169311125s
[...]
