---
version: 2
interactions:
    - id: 0
      request:
        host: mm-classic-2022-10-04.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-classic-2022-10-04.oktapreview.com/api/v1/org/privacy/oktaSupport/grant
        method: POST
      response:
        body: '{"support":"ENABLED","expiration":"2023-07-28T04:31:51.000Z","_links":{"extend":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/org/privacy/oktaSupport/extend","hints":{"allow":["POST"]}},"revoke":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/org/privacy/oktaSupport/revoke","hints":{"allow":["POST"]}}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 262.451992ms
    - id: 1
      request:
        host: mm-classic-2022-10-04.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-classic-2022-10-04.oktapreview.com/api/v1/org/privacy/oktaSupport
        method: GET
      response:
        body: '{"support":"ENABLED","expiration":"2023-07-28T04:31:51.000Z","_links":{"extend":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/org/privacy/oktaSupport/extend","hints":{"allow":["POST"]}},"revoke":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/org/privacy/oktaSupport/revoke","hints":{"allow":["POST"]}}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 69.241236ms
[...]
    - id: 3
      request:
        host: mm-classic-2022-10-04.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-classic-2022-10-04.oktapreview.com/api/v1/org/privacy/oktaSupport/revoke
        method: POST
      response:
        body: '{"support":"DISABLED","expiration":null,"_links":{"grant":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/org/privacy/oktaSupport/grant","hints":{"allow":["POST"]}}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 76.282893ms
[...]
    - id: 5
      request:
        host: mm-classic-2022-10-04.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-classic-2022-10-04.oktapreview.com/api/v1/org/privacy/oktaSupport/extend
        method: POST
      response:
        body: '{"support":"ENABLED","expiration":"2023-07-29T04:31:52.000Z","_links":{"extend":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/org/privacy/oktaSupport/extend","hints":{"allow":["POST"]}},"revoke":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/org/privacy/oktaSupport/revoke","hints":{"allow":["POST"]}}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 83.348676ms
[...]
