---
version: 2
interactions:
    - id: 0
      request:
        host: mm-oie-2022-10-07-max.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/org/privacy/oktaSupport/grant
        method: POST
      response:
        body: '{"support":"ENABLED","expiration":"2023-07-28T03:52:47.000Z","_links":{"extend":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/org/privacy/oktaSupport/extend","hints":{"allow":["POST"]}},"revoke":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/org/privacy/oktaSupport/revoke","hints":{"allow":["POST"]}}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 155.958222ms
    - id: 1
      request:
        host: mm-oie-2022-10-07-max.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/org/privacy/oktaSupport
        method: GET
      response:
        body: '{"support":"ENABLED","expiration":"2023-07-28T03:52:47.000Z","_links":{"extend":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/org/privacy/oktaSupport/extend","hints":{"allow":["POST"]}},"revoke":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/org/privacy/oktaSupport/revoke","hints":{"allow":["POST"]}}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 65.338128ms
[...]
    - id: 3
      request:
        host: mm-oie-2022-10-07-max.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/org/privacy/oktaSupport/revoke
        method: POST
      response:
        body: '{"support":"DISABLED","expiration":null,"_links":{"grant":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/org/privacy/oktaSupport/grant","hints":{"allow":["POST"]}}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 75.582769ms
[...]
    - id: 5
      request:
        host: mm-oie-2022-10-07-max.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/org/privacy/oktaSupport/extend
        method: POST
      response:
        body: '{"support":"ENABLED","expiration":"2023-07-29T03:52:48.000Z","_links":{"extend":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/org/privacy/oktaSupport/extend","hints":{"allow":["POST"]}},"revoke":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/org/privacy/oktaSupport/revoke","hints":{"allow":["POST"]}}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 57.417644ms
[...]
