---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/org/privacy/oktaSupport/grant
    method: POST
  response:
    body: '{"support":"ENABLED","expiration":"2023-04-07T03:56:01.000Z","_links":{"extend":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/org/privacy/oktaSupport/extend","hints":{"allow":["POST"]}},"revoke":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/org/privacy/oktaSupport/revoke","hints":{"allow":["POST"]}}}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/org/privacy/oktaSupport
    method: GET
  response:
    body: '{"support":"ENABLED","expiration":"2023-04-07T03:56:01.000Z","_links":{"extend":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/org/privacy/oktaSupport/extend","hints":{"allow":["POST"]}},"revoke":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/org/privacy/oktaSupport/revoke","hints":{"allow":["POST"]}}}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/org/privacy/oktaSupport/revoke
    method: POST
  response:
    body: '{"support":"DISABLED","expiration":null,"_links":{"grant":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/org/privacy/oktaSupport/grant","hints":{"allow":["POST"]}}}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/org/privacy/oktaSupport/extend
    method: POST
  response:
    body: '{"support":"ENABLED","expiration":"2023-04-08T03:56:02.000Z","_links":{"extend":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/org/privacy/oktaSupport/extend","hints":{"allow":["POST"]}},"revoke":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/org/privacy/oktaSupport/revoke","hints":{"allow":["POST"]}}}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
