---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/org/privacy/oktaSupport/grant
    method: POST
  response:
    body: '{"support":"ENABLED","expiration":"2023-01-12T04:30:27.000Z","_links":{"extend":{"href":"https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/org/privacy/oktaSupport/extend","hints":{"allow":["POST"]}},"revoke":{"href":"https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/org/privacy/oktaSupport/revoke","hints":{"allow":["POST"]}}}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/org/privacy/oktaSupport
    method: GET
  response:
    body: '{"support":"ENABLED","expiration":"2023-01-12T04:30:27.000Z","_links":{"extend":{"href":"https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/org/privacy/oktaSupport/extend","hints":{"allow":["POST"]}},"revoke":{"href":"https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/org/privacy/oktaSupport/revoke","hints":{"allow":["POST"]}}}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/org/privacy/oktaSupport/revoke
    method: POST
  response:
    body: '{"support":"DISABLED","expiration":null,"_links":{"grant":{"href":"https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/org/privacy/oktaSupport/grant","hints":{"allow":["POST"]}}}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/org/privacy/oktaSupport/extend
    method: POST
  response:
    body: '{"support":"ENABLED","expiration":"2023-01-13T04:30:28.000Z","_links":{"extend":{"href":"https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/org/privacy/oktaSupport/extend","hints":{"allow":["POST"]}},"revoke":{"href":"https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/org/privacy/oktaSupport/revoke","hints":{"allow":["POST"]}}}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
