---
version: 2
interactions:
    - id: 0
      request:
        host: oie-00.dne-okta.com
        body: |
            {"accessibility":{"selfService":false},"credentials":{"userNameTemplate":{"template":"${source.login}","type":"BUILT_IN"}},"label":"testAcc_1486854864","settings":{"app":{},"implicitAssignment":false,"notes":{"admin":null,"enduser":null},"signOn":{"allowMultipleAcsEndpoints":false,"assertionSigned":false,"attributeStatements":[{"filterType":"REGEX","filterValue":".*","name":"groups","namespace":"urn:oasis:names:tc:SAML:2.0:attrname-format:unspecified","type":"GROUP"}],"audience":"http://audience.com","audienceOverride":"","authnContextClassRef":"urn:oasis:names:tc:SAML:2.0:ac:classes:PasswordProtectedTransport","defaultRelayState":"","destination":"http://its-about-the-journey.com","destinationOverride":"","digestAlgorithm":"SHA256","honorForceAuthn":false,"recipient":"http://here.com","recipientOverride":"","responseSigned":true,"samlSignedRequestEnabled":false,"signatureAlgorithm":"RSA_SHA256","slo":{"enabled":true,"issuer":"https://dunshire.okta.com","logoutUrl":"https://dunshire.okta.com/logout"},"spCertificate":{"x5c":["MIIFnDCCA4QCCQDBSLbiON2T1zANBgkqhkiG9w0BAQsFADCBjzELMAkGA1UEBhMCVVMxDjAMBgNV\r\nBAgMBU1haW5lMRAwDgYDVQQHDAdDYXJpYm91MRcwFQYDVQQKDA5Tbm93bWFrZXJzIEluYzEUMBIG\r\nA1UECwwLRW5naW5lZXJpbmcxDTALBgNVBAMMBFNub3cxIDAeBgkqhkiG9w0BCQEWEWVtYWlsQGV4\r\nYW1wbGUuY29tMB4XDTIwMTIwMzIyNDY0M1oXDTMwMTIwMTIyNDY0M1owgY8xCzAJBgNVBAYTAlVT\r\nMQ4wDAYDVQQIDAVNYWluZTEQMA4GA1UEBwwHQ2FyaWJvdTEXMBUGA1UECgwOU25vd21ha2VycyBJ\r\nbmMxFDASBgNVBAsMC0VuZ2luZWVyaW5nMQ0wCwYDVQQDDARTbm93MSAwHgYJKoZIhvcNAQkBFhFl\r\nbWFpbEBleGFtcGxlLm[...]
    - id: 1
      request:
        host: oie-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/.well-known/okta-organization
        method: GET
      response:
        body: '{"id":"00oqq6cti0hre4wUB1d7","cell":"op3","_links":{"organization":{"href":"https://oie-00.dne-okta.com"}},"pipeline":"idx","settings":{"analyticsCollectionEnabled":false,"bugReportingEnabled":true,"omEnabled":false,"pssoEnabled":true,"desktopMFAEnabled":true,"itpEnabled":true}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.127387083s
    - id: 2
      request:
        host: oie-00.dne-okta.com
        form:
            type:
                - ACCESS_POLICY
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/policies?type=ACCESS_POLICY
        method: GET
      response:
        body: '[{"id":"rstqq6ctn3WGXVqOm1d7","status":"ACTIVE","name":"Okta Admin Console","priority":1,"system":false,"conditions":null,"created":"2025-10-07T06:36:58.000Z","lastUpdated":"2025-10-07T06:36:58.000Z","_links":{"mappings":{"href":"https://oie-00.dne-okta.com/api/v1/policies/rstqq6ctn3WGXVqOm1d7/mappings","hints":{"allow":["GET","POST"]}},"self":{"href":"https://oie-00.dne-okta.com/api/v1/policies/rstqq6ctn3WGXVqOm1d7","hints":{"allow":["GET","PUT","DELETE"]}},"rules":{"href":"https://oie-00.dne-okta.com/api/v1/policies/rstqq6ctn3WGXVqOm1d7/rules","hints":{"allow":["GET","POST"]}},"deactivate":{"href":"https://oie-00.dne-okta.com/api/v1/policies/rstqq6ctn3WGXVqOm1d7/lifecycle/deactivate","hints":{"allow":["POST"]}}},"_embedded":{"resourceType":"APP"},"type":"ACCESS_POLICY"},{"id":"rstqq6ctnaTuxncHq1d7","status":"ACTIVE","name":"Okta Dashboard","priority":1,"system":false,"conditions":null,"created":"2025-10-07T06:36:58.000Z","lastUpdated":"2025-10-07T06:36:58.000Z","_links":{"mappings":{"href":"https://oie-00.dne-okta.com/api/v1/policies/rstqq6ctnaTuxncHq1d7/mappings","hints":{"allow":["GET","POST"]}},"self":{"href":"https://oie-00.dne-okta.com/api/v1/policies/rstqq6ctnaTuxncHq1d7","hints":{"allow":["GET","PUT","DELETE"]}},"rules":{"h[...]
    - id: 3
      request:
        host: oie-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/apps/0oavh7p398KCfDRCw1d7/policies/rstqq6ctnn8tuHBCM1d7
        method: PUT
      response:
        body: ""
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
        status: 204 No Content
        code: 204
        duration: 1.139404875s
    - id: 4
      request:
        host: oie-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/apps/0oavh7p398KCfDRCw1d7
        method: GET
      response:
        body: '{"id":"0oavh7p398KCfDRCw1d7","orn":"orn:oktapreview:idp:00oqq6cti0hre4wUB1d7:apps:oie-00_testacc1486854864_3:0oavh7p398KCfDRCw1d7","name":"oie-00_testacc1486854864_3","label":"testAcc_1486854864","status":"ACTIVE","lastUpdated":"2026-02-25T09:45:04.000Z","created":"2026-02-25T09:45:03.000Z","accessibility":{"selfService":false,"errorRedirectUrl":null,"loginRedirectUrl":null},"visibility":{"autoLaunch":false,"autoSubmitToolbar":false,"hide":{"iOS":false,"web":false},"appLinks":{"oie-00_testacc1486854864_3_link":true}},"features":[],"signOnMode":"SAML_2_0","credentials":{"userNameTemplate":{"template":"${source.login}","type":"BUILT_IN"},"signing":{"kid":"tWg1mMQPjXm_eViyOupAIQOhkxoQ-xA9l5BtXG28DgI"}},"universalLogout":{"status":"DISABLED","supportType":"FULL","identityStack":"NOT_SHARED","protocol":"GLOBAL_TOKEN_REVOCATION"},"settings":{"app":{},"notifications":{"vpn":{"network":{"connection":"DISABLED"},"message":null,"helpUrl":null}},"manualProvisioning":false,"implicitAssignment":false,"emOptInStatus":"NONE","notes":{"admin":null,"enduser":null},"signOn":{"defaultRelayState":"","ssoAcsUrl":"http://google.com","idpIssuer":"http://www.okta.com/${org.externalKey}","audience":"http://audience.com","recipient":"http://here.com","destination":"http://its-about-the-journey.com","subjectNameIdTemplate":"${user.userName}","subjectNameIdFormat":"urn:oasis:names:tc:SAML:1.1:nameid-format:emailAddress","responseSigned":true,"assertionSigned":false,"signatureAlgorithm":"RSA_SHA256","digestAlgorithm":"SHA256","honorForceAuthn":false,"authnContextClassRef":"urn:oasis:names:tc:SAML:2.0:ac:classes:PasswordProtectedTransport","spIssuer":"https://dunshire.okta.com","requestCompressed":false,"attributeStatements":[{"type":"GROUP","name":"groups","namespace":"urn:oasis:names:tc:SAML:2.0:attrname-format:unspecified","filterType":"REGEX","filterValue":".*"}],"inlineHooks":[],"spCertificate":{"x5c":["MIIFnDCCA4QCCQDBSLbiON2T1zANBgkqhkiG9w0BAQsFADCBjzELMAkGA1UEBhMCVVMxDjAMBgNV\r\nBAgMBU1haW5lMRAwDgYDVQQHDAdDYXJpYm91MRcwFQYDVQQKDA5Tbm93bWFrZXJzIEluYzEUMBIG\r\nA1UECwwLRW5naW5lZXJpbmcxDTALBgNVBAMMBFNub3cxIDAeBgkqhkiG9w0BCQEWEWVtYWlsQGV4\r\nYW1wbGUuY29tMB4XDTIwMTIwMzIyNDY0M1oXDTMwMTIwMTIyNDY0M1owgY8xCzAJBgNVBAYTAlVT\r\nMQ4wDAYDVQQIDAVNYWluZTEQMA4GA1UEBwwHQ2FyaWJvdTEXMBUGA1UECgwOU25vd21ha2VycyBJ\r\nbmMxFDASBgNVBAsMC0VuZ2luZWVyaW5nMQ0wCwYDVQQDDARTbm93MSAwHgYJKoZIhvcNAQkB[...]
    - id: 5
      request:
        host: oie-00.dne-okta.com
        form:
            kid:
                - tWg1mMQPjXm_eViyOupAIQOhkxoQ-xA9l5BtXG28DgI
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/apps/0oavh7p398KCfDRCw1d7/sso/saml/metadata?kid=tWg1mMQPjXm_eViyOupAIQOhkxoQ-xA9l5BtXG28DgI
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?><md:EntityDescriptor entityID="http://www.okta.com/exkvh7p397HMEBrtn1d7" xmlns:md="urn:oasis:names:tc:SAML:2.0:metadata"><md:IDPSSODescriptor WantAuthnRequestsSigned="false" protocolSupportEnumeration="urn:oasis:names:tc:SAML:2.0:protocol"><md:KeyDescriptor use="signing"><ds:KeyInfo xmlns:ds="http://www.w3.org/2000/09/xmldsig#"><ds:X509Data><ds:X509Certificate>MIIDrDCCApSgAwIBAgIGAZyUMA+UMA0GCSqGSIb3DQEBCwUAMIGWMQswCQYDVQQGEwJVUzETMBEG
            A1UECAwKQ2FsaWZvcm5pYTEWMBQGA1UEBwwNU2FuIEZyYW5jaXNjbzENMAsGA1UECgwET2t0YTEU
            MBIGA1UECwwLU1NPUHJvdmlkZXIxFzAVBgNVBAMMDmRvdG5ldC1zZGstZGNwMRwwGgYJKoZIhvcN
            AQkBFg1pbmZvQG9rdGEuY29tMB4XDTI2MDIyNTA5NDQwM1oXDTM2MDIyNTA5NDUwM1owgZYxCzAJ
            BgNVBAYTAlVTMRMwEQYDVQQIDApDYWxpZm9ybmlhMRYwFAYDVQQHDA1TYW4gRnJhbmNpc2NvMQ0w
            CwYDVQQKDARPa3RhMRQwEgYDVQQLDAtTU09Qcm92aWRlcjEXMBUGA1U[...]
    - id: 6
      request:
        host: oie-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/apps/0oavh7p398KCfDRCw1d7/credentials/keys
        method: GET
      response:
        body: '[{"kty":"RSA","created":"2026-02-25T09:45:03.000Z","lastUpdated":"2026-02-25T09:45:03.000Z","expiresAt":"2036-02-25T09:45:03.000Z","kid":"tWg1mMQPjXm_eViyOupAIQOhkxoQ-xA9l5BtXG28DgI","use":"sig","x5c":["MIIDrDCCApSgAwIBAgIGAZyUMA+UMA0GCSqGSIb3DQEBCwUAMIGWMQswCQYDVQQGEwJVUzETMBEGA1UECAwKQ2FsaWZvcm5pYTEWMBQGA1UEBwwNU2FuIEZyYW5jaXNjbzENMAsGA1UECgwET2t0YTEUMBIGA1UECwwLU1NPUHJvdmlkZXIxFzAVBgNVBAMMDmRvdG5ldC1zZGstZGNwMRwwGgYJKoZIhvcNAQkBFg1pbmZvQG9rdGEuY29tMB4XDTI2MDIyNTA5NDQwM1oXDTM2MDIyNTA5NDUwM1owgZYxCzAJBgNVBAYTAlVTMRMwEQYDVQQIDApDYWxpZm9ybmlhMRYwFAYDVQQHDA1TYW4gRnJhbmNpc2NvMQ0wCwYDVQQKDARPa3RhMRQwEgYDVQQLDAtTU09Qcm92aWRlcjEXMBUGA1UEAwwOZG90bmV0LXNkay1kY3AxHDAaBgkqhkiG9w0BCQEWDWluZm[...]
[...]
    - id: 8
      request:
        host: oie-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/policies/rstqq6ctnn8tuHBCM1d7
        method: GET
      response:
        body: '{"id":"rstqq6ctnn8tuHBCM1d7","status":"ACTIVE","name":"Any two factors","description":"Require two factors to access.","priority":1,"system":true,"conditions":null,"created":"2025-10-07T06:36:59.000Z","lastUpdated":"2025-10-07T06:36:59.000Z","_links":{"self":{"href":"https://oie-00.dne-okta.com/api/v1/policies/rstqq6ctnn8tuHBCM1d7","hints":{"allow":["GET","PUT"]}},"rules":{"href":"https://oie-00.dne-okta.com/api/v1/policies/rstqq6ctnn8tuHBCM1d7/rules","hints":{"allow":["GET","POST"]}}},"type":"ACCESS_POLICY"}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.107223583s
    - id: 9
      request:
        host: oie-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/policies/rstqq6ctnn8tuHBCM1d7/rules
        method: GET
      response:
        body: '[{"id":"rulqq6ctnougjwxcA1d7","status":"ACTIVE","name":"Catch-all Rule","priority":99,"created":"2025-10-07T06:36:59.000Z","lastUpdated":"2025-10-07T06:36:59.000Z","system":true,"conditions":null,"actions":{"appSignOn":{"access":"ALLOW","verificationMethod":{"factorMode":"2FA","type":"ASSURANCE","reauthenticateIn":"PT12H"},"keepMeSignedIn":{"postAuth":"NOT_ALLOWED"}}},"_links":{"self":{"href":"https://oie-00.dne-okta.com/api/v1/policies/rstqq6ctnn8tuHBCM1d7/rules/rulqq6ctnougjwxcA1d7","hints":{"allow":["GET","PUT"]}}},"type":"ACCESS_POLICY"}]'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.104110167s
    - id: 10
      request:
        host: oie-00.dne-okta.com
        body: |
            {"actions":{"appSignOn":{"access":"ALLOW","verificationMethod":{"factorMode":"2FA","reauthenticateIn":"PT2H","type":"ASSURANCE"}}},"conditions":{"network":{"connection":"ANYWHERE"},"platform":{"include":[{"os":{"expression":"","type":"OTHER"},"type":"DESKTOP"}]},"riskScore":{"level":"LOW"},"elCondition":{}},"name":"testAcc_1486854864","priority":0,"type":"ACCESS_POLICY"}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://oie-00.dne-okta.com/api/v1/policies/rstqq6ctnn8tuHBCM1d7/rules
        method: POST
      response:
        body: '{"id":"rulvh7mjeyVGZa7UU1d7","status":"ACTIVE","name":"testAcc_1486854864","priority":0,"created":"2026-02-25T09:45:15.000Z","lastUpdated":"2026-02-25T09:45:15.000Z","system":false,"conditions":{"people":{"users":{"exclude":[]}},"network":{"connection":"ANYWHERE"},"platform":{"include":[{"type":"DESKTOP","os":{"type":"OTHER","expression":""}}],"exclude":[]},"riskScore":{"level":"LOW"},"userType":{"include":[],"exclude":[]}},"actions":{"appSignOn":{"access":"ALLOW","verificationMethod":{"factorMode":"2FA","type":"ASSURANCE","reauthenticateIn":"PT2H"},"keepMeSignedIn":{"postAuth":"NOT_ALLOWED"}}},"_links":{"self":{"href":"https://oie-00.dne-okta.com/api/v1/policies/rstqq6ctnn8tuHBCM1d7/rules/rulvh7mjeyVGZa7UU1d7","hints":{"allow":["GET","PUT","DELETE"]}},"deactivate":{"href":"https://oie-00.dne-okta.com/api/v1/policies/rstqq6ctnn8tuHBCM1d7/rules/rulvh7mjeyVGZa7UU1d7/lifecycle/deactivate","hints":{"allow":["POST"]}}},"type":"ACCESS_POLICY"}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 2.09062475s
    - id: 11
      request:
        host: oie-00.dne-okta.com
        body: |
            {"actions":{"appSignOn":{"access":"ALLOW","verificationMethod":{"factorMode":"2FA","inactivityPeriod":"PT1H","reauthenticateIn":"PT2H","type":"ASSURANCE"}}},"conditions":{"network":{"connection":"ANYWHERE"}},"name":"Rule3-updatedTF-23/02/26","priority":1,"type":"ACCESS_POLICY"}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://oie-00.dne-okta.com/api/v1/policies/rstqq6ctnn8tuHBCM1d7/rules
        method: POST
      response:
        body: '{"id":"rulvh7nqjlfnQCLRg1d7","status":"ACTIVE","na[...]
    - id: 12
      request:
        host: oie-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/policies/rstqq6ctnn8tuHBCM1d7/rules/rulvh7mjeyVGZa7UU1d7
        method: GET
      response:
        body: '{"id":"rulvh7mjeyVGZa7UU1d7","status":"ACTIVE","name":"testAcc_1486854864","priority":0,"created":"2026-02-25T09:45:15.000Z","lastUpdated":"2026-02-25T09:45:15.000Z","system":false,"conditions":{"people":{"users":{"exclude":[]}},"network":{"connection":"ANYWHERE"},"platform":{"include":[{"type":"DESKTOP","os":{"type":"OTHER","expression":""}}],"exclude":[]},"riskScore":{"level":"LOW"},"userType":{"include":[],"exclude":[]}},"actions":{"appSignOn":{"access":"ALLOW","verificationMethod":{"factorMode":"2FA","type":"ASSURANCE","reauthenticateIn":"PT2H"},"keepMeSignedIn":{"postAuth":"NOT_ALLOWED"}}},"_links":{"self":{"href":"https://oie-00.dne-okta.com/api/v1/policies/rstqq6ctnn8tuHBCM1d7/rules/rulvh7mjeyVGZa7UU1d7","hints":{"allow":["GET","PUT","DELETE"]}},"deactivate":{"href":"https://oie-00.dne-okta.com/api/v1/policies/rstqq6ctnn8tuHBCM1d7/rules/rulvh7mjeyVGZa7UU1d7/lifecycle/deactivate","hints":{"allow":["POST"]}}},"type":"ACCESS_POLICY"}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.0898785s
[...]
    - id: 16
      request:
        host: oie-00.dne-okta.com
        body: |
            {"actions":{"appSignOn":{"access":"ALLOW","verificationMethod":{"constraints":[{}],"factorMode":"2FA","inactivityPeriod":"PT1H","reauthenticateIn":"PT2H","type":"ASSURANCE"}}},"conditions":{"network":{"connection":"ANYWHERE"}},"name":"Rule5-updatedTF-23/02/26","priority":5,"type":"ACCESS_POLICY"}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://oie-00.dne-okta.com/api/v1/policies/rstqq6ctnn8tuHBCM1d7/rules
        method: POST
      response:
        body: '{"id":"[...]
[...]
    - id: 25
      request:
        host: oie-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/policies/rstqq6ctnn8tuHBCM1d7/rules/rulvh7km8qbL3Pw2Z1d7
        method: GET
      response:
        body: '{"id":"rulvh7km8qbL3Pw2Z1d7","status":"ACTIVE","name":"Rule1-updatedTF-23/02/26","priority":4,"created":"2026-02-25T09:45:19.000Z","lastUpdated":"2026-02-25T09:45:19.000Z","system":false,"conditions":{"people":{"users":{"exclude":[]}},"network":{"connection":"ANYWHERE"},"riskScore":{"level":"ANY"},"userType":{"include":[],"exclude":[]}},"actions":{"appSignOn":{"access":"ALLOW","verificationMethod":{"factorMode":"2FA","type":"ASSURANCE","reauthenticateIn":"PT2H","inactivityPeriod":"PT1H"},"keepMeSignedIn":{"postAuth":"NOT_ALLOWED"}}},"_links":{"self":{"href":"https://oie-00.dne-okta.com/api/v1/policies/rstqq6ctnn8tuHBCM1d7/rules/rulvh7km8qbL3Pw2Z1d7","hints":{"allow":["GET","PUT","DELETE"]}},"deactivate":{"href":"https://oie-00.dne-okta.com/api/v1/policies/rstqq6ctnn8tuHBCM1d7/rules/rulvh7km8qbL3Pw2Z1d7/lifecycle/deactivate","hints":{"allow":["POST"]}}},"type":"ACCESS_POLICY"}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 2.028996125s
    - id: 26
      request:
        host: oie-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/policies/rstqq6ctnn8tuHBCM1d7/rules/rulvh7qxkvA33LtpY1d7
        method: GET
      response:
        body: '{"id":"rulvh7qxkvA33LtpY1d7","status":"ACTIVE","name":"Rule2-updatedTF-23/02/26","priority":2,"created":"2026-02-25T09:45:17.000Z","lastUpdated":"2026-02-25T09:45:17.000Z","system":false,"conditions":{"people":{"users":{"exclude":[]}},"network":{"connection":"ANYWHERE"},"riskScore":{"level":"ANY"},"userType":{"include":[],"exclude":[]}},"actions":{"appSignOn":{"access":"ALLOW","verificationMethod":{"factorMode":"2FA","type":"ASSURANCE","reauthenticateIn":"PT2H","inactivityPeriod":"PT1H"},"keepMeSignedIn":{"postAuth":"NOT_ALLOWED"}}},"_links":{"self":{"href":"https://oie-00.dne-okta.com/api/v1/policies/rstqq6ctnn8tuHBCM1d7/rules/rulvh7qxkvA33LtpY1d7","hints":{"allow":["GET","PUT","DELETE"]}},"deactivate":{"href":"https://oie-00.dne-okta.com/api/v1/policies/rstqq6ctnn8tuHBCM1d7/rules/rulvh7qxkvA33LtpY1d7/lifecycle/deactivate","hints":{"allow":["POST"]}}},"type":"ACCESS_POLICY"}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.235471084s
    - id: 27
      request:
        host: oie-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/policies/rstqq6ctnn8tuHBCM1d7/rules/rulvh7nqjlfnQCLRg1d7
        method: GET
      response:
        body: '{"id":"rulvh7nqjlfnQCLRg1d7","status":"ACTIVE","name":"Rule3-updatedTF-23/02/26","priority":1,"created":"2026-02-25T09:45:15.000Z","lastUpdated":"2026-02-25T09:45:15.000Z","system":false,"conditions":{"people":{"users":{"exclude":[]}},"network":{"connection":"ANYWHERE"},"riskScore":{"level":"ANY"},"userType":{"include":[],"exclude":[]}},"actions":{"appSignOn":{"access":"ALLOW","verificationMethod":{"factorMode":"2FA","type":"ASSURANCE","reauthenticateIn":"PT2H","inactivityPeriod":"PT1H"},"keepMeSignedIn":{"postAuth":"NOT_ALLOWED"}}},"_links":{"self":{"href":"https://oie-00.dne-okta.com/api/v1/policies/rstqq6ctnn8tuHBCM1d7/rules/rulvh7nqjlfnQCLRg1d7","hints":{"allow":["GET","PUT","DELETE"]}},"deactivate":{"href":"https://oie-00.dne-okta.com/api/v1/policies/rstqq6ctnn8tuHBCM1d7/rules/rulvh7nqjlfnQCLRg1d7/lifecycle/deactivate","hints":{"allow":["POST"]}}},"type":"ACCESS_POLICY"}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.233364958s
    - id: 28
      request:
        host: oie-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/policies/rstqq6ctnn8tuHBCM1d7/rules/rulvh7ph6mh80GPXD1d7
        method: GET
      response:
        body: '{"id":"rulvh7ph6mh80GPXD1d7","status":"ACTIVE","name":"Rule4-updatedTF-23/02/26","priority":3,"created":"2026-02-25T09:45:18.000Z","lastUpdated":"2026-02-25T09:45:18.000Z","system":false,"conditions":{"people":{"users":{"exclude":[]}},"network":{"connection":"ANYWHERE"},"riskScore":{"level":"ANY"},"userType":{"include":[],"exclude":[]}},"actions":{"appSignOn":{"access":"ALLOW","verificationMethod":{"factorMode":"2FA","type":"ASSURANCE","reauthenticateIn":"PT2H","inactivityPeriod":"PT1H"},"keepMeSignedIn":{"postAuth":"NOT_ALLOWED"}}},"_links":{"self":{"href":"https://oie-00.dne-okta.com/api/v1/policies/rstqq6ctnn8tuHBCM1d7/rules/rulvh7ph6mh80GPXD1d7","hints":{"allow":["GET","PUT","DELETE"]}},"deactivate":{"href":"https://oie-00.dne-okta.com/api/v1/policies/rstqq6ctnn8tuHBCM1d7/rules/rulvh7ph6mh80GPXD1d7/lifecycle/deactivate","hints":{"allow":["POST"]}}},"type":"ACCESS_POLICY"}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.222747s
    - id: 29
      request:
        host: oie-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/policies/rstqq6ctnn8tuHBCM1d7/rules/rulvh7nusqOl7iShC1d7
        method: GET
      response:
        body: '{"id":"rulvh7nusqOl7iShC1d7","status":"ACTIVE","name":"Rule5-updatedTF-23/02/26","priority":5,"created":"2026-02-25T09:45:20.000Z","lastUpdated":"2026-02-25T09:45:20.000Z","system":false,"conditions":{"people":{"users":{"exclude":[]}},"network":{"connection":"ANYWHERE"},"riskScore":{"level":"ANY"},"userType":{"include":[],"exclude":[]}},"actions":{"appSignOn":{"access":"ALLOW","verificationMethod":{"factorMode":"2FA","type":"ASSURANCE","reauthenticateIn":"PT2H","inactivityPeriod":"PT1H","constraints":[{}]},"keepMeSignedIn":{"postAuth":"NOT_ALLOWED"}}},"_links":{"self":{"href":"https://oie-00.dne-okta.com/api/v1/policies/rstqq6ctnn8tuHBCM1d7/rules/rulvh7nusqOl7iShC1d7","hints":{"allow":["GET","PUT","DELETE"]}},"deactivate":{"href":"https://oie-00.dne-okta.com/api/v1/policies/rstqq6ctnn8tuHBCM1d7/rules/rulvh7nusqOl7iShC1d7/lifecycle/deactivate","hints":{"allow":["POST"]}}},"type":"ACCESS_POLICY"}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.228818333s
[...]
    - id: 71
      request:
        host: oie-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/apps/0oavh7p398KCfDRCw1d7/lifecycle/deactivate
        method: POST
      response:
        body: '{}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.120799125s
[...]
