---
version: 2
interactions:
    - id: 0
      request:
        host: oie-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/email-domains/OeD14kbe6kzsL858H698
        method: GET
      response:
        body: '{"id":"OeD14kbe6kzsL858H698","validationStatus":"VERIFIED","displayName":"Support","userName":"support","domain":"custom.example.com","validationSubdomain":"mail","dnsValidationRecords":[{"recordType":"TXT","fqdn":"_oktaverification.custom.example.com","verificationValue":"52f087f2ea3e41a5939efb4784111afb"},{"recordType":"cname","fqdn":"mail.custom.example.com","verificationValue":"u21992032.wl033.sendgrid.net"},{"recordType":"cname","fqdn":"okt._domainkey.custom.example.com","verificationValue":"okt.domainkey.u21992032.wl033.sendgrid.net"},{"recordType":"cname","fqdn":"okt2._domainkey.custom.example.com","verificationValue":"okt2.domainkey.u21992032.wl033.sendgrid.net"}]}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 695.405833ms
[...]
