---
version: 1
interactions:
- request:
    body: |
      {"credentials":{"password":{}},"profile":{"email":"john_3906737691@ledzeppelin.com","firstName":"TestAcc","lastName":"Jones","login":"john_3906737691@ledzeppelin.com","postalAddress":null}}
    form: {}
    headers:
      Authorization:
      - SSWS REDACTED
      Content-Type:
      - application/json
    url: https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/users
    method: POST
  response:
    body: '{"id":"00u6m9f11rP9oSaRh1d7","status":"PROVISIONED","created":"2023-01-11T20:28:26.000Z","activated":"2023-01-11T20:28:26.000Z","statusChanged":"2023-01-11T20:28:26.000Z","lastLogin":null,"lastUpdated":"2023-01-11T20:28:26.000Z","passwordChanged":null,"type":{"id":"oty5jjkl30LP1EYa11d7"},"profile":{"firstName":"TestAcc","lastName":"Jones","mobilePhone":null,"secondEmail":null,"login":"john_3906737691@ledzeppelin.com","email":"john_3906737691@ledzeppelin.com"},"credentials":{"provider":{"type":"OKTA","name":"OKTA"}},"_links":{"suspend":{"href":"https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/users/00u6m9f11rP9oSaRh1d7/lifecycle/suspend","method":"POST"},"schema":{"href":"https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/meta/schemas/user/osc5jjkl30LP1EYa11d7"},"resetPassword":{"href":"https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/users/00u6m9f11rP9oSaRh1d7/lifecycle/reset_password","method":"POST"},"reactivate":{"href":"https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/users/00u6m9f11rP9oSaRh1d7/lifecycle/reactivate","method":"POST"},"self":{"href":"https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/users/00u6m9f11rP9oSaRh1d7"},"resetFactors":{"href":"https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/users/00u6m9f11rP9oSaRh1d7/lifecycle/reset_factors","method":"POST"},"type":{"href":"https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/meta/types/user/oty5jjkl30LP1EYa11d7"},"deactivate":{"href":"https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/users/00u6m9f11rP9oSaRh1d7/lifecycle/deactivate","method":"POST"}}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/users/00u6m9f11rP9oSaRh1d7
    method: GET
  response:
    body: '{"id":"00u6m9f11rP9oSaRh1d7","status":"PROVISIONED","created":"2023-01-11T20:28:26.000Z","activated":"2023-01-11T20:28:26.000Z","statusChanged":"2023-01-11T20:28:26.000Z","lastLogin":null,"lastUpdated":"2023-01-11T20:28:26.000Z","passwordChanged":null,"type":{"id":"oty5jjkl30LP[...]
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/users/00u6m9f11rP9oSaRh1d7/roles
    method: GET
  response:
    body: '[]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"profile":{"name":"testAcc","description":"testing, testing"}}
    form: {}
    headers:
      Authorization:
      - SSWS REDACTED
      Content-Type:
      - application/json
    url: https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/groups
    method: POST
  response:
    body: '{"id":"00g6m9evqf5fpnukG1d7","created":"2023-01-11T20:28:26.000Z","lastUpdated":"2023-01-11T20:28:26.000Z","lastMembershipUpdated":"2023-01-11T20:28:26.000Z","objectClass":["okta:user_group"],"type":"OKTA_GROUP","profile":{"name":"testAcc","description":"testing,
      testing"},"_links":{"logo":[{"name":"medium","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-medium.1a5ebe44c4244fb796c235d86b47e3bb.png","type":"image/png"},{"name":"large","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-large.d9cfbd8a00a4feac1aa5612ba02e99c0.png","type":"image/png"}],"users":{"href":"https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/groups/00g6m9evqf5fpnukG1d7/users"},"apps":{"href":"https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/groups/00g6m9evqf5fpnukG1d7/apps"}}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/groups/00g6m9evqf5fpnukG1d7
    method: GET
  response:
    body: '{"id":"00g6m9evqf5fpnukG1d7","created":"2023-01-11T20:28:26.000Z","lastUpdated":"2023-01-11T20:28:26.000Z","lastMembershipUpdated":"2023-01-11T20:28:26.000Z","objectClass":["okta:user_group"],"type":"OKTA_GROUP","profile":{"name":"testAcc","description":"testing,
      testing"},"_links":{"logo":[{"name":"medium","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-medium.1a5ebe44c4244fb796c235d86b47e3bb.png","type":"image/png"},{"name":"large","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-large.d9cfbd8a00a4feac1aa5612ba02e99c0.png","type":"image/png"}],"users":{"href":"https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/groups/00g6m9evqf5fpnukG1d7/users"},"apps":{"href":"https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/groups/00g6m9evqf5fpnukG1d7/apps"}}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/groups/00g6m9evqf5fpnukG1d7/users/00u6m9f11rP9oSaRh1d7
    method: PUT
  response:
    body: ""
    headers:
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/groups/00g6m9evqf5fpnukG1d7/users?limit=200
    method: GET
  response:
    body: '[{"id":"00u6m9f11rP9oSaRh1d7","status":"PROVISIONED","created":"2023-01-11T20:28:26.000Z","activated":"2023-01-11T20:28:26.000Z","statusChanged":"2023-01-11T20:28:26.000Z","lastLogin":null,"lastUpdated":"2023-01-11T20:28:26.000Z","passwordChanged":null,"type":{"id":"oty5jjkl30LP1EYa11d7"},"profile":{"firstName":"TestAcc","lastName":"Jones","mobilePhone":null,"secondEmail":null,"login":"john_3906737691@ledzeppelin.com","email":"john_3906737691@ledzeppelin.com"},"credentials":{"provider":{"type":"OKTA","name":"OKTA"}},"_links":{"self":{"href":"https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/users/00u6m9f11rP9oSaRh1d7"}}}]'
    headers:
      Content-Type:
      - application/json
      Link:
      - <https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/groups/00g6m9evqf5fpnukG1d7/users?limit=200>;
        rel="self"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/groups/00g6m9evqf5fpnukG1d7/users/00u6m9f11rP9oSaRh1d7
    method: DELETE
  response:
    body: '{"errorCode":"E0000007","errorSummary":"Not found: Resource not found:
      00u6m9f11rP9oSaRh1d7 (User)","errorLink":"E0000007","errorId":"oae72bsN0aTQnGQU3a9FG6n7Q","errorCauses":[]}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/users/00u6m9dz5hqa8h4JF1d7
    method: GET
  response:
    body: '{"id":"00u6m9dz5hqa8h4JF1d7","status":"PROVISIONED","created":"2023-01-11T20:28:30.000Z","activated":"2023-01-11T20:28:30.000Z","statusChanged":"2023-01-11T20:28:30.000Z","lastLogin":null,"lastUpdated":"2023-01-11T20:28:30.000Z","passwordChanged":null,"type":{"id":"oty5jjkl30LP[...]
[...]
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/users/00u6m9ek60zrabiSd1d7
    method: GET
  response:
    body: '{"id":"00u6m9ek60zrabiSd1d7","status":"PROVISIONED","created":"2023-01-11T20:28:30.000Z","activated":"2023-01-11T20:28:30.000Z","statusChanged":"2023-01-11T20:28:30.000Z","lastLogin":null,"lastUpdated":"2023-01-11T20:28:30.000Z","passwordChanged":null,"type":{"id":"oty5jjkl30LP[...]
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/users/00u6m9dz5hqa8h4JF1d7/roles
    method: GET
  response:
    body: '[]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/users/00u6m9djkacf1Dy2T1d7
    method: GET
  response:
    body: '{"id":"00u6m9djkacf1Dy2T1d7","status":"PROVISIONED","created":"2023-01-11T20:28:30.000Z","activated":"2023-01-11T20:28:30.000Z","statusChanged":"2023-01-11T20:28:30.000Z","lastLogin":null,"lastUpdated":"2023-01-11T20:28:30.000Z","passwordChanged":null,"type":{"id":"oty5jjkl30LP[...]
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/users/00u6m9ekykuSKPZJK1d7
    method: GET
  response:
    body: '{"id":"00u6m9ekykuSKPZJK1d7","status":"PROVISIONED","created":"2023-01-11T20:28:30.000Z","activated":"2023-01-11T20:28:30.000Z","statusChanged":"2023-01-11T20:28:30.000Z","lastLogin":null,"lastUpdated":"2023-01-11T20:28:30.000Z","passwordChanged":null,"type":{"id":"oty5jjkl30LP[...]
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/users/00u6m9ek60zrabiSd1d7/roles
    method: GET
  response:
    body: '[]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/users/00u6m9djkacf1Dy2T1d7/roles
    method: GET
  response:
    body: '[]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/users/00u6m9ekykuSKPZJK1d7/roles
    method: GET
  response:
    body: '[]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/groups/00g6m9evqf5fpnukG1d7/users/00u6m9dz5hqa8h4JF1d7
    method: PUT
  response:
    body: ""
    headers:
    status: 204 No Content
    code: 204
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/groups/00g6m9evqf5fpnukG1d7/users/00u6m9djkacf1Dy2T1d7
    method: PUT
  response:
    body: ""
    headers:
    status: 204 No Content
    code: 204
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/groups/00g6m9evqf5fpnukG1d7/users/00u6m9ek60zrabiSd1d7
    method: PUT
  response:
    body: ""
    headers:
    status: 204 No Content
    code: 204
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/groups/00g6m9evqf5fpnukG1d7/users/00u6m9ekykuSKPZJK1d7
    method: PUT
  response:
    body: ""
    headers:
    status: 204 No Content
    code: 204
    duration: ""
[...]
