---
version: 2
interactions:
    - id: 0
      request:
        host: classic-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/.well-known/okta-organization
        method: GET
      response:
        body: '{"id":"00otp3dizx2aP6cf41d7","cell":"op3","_links":{"organization":{"href":"https://classic-00.dne-okta.com"}},"pipeline":"idx","settings":{"analyticsCollectionEnabled":false,"bugReportingEnabled":true,"omEnabled":false,"pssoEnabled":true,"desktopMFAEnabled":true,"itpEnabled":true}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.254059458s
    - id: 1
      request:
        host: classic-00.dne-okta.com
        body: |
            {"actions":{"appSignOn":{"access":"ALLOW","verificationMethod":{"factorMode":"2FA","inactivityPeriod":"PT1H","reauthenticateIn":"PT2H10M","type":"AUTH_METHOD_CHAIN","chains":[{"authenticationMethods":[{"key":"okta_password","method":"password"}],"next":[{"authenticationMethods":[{"key":"phone_number","method":"sms"}]}]},{"authenticationMethods":[{"key":"okta_verify","method":"signed_nonce","userVerification":"REQUIRED"}]}]}}},"conditions":{"network":{"connection":"ANYWHERE"},"platform":{},"elCondition":{}},"name":"test_with_re_authentication_frequency_only","priority":4,"type":"ACCESS_POLICY"}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://classic-00.dne-okta.com/api/v1/policies/rsttqnoz5vo4GIoAD1d7/rules
        method: POST
      response:
        body: '{"id":"rultqouz86RKLr4yH1d7","status":"ACTIVE","name":"test_with_re_authentication_frequency_only","priority":4,"created":"2026-01-12T10:28:54.000Z","lastUpdated":"2026-01-12T10:28:54.000Z","system":false,"conditions":{"people":{"users":{"exclude":[]}},"network":{"connection":"ANYWHERE"},"riskScore":{"level":"ANY"},"userType":{"include":[],"exclude":[]}},"actions":{"appSignOn":{"access":"ALLOW","verificationMethod":{"type":"AUTH_METHOD_CHAIN","chains":[{"authenticationMethods":[{"key":"okta_password","method":"password"}],"next":[{"authenticationMethods":[{"key":"phone_number","method":"sms"}]}]},{"authenticationMethods":[{"key":"okta_verify","userVerification":"REQUIRED","method":"signed_nonce"}]}],"reauthenticateIn":"PT2H10M"},"keepMeSignedIn":{"postAuth":"NOT_ALLOWED"}}},"_links":{"self":{"href":"https://classic-00.dne-okta.com/api/v1/policies/rsttqnoz5vo4GIoAD1d7/rules/rultqouz86RKLr4yH1d7","hints":{"allow":["GET","PUT","DELETE"]}},"deactivate":{"href":"https://classic-00.dne-okta.com/api/v1/policies/rsttqnoz5vo4GIoAD1d7/rules/rultqouz86RKLr4yH1d7/lifecycle/deactivate","hints":{"allow":["POST"]}}},"type":"ACCESS_POLICY"}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.463948958s
    - id: 2
      request:
        host: classic-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/policies/rsttqnoz5vo4GIoAD1d7/rules/rultqouz86RKLr4yH1d7
        method: GET
      response:
        body: '{"id":"rultqouz86RKLr4yH1d7","status":"ACTIVE","name":"test_with_re_authentication_frequency_only","priority":4,"created":"2026-01-12T10:28:54.000Z","lastUpdated":"2026-01-12T10:28:54.000Z","system":[...]
[...]
    - id: 4
      request:
        host: classic-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/policies/rsttqnoz5vo4GIoAD1d7/rules/rultqojy51q5VyduN1d7
        method: GET
      response:
        body: '{"id":"rultqojy51q5VyduN1d7","status":"ACTIVE","name":"test_with_reauthenticate_in_chains_only","priority":3,"created":"2026-01-12T10:28:57.000Z","lastUpdated":"2026-01-12T10:28:57.000Z","system":fal[...]
[...]
