---
version: 2
interactions:
- id: 0
  request:
    host: classic-00.dne-okta.com
    body: "{\"credentials\":{\"password\":{\"hash\":{\"algorithm\":\"SHA-512\",\"salt\":\"TXlTYWx0\",\"saltOrder\":\"PREFIX\",\"value\":\"QrozP8a+KfoHu6mPFysxLoO5LMQsd2Fw6IclZUf8xQjetJOCGS93vm68h+VaFX0LHSiF/GxQkykq1vofmx6NGA==\",\"workFactor\":0}}},\"profile\":{\"email\":\"testAcc-359636473@example.com\",\"firstName\":\"TestAcc\",\"lastName\":\"Smith\",\"login\":\"testAcc-359636473@example.com\",\"postalAddress\":null}}\n"
    form:
      activate:
      - "false"
    headers:
      Authorization:
      - SSWS REDACTED
      Content-Type:
      - application/json
    url: https://classic-00.dne-okta.com/api/v1/users?activate=false
    method: POST
  response:
    body: "{\"id\":\"00uckrlqhg5PH6gUe0x7\",\"status\":\"STAGED\",\"created\":\"2025-12-17T11:05:02.000Z\",\"activated\":null,\"statusChanged\":\"2025-12-17T11:05:02.000Z\",\"lastLogin\":null,\"lastUpdated\":\"2025-12-17T11:05:02.000Z\",\"passwordChanged\":\"2025-12-17T11:05:02.000Z\",\"realmId\":\"guobiiz9fiOFhQlea0x7\",\"type\":{\"id\":\"otybiiyra51eDWlk50x7\"},\"profile\":{\"firstName\":\"TestAcc\",\"lastName\":\"Smith\",\"mobilePhone\":null,\"secondEmail\":null,\"login\":\"testAcc-359636473@example.com\",\"email\":\"testAcc-359636473@example.com\"},\"credentials\":{\"password\":{},\"provider\":{\"type\":\"IMPORT\",\"name\":\"IMPORT\"}},\"_links\":{\"schema\":{\"href\":\"https://classic-00.dne-okta.com/api/v1/meta/schemas/user/oscbiiyra51eDWlk50x7\"},\"activate\":{\"href\":\"https://classic-00.dne-okta.com/api/v1/users/00uckrlqhg5PH6gUe0x7/lifecycle/activate\",\"method\":\"POST\"},\"self\":{\"href\":\"https://classic-00.dne-okta.com/api/v1/users/00uckrlqhg5PH6gUe0x7\"},\"resetFactors\":{\"href\":\"https://classic-00.dne-okta.com/api/v1/users/00uckrlqhg5PH6gUe0x7/lifecycle/reset_factors\",\"method\":\"POST\"},\"type\":{\"href\":\"https://classic-00.dne-okta.com/api/v1/meta/types/user/otybiiyra51eDWlk50x7\"}}}"
    headers:
      Accept-Ch:
      - Sec-CH-UA-Platform-Version
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 463.73975ms
- id: 1
  request:
    host: classic-00.dne-okta.com
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://classic-00.dne-okta.com/api/v1/users/00uckrlqhg5PH6gUe0x7
    method: GET
  response:
    body: "{\"id\":\"00uckrlqhg5PH6gUe0x7\",\"status\":\"STAGED\",\"created\":\"2025-12-17T11:05:02.000Z\",\"activated\":null,\"statusChanged\":\"2025-12-17T11:05:02.000Z\",\"lastLogin\":null,\"lastUpdated\":\"2025-12-17T11:05:02.000Z\",\"passwordChanged\":\"2025-12-17T11:05:02.000Z\",\"[...]
[...]
