---
version: 2
interactions:
    - id: 0
      request:
        host: classic-00.dne-okta.com
        body: |
            {"credentials":{"password":{"hash":{"algorithm":"SHA-512","salt":"TXlTYWx0","saltOrder":"PREFIX","value":"QrozP8a+KfoHu6mPFysxLoO5LMQsd2Fw6IclZUf8xQjetJOCGS93vm68h+VaFX0LHSiF/GxQkykq1vofmx6NGA==","workFactor":0}}},"profile":{"email":"testAcc-359636473@example.com","firstName":"TestAcc","lastName":"Smith","login":"testAcc-359636473@example.com","postalAddress":null}}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://classic-00.dne-okta.com/api/v1/users?activate=false
        method: POST
      response:
        body: '{"id":"00ukwuucpxXzOl5La1d7","status":"STAGED","created":"2025-03-14T03:21:58.000Z","activated":null,"statusChanged":null,"lastLogin":null,"lastUpdated":"2025-03-14T03:21:58.000Z","passwordChanged":"2025-03-14T03:21:58.000Z","type":{"id":"oty5ptm052JMcoADv1d7"},"profile":{"firstName":"TestAcc","lastName":"Smith","mobilePhone":null,"secondEmail":null,"login":"testAcc-359636473@example.com","email":"testAcc-359636473@example.com"},"credentials":{"password":{},"provider":{"type":"IMPORT","name":"IMPORT"}},"_links":{"schema":{"href":"https://classic-00.dne-okta.com/api/v1/meta/schemas/user/osc5ptm052JMcoADv1d7"},"activate":{"href":"https://classic-00.dne-okta.com/api/v1/users/00ukwuucpxXzOl5La1d7/lifecycle/activate","method":"POST"},"self":{"href":"https://classic-00.dne-okta.com/api/v1/users/00ukwuucpxXzOl5La1d7"},"type":{"href":"https://classic-00.dne-okta.com/api/v1/meta/types/user/oty5ptm052JMcoADv1d7"}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 297.718875ms
    - id: 1
      request:
        host: classic-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/users/00ukwuucpxXzOl5La1d7
        method: GET
      response:
        body: '{"id":"00ukwuucpxXzOl5La1d7","status":"STAGED","created":"2025-03-14T03:21:58.000Z","activated":null,"statusChanged":null,"lastLogin":null,"lastUpdated":"2025-03-14T03:21:58.000Z","passwordChanged":"2025-03-14T03:21:58.000Z","type":{"id":"oty5ptm052JMcoADv1d7"},"profile":{"firstName":"TestAcc","lastName":"Smith","mobilePhone":null,"secondEmail":null,"login":"testAcc-359636473@example.com","email":"testAcc-359636473@example.com"},"credentials":{"password":{},"provider":{"type":"IMPORT","name":"IMPORT"}},"_links":{"schema":{"href":"https://classic-00.dne-okta.com/api/v1/meta/schemas/user/osc5ptm052JMcoADv1d7"},"activate":{"href":"https://classic-00.dne-okta.com/api/v1/users/00ukwuucpxXzOl5La1d7/lifecycle/activate","method":"POST"},"self":{"href":"https://classic-00.dne-okta.com/api/v1/users/00ukwuucpxXzOl5La1d7"},"type":{"href":"https://classic-00.dne-okta.com/api/v1/meta/types/user/oty5ptm052JMcoADv1d7"}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
            Etag:
                - W/"c1307af94b0424ddf361b0ef0097d2b8944b0ebe5290d06bd1fa5c58c6cef8bd"
        status: 200 OK
        code: 200
        duration: 230.501583ms
[...]
