---
version: 2
interactions:
    - id: 0
      request:
        host: oie-00.dne-okta.com
        body: |
            {"credentials":{"password":{"hash":{"algorithm":"SHA-512","salt":"TXlTYWx0","saltOrder":"PREFIX","value":"QrozP8a+KfoHu6mPFysxLoO5LMQsd2Fw6IclZUf8xQjetJOCGS93vm68h+VaFX0LHSiF/GxQkykq1vofmx6NGA==","workFactor":0}}},"profile":{"email":"testAcc-359636473@example.com","firstName":"TestAcc","lastName":"Smith","login":"testAcc-359636473@example.com","postalAddress":null}}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://oie-00.dne-okta.com/api/v1/users?activate=false
        method: POST
      response:
        body: '{"id":"00ukwr7bdn59VmCjr1d7","status":"STAGED","created":"2025-03-13T23:46:01.000Z","activated":null,"statusChanged":"2025-03-13T23:46:01.000Z","lastLogin":null,"lastUpdated":"2025-03-13T23:46:01.000Z","passwordChanged":"2025-03-13T23:46:01.000Z","type":{"id":"oty5qwjvh0Vy1j8Kd1d7"},"profile":{"firstName":"TestAcc","lastName":"Smith","mobilePhone":null,"secondEmail":null,"login":"testAcc-359636473@example.com","email":"testAcc-359636473@example.com"},"credentials":{"password":{},"provider":{"type":"IMPORT","name":"IMPORT"}},"_links":{"schema":{"href":"https://oie-00.dne-okta.com/api/v1/meta/schemas/user/osc5qwjvh0Vy1j8Kd1d7"},"activate":{"href":"https://oie-00.dne-okta.com/api/v1/users/00ukwr7bdn59VmCjr1d7/lifecycle/activate","method":"POST"},"self":{"href":"https://oie-00.dne-okta.com/api/v1/users/00ukwr7bdn59VmCjr1d7"},"type":{"href":"https://oie-00.dne-okta.com/api/v1/meta/types/user/oty5qwjvh0Vy1j8Kd1d7"}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 326.068166ms
    - id: 1
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/users/00ukwr7bdn59VmCjr1d7
        method: GET
      response:
        body: '{"id":"00ukwr7bdn59VmCjr1d7","status":"STAGED","created":"2025-03-13T23:46:01.000Z","activated":null,"statusChanged":"2025-03-13T23:46:01.000Z","lastLogin":null,"lastUpdated":"2025-03-13T23:46:01.000Z","passwordChanged":"2025-03-13T23:46:01.000Z","type":{"id":"oty5qwjvh0Vy1j8Kd1d7"},"profile":{"firstName":"TestAcc","lastName":"Smith","mobilePhone":null,"secondEmail":null,"login":"testAcc-359636473@example.com","email":"testAcc-359636473@example.com"},"credentials":{"password":{},"provider":{"type":"IMPORT","name":"IMPORT"}},"_links":{"schema":{"href":"https://oie-00.dne-okta.com/api/v1/meta/schemas/user/osc5qwjvh0Vy1j8Kd1d7"},"activate":{"href":"https://oie-00.dne-okta.com/api/v1/users/00ukwr7bdn59VmCjr1d7/lifecycle/activate","method":"POST"},"self":{"href":"https://oie-00.dne-okta.com/api/v1/users/00ukwr7bdn59VmCjr1d7"},"type":{"href":"https://oie-00.dne-okta.com/api/v1/meta/types/user/oty5qwjvh0Vy1j8Kd1d7"}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
            Etag:
                - W/"09e4e880e6781043310db3414a03294d419b101b6673a3081c0a5c28fe6038de"
        status: 200 OK
        code: 200
        duration: 277.093667ms
[...]
