---
version: 2
interactions:
    - id: 0
      request:
        host: oie-00.dne-okta.com
        body: |
            {"credentials":{"password":{"hash":{"algorithm":"SHA-512","salt":"TXlTYWx0","saltOrder":"PREFIX","value":"QrozP8a+KfoHu6mPFysxLoO5LMQsd2Fw6IclZUf8xQjetJOCGS93vm68h+VaFX0LHSiF/GxQkykq1vofmx6NGA==","workFactor":0}}},"profile":{"email":"testAcc-359636473@example.com","firstName":"TestAcc","lastName":"Smith","login":"testAcc-359636473@example.com","postalAddress":null}}
        form:
            activate:
                - "false"
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://oie-00.dne-okta.com/api/v1/users?activate=false
        method: POST
      response:
        body: '{"id":"00uvozp1zxa3B0zY51d7","status":"STAGED","created":"2026-03-02T12:46:43.000Z","activated":null,"statusChanged":"2026-03-02T12:46:44.000Z","lastLogin":null,"lastUpdated":"2026-03-02T12:46:43.000Z","passwordChanged":"2026-03-02T12:46:44.000Z","realmId":"guotivlj45ZSJtnfF1d7","type":{"id":"otytivnus5k8rPk4X1d7"},"profile":{"firstName":"TestAcc","lastName":"Smith","mobilePhone":null,"secondEmail":null,"login":"testAcc-359636473@example.com","email":"testAcc-359636473@example.com"},"credentials":{"password":{},"provider":{"type":"IMPORT","name":"IMPORT"}},"_links":{"schema":{"href":"https://oie-00.dne-okta.com/api/v1/meta/schemas/user/osctivnus5k8rPk4X1d7"},"activate":{"href":"https://oie-00.dne-okta.com/api/v1/users/00uvozp1zxa3B0zY51d7/lifecycle/activate","method":"POST"},"self":{"href":"https://oie-00.dne-okta.com/api/v1/users/00uvozp1zxa3B0zY51d7"},"resetFactors":{"href":"https://oie-00.dne-okta.com/api/v1/users/00uvozp1zxa3B0zY51d7/lifecycle/reset_factors","method":"POST"},"type":{"href":"https://oie-00.dne-okta.com/api/v1/meta/types/user/otytivnus5k8rPk4X1d7"}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.553258709s
    - id: 1
      request:
        host: oie-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/users/00uvozp1zxa3B0zY51d7
        method: GET
      response:
        body: '{"id":"00uvozp1zxa3B0zY51d7","status":"STAGED","created":"2026-03-02T12:46:43.000Z","activated":null,"statusChanged":"2026-03-02T12:46:44.000Z","lastLogin":null,"lastUpdated":"2026-03-02T12:46:43.000Z","passwordChanged":"2026-03-02T12:46:44.000Z","realmId":"guotivlj45ZSJtnfF1d7","type":{"id":"otytivnus5k8rPk4X1d7"},"profile":{"firstName":"TestAcc","lastName":"Smith","mobilePhone":null,"secondEmail":null,"login":"testAcc-359636473@example.com","email":"testAcc-359636473@example.com"},"credentials":{"password":{},"provider":{"type":"IMPORT","name":"IMPORT"}},"_links":{"schema":{"href":"https://oie-00.dne-okta.com/api/v1/meta/schemas/user/osctivnus5k8rPk4X1d7"},"activate":{"href":"https://oie-00.dne-okta.com/api/v1/users/00uvozp1zxa3B0zY51d7/lifecycle/activate","method":"POST"},"self":{"href":"https://oie-00.dne-okta.com/api/v1/users/00uvozp1zxa3B0zY51d7"},"resetFactors":{"href":"https://oie-00.dne-okta.com/api/v1/users/00uvozp1zxa3B0zY51d7/lifecycle/reset_factors","method":"POST"},"type":{"href":"https://oie-00.dne-okta.com/api/v1/meta/types/user/otytivnus5k8rPk4X1d7"}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
            Etag:
                - W/"861b064a70337d37b141eb9214759370c570b1284f83f6769246f30c61e1c620"
        status: 200 OK
        code: 200
        duration: 1.238635584s
[...]
