---
version: 2
interactions:
    - id: 0
      request:
        host: classic-00.dne-okta.com
        body: |
            {"profile":{"name":"testAcc-436654283","description":"A Group"}}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://classic-00.dne-okta.com/api/v1/groups
        method: POST
      response:
        body: '{"id":"00g9i77qvkfsh2hv61d7","created":"2023-08-15T23:54:19.000Z","lastUpdated":"2023-08-15T23:54:19.000Z","lastMembershipUpdated":"2023-08-15T23:54:19.000Z","objectClass":["okta:user_group"],"type":"OKTA_GROUP","profile":{"name":"testAcc-436654283","description":"A Group"},"_links":{"logo":[{"name":"medium","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-medium.30ce6d4085dff29412984e4c191bc874.png","type":"image/png"},{"name":"large","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-large.c3cb8cda8ae0add1b4fe928f5844dbe3.png","type":"image/png"}],"users":{"href":"https://classic-00.oktapreview.com/api/v1/groups/00g9i77qvkfsh2hv61d7/users"},"apps":{"href":"https://classic-00.oktapreview.com/api/v1/groups/00g9i77qvkfsh2hv61d7/apps"}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 138.951603ms
    - id: 1
      request:
        host: classic-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/groups/00g9i77qvkfsh2hv61d7
        method: GET
      response:
        body: '{"id":"00g9i77qvkfsh2hv61d7","created":"2023-08-15T23:54:19.000Z","lastUpdated":"2023-08-15T23:54:19.000Z","lastMembershipUpdated":"2023-08-15T23:54:19.000Z","objectClass":["okta:user_group"],"type":"OKTA_GROUP","profile":{"name":"testAcc-436654283","description":"A Group"},"_links":{"logo":[{"name":"medium","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-medium.30ce6d4085dff29412984e4c191bc874.png","type":"image/png"},{"name":"large","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-large.c3cb8cda8ae0add1b4fe928f5844dbe3.png","type":"image/png"}],"users":{"href":"https://classic-00.oktapreview.com/api/v1/groups/00g9i77qvkfsh2hv61d7/users"},"apps":{"href":"https://classic-00.oktapreview.com/api/v1/groups/00g9i77qvkfsh2hv61d7/apps"}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 75.583803ms
[...]
    - id: 3
      request:
        host: classic-00.dne-okta.com
        body: |
            {"credentials":{"password":{}},"profile":{"email":"testAcc-436654283@example.com","firstName":"TestAcc","lastName":"Smith","login":"testAcc-436654283@example.com","postalAddress":null}}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://classic-00.dne-okta.com/api/v1/users
        method: POST
      response:
        body: '{"id":"00u9i76irw3jA0JKr1d7","status":"PROVISIONED","created":"2023-08-15T23:54:19.000Z","activated":"2023-08-15T23:54:19.000Z","statusChanged":"2023-08-15T23:54:19.000Z","lastLogin":null,"lastUpdated":"2023-08-15T23:54:19.000Z","passwordChanged":null,"type":{"id":"oty5ptm052JMcoADv1d7"},"profile":{"firstName":"TestAcc","lastName":"Smith","mobilePhone":null,"secondEmail":null,"login":"testAcc-436654283@example.com","email":"testAcc-436654283@example.com"},"credentials":{"provider":{"type":"OKTA","name":"OKTA"}},"_links":{"suspend":{"href":"https://classic-00.oktapreview.com/api/v1/users/00u9i76irw3jA0JKr1d7/lifecycle/suspend","method":"POST"},"schema":{"href":"https://classic-00.oktapreview.com/api/v1/meta/schemas/user/osc5ptm052JMcoADv1d7"},"resetPassword":{"href":"https://classic-00.oktapreview.com/api/v1/users/00u9i76irw3jA0JKr1d7/lifecycle/reset_password","method":"POST"},"reactivate":{"href":"https://classic-00.oktapreview.com/api/v1/users/00u9i76irw3jA0JKr1d7/lifecycle/reactivate","method":"POST"},"self":{"href":"https://classic-00.oktapreview.com/api/v1/users/00u9i76irw3jA0JKr1d7"},"type":{"href":"https://classic-00.oktapreview.com/api/v1/meta/types/user/oty5ptm052JMcoADv1d7"},"deactivate":{"href":"https://classic-00.oktapreview.com/api/v1/users/00u9i76irw3jA0JKr1d7/lifecycle/deactivate","method":"POST"}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 320.527038ms
    - id: 4
      request:
        host: classic-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/users/00u9i76irw3jA0JKr1d7
        method: GET
      response:
        body: '{"id":"00u9i76irw3jA0JKr1d7","status":"PROVISIONED","created":"2023-08-15T23:54:19.000Z","activated":"2023-08-15T23:54:19.000Z","statusChanged":"2023-08-15T23:54:19.000Z","lastLogin":null,"lastUp[...]
    - id: 5
      request:
        host: classic-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/groups/00g9i77qvkfsh2hv61d7/users/00u9i76irw3jA0JKr1d7
        method: PUT
      response:
        body: ""
        headers:
        status: 204 No Content
        code: 204
        duration: 81.211003ms
    - id: 6
      request:
        host: classic-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/users/00u9i76irw3jA0JKr1d7/groups
        method: GET
      response:
        body: '[{"id":"00g5ptm04tzNvyznP1d7","created":"2022-10-04T23:20:18.000Z","lastUpdated":"2022-10-04T23:20:18.000Z","lastMembershipUpdated":"2023-08-15T23:54:15.000Z","objectClass":["okta:user_gro[...]
    - id: 7
      request:
        host: classic-00.dne-okta.com
        body: |
            {"type":"SUPER_ADMIN"}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://classic-00.dne-okta.com/api/v1/users/00u9i76irw3jA0JKr1d7/roles?disableNotifications=false
        method: POST
      response:
        body: '{"id":"ra19i7gb3qnovteiI1d7","label":"Super Administrator","type":"SUPER_ADMIN","status":"ACTIVE","created":"2023-08-15T23:54:20.000Z","lastUpdated":"2023-08-15T23:54:20.000Z","assignmentType":"USER","_links":{"assignee":{"href":"https://classic-00.oktapreview.com/api/v1/users/00u9i76irw3jA0JKr1d7"}}}'
        headers:
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 189.28982ms
[...]
    - id: 10
      request:
        host: classic-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/users/00u9i76irw3jA0JKr1d7/roles
        method: GET
      response:
        body: '[{"id":"IFIFAX2BIRGUSTQ","label":"Application Administrator","type":"APP_ADMIN","status":"ACTIVE","created":"2023-08-15T23:54:20.000Z","lastUpdated":"2023-08-15T23:54:20.000Z","assignmentType":"USER","_links":{"assignee":{"href":"https://classic-00.oktapreview.com/api/v1/users/00u9i76irw3jA0JKr1d7"}}},{"id":"ra19i7gb3qnovteiI1d7","label":"Super Administrator","type":"SUPER_ADMIN","status":"ACTIVE","created":"2023-08-15T23:54:20.000Z","lastUpdated":"2023-08-15T23:54:20.000Z","assignmentType":"USER","_links":{"assignee":{"href":"https://classic-00.oktapreview.com/api/v1/users/00u9i76irw3jA0JKr1d7"}}}]'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 61.921354ms
[...]
    - id: 31
      request:
        host: classic-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/users/00u9i76irw3jA0JKr1d7/roles/IFIFAX2BIRGUSTQ
        method: DELETE
      response:
        body: ""
        headers:
        status: 204 No Content
        code: 204
        duration: 96.516817ms
[...]
    - id: 33
      request:
        host: classic-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/users/00u9i76irw3jA0JKr1d7/roles/ra19i7gb3qnovteiI1d7
        method: DELETE
      response:
        body: ""
        headers:
        status: 204 No Content
        code: 204
        duration: 392.210578ms
[...]
