---
version: 2
interactions:
    - id: 0
      request:
        host: classic-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/org/factors/okta_question
        method: GET
      response:
        body: '{"id":"okta_question","provider":"OKTA","factorType":"question","status":"INACTIVE","_links":{"activate":{"href":"https://classic-00.oktapreview.com/api/v1/org/factors/okta_question/lifecycle/activate","hints":{"allow":["POST"]}},"self":{"href":"https://classic-00.oktapreview.com/api/v1/org/factors/okta_question","hints":{"allow":["GET"]}}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 147.961945ms
    - id: 1
      request:
        host: classic-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/org/factors/okta_question/lifecycle/activate
        method: POST
      response:
        body: '{"id":"okta_question","provider":"OKTA","factorType":"question","status":"ACTIVE","_links":{"self":{"href":"https://classic-00.oktapreview.com/api/v1/org/factors/okta_question","hints":{"allow":["GET"]}},"deactivate":{"href":"https://classic-00.oktapreview.com/api/v1/org/factors/okta_question/lifecycle/deactivate","hints":{"allow":["POST"]}}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 109.306729ms
[...]
    - id: 3
      request:
        host: classic-00.dne-okta.com
        body: |
            {"credentials":{"password":{}},"profile":{"email":"john_1397128368@ledzeppelin.com","firstName":"TestAcc","lastName":"Jones","login":"john_1397128368@ledzeppelin.com","postalAddress":null}}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://classic-00.dne-okta.com/api/v1/users
        method: POST
      response:
        body: '{"id":"00u9i7jlw9zjs4cXI1d7","status":"PROVISIONED","created":"2023-08-16T00:08:29.000Z","activated":"2023-08-16T00:08:30.000Z","statusChanged":"2023-08-16T00:08:30.000Z","lastLogin":null,"lastUpdated":"2023-08-16T00:08:30.000Z","passwordChanged":null,"type":{"id":"oty5ptm052JMcoADv1d7"},"profile":{"firstName":"TestAcc","lastName":"Jones","mobilePhone":null,"secondEmail":null,"login":"john_1397128368@ledzeppelin.com","email":"john_1397128368@ledzeppelin.com"},"credentials":{"provider":{"type":"OKTA","name":"OKTA"}},"_links":{"suspend":{"href":"https://classic-00.oktapreview.com/api/v1/users/00u9i7jlw9zjs4cXI1d7/lifecycle/suspend","method":"POST"},"schema":{"href":"https://classic-00.oktapreview.com/api/v1/meta/schemas/user/osc5ptm052JMcoADv1d7"},"resetPassword":{"href":"https://classic-00.oktapreview.com/api/v1/users/00u9i7jlw9zjs4cXI1d7/lifecycle/reset_password","method":"POST"},"reactivate":{"href":"https://classic-00.oktapreview.com/api/v1/users/00u9i7jlw9zjs4cXI1d7/lifecycle/reactivate","method":"POST"},"self":{"href":"https://classic-00.oktapreview.com/api/v1/users/00u9i7jlw9zjs4cXI1d7"},"type":{"href":"https://classic-00.oktapreview.com/api/v1/meta/types/user/oty5ptm052JMcoADv1d7"},"deactivate":{"href":"https://classic-00.oktapreview.com/api/v1/users/00u9i7jlw9zjs4cXI1d7/lifecycle/deactivate","method":"POST"}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 383.663486ms
    - id: 4
      request:
        host: classic-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/users/00u9i7jlw9zjs4cXI1d7
        method: GET
      response:
        body: '{"id":"00u9i7jlw9zjs4cXI1d7","status":"PROVISIONED","created":"2023-08-16T00:08:29.000Z","activated":"2023-08-16T00:08:30.000Z","statusChanged":"2023-08-16T00:08:30.000Z","lastLogin":null,"lastUp[...]
    - id: 5
      request:
        host: classic-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/users/00u9i7jlw9zjs4cXI1d7/factors/questions
        method: GET
      response:
        body: '[{"question":"disliked_food","questionText":"What is the food you least liked as a child?"},{"question":"name_of_first_plush_toy","questionText":"What is the name of your first stuffed animal?"},{"question":"first_award","questionText":"What did you earn your first medal or award for?"},{"question":"favorite_security_question","questionText":"What is your favorite security question?"},{"question":"favorite_toy","questionText":"What is the toy/stuffed animal you liked the most as a kid?"},{"question":"first_computer_game","questionText":"W[...]
    - id: 6
      request:
        host: classic-00.dne-okta.com
        body: |
            {"factorType":"question","provider":"OKTA","profile":{"answer":"meatball","question":"disliked_food"}}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://classic-00.dne-okta.com/api/v1/users/00u9i7jlw9zjs4cXI1d7/factors
        method: POST
      response:
        body: '{"id":"ufs9i7kpheFgpsi8E1d7","factorType":"question","provider":"OKTA","vendorName":"OKTA","status":"ACTIVE","created":"2023-08-16T00:08:30.000Z","lastUpdated":"2023-08-16T00:08:30.000Z","profile":{"question":"disliked_food","questionText":"What is the food you least liked as a child?"},"_links":{"questions":{"href":"https://classic-00.oktapreview.com/api/v1/users/00u9i7jlw9zjs4cXI1d7/factors/questions","hints":{"allow":["GET"]}},"self":{"href":"https://classic-00.oktapreview.com/api/v1/users/00u9i7jlw9zjs4cXI1d7/factors/ufs9i7kpheFgpsi8E1d7","hints":{"allow":["GET","DELETE"]}},"user":{"href":"https://classic-00.oktapreview.com/api/v1/users/00u9i7jlw9zjs4cXI1d7","hints":{"allow":["GET"]}}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 514.729385ms
    - id: 7
      request:
        host: classic-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/users/00u9i7jlw9zjs4cXI1d7/factors/ufs9i7kpheFgpsi8E1d7
        method: GET
      response:
        body: '{"id":"ufs9i7kpheFgpsi8E1d7","factorType":"question","provider":"OKTA","vendorName":"OKTA","status":"ACTIVE","created":"2023-08-16T00:08:30.000Z","lastUpdated":"2023-08-16T00:08:30.000Z","profile":{"question":"disliked_food","questionText":"What is the food you least liked as a child?"},"_links":{"questions":{"href":"https://classic-00.oktapreview.com/api/v1/users/00u9i7jlw9zjs4cXI1d7/factors/questions","hints":{"allow":["GET"]}},"self":{"href":"https://classic-00.oktapreview.com/api/v1/users/00u9i7jlw9zjs4cXI1d7/factors/ufs9i7kpheFgpsi8E1d7","hints":{"allow":["GET","DELETE"]}},"user":{"href":"https://classic-00.oktapreview.com/api/v1/users/00u9i7jlw9zjs4cXI1d7","hints":{"allow":["GET"]}}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 92.247308ms
[...]
    - id: 9
      request:
        host: classic-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/users/00u9i7jlw9zjs4cXI1d7
        method: GET
      response:
        body: '{"id":"00u9i7jlw9zjs4cXI1d7","status":"PROVISIONED","created":"2023-08-16T00:08:29.000Z","activated":"2023-08-16T00:08:30.000Z","statusChanged":"2023-08-16T00:08:30.000Z","lastLogin":null,"lastUpdated":"2023-08-16T00:08:30.000Z","passwordChanged":null,"type":{"id":"oty5ptm052JMcoADv1d7"},"profile":{"firstName":"TestAcc","lastName":"Jones","mobilePhone":null,"secondEmail":null,"login":"john_1397128368@ledzeppelin.com","email":"john_1397128368@ledzeppelin.com"},"credentials":{"provider":{"type":"OKTA","name":"OKTA"}},"_links":{"suspend":{"href":"https://classic-00.oktapreview.com/api/v1/users/00u9i7jlw9zjs4cXI1d7/lifecycle/suspend","method":"POST"},"schema":{"href":"https://classic-00.oktapreview.com/api/v1/meta/schemas/user/osc5ptm052JMcoADv1d7"},"resetPassword":{"href":"https://classic-00.oktapreview.com/api/v1/users/00u9i7jlw9zjs4cXI1d7/lifecycle/reset_password","method":"POST"},"reactivate":{"href":"https://classic-00.oktapreview.com/api/v1/users/00u9i7jlw9zjs4cXI1d7/lifecycle/reactivate","method":"POST"},"self":{"href":"https://classic-00.oktapreview.com/api/v1/users/00u9i7jlw9zjs4cXI1d7"},"resetFactors":{"href":"https://classic-00.oktapreview.com/api/v1/users/00u9i7jlw9zjs4cXI1d7/lifecycle/reset_factors","method":"POST"},"type":{"href":"https://classic-00.oktapreview.com/api/v1/meta/types/user/oty5ptm052JMcoADv1d7"},"deactivate":{"href":"https://classic-00.oktapreview.com/api/v1/users/00u9i7jlw9zjs4cXI1d7/lifecycle/deactivate","method":"POST"}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 92.481925ms
[...]
    - id: 21
      request:
        host: classic-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/org/factors/okta_question/lifecycle/deactivate
        method: POST
      response:
        body: '{"id":"okta_question","provider":"OKTA","factorType":"question","status":"INACTIVE","_links":{"activate":{"href":"https://classic-00.oktapreview.com/api/v1/org/factors/okta_question/lifecycle/activate","hints":{"allow":["POST"]}},"self":{"href":"https://classic-00.oktapreview.com/api/v1/org/factors/okta_question","hints":{"allow":["GET"]}}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 96.055797ms
[...]
    - id: 24
      request:
        host: classic-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/users/00u9i7jlw9zjs4cXI1d7/factors/ufs9i7kpheFgpsi8E1d7
        method: GET
      response:
        body: '{"errorCode":"E0000007","errorSummary":"Not found: Resource not found: 00u9i7jlw9zjs4cXI1d7 (User)","errorLink":"E0000007","errorId":"oaeQptllQ5NTdqwuHXhOG9acg","errorCauses":[]}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 64.929171ms
