---
version: 2
interactions:
    - id: 0
      request:
        host: classic-00.dne-okta.com
        body: |
            {"credentials":{"password":{"hash":{"algorithm":"SHA-512","salt":"TXlTYWx0","saltOrder":"PREFIX","value":"QrozP8a+KfoHu6mPFysxLoO5LMQsd2Fw6IclZUf8xQjetJOCGS93vm68h+VaFX0LHSiF/GxQkykq1vofmx6NGA==","workFactor":0}}},"profile":{"email":"testAcc-2660755468@example.com","firstName":"TestAcc","lastName":"Smith","login":"testAcc-2660755468@example.com","postalAddress":null}}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://classic-00.dne-okta.com/api/v1/users?activate=false
        method: POST
      response:
        body: '{"id":"00u9i7jly4Uu79pYu1d7","status":"STAGED","created":"2023-08-16T00:09:12.000Z","activated":null,"statusChanged":null,"lastLogin":null,"lastUpdated":"2023-08-16T00:09:12.000Z","passwordChanged":"2023-08-16T00:09:12.000Z","type":{"id":"oty5ptm052JMcoADv1d7"},"profile":{"firstName":"TestAcc","lastName":"Smith","mobilePhone":null,"secondEmail":null,"login":"testAcc-2660755468@example.com","email":"testAcc-2660755468@example.com"},"credentials":{"password":{},"provider":{"type":"IMPORT","name":"IMPORT"}},"_links":{"schema":{"href":"https://classic-00.oktapreview.com/api/v1/meta/schemas/user/osc5ptm052JMcoADv1d7"},"activate":{"href":"https://classic-00.oktapreview.com/api/v1/users/00u9i7jly4Uu79pYu1d7/lifecycle/activate","method":"POST"},"self":{"href":"https://classic-00.oktapreview.com/api/v1/users/00u9i7jly4Uu79pYu1d7"},"type":{"href":"https://classic-00.oktapreview.com/api/v1/meta/types/user/oty5ptm052JMcoADv1d7"}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 242.32106ms
    - id: 1
      request:
        host: classic-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/users/00u9i7jly4Uu79pYu1d7
        method: GET
      response:
        body: '{"id":"00u9i7jly4Uu79pYu1d7","status":"STAGED","created":"2023-08-16T00:09:12.000Z","activated":null,"statusChanged":null,"lastLogin":null,"lastUpdated":"2023-08-16T00:09:12.000Z","passwordChanged":"2023-08-16T00:09:12.000Z","type":{"id":"oty5ptm052JMcoADv1d7"},"profile":{"firstName":"TestAcc","lastName":"Smith","mobilePhone":null,"secondEmail":null,"login":"testAcc-2660755468@example.com","email":"testAcc-2660755468@example.com"},"credentials":{"password":{},"provider":{"type":"IMPORT","name":"IMPORT"}},"_links":{"schema":{"href":"https://classic-00.oktapreview.com/api/v1/meta/schemas/user/osc5ptm052JMcoADv1d7"},"activate":{"href":"https://classic-00.oktapreview.com/api/v1/users/00u9i7jly4Uu79pYu1d7/lifecycle/activate","method":"POST"},"self":{"href":"https://classic-00.oktapreview.com/api/v1/users/00u9i7jly4Uu79pYu1d7"},"type":{"href":"https://classic-00.oktapreview.com/api/v1/meta/types/user/oty5ptm052JMcoADv1d7"}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 85.256998ms
[...]
    - id: 9
      request:
        host: classic-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/users/00u9i7jly4Uu79pYu1d7
        method: GET
      response:
        body: '{"errorCode":"E0000007","errorSummary":"Not found: Resource not found: 00u9i7jly4Uu79pYu1d7 (User)","errorLink":"E0000007","errorId":"oaem42GBDHXTV-AiDb4-HGPHA","errorCauses":[]}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 56.934345ms
