---
version: 2
interactions:
    - id: 0
      request:
        host: oie-00.dne-okta.com
        body: |
            {"credentials":{"password":{"hash":{"algorithm":"SHA-512","salt":"TXlTYWx0","saltOrder":"PREFIX","value":"QrozP8a+KfoHu6mPFysxLoO5LMQsd2Fw6IclZUf8xQjetJOCGS93vm68h+VaFX0LHSiF/GxQkykq1vofmx6NGA==","workFactor":0}}},"profile":{"email":"testAcc-2660755468@example.com","firstName":"TestAcc","lastName":"Smith","login":"testAcc-2660755468@example.com","postalAddress":null}}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://oie-00.dne-okta.com/api/v1/users?activate=false
        method: POST
      response:
        body: '{"id":"00u9i74j7v5peSVbX1d7","status":"STAGED","created":"2023-08-15T23:49:19.000Z","activated":null,"statusChanged":"2023-08-15T23:49:19.000Z","lastLogin":null,"lastUpdated":"2023-08-15T23:49:19.000Z","passwordChanged":"2023-08-15T23:49:19.000Z","type":{"id":"oty5qwjvh0Vy1j8Kd1d7"},"profile":{"firstName":"TestAcc","lastName":"Smith","mobilePhone":null,"secondEmail":null,"login":"testAcc-2660755468@example.com","email":"testAcc-2660755468@example.com"},"credentials":{"password":{},"provider":{"type":"IMPORT","name":"IMPORT"}},"_links":{"schema":{"href":"https://oie-00.oktapreview.com/api/v1/meta/schemas/user/osc5qwjvh0Vy1j8Kd1d7"},"activate":{"href":"https://oie-00.oktapreview.com/api/v1/users/00u9i74j7v5peSVbX1d7/lifecycle/activate","method":"POST"},"self":{"href":"https://oie-00.oktapreview.com/api/v1/users/00u9i74j7v5peSVbX1d7"},"resetFactors":{"href":"https://oie-00.oktapreview.com/api/v1/users/00u9i74j7v5peSVbX1d7/lifecycle/reset_factors","method":"POST"},"type":{"href":"https://oie-00.oktapreview.com/api/v1/meta/types/user/oty5qwjvh0Vy1j8Kd1d7"}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 294.088916ms
    - id: 1
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/users/00u9i74j7v5peSVbX1d7
        method: GET
      response:
        body: '{"id":"00u9i74j7v5peSVbX1d7","status":"STAGED","created":"2023-08-15T23:49:19.000Z","activated":null,"statusChanged":"2023-08-15T23:49:19.000Z","lastLogin":null,"lastUpdated":"2023-08-15T23:49:19.000Z","[...]
[...]
    - id: 9
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/users/00u9i74j7v5peSVbX1d7
        method: GET
      response:
        body: '{"errorCode":"E0000007","errorSummary":"Not found: Resource not found: 00u9i74j7v5peSVbX1d7 (User)","errorLink":"E0000007","errorId":"oaexZjGjkwfSUWbQ-eVIZHpXQ","errorCauses":[]}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 76.926294ms
