---
version: 2
interactions:
    - id: 0
      request:
        host: oie-00.dne-okta.com
        body: |
            {"profile":{"name":"testAcc_2385331628_group","description":"Test group for data source testing"}}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://oie-00.dne-okta.com/api/v1/groups
        method: POST
      response:
        body: '{"id":"00gtgy7zryK9LaQ22697","created":"2025-07-22T14:28:25.000Z","lastUpdated":"2025-07-22T14:28:25.000Z","lastMembershipUpdated":"2025-07-22T14:28:25.000Z","objectClass":["okta:user_group"],"type":"OKTA_GROUP","profile":{"name":"testAcc_2385331628_group","description":"Test group for data source testing"},"_links":{"logo":[{"name":"medium","href":"https://ok14static.oktacdn.com/assets/img/logos/groups/odyssey/okta-medium.30ce6d4085dff29412984e4c191bc874.png","type":"image/png"},{"name":"large","href":"https://ok14static.oktacdn.com/assets/img/logos/groups/odyssey/okta-large.c3cb8cda8ae0add1b4fe928f5844dbe3.png","type":"image/png"}],"users":{"href":"https://oie-00.dne-okta.com/api/v1/groups/00gtgy7zryK9LaQ22697/users"},"apps":{"href":"https://oie-00.dne-okta.com/api/v1/groups/00gtgy7zryK9LaQ22697/apps"}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 857.766958ms
    - id: 1
      request:
        host: oie-00.dne-okta.com
        body: |
            {"accessibility":{"selfService":false},"credentials":{"userNameTemplate":{"template":"${source.login}","type":"BUILT_IN"},"oauthClient":{"autoKeyRotation":true,"pkce_required":false,"token_endpoint_auth_method":"client_secret_basic"}},"label":"testAcc_2385331628_app","name":"oidc_client","settings":{"app":{},"implicitAssignment":false,"notes":{"admin":null,"enduser":null},"oauthClient":{"application_type":"web","consent_method":"TRUSTED","grant_types":["authorization_code"],"idp_initiated_login":{"default_scope":[],"mode":"DISABLED"},"issuer_mode":"ORG_URL","redirect_uris":["http://d.com/"],"response_types":["code"],"wildcard_redirect":"DISABLED"}},"signOnMode":"OPENID_CONNECT","visibility":{"autoSubmitToolbar":false,"hide":{"iOS":true,"web":true}}}
        form:
            activate:
                - "true"
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://oie-00.dne-okta.com/api/v1/apps?activate=true
        method: POST
      response:
        body: '{"id":"0oatgy5ttv3g4BK9X697","orn":"orn:okta:idp:00osd501x0KyUtOul697:apps:oidc_client:0oatgy5ttv3g4BK9X697","name":"oidc_client","label":"testAcc_2385331628_app","status":"ACTIVE","lastUpdated":"2025-07-22T14:28:26.000Z","created":"2025-07-22T14:28:26.000Z","accessibility":{"selfService":false,"errorRedirectUrl":null,"loginRedirectUrl":null},"visibility":{"autoLaunch":false,"autoSubmitToolbar":false,"hide":{"iOS":true,"web":true},"appLinks":{"oidc_client_link":true}},"features":[],"signOnMode":"OPENID_CONNECT","credentials":{"userNameTemplate":{"template":"${source.login}","type":"BUILT_IN"},"signing":{"kid":"EByxJjNUZhat2djCEjTepjBA4jWl48VkZssYvA9uVxI"},"oauthClient":{"autoKeyRotation":true,"client_id":"0oatgy5ttv3g4BK9X697","client_secret":"T3iQ6v_mHV8RjRVD5jnEJzVsnDykJjfRK1Aufqi_5tyPx9egZRIjxlCQjTdTRW8J","token_endpoint_auth_method":"client_secret_basic","pkce_required":false}},"universalLogout":null,"settings":{"app":{},"notifications":{"vpn":{"network":{"connection":"DISABLED"},"message":null,"helpUrl":null}},"manualProvisioning":false,"implicitAssignment":false,"emOptInStatus":"NONE","notes":{"admin":null,"enduser":null},"oauthClient":{"client_uri":null,"logo_uri":null,"redirect_uris":["http://d.com/"],"response_types":["code"],"grant_types":["authorization_code"],"application_type":"web","consent_method":"TRUSTED","issuer_mode":"ORG_URL","idp_initiated_login":{"mode":"DISABLED","default_scope":[]},"wildcard_redirect":"DISABLED","dpop_bound_access_tokens":false,"participate_slo":false}},"_links":{"uploadLogo":{"href":"https://oie-00.dne-okta.com/api/v1/apps/0oatgy5ttv3g4BK9X697/logo","hints":{"allow":["POST"]}},"appLinks":[{"name":"oidc_client_link","href":"https://oie-00.dne-okta.com/home/oidc_client/0oatgy5ttv3g4BK9X697/aln177a159h7Zf52X0g8","type":"text/html"}],"profileEnrollment":{"href":"https://oie-00.dne-okta.com/api/v1/policies/rstsd5022rAok3aFp697"},"policies":{"href":"https://oie-00.dne-okta.com/api/v1/apps/0oatgy5ttv3g4BK9X697/policies","hints":{"allow":["PUT"]}},"groups":{"href":"https://oie-00.dne-okta.com/api/v1/apps/0oatgy5ttv3g4BK9X697/groups"},"logo":[{"name":"medium","href":"https://ok14static.oktacdn.com/assets/img/logos/default.6770228fb0dab49a1695ef440a5279bb.png","type":"image/png"}],"clientCredentials":[{"name":"secrets","href":"https://oie-00.dne-okta.com/api/v1/apps/0oatgy5ttv3g4BK9X697/credentials/secrets"}],"accessPolicy":{"href":"https://oie-00.dne-okta.com/api/v1/policies/rstsd5022pPoMSA4q697"},"users":{"href":"https://oie-00.dne-okta.com/api/v1/apps/0oatgy5ttv3g4BK9X697/users"},"deactivate":{"href":"https://oie-00.dne-okta.com/api/v1/apps/0oatgy5ttv3g4BK9X697/lifecycle/deactivate"}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.3165725s
    - id: 2
      request:
        host: oie-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/groups/00gtgy7zryK9LaQ22697
        method: GET
      response:
        body: '{"id":"00gtgy7zryK9LaQ22697","created":"2025-07-22T14:28:25.000Z","lastUpdated":"2025-07-22T14:28:25.000Z","lastMembershipUpdated":"2025-07-22T14:28:25.000Z","objectClass":["okta:user_group"],"type":"OKTA_GROUP","profile":{"name":"testAcc_2385331628_group","description":"Test group for data source testing"},"_links":{"logo":[{"name":"medium","href":"https://ok14static.oktacdn.com/assets/img/logos/groups/odyssey/okta-medium.30ce6d4085dff29412984e4c191bc874.png","type":"image/png"},{"name":"large","href":"https://ok14static.oktacdn.com/assets/img/logos/groups/odyssey/okta-large.c3cb8cda8ae0add1b4fe928f5844dbe3.png","type":"image/png"}],"users":{"href":"https://oie-00.dne-okta.com/api/v1/groups/00gtgy7zryK9LaQ22697/users"},"apps":{"href":"https://oie-00.dne-okta.com/api/v1/groups/00gtgy7zryK9LaQ22697/apps"}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 676.365166ms
    - id: 3
      request:
        host: oie-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/.well-known/okta-organization
        method: GET
      response:
        body: '{"id":"00osd501x0KyUtOul697","cell":"ok14","_links":{"organization":{"href":"https://oie-00.dne-okta.com"}},"pipeline":"idx","settings":{"analyticsCollectionEnabled":true,"bugReportingEnabled":true,"omEnabled":false,"pssoEnabled":false,"desktopMFAEnabled":false,"itpEnabled":true}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 655.139584ms
[...]
    - id: 5
      request:
        host: oie-00.dne-okta.com
        form:
            type:
                - ACCESS_POLICY
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/policies?type=ACCESS_POLICY
        method: GET
      response:
        body: '[{"id":"rstsd5021voj5gb73697","status":"ACTIVE","name":"Okta Admin Console","priority":1,"system":false,"conditions":null,"created":"2025-06-16T00:28:16.000Z","lastUpdated":"2025-06-16T00:28:16.000Z","_links":{"mappings":{"href":"https://oie-00.dne-okta.com/api/v1/policies/rstsd5021voj5gb73697/mappings","hints":{"allow":["GET","POST"]}},"self":{"href":"https://oie-00.dne-okta.com/api/v1/policies/rstsd5021voj5gb73697","hints":{"allow":["GET","PUT","DELETE"]}},"rules":{"href":"https://oie-00.dne-okta.com/api/v1/policies/rstsd5021voj5gb73697/rules","hints":{"allow":["GET","POST"]}},"deactivate":{"href":"https://oie-00.dne-okta.com/api/v1/policies/rstsd5021voj5gb73697/lifecycle/deactivate","hints":{"allow":["POST"]}}},"_embedded":{"resourceType":"APP"},"type":"ACCESS_POLICY"},{"id":"rstsd50222gqdCXKi697","status":"ACTIVE","name":"Okta Dashboard","priority":1,"system":false,"conditions":null,"created":"2025-06-16T00:28:16.000Z","lastUpdated":"2025-06-16T00:28:16.000Z","_links":{"mappings":{"href":"https://oie-00.dne-okta.com/api/v1/policies/rstsd50222gqdCXKi697/mappings","hints":{"allow":["GET","POST"]}},"self":{"href":"https://oie-00.dne-okta.com/api/v1/policies/rstsd50222gqdCXKi697","hints":{"allow":["GET","PUT","DELETE"]}},"rules":{"h[...]
    - id: 6
      request:
        host: oie-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/apps/0oatgy5ttv3g4BK9X697/policies/rstsd5022pPoMSA4q697
        method: PUT
      response:
        body: ""
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
        status: 204 No Content
        code: 204
        duration: 744.591292ms
    - id: 7
      request:
        host: oie-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/apps/0oatgy5ttv3g4BK9X697
        method: GET
      response:
        body: '{"id":"0oatgy5ttv3g4BK9X697","orn":"orn:okta:idp:00osd501x0KyUtOul697:apps:oidc_client:0oatgy5ttv3g4BK9X697","name":"oidc_client","label":"testAcc_2385331628_app","status":"ACTIVE","lastUpdated":"2025-07-22T14:28:26.000Z","created":"2025-[...]
    - id: 8
      request:
        host: oie-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/internal/apps/0oatgy5ttv3g4BK9X697/settings/oauth/idToken
        method: GET
      response:
        body: '{"issuer":"https://oie-00.dne-okta.com","orgUrl":null,"customUrl":null,"audience":"0oatgy5ttv3g4BK9X697","issuerMode":"ORG_URL"}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 655.00175ms
    - id: 9
      request:
        host: oie-00.dne-okta.com
        body: |
            {"label":"testAcc_2385331628","description":"A test resource set with valid API references","resources":["https://oie-00.dne-okta.com/api/v1/groups/00gtgy7zryK9LaQ22697","https://oie-00.dne-okta.com/api/v1/apps/0oatgy5ttv3g4BK9X697"]}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://oie-00.dne-okta.com/api/v1/iam/resource-sets
        method: POST
      response:
        body: '{"id":"iamtgya718dVyFrsI697","label":"testAcc_2385331628","description":"A test resource set with valid API references","created":"2025-07-22T14:28:30.000Z","lastUpdated":"2025-07-22T14:28:30.000Z","_links":{"bindings":{"href":"https://oie-00.dne-okta.com/api/v1/iam/resource-sets/iamtgya718dVyFrsI697/bindings"},"self":{"href":"https://oie-00.dne-okta.com/api/v1/iam/resource-sets/iamtgya718dVyFrsI697"},"resources":{"href":"https://oie-00.dne-okta.com/api/v1/iam/resource-sets/iamtgya718dVyFrsI697/resources"}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
            Link:
                - <https://oie-00.dne-okta.com/api/v1/iam/resource-sets/iamtgya718dVyFrsI697>; rel="self"
        status: 200 OK
        code: 200
        duration: 677.872125ms
    - id: 10
      request:
        host: oie-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/iam/resource-sets/iamtgya718dVyFrsI697
        method: GET
      response:
        body: '{"id":"iamtgya718dVyFrsI697","label":"testAcc_2385331628","description":"A test resource set with valid API references","created":"2025-07-22T14:28:30.000Z","lastUpdated":"2025-07-22T14:28:30.000Z","_links":{"bindings":{"href":"https://oie-00.dne-okta.com/api/v1/iam/resource-sets/iamtgya718dVyFrsI697/bindings"},"self":{"href":"https://oie-00.dne-okta.com/api/v1/iam/resource-sets/iamtgya718dVyFrsI697"},"resources":{"href":"https://oie-00.dne-okta.com/api/v1/iam/resource-sets/iamtgya718dVyFrsI697/resources"}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
            Link:
                - <https://oie-00.dne-okta.com/api/v1/iam/resource-sets/iamtgya718dVyFrsI697>; rel="self"
        status: 200 OK
        code: 200
        duration: 652.092666ms
    - id: 11
      request:
        host: oie-00.dne-okta.com
        form:
            limit:
                - "200"
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/iam/resource-sets/iamtgya718dVyFrsI697/resources?limit=200
        method: GET
      response:
        body: '{"resources":[{"id":"iretgya719qjDbdXF697","orn":"orn:okta:directory:00osd501x0KyUtOul697:groups:00gtgy7zryK9LaQ22697","created":"2025-07-22T14:28:30.000Z","lastUpdated":"2025-07-22T14:28:30.000Z","_links":{"self":{"href":"https://oie-00.dne-okta.com/api/v1/groups/00gtgy7zryK9LaQ22697"},"resource":{"href":"https://oie-00.dne-okta.com/api/v1/iam/resource-sets/iamtgya718dVyFrsI697/resources/iretgya719qjDbdXF697"}}},{"id":"iretgya71aMDpbKcZ697","orn":"orn:okta:idp:00osd501x0KyUtOul697:apps:oidc_client:0oatgy5ttv3g4BK9X697","created":"2025-07-22T14:28:30.000Z","lastUpdated":"2025-07-22T14:28:30.000Z","_links":{"self":{"href":"https://oie-00.dne-okta.com/api/v1/apps/0oatgy5ttv3g4BK9X697"},"resource":{"href":"https://oie-00.dne-okta.com/api/v1/iam/resource-sets/iamtgya718dVyFrsI697/resources/iretgya71aMDpbKcZ697"}}}],"_links":{"resource-set":{"href":"https://oie-00.dne-okta.com/api/v1/iam/resource-sets/iamtgya718dVyFrsI697"},"self":{"href":"https://oie-00.dne-okta.com/api/v1/iam/resource-sets/iamtgya718dVyFrsI697/resources"}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
            Link:
                - <https://oie-00.dne-okta.com/api/v1/iam/resource-sets/iamtgya718dVyFrsI697/resources>; rel="self"
        status: 200 OK
        code: 200
        duration: 671.156916ms
[...]
    - id: 27
      request:
        host: oie-00.dne-okta.com
        body: |
            {"additions":["https://oie-00.dne-okta.com/api/v1/users"]}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://oie-00.dne-okta.com/api/v1/iam/resource-sets/iamtgya718dVyFrsI697/resources
        method: PATCH
      response:
        body: '{"id":"iamtgya718dVyFrsI697","label":"testAcc_2385331628","description":"A test resource set with multiple valid resources","created":"2025-07-22T14:28:30.000Z","lastUpdated":"2025-07-22T14:28:41.000Z","_links":{"bindings":{"href":"https://oie-00.dne-okta.com/api/v1/iam/resource-sets/iamtgya718dVyFrsI697/bindings"},"self":{"href":"https://oie-00.dne-okta.com/api/v1/iam/resource-sets/iamtgya718dVyFrsI697"},"resources":{"href":"https://oie-00.dne-okta.com/api/v1/iam/resource-sets/iamtgya718dVyFrsI697/resources"}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
            Link:
                - <https://oie-00.dne-okta.com/api/v1/iam/resource-sets/iamtgya718dVyFrsI697>; rel="self"
        status: 200 OK
        code: 200
        duration: 671.021125ms
[...]
    - id: 44
      request:
        host: oie-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/apps/0oatgy5ttv3g4BK9X697/lifecycle/deactivate
        method: POST
      response:
        body: '{}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 740.6305ms
[...]
