---
version: 2
interactions:
    - id: 0
      request:
        host: oie-00.dne-okta.com
        body: |
            {"gateways":[{"type":"CIDR","value":"3.2.3.4/24"},{"type":"RANGE","value":"2.3.4.5-2.3.4.15"}],"name":"testAcc_4023168308-3","proxies":[{"type":"CIDR","value":"4.2.3.4/24"},{"type":"RANGE","value":"3.3.4.5-3.3.4.15"}],"status":"ACTIVE","type":"IP","usage":"POLICY"}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://oie-00.dne-okta.com/api/v1/zones
        method: POST
      response:
        body: '{"type":"IP","id":"nzo9i77qmmY9nPMzS1d7","name":"testAcc_4023168308-3","status":"ACTIVE","usage":"POLICY","created":"2023-08-15T23:47:51.000Z","lastUpdated":"2023-08-15T23:47:51.000Z","system":false,"gateways":[{"type":"CIDR","value":"3.2.3.4/24"},{"type":"RANGE","value":"2.3.4.5-2.3.4.15"}],"proxies":[{"type":"CIDR","value":"4.2.3.4/24"},{"type":"RANGE","value":"3.3.4.5-3.3.4.15"}],"_links":{"self":{"href":"https://oie-00.oktapreview.com/api/v1/zones/nzo9i77qmmY9nPMzS1d7","hints":{"allow":["GET","PUT","DELETE"]}},"deactivate":{"href":"https://oie-00.oktapreview.com/api/v1/zones/nzo9i77qmmY9nPMzS1d7/lifecycle/deactivate","hints":{"allow":["POST"]}}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 141.099304ms
[...]
    - id: 3
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/zones/nzo9i77qmmY9nPMzS1d7
        method: GET
      response:
        body: '{"type":"IP","id":"nzo9i77qmmY9nPMzS1d7","name":"testAcc_4023168308-3","status":"ACTIVE","usage":"POLICY","created":"2023-08-15T23:47:51.000Z","lastUpdated":"2023-08-15T23:47:51.000Z","system":false,"gateways":[{"type":"CIDR","value":"3.2.3.4/24"},{"type":"RANGE","value":"2.3.4.5-2.3.4.15"}],"proxies":[{"type":"CIDR","value":"4.2.3.4/24"},{"type":"RANGE","value":"3.3.4.5-3.3.4.15"}],"_links":{"self":{"href":"https://oie-00.oktapreview.com/api/v1/zones/nzo9i77qmmY9nPMzS1d7","hints":{"allow":["GET","PUT","DELETE"]}},"deactivate":{"href":"https://oie-00.oktapreview.com/api/v1/zones/nzo9i77qmmY9nPMzS1d7/lifecycle/deactivate","hints":{"allow":["POST"]}}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 51.96253ms
    - id: 4
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/zones/nzo9i7cg3ePW5oTpj1d7
        method: GET
      response:
        body: '{"type":"IP","id":"nzo9i7cg3ePW5oTpj1d7","name":"testAcc_4023168308-1","status":"ACTIVE","usage":"POLICY","created":"2023-08-15T23:47:51.000Z","lastUpdated":"2023-08-15T23:47:51.000Z","system":false,"gateways":[{"type":"RANGE","value":"2.3.4.5-2.3.4.15"},{"type":"CIDR","value":"1.2.3.4/24"}],"proxies":[{"type":"CIDR","value":"2.2.3.4/24"},{"type":"RANGE","value":"3.3.4.5-3.3.4.15"}],"_links":{"self":{"href":"https://oie-00.oktapreview.com/api/v1/zones/nzo9i7cg3ePW5oTpj1d7","hints":{"allow":["GET","PUT","DELETE"]}},"deactivate":{"href":"https://oie-00.oktapreview.com/api/v1/zones/nzo9i7cg3ePW5oTpj1d7/lifecycle/deactivate","hints":{"allow":["POST"]}}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 52.013674ms
    - id: 5
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/zones/nzo9i758a3ucFvPJN1d7
        method: GET
      response:
        body: '{"type":"IP","id":"nzo9i758a3ucFvPJN1d7","name":"testAcc_4023168308-2","status":"ACTIVE","usage":"POLICY","created":"2023-08-15T23:47:51.000Z","lastUpdated":"2023-08-15T23:47:51.000Z","system":false,"gateways":[{"type":"RANGE","value":"2.3.4.5-2.3.4.15"},{"type":"CIDR","value":"2.2.3.4/24"}],"proxies":[{"type":"CIDR","value":"3.2.3.4/24"},{"type":"RANGE","value":"3.3.4.5-3.3.4.15"}],"_links":{"self":{"href":"https://oie-00.oktapreview.com/api/v1/zones/nzo9i758a3ucFvPJN1d7","hints":{"allow":["GET","PUT","DELETE"]}},"deactivate":{"href":"https://oie-00.oktapreview.com/api/v1/zones/nzo9i758a3ucFvPJN1d7/lifecycle/deactivate","hints":{"allow":["POST"]}}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 82.126572ms
    - id: 6
      request:
        host: oie-00.dne-okta.com
        body: |
            {"action":"block","excludeZones":["nzo9i7cg3ePW5oTpj1d7","nzo9i758a3ucFvPJN1d7","nzo9i77qmmY9nPMzS1d7"]}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://oie-00.dne-okta.com/api/v1/threats/configuration
        method: POST
      response:
        body: '{"action":"block","excludeZones":["nzo9i758a3ucFvPJN1d7","nzo9i7cg3ePW5oTpj1d7","nzo9i77qmmY9nPMzS1d7"],"created":"2022-10-07T23:16:58.000Z","lastUpdated":"2023-08-15T23:47:51.000Z","_links":{"self":{"href":"https://oie-00.oktapreview.com/api/v1/threats/configuration","hints":{"allow":["GET","POST"]}}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 81.642578ms
[...]
