---
version: 2
interactions:
    - id: 0
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/groups?limit=1&q=Everyone
        method: GET
      response:
        body: '[{"id":"00g5qwjvgrD3WR89l1d7","created":"2022-10-07T23:16:57.000Z","lastUpdated":"2022-10-07T23:16:57.000Z","lastMembershipUpdated":"2023-08-15T23:40:03.000Z","objectClass":["okta:user_group"],"type":"BUILT_IN","profile":{"name":"Everyone","description":"All users in your organization"},"_links":{"logo":[{"name":"medium","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-medium.30ce6d4085dff29412984e4c191bc874.png","type":"image/png"},{"name":"large","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-large.c3cb8cda8ae0add1b4fe928f5844dbe3.png","type":"image/png"}],"users":{"href":"https://oie-00.oktapreview.com/api/v1/groups/00g5qwjvgrD3WR89l1d7/users"},"apps":{"href":"https://oie-00.oktapreview.com/api/v1/groups/00g5qwjvgrD3WR89l1d7/apps"}}}]'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 145.992725ms
[...]
    - id: 2
      request:
        host: oie-00.dne-okta.com
        body: |
            {"audiences":["whatever.rise.zone"],"credentials":{"signing":{"rotationMode":"AUTO"}},"description":"test","issuerMode":"ORG_URL","name":"testAcc_2173199450"}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://oie-00.dne-okta.com/api/v1/authorizationServers
        method: POST
      response:
        body: '{"id":"aus9i713ivUnLNa9Z1d7","name":"testAcc_2173199450","description":"test","audiences":["whatever.rise.zone"],"issuer":"https://oie-00.oktapreview.com/oauth2/aus9i713ivUnLNa9Z1d7","issuerMode":"ORG_URL","status":"ACTIVE","created":"2023-08-15T23:41:30.000Z","lastUpdated":"2023-08-15T23:41:30.000Z","credentials":{"signing":{"kid":"gq2I_RENmKLPZSdA-skZHR1sUl_gJzGie-sgvQ0xRtQ","rotationMode":"AUTO","lastRotated":"2023-08-15T23:41:30.000Z","nextRotation":"2023-11-13T23:41:30.000Z"}},"default":false,"_links":{"rotateKey":{"href":"https://oie-00.oktapreview.com/api/v1/authorizationServers/aus9i713ivUnLNa9Z1d7/credentials/lifecycle/keyRotate","hints":{"allow":["POST"]}},"metadata":[{"name":"oauth-authorization-server","href":"https://oie-00.oktapreview.com/oauth2/aus9i713ivUnLNa9Z1d7/.well-known/oauth-authorization-server","hints":{"allow":["GET"]}},{"name":"openid-configuration","href":"https://oie-00.oktapreview.com/oauth2/aus9i713ivUnLNa9Z1d7/.well-known/openid-configuration","hints":{"allow":["GET"]}}],"keys":{"href":"https://oie-00.oktapreview.com/api/v1/authorizationServers/aus9i713ivUnLNa9Z1d7/credentials/keys","hints":{"allow":["GET"]}},"claims":{"href":"https://oie-00.oktapreview.com/api/v1/authorizationServers/aus9i713ivUnLNa9Z1d7/claims","hints":{"allow":["GET","POST"]}},"policies":{"href":"https://oie-00.oktapreview.com/api/v1/authorizationServers/aus9i713ivUnLNa9Z1d7/policies","hints":{"allow":["GET","POST"]}},"self":{"href":"https://oie-00.oktapreview.com/api/v1/authorizationServers/aus9i713ivUnLNa9Z1d7","hints":{"allow":["GET","DELETE","PUT"]}},"scopes":{"href":"https://oie-00.oktapreview.com/api/v1/authorizationServers/aus9i713ivUnLNa9Z1d7/scopes","hints":{"allow":["GET","POST"]}},"deactivate":{"href":"https://oie-00.oktapreview.com/api/v1/authorizationServers/aus9i713ivUnLNa9Z1d7/lifecycle/deactivate","hints":{"allow":["POST"]}}}}'
        headers:
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 385.977723ms
    - id: 3
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/authorizationServers/aus9i713ivUnLNa9Z1d7
        method: GET
      response:
        body: '{"id":"aus9i713ivUnLNa9Z1d7","name":"testAcc_2173199450","description":"test","audiences":["whatever.rise.zone"],"issuer":"https://oie-00.oktapreview.com/oauth2/aus9i713ivUnLNa9Z1d7","issu[...]
    - id: 4
      request:
        host: oie-00.dne-okta.com
        body: |
            {"alwaysIncludeInToken":true,"claimType":"RESOURCE","conditions":{},"name":"test","status":"ACTIVE","value":"cool","valueType":"EXPRESSION"}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://oie-00.dne-okta.com/api/v1/authorizationServers/aus9i713ivUnLNa9Z1d7/claims
        method: POST
      response:
        body: '{"id":"ocl9i74hyszj3iXp51d7","name":"test","status":"ACTIVE","claimType":"RESOURCE","valueType":"EXPRESSION","value":"cool","conditions":{"scopes":[]},"system":false,"alwaysIncludeInToken":true,"apiResourceId":null,"_links":{"self":{"href":"https://oie-00.oktapreview.com/api/v1/authorizationServers/aus9i713ivUnLNa9Z1d7/claims/ocl9i74hyszj3iXp51d7","hints":{"allow":["GET","PUT","DELETE"]}}}}'
        headers:
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 127.478045ms
    - id: 5
      request:
        host: oie-00.dne-okta.com
        body: |
            {"conditions":{"clients":{"include":["ALL_CLIENTS"]}},"description":"Policy","name":"test","priority":1,"status":"ACTIVE","type":"OAUTH_AUTHORIZATION_POLICY"}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://oie-00.dne-okta.com/api/v1/authorizationServers/aus9i713ivUnLNa9Z1d7/policies
        method: POST
      response:
        body: '{"id":"00p9i75jntoFzG2y51d7","status":"ACTIVE","name":"test","description":"Policy","priority":1,"system":false,"conditions":{"clients":{"include":["ALL_CLIENTS"]}},"created":"2023-08-15T23:41:31.000Z","lastUpdated":"2023-08-15T23:41:31.000Z","_links":{"self":{"href":"https://oie-00.oktapreview.com/api/v1/authorizationServers/aus9i713ivUnLNa9Z1d7/policies/00p9i75jntoFzG2y51d7","hints":{"allow":["GET","PUT","DELETE"]}},"rules":{"href":"https://oie-00.oktapreview.com/api/v1/authorizationServers/aus9i713ivUnLNa9Z1d7/policies/00p9i75jntoFzG2y51d7/rules","hints":{"allow":["GET"]}},"deactivate":{"href":"https://oie-00.oktapreview.com/api/v1/authorizationServers/aus9i713ivUnLNa9Z1d7/policies/00p9i75jntoFzG2y51d7/lifecycle/deactivate","hints":{"allow":["POST"]}}},"type":"OAUTH_AUTHORIZATION_POLICY"}'
        headers:
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 136.266725ms
    - id: 6
      request:
        host: oie-00.dne-okta.com
        body: |
            {"consent":"REQUIRED","default":false,"description":"This is a scope","metadataPublish":"ALL_CLIENTS","name":"test:something"}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://oie-00.dne-okta.com/api/v1/authorizationServers/aus9i713ivUnLNa9Z1d7/scopes
        method: POST
      response:
        body: '{"id":"scp9i6wlq4rrOZVQG1d7","name":"test:something","description":"This is a scope","system":false,"metadataPublish":"ALL_CLIENTS","consent":"REQUIRED","optional":false,"apiResourceId":null,"default":false,"_links":{"self":{"href":"https://oie-00.oktapreview.com/api/v1/authorizationServers/aus9i713ivUnLNa9Z1d7/scopes/scp9i6wlq4rrOZVQG1d7","hints":{"allow":["GET","PUT","DELETE"]}}}}'
        headers:
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 154.038823ms
    - id: 7
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/authorizationServers/aus9i713ivUnLNa9Z1d7/claims/ocl9i74hyszj3iXp51d7
        method: GET
      response:
        body: '{"id":"ocl9i74hyszj3iXp51d7","name":"test","status":"ACTIVE","claimType":"RESOURCE","valueType":"EXPRESSION","value":"cool","conditions":{"scopes":[]},"system":false,"alwaysIncludeInToken":true,"apiResourceId":null,"_links":{"self":{"href":"https://oie-00.oktapreview.com/api/v1/authorizationServers/aus9i713ivUnLNa9Z1d7/claims/ocl9i74hyszj3iXp51d7","hints":{"allow":["GET","PUT","DELETE"]}}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 83.369142ms
    - id: 8
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/authorizationServers/aus9i713ivUnLNa9Z1d7/scopes/scp9i6wlq4rrOZVQG1d7
        method: GET
      response:
        body: '{"id":"scp9i6wlq4rrOZVQG1d7","name":"test:something","description":"This is a scope","system":false,"metadataPublish":"ALL_CLIENTS","consent":"REQUIRED","optional":false,"apiResourceId":null,"default":false,"_links":{"self":{"href":"https://oie-00.oktapreview.com/api/v1/authorizationServers/aus9i713ivUnLNa9Z1d7/scopes/scp9i6wlq4rrOZVQG1d7","hints":{"allow":["GET","PUT","DELETE"]}}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 89.979634ms
    - id: 9
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/authorizationServers/aus9i713ivUnLNa9Z1d7/policies/00p9i75jntoFzG2y51d7
        method: GET
      response:
        body: '{"id":"00p9i75jntoFzG2y51d7","status":"ACTIVE","name":"test","description":"Policy","priority":1,"system":false,"conditions":{"clients":{"include":["ALL_CLIENTS"]}},"created":"2023-08-15T23:41:31.000Z","lastUpdated":"2023-08-15T23:41:31.000Z","_links":{"self":{"href":"https://oie-00.oktapreview.com/api/v1/authorizationServers/aus9i713ivUnLNa9Z1d7/policies/00p9i75jntoFzG2y51d7","hints":{"allow":["GET","PUT","DELETE"]}},"rules":{"href":"https://oie-00.oktapreview.com/api/v1/authorizationServers/aus9i713ivUnLNa9Z1d7/policies/00p9i75jntoFzG2y51d7/rules","hints":{"allow":["GET"]}},"deactivate":{"href":"https://oie-00.oktapreview.com/api/v1/authorizationServers/aus9i713ivUnLNa9Z1d7/policies/00p9i75jntoFzG2y51d7/lifecycle/deactivate","hints":{"allow":["POST"]}}},"type":"OAUTH_AUTHORIZATION_POLICY"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 260.098281ms
    - id: 10
      request:
        host: oie-00.dne-okta.com
        body: |
            {"actions":{"token":{"accessTokenLifetimeMinutes":60,"refreshTokenLifetimeMinutes":0,"refreshTokenWindowMinutes":10080}},"conditions":{"grantTypes":{"include":["password"]},"people":{"groups":{"include":["00g5qwjvgrD3WR89l1d7"]},"users":{}},"scopes":{}},"name":"test","priority":1,"status":"ACTIVE","type":"RESOURCE_ACCESS"}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://oie-00.dne-okta.com/api/v1/authorizationServers/aus9i713ivUnLNa9Z1d7/policies/00p9i75jntoFzG2y51d7/rules
        method: POST
      response:
        body: '{"id":"0pr9i71910c8euuDx1d7","status":"ACTIVE","name":"test","priority":1,"created":"2023-08-15T23:41:31.000Z","lastUpdated":"2023-08-15T23:41:31.000Z","system":false,"conditions":{"people":{"users":{"exclude":[]},"groups":{"include":["00g5qwjvgrD3WR89l1d7"]}},"grantTypes":{"include":["password"]},"scopes":{"include":[]}},"actions":{"token":{"accessTokenLifetimeMinutes":60,"refreshTokenLifetimeMinutes":0,"refreshTokenWindowMinutes":10080}},"_links":{"self":{"href":"https://oie-00.oktapreview.com/api/v1/authorizationServers/aus9i713ivUnLNa9Z1d7/policies/00p9i75jntoFzG2y51d7/rules/0pr9i71910c8euuDx1d7","hints":{"allow":["GET","PUT","DELETE"]}},"deactivate":{"href":"https://oie-00.oktapreview.com/api/v1/authorizationServers/aus9i713ivUnLNa9Z1d7/policies/00p9i75jntoFzG2y51d7/rules/0pr9i71910c8euuDx1d7/lifecycle/deactivate","hints":{"allow":["POST"]}}},"type":"RESOURCE_ACCESS"}'
        headers:
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 131.411053ms
    - id: 11
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/authorizationServers/aus9i713ivUnLNa9Z1d7/policies/00p9i75jntoFzG2y51d7/rules/0pr9i71910c8euuDx1d7
        method: GET
      response:
        body: '{"id":"0pr9i71910c8euuDx1d7","status":"ACTIVE","name":"test","priority":1,"created":null,"lastUpdated":null,"system":false,"conditions":{"people":{"users":{"exclude":[]},"groups":{"include":["00g5qwjvgrD3WR89l1d7"]}},"grantTypes":{"include":["password"]},"scopes":{"include":[]}},"actions":{"token":{"accessTokenLifetimeMinutes":60,"refreshTokenLifetimeMinutes":0,"refreshTokenWindowMinutes":10080}},"_links":{"self":{"href":"https://oie-00.oktapreview.com/api/v1/authorizationServers/aus9i713ivUnLNa9Z1d7/policies/00p9i75jntoFzG2y51d7/rules/0pr9i71910c8euuDx1d7","hints":{"allow":["GET","PUT","DELETE"]}},"deactivate":{"href":"https://oie-00.oktapreview.com/api/v1/authorizationServers/aus9i713ivUnLNa9Z1d7/policies/00p9i75jntoFzG2y51d7/rules/0pr9i71910c8euuDx1d7/lifecycle/deactivate","hints":{"allow":["POST"]}}},"type":"RESOURCE_ACCESS"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 105.883203ms
[...]
    - id: 30
      request:
        host: oie-00.dne-okta.com
        body: |
            {"accessibility":{"selfService":false},"credentials":{"userNameTemplate":{"template":"${source.login}","type":"BUILT_IN"},"oauthClient":{"autoKeyRotation":true,"pkce_required":false,"token_endpoint_auth_method":"client_secret_basic"}},"label":"testAcc_2173199450","name":"oidc_client","settings":{"app":{},"implicitAssignment":false,"notes":{"admin":null,"enduser":null},"oauthClient":{"application_type":"web","consent_method":"TRUSTED","grant_types":["authorization_code","implicit"],"idp_initiated_login":{"default_scope":[],"mode":"DISABLED"},"issuer_mode":"ORG_URL","redirect_uris":["https://localhost:8443/redirect_uri/"],"response_types":["code","token","id_token"],"wildcard_redirect":"DISABLED"}},"signOnMode":"OPENID_CONNECT","visibility":{"autoSubmitToolbar":false,"hide":{"iOS":true,"web":true}}}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://oie-00.dne-okta.com/api/v1/apps?activate=true
        method: POST
      response:
        body: '{"id":"0oa9i75zrboNCGHdB1d7","name":"oidc_client","label":"testAcc_2173199450","status":"ACTIVE","lastUpdated":"2023-08-15T23:41:34.000Z","created":"2023-08-15T23:41:34.000Z","accessibility":{"selfService":false,"errorRedirectUrl":null,"loginRedirectUrl":null},"visibility":{"autoLaunch":false,"autoSubmitToolbar":false,"hide":{"iOS":true,"web":true},"appLinks":{"oidc_client_link":true}},"features":[],"signOnMode":"OPENID_CONNECT","credentials":{"userNameTemplate":{"template":"${source.login}","type":"BUILT_IN"},"signing":{"kid":"N60VbAntJ7ONHTQr7YcAiywke_a08RzPdv9okaextIA"},"oauthClient":{"autoKeyRotation":true,"client_id":"0oa9i75zrboNCGHdB1d7","client_secret":"qzxIf2whIFCODbTUG0m5RvnO_J-IZR7TYEsgojvf9rn257zaFThOvQLzGyXj534u","token_endpoint_auth_method":"client_secret_basic","pkce_required":false}},"settings":{"app":{},"notifications":{"vpn":{"network":{"connection":"DISABLED"},"message":null,"helpUrl":null}},"manualProvisioning":false,"implicitAssignment":false,"notes":{"admin":null,"enduser":null},"oauthClient":{"client_uri":null,"logo_uri":null,"redirect_uris":["https://localhost:8443/redirect_uri/"],"response_types":["code","token","id_token"],"grant_types":["authorization_code","implicit"],"application_type":"web","consent_method":"TRUSTED","issuer_mode":"ORG_URL","idp_initiated_login":{"mode":"DISABLED","default_scope":[]},"wildcard_redirect":"DISABLED","dpop_bound_access_tokens":false,"participate_slo":false}},"_links":{"uploadLogo":{"href":"https://oie-00.oktapreview.com/api/v1/apps/0oa9i75zrboNCGHdB1d7/logo","hints":{"allow":["POST"]}},"appLinks":[{"name":"oidc_client_link","href":"https://oie-00.oktapreview.com/home/oidc_client/0oa9i75zrboNCGHdB1d7/aln177a159h7Zf52X0g8","type":"text/html"}],"profileEnrollment":{"href":"https://oie-00.oktapreview.com/api/v1/policies/rst5qwjvlxUHivL8a1d7"},"policies":{"href":"https://oie-00.oktapreview.com/api/v1/apps/0oa9i75zrboNCGHdB1d7/policies","hints":{"allow":["PUT"]}},"groups":{"href":"https://oie-00.oktapreview.com/api/v1/apps/0oa9i75zrboNCGHdB1d7/groups"},"logo":[{"name":"medium","href":"https://op3static.oktacdn.com/assets/img/logos/default.6770228fb0dab49a1695ef440a5279bb.png","type":"image/png"}],"clientCredentials":[{"name":"secrets","href":"https://oie-00.oktapreview.com/api/v1/apps/0oa9i75zrboNCGHdB1d7/credentials/secrets"}],"accessPolicy":{"href":"https://oie-00.oktapreview.com/api/v1/policies/rst5qwjvlvS3G1WOU1d7"},"users":{"href":"https://oie-00.oktapreview.com/api/v1/apps/0oa9i75zrboNCGHdB1d7/users"},"deactivate":{"href":"https://oie-00.oktapreview.com/api/v1/apps/0oa9i75zrboNCGHdB1d7/lifecycle/deactivate"}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 653.166352ms
    - id: 31
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/.well-known/okta-organization
        method: GET
      response:
        body: '{"id":"00o5qwjvg8hg7YpT81d7","cell":"op3","_links":{"organization":{"href":"https://oie-00.oktapreview.com"}},"pipeline":"idx","settings":{"analyticsCollectionEnabled":false,"bugReportingEnabled":true,"omEnabled":false,"pssoEnabled":false}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 47.286894ms
    - id: 32
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/policies?type=ACCESS_POLICY
        method: GET
      response:
        body: '[{"id":"rst5qwjvkl70Eb6xw1d7","status":"ACTIVE","name":"Okta Admin Console","priority":1,"system":false,"conditions":null,"created":"2022-10-07T23:17:01.000Z","lastUpdated":"2022-10-07T23:17:01.000Z","[...]
    - id: 33
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/apps/0oa9i75zrboNCGHdB1d7/policies/rst5qwjvlvS3G1WOU1d7
        method: PUT
      response:
        body: ""
        headers:
        status: 204 No Content
        code: 204
        duration: 113.274834ms
    - id: 34
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/apps/0oa9i75zrboNCGHdB1d7
        method: GET
      response:
        body: '{"id":"0oa9i75zrboNCGHdB1d7","name":"oidc_client","label":"testAcc_2173199450","status":"ACTIVE","lastUpdated":"2023-08-15T23:41:34.000Z","created":"2023-08-15T23:41:34.000Z","accessibility":{"selfServic[...]
    - id: 35
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/internal/apps/0oa9i75zrboNCGHdB1d7/settings/oauth/idToken
        method: GET
      response:
        body: '{"issuer":"https://oie-00.oktapreview.com","orgUrl":null,"customUrl":null,"audience":"0oa9i75zrboNCGHdB1d7","issuerMode":"ORG_URL"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 70.974131ms
[...]
    - id: 55
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/authorizationServers/aus9i713ivUnLNa9Z1d7/lifecycle/deactivate
        method: POST
      response:
        body: ""
        headers:
        status: 204 No Content
        code: 204
        duration: 67.29297ms
    - id: 56
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/apps/0oa9i75zrboNCGHdB1d7/lifecycle/deactivate
        method: POST
      response:
        body: '{}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 152.136702ms
[...]
    - id: 59
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/authorizationServers/aus9i713ivUnLNa9Z1d7
        method: GET
      response:
        body: '{"errorCode":"E0000007","errorSummary":"Not found: Resource not found: aus9i713ivUnLNa9Z1d7 (AuthorizationServer)","errorLink":"E0000007","errorId":"oaeNQ0Vn4nXR4uBZ00QiF5LBQ","errorCauses":[]}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 58.52617ms
