---
version: 2
interactions:
    - id: 0
      request:
        host: oie-00.dne-okta.com
        form:
            limit:
                - "200"
            q:
                - testAcc_1431597131
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/groups?limit=200&q=testAcc_1431597131
        method: GET
      response:
        body: '[]'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 668.887625ms
[...]
    - id: 2
      request:
        host: oie-00.dne-okta.com
        body: |
            {"profile":{"name":"testAcc_1431597131  - Test 2","description":"testing, testing"}}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://oie-00.dne-okta.com/api/v1/groups
        method: POST
      response:
        body: '{"id":"00gt6opxaqtSl5vW1697","created":"2025-07-14T00:34:19.000Z","lastUpdated":"2025-07-14T00:34:19.000Z","lastMembershipUpdated":"2025-07-14T00:34:19.000Z","objectClass":["okta:user_group"],"type":"OKTA_GROUP","profile":{"name":"testAcc_1431597131  - Test 2","description":"testing, testing"},"_links":{"logo":[{"name":"medium","href":"https://ok14static.oktacdn.com/assets/img/logos/groups/odyssey/okta-medium.30ce6d4085dff29412984e4c191bc874.png","type":"image/png"},{"name":"large","href":"https://ok14static.oktacdn.com/assets/img/logos/groups/odyssey/okta-large.c3cb8cda8ae0add1b4fe928f5844dbe3.png","type":"image/png"}],"users":{"href":"https://oie-00.dne-okta.com/api/v1/groups/00gt6opxaqtSl5vW1697/users"},"apps":{"href":"https://oie-00.dne-okta.com/api/v1/groups/00gt6opxaqtSl5vW1697/apps"}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 883.401542ms
[...]
    - id: 4
      request:
        host: oie-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/groups/00gt6opxaqtSl5vW1697
        method: GET
      response:
        body: '{"id":"00gt6opxaqtSl5vW1697","created":"2025-07-14T00:34:19.000Z","lastUpdated":"2025-07-14T00:34:19.000Z","lastMembershipUpdated":"2025-07-14T00:34:19.000Z","objectClass":["okta:user_group"],"type":"OKTA_GROUP","profile":{"name":"testAcc_1431597131  - Test 2","description":"testing, testing"},"_links":{"logo":[{"name":"medium","href":"https://ok14static.oktacdn.com/assets/img/logos/groups/odyssey/okta-medium.30ce6d4085dff29412984e4c191bc874.png","type":"image/png"},{"name":"large","href":"https://ok14static.oktacdn.com/assets/img/logos/groups/odyssey/okta-large.c3cb8cda8ae0add1b4fe928f5844dbe3.png","type":"image/png"}],"users":{"href":"https://oie-00.dne-okta.com/api/v1/groups/00gt6opxaqtSl5vW1697/users"},"apps":{"href":"https://oie-00.dne-okta.com/api/v1/groups/00gt6opxaqtSl5vW1697/apps"}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 677.011916ms
    - id: 5
      request:
        host: oie-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/groups/00gt6oqs3kXDasr4y697
        method: GET
      response:
        body: '{"id":"00gt6oqs3kXDasr4y697","created":"2025-07-14T00:34:19.000Z","lastUpdated":"2025-07-14T00:34:19.000Z","lastMembershipUpdated":"2025-07-14T00:34:19.000Z","objectClass":["okta:user_group"],"type":"OKTA_GROUP","profile":{"name":"testAcc_1431597131 - Test 1","description":"testing, testing"},"_links":{"logo":[{"name":"medium","href":"https://ok14static.oktacdn.com/assets/img/logos/groups/odyssey/okta-medium.30ce6d4085dff29412984e4c191bc874.png","type":"image/png"},{"name":"large","href":"https://ok14static.oktacdn.com/assets/img/logos/groups/odyssey/okta-large.c3cb8cda8ae0add1b4fe928f5844dbe3.png","type":"image/png"}],"users":{"href":"https://oie-00.dne-okta.com/api/v1/groups/00gt6oqs3kXDasr4y697/users"},"apps":{"href":"https://oie-00.dne-okta.com/api/v1/groups/00gt6oqs3kXDasr4y697/apps"}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 666.871459ms
[...]
