---
version: 2
interactions:
    - id: 0
      request:
        host: oie-00.dne-okta.com
        body: |
            {"audiences":["whatever.rise.zone"],"credentials":{"signing":{"rotationMode":"AUTO"}},"description":"test","issuerMode":"ORG_URL","name":"testAcc_3953007547"}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://oie-00.dne-okta.com/api/v1/authorizationServers
        method: POST
      response:
        body: '{"id":"aus9i70lsosEBE2o41d7","name":"testAcc_3953007547","description":"test","audiences":["whatever.rise.zone"],"issuer":"https://oie-00.oktapreview.com/oauth2/aus9i70lsosEBE2o41d7","issuerMode":"ORG_URL","status":"ACTIVE","created":"2023-08-15T23:40:40.000Z","lastUpdated":"2023-08-15T23:40:40.000Z","credentials":{"signing":{"kid":"f8shlAJ-r1K05UY0QpLZmpq9YfkIPGJmkeTcsJ-XPY8","rotationMode":"AUTO","lastRotated":"2023-08-15T23:40:40.000Z","nextRotation":"2023-11-13T23:40:40.000Z"}},"default":false,"_links":{"rotateKey":{"href":"https://oie-00.oktapreview.com/api/v1/authorizationServers/aus9i70lsosEBE2o41d7/credentials/lifecycle/keyRotate","hints":{"allow":["POST"]}},"metadata":[{"name":"oauth-authorization-server","href":"https://oie-00.oktapreview.com/oauth2/aus9i70lsosEBE2o41d7/.well-known/oauth-authorization-server","hints":{"allow":["GET"]}},{"name":"openid-configuration","href":"https://oie-00.oktapreview.com/oauth2/aus9i70lsosEBE2o41d7/.well-known/openid-configuration","hints":{"allow":["GET"]}}],"keys":{"href":"https://oie-00.oktapreview.com/api/v1/authorizationServers/aus9i70lsosEBE2o41d7/credentials/keys","hints":{"allow":["GET"]}},"claims":{"href":"https://oie-00.oktapreview.com/api/v1/authorizationServers/aus9i70lsosEBE2o41d7/claims","hints":{"allow":["GET","POST"]}},"policies":{"href":"https://oie-00.oktapreview.com/api/v1/authorizationServers/aus9i70lsosEBE2o41d7/policies","hints":{"allow":["GET","POST"]}},"self":{"href":"https://oie-00.oktapreview.com/api/v1/authorizationServers/aus9i70lsosEBE2o41d7","hints":{"allow":["GET","DELETE","PUT"]}},"scopes":{"href":"https://oie-00.oktapreview.com/api/v1/authorizationServers/aus9i70lsosEBE2o41d7/scopes","hints":{"allow":["GET","POST"]}},"deactivate":{"href":"https://oie-00.oktapreview.com/api/v1/authorizationServers/aus9i70lsosEBE2o41d7/lifecycle/deactivate","hints":{"allow":["POST"]}}}}'
        headers:
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 631.313984ms
    - id: 1
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/authorizationServers/aus9i70lsosEBE2o41d7
        method: GET
      response:
        body: '{"id":"aus9i70lsosEBE2o41d7","name":"testAcc_3953007547","description":"test","audiences":["whatever.rise.zone"],"issuer":"https://oie-00.oktapreview.com/oauth2/aus9i70lsosEBE2o41d7","issu[...]
    - id: 2
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/authorizationServers/aus9i70lsosEBE2o41d7/claims
        method: GET
      response:
        body: '[{"id":"ocl9i70lt9OlmZ69H1d7","name":"sub","status":"ACTIVE","claimType":"RESOURCE","valueType":"EXPRESSION","value":"(appuser != null) ? appuser.userName : app.clientId","conditions":{"scopes":[]},"system":true,"alwaysIncludeInToken":true,"apiResourceId":null,"_links":{"self":{"href":"https://oie-00.oktapreview.com/api/v1/authorizationServers/aus9i70lsosEBE2o41d7/claims/ocl9i70lt9OlmZ69H1d7","hints":{"allow":["GET","PUT","DELETE"]}}}},{"id":"ocl9i70ltbiw3ocoZ1d7","name":"address","status":"ACTIVE","claimType":"IDENTITY","valueType":"SYSTEM","conditions":{"scopes":["address"]},"system":true,"alwaysIncludeInToken":false,"apiResourceId":null,"_links":{"self":{"href":"https://oie-00.oktapreview.com/api/v1/authorizationServers/aus9i70lsosEBE2o41d7/cl[...]
[...]
    - id: 4
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/authorizationServers/aus9i70lsosEBE2o41d7/claims/ocl9i70ltbiw3ocoZ1d7
        method: GET
      response:
        body: '{"id":"ocl9i70ltbiw3ocoZ1d7","name":"address","status":"ACTIVE","claimType":"IDENTITY","valueType":"SYSTEM","conditions":{"scopes":["address"]},"system":true,"alwaysIncludeInToken":false,"apiResourceId":null,"_links":{"self":{"href":"https://oie-00.oktapreview.com/api/v1/authorizationServers/aus9i70lsosEBE2o41d7/claims/ocl9i70ltbiw3ocoZ1d7","hints":{"allow":["GET","PUT","DELETE"]}}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 97.341827ms
[...]
    - id: 11
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/authorizationServers/aus9i70lsosEBE2o41d7/lifecycle/deactivate
        method: POST
      response:
        body: ""
        headers:
        status: 204 No Content
        code: 204
        duration: 67.541129ms
[...]
    - id: 13
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/authorizationServers/aus9i70lsosEBE2o41d7
        method: GET
      response:
        body: '{"errorCode":"E0000007","errorSummary":"Not found: Resource not found: aus9i70lsosEBE2o41d7 (AuthorizationServer)","errorLink":"E0000007","errorId":"oaeFZmNSfpEQsmtu3dvZcZnxg","errorCauses":[]}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 65.961779ms
