---
version: 2
interactions:
    - id: 0
      request:
        host: mm-oie-2022-10-07-max.oktapreview.com
        body: |
            {"credentials":{"password":{}},"profile":{"email":"john_1558441895@thewho.com","firstName":"TestAcc","lastName":"Entwhistle","login":"john_1558441895@thewho.com","postalAddress":null}}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/users
        method: POST
      response:
        body: '{"id":"00u95tucdyoaJOx1m1d7","status":"PROVISIONED","created":"2023-07-27T19:20:17.000Z","activated":"2023-07-27T19:20:17.000Z","statusChanged":"2023-07-27T19:20:17.000Z","lastLogin":null,"lastUpdated":"2023-07-27T19:20:17.000Z","passwordChanged":null,"type":{"id":"oty5qwjvh0Vy1j8Kd1d7"},"profile":{"firstName":"TestAcc","lastName":"Entwhistle","mobilePhone":null,"secondEmail":null,"login":"john_1558441895@thewho.com","email":"john_1558441895@thewho.com"},"credentials":{"provider":{"type":"OKTA","name":"OKTA"}},"_links":{"suspend":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/users/00u95tucdyoaJOx1m1d7/lifecycle/suspend","method":"POST"},"schema":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/meta/schemas/user/osc5qwjvh0Vy1j8Kd1d7"},"resetPassword":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/users/00u95tucdyoaJOx1m1d7/lifecycle/reset_password","method":"POST"},"reactivate":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/users/00u95tucdyoaJOx1m1d7/lifecycle/reactivate","method":"POST"},"self":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/users/00u95tucdyoaJOx1m1d7"},"resetFactors":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/users/00u95tucdyoaJOx1m1d7/lifecycle/reset_factors","method":"POST"},"type":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/meta/types/user/oty5qwjvh0Vy1j8Kd1d7"},"deactivate":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/users/00u95tucdyoaJOx1m1d7/lifecycle/deactivate","method":"POST"}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 379.402311ms
[...]
    - id: 4
      request:
        host: mm-oie-2022-10-07-max.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/users/00u95tpyj0cM5n8Zk1d7
        method: GET
      response:
        body: '{"id":"00u95tpyj0cM5n8Zk1d7","status":"PROVISIONED","created":"2023-07-27T19:20:17.000Z","activated":"2023-07-27T19:20:17.000Z","statusChanged":"2023-07-27T19:20:17.00[...]
    - id: 5
      request:
        host: mm-oie-2022-10-07-max.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/users/00u95tucdyoaJOx1m1d7
        method: GET
      response:
        body: '{"id":"00u95tucdyoaJOx1m1d7","status":"PROVISIONED","created":"2023-07-27T19:20:17.000Z","activated":"2023-07-27T19:20:17.000Z","statusChanged":"2023-07-27T19:20:17.00[...]
    - id: 6
      request:
        host: mm-oie-2022-10-07-max.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/users/00u95tgx7sf9NyNr81d7
        method: GET
      response:
        body: '{"id":"00u95tgx7sf9NyNr81d7","status":"PROVISIONED","created":"2023-07-27T19:20:17.000Z","activated":"2023-07-27T19:20:18.000Z","statusChanged":"2023-07-27T19:20:18.00[...]
    - id: 7
      request:
        host: mm-oie-2022-10-07-max.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/users/00u95tt7l9JsCiiH61d7
        method: GET
      response:
        body: '{"id":"00u95tt7l9JsCiiH61d7","status":"PROVISIONED","created":"2023-07-27T19:20:17.000Z","activated":"2023-07-27T19:20:18.000Z","statusChanged":"2023-07-27T19:20:18.00[...]
[...]
    - id: 14
      request:
        host: mm-oie-2022-10-07-max.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/users?limit=200&search=profile.email+sw+%22john_1558441895%22&sortOrder=0
        method: GET
      response:
        body: '[{"id":"00u95tpyj0cM5n8Zk1d7","status":"PROVISIONED","created":"2023-07-27T19:20:17.000Z","activated":"2023-07-27T19:20[...]
[...]
    - id: 29
      request:
        host: mm-oie-2022-10-07-max.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/users?limit=200&search=profile.email+pr+and+profile.firstName+eq+%22TestAcc%22+and+profile.lastName+eq+%22Jones%22&sortOrder=0
        method: GET
      response:
        body: '[{"id":"00u95tpyj0cM5n8Zk1d7","status":"PROVISIONED","created":"2023-07-27T19:20:17.000Z","activated":"2023-07-27T19:20:17.000Z","statusChanged":"2023-07-27T19:20:17.000Z","lastLogin":null,"lastUpdated":"2023-07-27T19:20:17.000Z","passwordChanged":null,"type":{"id":"oty5qwjvh0Vy1j8Kd1d7"},"profile":{"firstName":"TestAcc","lastName":"Jones","mobilePhone":null,"secondEmail":null,"login":"john_1558441895@ledzeppelin.com","email":"john_1558441895@ledzeppelin.com"},"credentials":{"provider":{"type":"OKTA","name":"OKTA"}},"_links":{"self":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/users/00u95tpyj0cM5n8Zk1d7"}}}]'
        headers:
            Content-Type:
                - application/json
            Link:
                - <https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/users?limit=200&search=profile.email+pr+and+profile.firstName+eq+%22TestAcc%22+and+profile.lastName+eq+%22Jones%22>; rel="self"
        status: 200 OK
        code: 200
        duration: 74.57118ms
[...]
