---
version: 1
interactions:
- request:
    body: |
      {"credentials":{"password":{}},"profile":{"email":"john_1558441895@unknown.com","firstName":"TestAcc","lastName":"Doe","login":"john_1558441895@unknown.com","postalAddress":null}}
    form: {}
    headers:
      Authorization:
      - SSWS REDACTED
      Content-Type:
      - application/json
    url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/users
    method: POST
  response:
    body: '{"id":"00u7l7zefofVkIi7h1d7","status":"PROVISIONED","created":"2023-04-06T18:46:04.000Z","activated":"2023-04-06T18:46:04.000Z","statusChanged":"2023-04-06T18:46:04.000Z","lastLogin":null,"lastUpdated":"2023-04-06T18:46:04.000Z","passwordChanged":null,"type":{"id":"oty5qwjvh0Vy1j8Kd1d7"},"profile":{"firstName":"TestAcc","lastName":"Doe","mobilePhone":null,"secondEmail":null,"login":"john_1558441895@unknown.com","email":"john_1558441895@unknown.com"},"credentials":{"provider":{"type":"OKTA","name":"OKTA"}},"_links":{"suspend":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/users/00u7l7zefofVkIi7h1d7/lifecycle/suspend","method":"POST"},"schema":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/meta/schemas/user/osc5qwjvh0Vy1j8Kd1d7"},"resetPassword":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/users/00u7l7zefofVkIi7h1d7/lifecycle/reset_password","method":"POST"},"reactivate":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/users/00u7l7zefofVkIi7h1d7/lifecycle/reactivate","method":"POST"},"self":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/users/00u7l7zefofVkIi7h1d7"},"resetFactors":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/users/00u7l7zefofVkIi7h1d7/lifecycle/reset_factors","method":"POST"},"type":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/meta/types/user/oty5qwjvh0Vy1j8Kd1d7"},"deactivate":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/users/00u7l7zefofVkIi7h1d7/lifecycle/deactivate","method":"POST"}}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/users/00u7l7zefofVkIi7h1d7
    method: GET
  response:
    body: '{"id":"00u7l7zefofVkIi7h1d7","status":"PROVISIONED","created":"2023-04-06T18:46:04.000Z","activated":"2023-04-06T18:46:04.000Z","statusChanged":"2023-04-06T18:46:04.000Z","lastLogin":null,"lastUpdated":"2023-04-06T18:46:04.000Z","passwordChanged":null,"type":{"id":"oty5qwjvh0Vy1[...]
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/users/00u7l80f4sHcM5peU1d7
    method: GET
  response:
    body: '{"id":"00u7l80f4sHcM5peU1d7","status":"PROVISIONED","created":"2023-04-06T18:46:04.000Z","activated":"2023-04-06T18:46:04.000Z","statusChanged":"2023-04-06T18:46:04.000Z","lastLogin":null,"lastUpdated":"2023-04-06T18:46:04.000Z","passwordChanged":null,"type":{"id":"oty5qwjvh0Vy1[...]
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/users/00u7l7ztotNkRJM4O1d7
    method: GET
  response:
    body: '{"id":"00u7l7ztotNkRJM4O1d7","status":"PROVISIONED","created":"2023-04-06T18:46:04.000Z","activated":"2023-04-06T18:46:04.000Z","statusChanged":"2023-04-06T18:46:04.000Z","lastLogin":null,"lastUpdated":"2023-04-06T18:46:04.000Z","passwordChanged":null,"type":{"id":"oty5qwjvh0Vy1[...]
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/users/00u7l80izskTXDdeY1d7
    method: GET
  response:
    body: '{"id":"00u7l80izskTXDdeY1d7","status":"PROVISIONED","created":"2023-04-06T18:46:04.000Z","activated":"2023-04-06T18:46:04.000Z","statusChanged":"2023-04-06T18:46:04.000Z","lastLogin":null,"lastUpdated":"2023-04-06T18:46:04.000Z","passwordChanged":null,"type":{"id":"oty5qwjvh0Vy1[...]
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/users/00u7l7zefofVkIi7h1d7/roles
    method: GET
  response:
    body: '[]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/users/00u7l80f4sHcM5peU1d7/roles
    method: GET
  response:
    body: '[]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/users/00u7l7ztotNkRJM4O1d7/roles
    method: GET
  response:
    body: '[]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/users/00u7l80izskTXDdeY1d7/roles
    method: GET
  response:
    body: '[]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/users?limit=200&search=profile.email+sw+%22john_1558441895%22&sortOrder=0
    method: GET
  response:
    body: '[{"id":"00u7l7zefofVkIi7h1d7","status":"PROVISIONED","created":"2023-04-06T18:46:04.000Z","activated":"2023-04-06T18:46:04.000Z","statusChanged":"2023-04-06T18:46:04.000Z","lastLogin":null,"lastUpdated":"2023-04-06T18:46:04.000Z","p[...]
[...]
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/users?limit=200&search=profile.email+pr+and+profile.firstName+eq+%22TestAcc%22+and+profile.lastName+eq+%22Jones%22&sortOrder=0
    method: GET
  response:
    body: '[{"id":"00u7l7ztotNkRJM4O1d7","status":"PROVISIONED","created":"2023-04-06T18:46:04.000Z","activated":"2023-04-06T18:46:04.000Z","statusChanged":"2023-04-06T18:46:04.000Z","lastLogin":null,"lastUpdated":"2023-04-06T18:46:04.000Z","passwordChanged":null,"type":{"id":"oty5qwjvh0Vy1j8Kd1d7"},"profile":{"firstName":"TestAcc","lastName":"Jones","mobilePhone":null,"secondEmail":null,"login":"john_1558441895@ledzeppelin.com","email":"john_1558441895@ledzeppelin.com"},"credentials":{"provider":{"type":"OKTA","name":"OKTA"}},"_links":{"self":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/users/00u7l7ztotNkRJM4O1d7"}}}]'
    headers:
      Content-Type:
      - application/json
      Link:
      - <https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/users?limit=200&search=profile.email+pr+and+profile.firstName+eq+%22TestAcc%22+and+profile.lastName+eq+%22Jones%22>; rel="self"
    status: 200 OK
    code: 200
    duration: ""
[...]
