---
version: 1
interactions:
- request:
    body: |
      {"credentials":{"password":{}},"profile":{"email":"rick_astley_1558441895@rickrollin.com","firstName":"TestAcc","lastName":"Astley","login":"rick_astley_1558441895@rickrollin.com","postalAddress":null}}
    form: {}
    headers:
      Authorization:
      - SSWS REDACTED
      Content-Type:
      - application/json
    url: https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/users
    method: POST
  response:
    body: '{"id":"00u6m98u38yUhUHPz1d7","status":"PROVISIONED","created":"2023-01-11T20:04:47.000Z","activated":"2023-01-11T20:04:47.000Z","statusChanged":"2023-01-11T20:04:47.000Z","lastLogin":null,"lastUpdated":"2023-01-11T20:04:47.000Z","passwordChanged":null,"type":{"id":"oty5jjkl30LP1EYa11d7"},"profile":{"firstName":"TestAcc","lastName":"Astley","mobilePhone":null,"secondEmail":null,"login":"rick_astley_1558441895@rickrollin.com","email":"rick_astley_1558441895@rickrollin.com"},"credentials":{"provider":{"type":"OKTA","name":"OKTA"}},"_links":{"suspend":{"href":"https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/users/00u6m98u38yUhUHPz1d7/lifecycle/suspend","method":"POST"},"schema":{"href":"https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/meta/schemas/user/osc5jjkl30LP1EYa11d7"},"resetPassword":{"href":"https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/users/00u6m98u38yUhUHPz1d7/lifecycle/reset_password","method":"POST"},"reactivate":{"href":"https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/users/00u6m98u38yUhUHPz1d7/lifecycle/reactivate","method":"POST"},"self":{"href":"https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/users/00u6m98u38yUhUHPz1d7"},"resetFactors":{"href":"https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/users/00u6m98u38yUhUHPz1d7/lifecycle/reset_factors","method":"POST"},"type":{"href":"https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/meta/types/user/oty5jjkl30LP1EYa11d7"},"deactivate":{"href":"https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/users/00u6m98u38yUhUHPz1d7/lifecycle/deactivate","method":"POST"}}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/users/00u6m98u38yUhUHPz1d7
    method: GET
  response:
    body: '{"id":"00u6m98u38yUhUHPz1d7","status":"PROVISIONED","created":"2023-01-11T20:04:47.000Z","activated":"2023-01-11T20:04:47.000Z","statusChanged":"2023-01-11T20:04:47.000Z","lastLogin":null,"lastUpdated":"2023-01-11T20:04:47.000Z","passwordChanged":null,"type":{"id":"oty5jjkl30LP[...]
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/users/00u6m92ml8q7OMkQ11d7
    method: GET
  response:
    body: '{"id":"00u6m92ml8q7OMkQ11d7","status":"PROVISIONED","created":"2023-01-11T20:04:47.000Z","activated":"2023-01-11T20:04:47.000Z","statusChanged":"2023-01-11T20:04:47.000Z","lastLogin":null,"lastUpdated":"2023-01-11T20:04:47.000Z","passwordChanged":null,"type":{"id":"oty5jjkl30LP[...]
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/users/00u6m96su8MAhmQQc1d7
    method: GET
  response:
    body: '{"id":"00u6m96su8MAhmQQc1d7","status":"PROVISIONED","created":"2023-01-11T20:04:47.000Z","activated":"2023-01-11T20:04:47.000Z","statusChanged":"2023-01-11T20:04:47.000Z","lastLogin":null,"lastUpdated":"2023-01-11T20:04:47.000Z","passwordChanged":null,"type":{"id":"oty5jjkl30LP[...]
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/users/00u6m94whmVQsRfWd1d7
    method: GET
  response:
    body: '{"id":"00u6m94whmVQsRfWd1d7","status":"PROVISIONED","created":"2023-01-11T20:04:47.000Z","activated":"2023-01-11T20:04:47.000Z","statusChanged":"2023-01-11T20:04:47.000Z","lastLogin":null,"lastUpdated":"2023-01-11T20:04:47.000Z","passwordChanged":null,"type":{"id":"oty5jjkl30LP[...]
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/users/00u6m92ml8q7OMkQ11d7/roles
    method: GET
  response:
    body: '[]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/users/00u6m98u38yUhUHPz1d7/roles
    method: GET
  response:
    body: '[]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/users/00u6m96su8MAhmQQc1d7/roles
    method: GET
  response:
    body: '[]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/users/00u6m94whmVQsRfWd1d7/roles
    method: GET
  response:
    body: '[]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/users?limit=200&search=profile.email+sw+%22john_1558441895%22&sortOrder=0
    method: GET
  response:
    body: '[{"id":"00u6m92ml8q7OMkQ11d7","status":"PROVISIONED","created":"2023-01-11T20:04:47.000Z","activated":"2023-01-11T20:04:47.000Z","statusChanged":"2023-01-11T20:04:47.000Z","lastLogin":null,"lastUpdated":"2023-01-11T20:04:47.000Z","[...]
[...]
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/users?limit=200&search=profile.email+pr+and+profile.firstName+eq+%22TestAcc%22+and+profile.lastName+eq+%22Jones%22&sortOrder=0
    method: GET
  response:
    body: '[{"id":"00u6m92ml8q7OMkQ11d7","status":"PROVISIONED","created":"2023-01-11T20:04:47.000Z","activated":"2023-01-11T20:04:47.000Z","statusChanged":"2023-01-11T20:04:47.000Z","lastLogin":null,"lastUpdated":"2023-01-11T20:04:47.000Z","passwordChanged":null,"type":{"id":"oty5jjkl30LP1EYa11d7"},"profile":{"firstName":"TestAcc","lastName":"Jones","mobilePhone":null,"secondEmail":null,"login":"john_1558441895@ledzeppelin.com","email":"john_1558441895@ledzeppelin.com"},"credentials":{"provider":{"type":"OKTA","name":"OKTA"}},"_links":{"self":{"href":"https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/users/00u6m92ml8q7OMkQ11d7"}}}]'
    headers:
      Content-Type:
      - application/json
      Link:
      - <https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/users?limit=200&search=profile.email+pr+and+profile.firstName+eq+%22TestAcc%22+and+profile.lastName+eq+%22Jones%22>;
        rel="self"
    status: 200 OK
    code: 200
    duration: ""
[...]
