---
version: 2
interactions:
- id: 0
  request:
    host: oie-00.dne-okta.com
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://oie-00.dne-okta.com/api/v1/apps/0oardd5r32PWsF4421d7/tokens/oar1gytf4dW8R5tmZ1d7
    method: GET
  response:
    body: "{\"id\":\"oar1gytf4dW8R5tmZ1d7\",\"status\":\"ACTIVE\",\"created\":\"2025-11-06T14:20:08.000Z\",\"lastUpdated\":\"2025-11-06T14:20:08.000Z\",\"expiresAt\":\"2025-11-13T14:20:08.000Z\",\"issuer\":\"https://oie-00.dne-okta.com/oauth2/ausrdd8du39KFvOkt1d7\",\"clientId\":\"0oardd5r32PWsF4421d7\",\"userId\":\"00unkw1sfbTw08c0g1d7\",\"scopes\":[\"openid\",\"offline_access\"],\"_links\":{\"app\":{\"href\":\"https://oie-00.dne-okta.com/api/v1/apps/0oardd5r32PWsF4421d7\",\"title\":\"My Native App-2\"},\"authorizationServer\":{\"href\":\"https://oie-00.dne-okta.com/api/v1/authorizationServers/ausrdd8du39KFvOkt1d7\",\"title\":\"aditya_auth_server\"},\"self\":{\"href\":\"https://oie-00.dne-okta.com/api/v1/apps/0oardd5r32PWsF4421d7/tokens/oar1gytf4dW8R5tmZ1d7\"},\"revoke\":{\"href\":\"https://oie-00.dne-okta.com/api/v1/apps/0oardd5r32PWsF4421d7/tokens/oar1gytf4dW8R5tmZ1d7\",\"hints\":{\"allow\":[\"DELETE\"]}},\"client\":{\"href\":\"https://oie-00.dne-okta.com/oauth2/v1/clients/0oardd5r32PWsF4421d7\",\"title\":\"My Native App-2\"},\"user\":{\"href\":\"https://oie-00.dne-okta.com/api/v1/users/00unkw1sfbTw08c0g1d7\",\"title\":\"Aditya Anand\"}}}"
    headers:
      Accept-Ch:
      - Sec-CH-UA-Platform-Version
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 1.040563375s
[...]
