---
version: 2
interactions:
    - id: 0
      request:
        host: oie-00.dne-okta.com
        body: |
            {"channel":{"type":"HTTP","version":"1.0.0"},"name":"testAcc_4198631381","type":"com.okta.oauth2.tokens.transform","version":"1.0.0"}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://oie-00.dne-okta.com/api/v1/inlineHooks
        method: POST
      response:
        body: '{"id":"calkILHOOK000001d7","status":"ACTIVE","name":"testAcc_4198631381","type":"com.okta.oauth2.tokens.transform","version":"1.0.0","channel":{"type":"HTTP","version":"1.0.0","config":{"uri":"","headers":[],"method":"POST"}},"created":"2025-03-13T23:38:58.000Z","lastUpdated":"2025-03-13T23:38:58.000Z","_links":{"self":{"href":"https://oie-00.dne-okta.com/api/v1/inlineHooks/calkILHOOK000001d7"},"deactivate":{"href":"https://oie-00.dne-okta.com/api/v1/inlineHooks/calkILHOOK000001d7/lifecycle/deactivate","hints":{"allow":["POST"]}}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 300ms
    - id: 1
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/inlineHooks/calkILHOOK000001d7
        method: GET
      response:
        body: '{"id":"calkILHOOK000001d7","status":"ACTIVE","name":"testAcc_4198631381","type":"com.okta.oauth2.tokens.transform","version":"1.0.0","channel":{"type":"HTTP","version":"1.0.0","config":{"uri":"","headers":[],"method":"POST"}},"created":"2025-03-13T23:38:58.000Z","lastUpdated":"2025-03-13T23:38:58.000Z","_links":{"self":{"href":"https://oie-00.dne-okta.com/api/v1/inlineHooks/calkILHOOK000001d7"},"deactivate":{"href":"https://oie-00.dne-okta.com/api/v1/inlineHooks/calkILHOOK000001d7/lifecycle/deactivate","hints":{"allow":["POST"]}}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 200ms
[...]
