---
version: 2
interactions:
    - id: 0
      request:
        host: oie-00.dne-okta.com
        body: |
            {"profile":{"name":"testAcc_1495994503","description":"testing"}}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://oie-00.dne-okta.com/api/v1/groups
        method: POST
      response:
        body: '{"id":"00gkwr54uqQ3240Be1d7","created":"2025-03-13T23:37:16.000Z","lastUpdated":"2025-03-13T23:37:16.000Z","lastMembershipUpdated":"2025-03-13T23:37:16.000Z","objectClass":["okta:user_group"],"type":"OKTA_GROUP","profile":{"name":"testAcc_1495994503","description":"testing"},"_links":{"logo":[{"name":"medium","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-medium.30ce6d4085dff29412984e4c191bc874.png","type":"image/png"},{"name":"large","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-large.c3cb8cda8ae0add1b4fe928f5844dbe3.png","type":"image/png"}],"users":{"href":"https://oie-00.dne-okta.com/api/v1/groups/00gkwr54uqQ3240Be1d7/users"},"apps":{"href":"https://oie-00.dne-okta.com/api/v1/groups/00gkwr54uqQ3240Be1d7/apps"}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 211.623708ms
    - id: 1
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/groups/00gkwr54uqQ3240Be1d7
        method: GET
      response:
        body: '{"id":"00gkwr54uqQ3240Be1d7","created":"2025-03-13T23:37:16.000Z","lastUpdated":"2025-03-13T23:37:16.000Z","lastMembershipUpdated":"2025-03-13T23:37:16.000Z","objectClass":["okta:user_group"],"type":"OKTA_GROUP","profile":{"name":"testAcc_1495994503","description":"testing"},"_links":{"logo":[{"name":"medium","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-medium.30ce6d4085dff29412984e4c191bc874.png","type":"image/png"},{"name":"large","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-large.c3cb8cda8ae0add1b4fe928f5844dbe3.png","type":"image/png"}],"users":{"href":"https://oie-00.dne-okta.com/api/v1/groups/00gkwr54uqQ3240Be1d7/users"},"apps":{"href":"https://oie-00.dne-okta.com/api/v1/groups/00gkwr54uqQ3240Be1d7/apps"}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 206.167625ms
    - id: 2
      request:
        host: oie-00.dne-okta.com
        body: |
            {"credentials":{"password":{}},"profile":{"email":"testAcc-1495994503@example.com","firstName":"TestAcc","lastName":"Smith","login":"testAcc-1495994503@example.com","postalAddress":null}}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://oie-00.dne-okta.com/api/v1/users
        method: POST
      response:
        body: '{"id":"00ukwr5eu4a8XUdXr1d7","status":"PROVISIONED","created":"2025-03-13T23:37:16.000Z","activated":"2025-03-13T23:37:16.000Z","statusChanged":"2025-03-13T23:37:16.000Z","lastLogin":null,"lastUpdated":"2025-03-13T23:37:16.000Z","passwordChanged":null,"type":{"id":"oty5qwjvh0Vy1j8Kd1d7"},"profile":{"firstName":"TestAcc","lastName":"Smith","mobilePhone":null,"secondEmail":null,"login":"testAcc-1495994503@example.com","email":"testAcc-1495994503@example.com"},"credentials":{"provider":{"type":"OKTA","name":"OKTA"}},"_links":{"suspend":{"href":"https://oie-00.dne-okta.com/api/v1/users/00ukwr5eu4a8XUdXr1d7/lifecycle/suspend","method":"POST"},"schema":{"href":"https://oie-00.dne-okta.com/api/v1/meta/schemas/user/osc5qwjvh0Vy1j8Kd1d7"},"resetPassword":{"href":"https://oie-00.dne-okta.com/api/v1/users/00ukwr5eu4a8XUdXr1d7/lifecycle/reset_password","method":"POST"},"reactivate":{"href":"https://oie-00.dne-okta.com/api/v1/users/00ukwr5eu4a8XUdXr1d7/lifecycle/reactivate","method":"POST"},"self":{"href":"https://oie-00.dne-okta.com/api/v1/users/00ukwr5eu4a8XUdXr1d7"},"type":{"href":"https://oie-00.dne-okta.com/api/v1/meta/types/user/oty5qwjvh0Vy1j8Kd1d7"},"deactivate":{"href":"https://oie-00.dne-okta.com/api/v1/users/00ukwr5eu4a8XUdXr1d7/lifecycle/deactivate","method":"POST"}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 486.493209ms
[...]
    - id: 4
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/users/00ukwr5eu4a8XUdXr1d7
        method: GET
      response:
        body: '{"id":"00ukwr5eu4a8XUdXr1d7","status":"PROVISIONED","created":"2025-03-13T23:37:16.000Z","activated":"2025-03-13T23:37:16.000Z","statusChanged":"2025-03-13T23:37:16.000Z","lastLogin":null,"lastUpdated":"[...]
    - id: 5
      request:
        host: oie-00.dne-okta.com
        body: |
            {"type":"READ_ONLY_ADMIN"}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://oie-00.dne-okta.com/api/v1/groups/00gkwr54uqQ3240Be1d7/roles?disableNotifications=false
        method: POST
      response:
        body: '{"id":"grakwr6yx1gwn7G2x1d7","label":"Read-only Administrator","type":"READ_ONLY_ADMIN","status":"ACTIVE","created":"2025-03-13T23:37:17.000Z","lastUpdated":"2025-03-13T23:37:17.000Z","assignmentType":"GROUP","_links":{"assignee":{"href":"https://oie-00.dne-okta.com/api/v1/groups/00gkwr54uqQ3240Be1d7"}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 244.303209ms
[...]
    - id: 7
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/groups/00gkwr54uqQ3240Be1d7/roles/IFIFAX2BIRGUSTQ
        method: GET
      response:
        body: '{"id":"IFIFAX2BIRGUSTQ","label":"Application Administrator","type":"APP_ADMIN","status":"ACTIVE","created":"2025-03-13T23:37:17.000Z","lastUpdated":"2025-03-13T23:37:17.000Z","assignmentType":"GROUP","_links":{"assignee":{"href":"https://oie-00.dne-okta.com/api/v1/groups/00gkwr54uqQ3240Be1d7"}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 213.444791ms
    - id: 8
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/groups/00gkwr54uqQ3240Be1d7/roles/grakwr6yx1gwn7G2x1d7
        method: GET
      response:
        body: '{"id":"grakwr6yx1gwn7G2x1d7","label":"Read-only Administrator","type":"READ_ONLY_ADMIN","status":"ACTIVE","created":"2025-03-13T23:37:17.000Z","lastUpdated":"2025-03-13T23:37:17.000Z","assignmentType":"GROUP","_links":{"assignee":{"href":"https://oie-00.dne-okta.com/api/v1/groups/00gkwr54uqQ3240Be1d7"}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 342.681708ms
    - id: 9
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/groups/00gkwr54uqQ3240Be1d7/roles/IFIFAX2BIRGUSTQ/targets/catalog/apps?limit=200&status=ACTIVE
        method: GET
      response:
        body: '[]'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
            Link:
                - <https://oie-00.dne-okta.com/api/v1/groups/00gkwr54uqQ3240Be1d7/roles/IFIFAX2BIRGUSTQ/targets/catalog/apps?after=PGE8omQBYOrQ2e2MZD4wA7YMg1&limit=20>; rel="self"
        status: 200 OK
        code: 200
        duration: 253.103458ms
[...]
    - id: 23
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/groups/00gkwr5r1qESgx4gk1d7
        method: GET
      response:
        body: '{"id":"00gkwr5r1qESgx4gk1d7","created":"2025-03-13T23:37:20.000Z","lastUpdated":"2025-03-13T23:37:20.000Z","lastMembershipUpdated":"2025-03-13T23:37:20.000Z","objectClass":["okta:user_group"],"type":"OKTA_GROUP","profile":{"name":"testTarget2Acc_1495994503","description":"testing"},"_links":{"logo":[{"name":"medium","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-medium.30ce6d4085dff29412984e4c191bc874.png","type":"image/png"},{"name":"large","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-large.c3cb8cda8ae0add1b4fe928f5844dbe3.png","type":"image/png"}],"users":{"href":"https://oie-00.dne-okta.com/api/v1/groups/00gkwr5r1qESgx4gk1d7/users"},"apps":{"href":"https://oie-00.dne-okta.com/api/v1/groups/00gkwr5r1qESgx4gk1d7/apps"}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 200.038958ms
    - id: 24
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/groups/00gkwr54urbNVAd4G1d7
        method: GET
      response:
        body: '{"id":"00gkwr54urbNVAd4G1d7","created":"2025-03-13T23:37:20.000Z","lastUpdated":"2025-03-13T23:37:20.000Z","lastMembershipUpdated":"2025-03-13T23:37:20.000Z","objectClass":["okta:user_group"],"type":"OKTA_GROUP","profile":{"name":"testTarget1Acc_1495994503","description":"testing"},"_links":{"logo":[{"name":"medium","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-medium.30ce6d4085dff29412984e4c191bc874.png","type":"image/png"},{"name":"large","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-large.c3cb8cda8ae0add1b4fe928f5844dbe3.png","type":"image/png"}],"users":{"href":"https://oie-00.dne-okta.com/api/v1/groups/00gkwr54urbNVAd4G1d7/users"},"apps":{"href":"https://oie-00.dne-okta.com/api/v1/groups/00gkwr54urbNVAd4G1d7/apps"}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 214.679375ms
[...]
    - id: 26
      request:
        host: oie-00.dne-okta.com
        body: |
            {"credentials":{"userNameTemplate":{"template":"${source.login}","type":"BUILT_IN"},"userName":""},"accessibility":{"selfService":false},"label":"testAcc_1495994503","name":"template_swa","settings":{"app":{"buttonField":"btn-login","passwordField":"txtbox-password","url":"https://example.com/login.html","usernameField":"txtbox-username"},"notes":{"admin":null,"enduser":null}},"signOnMode":"BROWSER_PLUGIN","visibility":{"autoSubmitToolbar":false,"hide":{"iOS":false,"web":false}}}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://oie-00.dne-okta.com/api/v1/apps?activate=true
        method: POST
      response:
        body: '{"id":"0oakwr53ay8jwJsbz1d7","orn":"orn:oktapreview:idp:00o5qwjvg8hg7YpT81d7:apps:template_swa:0oakwr53ay8jwJsbz1d7","name":"template_swa","label":"testAcc_1495994503","status":"ACTIVE","lastUpdated":"2025-03-13T23:37:20.000Z","created":"2025-03-13T23:37:20.000Z","accessibility":{"selfService":false,"errorRedirectUrl":null,"loginRedirectUrl":null},"visibility":{"autoLaunch":false,"autoSubmitToolbar":false,"hide":{"iOS":false,"web":false},"appLinks":{"login":true}},"features":[],"signOnMode":"BROWSER_PLUGIN","credentials":{"scheme":"EDIT_USERNAME_AND_PASSWORD","userNameTemplate":{"template":"${source.login}","type":"BUILT_IN"},"revealPassword":false,"signing":{}},"settings":{"app":{"loginUrlRegex":null,"usernameField":"txtbox-username","redirectUrl":null,"buttonField":"btn-login","checkbox":null,"passwordField":"txtbox-password","url":"https://example.com/login.html"},"notifications":{"vpn":{"network":{"connection":"DISABLED"},"message":null,"helpUrl":null}},"manualProvisioning":false,"implicitAssignment":false,"notes":{"admin":null,"enduser":null}},"_links":{"uploadLogo":{"href":"https://oie-00.dne-okta.com/api/v1/apps/0oakwr53ay8jwJsbz1d7/logo","hints":{"allow":["POST"]}},"appLinks":[{"name":"login","href":"https://oie-00.dne-okta.com/home/template_swa/0oakwr53ay8jwJsbz1d7/2357","type":"text/html"}],"profileEnrollment":{"href":"https://oie-00.dne-okta.com/api/v1/policies/rst5qwjvlxUHivL8a1d7"},"policies":{"href":"https://oie-00.dne-okta.com/api/v1/apps/0oakwr53ay8jwJsbz1d7/policies","hints":{"allow":["PUT"]}},"groups":{"href":"https://oie-00.dne-okta.com/api/v1/apps/0oakwr53ay8jwJsbz1d7/groups"},"logo":[{"name":"medium","href":"https://op3static.oktacdn.com/fs/bcg/4/gfs1g3ksgnrQi3BSX1d8","type":"image/png"}],"accessPolicy":{"href":"https://oie-00.dne-okta.com/api/v1/policies/rst5qwjvlvS3G1WOU1d7"},"users":{"href":"https://oie-00.dne-okta.com/api/v1/apps/0oakwr53ay8jwJsbz1d7/users"},"deactivate":{"href":"https://oie-00.dne-okta.com/api/v1/apps/0oakwr53ay8jwJsbz1d7/lifecycle/deactivate"}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 969.552458ms
[...]
    - id: 29
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/apps/0oakwr53ay8jwJsbz1d7
        method: GET
      response:
        body: '{"id":"0oakwr53ay8jwJsbz1d7","orn":"orn:oktapreview:idp:00o5qwjvg8hg7YpT81d7:apps:template_swa:0oakwr53ay8jwJsbz1d7","name":"template_swa","label":"testAcc_1495994503","status":"ACTIVE","lastUpdated":"20[...]
    - id: 30
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/groups/00gkwr54uqQ3240Be1d7/roles/JBCUYUC7IRCVGS27IFCE2SKO/targets/groups/00gkwr5r1qESgx4gk1d7
        method: PUT
      response:
        body: ""
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
        status: 204 No Content
        code: 204
        duration: 289.926ms
[...]
    - id: 32
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/groups/00gkwr54uqQ3240Be1d7/roles/JBCUYUC7IRCVGS27IFCE2SKO/targets/groups/00gkwr54urbNVAd4G1d7
        method: PUT
      response:
        body: ""
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
        status: 204 No Content
        code: 204
        duration: 238.599416ms
    - id: 33
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/groups/00gkwr54uqQ3240Be1d7/roles/IFIFAX2BIRGUSTQ/targets/catalog/apps/template_swa/0oakwr53ay8jwJsbz1d7
        method: PUT
      response:
        body: ""
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
        status: 204 No Content
        code: 204
        duration: 283.164125ms
    - id: 34
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/groups/00gkwr54uqQ3240Be1d7/roles/JBCUYUC7IRCVGS27IFCE2SKO
        method: GET
      response:
        body: '{"id":"JBCUYUC7IRCVGS27IFCE2SKO","label":"Help Desk Administrator","type":"HELP_DESK_ADMIN","status":"ACTIVE","created":"2025-03-13T23:37:21.000Z","lastUpdated":"2025-03-13T23:37:21.000Z","assignmentType":"GROUP","_links":{"assignee":{"href":"https://oie-00.dne-okta.com/api/v1/groups/00gkwr54uqQ3240Be1d7"}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 217.57275ms
[...]
    - id: 36
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/groups/00gkwr54uqQ3240Be1d7/roles/JBCUYUC7IRCVGS27IFCE2SKO/targets/groups?limit=200
        method: GET
      response:
        body: '[{"id":"00gkwr54urbNVAd4G1d7","created":"2025-03-13T23:37:20.000Z","lastUpdated":"2025-03-13T23:37:20.000Z","lastMembershipUpdated":"2025-03-13T2[...]
[...]
    - id: 61
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/apps/0oakwr53ay8jwJsbz1d7/lifecycle/deactivate
        method: POST
      response:
        body: '{}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 269.433708ms
[...]
    - id: 67
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/groups/00gkwr54uqQ3240Be1d7/roles/IFIFAX2BIRGUSTQ/targets/catalog/apps/facebook
        method: PUT
      response:
        body: ""
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
        status: 204 No Content
        code: 204
        duration: 272.145625ms
[...]
    - id: 69
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/groups/00gkwr54uqQ3240Be1d7/roles/IFIFAX2BIRGUSTQ/targets/catalog/apps?limit=200&status=ACTIVE
        method: GET
      response:
        body: '[{"name":"facebook","displayName":"Facebook","description":"Giving people the power to share and make the world more open and connected.","status":"ACTIVE","lastUpdated":"2021-03-18T17:37:56.000Z","category":"SOCIAL","verificationStatus":"OKTA_VERIFIED","website":"https://www.facebook.com/","signOnModes":["BROWSER_PLUGIN"],"_links":{"logo":[{"name":"medium","href":"https://op3static.oktacdn.com/fs/bcg/4/gfshpspesrHHFC4Ve1d6"}],"self":{"href":"https://oie-00.dne-okta.com/api/v1/catalog/apps/facebook"}}}]'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
            Link:
                - <https://oie-00.dne-okta.com/api/v1/groups/00gkwr54uqQ3240Be1d7/roles/IFIFAX2BIRGUSTQ/targets/catalog/apps?after=PGEwAHwa3QMQyq2MMjBENjHGQ1&limit=20>; rel="self"
        status: 200 OK
        code: 200
        duration: 276.472333ms
[...]
    - id: 93
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/apps/0oakwr6kb3CthbuJ71d7
        method: GET
      response:
        body: '{"id":"0oakwr6kb3CthbuJ71d7","orn":"orn:oktapreview:idp:00o5qwjvg8hg7YpT81d7:apps:template_swa:0oakwr6kb3CthbuJ71d7","name":"template_swa","label":"testAcc_1495994503","status":"ACTIVE","lastUpdated":"20[...]
[...]
    - id: 102
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/apps/0oakwr6kb3CthbuJ71d7/lifecycle/deactivate
        method: POST
      response:
        body: '{}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 262.133792ms
[...]
