---
version: 2
interactions:
    - id: 0
      request:
        host: classic-00.dne-okta.com
        body: |
            {"label":"testAcc_2955457750","description":"workflow permission drift check","permissions":["okta.workflows.invoke"]}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://classic-00.dne-okta.com/api/v1/iam/roles
        method: POST
      response:
        body: '{"id":"cr011zimsmuBhGq2X1d8","label":"testAcc_2955457750","isCloneable":false,"description":"workflow permission drift check","created":"2026-07-30T16:14:26.000Z","lastUpdated":"2026-07-30T16:14:26.000Z","_links":{"permissions":{"href":"https://classic-00-admin.dne-okta.com/api/v1/iam/roles/cr011zimsmuBhGq2X1d8/permissions"},"self":{"href":"https://classic-00-admin.dne-okta.com/api/v1/iam/roles/cr011zimsmuBhGq2X1d8"}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
            Link:
                - <https://classic-00-admin.dne-okta.com/api/v1/iam/roles/cr011zimsmuBhGq2X1d8>; rel="self"
        status: 200 OK
        code: 200
        duration: 1.182910541s
    - id: 1
      request:
        host: classic-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/iam/roles/cr011zimsmuBhGq2X1d8
        method: GET
      response:
        body: '{"id":"cr011zimsmuBhGq2X1d8","label":"testAcc_2955457750","isCloneable":false,"description":"workflow permission drift check","created":"2026-07-30T16:14:26.000Z","lastUpdated":"2026-07-30T16:14:26.000Z","_links":{"permissions":{"href":"https://classic-00-admin.dne-okta.com/api/v1/iam/roles/cr011zimsmuBhGq2X1d8/permissions"},"self":{"href":"https://classic-00-admin.dne-okta.com/api/v1/iam/roles/cr011zimsmuBhGq2X1d8"}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
            Link:
                - <https://classic-00-admin.dne-okta.com/api/v1/iam/roles/cr011zimsmuBhGq2X1d8>; rel="self"
        status: 200 OK
        code: 200
        duration: 1.161851917s
    - id: 2
      request:
        host: classic-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/iam/roles/cr011zimsmuBhGq2X1d8/permissions
        method: GET
      response:
        body: '{"permissions":[{"label":"okta.workflows.invoke","created":"2026-07-30T16:14:26.000Z","lastUpdated":"2026-07-30T16:14:26.000Z","conditions":null,"_links":{"role":{"href":"https://classic-00-admin.dne-okta.com/api/v1/iam/roles/cr011zimsmuBhGq2X1d8"},"self":{"href":"https://classic-00-admin.dne-okta.com/api/v1/iam/roles/cr011zimsmuBhGq2X1d8/permissions/okta.workflows.invoke"}}},{"label":"okta.workflows.flows.invoke","created":"2026-07-30T16:14:26.000Z","lastUpdated":"2026-07-30T16:14:26.000Z","conditions":null,"_links":{"role":{"href":"https://classic-00-admin.dne-okta.com/api/v1/iam/roles/cr011zimsmuBhGq2X1d8"},"self":{"href":"https://classic-00-admin.dne-okta.com/api/v1/iam/roles/cr011zimsmuBhGq2X1d8/permissions/okta.workflows.flows.invoke"}}}]}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.169453958s
[...]
