---
version: 2
interactions:
    - id: 0
      request:
        host: oie-00.dne-okta.com
        body: |
            {"label":"testAcc_2955457750","description":"workflow permission drift check","permissions":["okta.workflows.invoke"]}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://oie-00.dne-okta.com/api/v1/iam/roles
        method: POST
      response:
        body: '{"id":"cr011zif13wpZNJfs1d8","label":"testAcc_2955457750","isCloneable":false,"description":"workflow permission drift check","created":"2026-07-30T16:05:33.000Z","lastUpdated":"2026-07-30T16:05:33.000Z","_links":{"permissions":{"href":"https://oie-00-admin.dne-okta.com/api/v1/iam/roles/cr011zif13wpZNJfs1d8/permissions"},"self":{"href":"https://oie-00-admin.dne-okta.com/api/v1/iam/roles/cr011zif13wpZNJfs1d8"}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
            Link:
                - <https://oie-00-admin.dne-okta.com/api/v1/iam/roles/cr011zif13wpZNJfs1d8>; rel="self"
        status: 200 OK
        code: 200
        duration: 1.165100916s
    - id: 1
      request:
        host: oie-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/iam/roles/cr011zif13wpZNJfs1d8
        method: GET
      response:
        body: '{"id":"cr011zif13wpZNJfs1d8","label":"testAcc_2955457750","isCloneable":false,"description":"workflow permission drift check","created":"2026-07-30T16:05:33.000Z","lastUpdated":"2026-07-30T16:05:33.000Z","_links":{"permissions":{"href":"https://oie-00-admin.dne-okta.com/api/v1/iam/roles/cr011zif13wpZNJfs1d8/permissions"},"self":{"href":"https://oie-00-admin.dne-okta.com/api/v1/iam/roles/cr011zif13wpZNJfs1d8"}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
            Link:
                - <https://oie-00-admin.dne-okta.com/api/v1/iam/roles/cr011zif13wpZNJfs1d8>; rel="self"
        status: 200 OK
        code: 200
        duration: 1.088855916s
    - id: 2
      request:
        host: oie-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/iam/roles/cr011zif13wpZNJfs1d8/permissions
        method: GET
      response:
        body: '{"permissions":[{"label":"okta.workflows.invoke","created":"2026-07-30T16:05:33.000Z","lastUpdated":"2026-07-30T16:05:33.000Z","conditions":null,"_links":{"role":{"href":"https://oie-00-admin.dne-okta.com/api/v1/iam/roles/cr011zif13wpZNJfs1d8"},"self":{"href":"https://oie-00-admin.dne-okta.com/api/v1/iam/roles/cr011zif13wpZNJfs1d8/permissions/okta.workflows.invoke"}}},{"label":"okta.workflows.flows.invoke","created":"2026-07-30T16:05:33.000Z","lastUpdated":"2026-07-30T16:05:33.000Z","conditions":null,"_links":{"role":{"href":"https://oie-00-admin.dne-okta.com/api/v1/iam/roles/cr011zif13wpZNJfs1d8"},"self":{"href":"https://oie-00-admin.dne-okta.com/api/v1/iam/roles/cr011zif13wpZNJfs1d8/permissions/okta.workflows.flows.invoke"}}}]}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.1000115s
[...]
