---
version: 1
interactions:
- request:
    body: |
      {"sendEmailForNewDeviceEnabled":true,"sendEmailForFactorEnrollmentEnabled":true,"sendEmailForFactorResetEnabled":true,"sendEmailForPasswordChangedEnabled":true,"reportSuspiciousActivityEnabled":true}
    form: {}
    headers:
      Authorization:
      - SSWS REDACTED
      Content-Type:
      - application/json
    url: https://tien-oie-tf-2022-09-21.oktapreview.com/api/internal/org/settings/security-notification-settings
    method: PUT
  response:
    body: '{"sendEmailForNewDeviceEnabled":true,"sendEmailForFactorEnrollmentEnabled":true,"sendEmailForFactorResetEnabled":true,"sendEmailForPasswordChangedEnabled":true,"reportSuspiciousActivityEnabled":true,"customizedEmailsList":[],"customizedEmailsWithReportButtonList":[]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
