---
version: 2
interactions:
    - id: 0
      request:
        host: classic-00.dne-okta.com
        body: |
            {"profile":{"name":"foo_832168054","description":""}}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://classic-00.dne-okta.com/api/v1/groups
        method: POST
      response:
        body: '{"id":"00gkwurmsbR1EGkHV1d7","created":"2025-03-14T03:06:29.000Z","lastUpdated":"2025-03-14T03:06:29.000Z","lastMembershipUpdated":"2025-03-14T03:06:29.000Z","objectClass":["okta:user_group"],"type":"OKTA_GROUP","profile":{"name":"foo_832168054","description":""},"_links":{"logo":[{"name":"medium","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-medium.30ce6d4085dff29412984e4c191bc874.png","type":"image/png"},{"name":"large","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-large.c3cb8cda8ae0add1b4fe928f5844dbe3.png","type":"image/png"}],"users":{"href":"https://classic-00.dne-okta.com/api/v1/groups/00gkwurmsbR1EGkHV1d7/users"},"apps":{"href":"https://classic-00.dne-okta.com/api/v1/groups/00gkwurmsbR1EGkHV1d7/apps"}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 241.766083ms
    - id: 1
      request:
        host: classic-00.dne-okta.com
        body: |
            {"credentials":{"password":{}},"profile":{"email":"john_832168054@ledzeppelin.com","firstName":"TestAcc","lastName":"Jones","login":"john_832168054@ledzeppelin.com","postalAddress":null}}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://classic-00.dne-okta.com/api/v1/users
        method: POST
      response:
        body: '{"id":"00ukwud1ujhqSkwoA1d7","status":"PROVISIONED","created":"2025-03-14T03:06:29.000Z","activated":"2025-03-14T03:06:29.000Z","statusChanged":"2025-03-14T03:06:29.000Z","lastLogin":null,"lastUpdated":"2025-03-14T03:06:29.000Z","passwordChanged":null,"type":{"id":"oty5ptm052JMcoADv1d7"},"profile":{"firstName":"TestAcc","lastName":"Jones","mobilePhone":null,"secondEmail":null,"login":"john_832168054@ledzeppelin.com","email":"john_832168054@ledzeppelin.com"},"credentials":{"provider":{"type":"OKTA","name":"OKTA"}},"_links":{"suspend":{"href":"https://classic-00.dne-okta.com/api/v1/users/00ukwud1ujhqSkwoA1d7/lifecycle/suspend","method":"POST"},"schema":{"href":"https://classic-00.dne-okta.com/api/v1/meta/schemas/user/osc5ptm052JMcoADv1d7"},"resetPassword":{"href":"https://classic-00.dne-okta.com/api/v1/users/00ukwud1ujhqSkwoA1d7/lifecycle/reset_password","method":"POST"},"reactivate":{"href":"https://classic-00.dne-okta.com/api/v1/users/00ukwud1ujhqSkwoA1d7/lifecycle/reactivate","method":"POST"},"self":{"href":"https://classic-00.dne-okta.com/api/v1/users/00ukwud1ujhqSkwoA1d7"},"type":{"href":"https://classic-00.dne-okta.com/api/v1/meta/types/user/oty5ptm052JMcoADv1d7"},"deactivate":{"href":"https://classic-00.dne-okta.com/api/v1/users/00ukwud1ujhqSkwoA1d7/lifecycle/deactivate","method":"POST"}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 433.656209ms
    - id: 2
      request:
        host: classic-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/groups/00gkwurmsbR1EGkHV1d7
        method: GET
      response:
        body: '{"id":"00gkwurmsbR1EGkHV1d7","created":"2025-03-14T03:06:29.000Z","lastUpdated":"2025-03-14T03:06:29.000Z","lastMembershipUpdated":"2025-03-14T03:06:29.000Z","objectClass":["okta:user_group"],"type":"OKTA_GROUP","profile":{"name":"foo_832168054","description":""},"_links":{"logo":[{"name":"medium","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-medium.30ce6d4085dff29412984e4c191bc874.png","type":"image/png"},{"name":"large","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-large.c3cb8cda8ae0add1b4fe928f5844dbe3.png","type":"image/png"}],"users":{"href":"https://classic-00.dne-okta.com/api/v1/groups/00gkwurmsbR1EGkHV1d7/users"},"apps":{"href":"https://classic-00.dne-okta.com/api/v1/groups/00gkwurmsbR1EGkHV1d7/apps"}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 245.096ms
[...]
    - id: 5
      request:
        host: classic-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/users/00ukwud1ujhqSkwoA1d7
        method: GET
      response:
        body: '{"id":"00ukwud1ujhqSkwoA1d7","status":"PROVISIONED","created":"2025-03-14T03:06:29.000Z","activated":"2025-03-14T03:06:29.000Z","statusChanged":"2025-03-14T03:06:29.000Z","lastLogin":null,"lastUp[...]
[...]
    - id: 8
      request:
        host: classic-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/users/00ukwu9ghpSB4i4oC1d7
        method: GET
      response:
        body: '{"id":"00ukwu9ghpSB4i4oC1d7","status":"PROVISIONED","created":"2025-03-14T03:06:29.000Z","activated":"2025-03-14T03:06:29.000Z","statusChanged":"2025-03-14T03:06:29.000Z","lastLogin":null,"lastUp[...]
    - id: 9
      request:
        host: classic-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/users/00ukwuluw5R28CoZy1d7
        method: GET
      response:
        body: '{"id":"00ukwuluw5R28CoZy1d7","status":"PROVISIONED","created":"2025-03-14T03:06:29.000Z","activated":"2025-03-14T03:06:29.000Z","statusChanged":"2025-03-14T03:06:29.000Z","lastLogin":null,"lastUp[...]
    - id: 10
      request:
        host: classic-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/users/00ukwuiznxuhKVzQp1d7
        method: GET
      response:
        body: '{"id":"00ukwuiznxuhKVzQp1d7","status":"PROVISIONED","created":"2025-03-14T03:06:29.000Z","activated":"2025-03-14T03:06:29.000Z","statusChanged":"2025-03-14T03:06:29.000Z","lastLogin":null,"lastU[...]
    - id: 11
      request:
        host: classic-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/groups/00gkwurmsbR1EGkHV1d7/users/00ukwuiznxuhKVzQp1d7
        method: PUT
      response:
        body: ""
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
        status: 204 No Content
        code: 204
        duration: 238.386708ms
    - id: 12
      request:
        host: classic-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/groups/00gkwurmsbR1EGkHV1d7/users/00ukwud1ujhqSkwoA1d7
        method: PUT
      response:
        body: ""
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
        status: 204 No Content
        code: 204
        duration: 230.310208ms
    - id: 13
      request:
        host: classic-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/groups/00gkwurmsbR1EGkHV1d7/users?limit=200
        method: GET
      response:
        body: '[{"id":"00ukwud1ujhqSkwoA1d7","status":"PROVISIONED","created":"2025-03-14T03:06:29.000Z","activated":"2025-03-14T03:06:29.000Z","statusChanged":"2025-03-14T03:06:29.000Z","last[...]
[...]
    - id: 27
      request:
        host: classic-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/users/00ukwud1ujhqSkwoA1d7/groups
        method: GET
      response:
        body: '[{"id":"00g5ptm04tzNvyznP1d7","created":"2022-10-04T23:20:18.000Z","lastUpdated":"2022-10-04T23:20:18.000Z","lastMembershipUpdated":"2025-02-20T18:39:27.000Z","objectClass":["okta:user_gr[...]
    - id: 28
      request:
        host: classic-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/users/00ukwuiznxuhKVzQp1d7/groups
        method: GET
      response:
        body: '[{"id":"00g5ptm04tzNvyznP1d7","created":"2022-10-04T23:20:18.000Z","lastUpdated":"2022-10-04T23:20:18.000Z","lastMembershipUpdated":"2025-02-20T18:39:27.000Z","objectClass":["okta:user_gr[...]
[...]
