---
version: 2
interactions:
- id: 0
  request:
    host: classic-00.dne-okta.com
    body: "{\"profile\":{\"name\":\"foo_832168054\",\"description\":\"\"}}\n"
    headers:
      Authorization:
      - SSWS REDACTED
      Content-Type:
      - application/json
    url: https://classic-00.dne-okta.com/api/v1/groups
    method: POST
  response:
    body: "{\"id\":\"00gckrjwc43BljmfL0x7\",\"created\":\"2025-12-17T10:50:44.000Z\",\"lastUpdated\":\"2025-12-17T10:50:44.000Z\",\"lastMembershipUpdated\":\"2025-12-17T10:50:44.000Z\",\"objectClass\":[\"okta:user_group\"],\"type\":\"OKTA_GROUP\",\"profile\":{\"name\":\"foo_832168054\",\"description\":\"\"},\"_links\":{\"logo\":[{\"name\":\"medium\",\"href\":\"https://op2static2.oktacdn.com/assets/img/logos/groups/odyssey/okta-medium.30ce6d4085dff29412984e4c191bc874.png\",\"type\":\"image/png\"},{\"name\":\"large\",\"href\":\"https://op2static2.oktacdn.com/assets/img/logos/groups/odyssey/okta-large.c3cb8cda8ae0add1b4fe928f5844dbe3.png\",\"type\":\"image/png\"}],\"owners\":{\"href\":\"https://classic-00.dne-okta.com/api/v1/groups/00gckrjwc43BljmfL0x7/owners\"},\"users\":{\"href\":\"https://classic-00.dne-okta.com/api/v1/groups/00gckrjwc43BljmfL0x7/users\"},\"apps\":{\"href\":\"https://classic-00.dne-okta.com/api/v1/groups/00gckrjwc43BljmfL0x7/apps\"}}}"
    headers:
      Accept-Ch:
      - Sec-CH-UA-Platform-Version
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 106.3255ms
- id: 1
  request:
    host: classic-00.dne-okta.com
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://classic-00.dne-okta.com/api/v1/groups/00gckrjwc43BljmfL0x7
    method: GET
  response:
    body: "{\"id\":\"00gckrjwc43BljmfL0x7\",\"created\":\"2025-12-17T10:50:44.000Z\",\"lastUpdated\":\"2025-12-17T10:50:44.000Z\",\"lastMembershipUpdated\":\"2025-12-17T10:50:44.000Z\",\"objectClass\":[\"okta:user_group\"],\"type\":\"OKTA_GROUP\",\"profile\":{\"name\":\"foo_832168054\",\"description\":\"\"},\"_links\":{\"logo\":[{\"name\":\"medium\",\"href\":\"https://op2static2.oktacdn.com/assets/img/logos/groups/odyssey/okta-medium.30ce6d4085dff29412984e4c191bc874.png\",\"type\":\"image/png\"},{\"name\":\"large\",\"href\":\"https://op2static2.oktacdn.com/assets/img/logos/groups/odyssey/okta-large.c3cb8cda8ae0add1b4fe928f5844dbe3.png\",\"type\":\"image/png\"}],\"owners\":{\"href\":\"https://classic-00.dne-okta.com/api/v1/groups/00gckrjwc43BljmfL0x7/owners\"},\"users\":{\"href\":\"https://classic-00.dne-okta.com/api/v1/groups/00gckrjwc43BljmfL0x7/users\"},\"apps\":{\"href\":\"https://classic-00.dne-okta.com/api/v1/groups/00gckrjwc43BljmfL0x7/apps\"}}}"
    headers:
      Accept-Ch:
      - Sec-CH-UA-Platform-Version
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 171.507709ms
- id: 2
  request:
    host: classic-00.dne-okta.com
    body: "{\"credentials\":{\"password\":{}},\"profile\":{\"email\":\"rick_astley_832168054@rickrollin.com\",\"firstName\":\"TestAcc\",\"lastName\":\"Astley\",\"login\":\"rick_astley_832168054@rickrollin.com\",\"postalAddress\":null}}\n"
    headers:
      Authorization:
      - SSWS REDACTED
      Content-Type:
      - application/json
    url: https://classic-00.dne-okta.com/api/v1/users
    method: POST
  response:
    body: "{\"id\":\"00uckrjxdyzJgXR2f0x7\",\"status\":\"PROVISIONED\",\"created\":\"2025-12-17T10:50:44.000Z\",\"activated\":\"2025-12-17T10:50:44.000Z\",\"statusChanged\":\"2025-12-17T10:50:44.000Z\",\"lastLogin\":null,\"lastUpdated\":\"2025-12-17T10:50:44.000Z\",\"passwordChanged\":null,\"realmId\":\"guobiiz9fiOFhQlea0x7\",\"type\":{\"id\":\"otybiiyra51eDWlk50x7\"},\"profile\":{\"firstName\":\"TestAcc\",\"lastName\":\"Astley\",\"mobilePhone\":null,\"secondEmail\":null,\"login\":\"rick_astley_832168054@rickrollin.com\",\"email\":\"rick_astley_832168054@rickrollin.com\"},\"credentials\":{\"provider\":{\"type\":\"OKTA\",\"name\":\"OKTA\"}},\"_links\":{\"suspend\":{\"href\":\"https://classic-00.dne-okta.com/api/v1/users/00uckrjxdyzJgXR2f0x7/lifecycle/suspend\",\"method\":\"POST\"},\"schema\":{\"href\":\"https://classic-00.dne-okta.com/api/v1/meta/schemas/user/oscbiiyra51eDWlk50x7\"},\"resetPassword\":{\"href\":\"https://classic-00.dne-okta.com/api/v1/users/00uckrjxdyzJgXR2f0x7/lifecycle/reset_password\",\"method\":\"POST\"},\"reactivate\":{\"href\":\"https://classic-00.dne-okta.com/api/v1/users/00uckrjxdyzJgXR2f0x7/lifecycle/reactivate\",\"method\":\"POST\"},\"self\":{\"href\":\"https://classic-00.dne-okta.com/api/v1/users/00uckrjxdyzJgXR2f0x7\"},\"resetFactors\":{\"href\":\"https://classic-00.dne-okta.com/api/v1/users/00uckrjxdyzJgXR2f0x7/lifecycle/reset_factors\",\"method\":\"POST\"},\"type\":{\"href\":\"https://classic-00.dne-okta.com/api/v1/meta/types/user/otybiiyra51eDWlk50x7\"},\"deactivate\":{\"href\":\"https://classic-00.dne-okta.com/api/v1/users/00uckrjxdyzJgXR2f0x7/lifecycle/deactivate\",\"method\":\"POST\"}}}"
    headers:
      Accept-Ch:
      - Sec-CH-UA-Platform-Version
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 303.788458ms
[...]
- id: 7
  request:
    host: classic-00.dne-okta.com
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://classic-00.dne-okta.com/api/v1/users/00uckrjxdyzJgXR2f0x7
    method: GET
  response:
    body: "{\"id\":\"00uckrjxdyzJgXR2f0x7\",\"status\":\"PROVISIONED\",\"created\":\"2025-12-17T10:50:44.000Z\",\"activated\":\"2025-12-17T10:50:44.000Z\",\"statusChanged\":\"2025-12-17T10:50:44.000Z\",\"lastLogin\":null,\"lastUpdated\":\"2025-12-17T10:50:44.000Z\",\"passwordChanged\":nu[...]
- id: 8
  request:
    host: classic-00.dne-okta.com
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://classic-00.dne-okta.com/api/v1/users/00uckrk7479qWsEGM0x7
    method: GET
  response:
    body: "{\"id\":\"00uckrk7479qWsEGM0x7\",\"status\":\"PROVISIONED\",\"created\":\"2025-12-17T10:50:44.000Z\",\"activated\":\"2025-12-17T10:50:44.000Z\",\"statusChanged\":\"2025-12-17T10:50:44.000Z\",\"lastLogin\":null,\"lastUpdated\":\"2025-12-17T10:50:44.000Z\",\"passwordChanged\":nu[...]
- id: 9
  request:
    host: classic-00.dne-okta.com
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://classic-00.dne-okta.com/api/v1/users/00uckrk7408Pcsji60x7
    method: GET
  response:
    body: "{\"id\":\"00uckrk7408Pcsji60x7\",\"status\":\"PROVISIONED\",\"created\":\"2025-12-17T10:50:44.000Z\",\"activated\":\"2025-12-17T10:50:44.000Z\",\"statusChanged\":\"2025-12-17T10:50:44.000Z\",\"lastLogin\":null,\"lastUpdated\":\"2025-12-17T10:50:44.000Z\",\"passwordChanged\":nu[...]
- id: 10
  request:
    host: classic-00.dne-okta.com
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://classic-00.dne-okta.com/api/v1/users/00uckrjuj2OwPvXe20x7
    method: GET
  response:
    body: "{\"id\":\"00uckrjuj2OwPvXe20x7\",\"status\":\"PROVISIONED\",\"created\":\"2025-12-17T10:50:44.000Z\",\"activated\":\"2025-12-17T10:50:44.000Z\",\"statusChanged\":\"2025-12-17T10:50:44.000Z\",\"lastLogin\":null,\"lastUpdated\":\"2025-12-17T10:50:44.000Z\",\"passwordChanged\":n[...]
- id: 11
  request:
    host: classic-00.dne-okta.com
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://classic-00.dne-okta.com/api/v1/groups/00gckrjwc43BljmfL0x7/users/00uckrjuj2OwPvXe20x7
    method: PUT
  response:
    body: ""
    headers:
      Accept-Ch:
      - Sec-CH-UA-Platform-Version
    status: 204 No Content
    code: 204
    duration: 134.595458ms
- id: 12
  request:
    host: classic-00.dne-okta.com
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://classic-00.dne-okta.com/api/v1/groups/00gckrjwc43BljmfL0x7/users/00uckrk7408Pcsji60x7
    method: PUT
  response:
    body: ""
    headers:
      Accept-Ch:
      - Sec-CH-UA-Platform-Version
    status: 204 No Content
    code: 204
    duration: 201.396166ms
- id: 13
  request:
    host: classic-00.dne-okta.com
    form:
      limit:
      - "200"
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://classic-00.dne-okta.com/api/v1/groups/00gckrjwc43BljmfL0x7/users?limit=200
    method: GET
  response:
    body: "[]"
    headers:
      Accept-Ch:
      - Sec-CH-UA-Platform-Version
      Content-Type:
      - application/json
      Link:
      - <https://classic-00.dne-okta.com/api/v1/groups/00gckrjwc43BljmfL0x7/users?limit=200>; rel="self"
    status: 200 OK
    code: 200
    duration: 140.476333ms
[...]
- id: 29
  request:
    host: classic-00.dne-okta.com
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://classic-00.dne-okta.com/api/v1/users/00uckrjuj2OwPvXe20x7/groups
    method: GET
  response:
    body: "[{\"id\":\"00gbiiyr9vU7iIKuk0x7\",\"created\":\"2025-08-20T20:18:26.000Z\",\"lastUpdated\":\"2025-08-20T20:18:26.000Z\",\"lastMembershipUpdated\":\"2025-11-21T12:54:30.000Z\",\"objectClass\":[\"okta:user_group\"],\"type\":\"BUILT_IN\",\"profile\":{\"name\":\"Everyone\"[...]
- id: 30
  request:
    host: classic-00.dne-okta.com
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://classic-00.dne-okta.com/api/v1/users/00uckrk7408Pcsji60x7/groups
    method: GET
  response:
    body: "[{\"id\":\"00gbiiyr9vU7iIKuk0x7\",\"created\":\"2025-08-20T20:18:26.000Z\",\"lastUpdated\":\"2025-08-20T20:18:26.000Z\",\"lastMembershipUpdated\":\"2025-11-21T12:54:30.000Z\",\"objectClass\":[\"okta:user_group\"],\"type\":\"BUILT_IN\",\"profile\":{\"name\":\"Everyone\"[...]
[...]
