---
version: 2
interactions:
    - id: 0
      request:
        host: oie-00.dne-okta.com
        body: |
            {"profile":{"name":"foo_832168054","description":""}}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://oie-00.dne-okta.com/api/v1/groups
        method: POST
      response:
        body: '{"id":"00gkwqtwsl1vPpKAt1d7","created":"2025-03-13T23:27:05.000Z","lastUpdated":"2025-03-13T23:27:05.000Z","lastMembershipUpdated":"2025-03-13T23:27:05.000Z","objectClass":["okta:user_group"],"type":"OKTA_GROUP","profile":{"name":"foo_832168054","description":""},"_links":{"logo":[{"name":"medium","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-medium.30ce6d4085dff29412984e4c191bc874.png","type":"image/png"},{"name":"large","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-large.c3cb8cda8ae0add1b4fe928f5844dbe3.png","type":"image/png"}],"users":{"href":"https://oie-00.dne-okta.com/api/v1/groups/00gkwqtwsl1vPpKAt1d7/users"},"apps":{"href":"https://oie-00.dne-okta.com/api/v1/groups/00gkwqtwsl1vPpKAt1d7/apps"}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 231.449542ms
    - id: 1
      request:
        host: oie-00.dne-okta.com
        body: |
            {"credentials":{"password":{}},"profile":{"email":"john_832168054@unknown.com","firstName":"TestAcc","lastName":"Doe","login":"john_832168054@unknown.com","postalAddress":null}}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://oie-00.dne-okta.com/api/v1/users
        method: POST
      response:
        body: '{"id":"00ukwr0rjmFKtIXzI1d7","status":"PROVISIONED","created":"2025-03-13T23:27:05.000Z","activated":"2025-03-13T23:27:06.000Z","statusChanged":"2025-03-13T23:27:06.000Z","lastLogin":null,"lastUpdated":"2025-03-13T23:27:06.000Z","passwordChanged":null,"type":{"id":"oty5qwjvh0Vy1j8Kd1d7"},"profile":{"firstName":"TestAcc","lastName":"Doe","mobilePhone":null,"secondEmail":null,"login":"john_832168054@unknown.com","email":"john_832168054@unknown.com"},"credentials":{"provider":{"type":"OKTA","name":"OKTA"}},"_links":{"suspend":{"href":"https://oie-00.dne-okta.com/api/v1/users/00ukwr0rjmFKtIXzI1d7/lifecycle/suspend","method":"POST"},"schema":{"href":"https://oie-00.dne-okta.com/api/v1/meta/schemas/user/osc5qwjvh0Vy1j8Kd1d7"},"resetPassword":{"href":"https://oie-00.dne-okta.com/api/v1/users/00ukwr0rjmFKtIXzI1d7/lifecycle/reset_password","method":"POST"},"reactivate":{"href":"https://oie-00.dne-okta.com/api/v1/users/00ukwr0rjmFKtIXzI1d7/lifecycle/reactivate","method":"POST"},"self":{"href":"https://oie-00.dne-okta.com/api/v1/users/00ukwr0rjmFKtIXzI1d7"},"type":{"href":"https://oie-00.dne-okta.com/api/v1/meta/types/user/oty5qwjvh0Vy1j8Kd1d7"},"deactivate":{"href":"https://oie-00.dne-okta.com/api/v1/users/00ukwr0rjmFKtIXzI1d7/lifecycle/deactivate","method":"POST"}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 319.499792ms
[...]
    - id: 5
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/groups/00gkwqtwsl1vPpKAt1d7
        method: GET
      response:
        body: '{"id":"00gkwqtwsl1vPpKAt1d7","created":"2025-03-13T23:27:05.000Z","lastUpdated":"2025-03-13T23:27:05.000Z","lastMembershipUpdated":"2025-03-13T23:27:05.000Z","objectClass":["okta:user_group"],"type":"OKTA_GROUP","profile":{"name":"foo_832168054","description":""},"_links":{"logo":[{"name":"medium","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-medium.30ce6d4085dff29412984e4c191bc874.png","type":"image/png"},{"name":"large","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-large.c3cb8cda8ae0add1b4fe928f5844dbe3.png","type":"image/png"}],"users":{"href":"https://oie-00.dne-okta.com/api/v1/groups/00gkwqtwsl1vPpKAt1d7/users"},"apps":{"href":"https://oie-00.dne-okta.com/api/v1/groups/00gkwqtwsl1vPpKAt1d7/apps"}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 341.873833ms
    - id: 6
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/users/00ukwr0rjmFKtIXzI1d7
        method: GET
      response:
        body: '{"id":"00ukwr0rjmFKtIXzI1d7","status":"PROVISIONED","created":"2025-03-13T23:27:05.000Z","activated":"2025-03-13T23:27:06.000Z","statusChanged":"2025-03-13T23:27:06.000Z","lastLogin":null,"lastUpdated":"[...]
    - id: 7
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/users/00ukwqslstarDVjOG1d7
        method: GET
      response:
        body: '{"id":"00ukwqslstarDVjOG1d7","status":"PROVISIONED","created":"2025-03-13T23:27:05.000Z","activated":"2025-03-13T23:27:06.000Z","statusChanged":"2025-03-13T23:27:06.000Z","lastLogin":null,"lastUpdated":"[...]
    - id: 8
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/users/00ukwqsl3vAyCij4l1d7
        method: GET
      response:
        body: '{"id":"00ukwqsl3vAyCij4l1d7","status":"PROVISIONED","created":"2025-03-13T23:27:06.000Z","activated":"2025-03-13T23:27:06.000Z","statusChanged":"2025-03-13T23:27:06.000Z","lastLogin":null,"lastUpdated":"[...]
[...]
    - id: 10
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/users/00ukwqojkjYoUrCgZ1d7
        method: GET
      response:
        body: '{"id":"00ukwqojkjYoUrCgZ1d7","status":"PROVISIONED","created":"2025-03-13T23:27:05.000Z","activated":"2025-03-13T23:27:06.000Z","statusChanged":"2025-03-13T23:27:06.000Z","lastLogin":null,"lastUpdated":[...]
    - id: 11
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/groups/00gkwqtwsl1vPpKAt1d7/users/00ukwqslstarDVjOG1d7
        method: PUT
      response:
        body: ""
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
        status: 204 No Content
        code: 204
        duration: 576.758041ms
    - id: 12
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/groups/00gkwqtwsl1vPpKAt1d7/users/00ukwqsl3vAyCij4l1d7
        method: PUT
      response:
        body: ""
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
        status: 204 No Content
        code: 204
        duration: 232.04125ms
    - id: 13
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/groups/00gkwqtwsl1vPpKAt1d7/users?limit=200
        method: GET
      response:
        body: '[{"id":"00ukwqsl3vAyCij4l1d7","status":"PROVISIONED","created":"2025-03-13T23:27:06.000Z","activated":"2025-03-13T23:27:06.000Z","statusChanged":"2025-03-13T23:27:06.000Z","lastLogin":n[...]
[...]
    - id: 27
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/users/00ukwqsl3vAyCij4l1d7/groups
        method: GET
      response:
        body: '[{"id":"00g5qwjvgrD3WR89l1d7","created":"2022-10-07T23:16:57.000Z","lastUpdated":"2022-10-07T23:16:57.000Z","lastMembershipUpdated":"2025-03-13T22:02:57.000Z","objectClass":["okta:user_group"],"t[...]
    - id: 28
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/users/00ukwqslstarDVjOG1d7/groups
        method: GET
      response:
        body: '[{"id":"00g5qwjvgrD3WR89l1d7","created":"2022-10-07T23:16:57.000Z","lastUpdated":"2022-10-07T23:16:57.000Z","lastMembershipUpdated":"2025-03-13T22:02:57.000Z","objectClass":["okta:user_group"],"t[...]
[...]
