---
version: 2
interactions:
    - id: 0
      request:
        host: skip-auth-policy-00.dne-okta.com
        body: |
            {"accessibility":{"selfService":false},"credentials":{"userNameTemplate":{"template":"${source.login}","type":"BUILT_IN"}},"label":"testAcc_3231961193","settings":{"app":{},"implicitAssignment":false,"notes":{"admin":null,"enduser":null},"signOn":{"allowMultipleAcsEndpoints":false,"assertionSigned":true,"attributeStatements":[],"audience":"http://audience.com","audienceOverride":"","authnContextClassRef":"urn:oasis:names:tc:SAML:2.0:ac:classes:PasswordProtectedTransport","defaultRelayState":"","destination":"http://its-about-the-journey.com","destinationOverride":"","digestAlgorithm":"SHA1","honorForceAuthn":true,"recipient":"http://here.com","recipientOverride":"","responseSigned":true,"samlSignedRequestEnabled":false,"signatureAlgorithm":"RSA_SHA1","slo":{"enabled":false},"ssoAcsUrl":"http://google.com","ssoAcsUrlOverride":"","subjectNameIdFormat":"urn:oasis:names:tc:SAML:1.1:nameid-format:unspecified","subjectNameIdTemplate":"${source.login}"}},"signOnMode":"SAML_2_0","visibility":{"autoSubmitToolbar":false,"hide":{"iOS":false,"web":false}}}
        form:
            activate:
                - "true"
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://skip-auth-policy-00.dne-okta.com/api/v1/apps?activate=true
        method: POST
      response:
        body: '{"id":"0oatzy89cvLokD3DJ697","orn":"orn:okta:idp:00osd501x0KyUtOul697:apps:skip-auth-policy-00_testacc3231961193_1:0oatzy89cvLokD3DJ697","name":"skip-auth-policy-00_testacc3231961193_1","label":"testAcc_3231961193","status":"ACTIVE","lastUpdated":"2025-08-08T02:13:33.000Z","created":"2025-08-08T02:13:33.000Z","accessibility":{"selfService":false,"errorRedirectUrl":null,"loginRedirectUrl":null},"visibility":{"autoLaunch":false,"autoSubmitToolbar":false,"hide":{"iOS":false,"web":false},"appLinks":{"skip-auth-policy-00_testacc3231961193_1_link":true}},"features":[],"signOnMode":"SAML_2_0","credentials":{"userNameTemplate":{"template":"${source.login}","type":"BUILT_IN"},"signing":{"kid":"uKQQ_FvO4VgD92YHyXApF6GZgWSa6qy3XPYTuEqdGg4"}},"universalLogout":null,"settings":{"app":{},"notifications":{"vpn":{"network":{"connection":"DISABLED"},"message":null,"helpUrl":null}},"manualProvisioning":false,"implicitAssignment":false,"emOptInStatus":"NONE","notes":{"admin":null,"enduser":null},"signOn":{"defaultRelayState":"","ssoAcsUrl":"http://google.com","idpIssuer":"http://www.okta.com/${org.externalKey}","audience":"http://audience.com","recipient":"http://here.com","destination":"http://its-about-the-journey.com","subjectNameIdTemplate":"${source.login}","subjectNameIdFormat":"urn:oasis:names:tc:SAML:1.1:nameid-format:unspecified","responseSigned":true,"assertionSigned":true,"signatureAlgorithm":"RSA_SHA1","digestAlgorithm":"SHA1","honorForceAuthn":true,"authnContextClassRef":"urn:oasis:names:tc:SAML:2.0:ac:classes:PasswordProtectedTransport","spIssuer":null,"requestCompressed":false,"attributeStatements":[],"inlineHooks":[],"assertionEncryption":{"enabled":false},"allowMultipleAcsEndpoints":false,"acsEndpoints":[],"samlSignedRequestEnabled":false,"slo":{"enabled":false}}},"_links":{"help":{"href":"https://skip-auth-policy-00-admin.dne-okta.com/app/skip-auth-policy-00_testacc3231961193_1/0oatzy89cvLokD3DJ697/setup/help/SAML_2_0/instructions","type":"text/html"},"metadata":{"href":"https://skip-auth-policy-00.dne-okta.com/api/v1/apps/0oatzy89cvLokD3DJ697/sso/saml/metadata","type":"application/xml"},"uploadLogo":{"href":"https://skip-auth-policy-00.dne-okta.com/api/v1/apps/0oatzy89cvLokD3DJ697/logo","hints":{"allow":["POST"]}},"appLinks":[{"name":"skip-auth-policy-00_testacc3231961193_1_link","href":"https://skip-auth-policy-00.dne-okta.com/home/skip-auth-policy-00_testacc3231961193_1/0oatzy89cvLokD3DJ697/alntzyedqtOcgEHZw697","type":"text/html"}],"profileEnrollment":{"href":"https://skip-auth-policy-00.dne-okta.com/api/v1/policies/rstsd5022rAok3aFp697"},"policies":{"href":"https://skip-auth-policy-00.dne-okta.com/api/v1/apps/0oatzy89cvLokD3DJ697/policies","hints":{"allow":["PUT"]}},"groups":{"href":"https://skip-auth-policy-00.dne-okta.com/api/v1/apps/0oatzy89cvLokD3DJ697/groups"},"logo":[{"name":"medium","href":"https://ok14static.oktacdn.com/assets/img/logos/default.6770228fb0dab49a1695ef440a5279bb.png","type":"image/png"}],"accessPolicy":{"href":"https://skip-auth-policy-00.dne-okta.com/api/v1/policies/rstsd5022pPoMSA4q697"},"users":{"href":"https://skip-auth-policy-00.dne-okta.com/api/v1/apps/0oatzy89cvLokD3DJ697/users"},"deactivate":{"href":"https://skip-auth-policy-00.dne-okta.com/api/v1/apps/0oatzy89cvLokD3DJ697/lifecycle/deactivate"}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.367770083s
    - id: 1
      request:
        host: skip-auth-policy-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://skip-auth-policy-00.dne-okta.com/api/v1/apps/0oatzy89cvLokD3DJ697
        method: GET
      response:
        body: '{"id":"0oatzy89cvLokD3DJ697","orn":"orn:okta:idp:00osd501x0KyUtOul697:apps:skip-auth-policy-00_testacc3231961193_1:0oatzy89cvLokD3DJ697","name":"skip-auth-policy-00_testacc3231961193_1","label":"testAcc_323196119[...]
    - id: 2
      request:
        host: skip-auth-policy-00.dne-okta.com
        form:
            kid:
                - uKQQ_FvO4VgD92YHyXApF6GZgWSa6qy3XPYTuEqdGg4
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://skip-auth-policy-00.dne-okta.com/api/v1/apps/0oatzy89cvLokD3DJ697/sso/saml/metadata?kid=uKQQ_FvO4VgD92YHyXApF6GZgWSa6qy3XPYTuEqdGg4
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?><md:EntityDescriptor entityID="http://www.okta.com/exktzy89cuD71VlGN697" xmlns:md="urn:oasis:names:tc:SAML:2.0:metadata"><md:IDPSSODescriptor WantAuthnRequestsSigned="false" protocolSupportEnumeration="urn:oasis:names:tc:SAML:2.0:protocol"><md:KeyDescriptor use="signing"><ds:KeyInfo xmlns:ds="http://www.w3.org/2000/09/xmldsig#"><ds:X509Data><ds:X509Certificate>MIIDqjCCApKgAwIBAgIGAZiHdHVgMA0GCSqGSIb3DQEBCwUAMIGVMQswCQYDVQQGEwJVUzETMBEG
            A1UECAwKQ2FsaWZvcm5pYTEWMBQGA1UEBwwNU2FuIEZyYW5jaXNjbzENMAsGA1UECgwET2t0YTEU
            MBIGA1UECwwLU1NPUHJvdmlkZXIxFjAUBgNVBAMMDXRyaWFsLTUzMDk1NDIxHDAaBgkqhkiG9w0B
            CQEWDWluZm9Ab2t0YS5jb20wHhcNMjUwODA4MDIxMjMzWhcNMzUwODA4MDIxMzMyWjCBlTELMAkG
            A1UEBhMCVVMxEzARBgNVBAgMCkNhbGlmb3JuaWExFjAUBgNVBAcMDVNhbiBGcmFuY2lzY28xDTAL
            BgNVBAoMBE9rdGExFDASBgNVBAsMC1NTT1Byb3ZpZGVyMRYwFAYDVQQ[...]
    - id: 3
      request:
        host: skip-auth-policy-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://skip-auth-policy-00.dne-okta.com/api/v1/apps/0oatzy89cvLokD3DJ697/credentials/keys
        method: GET
      response:
        body: '[{"kty":"RSA","created":"2025-08-08T02:13:33.000Z","lastUpdated":"2025-08-08T02:13:33.000Z","expiresAt":"2035-08-08T02:13:32.000Z","kid":"uKQQ_FvO4VgD92YHyXApF6GZgWSa6qy3XPYTuEqdGg4","use":"sig","x5c":["MIIDqjCCApKgAwIBAgIGAZiHdHVgMA0GCSqGSIb3DQEBCwUAMIGVMQswCQYDVQQGEwJVUzETMBEGA1UECAwKQ2FsaWZvcm5pYTEWMBQGA1UEBwwNU2FuIEZyYW5jaXNjbzENMAsGA1UECgwET2t0YTEUMBIGA1UECwwLU1NPUHJvdmlkZXIxFjAUBgNVBAMMDXRyaWFsLTUzMDk1NDIxHDAaBgkqhkiG9w0BCQEWDWluZm9Ab2t0YS5jb20wHhcNMjUwODA4MDIxMjMzWhcNMzUwODA4MDIxMzMyWjCBlTELMAkGA1UEBhMCVVMxEzARBgNVBAgMCkNhbGlmb3JuaWExFjAUBgNVBAcMDVNhbiBGcmFuY2lzY28xDTALBgNVBAoMBE9rdGExFDASBgNVBAsMC1NTT1Byb3ZpZGVyMRYwFAYDVQQDDA10cmlhbC01MzA5NTQyMRwwGgYJKoZIhvcNAQkBFg1pbmZvQG9rdGEuY29tMI[...]
[...]
    - id: 7
      request:
        host: skip-auth-policy-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://skip-auth-policy-00.dne-okta.com/api/v1/apps/0oatzy89cvLokD3DJ697/lifecycle/deactivate
        method: POST
      response:
        body: '{}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 693.951042ms
[...]
