---
version: 2
interactions:
    - id: 0
      request:
        host: classic-00.dne-okta.com
        body: |
            {"profile":{"name":"testAcc_3619540880","description":"testing, testing"}}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://classic-00.dne-okta.com/api/v1/groups
        method: POST
      response:
        body: '{"id":"00gkwuobpxsB44Rzq1d7","created":"2025-03-14T03:13:42.000Z","lastUpdated":"2025-03-14T03:13:42.000Z","lastMembershipUpdated":"2025-03-14T03:13:42.000Z","objectClass":["okta:user_group"],"type":"OKTA_GROUP","profile":{"name":"testAcc_3619540880","description":"testing, testing"},"_links":{"logo":[{"name":"medium","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-medium.30ce6d4085dff29412984e4c191bc874.png","type":"image/png"},{"name":"large","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-large.c3cb8cda8ae0add1b4fe928f5844dbe3.png","type":"image/png"}],"users":{"href":"https://classic-00.dne-okta.com/api/v1/groups/00gkwuobpxsB44Rzq1d7/users"},"apps":{"href":"https://classic-00.dne-okta.com/api/v1/groups/00gkwuobpxsB44Rzq1d7/apps"}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 219.418167ms
    - id: 1
      request:
        host: classic-00.dne-okta.com
        body: |
            {"credentials":{"password":{}},"profile":{"email":"testAcc3-3619540880@example.com","firstName":"TestAcc3","lastName":"Python","login":"testAcc3-3619540880@example.com","postalAddress":null}}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://classic-00.dne-okta.com/api/v1/users
        method: POST
      response:
        body: '{"id":"00ukwukt3unMBVTK51d7","status":"PROVISIONED","created":"2025-03-14T03:13:42.000Z","activated":"2025-03-14T03:13:42.000Z","statusChanged":"2025-03-14T03:13:42.000Z","lastLogin":null,"lastUpdated":"2025-03-14T03:13:42.000Z","passwordChanged":null,"type":{"id":"oty5ptm052JMcoADv1d7"},"profile":{"firstName":"TestAcc3","lastName":"Python","mobilePhone":null,"secondEmail":null,"login":"testAcc3-3619540880@example.com","email":"testAcc3-3619540880@example.com"},"credentials":{"provider":{"type":"OKTA","name":"OKTA"}},"_links":{"suspend":{"href":"https://classic-00.dne-okta.com/api/v1/users/00ukwukt3unMBVTK51d7/lifecycle/suspend","method":"POST"},"schema":{"href":"https://classic-00.dne-okta.com/api/v1/meta/schemas/user/osc5ptm052JMcoADv1d7"},"resetPassword":{"href":"https://classic-00.dne-okta.com/api/v1/users/00ukwukt3unMBVTK51d7/lifecycle/reset_password","method":"POST"},"reactivate":{"href":"https://classic-00.dne-okta.com/api/v1/users/00ukwukt3unMBVTK51d7/lifecycle/reactivate","method":"POST"},"self":{"href":"https://classic-00.dne-okta.com/api/v1/users/00ukwukt3unMBVTK51d7"},"type":{"href":"https://classic-00.dne-okta.com/api/v1/meta/types/user/oty5ptm052JMcoADv1d7"},"deactivate":{"href":"https://classic-00.dne-okta.com/api/v1/users/00ukwukt3unMBVTK51d7/lifecycle/deactivate","method":"POST"}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 401.379875ms
[...]
    - id: 3
      request:
        host: classic-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/groups/00gkwuobpxsB44Rzq1d7
        method: GET
      response:
        body: '{"id":"00gkwuobpxsB44Rzq1d7","created":"2025-03-14T03:13:42.000Z","lastUpdated":"2025-03-14T03:13:42.000Z","lastMembershipUpdated":"2025-03-14T03:13:42.000Z","objectClass":["okta:user_group"],"type":"OKTA_GROUP","profile":{"name":"testAcc_3619540880","description":"testing, testing"},"_links":{"logo":[{"name":"medium","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-medium.30ce6d4085dff29412984e4c191bc874.png","type":"image/png"},{"name":"large","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-large.c3cb8cda8ae0add1b4fe928f5844dbe3.png","type":"image/png"}],"users":{"href":"https://classic-00.dne-okta.com/api/v1/groups/00gkwuobpxsB44Rzq1d7/users"},"apps":{"href":"https://classic-00.dne-okta.com/api/v1/groups/00gkwuobpxsB44Rzq1d7/apps"}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 210.977083ms
[...]
    - id: 5
      request:
        host: classic-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/users/00ukwuemdz6rhX8a21d7
        method: GET
      response:
        body: '{"id":"00ukwuemdz6rhX8a21d7","status":"PROVISIONED","created":"2025-03-14T03:13:42.000Z","activated":"2025-03-14T03:13:42.000Z","statusChanged":"2025-03-14T03:13:42.000Z","lastLogin":null,"lastUp[...]
    - id: 6
      request:
        host: classic-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/users/00ukwukt3unMBVTK51d7
        method: GET
      response:
        body: '{"id":"00ukwukt3unMBVTK51d7","status":"PROVISIONED","created":"2025-03-14T03:13:42.000Z","activated":"2025-03-14T03:13:42.000Z","statusChanged":"2025-03-14T03:13:42.000Z","lastLogin":null,"lastUp[...]
[...]
    - id: 9
      request:
        host: classic-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/users/00ukwurxa7tnJ954e1d7
        method: GET
      response:
        body: '{"id":"00ukwurxa7tnJ954e1d7","status":"PROVISIONED","created":"2025-03-14T03:13:42.000Z","activated":"2025-03-14T03:13:42.000Z","statusChanged":"2025-03-14T03:13:42.000Z","lastLogin":null,"lastUp[...]
    - id: 10
      request:
        host: classic-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/users/00ukwuwj045J3Lkjq1d7
        method: GET
      response:
        body: '{"id":"00ukwuwj045J3Lkjq1d7","status":"PROVISIONED","created":"2025-03-14T03:13:42.000Z","activated":"2025-03-14T03:13:42.000Z","statusChanged":"2025-03-14T03:13:42.000Z","lastLogin":null,"lastU[...]
    - id: 11
      request:
        host: classic-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/groups/00gkwuobpxsB44Rzq1d7/users/00ukwurxa7tnJ954e1d7
        method: PUT
      response:
        body: ""
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
        status: 204 No Content
        code: 204
        duration: 266.719958ms
    - id: 12
      request:
        host: classic-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/groups/00gkwuobpxsB44Rzq1d7/users/00ukwuemdz6rhX8a21d7
        method: PUT
      response:
        body: ""
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
        status: 204 No Content
        code: 204
        duration: 223.932792ms
    - id: 13
      request:
        host: classic-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/groups/00gkwuobpxsB44Rzq1d7/users?limit=200
        method: GET
      response:
        body: '[{"id":"00ukwuemdz6rhX8a21d7","status":"PROVISIONED","created":"2025-03-14T03:13:42.000Z","activated":"2025-03-14T03:13:42.000Z","statusChanged":"2025-03-14T03:13:42.000Z","last[...]
[...]
    - id: 26
      request:
        host: classic-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/groups/00gkwuobpxsB44Rzq1d7/users/00ukwukt3unMBVTK51d7
        method: PUT
      response:
        body: ""
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
        status: 204 No Content
        code: 204
        duration: 234.946666ms
    - id: 27
      request:
        host: classic-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/groups/00gkwuobpxsB44Rzq1d7/users/00ukwuwj045J3Lkjq1d7
        method: PUT
      response:
        body: ""
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
        status: 204 No Content
        code: 204
        duration: 218.789334ms
[...]
    - id: 48
      request:
        host: classic-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/groups/00gkwuobpxsB44Rzq1d7/users?limit=200
        method: GET
      response:
        body: '[{"id":"00ukwuemdz6rhX8a21d7","status":"PROVISIONED","created":"2025-03-14T03:13:42.000Z","activated":"2025-03-14T03:13:42.000Z","statusChanged":"2025-03-14T03:13:42.000Z","lastLogin":null,"lastUpdated":"2025-03-14T03:13:42.000Z","passwordChanged":null,"type":{"id":"oty5ptm052JMcoADv1d7"},"profile":{"firstName":"TestAcc1","lastName":"Smith","mobilePhone":null,"secondEmail":null,"login":"testAcc1-3619540880@example.com","email":"testAcc1-3619540880@example.com"},"credentials":{"provider":{"type":"OKTA","name":"OKTA"}},"_links":{"self":{"href":"https://classic-00.dne-okta.com/api/v1/users/00ukwuemdz6rhX8a21d7"}}}]'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
            Link:
                - <https://classic-00.dne-okta.com/api/v1/groups/00gkwuobpxsB44Rzq1d7/users?limit=200>; rel="self"
        status: 200 OK
        code: 200
        duration: 222.660083ms
[...]
