---
version: 2
interactions:
    - id: 0
      request:
        host: oie-00.dne-okta.com
        body: |
            {"profile":{"name":"testAcc_3619540880","description":"testing, testing"}}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://oie-00.dne-okta.com/api/v1/groups
        method: POST
      response:
        body: '{"id":"00gkwr3f40ZE3HegB1d7","created":"2025-03-13T23:36:25.000Z","lastUpdated":"2025-03-13T23:36:25.000Z","lastMembershipUpdated":"2025-03-13T23:36:25.000Z","objectClass":["okta:user_group"],"type":"OKTA_GROUP","profile":{"name":"testAcc_3619540880","description":"testing, testing"},"_links":{"logo":[{"name":"medium","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-medium.30ce6d4085dff29412984e4c191bc874.png","type":"image/png"},{"name":"large","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-large.c3cb8cda8ae0add1b4fe928f5844dbe3.png","type":"image/png"}],"users":{"href":"https://oie-00.dne-okta.com/api/v1/groups/00gkwr3f40ZE3HegB1d7/users"},"apps":{"href":"https://oie-00.dne-okta.com/api/v1/groups/00gkwr3f40ZE3HegB1d7/apps"}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 201.001917ms
    - id: 1
      request:
        host: oie-00.dne-okta.com
        body: |
            {"credentials":{"password":{}},"profile":{"email":"testAcc3-3619540880@example.com","firstName":"TestAcc3","lastName":"Python","login":"testAcc3-3619540880@example.com","postalAddress":null}}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://oie-00.dne-okta.com/api/v1/users
        method: POST
      response:
        body: '{"id":"00ukwr4ejhMytJ0ja1d7","status":"PROVISIONED","created":"2025-03-13T23:36:25.000Z","activated":"2025-03-13T23:36:25.000Z","statusChanged":"2025-03-13T23:36:25.000Z","lastLogin":null,"lastUpdated":"2025-03-13T23:36:25.000Z","passwordChanged":null,"type":{"id":"oty5qwjvh0Vy1j8Kd1d7"},"profile":{"firstName":"TestAcc3","lastName":"Python","mobilePhone":null,"secondEmail":null,"login":"testAcc3-3619540880@example.com","email":"testAcc3-3619540880@example.com"},"credentials":{"provider":{"type":"OKTA","name":"OKTA"}},"_links":{"suspend":{"href":"https://oie-00.dne-okta.com/api/v1/users/00ukwr4ejhMytJ0ja1d7/lifecycle/suspend","method":"POST"},"schema":{"href":"https://oie-00.dne-okta.com/api/v1/meta/schemas/user/osc5qwjvh0Vy1j8Kd1d7"},"resetPassword":{"href":"https://oie-00.dne-okta.com/api/v1/users/00ukwr4ejhMytJ0ja1d7/lifecycle/reset_password","method":"POST"},"reactivate":{"href":"https://oie-00.dne-okta.com/api/v1/users/00ukwr4ejhMytJ0ja1d7/lifecycle/reactivate","method":"POST"},"self":{"href":"https://oie-00.dne-okta.com/api/v1/users/00ukwr4ejhMytJ0ja1d7"},"type":{"href":"https://oie-00.dne-okta.com/api/v1/meta/types/user/oty5qwjvh0Vy1j8Kd1d7"},"deactivate":{"href":"https://oie-00.dne-okta.com/api/v1/users/00ukwr4ejhMytJ0ja1d7/lifecycle/deactivate","method":"POST"}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 348.548291ms
[...]
    - id: 4
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/groups/00gkwr3f40ZE3HegB1d7
        method: GET
      response:
        body: '{"id":"00gkwr3f40ZE3HegB1d7","created":"2025-03-13T23:36:25.000Z","lastUpdated":"2025-03-13T23:36:25.000Z","lastMembershipUpdated":"2025-03-13T23:36:25.000Z","objectClass":["okta:user_group"],"type":"OKTA_GROUP","profile":{"name":"testAcc_3619540880","description":"testing, testing"},"_links":{"logo":[{"name":"medium","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-medium.30ce6d4085dff29412984e4c191bc874.png","type":"image/png"},{"name":"large","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-large.c3cb8cda8ae0add1b4fe928f5844dbe3.png","type":"image/png"}],"users":{"href":"https://oie-00.dne-okta.com/api/v1/groups/00gkwr3f40ZE3HegB1d7/users"},"apps":{"href":"https://oie-00.dne-okta.com/api/v1/groups/00gkwr3f40ZE3HegB1d7/apps"}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 227.796125ms
[...]
    - id: 6
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/users/00ukwr4ejhMytJ0ja1d7
        method: GET
      response:
        body: '{"id":"00ukwr4ejhMytJ0ja1d7","status":"PROVISIONED","created":"2025-03-13T23:36:25.000Z","activated":"2025-03-13T23:36:25.000Z","statusChanged":"2025-03-13T23:36:25.000Z","lastLogin":null,"lastUpdated":"[...]
    - id: 7
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/users/00ukwr4aoxrJ1n19v1d7
        method: GET
      response:
        body: '{"id":"00ukwr4aoxrJ1n19v1d7","status":"PROVISIONED","created":"2025-03-13T23:36:25.000Z","activated":"2025-03-13T23:36:25.000Z","statusChanged":"2025-03-13T23:36:25.000Z","lastLogin":null,"lastUpdated":"[...]
    - id: 8
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/users/00ukwr5fi5ncypsBm1d7
        method: GET
      response:
        body: '{"id":"00ukwr5fi5ncypsBm1d7","status":"PROVISIONED","created":"2025-03-13T23:36:25.000Z","activated":"2025-03-13T23:36:25.000Z","statusChanged":"2025-03-13T23:36:25.000Z","lastLogin":null,"lastUpdated":"[...]
[...]
    - id: 10
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/users/00ukwr4gukRtEFOTN1d7
        method: GET
      response:
        body: '{"id":"00ukwr4gukRtEFOTN1d7","status":"PROVISIONED","created":"2025-03-13T23:36:25.000Z","activated":"2025-03-13T23:36:25.000Z","statusChanged":"2025-03-13T23:36:25.000Z","lastLogin":null,"lastUpdated":[...]
    - id: 11
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/groups/00gkwr3f40ZE3HegB1d7/users/00ukwr5fi5ncypsBm1d7
        method: PUT
      response:
        body: ""
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
        status: 204 No Content
        code: 204
        duration: 238.31725ms
    - id: 12
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/groups/00gkwr3f40ZE3HegB1d7/users/00ukwr4aoxrJ1n19v1d7
        method: PUT
      response:
        body: ""
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
        status: 204 No Content
        code: 204
        duration: 230.185042ms
    - id: 13
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/groups/00gkwr3f40ZE3HegB1d7/users?limit=200
        method: GET
      response:
        body: '[{"id":"00ukwr4aoxrJ1n19v1d7","status":"PROVISIONED","created":"2025-03-13T23:36:25.000Z","activated":"2025-03-13T23:36:25.000Z","statusChanged":"2025-03-13T23:36:25.000Z","lastLogin":n[...]
[...]
    - id: 26
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/groups/00gkwr3f40ZE3HegB1d7/users/00ukwr4ejhMytJ0ja1d7
        method: PUT
      response:
        body: ""
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
        status: 204 No Content
        code: 204
        duration: 223.58675ms
    - id: 27
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/groups/00gkwr3f40ZE3HegB1d7/users/00ukwr4gukRtEFOTN1d7
        method: PUT
      response:
        body: ""
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
        status: 204 No Content
        code: 204
        duration: 228.742792ms
[...]
    - id: 48
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/groups/00gkwr3f40ZE3HegB1d7/users?limit=200
        method: GET
      response:
        body: '[{"id":"00ukwr5fi5ncypsBm1d7","status":"PROVISIONED","created":"2025-03-13T23:36:25.000Z","activated":"2025-03-13T23:36:25.000Z","statusChanged":"2025-03-13T23:36:25.000Z","lastLogin":null,"lastUpdated":"2025-03-13T23:36:25.000Z","passwordChanged":null,"type":{"id":"oty5qwjvh0Vy1j8Kd1d7"},"profile":{"firstName":"TestAcc1","lastName":"Smith","mobilePhone":null,"secondEmail":null,"login":"testAcc1-3619540880@example.com","email":"testAcc1-3619540880@example.com"},"credentials":{"provider":{"type":"OKTA","name":"OKTA"}},"_links":{"self":{"href":"https://oie-00.dne-okta.com/api/v1/users/00ukwr5fi5ncypsBm1d7"}}}]'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
            Link:
                - <https://oie-00.dne-okta.com/api/v1/groups/00gkwr3f40ZE3HegB1d7/users?limit=200>; rel="self"
        status: 200 OK
        code: 200
        duration: 209.9905ms
[...]
