---
version: 2
interactions:
    - id: 0
      request:
        host: classic-00.dne-okta.com
        body: |
            {"name":"testAcc-2916279572"}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://classic-00.dne-okta.com/api/v1/brands
        method: POST
      response:
        body: '{"id":"bnd119tlh6pZD9cyW1d8","name":"testAcc-2916279572","removePoweredByOkta":false,"customPrivacyPolicyUrl":null,"agreeToCustomPrivacyPolicy":false,"isDefault":false,"defaultApp":{"appInstanceId":null,"appLinkName":null,"classicApplicationUri":null},"_links":{"themes":{"href":"https://classic-00.dne-okta.com/api/v1/brands/bnd119tlh6pZD9cyW1d8/themes","hints":{"allow":["GET"]}},"self":{"href":"https://classic-00.dne-okta.com/api/v1/brands/bnd119tlh6pZD9cyW1d8","hints":{"allow":["GET","PUT","DELETE"]}}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 1.355887875s
    - id: 1
      request:
        host: classic-00.dne-okta.com
        body: |
            {"name":"testAcc-2916279572","origin":"https://examplesss.com","scopes":[{"type":"CORS"},{"type":"REDIRECT"}]}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://classic-00.dne-okta.com/api/v1/trustedOrigins
        method: POST
      response:
        body: '{"id":"tos119t8etwj2Suft1d8","name":"testAcc-2916279572","origin":"https://examplesss.com","scopes":[{"type":"CORS"},{"type":"REDIRECT"}],"status":"ACTIVE","created":"2026-07-13T04:34:04.000Z","createdBy":"00uucstzsm6FuzclQ1d7","lastUpdated":"2026-07-13T04:34:04.000Z","lastUpdatedBy":"00uucstzsm6FuzclQ1d7","_links":{"self":{"href":"https://classic-00.dne-okta.com/api/v1/trustedOrigins/tos119t8etwj2Suft1d8","hints":{"allow":["GET","PUT","DELETE"]}},"deactivate":{"href":"https://classic-00.dne-okta.com/api/v1/trustedOrigins/tos119t8etwj2Suft1d8/lifecycle/deactivate","hints":{"allow":["POST"]}}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 2.117131958s
    - id: 2
      request:
        host: classic-00.dne-okta.com
        body: |
            {"agreeToCustomPrivacyPolicy":true,"customPrivacyPolicyUrl":"https://example.com","defaultApp":{"classicApplicationUri":"https://examplesss.com"},"locale":"en","name":"testAcc-2916279572","removePoweredByOkta":true}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://classic-00.dne-okta.com/api/v1/brands/bnd119tlh6pZD9cyW1d8
        method: PUT
      response:
        body: '{"id":"bnd119tlh6pZD9cyW1d8","name":"testAcc-2916279572","removePoweredByOkta":true,"customPrivacyPolicyUrl":"https://example.com","agreeToCustomPrivacyPolicy":true,"isDefault":false,"locale":"en","defaultApp":{"appInstanceId":null,"appLinkName":null,"classicApplicationUri":"https://examplesss.com"},"_links":{"themes":{"href":"https://classic-00.dne-okta.com/api/v1/brands/bnd119tlh6pZD9cyW1d8/themes","hints":{"allow":["GET"]}},"self":{"href":"https://classic-00.dne-okta.com/api/v1/brands/bnd119tlh6pZD9cyW1d8","hints":{"allow":["GET","PUT","DELETE"]}}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.206162458s
    - id: 3
      request:
        host: classic-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/brands/bnd119tlh6pZD9cyW1d8
        method: GET
      response:
        body: '{"id":"bnd119tlh6pZD9cyW1d8","name":"testAcc-2916279572","removePoweredByOkta":true,"customPrivacyPolicyUrl":"https://example.com","agreeToCustomPrivacyPolicy":true,"isDefault":false,"locale":"en","defaultApp":{"appInstanceId":null,"appLinkName":null,"classicApplicationUri":"https://examplesss.com"},"_links":{"themes":{"href":"https://classic-00.dne-okta.com/api/v1/brands/bnd119tlh6pZD9cyW1d8/themes","hints":{"allow":["GET"]}},"self":{"href":"https://classic-00.dne-okta.com/api/v1/brands/bnd119tlh6pZD9cyW1d8","hints":{"allow":["GET","PUT","DELETE"]}}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.149198625s
[...]
    - id: 5
      request:
        host: classic-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/trustedOrigins/tos119t8etwj2Suft1d8
        method: GET
      response:
        body: '{"id":"tos119t8etwj2Suft1d8","name":"testAcc-2916279572","origin":"https://examplesss.com","scopes":[{"type":"CORS"},{"type":"REDIRECT"}],"status":"ACTIVE","created":"2026-07-13T04:34:04.000Z","createdBy":"00uucstzsm6FuzclQ1d7","lastUpdated":"2026-07-13T04:34:04.000Z","lastUpdatedBy":"00uucstzsm6FuzclQ1d7","_links":{"self":{"href":"https://classic-00.dne-okta.com/api/v1/trustedOrigins/tos119t8etwj2Suft1d8","hints":{"allow":["GET","PUT","DELETE"]}},"deactivate":{"href":"https://classic-00.dne-okta.com/api/v1/trustedOrigins/tos119t8etwj2Suft1d8/lifecycle/deactivate","hints":{"allow":["POST"]}}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.135150834s
[...]
