---
version: 2
interactions:
    - id: 0
      request:
        host: classic-00.dne-okta.com
        body: |
            {"name":"testAcc-2916279572","origin":"https://examplesss.com","scopes":[{"type":"CORS"},{"type":"REDIRECT"}],"status":"ACTIVE"}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://classic-00.dne-okta.com/api/v1/trustedOrigins
        method: POST
      response:
        body: '{"id":"toskwu48f34jYmUwY1d7","name":"testAcc-2916279572","origin":"https://examplesss.com","scopes":[{"type":"CORS"},{"type":"REDIRECT"}],"status":"ACTIVE","created":"2025-03-14T03:12:16.000Z","createdBy":"00u5ptm07rHbDyowI1d7","lastUpdated":"2025-03-14T03:12:16.000Z","lastUpdatedBy":"00u5ptm07rHbDyowI1d7","_links":{"self":{"href":"https://classic-00.dne-okta.com/api/v1/trustedOrigins/toskwu48f34jYmUwY1d7","hints":{"allow":["GET","PUT","DELETE"]}},"deactivate":{"href":"https://classic-00.dne-okta.com/api/v1/trustedOrigins/toskwu48f34jYmUwY1d7/lifecycle/deactivate","hints":{"allow":["POST"]}}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 215.033583ms
    - id: 1
      request:
        host: classic-00.dne-okta.com
        body: |
            {"name":"testAcc-2916279572"}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://classic-00.dne-okta.com/api/v1/brands
        method: POST
      response:
        body: '{"id":"bndkwubpmfov8gaxn1d7","name":"testAcc-2916279572","removePoweredByOkta":false,"customPrivacyPolicyUrl":null,"agreeToCustomPrivacyPolicy":false,"isDefault":false,"defaultApp":{"appInstanceId":null,"appLinkName":null,"classicApplicationUri":null},"_links":{"themes":{"href":"https://classic-00.dne-okta.com/api/v1/brands/bndkwubpmfov8gaxn1d7/themes","hints":{"allow":["GET"]}},"self":{"href":"https://classic-00.dne-okta.com/api/v1/brands/bndkwubpmfov8gaxn1d7","hints":{"allow":["GET","PUT","DELETE"]}}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 311.949833ms
    - id: 2
      request:
        host: classic-00.dne-okta.com
        body: |
            {"agreeToCustomPrivacyPolicy":true,"customPrivacyPolicyUrl":"https://example.com","defaultApp":{"classicApplicationUri":"https://examplesss.com"},"locale":"en","name":"testAcc-2916279572","removePoweredByOkta":true}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://classic-00.dne-okta.com/api/v1/brands/bndkwubpmfov8gaxn1d7
        method: PUT
      response:
        body: '{"id":"bndkwubpmfov8gaxn1d7","name":"testAcc-2916279572","removePoweredByOkta":true,"customPrivacyPolicyUrl":"https://example.com","agreeToCustomPrivacyPolicy":true,"isDefault":false,"locale":"en","defaultApp":{"appInstanceId":null,"appLinkName":null,"classicApplicationUri":"https://examplesss.com"},"_links":{"themes":{"href":"https://classic-00.dne-okta.com/api/v1/brands/bndkwubpmfov8gaxn1d7/themes","hints":{"allow":["GET"]}},"self":{"href":"https://classic-00.dne-okta.com/api/v1/brands/bndkwubpmfov8gaxn1d7","hints":{"allow":["GET","PUT","DELETE"]}}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 321.228792ms
    - id: 3
      request:
        host: classic-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/brands/bndkwubpmfov8gaxn1d7
        method: GET
      response:
        body: '{"id":"bndkwubpmfov8gaxn1d7","name":"testAcc-2916279572","removePoweredByOkta":true,"customPrivacyPolicyUrl":"https://example.com","agreeToCustomPrivacyPolicy":true,"isDefault":false,"locale":"en","defaultApp":{"appInstanceId":null,"appLinkName":null,"classicApplicationUri":"https://examplesss.com"},"_links":{"themes":{"href":"https://classic-00.dne-okta.com/api/v1/brands/bndkwubpmfov8gaxn1d7/themes","hints":{"allow":["GET"]}},"self":{"href":"https://classic-00.dne-okta.com/api/v1/brands/bndkwubpmfov8gaxn1d7","hints":{"allow":["GET","PUT","DELETE"]}}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 248.980792ms
    - id: 4
      request:
        host: classic-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/trustedOrigins/toskwu48f34jYmUwY1d7
        method: GET
      response:
        body: '{"id":"toskwu48f34jYmUwY1d7","name":"testAcc-2916279572","origin":"https://examplesss.com","scopes":[{"type":"CORS"},{"type":"REDIRECT"}],"status":"ACTIVE","created":"2025-03-14T03:12:16.000Z","createdBy":"00u5ptm07rHbDyowI1d7","lastUpdated":"2025-03-14T03:12:16.000Z","lastUpdatedBy":"00u5ptm07rHbDyowI1d7","_links":{"self":{"href":"https://classic-00.dne-okta.com/api/v1/trustedOrigins/toskwu48f34jYmUwY1d7","hints":{"allow":["GET","PUT","DELETE"]}},"deactivate":{"href":"https://classic-00.dne-okta.com/api/v1/trustedOrigins/toskwu48f34jYmUwY1d7/lifecycle/deactivate","hints":{"allow":["POST"]}}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 213.505375ms
[...]
