---
version: 2
interactions:
    - id: 0
      request:
        host: oie-00.dne-okta.com
        body: |
            {"name":"testAcc-2916279572","origin":"https://examplesss.com","scopes":[{"type":"CORS"},{"type":"REDIRECT"}],"status":"ACTIVE"}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://oie-00.dne-okta.com/api/v1/trustedOrigins
        method: POST
      response:
        body: '{"id":"toskwr4910QtZ4qnQ1d7","name":"testAcc-2916279572","origin":"https://examplesss.com","scopes":[{"type":"CORS"},{"type":"REDIRECT"}],"status":"ACTIVE","created":"2025-03-13T23:35:00.000Z","createdBy":"00u5qwjvk7u6E1DFG1d7","lastUpdated":"2025-03-13T23:35:00.000Z","lastUpdatedBy":"00u5qwjvk7u6E1DFG1d7","_links":{"self":{"href":"https://oie-00.dne-okta.com/api/v1/trustedOrigins/toskwr4910QtZ4qnQ1d7","hints":{"allow":["GET","PUT","DELETE"]}},"deactivate":{"href":"https://oie-00.dne-okta.com/api/v1/trustedOrigins/toskwr4910QtZ4qnQ1d7/lifecycle/deactivate","hints":{"allow":["POST"]}}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 327.270959ms
    - id: 1
      request:
        host: oie-00.dne-okta.com
        body: |
            {"name":"testAcc-2916279572"}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://oie-00.dne-okta.com/api/v1/brands
        method: POST
      response:
        body: '{"id":"bndkwr39kcSh6POT01d7","name":"testAcc-2916279572","removePoweredByOkta":false,"customPrivacyPolicyUrl":null,"agreeToCustomPrivacyPolicy":false,"isDefault":false,"defaultApp":{"appInstanceId":null,"appLinkName":null,"classicApplicationUri":null},"_links":{"themes":{"href":"https://oie-00.dne-okta.com/api/v1/brands/bndkwr39kcSh6POT01d7/themes","hints":{"allow":["GET"]}},"self":{"href":"https://oie-00.dne-okta.com/api/v1/brands/bndkwr39kcSh6POT01d7","hints":{"allow":["GET","PUT","DELETE"]}}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 357.17875ms
    - id: 2
      request:
        host: oie-00.dne-okta.com
        body: |
            {"agreeToCustomPrivacyPolicy":true,"customPrivacyPolicyUrl":"https://example.com","defaultApp":{"classicApplicationUri":"https://examplesss.com"},"locale":"en","name":"testAcc-2916279572","removePoweredByOkta":true}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://oie-00.dne-okta.com/api/v1/brands/bndkwr39kcSh6POT01d7
        method: PUT
      response:
        body: '{"id":"bndkwr39kcSh6POT01d7","name":"testAcc-2916279572","removePoweredByOkta":true,"customPrivacyPolicyUrl":"https://example.com","agreeToCustomPrivacyPolicy":true,"isDefault":false,"locale":"en","defaultApp":{"appInstanceId":null,"appLinkName":null,"classicApplicationUri":"https://examplesss.com"},"_links":{"themes":{"href":"https://oie-00.dne-okta.com/api/v1/brands/bndkwr39kcSh6POT01d7/themes","hints":{"allow":["GET"]}},"self":{"href":"https://oie-00.dne-okta.com/api/v1/brands/bndkwr39kcSh6POT01d7","hints":{"allow":["GET","PUT","DELETE"]}}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 304.188542ms
    - id: 3
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/brands/bndkwr39kcSh6POT01d7
        method: GET
      response:
        body: '{"id":"bndkwr39kcSh6POT01d7","name":"testAcc-2916279572","removePoweredByOkta":true,"customPrivacyPolicyUrl":"https://example.com","agreeToCustomPrivacyPolicy":true,"isDefault":false,"locale":"en","defaultApp":{"appInstanceId":null,"appLinkName":null,"classicApplicationUri":"https://examplesss.com"},"_links":{"themes":{"href":"https://oie-00.dne-okta.com/api/v1/brands/bndkwr39kcSh6POT01d7/themes","hints":{"allow":["GET"]}},"self":{"href":"https://oie-00.dne-okta.com/api/v1/brands/bndkwr39kcSh6POT01d7","hints":{"allow":["GET","PUT","DELETE"]}}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 198.364875ms
[...]
    - id: 5
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/trustedOrigins/toskwr4910QtZ4qnQ1d7
        method: GET
      response:
        body: '{"id":"toskwr4910QtZ4qnQ1d7","name":"testAcc-2916279572","origin":"https://examplesss.com","scopes":[{"type":"CORS"},{"type":"REDIRECT"}],"status":"ACTIVE","created":"2025-03-13T23:35:00.000Z","createdBy":"00u5qwjvk7u6E1DFG1d7","lastUpdated":"2025-03-13T23:35:00.000Z","lastUpdatedBy":"00u5qwjvk7u6E1DFG1d7","_links":{"self":{"href":"https://oie-00.dne-okta.com/api/v1/trustedOrigins/toskwr4910QtZ4qnQ1d7","hints":{"allow":["GET","PUT","DELETE"]}},"deactivate":{"href":"https://oie-00.dne-okta.com/api/v1/trustedOrigins/toskwr4910QtZ4qnQ1d7/lifecycle/deactivate","hints":{"allow":["POST"]}}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 227.682958ms
[...]
