---
version: 2
interactions:
    - id: 0
      request:
        host: oie-00.dne-okta.com
        form:
            limit:
                - "200"
            q:
                - testAcc_2406619801
            sortBy:
                - created
            sortOrder:
                - asc
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/groups?limit=200&q=testAcc_2406619801&sortBy=created&sortOrder=asc
        method: GET
      response:
        body: '[]'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 798.527916ms
    - id: 1
      request:
        host: oie-00.dne-okta.com
        form:
            filter:
                - type eq "OKTA_GROUP"
            limit:
                - "200"
            q:
                - testAcc_2406619801
            sortBy:
                - created
            sortOrder:
                - desc
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/groups?filter=type+eq+%22OKTA_GROUP%22&limit=200&q=testAcc_2406619801&sortBy=created&sortOrder=desc
        method: GET
      response:
        body: '[]'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 797.026459ms
    - id: 2
      request:
        host: oie-00.dne-okta.com
        form:
            limit:
                - "200"
            q:
                - testAcc_2406619801
            sortBy:
                - lastMembershipUpdated
            sortOrder:
                - asc
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/groups?limit=200&q=testAcc_2406619801&sortBy=lastMembershipUpdated&sortOrder=asc
        method: GET
      response:
        body: '[]'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 802.958583ms
    - id: 3
      request:
        host: oie-00.dne-okta.com
        form:
            limit:
                - "200"
            q:
                - testAcc_2406619801
            sortBy:
                - name
            sortOrder:
                - desc
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/groups?limit=200&q=testAcc_2406619801&sortBy=name&sortOrder=desc
        method: GET
      response:
        body: '[]'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 802.893583ms
    - id: 4
      request:
        host: oie-00.dne-okta.com
        form:
            limit:
                - "200"
            q:
                - testAcc_2406619801
            sortBy:
                - lastUpdated
            sortOrder:
                - desc
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/groups?limit=200&q=testAcc_2406619801&sortBy=lastUpdated&sortOrder=desc
        method: GET
      response:
        body: '[]'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 805.722959ms
    - id: 5
      request:
        host: oie-00.dne-okta.com
        form:
            limit:
                - "200"
            q:
                - testAcc_2406619801
            sortBy:
                - id
            sortOrder:
                - asc
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/groups?limit=200&q=testAcc_2406619801&sortBy=id&sortOrder=asc
        method: GET
      response:
        body: '[]'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.2881505s
    - id: 6
      request:
        host: oie-00.dne-okta.com
        form:
            limit:
                - "200"
            q:
                - testAcc_2406619801
            sortBy:
                - id
            sortOrder:
                - desc
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/groups?limit=200&q=testAcc_2406619801&sortBy=id&sortOrder=desc
        method: GET
      response:
        body: '[]'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.290730792s
[...]
    - id: 14
      request:
        host: oie-00.dne-okta.com
        body: |
            {"profile":{"name":"testAcc_2406619801 - Test 1","description":"testing, testing"}}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://oie-00.dne-okta.com/api/v1/groups
        method: POST
      response:
        body: '{"id":"00gt6p6isgb4Czmty697","created":"2025-07-14T01:01:39.000Z","lastUpdated":"2025-07-14T01:01:39.000Z","lastMembershipUpdated":"2025-07-14T01:01:39.000Z","objectClass":["okta:user_group"],"type":"OKTA_GROUP","profile":{"name":"testAcc_2406619801 - Test 1","description":"testing, testing"},"_links":{"logo":[{"name":"medium","href":"https://ok14static.oktacdn.com/assets/img/logos/groups/odyssey/okta-medium.30ce6d4085dff29412984e4c191bc874.png","type":"image/png"},{"name":"large","href":"https://ok14static.oktacdn.com/assets/img/logos/groups/odyssey/okta-large.c3cb8cda8ae0add1b4fe928f5844dbe3.png","type":"image/png"}],"users":{"href":"https://oie-00.dne-okta.com/api/v1/groups/00gt6p6isgb4Czmty697/users"},"apps":{"href":"https://oie-00.dne-okta.com/api/v1/groups/00gt6p6isgb4Czmty697/apps"}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 856.045875ms
[...]
    - id: 16
      request:
        host: oie-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/groups/00gt6p6isgb4Czmty697
        method: GET
      response:
        body: '{"id":"00gt6p6isgb4Czmty697","created":"2025-07-14T01:01:39.000Z","lastUpdated":"2025-07-14T01:01:39.000Z","lastMembershipUpdated":"2025-07-14T01:01:39.000Z","objectClass":["okta:user_group"],"type":"OKTA_GROUP","profile":{"name":"testAcc_2406619801 - Test 1","description":"testing, testing"},"_links":{"logo":[{"name":"medium","href":"https://ok14static.oktacdn.com/assets/img/logos/groups/odyssey/okta-medium.30ce6d4085dff29412984e4c191bc874.png","type":"image/png"},{"name":"large","href":"https://ok14static.oktacdn.com/assets/img/logos/groups/odyssey/okta-large.c3cb8cda8ae0add1b4fe928f5844dbe3.png","type":"image/png"}],"users":{"href":"https://oie-00.dne-okta.com/api/v1/groups/00gt6p6isgb4Czmty697/users"},"apps":{"href":"https://oie-00.dne-okta.com/api/v1/groups/00gt6p6isgb4Czmty697/apps"}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 689.57025ms
    - id: 17
      request:
        host: oie-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/groups/00gt6p72cyFcMRpNx697
        method: GET
      response:
        body: '{"id":"00gt6p72cyFcMRpNx697","created":"2025-07-14T01:01:39.000Z","lastUpdated":"2025-07-14T01:01:39.000Z","lastMembershipUpdated":"2025-07-14T01:01:39.000Z","objectClass":["okta:user_group"],"type":"OKTA_GROUP","profile":{"name":"testAcc_2406619801  - Test 2","description":"testing, testing"},"_links":{"logo":[{"name":"medium","href":"https://ok14static.oktacdn.com/assets/img/logos/groups/odyssey/okta-medium.30ce6d4085dff29412984e4c191bc874.png","type":"image/png"},{"name":"large","href":"https://ok14static.oktacdn.com/assets/img/logos/groups/odyssey/okta-large.c3cb8cda8ae0add1b4fe928f5844dbe3.png","type":"image/png"}],"users":{"href":"https://oie-00.dne-okta.com/api/v1/groups/00gt6p72cyFcMRpNx697/users"},"apps":{"href":"https://oie-00.dne-okta.com/api/v1/groups/00gt6p72cyFcMRpNx697/apps"}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 702.64325ms
[...]
