---
version: 2
interactions:
- id: 0
  request:
    host: classic-00.dne-okta.com
    body: "{\"create\":{\"lifecycleCreate\":{\"status\":\"ENABLED\"}},\"update\":{\"lifecycleDeactivate\":{\"status\":\"ENABLED\"},\"password\":{\"change\":\"KEEP_EXISTING\",\"seed\":\"RANDOM\",\"status\":\"ENABLED\"},\"profile\":{\"status\":\"DISABLED\"}}}\n"
    headers:
      Authorization:
      - SSWS REDACTED
      Content-Type:
      - application/json
    url: https://classic-00.dne-okta.com/api/v1/apps/0oarblaf7hWdLawNg1d7/features/USER_PROVISIONING
    method: PUT
  response:
    body: "{\"name\":\"USER_PROVISIONING\",\"status\":\"ENABLED\",\"description\":\"User provisioning settings from Okta to a downstream application\",\"capabilities\":{\"create\":{\"lifecycleCreate\":{\"status\":\"ENABLED\"}},\"update\":{\"profile\":{\"status\":\"DISABLED\"},\"lifecycleDeactivate\":{\"status\":\"ENABLED\"},\"password\":{\"status\":\"ENABLED\",\"seed\":\"RANDOM\",\"change\":\"KEEP_EXISTING\"}}},\"_links\":{\"self\":{\"href\":\"https://classic-00.dne-okta.com/api/v1/apps/0oarblaf7hWdLawNg1d7/features/USER_PROVISIONING\",\"hints\":{\"allow\":[\"GET\",\"PUT\"]}}}}"
    headers:
      Accept-Ch:
      - Sec-CH-UA-Platform-Version
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 1.631695209s
[...]
