---
version: 1
interactions:
- request:
    body: |
      {"name":"testAcc_520360766","status":"ACTIVE","type":"PROFILE_ENROLLMENT"}
    form: {}
    headers:
      Authorization:
      - SSWS REDACTED
      Content-Type:
      - application/json
    url: https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/policies
    method: POST
  response:
    body: '{"id":"rst6m9elg2VDCUOz41d7","status":"ACTIVE","name":"testAcc_520360766","priority":1,"system":false,"conditions":null,"created":"2023-01-11T20:33:06.000Z","lastUpdated":"2023-01-11T20:33:06.000Z","_links":{"self":{"href":"https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/policies/rst6m9elg2VDCUOz41d7","hints":{"allow":["GET","PUT","DELETE"]}},"rules":{"href":"https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/policies/rst6m9elg2VDCUOz41d7/rules","hints":{"allow":["GET","POST"]}},"deactivate":{"href":"https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/policies/rst6m9elg2VDCUOz41d7/lifecycle/deactivate","hints":{"allow":["POST"]}}},"type":"PROFILE_ENROLLMENT"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/policies/rst6m9elg2VDCUOz41d7
    method: GET
  response:
    body: '{"id":"rst6m9elg2VDCUOz41d7","status":"ACTIVE","name":"testAcc_520360766","priority":1,"system":false,"conditions":null,"created":"2023-01-11T20:33:06.000Z","lastUpdated":"2023-01-11T20:33:06.000Z","_links":{"self":{"href":"https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/policies/rst6m9elg2VDCUOz41d7","hints":{"allow":["GET","PUT","DELETE"]}},"rules":{"href":"https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/policies/rst6m9elg2VDCUOz41d7/rules","hints":{"allow":["GET","POST"]}},"deactivate":{"href":"https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/policies/rst6m9elg2VDCUOz41d7/lifecycle/deactivate","hints":{"allow":["POST"]}}},"type":"PROFILE_ENROLLMENT"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/policies/rst6m9elg2VDCUOz41d7/lifecycle/deactivate
    method: POST
  response:
    body: ""
    headers:
    status: 204 No Content
    code: 204
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/policies/rst6m9elg2VDCUOz41d7
    method: GET
  response:
    body: '{"id":"rst6m9elg2VDCUOz41d7","status":"INACTIVE","name":"testAcc_520360766","priority":1,"system":false,"conditions":null,"created":"2023-01-11T20:33:06.000Z","lastUpdated":"2023-01-11T20:33:08.000Z","_links":{"activate":{"href":"https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/policies/rst6m9elg2VDCUOz41d7/lifecycle/activate","hints":{"allow":["POST"]}},"self":{"href":"https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/policies/rst6m9elg2VDCUOz41d7","hints":{"allow":["GET","PUT","DELETE"]}},"rules":{"href":"https://tien-oie-tf-2022-09-21.oktapreview.com/api/v1/policies/rst6m9elg2VDCUOz41d7/rules","hints":{"allow":["GET","POST"]}}},"type":"PROFILE_ENROLLMENT"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
