---
version: 2
interactions:
    - id: 0
      request:
        host: oie-00.dne-okta.com
        body: |
            {"profile":{"name":"testAcc_2113731925_parent_group","description":""}}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://oie-00.dne-okta.com/api/v1/groups
        method: POST
      response:
        body: '{"id":"00gvtzgyxiWg8DXyG1d7","created":"2026-03-05T08:36:52.000Z","lastUpdated":"2026-03-05T08:36:52.000Z","lastMembershipUpdated":"2026-03-05T08:36:52.000Z","objectClass":["okta:user_group"],"type":"OKTA_GROUP","profile":{"name":"testAcc_2113731925_parent_group","description":""},"_links":{"logo":[{"name":"medium","href":"https://op3static2.oktacdn.com/assets/img/logos/groups/odyssey/okta-medium.30ce6d4085dff29412984e4c191bc874.png","type":"image/png"},{"name":"large","href":"https://op3static2.oktacdn.com/assets/img/logos/groups/odyssey/okta-large.c3cb8cda8ae0add1b4fe928f5844dbe3.png","type":"image/png"}],"owners":{"href":"https://oie-00.dne-okta.com/api/v1/groups/00gvtzgyxiWg8DXyG1d7/owners"},"users":{"href":"https://oie-00.dne-okta.com/api/v1/groups/00gvtzgyxiWg8DXyG1d7/users"},"apps":{"href":"https://oie-00.dne-okta.com/api/v1/groups/00gvtzgyxiWg8DXyG1d7/apps"}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 837.290916ms
[...]
    - id: 2
      request:
        host: oie-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/groups/00gvtzao7d05laiQ51d7
        method: GET
      response:
        body: '{"id":"00gvtzao7d05laiQ51d7","created":"2026-03-05T08:36:52.000Z","lastUpdated":"2026-03-05T08:36:52.000Z","lastMembershipUpdated":"2026-03-05T08:36:52.000Z","objectClass":["okta:user_group"],"type":"OKTA_GROUP","profile":{"name":"testAcc_2113731925_child_group","description":""},"_links":{"logo":[{"name":"medium","href":"https://op3static2.oktacdn.com/assets/img/logos/groups/odyssey/okta-medium.30ce6d4085dff29412984e4c191bc874.png","type":"image/png"},{"name":"large","href":"https://op3static2.oktacdn.com/assets/img/logos/groups/odyssey/okta-large.c3cb8cda8ae0add1b4fe928f5844dbe3.png","type":"image/png"}],"owners":{"href":"https://oie-00.dne-okta.com/api/v1/groups/00gvtzao7d05laiQ51d7/owners"},"users":{"href":"https://oie-00.dne-okta.com/api/v1/groups/00gvtzao7d05laiQ51d7/users"},"apps":{"href":"https://oie-00.dne-okta.com/api/v1/groups/00gvtzao7d05laiQ51d7/apps"}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 659.628792ms
    - id: 3
      request:
        host: oie-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/groups/00gvtzgyxiWg8DXyG1d7
        method: GET
      response:
        body: '{"id":"00gvtzgyxiWg8DXyG1d7","created":"2026-03-05T08:36:52.000Z","lastUpdated":"2026-03-05T08:36:52.000Z","lastMembershipUpdated":"2026-03-05T08:36:52.000Z","objectClass":["okta:user_group"],"type":"OKTA_GROUP","profile":{"name":"testAcc_2113731925_parent_group","description":""},"_links":{"logo":[{"name":"medium","href":"https://op3static2.oktacdn.com/assets/img/logos/groups/odyssey/okta-medium.30ce6d4085dff29412984e4c191bc874.png","type":"image/png"},{"name":"large","href":"https://op3static2.oktacdn.com/assets/img/logos/groups/odyssey/okta-large.c3cb8cda8ae0add1b4fe928f5844dbe3.png","type":"image/png"}],"owners":{"href":"https://oie-00.dne-okta.com/api/v1/groups/00gvtzgyxiWg8DXyG1d7/owners"},"users":{"href":"https://oie-00.dne-okta.com/api/v1/groups/00gvtzgyxiWg8DXyG1d7/users"},"apps":{"href":"https://oie-00.dne-okta.com/api/v1/groups/00gvtzgyxiWg8DXyG1d7/apps"}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 838.229708ms
[...]
    - id: 6
      request:
        host: oie-00.dne-okta.com
        body: |
            {"id":"00gvtzgyxiWg8DXyG1d7","type":"GROUP"}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://oie-00.dne-okta.com/api/v1/groups/00gvtzao7d05laiQ51d7/owners
        method: POST
      response:
        body: '{"id":"00gvtzgyxiWg8DXyG1d7","type":"GROUP","resolved":true,"originId":null,"originType":"OKTA_DIRECTORY","displayName":"testAcc_2113731925_parent_group","lastUpdated":"Thu Mar 05 08:36:55 UTC 2026"}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 670.79475ms
[...]
    - id: 12
      request:
        host: oie-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/groups/00gvtzao7d05laiQ51d7/owners/00gvtzgyxiWg8DXyG1d7
        method: DELETE
      response:
        body: ""
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
        status: 204 No Content
        code: 204
        duration: 671.408833ms
[...]
