---
version: 2
interactions:
    - id: 0
      request:
        host: classic-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/features
        method: GET
      response:
        body: '[{"id":"ftrY7h0QLjlthOWwUv9C","type":"self-service","status":"DISABLED","name":"Create virtual roles with Collections","description":"Create virtual roles composed of resources such as apps and entitlements that are assignable to users, request-able by users, and can be reviewed in access certifications","stage":{"value":"EA"},"_links":{"enable":{"href":"https://classic-00.dne-okta.com/api/v1/features/ftrY7h0QLjlthOWwUv9C/enable","hints":{"allow":["POST"]}},"self":{"href":"https://classic-00.dne-okta.com/api/v1/features/ftrY7h0QLjlthOWwUv9C"},"dependents":{"href":"https://classic-00.dne-okta.com/api/v1/features/ftrY7h0QLjlthOWwUv9C/dependents"},"dependencies":{"href":"https://classic-00.dne-okta.com/api/v1/features/ftrY7h0QLjlthOWwUv9C/dependencies"}}},{"id":"ftr35Jf5emctrZSjyMpz","type":"self-service","status":"DISABLED","name":"Active Directory DirSync","description":"Enables Active Directory Integration to use AD DirSync protocol to increase the efficiency and decrease the time to complete incremental imports. Enabling the feature will not automatically enable DirSync for incremental imports. Customers will need to follow the documentation to ensu[...]
[...]
    - id: 2
      request:
        host: classic-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/features/ftrORSUCHOzlLVkgi5is
        method: GET
      response:
        body: '{"id":"ftrORSUCHOzlLVkgi5is","type":"self-service","status":"DISABLED","name":"Android Device Trust","description":"Collect a deeper set of device posture signals for Device Assurance by leveraging native Android Device Trust capabilities.","stage":{"value":"EA"},"_links":{"helpDoc":{"href":"https://help.okta.com/okta_help.htm?type=oie&locale=en&id=csh-edr-integration-azt"},"enable":{"href":"https://classic-00.dne-okta.com/api/v1/features/ftrORSUCHOzlLVkgi5is/enable","hints":{"allow":["POST"]}},"self":{"href":"https://classic-00.dne-okta.com/api/v1/features/ftrORSUCHOzlLVkgi5is"},"dependents":{"href":"https://classic-00.dne-okta.com/api/v1/features/ftrORSUCHOzlLVkgi5is/dependents"},"dependencies":{"href":"https://classic-00.dne-okta.com/api/v1/features/ftrORSUCHOzlLVkgi5is/dependencies"}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.556427s
    - id: 3
      request:
        host: classic-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/features/ftrORSUCHOzlLVkgi5is/DISABLE
        method: POST
      response:
        body: '{"id":"ftrORSUCHOzlLVkgi5is","type":"self-service","status":"DISABLED","name":"Android Device Trust","description":"Collect a deeper set of device posture signals for Device Assurance by leveraging native Android Device Trust capabilities.","stage":{"value":"EA"},"_links":{"helpDoc":{"href":"https://help.okta.com/okta_help.htm?type=oie&locale=en&id=csh-edr-integration-azt"},"enable":{"href":"https://classic-00.dne-okta.com/api/v1/features/ftrORSUCHOzlLVkgi5is/enable","hints":{"allow":["POST"]}},"self":{"href":"https://classic-00.dne-okta.com/api/v1/features/ftrORSUCHOzlLVkgi5is"},"dependents":{"href":"https://classic-00.dne-okta.com/api/v1/features/ftrORSUCHOzlLVkgi5is/dependents"},"dependencies":{"href":"https://classic-00.dne-okta.com/api/v1/features/ftrORSUCHOzlLVkgi5is/dependencies"}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 2.60808025s
[...]
    - id: 12
      request:
        host: classic-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/features/ftrORSUCHOzlLVkgi5is/ENABLE
        method: POST
      response:
        body: '{"id":"ftrORSUCHOzlLVkgi5is","type":"self-service","status":"ENABLED","name":"Android Device Trust","description":"Collect a deeper set of device posture signals for Device Assurance by leveraging native Android Device Trust capabilities.","stage":{"value":"EA"},"_links":{"helpDoc":{"href":"https://help.okta.com/okta_help.htm?type=oie&locale=en&id=csh-edr-integration-azt"},"disable":{"href":"https://classic-00.dne-okta.com/api/v1/features/ftrORSUCHOzlLVkgi5is/disable","hints":{"allow":["POST"]}},"self":{"href":"https://classic-00.dne-okta.com/api/v1/features/ftrORSUCHOzlLVkgi5is"},"dependents":{"href":"https://classic-00.dne-okta.com/api/v1/features/ftrORSUCHOzlLVkgi5is/dependents"},"dependencies":{"href":"https://classic-00.dne-okta.com/api/v1/features/ftrORSUCHOzlLVkgi5is/dependencies"}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 2.709864542s
[...]
    - id: 17
      request:
        host: classic-00.dne-okta.com
        form:
            mode:
                - force
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/features/ftrORSUCHOzlLVkgi5is/DISABLE?mode=force
        method: POST
      response:
        body: '{"id":"ftrORSUCHOzlLVkgi5is","type":"self-service","status":"DISABLED","name":"Android Device Trust","description":"Collect a deeper set of device posture signals for Device Assurance by leveraging native Android Device Trust capabilities.","stage":{"value":"EA"},"_links":{"helpDoc":{"href":"https://help.okta.com/okta_help.htm?type=oie&locale=en&id=csh-edr-integration-azt"},"enable":{"href":"https://classic-00.dne-okta.com/api/v1/features/ftrORSUCHOzlLVkgi5is/enable","hints":{"allow":["POST"]}},"self":{"href":"https://classic-00.dne-okta.com/api/v1/features/ftrORSUCHOzlLVkgi5is"},"dependents":{"href":"https://classic-00.dne-okta.com/api/v1/features/ftrORSUCHOzlLVkgi5is/dependents"},"dependencies":{"href":"https://classic-00.dne-okta.com/api/v1/features/ftrORSUCHOzlLVkgi5is/dependencies"}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 2.242011709s
