---
version: 2
interactions:
    - id: 0
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/brands
        method: GET
      response:
        body: '[{"id":"bndj6aib7aQzEPT6y1d7","name":"oie-00","removePoweredByOkta":false,"customPrivacyPolicyUrl":null,"agreeToCustomPrivacyPolicy":false,"isDefault":true,"emailDomainId":"OeDjl12acmIcI5J5B1d7","defaultApp":{"appInstanceId":"0oaj6aib9keq33lPY1d7","appLinkName":null,"classicApplicationUri":null},"_links":{"themes":{"href":"https://oie-00.oktapreview.com/api/v1/brands/bndj6aib7aQzEPT6y1d7/themes","hints":{"allow":["GET"]}},"self":{"href":"https://oie-00.oktapreview.com/api/v1/brands/bndj6aib7aQzEPT6y1d7","hints":{"allow":["GET","PUT","DELETE"]}},"emailDomain":{"href":"https://oie-00.oktapreview.com/api/v1/email-domains/OeDjl12acmIcI5J5B1d7","hints":{"allow":["GET","PUT"]}}}},{"id":"bndj6db8gaBx3uAL41d7","name":"Elastic.co (External)","removePoweredByOkta":false,"customPrivacyPolicyUrl":null,"agreeToCustomPrivacyPolicy":false,"isDefault":false,"emailDomainId":"OeDjjwmc37W56NbwV1d7","defaultApp":{"appInstanceId":"0oaj6aib9keq33lPY1d7","appLinkName":null,"classicApplicationUri":null},"_links":{"themes":{"href":"https://oie-00.oktapreview.com/api/v1/brands/bndj6db8gaBx3uAL41d7/themes","hints":{"allow":["GET"]}},"self":{"href":"https://oie-00.oktapreview.com/api/v1/brands/bndj6db8gaBx3uAL41d7","hints":{"allow":["GET","PUT","DELETE"]}},"emailDomain":{"href":"https://oie-00.oktapreview.com/api/v1/email-domains/OeDjjwmc37W56NbwV1d7","hints":{"allow":["GET","PUT"]}}}}]'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
            Link:
                - <https://oie-00.dne-okta.com/api/v1/brands?limit=20>; rel="self"
        status: 200 OK
        code: 200
        duration: 827.838833ms
[...]
    - id: 2
      request:
        host: oie-00.dne-okta.com
        body: |
            {"recipients":"NO_USERS"}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://oie-00.dne-okta.com/api/v1/brands/bndj6aib7aQzEPT6y1d7/templates/email/UserActivation/settings
        method: PUT
      response:
        body: '{"recipients":"NO_USERS","_links":{"template":{"href":"https://oie-00.oktapreview.com/api/v1/brands/bndj6aib7aQzEPT6y1d7/templates/email/UserActivation","hints":{"allow":["GET"]}},"self":{"href":"https://oie-00.oktapreview.com/api/v1/brands/bndj6aib7aQzEPT6y1d7/templates/email/UserActivation/settings","hints":{"allow":["GET","PUT"]}}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 217.09175ms
[...]
