---
version: 2
interactions:
    - id: 0
      request:
        host: classic-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/org/factors/okta_question
        method: GET
      response:
        body: '{"id":"okta_question","provider":"OKTA","factorType":"question","status":"INACTIVE","_links":{"activate":{"href":"https://classic-00.dne-okta.com/api/v1/org/factors/okta_question/lifecycle/activate","hints":{"allow":["POST"]}},"self":{"href":"https://classic-00.dne-okta.com/api/v1/org/factors/okta_question","hints":{"allow":["GET"]}}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 208.159125ms
    - id: 1
      request:
        host: classic-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/org/factors/okta_question/lifecycle/activate
        method: POST
      response:
        body: '{"id":"okta_question","provider":"OKTA","factorType":"question","status":"ACTIVE","_links":{"self":{"href":"https://classic-00.dne-okta.com/api/v1/org/factors/okta_question","hints":{"allow":["GET"]}},"deactivate":{"href":"https://classic-00.dne-okta.com/api/v1/org/factors/okta_question/lifecycle/deactivate","hints":{"allow":["POST"]}}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 290.64475ms
    - id: 2
      request:
        host: classic-00.dne-okta.com
        body: |
            {"credentials":{"password":{}},"profile":{"email":"john_1397128368@ledzeppelin.com","firstName":"TestAcc","lastName":"Jones","login":"john_1397128368@ledzeppelin.com","postalAddress":null}}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://classic-00.dne-okta.com/api/v1/users
        method: POST
      response:
        body: '{"id":"00ukwuyz3zQXa0fxJ1d7","status":"PROVISIONED","created":"2025-03-14T03:21:02.000Z","activated":"2025-03-14T03:21:02.000Z","statusChanged":"2025-03-14T03:21:02.000Z","lastLogin":null,"lastUpdated":"2025-03-14T03:21:02.000Z","passwordChanged":null,"type":{"id":"oty5ptm052JMcoADv1d7"},"profile":{"firstName":"TestAcc","lastName":"Jones","mobilePhone":null,"secondEmail":null,"login":"john_1397128368@ledzeppelin.com","email":"john_1397128368@ledzeppelin.com"},"credentials":{"provider":{"type":"OKTA","name":"OKTA"}},"_links":{"suspend":{"href":"https://classic-00.dne-okta.com/api/v1/users/00ukwuyz3zQXa0fxJ1d7/lifecycle/suspend","method":"POST"},"schema":{"href":"https://classic-00.dne-okta.com/api/v1/meta/schemas/user/osc5ptm052JMcoADv1d7"},"resetPassword":{"href":"https://classic-00.dne-okta.com/api/v1/users/00ukwuyz3zQXa0fxJ1d7/lifecycle/reset_password","method":"POST"},"reactivate":{"href":"https://classic-00.dne-okta.com/api/v1/users/00ukwuyz3zQXa0fxJ1d7/lifecycle/reactivate","method":"POST"},"self":{"href":"https://classic-00.dne-okta.com/api/v1/users/00ukwuyz3zQXa0fxJ1d7"},"type":{"href":"https://classic-00.dne-okta.com/api/v1/meta/types/user/oty5ptm052JMcoADv1d7"},"deactivate":{"href":"https://classic-00.dne-okta.com/api/v1/users/00ukwuyz3zQXa0fxJ1d7/lifecycle/deactivate","method":"POST"}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 511.906625ms
[...]
    - id: 4
      request:
        host: classic-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/users/00ukwuyz3zQXa0fxJ1d7
        method: GET
      response:
        body: '{"id":"00ukwuyz3zQXa0fxJ1d7","status":"PROVISIONED","created":"2025-03-14T03:21:02.000Z","activated":"2025-03-14T03:21:02.000Z","statusChanged":"2025-03-14T03:21:02.000Z","lastLogin":null,"lastUp[...]
    - id: 5
      request:
        host: classic-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/users/00ukwuyz3zQXa0fxJ1d7/factors/questions
        method: GET
      response:
        body: '[{"question":"disliked_food","questionText":"What is the food you least liked as a child?"},{"question":"name_of_first_plush_toy","questionText":"What is the name of your first stuffed animal?"},{"question":"first_award","questionText":"What did you earn your first medal or award for?"},{"question":"favorite_security_question","questionText":"What is your favorite security question?"},{"question":"favorite_toy","questionText":"What is the toy/stuffed animal you liked the most as a kid?"},{"question":"first_computer_game","questionText":"W[...]
    - id: 6
      request:
        host: classic-00.dne-okta.com
        body: |
            {"factorType":"question","provider":"OKTA","profile":{"answer":"meatball","question":"disliked_food"}}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://classic-00.dne-okta.com/api/v1/users/00ukwuyz3zQXa0fxJ1d7/factors
        method: POST
      response:
        body: '{"id":"ufskwuzehmuPapnK31d7","factorType":"question","provider":"OKTA","vendorName":"OKTA","status":"ACTIVE","created":"2025-03-14T03:21:03.000Z","lastUpdated":"2025-03-14T03:21:03.000Z","profile":{"question":"disliked_food","questionText":"What is the food you least liked as a child?"},"_links":{"questions":{"href":"https://classic-00.dne-okta.com/api/v1/users/00ukwuyz3zQXa0fxJ1d7/factors/questions","hints":{"allow":["GET"]}},"self":{"href":"https://classic-00.dne-okta.com/api/v1/users/00ukwuyz3zQXa0fxJ1d7/factors/ufskwuzehmuPapnK31d7","hints":{"allow":["GET","DELETE"]}},"user":{"href":"https://classic-00.dne-okta.com/api/v1/users/00ukwuyz3zQXa0fxJ1d7","hints":{"allow":["GET"]}}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 596.831834ms
    - id: 7
      request:
        host: classic-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/users/00ukwuyz3zQXa0fxJ1d7/factors/ufskwuzehmuPapnK31d7
        method: GET
      response:
        body: '{"id":"ufskwuzehmuPapnK31d7","factorType":"question","provider":"OKTA","vendorName":"OKTA","status":"ACTIVE","created":"2025-03-14T03:21:03.000Z","lastUpdated":"2025-03-14T03:21:03.000Z","profile":{"question":"disliked_food","questionText":"What is the food you least liked as a child?"},"_links":{"questions":{"href":"https://classic-00.dne-okta.com/api/v1/users/00ukwuyz3zQXa0fxJ1d7/factors/questions","hints":{"allow":["GET"]}},"self":{"href":"https://classic-00.dne-okta.com/api/v1/users/00ukwuyz3zQXa0fxJ1d7/factors/ufskwuzehmuPapnK31d7","hints":{"allow":["GET","DELETE"]}},"user":{"href":"https://classic-00.dne-okta.com/api/v1/users/00ukwuyz3zQXa0fxJ1d7","hints":{"allow":["GET"]}}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 230.334625ms
    - id: 8
      request:
        host: classic-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/users/00ukwuyz3zQXa0fxJ1d7
        method: GET
      response:
        body: '{"id":"00ukwuyz3zQXa0fxJ1d7","status":"PROVISIONED","created":"2025-03-14T03:21:02.000Z","activated":"2025-03-14T03:21:02.000Z","statusChanged":"2025-03-14T03:21:02.000Z","lastLogin":null,"lastUpdated":"2025-03-14T03:21:02.000Z","passwordChanged":null,"type":{"id":"oty5ptm052JMcoADv1d7"},"profile":{"firstName":"TestAcc","lastName":"Jones","mobilePhone":null,"secondEmail":null,"login":"john_1397128368@ledzeppelin.com","email":"john_1397128368@ledzeppelin.com"},"credentials":{"provider":{"type":"OKTA","name":"OKTA"}},"_links":{"suspend":{"href":"https://classic-00.dne-okta.com/api/v1/users/00ukwuyz3zQXa0fxJ1d7/lifecycle/suspend","method":"POST"},"schema":{"href":"https://classic-00.dne-okta.com/api/v1/meta/schemas/user/osc5ptm052JMcoADv1d7"},"resetPassword":{"href":"https://classic-00.dne-okta.com/api/v1/users/00ukwuyz3zQXa0fxJ1d7/lifecycle/reset_password","method":"POST"},"reactivate":{"href":"https://classic-00.dne-okta.com/api/v1/users/00ukwuyz3zQXa0fxJ1d7/lifecycle/reactivate","method":"POST"},"self":{"href":"https://classic-00.dne-okta.com/api/v1/users/00ukwuyz3zQXa0fxJ1d7"},"resetFactors":{"href":"https://classic-00.dne-okta.com/api/v1/users/00ukwuyz3zQXa0fxJ1d7/lifecycle/reset_factors","method":"POST"},"type":{"href":"https://classic-00.dne-okta.com/api/v1/meta/types/user/oty5ptm052JMcoADv1d7"},"deactivate":{"href":"https://classic-00.dne-okta.com/api/v1/users/00ukwuyz3zQXa0fxJ1d7/lifecycle/deactivate","method":"POST"}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
            Etag:
                - W/"e31c0637a7d2d095d4d76d78d9668a25a72687f3c0d00629d2a5d6ceb91c4717"
        status: 200 OK
        code: 200
        duration: 219.907708ms
[...]
    - id: 21
      request:
        host: classic-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://classic-00.dne-okta.com/api/v1/org/factors/okta_question/lifecycle/deactivate
        method: POST
      response:
        body: '{"id":"okta_question","provider":"OKTA","factorType":"question","status":"INACTIVE","_links":{"activate":{"href":"https://classic-00.dne-okta.com/api/v1/org/factors/okta_question/lifecycle/activate","hints":{"allow":["POST"]}},"self":{"href":"https://classic-00.dne-okta.com/api/v1/org/factors/okta_question","hints":{"allow":["GET"]}}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 210.375ms
[...]
