---
version: 2
interactions:
    - id: 0
      request:
        host: oie-00.dne-okta.com
        body: |
            {"accessibility":{},"credentials":{"oauthClient":{"autoKeyRotation":true,"pkce_required":false,"token_endpoint_auth_method":"client_secret_basic"},"userNameTemplate":{"template":"${source.login}","type":"BUILT_IN"}},"label":"Deel","name":"Deel","settings":{"notes":{},"oauthClient":{"application_type":"web","consent_method":"TRUSTED","grant_types":["authorization_code"],"idp_initiated_login":{"default_scope":[],"mode":"DISABLED"},"issuer_mode":"ORG_URL","response_types":["code"],"wildcard_redirect":"DISABLED"}},"signOnMode":"OPENID_CONNECT","visibility":{"hide":{"iOS":true,"web":true}}}
        form:
            activate:
                - "true"
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://oie-00.dne-okta.com/api/v1/apps?activate=true
        method: POST
      response:
        body: '{"id":"0oa13g1iyz0ZILeCt1d8","orn":"orn:oktapreview:idp:00onkw1sbuAh3Q06I1d7:apps:deel:0oa13g1iyz0ZILeCt1d8","name":"deel","label":"Deel","status":"ACTIVE","lastUpdated":"2026-09-08T10:14:23.000Z","created":"2026-09-08T10:14:23.000Z","accessibility":{"selfService":false,"errorRedirectUrl":null,"loginRedirectUrl":null},"visibility":{"autoLaunch":false,"autoSubmitToolbar":false,"hide":{"iOS":true,"web":true},"appLinks":{"deel_link":true}},"features":[],"signOnMode":"OPENID_CONNECT","credentials":{"userNameTemplate":{"template":"${source.login}","type":"BUILT_IN"},"signing":{"kid":"sALQDM5PBTRR6dsVDGloCQexOBDrJNwQmFiZuWur7eo"}},"universalLogout":{"status":"UNSUPPORTED"},"settings":{"app":{},"notifications":{"vpn":{"network":{"connection":"DISABLED"},"message":null,"helpUrl":null}},"manualProvisioning":false,"implicitAssignment":false,"emOptInStatus":"NONE","notes":{"admin":null,"enduser":null}},"_links":{"help":{"href":"https://oie-00-admin.dne-okta.com/app/deel/0oa13g1iyz0ZILeCt1d8/setup/help/OPENID_CONNECT/external-doc","type":"text/html"},"uploadLogo":{"href":"https://oie-00.dne-okta.com/api/v1/apps/0oa13g1iyz0ZILeCt1d8/logo","hints":{"allow":["POST"]}},"appLinks":[{"name":"deel_link","href":"https://oie-00.dne-okta.com/home/deel/0oa13g1iyz0ZILeCt1d8/aln1i6axj8huycArM1d8","type":"text/html"}],"profileEnrollment":{"href":"https://oie-00.dne-okta.com/api/v1/policies/rstnkw1sgzCwhJaUs1d7"},"policies":{"href":"https://oie-00.dne-okta.com/api/v1/apps/0oa13g1iyz0ZILeCt1d8/policies","hints":{"allow":["PUT"]}},"groups":{"href":"https://oie-00.dne-okta.com/api/v1/apps/0oa13g1iyz0ZILeCt1d8/groups"},"logo":[{"name":"medium","href":"https://op3static2.oktacdn.com/fs/bcg/4/gfszi32ixLpbunns41d6","type":"image/png"}],"clientCredentials":[{"name":"secrets","href":"https://oie-00.dne-okta.com/api/v1/apps/0oa13g1iyz0ZILeCt1d8/credentials/secrets"}],"accessPolicy":{"href":"https://oie-00.dne-okta.com/api/v1/policies/rstnkw1sgxfqkDUtx1d7"},"users":{"href":"https://oie-00.dne-okta.com/api/v1/apps/0oa13g1iyz0ZILeCt1d8/users"},"deactivate":{"href":"https://oie-00.dne-okta.com/api/v1/apps/0oa13g1iyz0ZILeCt1d8/lifecycle/deactivate"}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 2.077860958s
    - id: 1
      request:
        host: oie-00.dne-okta.com
        body: |
            {"accessibility":{},"credentials":{"oauthClient":{"autoKeyRotation":true,"pkce_required":false,"token_endpoint_auth_method":"client_secret_basic"},"userNameTemplate":{"template":"${source.login}","type":"BUILT_IN"}},"label":"Applauz","name":"Applauz","settings":{"notes":{},"oauthClient":{"application_type":"web","consent_method":"TRUSTED","grant_types":["authorization_code"],"idp_initiated_login":{"default_scope":[],"mode":"DISABLED"},"issuer_mode":"ORG_URL","response_types":["code"],"wildcard_redirect":"DISABLED"}},"signOnMode":"OPENID_CONNECT","visibility":{"hide":{"iOS":true,"web":true}}}
        form:
            activate:
                - "true"
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://oie-00.dne-okta.com/api/v1/apps?activate=true
        method: POST
      response:
        body: '{"id":"0oa13g1m2loUhBl1u1d8","orn":"orn:oktapreview:idp:00onkw1sbuAh3Q06I1d7:apps:applauz:0oa13g1m2loUhBl1u1d8","name":"applauz","label":"Applauz","status":"ACTIVE","lastUpdated":"2026-09-08T10:14:24.000Z","created":"2026-09-08T10:14:23.000Z","accessibility":{"selfService":false,"errorRedirectUrl":null,"loginRedirectUrl":null},"visibility":{"autoLaunch":false,"autoSubmitToolbar":false,"hide":{"iOS":true,"web":true},"appLinks":{"applauz_link":true}},"features":[],"signOnMode":"OPENID_CONNECT","credentials":{"userNameTemplate":{"template":"${source.login}","type":"BUILT_IN"},"signing":{"kid":"sALQDM5PBTRR6dsVDGloCQexOBDrJNwQmFiZuWur7eo"}},"universalLogout":{"status":"UNSUPPORTED"},"settings":{"app":{},"notifications":{"vpn":{"network":{"connection":"DISABLED"},"message":null,"helpUrl":null}},"manualProvisioning":false,"implicitAssignment":false,"emOptInStatus":"NONE","notes":{"admin":null,"enduser":null}},"_links":{"help":{"href":"htt[...]
    - id: 2
      request:
        host: oie-00.dne-okta.com
        body: |
            {"accessibility":{},"credentials":{"oauthClient":{"autoKeyRotation":true,"pkce_required":false,"token_endpoint_auth_method":"client_secret_basic"},"userNameTemplate":{"template":"${source.login}","type":"BUILT_IN"}},"label":"StrongDM","name":"strongdm","settings":{"notes":{},"oauthClient":{"application_type":"web","consent_method":"TRUSTED","grant_types":["authorization_code"],"idp_initiated_login":{"default_scope":[],"mode":"DISABLED"},"issuer_mode":"ORG_URL","response_types":["code"],"wildcard_redirect":"DISABLED"}},"signOnMode":"OPENID_CONNECT","visibility":{"hide":{"iOS":true,"web":true}}}
        form:
            activate:
                - "true"
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://oie-00.dne-okta.com/api/v1/apps?activate=true
        method: POST
      response:
        body: '{"id":"0oa13g1mfoksspLeN1d8","orn":"orn:oktapreview:idp:00onkw1sbuAh3Q06I1d7:apps:strongdm:0oa13g1mfoksspLeN1d8","name":"strongdm","label":"StrongDM","status":"ACTIVE","lastUpdated":"2026-09-08T10:14:24.000Z","created":"2026-09-08T10:14:23.000Z","accessibility":{"selfService":false,"errorRedirectUrl":null,"loginRedirectUrl":null},"visibility":{"autoLaunch":false,"autoSubmitToolbar":false,"hide":{"iOS":true,"web":true},"appLinks":{"strongdm_link":true}},"features":[],"signOnMode":"OPENID_CONNECT","credentials":{"userNameTemplate":{"template":"${source.login}","type":"BUILT_IN"},"signing":{"kid":"sALQDM5PBTRR6dsVDGloCQexOBDrJNwQmFiZuWur7eo"}},"universalLogout":{"status":"UNSUPPORTED"},"settings":{"app":{"base_url":null},"notifications":{"vpn":{"network":{"connection":"DISABLED"},"message":null,"helpUrl":null}},"manualProvisioning":false,"implicitAssignment":false,"emOptInStatus":"NONE","notes":{"admin":null,"enduser":null}},"_links":{"help":{"href":"https://oie-00-admin.dne-okta.com/app/strongdm/0oa13g1mfoksspLeN1d8/setup/help/OPENID_CONNECT/external-doc","type":"text/html"},"uploadLogo":{"href":"https://oie-00.dne-okta.com/api/v1/apps/0oa13g1mfoksspLeN1d8/logo","hints":{"allow":["POST"]}},"appLinks":[{"n[...]
    - id: 3
      request:
        host: oie-00.dne-okta.com
        body: |
            {"accessibility":{},"credentials":{"oauthClient":{"autoKeyRotation":true,"pkce_required":false,"token_endpoint_auth_method":"client_secret_basic"},"userNameTemplate":{"template":"${source.login}","type":"BUILT_IN"}},"label":"StrongDM_CUSTOM","name":"oidc_client","settings":{"notes":{},"oauthClient":{"application_type":"web","consent_method":"TRUSTED","grant_types":["authorization_code"],"idp_initiated_login":{"default_scope":[],"mode":"DISABLED"},"issuer_mode":"ORG_URL","redirect_uris":["http://redirect-uri-2.com/"],"response_types":["code"],"wildcard_redirect":"DISABLED"}},"signOnMode":"OPENID_CONNECT","visibility":{"hide":{"iOS":true,"web":true}}}
        form:
            activate:
                - "true"
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://oie-00.dne-okta.com/api/v1/apps?activate=true
        method: POST
      response:
        body: '{"id":"0oa13g1juuoxfCzq21d8","orn":"orn:oktapreview:idp:00onkw1sbuAh3Q06I1d7:apps:oidc_client:0oa13g1juuoxfCzq21d8","name":"oidc_client","label":"StrongDM_CUSTOM","status":"ACTIVE","lastUpdated":"2026-09-08T10:14:24.000Z","created":"2026-09-08T10:14:23.000Z","accessibility":{"selfService":false,"errorRedirectUrl":null,"loginRedirectUrl":null},"visibility":{"autoLaunch":false,"autoSubmitToolbar":false,"hide":{"iOS":true,"web":true},"appLinks":{"oidc_client_link":true}},"features":[],"signOnMode":"OPENID_CONNECT","credentials":{"userNameTemplate":{"template":"${source.login}","type":"BUILT_IN"},"signing":{"kid":"sALQDM5PBTRR6dsVDGloCQexOBDrJNwQmFiZuWur7eo"},"oauthClient":{"autoKeyRotation":true,"client_id":"0oa13g1juuoxfCzq21d8","client_secret":"gyYHYzzMFk5UtIXVlqdT7s8kg2rQFyXyFVYuq7ooimdovklHaMMcEyOpOgDNnZmM","token_endpoint_auth_method":"client_secret_basic","pkce_required":false}},"universalLogout":{"status":"DISABLED","supportType":"FULL","identityStack":"NOT_SHARED","protocol":"GLOBAL_TOKEN_REVOCATION"},"settings":{"app":{},"notifications":{"vpn":{"network":{"connection":"DISABLED"},"message":null,"helpUrl":null}},"manualProvisioning":false,"implicitAssignment":false,"emOptInStatus":"NONE","notes":{"admin":null,"enduser":null},"oauthClient":{"client_uri":null,"logo_uri":null,"redirect_uris":["http://redirect-uri-2.com/"],"response_types":["code"],"grant_types":["authorization_code"],"application_type":"web","consent_method":"TRUSTED","issuer_mode":"ORG_URL","idp_initiated_login":{"mode":"DISABLED","default_scope":[]},"wildcard_redirect":"DISABLED","dpop_bound_access_tokens":false,"participate_slo":false}},"_links":{"uploadLogo":{"href":"https://oie-00.dne-okta.com/api/v1/apps/0oa13g1juuoxfCzq21d8/logo","hints":{"allow":["POST"]}},"appLinks":[{"name":"oidc_client_link","href":"https://oie-00.dne-okta.com/home/oidc_client/0oa13g1juuoxfCzq21d8/aln177a159h7Zf52X0g8","type":"text/html"}],"profileEnrollment":{"href":"https://oie-00.dne-okta.com/api/v1/policies/rstnkw1sgzCwhJaUs1d7"},"policies":{"href":"https://oie-00.dne-okta.com/api/v1/apps/0oa13g1juuoxfCzq21d8/policies","hints":{"allow":["PUT"]}},"groups":{"href":"https://oie-00.dne-okta.com/api/v1/apps/0oa13g1juuoxfCzq21d8/groups"},"logo":[{"name":"medium","href":"https://op3static2.oktacdn.com/assets/img/logos/default.6770228fb0dab49a1695ef440a5279bb.png","type":"image/png"}],"clientCredentials":[{"name":"secrets","href":"https://oie-00.dne-okta.com/api/v1/apps/0oa13g1juuoxfCzq21d8/credentials/secrets"}],"accessPolicy":{"href":"https://oie-00.dne-okta.com/api/v1/policies/rstnkw1sgxfqkDUtx1d7"},"users":{"href":"https://oie-00.dne-okta.com/api/v1/apps/0oa13g1juuoxfCzq21d8/users"},"deactivate":{"href":"https://oie-00.dne-okta.com/api/v1/apps/0oa13g1juuoxfCzq21d8/lifecycle/deactivate"}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 2.548590833s
[...]
    - id: 5
      request:
        host: oie-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/.well-known/okta-organization
        method: GET
      response:
        body: '{"id":"00onkw1sbuAh3Q06I1d7","cell":"op3","_links":{"organization":{"href":"https://oie-00.dne-okta.com"}},"pipeline":"idx","settings":{"analyticsCollectionEnabled":false,"bugReportingEnabled":true,"omEnabled":false,"pssoEnabled":true,"desktopMFAEnabled":true,"itpEnabled":true}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.165755958s
[...]
    - id: 8
      request:
        host: oie-00.dne-okta.com
        body: |
            {"issuerMode":"ORG_URL"}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://oie-00.dne-okta.com/api/v1/internal/apps/0oa13g1juuoxfCzq21d8/settings/oauth/idToken
        method: POST
      response:
        body: '{"issuer":null,"orgUrl":null,"customUrl":null,"audience":null,"issuerMode":"ORG_URL"}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.382679959s
    - id: 9
      request:
        host: oie-00.dne-okta.com
        form:
            type:
                - ACCESS_POLICY
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/policies?type=ACCESS_POLICY
        method: GET
      response:
        body: '[{"id":"rstnkw1sg2fWHAvjK1d7","status":"ACTIVE","name":"Okta Admin Console","priority":1,"system":false,"conditions":null,"created":"2025-06-26T15:51:39.000Z","lastUpdated":"2025-06-26T15:51:39.000Z","_links":{"mappings":{"href":"https://oie-00.dne-okta.com/api/v1/policies/rstnkw1sg2fWHAvjK1d7/mappings","hints":{"allow":["GET","POST"]}},"self":{"href":"https://oie-00.dne-okta.com/api/v1/policies/rstnkw1sg2fWHAvjK1d7","hints":{"allow":["GET","PUT","DELETE"]}},"rules":{"href":"https://oie-00.dne-okta.com/api/v1/policies/rstnkw1sg2fWHAvjK1d7/rules","hints":{"allow":["GET","POST"]}},"deactivate":{"href":"https://oie-00.dne-okta.com/api/v1/policies/rstnkw1sg2fWHAvjK1d7/lifecycle/deactivate","hints":{"allow":["POST"]}}},"_embedded":{"resourceType":"APP"},"type":"ACCESS_POLICY"},{"id":"rstnkw1sg9IQmPCLu1d7","status":"ACTIVE","name":"Okta Dashboard","priority":1,"system":false,"conditions":null,"created":"2025-06-26T15:51:39.000Z","lastUpdated":"2025-06-26T15:51:39.000Z","_links":{"mappings":{"href":"https://oie-00.dne-okta.com/api/v1/policies/rstnkw1sg9IQmPCLu1d7/mappings","hints":{"allow":["GET","POST"]}},"self":{"href":"https://oie-00.dne-okta.com/api/v1/policies/rstnkw1sg9IQmPCLu1d7","hints":{"allow":["GET","PUT","DELETE"]}},"rules":{"h[...]
[...]
    - id: 13
      request:
        host: oie-00.dne-okta.com
        body: |
            {"issuerMode":"ORG_URL"}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://oie-00.dne-okta.com/api/v1/internal/apps/0oa13g1j4lydy0UgB1d8/settings/oauth/idToken
        method: POST
      response:
        body: '{"issuer":null,"orgUrl":null,"customUrl":null,"audience":null,"issuerMode":"ORG_URL"}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 2.287517125s
    - id: 14
      request:
        host: oie-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/apps/0oa13g1iyz0ZILeCt1d8/policies/rstnkw1sgxfqkDUtx1d7
        method: PUT
      response:
        body: ""
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
        status: 204 No Content
        code: 204
        duration: 1.222020166s
    - id: 15
      request:
        host: oie-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/apps/0oa13g1m2loUhBl1u1d8/policies/rstnkw1sgxfqkDUtx1d7
        method: PUT
      response:
        body: ""
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
        status: 204 No Content
        code: 204
        duration: 1.214977291s
    - id: 16
      request:
        host: oie-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/apps/0oa13g1mfoksspLeN1d8/policies/rstnkw1sgxfqkDUtx1d7
        method: PUT
      response:
        body: ""
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
        status: 204 No Content
        code: 204
        duration: 1.258940125s
    - id: 17
      request:
        host: oie-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/apps/0oa13g1juuoxfCzq21d8/policies/rstnkw1sgxfqkDUtx1d7
        method: PUT
      response:
        body: ""
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
        status: 204 No Content
        code: 204
        duration: 1.267773625s
[...]
    - id: 19
      request:
        host: oie-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/apps/0oa13g1iyz0ZILeCt1d8
        method: GET
      response:
        body: '{"id":"0oa13g1iyz0ZILeCt1d8","orn":"orn:oktapreview:idp:00onkw1sbuAh3Q06I1d7:apps:deel:0oa13g1iyz0ZILeCt1d8","name":"deel","label":"Deel","status":"ACTIVE","lastUpdated":"2026-09-08T10:14:23.000Z","created":"2026-09-08T10:14:23.000Z","ac[...]
    - id: 20
      request:
        host: oie-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/apps/0oa13g1m2loUhBl1u1d8
        method: GET
      response:
        body: '{"id":"0oa13g1m2loUhBl1u1d8","orn":"orn:oktapreview:idp:00onkw1sbuAh3Q06I1d7:apps:applauz:0oa13g1m2loUhBl1u1d8","name":"applauz","label":"Applauz","status":"ACTIVE","lastUpdated":"2026-09-08T10:14:24.000Z","created":"2026-09-08T10:14:23.[...]
    - id: 21
      request:
        host: oie-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/apps/0oa13g1mfoksspLeN1d8
        method: GET
      response:
        body: '{"id":"0oa13g1mfoksspLeN1d8","orn":"orn:oktapreview:idp:00onkw1sbuAh3Q06I1d7:apps:strongdm:0oa13g1mfoksspLeN1d8","name":"strongdm","label":"StrongDM","status":"ACTIVE","lastUpdated":"2026-09-08T10:14:24.000Z","created":"2026-09-08T10:14:[...]
    - id: 22
      request:
        host: oie-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/apps/0oa13g1juuoxfCzq21d8
        method: GET
      response:
        body: '{"id":"0oa13g1juuoxfCzq21d8","orn":"orn:oktapreview:idp:00onkw1sbuAh3Q06I1d7:apps:oidc_client:0oa13g1juuoxfCzq21d8","name":"oidc_client","label":"StrongDM_CUSTOM","status":"ACTIVE","lastUpdated":"2026-09-08T10:14:25.000Z","created":"2026[...]
    - id: 23
      request:
        host: oie-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/apps/0oa13g1j4lydy0UgB1d8/policies/rstnkw1sgxfqkDUtx1d7
        method: PUT
      response:
        body: ""
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
        status: 204 No Content
        code: 204
        duration: 1.278004958s
    - id: 24
      request:
        host: oie-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/internal/apps/0oa13g1iyz0ZILeCt1d8/settings/oauth/idToken
        method: GET
      response:
        body: '{"errorCode":"E0000007","errorSummary":"Not found: Resource not found: 0oa13g1iyz0ZILeCt1d8 (OAuth2AppInstance)","errorLink":"E0000007","errorId":"oaeJYkwjJ1fTrep_zhd59KV9A","errorCauses":[]}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 1.144021292s
    - id: 25
      request:
        host: oie-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/internal/apps/0oa13g1m2loUhBl1u1d8/settings/oauth/idToken
        method: GET
      response:
        body: '{"errorCode":"E0000007","errorSummary":"Not found: Resource not found: 0oa13g1m2loUhBl1u1d8 (OAuth2AppInstance)","errorLink":"E0000007","errorId":"oae6wfn3BVMSlKaEYTWlW-aLQ","errorCauses":[]}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 1.139521583s
    - id: 26
      request:
        host: oie-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/internal/apps/0oa13g1mfoksspLeN1d8/settings/oauth/idToken
        method: GET
      response:
        body: '{"errorCode":"E0000007","errorSummary":"Not found: Resource not found: 0oa13g1mfoksspLeN1d8 (OAuth2AppInstance)","errorLink":"E0000007","errorId":"oaeJFdVBOdrTySyrhI7E5tFtg","errorCauses":[]}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 1.133688792s
[...]
    - id: 28
      request:
        host: oie-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/apps/0oa13g1j4lydy0UgB1d8
        method: GET
      response:
        body: '{"id":"0oa13g1j4lydy0UgB1d8","orn":"orn:oktapreview:idp:00onkw1sbuAh3Q06I1d7:apps:oidc_client:0oa13g1j4lydy0UgB1d8","name":"oidc_client","label":"CustomApp001","status":"ACTIVE","lastUpdated":"2026-09-08T10:14:27.000Z","created":"2026-09[...]
[...]
    - id: 51
      request:
        host: oie-00.dne-okta.com
        body: |
            {"accessibility":{},"credentials":{"oauthClient":{"autoKeyRotation":true,"pkce_required":false,"token_endpoint_auth_method":"client_secret_basic"},"userNameTemplate":{"template":"${source.login}","type":"BUILT_IN"}},"label":"StrongDM_Updated","name":"strongdm","settings":{"app":{"base_url":null},"manualProvisioning":false,"notes":{},"oauthClient":{"application_type":"web","consent_method":"TRUSTED","dpop_bo[...]
[...]
    - id: 80
      request:
        host: oie-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/apps/0oa13g1mfoksspLeN1d8/lifecycle/deactivate
        method: POST
      response:
        body: '{}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.175094125s
    - id: 81
      request:
        host: oie-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/apps/0oa13g1j4lydy0UgB1d8/lifecycle/deactivate
        method: POST
      response:
        body: '{}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.17859075s
    - id: 82
      request:
        host: oie-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/apps/0oa13g1m2loUhBl1u1d8/lifecycle/deactivate
        method: POST
      response:
        body: '{}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.182564959s
    - id: 83
      request:
        host: oie-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/apps/0oa13g1iyz0ZILeCt1d8/lifecycle/deactivate
        method: POST
      response:
        body: '{}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.183631042s
    - id: 84
      request:
        host: oie-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/apps/0oa13g1juuoxfCzq21d8/lifecycle/deactivate
        method: POST
      response:
        body: '{}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.206226917s
[...]
