---
version: 2
interactions:
    - id: 0
      request:
        host: oie-00.dne-okta.com
        body: |
            {"label":"testAcc_3878748153","description":"testing, testing","permissions":["okta.apps.assignment.manage"]}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://oie-00.dne-okta.com/api/v1/iam/roles
        method: POST
      response:
        body: '{"id":"cr09i6ufrw60BZcwP1d7","label":"testAcc_3878748153","description":"testing, testing","created":"2023-08-15T23:31:56.000Z","lastUpdated":"2023-08-15T23:31:56.000Z","_links":{"permissions":{"href":"https://oie-00-admin.oktapreview.com/api/v1/iam/roles/cr09i6ufrw60BZcwP1d7/permissions"},"self":{"href":"https://oie-00-admin.oktapreview.com/api/v1/iam/roles/cr09i6ufrw60BZcwP1d7"}}}'
        headers:
            Content-Type:
                - application/json
            Link:
                - <https://oie-00-admin.dne-okta.com/api/v1/iam/roles/cr09i6ufrw60BZcwP1d7>; rel="self"
        status: 200 OK
        code: 200
        duration: 268.331924ms
    - id: 1
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/iam/roles/cr09i6ufrw60BZcwP1d7
        method: GET
      response:
        body: '{"id":"cr09i6ufrw60BZcwP1d7","label":"testAcc_3878748153","description":"testing, testing","created":"2023-08-15T23:31:56.000Z","lastUpdated":"2023-08-15T23:31:56.000Z","_links":{"permissions":{"href":"https://oie-00-admin.oktapreview.com/api/v1/iam/roles/cr09i6ufrw60BZcwP1d7/permissions"},"self":{"href":"https://oie-00-admin.oktapreview.com/api/v1/iam/roles/cr09i6ufrw60BZcwP1d7"}}}'
        headers:
            Content-Type:
                - application/json
            Link:
                - <https://oie-00-admin.dne-okta.com/api/v1/iam/roles/cr09i6ufrw60BZcwP1d7>; rel="self"
        status: 200 OK
        code: 200
        duration: 51.924263ms
    - id: 2
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/iam/roles/cr09i6ufrw60BZcwP1d7/permissions
        method: GET
      response:
        body: '{"permissions":[{"label":"okta.apps.assignment.manage","created":"2023-08-15T23:31:56.000Z","lastUpdated":"2023-08-15T23:31:56.000Z","conditions":null,"_links":{"role":{"href":"https://oie-00-admin.oktapreview.com/api/v1/iam/roles/cr09i6ufrw60BZcwP1d7"},"self":{"href":"https://oie-00-admin.oktapreview.com/api/v1/iam/roles/cr09i6ufrw60BZcwP1d7/permissions/okta.apps.assignment.manage"}}}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 67.046158ms
[...]
    - id: 6
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/iam/roles/cr09i6ufrw60BZcwP1d7/permissions/okta.users.read
        method: POST
      response:
        body: ""
        headers:
        status: 204 No Content
        code: 204
        duration: 127.181838ms
[...]
    - id: 10
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/iam/roles/cr09i6ufrw60BZcwP1d7
        method: GET
      response:
        body: '{"errorCode":"E0000007","errorSummary":"Not found: Resource not found: cr09i6ufrw60BZcwP1d7 (CustomRole)","errorLink":"E0000007","errorId":"oaefLgH389zSyqgbdGhC0-YPw","errorCauses":[]}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 136.786573ms
