name: CI
on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup Go
        uses: actions/setup-go@v6
        with:
          go-version-file: "go.mod"

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: "1.13.4"

      - name: Setup Go Tools
        run: make tools

      - name: QC Code
        run: make qc

      - name: Check Build
        run: make build

      - name: Test
        run: make test

      - name: Run VCR acceptance tests
        run: |
          echo "Running IDaaS tests..."
          time make test-play-vcr-acc
          echo "Running Governance tests..."
          time make test-play-vcr-acc-governance
