# play specific VCR smoke tests in a GH action
name: VCR Smoketest

on:
  workflow_dispatch:
    inputs:
      smokeTests:
        description: 'List of ACC Test name(s) separated by whitespace'
        required: false

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: "1.23"

      - name: Run VCR smoke tests
        run: make smoke-test-play-vcr-acc
        env:
          SMOKE_TESTS: ${{ inputs.smokeTests }}
