---
version: 1
interactions:
- request:
    body: |
      {"accessibility":{"selfService":false},"credentials":{"userNameTemplate":{"template":"${source.login}","type":"BUILT_IN"}},"label":"testAcc_2406347705","settings":{"app":{},"implicitAssignment":false,"notes":{"admin":null,"enduser":null},"signOn":{"allowMultipleAcsEndpoints":false,"assertionSigned":false,"attributeStatements":[],"audience":"http://audience.com","audienceOverride":"","authnContextClassRef":"urn:oasis:names:tc:SAML:2.0:ac:classes:PasswordProtectedTransport","defaultRelayState":"","destination":"http://its-about-the-journey.com","destinationOverride":"","digestAlgorithm":"SHA256","honorForceAuthn":false,"recipient":"http://here.com","recipientOverride":"","responseSigned":true,"signatureAlgorithm":"RSA_SHA256","slo":{"enabled":false},"ssoAcsUrl":"http://google.com","ssoAcsUrlOverride":"","subjectNameIdFormat":"urn:oasis:names:tc:SAML:1.1:nameid-format:emailAddress","subjectNameIdTemplate":"${user.userName}"}},"signOnMode":"SAML_2_0","visibility":{"autoSubmitToolbar":false,"hide":{"iOS":false,"web":false}}}
    form: {}
    headers:
      Authorization:
      - SSWS REDACTED
      Content-Type:
      - application/json
    url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/apps?activate=true
    method: POST
  response:
    body: '{"id":"0oa6mnala1B61gMLI1d7","name":"mm-oie-2022-10-07-max_testacc2406347705_1","label":"testAcc_2406347705","status":"ACTIVE","lastUpdated":"2023-01-12T17:24:48.000Z","created":"2023-01-12T17:24:47.000Z","accessibility":{"selfService":false,"errorRedirectUrl":null,"loginRedirectUrl":null},"visibility":{"autoLaunch":false,"autoSubmitToolbar":false,"hide":{"iOS":false,"web":false},"appLinks":{"mm-oie-2022-10-07-max_testacc2406347705_1_link":true}},"features":[],"signOnMode":"SAML_2_0","credentials":{"userNameTemplate":{"template":"${source.login}","type":"BUILT_IN"},"signing":{"kid":"GrRXJbfjOOHzrVrvkZDUgsT-vvFF4PrGJ_1l2TXwRLM"}},"settings":{"app":{},"notifications":{"vpn":{"network":{"connection":"DISABLED"},"message":null,"helpUrl":null}},"notes":{"admin":null,"enduser":null},"signOn":{"defaultRelayState":"","ssoAcsUrl":"http://google.com","idpIssuer":"http://www.okta.com/${org.externalKey}","audience":"http://audience.com","recipient":"http://here.com","destination":"http://its-about-the-journey.com","subjectNameIdTemplate":"${user.userName}","subjectNameIdFormat":"urn:oasis:names:tc:SAML:1.1:nameid-format:emailAddress","responseSigned":true,"assertionSigned":false,"signatureAlgorithm":"RSA_SHA256","digestAlgorithm":"SHA256","honorForceAuthn":false,"authnContextClassRef":"urn:oasis:names:tc:SAML:2.0:ac:classes:PasswordProtectedTransport","spIssuer":null,"requestCompressed":false,"attributeStatements":[],"inlineHooks":[],"allowMultipleAcsEndpoints":false,"acsEndpoints":[],"samlSignedRequestEnabled":false,"slo":{"enabled":false}}},"_links":{"help":{"href":"https://mm-oie-2022-10-07-max-admin.oktapreview.com/app/mm-oie-2022-10-07-max_testacc2406347705_1/0oa6mnala1B61gMLI1d7/setup/help/SAML_2_0/instructions","type":"text/html"},"metadata":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/apps/0oa6mnala1B61gMLI1d7/sso/saml/metadata","type":"application/xml"},"uploadLogo":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/apps/0oa6mnala1B61gMLI1d7/logo","hints":{"allow":["POST"]}},"appLinks":[{"name":"mm-oie-2022-10-07-max_testacc2406347705_1_link","href":"https://mm-oie-2022-10-07-max.oktapreview.com/home/mm-oie-2022-10-07-max_testacc2406347705_1/0oa6mnala1B61gMLI1d7/aln6mnvorvntxdgHt1d7","type":"text/html"}],"profileEnrollment":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/policies/rst5qwjvlxUHivL8a1d7"},"policies":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/apps/0oa6mnala1B61gMLI1d7/policies","hints":{"allow":["PUT"]}},"groups":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/apps/0oa6mnala1B61gMLI1d7/groups"},"logo":[{"name":"medium","href":"https://op3static.oktacdn.com/assets/img/logos/default.6770228fb0dab49a1695ef440a5279bb.png","type":"image/png"}],"accessPolicy":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/policies/rst5qwjvlvS3G1WOU1d7"},"users":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/apps/0oa6mnala1B61gMLI1d7/users"},"deactivate":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/apps/0oa6mnala1B61gMLI1d7/lifecycle/deactivate"}}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://mm-oie-2022-10-07-max.oktapreview.com/.well-known/okta-organization
    method: GET
  response:
    body: '{"id":"00o5qwjvg8hg7YpT81d7","cell":"op3","_links":{"organization":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com"}},"pipeline":"idx","settings":{"analyticsCollectionEnabled":false,"bugReportingEnabled":true,"omEnabled":false}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/policies?type=ACCESS_POLICY
    method: GET
  response:
    body: '[{"id":"rst5qwjvkl70Eb6xw1d7","status":"ACTIVE","name":"Okta Admin Console","priority":1,"system":false,"conditions":null,"created":"2022-10-07T23:17:01.000Z","lastUpdated":"2022-10-07T23:17:01.000Z","_links":{"self":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/policies/rst5qwjvkl70Eb6xw1d7","hints":{"allow":["GET","PUT","DELETE"]}},"rules":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/policies/rst5qwjvkl70Eb6xw1d7/rules","hints":{"allow":["GET","POST"]}},"deactivate":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/policies/rst5qwjvkl70Eb6xw1d7/lifecycle/deactivate","hints":{"allow":["POST"]}}},"type":"ACCESS_POLICY"},{"id":"rst5qwjvksJONr0Fk1d7","status":"ACTIVE","name":"Okta
      Browser Plugin","priority":1,"system":false,"conditions":null,"created":"2022-10-07T23:17:01.000Z","lastUpdated":"2022-10[...]
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/apps/0oa6mnala1B61gMLI1d7
    method: GET
  response:
    body: '{"id":"0oa6mnala1B61gMLI1d7","name":"mm-oie-2022-10-07-max_testacc2406347705_1","label":"testAcc_2406347705","status":"ACTIVE","lastUpdated":"2023-01-12T17:24:48.000Z","created":"2023-01-12T17:24:47.000Z","accessibility":{"selfService":false,"errorRedirectUrl":null,"loginRedirect[...]
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/apps/0oa6mnala1B61gMLI1d7/sso/saml/metadata?kid=GrRXJbfjOOHzrVrvkZDUgsT-vvFF4PrGJ_1l2TXwRLM
    method: GET
  response:
    body: |-
      <?xml version="1.0" encoding="UTF-8"?><md:EntityDescriptor entityID="http://www.okta.com/exk6mnala06u4VlfB1d7" xmlns:md="urn:oasis:names:tc:SAML:2.0:metadata"><md:IDPSSODescriptor WantAuthnRequestsSigned="false" protocolSupportEnumeration="urn:oasis:names:tc:SAML:2.0:protocol"><md:KeyDescriptor use="signing"><ds:KeyInfo xmlns:ds="http://www.w3.org/2000/09/xmldsig#"><ds:X509Data><ds:X509Certificate>MIIDujCCAqKgAwIBAgIGAYWnA0RIMA0GCSqGSIb3DQEBCwUAMIGdMQswCQYDVQQGEwJVUzETMBEG
      A1UECAwKQ2FsaWZvcm5pYTEWMBQGA1UEBwwNU2FuIEZyYW5jaXNjbzENMAsGA1UECgwET2t0YTEU
      MBIGA1UECwwLU1NPUHJvdmlkZXIxHjAcBgNVBAMMFW1tLW9pZS0yMDIyLTEwLTA3LW1heDEcMBoG
      CSqGSIb3DQEJARYNaW5mb0Bva3RhLmNvbTAeFw0yMzAxMTIxNzIzNDdaFw0zMzAxMTIxNzI0NDZa
      MIGdMQswCQYDVQQGEwJVUzETMBEGA1UECAwKQ2FsaWZvcm5pYTEWMBQGA1UEBwwNU2FuIEZyYW5j
      aXNjbzENMAsGA1UECgwET2t0YTEUMBIGA1UECwwLU1NPUHJvdmlkZXIxHjAcBgNVBAMMFW1tLW9p
      ZS0yMDIyLTEwLTA3LW1heDEcMBoGCSqGSIb3DQEJARYNaW5mb0Bva3RhLmNvbTCCASIwDQYJKoZI
      hvcNAQEBBQADggEPADCCAQoCggEBAMJ1XLoadxXwf76Y/iFK5keqhPP3Bb8cUiVD+3X4T/WArqzN
      uxwJwaa+ySg4HEiRwe327Bc18ua2zLCvik0qn/oWv3KyZz315oCpbFDXTqu9VUn3agIGxlIJjkYV
      o5m2Ih5E8ezDL1ikgFnrltHDWhHv5K6pRmltvkNnT993Ga2j49V8M7BauOOwMhFS1pp+PzScN1YI
      AcLfEbrYxbcAKss+Egq68+SpiNB/6ZaXcPyG3NrEsX1fJjhh2e1PQGhaXoyhuoEKZPXjFq84GpJ7
      38VdON7aE4o3wMkNWzGAWb7mosgdMlu7ZQEzmWN6VlWpE2YVy7xZdPERxYgLdpYGTX0CAwEAATAN
      BgkqhkiG9w0BAQsFAAOCAQEAP0G3QHJFHrVmd+HQP4f1B3fk6hVWrxThp4L7MC5o6HvIIMkt1dvd
      UjJIMgCL1LDYm/Em7a6Cbf6aVyQMhNxWX73lIXUQzeMEsNm0oSyxEUhHqKmfPQPdkxfvXQhxG+WV
      yQh8mwNimv1p/75d+QRmJs9gSL91o30ldCQRlO/KENXMamj3wrIw5ZUkoblvWwSWA16ia5j+3lK1
      pAt9/q7fZqZixgYKLQJj+aXNCHslPfMJr5Xjz0LT4h0pmewYIGa7ywFbA3wte+nG0GzmeEB8WurU
      NeV2X4I/4bXWVjfMKiq8bDMwmF4UtJCE4DpjkDnE10B36j8VNVGhnrNrooDIBg==</ds:X509Certificate></ds:X509Data></ds:KeyInfo></md:KeyDescriptor><md:NameIDFormat>urn:oasis:names:tc:SAML:1.1:nameid-format:emailAddress</md:NameIDFormat><md:SingleSignOnService Binding="urn:oasis:names:tc:SAML:2.0:bindings:HTTP-POST" Location="https://mm-oie-2022-10-07-max.oktapreview.com/app/mm-oie-2022-10-07-max_testacc2406347705_1/exk6mnala06u4VlfB1d7/sso/saml"/><md:SingleSignOnService Binding="urn:oasis:names:tc:SAML:2.0:bindings:HTTP-Redirect" Location="https://mm-oie-2022-10-07-max.oktapreview.com/app/mm-oie-2022-10-07-max_testacc2406347705_1/exk6mnala06u4VlfB1d7/sso/saml"/></md:IDPSSODescriptor></md:EntityDescriptor>
    headers:
      Content-Type:
      - application/xml;charset=ISO-8859-1
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/apps/0oa6mnala1B61gMLI1d7/credentials/keys
    method: GET
  response:
    body: '[{"kty":"RSA","created":"2023-01-12T17:24:47.000Z","lastUpdated":"2023-01-12T17:24:47.000Z","expiresAt":"2033-01-12T17:24:46.000Z","kid":"GrRXJbfjOOHzrVrvkZDUgsT-vvFF4PrGJ_1l2TXwRLM","use":"sig","x5c":["MIIDujCCAqKgAwIBAgIGAYWnA0RIMA0GCSqGSIb3DQEBCwUAMIGdMQswCQYDVQQGEwJVUzETMBEGA1UECAwKQ2FsaWZvcm5pYTEWMBQGA1UEBwwNU2FuIEZyYW5jaXNjbzENMAsGA1UECgwET2t0YTEUMBIGA1UECwwLU1NPUHJvdmlkZXIxHjAcBgNVBAMMFW1tLW9pZS0yMDIyLTEwLTA3LW1heDEcMBoGCSqGSIb3DQEJARYNaW5mb0Bva3RhLmNvbTAeFw0yMzAxMTIxNzIzNDdaFw0zMzAxMTIxNzI0NDZaMIGdMQswCQYDVQQGEwJVUzETMBEGA1UECAwKQ2FsaWZvcm5pYTEWMBQGA1UEBwwNU2FuIEZyYW5jaXNjbzENMAsGA1UECgwET2t0YTEUMBIGA1UECwwLU1NPUHJvdmlkZXIxHjAcBgNVBAMMFW1tLW9pZS0yMDIyLTEwLTA3LW1heDEcMBoGCSqGSIb3DQEJAR[...]
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/apps/0oa6mnala1B61gMLI1d7/users?limit=200
    method: GET
  response:
    body: '[]'
    headers:
      Content-Type:
      - application/json
      Link:
      - <https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/apps/0oa6mnala1B61gMLI1d7/users?limit=200>;
        rel="self"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/apps/0oa6mnala1B61gMLI1d7/groups?limit=200
    method: GET
  response:
    body: '[]'
    headers:
      Content-Type:
      - application/json
      Link:
      - <https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/apps/0oa6mnala1B61gMLI1d7/groups?limit=200>;
        rel="self"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"x5c":["MIIDujCCAqKgAwIBAgIGAYWnA0RIMA0GCSqGSIb3DQEBCwUAMIGdMQswCQYDVQQGEwJVUzETMBEG\nA1UECAwKQ2FsaWZvcm5pYTEWMBQGA1UEBwwNU2FuIEZyYW5jaXNjbzENMAsGA1UECgwET2t0YTEU\nMBIGA1UECwwLU1NPUHJvdmlkZXIxHjAcBgNVBAMMFW1tLW9pZS0yMDIyLTEwLTA3LW1heDEcMBoG\nCSqGSIb3DQEJARYNaW5mb0Bva3RhLmNvbTAeFw0yMzAxMTIxNzIzNDdaFw0zMzAxMTIxNzI0NDZa\nMIGdMQswCQYDVQQGEwJVUzETMBEGA1UECAwKQ2FsaWZvcm5pYTEWMBQGA1UEBwwNU2FuIEZyYW5j\naXNjbzENMAsGA1UECgwET2t0YTEUMBIGA1UECwwLU1NPUHJvdmlkZXIxHjAcBgNVBAMMFW1t[...]
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/idps/credentials/keys/d479359e-7ce8-4752-9f30-80f7ee2e621b
    method: GET
  response:
    body: '{"kty":"RSA","created":"2023-01-12T17:24:49.000Z","lastUpdated":"2023-01-12T17:24:49.000Z","expiresAt":"2033-01-12T17:24:46.000Z","alg":"RSA","kid":"d479359e-7ce8-4752-9f30-80f7ee2e621b","use":"sig","x5c":["MIIDujCCAqKgAwIBAgIGAYWnA0RIMA0GCSqGSIb3DQEBCwUAMIGdMQswCQYDVQQGEwJVUzETMBEG\nA1UECAwKQ2FsaWZvcm5pYTEWMBQGA1UEBwwNU2FuIEZyYW5jaXNjbzENMAsGA1UECgwET2t0YTEU\nMBIGA1UECwwLU1NPUHJvdmlkZXIxHjAcBgNVBAMMFW1tLW9pZS0yMDIyLTEwLTA3LW1heDEcMBoG\nCSqGSIb3DQEJARYNaW5mb0Bva3RhLmNvbTAeFw0yMzAxMTIxNzIzNDdaFw0zMzAxMTIxNzI0NDZa\nMIGdMQswCQYDVQQGEwJVUzETMBEGA1UECAwKQ2FsaWZvcm5pYTEWMBQGA1UEBwwNU2FuIEZyYW5j\naXNjbzENMAsGA1UECgwET2t0YTEUMBIGA1UECww[...]
- request:
    body: |
      {"issuerMode":"ORG_URL","name":"testAcc_2406347705","policy":{"accountLink":{"action":"AUTO"},"provisioning":{"action":"AUTO","conditions":{"deprovisioned":{"action":"NONE"},"suspended":{"action":"NONE"}},"groups":{"action":"NONE"},"profileMaster":false},"subject":{"matchType":"USERNAME","userNameTemplate":{"template":"idpuser.email"}}},"protocol":{"algorithms":{"request":{"signature":{"algorithm":"SHA-256","scope":"REQUEST"}},"response":{"signature":{"algorithm":"SHA-256","scope":"ANY"}}},"credentials":{"trust":{"issuer":"https://idp.example.com","kid":"d479359e-7ce8-4752-9f30-80f7ee2e621b"}},"endpoints":{"acs":{"binding":"HTTP-POST","type":"INSTANCE"},"sso":{"binding":"HTTP-POST","destination":"https://idp.example.com","url":"https://idp.example.com"}},"type":"SAML2"},"type":"SAML2"}
    form: {}
    headers:
      Authorization:
      - SSWS REDACTED
      Content-Type:
      - application/json
    url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/idps
    method: POST
  response:
    body: '{"id":"0oa6mnda03O6FXZtY1d7","name":"testAcc_2406347705","status":"ACTIVE","created":"2023-01-12T17:24:49.000Z","lastUpdated":"2023-01-12T17:24:49.000Z","protocol":{"type":"SAML2","endpoints":{"sso":{"url":"https://idp.example.com","binding":"HTTP-POST","destination":"https://idp.example.com"},"acs":{"binding":"HTTP-POST","type":"INSTANCE"}},"algorithms":{"request":{"signature":{"algorithm":"SHA-256","scope":"REQUEST"}},"response":{"signature":{"algorithm":"SHA-256","scope":"ANY"}}},"settings":{"nameFormat":"urn:oasis:names:tc:SAML:1.1:nameid-format:unspecified","honorPersistentNameId":false},"credentials":{"trust":{"issuer":"https://idp.example.com","audience":"https://www.okta.com/saml2/service-provider/spdzqgfvbdveerjbolom","kid":"d479359e-7ce8-4752-9f30-80f7ee2e621b","revocation":null,"revocationCacheLifetime":0},"signing":{"kid":"5pDX4d-UxdUyyBmYG5H04CTFky-eWrUWNP2DkZHsK6o"}}},"policy":{"provisioning":{"action":"AUTO","profileMaster":false,"groups":{"action":"NONE"},"conditions":{"deprovisioned":{"action":"NONE"},"suspended":{"action":"NONE"}}},"accountLink":{"filter":null,"action":"AUTO"},"subject":{"userNameTemplate":{"template":"idpuser.email"},"filter":null,"matchType":"USERNAME","matchAttribute":null},"maxClockSkew":0},"type":"SAML2","_links":{"metadata":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/idps/0oa6mnda03O6FXZtY1d7/metadata.xml","type":"application/xml","hints":{"allow":["GET"]}},"acs":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/sso/saml2/0oa6mnda03O6FXZtY1d7","type":"application/xml","hints":{"allow":["POST"]}},"users":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/idps/0oa6mnda03O6FXZtY1d7/users","hints":{"allow":["GET"]}},"deactivate":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/idps/0oa6mnda03O6FXZtY1d7/lifecycle/deactivate","hints":{"allow":["POST"]}}}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/idps/0oa6mnda03O6FXZtY1d7/lifecycle/activate
    method: POST
  response:
    body: '{"id":"0oa6mnda03O6FXZtY1d7","name":"testAcc_2406347705","status":"ACTIVE","created":"2023-01-12T17:24:49.000Z","lastUpdated":"2023-01-12T17:24:50.000Z","protocol":{"type":"SAML2","endpoints":{"sso":{"url":"https://idp.example.com","binding":"HTTP-POST","destination":"https://idp.example.com"},"acs":{"binding":"HTTP-POST","type":"INSTANCE"}},"algorithms":[...]
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/idps/0oa6mnda03O6FXZtY1d7
    method: GET
  response:
    body: '{"id":"0oa6mnda03O6FXZtY1d7","name":"testAcc_2406347705","status":"ACTIVE","created":"2023-01-12T17:24:49.000Z","lastUpdated":"2023-01-12T17:24:50.000Z","protocol":{"type":"SAML2","endpoints":{"sso":{"url":"https://idp.example.com","binding":"HTTP-POST","destination":"https://idp.example.com"},"acs":{"binding":"HTTP-POST","type":"INSTANCE"}},"algorithms":[...]
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/mappings?limit=200&sourceId=0oa6mnda03O6FXZtY1d7
    method: GET
  response:
    body: '[{"id":"prm6mnda0aaGGpNuw1d7","source":{"id":"0oa6mnda03O6FXZtY1d7","name":"saml_idp","type":"appuser","_links":{"self":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/apps/0oa6mnda03O6FXZtY1d7"},"schema":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/meta/schemas/apps/0oa6mnda03O6FXZtY1d7/default"}}},"target":{"id":"oty5qwjvh0Vy1j8Kd1d7","name":"user","type":"user","_links":{"self":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/meta/types/user/oty5qwjvh0Vy1j8Kd1d7"},"schema":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/meta/schemas/user/osc5qwjvh0Vy1j8Kd1d7"}}},"_links":{"self":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/mappings/prm6mnda0aaGGpNuw1d7"}}}]'
    headers:
      Content-Type:
      - application/json
      Link:
      - <https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/mappings?limit=200>;
        rel="self"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/mappings/prm6mnda0aaGGpNuw1d7
    method: GET
  response:
    body: '{"id":"prm6mnda0aaGGpNuw1d7","source":{"id":"0oa6mnda03O6FXZtY1d7","name":"saml_idp","type":"appuser","_links":{"self":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/apps/0oa6mnda03O6FXZtY1d7"},"schema":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/meta/schemas/apps/0oa6mnda03O6FXZtY1d7/default"}}},"target":{"id":"oty5qwjvh0Vy1j8Kd1d7","name":"user","type":"user","_links":{"self":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/meta/types/user/oty5qwjvh0Vy1j8Kd1d7"},"schema":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/meta/schemas/user/osc5qwjvh0Vy1j8Kd1d7"}}},"properties":{"firstName":{"expression":"source.firstName","pushStatus":"DONT_PUSH"},"lastName":{"expression":"source.lastName","pushStatus":"DONT_PUSH"},"email":{"expression":"source.email","pushStatus":"DONT_PUSH"},"mobilePhone":{"expression":"source.mobilePhone","pushStatus":"DONT_PUSH"},"login":{"expression":"source.userName","pushStatus":"DONT_PUSH"}},"_links":{"self":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/mappings/prm6mnda0aaGGpNuw1d7"}}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/idps?limit=1&q=testAcc_2406347705&type=SAML2
    method: GET
  response:
    body: '[{"id":"0oa6mnda03O6FXZtY1d7","name":"testAcc_2406347705","status":"ACTIVE","created":"2023-01-12T17:24:49.000Z","lastUpdated":"2023-01-12T17:24:50.000Z","protocol":{"type":"SAML2","endpoints":{"sso":{"url":"https://idp.example.com","binding":"HTTP-POST","destination":"https://idp.example.com"},"acs":{"binding":"HTTP-POST","type":"INSTANCE"}},"algorithms":[...]
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/idps/0oa6mnda03O6FXZtY1d7/lifecycle/deactivate
    method: POST
  response:
    body: '{"id":"0oa6mnda03O6FXZtY1d7","name":"testAcc_2406347705","status":"INACTIVE","created":"2023-01-12T17:24:49.000Z","lastUpdated":"2023-01-12T17:25:00.000Z","protocol":{"type":"SAML2","endpoints":{"sso":{"url":"https://idp.example.com","binding":"HTTP-POST","destination":"https://idp.example.com"},"acs":{"binding":"HTTP-POST","type":"INSTANCE"}},"algorithms":{"request":{"signature":{"algorithm":"SHA-256","scope":"REQUEST"}},"response":{"signature":{"algorithm":"SHA-256","scope":"ANY"}}},"settings":{"nameFormat":"urn:oasis:names:tc:SAML:1.1:nameid-format:unspecified","honorPersistentNameId":false},"credentials":{"trust":{"issuer":"https://idp.example.com","audience":"https://www.okta.com/saml2/service-provider/spdzqgfvbdveerjbolom","kid":"d479359e-7ce8-4752-9f30-80f7ee2e621b","revocation":null,"revocationCacheLifetime":0},"signing":{"kid":"5pDX4d-UxdUyyBmYG5H04CTFky-eWrUWNP2DkZHsK6o"}}},"policy":{"provisioning":{"action":"AUTO","profileMaster":false,"groups":{"action":"NONE"},"conditions":{"deprovisioned":{"action":"NONE"},"suspended":{"action":"NONE"}}},"accountLink":{"filter":null,"action":"AUTO"},"subject":{"userNameTemplate":{"template":"idpuser.email"},"filter":null,"matchType":"USERNAME","matchAttribute":null},"maxClockSkew":0},"type":"SAML2","_links":{"metadata":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/idps/0oa6mnda03O6FXZtY1d7/metadata.xml","type":"application/xml","hints":{"allow":["GET"]}},"acs":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/sso/saml2/0oa6mnda03O6FXZtY1d7","type":"application/xml","hints":{"allow":["POST"]}},"users":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/idps/0oa6mnda03O6FXZtY1d7/users","hints":{"allow":["GET"]}},"activate":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/idps/0oa6mnda03O6FXZtY1d7/lifecycle/activate","hints":{"allow":["POST"]}}}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - SSWS REDACTED
    url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/apps/0oa6mnala1B61gMLI1d7/lifecycle/deactivate
    method: POST
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
