---
version: 2
interactions:
    - id: 0
      request:
        host: oie-00.dne-okta.com
        body: |
            {"audiences":["whatever.rise.zone"],"credentials":{"signing":{"rotationMode":"AUTO"}},"description":"test","issuerMode":"ORG_URL","name":"testAcc_4072296216"}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://oie-00.dne-okta.com/api/v1/authorizationServers
        method: POST
      response:
        body: '{"id":"aus9i6uyw2JoLeER81d7","name":"testAcc_4072296216","description":"test","audiences":["whatever.rise.zone"],"issuer":"https://oie-00.oktapreview.com/oauth2/aus9i6uyw2JoLeER81d7","issuerMode":"ORG_URL","status":"ACTIVE","created":"2023-08-15T23:29:01.000Z","lastUpdated":"2023-08-15T23:29:01.000Z","credentials":{"signing":{"kid":"39hLXCNcnlOYNrLKSfQS8kZZe-fsIuR0aryikIkSLeA","rotationMode":"AUTO","lastRotated":"2023-08-15T23:29:01.000Z","nextRotation":"2023-11-13T23:29:01.000Z"}},"default":false,"_links":{"rotateKey":{"href":"https://oie-00.oktapreview.com/api/v1/authorizationServers/aus9i6uyw2JoLeER81d7/credentials/lifecycle/keyRotate","hints":{"allow":["POST"]}},"metadata":[{"name":"oauth-authorization-server","href":"https://oie-00.oktapreview.com/oauth2/aus9i6uyw2JoLeER81d7/.well-known/oauth-authorization-server","hints":{"allow":["GET"]}},{"name":"openid-configuration","href":"https://oie-00.oktapreview.com/oauth2/aus9i6uyw2JoLeER81d7/.well-known/openid-configuration","hints":{"allow":["GET"]}}],"keys":{"href":"https://oie-00.oktapreview.com/api/v1/authorizationServers/aus9i6uyw2JoLeER81d7/credentials/keys","hints":{"allow":["GET"]}},"claims":{"href":"https://oie-00.oktapreview.com/api/v1/authorizationServers/aus9i6uyw2JoLeER81d7/claims","hints":{"allow":["GET","POST"]}},"policies":{"href":"https://oie-00.oktapreview.com/api/v1/authorizationServers/aus9i6uyw2JoLeER81d7/policies","hints":{"allow":["GET","POST"]}},"self":{"href":"https://oie-00.oktapreview.com/api/v1/authorizationServers/aus9i6uyw2JoLeER81d7","hints":{"allow":["GET","DELETE","PUT"]}},"scopes":{"href":"https://oie-00.oktapreview.com/api/v1/authorizationServers/aus9i6uyw2JoLeER81d7/scopes","hints":{"allow":["GET","POST"]}},"deactivate":{"href":"https://oie-00.oktapreview.com/api/v1/authorizationServers/aus9i6uyw2JoLeER81d7/lifecycle/deactivate","hints":{"allow":["POST"]}}}}'
        headers:
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 365.372052ms
    - id: 1
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/authorizationServers/aus9i6uyw2JoLeER81d7
        method: GET
      response:
        body: '{"id":"aus9i6uyw2JoLeER81d7","name":"testAcc_4072296216","description":"test","audiences":["whatever.rise.zone"],"issuer":"https://oie-00.oktapreview.com/oauth2/aus9i6uyw2JoLeER81d7","issu[...]
[...]
    - id: 4
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/authorizationServers?limit=200&q=testAcc_4072296216
        method: GET
      response:
        body: '[{"id":"aus9i6uyw2JoLeER81d7","name":"testAcc_4072296216","description":"test","audiences":["whatever.rise.zone"],"issuer":"https://oie-00.oktapreview.com/oauth2/aus9i6uyw2JoLeER[...]
[...]
    - id: 10
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/authorizationServers/aus9i6uyw2JoLeER81d7/lifecycle/deactivate
        method: POST
      response:
        body: ""
        headers:
        status: 204 No Content
        code: 204
        duration: 64.498094ms
[...]
