---
version: 2
interactions:
    - id: 0
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/.well-known/okta-organization
        method: GET
      response:
        body: '{"id":"00o5qwjvg8hg7YpT81d7","cell":"op3","_links":{"organization":{"href":"https://oie-00.oktapreview.com"}},"pipeline":"idx","settings":{"analyticsCollectionEnabled":false,"bugReportingEnabled":true,"omEnabled":false,"pssoEnabled":false}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 133.951774ms
    - id: 1
      request:
        host: oie-00.dne-okta.com
        body: |
            {"name":"testAcc_2863656036","status":"ACTIVE","type":"PROFILE_ENROLLMENT"}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://oie-00.dne-okta.com/api/v1/policies
        method: POST
      response:
        body: '{"id":"rst9i74nm38dHCLQ51d7","status":"ACTIVE","name":"testAcc_2863656036","priority":1,"system":false,"conditions":null,"created":"2023-08-15T23:46:50.000Z","lastUpdated":"2023-08-15T23:46:50.000Z","_links":{"self":{"href":"https://oie-00.oktapreview.com/api/v1/policies/rst9i74nm38dHCLQ51d7","hints":{"allow":["GET","PUT","DELETE"]}},"rules":{"href":"https://oie-00.oktapreview.com/api/v1/policies/rst9i74nm38dHCLQ51d7/rules","hints":{"allow":["GET","POST"]}},"deactivate":{"href":"https://oie-00.oktapreview.com/api/v1/policies/rst9i74nm38dHCLQ51d7/lifecycle/deactivate","hints":{"allow":["POST"]}}},"type":"PROFILE_ENROLLMENT"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 276.43054ms
    - id: 2
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/policies/rst9i74nm38dHCLQ51d7
        method: GET
      response:
        body: '{"id":"rst9i74nm38dHCLQ51d7","status":"ACTIVE","name":"testAcc_2863656036","priority":1,"system":false,"conditions":null,"created":"2023-08-15T23:46:50.000Z","lastUpdated":"2023-08-15T23:46:50.000Z","_links":{"self":{"href":"https://oie-00.oktapreview.com/api/v1/policies/rst9i74nm38dHCLQ51d7","hints":{"allow":["GET","PUT","DELETE"]}},"rules":{"href":"https://oie-00.oktapreview.com/api/v1/policies/rst9i74nm38dHCLQ51d7/rules","hints":{"allow":["GET","POST"]}},"deactivate":{"href":"https://oie-00.oktapreview.com/api/v1/policies/rst9i74nm38dHCLQ51d7/lifecycle/deactivate","hints":{"allow":["POST"]}}},"type":"PROFILE_ENROLLMENT"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 71.183935ms
[...]
    - id: 4
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/policies/rst9i74nm38dHCLQ51d7/rules
        method: GET
      response:
        body: '[{"id":"rul9i74nm4U5gGAHH1d7","status":"ACTIVE","name":"Catch-all Rule","priority":99,"created":"2023-08-15T23:46:51.000Z","lastUpdated":"2023-08-15T23:46:51.000Z","system":true,"conditions":null,"actions":{"profileEnrollment":{"access":"ALLOW","preRegistrationInlineHooks":null,"profileAttributes":[{"name":"firstName","label":"First name","required":true},{"name":"email","label":"Primary email","required":true}],"targetGroupIds":null,"unknownUserAction":"REGISTER","activationRequirements":{"emailVerification":true},"progressiveProfilingAction":"ENABLED"}},"_links":{"self":{"href":"https://oie-00.oktapreview.com/api/v1/policies/rst9i74nm38dHCLQ51d7/rules/rul9i74nm4U5gGAHH1d7","hints":{"allow":["GET","PUT"]}}},"type":"PROFILE_ENROLLMENT"}]'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 57.369873ms
    - id: 5
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/policies/rst9i74nm38dHCLQ51d7/rules/rul9i74nm4U5gGAHH1d7
        method: GET
      response:
        body: '{"id":"rul9i74nm4U5gGAHH1d7","status":"ACTIVE","name":"Catch-all Rule","priority":99,"created":"2023-08-15T23:46:51.000Z","lastUpdated":"2023-08-15T23:46:51.000Z","system":true,"conditions":null,"actions":{"profileEnrollment":{"access":"ALLOW","preRegistrationInlineHooks":null,"profileAttributes":[{"name":"firstName","label":"First name","required":true},{"name":"email","label":"Primary email","required":true}],"targetGroupIds":null,"unknownUserAction":"REGISTER","activationRequirements":{"emailVerification":true},"progressiveProfilingAction":"ENABLED"}},"_links":{"self":{"href":"https://oie-00.oktapreview.com/api/v1/policies/rst9i74nm38dHCLQ51d7/rules/rul9i74nm4U5gGAHH1d7","hints":{"allow":["GET","PUT"]}}},"type":"PROFILE_ENROLLMENT"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 87.104589ms
[...]
    - id: 13
      request:
        host: oie-00.dne-okta.com
        body: |
            {"profile":{"name":"testAcc_2863656036","description":"testing, testing"}}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://oie-00.dne-okta.com/api/v1/groups
        method: POST
      response:
        body: '{"id":"00g9i76t95eVFJQvl1d7","created":"2023-08-15T23:46:53.000Z","lastUpdated":"2023-08-15T23:46:53.000Z","lastMembershipUpdated":"2023-08-15T23:46:53.000Z","objectClass":["okta:user_group"],"type":"OKTA_GROUP","profile":{"name":"testAcc_2863656036","description":"testing, testing"},"_links":{"logo":[{"name":"medium","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-medium.30ce6d4085dff29412984e4c191bc874.png","type":"image/png"},{"name":"large","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-large.c3cb8cda8ae0add1b4fe928f5844dbe3.png","type":"image/png"}],"users":{"href":"https://oie-00.oktapreview.com/api/v1/groups/00g9i76t95eVFJQvl1d7/users"},"apps":{"href":"https://oie-00.oktapreview.com/api/v1/groups/00g9i76t95eVFJQvl1d7/apps"}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 87.56415ms
    - id: 14
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/groups/00g9i76t95eVFJQvl1d7
        method: GET
      response:
        body: '{"id":"00g9i76t95eVFJQvl1d7","created":"2023-08-15T23:46:53.000Z","lastUpdated":"2023-08-15T23:46:53.000Z","lastMembershipUpdated":"2023-08-15T23:46:53.000Z","objectClass":["okta:user_group"],"type":"OKTA_GROUP","profile":{"name":"testAcc_2863656036","description":"testing, testing"},"_links":{"logo":[{"name":"medium","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-medium.30ce6d4085dff29412984e4c191bc874.png","type":"image/png"},{"name":"large","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-large.c3cb8cda8ae0add1b4fe928f5844dbe3.png","type":"image/png"}],"users":{"href":"https://oie-00.oktapreview.com/api/v1/groups/00g9i76t95eVFJQvl1d7/users"},"apps":{"href":"https://oie-00.oktapreview.com/api/v1/groups/00g9i76t95eVFJQvl1d7/apps"}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 64.347412ms
[...]
    - id: 16
      request:
        host: oie-00.dne-okta.com
        body: |
            {"channel":{"config":{"method":"POST","uri":"https://example.com/test2"},"type":"HTTP","version":"1.0.0"},"name":"testAcc_2863656036","status":"ACTIVE","type":"com.okta.user.pre-registration","version":"1.0.3"}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://oie-00.dne-okta.com/api/v1/inlineHooks
        method: POST
      response:
        body: '{"id":"cal9i72xz7xRzKdIO1d7","status":"ACTIVE","name":"testAcc_2863656036","type":"com.okta.user.pre-registration","version":"1.0.3","channel":{"type":"HTTP","version":"1.0.0","config":{"uri":"https://example.com/test2","headers":[],"method":"POST","authScheme":null}},"created":"2023-08-15T23:46:53.000Z","lastUpdated":"2023-08-15T23:46:53.000Z","_links":{"self":{"href":"https://oie-00.oktapreview.com/api/v1/inlineHooks/cal9i72xz7xRzKdIO1d7"},"execute":{"href":"https://oie-00.oktapreview.com/api/v1/inlineHooks/cal9i72xz7xRzKdIO1d7/execute","hints":{"allow":["POST"]}},"deactivate":{"href":"https://oie-00.oktapreview.com/api/v1/inlineHooks/cal9i72xz7xRzKdIO1d7/lifecycle/deactivate","hints":{"allow":["POST"]}}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 251.710853ms
    - id: 17
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/inlineHooks/cal9i72xz7xRzKdIO1d7
        method: GET
      response:
        body: '{"id":"cal9i72xz7xRzKdIO1d7","status":"ACTIVE","name":"testAcc_2863656036","type":"com.okta.user.pre-registration","version":"1.0.3","channel":{"type":"HTTP","version":"1.0.0","config":{"uri":"https://example.com/test2","headers":[],"method":"POST","authScheme":null}},"created":"2023-08-15T23:46:53.000Z","lastUpdated":"2023-08-15T23:46:53.000Z","_links":{"self":{"href":"https://oie-00.oktapreview.com/api/v1/inlineHooks/cal9i72xz7xRzKdIO1d7"},"execute":{"href":"https://oie-00.oktapreview.com/api/v1/inlineHooks/cal9i72xz7xRzKdIO1d7/execute","hints":{"allow":["POST"]}},"deactivate":{"href":"https://oie-00.oktapreview.com/api/v1/inlineHooks/cal9i72xz7xRzKdIO1d7/lifecycle/deactivate","hints":{"allow":["POST"]}}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 251.271211ms
[...]
    - id: 19
      request:
        host: oie-00.dne-okta.com
        body: |
            {"id":"rul9i74nm4U5gGAHH1d7","type":"PROFILE_ENROLLMENT","name":"Catch-all Rule","status":"ACTIVE","priority":99,"system":true,"conditions":null,"actions":{"profileEnrollment":{"access":"ALLOW","activationRequirements":{"emailVerification":true},"preRegistrationInlineHooks":[{"inlineHookId":"cal9i72xz7xRzKdIO1d7"}],"profileAttributes":[{"label":"Email","name":"email","required":true},{"label":"NameBig","name":"name","required":true},{"label":"T-Shirt Size","name":"t-shirt","required":false}],"targetGroupIds":["00g9i76t95eVFJQvl1d7"],"unknownUserAction":"REGISTER"}}}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://oie-00.dne-okta.com/api/v1/policies/rst9i74nm38dHCLQ51d7/rules/rul9i74nm4U5gGAHH1d7
        method: PUT
      response:
        body: '{"id":"rul9i74nm4U5gGAHH1d7","status":"ACTIVE","name":"Catch-all Rule","priority":99,"created":"2023-08-15T23:46:51.000Z","lastUpdated":"2023-08-15T23:46:53.000Z","system":true,"conditions":null,"actions":{"profileEnrollment":{"access":"ALLOW","preRegistrationInlineHooks":[{"inlineHookId":"cal9i72xz7xRzKdIO1d7","scopes":["SELF_SERVICE_REGISTRATION"]}],"profileAttributes":[{"name":"email","label":"Email","required":true},{"name":"name","label":"NameBig","required":true},{"name":"t-shirt","label":"T-Shirt Size","required":false}],"targetGroupIds":["00g9i76t95eVFJQvl1d7"],"unknownUserAction":"REGISTER","activationRequirements":{"emailVerification":true}}},"_links":{"self":{"href":"https://oie-00.oktapreview.com/api/v1/policies/rst9i74nm38dHCLQ51d7/rules/rul9i74nm4U5gGAHH1d7","hints":{"allow":["GET","PUT"]}}},"type":"PROFILE_ENROLLMENT"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 359.003732ms
[...]
    - id: 34
      request:
        host: oie-00.dne-okta.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/inlineHooks/cal9i72xz7xRzKdIO1d7/lifecycle/deactivate
        method: POST
      response:
        body: '{"id":"cal9i72xz7xRzKdIO1d7","status":"INACTIVE","name":"testAcc_2863656036","type":"com.okta.user.pre-registration","version":"1.0.3","channel":{"type":"HTTP","version":"1.0.0","config":{"uri":"https://example.com/test2","headers":[],"method":"POST","authScheme":null}},"created":"2023-08-15T23:46:53.000Z","lastUpdated":"2023-08-15T23:46:56.000Z","_links":{"activate":{"href":"https://oie-00.oktapreview.com/api/v1/inlineHooks/cal9i72xz7xRzKdIO1d7/lifecycle/activate","hints":{"allow":["POST"]}},"self":{"href":"https://oie-00.oktapreview.com/api/v1/inlineHooks/cal9i72xz7xRzKdIO1d7"},"delete":{"href":"https://oie-00.oktapreview.com/api/v1/inlineHooks/cal9i72xz7xRzKdIO1d7","hints":{"allow":["DELETE"]}}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 243.534847ms
[...]
