---
version: 2
interactions:
    - id: 0
      request:
        host: realm-support.dne-okta.com
        body: |
            {"profile":{"name":"AccTest Example Realm","realmType":"DEFAULT"}}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://realm-support.dne-okta.com/api/v1/realms
        method: POST
      response:
        body: '{"id":"guotz5bxixmfythio697","created":"2025-08-07T13:51:42.000Z","lastUpdated":"2025-08-07T13:51:42.000Z","profile":{"name":"AccTest Example Realm","realmType":"DEFAULT","domains":[]},"isDefault":false,"_links":{"self":{"rel":"self","href":"https://realm-support.dne-okta.com/api/v1/realms/guotz5bxixmfythio697","method":"GET"}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 928.28875ms
    - id: 1
      request:
        host: realm-support.dne-okta.com
        form:
            search:
                - profile.name eq "AccTest Example Realm"
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://realm-support.dne-okta.com/api/v1/realms?search=profile.name+eq+%22AccTest+Example+Realm%22
        method: GET
      response:
        body: '[{"id":"guotz5bxixmfythio697","created":"2025-08-07T13:51:42.000Z","lastUpdated":"2025-08-07T13:51:42.000Z","profile":{"name":"AccTest Example Realm","realmType":"DEFAULT"},"isDefault":false,"_links":{"self":{"rel":"self","href":"https://realm-support.dne-okta.com/api/v1/realms/guotz5bxixmfythio697","method":"GET"}}}]'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
            Link:
                - <https://realm-support.dne-okta.com/api/v1/realms?limit=10&search=profile.name+eq+%22AccTest+Example+Realm%22>; rel="self"
        status: 200 OK
        code: 200
        duration: 695.805291ms
[...]
    - id: 3
      request:
        host: realm-support.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://realm-support.dne-okta.com/api/v1/realms/guotz5bxixmfythio697
        method: GET
      response:
        body: '{"id":"guotz5bxixmfythio697","created":"2025-08-07T13:51:42.000Z","lastUpdated":"2025-08-07T13:51:42.000Z","profile":{"name":"AccTest Example Realm","realmType":"DEFAULT","domains":[]},"isDefault":false,"_links":{"self":{"rel":"self","href":"https://realm-support.dne-okta.com/api/v1/realms/guotz5bxixmfythio697","method":"GET"}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 889.486458ms
[...]
    - id: 6
      request:
        host: realm-support.dne-okta.com
        form:
            search:
                - profile.name eq "Unknown Example Realm"
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://realm-support.dne-okta.com/api/v1/realms?search=profile.name+eq+%22Unknown+Example+Realm%22
        method: GET
      response:
        body: '[]'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
            Link:
                - <https://realm-support.dne-okta.com/api/v1/realms?limit=10&search=profile.name+eq+%22Unknown+Example+Realm%22>; rel="self"
        status: 200 OK
        code: 200
        duration: 708.809666ms
[...]
