---
version: 2
interactions:
    - id: 0
      request:
        host: oie-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/identity-sources/0oaxc95befZNgrJl71d7/sessions
        method: POST
      response:
        body: '{"id":"apsxtf4135zesnnwa1d7","identitySourceId":"0oaxc95befZNgrJl71d7","status":"CREATED","importType":"INCREMENTAL","created":"2026-04-21T13:58:40.000Z","lastUpdated":"2026-04-21T13:58:40.000Z"}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 1.117111375s
    - id: 1
      request:
        host: oie-00.dne-okta.com
        body: |
            {"profiles":[{"externalId":"GROUPEXT123456784C2IF","profile":{"description":"Test group for identity source","displayName":"Test Group"}}]}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://oie-00.dne-okta.com/api/v1/identity-sources/0oaxc95befZNgrJl71d7/sessions/apsxtf4135zesnnwa1d7/bulk-groups-upsert
        method: POST
      response:
        body: ""
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
        status: 202 Accepted
        code: 202
        duration: 1.823368167s
    - id: 2
      request:
        host: oie-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/identity-sources/0oaxc95befZNgrJl71d7/sessions/apsxtf4135zesnnwa1d7
        method: GET
      response:
        body: '{"id":"apsxtf4135zesnnwa1d7","identitySourceId":"0oaxc95befZNgrJl71d7","status":"IN_PROGRESS","importType":"INCREMENTAL","created":"2026-04-21T13:58:40.000Z","lastUpdated":"2026-04-21T13:58:41.000Z"}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.107254209s
[...]
