---
version: 2
interactions:
    - id: 0
      request:
        host: oie-00.dne-okta.com
        form:
            filter:
                - parentResourceOrn eq "orn:oktapreview:idp:00o3q4zilpjjJlLLu1d7:apps:saasure:0oa3q4zilxagApEOW1d7"
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/governance/api/v1/resource-owners?filter=parentResourceOrn+eq+%22orn%3Aoktapreview%3Aidp%3A00o3q4zilpjjJlLLu1d7%3Aapps%3Asaasure%3A0oa3q4zilxagApEOW1d7%22
        method: GET
      response:
        body: '{"data":[],"_links":{"self":{"href":"https://oie-00.dne-okta.com/governance/api/v1/resource-owners?filter=parentResourceOrn%20eq%20%22orn:oktapreview:idp:00o3q4zilpjjJlLLu1d7:apps:saasure:0oa3q4zilxagApEOW1d7%22&limit=20","hints":{}}},"metadata":{"total":0}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
            Link:
                - <https://oie-00.dne-okta.com/governance/api/v1/resource-owners?filter=parentResourceOrn%20eq%20%22orn:oktapreview:idp:00o3q4zilpjjJlLLu1d7:apps:saasure:0oa3q4zilxagApEOW1d7%22&limit=20>; rel="self"
        status: 200 OK
        code: 200
        duration: 853.111209ms
[...]
