---
version: 2
interactions:
    - id: 0
      request:
        host: oie-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/identity-sources/0oaxc95befZNgrJl71d7/sessions
        method: POST
      response:
        body: '{"id":"apsxr7ptqjMwtdIbz1d7","identitySourceId":"0oaxc95befZNgrJl71d7","status":"CREATED","importType":"INCREMENTAL","created":"2026-04-19T17:09:16.000Z","lastUpdated":"2026-04-19T17:09:16.000Z"}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 1.120218542s
    - id: 1
      request:
        host: oie-00.dne-okta.com
        body: |
            {"externalIds":["GROUPEXT123456784C2IF"]}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://oie-00.dne-okta.com/api/v1/identity-sources/0oaxc95befZNgrJl71d7/sessions/apsxr7ptqjMwtdIbz1d7/bulk-groups-delete
        method: POST
      response:
        body: ""
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
        status: 202 Accepted
        code: 202
        duration: 1.9349985s
    - id: 2
      request:
        host: oie-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/identity-sources/0oaxc95befZNgrJl71d7/sessions/apsxr7ptqjMwtdIbz1d7
        method: GET
      response:
        body: '{"id":"apsxr7ptqjMwtdIbz1d7","identitySourceId":"0oaxc95befZNgrJl71d7","status":"IN_PROGRESS","importType":"INCREMENTAL","created":"2026-04-19T17:09:16.000Z","lastUpdated":"2026-04-19T17:09:17.000Z"}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.118177708s
[...]
